# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 审批 API
  description: |-
    搜索审批定义、获取定义详情、创建实例和管理审批任务

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: approval
  x-lark-service-api-version: v4
  x-lark-registry-version: 1.0.0
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: approvals
- name: instances
- name: tasks
paths:
  /open-apis/approval/v4/approvals/{approval_code}/detail:
    get:
      operationId: approval_approvals_get
      summary: 获取审批定义详情
      tags:
      - approvals
      description: 获取审批定义详情
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=detail&project=approval&resource=approval&version=v4
      parameters:
      - name: approval_code
        in: path
        required: true
        schema:
          type: string
        description: 审批定义 Code
        example: 7C468A54-8745-2245-9675-08B7C63E7A85
      - name: locale
        in: query
        required: false
        schema:
          type: string
          enum:
          - zh-CN
          - en-US
          - ja-JP
          - zh-HK
          - zh-TW
          - de-DE
          - es-ES
          - fr-FR
          - id-ID
          - it-IT
          - ko-KR
          - pt-BR
          - th-TH
          - vi-VN
          - ms-MY
          - ru-RU
          x-enum-descriptions:
            zh-CN: 中文
            en-US: 英文
            ja-JP: 日文
            zh-HK: 繁体中文（中国香港）
            zh-TW: 繁体中文（中国台湾）
            de-DE: 德语
            es-ES: 西班牙语
            fr-FR: 法语
            id-ID: 印度尼西亚语
            it-IT: 意大利语
            ko-KR: 韩语
            pt-BR: 葡萄牙语
            th-TH: 泰语
            vi-VN: 越南语
            ms-MY: 马来语
            ru-RU: 俄语
        description: 语言可选值
        example: zh-CN
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      approval_name:
                        type: string
                        description: 审批名称
                        example: Payment
                      form:
                        type: string
                        description: 表单定义快照，JSON 字符串，可作为创建审批实例时 form 参数的来源。具体控件 value 的结构可参考审批实例表单控件参数文档。
                        example: '[{\"id\": \"widget1\", \"custom_id\": \"user_name\",\"name\": \"Item application\",\"type\":
                          \"textarea\",\"printable\": true,\"required\": true}\"]'
                      node_list:
                        type: array
                        items:
                          type: object
                          properties:
                            approver_chosen_multi:
                              type: boolean
                              description: 是否支持多选：true 表示该节点允许传入多个审批人 open_id；false 表示只允许单个审批人。
                              example: false
                            approver_chosen_range:
                              type: array
                              items:
                                type: object
                                properties:
                                  approver_range_ids:
                                    type: array
                                    items: {}
                                    description: |-
                                      资源 ID。
                                      - approver_range_type 取值为 0 时，该参数为空。
                                      - approver_range_type 取值为 1 时，该参数取值为角色 ID。
                                      - approver_range_type 取值为 2 时，该参数取值为用户 open_id。
                                  approver_range_type:
                                    type: integer
                                    description: 指定范围
                                    enum:
                                    - 0
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '0': 全公司范围
                                      '1': 指定角色范围
                                      '2': 指定用户范围
                                    example: 2
                              description: 发起人自选范围，可用于约束节点审批人的候选范围。
                            custom_node_id:
                              type: string
                              description: 节点自定义 ID，如果没有设置则不返回。创建审批实例时如返回该字段，可优先使用该值作为节点参数中的 key。
                              example: 46e6d96cfa756980907209209ec03b64
                            name:
                              type: string
                              description: 节点名称
                              example: Approval
                            need_approver:
                              type: boolean
                              description: 是否需要发起人自选审批人。true 表示创建审批实例时需要为该节点补充审批人 open_id 列表。
                              example: true
                            node_id:
                              type: string
                              description: 节点 ID，可作为创建审批实例时节点参数中的 key。
                              example: 46e6d96cfa756980907209209ec03b64
                            node_type:
                              type: string
                              description: 审批方式。CC_NODE 表示抄送节点类型。
                              enum:
                              - AND
                              - OR
                              - SEQUENTIAL
                              - CC_NODE
                              x-enum-descriptions:
                                AND: 会签
                                OR: 或签
                                SEQUENTIAL: 依次审批
                                CC_NODE: 抄送节点
                              example: AND
                            require_signature:
                              type: boolean
                              description: 是否签名
                              example: false
                          required:
                          - approver_chosen_multi
                          - name
                          - need_approver
                          - node_id
                          - node_type
                        description: 流程节点信息列表，可作为创建审批实例时节点相关参数的来源。
                    required:
                    - approval_name
                    - form
                    - node_list
      x-lark-method-id: approvals.get
      x-lark-scopes:
      - approval:approval:read
      x-lark-access-tokens:
      - user
      x-lark-risk: read
  /open-apis/approval/v4/approvals/search_launchable:
    post:
      operationId: approval_approvals_search
      summary: 搜索当前用户可发起的审批定义
      tags:
      - approvals
      description: 搜索当前用户可发起的审批定义
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=search_launchable&project=approval&resource=approval&version=v4
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                keyword:
                  type: string
                  description: 关键词
                  example: 请假
                locale:
                  type: string
                  description: 语言类型
                  example: 'zh-CN: 中文 en-US: 英文 ja-JP: 日文'
                page_size:
                  type: integer
                  description: 分页大小
                  example: 20
                  minimum: 1
                  maximum: 100
                page_token:
                  type: string
                  description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
                  example: ASDJHA1323_sda1JSASDFD
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      approvals:
                        type: array
                        items:
                          type: object
                          properties:
                            approval_code:
                              type: string
                              description: 审批定义编码
                              example: 7C468A54-8745-2245-9675-08B7C63E7A85
                            approval_name:
                              type: string
                              description: 审批定义名称
                              example: 请假
                            create_link:
                              type: string
                              description: 提单链接，可用于发起审批。
                              example: https://www.example.com
                            description:
                              type: string
                              description: 审批定义描述
                              example: 请假审批
                            is_external:
                              type: boolean
                              description: 是否三方定义。false 表示原生审批定义，true 表示三方审批定义。
                        description: 可发起审批定义列表。
                      has_more:
                        type: boolean
                        description: 还有更多数据
                      page_token:
                        type: string
                        description: 分页标记
      x-lark-method-id: approvals.search
      x-lark-scopes:
      - approval:approval:read
      x-lark-access-tokens:
      - user
      x-lark-risk: write
  /open-apis/approval/v4/instances/recall:
    post:
      operationId: approval_instances_cancel
      summary: 撤回审批实例
      tags:
      - instances
      description: 撤回审批实例
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=recall&project=approval&resource=instance&version=v4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instance_code:
                  type: string
                  description: 审批实例 Code，可通过查询任务列表接口获取到
                  example: 81D31358-93AF-92D6-7425-01A5D67C4E71
              required:
              - instance_code
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: instances.cancel
      x-lark-scopes:
      - approval:instance:write
      x-lark-access-tokens:
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/approval/v4/instances/add_cc:
    post:
      operationId: approval_instances_cc
      summary: 抄送审批实例
      tags:
      - instances
      description: 抄送审批实例
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=add_cc&project=approval&resource=instance&version=v4
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cc_user_ids:
                  type: array
                  items: {}
                  description: 抄送人的用户 ID 列表，cc_user_ids 的 ID 类型需与 user_id_type 的取值保持一致
                comment:
                  type: string
                  description: 抄送留言，不要超过500字
                  example: 同意
                instance_code:
                  type: string
                  description: 审批实例 Code，可通过任务列表接口获取
                  example: 81D31358-93AF-92D6-7425-01A5D67C4E71
              required:
              - cc_user_ids
              - instance_code
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: instances.cc
      x-lark-scopes:
      - approval:instance:write
      x-lark-access-tokens:
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/approval/v4/instances/initiate:
    post:
      operationId: approval_instances_create
      summary: 创建审批实例
      tags:
      - instances
      description: 创建审批实例
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=initiate&project=approval&resource=instance&version=v4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approval_code:
                  type: string
                  description: 审批定义 Code
                  example: 7C468A54-8745-2245-9675-08B7C63E7A85
                form:
                  type: string
                  description: 填写的审批表单控件值，JSON 数组，传值时需要压缩转义为字符串。该字段可根据审批定义详情中的 form 组装；具体控件 value 的结构可参考审批实例表单控件参数文档。
                  example: '[{"id":"111", "type": "input", "value":"test"}]'
                node_approver_list:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: 节点参数 key，可填写审批定义详情中返回的 custom_node_id 或 node_id；若两者都返回，优先使用 custom_node_id。
                        example: manager_node_id
                      value:
                        type: array
                        items: {}
                        description: 审批人 open_id 列表。
                        example: ou_125b59ba923ce1b64c7aa6d8257e43cf
                  description: 用于填写节点审批人。每项 key 对应节点 custom_node_id 或 node_id，value 为审批人 open_id 列表。
                node_cc_list:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: 节点参数 key，可填写审批定义详情中返回的 custom_node_id 或 node_id；若两者都返回，优先使用 custom_node_id。
                        example: manager_node_id
                      value:
                        type: array
                        items: {}
                        description: 抄送人 open_id 列表。
                        example: ou_125b59ba923ce1b64c7aa6d8257e43cf
                  description: 用于填写节点抄送人。每项 key 对应节点 custom_node_id 或 node_id，value 为抄送人 open_id 列表。
                uuid:
                  type: string
                  description: 审批实例 uuid，用于幂等操作，单个企业内的唯一 key。同一个 uuid 只能用于创建一个审批实例，如果冲突则创建失败并返回错误码 60012 ，格式建议为 XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX，不区分大小写
                  example: 7C468A54-8745-2245-9675-08B7C63E7A87
              required:
              - approval_code
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      instance_code:
                        type: string
                        description: 审批实例 Code
                        example: 81D31358-93AF-92D6-7425-01A5D67C4E71
                      instance_link:
                        type: string
                        description: 审批实例链接
                        example: https://go.feishu.cn/approval/s/iu848mdm/
                    required:
                    - instance_code
                    - instance_link
      x-lark-method-id: instances.create
      x-lark-scopes:
      - approval:instance:write
      x-lark-access-tokens:
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/approval/v4/instances/detail:
    get:
      operationId: approval_instances_get
      summary: 获取单个审批实例详情
      tags:
      - instances
      description: 获取单个审批实例详情
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=detail&project=approval&resource=instance&version=v4
      parameters:
      - name: instance_code
        in: query
        required: true
        schema:
          type: string
        description: 审批实例 Code，通过审批任务列表获取得到
        example: 81D31358-93AF-92D6-7425-01A5D67C4E71
      - name: locale
        in: query
        required: false
        schema:
          type: string
          enum:
          - zh-CN
          - en-US
          - ja-JP
          - zh-HK
          - zh-TW
          - de-DE
          - es-ES
          - fr-FR
          - id-ID
          - it-IT
          - ko-KR
          - pt-BR
          - th-TH
          - vi-VN
          - ms-MY
          - ru-RU
          x-enum-descriptions:
            zh-CN: 中文
            en-US: 英文
            ja-JP: 日文
            zh-HK: 繁体中文（中国香港）
            zh-TW: 繁体中文（中国台湾）
            de-DE: 德语
            es-ES: 西班牙语
            fr-FR: 法语
            id-ID: 印度尼西亚语
            it-IT: 意大利语
            ko-KR: 韩语
            pt-BR: 葡萄牙语
            th-TH: 泰语
            vi-VN: 越南语
            ms-MY: 马来语
            ru-RU: 俄语
        description: 语言，默认zh-CN
        example: zh-CN
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      comments:
                        type: array
                        items:
                          type: object
                          properties:
                            comment:
                              type: string
                              description: 评论内容
                              example: ok
                            create_time:
                              type: string
                              description: 评论时间 （该接口中相关时间都为毫秒时间戳）
                              example: '1564590532967'
                            files:
                              type: array
                              items:
                                type: object
                                properties:
                                  file_size:
                                    type: integer
                                    description: 资源大小（字节数）
                                    example: 55555
                                  title:
                                    type: string
                                    description: 附件标题
                                    example: 文件名称
                                  type:
                                    type: string
                                    description: |-
                                      附件类别

                                      - image：图片
                                      - attachment：附件，与上传时选择的类型一致
                                    example: image
                                  url:
                                    type: string
                                    description: 附件路径
                                    example: https://xxxxx.xxx
                              description: 评论附件
                            id:
                              type: string
                              description: 评论 id
                              example: '1234'
                            user_id:
                              type: string
                              description: 发表评论用户
                              example: f7cb567e
                          required:
                          - comment
                          - create_time
                          - id
                          - user_id
                        description: 评论列表
                      current_nodes:
                        type: array
                        items:
                          type: object
                          properties:
                            approvers:
                              type: array
                              items:
                                type: object
                                properties:
                                  task_id:
                                    type: string
                                    description: 任务ID
                                    example: '123456789'
                                  user_id:
                                    type: string
                                    description: 任务对应的userID
                                    example: ou_c186b6833e2d5fxxxxxx
                              description: 当前节点审批人
                            node_id:
                              type: string
                              description: 当前审批节点 id
                              example: 46e6d96cfa756980907209209ec03b64
                            node_name:
                              type: string
                              description: 当前审批节点名称
                              example: 开始
                            type:
                              type: string
                              description: 审批方式
                              enum:
                              - AND
                              - OR
                              - AUTO_PASS
                              - AUTO_REJECT
                              - SEQUENTIAL
                              x-enum-descriptions:
                                AND: 会签
                                OR: 或签
                                AUTO_PASS: 自动通过
                                AUTO_REJECT: 自动拒绝
                                SEQUENTIAL: 按顺序
                              example: AND
                        description: 当前审批节点
                      definition_code:
                        type: string
                        description: 审批定义 Code
                        example: 7C468A54-8745-2245-9675-08B7C63E7A85
                      definition_name:
                        type: string
                        description: 审批名称
                        example: Payment
                      department_id:
                        type: string
                        description: 发起审批用户所在部门
                        example: '123456'
                      end_time:
                        type: string
                        description: 审批完成时间，未完成为 0
                        example: '1564590532967'
                      form:
                        type: string
                        description: json字符串，控件值
                        example: '[{\"id\": \"widget1\",\"custom_id\": \"user_info\",\"name\": \"Item application\",\"type\":
                          \"textarea\"},\"value\":\"aaaa\"]'
                      instance_code:
                        type: string
                        description: 审批实例 Code
                        example: 81D31358-93AF-92D6-7425-01A5D67C4E71
                      operation_records:
                        type: array
                        items:
                          type: object
                          properties:
                            cc_user_ids:
                              type: array
                              items: {}
                              description: 被抄送人列表
                            comment:
                              type: string
                              description: 理由
                              example: ok
                            create_time:
                              type: string
                              description: 发生时间
                              example: '1564590532967'
                            files:
                              type: array
                              items:
                                type: object
                                properties:
                                  file_size:
                                    type: integer
                                    description: 资源大小（字节数）
                                    example: 55555
                                  title:
                                    type: string
                                    description: 附件标题
                                    example: 文件名称
                                  type:
                                    type: string
                                    description: |-
                                      附件类别

                                      - image：图片
                                      - attachment：附件，与上传时选择的类型一致
                                    example: image
                                  url:
                                    type: string
                                    description: 附件路径
                                    example: https://xxxxx.xxx
                              description: 审批附件
                            node_id:
                              type: string
                              description: 产生task的节点key
                              example: APPROVAL_240330_4058663
                            task_id:
                              type: string
                              description: 产生动态关联的task_id
                              example: '1234'
                            type:
                              type: string
                              description: 事件类型
                              enum:
                              - START
                              - PASS
                              - REJECT
                              - AUTO_PASS
                              - AUTO_REJECT
                              - REMOVE_REPEAT
                              - TRANSFER
                              - ADD_APPROVER_BEFORE
                              - ADD_APPROVER
                              - ADD_APPROVER_AFTER
                              - DELETE_APPROVER
                              - ROLLBACK_SELECTED
                              - ROLLBACK
                              - CANCEL
                              - DELETE
                              - CC
                              x-enum-descriptions:
                                START: 审批开始
                                PASS: 通过
                                REJECT: 拒绝
                                AUTO_PASS: 自动通过
                                AUTO_REJECT: 自动拒绝
                                REMOVE_REPEAT: 去重
                                TRANSFER: 转交
                                ADD_APPROVER_BEFORE: 前加签
                                ADD_APPROVER: 并加签
                                ADD_APPROVER_AFTER: 后加签
                                DELETE_APPROVER: 减签
                                ROLLBACK_SELECTED: 指定回退
                                ROLLBACK: 全部回退
                                CANCEL: 撤回
                                DELETE: 删除
                                CC: 抄送
                              example: PASS
                            user_id:
                              type: string
                              description: 动态产生用户
                              example: '123456789'
                          required:
                          - create_time
                          - type
                        description: 审批动态
                      reverted:
                        type: boolean
                        description: 单据是否被撤销
                        example: false
                      serial_number:
                        type: string
                        description: 审批单编号
                        example: '202102060002'
                      start_time:
                        type: string
                        description: 审批创建时间
                        example: '1564590532967'
                      status:
                        type: string
                        description: 审批实例状态
                        enum:
                        - PENDING
                        - APPROVED
                        - REJECTED
                        - CANCELED
                        - DELETED
                        x-enum-descriptions:
                          PENDING: 审批中
                          APPROVED: 通过
                          REJECTED: 拒绝
                          CANCELED: 撤回
                          DELETED: 删除
                        example: PENDING
                      tasks:
                        type: array
                        items:
                          type: object
                          properties:
                            end_time:
                              type: string
                              description: task 完成时间, 未完成为 0
                              example: '0'
                            id:
                              type: string
                              description: 审批任务id
                              example: '1234'
                            node_id:
                              type: string
                              description: task 所属节点 id
                              example: 46e6d96cfa756980907209209ec03b64
                            node_name:
                              type: string
                              description: task 所属节点名称
                              example: 开始
                            start_time:
                              type: string
                              description: task 开始时间
                              example: '1564590532967'
                            status:
                              type: string
                              description: instance 状态
                              enum:
                              - PENDING
                              - APPROVED
                              - REJECTED
                              - TRANSFERRED
                              - DONE
                              x-enum-descriptions:
                                PENDING: 审批中
                                APPROVED: 同意
                                REJECTED: 拒绝
                                TRANSFERRED: 已转交
                                DONE: 完成
                              example: PENDING
                            type:
                              type: string
                              description: 审批方式
                              enum:
                              - AND
                              - OR
                              - AUTO_PASS
                              - AUTO_REJECT
                              - SEQUENTIAL
                              x-enum-descriptions:
                                AND: 会签
                                OR: 或签
                                AUTO_PASS: 自动通过
                                AUTO_REJECT: 自动拒绝
                                SEQUENTIAL: 按顺序
                              example: AND
                            user_id:
                              type: string
                              description: 审批人的用户id，自动通过、自动拒绝 时为空
                              example: '12345'
                          required:
                          - id
                          - start_time
                          - status
                          - user_id
                        description: 审批任务列表
                      user_id:
                        type: string
                        description: 发起审批用户
                        example: f3ta757q
                    required:
                    - comments
                    - definition_code
                    - definition_name
                    - department_id
                    - end_time
                    - form
                    - instance_code
                    - operation_records
                    - serial_number
                    - status
                    - tasks
                    - user_id
      x-lark-method-id: instances.get
      x-lark-scopes:
      - approval:instance:read
      x-lark-access-tokens:
      - user
      x-lark-risk: read
  /open-apis/approval/v4/instances/initiated:
    get:
      operationId: approval_instances_initiated
      summary: 查询用户的已发起列表
      tags:
      - instances
      description: 查询用户的已发起列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=initiated&project=approval&resource=instance&version=v4
      parameters:
      - name: definition_code
        in: query
        required: false
        schema:
          type: string
        description: 审批定义 Code，与返回值的definition_code对应，与其他接口中approval_code为同一概念，可使用返回值中内容（即从返回内容中获取到，用于做过滤）
        example: 7C468A54-8745-2245-9675-08B7C63E7A85
      - name: end_timestamp
        in: query
        required: false
        schema:
          type: string
        description: 按发起时间查询单据，时间范围的结束区间时间戳，精确到秒
        example: '1783528081'
      - name: locale
        in: query
        required: false
        schema:
          type: string
          enum:
          - zh-CN
          - en-US
          - ja-JP
          x-enum-descriptions:
            zh-CN: 中文
            en-US: 英文
            ja-JP: 日文
        description: 语言，默认为zh-CN
        example: zh-CN
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小，默认100，控制在1～100之间
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: start_timestamp
        in: query
        required: false
        schema:
          type: string
        description: 按发起时间查询单据，时间范围的开始区间时间戳，精确到秒
        example: '1783528081'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: 列表计数，只在分页第一页返回，大于等于 100 个任务时将返回 99
                        example: 10
                        minimum: 0
                        maximum: 999
                      has_more:
                        type: boolean
                        description: 是否有更多任务可供拉取
                        example: false
                      instances:
                        type: array
                        items:
                          type: object
                          properties:
                            definition_code:
                              type: string
                              description: 审批定义 Code
                              example: 7C468A54-8745-2245-9675-08B7C63E7A85
                            definition_group_id:
                              type: string
                              description: 审批定义分组 ID
                              example: '1234'
                            definition_group_name:
                              type: string
                              description: 审批定义分组名称
                              example: 考勤
                            definition_name:
                              type: string
                              description: 审批定义名称
                              example: 加班
                            initiator:
                              type: string
                              description: 发起人 ID
                              example: '123456'
                            initiator_name:
                              type: string
                              description: 发起人姓名
                              example: 张三
                            instance_code:
                              type: string
                              description: 审批实例 Code
                              example: 7C468A54-8745-2245-9675-08B7C63E7A85
                            instance_external_id:
                              type: string
                              description: 三方审批实例 ID，仅第三方审批实例存在该字段，需要在当前租户、当前 APP 内唯一
                              example: example_instance_id
                            instance_status:
                              type: string
                              description: 审批实例状态
                              enum:
                              - '0'
                              - '1'
                              - '2'
                              - '3'
                              - '4'
                              - '5'
                              x-enum-descriptions:
                                '0': 无流程状态，不展示对应标签
                                '1': 流程实例流转中
                                '2': 已通过
                                '3': 已拒绝
                                '4': 已撤销
                                '5': 已终止
                              example: Running
                            link:
                              type: string
                              description: 三方审批跳转链接，用于跳转回三方审批系统查看单据详情
                              example: https://www.xxxx.com
                            summaries:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    description: 字段key
                                    example: key
                                  value:
                                    type: string
                                    description: 字段value
                                    example: value
                              description: 摘要
                          required:
                          - definition_code
                          - instance_code
                          - instance_status
                        description: 任务列表
                      page_token:
                        type: string
                        description: 翻页 Token
                        example: example_page_token
                    required:
                    - instances
      x-lark-method-id: instances.initiated
      x-lark-scopes:
      - approval:instance:read
      x-lark-access-tokens:
      - user
      x-lark-risk: read
  /open-apis/approval/v4/tasks/add_sign:
    post:
      operationId: approval_tasks_add_sign
      summary: 审批任务加签
      tags:
      - tasks
      description: 审批任务加签
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=add_sign&project=approval&resource=task&version=v4
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                add_sign_type:
                  type: integer
                  description: 1/2/3分别代表前加签/后加签/并加签
                  enum:
                  - 1
                  - 2
                  - 3
                  x-enum-descriptions:
                    '1': 前加签
                    '2': 后加签
                    '3': 并加签
                  example: 1
                  minimum: 1
                  maximum: 3
                add_sign_user_ids:
                  type: array
                  items: {}
                  description: 被加签人id，需保持与user_id_type类型一致，该值通过用户相关接口获取
                approval_method:
                  type: integer
                  description: 仅在前加签、后加签时需要填写，1/2 分别代表或签/会签
                  enum:
                  - 1
                  - 2
                  - 3
                  x-enum-descriptions:
                    '1': 或签
                    '2': 会签
                    '3': 依次审批
                  example: 1
                  minimum: 1
                  maximum: 3
                comment:
                  type: string
                  description: 审批意见，控制在500个字符内
                  example: 因制度要求，增加业务审批
                instance_code:
                  type: string
                  description: 审批实例code，通过审批任务列表获取得到
                  example: 289330DE-FBF1-4A47-91F9-9EFCCF11BCAE
                task_id:
                  type: string
                  description: 任务id，通过审批任务列表获取得到
                  example: '6955096766400167956'
              required:
              - add_sign_type
              - add_sign_user_ids
              - instance_code
              - task_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: tasks.add_sign
      x-lark-scopes:
      - approval:task:write
      x-lark-access-tokens:
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/approval/v4/tasks/pass:
    post:
      operationId: approval_tasks_approve
      summary: 同意审批任务
      tags:
      - tasks
      description: 同意审批任务
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=pass&project=approval&resource=task&version=v4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: 审批意见
                  example: 同意
                form:
                  type: string
                  description: 表单数据，默认不需要传，仅有该节点需要录入的表单字段才需要传入
                  example: '[{"id":"user_name", "type": "input", "value":"ou_123avcssa111"}]'
                instance_code:
                  type: string
                  description: 审批实例 Code，可通过审批列表相关接口获取
                  example: 81D31358-93AF-92D6-7425-01A5D67C4E71
                task_id:
                  type: string
                  description: 审批任务 ID，可通过审批列表相关接口获取
                  example: '123456789'
              required:
              - instance_code
              - task_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: tasks.approve
      x-lark-scopes:
      - approval:task:write
      x-lark-access-tokens:
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/approval/v4/tasks:
    get:
      operationId: approval_tasks_query
      summary: 查询用户的任务列表
      tags:
      - tasks
      description: 查询用户的任务列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=approval&resource=task&version=v4
      parameters:
      - name: definition_code
        in: query
        required: false
        schema:
          type: string
        description: 审批定义 Code （与approval_code是同一概念，与响应值中definition_code对应）
        example: 7C468A54-8745-2245-9675-08B7C63E7A85
      - name: end_timestamp
        in: query
        required: false
        schema:
          type: string
        description: 按时间查询任务，时间范围的结束区间时间戳，精确到秒
        example: '1783528081'
      - name: locale
        in: query
        required: false
        schema:
          type: string
          enum:
          - zh-CN
          - en-US
          - ja-JP
          x-enum-descriptions:
            zh-CN: 中文
            en-US: 英文
            ja-JP: 日文
        description: 语言，默认为zh-CN
        example: zh-CN
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小，默认值100，限制为1～100之间
        example: 10
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: abcdefg
      - name: start_timestamp
        in: query
        required: false
        schema:
          type: string
        description: 按时间查询任务，时间范围的开始区间时间戳，精确到秒
        example: '1783528081'
      - name: topic
        in: query
        required: true
        schema:
          type: string
          enum:
          - '1'
          - '2'
          - '3'
          - '17'
          - '18'
          x-enum-descriptions:
            '1': 待办审批
            '2': 已办审批
            '3': 已发起审批
            '17': 未读知会
            '18': 已读知会
        description: 需要查询的任务分组主题，如「待办」、「已办」等
        example: '1'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: 列表计数，只在分页第一页返回，大于等于 100 个任务时将返回 99
                        example: 10
                        minimum: 0
                        maximum: 999
                      has_more:
                        type: boolean
                        description: 是否有更多任务可供拉取
                        example: false
                      page_token:
                        type: string
                        description: 翻页 Token
                        example: example_page_token
                      tasks:
                        type: array
                        items:
                          type: object
                          properties:
                            definition_code:
                              type: string
                              description: 审批定义 Code
                              example: 7C468A54-8745-2245-9675-08B7C63E7A85
                            definition_group_id:
                              type: string
                              description: 审批定义分组 ID
                              example: '1234'
                            definition_group_name:
                              type: string
                              description: 审批定义分组名称
                              example: 加班
                            definition_name:
                              type: string
                              description: 审批定义名称
                              example: 加班
                            initiator:
                              type: string
                              description: 发起人 ID
                              example: '123456'
                            initiator_name:
                              type: string
                              description: 发起人姓名
                              example: 张三
                            instance_code:
                              type: string
                              description: 审批实例 Code
                              example: ABC
                            instance_external_id:
                              type: string
                              description: 三方审批实例 ID，仅第三方审批实例存在该字段，需要在当前租户、当前 APP 内唯一
                              example: example_instance_id
                            instance_status:
                              type: string
                              description: 审批实例状态
                              enum:
                              - '0'
                              - '1'
                              - '2'
                              - '3'
                              - '4'
                              - '5'
                              x-enum-descriptions:
                                '0': 无流程状态，不展示对应标签
                                '1': 流程实例流转中
                                '2': 已通过
                                '3': 已拒绝
                                '4': 已撤销
                                '5': 已终止
                              example: Running
                            link:
                              type: string
                              description: 三方审批跳转链接，用于跳转回三方审批系统查看单据详情
                              example: https://www.xxxx.com
                            status:
                              type: string
                              description: 任务状态
                              enum:
                              - '1'
                              - '2'
                              - '17'
                              - '18'
                              - '33'
                              - '34'
                              x-enum-descriptions:
                                '1': 待办
                                '2': 已办
                                '17': 未读
                                '18': 已读
                                '33': 处理中，标记完成用
                                '34': 撤回
                              example: Todo
                            summaries:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    description: 字段key
                                    example: key
                                  value:
                                    type: string
                                    description: 字段value
                                    example: value
                              description: 摘要
                            support_api_operate:
                              type: boolean
                              description: 是否支持通过api接口同意或拒绝任务
                              example: false
                            task_external_id:
                              type: string
                              description: 三方任务 ID，仅第三方审批任务存在该字段，需要在当前审批实例内唯一
                              example: example_task_id
                            task_id:
                              type: string
                              description: 任务 ID，全局唯一
                              example: '1234'
                            title:
                              type: string
                              description: 任务题目
                              example: 审批
                            topic:
                              type: string
                              description: 任务所属的任务分组，如「待办」、「已办」等
                              enum:
                              - '1'
                              - '2'
                              - '3'
                              - '17'
                              - '18'
                              x-enum-descriptions:
                                '1': 待办
                                '2': 已办
                                '3': 已发起
                                '17': 未读知会
                                '18': 已读知会
                              example: '1'
                            user_id:
                              type: string
                              description: 任务所属的用户 ID
                              example: '123456'
                          required:
                          - definition_code
                          - instance_code
                          - instance_status
                          - status
                          - task_id
                          - title
                          - topic
                          - user_id
                        description: 任务列表
                    required:
                    - tasks
      x-lark-method-id: tasks.query
      x-lark-scopes:
      - approval:task:read
      x-lark-access-tokens:
      - user
      x-lark-risk: read
  /open-apis/approval/v4/tasks/refuse:
    post:
      operationId: approval_tasks_reject
      summary: 拒绝审批任务
      tags:
      - tasks
      description: 拒绝审批任务
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=refuse&project=approval&resource=task&version=v4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: 审批意见，请控制在500个字符以内
                  example: 拒绝
                instance_code:
                  type: string
                  description: 审批实例 Code，可通过查询任务列表接口获取
                  example: 81D31358-93AF-92D6-7425-01A5D67C4E71
                task_id:
                  type: string
                  description: 审批任务 ID，可通过查询任务列表接口获取
                  example: '123456789'
              required:
              - instance_code
              - task_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: tasks.reject
      x-lark-scopes:
      - approval:task:write
      x-lark-access-tokens:
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/approval/v4/instances/remind:
    post:
      operationId: approval_tasks_remind
      summary: 催办审批人
      tags:
      - tasks
      description: 催办审批人
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=remind&project=approval&resource=instance&version=v4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: 评论，请控制在500个字符内
                  example: 同意
                instance_code:
                  type: string
                  description: 审批实例 Code，可通过「获取单个审批实例详情接口」得到，与其他系列接口中instance_code是同一概念
                  example: 81D31358-93AF-92D6-7425-01A5D67C4E71
                task_ids:
                  type: array
                  items: {}
                  description: 被催办的任务ID，通过「获取单个审批实例详情接口」得到
              required:
              - instance_code
              - task_ids
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: tasks.remind
      x-lark-scopes:
      - approval:instance:write
      x-lark-access-tokens:
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/approval/v4/tasks/rollback:
    post:
      operationId: approval_tasks_rollback
      summary: 退回审批任务
      tags:
      - tasks
      description: 退回审批任务
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=rollback&project=approval&resource=task&version=v4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: 审批意见，控制在500个字符以内
                  example: 不符合要求，退回重新审批
                instance_code:
                  type: string
                  description: 审批实例code，通过审批任务列表获取得到
                  example: 289330DE-FBF1-4A47-91F9-9EFCCF11BCAE
                node_ids:
                  type: array
                  items: {}
                  description: 节点id，发起节点id为START
                task_id:
                  type: string
                  description: 任务id，通过审批任务列表获取得到
                  example: '6955096766400168956'
              required:
              - instance_code
              - node_ids
              - task_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: tasks.rollback
      x-lark-scopes:
      - approval:task:write
      x-lark-access-tokens:
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/approval/v4/tasks/forward:
    post:
      operationId: approval_tasks_transfer
      summary: 转交审批任务
      tags:
      - tasks
      description: 转交审批任务
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=forward&project=approval&resource=task&version=v4
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: 审批意见，不超过500个字符
                  example: 转交给产品专员处理
                instance_code:
                  type: string
                  description: 审批实例 Code，可通过查询审批列表接口获取
                  example: 81D31358-93AF-92D6-7425-01A5D67C4E71
                task_id:
                  type: string
                  description: 审批任务 ID，可通过查询审批列表接口获取
                  example: '123456789'
                transfer_user_id:
                  type: string
                  description: 被转交人的用户 ID，与user_id_type类型一致
                  example: ou_abacc112aa
              required:
              - instance_code
              - task_id
              - transfer_user_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: tasks.transfer
      x-lark-scopes:
      - approval:task:write
      x-lark-access-tokens:
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
