# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 日历 API
  description: |-
    日程、日历、参会人管理

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: calendar
  x-lark-service-api-version: v4
  x-lark-registry-version: 1.0.0
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: calendars
- name: event.attendees
- name: events
- name: freebusys
paths:
  /open-apis/calendar/v4/calendars:
    post:
      operationId: calendar_calendars_create
      summary: 创建共享日历
      tags:
      - calendars
      description: 创建共享日历
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/create
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                color:
                  type: integer
                  description: |-
                    日历颜色，取值通过颜色 RGB 值的 int32 表示，其中，24 ~ 31 位为透明度，16 ~ 23 位为红，8 ~ 15 位为绿，0 ~ 7 位为蓝。例如，-11034625 表示 RGB 值 (87, 159, 255)。

                    **注意**：
                    - 取值范围为 -2^31 ~ 2^31-1

                    - 日历颜色会映射到飞书客户端色板上最接近的一种颜色进行展示。

                    - 该颜色仅对当前身份生效。

                    **默认值**：-14513409
                  example: -1
                description:
                  type: string
                  description: |-
                    日历描述。

                    **默认值**：空
                  example: 使用开放接口创建日历
                permissions:
                  type: string
                  description: |-
                    日历公开范围。

                    **默认值**：show_only_free_busy
                  enum:
                  - private
                  - show_only_free_busy
                  - public
                  x-enum-descriptions:
                    private: 私密
                    show_only_free_busy: 仅展示忙闲信息
                    public: 公开，他人可查看日程详情
                  example: private
                summary:
                  type: string
                  description: |-
                    日历标题。

                    **默认值**：空
                  example: 测试日历
                summary_alias:
                  type: string
                  description: |-
                    日历备注名，设置该字段后（包括后续修改该字段）仅对当前身份生效。

                    **默认值**：空
                  example: 日历备注名
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      calendar:
                        type: object
                        properties:
                          calendar_id:
                            type: string
                            description: 日历 ID。后续可以通过该 ID 查询、更新或删除日历信息。更多信息可参见[日历 ID 字段说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)。
                            example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
                          color:
                            type: integer
                            description: 日历颜色，由颜色 RGB 值的 int32 表示。实际在客户端展示时会映射到色板上最接近的一种颜色，且该字段仅对当前身份生效。
                            example: -1
                          description:
                            type: string
                            description: 日历描述。
                            example: 使用开放接口创建日历
                          is_deleted:
                            type: boolean
                            description: 对于当前身份，日历是否已经被标记为删除。
                            example: false
                          is_third_party:
                            type: boolean
                            description: 当前日历是否是第三方数据。三方日历及日程只支持读，不支持写入。
                            example: false
                          permissions:
                            type: string
                            description: 日历公开范围。
                            enum:
                            - private
                            - show_only_free_busy
                            - public
                            x-enum-descriptions:
                              private: 私密
                              show_only_free_busy: 仅展示忙闲信息
                              public: 公开，他人可查看日程详情
                            example: private
                          role:
                            type: string
                            description: 当前身份对于该日历的访问权限。
                            enum:
                            - unknown
                            - free_busy_reader
                            - reader
                            - writer
                            - owner
                            x-enum-descriptions:
                              unknown: 未知权限
                              free_busy_reader: 游客，只能看到忙碌、空闲信息
                              reader: 订阅者，可查看所有日程详情
                              writer: 编辑者，可创建及修改日程
                              owner: 管理员，可管理日历及共享设置
                            example: owner
                          summary:
                            type: string
                            description: 日历标题。
                            example: 测试日历
                          summary_alias:
                            type: string
                            description: 日历备注名，仅对当前身份生效。
                            example: 日历备注名
                          type:
                            type: string
                            description: 日历类型。
                            enum:
                            - unknown
                            - primary
                            - shared
                            - google
                            - resource
                            - exchange
                            x-enum-descriptions:
                              unknown: 未知类型
                              primary: 用户或应用的主日历
                              shared: 由用户或应用创建的共享日历
                              google: 用户绑定的谷歌日历
                              resource: 会议室日历
                              exchange: 用户绑定的 Exchange 日历
                            example: shared
                        required:
                        - calendar_id
                        description: 新创建的日历实体信息。
      x-lark-method-id: calendar.create
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar:create
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: calendar_calendars_list
      summary: 查询日历列表
      tags:
      - calendars
      description: 查询日历列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 50
          maximum: 1000
          default: 500
        description: 一次请求要求返回的最大日历数量。实际返回的日历数量可能小于该值，也可能为空，可以根据响应体里的has_more字段来判断是否还有更多日历。
        example: '`50`'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: ListCalendarsPageToken_xxx
      - name: sync_token
        in: query
        required: false
        schema:
          type: string
        description: |-
          增量同步标记，第一次请求不填。当分页查询结束（page_token 返回值为空）时，接口会返回 sync_token 字段，下次调用可使用该 sync_token 增量获取日历变更数据。

          **默认值**：空
        example: ListCalendarsSyncToken_xxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      calendar_list:
                        type: array
                        items:
                          type: object
                          properties:
                            calendar_id:
                              type: string
                              description: 日历 ID。后续可以通过该 ID 查询、更新或删除日历信息。更多信息参见[日历 ID 字段说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)。
                              example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
                            color:
                              type: integer
                              description: 日历颜色，由颜色 RGB 值的 int32 表示。实际在客户端展示时会映射到色板上最接近的一种颜色，且该字段仅对当前身份生效。
                              example: -1
                            description:
                              type: string
                              description: 日历描述。
                              example: 使用开放接口创建日历
                            is_deleted:
                              type: boolean
                              description: 对于当前身份，日历是否已经被标记为删除。
                              example: false
                            is_third_party:
                              type: boolean
                              description: 当前日历是否是第三方数据。三方日历及日程只支持读，不支持写入。
                              example: false
                            permissions:
                              type: string
                              description: 日历公开范围。
                              enum:
                              - private
                              - show_only_free_busy
                              - public
                              x-enum-descriptions:
                                private: 私密
                                show_only_free_busy: 仅展示忙闲信息
                                public: 公开，他人可查看日程详情
                              example: private
                            role:
                              type: string
                              description: 当前身份对于该日历的访问权限。
                              enum:
                              - unknown
                              - free_busy_reader
                              - reader
                              - writer
                              - owner
                              x-enum-descriptions:
                                unknown: 未知权限
                                free_busy_reader: 游客，只能看到忙碌、空闲信息
                                reader: 订阅者，可查看所有日程详情
                                writer: 编辑者，可创建及修改日程
                                owner: 管理员，可管理日历及共享设置
                              example: owner
                            summary:
                              type: string
                              description: 日历标题。
                              example: 测试日历
                            summary_alias:
                              type: string
                              description: 日历备注名，仅对当前身份生效。
                              example: 日历备注名
                            type:
                              type: string
                              description: 日历类型。
                              enum:
                              - unknown
                              - primary
                              - shared
                              - google
                              - resource
                              - exchange
                              x-enum-descriptions:
                                unknown: 未知类型
                                primary: 用户或应用的主日历
                                shared: 由用户或应用创建的共享日历
                                google: 用户绑定的谷歌日历
                                resource: 会议室日历
                                exchange: 用户绑定的 Exchange 日历
                              example: shared
                          required:
                          - calendar_id
                        description: 分页加载的日历数据列表。
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: false
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: ListCalendarsPageToken_xxx
                      sync_token:
                        type: string
                        description: |-
                          增量同步标记。当 has_more 为 false 时，会同步返回新的 sync_token，下次请求需要带上 sync_token 增量获取日历变更数据。

                          **注意**：返回的 sync_token 在 90 天内有效。
                        example: ListCalendarsSyncToken_xxx
      x-lark-method-id: calendar.list
      x-lark-scopes:
      - calendar:calendar:readonly
      - calendar:calendar
      - calendar:calendar.calendar:readonly
      - calendar:calendar:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/calendar/v4/calendars/{calendar_id}:
    delete:
      operationId: calendar_calendars_delete
      summary: 删除共享日历
      tags:
      - calendars
      description: 删除共享日历
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/delete
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          日历 ID。

          创建共享日历时会返回日历 ID。你也可以调用以下接口获取某一日历的 ID。
          - [查询主日历信息](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/primary)
          - [查询日历列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/list)
          - [搜索日历](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/search)
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: calendar.delete
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar:delete
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
    get:
      operationId: calendar_calendars_get
      summary: 查询日历信息
      tags:
      - calendars
      description: 查询日历信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/get
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          日历 ID。

          创建共享日历时会返回日历 ID。你也可以调用以下接口获取某一日历的 ID。
          - [查询主日历信息](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/primary)
          - [查询日历列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/list)
          - [搜索日历](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/search)
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      calendar_id:
                        type: string
                        description: 日历 ID。后续可以通过该 ID 查询、更新或删除日历信息。更多信息可参见[日历 ID 字段说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)。
                        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
                      color:
                        type: integer
                        description: 日历颜色，由颜色 RGB 值的 int32 表示。实际在客户端展示时会映射到色板上最接近的一种颜色，且该字段仅对当前身份生效。
                        example: -1
                      description:
                        type: string
                        description: 日历描述。
                        example: 使用开放接口创建日历
                      is_deleted:
                        type: boolean
                        description: 对于当前身份，日历是否已经被标记为删除。
                        example: false
                      is_third_party:
                        type: boolean
                        description: 当前日历是否是第三方数据。三方日历及日程只支持读，不支持写入。
                        example: false
                      permissions:
                        type: string
                        description: 日历公开范围。
                        enum:
                        - private
                        - show_only_free_busy
                        - public
                        x-enum-descriptions:
                          private: 私密
                          show_only_free_busy: 仅展示忙闲信息
                          public: 公开，他人可查看日程详情
                        example: private
                      role:
                        type: string
                        description: 当前身份对于该日历的访问权限。
                        enum:
                        - unknown
                        - free_busy_reader
                        - reader
                        - writer
                        - owner
                        x-enum-descriptions:
                          unknown: 未知权限
                          free_busy_reader: 游客，只能看到忙碌、空闲信息
                          reader: 订阅者，可查看所有日程详情
                          writer: 编辑者，可创建及修改日程
                          owner: 管理员，可管理日历及共享设置
                        example: owner
                      summary:
                        type: string
                        description: 日历标题。
                        example: 测试日历
                      summary_alias:
                        type: string
                        description: 日历备注名，仅对当前身份生效。
                        example: 日历备注名
                      type:
                        type: string
                        description: 日历类型。
                        enum:
                        - unknown
                        - primary
                        - shared
                        - google
                        - resource
                        - exchange
                        x-enum-descriptions:
                          unknown: 未知类型
                          primary: 用户或应用的主日历
                          shared: 由用户或应用创建的共享日历
                          google: 用户绑定的谷歌日历
                          resource: 会议室日历
                          exchange: 用户绑定的 Exchange 日历
                        example: shared
                    required:
                    - calendar_id
      x-lark-method-id: calendar.get
      x-lark-scopes:
      - calendar:calendar:readonly
      - calendar:calendar
      - calendar:calendar:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
    patch:
      operationId: calendar_calendars_patch
      summary: 更新日历信息
      tags:
      - calendars
      description: 更新日历信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/patch
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          日历 ID。

          创建共享日历时会返回日历 ID。你也可以调用以下接口获取某一日历的 ID。
          - [查询主日历信息](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/primary)
          - [查询日历列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/list)
          - [搜索日历](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/search)
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                color:
                  type: integer
                  description: |-
                    日历颜色，取值通过颜色 RGB 值的 int32 表示，其中，24 ~ 31 位为透明度，16 ~ 23 位为红，8 ~ 15 位为绿，0 ~ 7 位为蓝。例如，-11034625 表示 RGB 值 (87, 159, 255)。
                    - 不传表示不更新该字段。

                    **注意**：
                    - 取值范围为 -2^31 ~ 2^31-1

                    - 日历颜色会映射到飞书客户端色板上最接近的一种颜色进行展示。

                    - 该颜色仅对当前身份生效。
                  example: -1
                description:
                  type: string
                  description: |-
                    日历描述。
                    - 不传表示不更新该字段。
                  example: 使用开放接口创建日历
                permissions:
                  type: string
                  description: |-
                    日历公开范围。
                    - 不传表示不更新该字段。
                  enum:
                  - private
                  - show_only_free_busy
                  - public
                  x-enum-descriptions:
                    private: 私密
                    show_only_free_busy: 仅展示忙闲信息
                    public: 公开，他人可查看日程详情
                  example: private
                summary:
                  type: string
                  description: |-
                    日历标题。
                    - 不传表示不更新该字段。
                  example: 测试日历
                summary_alias:
                  type: string
                  description: |-
                    日历备注名，设置该字段后（包括后续修改该字段）仅对当前身份生效。
                    - 不传表示不更新该字段。
                  example: 日历备注名
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      calendar:
                        type: object
                        properties:
                          calendar_id:
                            type: string
                            description: 日历 ID。后续可以通过该 ID 查询、更新或删除日历信息。更多信息参见[日历 ID 字段说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)。
                            example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
                          color:
                            type: integer
                            description: 日历颜色，由颜色 RGB 值的 int32 表示。实际在客户端展示时会映射到色板上最接近的一种颜色，且该字段仅对当前身份生效。
                            example: -1
                          description:
                            type: string
                            description: 日历描述。
                            example: 使用开放接口创建日历
                          is_deleted:
                            type: boolean
                            description: 对于当前身份，日历是否已经被标记为删除。
                            example: false
                          is_third_party:
                            type: boolean
                            description: 当前日历是否是第三方数据。三方日历及日程只支持读，不支持写入。
                            example: false
                          permissions:
                            type: string
                            description: 日历公开范围。
                            enum:
                            - private
                            - show_only_free_busy
                            - public
                            x-enum-descriptions:
                              private: 私密
                              show_only_free_busy: 仅展示忙闲信息
                              public: 公开，他人可查看日程详情
                            example: private
                          role:
                            type: string
                            description: 当前身份对于该日历的访问权限。
                            enum:
                            - unknown
                            - free_busy_reader
                            - reader
                            - writer
                            - owner
                            x-enum-descriptions:
                              unknown: 未知权限
                              free_busy_reader: 游客，只能看到忙碌、空闲信息
                              reader: 订阅者，可查看所有日程详情
                              writer: 编辑者，可创建及修改日程
                              owner: 管理员，可管理日历及共享设置
                            example: owner
                          summary:
                            type: string
                            description: 日历标题。
                            example: 测试日历
                          summary_alias:
                            type: string
                            description: 日历备注名，仅对当前身份生效。
                            example: 日历备注名
                          type:
                            type: string
                            description: 日历类型。
                            enum:
                            - unknown
                            - primary
                            - shared
                            - google
                            - resource
                            - exchange
                            x-enum-descriptions:
                              unknown: 未知类型
                              primary: 用户或应用的主日历
                              shared: 由用户或应用创建的共享日历
                              google: 用户绑定的谷歌日历
                              resource: 会议室日历
                              exchange: 用户绑定的 Exchange 日历
                            example: shared
                        required:
                        - calendar_id
                        description: 更新后的日历实体信息。
      x-lark-method-id: calendar.patch
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar:update
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/calendar/v4/calendars/primary:
    post:
      operationId: calendar_calendars_primary
      summary: 查询主日历信息
      tags:
      - calendars
      description: 查询主日历信息。推荐使用此 API 获取主日历 ID，无需先 list 再过滤
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/primary
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户id
            union_id: 以union_id来识别用户id
            open_id: 以open_id来识别用户id
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      calendars:
                        type: array
                        items:
                          type: object
                          properties:
                            calendar:
                              type: object
                              properties:
                                calendar_id:
                                  type: string
                                  description: 日历 ID。你可以通过该 ID 查询、更新主日历信息。更多信息可参见[日历 ID 字段说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)。
                                  example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
                                color:
                                  type: integer
                                  description: 日历颜色，由颜色 RGB 值的 int32 表示。实际在客户端展示时会映射到色板上最接近的一种颜色，且该字段仅对当前身份生效。
                                  example: -1
                                description:
                                  type: string
                                  description: 日历描述。
                                  example: 使用开放接口创建日历
                                is_deleted:
                                  type: boolean
                                  description: 对于当前身份，日历是否已经被标记为删除。
                                  example: false
                                is_third_party:
                                  type: boolean
                                  description: 当前日历是否是第三方数据。三方日历及日程只支持读，不支持写入。
                                  example: false
                                permissions:
                                  type: string
                                  description: 日历公开范围。
                                  enum:
                                  - private
                                  - show_only_free_busy
                                  - public
                                  x-enum-descriptions:
                                    private: 私密
                                    show_only_free_busy: 仅展示忙闲信息
                                    public: 公开，他人可查看日程详情
                                  example: private
                                role:
                                  type: string
                                  description: 当前身份对于该日历的访问权限。
                                  enum:
                                  - unknown
                                  - free_busy_reader
                                  - reader
                                  - writer
                                  - owner
                                  x-enum-descriptions:
                                    unknown: 未知权限
                                    free_busy_reader: 游客，只能看到忙碌、空闲信息
                                    reader: 订阅者，可查看所有日程详情
                                    writer: 编辑者，可创建及修改日程
                                    owner: 管理员，可管理日历及共享设置
                                  example: owner
                                summary:
                                  type: string
                                  description: 日历标题。
                                  example: 测试日历
                                summary_alias:
                                  type: string
                                  description: 日历备注名，仅对当前身份生效。
                                  example: 日历备注名
                                type:
                                  type: string
                                  description: 日历类型。
                                  enum:
                                  - unknown
                                  - primary
                                  - shared
                                  - google
                                  - resource
                                  - exchange
                                  x-enum-descriptions:
                                    unknown: 未知类型
                                    primary: 用户或应用的主日历
                                    shared: 由用户或应用创建的共享日历
                                    google: 用户绑定的谷歌日历
                                    resource: 会议室日历
                                    exchange: 用户绑定的 Exchange 日历
                                  example: shared
                              required:
                              - calendar_id
                              description: 日历实体信息。
                            user_id:
                              type: string
                              description: 日历创建者的 User ID。了解用户不同类型的 ID，可参见[用户身份概述](https://open.feishu.cn/document/home/user-identity-introduction/introduction)。
                              example: ou_xxxxxx
                        description: 主日历列表。
      x-lark-method-id: calendar.primary
      x-lark-scopes:
      - calendar:calendar:readonly
      - calendar:calendar.calendar:readonly
      - calendar:calendar:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/calendar/v4/calendars/search:
    post:
      operationId: calendar_calendars_search
      summary: 搜索日历
      tags:
      - calendars
      description: 搜索日历
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/search
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
          default: 20
        description: 一次请求返回的最大日历数量。
        example: 10
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
        example: '10'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: 搜索关键字。接口将会搜索标题或描述中包含该关键字的公共日历或用户主日历。
                  example: query words
              required:
              - query
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            calendar_id:
                              type: string
                              description: 日历 ID。后续可以通过该 ID 查询、更新或删除日历信息。更多信息参见[日历 ID 字段说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)。
                              example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
                            color:
                              type: integer
                              description: 日历颜色，由颜色 RGB 值的 int32 表示。实际在客户端展示时会映射到色板上最接近的一种颜色，且该字段仅对当前身份生效。
                              example: -1
                            description:
                              type: string
                              description: 日历描述。
                              example: 使用开放接口创建日历
                            is_deleted:
                              type: boolean
                              description: 对于当前身份，日历是否已经被标记为删除。
                              example: false
                            is_third_party:
                              type: boolean
                              description: 当前日历是否是第三方数据。三方日历及日程只支持读，不支持写入。
                              example: false
                            permissions:
                              type: string
                              description: 日历公开范围。
                              enum:
                              - private
                              - show_only_free_busy
                              - public
                              x-enum-descriptions:
                                private: 私密
                                show_only_free_busy: 仅展示忙闲信息
                                public: 公开，他人可查看日程详情
                              example: private
                            role:
                              type: string
                              description: 当前身份对于该日历的访问权限。
                              enum:
                              - unknown
                              - free_busy_reader
                              - reader
                              - writer
                              - owner
                              x-enum-descriptions:
                                unknown: 未知权限
                                free_busy_reader: 游客，只能看到忙碌、空闲信息
                                reader: 订阅者，可查看所有日程详情
                                writer: 编辑者，可创建及修改日程
                                owner: 管理员，可管理日历及共享设置
                              example: owner
                            summary:
                              type: string
                              description: 日历标题。
                              example: 测试日历
                            summary_alias:
                              type: string
                              description: 日历备注名，仅对当前身份生效。
                              example: 日历备注名
                            type:
                              type: string
                              description: 日历类型。
                              enum:
                              - unknown
                              - primary
                              - shared
                              - google
                              - resource
                              - exchange
                              x-enum-descriptions:
                                unknown: 未知类型
                                primary: 用户或应用的主日历
                                shared: 由用户或应用创建的共享日历
                                google: 用户绑定的谷歌日历
                                resource: 会议室日历
                                exchange: 用户绑定的 Exchange 日历
                              example: shared
                          required:
                          - calendar_id
                        description: 搜索命中的日历列表。
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: '10'
      x-lark-method-id: calendar.search
      x-lark-scopes:
      - calendar:calendar:readonly
      - calendar:calendar
      - calendar:calendar:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/calendar/v4/calendars/{calendar_id}/events/{event_id}/attendees/batch_delete:
    post:
      operationId: calendar_event_attendees_batch_delete
      summary: 删除日程参与人
      tags:
      - event.attendees
      description: 删除日程参与人
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-attendee/batch_delete
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日程对应的日历 ID。了解更多，参见[日历 ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)。
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          日程 ID。

          创建日程时会返回日程 ID。你也可以调用以下接口获取某一日历的 ID。
          - [获取日程列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/list)
          - [搜索日程](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/search)
        example: xxxxxxxxx_0
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户id
            union_id: 以union_id来识别用户id
            open_id: 以open_id来识别用户id
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                attendee_ids:
                  type: array
                  items: {}
                  description: |-
                    需要删除的参与人 ID 列表。

                    添加日程参与人时，会返回参与人 ID（attendee_id），你也可以调用[获取日程参与人列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-attendee/list)接口，查询指定日程的参与人 ID。
                    - 一次最多删除500个参与人（与delete_ids一起计算）
                delete_ids:
                  type: array
                  items:
                    type: object
                    properties:
                      chat_id:
                        type: string
                        description: 群组 ID。当选择群组类型参与人（type 取值为 chat）时，需要传入该参数。
                        example: oc_xxxxxxxxx
                      room_id:
                        type: string
                        description: 会议室 ID。当选择会议室类型参与人（type 取值为 resource）时，需要传入该参数。
                        example: omm_xxxxxxxx
                      third_party_email:
                        type: string
                        description: 邮箱地址。当选择外部邮箱类型参与人（type 取值为 third_party）时，需要传入该参数。
                        example: wangwu@email.com
                      type:
                        type: string
                        description: 参与人类型。
                        enum:
                        - user
                        - chat
                        - resource
                        - third_party
                        x-enum-descriptions:
                          user: 用户
                          chat: 群组
                          resource: 会议室
                          third_party: 外部邮箱
                        example: user
                      user_id:
                        type: string
                        description: 用户 ID。当选择用户类型参与人（type 取值为 user）时，需要传入该参数。传入的用户 ID 类型需要和 user_id_type 的值保持一致。
                        example: ou_xxxxxxxx
                  description: |-
                    参与人类型对应的 ID，该 ID 是 attendee_ids 字段的补充字段。
                    - 一次最多删除500个参与人（与attendee_ids一起计算）
                instance_start_time_admin:
                  type: string
                  description: 使用管理员身份访问时，要修改的实例（仅用于重复日程修改其中的一个实例，非重复日程无需填此字段）。
                  example: '1647320400'
                is_enable_admin:
                  type: boolean
                  description: |-
                    是否启用会议室管理员身份（需先在管理后台设置某人为会议室管理员）。

                    **可选值有**：
                    - true：启用
                    - false（默认值）：不启用
                  example: false
                need_notification:
                  type: boolean
                  description: |-
                    删除日程参与人时，是否向参与人发送 Bot 通知。

                    **可选值有**：
                    - true（默认值）：发送
                    - false：不发送
                  example: false
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: calendar.event.attendee.batch_delete
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar.event:writeonly
      - calendar:calendar.event:update
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/calendar/v4/calendars/{calendar_id}/events/{event_id}/attendees:
    post:
      operationId: calendar_event_attendees_create
      summary: 添加日程参与人
      tags:
      - event.attendees
      description: 添加日程参与人
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-attendee/create
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日程对应的日历 ID。了解更多，参见[日历 ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)。
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          日程 ID。

          创建日程时会返回日程 ID。你也可以调用以下接口获取某一日历的 ID。
          - [获取日程列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/list)
          - [搜索日程](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/search)
        example: xxxxxxxxx_0
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户id
            union_id: 以union_id来识别用户id
            open_id: 以open_id来识别用户id
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                add_operator_to_attendee:
                  type: boolean
                  description: |-
                    是否添加会议室联系人（operate_id）到日程参与人。

                    **可选值有**：
                    - true（默认值）：启用
                    - false：不启用
                  example: false
                attendees:
                  type: array
                  items:
                    type: object
                    properties:
                      approval_reason:
                        type: string
                        description: |-
                          申请预定审批会议室的原因。参数配置说明：
                          - 仅使用用户身份（user_access_token）预定审批会议室时，该字段生效。
                          - 对于申请预定审批会议室的场景，不传该值会直接预约失败。
                          -  如果使用应用身份（tenant_access_token）预定审批会议室，会直接失败。

                          **默认值**：空
                        example: 申请原因
                      chat_id:
                        type: string
                        description: 群组 ID。当选择群组类型参与人（type 取值为 chat）时，需要传入该参数。关于群组 ID 可参见[群 ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)。
                        example: oc_xxxxxxxxx
                      is_optional:
                        type: boolean
                        description: |-
                          参与人是否为可选参加。

                          **可选值有**：
                          - true：是
                          - false：否

                          **注意**：无法编辑会议室类型参与人的此字段。
                        example: true
                      operate_id:
                        type: string
                        description: |-
                          会议室联系人 ID。传入的用户 ID 类型需要和 user_id_type 的值保持一致。关于用户 ID 可参见[用户相关的 ID 概念](https://open.feishu.cn/document/home/user-identity-introduction/introduction)。

                          **说明**：如果当前日程是基于应用身份创建的，则在添加会议室类型参与人时，需要通过该参数指定会议室的联系人，该联系人会在日程会议室信息中展示。

                          **默认值**：空
                        example: ou_xxxxxxxx
                      resource_customization:
                        type: array
                        items:
                          type: object
                          properties:
                            index_key:
                              type: string
                              description: 表单内配置的唯一 ID。
                              example: '16281481596100'
                            input_content:
                              type: string
                              description: 当配置类型为填空时，需要填入该参数。
                              example: xxx
                            options:
                              type: array
                              items: {}
                              description: 每个配置的选项。
                              example: 无
                          required:
                          - index_key
                        description: |-
                          会议室的个性化配置。

                          - 在选择会议室类型参与人时，如果会议室有预定表单，则可以通过该参数配置表单信息。
                          - 当前添加的参与人不涉及会议室个性化配置时，无需设置该参数。
                      room_id:
                        type: string
                        description: |-
                          会议室 ID。当选择会议室类型参与人（type 取值为 resource）时，需要传入该参数。

                          你可以通过以下接口获取指定会议室 ID：

                          - [查询会议室列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/room/list)
                          - [搜索会议室](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/room/search)
                        example: omm_xxxxxxxx
                      third_party_email:
                        type: string
                        description: 邮箱地址。当选择外部邮箱类型参与人（type 取值为 third_party）时，需要传入该参数。
                        example: wangwu@email.com
                      type:
                        type: string
                        description: 参与人类型。
                        enum:
                        - user
                        - chat
                        - resource
                        - third_party
                        x-enum-descriptions:
                          user: 用户
                          chat: 群组
                          resource: 会议室
                          third_party: 外部邮箱
                        example: user
                      user_id:
                        type: string
                        description: 用户 ID。当选择用户类型参与人（type 取值为 user）时，需要传入该参数。传入的用户 ID 类型需要和 user_id_type 的值保持一致。关于用户 ID 可参见[用户相关的
                          ID 概念](https://open.feishu.cn/document/home/user-identity-introduction/introduction)。
                        example: ou_xxxxxxxx
                  description: |-
                    新增参与人列表。

                    **注意**：
                    - 单次请求可设置的参与人数量（含会议室）上限为 1000。
                    - 单次请求可设置的会议室数量上限为 100。
                instance_start_time_admin:
                  type: string
                  description: |-
                    使用管理员身份访问时，要修改的日程实例。

                    **注意**：

                    - 该参数仅用于修改重复日程中的某一日程实例，非重复日程无需填此字段。
                    - 你可以调用[获取重复日程实例](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/instances)接口，获取重复日程中某一日程实例的 event_id。该参数取值为 event_id 的时间戳后缀。例如查询到的日程实例 ID 为 `2cf525f0-1e67-4b04-ad4d-30b7f003903c_1713168000`，则当前的 `instance_start_time_admin` 取值为 `1713168000`。

                    **默认值**：空
                  example: '1647320400'
                is_enable_admin:
                  type: boolean
                  description: |-
                    是否启用会议室管理员身份（需先在管理后台设置某成员为会议室管理员)。

                    **可选值有**：
                    - true：启用
                    - false（默认值）：不启用

                    **说明**：开启后，本次请求只处理会议室数据，其他参与人操作不会生效。
                  example: false
                need_notification:
                  type: boolean
                  description: |-
                    是否给参与人发送 Bot 通知。

                    **可选值有**：
                    - true（默认值）：发送
                    - false：不发送
                  example: false
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      attendees:
                        type: array
                        items:
                          type: object
                          properties:
                            approval_reason:
                              type: string
                              description: |-
                                申请预定审批会议室的原因。参数配置说明：
                                - 仅使用用户身份（user_access_token）预定审批会议室时，该字段生效。
                                - 对于申请预定审批会议室的场景，不传该值会直接预约失败。
                                -  如果使用应用身份（tenant_access_token）预定审批会议室，会直接失败。
                              example: 申请原因
                            attendee_id:
                              type: string
                              description: 参与人 ID。日程参与人在当前日程内的唯一标识，后续可通过该 ID 删除日程参与人，或用于查询群组类型参与人的群成员信息。
                              example: user_xxxxxx
                            chat_id:
                              type: string
                              description: 群组类型参与人的群组 ID。关于群组 ID 可参见[群 ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)。
                              example: oc_xxxxxxxxx
                            chat_members:
                              type: array
                              items:
                                type: object
                                properties:
                                  display_name:
                                    type: string
                                    description: 参与人名称。
                                    example: 张三
                                  is_external:
                                    type: boolean
                                    description: 参与人是否为外部参与人。
                                    example: false
                                  is_optional:
                                    type: boolean
                                    description: 参与人是否为可选参加。
                                    example: false
                                  is_organizer:
                                    type: boolean
                                    description: 参与人是否为日程组织者。
                                    example: true
                                  rsvp_status:
                                    type: string
                                    description: 参与人 RSVP 状态。
                                    enum:
                                    - needs_action
                                    - accept
                                    - tentative
                                    - decline
                                    - removed
                                    x-enum-descriptions:
                                      needs_action: 参与人尚未回复状态，或表示会议室预约中
                                      accept: 参与人回复接受，或表示会议室预约成功
                                      tentative: 参与人回复待定
                                      decline: 参与人回复拒绝，或表示会议室预约失败
                                      removed: 参与人或会议室已经从日程中被移除
                                    example: accept
                              description: 群成员，当参与人类型为群组（type 为 chat）时有效。群成员不支持编辑。
                            display_name:
                              type: string
                              description: 参与人名称。
                              example: 张三
                            is_external:
                              type: boolean
                              description: 参与人是否为外部参与人。外部参与人不支持编辑。
                              example: false
                            is_optional:
                              type: boolean
                              description: 参与人是否为可选参加，该参数值对群组的群成员不生效。
                              example: true
                            is_organizer:
                              type: boolean
                              description: 参与人是否为日程组织者。
                              example: true
                            operate_id:
                              type: string
                              description: 如果日程是使用应用身份创建的，在添加会议室时，指定的会议室联系人 ID。ID 类型与 user_id_type 的值保持一致。
                              example: ou_xxxxxxxx
                            resource_customization:
                              type: array
                              items:
                                type: object
                                properties:
                                  index_key:
                                    type: string
                                    description: 每个配置的唯一 ID。
                                    example: '16281481596100'
                                  input_content:
                                    type: string
                                    description: 填空类型的取值。
                                    example: xxx
                                  options:
                                    type: array
                                    items: {}
                                    description: 每个配置的选项。
                                    example: 无
                                required:
                                - index_key
                              description: 会议室的个性化配置。
                            room_id:
                              type: string
                              description: 会议室类型参与人的会议室 ID。
                              example: omm_xxxxxxxx
                            rsvp_status:
                              type: string
                              description: 参与人 RSVP 状态，即日程回复状态。
                              enum:
                              - needs_action
                              - accept
                              - tentative
                              - decline
                              - removed
                              x-enum-descriptions:
                                needs_action: 参与人尚未回复状态，或表示会议室预约中
                                accept: 参与人回复接受，或表示会议室预约成功
                                tentative: 参与人回复待定
                                decline: 参与人回复拒绝，或表示会议室预约失败
                                removed: 参与人或会议室已经从日程中被移除
                              example: accept
                            third_party_email:
                              type: string
                              description: 外部邮箱类型参与人的邮箱地址。
                              example: wangwu@email.com
                            type:
                              type: string
                              description: 参与人类型。
                              enum:
                              - user
                              - chat
                              - resource
                              - third_party
                              x-enum-descriptions:
                                user: 用户
                                chat: 群组
                                resource: 会议室
                                third_party: 外部邮箱
                              example: user
                            user_id:
                              type: string
                              description: |-
                                用户类型参与人的用户 ID，ID 类型与 user_id_type 的值保持一致。关于用户 ID 可参见[用户相关的 ID 概念](https://open.feishu.cn/document/home/user-identity-introduction/introduction)。

                                **注意**：当 is_external 返回为 true 时，此字段只会返回 open_id 或者 union_id。
                              example: ou_xxxxxxxx
                        description: 添加参与人后，日程参与人列表信息。
      x-lark-method-id: calendar.event.attendee.create
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar.event:update
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: calendar_event_attendees_list
      summary: 获取日程参与人列表
      tags:
      - event.attendees
      description: 获取日程参与人列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-attendee/list
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日程所在的日历 ID。关于日历 ID 可参见[日历 ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)。
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          日程 ID。

          创建日程时会返回日程 ID。你也可以调用以下接口获取某一日历的 ID。
          - [获取日程列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/list)
          - [搜索日程](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/search)
        example: xxxxxxxxx_0
      - name: need_resource_customization
        in: query
        required: false
        schema:
          type: boolean
        description: |-
          是否需要会议室表单信息。

          **可选值有**：
          - true：需要
          - false（默认值）：不需要

          **注意**：当前身份需要有日程的编辑权限才会返回会议室表单信息，即当前身份需要是日程的组织者，或者是日程参与人且日程设置了**参与人可编辑日程**权限。你可以调用[获取日程](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/get)接口，获取日程的参与人权限（attendee_ability）。
        example: true
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          default: 20
        description: 一次请求返回的最大日程参与人数量。最小值为 10，传入小于 10 的值默认按照 10 计算。
        example: 10
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
        example: 780TRhwXXXXX
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户id
            union_id: 以union_id来识别用户id
            open_id: 以open_id来识别用户id
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            attendee_id:
                              type: string
                              description: 参与人 ID。日程参与人在当前日程内的唯一标识，后续可通过该 ID 删除日程参与人，或用于查询群组类型参与人的群成员信息。
                              example: user_xxxxxx
                            chat_id:
                              type: string
                              description: 群组类型参与人的群组 ID。关于群组 ID 可参见[群 ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)。
                              example: oc_xxxxxxxxx
                            chat_members:
                              type: array
                              items:
                                type: object
                                properties:
                                  display_name:
                                    type: string
                                    description: 参与人名称。
                                    example: Group
                                  is_external:
                                    type: boolean
                                    description: 参与人是否为外部参与人。
                                    example: false
                                  is_optional:
                                    type: boolean
                                    description: 参与人是否为可选参加。
                                    example: true
                                  is_organizer:
                                    type: boolean
                                    description: 参与人是否为日程组织者。
                                    example: false
                                  rsvp_status:
                                    type: string
                                    description: 参与人 RSVP 状态。
                                    enum:
                                    - needs_action
                                    - accept
                                    - tentative
                                    - decline
                                    - removed
                                    x-enum-descriptions:
                                      needs_action: 参与人尚未回复状态，或表示会议室预约中
                                      accept: 参与人回复接受，或表示会议室预约成功
                                      tentative: 参与人回复待定
                                      decline: 参与人回复拒绝，或表示会议室预约失败
                                      removed: 参与人或会议室已经从日程中被移除
                                    example: needs_action
                              description: |-
                                群成员信息。

                                **注意**：该字段已废弃，如需获取群中的群成员，请使用 [获取参与人群成员列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-attendee-chat_member/list)接口。
                            display_name:
                              type: string
                              description: 参与人名称。
                              example: Zhang San
                            is_external:
                              type: boolean
                              description: 参与人是否为外部参与人。外部参与人不支持编辑。
                              example: false
                            is_optional:
                              type: boolean
                              description: 参与人是否为可选参加，该参数值对群组的群成员不生效。
                              example: true
                            is_organizer:
                              type: boolean
                              description: 参与人是否为日程组织者。
                              example: true
                            operate_id:
                              type: string
                              description: 如果日程是使用应用身份创建的，在添加会议室时，指定的会议室联系人 ID。ID 类型与 user_id_type 的值保持一致。
                              example: ou_xxxxxxxx
                            resource_customization:
                              type: array
                              items:
                                type: object
                                properties:
                                  index_key:
                                    type: string
                                    description: 每个配置的唯一 ID。
                                    example: '16281481596100'
                                  input_content:
                                    type: string
                                    description: 填空类型的取值。
                                    example: xxx
                                  options:
                                    type: array
                                    items: {}
                                    description: 每个配置的选项。
                                    example: 无
                                required:
                                - index_key
                              description: 会议室的个性化配置。
                            room_id:
                              type: string
                              description: 会议室类型参与人的会议室 ID。
                              example: omm_xxxxxxxx
                            rsvp_status:
                              type: string
                              description: 参与人 RSVP 状态，即日程回复状态。
                              enum:
                              - needs_action
                              - accept
                              - tentative
                              - decline
                              - removed
                              x-enum-descriptions:
                                needs_action: 参与人尚未回复状态，或表示会议室预约中
                                accept: 参与人回复接受，或表示会议室预约成功
                                tentative: 参与人回复待定
                                decline: 参与人回复拒绝，或表示会议室预约失败
                                removed: 参与人或会议室已经从日程中被移除
                              example: needs_action
                            third_party_email:
                              type: string
                              description: 外部邮箱类型参与人的邮箱地址。
                              example: wangwu@email.com
                            type:
                              type: string
                              description: 参与人类型。
                              enum:
                              - user
                              - chat
                              - resource
                              - third_party
                              x-enum-descriptions:
                                user: 用户
                                chat: 群组
                                resource: 会议室
                                third_party: 外部邮箱
                              example: user
                            user_id:
                              type: string
                              description: |-
                                用户类型参与人的用户 ID，ID 类型与 user_id_type 的值保持一致。关于用户 ID 可参见[用户相关的 ID 概念](https://open.feishu.cn/document/home/user-identity-introduction/introduction)。

                                **注意**：当 is_external 返回为 true 时，此字段只会返回 open_id 或者 union_id。
                              example: ou_xxxxxxxx
                        description: 日程参与人列表。
                      page_token:
                        type: string
                        description: 下次请求需要带上的分页标记，90 天有效期
                        example: 38RTjheyXXXX
      x-lark-method-id: calendar.event.attendee.list
      x-lark-scopes:
      - calendar:calendar:readonly
      - calendar:calendar
      - calendar:calendar.event:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/calendar/v4/calendars/{calendar_id}/events:
    post:
      operationId: calendar_events_create
      summary: 创建日程
      tags:
      - events
      description: 创建日程
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/create
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          日历 ID。

          创建共享日历时会返回日历 ID。你也可以调用以下接口获取某一日历的 ID。
          - [查询主日历信息](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/primary)
          - [查询日历列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/list)
          - [搜索日历](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/search)
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      - name: idempotency_key
        in: query
        required: false
        schema:
          type: string
        description: 创建日程的幂等 key，该 key 在应用和日历维度下唯一，用于避免重复创建资源。建议按照示例值的格式进行取值。
        example: 25fdf41b-8c80-2ce1-e94c-de8b5e7aa7e6
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attachments:
                  type: array
                  items:
                    type: object
                    properties:
                      file_token:
                        type: string
                        description: |-
                          附件 Token。调用[上传素材](https://open.larkoffice.com/document/server-docs/docs/drive-v1/media/upload_all)接口，获取附件的 file_token。在调用上传素材接口时需要注意：

                          - `parent_type` 需传入固定值 `calendar`。
                          - `parent_node` 需传入与当前接口一致的日历 ID。

                          **附件校验规则**：附件总大小不超过 25 MB。
                        example: xAAAAA
                  description: 日程附件。
                attendee_ability:
                  type: string
                  description: |-
                    参与人权限。

                    **默认值**：none
                  enum:
                  - none
                  - can_see_others
                  - can_invite_others
                  - can_modify_event
                  x-enum-descriptions:
                    none: 无法编辑日程、无法邀请其它参与人、无法查看参与人列表
                    can_see_others: 无法编辑日程、无法邀请其它参与人、可以查看参与人列表
                    can_invite_others: 无法编辑日程、可以邀请其它参与人、可以查看参与人列表
                    can_modify_event: 可以编辑日程、可以邀请其它参与人、可以查看参与人列表
                  example: can_see_others
                color:
                  type: integer
                  description: |-
                    日程颜色，取值通过颜色 RGB 值的 int32 表示。

                    **注意**：
                    - 该参数仅对当前身份生效。
                    - 客户端展示时会映射到色板上最接近的一种颜色。
                    - 取值为 0 或 -1 时，默认跟随日历颜色。
                  example: -1
                description:
                  type: string
                  description: |-
                    日程描述。支持解析Html标签。

                    **注意**：可以通过Html标签来实现部分富文本格式，但是客户端生成的富文本格式并不是通过Html标签实现，如果通过客户端生成富文本描述后，再通过API更新描述，会导致客户端原来的富文本格式丢失。
                  example: 日程描述
                end_time:
                  type: object
                  properties:
                    date:
                      type: string
                      description: |-
                        结束时间，仅全天日程使用该字段，[RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) 格式，例如，2018-09-01。

                        **注意**：该参数不能与 `timestamp` 同时指定。
                      example: '2018-09-01'
                    timestamp:
                      type: string
                      description: |-
                        秒级时间戳，用于设置具体的结束时间。例如，1602504000 表示 2020/10/12 20:00:00（UTC +8 时区）。

                        **注意**：该参数不能与 `date` 同时指定。
                      example: '1602504000'
                    timezone:
                      type: string
                      description: |-
                        时区。使用 IANA Time Zone Database 标准，例如 Asia/Shanghai。

                        - 全天日程时区固定为UTC +0
                        - 非全天日程时区默认为 Asia/Shanghai
                      example: Asia/Shanghai
                  description: 日程结束时间。
                event_check_in:
                  type: object
                  properties:
                    check_in_end_time:
                      type: object
                      properties:
                        duration:
                          type: integer
                          description: |-
                            相对于日程开始或者结束的偏移量(分钟)。
                            - 目前取值只能为列表[0, 5, 15, 30, 60]之一，0表示立即开始。
                            - 当time_type为before_event_start，duration不能取0
                          example: 0
                          minimum: 0
                          maximum: 60
                        time_type:
                          type: string
                          description: 偏移量(分钟)相对于的日程时间节点类型。
                          enum:
                          - before_event_start
                          - after_event_start
                          - after_event_end
                          x-enum-descriptions:
                            before_event_start: 日程开始前
                            after_event_start: 日程开始后
                            after_event_end: 日程结束后
                      required:
                      - duration
                      - time_type
                      description: |-
                        日程签到结束时间。

                        **注意**：签到开始时间不能大于或者等于签到结束时间。
                    check_in_start_time:
                      type: object
                      properties:
                        duration:
                          type: integer
                          description: |-
                            相对于日程开始或者结束的偏移量(分钟)。
                            - 目前取值只能为列表[0, 5, 15, 30, 60]之一，0表示立即开始。
                            - 当time_type为before_event_start，duration不能取0
                          example: 0
                          minimum: 0
                          maximum: 60
                        time_type:
                          type: string
                          description: 偏移量(分钟)相对于的日程时间节点类型。
                          enum:
                          - before_event_start
                          - after_event_start
                          - after_event_end
                          x-enum-descriptions:
                            before_event_start: 日程开始前
                            after_event_start: 日程开始后
                            after_event_end: 日程结束后
                      required:
                      - duration
                      - time_type
                      description: |-
                        日程签到开始时间。

                        **注意**：签到开始时间不能大于或者等于签到结束时间。
                    enable_check_in:
                      type: boolean
                      description: 是否启用日程签到。
                      example: true
                    need_notify_attendees:
                      type: boolean
                      description: 签到开始时是否自动发送签到通知给参与者
                  required:
                  - enable_check_in
                  description: 日程签到设置，为空则不进行日程签到设置。
                free_busy_status:
                  type: string
                  description: |-
                    日程占用的忙闲状态，新建日程默认为 `busy`。

                    **注意**：该参数仅在新建日程时，对所有参与人生效。如果后续更新日程时修改了该参数值，则仅对当前身份生效。
                  enum:
                  - busy
                  - free
                  x-enum-descriptions:
                    busy: 忙碌
                    free: 空闲
                  example: busy
                location:
                  type: object
                  properties:
                    address:
                      type: string
                      description: 地点地址。
                      example: 地点地址
                    latitude:
                      type: number
                      description: |-
                        地点坐标纬度信息。
                        - 对于国内的地点，采用 GCJ-02 标准。
                        - 对于海外的地点，采用 WGS84 标准。
                      example: 1.100000023841858
                    longitude:
                      type: number
                      description: |-
                        地点坐标经度信息。
                        - 对于国内的地点，采用 GCJ-02 标准。
                        - 对于海外的地点，采用 WGS84 标准。
                      example: 2.200000047683716
                    name:
                      type: string
                      description: 地点名称。
                      example: 地点名称
                  description: 日程地点，不传值则默认为空。
                need_notification:
                  type: boolean
                  description: |-
                    更新日程时，是否给日程参与人发送 Bot 通知。

                    **可选值有**：
                    - true：发送通知
                    - false：不发送通知

                    **默认值**：true
                  example: false
                recurrence:
                  type: string
                  description: "重复日程的重复性规则，规则设置方式参考[rfc5545](https://datatracker.ietf.org/doc/html/rfc5545#section-3.3.10)。\n\
                    \n**默认值**：空，表示当前日程不是重复日程。\n\n**注意**：\n- COUNT 和 \n UNTIL 不支持同时出现。\n- 预定会议室重复日程长度不得超过两年。"
                  example: FREQ=DAILY;INTERVAL=1
                reminders:
                  type: array
                  items:
                    type: object
                    properties:
                      minutes:
                        type: integer
                        description: |-
                          日程提醒时间的偏移量。
                          - 正数时表示在日程开始前 X 分钟提醒。
                          - 负数时表示在日程开始后 X 分钟提醒。

                          **注意**：新建或更新日程时传入该字段，仅对当前身份生效，不会对日程的其他参与人生效。
                        example: 5
                        minimum: -20160
                        maximum: 20160
                  description: 日程提醒列表。不传值则默认为空。
                schemas:
                  type: array
                  items:
                    type: object
                    properties:
                      app_link:
                        type: string
                        description: |-
                          按钮点击后跳转的链接。

                          **注意**：兼容性参数，只读，因此暂不支持传入该请求参数。
                        example: https://applink.feishu.cn/client/calendar/event/detail?calendarId=xxxxxx&key=xxxxxx&originalTime=xxxxxx&startTime=xxxxxx
                      ui_name:
                        type: string
                        description: "UI 名称。\n\n**可选值有**： \n- ForwardIcon：日程转发按钮 \n- MeetingChatIcon：会议群聊按钮 \n- MeetingMinutesIcon：会议纪要按钮\
                          \ \n- MeetingVideo：视频会议区域 \n- RSVP：接受、拒绝、待定区域 \n- Attendee：参与者区域 \n- OrganizerOrCreator：组织者或创建者区域"
                        example: ForwardIcon
                      ui_status:
                        type: string
                        description: UI 项的状态。目前只支持选择 `hide`。
                        enum:
                        - hide
                        - readonly
                        - editable
                        - unknown
                        x-enum-descriptions:
                          hide: 隐藏显示
                          readonly: 只读
                          editable: 可编辑
                          unknown: 未知UI项自定义状态，仅用于读取时兼容
                        example: hide
                  description: 日程自定义信息，控制日程详情页的 UI 展示。不传值则默认为空。
                source:
                  type: string
                  description: 日程source
                  example: source
                start_time:
                  type: object
                  properties:
                    date:
                      type: string
                      description: |-
                        开始时间，仅全天日程使用该字段，[RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) 格式，例如，2018-09-01。

                        **注意**：该参数不能与 `timestamp` 同时指定。
                      example: '2018-09-01'
                    timestamp:
                      type: string
                      description: |-
                        秒级时间戳，用于设置具体的开始时间。例如，1602504000 表示 2020/10/12 20:00:00（UTC +8 时区）。

                        **注意**：该参数不能与 `date` 同时指定。
                      example: '1602504000'
                    timezone:
                      type: string
                      description: |-
                        时区。使用 IANA Time Zone Database 标准，例如 Asia/Shanghai。

                        - 全天日程时区固定为UTC +0
                        - 非全天日程时区默认为 Asia/Shanghai
                      example: Asia/Shanghai
                  description: 日程开始时间。
                summary:
                  type: string
                  description: |-
                    日程标题。

                    **注意**：为确保数据安全，系统会自动检测日程标题内容，当包含 **晋升、绩效、述职、调薪、调级、复议、申诉、校准、答辩** 中任一关键词时，该日程不会生成会议纪要。
                  example: 日程标题
                vchat:
                  type: object
                  properties:
                    description:
                      type: string
                      description: |-
                        第三方视频会议文案。

                        **默认值**：空，为空展示默认文案。
                      example: 发起视频会议
                    icon_type:
                      type: string
                      description: |-
                        第三方视频会议的 icon 类型。

                        **默认值**：default
                      enum:
                      - vc
                      - live
                      - default
                      x-enum-descriptions:
                        vc: 飞书视频会议icon
                        live: 直播视频会议icon
                        default: 默认icon
                      example: vc
                    live_link:
                      type: string
                      description: VC视频会议转直播URL，当vc_type=vc时有值。
                      example: https://meetings.feishu.cn/s/1iof4hpw6i51w
                    meeting_settings:
                      type: object
                      properties:
                        allow_attendees_start:
                          type: boolean
                          description: |-
                            是否允许日程参与者发起会议。

                            **可选值有**：
                            - true（默认值）：允许
                            - false：不允许

                            **注意**：应用日历上操作日程时，该字段必须为 true，否则没有人能发起会议。
                          example: true
                        assign_hosts:
                          type: array
                          items: {}
                          description: |-
                            通过用户 ID 指定主持人，ID 类型需和 user_id
                            _type 保持一致。

                            **注意**：
                            - 仅日程组织者可以指定主持人。
                            - 主持人不能是非用户身份。
                            - 主持人不能是外部租户用户身份。
                            - 在应用日历上操作日程时，不允许指定主持人。
                        auto_record:
                          type: boolean
                          description: |-
                            是否开启自动录制。

                            **可选值有**：
                            - true：开启
                            - false（默认值）：不开启
                          example: false
                        join_meeting_permission:
                          type: string
                          description: |-
                            设置入会范围。

                            **默认值**：anyone_can_join
                          enum:
                          - anyone_can_join
                          - only_organization_employees
                          - only_event_attendees
                          x-enum-descriptions:
                            anyone_can_join: 所有人可以加入会议。
                            only_organization_employees: 仅企业内的用户可以加入会议
                            only_event_attendees: 仅日程参与者可以加入会议
                          example: only_organization_employees
                        open_lobby:
                          type: boolean
                          description: |-
                            是否开启等候室。

                            **可选值有**：
                            - true（默认值）：开启
                            - false：不开启
                          example: true
                        owner_id:
                          type: string
                          description: |-
                            设置会议 owner 的用户 ID，ID 类型需和 user_id
                            _type 保持一致。

                            该参数需满足以下全部条件才会生效：
                            -  应用身份（tenant_access_token）请求，且在应用日历上操作日程。
                            - 首次将日程设置为 VC 会议时，才能设置owner。
                            - owner 不能为非用户身份。
                            - owner 不能为外部租户用户身份。
                          example: ou_7d8a6e6df7621556ce0d21922b676706ccs
                        password:
                          type: string
                          description: （灰度中，仅部分租户可见）设置会议密码，仅支持 4-9 位数字
                          example: '971024'
                      description: |-
                        飞书视频会议（VC）的会前设置，需满足以下全部条件：
                        - 当 `vc_type` 为 `vc` 时生效。
                        - 需要有日程的编辑权限。
                    meeting_url:
                      type: string
                      description: 视频会议 URL。
                      example: https://example.com
                    third_party_meeting_settings:
                      type: object
                      properties:
                        meeting_descriptions:
                          type: array
                          items: {}
                          description: 多语言会议描述
                        meeting_id:
                          type: string
                          description: 会议ID
                          example: '123'
                        meeting_no:
                          type: string
                          description: 会议号
                          example: '123'
                        meeting_type:
                          type: string
                          description: 三方会议类型
                          example: julinker
                        password:
                          type: string
                          description: 密码
                          example: '123'
                      description: 三方会议设置
                    vc_info:
                      type: object
                      properties:
                        meeting_no:
                          type: string
                          description: 会议号
                          example: '808056935'
                        unique_id:
                          type: string
                          description: 会议唯一ID
                          example: '7226647229510582291'
                      required:
                      - meeting_no
                      - unique_id
                      description: VC视频会议原生信息。
                    vc_type:
                      type: string
                      description: |-
                        视频会议类型。如果无需视频会议，则必须传入 `no_meeting`。

                        **默认值**：空，表示在首次添加日程参与人时，会自动生成飞书视频会议 URL。
                      enum:
                      - vc
                      - third_party
                      - no_meeting
                      - lark_live
                      - unknown
                      - third_party_meeting
                      x-enum-descriptions:
                        vc: 飞书视频会议
                        third_party: 第三方链接视频会议
                        no_meeting: 无视频会议
                        lark_live: Lark直播
                        unknown: 未知类型
                        third_party_meeting: 三方会议类型
                      example: third_party
                  description: 视频会议信息。
                visibility:
                  type: string
                  description: |-
                    日程公开范围，新建日程默认为 `default`。

                    **注意**：该参数仅在新建日程时，对所有参与人生效。如果后续更新日程修改了该参数值，则仅对当前身份生效。
                  enum:
                  - default
                  - public
                  - private
                  x-enum-descriptions:
                    default: 默认权限，仅向他人显示是否“忙碌”
                    public: 公开，显示日程详情
                    private: 私密，仅自己可见详情
                  example: default
              required:
              - end_time
              - start_time
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      event:
                        type: object
                        properties:
                          app_link:
                            type: string
                            description: 日程的 app_link，用于跳转到具体的某个日程。
                            example: https://applink.feishu.cn/client/calendar/event/detail?calendarId=xxxxxx&key=xxxxxx&originalTime=xxxxxx&startTime=xxxxxx
                          attachments:
                            type: array
                            items:
                              type: object
                              properties:
                                file_size:
                                  type: string
                                  description: 附件大小
                                  example: '2345'
                                file_token:
                                  type: string
                                  description: |-
                                    附件 Token。调用[上传素材](https://open.larkoffice.com/document/server-docs/docs/drive-v1/media/upload_all)接口，获取附件的 file_token。在调用上传素材接口时需要注意：

                                    - `parent_type` 需传入固定值 `calendar`。
                                    - `parent_node` 需传入与当前接口一致的日历 ID。

                                    **附件校验规则**：附件总大小不超过 25 MB。
                                  example: xAAAAA
                                is_deleted:
                                  type: boolean
                                  description: 是否删除附件
                                  example: false
                                name:
                                  type: string
                                  description: 附件名称
                                  example: 附件.jpeg
                            description: 日程附件。
                          attendee_ability:
                            type: string
                            description: 参与人权限。
                            enum:
                            - none
                            - can_see_others
                            - can_invite_others
                            - can_modify_event
                            x-enum-descriptions:
                              none: 无法编辑日程、无法邀请其它参与人、无法查看参与人列表
                              can_see_others: 无法编辑日程、无法邀请其它参与人、可以查看参与人列表
                              can_invite_others: 无法编辑日程、可以邀请其它参与人、可以查看参与人列表
                              can_modify_event: 可以编辑日程、可以邀请其它参与人、可以查看参与人列表
                            example: can_see_others
                          color:
                            type: integer
                            description: |-
                              日程颜色，由颜色 RGB 值的 int32 表示。

                              **说明**：
                              - 仅对当前身份生效。
                              - 取值为 0 或 -1 时，表示默认跟随日历颜色。
                              - 客户端展示时会映射到色板上最接近的一种颜色。
                            example: -1
                          create_time:
                            type: string
                            description: 日程的创建时间（秒级时间戳）。
                            example: '1602504000'
                          description:
                            type: string
                            description: 日程描述。
                            example: 日程描述
                          end_time:
                            type: object
                            properties:
                              date:
                                type: string
                                description: 结束时间，仅全天日程使用该字段，[RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) 格式，例如，2018-09-01。
                                example: '2018-09-01'
                              timestamp:
                                type: string
                                description: 秒级时间戳，指日程具体的结束时间。例如，1602504000 表示 2020/10/12 20:00:00（UTC +8 时区）。
                                example: '1602504000'
                              timezone:
                                type: string
                                description: 时区。使用 IANA Time Zone Database 标准。
                                example: Asia/Shanghai
                            description: 日程结束时间。
                          event_check_in:
                            type: object
                            properties:
                              check_in_end_time:
                                type: object
                                properties: {}
                                description: 日程签到结束时间。
                              check_in_start_time:
                                type: object
                                properties: {}
                                description: 日程签到开始时间。
                              enable_check_in:
                                type: boolean
                                description: 是否启用日程签到。
                                example: true
                              need_notify_attendees:
                                type: boolean
                                description: 签到开始时是否自动发送签到通知给参与者
                            required:
                            - enable_check_in
                            description: 日程签到设置，为空则不进行日程签到设置。
                          event_id:
                            type: string
                            description: 日程 ID。后续可通过该 ID 查询、更新或删除日程信息。更多信息参见[日程 ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/introduction)。
                            example: 00592a0e-7edf-4678-bc9d-1b77383ef08e_0
                          event_organizer:
                            type: object
                            properties:
                              display_name:
                                type: string
                                description: 日程组织者姓名。
                                example: 李健
                              user_id:
                                type: string
                                description: 日程组织者 user ID。
                                example: ou_xxxxxx
                            description: 日程组织者信息。
                          free_busy_status:
                            type: string
                            description: 日程占用的忙闲状态。新建日程默认为 `busy`，且仅新建日程时，对所有参与人生效。如果后续更新日程时修改了该参数值，则仅对当前身份生效。
[...]
