# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 即时通讯 API
  description: |-
    消息发送、群聊管理

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: im
  x-lark-service-api-version: v1
  x-lark-registry-version: 1.0.0
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: chat.managers
- name: chat.members
- name: chat.moderation
- name: chat.nickname
- name: chat.user_setting
- name: chats
- name: feed.groups
- name: images
- name: messages
- name: pins
- name: reactions
- name: threads
paths:
  /open-apis/im/v1/chats/{chat_id}/managers/add_managers:
    post:
      operationId: im_chat_managers_add_managers
      summary: 指定群管理员
      tags:
      - chat.managers
      description: |-
        指定群管理员。Identity: supports `user` and `bot`
         only the group owner can add managers
         max 10 managers per chat (20 for super-large chats), and at most 5 bots per request.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-managers/add_managers
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          群 ID。获取方式：

          - [创建群](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/create)，从返回结果中获取该群的 chat_id。
          - 调用[获取用户或机器人所在的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/list)接口，可以查询用户或机器人所在群的 chat_id。
          - 调用[搜索对用户或机器人可见的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/search)，可搜索用户或机器人所在的群、对用户或机器人公开的群的 chat_id。

          **注意**：仅支持群模式为 **群组（group）**、**话题（topic）** 的群组 ID。你可以调用[获取群信息](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/get)接口，在返回结果中查看 `chat_mode` 参数取值是否为 `group`、`topic`。
        example: oc_a0553eda9014c201e6969b478895c230
      - name: member_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - app_id
          x-enum-descriptions:
            user_id: 标识一个用户在某个租户内的身份。同一个用户在租户 A 和租户 B 内的 User ID 是不同的。在同一个租户内，一个用户的 User ID 在所有应用（包括商店应用）中都保持一致。User ID 主要用于在不同的应用间打通用户数据。[了解更多：如何获取
              User ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-user-id)
            union_id: 标识一个用户在某个应用开发商下的身份。同一用户在同一开发商下的应用中的 Union ID 是相同的，在不同开发商下的应用中的 Union ID 是不同的。通过 Union ID，应用开发商可以把同个用户在多个应用中的身份关联起来。[了解更多：如何获取
              Union ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-union-id)
            open_id: 标识一个用户在某个应用中的身份。同一个用户在不同应用中的 Open ID 不同。[了解更多：如何获取 Open ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)
            app_id: 飞书开放平台应用的唯一标识。在创建应用时，由系统自动生成，用户不能自行修改。[了解更多：如何获取应用的 App ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-app-id)
        description: 用户 ID 类型
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                manager_ids:
                  type: array
                  items: {}
                  description: |-
                    要设置为管理员的 ID，ID 类型与查询参数 member_id_type 取值一致。

                    - 如果是用户（member_id_type 取值为 user_id/open_id/union_id），推荐使用用户的 open_id，获取方式可参考文档[如何获取 Open ID](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)。

                    - 如果是机器人（member_id_type 取值为 app_id），请参考[如何获取应用的 App ID](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-app-id)

                    **注意**：

                    - 对于普通群，最多可指定 10 个管理员。
                    - 对于超大群，最多可指定 20 个管理员。
                    - 单次请求指定机器人时，最多可指定 5 个机器人。

                    超大群和普通群的区别，参见[超大群与普通群有什么区别](https://www.feishu.cn/hc/zh-CN/articles/374791927841)。
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      chat_bot_managers:
                        type: array
                        items: {}
                        description: 当前群组内，机器人类型管理员的 App ID。
                      chat_managers:
                        type: array
                        items: {}
                        description: 当前群组内，用户类型管理员的用户 ID。ID 类型与查询参数 member_id_type 取值一致（如果 member_id_type 取值 app_id，则当前参数返回的是用户
                          open_id）。
      x-lark-method-id: chat.managers.add_managers
      x-lark-scopes:
      - im:chat
      - im:chat.managers:write_only
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/im/v1/chats/{chat_id}/managers/delete_managers:
    post:
      operationId: im_chat_managers_delete_managers
      summary: 删除群管理员
      tags:
      - chat.managers
      description: |-
        删除群管理员。Identity: supports `user` and `bot`
         only the group owner can remove managers
         max 50 users or 5 bots per request.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-managers/delete_managers
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          群 ID。获取方式：

          - [创建群](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/create)，从返回结果中获取该群的 chat_id。
          - 调用[获取用户或机器人所在的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/list)接口，可以查询用户或机器人所在群的 chat_id。
          - 调用[搜索对用户或机器人可见的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/search)，可搜索用户或机器人所在的群、对用户或机器人公开的群的 chat_id。

          **注意**：仅支持群模式为 **群组（group）**、**话题（topic）** 的群组 ID。你可以调用[获取群信息](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/get)接口，在返回结果中查看 `chat_mode` 参数取值是否为 `group`、`topic`。
        example: oc_a0553eda9014c201e6969b478895c230
      - name: member_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - app_id
          x-enum-descriptions:
            user_id: 标识一个用户在某个租户内的身份。同一个用户在租户 A 和租户 B 内的 User ID 是不同的。在同一个租户内，一个用户的 User ID 在所有应用（包括商店应用）中都保持一致。User ID 主要用于在不同的应用间打通用户数据。[了解更多：如何获取
              User ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-user-id)
            union_id: 标识一个用户在某个应用开发商下的身份。同一用户在同一开发商下的应用中的 Union ID 是相同的，在不同开发商下的应用中的 Union ID 是不同的。通过 Union ID，应用开发商可以把同个用户在多个应用中的身份关联起来。[了解更多：如何获取
              Union ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-union-id)
            open_id: 标识一个用户在某个应用中的身份。同一个用户在不同应用中的 Open ID 不同。[了解更多：如何获取 Open ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)
            app_id: 飞书开放平台应用的唯一标识。在创建应用时，由系统自动生成，用户不能自行修改。[了解更多：如何获取应用的 App ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-app-id)
        description: 用户 ID 类型
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                manager_ids:
                  type: array
                  items: {}
                  description: |-
                    要删除的管理员 ID，ID 类型与查询参数 member_id_type 取值一致。

                    - 如果是用户（member_id_type 取值为 user_id/open_id/union_id），推荐使用用户的 open_id，获取方式可参考文档[如何获取 Open ID](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)。

                    - 如果是机器人（member_id_type 取值为 app_id），请参考[如何获取应用的 App ID](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-app-id)

                    **注意**：每次请求最多指定 50 个用户或者 5 个机器人
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      chat_bot_managers:
                        type: array
                        items: {}
                        description: 当前群组内，机器人类型管理员的 App ID。
                      chat_managers:
                        type: array
                        items: {}
                        description: 当前群组内，用户类型管理员的用户 ID。ID 类型与查询参数 member_id_type 取值一致（如果 member_id_type 取值 app_id，则当前参数返回的是用户
                          open_id）。
      x-lark-method-id: chat.managers.delete_managers
      x-lark-scopes:
      - im:chat
      - im:chat.managers:write_only
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/im/v1/chats/{chat_id}/members/bots:
    get:
      operationId: im_chat_members_bots
      summary: 获取群内机器人列表
      tags:
      - chat.members
      description: |-
        获取群内机器人列表。Identity: supports `user` and `bot`
         the caller must be in the target chat and must belong to the same tenant for internal chats.
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: 群ID
        example: oc_a0553eda9014c201e6969b478895c230
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            bot_id:
                              type: string
                              description: 机器人的 open_id
                              example: ou_a0553eda9014c201e6969b478895c230
                            bot_name:
                              type: string
                              description: 机器人名称
                              example: 值班机器人
                        description: 机器人列表
      x-lark-method-id: chat.members.bots
      x-lark-scopes:
      - im:chat:readonly
      - im:chat
      - im:chat.group_info:readonly
      - im:chat.members:read
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/im/v1/chats/{chat_id}/members:
    post:
      operationId: im_chat_members_create
      summary: 将用户或机器人拉入群聊
      tags:
      - chat.members
      description: |-
        将用户或机器人拉入群聊。Identity: supports `user` and `bot`
         the caller must be in the target chat
         for `bot` calls, added users must be within the app's availability
         for internal chats the operator must belong to the same tenant
         if only owners/admins can add members, the caller must be an owner/admin, or a chat-creator bot with `im:chat:operate_as_owner`.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-members/create
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          群 ID。获取方式：

          - [创建群](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/create)，从返回结果中获取该群的 chat_id。
          - 调用[获取用户或机器人所在的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/list)接口，可以查询用户或机器人所在群的 chat_id。
          - 调用[搜索对用户或机器人可见的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/search)，可搜索用户或机器人所在的群、对用户或机器人公开的群的 chat_id。

          **注意**：仅支持群模式为 **群组（group）**、**话题（topic）** 的群组 ID。你可以调用[获取群信息](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/get)接口，在返回结果中查看 `chat_mode` 参数取值是否为 `group`、`topic`。
        example: oc_a0553eda9014c201e6969b478895c230
      - name: member_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - app_id
          x-enum-descriptions:
            user_id: 标识一个用户在某个租户内的身份。同一个用户在租户 A 和租户 B 内的 User ID 是不同的。在同一个租户内，一个用户的 User ID 在所有应用（包括商店应用）中都保持一致。User ID 主要用于在不同的应用间打通用户数据。[了解更多：如何获取
              User ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-user-id)
            union_id: 标识一个用户在某个应用开发商下的身份。同一用户在同一开发商下的应用中的 Union ID 是相同的，在不同开发商下的应用中的 Union ID 是不同的。通过 Union ID，应用开发商可以把同个用户在多个应用中的身份关联起来。[了解更多：如何获取
              Union ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-union-id)
            open_id: 标识一个用户在某个应用中的身份。同一个用户在不同应用中的 Open ID 不同。[了解更多：如何获取 Open ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)
            app_id: 飞书开放平台应用的唯一标识。在创建应用时，由系统自动生成，用户不能自行修改。[了解更多：如何获取应用的 App ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-app-id)
          default: open_id
        description: 用户 ID 类型
        example: open_id
      - name: succeed_type
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          x-enum-descriptions:
            '0': 不存在/不可见的 ID 会拉群失败，并返回错误响应。存在已离职 ID 时，会将其他可用 ID 拉入群聊，返回拉群成功的响应。
            '1': 将参数中可用的 ID 全部拉入群聊，返回拉群成功的响应，并展示剩余不可用的 ID 及原因。
            '2': 参数中只要存在任一不可用的 ID ，就会拉群失败，返回错误响应，并展示出不可用的 ID。
        description: |-
          出现不可用ID后的处理方式 0/1/2

          **默认值**：`0`
        example: 0
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id_list:
                  type: array
                  items: {}
                  description: |-
                    成员 ID 列表。

                    - 邀请用户进群时推荐使用 OpenID，获取方式可参考文档[如何获取 Open ID？](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)

                    - 邀请机器人进群时需填写应用的 App ID，请参考[如何获取应用的 App ID？](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-app-id)

                    **注意**：
                    - 成员列表不可为空
                    - 列表中填写的成员 ID 类型应与 `member_id_type` 参数中选择的类型相对应
                    - 每次请求最多拉 50 个用户且不超过群人数上限。对于已认证企业的飞书的群人数默认上限：普通群 5000 人，会议群 3000 人，话题群 5000 人。若租户管理员配置了群人数上限，则群人数上限为该人数上限
                    - 最多同时邀请 5 个机器人，且邀请后群组中机器人数量不能超过 15 个
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      invalid_id_list:
                        type: array
                        items: {}
                        description: |-
                          无效成员列表

                          **注意**：
                          - 当`success_type` 取值为 `0`时，`invalid_id_list`只包含已离职的用户ID
                          - 当`success_type` 取值为 `1`时，`invalid_id_list`中包含已离职的、不可见的、应用未激活的 ID
                      not_existed_id_list:
                        type: array
                        items: {}
                        description: ID 不存在的成员列表
                      pending_approval_id_list:
                        type: array
                        items: {}
                        description: 等待群主或管理员审批的成员 ID 列表
      x-lark-method-id: chat.members.create
      x-lark-scopes:
      - im:chat
      - im:chat.members:write_only
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
    delete:
      operationId: im_chat_members_delete
      summary: 将用户或机器人移出群聊
      tags:
      - chat.members
      description: |-
        将用户或机器人移出群聊。Identity: supports `user` and `bot`
         only group owner, admin, or creator bot can remove others
         max 50 users or 5 bots per request.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-members/delete
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          群 ID。获取方式：

          - [创建群](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/create)，从返回结果中获取该群的 chat_id。
          - 调用[获取用户或机器人所在的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/list)接口，可以查询用户或机器人所在群的 chat_id。
          - 调用[搜索对用户或机器人可见的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/search)，可搜索用户或机器人所在的群、对用户或机器人公开的群的 chat_id。

          **注意**：仅支持群模式为 **群组（group）**、**话题（topic）** 的群组 ID。你可以调用[获取群信息](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/get)接口，在返回结果中查看 `chat_mode` 参数取值是否为 `group`、`topic`。
        example: oc_a0553eda9014c201e6969b478895c230
      - name: member_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - app_id
          x-enum-descriptions:
            user_id: 标识一个用户在某个租户内的身份。同一个用户在租户 A 和租户 B 内的 User ID 是不同的。在同一个租户内，一个用户的 User ID 在所有应用（包括商店应用）中都保持一致。User ID 主要用于在不同的应用间打通用户数据。[了解更多：如何获取
              User ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-user-id)
            union_id: 标识一个用户在某个应用开发商下的身份。同一用户在同一开发商下的应用中的 Union ID 是相同的，在不同开发商下的应用中的 Union ID 是不同的。通过 Union ID，应用开发商可以把同个用户在多个应用中的身份关联起来。[了解更多：如何获取
              Union ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-union-id)
            open_id: 标识一个用户在某个应用中的身份。同一个用户在不同应用中的 Open ID 不同。[了解更多：如何获取 Open ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)
            app_id: 飞书开放平台应用的唯一标识。在创建应用时，由系统自动生成，用户不能自行修改。[了解更多：如何获取应用的 App ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-app-id)
          default: open_id
        description: 用户 ID 类型
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id_list:
                  type: array
                  items: {}
                  description: |-
                    成员 ID 列表。ID 类型与查询参数 member_id_type 的取值一致。

                    - 移除群内的用户时推荐使用 OpenID，获取方式可参考文档[如何获取 Open ID？](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)。
                    - 移除群内的机器人时需填写应用的 App ID，请参考[如何获取应用的 App ID？](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-app-id)。

                    **注意**：
                    - 成员列表不可为空。
                    - 每次请求，最多移除 50 个用户或者 5 个机器人。
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      invalid_id_list:
                        type: array
                        items: {}
                        description: 无效成员列表。
      x-lark-method-id: chat.members.delete
      x-lark-scopes:
      - im:chat
      - im:chat.members:write_only
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: high-risk-write
      x-lark-danger: true
    get:
      operationId: im_chat_members_get
      summary: 获取群成员列表
      tags:
      - chat.members
      description: |-
        获取群成员列表。Identity: supports `user` and `bot`
         the caller must be in the target chat and must belong to the same tenant for internal chats.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-members/get
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          群 ID。获取方式：

          - [创建群](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/create)，从返回结果中获取该群的 chat_id。
          - 调用[获取用户或机器人所在的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/list)接口，可以查询用户或机器人所在群的 chat_id。
          - 调用[搜索对用户或机器人可见的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/search)，可搜索用户或机器人所在的群、对用户或机器人公开的群的 chat_id。
        example: oc_a0553eda9014c201e6969b478895c230
      - name: check_security_conf
        in: query
        required: false
        schema:
          type: boolean
        description: 是否检查安全配置
      - name: member_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 标识一个用户在某个租户内的身份。同一个用户在租户 A 和租户 B 内的 User ID 是不同的。在同一个租户内，一个用户的 User ID 在所有应用（包括商店应用）中都保持一致。User ID 主要用于在不同的应用间打通用户数据。[了解更多：如何获取
              User ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-user-id)
            union_id: 标识一个用户在某个应用开发商下的身份。同一用户在同一开发商下的应用中的 Union ID 是相同的，在不同开发商下的应用中的 Union ID 是不同的。通过 Union ID，应用开发商可以把同个用户在多个应用中的身份关联起来。[了解更多：如何获取
              Union ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-union-id)
            open_id: 标识一个用户在某个应用中的身份。同一个用户在不同应用中的 Open ID 不同。[了解更多：如何获取 Open ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)
        description: 用户 ID 类型
        example: open_id
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: |-
          分页大小，用来限制一次请求所返回的数据条目数。

          - 由于返回的群成员列表会过滤掉机器人成员，因此返回的群成员个数可能会小于指定的 page_size。
           - 如果有同一时间加入群的群成员，会一次性返回，这会导致返回的群成员个数可能会大于指定的 page_size。
        example: 20;;**默认值**：`20`;;**数据校验规则**：;;- 最大值：`100`
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: WWxHTStrOEs5WHZpNktGbU94bUcvMWlxdDUzTWt1OXNrRmlLaGRNVG0yaz0=
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            member_id:
                              type: string
                              description: |-
                                成员的用户ID，ID 值与查询参数中的 member_id_type 对应。

                                不同 ID 的说明参见 [用户相关的 ID 概念](https://open.feishu.cn/document/home/user-identity-introduction/introduction)
                              example: 4d7a3c6g
                            member_id_type:
                              type: string
                              description: 成员的用户 ID 类型，与查询参数中的 member_id_type 相同。取值为：`open_id`、`user_id`、`union_id`其中之一。
                              example: user_id
                            name:
                              type: string
                              description: 名字
                              example: 张三
                            tenant_key:
                              type: string
                              description: 租户Key，为租户在飞书上的唯一标识，用来换取对应的tenant_access_token，也可以用作租户在应用中的唯一标识
                              example: 736588c9260f175d
                        description: 成员列表
                      member_total:
                        type: integer
                        description: 成员总数
                        example: 2
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: '0'
                      security_conf_limit:
                        type: integer
                        description: 安全配置支持的最大查询群成员数量
                        example: 100
                      trigger_security_conf_limit:
                        type: boolean
                        description: 是否触发了安全配置
      x-lark-method-id: chat.members.get
      x-lark-scopes:
      - im:chat:readonly
      - im:chat
      - im:chat.group_info:readonly
      - im:chat.members:read
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/im/v1/chats/{chat_id}/moderation:
    get:
      operationId: im_chat_moderation_get
      summary: 获取群成员发言权限
      tags:
      - chat.moderation
      description: |-
        获取群成员发言权限。Identity: supports `user` and `bot`
         the caller must be in the target chat and belong to the same tenant.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-moderation/get
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          群 ID。获取方式：

          - [创建群](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/create)，从返回结果中获取该群的 chat_id。
          - 调用[获取用户或机器人所在的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/list)接口，可以查询用户或机器人所在群的 chat_id。
          - 调用[搜索对用户或机器人可见的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/search)，可搜索用户或机器人所在的群、对用户或机器人公开的群的 chat_id。
        example: oc_a0553eda9014c201e6969b478895c230
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小，用来限制一次请求返回的数据条目数。
        example: dmJCRHhpd3JRbGV1VEVNRFFyTitRWDY5ZFkybmYrMEUwMUFYT0VMMWdENEtuYUhsNUxGMDIwemtvdE5ORjBNQQ==
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          maxLength: 100
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '10'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: false
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            tenant_key:
                              type: string
                              description: 租户 Key，为租户在飞书上的唯一标识，用来换取对应的tenant_access_token，也可以用作租户在应用中的唯一标识。
                              example: 2ca1d211f64f6438
                            user_id:
                              type: string
                              description: 可发言用户 ID，ID 类型与查询参数 user_id_type 取值一致。
                              example: 4d7a3c6g
                            user_id_type:
                              type: string
                              description: 可发言用户 ID 类型
                              example: user_id
                        description: 可发言用户列表，当群发言模式为 `moderator_list` 时，该参数有返回值。
                      moderation_setting:
                        type: string
                        description: |-
                          群发言模式，可能值有：

                          - all_members：所有群成员可发言
                          - only_owner：仅群主或管理员可发言
                          - moderator_list：指定群成员可发言
                        example: moderator_list
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: '0'
      x-lark-method-id: chat.moderation.get
      x-lark-scopes:
      - im:chat:readonly
      - im:chat
      - im:chat.moderation:read
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
    put:
      operationId: im_chat_moderation_update
      summary: 更新群发言权限
      tags:
      - chat.moderation
      description: |-
        更新群发言权限。Identity: supports `user` and `bot`
         only the group owner (or creator bot with `im:chat:operate_as_owner`) can update
         the caller must be in the chat.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-moderation/update
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          群 ID。获取方式：

          - [创建群](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/create)，从返回结果中获取该群的 chat_id。
          - 调用[获取用户或机器人所在的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/list)接口，可以查询用户或机器人所在群的 chat_id。
          - 调用[搜索对用户或机器人可见的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/search)，可搜索用户或机器人所在的群、对用户或机器人公开的群的 chat_id。
        example: oc_a0553eda9014c201e6969b478895c230
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                moderation_setting:
                  type: string
                  description: |-
                    群发言模式

                    **可选值有**：
                    - all_members：所有群成员可发言
                    - only_owner：仅群主或管理员可发言
                    - moderator_list：指定群成员可发言，取该值时需要选择设置 `moderator_added_list` 和 `moderator_removed_list`
                  example: moderator_list
                moderator_added_list:
                  type: array
                  items: {}
                  description: |-
                    当 `moderation_setting ` 取值为 `moderator_list` 时，以 ID 列表形式添加可发言的用户。

                    **注意**：

                    - ID 类型与查询参数 user_id_type 取值一致，推荐使用 OpenID，获取方式可参考文档[如何获取 Open ID](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)。
                    - 列表内的用户如果不在群组内，则会被自动过滤掉。
                    - 请求时，请确保 `moderator_added_list` 和 `moderator_removed_list` 两个参数内的 ID 不重复。
                moderator_removed_list:
                  type: array
                  items: {}
                  description: |-
                    当 `moderation_setting ` 取值为 `moderator_list` 时，以 ID 列表形式移除可发言的用户。

                    **注意**：

                    - ID 类型与查询参数 user_id_type 取值一致，推荐使用 OpenID，获取方式可参考文档[如何获取 Open ID](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)。
                    - 列表内的用户如果不在群组内，则会被自动过滤掉。
                    - 请求时，请确保 `moderator_added_list` 和 `moderator_removed_list` 两个参数内的 ID 不重复。
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: chat.moderation.update
      x-lark-scopes:
      - im:chat
      - im:chat:moderation:write_only
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/im/v1/chats/{chat_id}/nickname:
    delete:
      operationId: im_chat_nickname_delete
      summary: 清空自己的群昵称
      tags:
      - chat.nickname
      description: '清空自己的群昵称。Clear your own nickname in the chat (self-only). Identity: `user` only (`user_access_token`).'
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=delete&project=im&resource=chat.nickname&version=v1
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: 群ID
        example: oc_a0553eda9014c201e6969b478895c230
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: chat.nickname.delete
      x-lark-scopes:
      - im:chat
      - im:chat.nickname:write
      x-lark-access-tokens:
      - user
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: im_chat_nickname_get
      summary: 获取自己的群昵称
      tags:
      - chat.nickname
      description: |-
        获取自己的群昵称。Get your own nickname in the chat (self-only). Identity: `user` only (`user_access_token`)
         returns an empty string when no nickname is set.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=get&project=im&resource=chat.nickname&version=v1
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: 群ID
        example: oc_a0553eda9014c201e6969b478895c230
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      nickname:
                        type: string
                        description: 调用 user 在该群当前设置的群昵称；未设置时为空串。
                        example: 小明
      x-lark-method-id: chat.nickname.get
      x-lark-scopes:
      - im:chat
      - im:chat:read
      - im:chat:readonly
      - im:chat.nickname:read
      x-lark-access-tokens:
      - user
      x-lark-risk: read
    put:
      operationId: im_chat_nickname_update
      summary: 设置自己的群昵称
      tags:
      - chat.nickname
      description: |-
        设置自己的群昵称。Set or update your own nickname in the chat (self-only). Identity: `user` only (`user_access_token`)
         `nickname` must be a non-empty string (max 300 bytes). Use DELETE to clear it.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=update&project=im&resource=chat.nickname&version=v1
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: 群ID
        example: oc_a0553eda9014c201e6969b478895c230
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  description: 待设置的群昵称，非空字符串；后端按字节长度上限 300 校验。
                  example: 小明
              required:
              - nickname
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: chat.nickname.update
      x-lark-scopes:
      - im:chat
      - im:chat.nickname:write
      x-lark-access-tokens:
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/im/v1/chat_user_setting/batch_query:
    post:
      operationId: im_chat_user_setting_batch_query
      summary: 批量查询当前用户在群内的个人偏好设置 (e.g. `is_muted` mutes normal messages, …
      tags:
      - chat.user_setting
      description: |-
        批量查询当前用户在群内的个人偏好设置 (e.g. `is_muted` mutes normal messages, `is_mute_at_all` mutes @all messages)
         up to 10 chats per request. Identity: `user` only (`user_access_token`)
         the caller must be in each target chat.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=batch_query&project=im&resource=chat_user_setting&version=v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_ids:
                  type: array
                  items: {}
                  description: 待查询的群 ID 列表。最多 10 个；自动去重；非法格式 chat_id 会进 invalid_ids 而非整体报错。
              required:
              - chat_ids
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      invalid_ids:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 无效的群组ID
                              example: oc_a0553eda9014c201e6969b478895c230
                            msg:
                              type: string
                              description: 无效的原因
                              example: user is not in the chat
                        description: |-
                          未能返回群人设置的 chat_id 列表，每项含原始 id 与失败原因 msg。chat_ids 去重后凡未出现在 items 中的 id 均会出现在此处。
                          msg 取值：
                          - not_a_member：用户不是群成员 / 群不存在 / 群已解散（统一中性化，防成员关系探测侧信道）
                          - invalid_format：chat_id 格式不合法，无法解析
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            chat_id:
                              type: string
                              description: 群组 ID。
                              example: oc_a0553eda9014c201e6969b478895c230
                            is_mute_at_all:
                              type: boolean
                              description: 是否对群内 @所有人 消息免打扰。true=@所有人 不提醒；false=恢复提醒。
                              example: false
                            is_muted:
                              type: boolean
                              description: 是否对群内普通消息（不含 @所有人）免打扰。true=普通消息不提醒；false=恢复提醒
                              example: false
                        description: 调用 user 已是群成员、且成功查询到群人设置的 chat 列表，每项含 chat_id 与 is_muted / is_mute_at_all。顺序不保证；非成员或非法格式的
                          chat_id 不在此列表中（参见 invalid_ids）。
      x-lark-method-id: chat.user_setting.batch_query
      x-lark-scopes:
      - im:chat:read
      - im:chat:readonly
      - im:chat
      - im:chat.user_setting:read
      x-lark-access-tokens:
      - user
      x-lark-risk: read
      x-lark-danger: true
  /open-apis/im/v1/chat_user_setting/batch_update:
    post:
      operationId: im_chat_user_setting_batch_update
      summary: 批量更新当前用户在群内的个人偏好设置 (e.g. `is_muted` mutes normal messages, …
      tags:
      - chat.user_setting
      description: |-
        批量更新当前用户在群内的个人偏好设置 (e.g. `is_muted` mutes normal messages, `is_mute_at_all` mutes @all messages)
         up to 10 chats per request. Identity: `user` only (`user_access_token`)
         the caller must be in each target chat.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=batch_update&project=im&resource=chat_user_setting&version=v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_settings:
                  type: array
                  items:
                    type: object
                    properties:
                      chat_id:
                        type: string
                        description: 群组 ID。
                        example: oc_a0553eda9014c201e6969b478895c230
                      is_mute_at_all:
                        type: boolean
                        description: 是否对群内 @所有人 消息免打扰。true=@所有人 不提醒；false=恢复提醒。
                        example: false
                      is_muted:
                        type: boolean
                        description: 是否对群内普通消息（不含 @所有人）免打扰。true=普通消息不提醒；false=恢复提醒
                        example: false
                  description: 待更新的群人设置列表。最多 10 条；自动按 chat_id 去重（重复保留首条）。单条至少需要传入 is_muted 或 is_mute_at_all 之一，否则该条返 invalid_request；字段缺省即保持原值不变（隐式非空
                    / 不接受 null）。
              required:
              - chat_settings
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      invalid_ids:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 无效的群组ID
                              example: oc_a0553eda9014c201e6969b478895c230
                            msg:
                              type: string
                              description: 无效的原因
                              example: user is not in the chat
                        description: |-
                          更新失败的 chat 列表，每项含 id（原始 chat_id 值）与 msg（失败原因）。
                          **未出现在本列表中的 chat_id 视为更新成功**（隐式成功，无显式 success 标记）。
                          msg 取值：
                          - invalid_format：chat_id 格式不合法
                          - invalid_request：is_muted 与 is_mute_at_all 都未传入
                          - not_a_member：用户不是群成员 / 群不存在 / 群已解散（统一中性化，防成员关系探测侧信道）
                          - internal_failed：服务端写入失败（建议短退避重试，多次失败上报）
                          注：整批限流（rate_limited）通过顶层 HTTP 429 + code 230429 表达，不在本列表中出现。
      x-lark-method-id: chat.user_setting.batch_update
      x-lark-scopes:
      - im:chat
      - im:chat.user_setting:write
      x-lark-access-tokens:
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/im/v1/chats:
    post:
      operationId: im_chats_create
      summary: 创建群
      tags:
      - chats
      description: '创建群。Identity: `bot` only (`tenant_access_token`).'
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/create
      parameters:
      - name: set_bot_manager
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: 如果在请求体的 `owner_id` 字段指定了某个用户为群主，可以选择是否同时设置创建此群的机器人为管理员，此标志位用于标记是否设置创建群的机器人为管理员。
        example: false
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户ID的类型
        example: open_id
      - name: uuid
        in: query
        required: false
        schema:
          type: string
        description: 由开发者生成的唯一字符串序列，用于创建群组请求去重；持有相同 uuid + owner_id（若有） 的请求 10 小时内只可成功创建 1 个群聊。不传值表示不进行请求去重，每一次请求成功后都会创建一个群聊。
        example: b13g2t38-1jd2-458b-8djf-dtbca5104204
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  description: |-
                    群头像对应的 Image Key

                    - 可通过[上传图片](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/image/create)获取（注意：上传图片的 `image_type` 需要指定为 `avatar`）
                    - 不传值则使用系统默认头像
                  example: default-avatar_44ae0ca3-e140-494b-956f-78091e348435
                bot_id_list:
                  type: array
                  items: {}
                  description: "创建群时邀请的群机器人，不填则不邀请机器人。可参考[如何获取应用的 App ID？](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-app-id)来获取应用的\
                    \ App ID\n \n**注意：**\n- 操作此接口的机器人会自动入群，无需重复填写\n- 拉机器人入群请使用 `app_id`\n- 最多同时邀请 5 个机器人，且邀请后群组中机器人数量不能超过\
                    \ 15 个"
                chat_mode:
                  type: string
                  description: |-
                    群模式

                    **可选值有**：
                    - `group`：群组
                  example: group
                chat_tags:
                  type: array
                  items: {}
                  description: 群标签
                chat_type:
                  type: string
                  description: |-
                    群类型

                    **可选值有**：
                    - `private`：私有群
                    - `public`：公开群
                  example: private
                description:
                  type: string
                  description: |-
                    群描述，建议不超过 100 字符

                    **默认值**：空
                  example: 测试群描述
                edit_permission:
                  type: string
                  description: |-
                    谁可以编辑群信息

                    **默认值**：all_members
                  enum:
                  - only_owner
                  - all_members
                  x-enum-descriptions:
                    only_owner: 仅群主和管理员
                    all_members: 所有成员
                  example: all_members
                external:
                  type: boolean
                  description: 是否是外部群
                  example: false
                group_message_type:
                  type: string
                  description: 群消息形式
                  enum:
                  - chat
                  - thread
                  x-enum-descriptions:
                    chat: 对话消息
                    thread: 话题消息
                  example: chat
                hide_member_count_setting:
                  type: string
                  description: |-
                    隐藏群成员人数设置

                    **默认值**：all_members
                  enum:
                  - all_members
                  - only_owner
                  x-enum-descriptions:
                    all_members: 所有群成员可见
                    only_owner: 仅群主群管理员可见
                  example: all_members
                i18n_names:
                  type: object
                  properties:
                    en_us:
                      type: string
                      description: 英文名
                      example: group chat
                    ja_jp:
                      type: string
                      description: 日文名
                      example: グループチャット
                    zh_cn:
                      type: string
                      description: 中文名
                      example: 群聊
                  description: 群国际化名称
                join_message_visibility:
                  type: string
                  description: |-
                    成员入群提示消息的可见性

                    **可选值有**：
                    - `only_owner`：仅群主和管理员可见
                    - `all_members`：所有成员可见
                    - `not_anyone`：任何人均不可见
                  example: all_members
                labels:
                  type: array
                  items: {}
                  description: 群标签
                leave_message_visibility:
                  type: string
                  description: |-
                    成员退群提示消息的可见性

                    **可选值有**：
                    - `only_owner`：仅群主和管理员可见
                    - `all_members`：所有成员可见
                    - `not_anyone`：任何人均不可见
                  example: all_members
                membership_approval:
                  type: string
                  description: |-
                    加群是否需要审批

                    **可选值有**：
                    - `no_approval_required`：无需审批
                    - `approval_required`：需要审批
                  example: no_approval_required
                name:
                  type: string
                  description: "群名称\n\n **注意：** \n- 建议群名称不超过 60 字符\n- 公开群名称的长度不得少于 2 个字符\n- 私有群若未填写群名称，群名称默认设置为 `(无主题)`"
                  example: 测试群名称
                owner_id:
                  type: string
                  description: |-
                    创建群时指定的群主，不填时指定建群的机器人为群主。群主 ID 类型在查询参数 `user_id_type` 中指定；推荐使用 OpenID，获取方式可参考文档[如何获取 Open ID？](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)

                    **注意**：开启对外共享能力的机器人在创建外部群时，机器人不能为群主，必须指定某一用户作为群主。此外，添加外部用户进群时，外部用户必须和群主已成为飞书好友。
                  example: ou_7d8a6e6df7621556ce0d21922b676706ccs
                pin_manage_setting:
                  type: string
                  description: 谁可以管理置顶
                  enum:
                  - only_owner
                  - all_members
                  x-enum-descriptions:
                    only_owner: 仅群主和管理员
                    all_members: 所有成员
                  example: all_members
                restricted_mode_setting:
                  type: object
                  properties:
                    download_has_permission_setting:
                      type: string
                      description: |-
                        允许下载消息中图片、视频和文件

                        **默认值**：all_members
                      enum:
                      - all_members
                      - not_anyone
                      x-enum-descriptions:
                        all_members: 所有成员允许下载资源
                        not_anyone: 所有成员禁止下载资源
                      example: all_members
                    message_has_permission_setting:
                      type: string
                      description: |-
                        允许复制和转发消息

                        **默认值**：all_members
                      enum:
                      - all_members
                      - not_anyone
                      x-enum-descriptions:
                        all_members: 所有成员允许复制和转发消息
                        not_anyone: 所有成员禁止复制和转发消息
                      example: all_members
                    screenshot_has_permission_setting:
                      type: string
                      description: |-
                        允许截屏录屏

                        **默认值**：all_members
                      enum:
                      - all_members
                      - not_anyone
                      x-enum-descriptions:
                        all_members: 所有成员允许截屏录屏
                        not_anyone: 所有成员禁止截屏录屏
                      example: all_members
                    status:
                      type: boolean
                      description: |-
                        保密模式是否开启

                        **可选值有**：

                        - true：开启。设置为 ture 时，`screenshot_has_permission_setting`、`download_has_permission_setting`、`message_has_permission_setting` 不能全为 `all_members`。
                        - false：不开启。设置为 false 时，`screenshot_has_permission_setting`、`download_has_permission_setting`、`message_has_permission_setting` 不能存在 `not_anyone`。

                        **默认值**：false
                      example: false
                  description: |-
                    保密模式设置

                    **注意**：保密模式适用于企业旗舰版。适用版本与功能介绍参见[会话保密模式](https://www.feishu.cn/hc/zh-CN/articles/418691056559)。
                toolkit_ids:
                  type: array
                  items: {}
                  description: 群快捷组件列表
                urgent_setting:
                  type: string
                  description: |-
                    谁可以加急

                    **默认值**：all_members
                  enum:
                  - only_owner
                  - all_members
                  x-enum-descriptions:
                    only_owner: 仅群主和管理员
                    all_members: 所有成员
                  example: all_members
                user_id_list:
                  type: array
                  items: {}
                  description: |-
                    创建群时邀请的群成员，不填则不邀请成员。ID 类型在查询参数 `user_id_type` 中指定；推荐使用 OpenID，获取方式可参考文档[如何获取 Open ID？](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)

                    **注意**：
                    - 最多同时邀请 50 个用户
                    - 为便于在客户端查看效果，建议调试接口时加入开发者自身 ID
                    - 如果需要邀请外部用户，则外部用户必须和群主已成为飞书好友
                    - 如何获取外部用户的 open_id，参考[获取外部用户的 open_id](https://open.feishu.cn/document/uAjLw4CM/ukzMukzMukzM/develop-robots/add-bot-to-external-group#c38b1d97)
                video_conference_setting:
                  type: string
                  description: |-
                    谁可以发起视频会议

                    **默认值**：all_members
                  enum:
                  - only_owner
                  - all_members
                  x-enum-descriptions:
                    only_owner: 仅群主和管理员
                    all_members: 所有成员
                  example: all_members
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      add_member_permission:
                        type: string
                        description: |-
                          谁可以邀请用户或机器人入群

                          **可选值有**：
                          - `only_owner`：仅群主和管理员
                          - `all_members`：所有成员
                        example: all members
                      at_all_permission:
                        type: string
                        description: |-
                          谁可以 at 所有人

                          **可选值有**：
                          - `only_owner`：仅群主和管理员
                          - `all_members`：所有成员
                        example: all members
                      avatar:
                        type: string
                        description: 群头像 URL
                        example: https://p3-lark-file.byteimg.com/img/lark-avatar-staging/default-avatar_44ae0ca3-e140-494b-956f-78091e348435~100x100.jpg
                      chat_id:
                        type: string
                        description: 群 ID。建议保存该 ID，后续[向群发送消息](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/message/create)、[更新群信息](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/update)以及[将用户或机器人拉入群聊](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-members/create)等群组相关的操作均需使用该
                          ID。
                        example: oc_a0553eda9014c201e6969b478895c230
                      chat_mode:
                        type: string
                        description: |-
                          群模式

                          **可选值有**：
                          - `group`：群组
                        example: group
                      chat_tag:
                        type: string
                        description: |-
                          群标签，如有多个，则按照下列顺序返回第一个

                          **可选值有**：
                          - `inner`：内部群
                          - `tenant`：公司群
                          - `department`：部门群
                          - `edu`：教育群
                          - `meeting`：会议群
                          - `customer_service`：客服群
                        example: inner
                      chat_type:
                        type: string
                        description: |-
                          群类型

                          **可选值有**：
                          - `private`：私有群
                          - `public`：公开群
                        example: private
                      description:
                        type: string
                        description: 群描述
                        example: 测试群描述
                      edit_permission:
                        type: string
                        description: |-
                          群编辑权限

                          **可选值有**：
                          - `only_owner`：仅群主和管理员
                          - `all_members`：所有成员
                        example: all members
                      external:
                        type: boolean
                        description: 是否是外部群
                        example: false
                      group_message_type:
                        type: string
                        description: |-
                          群消息形式

                          **可选值有**：
                          - `chat`：对话消息
                          - `thread`：话题消息
                        example: chat
                      hide_member_count_setting:
                        type: string
                        description: 隐藏群成员人数设置
                        enum:
                        - all_members
                        - only_owner
                        x-enum-descriptions:
                          all_members: 所有群成员可见
                          only_owner: 仅群主群管理员可见
                        example: all_members
                      i18n_names:
                        type: object
                        properties:
                          en_us:
                            type: string
                            description: 英文名
                            example: group chat
                          ja_jp:
                            type: string
                            description: 日文名
                            example: グループチャット
                          zh_cn:
                            type: string
                            description: 中文名
                            example: 群聊
                        description: 群国际化名称
                      join_message_visibility:
                        type: string
                        description: |-
                          入群消息可见性

                          **可选值有**：
                          - `only_owner`：仅群主和管理员可见
                          - `all_members`：所有成员可见
                          - `not_anyone`：任何人均不可见
                        example: all_members
                      labels:
                        type: array
                        items: {}
                        description: 群标签
                      leave_message_visibility:
                        type: string
                        description: |-
                          出群消息可见性

                          **可选值有**：
                          - `only_owner`：仅群主和管理员可见
                          - `all_members`：所有成员可见
                          - `not_anyone`：任何人均不可见
                        example: all_members
                      membership_approval:
                        type: string
                        description: |-
                          加群审批

                          **可选值有**：
                          - `no_approval_required`：无需审批
                          - `approval_required`：需要审批
                        example: no_approval_required
                      moderation_permission:
                        type: string
                        description: |-
                          发言权限

                          **可选值有**：
                          - `only_owner`：仅群主和管理员
                          - `all_members`：所有成员
                          - `moderator_list`：指定群成员
                        example: all_members
                      name:
                        type: string
                        description: 群名称
                        example: 测试群名称
                      owner_id:
                        type: string
                        description: |-
                          群主 ID，ID 类型与查询参数中的 `user_id_type` 对应；不同 ID 的说明参见 [用户相关的 ID 概念](https://open.feishu.cn/document/home/user-identity-introduction/introduction)。

                          **注意**：当群主是机器人时，该字段不返回
                        example: ou_7d8a6e6df7621556ce0d21922b676706ccs
                      owner_id_type:
                        type: string
                        description: |-
                          群主 ID 类型，与查询参数中的 `user_id_type` 取值相同。

                          **注意**：当群主是机器人时，该字段不返回
                        example: open_id
                      pin_manage_setting:
                        type: string
                        description: 谁可以管理置顶
                        enum:
                        - only_owner
                        - all_members
                        x-enum-descriptions:
                          only_owner: 仅群主和管理员
                          all_members: 所有成员
                        example: all_members
                      restricted_mode_setting:
                        type: object
                        properties:
                          download_has_permission_setting:
                            type: string
                            description: 允许下载消息中图片、视频和文件
                            enum:
                            - all_members
                            - not_anyone
                            x-enum-descriptions:
                              all_members: 所有成员允许下载资源
                              not_anyone: 所有成员禁止下载资源
                            example: all_members
                          message_has_permission_setting:
                            type: string
                            description: 允许复制和转发消息
                            enum:
                            - all_members
                            - not_anyone
                            x-enum-descriptions:
                              all_members: 所有成员允许复制和转发消息
                              not_anyone: 所有成员禁止复制和转发消息
                            example: all_members
                          screenshot_has_permission_setting:
                            type: string
                            description: 允许截屏录屏
                            enum:
                            - all_members
                            - not_anyone
                            x-enum-descriptions:
                              all_members: 所有成员允许截屏录屏
                              not_anyone: 所有成员禁止截屏录屏
                            example: all_members
                          status:
                            type: boolean
                            description: 保密模式是否开启
                            example: false
                        description: |-
                          保密模式设置

                          **注意**：仅企业旗舰版支持设置保密模式。保密模式的适用版本与功能介绍，参见[会话保密模式](https://www.feishu.cn/hc/zh-CN/articles/418691056559)。
                      share_card_permission:
                        type: string
                        description: |-
                          群分享权限

                          **可选值有**：
                          - `allowed`：允许
                          - `not_allowed`：不允许
                        example: allowed
                      tenant_key:
                        type: string
                        description: 租户在飞书上的唯一标识，用来换取对应的 tenant_access_token，也可以用作租户在应用里面的唯一标识
                        example: 736588c9260f175e
                      toolkit_ids:
                        type: array
                        items: {}
                        description: 群快捷组件列表
                      urgent_setting:
                        type: string
                        description: 谁可以加急
                        enum:
                        - only_owner
                        - all_members
                        x-enum-descriptions:
                          only_owner: 仅群主和管理员
                          all_members: 所有成员
                        example: all_members
                      video_conference_setting:
                        type: string
                        description: 谁可以发起视频会议
                        enum:
                        - only_owner
                        - all_members
                        x-enum-descriptions:
                          only_owner: 仅群主和管理员
                          all_members: 所有成员
                        example: all_members
      x-lark-method-id: chats.create
      x-lark-scopes:
      - im:chat
      - im:chat:create
      - im:chat:create_by_user
      x-lark-access-tokens:
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/im/v1/chats/{chat_id}:
    get:
      operationId: im_chats_get
      summary: 获取群信息
      tags:
      - chats
      description: |-
        获取群信息。Identity: supports `user` and `bot`
         the caller must be in the target chat to get full details, and must belong to the same tenant for internal chats.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/get
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          群 ID。获取方式：

          - [创建群](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/create)，从返回结果中获取该群的 chat_id。
          - 调用[获取用户或机器人所在的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/list)接口，可以查询用户或机器人所在群的 chat_id。
          - 调用[搜索对用户或机器人可见的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/search)，可搜索用户或机器人所在的群、对用户或机器人公开的群的 chat_id。
        example: oc_a0553eda9014c201e6969b478895c230
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      add_member_permission:
                        type: string
                        description: |-
                          谁可以添加群成员，群成员包括用户或机器人

                          **可选值有**：
                          - `only_owner`：仅群主和管理员
                          - `all_members`：所有成员

                          **注意**：单聊不返回该字段
                        example: all_members
                      at_all_permission:
                        type: string
                        description: |-
                          谁可以 at 所有人

                          **可选值有**：
                          - `only_owner`：仅群主和管理员
                          - `all_members`：所有成员

                          **注意**：单聊不返回该字段
                        example: all_members
                      avatar:
                        type: string
                        description: 群头像 URL
                        example: https://p3-lark-file.byteimg.com/img/lark-avatar-staging/default-avatar_44ae0ca3-e140-494b-956f-78091e348435~100x100.jpg
                      bot_count:
                        type: string
                        description: 群内机器人的数量
                        example: '3'
                      bot_manager_id_list:
                        type: array
                        items: {}
                        description: 机器人管理员 ID 列表，ID 类型为应用的 App ID。
                      chat_mode:
                        type: string
                        description: |-
                          群模式

                          **可选值有**：
                          - `group`：群组
                          - `topic`: 话题
                          - `p2p`: 单聊
                        example: group
                      chat_status:
                        type: string
                        description: 群状态
                        enum:
                        - normal
                        - dissolved
                        - dissolved_save
                        x-enum-descriptions:
                          normal: 正常
                          dissolved: 解散
                          dissolved_save: 解散并保留
                        example: normal
                      chat_tag:
                        type: string
                        description: |-
                          群标签。如有多个，则按照下列顺序返回第一个标签。

                          **可选值有**：
                          - `inner`：内部群
                          - `tenant`：公司群
                          - `department`：部门群
                          - `edu`：教育群
                          - `meeting`：会议群
                          - `customer_service`：客服群

                          **注意**：单聊不返回该字段
                        example: inner
                      chat_type:
                        type: string
                        description: |-
                          群类型

                          **可选值有**：
                          - `private`：私有群
                          - `public`：公开群

                          **注意**：单聊不返回该字段
                        example: private
                      description:
                        type: string
                        description: 群描述
                        example: 测试群描述
                      edit_permission:
                        type: string
                        description: |-
                          谁可以编辑群

                          **可选值有**：
                          - `only_owner`：仅群主和管理员
                          - `all_members`：所有成员
                        example: all_members
                      external:
                        type: boolean
                        description: 是否是外部群
                        example: false
                      group_message_type:
                        type: string
                        description: |-
                          群消息模式

                          **可选值有**：
                          - `chat`：会话消息
                          - ` thread`：话题消息

                          **注意**：仅普通对话群组返回该字段，话题群和单聊不返回值。
                        example: chat
                      hide_member_count_setting:
                        type: string
                        description: 隐藏群成员人数设置
                        enum:
                        - all_members
                        - only_owner
                        x-enum-descriptions:
                          all_members: 所有群成员可见
                          only_owner: 仅群主群管理员可见
                        example: all_members
                      i18n_names:
                        type: object
                        properties:
                          en_us:
                            type: string
                            description: 英文名
                            example: group chat
                          ja_jp:
                            type: string
                            description: 日文名
                            example: グループチャット
                          zh_cn:
                            type: string
                            description: 中文名
                            example: 群聊
                        description: 群国际化名称
                      join_message_visibility:
                        type: string
                        description: |-
                          入群提示消息的可见性

                          **可选值有**：
                          - `only_owner`：仅群主和管理员可见
                          - `all_members`：所有成员可见
                          - `not_anyone`：任何人均不可见

                          **注意**：单聊不返回该字段
                        example: only_owner
                      labels:
                        type: array
                        items: {}
                        description: 群标签
                      leave_message_visibility:
                        type: string
                        description: |-
                          出群提示消息的可见性

                          **可选值有**：
                          - `only_owner`：仅群主和管理员可见
                          - `all_members`：所有成员可见
                          - `not_anyone`：任何人均不可见

                          **注意**：单聊不返回该字段
                        example: only_owner
                      membership_approval:
                        type: string
                        description: |-
                          加群是否需要审批

                          **可选值有**：
                          - `no_approval_required`：无需审批
                          - `approval_required`：需要审批

                          **注意**：单聊不返回该字段
                        example: no_approval_required
                      moderation_permission:
                        type: string
                        description: |-
                          群发言权限

                          **可选值有**：
                          - `only_owner`：仅群主和管理员
                          - `all_members`：所有成员
                          - `moderator_list`：指定群成员
                        example: all_members
                      name:
                        type: string
                        description: 群名称。没有设置群名称时，不会返回该参数。
                        example: 测试群名称
                      owner_id:
                        type: string
                        description: |-
                          群主的用户 ID，ID 类型与查询参数中的 user_id_type 对应。

                          **注意**：
                          - 当群主是机器人时不返回该字段
                          - 单聊不返回该字段
                        example: 4d7a3c6g
                      owner_id_type:
                        type: string
                        description: |-
                          群主的用户 ID 类型，与查询参数中的 user_id_type 相同。取值为 `open_id`、`user_id`、`union_id` 其中之一，不同 ID 的说明参见 [用户相关的 ID 概念](https://open.feishu.cn/document/home/user-identity-introduction/introduction)。

                          **注意**：
                          - 当群主是机器人时不返回该字段
                          - 单聊不返回该字段
                        example: user_id
                      pin_manage_setting:
                        type: string
                        description: 谁可以管理置顶
                        enum:
                        - only_owner
                        - all_members
                        x-enum-descriptions:
                          only_owner: 仅群主和管理员
                          all_members: 所有成员
                        example: all_members
                      restricted_mode_setting:
                        type: object
                        properties:
                          download_has_permission_setting:
                            type: string
                            description: 允许下载消息中图片、视频和文件
                            enum:
                            - all_members
                            - not_anyone
                            x-enum-descriptions:
                              all_members: 所有成员允许下载资源
                              not_anyone: 所有成员禁止下载资源
                            example: all_members
                          message_has_permission_setting:
                            type: string
                            description: 允许复制和转发消息
                            enum:
                            - all_members
                            - not_anyone
                            x-enum-descriptions:
                              all_members: 所有成员允许复制和转发消息
                              not_anyone: 所有成员禁止复制和转发消息
                            example: all_members
                          screenshot_has_permission_setting:
                            type: string
                            description: 允许截屏录屏
                            enum:
                            - all_members
                            - not_anyone
                            x-enum-descriptions:
                              all_members: 所有成员允许截屏录屏
                              not_anyone: 所有成员禁止截屏录屏
                            example: all_members
                          status:
                            type: boolean
                            description: 保密模式是否开启
                            example: false
                        description: 保密模式设置
                      share_card_permission:
                        type: string
                        description: |-
                          是否允许分享群

                          **可选值有**：
                          - `allowed`：允许
                          - `not_allowed`：不允许

                          **注意**：单聊不返回该字段
                        example: allowed
                      tenant_key:
                        type: string
                        description: 租户 Key，为租户在飞书上的唯一标识，用来换取对应的tenant_access_token，也可以用作租户在应用中的唯一标识。
                        example: 736588c9260f175e
                      toolkit_ids:
                        type: array
                        items: {}
                        description: 群快捷组件列表
                      urgent_setting:
                        type: string
                        description: 谁可以加急
                        enum:
                        - only_owner
                        - all_members
                        x-enum-descriptions:
                          only_owner: 仅群主和管理员
                          all_members: 所有成员
                        example: all_members
                      user_count:
                        type: string
                        description: 群内用户的数量
                        example: '1'
                      user_manager_id_list:
                        type: array
                        items: {}
                        description: 用户管理员 ID 列表，ID 类型与查询参数 user_id_type 一致。
                      video_conference_setting:
                        type: string
                        description: 谁可以发起视频会议
                        enum:
                        - only_owner
                        - all_members
                        x-enum-descriptions:
                          only_owner: 仅群主和管理员
                          all_members: 所有成员
                        example: all_members
      x-lark-method-id: chats.get
      x-lark-scopes:
      - im:chat:readonly
      - im:chat
      - im:chat:read
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
    put:
      operationId: im_chats_update
      summary: 更新群信息
      tags:
      - chats
      description: '更新群信息。Identity: supports `user` and `bot`.'
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/update
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          群 ID。获取方式：

          - [创建群](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/create)，从返回结果中获取该群的 chat_id。
          - 调用[获取用户或机器人所在的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/list)接口，可以查询用户或机器人所在群的 chat_id。
          - 调用[搜索对用户或机器人可见的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/search)，可搜索用户或机器人所在的群、对用户或机器人公开的群的 chat_id。

          **注意**：仅支持群模式为 `group` 的群组 ID。你可以调用[获取群信息](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/get)接口，在返回结果中查看 `chat_mode` 参数取值是否为 `group`。
        example: oc_a0553eda9014c201e6969b478895c230
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                add_member_permission:
                  type: string
                  description: |-
                    谁可以添加群成员，群成员包括用户或机器人

                    **可选值有**：
                    - `only_owner`：仅群主和管理员
                    - `all_members`：所有成员

                    **注意**：`add_member_permission` 和 `share_card_permission` 两个参数必须同步配置。

                    - 如果 `add_member_permission` 值为 `only_owner`，则 `share_card_permission` 只能设置为 `not_allowed`。
                    - 如果 `add_member_permission` 值为`all_members`，则 `share_card_permission` 只能设置为 `allowed`。
                  example: all_members
                at_all_permission:
                  type: string
                  description: |-
                    谁可以 at 所有人

                    **可选值有**：
                    - `only_owner`：仅群主和管理员
                    - `all_members`：所有成员
                  example: all_members
                avatar:
                  type: string
                  description: 群头像对应的 Image Key，可通过[上传图片](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/image/create)获取（注意：上传图片的
                    `image_type` 需要指定为 `avatar`）
                  example: default-avatar_44ae0ca3-e140-494b-956f-78091e348435
                chat_type:
                  type: string
                  description: |-
                    群类型

                    **可选值有**：
                    - `private`：私有群
                    - `public`：公开群
                  example: private
                description:
                  type: string
                  description: 群描述，建议不超过 100 字符
                  example: 测试群描述
                edit_permission:
                  type: string
                  description: |-
                    谁可以编辑群信息

                    **可选值有**：
                    - `only_owner`：仅群主和管理员
                    - `all_members`：所有成员
                  example: all_members
                group_message_type:
                  type: string
                  description: 群消息形式
                  enum:
                  - chat
                  - thread
                  x-enum-descriptions:
                    chat: 对话消息
                    thread: 话题消息
                  example: chat
                hide_member_count_setting:
                  type: string
                  description: 隐藏群成员人数设置
                  enum:
                  - all_members
                  - only_owner
                  x-enum-descriptions:
                    all_members: 所有群成员可见
                    only_owner: 仅群主群管理员可见
                  example: all_members
                i18n_names:
                  type: object
                  properties:
                    en_us:
                      type: string
                      description: 英文名
                      example: group chat
                    ja_jp:
                      type: string
                      description: 日文名
                      example: グループチャット
                    zh_cn:
                      type: string
                      description: 中文名
                      example: 群聊
                  description: 群国际化名称
                join_message_visibility:
                  type: string
                  description: |-
                    成员入群提示消息的可见性

                    **可选值有**：
                    - `only_owner`：仅群主和管理员可见
                    - `all_members`：所有成员可见
                    - `not_anyone`：任何人均不可见
                  example: only_owner
                labels:
                  type: array
                  items: {}
                  description: 群标签
                leave_message_visibility:
                  type: string
                  description: |-
                    成员退群提示消息的可见性

                    **可选值有**：
                    - `only_owner`：仅群主和管理员可见
                    - `all_members`：所有成员可见
                    - `not_anyone`：任何人均不可见
                  example: only_owner
                membership_approval:
                  type: string
                  description: |-
                    加群是否需要审批

                    **可选值有**：
                    - `no_approval_required`：无需审批
                    - `approval_required`：需要审批
                  example: no_approval_required
                name:
                  type: string
                  description: "群名称\n\n**注意：** \n- 建议群名称不超过 60 字符\n- 公开群名称的长度不得少于 2 个字符"
                  example: 群聊
                owner_id:
                  type: string
                  description: 新群主的用户 ID，不转让群主时无需填写。ID 类型与查询参数 user_id_type 取值一致，ID 类型推荐使用 OpenID，获取方式可参考文档[如何获取 Open ID？](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)。
                  example: 4d7a3c6g
                pin_manage_setting:
                  type: string
                  description: 谁可以管理置顶
                  enum:
                  - only_owner
                  - all_members
                  x-enum-descriptions:
                    only_owner: 仅群主和管理员
                    all_members: 所有成员
                  example: all_members
                restricted_mode_setting:
                  type: object
                  properties:
                    download_has_permission_setting:
                      type: string
                      description: 允许下载消息中图片、视频和文件
                      enum:
                      - all_members
                      - not_anyone
                      x-enum-descriptions:
                        all_members: 所有成员允许下载资源
                        not_anyone: 所有成员禁止下载资源
                      example: all_members
                    message_has_permission_setting:
                      type: string
                      description: 允许复制和转发消息
                      enum:
                      - all_members
                      - not_anyone
                      x-enum-descriptions:
                        all_members: 所有成员允许复制和转发消息
                        not_anyone: 所有成员禁止复制和转发消息
                      example: all_members
                    screenshot_has_permission_setting:
                      type: string
                      description: 允许截屏录屏
                      enum:
                      - all_members
                      - not_anyone
                      x-enum-descriptions:
                        all_members: 所有成员允许截屏录屏
                        not_anyone: 所有成员禁止截屏录屏
                      example: all_members
                    status:
                      type: boolean
                      description: |-
                        保密模式是否开启

                        **可选值有**：

                        - true：开启。设置为 ture 时，`screenshot_has_permission_setting`、`download_has_permission_setting`、`message_has_permission_setting` 不能全为 `all_members`。
                        - false：不开启。设置为 false 时，`screenshot_has_permission_setting`、`download_has_permission_setting`、`message_has_permission_setting` 不能存在 `not_anyone`。
                      example: false
                  description: |-
                    保密模式设置

                    **注意**：保密模式适用于企业旗舰版。适用版本与功能介绍参见[会话保密模式](https://www.feishu.cn/hc/zh-CN/articles/418691056559)。
                share_card_permission:
                  type: string
                  description: |-
                    是否允许分享群

                    **可选值有**：
                    - `allowed`：允许
                    - `not_allowed`：不允许

                    **注意**：`add_member_permission` 和 `share_card_permission` 两个参数必须同步配置。

                    - 如果 `add_member_permission` 值为 `only_owner`，则 `share_card_permission` 只能设置为 `not_allowed`。
                    - 如果 `add_member_permission` 值为`all_members`，则 `share_card_permission` 只能设置为 `allowed`。
                  example: allowed
                toolkit_ids:
                  type: array
                  items: {}
                  description: 群快捷组件列表
                urgent_setting:
                  type: string
                  description: 谁可以加急
                  enum:
                  - only_owner
                  - all_members
                  x-enum-descriptions:
                    only_owner: 仅群主和管理员
                    all_members: 所有成员
                  example: all_members
                video_conference_setting:
                  type: string
                  description: 谁可以发起视频会议
                  enum:
                  - only_owner
                  - all_members
                  x-enum-descriptions:
                    only_owner: 仅群主和管理员
                    all_members: 所有成员
                  example: all_members
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: chats.update
      x-lark-scopes:
      - im:chat
      - im:chat:update
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/im/v1/chats/{chat_id}/link:
    post:
      operationId: im_chats_link
      summary: 获取群分享链接
      tags:
      - chats
      description: |-
        获取群分享链接。Identity: supports `user` and `bot`
         the caller must be in the target chat, must be an owner or admin when chat sharing is restricted to owners/admins, and must belong to the same tenant for internal chats.
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/link
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          群 ID。获取方式：

          - [创建群](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/create)，从返回结果中获取该群的 chat_id。
          - 调用[获取用户或机器人所在的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/list)接口，可以查询用户或机器人所在群的 chat_id。
          - 调用[搜索对用户或机器人可见的群列表](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat/search)，可搜索用户或机器人所在的群、对用户或机器人公开的群的 chat_id。

          **注意**：单聊、密聊、团队群不支持分享群链接
        example: oc_a0553eda9014c201e6969b478895c230
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                validity_period:
                  type: string
                  description: 群分享链接有效时长
                  enum:
                  - week
                  - year
                  - permanently
                  x-enum-descriptions:
                    week: 有效期 7 天
                    year: 有效期 1 年
                    permanently: 永久有效
                  example: week
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      expire_time:
                        type: string
                        description: 分享链接的过期时间，秒级时间戳
                        example: '1609296809'
                      is_permanent:
                        type: boolean
                        description: 分享链接是否永久有效
                        example: false
                      share_link:
                        type: string
                        description: 群分享链接
                        example: https://applink.feishu.cn/client/chat/chatter/add_by_link?link_token=3nf8789-4rfx-427d-a6bf-ed1d2df348aabd
      x-lark-method-id: chats.link
      x-lark-scopes:
      - im:chat:readonly
      - im:chat
      - im:chat:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/im/v1/groups/{feed_group_id}/batch_add_item:
    post:
      operationId: im_feed_groups_batch_add_item
      summary: 'Batch add feed cards to a feed group. Identity: `user` only…'
      tags:
      - feed.groups
      description: 'Batch add feed cards to a feed group. Identity: `user` only (`user_access_token`).[Must-read](references/lark-im-feed-groups.md)'
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=batch_add_item&project=im&resource=feed_group&version=v1
      parameters:
      - name: feed_group_id
        in: path
        required: true
        schema:
          type: string
        description: 标签ID
        example: ofg_xxx
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
[...]
