# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 邮箱 API
  description: |-
    查看和管理用户邮箱数据，包括邮件、草稿、文件夹和联系人

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: mail
  x-lark-service-api-version: v1
  x-lark-registry-version: 1.0.0
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: multi_entity
- name: user_mailbox.drafts
- name: user_mailbox.event
- name: user_mailbox.folders
- name: user_mailbox.labels
- name: user_mailbox.mail_contacts
- name: user_mailbox.message.attachments
- name: user_mailbox.messages
- name: user_mailbox.rules
- name: user_mailbox.sent_messages
- name: user_mailbox.settings
- name: user_mailbox.template.attachments
- name: user_mailbox.templates
- name: user_mailbox.threads
- name: user_mailboxes
paths:
  /open-apis/mail/v1/multi_entity/search:
    post:
      operationId: mail_multi_entity_search
      summary: 适用于写信联系人搜索
      tags:
      - multi_entity
      description: 适用于写信联系人搜索
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=search&project=mail&resource=multi_entity&version=v1
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: |-
                    搜索关键词

                    **数据校验规则：** 长度范围：1 字符 ～ 50 字符
                  example: 周会
                size:
                  type: integer
                  description: 获取的数据条数，**默认20，支持1-20**
                  example: 20
                  minimum: 1
                  maximum: 20
              required:
              - query
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            chat_id:
                              type: string
                              description: 群聊或会话 ID
                              example: oc_40ed357053e34b9
                            department:
                              type: string
                              description: 部门信息
                              example: 飞书研发团队
                            display_name:
                              type: string
                              description: 备注名
                              example: 备注名
                            email:
                              type: string
                              description: 邮箱地址
                              example: zhangsan@bytedance.com
                            id:
                              type: string
                              description: 唯一标识 ID
                              example: '6911188411932033028'
                            member_count:
                              type: integer
                              description: 群成员数量
                              example: 128
                              minimum: 0
                              maximum: 128
                            name:
                              type: string
                              description: 名称
                              example: 张三
                            tag:
                              type: string
                              description: 标签
                              example: 超大群/部门群/邮箱联系人/邮件组/外部
                            type:
                              type: string
                              description: 标识当前的实体是哪种（例如：user, chat 等）
                              example: user
                            user_id:
                              type: string
                              description: 用户 ID
                              example: ou_2d131f4c3a28b0
                        description: 返回的实体详情
      x-lark-method-id: multi_entity.search
      x-lark-scopes:
      - mail:user_mailbox:readonly
      x-lark-access-tokens:
      - user
      x-lark-risk: write
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/messages/{message_id}/cancel_scheduled_send:
    post:
      operationId: mail_user_mailbox_drafts_cancel_scheduled_send
      summary: 取消定时发送
      tags:
      - user_mailbox.drafts
      description: 取消定时发送
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=cancel_scheduled_send&project=mail&resource=user_mailbox.draft&version=v1
      parameters:
      - name: message_id
        in: path
        required: true
        schema:
          type: string
        description: 已设置定时发送的邮件 ID
        example: 268dce11-85f7-427d-8756-6be3abc850fd
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: aba@aac.com
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: user_mailbox.draft.cancel_scheduled_send
      x-lark-scopes:
      - mail:user_mailbox.message:send
      x-lark-access-tokens:
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/drafts:
    post:
      operationId: mail_user_mailbox_drafts_create
      summary: 创建草稿
      tags:
      - user_mailbox.drafts
      description: 创建草稿
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create&project=mail&resource=user_mailbox.draft&version=v1
      parameters:
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: aba@aac.com 或 me
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                raw:
                  type: string
                  description: base64url 编码的完整 RFC 5822（EML）邮件内容，包含所有邮件头（Subject、From、To、Cc、Bcc 等）和邮件正文（含内联图片和附件的 MIME 结构）。原始EML大小不可超过37.5MB。
                  example: Q29udGVudC1UeXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PSJ1cy1hc2NpaSIKTUlNRS1WZXJzaW9uOiAxLjAKQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogN2JpdAp0bzogInRvIiA8dG9AeHh4Lnh4Pgpmcm9tOiAiZnJvbSIgPGZyb21AeHh4Lnh4PgpzdWJqZWN0OiB0aGlzIGlzIGEgc3ViamVjdAoKdGhpcyBpcyB0aGUgbWVzc2FnZSBib2R5Lg
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      draft:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 草稿ID
                            example: 268dce11-85f7-427d-8756-6be3abc850fd
                          message:
                            type: object
                            properties:
                              attachments:
                                type: array
                                items: {}
                                description: 邮件附件列表
                              bcc:
                                type: array
                                items: {}
                                description: 密送
                              body_calendar:
                                type: string
                                description: 日历邀请内容(base64url)。当邮件包含标准RFC 5545格式的日历邀请时返回，解码后为ICS文本。
                                example: QkVHSU46VkNBTEVOREFSDQpWRVJTSU9OOjIuMA0KLi4uDQpFTkQ6VkNBTEVOREFS
                              body_html:
                                type: string
                                description: 正文(base64url)
                                example: xxxx
                              body_plain_text:
                                type: string
                                description: 正文纯文本(base64url)
                                example: xxxxx
                              body_preview:
                                type: string
                                description: 邮件正文纯文本内容的前100个字符，基于base64url编码，用于快速预览邮件核心内容，无需解码完整正文
                                example: xxxxx
                              cc:
                                type: array
                                items: {}
                                description: 抄送
                              folder_id:
                                type: string
                                description: 文件夹ID
                                example: INBOX
                              head_from:
                                type: object
                                properties: {}
                                description: 发件人
                              in_reply_to:
                                type: string
                                description: In-Reply-To邮件头
                                example: 06d20.dbf451a3.808a.475a.acc9.1363dfd20f36@larksuite.com
                              internal_date:
                                type: string
                                description: 创建/收/发信时间（毫秒）
                                example: '1682377086000'
                              label_ids:
                                type: array
                                items: {}
                                description: 标签ID
                              message_id:
                                type: string
                                description: 邮件id
                                example: tfuh9N4WnzU6jdDw=
                              message_state:
                                type: integer
                                description: 邮件状态，1（收信）2（发信）3（草稿）
                                example: 1
                              priority_type:
                                type: string
                                description: 邮件优先级
                                enum:
                                - '0'
                                - '1'
                                - '3'
                                - '5'
                                x-enum-descriptions:
                                  '0': 无优先级
                                  '1': 高优先级
                                  '3': 正常优先级
                                  '5': 低优先级
                                example: '0'
                              raw:
                                type: string
                                description: MIME邮件数据，基于base64url编码
                                example: Q29udGVudC1UeXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PSJ1cy1hc2NpaSIKTUlNRS1WZXJzaW9uOiAxLjAKQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogN2JpdAp0bzogInRvIiA8dG9AeHh4Lnh4Pgpmcm9tOiAiZnJvbSIgPGZyb21AeHh4Lnh4PgpzdWJqZWN0OiB0aGlzIGlzIGEgc3ViamVjdAoKdGhpcyBpcyB0aGUgbWVzc2FnZSBib2R5Lg
                              references:
                                type: string
                                description: References邮件头
                                example: <5678.abcd@test.com>\r\n\t<1234.abcd@message-id>
                              reply_to:
                                type: string
                                description: Reply-To邮件头
                                example: 06d20.dbf451a3.808a.475a.acc9.1363dfd20f36@larksuite.com
                              security_level:
                                type: object
                                properties: {}
                                description: 安全信息
                              smtp_message_id:
                                type: string
                                description: RFC协议id
                                example: ay0azrJDvbs3FJAg@outlook.com
                              subject:
                                type: string
                                description: 主题
                                example: 邮件标题
                              thread_id:
                                type: string
                                description: 会话id
                                example: tfuh9N4WnzU6jdDw=
                              to:
                                type: array
                                items: {}
                                description: 收件人
                            description: 草稿内容
                        description: 草稿内容
                      reference:
                        type: string
                        description: 草稿预览链接
                        example: https://{domain}/mail?draftId=MWFhMjA5NzctYTE5OC00ZDcxLTkxYTctNjY1MDVjNDc4MmJm&scene=send-preview&mailbox=user%40company.com
      x-lark-method-id: user_mailbox.draft.create
      x-lark-scopes:
      - mail:user_mailbox.message:modify
      x-lark-access-tokens:
      - user
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: mail_user_mailbox_drafts_list
      summary: 列出草稿列表
      tags:
      - user_mailbox.drafts
      description: 列出草稿列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=mail&resource=user_mailbox.draft&version=v1
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: 分页大小
        example: 20
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: xxx
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: user@xxx.xx 或 me
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 草稿ID
                              example: 268dce11-85f7-427d-8756-6be3abc850fd
                        description: 草稿列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: xxx
      x-lark-method-id: user_mailbox.draft.list
      x-lark-scopes:
      - mail:user_mailbox.message:readonly
      x-lark-access-tokens:
      - user
      x-lark-risk: read
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/drafts/{draft_id}:
    delete:
      operationId: mail_user_mailbox_drafts_delete
      summary: 删除草稿
      tags:
      - user_mailbox.drafts
      description: 删除草稿
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=delete&project=mail&resource=user_mailbox.draft&version=v1
      parameters:
      - name: draft_id
        in: path
        required: true
        schema:
          type: string
        description: 草稿ID，可通过列出草稿列表接口获得
        example: 268dce11-85f7-427d-8756-6be3abc850fd
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址不存在，请检查输入的用户邮箱地址是否正确，或确认用户的邮箱处于正常状态
        example: aba@aac.com 或 me
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: user_mailbox.draft.delete
      x-lark-scopes:
      - mail:user_mailbox.message:modify
      x-lark-access-tokens:
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
    get:
      operationId: mail_user_mailbox_drafts_get
      summary: 获取草稿内容
      tags:
      - user_mailbox.drafts
      description: 获取草稿内容
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=get&project=mail&resource=user_mailbox.draft&version=v1
      parameters:
      - name: draft_id
        in: path
        required: true
        schema:
          type: string
        description: 草稿ID，可通过列出草稿列表接口获得
        example: 268dce11-85f7-427d-8756-6be3abc850fd
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - metadata
          - raw
          - full
          x-enum-descriptions:
            metadata: 草稿元数据信息，包括邮件摘要、主题、收发件人等信息
            raw: 获取草稿EML
            full: 邮件全文，获取包括纯文本、HTML等在内的邮件全文信息
        description: 需要获取的草稿内容样式，取值：metadata / full（默认）/ raw
        example: full
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址，使用用户身份时可填写me
        example: aba@aac.com
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      draft:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 草稿ID
                            example: 268dce11-85f7-427d-8756-6be3abc850fd
                          message:
                            type: object
                            properties:
                              attachments:
                                type: array
                                items: {}
                                description: 邮件附件列表
                              bcc:
                                type: array
                                items: {}
                                description: 秘送
                              body_calendar:
                                type: string
                                description: 日历邀请内容(base64url)。当邮件包含标准RFC 5545格式的日历邀请时返回，解码后为ICS文本。
                                example: QkVHSU46VkNBTEVOREFSDQpWRVJTSU9OOjIuMA0KLi4uDQpFTkQ6VkNBTEVOREFS
                              body_html:
                                type: string
                                description: 正文(base64url)
                                example: xxxx
                              body_plain_text:
                                type: string
                                description: 正文纯文本(base64url)
                                example: xxxxx
                              body_preview:
                                type: string
                                description: 邮件正文纯文本内容的前100个字符，基于base64url编码，用于快速预览邮件核心内容，无需解码完整正文
                                example: xxxxx
                              cc:
                                type: array
                                items: {}
                                description: 抄送
                              folder_id:
                                type: string
                                description: 文件夹ID
                                example: INBOX
                              head_from:
                                type: object
                                properties: {}
                                description: 发件人
                              in_reply_to:
                                type: string
                                description: In-Reply-To邮件头
                                example: 06d20.dbf451a3.808a.475a.acc9.1363dfd20f36@larksuite.com
                              internal_date:
                                type: string
                                description: 创建/收/发信时间（毫秒）
                                example: '1682377086000'
                              label_ids:
                                type: array
                                items: {}
                                description: 标签ID
                              message_id:
                                type: string
                                description: 邮件id
                                example: tfuh9N4WnzU6jdDw=
                              message_state:
                                type: integer
                                description: 邮件状态，1（收信）2（发信）3（草稿）
                                example: 1
                              priority_type:
                                type: string
                                description: 邮件优先级
                                enum:
                                - '0'
                                - '1'
                                - '3'
                                - '5'
                                x-enum-descriptions:
                                  '0': 无优先级
                                  '1': 高优先级
                                  '3': 正常优先级
                                  '5': 低优先级
                                example: '0'
                              references:
                                type: string
                                description: References邮件头
                                example: <5678.abcd@test.com>\r\n\t<1234.abcd@message-id>
                              reply_to:
                                type: string
                                description: Reply-To邮件头
                                example: 06d20.dbf451a3.808a.475a.acc9.1363dfd20f36@larksuite.com
                              security_level:
                                type: object
                                properties: {}
                                description: 安全信息
                              smtp_message_id:
                                type: string
                                description: RFC协议id
                                example: ay0azrJDvbs3FJAg@outlook.com
                              subject:
                                type: string
                                description: 主题
                                example: 邮件标题
                              thread_id:
                                type: string
                                description: 会话id
                                example: tfuh9N4WnzU6jdDw=
                              to:
                                type: array
                                items: {}
                                description: 收件人
                            description: 草稿内容
                        description: 草稿内容
      x-lark-method-id: user_mailbox.draft.get
      x-lark-scopes:
      - mail:user_mailbox.message:readonly
      x-lark-access-tokens:
      - user
      x-lark-risk: read
    put:
      operationId: mail_user_mailbox_drafts_update
      summary: 更新草稿
      tags:
      - user_mailbox.drafts
      description: 更新草稿
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=update&project=mail&resource=user_mailbox.draft&version=v1
      parameters:
      - name: draft_id
        in: path
        required: true
        schema:
          type: string
        description: 草稿ID，可通过创建草稿或列出草稿接口获得
        example: 268dce11-85f7-427d-8756-6be3abc850fd
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: aba@aac.com 或 me
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                raw:
                  type: string
                  description: base64url 编码的完整 RFC 5822（EML）邮件内容，包含所有邮件头（Subject、From、To、Cc、Bcc 等）和邮件正文（含内联图片和附件的 MIME 结构），将整体替换草稿原有内容。原始EML大小不可超过37.5MB。
                  example: Q29udGVudC1UeXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PSJ1cy1hc2NpaSIKTUlNRS1WZXJzaW9uOiAxLjAKQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogN2JpdAp0bzogInRvIiA8dG9AeHh4Lnh4Pgpmcm9tOiAiZnJvbSIgPGZyb21AeHh4Lnh4PgpzdWJqZWN0OiB0aGlzIGlzIGEgc3ViamVjdAoKdGhpcyBpcyB0aGUgbWVzc2FnZSBib2R5Lg
              required:
              - raw
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      draft:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 草稿ID
                            example: 268dce11-85f7-427d-8756-6be3abc850fd
                          message:
                            type: object
                            properties:
                              attachments:
                                type: array
                                items: {}
                                description: 邮件附件列表
                              bcc:
                                type: array
                                items: {}
                                description: 密送
                              body_calendar:
                                type: string
                                description: 日历邀请内容(base64url)。当邮件包含标准RFC 5545格式的日历邀请时返回，解码后为ICS文本。
                                example: QkVHSU46VkNBTEVOREFSDQpWRVJTSU9OOjIuMA0KLi4uDQpFTkQ6VkNBTEVOREFS
                              body_html:
                                type: string
                                description: 正文(base64url)
                                example: xxxx
                              body_plain_text:
                                type: string
                                description: 正文纯文本(base64url)
                                example: xxxxx
                              body_preview:
                                type: string
                                description: 邮件正文纯文本内容的前100个字符，基于base64url编码，用于快速预览邮件核心内容，无需解码完整正文
                                example: xxxxx
                              cc:
                                type: array
                                items: {}
                                description: 抄送
                              folder_id:
                                type: string
                                description: 文件夹ID
                                example: INBOX
                              head_from:
                                type: object
                                properties: {}
                                description: 发件人
                              in_reply_to:
                                type: string
                                description: In-Reply-To邮件头
                                example: 06d20.dbf451a3.808a.475a.acc9.1363dfd20f36@larksuite.com
                              internal_date:
                                type: string
                                description: 创建/收/发信时间（毫秒）
                                example: '1682377086000'
                              label_ids:
                                type: array
                                items: {}
                                description: 标签ID
                              message_id:
                                type: string
                                description: 邮件id
                                example: tfuh9N4WnzU6jdDw=
                              message_state:
                                type: integer
                                description: 邮件状态，1（收信）2（发信）3（草稿）
                                example: 1
                              priority_type:
                                type: string
                                description: 邮件优先级
                                enum:
                                - '0'
                                - '1'
                                - '3'
                                - '5'
                                x-enum-descriptions:
                                  '0': 无优先级
                                  '1': 高优先级
                                  '3': 正常优先级
                                  '5': 低优先级
                                example: '0'
                              raw:
                                type: string
                                description: MIME邮件数据，基于base64url编码
                                example: Q29udGVudC1UeXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PSJ1cy1hc2NpaSIKTUlNRS1WZXJzaW9uOiAxLjAKQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogN2JpdAp0bzogInRvIiA8dG9AeHh4Lnh4Pgpmcm9tOiAiZnJvbSIgPGZyb21AeHh4Lnh4PgpzdWJqZWN0OiB0aGlzIGlzIGEgc3ViamVjdAoKdGhpcyBpcyB0aGUgbWVzc2FnZSBib2R5Lg
                              references:
                                type: string
                                description: References邮件头
                                example: <5678.abcd@test.com>\r\n\t<1234.abcd@message-id>
                              reply_to:
                                type: string
                                description: Reply-To邮件头
                                example: 06d20.dbf451a3.808a.475a.acc9.1363dfd20f36@larksuite.com
                              security_level:
                                type: object
                                properties: {}
                                description: 安全信息
                              smtp_message_id:
                                type: string
                                description: RFC协议id
                                example: ay0azrJDvbs3FJAg@outlook.com
                              subject:
                                type: string
                                description: 主题
                                example: 邮件标题
                              thread_id:
                                type: string
                                description: 会话id
                                example: tfuh9N4WnzU6jdDw=
                              to:
                                type: array
                                items: {}
                                description: 收件人
                            description: 草稿内容
                        description: 更新后的草稿内容
                      reference:
                        type: string
                        description: 草稿预览链接
                        example: https://{domain}/mail?draftId=MWFhMjA5NzctYTE5OC00ZDcxLTkxYTctNjY1MDVjNDc4MmJm&scene=send-preview&mailbox=user%40company.com
      x-lark-method-id: user_mailbox.draft.update
      x-lark-scopes:
      - mail:user_mailbox.message:modify
      x-lark-access-tokens:
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/drafts/{draft_id}/send:
    post:
      operationId: mail_user_mailbox_drafts_send
      summary: 发送草稿
      tags:
      - user_mailbox.drafts
      description: 发送草稿
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=send&project=mail&resource=user_mailbox.draft&version=v1
      parameters:
      - name: draft_id
        in: path
        required: true
        schema:
          type: string
        description: 草稿ID，可通过创建草稿、更新草稿或列出草稿列表接口获得
        example: 268dce11-85f7-427d-8756-6be3abc850fd
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: aba@aac.com
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                send_time:
                  type: string
                  description: 定时发送的 Unix 时间戳（秒）。不传或为空时立即发送。需至少为当前时间 + 5 分钟。
                  example: '1720000000'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      automation_send_disable:
                        type: object
                        properties:
                          reason:
                            type: string
                            description: 自动化发信被禁用的原因说明
                            example: Automation send is disabled by your mailbox setting
                          reference:
                            type: string
                            description: 用户可参考reference内容解决
                            example: https://open.larksuite.com/mail/settings/automation
                        description: 当用户禁用自动化发信时返回此字段；为空表示发信成功
                      message_id:
                        type: string
                        description: 发送后生成的已发送邮件ID
                        example: xxxx
                      recall_status:
                        type: string
                        description: 仅允许撤回时返回该字段，值为available
                        enum:
                        - unavailable
                        - available
                        x-enum-descriptions:
                          unavailable: 邮件不可撤回
                          available: 邮件可撤回
                        example: unavailable
                      thread_id:
                        type: string
                        description: 邮件所属会话ID
                        example: xxxx
      x-lark-method-id: user_mailbox.draft.send
      x-lark-scopes:
      - mail:user_mailbox.message:send
      x-lark-access-tokens:
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/event/subscribe:
    post:
      operationId: mail_user_mailbox_event_subscribe
      summary: 订阅事件
      tags:
      - user_mailbox.event
      description: 订阅事件
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=subscribe&project=mail&resource=user_mailbox.event&version=v1
      parameters:
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址，使用 user_access_token 时可使用 me
        example: user@xxx.xx 或 me
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: integer
                  description: 事件类型
                  enum:
                  - 1
                  x-enum-descriptions:
                    '1': 邮件相关事件
                  example: 1
                  minimum: 1
                  maximum: 1
              required:
              - event_type
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: user_mailbox.event.subscribe
      x-lark-scopes:
      - mail:event
      x-lark-access-tokens:
      - user
      x-lark-risk: write
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/event/subscription:
    get:
      operationId: mail_user_mailbox_event_subscription
      summary: 获取订阅状态
      tags:
      - user_mailbox.event
      description: 获取订阅状态
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=subscription&project=mail&resource=user_mailbox.event&version=v1
      parameters:
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址，使用 user_access_token 时可使用 me
        example: user@xxx.xx 或 me
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      event_types:
                        type: array
                        items: {}
                        description: 订阅的事件列表
      x-lark-method-id: user_mailbox.event.subscription
      x-lark-scopes:
      - mail:event
      x-lark-access-tokens:
      - user
      x-lark-risk: read
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/event/unsubscribe:
    post:
      operationId: mail_user_mailbox_event_unsubscribe
      summary: 取消订阅
      tags:
      - user_mailbox.event
      description: 取消订阅
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=unsubscribe&project=mail&resource=user_mailbox.event&version=v1
      parameters:
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址，使用 user_access_token 时可使用 me
        example: user@xxx.xx 或 me
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: integer
                  description: 事件类型
                  enum:
                  - 1
                  x-enum-descriptions:
                    '1': 邮件相关事件
                  example: 1
                  minimum: 1
                  maximum: 1
              required:
              - event_type
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: user_mailbox.event.unsubscribe
      x-lark-scopes:
      - mail:event
      x-lark-access-tokens:
      - user
      x-lark-risk: write
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/folders:
    post:
      operationId: mail_user_mailbox_folders_create
      summary: 创建邮箱文件夹
      tags:
      - user_mailbox.folders
      description: 创建邮箱文件夹
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create&project=mail&resource=user_mailbox.folder&version=v1
      parameters:
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: user@xxx.xx 或 me
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 文件夹名称
                  example: newsletter 相关
                parent_folder_id:
                  type: string
                  description: 父文件夹 id，该值为 0 表示根文件夹，id 获取方式见 [列出邮箱文件夹](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/user_mailbox-folder/list)
                  example: '725627422334644'
              required:
              - name
              - parent_folder_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      folder:
                        type: object
                        properties:
                          folder_type:
                            type: integer
                            description: 文件夹类型
                            enum:
                            - 1
                            - 2
                            x-enum-descriptions:
                              '1': 系统文件夹
                              '2': 用户文件夹
                            example: 1
                            minimum: 1
                            maximum: 2
                          id:
                            type: string
                            description: folder id
                            example: '7620095646711680541'
                          name:
                            type: string
                            description: 文件夹名称
                            example: newsletter 相关
                          parent_folder_id:
                            type: string
                            description: 父文件夹 id，该值为 0 表示根文件夹，id 获取方式见 [列出邮箱文件夹](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/user_mailbox-folder/list)
                            example: '725627422334644'
                          unread_message_count:
                            type: integer
                            description: 未读邮件数量
                            example: 3
                          unread_thread_count:
                            type: integer
                            description: 未读会话数量
                            example: 4
                        required:
                        - name
                        - parent_folder_id
                        description: 文件夹实体
      x-lark-method-id: user_mailbox.folder.create
      x-lark-scopes:
      - mail:user_mailbox.folder:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: mail_user_mailbox_folders_list
      summary: 列出邮箱文件夹
      tags:
      - user_mailbox.folders
      description: 列出邮箱文件夹
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=mail&resource=user_mailbox.folder&version=v1
      parameters:
      - name: folder_type
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 1
          - 2
          x-enum-descriptions:
            '1': 系统文件夹
            '2': 用户文件夹
          minimum: 1
          maximum: 2
        description: 文件夹类型。支持填写1（系统文件夹）、2（用户文件夹）
        example: 1
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: user@xxx.xx 或 me
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            folder_type:
                              type: integer
                              description: 文件夹类型
                              enum:
                              - 1
                              - 2
                              x-enum-descriptions:
                                '1': 系统文件夹
                                '2': 用户文件夹
                              example: 1
                              minimum: 1
                              maximum: 2
                            id:
                              type: string
                              description: folder id
                              example: '7620095646711680541'
                            name:
                              type: string
                              description: 文件夹名称
                              example: newsletter 相关
                            parent_folder_id:
                              type: string
                              description: 父文件夹 id，该值为 0 表示根文件夹，id 获取方式见 [列出邮箱文件夹](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/user_mailbox-folder/list)
                              example: '725627422334644'
                            unread_message_count:
                              type: integer
                              description: 未读邮件数量
                              example: 3
                            unread_thread_count:
                              type: integer
                              description: 未读会话数量
                              example: 4
                          required:
                          - name
                          - parent_folder_id
                        description: 文件夹列表
      x-lark-method-id: user_mailbox.folder.list
      x-lark-scopes:
      - mail:user_mailbox.folder:write
      - mail:user_mailbox.folder:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/folders/{folder_id}:
    delete:
      operationId: mail_user_mailbox_folders_delete
      summary: 删除邮箱文件夹
      tags:
      - user_mailbox.folders
      description: 删除邮箱文件夹
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=delete&project=mail&resource=user_mailbox.folder&version=v1
      parameters:
      - name: folder_id
        in: path
        required: true
        schema:
          type: string
        description: 文件夹 id，id 获取方式见 [列出邮箱文件夹](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/user_mailbox-folder/list)
        example: '7620003644728938013'
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: user@xxx.xx 或 me
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: user_mailbox.folder.delete
      x-lark-scopes:
      - mail:user_mailbox.folder:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
    get:
      operationId: mail_user_mailbox_folders_get
      summary: 获取邮箱文件夹信息
      tags:
      - user_mailbox.folders
      description: 获取邮箱文件夹信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=get&project=mail&resource=user_mailbox.folder&version=v1
      parameters:
      - name: folder_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件文件夹唯一标识。可通过「获取邮箱文件夹列表」接口获取目标文件夹的 ID；若未传入该参数，默认返回根文件夹（收件箱）详情。
        example: '7620095646711680541'
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户。
        example: user@xxx.xx 或 me
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      folder:
                        type: object
                        properties:
                          folder_type:
                            type: integer
                            description: 文件夹类型
                            enum:
                            - 1
                            - 2
                            x-enum-descriptions:
                              '1': 系统文件夹
                              '2': 用户文件夹
                            example: 1
                            minimum: 1
                            maximum: 2
                          id:
                            type: string
                            description: folder id
                            example: '7620095646711680541'
                          name:
                            type: string
                            description: 文件夹名称
                            example: newsletter 相关
                          parent_folder_id:
                            type: string
                            description: 父文件夹 id，该值为 0 表示根文件夹，id 获取方式见 [列出邮箱文件夹](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/user_mailbox-folder/list)
                            example: '725627422334644'
                          unread_message_count:
                            type: integer
                            description: 未读邮件数量
                            example: 3
                          unread_thread_count:
                            type: integer
                            description: 未读会话数量
                            example: 4
                        required:
                        - name
                        - parent_folder_id
                        description: 邮件文件夹的完整信息，包含文件夹ID、名称、归属层级、类型及未读统计数据。
                        example: '{"id":"fld_1234567890abcdef","name":"收件箱","parent_folder_id":"0","folder_type":1,"unread_message_count":12,"unread_thread_count":8}'
      x-lark-method-id: user_mailbox.folder.get
      x-lark-scopes:
      - mail:user_mailbox.folder:write
      - mail:user_mailbox.folder:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
    patch:
      operationId: mail_user_mailbox_folders_patch
      summary: 修改邮箱文件夹
      tags:
      - user_mailbox.folders
      description: 修改邮箱文件夹
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=patch&project=mail&resource=user_mailbox.folder&version=v1
      parameters:
      - name: folder_id
        in: path
        required: true
        schema:
          type: string
        description: 文件夹 id，id 获取方式见 [列出邮箱文件夹](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/user_mailbox-folder/list)
        example: '7620003644728938013'
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: user@xxx.xx 或 me
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 文件夹名字
                  example: newsletter 相关
                parent_folder_id:
                  type: string
                  description: 父文件夹 id，该值为 0 表示根文件夹，id 获取方式见 [列出邮箱文件夹](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/user_mailbox-folder/list)
                  example: '725627422334644'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: user_mailbox.folder.patch
      x-lark-scopes:
      - mail:user_mailbox.folder:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/labels:
    post:
      operationId: mail_user_mailbox_labels_create
      summary: 创建标签
      tags:
      - user_mailbox.labels
      description: 创建标签
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create&project=mail&resource=user_mailbox.label&version=v1
      parameters:
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: user@xxx.xx 或 me
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: object
                  properties:
                    background_color:
                      type: string
                      description: 标签背景颜色，支持以下颜色值：blue、indigo、purple、violet、carmine、red、orange、yellow、lime、green、turquoise、wathet
                      example: blue
                    name:
                      type: string
                      description: 标签名称，必须填写。最长255个字符。
                      example: test
                  required:
                  - name
                  description: 邮件标签，必须填写标签名称，可选填写背景颜色
              required:
              - label
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      label:
                        type: object
                        properties:
                          background_color:
                            type: string
                            description: 标签背景颜色，可选填写。支持以下颜色值：blue、indigo、purple、violet、carmine、red、orange、yellow、lime、green、turquoise、wathet
                            example: blue
                          id:
                            type: string
                            description: 标签ID
                            example: '7620003644728938013'
                          messages_unread:
                            type: integer
                            description: 带有该标签的未读邮件数量
                            example: 0
                          name:
                            type: string
                            description: 标签名称，可选填写。最长255个字符。
                            example: test
                        description: 邮件标签，必须填写名字或颜色中的至少一个字段
      x-lark-method-id: user_mailbox.label.create
      x-lark-scopes:
      - mail:user_mailbox.message:modify
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: mail_user_mailbox_labels_list
      summary: 列出标签
      tags:
      - user_mailbox.labels
      description: 列出标签
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=mail&resource=user_mailbox.label&version=v1
      parameters:
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: user@xxx.xx 或 me
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            background_color:
                              type: string
                              description: 标签背景颜色，可选填写。支持以下颜色值：blue、indigo、purple、violet、carmine、red、orange、yellow、lime、green、turquoise、wathet
                              example: blue
                            id:
                              type: string
                              description: 标签ID
                              example: '7620003644728938013'
                            messages_unread:
                              type: integer
                              description: 带有该标签的未读邮件数量
                              example: 0
                            name:
                              type: string
                              description: 标签名称，可选填写。最长255个字符。
                              example: test
                        description: 标签列表
      x-lark-method-id: user_mailbox.label.list
      x-lark-scopes:
      - mail:user_mailbox.message:readonly
      - mail:user_mailbox.message:modify
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/labels/{label_id}:
    delete:
      operationId: mail_user_mailbox_labels_delete
      summary: 删除标签
      tags:
      - user_mailbox.labels
      description: 删除标签
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=delete&project=mail&resource=user_mailbox.label&version=v1
      parameters:
      - name: label_id
        in: path
        required: true
        schema:
          type: string
        description: 标签ID，创建标签成功后返回的标签ID，或可通过列出标签、获取邮件详情等接口获得
        example: '7620003644728938013'
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址，当使用user_access_token访问时，可以填写me
        example: user@xxx.xx 或 me
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: user_mailbox.label.delete
      x-lark-scopes:
      - mail:user_mailbox.message:modify
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
    get:
      operationId: mail_user_mailbox_labels_get
      summary: 获取标签信息
      tags:
      - user_mailbox.labels
      description: 获取标签信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=get&project=mail&resource=user_mailbox.label&version=v1
      parameters:
      - name: label_id
        in: path
        required: true
        schema:
          type: string
        description: 标签ID，创建标签成功后返回的标签ID，或可通过列出标签、获取邮件详情等接口获得
        example: '7620003644728938013'
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: user@xxx.xx 或 me
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      label:
                        type: object
                        properties:
                          background_color:
                            type: string
                            description: 标签背景颜色，可选填写。支持以下颜色值：blue、indigo、purple、violet、carmine、red、orange、yellow、lime、green、turquoise、wathet
                            example: blue
                          id:
                            type: string
                            description: 标签ID
                            example: '7620003644728938013'
                          messages_unread:
                            type: integer
                            description: 带有该标签的未读邮件数量
                            example: 0
                          name:
                            type: string
                            description: 标签名称，可选填写。最长255个字符。
                            example: test
                        description: 邮件标签，必须填写名字或颜色中的至少一个字段
      x-lark-method-id: user_mailbox.label.get
      x-lark-scopes:
      - mail:user_mailbox.message:modify
      - mail:user_mailbox.message:readonly
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
    patch:
      operationId: mail_user_mailbox_labels_patch
      summary: 更新标签
      tags:
      - user_mailbox.labels
      description: 更新标签
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=patch&project=mail&resource=user_mailbox.label&version=v1
      parameters:
      - name: label_id
        in: path
        required: true
        schema:
          type: string
        description: 标签ID，创建标签成功后返回的标签ID，或可通过列出标签、获取邮件详情等接口获得
        example: '7620003644728938013'
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: user@xxx.xx 或 me
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: object
                  properties:
                    background_color:
                      type: string
                      description: 标签背景颜色，可选填写。支持以下颜色值：blue、indigo、purple、violet、carmine、red、orange、yellow、lime、green、turquoise、wathet
                      example: blue
                    name:
                      type: string
                      description: 标签名称，可选填写。最长255个字符。
                      example: test
                  description: 邮件标签，必须填写名字或颜色中的至少一个字段
              required:
              - label
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      label:
                        type: object
                        properties:
                          background_color:
                            type: string
                            description: 标签背景颜色，可选填写。支持以下颜色值：blue、indigo、purple、violet、carmine、red、orange、yellow、lime、green、turquoise、wathet
                            example: blue
                          id:
                            type: string
                            description: 标签ID
                            example: '7620003644728938013'
                          messages_unread:
                            type: integer
                            description: 带有该标签的未读邮件数量
                            example: 0
                          name:
                            type: string
                            description: 标签名称，可选填写。最长255个字符。
                            example: test
                        description: 邮件标签，必须填写名字或颜色中的至少一个字段
      x-lark-method-id: user_mailbox.label.patch
      x-lark-scopes:
      - mail:user_mailbox.message:modify
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/mail_contacts:
    post:
      operationId: mail_user_mailbox_mail_contacts_create
      summary: 创建邮箱联系人
      tags:
      - user_mailbox.mail_contacts
      description: 创建邮箱联系人
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create&project=mail&resource=user_mailbox.mail_contact&version=v1
      parameters:
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址，使用 user_access_token 时可使用 me
        example: user@xxx.xx 或 me
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  description: 联系人公司
                  example: 张三科技有限公司
                mail_address:
                  type: string
                  description: 联系人邮箱
                  example: zhangsan@example.com
                name:
                  type: string
                  description: 联系人姓名
                  example: 张三
                phone:
                  type: string
                  description: 联系人手机号
                  example: '19912341234'
                position:
                  type: string
                  description: 联系人职位
                  example: CFO
                remark:
                  type: string
                  description: 联系人备注
                  example: 飞书发布会认识
                tag:
                  type: string
                  description: 联系人标签
                  example: 朋友
              required:
              - name
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      mail_contact:
                        type: object
                        properties:
                          avatar:
                            type: string
                            description: 联系人头像
                            example: https://exampleimg.com/xxxx.jpg
                          company:
                            type: string
                            description: 联系人公司
                            example: 张三科技有限公司
                          id:
                            type: string
                            description: 联系人 id
                            example: '7256274576546463764'
                          mail_address:
                            type: string
                            description: 联系人邮箱
                            example: zhangsan@example.com
                          name:
                            type: string
                            description: 联系人姓名
                            example: 张三
                          phone:
                            type: string
                            description: 联系人手机号
                            example: '19912341234'
                          position:
                            type: string
                            description: 联系人职位
                            example: CFO
                          remark:
                            type: string
                            description: 联系人备注
                            example: 飞书发布会认识
                          tag:
                            type: string
                            description: 联系人标签
                            example: 朋友
                        required:
                        - name
      x-lark-method-id: user_mailbox.mail_contact.create
      x-lark-scopes:
      - mail:user_mailbox.mail_contact:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: mail_user_mailbox_mail_contacts_list
      summary: 列出邮箱联系人
      tags:
      - user_mailbox.mail_contacts
      description: 列出邮箱联系人
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=mail&resource=user_mailbox.mail_contact&version=v1
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 20
        description: 分页大小
        example: 20
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: xxx
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址 或 输入me代表当前调用接口用户
        example: user@xxx.xx 或 me
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            avatar:
                              type: string
                              description: 联系人头像
                              example: https://exampleimg.com/xxxx.jpg
                            company:
                              type: string
                              description: 联系人公司
                              example: 张三科技有限公司
                            id:
                              type: string
                              description: 联系人 id
                              example: '7256274576546463764'
                            mail_address:
                              type: string
                              description: 联系人邮箱
                              example: zhangsan@example.com
                            name:
                              type: string
                              description: 联系人姓名
                              example: 张三
                            phone:
                              type: string
                              description: 联系人手机号
                              example: '19912341234'
                            position:
                              type: string
                              description: 联系人职位
                              example: CFO
                            remark:
                              type: string
                              description: 联系人备注
                              example: 飞书发布会认识
                            tag:
                              type: string
                              description: 联系人标签
                              example: 朋友
                          required:
                          - name
                        description: 邮件联系人列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: xxx
      x-lark-method-id: user_mailbox.mail_contact.list
      x-lark-scopes:
      - mail:user_mailbox.mail_contact:write
      - mail:user_mailbox.mail_contact:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/mail_contacts/{mail_contact_id}:
    delete:
      operationId: mail_user_mailbox_mail_contacts_delete
      summary: 删除邮箱联系人
      tags:
      - user_mailbox.mail_contacts
      description: 删除邮箱联系人
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=delete&project=mail&resource=user_mailbox.mail_contact&version=v1
      parameters:
      - name: mail_contact_id
        in: path
        required: true
        schema:
          type: string
        description: 邮箱联系人 id，获取方式见 [列出邮箱联系人](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/user_mailbox-mail_contact/list)
        example: '123'
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址 或 输入me代表当前调用接口用户
        example: 用户邮箱地址 或 输入me代表当前调用接口用户
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: user_mailbox.mail_contact.delete
      x-lark-scopes:
      - mail:user_mailbox.mail_contact:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
    patch:
      operationId: mail_user_mailbox_mail_contacts_patch
      summary: 修改邮箱联系人信息
      tags:
      - user_mailbox.mail_contacts
      description: 修改邮箱联系人信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=patch&project=mail&resource=user_mailbox.mail_contact&version=v1
      parameters:
      - name: mail_contact_id
        in: path
        required: true
        schema:
          type: string
        description: 邮箱联系人 id，获取方式见 [列出邮箱联系人](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/user_mailbox-mail_contact/list)
        example: '123'
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址 或 输入me代表当前调用接口用户
        example: user@xxx.xx 或 me
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  description: 联系人公司
                  example: 张三科技有限公司
                mail_address:
                  type: string
                  description: 联系人邮箱
                  example: zhangsan@example.com
                name:
                  type: string
                  description: 联系人姓名
                  example: 张三
                phone:
                  type: string
                  description: 联系人手机号
                  example: '19912341234'
                position:
                  type: string
                  description: 联系人职位
                  example: CFO
                remark:
                  type: string
                  description: 联系人备注
                  example: 飞书发布会认识
                tag:
                  type: string
                  description: 联系人标签
                  example: 朋友
              required:
              - name
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: user_mailbox.mail_contact.patch
      x-lark-scopes:
      - mail:user_mailbox.mail_contact:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/messages/{message_id}/attachments/download_url:
    get:
      operationId: mail_user_mailbox_message_attachments_download_url
      summary: 获取附件下载链接
      tags:
      - user_mailbox.message.attachments
      description: 获取附件下载链接
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=download_url&project=mail&resource=user_mailbox.message.attachment&version=v1
      parameters:
      - name: attachment_ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: 附件 id 列表
        style: form
        explode: false
      - name: message_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮件 id，获取方式见 [列出邮件](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/user_mailbox-message/list)
        example: TUlHc1NoWFhJMXgyUi9VZTNVL3h6UnlkRUdzPQ==
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址 或 输入me代表当前调用接口用户
        example: user@xxx.xx 或 me
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      download_urls:
                        type: array
                        items:
                          type: object
                          properties:
                            attachment_id:
                              type: string
                              description: 附件 id
                              example: YQqYbQHoQoDqXjxWKhJbo8Gicjf
                            download_url:
                              type: string
                              description: 下载链接
                              example: https://api-drive-stream.blmpb.com/space/api/box/stream/download/authcode/?code=YTZiZGViMDg3NzRjMzEwOWRkMGI1MTJlYmQxYTFmYTBfZTA5ZjZiOWU4NDYzMzkxMDUyOTIxMzBmNTVjMjAyZTFfSUQ6NzI4MTE4Nzg1OTE5NTc3Mjk0N18xNjk1ODg4NjQyOjE2OTU4ODg3MDJfVjM
                        description: 下载链接列表
                      failed_ids:
                        type: array
                        items: {}
                        description: 获取失败的附件 id 列表
                      failed_reasons:
                        type: array
                        items:
                          type: object
                          properties:
                            attachment_id:
                              type: string
                              description: 附件 ID
                              example: YQqYbQHoQoDqXjxWKhJbo8Gicjf
                            reason:
                              type: string
                              description: 失败原因
                              example: attachment_not_found
                        description: 附件下载链接获取失败原因
      x-lark-method-id: user_mailbox.message.attachment.download_url
      x-lark-scopes:
      - mail:user_mailbox.message.body:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/mail/v1/user_mailboxes/{user_mailbox_id}/messages/batch_get:
    post:
      operationId: mail_user_mailbox_messages_batch_get
      summary: 批量获取邮件详情
      tags:
      - user_mailbox.messages
      description: 批量获取邮件详情
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=batch_get&project=mail&resource=user_mailbox.message&version=v1
      parameters:
      - name: user_mailbox_id
        in: path
        required: true
        schema:
          type: string
        description: 用户邮箱地址。当使用用户身份访问时，可以输入"me"代表当前调用接口用户
        example: me
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                format:
                  type: string
                  description: 需要获取的邮件内容
                  enum:
                  - full
                  - plain_text_full
                  - metadata
                  x-enum-descriptions:
                    full: 全文，包括标签、文件夹、主题、收发件人、纯文本、HTML等信息
                    plain_text_full: 全文，只返回纯文本正文内容，不返回HTML。返回内容包括标签、文件夹、主题、收发件人、纯文本等信息
                    metadata: 邮件元数据信息，包括标签、文件夹、主题、收发件人、摘要等信息，不返回正文内容
                  example: full
                message_ids:
                  type: array
                  items: {}
                  description: 需要的邮件ID，可以通过列出邮件列表、收信事件通知等方式获得
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      messages:
                        type: array
                        items:
                          type: object
                          properties:
                            attachments:
                              type: array
                              items:
                                type: object
                                properties:
                                  attachment_type:
                                    type: integer
                                    description: 附件类型
                                    enum:
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '1': 普通附件
                                      '2': 超大附件
                                    example: 1
                                    minimum: 1
                                    maximum: 2
                                  body:
                                    type: string
                                    description: 附件的正文，使用 base64url 编码（支持的文件最大 37MB）
                                    example: aGVsbG8gd29ybGQK
                                  cid:
                                    type: string
                                    description: '内容 ID，HTML 中通过 cid: 协议引用该图片'
                                    example: image1@example.com
                                  filename:
                                    type: string
                                    description: 附件文件名
                                    example: helloworld.txt
                                  id:
                                    type: string
                                    description: 附件 id
                                    example: YQqYbQHoQoDqXjxWKhJbo8Gicjf
                                  is_inline:
                                    type: boolean
                                    description: 是否为内联图片，true 表示是内联图片
                                    example: false
                                required:
                                - body
                                - filename
                              description: 邮件附件列表
                            bcc:
                              type: array
                              items:
                                type: object
                                properties:
                                  mail_address:
                                    type: string
                                    description: 邮件地址
                                    example: user@xxx.xx
                                  name:
                                    type: string
                                    description: 名称
                                    example: Mike
                                required:
                                - mail_address
                              description: 密送
                            body_calendar:
                              type: string
                              description: 日历邀请内容(base64url)。当邮件包含标准RFC 5545格式的日历邀请时返回，解码后为ICS文本。
                              example: QkVHSU46VkNBTEVOREFSDQpWRVJTSU9OOjIuMA0KLi4uDQpFTkQ6VkNBTEVOREFS
                            body_html:
                              type: string
                              description: 正文(base64url)
                              example: xxxx
                            body_plain_text:
                              type: string
                              description: 正文纯文本(base64url)
                              example: xxxxx
                            body_preview:
                              type: string
                              description: 邮件正文纯文本内容的前100个字符，基于base64url编码，用于快速预览邮件核心内容，无需解码完整正文
                              example: xxxxx
                            cc:
                              type: array
                              items:
                                type: object
                                properties:
                                  mail_address:
                                    type: string
                                    description: 邮件地址
                                    example: user@xxx.xx
                                  name:
                                    type: string
                                    description: 名称
                                    example: Mike
                                required:
                                - mail_address
                              description: 抄送
                            folder_id:
                              type: string
                              description: 文件夹ID
                              example: INBOX
                            head_from:
                              type: object
                              properties:
                                mail_address:
                                  type: string
                                  description: 邮件地址
                                  example: user@xxx.xx
                                name:
                                  type: string
                                  description: 名称
                                  example: Mike
                              required:
                              - mail_address
                              description: 发件人
                            in_reply_to:
                              type: string
                              description: In-Reply-To邮件头
                              example: 06d20.dbf451a3.808a.475a.acc9.1363dfd20f36@larksuite.com
                            internal_date:
                              type: string
                              description: 创建/收/发信时间（毫秒）
                              example: '1682377086000'
                            label_ids:
                              type: array
                              items: {}
                              description: 标签ID
                            message_id:
                              type: string
                              description: 邮件id
                              example: tfuh9N4WnzU6jdDw=
                            message_state:
                              type: integer
                              description: 邮件状态，1为收信，2为发信，3为草稿
                              example: 1
                            priority_type:
                              type: string
                              description: 邮件优先级
                              enum:
                              - '0'
                              - '1'
                              - '3'
                              - '5'
                              x-enum-descriptions:
                                '0': 无优先级
                                '1': 高优先级
                                '3': 正常优先级
                                '5': 低优先级
                              example: '0'
                            raw:
                              type: string
                              description: MIME邮件数据，基于base64url编码
                              example: Q29udGVudC1UeXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PSJ1cy1hc2NpaSIKTUlNRS1WZXJzaW9uOiAxLjAKQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogN2JpdAp0bzogInRvIiA8dG9AeHh4Lnh4Pgpmcm9tOiAiZnJvbSIgPGZyb21AeHh4Lnh4PgpzdWJqZWN0OiB0aGlzIGlzIGEgc3ViamVjdAoKdGhpcyBpcyB0aGUgbWVzc2FnZSBib2R5Lg
                            references:
                              type: string
                              description: References邮件头
                              example: <5678.abcd@test.com>\r\n\t<1234.abcd@message-id>
                            reply_to:
                              type: string
                              description: Reply-To邮件头
                              example: 06d20.dbf451a3.808a.475a.acc9.1363dfd20f36@larksuite.com
                            security_level:
                              type: object
                              properties:
                                is_header_from_external:
                                  type: boolean
                                  description: 发件人是否外部邮件
                                  example: false
                                is_risk:
                                  type: boolean
                                  description: 是否风险邮件
                                  example: false
                                risk_banner_level:
                                  type: string
                                  description: 风险邮件等级
                                  enum:
                                  - WARNING
                                  - DANGER
                                  - INFO
                                  x-enum-descriptions:
                                    WARNING: 警告
                                    DANGER: 危险
                                    INFO: 提示
                                  example: WARNING
                                risk_banner_reason:
                                  type: string
                                  description: 风险邮件原因
                                  enum:
                                  - NO_REASON
                                  - IMPERSONATE_DOMAIN
                                  - IMPERSONATE_KP_NAME
                                  - UNAUTH_EXTERNAL
                                  - MALICIOUS_URL
                                  - MALICIOUS_ATTACHMENT
                                  - PHISHING
                                  - IMPERSONATE_PARTNER
                                  - EXTERNAL_ENCRYPTION_ATTACHMENT
                                  x-enum-descriptions:
                                    NO_REASON: 未知
                                    IMPERSONATE_DOMAIN: 相似域名仿冒
                                    IMPERSONATE_KP_NAME: KP姓名仿冒
                                    UNAUTH_EXTERNAL: 未认证外部域名
                                    MALICIOUS_URL: 恶意链接
                                    MALICIOUS_ATTACHMENT: 高危附件
                                    PHISHING: 钓鱼邮件
                                    IMPERSONATE_PARTNER: 仿冒合作伙伴
                                    EXTERNAL_ENCRYPTION_ATTACHMENT: 外部邮件携带加密附件
                                  example: IMPERSONATE_DOMAIN
                                spam_banner_info:
                                  type: string
                                  description: 命中用户黑名单的地址或域名信息
                                  example: larksuite.com
                                spam_banner_type:
                                  type: string
                                  description: 垃圾邮件原因
                                  enum:
[...]
