# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 思维笔记
  description: |-
    思维笔记节点列表查看、节点创建/更新

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: mindnotes
  x-lark-service-api-version: v1
  x-lark-registry-version: 1.0.0
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: nodes
paths:
  /open-apis/mindnote/v1/mindnotes/{mindnote_id}/nodes:
    post:
      operationId: mindnotes_nodes_create
      summary: 创建/更新思维笔记节点
      tags:
      - nodes
      description: 创建/更新思维笔记节点
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create&project=mindnote&resource=mindnote.node&version=v1
      parameters:
      - name: mindnote_id
        in: path
        required: true
        schema:
          type: string
        description: Mindnote唯一标识
        example: D05hbLa3dm08GbnerjwbvNmUcgf
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                client_token:
                  type: string
                  description: 操作的唯一标识，更新请求中使用此值表示幂等的进行此次更新
                  example: fe599b60-450f-46ff-b2ef-9f6675625b97
                nodes:
                  type: array
                  items:
                    type: object
                    properties:
                      finish:
                        type: boolean
                        description: 节点是否完成
                      highlight:
                        type: string
                        description: 节点高亮颜色
                        enum:
                        - red
                        - yellow
                        - pink
                        - blue
                        - cyan
                        - olive
                        - grey
                        x-enum-descriptions:
                          red: 红色
                          yellow: 黄色
                          pink: 粉色
                          blue: 蓝色
                          cyan: 青色
                          olive: 橄榄绿
                          grey: 灰色
                      images:
                        type: array
                        items:
                          type: object
                          properties:
                            token:
                              type: string
                              description: 图片token
                              example: img_abc123
                          required:
                          - token
                        description: 图片列表
                      node_id:
                        type: string
                        description: 节点ID
                        example: node_abc123
                      notes:
                        type: array
                        items:
                          type: object
                          properties:
                            element_type:
                              type: string
                              description: 元素类型
                              enum:
                              - text
                              - link
                              - user
                              - doc
                              x-enum-descriptions:
                                text: 文本
                                link: 超链接
                                user: '@用户'
                                doc: 文档链接
                            link:
                              type: object
                              properties: {}
                              description: 链接
                              example: xxx
                            mention_doc:
                              type: object
                              properties: {}
                              description: '@文档'
                              example: xxx
                            mention_user:
                              type: object
                              properties: {}
                              description: '@用户'
                              example: xxx
                            style:
                              type: object
                              properties: {}
                              description: 文本样式
                              example: xxx
                            text:
                              type: object
                              properties: {}
                              description: 纯文本
                              example: xxx
                          required:
                          - element_type
                        description: 备注内容列表
                      parent_id:
                        type: string
                        description: 父节点ID
                        example: node_parent123
                      texts:
                        type: array
                        items:
                          type: object
                          properties:
                            element_type:
                              type: string
                              description: 元素类型
                              enum:
                              - text
                              - link
                              - user
                              - doc
                              x-enum-descriptions:
                                text: 文本
                                link: 超链接
                                user: '@用户'
                                doc: 文档链接
                            link:
                              type: object
                              properties: {}
                              description: 链接
                              example: xxx
                            mention_doc:
                              type: object
                              properties: {}
                              description: '@文档'
                              example: xxx
                            mention_user:
                              type: object
                              properties: {}
                              description: '@用户'
                              example: xxx
                            style:
                              type: object
                              properties: {}
                              description: 文本样式
                              example: xxx
                            text:
                              type: object
                              properties: {}
                              description: 纯文本
                              example: xxx
                          required:
                          - element_type
                        description: 文本内容列表
                  description: Mindnote节点信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      client_token:
                        type: string
                        description: 操作的唯一标识，更新请求中使用此值表示幂等的进行此次更新
                        example: fe599b60-450f-46ff-b2ef-9f6675625b97
                      ids:
                        type: array
                        items: {}
                        description: 创建的节点列表
      x-lark-method-id: mindnote.node.create
      x-lark-scopes:
      - mindnote:node:create
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: mindnotes_nodes_list
      summary: 获取思维笔记节点列表
      tags:
      - nodes
      description: 获取思维笔记节点列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=mindnote&resource=mindnote.node&version=v1
      parameters:
      - name: mindnote_id
        in: path
        required: true
        schema:
          type: string
        description: Mindnote唯一标识
        example: D05hbLa3dm08GbnerjwbvNmUcgf
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      nodes:
                        type: array
                        items:
                          type: object
                          properties:
                            finish:
                              type: boolean
                              description: 节点是否完成
                            highlight:
                              type: string
                              description: 节点高亮颜色
                              enum:
                              - red
                              - yellow
                              - pink
                              - blue
                              - cyan
                              - olive
                              - grey
                              x-enum-descriptions:
                                red: 红色
                                yellow: 黄色
                                pink: 粉色
                                blue: 蓝色
                                cyan: 青色
                                olive: 橄榄绿
                                grey: 灰色
                            images:
                              type: array
                              items:
                                type: object
                                properties:
                                  token:
                                    type: string
                                    description: 图片token
                                    example: img_abc123
                                required:
                                - token
                              description: 图片列表
                            node_id:
                              type: string
                              description: 节点ID
                              example: node_abc123
                            notes:
                              type: array
                              items:
                                type: object
                                properties:
                                  element_type:
                                    type: string
                                    description: 元素类型
                                    enum:
                                    - text
                                    - link
                                    - user
                                    - doc
                                    x-enum-descriptions:
                                      text: 文本
                                      link: 超链接
                                      user: '@用户'
                                      doc: 文档链接
                                  link:
                                    type: object
                                    properties: {}
                                    description: 链接
                                    example: xxx
                                  mention_doc:
                                    type: object
                                    properties: {}
                                    description: '@文档'
                                    example: xxx
                                  mention_user:
                                    type: object
                                    properties: {}
                                    description: '@用户'
                                    example: xxx
                                  style:
                                    type: object
                                    properties: {}
                                    description: 文本样式
                                    example: xxx
                                  text:
                                    type: object
                                    properties: {}
                                    description: 纯文本
                                    example: xxx
                                required:
                                - element_type
                              description: 备注内容列表
                            parent_id:
                              type: string
                              description: 父节点ID
                              example: node_parent123
                            texts:
                              type: array
                              items:
                                type: object
                                properties:
                                  element_type:
                                    type: string
                                    description: 元素类型
                                    enum:
                                    - text
                                    - link
                                    - user
                                    - doc
                                    x-enum-descriptions:
                                      text: 文本
                                      link: 超链接
                                      user: '@用户'
                                      doc: 文档链接
                                  link:
                                    type: object
                                    properties: {}
                                    description: 链接
                                    example: xxx
                                  mention_doc:
                                    type: object
                                    properties: {}
                                    description: '@文档'
                                    example: xxx
                                  mention_user:
                                    type: object
                                    properties: {}
                                    description: '@用户'
                                    example: xxx
                                  style:
                                    type: object
                                    properties: {}
                                    description: 文本样式
                                    example: xxx
                                  text:
                                    type: object
                                    properties: {}
                                    description: 纯文本
                                    example: xxx
                                required:
                                - element_type
                              description: 文本内容列表
                        description: 节点信息
      x-lark-method-id: mindnote.node.list
      x-lark-scopes:
      - mindnote:node:read
      x-lark-access-tokens:
      - user
      x-lark-risk: read
