# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 幻灯片 API
  description: |-
    创建、读取和编辑幻灯片，底层交互协议为 XML

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: slides
  x-lark-service-api-version: v1
  x-lark-registry-version: 1.0.0
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: xml_presentation.slide
- name: xml_presentations
paths:
  /open-apis/slides_ai/v1/xml_presentations/{xml_presentation_id}/slide:
    post:
      operationId: slides_xml_presentation_slide_create
      summary: 在指定 XML 演示文稿下创建页面
      tags:
      - xml_presentation.slide
      description: 在指定 XML 演示文稿下创建页面
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create&project=slides_ai&resource=xml_presentation.slide&version=v1
      parameters:
      - name: revision_id
        in: query
        required: false
        schema:
          type: integer
          minimum: -1
          maximum: 2147483647
          default: -1
        description: 演示文稿的版本号，-1 表示最新版本
        example: -1
      - name: tid
        in: query
        required: false
        schema:
          type: string
        description: 锁的事务 ID，用于并发控制
        example: idMock
      - name: xml_presentation_id
        in: path
        required: true
        schema:
          type: string
        description: 演示文稿唯一标识
        example: zTqAwsEb4clrjOLd3drAcNZabcef
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                before_slide_id:
                  type: string
                  description: 插入到指定页面之前，为空时插入到末尾
                  example: slidecn20m4XJ1hJXXxXXX
                slide:
                  type: object
                  properties:
                    content:
                      type: string
                      description: 幻灯片页面的 XML 内容
                      example: <slide xmlns="http://www.larkoffice.com/sml/2.0"><data></data></slide>
                    slide_id:
                      type: string
                      description: 幻灯片页面的 short ID
                      example: sld_xxx
                  description: 页面内容
              required:
              - slide
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      revision_id:
                        type: integer
                        description: 演示文稿的最新版本号
                        example: 100
                      slide_id:
                        type: string
                        description: 新创建页面的唯一标识
                        example: slidecn20m4XJ1hJXXxXXX
      x-lark-method-id: xml_presentation.slide.create
      x-lark-scopes:
      - slides:presentation:update
      - slides:presentation:write_only
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
    delete:
      operationId: slides_xml_presentation_slide_delete
      summary: 在指定 XML 演示文稿下删除页面
      tags:
      - xml_presentation.slide
      description: 在指定 XML 演示文稿下删除页面
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=delete&project=slides_ai&resource=xml_presentation.slide&version=v1
      parameters:
      - name: revision_id
        in: query
        required: false
        schema:
          type: integer
          minimum: -1
          maximum: 2147483647
          default: -1
        description: 演示文稿的版本号，-1 表示最新版本
        example: -1
      - name: slide_id
        in: query
        required: true
        schema:
          type: string
        description: 页面唯一标识
        example: slidecn20m4XJ1hJXXxXXX
      - name: tid
        in: query
        required: false
        schema:
          type: string
        description: 锁的事务 ID，用于并发控制
        example: idMock
      - name: xml_presentation_id
        in: path
        required: true
        schema:
          type: string
        description: 演示文稿唯一标识
        example: zTqAwsEb4clrjOLd3drAcNZabcef
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      revision_id:
                        type: integer
                        description: 演示文稿的最新版本号
                        example: 100
      x-lark-method-id: xml_presentation.slide.delete
      x-lark-scopes:
      - slides:presentation:update
      - slides:presentation:write_only
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: high-risk-write
      x-lark-danger: true
    get:
      operationId: slides_xml_presentation_slide_get
      summary: 获取指定 XML 演示文稿的单个页面 XML 内容
      tags:
      - xml_presentation.slide
      description: 获取指定 XML 演示文稿的单个页面 XML 内容
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=get&project=slides_ai&resource=xml_presentation.slide&version=v1
      parameters:
      - name: revision_id
        in: query
        required: false
        schema:
          type: integer
          minimum: -1
          maximum: 2147483647
          default: -1
        description: 演示文稿的版本号，-1 表示最新版本
        example: -1
      - name: slide_id
        in: query
        required: true
        schema:
          type: string
        description: 页面唯一标识
        example: slidecn20m4XJ1hJXXxXXX
      - name: xml_presentation_id
        in: path
        required: true
        schema:
          type: string
        description: 演示文稿唯一标识
        example: zTqAwsEb4clrjOLd3drAcNZabcef
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      revision_id:
                        type: integer
                        description: 演示文稿的版本号
                        example: 100
                      slide:
                        type: object
                        properties:
                          content:
                            type: string
                            description: 幻灯片页面的 XML 内容
                            example: <slide xmlns="http://www.larkoffice.com/sml/2.0"><data></data></slide>
                          slide_id:
                            type: string
                            description: 幻灯片页面的 short ID
                            example: sld_xxx
                        description: 页面内容
      x-lark-method-id: xml_presentation.slide.get
      x-lark-scopes:
      - slides:presentation:read
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/slides_ai/v1/xml_presentations/{xml_presentation_id}/slide/replace:
    post:
      operationId: slides_xml_presentation_slide_replace
      summary: 对指定 XML 演示文稿页面进行元素级别的局部替换
      tags:
      - xml_presentation.slide
      description: 对指定 XML 演示文稿页面进行元素级别的局部替换
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=replace&project=slides_ai&resource=xml_presentation.slide&version=v1
      parameters:
      - name: revision_id
        in: query
        required: false
        schema:
          type: integer
          minimum: -1
          maximum: 2147483647
          default: -1
        description: 演示文稿的版本号，-1 表示最新版本
        example: -1
      - name: slide_id
        in: query
        required: true
        schema:
          type: string
        description: 页面唯一标识
        example: slidecn20m4XJ1hJXXxXXX
      - name: tid
        in: query
        required: false
        schema:
          type: string
        description: 锁的事务 ID，用于并发控制
        example: idMock
      - name: xml_presentation_id
        in: path
        required: true
        schema:
          type: string
        description: 演示文稿唯一标识
        example: zTqAwsEb4clrjOLd3drAcNZabcef
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: 操作备注
                  example: 批量替换文本内容
                parts:
                  type: array
                  items:
                    type: object
                    properties:
                      action:
                        type: string
                        description: 操作类型：str_replace（字符串替换）、block_replace（块替换）、block_insert（块插入）
                        example: str_replace
                      block_id:
                        type: string
                        description: 目标块的唯一标识，block_replace 时使用，格式为 3 位 short element ID
                        example: bab
                      insert_before_block_id:
                        type: string
                        description: 在指定块之前插入，为空时追加到末尾，block_insert 时使用，格式为 3 位 short element ID
                        example: baa
                      insertion:
                        type: string
                        description: 要插入的 XML 元素片段，block_insert 时使用
                        example: <shape><p>inserted element</p></shape>
                      is_multiple:
                        type: boolean
                        description: 是否替换所有匹配项，默认只替换第一个，str_replace 时使用
                        example: true
                      pattern:
                        type: string
                        description: 查找的字符串模式，str_replace 时使用
                        example: test from
                      replacement:
                        type: string
                        description: 替换内容，str_replace 和 block_replace 时使用
                        example: test from1
                    required:
                    - action
                  description: 替换操作列表，每项包含一个元素级别的编辑操作，最少1条，最多200条
              required:
              - parts
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      failed_part_index:
                        type: integer
                        description: 失败的操作在 parts 数组中的索引，整个请求失败时返回
                        example: 0
                      failed_reason:
                        type: string
                        description: 失败原因描述
                        example: pattern not found
                      revision_id:
                        type: integer
                        description: 演示文稿的最新版本号
                        example: 100
      x-lark-method-id: xml_presentation.slide.replace
      x-lark-scopes:
      - slides:presentation:update
      - slides:presentation:write_only
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/slides_ai/v1/xml_presentations/{xml_presentation_id}:
    get:
      operationId: slides_xml_presentations_get
      summary: 读取演示文稿全文信息，XML 格式返回
      tags:
      - xml_presentations
      description: 读取演示文稿全文信息，XML 格式返回
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=get&project=slides_ai&resource=xml_presentation&version=v1
      parameters:
      - name: revision_id
        in: query
        required: false
        schema:
          type: integer
          minimum: -1
          maximum: 2147483647
          default: -1
        description: 演示文稿的版本号，-1 表示最新版本
        example: -1
      - name: xml_presentation_id
        in: path
        required: true
        schema:
          type: string
        description: 演示文稿唯一标识
        example: zTqAwsEb4clrjOLd3drAcNZabcef
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      xml_presentation:
                        type: object
                        properties:
                          content:
                            type: string
                            description: 演示文稿的 XML 内容
                            example: '<presentation xmlns="http://www.larkoffice.com/sml/2.0" height="540" width="960"></presentation> '
                          presentation_id:
                            type: string
                            description: 演示文稿的ID
                            example: S7YwsFIGIlnS2qdscKDc1Yabcef
                          revision_id:
                            type: integer
                            description: 演示文稿的版本号
                            example: 1
                            minimum: -1
                            maximum: 9223372036854775808
                        description: 演示文稿内容
      x-lark-method-id: xml_presentation.get
      x-lark-scopes:
      - slides:presentation:read
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
