# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 任务 API
  description: |-
    任务、清单、子任务、任务智能体

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: task
  x-lark-service-api-version: v2
  x-lark-registry-version: 1.0.0
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: agent
- name: agent_task_step_info
- name: custom_field_options
- name: custom_fields
- name: members
- name: sections
- name: subtasks
- name: tasklists
- name: tasks
paths:
  /open-apis/task/v2/agent/register_agent:
    post:
      operationId: task_agent_register_agent
      summary: 注册/注销 AI 智能体
      tags:
      - agent
      description: 注册/注销 AI 智能体
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=register_agent&project=task&resource=agent&version=v2
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      agent:
                        type: object
                        properties:
                          app_id:
                            type: string
                            description: 应用唯一标识，用于区分不同应用主体。可通过开放平台应用管理页面获取
                            example: cli_a1b2c3d4e5f6g7h8
                          app_name:
                            type: string
                            description: 应用名称，用于展示应用的友好标识，支持中英文混合
                            example: 企业任务管理助手
                        description: AI智能体的核心信息对象，包含智能体所属应用的唯一标识与友好名称，用于标识和展示已注册的智能体主体
                        example: '{"app_id":"cli_a1b2c3d4e5f6g7h8","app_name":"企业任务管理助手"}'
      x-lark-method-id: agent.register_agent
      x-lark-scopes:
      - task:task:writeonly
      - task:task:write
      - task:tasklist:writeonly
      - task:tasklist:write
      x-lark-access-tokens:
      - tenant
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/task/v2/agent/update_agent_profile:
    post:
      operationId: task_agent_update_agent_profile
      summary: 更新任务代理的主页内容数据
      tags:
      - agent
      description: 更新任务代理的主页内容数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=update_agent_profile&project=task&resource=agent&version=v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_content:
                  type: string
                  description: 智能体的主页内容
                  example: 今天的内容总结：完成了工作内容
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: agent.update_agent_profile
      x-lark-scopes:
      - task:task:writeonly
      - task:task:write
      - task:tasklist:writeonly
      - task:tasklist:write
      x-lark-access-tokens:
      - tenant
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/task/v2/agent_task_step_info/append_task_steps:
    post:
      operationId: task_agent_task_step_info_append_task_steps
      summary: '## 功能介绍 写入任务记录'
      tags:
      - agent_task_step_info
      description: '## 功能介绍 写入任务记录。'
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=append_task_steps&project=task&resource=agent_task_step_info&version=v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                idempotent_key:
                  type: string
                  description: 幂等 key，可选。调用方重试时建议传入同一个值
                  example: '12341234124'
                task_guid:
                  type: string
                  description: 任务唯一ID
                  example: guid_234324235423411234
                task_steps:
                  type: array
                  items:
                    type: object
                    properties:
                      content:
                        type: string
                        description: 操作内容
                        example: 完成了第二步任务
                      quote:
                        type: string
                        description: 引用信息
                        example: 引用自“开始做第一步”
                      timestamp:
                        type: integer
                        description: 操作时间
                        example: 1776254798779
                        minimum: 1
                        maximum: 9776254798779000
                    required:
                    - content
                  description: 批量追加的执行日志
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: agent_task_step_info.append_task_steps
      x-lark-scopes:
      - task:task:write
      - task:task:writeonly
      x-lark-access-tokens:
      - tenant
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/task/v2/custom_fields/{custom_field_guid}/options:
    post:
      operationId: task_custom_field_options_create
      summary: 创建自定义字段选项
      tags:
      - custom_field_options
      description: 创建自定义字段选项
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create&project=task&resource=custom_field.option&version=v2
      parameters:
      - name: custom_field_guid
        in: path
        required: true
        schema:
          type: string
        description: 要添加选项的自定义字段GUID，该字段必须是
        example: b13adf3c-cad6-4e02-8929-550c112b5633
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                color_index:
                  type: integer
                  description: 颜色索引值，支持0～54中的一个数字。
                  example: 10
                  minimum: 0
                  maximum: 54
                insert_after:
                  type: string
                  description: 要放到某个option之后的option_guid
                  example: b13adf3c-cad6-4e02-8929-550c112b5633
                insert_before:
                  type: string
                  description: 要放到某个option之前的option_guid
                  example: 2bd905f8-ef38-408b-aa1f-2b2ad33b2913
                is_hidden:
                  type: boolean
                  description: 是否隐藏
                  example: false
                name:
                  type: string
                  description: 选项名称，最大50个字符。
                  example: 高优
              required:
              - name
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      option:
                        type: object
                        properties:
                          color_index:
                            type: integer
                            description: 选项的颜色索引值，可以是0～54中的一个数字。如果不填写则会随机选一个。
                            example: 1
                            minimum: 0
                            maximum: 54
                          guid:
                            type: string
                            description: 选项的GUID。
                            example: 4216f79b-3fda-4dc6-a0c4-a16022e47152
                          is_hidden:
                            type: boolean
                            description: 选项是否隐藏。隐藏后的选项在界面不可见，也不可以再通过openAPI将字段值设为该选项。
                            example: false
                          name:
                            type: string
                            description: 选项名称，不能为空，最大50个字符
                            example: 高优
                        description: 创建的选项
      x-lark-method-id: custom_field_options.create
      x-lark-scopes:
      - task:custom_field:writeonly
      - task:tasklist:write
      - task:tasklist:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/task/v2/custom_fields/{custom_field_guid}/options/{option_guid}:
    patch:
      operationId: task_custom_field_options_patch
      summary: 更新自定义字段选项
      tags:
      - custom_field_options
      description: 更新自定义字段选项
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=patch&project=task&resource=custom_field.option&version=v2
      parameters:
      - name: custom_field_guid
        in: path
        required: true
        schema:
          type: string
        description: 要更新的选项的自定义字段GUID
        example: ec5ed63d-a4a9-44de-a935-7ba243471c0a
      - name: option_guid
        in: path
        required: true
        schema:
          type: string
        description: 要更新的选项的GUID
        example: b13adf3c-cad6-4e02-8929-550c112b5633
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                option:
                  type: object
                  properties:
                    color_index:
                      type: integer
                      description: 颜色索引值，支持0～54中的一个数字。
                      example: 10
                      minimum: 0
                      maximum: 54
                    insert_after:
                      type: string
                      description: 要放到某个option之后的option_guid
                      example: b13adf3c-cad6-4e02-8929-550c112b5633
                    insert_before:
                      type: string
                      description: 要放到某个option之前的option_guid
                      example: 2bd905f8-ef38-408b-aa1f-2b2ad33b2913
                    is_hidden:
                      type: boolean
                      description: 是否隐藏
                      example: false
                    name:
                      type: string
                      description: 选项名称
                      example: 高优
                update_fields:
                  type: array
                  items: {}
                  description: |-
                    要更新的字段名，支持
                    * `name`:  选项名称
                    * `color_index`: 选项的颜色索引值
                    * `is_hidden`: 是否从界面上隐藏
                    * `insert_before`: 将当前option放到同字段某个option之前。
                    * `insert_after`: 将当前option放到同字段某个option之后。
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      option:
                        type: object
                        properties:
                          color_index:
                            type: integer
                            description: 选项的颜色索引值，可以是0～54中的一个数字。如果不填写则会随机选一个。
                            example: 1
                            minimum: 0
                            maximum: 54
                          guid:
                            type: string
                            description: 选项的GUID。
                            example: 4216f79b-3fda-4dc6-a0c4-a16022e47152
                          is_hidden:
                            type: boolean
                            description: 选项是否隐藏。隐藏后的选项在界面不可见，也不可以再通过openAPI将字段值设为该选项。
                            example: false
                          name:
                            type: string
                            description: 选项名称，不能为空，最大50个字符
                            example: 高优
                        description: 更新后的option数据
      x-lark-method-id: custom_field_options.patch
      x-lark-scopes:
      - task:custom_field:writeonly
      - task:tasklist:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/task/v2/custom_fields/{custom_field_guid}/add:
    post:
      operationId: task_custom_fields_add
      summary: 将自定义字段加入资源
      tags:
      - custom_fields
      description: 将自定义字段加入资源
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=add&project=task&resource=custom_field&version=v2
      parameters:
      - name: custom_field_guid
        in: path
        required: true
        schema:
          type: string
        description: 自定义字段GUID。自定义字段GUID。可以通过[创建自定义字段](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/custom_field/create)接口创建,
          或者通过[列取自定义字段](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/custom_field/list)接口查询得到。
        example: 0110a4bd-f24b-4a93-8c1a-1732b94f9593
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resource_id:
                  type: string
                  description: 要将自定义字段添加到的资源id，目前只支持tasklist_guid
                  example: 0110a4bd-f24b-4a93-8c1a-1732b94f9593
                resource_type:
                  type: string
                  description: 要将自定义字段添加到一个资源的资源类型。目前只支持tasklist
                  example: tasklist
              required:
              - resource_id
              - resource_type
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: custom_fields.add
      x-lark-scopes:
      - task:custom_field:writeonly
      - task:custom_field:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/task/v2/custom_fields:
    post:
      operationId: task_custom_fields_create
      summary: 创建自定义字段
      tags:
      - custom_fields
      description: 创建自定义字段
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create&project=task&resource=custom_field&version=v2
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - user_id
          - union_id
          x-enum-descriptions:
            open_id: open_id
            user_id: user_id
            union_id: union_id
          default: open_id
        description: 表示user的ID的类型，支持open_id, user_id, union_id
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                datetime_setting:
                  type: object
                  properties:
                    format:
                      type: string
                      description: |-
                        日期时间格式，支持
                        <md-enum>
                        <md-enum-item key="yyyy-mm-dd" >以短横分隔的年月日，例如2023-08-24</md-enum-item>
                        <md-enum-item key="yyyy/mm/dd" >以斜杠分隔的年月日，例如2023/08/04</md-enum-item>
                        <md-enum-item key="mm/dd/yyyy" >以斜杠分隔的月日年，例如08/24/2023</md-enum-item>
                        <md-enum-item key="dd/mm/yyyy" >以斜杠分隔的日月年，例如24/08/2023</md-enum-item>
                        </md-enum>

                        默认为"yyyy-mm-dd"。

                        注意本设置仅影响App中的时间日期类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                      example: yyyy/mm/dd
                  description: 时间日期类型的字段设置
                member_setting:
                  type: object
                  properties:
                    multi:
                      type: boolean
                      description: |-
                        是否支持多选。

                        默认为false。
                      example: true
                  description: 人员类型的字段设置
                multi_select_setting:
                  type: object
                  properties:
                    options:
                      type: array
                      items:
                        type: object
                        properties:
                          color_index:
                            type: integer
                            description: 选项的颜色索引值，可以是0～54中的一个数字。如果不填写则会随机选一个。
                            example: 1
                            minimum: 0
                            maximum: 54
                          is_hidden:
                            type: boolean
                            description: 选项是否隐藏。隐藏后的选项在界面不可见，也不可以再通过openAPI将字段值设为该选项。
                            example: false
                          name:
                            type: string
                            description: 选项名称，不能为空，最大50个字符。
                            example: 高优
                        required:
                        - name
                      description: 多选选项
                  description: 多选设置
                name:
                  type: string
                  description: 字段名称，最大50个字符。
                  example: 优先级
                number_setting:
                  type: object
                  properties:
                    custom_symbol:
                      type: string
                      description: |-
                        当`format`设为"custom"时，设置具体的自定义符号。

                        注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                      example: 自定义符号
                    custom_symbol_position:
                      type: string
                      description: |-
                        当`format`设为"custom"时，自定义符号相对于数字的显示位置。

                        注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                      enum:
                      - left
                      - right
                      x-enum-descriptions:
                        left: 自定义符号显示在数字左边
                        right: 自定义符号显示在数字右边
                      example: left
                    decimal_count:
                      type: integer
                      description: |-
                        数字类型自定义字段的值保留的小数位数。多余的位数将被四舍五入。

                        默认为0。
                      example: 2
                      minimum: 0
                      maximum: 6
                    format:
                      type: string
                      description: |-
                        数字类型的自定义字段的值在App展示的格式。

                        注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI中输入/输出的字段值的格式。
                      enum:
                      - normal
                      - percentage
                      - cny
                      - usd
                      - custom
                      x-enum-descriptions:
                        normal: 常规数字格式
                        percentage: 百分比格式
                        cny: 人民币格式
                        usd: 美元格式
                        custom: 自定义符号
                      example: normal
                    separator:
                      type: string
                      description: |-
                        数字类型自定义字段整数部分的分隔符样式。

                        注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                      enum:
                      - none
                      - thousand
                      x-enum-descriptions:
                        none: 无分隔符
                        thousand: 千分位分隔符
                      example: thousand
                  description: 数字类型的字段设置
                resource_id:
                  type: string
                  description: 自定义字段要归属的资源ID，当`resource_type`为"tasklist"时必须填写清单的GUID。
                  example: 5ffbe0ca-6600-41e0-a634-2b38cbcf13b8
                resource_type:
                  type: string
                  description: 自定义字段要归属的资源类型，支持"tasklist"
                  example: tasklist
                single_select_setting:
                  type: object
                  properties:
                    options:
                      type: array
                      items:
                        type: object
                        properties:
                          color_index:
                            type: integer
                            description: 选项的颜色索引值，可以是0～54中的一个数字。如果不填写则会随机选一个。
                            example: 1
                            minimum: 0
                            maximum: 54
                          is_hidden:
                            type: boolean
                            description: 选项是否隐藏。隐藏后的选项在界面不可见，也不可以再通过openAPI将字段值设为该选项。
                            example: false
                          name:
                            type: string
                            description: 选项名称，不能为空，最大50个字符
                            example: 高优
                        required:
                        - name
                      description: 单选选项
                  description: 单选设置
                text_setting:
                  type: object
                  properties: {}
                  description: 文本类型设置（目前文本类型没有可设置项）
                type:
                  type: string
                  description: 自定义字段类型。
                  enum:
                  - number
                  - datetime
                  - member
                  - single_select
                  - multi_select
                  - text
                  x-enum-descriptions:
                    number: 数字
                    datetime: 日期
                    member: 成员
                    single_select: 单选
                    multi_select: 多选
                    text: 文本
                  example: number
              required:
              - name
              - resource_id
              - resource_type
              - type
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      custom_field:
                        type: object
                        properties:
                          created_at:
                            type: string
                            description: 自定义字段创建的时间戳(ms)
                            example: '1688196600000'
                          creator:
                            type: object
                            properties:
                              id:
                                type: string
                                description: 表示member的id
                                example: oc_2cefb2f014f8d0c6c2d2eb7bafb0e54f
                              name:
                                type: string
                                description: 成员名称
                                example: 张明德（明德）
                              role:
                                type: string
                                description: 成员角色
                                example: editor
                              type:
                                type: string
                                description: 成员的类型
                                example: chat
                            description: 清单所有者
                          datetime_setting:
                            type: object
                            properties:
                              format:
                                type: string
                                description: |-
                                  日期时间格式，支持
                                  <md-enum>
                                  <md-enum-item key="yyyy-mm-dd" >以短横分隔的年月日，例如2023-08-24</md-enum-item>
                                  <md-enum-item key="yyyy/mm/dd" >以斜杠分隔的年月日，例如2023/08/04</md-enum-item>
                                  <md-enum-item key="mm/dd/yyyy" >以斜杠分隔的月日年，例如08/24/2023</md-enum-item>
                                  <md-enum-item key="dd/mm/yyyy" >以斜杠分隔的日月年，例如24/08/2023</md-enum-item>
                                  </md-enum>

                                  默认为"yyyy-mm-dd"。

                                  注意本设置仅影响App中的时间日期类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                example: yyyy/mm/dd
                            description: 时间日期类型的字段设置
                          guid:
                            type: string
                            description: 自定义字段的GUID
                            example: 34d4b29f-3d58-4bc5-b752-6be80fb687c8
                          member_setting:
                            type: object
                            properties:
                              multi:
                                type: boolean
                                description: |-
                                  是否支持多选。

                                  默认为false。
                                example: true
                            description: 人员类型的字段设置
                          multi_select_setting:
                            type: object
                            properties:
                              options:
                                type: array
                                items: {}
                                description: 单选选项
                            description: 多选类型的字段设置
                          name:
                            type: string
                            description: 字段名称，支持最大50个字符。
                            example: 优先级
                          number_setting:
                            type: object
                            properties:
                              custom_symbol:
                                type: string
                                description: |-
                                  当`format`设为"custom"时，设置具体的自定义符号。

                                  注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                example: 自定义符号
                              custom_symbol_position:
                                type: string
                                description: |-
                                  当`format`设为"custom"时，自定义符号相对于数字的显示位置。

                                  注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                enum:
                                - left
                                - right
                                x-enum-descriptions:
                                  left: 自定义符号显示在数字左边
                                  right: 自定义符号显示在数字右边
                                example: left
                              decimal_count:
                                type: integer
                                description: |-
                                  数字类型自定义字段的值保留的小数位数。多余的位数将被四舍五入。

                                  默认为0。
                                example: 2
                                minimum: 0
                                maximum: 6
                              format:
                                type: string
                                description: |-
                                  数字类型的自定义字段的值在App展示的格式。

                                  注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI中输入/输出的字段值的格式。
                                enum:
                                - normal
                                - percentage
                                - cny
                                - usd
                                - custom
                                x-enum-descriptions:
                                  normal: 常规数字格式
                                  percentage: 百分比格式
                                  cny: 人民币格式
                                  usd: 美元格式
                                  custom: 自定义符号
                                example: normal
                              separator:
                                type: string
                                description: |-
                                  数字类型自定义字段整数部分的分隔符样式。

                                  注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                enum:
                                - none
                                - thousand
                                x-enum-descriptions:
                                  none: 无分隔符
                                  thousand: 千分位分隔符
                                example: thousand
                            description: 数字类型的字段设置
                          single_select_setting:
                            type: object
                            properties:
                              options:
                                type: array
                                items: {}
                                description: 单选选项
                            description: 单选类型的字段设置
                          text_setting:
                            type: object
                            properties: {}
                            description: 文本类型设置（目前文本类型没有可设置项）
                          type:
                            type: string
                            description: 自定义字段类型
                            example: number
                          updated_at:
                            type: string
                            description: 自定义字段的更新时间戳(ms)
                            example: '1688196600000'
                        description: 创建的自定义字段
      x-lark-method-id: custom_fields.create
      x-lark-scopes:
      - task:custom_field:writeonly
      - task:custom_field:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: task_custom_fields_list
      summary: 列取自定义字段
      tags:
      - custom_fields
      description: 列取自定义字段
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=task&resource=custom_field&version=v2
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: 分页大小
        example: 50
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: aWQ9NzEwMjMzMjMxMDE=
      - name: resource_id
        in: query
        required: false
        schema:
          type: string
        description: 要查询自定义字段的归属resource_id
        example: 5ffbe0ca-6600-41e0-a634-2b38cbcf13b8
      - name: resource_type
        in: query
        required: false
        schema:
          type: string
        description: 资源类型，如提供则表示仅查询特定资源下的自定义字段。目前只支持tasklist。
        example: tasklist
      - name: update_msec
        in: query
        required: false
        schema:
          type: string
        description: 更新时间戳过滤条件(ms)
        example: '1'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - user_id
          - union_id
          x-enum-descriptions:
            open_id: open_id
            user_id: user_id
            union_id: union_id
          default: open_id
        description: 用户ID格式，支持open_id, user_id, union_id
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页的数据
                        example: false
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            created_at:
                              type: string
                              description: 自定义字段创建的时间戳(ms)
                              example: '1688196600000'
                            creator:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: 表示member的id
                                  example: oc_2cefb2f014f8d0c6c2d2eb7bafb0e54f
                                name:
                                  type: string
                                  description: 成员名称
                                  example: 张明德（明德）
                                role:
                                  type: string
                                  description: 成员角色
                                  example: editor
                                type:
                                  type: string
                                  description: 成员的类型
                                  example: chat
                              description: 清单所有者
                            datetime_setting:
                              type: object
                              properties:
                                format:
                                  type: string
                                  description: |-
                                    日期时间格式，支持
                                    <md-enum>
                                    <md-enum-item key="yyyy-mm-dd" >以短横分隔的年月日，例如2023-08-24</md-enum-item>
                                    <md-enum-item key="yyyy/mm/dd" >以斜杠分隔的年月日，例如2023/08/04</md-enum-item>
                                    <md-enum-item key="mm/dd/yyyy" >以斜杠分隔的月日年，例如08/24/2023</md-enum-item>
                                    <md-enum-item key="dd/mm/yyyy" >以斜杠分隔的日月年，例如24/08/2023</md-enum-item>
                                    </md-enum>

                                    默认为"yyyy-mm-dd"。

                                    注意本设置仅影响App中的时间日期类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                  example: yyyy/mm/dd
                              description: 时间日期类型的字段设置
                            guid:
                              type: string
                              description: 自定义字段的GUID
                              example: 34d4b29f-3d58-4bc5-b752-6be80fb687c8
                            member_setting:
                              type: object
                              properties:
                                multi:
                                  type: boolean
                                  description: |-
                                    是否支持多选。

                                    默认为false。
                                  example: true
                              description: 人员类型的字段设置
                            multi_select_setting:
                              type: object
                              properties:
                                options:
                                  type: array
                                  items: {}
                                  description: 单选选项
                              description: 多选类型的字段设置
                            name:
                              type: string
                              description: 字段名称，支持最大50个字符。
                              example: 优先级
                            number_setting:
                              type: object
                              properties:
                                custom_symbol:
                                  type: string
                                  description: |-
                                    当`format`设为"custom"时，设置具体的自定义符号。

                                    注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                  example: 自定义符号
                                custom_symbol_position:
                                  type: string
                                  description: |-
                                    当`format`设为"custom"时，自定义符号相对于数字的显示位置。

                                    注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                  enum:
                                  - left
                                  - right
                                  x-enum-descriptions:
                                    left: 自定义符号显示在数字左边
                                    right: 自定义符号显示在数字右边
                                  example: left
                                decimal_count:
                                  type: integer
                                  description: |-
                                    数字类型自定义字段的值保留的小数位数。多余的位数将被四舍五入。

                                    默认为0。
                                  example: 2
                                  minimum: 0
                                  maximum: 6
                                format:
                                  type: string
                                  description: |-
                                    数字类型的自定义字段的值在App展示的格式。

                                    注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI中输入/输出的字段值的格式。
                                  enum:
                                  - normal
                                  - percentage
                                  - cny
                                  - usd
                                  - custom
                                  x-enum-descriptions:
                                    normal: 常规数字格式
                                    percentage: 百分比格式
                                    cny: 人民币格式
                                    usd: 美元格式
                                    custom: 自定义符号
                                  example: normal
                                separator:
                                  type: string
                                  description: |-
                                    数字类型自定义字段整数部分的分隔符样式。

                                    注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                  enum:
                                  - none
                                  - thousand
                                  x-enum-descriptions:
                                    none: 无分隔符
                                    thousand: 千分位分隔符
                                  example: thousand
                              description: 数字类型的字段设置
                            single_select_setting:
                              type: object
                              properties:
                                options:
                                  type: array
                                  items: {}
                                  description: 单选选项
                              description: 单选类型的字段设置
                            text_setting:
                              type: object
                              properties: {}
                              description: 文本类型设置（目前文本类型没有可设置项）
                            type:
                              type: string
                              description: 自定义字段类型
                              example: number
                            updated_at:
                              type: string
                              description: 自定义字段的更新时间戳(ms)
                              example: '1688196600000'
                        description: 返回的自定义字段列表
                      page_token:
                        type: string
                        description: 用于获取下一页数据的page_token
                        example: aWQ9NzEwMjMzMjMxMDE=
      x-lark-method-id: custom_fields.list
      x-lark-scopes:
      - task:custom_field:read
      - task:custom_field:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/task/v2/custom_fields/{custom_field_guid}:
    get:
      operationId: task_custom_fields_get
      summary: 获取自定义字段
      tags:
      - custom_fields
      description: 获取自定义字段
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=get&project=task&resource=custom_field&version=v2
      parameters:
      - name: custom_field_guid
        in: path
        required: true
        schema:
          type: string
        description: 自定义字段GUID。可以通过[创建自定义字段](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/custom_field/create)接口创建,
          或者通过[列取自定义字段](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/custom_field/list)接口查询得到。
        example: 5ffbe0ca-6600-41e0-a634-2b38cbcf13b8
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - user_id
          - union_id
          x-enum-descriptions:
            open_id: open_id
            user_id: user_id
            union_id: union_id
          default: open_id
        description: 表示user的ID的类型，支持open_id, user_id, union_id
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      custom_field:
                        type: object
                        properties:
                          created_at:
                            type: string
                            description: 自定义字段创建的时间戳(ms)
                            example: '1688196600000'
                          creator:
                            type: object
                            properties:
                              id:
                                type: string
                                description: 表示member的id
                                example: oc_2cefb2f014f8d0c6c2d2eb7bafb0e54f
                              name:
                                type: string
                                description: 成员名称
                                example: 张明德（明德）
                              role:
                                type: string
                                description: 成员角色
                                example: editor
                              type:
                                type: string
                                description: 成员的类型
                                example: chat
                            description: 清单所有者
                          datetime_setting:
                            type: object
                            properties:
                              format:
                                type: string
                                description: |-
                                  日期时间格式，支持
                                  <md-enum>
                                  <md-enum-item key="yyyy-mm-dd" >以短横分隔的年月日，例如2023-08-24</md-enum-item>
                                  <md-enum-item key="yyyy/mm/dd" >以斜杠分隔的年月日，例如2023/08/04</md-enum-item>
                                  <md-enum-item key="mm/dd/yyyy" >以斜杠分隔的月日年，例如08/24/2023</md-enum-item>
                                  <md-enum-item key="dd/mm/yyyy" >以斜杠分隔的日月年，例如24/08/2023</md-enum-item>
                                  </md-enum>

                                  默认为"yyyy-mm-dd"。

                                  注意本设置仅影响App中的时间日期类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                example: yyyy/mm/dd
                            description: 时间日期类型的字段设置
                          guid:
                            type: string
                            description: 自定义字段的GUID
                            example: 34d4b29f-3d58-4bc5-b752-6be80fb687c8
                          member_setting:
                            type: object
                            properties:
                              multi:
                                type: boolean
                                description: |-
                                  是否支持多选。

                                  默认为false。
                                example: true
                            description: 人员类型的字段设置
                          multi_select_setting:
                            type: object
                            properties:
                              options:
                                type: array
                                items: {}
                                description: 单选选项
                            description: 多选类型的字段设置
                          name:
                            type: string
                            description: 字段名称，支持最大50个字符。
                            example: 优先级
                          number_setting:
                            type: object
                            properties:
                              custom_symbol:
                                type: string
                                description: |-
                                  当`format`设为"custom"时，设置具体的自定义符号。

                                  注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                example: 自定义符号
                              custom_symbol_position:
                                type: string
                                description: |-
                                  当`format`设为"custom"时，自定义符号相对于数字的显示位置。

                                  注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                enum:
                                - left
                                - right
                                x-enum-descriptions:
                                  left: 自定义符号显示在数字左边
                                  right: 自定义符号显示在数字右边
                                example: left
                              decimal_count:
                                type: integer
                                description: |-
                                  数字类型自定义字段的值保留的小数位数。多余的位数将被四舍五入。

                                  默认为0。
                                example: 2
                                minimum: 0
                                maximum: 6
                              format:
                                type: string
                                description: |-
                                  数字类型的自定义字段的值在App展示的格式。

                                  注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI中输入/输出的字段值的格式。
                                enum:
                                - normal
                                - percentage
                                - cny
                                - usd
                                - custom
                                x-enum-descriptions:
                                  normal: 常规数字格式
                                  percentage: 百分比格式
                                  cny: 人民币格式
                                  usd: 美元格式
                                  custom: 自定义符号
                                example: normal
                              separator:
                                type: string
                                description: |-
                                  数字类型自定义字段整数部分的分隔符样式。

                                  注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                enum:
                                - none
                                - thousand
                                x-enum-descriptions:
                                  none: 无分隔符
                                  thousand: 千分位分隔符
                                example: thousand
                            description: 数字类型的字段设置
                          single_select_setting:
                            type: object
                            properties:
                              options:
                                type: array
                                items: {}
                                description: 单选选项
                            description: 单选类型的字段设置
                          text_setting:
                            type: object
                            properties: {}
                            description: 文本类型设置（目前文本类型没有可设置项）
                          type:
                            type: string
                            description: 自定义字段类型
                            example: number
                          updated_at:
                            type: string
                            description: 自定义字段的更新时间戳(ms)
                            example: '1688196600000'
                        description: 获取的自定义字段数据
      x-lark-method-id: custom_fields.get
      x-lark-scopes:
      - task:custom_field:write
      - task:custom_field:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
    patch:
      operationId: task_custom_fields_patch
      summary: 更新自定义字段
      tags:
      - custom_fields
      description: 更新自定义字段
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=patch&project=task&resource=custom_field&version=v2
      parameters:
      - name: custom_field_guid
        in: path
        required: true
        schema:
          type: string
        description: 自定义字段GUID。自定义字段GUID。可以通过[创建自定义字段](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/custom_field/create)接口创建,
          或者通过[列取自定义字段](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/custom_field/list)接口查询得到。
        example: 5ffbe0ca-6600-41e0-a634-2b38cbcf13b8
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: open_id
            union_id: union_id
            user_id: user_id
          default: open_id
        description: 用户ID格式
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                custom_field:
                  type: object
                  properties:
                    datetime_setting:
                      type: object
                      properties:
                        format:
                          type: string
                          description: |-
                            日期时间格式，支持
                            <md-enum>
                            <md-enum-item key="yyyy-mm-dd" >以短横分隔的年月日，例如2023-08-24</md-enum-item>
                            <md-enum-item key="yyyy/mm/dd" >以斜杠分隔的年月日，例如2023/08/04</md-enum-item>
                            <md-enum-item key="mm/dd/yyyy" >以斜杠分隔的月日年，例如08/24/2023</md-enum-item>
                            <md-enum-item key="dd/mm/yyyy" >以斜杠分隔的日月年，例如24/08/2023</md-enum-item>
                            </md-enum>

                            默认为"yyyy-mm-dd"。

                            注意本设置仅影响App中的时间日期类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                          example: yyyy/mm/dd
                      description: 时间日期类型的字段设置
                    member_setting:
                      type: object
                      properties:
                        multi:
                          type: boolean
                          description: |-
                            是否支持多选。

                            默认为false。
                          example: true
                      description: 人员类型的字段设置
                    multi_select_setting:
                      type: object
                      properties:
                        options:
                          type: array
                          items: {}
                          description: 多选选项
                      description: 多选设置
                    name:
                      type: string
                      description: 字段名称，最大50个字符。
                      example: 优先级
                    number_setting:
                      type: object
                      properties:
                        custom_symbol:
                          type: string
                          description: |-
                            当`format`设为"custom"时，设置具体的自定义符号。

                            注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                          example: 自定义符号
                        custom_symbol_position:
                          type: string
                          description: |-
                            当`format`设为"custom"时，自定义符号相对于数字的显示位置。

                            注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                          enum:
                          - left
                          - right
                          x-enum-descriptions:
                            left: 自定义符号显示在数字左边
                            right: 自定义符号显示在数字右边
                          example: left
                        decimal_count:
                          type: integer
                          description: |-
                            数字类型自定义字段的值保留的小数位数。多余的位数将被四舍五入。

                            默认为0。
                          example: 2
                          minimum: 0
                          maximum: 6
                        format:
                          type: string
                          description: |-
                            数字类型的自定义字段的值在App展示的格式。

                            注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI中输入/输出的字段值的格式。
                          enum:
                          - normal
                          - percentage
                          - cny
                          - usd
                          - custom
                          x-enum-descriptions:
                            normal: 常规数字格式
                            percentage: 百分比格式
                            cny: 人民币格式
                            usd: 美元格式
                            custom: 自定义符号
                          example: normal
                        separator:
                          type: string
                          description: |-
                            数字类型自定义字段整数部分的分隔符样式。

                            注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                          enum:
                          - none
                          - thousand
                          x-enum-descriptions:
                            none: 无分隔符
                            thousand: 千分位分隔符
                          example: thousand
                      description: 数字类型的字段设置
                    single_select_setting:
                      type: object
                      properties:
                        options:
                          type: array
                          items: {}
                          description: 单选选项
                      description: 单选设置
                    text_setting:
                      type: object
                      properties: {}
                      description: 文本类型设置（目前文本类型没有可设置项）
                  description: 要修改的自定义字段数据
                update_fields:
                  type: array
                  items: {}
                  description: |-
                    要修改的自定义字段类型，支持：
                    * `name`：自定义字段名称。
                    * `number_setting` ：数字类型设置（当且仅当要更新的自定义字段类型是数字时)
                    * `member_setting` ：人员类型设置（当且仅当要更新的自定义字段类型是人员时)
                    * `datetime_setting` ：日期类型设置 (当且仅当要更新的自定义字段类型是日期时)
                    * `single_select_setting`：单选类型设置 (当且仅当要更新的自定义字段类型是单选时)
                    * `multi_select_setting`：多选类型设置 (当且仅当要更新的自定义字段类型是多选时)
                    * `text_setting`: 文本类型设置（当前无可设置项）
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      custom_field:
                        type: object
                        properties:
                          created_at:
                            type: string
                            description: 自定义字段创建的时间戳(ms)
                            example: '1688196600000'
                          creator:
                            type: object
                            properties:
                              id:
                                type: string
                                description: 表示member的id
                                example: oc_2cefb2f014f8d0c6c2d2eb7bafb0e54f
                              name:
                                type: string
                                description: 成员名称
                                example: 张明德（明德）
                              role:
                                type: string
                                description: 成员角色
                                example: editor
                              type:
                                type: string
                                description: 成员的类型
                                example: chat
                            description: 清单所有者
                          datetime_setting:
                            type: object
                            properties:
                              format:
                                type: string
                                description: |-
                                  日期时间格式，支持
                                  <md-enum>
                                  <md-enum-item key="yyyy-mm-dd" >以短横分隔的年月日，例如2023-08-24</md-enum-item>
                                  <md-enum-item key="yyyy/mm/dd" >以斜杠分隔的年月日，例如2023/08/04</md-enum-item>
                                  <md-enum-item key="mm/dd/yyyy" >以斜杠分隔的月日年，例如08/24/2023</md-enum-item>
                                  <md-enum-item key="dd/mm/yyyy" >以斜杠分隔的日月年，例如24/08/2023</md-enum-item>
                                  </md-enum>

                                  默认为"yyyy-mm-dd"。

                                  注意本设置仅影响App中的时间日期类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                example: yyyy/mm/dd
                            description: 时间日期类型的字段设置
                          guid:
                            type: string
                            description: 自定义字段的GUID
                            example: 34d4b29f-3d58-4bc5-b752-6be80fb687c8
                          member_setting:
                            type: object
                            properties:
                              multi:
                                type: boolean
                                description: |-
                                  是否支持多选。

                                  默认为false。
                                example: true
                            description: 人员类型的字段设置
                          multi_select_setting:
                            type: object
                            properties:
                              options:
                                type: array
                                items: {}
                                description: 单选选项
                            description: 多选类型的字段设置
                          name:
                            type: string
                            description: 字段名称，支持最大50个字符。
                            example: 优先级
                          number_setting:
                            type: object
                            properties:
                              custom_symbol:
                                type: string
                                description: |-
                                  当`format`设为"custom"时，设置具体的自定义符号。

                                  注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                example: 自定义符号
                              custom_symbol_position:
                                type: string
                                description: |-
                                  当`format`设为"custom"时，自定义符号相对于数字的显示位置。

                                  注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                enum:
                                - left
                                - right
                                x-enum-descriptions:
                                  left: 自定义符号显示在数字左边
                                  right: 自定义符号显示在数字右边
                                example: left
                              decimal_count:
                                type: integer
                                description: |-
                                  数字类型自定义字段的值保留的小数位数。多余的位数将被四舍五入。

                                  默认为0。
                                example: 2
                                minimum: 0
                                maximum: 6
                              format:
                                type: string
                                description: |-
                                  数字类型的自定义字段的值在App展示的格式。

                                  注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI中输入/输出的字段值的格式。
                                enum:
                                - normal
                                - percentage
                                - cny
                                - usd
                                - custom
                                x-enum-descriptions:
                                  normal: 常规数字格式
                                  percentage: 百分比格式
                                  cny: 人民币格式
                                  usd: 美元格式
                                  custom: 自定义符号
                                example: normal
                              separator:
                                type: string
                                description: |-
                                  数字类型自定义字段整数部分的分隔符样式。

                                  注意本设置仅影响App中的数字类型字段的字段值的显示格式，并不会影响openAPI输入/输出的字段值的格式。
                                enum:
                                - none
                                - thousand
                                x-enum-descriptions:
                                  none: 无分隔符
                                  thousand: 千分位分隔符
                                example: thousand
                            description: 数字类型的字段设置
                          single_select_setting:
                            type: object
                            properties:
                              options:
                                type: array
                                items: {}
                                description: 单选选项
                            description: 单选类型的字段设置
                          text_setting:
                            type: object
                            properties: {}
                            description: 文本类型设置（目前文本类型没有可设置项）
                          type:
                            type: string
                            description: 自定义字段类型
                            example: number
                          updated_at:
                            type: string
                            description: 自定义字段的更新时间戳(ms)
                            example: '1688196600000'
                        description: 修改后的自定义字段设置
      x-lark-method-id: custom_fields.patch
      x-lark-scopes:
      - task:custom_field:writeonly
      - task:custom_field:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/task/v2/custom_fields/{custom_field_guid}/remove:
    post:
      operationId: task_custom_fields_remove
      summary: 将自定义字段移出资源
      tags:
      - custom_fields
      description: 将自定义字段移出资源
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=remove&project=task&resource=custom_field&version=v2
      parameters:
      - name: custom_field_guid
        in: path
        required: true
        schema:
          type: string
        description: 自定义字段GUID。自定义字段GUID。可以通过[创建自定义字段](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/custom_field/create)接口创建,
          或者通过[列取自定义字段](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/custom_field/list)接口查询得到。
        example: 0110a4bd-f24b-4a93-8c1a-1732b94f9593
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resource_id:
                  type: string
                  description: 要从某个资源移除自定义字段的资源id，`resource_type`为"tasklist"时，需填写清单的GUID。
                  example: 0110a4bd-f24b-4a93-8c1a-1732b94f9593
                resource_type:
                  type: string
                  description: 要从某个资源移除自定义字段的资源类型，目前只支持清单。
                  example: tasklist
              required:
              - resource_id
              - resource_type
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: custom_fields.remove
      x-lark-scopes:
      - task:custom_field:writeonly
      - task:custom_field:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/task/v2/tasks/{task_guid}/add_members:
    post:
      operationId: task_members_add
      summary: 添加任务成员
      tags:
      - members
      description: 添加任务成员
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=add_members&project=task&resource=task&version=v2
      parameters:
      - name: task_guid
        in: path
        required: true
        schema:
          type: string
        description: 要添加负责人的任务全局唯一ID
        example: d300a75f-c56a-4be9-80d1-e47653028ceb
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_id
        description: 表示user的ID的类型，支持open_id, user_id, union_id
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_token:
                  type: string
                  description: 幂等token，如果提供则实现幂等行为。详见[功能概述](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/overview)中的“
                    幂等调用 ”章节。
                  example: 6d99f59c-4d7d-4452-98d6-3d0556393cf6
                members:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 表示member的id
                        example: ou_2cefb2f014f8d0c6c2d2eb7bafb0e54f
                      name:
                        type: string
                        description: 成员名称
                        example: 张明德（明德）
                      role:
                        type: string
                        description: |-
                          成员的角色，可选值
                          * assignee
                          * follower
                        example: assignee
                      type:
                        type: string
                        description: 成员的类型
                        example: chat
                    required:
                    - id
                    - role
                  description: 要添加的members列表，单请求支持最大50个成员（去重后)。关于member的格式，详见[功能概述](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/overview)中的“
                    如何表示任务和清单的成员？”章节。
              required:
              - members
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      task:
                        type: object
                        properties:
                          agent_task_progress:
                            type: string
                            description: 智能体任务进度
                            example: 1/4
                          agent_task_status:
                            type: integer
                            description: 智能体任务状态
                            example: 1
                            minimum: 1
                            maximum: 4
                          assignee_related:
                            type: array
                            items:
                              type: object
                              properties:
                                completed_at:
                                  type: string
                                  description: 会签任务中执行者完成的时间戳(ms)
                                  example: '1675742789470'
                                id:
                                  type: string
                                  description: 任务执行者的id
                                  example: ou_2cefb2f014f8d0c6c2d2eb7bafb0e54f
                            description: 任务执行者相关信息，如会签任务各执行者完成时间等
                          attachment_deliveries:
                            type: array
                            items:
                              type: object
                              properties:
                                file_token:
                                  type: string
                                  description: 附件在云文档系统中的token
                                  example: boxcnTDqPaRA6JbYnzQsZ2doB2b
                                guid:
                                  type: string
                                  description: 附件guid
                                  example: f860de3e-6881-4ddd-9321-070f36d1af0b
                                is_cover:
                                  type: boolean
                                  description: 是否是封面图
                                  example: false
                                name:
                                  type: string
                                  description: 附件名
                                  example: foo.jpg
                                resource:
                                  type: object
                                  properties: {}
                                  description: 附件归属的资源
                                size:
                                  type: integer
                                  description: 附件的字节大小
                                  example: 62232
                                uploaded_at:
                                  type: string
                                  description: 上传时间戳(ms)
                                  example: '1675742789470'
                                uploader:
                                  type: object
                                  properties: {}
                                  description: 清单所有者
                                url:
                                  type: string
                                  description: 附件的临时下载url，有效时间3分钟，且只允许调用3次进行附件下载。
                                  example: https://example.com/download/authcode/?code=OWMzNDlmMjJmZThkYzZkZGJlMjYwZTI0OTUxZTE2MDJfMDZmZmMwOWVj
                            description: 智能体附件类交付物
                          attachments:
                            type: array
                            items:
                              type: object
                              properties:
                                file_token:
                                  type: string
                                  description: 附件在云文档系统中的token
                                  example: boxcnTDqPaRA6JbYnzQsZ2doB2b
                                guid:
                                  type: string
                                  description: 附件guid
                                  example: f860de3e-6881-4ddd-9321-070f36d1af0b
                                is_cover:
                                  type: boolean
                                  description: 是否是封面图
                                  example: false
                                name:
                                  type: string
                                  description: 附件名
                                  example: foo.jpg
                                resource:
                                  type: object
                                  properties: {}
                                  description: 附件归属的资源
                                size:
                                  type: integer
                                  description: 附件的字节大小
                                  example: 62232
                                uploaded_at:
                                  type: string
                                  description: 上传时间戳(ms)
                                  example: '1675742789470'
                                uploader:
                                  type: object
                                  properties: {}
                                  description: 清单所有者
                            description: 任务的附件列表
                          completed_at:
                            type: string
                            description: 任务完成的时间戳(ms)
                            example: '1675742789470'
                          created_at:
                            type: string
                            description: 任务创建时间戳(ms)
                            example: '1675742789470'
                          creator:
                            type: object
                            properties:
                              id:
                                type: string
                                description: 表示member的id
                                example: oc_2cefb2f014f8d0c6c2d2eb7bafb0e54f
                              name:
                                type: string
                                description: 成员名称
                                example: 张明德（明德）
                              role:
                                type: string
                                description: 成员角色
                                example: editor
                              type:
                                type: string
                                description: 成员的类型
                                example: chat
                            description: 清单所有者
                          custom_complete:
                            type: object
                            properties:
                              android:
                                type: object
                                properties: {}
                                description: PC客户端自定义完成配置（含Mac和Windows）
                              ios:
                                type: object
                                properties: {}
                                description: PC客户端自定义完成配置（含Mac和Windows）
                              pc:
                                type: object
                                properties: {}
                                description: PC客户端自定义完成配置（含Mac和Windows）
                            description: 任务自定义完成配置。详见[任务功能概述](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/task/overview)中的“
                              如何使用任务自定义完成？”章节。
                          custom_fields:
                            type: array
                            items:
                              type: object
                              properties:
                                datetime_value:
                                  type: string
                                  description: 日期类型自定义字段值。可以输入一个表示日期的以毫秒为单位的字符串。设为空字符串表示设为空。
                                  example: '1687708260000'
                                guid:
                                  type: string
                                  description: 字段GUID
                                  example: a4f648d7-76ef-477f-bc8e-0601b5a60093
                                member_value:
                                  type: array
                                  items: {}
                                  description: 人员类型的自定义字段值，可以设置1个或多个用户的id（遵循member格式，只支持user类型）。当该字段的设置为“不能多选”时只能输入一个值。设为空数组表示设为空。
                                multi_select_value:
                                  type: array
                                  items: {}
                                  description: 多选类型字段值，可以填写一个或多个本字段的option_guid。设为空数组表示设为空。
                                name:
                                  type: string
                                  description: 自定义字段名
                                  example: 优先级
                                number_value:
                                  type: string
                                  description: 数字类型的自定义字段值，填写一个合法数字的字符串表示，空字符串表示设为空。
                                  example: '10.23'
                                single_select_value:
                                  type: string
                                  description: 单选类型字段值，填写一个字段选项的option_guid。设置为空字符串表示设为空。
                                  example: 4216f79b-3fda-4dc6-a0c4-a16022e47152
                                text_value:
                                  type: string
                                  description: 文本类型字段值。可以输入一段文本。空字符串表示清空。
                                  example: 这是一段文本介绍。
                                type:
                                  type: string
                                  description: 自定义字段类型，支持"member", "datetime", "number", "single_select", "multi_select"五种类型
                                  example: number
                            description: 任务的自定义字段值
                          dependencies:
                            type: array
                            items:
                              type: object
                              properties:
                                task_guid:
                                  type: string
                                  description: 依赖任务的GUID
                                  example: 93b7bd05-35e6-4371-b3c9-6b7cbd7100c0
                                type:
                                  type: string
                                  description: 依赖类型
                                  enum:
                                  - prev
                                  - next
                                  x-enum-descriptions:
                                    prev: 前置依赖
                                    next: 后置依赖
                                  example: next
                              required:
                              - task_guid
                              - type
                            description: 任务依赖
                          description:
                            type: string
                            description: 任务描述。描述最大支持3000个UTF-8字符。
                            example: 进行销售年中总结
                          due:
                            type: object
                            properties:
                              is_all_day:
                                type: boolean
                                description: 是否截止到一个日期。如果设为true，timestamp中只有日期的部分会被解析和存储。
                                example: true
                              timestamp:
                                type: string
                                description: 截止时间/日期的时间戳，距1970-01-01 00:00:00 UTC的毫秒数。如果截止时间是一个日期，需要把日期转换成时间戳，并设置 is_all_day=true
                                example: '1675454764000'
                            description: 任务截止时间。详见[功能概述](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/overview)中的“
                              如何使用开始时间和截止时间？”章节。
                            example: '1675742789470'
                          extra:
                            type: string
                            description: 任务附带的自定义数据。
                            example: dGVzdA==
                          guid:
                            type: string
                            description: 任务guid，任务的唯一ID
                            example: 83912691-2e43-47fc-94a4-d512e03984fa
                          is_milestone:
                            type: boolean
                            description: 是否是里程碑任务
                            example: false
                          members:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: 表示member的id
                                  example: oc_2cefb2f014f8d0c6c2d2eb7bafb0e54f
                                name:
                                  type: string
                                  description: 成员名称
                                  example: 张明德（明德）
                                role:
                                  type: string
                                  description: 成员角色
                                  example: editor
                                type:
                                  type: string
                                  description: 成员的类型
                                  example: chat
                            description: 任务成员列表
                          mode:
                            type: integer
                            description: 任务的模式。1 - 会签任务；2 - 或签任务
                            example: 2
                            minimum: 1
                            maximum: 2
                          next_task_guid:
                            type: string
                            description: 重复任务的下一个任务
                            example: 83912691-2e43-47fc-94a4-d512e03984fa
                          origin:
                            type: object
                            properties:
                              href:
                                type: object
                                properties: {}
                                description: 任务关联的来源平台详情页链接
                              platform_i18n_name:
                                type: object
                                properties: {}
                                description: 自定义完成的弹出提示
                            description: 任务关联的第三方平台来源信息。创建时设置后就不可更改。
                          parent_task_guid:
                            type: string
                            description: 如果当前任务为某个任务的子任务，返回父任务的guid
                            example: e297ddff-06ca-4166-b917-4ce57cd3a7a0
                          positive_reminders:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: 提醒时间设置的 ID
                                  example: '10'
                                relative_fire_minute:
                                  type: integer
                                  description: 相对于截止时间的提醒时间分钟数。例如30表示截止时间前30分钟提醒；0表示截止时提醒。
                                  example: 30
                              required:
                              - relative_fire_minute
                            description: 正数协议任务提醒
                          reminders:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: 提醒时间设置的 ID
                                  example: '10'
                                relative_fire_minute:
                                  type: integer
                                  description: 相对于截止时间的提醒时间分钟数。例如30表示截止时间前30分钟提醒；0表示截止时提醒。
                                  example: 30
                              required:
                              - relative_fire_minute
                            description: 任务的提醒配置列表。目前每个任务最多有1个。
                          repeat_rule:
                            type: string
                            description: 如果设置，则该任务为“重复任务”。详见[任务功能概述](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/task/overview)中的“如何使用重复任务？”章节。
                            example: FREQ=WEEKLY;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                          source:
                            type: integer
                            description: 任务创建的来源
                            enum:
                            - 0
                            - 1
                            - 2
                            - 6
                            - 7
                            - 8
                            x-enum-descriptions:
                              '0': 未知来源
                              '1': 任务中心
                              '2': 群组任务/消息转任务
                              '6': 通过开放平台以tenant_access_token授权创建的任务
                              '7': 通过开放平台以user_access_token授权创建的任务
                              '8': 文档任务
                            example: 6
                          start:
                            type: object
                            properties:
                              is_all_day:
                                type: boolean
                                description: 是否开始于一个日期。如果设为true，timestamp中只有日期的部分会被解析和存储。
                                example: true
                              timestamp:
                                type: string
                                description: |-
                                  开始时间/日期的时间戳，距1970-01-01 00:00:00的毫秒数。如果开始时间是一个日期，需要把日期转换成时间戳，并设置 is_all_day=true。

                                  如果同时设置任务的开始时间和截止时间，开始时间必须<=截止时间，并且开始/截止时间的is_all_day设置必须相同。
                                example: '1675454764000'
                            description: 任务的开始时间(ms)。详见[功能概述](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/overview)中的“
                              如何使用开始时间和截止时间？”章节。
                          status:
                            type: string
                            description: 任务的状态，支持"todo"和"done"两种状态
                            example: todo
                          subtask_count:
                            type: integer
                            description: 该任务的子任务的个数。
                            example: 1
                          summary:
                            type: string
                            description: 任务标题。如更新标题，不可将任务标题设为空。标题最大支持3000个UTF-8 字符。
                            example: 进行销售年中总结
                          task_id:
                            type: string
                            description: 任务界面上的代码
                            example: t6272302
                          tasklists:
                            type: array
                            items:
                              type: object
                              properties:
                                section_guid:
                                  type: string
                                  description: 任务所在清单的自定义分组guid
                                  example: e6e37dcc-f75a-5936-f589-12fb4b5c80c2
                                tasklist_guid:
                                  type: string
                                  description: 任务所在清单的guid
                                  example: cc371766-6584-cf50-a222-c22cd9055004
                            description: 任务所属清单的名字。调用者只能看到有权限访问的清单的列表。
                          text_deliveries:
                            type: array
                            items: {}
                            description: 智能体文本类交付物
                          updated_at:
                            type: string
                            description: 任务最后一次更新的时间戳(ms)
                            example: '1675742789470'
                          url:
                            type: string
                            description: 任务的分享链接
                            example: https://applink.feishu.cn/client/todo/detail?guid=70577c8f-91ab-4c91-b359-a21a751054e8&suite_entity_num=t192012
                        description: 更新完成后的任务实体数据
      x-lark-method-id: members.add
      x-lark-scopes:
      - task:personnel:writeonly
      - task:task:write
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/task/v2/tasks/{task_guid}/remove_members:
    post:
      operationId: task_members_remove
      summary: 移除任务成员
      tags:
      - members
      description: 移除任务成员
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=remove_members&project=task&resource=task&version=v2
      parameters:
      - name: task_guid
        in: path
        required: true
        schema:
          type: string
        description: 要移除成员的任务全局唯一ID
        example: d300a75f-c56a-4be9-80d1-e47653028ceb
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_id
        description: 表示user的ID的类型，支持open_id, user_id, union_id
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                members:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 表示member的id
                        example: ou_2cefb2f014f8d0c6c2d2eb7bafb0e54f
                      name:
                        type: string
                        description: 成员名称
                        example: 张明德（明德）
                      role:
                        type: string
                        description: 成员角色，支持"assignee"或者"follower"
                        example: assignee
                      type:
                        type: string
                        description: 成员的类型
                        example: chat
                    required:
                    - id
                    - role
                  description: 要移除的member列表
              required:
              - members
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      task:
                        type: object
                        properties:
                          agent_task_progress:
                            type: string
                            description: 智能体任务进度
                            example: 1/4
                          agent_task_status:
                            type: integer
                            description: 智能体任务状态
                            example: 1
                            minimum: 1
                            maximum: 4
                          assignee_related:
                            type: array
                            items:
                              type: object
                              properties:
                                completed_at:
                                  type: string
                                  description: 会签任务中执行者完成的时间戳(ms)
                                  example: '1675742789470'
                                id:
                                  type: string
                                  description: 任务执行者的id
                                  example: ou_2cefb2f014f8d0c6c2d2eb7bafb0e54f
                            description: 任务执行者相关信息，如会签任务各执行者完成时间等
                          attachment_deliveries:
                            type: array
                            items:
                              type: object
                              properties:
                                file_token:
                                  type: string
                                  description: 附件在云文档系统中的token
                                  example: boxcnTDqPaRA6JbYnzQsZ2doB2b
                                guid:
                                  type: string
                                  description: 附件guid
                                  example: f860de3e-6881-4ddd-9321-070f36d1af0b
                                is_cover:
                                  type: boolean
                                  description: 是否是封面图
                                  example: false
                                name:
                                  type: string
                                  description: 附件名
                                  example: foo.jpg
                                resource:
                                  type: object
                                  properties: {}
                                  description: 附件归属的资源
                                size:
                                  type: integer
                                  description: 附件的字节大小
                                  example: 62232
                                uploaded_at:
                                  type: string
                                  description: 上传时间戳(ms)
                                  example: '1675742789470'
                                uploader:
                                  type: object
                                  properties: {}
                                  description: 清单所有者
                                url:
                                  type: string
                                  description: 附件的临时下载url，有效时间3分钟，且只允许调用3次进行附件下载。
                                  example: https://example.com/download/authcode/?code=OWMzNDlmMjJmZThkYzZkZGJlMjYwZTI0OTUxZTE2MDJfMDZmZmMwOWVj
                            description: 智能体附件类交付物
                          attachments:
                            type: array
                            items:
                              type: object
                              properties:
                                file_token:
                                  type: string
[...]
