# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 视频会议 API
  description: |-
    video conferencing and meeting notes

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: vc
  x-lark-service-api-version: v1
  x-lark-registry-version: 1.0.0
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: meeting
paths:
  /open-apis/vc/v1/meetings/{meeting_id}:
    get:
      operationId: vc_meeting_get
      summary: 获取会议详情
      tags:
      - meeting
      description: 获取会议详情
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting/get
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: string
        description: 会议ID（视频会议的唯一标识，视频会议开始后才会产生）
        example: '6911188411932033028'
      - name: query_mode
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          x-enum-descriptions:
            '0': 只查询会议信息（默认）
            '1': 只查询会议产物（纪要、逐字稿）
        description: 此次查询的查询模式，不传，或传0，只查询会议信息；传1，只查询会议产物
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户（推荐）
        description: 此次调用中使用的用户ID的类型，默认使用open_id可不填
      - name: with_meeting_ability
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要会中使用能力统计（仅限tenant_access_token）
        example: false
      - name: with_participants
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要参会人列表
        example: false
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      meeting:
                        type: object
                        properties:
                          ability:
                            type: object
                            properties:
                              use_audio:
                                type: boolean
                                description: 是否使用音频
                                example: true
                              use_follow_screen:
                                type: boolean
                                description: 是否使用妙享（magic share）
                                example: true
                              use_pstn:
                                type: boolean
                                description: 是否使用PSTN
                                example: true
                              use_recording:
                                type: boolean
                                description: 是否使用录制
                                example: true
                              use_share_screen:
                                type: boolean
                                description: 是否使用共享屏幕
                                example: true
                              use_video:
                                type: boolean
                                description: 是否使用视频
                                example: true
                            description: |-
                              会中使用的能力

                              **注意**：仅当使用应用身份（tenant_access_token）调用该接口，且查询参数 with_meeting_ability 取值为 true 时，该参数会有返回值。
                          create_time:
                            type: string
                            description: 会议创建时间（unix时间，单位sec）
                            example: '1608885566'
                          end_time:
                            type: string
                            description: 会议结束时间（unix时间，单位sec）
                            example: '1608888867'
                          host_user:
                            type: object
                            properties:
                              id:
                                type: string
                                description: 用户ID
                                example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                              user_type:
                                type: integer
                                description: 用户类型
                                enum:
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                - 7
                                x-enum-descriptions:
                                  '1': 飞书用户
                                  '2': rooms用户
                                  '3': 文档用户
                                  '4': neo单品用户
                                  '5': neo单品游客用户
                                  '6': pstn用户
                                  '7': sip用户
                                example: 1
                            description: 主持人
                          id:
                            type: string
                            description: 会议ID（视频会议的唯一标识，视频会议开始后才会产生）
                            example: '6911188411934433028'
                          meeting_connect:
                            type: boolean
                            description: 该会议是否支持互通（注：该字段内测中）
                            example: true
                          meeting_no:
                            type: string
                            description: 会议号
                            example: '123456789'
                          note_id:
                            type: string
                            description: 会议纪要 ID，可用于调用 note detail API 获取纪要详情（query_mode=0 时返回）
                            example: '6911188411934433028'
                          participant_count:
                            type: string
                            description: 参会峰值人数
                            example: '10'
                          participant_count_accumulated:
                            type: string
                            description: 累计参会人数
                            example: '10'
                          participants:
                            type: array
                            items:
                              type: object
                              properties:
                                final_leave_time:
                                  type: string
                                  description: 最终离会时间，秒级Unix时间戳
                                  example: '1624438144'
                                first_join_time:
                                  type: string
                                  description: 首次入会时间，秒级Unix时间戳
                                  example: '1624438144'
                                id:
                                  type: string
                                  description: 用户ID
                                  example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                                in_meeting_duration:
                                  type: string
                                  description: 累计在会中时间，时间单位：秒
                                  example: '123'
                                is_cohost:
                                  type: boolean
                                  description: 是否为联席主持人
                                  example: false
                                is_external:
                                  type: boolean
                                  description: 是否为外部参会人
                                  example: false
                                is_host:
                                  type: boolean
                                  description: 是否为主持人
                                  example: true
                                status:
                                  type: integer
                                  description: 参会人状态
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  x-enum-descriptions:
                                    '1': 呼叫中
                                    '2': 在会中
                                    '3': 正在响铃
                                    '4': 不在会中或已经离开会议
                                  example: 2
                                user_type:
                                  type: integer
                                  description: 用户类型
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  - 5
                                  - 6
                                  - 7
                                  x-enum-descriptions:
                                    '1': lark用户
                                    '2': rooms用户
                                    '3': 文档用户
                                    '4': neo单品用户
                                    '5': neo单品游客用户
                                    '6': pstn用户
                                    '7': sip用户
                                  example: 1
                            description: 参会人列表
                          password:
                            type: string
                            description: 会议密码
                            example: '971024'
                          start_time:
                            type: string
                            description: 会议开始时间（unix时间，单位sec）
                            example: '1608883322'
                          status:
                            type: integer
                            description: 会议状态
                            enum:
                            - 1
                            - 2
                            - 3
                            x-enum-descriptions:
                              '1': 会议呼叫中
                              '2': 会议进行中
                              '3': 会议已结束
                            example: 2
                          topic:
                            type: string
                            description: 会议主题
                            example: my meeting
                          url:
                            type: string
                            description: 会议链接（飞书用户可通过点击会议链接快捷入会）
                            example: https://vc.feishu.cn/j/337736498
                        description: 会议数据
                      related_artifacts:
                        type: object
                        properties:
                          note_doc_token:
                            type: string
                            description: |-
                              智能纪要的 doc_token
                              - 文档一旦生成，就可以查到对应 token
                              - 无字段权限时，该 key 不会出现在 related_artifacts 结构当中
                              - 有字段权限而无内容时，related_artifacts 结构中会包含该 key，同时其值为空字符串
                            example: J1X5wG7bFilbFDk42VNdhfS6n6g
                          verbatim_doc_token:
                            type: string
                            description: |-
                              逐字稿的 doc_token
                              - 文档一旦生成，就可以查到对应 token
                              - 无字段权限时，该 key 不会出现在 related_artifacts 结构当中
                              - 有字段权限而无内容时，related_artifacts 结构中会包含该 key，同时其值为空字符串
                            example: J1X5wG7bFilbFDk42VNdhfS6n6g
      x-lark-method-id: meeting.get
      x-lark-scopes:
      - vc:meeting:readonly
      - vc:meeting.meetingevent:read
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
