# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 知识库 API
  description: |-
    知识空间、节点、空间成员管理

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: wiki
  x-lark-service-api-version: v2
  x-lark-registry-version: 1.0.0
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: members
- name: nodes
- name: spaces
paths:
  /open-apis/wiki/v2/spaces/{space_id}/members:
    post:
      operationId: wiki_members_create
      summary: 添加知识空间成员
      tags:
      - members
      description: 添加知识空间成员
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-member/create
      parameters:
      - name: need_notification
        in: query
        required: false
        schema:
          type: boolean
        description: 添加权限后是否通知对方
        example: true
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          知识空间 ID。可通过以下两种方式获取。了解更多，参考[知识库概述](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)。
          - 调用 [获取知识空间列表](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space/list)获取
          - 如果你是知识库管理员，可以进入知识库设置页面，复制地址栏的数字部分：https://sample.feishu.cn/wiki/settings/`6870403571079249922`
        example: '1565676577122621'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                member_id:
                  type: string
                  description: 成员或管理员的 ID，值的类型由 member_type 参数决定。参考 member_type 的描述获取不同类型的 ID。
                  example: ou_449b53ad6aee526f7ed311b216aabcef
                member_role:
                  type: string
                  description: |-
                    成员的角色类型。可选值:

                    - admin：管理员

                    - member：成员
                  example: admin
                member_type:
                  type: string
                  description: |-
                    要添加的成员或管理员的身份类型。可选值：

                    - openchat：群组 ID。参考[群 ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)获取

                    - userid：用户 ID。详情参考[如何获取 User ID](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-user-id)

                    - email：用户邮箱

                    - opendepartmentid：部门 ID。参考[部门资源介绍](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/field-overview)获取

                    - openid：用户的 Open ID。详情参考[如何获取 Open ID](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)

                    - unionid：用户的 Union ID。详情参考[如何获取 Union ID](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-union-id)
                  example: openid
              required:
              - member_id
              - member_role
              - member_type
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      member:
                        type: object
                        properties:
                          member_id:
                            type: string
                            description: 成员或管理员的 ID，值的类型由 member_type 参数决定。
                            example: ou_449b53ad6aee526f7ed311b216aabcef
                          member_role:
                            type: string
                            description: |-
                              成员的角色类型。可选值:

                              - admin：管理员

                              - member：成员
                            example: admin
                          member_type:
                            type: string
                            description: |-
                              要添加的成员或管理员的身份类型。枚举值：

                              - openchat：群组 ID。参考[群 ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)获取

                              - userid：用户 ID。详情参考[如何获取 User ID](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-user-id)

                              - email：用户邮箱

                              - opendepartmentid：部门 ID。参考[部门资源介绍](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/field-overview)获取

                              - openid：用户的 Open ID。详情参考[如何获取 Open ID](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)

                              - unionid：用户的 Union ID。详情参考[如何获取 Union ID](https://open.feishu.cn/document/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-union-id)
                            example: openid
                          type:
                            type: string
                            description: 知识库协作者类型（未来支持）
                            enum:
                            - user
                            - chat
                            - department
                            x-enum-descriptions:
                              user: 用户
                              chat: 群组
                              department: 组织架构
                            example: user
                        required:
                        - member_id
                        - member_role
                        - member_type
                        description: 知识空间成员
      x-lark-method-id: members.create
      x-lark-scopes:
      - wiki:wiki
      - wiki:member:create
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: high-risk-write
      x-lark-danger: true
    get:
      operationId: wiki_members_list
      summary: 获取知识空间成员列表
      tags:
      - members
      description: 获取知识空间成员列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=wiki&resource=space.member&version=v2
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: 1
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: NzA0NDg5NjIzMDA3MzE3MTk3Ml83MzYzMjE4NDkzNDI1NzI5NTM4
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间 ID
        example: '7375263209671884820'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页
                        example: false
                      members:
                        type: array
                        items:
                          type: object
                          properties:
                            member_id:
                              type: string
                              description: 知识库协作者 ID
                              example: ou_67e5ecb64ce1c0bd94612c17999db411
                            member_role:
                              type: string
                              description: 知识库协作者角色
                              example: admin
                            member_type:
                              type: string
                              description: 知识库协作者 ID 类型
                              example: openid
                            type:
                              type: string
                              description: 知识库协作者类型（未来支持）
                              enum:
                              - user
                              - chat
                              - department
                              x-enum-descriptions:
                                user: 用户
                                chat: 群组
                                department: 组织架构
                              example: user
                          required:
                          - member_id
                          - member_role
                          - member_type
                        description: 空间成员列表
                      page_token:
                        type: string
                        description: 分页标记
                        example: ou_12345
      x-lark-method-id: members.list
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - wiki:member:retrieve
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/wiki/v2/spaces/{space_id}/members/{member_id}:
    delete:
      operationId: wiki_members_delete
      summary: 删除知识空间成员
      tags:
      - members
      description: 删除知识空间成员
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-member/delete
      parameters:
      - name: member_id
        in: path
        required: true
        schema:
          type: string
        description: 成员id，值的类型由请求体的 member_type 参数决定
        example: g64fb7g7
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间id
        example: '7008061636015554580'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                member_role:
                  type: string
                  description: |-
                    角色:

                    “admin” - 管理员

                    “member” - 成员
                  example: admin
                member_type:
                  type: string
                  description: "“openchat” - 群id \n\n“userid” - 用户id\n\n“email” - 邮箱\n\n“opendepartmentid” - 部门id\n\n“openid”\
                    \ - 应用openid\n\n“unionid” - [unionid](/:ssltoken/home/user-identity-introduction/union-id\n)"
                  example: userid
                type:
                  type: string
                  description: 知识库协作者类型（暂不支持）
                  enum:
                  - user
                  - chat
                  - department
                  x-enum-descriptions:
                    user: 用户
                    chat: 群组
                    department: 组织架构
                  example: user
              required:
              - member_role
              - member_type
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      member:
                        type: object
                        properties:
                          member_id:
                            type: string
                            description: 用户id，值的类型由上面的 member_type 参数决定
                            example: '1565676577122621'
                          member_role:
                            type: string
                            description: |-
                              角色:

                              “admin” - 管理员

                              “member” - 成员
                            example: admin
                          member_type:
                            type: string
                            description: "“openchat” - 群id \n\n“userid” - 用户id\n\n“email” - 邮箱\n\n“opendepartmentid” - 部门id\n\
                              \n“openid” - 应用openid\n\n“unionid” - [unionid](/:ssltoken/home/user-identity-introduction/union-id\n\
                              )"
                            example: userid
                          type:
                            type: string
                            description: 知识库协作者类型（暂不支持）
                            enum:
                            - user
                            - chat
                            - department
                            x-enum-descriptions:
                              user: 用户
                              chat: 群组
                              department: 组织架构
                            example: user
                        required:
                        - member_id
                        - member_role
                        - member_type
                        description: 成员信息
                    required:
                    - member
      x-lark-method-id: members.delete
      x-lark-scopes:
      - wiki:wiki
      - wiki:member:update
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/wiki/v2/spaces/{space_id}/nodes/{node_token}/copy:
    post:
      operationId: wiki_nodes_copy
      summary: 创建知识空间节点副本
      tags:
      - nodes
      description: 创建知识空间节点副本
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-node/copy
      parameters:
      - name: node_token
        in: path
        required: true
        schema:
          type: string
        description: 节点token
        example: wikcnKQ1k3p******8Vabce
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间id
        example: '6946843325487912356'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                target_parent_token:
                  type: string
                  description: |-
                    目标父节点 Token。
                    - 目标知识空间 ID 与目标父节点 Token 不可同时为空。
                  example: wikcnKQ1k3p******8Vabce
                target_space_id:
                  type: string
                  description: |-
                    目标知识空间 ID。
                    - 目标知识空间 ID 与目标父节点 Token 不可同时为空。
                  example: '6946843325487912356'
                title:
                  type: string
                  description: 复制后的新标题。如果填空，则新标题为空。如果不填，则使用原节点标题。
                  example: 新标题。
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      node:
                        type: object
                        properties:
                          creator:
                            type: string
                            description: 节点创建者
                            example: ou_xxxxx
                          has_child:
                            type: boolean
                            description: 是否有子节点
                            example: false
                          node_create_time:
                            type: string
                            description: 节点创建时间
                            example: '1642402428'
                          node_creator:
                            type: string
                            description: 节点创建者
                            example: ou_xxxxx
                          node_token:
                            type: string
                            description: 节点token
                            example: wikcnKQ1k3p******8Vabcef
                          node_type:
                            type: string
                            description: 节点类型
                            enum:
                            - origin
                            - shortcut
                            x-enum-descriptions:
                              origin: 实体
                              shortcut: 快捷方式
                            example: origin
                          obj_create_time:
                            type: string
                            description: 文档创建时间
                            example: '1642402428'
                          obj_edit_time:
                            type: string
                            description: 文档最近编辑时间
                            example: '1642402428'
                          obj_token:
                            type: string
                            description: 对应文档类型的token，可根据 obj_type 判断属于哪种文档类型。
                            example: doccnzAaOD******Wabcdef
                          obj_type:
                            type: string
                            description: 文档类型，对于快捷方式，该字段是对应的实体的obj_type。
                            enum:
                            - doc
                            - sheet
                            - mindnote
                            - bitable
                            - file
                            - docx
                            - slides
                            x-enum-descriptions:
                              doc: 旧版文档
                              sheet: 表格
                              mindnote: 思维导图
                              bitable: 多维表格
                              file: 文件
                              docx: 新版文档
                              slides: 幻灯片
                            example: doc
                          origin_node_token:
                            type: string
                            description: 快捷方式对应的实体node_token，当节点为快捷方式时，该值不为空。
                            example: wikcnKQ1k3p******8Vabcef
                          origin_space_id:
                            type: string
                            description: 快捷方式对应的实体所在的space id
                            example: '6946843325487912356'
                          owner:
                            type: string
                            description: 节点所有者
                            example: ou_xxxxx
                          parent_node_token:
                            type: string
                            description: 父节点 token。若当前节点为一级节点，父节点 token 为空。
                            example: wikcnKQ1k3p******8Vabcef
                          space_id:
                            type: string
                            description: |-
                              知识空间id
                              [获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                            example: '6946843325487912356'
                          title:
                            type: string
                            description: 文档标题
                            example: 标题
                        required:
                        - node_type
                        - obj_type
                        description: 创建副本后的新节点
                    required:
                    - node
      x-lark-method-id: nodes.copy
      x-lark-scopes:
      - wiki:wiki
      - wiki:node:copy
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/wiki/v2/spaces/{space_id}/nodes:
    post:
      operationId: wiki_nodes_create
      summary: 创建知识空间节点
      tags:
      - nodes
      description: 创建知识空间节点
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-node/create
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          知识空间id
          [获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
        example: '6704147935988285963'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                node_type:
                  type: string
                  description: 节点类型
                  enum:
                  - origin
                  - shortcut
                  x-enum-descriptions:
                    origin: 实体
                    shortcut: 快捷方式
                  example: origin
                obj_type:
                  type: string
                  description: 文档类型，对于快捷方式，该字段是对应的实体的obj_type。
                  enum:
                  - doc
                  - sheet
                  - mindnote
                  - bitable
                  - file
                  - docx
                  - slides
                  x-enum-descriptions:
                    doc: 旧版文档
                    sheet: 表格
                    mindnote: 思维导图
                    bitable: 多维表格
                    file: 文件
                    docx: 新版文档
                    slides: 幻灯片
                  example: docx
                origin_node_token:
                  type: string
                  description: 快捷方式对应的实体node_token，当节点为快捷方式时，该值不为空。
                  example: wikcnKQ1k3p******8Vabcef
                parent_node_token:
                  type: string
                  description: 父节点 token。若当前节点为一级节点，父节点 token 为空。
                  example: wikcnKQ1k3p******8Vabcef
                title:
                  type: string
                  description: 文档标题
                  example: 标题
              required:
              - node_type
              - obj_type
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      node:
                        type: object
                        properties:
                          creator:
                            type: string
                            description: 节点创建者
                            example: ou_xxx
                          has_child:
                            type: boolean
                            description: 是否有子节点
                            example: false
                          node_create_time:
                            type: string
                            description: 节点创建时间
                            example: '1642402428'
                          node_creator:
                            type: string
                            description: 节点创建者
                            example: ou_xxxxx
                          node_token:
                            type: string
                            description: 节点token
                            example: wikcnKQ1k3p******8Vabcef
                          node_type:
                            type: string
                            description: 节点类型
                            enum:
                            - origin
                            - shortcut
                            x-enum-descriptions:
                              origin: 实体
                              shortcut: 快捷方式
                            example: origin
                          obj_create_time:
                            type: string
                            description: 文档创建时间
                            example: '1642402428'
                          obj_edit_time:
                            type: string
                            description: 文档最近编辑时间
                            example: '1642402428'
                          obj_token:
                            type: string
                            description: 对应文档类型的token，可根据 obj_type 判断属于哪种文档类型。
                            example: docx
                          obj_type:
                            type: string
                            description: 文档类型，对于快捷方式，该字段是对应的实体的obj_type。
                            enum:
                            - doc
                            - sheet
                            - mindnote
                            - bitable
                            - file
                            - docx
                            - slides
                            x-enum-descriptions:
                              doc: 旧版文档
                              sheet: 表格
                              mindnote: 思维导图
                              bitable: 多维表格
                              file: 文件
                              docx: 新版文档
                              slides: 幻灯片
                            example: doc
                          origin_node_token:
                            type: string
                            description: 快捷方式对应的实体node_token，当节点为快捷方式时，该值不为空。
                            example: wikcnKQ1k3p******8Vabcef
                          origin_space_id:
                            type: string
                            description: 快捷方式对应的实体所在的space id
                            example: '123456'
                          owner:
                            type: string
                            description: 节点所有者
                            example: ou_xxx
                          parent_node_token:
                            type: string
                            description: 父节点 token。若当前节点为一级节点，父节点 token 为空。
                            example: wikcnKQ1k3p******8Vabcef
                          space_id:
                            type: string
                            description: |-
                              知识空间id
                              [获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                            example: '123456'
                          title:
                            type: string
                            description: 文档标题
                            example: 标题
                        required:
                        - node_type
                        - obj_type
                        description: 节点
      x-lark-method-id: nodes.create
      x-lark-scopes:
      - wiki:wiki
      - wiki:node:create
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: wiki_nodes_list
      summary: 获取知识空间子节点列表
      tags:
      - nodes
      description: 获取知识空间子节点列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-node/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
        description: 分页大小
        example: 10
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '6946843325487456878'
      - name: parent_node_token
        in: query
        required: false
        schema:
          type: string
        description: 父节点token
        example: wikcnKQ1k3p******8Vabce
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: '[知识空间id](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)，如果查询**我的文档库**可替换为`my_library`'
        example: '6946843325487906839'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有数据
                        example: true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            creator:
                              type: string
                              description: 节点创建者
                              example: ou_xxxxx
                            has_child:
                              type: boolean
                              description: 是否有子节点
                              example: false
                            node_create_time:
                              type: string
                              description: 节点创建时间
                              example: '1642402428'
                            node_creator:
                              type: string
                              description: 节点创建者
                              example: ou_xxxxx
                            node_token:
                              type: string
                              description: 节点token
                              example: wikcnKQ1k3p******8Vabcef
                            node_type:
                              type: string
                              description: 节点类型
                              enum:
                              - origin
                              - shortcut
                              x-enum-descriptions:
                                origin: 实体
                                shortcut: 快捷方式
                              example: origin
                            obj_create_time:
                              type: string
                              description: 文档创建时间
                              example: '1642402428'
                            obj_edit_time:
                              type: string
                              description: 文档最近编辑时间
                              example: '1642402428'
                            obj_token:
                              type: string
                              description: 对应文档类型的token，可根据 obj_type 判断属于哪种文档类型。
                              example: doccnzAaOD******Wabcdef
                            obj_type:
                              type: string
                              description: 文档类型，对于快捷方式，该字段是对应的实体的obj_type。
                              enum:
                              - doc
                              - sheet
                              - mindnote
                              - bitable
                              - file
                              - docx
                              - slides
                              x-enum-descriptions:
                                doc: 旧版文档
                                sheet: 表格
                                mindnote: 思维导图
                                bitable: 多维表格
                                file: 文件
                                docx: 新版文档
                                slides: 幻灯片
                              example: doc
                            origin_node_token:
                              type: string
                              description: 快捷方式对应的实体node_token，当节点为快捷方式时，该值不为空。
                              example: wikcnKQ1k3p******8Vabcef
                            origin_space_id:
                              type: string
                              description: 快捷方式对应的实体所在的space id
                              example: '6946843325487912356'
                            owner:
                              type: string
                              description: 节点所有者
                              example: ou_xxxxx
                            parent_node_token:
                              type: string
                              description: 父节点 token。若当前节点为一级节点，父节点 token 为空。
                              example: wikcnKQ1k3p******8Vabcef
                            space_id:
                              type: string
                              description: |-
                                知识空间id
                                [获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                              example: '6946843325487912356'
                            title:
                              type: string
                              description: 文档标题
                              example: 标题
                          required:
                          - node_type
                          - obj_type
                        description: 数据列表
                      page_token:
                        type: string
                        description: 分页Token
                        example: '6946843325487906839'
      x-lark-method-id: nodes.list
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - wiki:node:retrieve
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/wiki/v2/spaces:
    post:
      operationId: wiki_spaces_create
      summary: 创建知识空间
      tags:
      - spaces
      description: 创建知识空间
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space/create
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: 知识空间描述
                  example: 知识空间描述
                name:
                  type: string
                  description: 知识空间名称
                  example: 知识空间
                open_sharing:
                  type: string
                  description: 表示知识空间的分享状态
                  enum:
                  - open
                  - closed
                  x-enum-descriptions:
                    open: 打开
                    closed: 关闭，即知识空间未发布到互联网
                  example: open
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      space:
                        type: object
                        properties:
                          description:
                            type: string
                            description: 知识空间描述
                            example: 知识空间描述
                          name:
                            type: string
                            description: 知识空间名称
                            example: 知识空间
                          open_sharing:
                            type: string
                            description: 表示知识空间的分享状态
                            enum:
                            - open
                            - closed
                            x-enum-descriptions:
                              open: 打开
                              closed: 关闭，即知识空间未发布到互联网
                            example: open
                          space_id:
                            type: string
                            description: 知识空间id
                            example: '123456'
                          space_type:
                            type: string
                            description: 表示知识空间类型（团队空间 或 个人空间）
                            enum:
                            - team
                            - person
                            - my_library
                            x-enum-descriptions:
                              team: 团队空间
                              person: 个人空间
                              my_library: 我的文档库，归个人管理。一人仅可拥有一个，无法添加其他管理员
                            example: team
                          visibility:
                            type: string
                            description: 表示知识空间可见性（公开空间 或 私有空间）
                            enum:
                            - public
                            - private
                            x-enum-descriptions:
                              public: 公开空间
                              private: 私有空间
                            example: private
                        description: 知识空间
      x-lark-method-id: spaces.create
      x-lark-scopes:
      - wiki:wiki
      - wiki:space:write_only
      x-lark-access-tokens:
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
    get:
      operationId: wiki_spaces_list
      summary: 获取知识空间列表
      tags:
      - spaces
      description: 获取知识空间列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
          default: 20
        description: 分页大小
        example: 10
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '1565676577122621'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            description:
                              type: string
                              description: 知识空间描述
                              example: workspace description
                            name:
                              type: string
                              description: 知识空间名称
                              example: workspace name
                            open_sharing:
                              type: string
                              description: 表示知识空间的分享状态
                              enum:
                              - open
                              - closed
                              x-enum-descriptions:
                                open: 打开
                                closed: 关闭，即知识空间未发布到互联网
                              example: open
                            space_id:
                              type: string
                              description: 知识空间 ID
                              example: '123456'
                            space_type:
                              type: string
                              description: 表示知识空间类型
                              enum:
                              - team
                              - person
                              - my_library
                              x-enum-descriptions:
                                team: 团队空间
                                person: 个人空间
                                my_library: 我的文档库，归个人管理。一人仅可拥有一个，无法添加其他管理员
                              example: team
                            visibility:
                              type: string
                              description: 表示知识空间可见性
                              enum:
                              - public
                              - private
                              x-enum-descriptions:
                                public: 公开空间
                                private: 私有空间
                              example: private
                        description: 数据列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: '1565676577122621'
      x-lark-method-id: spaces.list
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - wiki:space:retrieve
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/wiki/v2/spaces/{space_id}:
    get:
      operationId: wiki_spaces_get
      summary: 获取知识空间信息
      tags:
      - spaces
      description: 获取知识空间信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space/get
      parameters:
      - name: lang
        in: query
        required: false
        schema:
          type: string
          enum:
          - zh
          - id
          - de
          - en
          - es
          - fr
          - it
          - pt
          - vi
          - ru
          - hi
          - th
          - ko
          - ja
          - zh-HK
          - zh-TW
          x-enum-descriptions:
            zh: 简体中文
            id: 印尼语
            de: 德语
            en: 英语
            es: 西班牙语
            fr: 法语
            it: 意大利语
            pt: 葡萄牙语
            vi: 越南语
            ru: 俄语
            hi: 印地语
            th: 泰语
            ko: 韩语
            ja: 日语
            zh-HK: 繁体中文（中国香港）
            zh-TW: 繁体中文（中国台湾）
          default: en
        description: 当查询**我的文档库**时，指定返回的文档库名称展示语言。
        example: zh
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          知识空间 ID。可通过以下两种方式获取。了解更多，参考[知识库概述](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)。
          - 调用 [获取知识空间列表](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space/list)获取
          - 如果你是知识库管理员，可以进入知识库设置页面，复制地址栏的数字部分：https://sample.feishu.cn/wiki/settings/`6870403571079249922`
        example: '6870403571079249922'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      space:
                        type: object
                        properties:
                          description:
                            type: string
                            description: 知识空间描述
                            example: workspace description
                          name:
                            type: string
                            description: 知识空间名称
                            example: workspace name
                          open_sharing:
                            type: string
                            description: 表示知识空间的分享状态
                            enum:
                            - open
                            - closed
                            x-enum-descriptions:
                              open: 打开
                              closed: 关闭，即知识空间未发布到互联网
                            example: open
                          space_id:
                            type: string
                            description: 知识空间 ID
                            example: '123456'
                          space_type:
                            type: string
                            description: 表示知识空间类型
                            enum:
                            - team
                            - person
                            - my_library
                            x-enum-descriptions:
                              team: 团队空间
                              person: 个人空间
                              my_library: 我的文档库，归个人管理。一人仅可拥有一个，无法添加其他管理员
                            example: team
                          visibility:
                            type: string
                            description: 表示知识空间可见性
                            enum:
                            - public
                            - private
                            x-enum-descriptions:
                              public: 公开空间
                              private: 私有空间
                            example: private
                        description: 知识空间
      x-lark-method-id: spaces.get
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - wiki:space:read
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/wiki/v2/spaces/get_node:
    get:
      operationId: wiki_spaces_get_node
      summary: 获取知识空间节点信息
      tags:
      - spaces
      description: 获取知识空间节点信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space/get_node
      parameters:
      - name: obj_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - mindnote
          - bitable
          - file
          - slides
          - wiki
          x-enum-descriptions:
            doc: 旧版文档
            docx: 新版文档
            sheet: 表格
            mindnote: 思维导图
            bitable: 多维表格
            file: 文件
            slides: 幻灯片
            wiki: 知识库节点
          default: wiki
        description: 文档类型。不传时默认以 wiki 类型查询。
        example: docx
      - name: token
        in: query
        required: true
        schema:
          type: string
        description: |-
          知识库节点或对应云文档的实际 token。
          - 知识库节点 token：如果 URL 链接中 token 前为 wiki，该 token 为知识库的节点 token。
          - 云文档实际 token：如果 URL 链接中 token 前为 docx、base、sheets 等非 wiki 类型，则说明该 token 是当前云文档的实际 token。

          了解更多，请参考[文档常见问题-如何获取云文档资源相关 token（id）](https://open.feishu.cn/document/ukTMukTMukTM/uczNzUjL3czM14yN3MTN)。

          **注意**：

          使用云文档 token 查询时，需要对 obj_type 参数传入文档对应的类型。
        example: wikcnKQ1k3p******8Vabcef
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      node:
                        type: object
                        properties:
                          creator:
                            type: string
                            description: 文档创建者
                            example: ou_xxxxx
                          has_child:
                            type: boolean
                            description: 是否有子节点
                            example: false
                          node_create_time:
                            type: string
                            description: 节点创建时间
                            example: '1642402428'
                          node_creator:
                            type: string
                            description: 节点创建者
                            example: ou_xxxxx
                          node_token:
                            type: string
                            description: 知识库节点 token，如果 URL 链接中 token 前为 wiki，该 token 为知识库的节点 token。
                            example: wikcnKQ1k3p******8Vabcef
                          node_type:
                            type: string
                            description: 节点类型
                            enum:
                            - origin
                            - shortcut
                            x-enum-descriptions:
                              origin: 实体
                              shortcut: 快捷方式
                            example: origin
                          obj_create_time:
                            type: string
                            description: 文档创建时间
                            example: '1642402428'
                          obj_edit_time:
                            type: string
                            description: 文档最近编辑时间
                            example: '1642402428'
                          obj_token:
                            type: string
                            description: 节点的实际云文档的 token，如果 URL 链接中 token 前为 docx、base、sheets 等非 wiki 类型，则说明该 token 是当前云文档的实际
                              token。如果要获取或编辑节点内容，需要使用此 token 调用对应的接口。可根据 obj_type 判断属于哪种文档类型。
                            example: doccnzAaOD******Wabcdef
                          obj_type:
                            type: string
                            description: 文档类型，对于快捷方式，该字段是对应的实体的obj_type。
                            enum:
                            - doc
                            - sheet
                            - mindnote
                            - bitable
                            - file
                            - docx
                            - slides
                            x-enum-descriptions:
                              doc: 旧版文档
                              sheet: 表格
                              mindnote: 思维导图
                              bitable: 多维表格
                              file: 文件
                              docx: 新版文档
                              slides: 幻灯片
                            example: doc
                          origin_node_token:
                            type: string
                            description: 快捷方式对应的实体node_token，当节点为快捷方式时，该值不为空。
                            example: wikcnKQ1k3p******8Vabcef
                          origin_space_id:
                            type: string
                            description: 快捷方式对应的实体所在的space id
                            example: '6946843325487912356'
                          owner:
                            type: string
                            description: 文档所有者
                            example: ou_xxxxx
                          parent_node_token:
                            type: string
                            description: 父节点 token。若当前节点为一级节点，父节点 token 为空。
                            example: wikcnKQ1k3p******8Vabcef
                          space_id:
                            type: string
                            description: 知识空间 ID。获取方式参考[知识库概述](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)。
                            example: '6946843325487912356'
                          title:
                            type: string
                            description: 文档标题
                            example: 标题
                        required:
                        - node_type
                        - obj_type
                        description: 节点信息
      x-lark-method-id: spaces.get_node
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - wiki:node:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
