# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.88
openapi: 3.0.3
info:
  title: 飞书开放平台 · base API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/base/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.88
  x-lark-service: base
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: base
paths:
  /open-apis/base/v3/base_apps:
    post:
      operationId: base_app_create
      summary: Create a new BaseApp in a Workspace (not a copy)
      description: |-
        Create a new BaseApp in a Workspace (not a copy)


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +app-create --name "Sales app" --workspace-token <workspace_token>
        - lark-cli base +app-create --name "Sales app" --workspace-token <workspace_token> --theme-style cloudBlue
        - This command creates a new empty BaseApp; it does not copy an existing BaseApp or its pages and blocks.
        - Create or select a Base separately when the app needs data.
        - Record the returned app_token; page and block commands require it.
      tags:
      - base
      x-lark-cli-command: lark-cli base +app-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:appmode:create
      - base:workspace:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: BaseApp name
                workspace_token:
                  type: string
                  description: workspace token
                theme_style:
                  type: string
                  enum:
                  - default
                  - cloudBlue
                  - fresh
                  - softLight
                  - future
                  - technology
                  description: theme style
              required:
              - name
              - workspace_token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/base_apps/{app_token}:
    get:
      operationId: base_app_get
      summary: Get BaseApp info, page summaries, and the referenced Base/Table map
      description: |-
        Get BaseApp info, page summaries, and the referenced Base/Table map


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +app-get --app-token <app_token>
        - ref maps each Base token currently referenced by app widgets to the names of its referenced tables; table/field/record commands take the Base token keys.
        - The response includes page summaries. Use +app-page-get or +app-block-list for component details.
      tags:
      - base
      x-lark-cli-command: lark-cli base +app-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:appmode:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
          description: BaseApp token
        description: BaseApp token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/base_apps/{app_token}/blocks/{block_id}/data:
    get:
      operationId: base_app_block_get_data
      summary: Get computed data for a BaseApp page chart block
      description: |-
        Get computed data for a BaseApp page chart block


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +app-block-get-data --app-token <app_token> --base-token <base_token> --block-id <chart_token>
        - Do not call this command for a component whose +app-block-list result has type=unsupported; the API will return an error.
        - --block-id must be a chart_token, not a widget_id.
        - Read --base-token from the chart block data_config.base_token; do not choose an arbitrary +app-get ref key when the app references multiple Bases.
        - The response uses the same computed chart data protocol as +dashboard-block-get-data.
        - List and text blocks have no computed data; use +app-block-get for their metadata instead. For text specifically, +app-block-get returns the Markdown content in data_config.text.
      tags:
      - base
      x-lark-cli-command: lark-cli base +app-block-get-data
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:appmode_block:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
          description: BaseApp token
        description: BaseApp token
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: chart_token (cht… prefix) returned by +app-block-create, +app-block-list, or +app-block-get
        description: chart_token (cht… prefix) returned by +app-block-create, +app-block-list, or +app-block-get
      - name: base_token
        in: query
        required: true
        schema:
          type: string
          description: base token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/base_apps/{app_token}/pages:
    get:
      operationId: base_app_page_list
      summary: List pages in a BaseApp
      description: |-
        List pages in a BaseApp


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +app-page-list --app-token <app_token>
        - Use the returned page_id for +app-page-get/update/delete and every +app-block-* command.
        - If a returned page has name="", the current user has no permission to that page; do not treat it as an untitled page or use it as an operation target.
      tags:
      - base
      x-lark-cli-command: lark-cli base +app-page-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:appmode_page:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
          description: BaseApp token
        description: BaseApp token
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
          description: page size; must be positive
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: pagination token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_app_page_create
      summary: Create a page in a BaseApp
      description: |-
        Create a page in a BaseApp


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +app-page-create --app-token <app_token> --name "Overview"
        - Page names must be unique within an app; the CLI checks existing pages before creation.
        - Record the returned page_id; every +app-block-* command needs it.
        - This release creates top-level pages only; PageGroup placement is not supported.
      tags:
      - base
      x-lark-cli-command: lark-cli base +app-page-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:appmode_page:create
      - base:appmode_page:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
          description: BaseApp token
        description: BaseApp token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: page name
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/base_apps/{app_token}/pages/{page_id}:
    delete:
      operationId: base_app_page_delete
      summary: Delete a BaseApp page
      description: |-
        Delete a BaseApp page


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +app-page-delete --app-token <app_token> --page-id <page_id> --yes
        - Deleting a page also deletes its blocks and cannot be recovered; the base data behind the blocks is untouched.
        - baseHighRiskYesTip
      tags:
      - base
      x-lark-cli-command: lark-cli base +app-page-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:appmode_page:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
          description: BaseApp token
        description: BaseApp token
      - name: page_id
        in: path
        required: true
        schema:
          type: string
          description: BaseApp page ID
        description: BaseApp page ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_app_page_get
      summary: Get a BaseApp page by ID
      description: |-
        Get a BaseApp page by ID


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +app-page-get --app-token <app_token> --page-id <page_id>
        - The response is PageDetail and always includes widget summaries. Use +app-block-list when you need paginated widget details.
      tags:
      - base
      x-lark-cli-command: lark-cli base +app-page-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:appmode_page:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
          description: BaseApp token
        description: BaseApp token
      - name: page_id
        in: path
        required: true
        schema:
          type: string
          description: BaseApp page ID
        description: BaseApp page ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: base_app_page_update
      summary: Rename a BaseApp page
      description: |-
        Rename a BaseApp page


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +app-page-update --app-token <app_token> --page-id <page_id> --name "Overview"
        - Page names must be unique within an app; the CLI excludes the current page while checking.
        - Renaming does not move the page; ordering and parent stay unchanged.
      tags:
      - base
      x-lark-cli-command: lark-cli base +app-page-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:appmode_page:update
      - base:appmode_page:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
          description: BaseApp token
        description: BaseApp token
      - name: page_id
        in: path
        required: true
        schema:
          type: string
          description: BaseApp page ID
        description: BaseApp page ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new page name
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/base_apps/{app_token}/pages/{page_id}/blocks:
    get:
      operationId: base_app_block_list
      summary: List blocks on a BaseApp page
      description: |-
        List blocks on a BaseApp page


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +app-block-list --app-token <app_token> --page-id <page_id>
        - A returned component with type=unsupported can only be identified in this list; +app-block-get, +app-block-get-data, and +app-block-update do not support it and will return an error.
        - Use block_id for +app-block-get/update. For chart data, pass chart_token to +app-block-get-data --block-id.
        - These are page blocks, not dashboard blocks: do not pass a block_id from here to +dashboard-block-get.
      tags:
      - base
      x-lark-cli-command: lark-cli base +app-block-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:appmode_block:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
          description: BaseApp token
        description: BaseApp token
      - name: page_id
        in: path
        required: true
        schema:
          type: string
          description: BaseApp page ID
        description: BaseApp page ID
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
          description: page size; must be positive
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: pagination token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_app_block_create
      summary: Create a block on a BaseApp page
      description: |-
        Create a block on a BaseApp page


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +app-block-create --app-token <app_token> --page-id <page_id> --name "Order Count" --type statistics --data-config '{"base_token":"basxxx","data_sources":[{"table_name":"Orders","count_all":true}]}'
        - lark-cli base +app-block-create --app-token <app_token> --page-id <page_id> --name "Monthly sales" --type column --data-config '{"base_token":"basxxx","data_sources":[{"table_name":"Orders","series":[{"field_name":"Amount","rollup":"SUM"}],"group_by":[{"field_name":"Month","sort":{"type":"group","order":"asc"}}]}]}'
        - Chart blocks use multi-datasource data_config: one top-level base_token shared by all sources, with table_name/series/count_all/group_by/filter inside each data_sources[] element (text needs none). App block commands carry no --base-token.
        - lark-cli base +app-block-create --app-token <app_token> --page-id <page_id> --name "Notes" --type text --data-config '{"text":"# Sales overview"}'
        - lark-cli base +app-block-create --app-token <app_token> --page-id <page_id> --name "Open orders" --type list --sub-type standard --data-config '{"base_token":"basxxx","table_name":"Orders"}'
        - For list creates, omit optional columns/fields to use the product defaults. The CLI sends them only when explicitly provided.
        - Before creating data-backed blocks, use +table-list and +field-list to confirm real table and field names.
        - A list accepts exactly one base_token, and that Base must be in the same Workspace as the App.
        - Read lark-base-app-block-data-config.md as the SSOT for chart, list and text config; do not invent data_config from natural language.
        - Block type cannot be changed after creation and this phase has no delete command, so a wrong --type can only be fixed in the UI. Confirm the type before creating.
        - Widget layout, position, size and display settings are not part of the public create/update protocol; the platform applies product defaults.
        - Record block_id for +app-block-update. For chart data reads, pass the returned chart_token to +app-block-get-data --block-id.
        - Block names must be unique within the page; the CLI checks every existing block before creation.
        - Create blocks sequentially; do not parallelize multiple block creates for the same page.
      tags:
      - base
      x-lark-cli-command: lark-cli base +app-block-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:appmode_block:create
      - base:appmode_block:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
          description: BaseApp token
        description: BaseApp token
      - name: page_id
        in: path
        required: true
        schema:
          type: string
          description: BaseApp page ID
        description: BaseApp page ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: block name
                type:
                  type: string
                  description: 'block type: chart(column|bar|line|pie|ring|area|combo|scatter|funnel|wordCloud|radar|statistics)
                    | text | list. Read lark-base-app-block-data-config.md before creating.'
                sub_type:
                  type: string
                  description: 'list subtype: standard|grouped|collapsible|card|detail; defaults to standard'
                data_config:
                  type: string
                  description: data_config JSON object; read lark-base-app-block-data-config.md for the SSOT
                no_validate:
                  type: boolean
                  description: skip local data_config validation and normalization; send data_config as-is
              required:
              - name
              - type
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/base_apps/{app_token}/pages/{page_id}/blocks/{block_id}:
    get:
      operationId: base_app_block_get
      summary: Get a BaseApp page block by ID
      description: |-
        Get a BaseApp page block by ID


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +app-block-get --app-token <app_token> --page-id <page_id> --block-id <block_id>
        - Do not call this command for a component whose +app-block-list result has type=unsupported; the API will return an error.
        - Returns WidgetDetail: widget_id, name, type, optional chart_token/list sub_type, and data_config.
        - For a text block, the Markdown content is in data_config.text — read it here; text has no +app-block-get-data endpoint.
        - For a chart's computed result, pass its chart_token to +app-block-get-data --block-id together with --app-token and --base-token.
        - Read the current data_config here before replacing nested values with +app-block-update.
      tags:
      - base
      x-lark-cli-command: lark-cli base +app-block-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:appmode_block:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
          description: BaseApp token
        description: BaseApp token
      - name: page_id
        in: path
        required: true
        schema:
          type: string
          description: BaseApp page ID
        description: BaseApp page ID
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: BaseApp page block ID
        description: BaseApp page block ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: base_app_block_update
      summary: Update a block on a BaseApp page
      description: |-
        Update a block on a BaseApp page


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +app-block-update --app-token <app_token> --page-id <page_id> --block-id <block_id> --name "Monthly sales"
        - lark-cli base +app-block-update --app-token <app_token> --page-id <page_id> --block-id <block_id> --data-config '{"base_token":"basxxx","data_sources":[{"table_name":"Orders","count_all":true,"filter":{"conjunction":"and","conditions":[{"field_name":"Status","operator":"is","value":"Closed"}]}}]}'
        - Do not call this command for a component whose +app-block-list result has type=unsupported; the API will return an error.
        - Read lark-base-app-block-data-config.md as the SSOT; do not invent data_config from natural language.
        - Use +app-block-get first to inspect the current data_config before replacing nested values.
        - The type and sub_type of an existing Block are immutable after creation and are not part of data_config; +app-block-update accepts only the name and data_config fields. If a user asks to change type/sub_type, read the current Block and always state this constraint in the final answer, even when it already matches and no write is needed; if it differs, it can only be fixed in the UI.
        - Only explicitly provided data_config fields are sent; omitted fields stay unchanged. For charts, passing data_sources replaces the whole ordered array, and changing base_token requires sending the full data_sources.
        - Widget layout, position, size and display settings are not part of the public create/update protocol.
      tags:
      - base
      x-lark-cli-command: lark-cli base +app-block-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:appmode_block:update
      - base:appmode_block:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
          description: BaseApp token
        description: BaseApp token
      - name: page_id
        in: path
        required: true
        schema:
          type: string
          description: BaseApp page ID
        description: BaseApp page ID
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: BaseApp page block ID
        description: BaseApp page block ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new block name
                data_config:
                  type: string
                  description: data_config JSON object; read lark-base-app-block-data-config.md for the SSOT
                no_validate:
                  type: boolean
                  description: skip local data_config normalization; send data_config as-is
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases:
    post:
      operationId: base_base_create
      summary: Create a new base resource
      description: |-
        Create a new base resource


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +base-create --name "Project Tracker" --time-zone Asia/Shanghai
        - Strongly recommended initial table schema: lark-cli base +base-create --name "Project Tracker" --table-name "Tasks" --fields '[{"name":"Title","type":"text"},{"name":"Status","type":"select","options":[{"name":"Todo"},{"name":"Done"}]}]'
        - Before using --fields, read lark-base-field-schema.md or rely on the same field JSON shape used by +field-create; do not invent field properties.
        - If --table-name and --fields are both omitted, Base creates one initial table with the platform default schema.
        - If created as bot, output may include permission_grant; report it so the user knows whether they can open the new Base.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: base name
                folder_token:
                  type: string
                  description: folder token for destination
                time_zone:
                  type: string
                  description: time zone, e.g. Asia/Shanghai
                fields:
                  type: string
                  description: field JSON array for the first table schema; use with --table-name, e.g. [{"name":"Title","type":"text"},{"name":"Status","type":"select","options":[{"name":"Todo"},{"name":"Done"}]}]
                table_name:
                  type: string
                  description: first table name for the custom first table schema; use with --fields
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/tables/forms/detail:
    post:
      operationId: base_form_detail
      summary: Get form detail by share token
      description: Get form detail by share token
      tags:
      - base
      x-lark-cli-command: lark-cli base +form-detail
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:form:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                share_token:
                  type: string
                  description: Form share token (share_token)
              required:
              - share_token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}:
    get:
      operationId: base_base_get
      summary: Get a base resource
      description: |-
        Get a base resource


        **Tips（来自 lark-cli 源码）**

        - Use a real Base token; workspace tokens and wiki tokens are not accepted by this command.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:app:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/advperm/enable:
    put:
      operationId: base_advperm_enable
      summary: Enable advanced permissions for a Base
      description: |-
        Enable advanced permissions for a Base


        **Tips（来自 lark-cli 源码）**

        - Caller must be a Base admin; enable advanced permissions before creating or updating roles.
      tags:
      - base
      x-lark-cli-command: lark-cli base +advperm-enable
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:app:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: enable
        in: query
        required: true
        schema:
          type: string
          enum:
          - 'true'
          default: 'true'
        description: 固定值（lark-cli 源码中硬编码）
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/blocks:
    post:
      operationId: base_base_block_create
      summary: Create a block
      description: |-
        Create a block


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +base-block-create --base-token <base_token> --type folder --name "Project Docs"
        - Example: lark-cli base +base-block-create --base-token <base_token> --type table --name "Tasks"
        - Example: lark-cli base +base-block-create --base-token <base_token> --type docx --name "Spec" --parent-id <folder_block_id>
        - Example: lark-cli base +base-block-create --base-token <base_token> --type dashboard --name "Metrics"
        - Example: lark-cli base +base-block-create --base-token <base_token> --type workflow --name "Approval Flow"
        - Creates a folder, table, docx, dashboard, or workflow entry.
        - Do not pass null for --parent-id. Omit it to create at the root level.
        - Created resources still use their own commands for content operations, such as table/field/record/docx/dashboard/workflow commands.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-block-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:block:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: resource type
                name:
                  type: string
                  description: block name
                parent_id:
                  type: string
                  description: folder block id; when omitted, create at root
              required:
              - type
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/blocks/list:
    post:
      operationId: base_url_resolve
      summary: Resolve a Base or BaseApp URL into usable coordinates
      description: |-
        Resolve a Base or BaseApp URL into usable coordinates


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +url-resolve --url "https://example.larkoffice.com/base/<base_token>?table=<table_id>&view=<view_id>"
        - BaseApp example: lark-cli base +url-resolve --url "https://example.larkoffice.com/app/<app_token>?pre_pathname=/base/workspace/<workspace_token>&pageId=<page_id>"
        - Only URLs are accepted. For Base titles or keywords, use +title-resolve --title.
      tags:
      - base
      x-lark-cli-command: lark-cli base +url-resolve
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: Base/BaseApp/Wiki/record-share URL to resolve
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/blocks/{block_id}:
    delete:
      operationId: base_base_block_delete
      summary: Delete a block
      description: |-
        Delete a block


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +base-block-delete --base-token <base_token> --block-id <block_id> --yes
        - Deletes the block identified by --block-id.
        - Recursive folder deletion is not supported. If a folder is not empty, move or delete its children first.
        - Different block types may have independent backing resources; deletion follows backend semantics.
        - Use +base-block-list first when you need to confirm the target block id.
        - If the user already explicitly confirmed this exact delete target, pass --yes without asking again.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-block-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:block:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: block id
        description: block id
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/blocks/{block_id}/move:
    post:
      operationId: base_base_block_move
      summary: Move a block
      description: |-
        Move a block


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +base-block-move --base-token <base_token> --block-id <block_id> --parent-id <folder_block_id>
        - Example: lark-cli base +base-block-move --base-token <base_token> --block-id <block_id> --after-id <sibling_block_id>
        - Example: lark-cli base +base-block-move --base-token <base_token> --block-id <block_id> --before-id <sibling_block_id>
        - Example: lark-cli base +base-block-move --base-token <base_token> --block-id <block_id>
        - Omit --parent-id to move the block to root; do not pass null.
        - --before-id and --after-id are mutually exclusive.
        - When moving a folder, its children remain under that folder.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-block-move
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:block:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: block id
        description: block id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_id:
                  type: string
                  description: target folder block id; when omitted, move to root
                before_id:
                  type: string
                  description: sibling block id; move the block before this sibling in the target folder/root order
                after_id:
                  type: string
                  description: sibling block id; move the block after this sibling in the target folder/root order
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/blocks/{block_id}/rename:
    post:
      operationId: base_base_block_rename
      summary: Rename a block
      description: |-
        Rename a block


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +base-block-rename --base-token <base_token> --block-id <block_id> --name "New name"
        - Renames the block identified by --block-id.
        - Block names must be unique in the base; use +base-block-list first when you need to check existing names.
        - Use +base-block-list first when you need to resolve the target block id from a visible name.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-block-rename
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:block:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: block id
        description: block id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new unique block name; must not duplicate another block name in this base
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/copy:
    post:
      operationId: base_base_copy
      summary: Copy a Base resource (not a BaseApp)
      description: |-
        Copy a Base resource (not a BaseApp)


        **Tips（来自 lark-cli 源码）**

        - BaseApp/AppMode copy is unsupported. Do not pass an app_token or use this command as a substitute.
        - Example: lark-cli base +base-copy --base-token <base_token> --name "Copy of Project Tracker"
        - Use --without-content when the user wants only structure.
        - If copied as bot, output may include permission_grant; report it so the user knows whether they can open the new Base.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-copy
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new base name
                folder_token:
                  type: string
                  description: folder token for destination
                without_content:
                  type: boolean
                  description: copy structure only
                time_zone:
                  type: string
                  description: time zone, e.g. Asia/Shanghai
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/copy_table_state:
    post:
      operationId: base_table_copy_status
      summary: Get one table copy task status
      description: |-
        Get one table copy task status


        **Tips（来自 lark-cli 源码）**

        - Use the opaque task_id returned by base +table-copy; this command queries status once.
        - If state is init or process, run the returned next_command later.
      tags:
      - base
      x-lark-cli-command: lark-cli base +table-copy-status
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - tableCopyScope
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: string
                  description: opaque table copy task ID
              required:
              - task_id
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/dashboards:
    get:
      operationId: base_dashboard_list
      summary: List dashboards in a base
      description: |-
        List dashboards in a base


        **Tips（来自 lark-cli 源码）**

        - Use returned dashboard_id values for +dashboard-get, +dashboard-block-list, and +dashboard-block-create.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:dashboard:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 100
          description: page size, range 1-100
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: pagination token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_dashboard_create
      summary: Create a dashboard in a base
      description: |-
        Create a dashboard in a base


        **Tips（来自 lark-cli 源码）**

        - Record the returned dashboard_id; dashboard block create/get/update/delete/arrange commands need it.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:dashboard:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: dashboard name
                theme_style:
                  type: string
                  description: theme style, defaults to platform default when omitted
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/dashboards/{dashboard_id}:
    delete:
      operationId: base_dashboard_delete
      summary: Delete a dashboard
      description: |-
        Delete a dashboard


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +dashboard-delete --base-token <base_token> --dashboard-id <dashboard_id> --yes
        - Deleting a dashboard also deletes its blocks and cannot be recovered.
        - baseHighRiskYesTip
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:dashboard:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_dashboard_get
      summary: Get a dashboard by ID
      description: |-
        Get a dashboard by ID


        **Tips（来自 lark-cli 源码）**

        - Use +dashboard-block-list or +dashboard-block-get when you need block-level details.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:dashboard:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: base_dashboard_update
      summary: Update a dashboard
      description: Update a dashboard
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:dashboard:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new dashboard name
                theme_style:
                  type: string
                  description: theme style, leave empty to keep current theme
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/dashboards/{dashboard_id}/arrange:
    post:
      operationId: base_dashboard_arrange
      summary: Auto-arrange dashboard blocks layout (server-side smart layout)
      description: |-
        Auto-arrange dashboard blocks layout (server-side smart layout)


        **Tips（来自 lark-cli 源码）**

        - Server-side smart layout is not deterministic or position-specific; use only when the user asks to arrange or beautify a dashboard, or to tidy up a dashboard created from scratch in this session.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-arrange
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:dashboard:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id_type:
                  type: string
                  description: 'user ID type: open_id / union_id / user_id'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/dashboards/{dashboard_id}/blocks:
    get:
      operationId: base_dashboard_block_list
      summary: List blocks in a dashboard
      description: |-
        List blocks in a dashboard


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +dashboard-block-list --base-token <base_token> --dashboard-id <dashboard_id>
        - Use returned block_id and type values for +dashboard-block-get/update/delete/get-data.
        - For a complete dashboard, use --page-size 100; while has_more=true, pass the returned page_token to --page-token and continue until has_more=false.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-block-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:dashboard:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
          description: page size, range 1-100
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: pagination token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_dashboard_block_create
      summary: Create a block in a dashboard
      description: |-
        Create a block in a dashboard


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +dashboard-block-create --base-token <base_token> --dashboard-id <dashboard_id> --name "Order Count" --type statistics --data-config '{"table_name":"Orders","count_all":true}'
        - lark-cli base +dashboard-block-create --base-token <base_token> --dashboard-id <dashboard_id> --name "Dashboard Note" --type text --data-config '{"text":"# Sales Dashboard"}'
        - Before creating data-backed blocks, use +table-list and +field-list to confirm real table and field names.
        - data_config uses table and field names, not table_id or field_id.
        - Read lark-base-dashboard-block-config.md as the SSOT for chart templates, filters, metric rules, and type-specific fields; do not invent data_config from natural language.
        - For funnel/stage charts backed by ordered helper data, set the intended group_by.sort in the initial create request; do not create first and then issue a second update just to fix sorting.
        - Record the returned block_id; block update/delete/get-data commands need it.
        - Create dashboard blocks sequentially; do not parallelize multiple block creates for the same dashboard.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-block-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:dashboard:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: block name
                type:
                  type: string
                  description: 'block type: column(柱状图)|bar(条形图)|line(折线图)|pie(饼图)|ring(环形图)|area(面积图)|combo(组合图)|scatter(散点图)|funnel(漏斗图)|wordCloud(词云)|radar(雷达图)|statistics(指标卡)|text(文本).
                    Read lark-base-dashboard-block-config.md before creating.'
                data_config:
                  type: string
                  description: data_config JSON object; read lark-base-dashboard-block-config.md for the SSOT
                user_id_type:
                  type: string
                  description: 'user ID type for user fields in filters: open_id / union_id / user_id'
                no_validate:
                  type: boolean
                  description: skip local data_config validation and normalization; send data_config as-is
              required:
              - name
              - type
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/dashboards/{dashboard_id}/blocks/{block_id}:
    delete:
      operationId: base_dashboard_block_delete
      summary: Delete a dashboard block
      description: |-
        Delete a dashboard block


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +dashboard-block-delete --base-token <base_token> --dashboard-id <dashboard_id> --block-id <block_id> --yes
        - baseHighRiskYesTip
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-block-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:dashboard:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard block ID
        description: dashboard block ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_dashboard_block_get
      summary: Get a dashboard block by ID
      description: |-
        Get a dashboard block by ID


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +dashboard-block-get --base-token <base_token> --dashboard-id <dashboard_id> --block-id <block_id>
        - Use this command for block metadata such as name, type, layout, and data_config.
        - Text block content is stored in data_config.text; include it when the user asks for all dashboard content.
        - Use +dashboard-block-get-data when you need the computed chart result instead of metadata.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-block-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:dashboard:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard block ID
        description: dashboard block ID
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          description: 'user ID type: open_id / union_id / user_id'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: base_dashboard_block_update
      summary: Update a dashboard block
      description: |-
        Update a dashboard block


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +dashboard-block-update --base-token <base_token> --dashboard-id <dashboard_id> --block-id <block_id> --name "Total Sales"
        - lark-cli base +dashboard-block-update --base-token <base_token> --dashboard-id <dashboard_id> --block-id <block_id> --data-config '{"series":[{"field_name":"Amount","rollup":"SUM"}]}'
        - Read lark-base-dashboard-block-config.md as the SSOT for data_config templates, filters, metric rules, and type-specific fields; do not invent data_config from natural language.
        - Use +dashboard-block-get first to inspect the current data_config before replacing nested values.
        - Block type cannot be changed; delete and recreate the block to change chart type.
        - data_config update merges top-level keys, but each provided key is replaced as a whole.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-block-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:dashboard:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard block ID
        description: dashboard block ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new block name
                data_config:
                  type: string
                  description: data_config JSON object; read lark-base-dashboard-block-config.md for the SSOT
                user_id_type:
                  type: string
                  description: 'user ID type for user fields in filters: open_id / union_id / user_id'
                no_validate:
                  type: boolean
                  description: skip local data_config validation and normalization; send data_config as-is
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/data/query:
    post:
      operationId: base_data_query
      summary: Query and analyze Base data with JSON DSL (aggregation, filter, sort)
      description: |-
        Query and analyze Base data with JSON DSL (aggregation, filter, sort)


        **Tips（来自 lark-cli 源码）**

        - Read lark-base-record-query-and-analysis-sop.md before using this command; use +data-query only when that SOP selects the Cloud aggregation path.
        - After the SOP selects +data-query, read lark-base-data-query.md for its fewshots and DSL contract.
        - `dimensions` and `measures` cannot both be empty.
      tags:
      - base
      x-lark-cli-command: lark-cli base +data-query
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:table:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dsl:
                  type: string
                  description: query JSON DSL; first follow lark-base-record-query-and-analysis-sop.md, then read lark-base-data-query.md
                    only if that SOP selects +data-query
              required:
              - dsl
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/record_history:
    get:
      operationId: base_record_history_list
      summary: List record change history
      description: |-
        List record change history


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +record-history-list --base-token <base_token> --table-id <table_id> --record-id <record_id>
        - This reads one record's history only; it is not a table-wide audit scan.
      tags:
      - base
      x-lark-cli-command: lark-cli base +record-history-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:history:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: query
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
      - name: record_id
        in: query
        required: true
        schema:
          type: string
          description: record ID
      - name: max_version
        in: query
        required: false
        schema:
          type: integer
          description: max version for next page
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 30
          description: pagination size, range 1-50
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/roles:
    get:
      operationId: base_role_list
      summary: List all roles in a Base
      description: |-
        List all roles in a Base


        **Tips（来自 lark-cli 源码）**

        - Requires advanced permissions to be enabled and the caller to be a Base admin.
        - Returns role summaries; use +role-get for the full permission config.
      tags:
      - base
      x-lark-cli-command: lark-cli base +role-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:role:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_role_create
      summary: Create a custom role in a Base
      description: |-
        Create a custom role in a Base


        **Tips（来自 lark-cli 源码）**

        - Requires advanced permissions to be enabled and the caller to be a Base admin.
        - Use lark-base-advanced-permission-and-role.md as the module entry and lark-base-role-config.md as the role permission schema.
        - Create supports custom_role only.
      tags:
      - base
      x-lark-cli-command: lark-cli base +role-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:role:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/roles/{role_id}:
    delete:
      operationId: base_role_delete
      summary: Delete a custom role (system roles cannot be deleted)
      description: |-
        Delete a custom role (system roles cannot be deleted)


        **Tips（来自 lark-cli 源码）**

        - baseHighRiskYesTip
        - Requires advanced permissions to be enabled and the caller to be a Base admin.
        - Only custom roles can be deleted; system roles cannot be deleted.
        - Use +role-get first if the role target is ambiguous, then pass --yes to confirm deletion.
      tags:
      - base
      x-lark-cli-command: lark-cli base +role-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:role:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: role_id
        in: path
        required: true
        schema:
          type: string
          description: role ID (e.g. rolxxxxxx4)
        description: role ID (e.g. rolxxxxxx4)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_role_get
      summary: Get full config of a role
      description: |-
        Get full config of a role


        **Tips（来自 lark-cli 源码）**

        - Requires advanced permissions to be enabled and the caller to be a Base admin.
        - Use before +role-update to inspect the current full permission config.
      tags:
      - base
      x-lark-cli-command: lark-cli base +role-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:role:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: role_id
        in: path
        required: true
        schema:
          type: string
          description: role ID (e.g. rolxxxxxx4)
        description: role ID (e.g. rolxxxxxx4)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    put:
      operationId: base_role_update
      summary: Update a role config (delta merge, only changed fields needed)
      description: |-
        Update a role config (delta merge, only changed fields needed)


        **Tips（来自 lark-cli 源码）**

        - baseHighRiskYesTip
        - Requires advanced permissions to be enabled and the caller to be a Base admin.
        - Update is a delta merge: only changed fields are updated, others remain unchanged.
        - Use lark-base-advanced-permission-and-role.md as the module entry and lark-base-role-config.md as the role permission schema.
      tags:
      - base
      x-lark-cli-command: lark-cli base +role-update
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:role:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: role_id
        in: path
        required: true
        schema:
          type: string
          description: role ID (e.g. rolxxxxxx4)
        description: role ID (e.g. rolxxxxxx4)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables:
    get:
      operationId: base_table_list
      summary: List tables in a base
      description: List tables in a base
      tags:
      - base
      x-lark-cli-command: lark-cli base +table-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:table:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          description: pagination offset
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          description: pagination size, range 1-100
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_table_create
      summary: Create a table with an explicit field schema, plus optional views
      description: |-
        Create a table with an explicit field schema, plus optional views


        **Tips（来自 lark-cli 源码）**

        - Before using --fields, read lark-base-field-schema.md or rely on the same field JSON shape used by +field-create; do not invent field properties.
        - The first --fields item becomes the primary field.
      tags:
      - base
      x-lark-cli-command: lark-cli base +table-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:table:create
      - base:field:read
      - base:field:create
      - base:field:update
      - base:view:write_only
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: table name
                view:
                  type: string
                  description: view JSON object/array for create
                fields:
                  type: string
                  description: field JSON array defining the table schema; must hold at least one field, e.g. [{"name":"Title","type":"text"},{"name":"Status","type":"select","multiple":false,"options":[{"name":"Todo"},{"name":"Done"}]}]
              required:
              - name
              - fields
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}:
    delete:
      operationId: base_table_delete
      summary: Delete a table by ID or name
      description: |-
        Delete a table by ID or name


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +table-delete --base-token <base_token> --table-id "Old Tasks" --yes
        - table-id accepts a table ID (tbl...) or the table name in the current Base.
        - baseHighRiskYesTip
      tags:
      - base
      x-lark-cli-command: lark-cli base +table-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:table:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_table_get
      summary: Get a table by ID or name
      description: |-
        Get a table by ID or name


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +table-get --base-token <base_token> --table-id "Tasks"
        - table-id accepts a table ID (tbl...) or the table name in the current Base.
      tags:
      - base
      x-lark-cli-command: lark-cli base +table-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:table:read
      - base:field:read
      - base:view:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: base_table_update
      summary: Rename a table by ID or name
      description: Rename a table by ID or name
      tags:
      - base
      x-lark-cli-command: lark-cli base +table-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:table:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new table name
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/copy:
    post:
      operationId: base_table_copy
      summary: Copy a table by ID or name; structure only by default
      description: |-
        Copy a table by ID or name; structure only by default


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +table-copy --base-token <base_token> --table-id "Tasks" --name "Tasks copy"
        - table-id accepts a table ID or name in the current Base.
        - The default copies schema only; use --range all only when records must also be copied.
        - Use --wait with --range all to wait locally; otherwise continue with the returned next_command.
      tags:
      - base
      x-lark-cli-command: lark-cli base +table-copy
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - tableCopyScope
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: target table name
                range:
                  type: string
                  enum:
                  - tableCopyRangeSchema
                  - tableCopyRangeAll
                  description: copy range; defaults to schema, use all only to include records
                wait:
                  type: boolean
                  description: wait for an all-range copy task to finish
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/fields:
    get:
      operationId: base_field_list
      summary: List fields in a table
      description: List fields in a table
      tags:
      - base
      x-lark-cli-command: lark-cli base +field-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:field:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          description: pagination offset
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          description: pagination size, range 1-200
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_field_create
      summary: Create one or more fields
      description: |-
        Create one or more fields


        **Tips（来自 lark-cli 源码）**

        - Example text: lark-cli base +field-create --base-token <base_token> --table-id <table_id> --json '{"name":"Status","type":"text"}'
        - Example select: lark-cli base +field-create --base-token <base_token> --table-id <table_id> --json '{"name":"Status","type":"select","multiple":false,"options":[{"name":"Todo"},{"name":"Done"}]}'
        - +field-create defines storage schema only: choose a documented field type from explicit stored-value requirements and the user's semantics. Treat the field name or business purpose only as a clue to confirm; do not use it to invent derived behavior. Use style only to format the chosen type.
        - For explicitly requested derived, automatic, synchronized, or backfilled behavior, use documented formula, lookup, link, workflow, or automation only. If unsupported, do not probe code/web/OpenAPI, create a storage placeholder, or claim completion; report the boundary and alternatives.
        - Agent hint: for multiple fields in one table, prefer one array; array items are created sequentially.
        - For generated arrays, prefer --json @file or an argv-safe subprocess call; do not double-escape JSON inside shell command substitution.
        - For large arrays, bound successful stdout with --jq 'if .ok then (.data | {created,total,field_get_recommended,next_step,verification_hint}) else . end'; this preserves the full partial-failure envelope. Omit the projection when individual field IDs are needed.
        - On successful simple fields, next_step:done means stop: do not list/get fields unless readback is explicitly requested; if needed, filter +field-list with --jq instead of printing every field.
      tags:
      - base
      x-lark-cli-command: lark-cli base +field-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:field:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/fields/{field_id}:
    delete:
      operationId: base_field_delete
      summary: Delete a field by ID or name
      description: |-
        Delete a field by ID or name


        **Tips（来自 lark-cli 源码）**

        - baseHighRiskYesTip
        - Example: lark-cli base +field-delete --base-token <base_token> --table-id <table_id> --field-id "Status" --yes
      tags:
      - base
      x-lark-cli-command: lark-cli base +field-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:field:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      - name: field_id
        in: path
        required: true
        schema:
          type: string
          description: field ID or name
        description: field ID or name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_record_upload_attachment
      summary: Upload one or more local files and append the returned file_token values to a Base attachment cell
      description: |-
        Upload one or more local files and append the returned file_token values to a Base attachment cell


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +record-upload-attachment --base-token <base_token> --table-id <table_id> --record-id <record_id> --field-id <attachment_field_id> --file ./report.pdf
        - Repeat --file to append multiple attachments: --file ./report.pdf --file ./screenshot.png
        - Reuse returned file_token values for download/remove
      tags:
      - base
      x-lark-cli-command: lark-cli base +record-upload-attachment
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:record:update
      - base:field:read
      - docs:document.media:upload
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      - name: field_id
        in: path
        required: true
        schema:
          type: string
          description: field ID or name
        description: field ID or name
      - name: record_id
        in: query
        required: true
        schema:
          type: string
          description: record ID
      - name: file
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
          description: local file path; repeat to append multiple attachments in one cell; max 50 files, max 2GB each; files
            > 20MB use multipart upload automatically
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    put:
      operationId: base_field_update
      summary: Update a field by ID or name
      description: |-
        Update a field by ID or name


        **Tips（来自 lark-cli 源码）**

        - baseHighRiskYesTip
[...]
