# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.74
openapi: 3.0.3
info:
  title: 飞书开放平台 · base API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/base/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.74
  x-lark-service: base
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: base
paths:
  /open-apis/base/v3/bases:
    post:
      operationId: base_base_create
      summary: Create a new base resource
      description: |-
        Create a new base resource


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +base-create --name "Project Tracker" --time-zone Asia/Shanghai
        - Strongly recommended initial table schema: lark-cli base +base-create --name "Project Tracker" --table-name "Tasks" --fields '[{"name":"Title","type":"text"},{"name":"Status","type":"select","options":[{"name":"Todo"},{"name":"Done"}]}]'
        - Before using --fields, read lark-base-field-json.md or rely on the same field JSON shape used by +field-create; do not invent field properties.
        - If --table-name and --fields are both omitted, Base creates one initial table with the platform default schema.
        - If created as bot, output may include permission_grant; report it so the user knows whether they can open the new Base.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: base name
                folder_token:
                  type: string
                  description: folder token for destination
                time_zone:
                  type: string
                  description: time zone, e.g. Asia/Shanghai
                fields:
                  type: string
                  description: field JSON array for the first table schema; use with --table-name, e.g. [{"name":"Title","type":"text"},{"name":"Status","type":"select","options":[{"name":"Todo"},{"name":"Done"}]}]
                table_name:
                  type: string
                  description: first table name for the custom first table schema; use with --fields
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/tables/forms/detail:
    post:
      operationId: base_form_detail
      summary: Get form detail by share token
      description: Get form detail by share token
      tags:
      - base
      x-lark-cli-command: lark-cli base +form-detail
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:form:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                share_token:
                  type: string
                  description: Form share token (share_token)
              required:
              - share_token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}:
    get:
      operationId: base_base_get
      summary: Get a base resource
      description: |-
        Get a base resource


        **Tips（来自 lark-cli 源码）**

        - Use a real Base token; workspace tokens and wiki tokens are not accepted by this command.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:app:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/advperm/enable:
    put:
      operationId: base_advperm_enable
      summary: Enable advanced permissions for a Base
      description: |-
        Enable advanced permissions for a Base


        **Tips（来自 lark-cli 源码）**

        - Caller must be a Base admin; enable advanced permissions before creating or updating roles.
      tags:
      - base
      x-lark-cli-command: lark-cli base +advperm-enable
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:app:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: enable
        in: query
        required: true
        schema:
          type: string
          enum:
          - 'true'
          default: 'true'
        description: 固定值（lark-cli 源码中硬编码）
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/blocks:
    post:
      operationId: base_base_block_create
      summary: Create a block
      description: |-
        Create a block


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +base-block-create --base-token <base_token> --type folder --name "Project Docs"
        - Example: lark-cli base +base-block-create --base-token <base_token> --type table --name "Tasks"
        - Example: lark-cli base +base-block-create --base-token <base_token> --type docx --name "Spec" --parent-id <folder_block_id>
        - Example: lark-cli base +base-block-create --base-token <base_token> --type dashboard --name "Metrics"
        - Example: lark-cli base +base-block-create --base-token <base_token> --type workflow --name "Approval Flow"
        - Creates a folder, table, docx, dashboard, or workflow entry.
        - Do not pass null for --parent-id. Omit it to create at the root level.
        - Created resources still use their own commands for content operations, such as table/field/record/docx/dashboard/workflow commands.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-block-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:block:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: resource type
                name:
                  type: string
                  description: block name
                parent_id:
                  type: string
                  description: folder block id; when omitted, create at root
              required:
              - type
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/blocks/list:
    post:
      operationId: base_base_block_list
      summary: List blocks in a base
      description: |-
        List blocks in a base


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +base-block-list --base-token <base_token>
        - Example: lark-cli base +base-block-list --base-token <base_token> --type table
        - Example: lark-cli base +base-block-list --base-token <base_token> --parent-id <folder_block_id>
        - JQ crop: lark-cli base +base-block-list --base-token <base_token> | jq '.blocks[] | {type, name, block_id: .id, parent_id}'
        - JQ crop docx: lark-cli base +base-block-list --base-token <base_token> --type docx | jq '.blocks[] | {name, docx_token}'
        - Blocks are resources managed directly by the base, such as folder, table, docx, dashboard, and workflow.
        - For table, dashboard, and workflow blocks, returned id is the table-id, dashboard-id, or workflow-id used by the corresponding commands.
        - For docx blocks, use the returned docx_token with docx commands.
        - For folder blocks, pass the returned id as --parent-id when creating, listing, or moving blocks inside that folder.
        - This command returns the full backend list. It intentionally does not expose limit or offset.
        - Pass --type to list only one resource type.
        - Pass --parent-id to list only direct children of a folder.
        - Dashboard blocks are chart/widget blocks inside a dashboard; use +dashboard-block-* for those.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-block-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:block:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: filter by resource type
                parent_id:
                  type: string
                  description: folder block id; when omitted, list all blocks
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/blocks/{block_id}:
    delete:
      operationId: base_base_block_delete
      summary: Delete a block
      description: |-
        Delete a block


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +base-block-delete --base-token <base_token> --block-id <block_id> --yes
        - Deletes the block identified by --block-id.
        - Recursive folder deletion is not supported. If a folder is not empty, move or delete its children first.
        - Different block types may have independent backing resources; deletion follows backend semantics.
        - Use +base-block-list first when you need to confirm the target block id.
        - If the user already explicitly confirmed this exact delete target, pass --yes without asking again.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-block-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:block:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: block id
        description: block id
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/blocks/{block_id}/move:
    post:
      operationId: base_base_block_move
      summary: Move a block
      description: |-
        Move a block


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +base-block-move --base-token <base_token> --block-id <block_id> --parent-id <folder_block_id>
        - Example: lark-cli base +base-block-move --base-token <base_token> --block-id <block_id> --after-id <sibling_block_id>
        - Example: lark-cli base +base-block-move --base-token <base_token> --block-id <block_id> --before-id <sibling_block_id>
        - Example: lark-cli base +base-block-move --base-token <base_token> --block-id <block_id>
        - Omit --parent-id to move the block to root; do not pass null.
        - --before-id and --after-id are mutually exclusive.
        - When moving a folder, its children remain under that folder.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-block-move
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:block:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: block id
        description: block id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_id:
                  type: string
                  description: target folder block id; when omitted, move to root
                before_id:
                  type: string
                  description: sibling block id; move the block before this sibling in the target folder/root order
                after_id:
                  type: string
                  description: sibling block id; move the block after this sibling in the target folder/root order
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/blocks/{block_id}/rename:
    post:
      operationId: base_base_block_rename
      summary: Rename a block
      description: |-
        Rename a block


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +base-block-rename --base-token <base_token> --block-id <block_id> --name "New name"
        - Renames the block identified by --block-id.
        - Block names must be unique in the base; use +base-block-list first when you need to check existing names.
        - Use +base-block-list first when you need to resolve the target block id from a visible name.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-block-rename
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:block:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: block id
        description: block id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new unique block name; must not duplicate another block name in this base
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/copy:
    post:
      operationId: base_base_copy
      summary: Copy a base resource
      description: |-
        Copy a base resource


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +base-copy --base-token <base_token> --name "Copy of Project Tracker"
        - Use --without-content when the user wants only structure.
        - If copied as bot, output may include permission_grant; report it so the user knows whether they can open the new Base.
      tags:
      - base
      x-lark-cli-command: lark-cli base +base-copy
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new base name
                folder_token:
                  type: string
                  description: folder token for destination
                without_content:
                  type: boolean
                  description: copy structure only
                time_zone:
                  type: string
                  description: time zone, e.g. Asia/Shanghai
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/dashboards:
    get:
      operationId: base_dashboard_list
      summary: List dashboards in a base
      description: |-
        List dashboards in a base


        **Tips（来自 lark-cli 源码）**

        - Use returned dashboard_id values for +dashboard-get, +dashboard-block-list, and +dashboard-block-create.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:dashboard:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 100
          description: page size, range 1-100
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: pagination token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_dashboard_create
      summary: Create a dashboard in a base
      description: |-
        Create a dashboard in a base


        **Tips（来自 lark-cli 源码）**

        - Record the returned dashboard_id; dashboard block create/get/update/delete/arrange commands need it.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:dashboard:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: dashboard name
                theme_style:
                  type: string
                  description: theme style, defaults to platform default when omitted
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/dashboards/{dashboard_id}:
    delete:
      operationId: base_dashboard_delete
      summary: Delete a dashboard
      description: |-
        Delete a dashboard


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +dashboard-delete --base-token <base_token> --dashboard-id <dashboard_id> --yes
        - Deleting a dashboard also deletes its blocks and cannot be recovered.
        - baseHighRiskYesTip
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:dashboard:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_dashboard_get
      summary: Get a dashboard by ID
      description: |-
        Get a dashboard by ID


        **Tips（来自 lark-cli 源码）**

        - Use +dashboard-block-list or +dashboard-block-get when you need block-level details.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:dashboard:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: base_dashboard_update
      summary: Update a dashboard
      description: Update a dashboard
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:dashboard:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new dashboard name
                theme_style:
                  type: string
                  description: theme style, leave empty to keep current theme
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/dashboards/{dashboard_id}/arrange:
    post:
      operationId: base_dashboard_arrange
      summary: Auto-arrange dashboard blocks layout (server-side smart layout)
      description: |-
        Auto-arrange dashboard blocks layout (server-side smart layout)


        **Tips（来自 lark-cli 源码）**

        - Server-side smart layout is not deterministic or position-specific; use only when the user asks to arrange or beautify a dashboard, or to tidy up a dashboard created from scratch in this session.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-arrange
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:dashboard:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id_type:
                  type: string
                  description: 'user ID type: open_id / union_id / user_id'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/dashboards/{dashboard_id}/blocks:
    get:
      operationId: base_dashboard_block_list
      summary: List blocks in a dashboard
      description: |-
        List blocks in a dashboard


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +dashboard-block-list --base-token <base_token> --dashboard-id <dashboard_id>
        - Use returned block_id and type values for +dashboard-block-get/update/delete/get-data.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-block-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:dashboard:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
          description: page size, range 1-100
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: pagination token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_dashboard_block_create
      summary: Create a block in a dashboard
      description: |-
        Create a block in a dashboard


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +dashboard-block-create --base-token <base_token> --dashboard-id <dashboard_id> --name "Order Count" --type statistics --data-config '{"table_name":"Orders","count_all":true}'
        - lark-cli base +dashboard-block-create --base-token <base_token> --dashboard-id <dashboard_id> --name "Dashboard Note" --type text --data-config '{"text":"# Sales Dashboard"}'
        - Before creating data-backed blocks, use +table-list and +field-list to confirm real table and field names.
        - data_config uses table and field names, not table_id or field_id.
        - Read dashboard-block-data-config.md as the SSOT for chart templates, filters, metric rules, and type-specific fields; do not invent data_config from natural language.
        - For funnel/stage charts backed by ordered helper data, set the intended group_by.sort in the initial create request; do not create first and then issue a second update just to fix sorting.
        - Record the returned block_id; block update/delete/get-data commands need it.
        - Create dashboard blocks sequentially; do not parallelize multiple block creates for the same dashboard.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-block-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:dashboard:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: block name
                type:
                  type: string
                  description: 'block type: column(柱状图)|bar(条形图)|line(折线图)|pie(饼图)|ring(环形图)|area(面积图)|combo(组合图)|scatter(散点图)|funnel(漏斗图)|wordCloud(词云)|radar(雷达图)|statistics(指标卡)|text(文本).
                    Read dashboard-block-data-config.md before creating.'
                data_config:
                  type: string
                  description: data_config JSON object; read dashboard-block-data-config.md for the SSOT
                user_id_type:
                  type: string
                  description: 'user ID type for user fields in filters: open_id / union_id / user_id'
                no_validate:
                  type: boolean
                  description: skip local data_config validation and normalization; send data_config as-is
              required:
              - name
              - type
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/dashboards/{dashboard_id}/blocks/{block_id}:
    delete:
      operationId: base_dashboard_block_delete
      summary: Delete a dashboard block
      description: |-
        Delete a dashboard block


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +dashboard-block-delete --base-token <base_token> --dashboard-id <dashboard_id> --block-id <block_id> --yes
        - baseHighRiskYesTip
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-block-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:dashboard:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard block ID
        description: dashboard block ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_dashboard_block_get
      summary: Get a dashboard block by ID
      description: |-
        Get a dashboard block by ID


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +dashboard-block-get --base-token <base_token> --dashboard-id <dashboard_id> --block-id <block_id>
        - Use this command for block metadata such as name, type, layout, and data_config.
        - Use +dashboard-block-get-data when you need the computed chart result instead of metadata.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-block-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:dashboard:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard block ID
        description: dashboard block ID
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          description: 'user ID type: open_id / union_id / user_id'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: base_dashboard_block_update
      summary: Update a dashboard block
      description: |-
        Update a dashboard block


        **Tips（来自 lark-cli 源码）**

        - lark-cli base +dashboard-block-update --base-token <base_token> --dashboard-id <dashboard_id> --block-id <block_id> --name "Total Sales"
        - lark-cli base +dashboard-block-update --base-token <base_token> --dashboard-id <dashboard_id> --block-id <block_id> --data-config '{"series":[{"field_name":"Amount","rollup":"SUM"}]}'
        - Read dashboard-block-data-config.md as the SSOT for data_config templates, filters, metric rules, and type-specific fields; do not invent data_config from natural language.
        - Use +dashboard-block-get first to inspect the current data_config before replacing nested values.
        - Block type cannot be changed; delete and recreate the block to change chart type.
        - data_config update merges top-level keys, but each provided key is replaced as a whole.
      tags:
      - base
      x-lark-cli-command: lark-cli base +dashboard-block-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:dashboard:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard ID
        description: dashboard ID
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          description: dashboard block ID
        description: dashboard block ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new block name
                data_config:
                  type: string
                  description: data_config JSON object; read dashboard-block-data-config.md for the SSOT
                user_id_type:
                  type: string
                  description: 'user ID type for user fields in filters: open_id / union_id / user_id'
                no_validate:
                  type: boolean
                  description: skip local data_config validation and normalization; send data_config as-is
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/data/query:
    post:
      operationId: base_data_query
      summary: Query and analyze Base data with JSON DSL (aggregation, filter, sort)
      description: |-
        Query and analyze Base data with JSON DSL (aggregation, filter, sort)


        **Tips（来自 lark-cli 源码）**

        - Use +data-query for server-side aggregation, grouping, filtering, sorting, and Top N queries.
        - Read lark-base-data-query-guide.md for common fewshots; use lark-base-data-query.md only when the full DSL reference is needed.
        - `dimensions` and `measures` cannot both be empty.
      tags:
      - base
      x-lark-cli-command: lark-cli base +data-query
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:table:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dsl:
                  type: string
                  description: query JSON DSL; read lark-base-data-query-guide.md first, then lark-base-data-query.md for
                    the full DSL SSOT
              required:
              - dsl
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/record_history:
    get:
      operationId: base_record_history_list
      summary: List record change history
      description: |-
        List record change history


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +record-history-list --base-token <base_token> --table-id <table_id> --record-id <record_id>
        - This reads one record's history only; it is not a table-wide audit scan.
      tags:
      - base
      x-lark-cli-command: lark-cli base +record-history-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:history:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: query
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
      - name: record_id
        in: query
        required: true
        schema:
          type: string
          description: record ID
      - name: max_version
        in: query
        required: false
        schema:
          type: integer
          description: max version for next page
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 30
          description: pagination size, range 1-50
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/roles:
    get:
      operationId: base_role_list
      summary: List all roles in a Base
      description: |-
        List all roles in a Base


        **Tips（来自 lark-cli 源码）**

        - Requires advanced permissions to be enabled and the caller to be a Base admin.
        - Returns role summaries; use +role-get for the full permission config.
      tags:
      - base
      x-lark-cli-command: lark-cli base +role-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:role:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_role_create
      summary: Create a custom role in a Base
      description: |-
        Create a custom role in a Base


        **Tips（来自 lark-cli 源码）**

        - Requires advanced permissions to be enabled and the caller to be a Base admin.
        - Use lark-base-role-guide.md as the entry guide and role-config.md as the role permission JSON SSOT.
        - Create supports custom_role only.
      tags:
      - base
      x-lark-cli-command: lark-cli base +role-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:role:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/roles/{role_id}:
    delete:
      operationId: base_role_delete
      summary: Delete a custom role (system roles cannot be deleted)
      description: |-
        Delete a custom role (system roles cannot be deleted)


        **Tips（来自 lark-cli 源码）**

        - baseHighRiskYesTip
        - Requires advanced permissions to be enabled and the caller to be a Base admin.
        - Only custom roles can be deleted; system roles cannot be deleted.
        - Use +role-get first if the role target is ambiguous, then pass --yes to confirm deletion.
      tags:
      - base
      x-lark-cli-command: lark-cli base +role-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:role:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: role_id
        in: path
        required: true
        schema:
          type: string
          description: role ID (e.g. rolxxxxxx4)
        description: role ID (e.g. rolxxxxxx4)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_role_get
      summary: Get full config of a role
      description: |-
        Get full config of a role


        **Tips（来自 lark-cli 源码）**

        - Requires advanced permissions to be enabled and the caller to be a Base admin.
        - Use before +role-update to inspect the current full permission config.
      tags:
      - base
      x-lark-cli-command: lark-cli base +role-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:role:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: role_id
        in: path
        required: true
        schema:
          type: string
          description: role ID (e.g. rolxxxxxx4)
        description: role ID (e.g. rolxxxxxx4)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    put:
      operationId: base_role_update
      summary: Update a role config (delta merge, only changed fields needed)
      description: |-
        Update a role config (delta merge, only changed fields needed)


        **Tips（来自 lark-cli 源码）**

        - baseHighRiskYesTip
        - Requires advanced permissions to be enabled and the caller to be a Base admin.
        - Update is a delta merge: only changed fields are updated, others remain unchanged.
        - Use lark-base-role-guide.md as the entry guide and role-config.md as the role permission JSON SSOT.
      tags:
      - base
      x-lark-cli-command: lark-cli base +role-update
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:role:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: role_id
        in: path
        required: true
        schema:
          type: string
          description: role ID (e.g. rolxxxxxx4)
        description: role ID (e.g. rolxxxxxx4)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables:
    get:
      operationId: base_table_list
      summary: List tables in a base
      description: List tables in a base
      tags:
      - base
      x-lark-cli-command: lark-cli base +table-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:table:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          description: pagination offset
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          description: pagination size, range 1-100
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_table_create
      summary: Create a table and optional fields/views
      description: |-
        Create a table and optional fields/views


        **Tips（来自 lark-cli 源码）**

        - Before using --fields, read lark-base-field-json.md or rely on the same field JSON shape used by +field-create; do not invent field properties.
        - The first --fields item becomes the primary field.
      tags:
      - base
      x-lark-cli-command: lark-cli base +table-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:table:create
      - base:field:read
      - base:field:create
      - base:field:update
      - base:view:write_only
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: table name
                view:
                  type: string
                  description: view JSON object/array for create
                fields:
                  type: string
                  description: field JSON array for create, e.g. [{"name":"Title","type":"text"},{"name":"Status","type":"select","options":[{"name":"Todo"},{"name":"Done"}]}]
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}:
    delete:
      operationId: base_table_delete
      summary: Delete a table by ID or name
      description: |-
        Delete a table by ID or name


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +table-delete --base-token <base_token> --table-id "Old Tasks" --yes
        - table-id accepts a table ID (tbl...) or the table name in the current Base.
        - baseHighRiskYesTip
      tags:
      - base
      x-lark-cli-command: lark-cli base +table-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:table:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_table_get
      summary: Get a table by ID or name
      description: |-
        Get a table by ID or name


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +table-get --base-token <base_token> --table-id "Tasks"
        - table-id accepts a table ID (tbl...) or the table name in the current Base.
      tags:
      - base
      x-lark-cli-command: lark-cli base +table-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:table:read
      - base:field:read
      - base:view:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: base_table_update
      summary: Rename a table by ID or name
      description: Rename a table by ID or name
      tags:
      - base
      x-lark-cli-command: lark-cli base +table-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:table:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new table name
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/fields:
    get:
      operationId: base_field_list
      summary: List fields in a table
      description: List fields in a table
      tags:
      - base
      x-lark-cli-command: lark-cli base +field-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:field:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          description: pagination offset
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          description: pagination size, range 1-200
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_field_create
      summary: Create a field
      description: |-
        Create a field


        **Tips（来自 lark-cli 源码）**

        - Example text: lark-cli base +field-create --base-token <base_token> --table-id <table_id> --json '{"name":"Status","type":"text"}'
        - Example select: lark-cli base +field-create --base-token <base_token> --table-id <table_id> --json '{"name":"Status","type":"select","multiple":false,"options":[{"name":"Todo"},{"name":"Done"}]}'
        - Agent hint: use the lark-base skill's field-create guide for usage and limits.
      tags:
      - base
      x-lark-cli-command: lark-cli base +field-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:field:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/fields/{field_id}:
    delete:
      operationId: base_field_delete
      summary: Delete a field by ID or name
      description: |-
        Delete a field by ID or name


        **Tips（来自 lark-cli 源码）**

        - baseHighRiskYesTip
        - Example: lark-cli base +field-delete --base-token <base_token> --table-id <table_id> --field-id "Status" --yes
      tags:
      - base
      x-lark-cli-command: lark-cli base +field-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:field:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      - name: field_id
        in: path
        required: true
        schema:
          type: string
          description: field ID or name
        description: field ID or name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_record_upload_attachment
      summary: Upload one or more local files and append the returned file_token values to a Base attachment cell
      description: |-
        Upload one or more local files and append the returned file_token values to a Base attachment cell


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +record-upload-attachment --base-token <base_token> --table-id <table_id> --record-id <record_id> --field-id <attachment_field_id> --file ./report.pdf
        - Repeat --file to append multiple attachments: --file ./report.pdf --file ./screenshot.png
        - Reuse returned file_token values for download/remove
      tags:
      - base
      x-lark-cli-command: lark-cli base +record-upload-attachment
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:record:update
      - base:field:read
      - docs:document.media:upload
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      - name: field_id
        in: path
        required: true
        schema:
          type: string
          description: field ID or name
        description: field ID or name
      - name: record_id
        in: query
        required: true
        schema:
          type: string
          description: record ID
      - name: file
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
          description: local file path; repeat to append multiple attachments in one cell; max 50 files, max 2GB each; files
            > 20MB use multipart upload automatically
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    put:
      operationId: base_field_update
      summary: Update a field by ID or name
      description: |-
        Update a field by ID or name


        **Tips（来自 lark-cli 源码）**

        - baseHighRiskYesTip
        - Example text: lark-cli base +field-update --base-token <base_token> --table-id <table_id> --field-id "Status" --json '{"name":"Status","type":"text"}' --yes
        - Example select: lark-cli base +field-update --base-token <base_token> --table-id <table_id> --field-id "Status" --json '{"name":"Status","type":"select","multiple":false,"options":[{"name":"Todo"},{"name":"Done"}]}' --yes
        - Update uses full field-definition PUT semantics. Read the current field first with +field-get, then send the target state.
        - Type conversion is allowlist-based: only use CLI for safe conversions; otherwise migrate through a new field, or ask the user to finish high-risk conversions in the web UI.
        - Formula and lookup updates require reading the corresponding guide first.
        - Agent hint: use the lark-base skill's field-update guide for JSON shape, type-conversion rules, and limits.
      tags:
      - base
      x-lark-cli-command: lark-cli base +field-update
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:field:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      - name: field_id
        in: path
        required: true
        schema:
          type: string
          description: field ID or name
        description: field ID or name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/fields/{field_id}/options:
    get:
      operationId: base_field_search_options
      summary: Search select options of a field
      description: |-
        Search select options of a field


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +field-search-options --base-token <base_token> --table-id <table_id> --field-id "Status" --keyword "Do"
        - Use only for fields with options, such as select or multi-select fields.
      tags:
      - base
      x-lark-cli-command: lark-cli base +field-search-options
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:field:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      - name: field_id
        in: path
        required: true
        schema:
          type: string
          description: field ID or name
        description: field ID or name
      - name: keyword
        in: query
        required: false
        schema:
          type: string
          description: keyword for option query
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          description: pagination offset
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 30
          description: pagination size, range 1-200
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/forms:
    get:
      operationId: base_form_list
      summary: List all forms in a Base table (auto-paginated)
      description: List all forms in a Base table (auto-paginated)
      tags:
      - base
      x-lark-cli-command: lark-cli base +form-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:form:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: Base token (base_token)
        description: Base token (base_token)
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID
        description: table ID
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 100
          description: page size per request, range 1-100
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_form_create
      summary: Create a form in a Base table
      description: |-
        Create a form in a Base table


        **Tips（来自 lark-cli 源码）**

        - Record the returned form_id; form question create/list/update/delete commands need it.
      tags:
      - base
      x-lark-cli-command: lark-cli base +form-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:form:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: Base token (base_token)
        description: Base token (base_token)
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID
        description: table ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: form name
                description:
                  type: string
                  description: form description (plain text or markdown link like [text](https://example.com))
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/forms/{form_id}:
    delete:
      operationId: base_form_delete
      summary: Delete a form in a Base table
      description: |-
        Delete a form in a Base table


        **Tips（来自 lark-cli 源码）**

        - Use +form-list or +form-get first when the form target is ambiguous.
        - baseHighRiskYesTip
      tags:
      - base
      x-lark-cli-command: lark-cli base +form-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:form:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID
        description: table ID
      - name: form_id
        in: path
        required: true
        schema:
          type: string
          description: form ID
        description: form ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_form_get
      summary: Get a form in a Base table
      description: Get a form in a Base table
      tags:
      - base
      x-lark-cli-command: lark-cli base +form-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:form:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID
        description: table ID
      - name: form_id
        in: path
        required: true
        schema:
          type: string
          description: form ID
        description: form ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: base_form_update
      summary: Update a form in a Base table
      description: Update a form in a Base table
      tags:
      - base
      x-lark-cli-command: lark-cli base +form-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:form:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: Base token (base_token)
        description: Base token (base_token)
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID
        description: table ID
      - name: form_id
        in: path
        required: true
        schema:
          type: string
          description: form ID
        description: form ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: new form name
                description:
                  type: string
                  description: new form description (plain text or markdown link like [text](https://example.com))
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/forms/{form_id}/questions:
    delete:
      operationId: base_form_questions_delete
      summary: Delete questions from a form in a Base table
      description: |-
        Delete questions from a form in a Base table


        **Tips（来自 lark-cli 源码）**

        - baseHighRiskYesTip
      tags:
      - base
      x-lark-cli-command: lark-cli base +form-questions-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:form:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: Base token (base_token)
        description: Base token (base_token)
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID
        description: table ID
      - name: form_id
        in: path
        required: true
        schema:
          type: string
          description: form ID
        description: form ID
      - name: question_ids
        in: query
        required: true
        schema:
          type: string
          description: JSON array of question IDs to delete, max 10 items, e.g. '["q_001","q_002"]'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: base_form_questions_list
      summary: List questions of a form in a Base table
      description: |-
        List questions of a form in a Base table


        **Tips（来自 lark-cli 源码）**

        - Use returned question id values for +form-questions-update and +form-questions-delete.
      tags:
      - base
      x-lark-cli-command: lark-cli base +form-questions-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:form:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID
        description: table ID
      - name: form_id
        in: path
        required: true
        schema:
          type: string
          description: form ID
        description: form ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: base_form_questions_update
      summary: Update questions of a form in a Base table
      description: Update questions of a form in a Base table
      tags:
      - base
      x-lark-cli-command: lark-cli base +form-questions-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:form:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: Base token (base_token)
        description: Base token (base_token)
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID
        description: table ID
      - name: form_id
        in: path
        required: true
        schema:
          type: string
          description: form ID
        description: form ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                questions:
                  type: string
                  description: 'questions JSON array, max 10 items, each item must include "id". Supported fields: "id"(required),"title","description"(plain
                    text or markdown link like [text](https://example.com)),"required","option_display_mode"(0=dropdown,1=vertical,2=horizontal,select
                    only). E.g. ''[{"id":"q_001","title":"Updated?","required":true}]'''
              required:
              - questions
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: base_form_questions_create
      summary: Create questions for a form in a Base table
      description: Create questions for a form in a Base table
      tags:
      - base
      x-lark-cli-command: lark-cli base +form-questions-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:form:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: Base token (base_token)
        description: Base token (base_token)
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID
        description: table ID
      - name: form_id
        in: path
        required: true
        schema:
          type: string
          description: form ID
        description: form ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                questions:
                  type: string
                  description: 'questions JSON array, max 10 items. Each item requires "title"(field title) and "type"(text/number/select/datetime/user/attachment/location).
                    Optional fields: "description"(plain text or markdown link like [text](https://example.com)),"required","option_display_mode"(0=dropdown/1=vertical/2=horizontal,select
                    only),"multiple"(bool,select/user),"options"([{"name":"opt","hue":"Blue"}],select only),"style"({"type":"plain/phone/url/email/barcode/rating","precision":2,"format":"yyyy/MM/dd","icon":"star","min":1,"max":5}).
                    E.g. ''[{"type":"text","title":"Your name","required":true}]'''
              required:
              - questions
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/get_attachments:
    post:
      operationId: base_record_download_attachment
      summary: Download Base record attachments by record-id, optionally filtering by file-token
      description: |-
        Download Base record attachments by record-id, optionally filtering by file-token


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +record-download-attachment --base-token <base_token> --table-id <table_id> --record-id <record_id> --file-token <file_token> --output ./downloads/
        - Omit --file-token to download every attachment in the record.
        - Base attachments should be downloaded with this command; other download commands may fail for Base attachment files.
        - With one --file-token, --output may be a file path or directory; with multiple or omitted --file-token values, --output must be an existing directory.
      tags:
      - base
      x-lark-cli-command: lark-cli base +record-download-attachment
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:record:read
      - docs:document.media:download
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                record_id:
                  type: string
                  description: record ID
                file_token:
                  type: array
                  items:
                    type: string
                  description: attachment file_token returned by Base; repeat to download selected files; omit to download
                    all attachments in the record
                overwrite:
                  type: boolean
                  description: overwrite existing output file
              required:
              - record_id
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/records:
    get:
      operationId: base_record_list
      summary: List records in a table
      description: |-
        List records in a table


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +record-list --base-token <base_token> --table-id <table_id> --limit 50
        - Example with projection: lark-cli base +record-list --base-token <base_token> --table-id <table_id> --field-id Name --field-id Status --limit 50
        - Text equality filter: --filter-json '{"logic":"and","conditions":[["Title","==","Launch plan"]]}'
        - Text contains/like filter: --filter-json '{"logic":"and","conditions":[["Title","intersects","urgent"]]}'
        - Number equality filter: --filter-json '{"logic":"and","conditions":[["Score","==",95]]}'
        - Date equality filter: --filter-json '{"logic":"and","conditions":[["Due Date","==","ExactDate(2026-06-02)"]]}'
        - Option intersection filter: --filter-json '{"logic":"and","conditions":[["Tags","intersects",["P0","Blocked"]]]}'
        - Sort priority follows --sort-json array order: --sort-json '[{"field":"Updated","desc":true},{"field":"Title","desc":false}]'
        - formatRecordQueryPriorityTip()
        - Default output is markdown; pass --format json to get the raw JSON envelope.
        - Use --field-id repeatedly to keep output small and aligned with the task.
      tags:
      - base
      x-lark-cli-command: lark-cli base +record-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:record:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      - name: field_id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: field ID or name to include; repeat to project only needed fields
      - name: view_id
        in: query
        required: false
        schema:
          type: string
          description: view ID or name; omit for reading all table records, or set to read a user-specified or temporary filtered/sorted
            view
      - name: filter_json
        in: query
        required: false
        schema:
          type: string
          description: filter JSON object or @file, same shape as view filter JSON; overrides --view-id view filters
      - name: sort_json
        in: query
        required: false
        schema:
          type: string
          description: sort JSON array or @file, e.g. [{"field":"Updated","desc":true}]; also accepts {"sort_config":[...]};
            order is priority; max 10
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          description: pagination offset
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          description: pagination size, range 1-200
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/records/batch_create:
    post:
      operationId: base_record_batch_create
      summary: Batch create records
      description: Batch create records
      tags:
      - base
      x-lark-cli-command: lark-cli base +record-batch-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - base:record:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/records/batch_delete:
    post:
      operationId: base_record_delete
      summary: Delete one or more records by ID
      description: |-
        Delete one or more records by ID


        **Tips（来自 lark-cli 源码）**

        - baseHighRiskYesTip
        - Example: lark-cli base +record-delete --base-token <base_token> --table-id <table_id> --record-id <record_id_1> --record-id <record_id_2> --yes
      tags:
      - base
      x-lark-cli-command: lark-cli base +record-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - base:record:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                record_id:
                  type: array
                  items:
                    type: string
                  description: record ID (repeatable)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/base/v3/bases/{base_token}/tables/{table_id}/records/batch_get:
    post:
      operationId: base_record_get
      summary: Get one or more records by ID
      description: |-
        Get one or more records by ID


        **Tips（来自 lark-cli 源码）**

        - Example: lark-cli base +record-get --base-token <base_token> --table-id <table_id> --record-id <record_id>
        - Example with projection: lark-cli base +record-get --base-token <base_token> --table-id <table_id> --record-id rec_001 --record-id rec_002 --field-id Name --field-id Status
        - Default output is markdown; pass --format json to get the raw JSON envelope.
        - Use --field-id as a projection boundary to avoid loading large cell values into context when they are not needed.
        - Use +record-get when record_id is already known; otherwise use +record-search or +record-list.
        - Agent hint: follow the lark-base record read SOP for record read routing.
      tags:
      - base
      x-lark-cli-command: lark-cli base +record-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - base:record:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: base_token
        in: path
        required: true
        schema:
          type: string
          description: base token
        description: base token
      - name: table_id
        in: path
        required: true
        schema:
          type: string
          description: table ID (must start with tbl if ID) or name
        description: table ID (must start with tbl if ID) or name
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                record_id:
                  type: array
                  items:
                    type: string
                  description: record ID (repeatable)
                field_id:
                  type: array
[...]
