# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.76
openapi: 3.0.3
info:
  title: 飞书开放平台 · calendar API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/calendar/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.76
  x-lark-service: calendar
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: calendar
paths:
  /open-apis/calendar/v4/calendars/{calendar_id}/events:
    post:
      operationId: calendar_create
      summary: Create a calendar event and optionally invite attendees
      description: Create a calendar event and optionally invite attendees
      tags:
      - calendar
      x-lark-cli-command: lark-cli calendar +create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - calendar:calendar.event:create
      - calendar:calendar.event:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
          description: 'calendar ID (default: primary)'
        description: 'calendar ID (default: primary)'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                summary:
                  type: string
                  description: event title
                start:
                  type: string
                  description: start time (ISO 8601)
                end:
                  type: string
                  description: end time (ISO 8601)
                description:
                  type: string
                  description: event description
                attendee_ids:
                  type: string
                  description: attendee IDs, comma-separated (supports user ou_, chat oc_, room omm_)
                rrule:
                  type: string
                  description: recurrence rule (rfc5545)
              required:
              - start
              - end
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/calendar/v4/calendars/{calendar_id}/events/instance_view:
    get:
      operationId: calendar_agenda
      summary: View calendar agenda (defaults to today)
      description: View calendar agenda (defaults to today)
      tags:
      - calendar
      x-lark-cli-command: lark-cli calendar +agenda
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - calendar:calendar.event:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
          description: 'calendar ID (default: primary)'
        description: 'calendar ID (default: primary)'
      - name: start
        in: query
        required: false
        schema:
          type: string
          description: 'start time (ISO 8601, default: start of today)'
      - name: end
        in: query
        required: false
        schema:
          type: string
          description: 'end time (ISO 8601, default: end of start day)'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/calendar/v4/calendars/{calendar_id}/events/{event_id}:
    get:
      operationId: calendar_get
      summary: Get a single calendar event detail by calendar-id and event-id
      description: Get a single calendar event detail by calendar-id and event-id
      tags:
      - calendar
      x-lark-cli-command: lark-cli calendar +get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - calendar:calendar.event:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
          description: 'calendar ID (default: primary)'
        description: 'calendar ID (default: primary)'
      - name: event_id
        in: path
        required: true
        schema:
          type: string
          description: event ID
        description: event ID
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: calendar_update
      summary: Update a calendar event and incrementally add or remove attendees
      description: Update a calendar event and incrementally add or remove attendees
      tags:
      - calendar
      x-lark-cli-command: lark-cli calendar +update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - calendar:calendar.event:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
          description: 'calendar ID (default: primary)'
        description: 'calendar ID (default: primary)'
      - name: event_id
        in: path
        required: true
        schema:
          type: string
          description: event ID to update
        description: event ID to update
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                summary:
                  type: string
                  description: event title
                description:
                  type: string
                  description: event description
                start:
                  type: string
                  description: new start time (ISO 8601); requires --end
                end:
                  type: string
                  description: new end time (ISO 8601); requires --start
                rrule:
                  type: string
                  description: recurrence rule (rfc5545)
                add_attendee_ids:
                  type: string
                  description: attendee IDs to add, comma-separated (supports user ou_, chat oc_, room omm_)
                remove_attendee_ids:
                  type: string
                  description: attendee IDs to remove, comma-separated (supports user ou_, chat oc_, room omm_)
                notify:
                  type: boolean
                  default: true
                  description: send update notification to attendees
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/calendar/v4/calendars/{calendar_id}/events/{event_id}/reply:
    post:
      operationId: calendar_rsvp
      summary: Reply to a calendar event (accept/decline/tentative)
      description: Reply to a calendar event (accept/decline/tentative)
      tags:
      - calendar
      x-lark-cli-command: lark-cli calendar +rsvp
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - calendar:calendar.event:reply
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
          description: 'calendar ID (default: primary)'
        description: 'calendar ID (default: primary)'
      - name: event_id
        in: path
        required: true
        schema:
          type: string
          description: event ID
        description: event ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rsvp_status:
                  type: string
                  enum:
                  - accept
                  - decline
                  - tentative
                  description: reply status
              required:
              - rsvp_status
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/calendar/v4/freebusy/list:
    post:
      operationId: calendar_freebusy
      summary: Query user free/busy and RSVP status
      description: Query user free/busy and RSVP status
      tags:
      - calendar
      x-lark-cli-command: lark-cli calendar +freebusy
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - calendar:calendar.free_busy:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                start:
                  type: string
                  description: 'start time (ISO 8601, default: today)'
                end:
                  type: string
                  description: 'end time (ISO 8601, default: end of start day)'
                user_id:
                  type: string
                  description: 'target user open_id (ou_ prefix, default: current user)'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/calendar/v4/freebusy/room_find:
    post:
      operationId: calendar_room_find
      summary: Find available meeting room candidates for one or more event time slots
      description: Find available meeting room candidates for one or more event time slots
      tags:
      - calendar
      x-lark-cli-command: lark-cli calendar +room-find
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - calendar:calendar.free_busy:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                slot:
                  type: array
                  items:
                    type: string
                  description: event time slot in start~end format; repeatable
                city:
                  type: string
                  description: meeting room city constraint
                building:
                  type: string
                  description: meeting room building constraint
                floor:
                  type: string
                  description: meeting room floor constraint (e.g., F2)
                room_name:
                  type: string
                  description: meeting room name constraint; comma-separated for multiple names (e.g., 01,02,03)
                min_capacity:
                  type: integer
                  description: minimum meeting room capacity
                max_capacity:
                  type: integer
                  description: maximum meeting room capacity
                attendee_ids:
                  type: string
                  description: attendee IDs, comma-separated (supports user ou_, chat oc_)
                event_rrule:
                  type: string
                  description: event recurrence rule
                timezone:
                  type: string
                  description: current time zone
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/calendar/v4/freebusy/suggestion:
    post:
      operationId: calendar_suggestion
      summary: Intelligently suggest available time blocks based on unclear time ranges
      description: Intelligently suggest available time blocks based on unclear time ranges
      tags:
      - calendar
      x-lark-cli-command: lark-cli calendar +suggestion
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - calendar:calendar.free_busy:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                start:
                  type: string
                  description: 'search start time (ISO 8601, default: current time)'
                end:
                  type: string
                  description: 'search end time (ISO 8601, default: end of start day)'
                attendee_ids:
                  type: string
                  description: attendee IDs, comma-separated (supports user (open_id) ou_xxx, or chat oc_xxx) ids
                event_rrule:
                  type: string
                  description: event recurrence rules
                duration_minutes:
                  type: integer
                  description: duration (minutes)
                timezone:
                  type: string
                  description: current time zone
                exclude:
                  type: string
                  description: excluded event times (ISO 8601, e.g. '2026-03-19T10:00:00+08:00~2026-03-19T11:00:00+08:00'),
                    comma-separated
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/calendar/v4calendars/{calendar_id}/events/mget_instance_relation_info:
    post:
      operationId: calendar_meeting
      summary: Get meeting info for calendar events (meeting_id, meeting_note)
      description: Get meeting info for calendar events (meeting_id, meeting_note)
      tags:
      - calendar
      x-lark-cli-command: lark-cli calendar +meeting
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - calendar:calendar.event:read
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
          description: 'calendar ID (default: primary)'
        description: 'calendar ID (default: primary)'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_ids:
                  type: string
                  description: calendar event instance IDs, comma-separated for batch
              required:
              - event_ids
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/calendar/v4calendars/{calendar_id}/events/search_event:
    post:
      operationId: calendar_search_event
      summary: Search calendar events by keyword, time range, and attendees
      description: Search calendar events by keyword, time range, and attendees
      tags:
      - calendar
      x-lark-cli-command: lark-cli calendar +search-event
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - calendar:calendar.event:read
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
          description: 'calendar ID (default: primary)'
        description: 'calendar ID (default: primary)'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: search keyword
                attendee_ids:
                  type: string
                  description: attendee IDs, comma-separated (supports user ou_, chat oc_, room omm_)
                start:
                  type: string
                  description: search time range start (ISO 8601 or YYYY-MM-DD)
                end:
                  type: string
                  description: search time range end (ISO 8601 or YYYY-MM-DD)
                page_token:
                  type: string
                  description: page token for next page
                page_size:
                  type: string
                  default: '20'
                  description: page size, 1-30 (default 20)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
