# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.72
openapi: 3.0.3
info:
  title: 飞书开放平台 · contact API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/contact/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.72
  x-lark-service: contact
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: contact
paths:
  /open-apis/authen/v1/user_info:
    get:
      operationId: contact_get_user
      summary: Get user info (omit user_id for self; provide user_id for specific user)
      description: Get user info (omit user_id for self; provide user_id for specific user)
      tags:
      - contact
      x-lark-cli-command: lark-cli contact +get-user
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: user_id
        in: query
        required: false
        schema:
          type: string
          description: user ID (omit to get current user)
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_id
          description: 'user ID type: open_id | union_id | user_id'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/contact/v3/users/search:
    post:
      operationId: contact_search_user
      summary: Search Lark/Feishu users by keyword, open_id list, or filter (requires --as user)
      description: |-
        Search Lark/Feishu users by keyword, open_id list, or filter (requires --as user)


        **Tips（来自 lark-cli 源码）**

        - Filter-only enumeration — users you've chatted with: lark-cli contact +search-user --has-chatted
        - Refine same-name hits: lark-cli contact +search-user --query '张三' --has-chatted --exclude-external-users
        - Multi-name fanout: lark-cli contact +search-user --queries 'alice,bob,张三'
        - on has_more=true add filters or tighten --query — there is no auto-pagination.
      tags:
      - contact
      x-lark-cli-command: lark-cli contact +search-user
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - contact:user:search
      x-lark-access-tokens:
      - user_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: search keyword (≤ 50 characters)
                user_ids:
                  type: string
                  description: open_ids to look up or restrict --query against (CSV; me = caller; ≤ 100)
                has_chatted:
                  type: boolean
                  description: restrict to users you've chatted with (omit to disable; =false rejected)
                has_enterprise_email:
                  type: boolean
                  description: restrict to users with enterprise email (omit to disable; =false rejected)
                exclude_external_users:
                  type: boolean
                  description: exclude external (cross-tenant) users; default includes them (omit to disable; =false rejected)
                left_organization:
                  type: boolean
                  description: restrict to users who have left the organization (omit to disable; =false rejected)
                lang:
                  type: string
                  description: override locale for localized_name (e.g. zh_cn, en_us)
                page_size:
                  type: integer
                  default: 20
                  description: rows per request, 1-30
                queries:
                  type: string
                  description: comma-separated keywords searched in parallel; output is a flat users[] with matched_query
                    plus a queries[] sidecar
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
