# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.72
openapi: 3.0.3
info:
  title: 飞书开放平台 · docs API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/docs/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.72
  x-lark-service: docs
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: docs
paths:
  /open-apis/board/v1/whiteboards/{token}/download_as_image:
    get:
      operationId: docs_media_download
      summary: Download document media or whiteboard thumbnail (auto-detects extension)
      description: Download document media or whiteboard thumbnail (auto-detects extension)
      tags:
      - docs
      x-lark-cli-command: lark-cli docs +media-download
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - docs:document.media:download
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          description: resource token (file_token or whiteboard_id)
        description: resource token (file_token or whiteboard_id)
      - name: type
        in: query
        required: false
        schema:
          type: string
          default: media
          description: 'resource type: media (default) | whiteboard'
      - name: overwrite
        in: query
        required: false
        schema:
          type: boolean
          description: overwrite existing output file
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/board/v1whiteboards/{whiteboard_id}/nodes:
    post:
      operationId: docs_whiteboard_update
      summary: ''
      description: ''
      tags:
      - docs
      x-lark-cli-command: lark-cli docs +whiteboard-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      parameters:
      - name: whiteboard_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/docs_ai/v1/documents/{document_id}/histories:
    get:
      operationId: docs_history_list
      summary: List Lark document history versions
      description: List Lark document history versions
      tags:
      - docs
      x-lark-cli-command: lark-cli docs +history-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - docx:document:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
      - name: doc
        in: query
        required: true
        schema:
          type: string
          description: document URL or token
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
          description: history entries to return, range 1-20
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: pagination token from the previous page's page_token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/docs_ai/v1/documents/{document_id}/history/revert:
    post:
      operationId: docs_history_revert
      summary: Revert a Lark document to a historical version
      description: Revert a Lark document to a historical version
      tags:
      - docs
      x-lark-cli-command: lark-cli docs +history-revert
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - docx:document:write_only
      - docx:document:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doc:
                  type: string
                  description: document URL or token
                history_version_id:
                  type: string
                  description: history_version_id from docs +history-list to revert to
                wait_timeout_ms:
                  type: integer
                  default: 30000
                  description: milliseconds to wait for revert completion before returning, range 0-30000
              required:
              - doc
              - history_version_id
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/docs_ai/v1/documents/{document_id}/history/revert_status:
    get:
      operationId: docs_history_revert_status
      summary: Get Lark document history revert task status
      description: Get Lark document history revert task status
      tags:
      - docs
      x-lark-cli-command: lark-cli docs +history-revert-status
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - docx:document:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
      - name: doc
        in: query
        required: true
        schema:
          type: string
          description: document URL or token
      - name: task_id
        in: query
        required: true
        schema:
          type: string
          description: task_id returned by docs +history-revert
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/medias/upload_prepare:
    post:
      operationId: docs_media_upload
      summary: Upload media file (image/attachment) to a document block
      description: Upload media file (image/attachment) to a document block
      tags:
      - docs
      x-lark-cli-command: lark-cli docs +media-upload
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - docs:document.media:upload
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: local file path (files > 20MB use multipart upload automatically)
                parent_type:
                  type: string
                  description: 'parent type: docx_image | docx_file | whiteboard | mindnote_image'
                parent_node:
                  type: string
                  description: parent node ID (block_id for docx, board_token for whiteboard, mindnote token for mindnote)
                doc_id:
                  type: string
                  description: document ID (for drive_route_token)
              required:
              - file
              - parent_type
              - parent_node
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/medias/{token}/preview_download:
    get:
      operationId: docs_media_preview
      summary: Preview document media file (auto-detects extension)
      description: Preview document media file (auto-detects extension)
      tags:
      - docs
      x-lark-cli-command: lark-cli docs +media-preview
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - docs:document.media:download
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          description: media file token
        description: media file token
      - name: overwrite
        in: query
        required: false
        schema:
          type: boolean
          description: overwrite existing output file
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/search/v2/doc_wiki/search:
    post:
      operationId: docs_search
      summary: 'Search Lark docs, Wiki, and spreadsheet files (Search v2: doc_wiki/search)'
      description: 'Search Lark docs, Wiki, and spreadsheet files (Search v2: doc_wiki/search)'
      tags:
      - docs
      x-lark-cli-command: lark-cli docs +search
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - search:docs:read
      x-lark-access-tokens:
      - user_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: search keyword
                filter:
                  type: string
                  description: filter conditions (JSON object)
                page_token:
                  type: string
                  description: page token
                page_size:
                  type: string
                  default: '15'
                  description: page size (default 15, max 20)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/wiki/v2/spaces/get_node:
    get:
      operationId: docs_resource_delete
      summary: Delete a document resource (type=cover is idempotent when empty)
      description: Delete a document resource (type=cover is idempotent when empty)
      tags:
      - docs
      x-lark-cli-command: lark-cli docs +resource-delete
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - docx:document:readonly
      - docx:document:write_only
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: doc
        in: query
        required: true
        schema:
          type: string
          description: document URL or document_id
      - name: type
        in: query
        required: false
        schema:
          type: string
          default: cover
          description: 'resource type: cover'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
