# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.72
openapi: 3.0.3
info:
  title: 飞书开放平台 · drive API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/drive/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.72
  x-lark-service: drive
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: drive
paths:
  /open-apis/drive/v1/export_tasks/file/{file_token}/download:
    get:
      operationId: drive_export_download
      summary: Download an exported file by file_token
      description: Download an exported file by file_token
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +export-download
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - docs:document:export
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          description: exported file token
        description: exported file token
      - name: file_name
        in: query
        required: false
        schema:
          type: string
          description: preferred output filename (optional)
      - name: output_dir
        in: query
        required: false
        schema:
          type: string
          default: .
          description: 'local output directory (default: current directory)'
      - name: overwrite
        in: query
        required: false
        schema:
          type: boolean
          description: overwrite existing output file
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/files:
    get:
      operationId: drive_sync
      summary: Two-way sync between a local directory and a Drive folder
      description: |-
        Two-way sync between a local directory and a Drive folder


        **Tips（来自 lark-cli 源码）**

        - Two-way sync: new remote files are pulled, new local files are pushed, and conflicts (both sides modified) are resolved by --on-conflict.
        - Default --on-conflict=remote-wins pulls the remote version when both sides changed a file. Use local-wins to push instead, keep-both to rename and keep both copies, or ask for interactive resolution.
        - Pass --quick for faster best-effort diff detection using modified_time instead of SHA-256 hash (no remote file downloads needed during diffing).
        - Because +sync acts on the diff, --quick can still pull, overwrite, or rename files when timestamps differ even if file contents are actually unchanged.
        - Actual sync execution pre-flights download, upload, and folder-create scopes before listing or walking, so missing grants fail before any partial sync can start.
        - Only entries with type=file are synced; online docs (docx, sheet, bitable, mindnote, slides) and shortcuts are skipped.
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +sync
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - drive:drive.metadata:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: local_dir
        in: query
        required: true
        schema:
          type: string
          description: local root directory (relative to cwd)
      - name: folder_token
        in: query
        required: true
        schema:
          type: string
          description: Drive folder token
      - name: on_conflict
        in: query
        required: false
        schema:
          type: string
          enum:
          - driveSyncOnConflictLocalWins
          - driveSyncOnConflictRemoteWins
          - driveSyncOnConflictKeepBoth
          - driveSyncOnConflictAsk
          description: conflict resolution when both sides modified a file
      - name: on_duplicate_remote
        in: query
        required: false
        schema:
          type: string
          enum:
          - driveDuplicateRemoteFail
          - driveDuplicateRemoteNewest
          - driveDuplicateRemoteOldest
          description: policy when multiple remote Drive entries map to the same rel_path
      - name: quick
        in: query
        required: false
        schema:
          type: boolean
          description: use best-effort modified_time comparison instead of SHA-256 hash; mismatched timestamps can still trigger
            real sync writes
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/files/create_folder:
    post:
      operationId: drive_create_folder
      summary: Create a folder in Drive
      description: |-
        Create a folder in Drive


        **Tips（来自 lark-cli 源码）**

        - Omit --folder-token to create the folder in the caller's root folder.
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +create-folder
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - space:folder:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: folder name
                folder_token:
                  type: string
                  description: 'parent folder token (default: root folder)'
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/files/create_shortcut:
    post:
      operationId: drive_create_shortcut
      summary: Create a Drive shortcut in another folder
      description: Create a Drive shortcut in another folder
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +create-shortcut
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - space:document:shortcut
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_token:
                  type: string
                  description: source file token to reference
                type:
                  type: string
                  description: source file type (file, docx, bitable, doc, sheet, mindnote, slides)
                folder_token:
                  type: string
                  description: target folder token for the new shortcut
              required:
              - file_token
              - type
              - folder_token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/files/upload_all:
    post:
      operationId: drive_upload
      summary: Upload a local file to Drive
      description: |-
        Upload a local file to Drive


        **Tips（来自 lark-cli 源码）**

        - Omit both --folder-token and --wiki-token to upload into the caller's Drive root folder.
        - Use --wiki-token <wiki_node_token> to upload under a wiki node; the shortcut maps this to parent_type=wiki automatically.
        - Pass --file-token <file_token> to overwrite an existing Drive file in place; the shortcut forwards file_token to the upload API.
        - In bot mode, automatic full_access (可管理权限) grant only applies to newly uploaded files; overwrite via --file-token does not modify existing file permissions.
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +upload
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - drive:file:upload
      - drive:drive.metadata:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: local file path (files > 20MB use multipart upload automatically)
                file_token:
                  type: string
                  description: existing file token to overwrite in place
                folder_token:
                  type: string
                  description: 'target folder token (default: root folder; mutually exclusive with --wiki-token)'
                wiki_token:
                  type: string
                  description: target wiki node token (uploads under that wiki node; mutually exclusive with --folder-token)
                name:
                  type: string
                  description: 'uploaded file name (default: local file name)'
              required:
              - file
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/files/{file_token}:
    delete:
      operationId: drive_delete
      summary: Delete a file or folder in Drive
      description: Delete a file or folder in Drive
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - space:document:delete
      - drive:drive.metadata:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          description: file or folder token to delete
        description: file or folder token to delete
      - name: type
        in: query
        required: true
        schema:
          type: string
          description: file type (file, docx, bitable, doc, sheet, mindnote, folder, shortcut, slides)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/files/{file_token}/download:
    get:
      operationId: drive_version_get
      summary: Download a specific version of a Drive file
      description: Download a specific version of a Drive file
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +version-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - drive:file:download
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          description: target file token
        description: target file token
      - name: version
        in: query
        required: true
        schema:
          type: string
          description: version from drive +version-history (not tag)
      - name: overwrite
        in: query
        required: false
        schema:
          type: boolean
          description: overwrite existing output file
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/files/{file_token}/history:
    get:
      operationId: drive_version_history
      summary: List the version history of a Drive file
      description: List the version history of a Drive file
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +version-history
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - drive:file:download
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          description: target file token
        description: target file token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          description: max versions to return (1-200)
      - name: cursor
        in: query
        required: false
        schema:
          type: string
          description: pagination cursor from the previous page's next_cursor
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/files/{file_token}/move:
    post:
      operationId: drive_move
      summary: Move a file or folder to another location in Drive
      description: Move a file or folder to another location in Drive
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +move
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - space:document:move
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          description: file or folder token to move
        description: file or folder token to move
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: file type (file, docx, bitable, doc, sheet, mindnote, folder, slides)
                folder_token:
                  type: string
                  description: 'target folder token (default: root folder)'
              required:
              - type
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/files/{file_token}/new_comments:
    post:
      operationId: drive_add_comment
      summary: Add a comment to doc/docx/file/sheet/slides/base(bitable); file targets support selected extensions and full
        comments only
      description: Add a comment to doc/docx/file/sheet/slides/base(bitable); file targets support selected extensions and
        full comments only
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +add-comment
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - drive:drive.metadata:readonly
      - docx:document:readonly
      - docs:document.comment:create
      - docs:document.comment:write_only
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doc:
                  type: string
                  description: document URL/token, file URL/token, sheet/slides/base/bitable URL, or wiki URL that resolves
                    to doc/docx/file/sheet/slides/base(bitable)
                type:
                  type: string
                  enum:
                  - doc
                  - docx
                  - file
                  - sheet
                  - slides
                  - bitable
                  - base
                  description: 'document type: doc, docx, file, sheet, slides, bitable, base (required when --doc is a bare
                    token; auto-detected for URLs; use bitable as the wire value, base is accepted as a compatibility alias)'
                content:
                  type: string
                  description: reply_elements JSON string
                full_comment:
                  type: boolean
                  description: create a full-document comment; also the default when no location is provided
                selection_with_ellipsis:
                  type: string
                  description: target content locator (plain text or 'start...end')
                block_id:
                  type: string
                  description: 'for docx: anchor block ID; for sheet: <sheetId>!<cell>; for slides: <slide-block-type>!<xml-id>;
                    for base(bitable): <table-id>!<record-id>!<view-id>'
              required:
              - doc
              - content
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/files/{file_token}/revert:
    post:
      operationId: drive_version_revert
      summary: Revert a Drive file to a specific historical version
      description: Revert a Drive file to a specific historical version
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +version-revert
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - drive:file:upload
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          description: target file token
        description: target file token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  description: version from drive +version-history to revert to (not tag)
              required:
              - version
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/files/{file_token}/version_del:
    post:
      operationId: drive_version_delete
      summary: Delete a specific historical version of a Drive file
      description: Delete a specific historical version of a Drive file
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +version-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - drive:file:upload
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          description: target file token
        description: target file token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  description: version from drive +version-history to delete (not tag)
              required:
              - version
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/import_tasks:
    post:
      operationId: drive_import
      summary: Import a local file to Drive as a cloud document (docx, sheet, bitable, slides)
      description: Import a local file to Drive as a cloud document (docx, sheet, bitable, slides)
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +import
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - docs:document.media:upload
      - docs:document:import
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: local file path (e.g. .docx, .xlsx, .md, .base, .pptx; large files auto use multipart upload;
                    .base is capped at 20MB, .pptx at 500MB)
                type:
                  type: string
                  description: target document type (docx, sheet, bitable, slides)
                folder_token:
                  type: string
                  description: target folder token (omit for root folder; API accepts empty mount_key as root)
                name:
                  type: string
                  description: 'imported file name (default: local file name without extension)'
                target_token:
                  type: string
                  description: existing token to import data into (only for type=bitable); when set, data is mounted into
                    this bitable instead of creating a new one
              required:
              - file
              - type
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/import_tasks/{ticket}:
    get:
      operationId: drive_task_result
      summary: Poll async task result for import, export, drive move/delete, wiki move, wiki move-to-drive, or wiki delete
        operations
      description: Poll async task result for import, export, drive move/delete, wiki move, wiki move-to-drive, or wiki delete
        operations
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +task_result
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: ticket
        in: path
        required: true
        schema:
          type: string
          description: async task ticket (for import/export tasks)
        description: async task ticket (for import/export tasks)
      - name: task_id
        in: query
        required: false
        schema:
          type: string
          description: async task ID (for drive task_check and all wiki task scenarios)
      - name: scenario
        in: query
        required: true
        schema:
          type: string
          description: 'task scenario: import, export, task_check, wiki_move, wiki_move_to_drive, wiki_delete_space, or wiki_delete_node'
      - name: file_token
        in: query
        required: false
        schema:
          type: string
          description: source document token used for export task status lookup
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/medias/{file_token}/preview_download:
    get:
      operationId: drive_cover
      summary: List or download stable cover presets for a Drive file
      description: List or download stable cover presets for a Drive file
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +cover
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - drive:file:download
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          description: Drive file token
        description: Drive file token
      - name: spec
        in: query
        required: false
        schema:
          type: string
          description: 'cover preset: default | icon | grid | small | middle | big | square'
      - name: version
        in: query
        required: false
        schema:
          type: string
          description: optional file version
      - name: list_only
        in: query
        required: false
        schema:
          type: boolean
          description: list built-in cover specs without downloading
      - name: if_exists
        in: query
        required: false
        schema:
          type: string
          enum:
          - drivePreviewIfExistsError
          - drivePreviewIfExistsOverwrite
          - drivePreviewIfExistsRename
          description: 'output conflict policy: error | overwrite | rename'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/medias/{file_token}/preview_result:
    post:
      operationId: drive_preview
      summary: List or download available preview artifacts for a Drive file
      description: List or download available preview artifacts for a Drive file
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +preview
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - drive:file:download
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          description: Drive file token
        description: Drive file token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: 'preview type to download: pdf | html | text | image | source'
                version:
                  type: string
                  description: optional file version
                list_only:
                  type: boolean
                  description: list preview candidates without downloading
                if_exists:
                  type: string
                  enum:
                  - drivePreviewIfExistsError
                  - drivePreviewIfExistsOverwrite
                  - drivePreviewIfExistsRename
                  description: 'output conflict policy: error | overwrite | rename'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/permissions/{token}/members/apply:
    post:
      operationId: drive_apply_permission
      summary: Apply to the document owner for view or edit permission on a doc/sheet/file/wiki/bitable/docx/mindnote/slides
      description: Apply to the document owner for view or edit permission on a doc/sheet/file/wiki/bitable/docx/mindnote/slides
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +apply-permission
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - docs:permission.member:apply
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          description: target token or document URL (docx/sheets/base/file/wiki/doc/mindnote/slides)
        description: target token or document URL (docx/sheets/base/file/wiki/doc/mindnote/slides)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: target type; auto-inferred from URL when omitted
                perm:
                  type: string
                  enum:
                  - view
                  - edit
                  description: permission to request
                remark:
                  type: string
                  description: optional note shown on the request card sent to the owner
              required:
              - perm
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1permissions/{permission_id}/members:
    post:
      operationId: drive_member_add
      summary: Add a collaborator/member permission to a Drive document, file, folder, or wiki node
      description: |-
        Add a collaborator/member permission to a Drive document, file, folder, or wiki node


        **Tips（来自 lark-cli 源码）**

        - Resource type is auto-inferred from URL paths; pass --type when --token is a bare token.
        - Supported --member-type values: email, openid, unionid, openchat, opendepartmentid, groupid, appid, wikispaceid.
        - When --member-type=wikispaceid, pass --member-kind wiki_space_member, wiki_space_viewer, or wiki_space_editor.
        - --member-type is required; if the ID prefix conflicts with --member-type (e.g. ou_xxx with email), the command rejects it.
        - --perm defaults to view (safest); use --dry-run first when granting edit or full_access.
        - For wiki nodes, --perm-type defaults to container (current page and sub-pages), except --member-type=wikispaceid where --member-kind provides the wiki-space role.
        - Department collaborator (--member-type=opendepartmentid) requires --as user; bot identity is not supported for department authorization.
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +member-add
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - docs:permission.member:create
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: permission_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: target token or document URL; type is auto-inferred from URL path when omitted
                type:
                  type: string
                  description: target resource type; required when --token is a bare token
                member_id:
                  type: string
                  description: collaborator ID; comma-separated for batch (max 10). Interpretation is decided by --member-type
                member_type:
                  type: string
                  description: 'ID type for --member-id; supported: email|openid|unionid|openchat|opendepartmentid|groupid|appid|wikispaceid'
                member_kind:
                  type: string
                  description: request body type when --member-type=wikispaceid; one of wiki_space_member|wiki_space_viewer|wiki_space_editor
                perm:
                  type: string
                  description: permission role to grant; defaults to view
                perm_type:
                  type: string
                  description: wiki permission scope; defaults to container; rejected for non-wiki types
                need_notification:
                  type: boolean
                  description: send an in-app notification after the grant (user identity only)
              required:
              - token
              - member_id
              - member_type
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v2/files/{file_token}/secure_label:
    patch:
      operationId: drive_secure_label_update
      summary: Update the secure label on a Drive file or document
      description: |-
        Update the secure label on a Drive file or document


        **Tips（来自 lark-cli 源码）**

        - Pass the numeric label id returned by +secure-label-list; display names like Public(D) are rejected.
        - Downgrading a secure label may require approval; retrying the same request will not bypass approval.
        - When updating many files, serialize requests and back off on rate_limit errors.
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +secure-label-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - secureLabelUpdateScope
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: target file token or document URL (docx/sheets/base/file/wiki/doc/mindnote/slides)
                type:
                  type: string
                  description: target type; auto-inferred from URL when omitted
                label_id:
                  type: string
                  description: secure label ID to set
              required:
              - token
              - label_id
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v2/my_secure_labels:
    get:
      operationId: drive_secure_label_list
      summary: List secure labels available to the current user
      description: |-
        List secure labels available to the current user


        **Tips（来自 lark-cli 源码）**

        - Use the `id` field from this command as --label-id for +secure-label-update; do not use the display name.
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +secure-label-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - secureLabelReadScope
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
          description: page size, 1-10
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: pagination token from previous response
      - name: lang
        in: query
        required: false
        schema:
          type: string
          enum:
          - zh
          - en
          - ja
          description: label language
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/search/v2/doc_wiki/search:
    post:
      operationId: drive_search
      summary: 'Search Lark docs, Wiki, and spreadsheet files with flat filters (Search v2: doc_wiki/search)'
      description: |-
        Search Lark docs, Wiki, and spreadsheet files with flat filters (Search v2: doc_wiki/search)


        **Tips（来自 lark-cli 源码）**

        - Time flags accept relative (e.g. 7d, 1m, 1y), absolute (2026-04-01, RFC3339), or unix seconds.
        - my_edit_time and my_comment_time are hour-aggregated server-side; sub-hour inputs are snapped and a notice is printed to stderr.
        - Use --created-by-me for "docs I created". Use --mine for "docs I own" (owner semantic).
        - --folder-tokens limits to doc-only search; --space-ids limits to wiki-only. They cannot be combined.
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +search
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - search:docs:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: search keyword (may be empty to browse by filter only); max 30 characters by Unicode code point
                    (CJK counts 1 each), over 30 the server rejects with 99992402 field validation failed
                mine:
                  type: boolean
                  description: restrict to docs I own (server-side owner semantic, NOT original creator; uses current user's
                    open_id)
                creator_ids:
                  type: string
                  description: comma-separated owner open_ids (API field is creator_ids but matched by owner); mutually exclusive
                    with --mine
                created_by_me:
                  type: boolean
                  description: restrict to docs originally created by me (uses current user's open_id as original_creator_ids)
                original_creator_ids:
                  type: string
                  description: comma-separated original creator open_ids; mutually exclusive with --created-by-me
                edited_since:
                  type: string
                  description: start of [my edited] time window (e.g. 7d, 1m, 1y, 2026-04-01, RFC3339, unix seconds)
                edited_until:
                  type: string
                  description: end of [my edited] time window
                commented_since:
                  type: string
                  description: start of [my commented] time window
                commented_until:
                  type: string
                  description: end of [my commented] time window
                opened_since:
                  type: string
                  description: start of [my opened] time window
                opened_until:
                  type: string
                  description: end of [my opened] time window
                created_since:
                  type: string
                  description: start of [document created] time window
                created_until:
                  type: string
                  description: end of [document created] time window
                doc_types:
                  type: string
                  description: 'comma-separated types: doc,sheet,bitable,mindnote,file,wiki,docx,folder,catalog,slides,shortcut'
                folder_tokens:
                  type: string
                  description: comma-separated folder tokens (doc-only; mutually exclusive with --space-ids)
                space_ids:
                  type: string
                  description: comma-separated wiki space IDs (wiki-only; mutually exclusive with --folder-tokens)
                chat_ids:
                  type: string
                  description: comma-separated chat IDs
                sharer_ids:
                  type: string
                  description: comma-separated sharer open_ids
                only_title:
                  type: boolean
                  description: match titles only
                only_comment:
                  type: boolean
                  description: search comments only
                sort:
                  type: string
                  description: sort type
                page_token:
                  type: string
                  description: pagination token from a previous response
                page_size:
                  type: string
                  default: '15'
                  description: page size (1-20, default 15)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/wiki/v2/spaces/get_node:
    get:
      operationId: drive_list_comments
      summary: List comments for doc/docx/sheet/file/slides/base(bitable)/apps, with URL parsing and Wiki token unwrapping
      description: List comments for doc/docx/sheet/file/slides/base(bitable)/apps, with URL parsing and Wiki token unwrapping
      tags:
      - drive
      x-lark-cli-command: lark-cli drive +list-comments
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - docs:document.comment:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: 'recommended: Lark/Feishu document URL (doc/docx/sheet/file/slides/base/bitable/apps/wiki); apps Miaoda
            URLs use /page/<token>; Wiki URLs are unwrapped automatically'
      - name: token
        in: query
        required: false
        schema:
          type: string
          description: document token, Wiki token, or document URL; bare tokens require --type
      - name: type
        in: query
        required: false
        schema:
          type: string
          description: document type for bare --token; optional for URLs but must match the URL type when provided
      - name: solved_status
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'false'
          - 'true'
          - all
          default: 'false'
          description: 'comment solved filter: false=unresolved, true=solved, all=all comments'
      - name: comment_scope
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - whole
          - partial
          default: all
          description: 'comment scope filter: all=all comments, whole=full-document comments, partial=local/selection comments'
      - name: need_reaction
        in: query
        required: false
        schema:
          type: boolean
          description: include reaction data on comment cards
      - name: need_relation
        in: query
        required: false
        schema:
          type: boolean
          description: include docx comment relation data; ignored for non-docx targets
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 50
          description: page size, 1-100
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: pagination token from previous response
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
