# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.73
openapi: 3.0.3
info:
  title: 飞书开放平台 · im API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/im/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.73
  x-lark-service: im
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: im
paths:
  /open-apis/im/v1/chats:
    get:
      operationId: im_chat_list
      summary: List chats the current user/bot is a member of; defaults to groups; pass --types=p2p,group to include p2p single
        chats (user-only); user/bot; supports sorting, pagination, --exclude-muted (user-only)
      description: List chats the current user/bot is a member of; defaults to groups; pass --types=p2p,group to include p2p
        single chats (user-only); user/bot; supports sorting, pagination, --exclude-muted (user-only)
      tags:
      - im
      x-lark-cli-command: lark-cli im +chat-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - im:chat:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          default: open_id
          description: ID type for owner_id in response
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - create_time
          - active_time
          default: create_time
          description: 'sort field: create_time (ascending) | active_time (descending)'
      - name: types
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: chat types to include (group, p2p); omit = groups only (backward compatible); p2p requires user identity
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
          description: page size (1-100)
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: pagination token for next page
      - name: exclude_muted
        in: query
        required: false
        schema:
          type: boolean
          description: (user identity only) drop chats the current user has muted (do-not-disturb); bot identity returns all
            chats unfiltered
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: im_chat_create
      summary: Create a group chat or topic chat; user/bot; --chat-mode group|topic; private/public; invites users/bots; optionally
        sets bot manager
      description: Create a group chat or topic chat; user/bot; --chat-mode group|topic; private/public; invites users/bots;
        optionally sets bot manager
      tags:
      - im
      x-lark-cli-command: lark-cli im +chat-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-access-tokens:
      - tenant_access_token
      - user_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: group name (required for public groups, max 60 chars)
                description:
                  type: string
                  description: group description (max 100 chars)
                users:
                  type: string
                  description: comma-separated user open_ids (ou_xxx) to invite, max 50
                bots:
                  type: string
                  description: comma-separated bot app IDs (cli_xxx) to invite, max 5
                owner:
                  type: string
                  description: owner open_id (ou_xxx); defaults to bot (--as bot) or authorized user (--as user)
                type:
                  type: string
                  enum:
                  - private
                  - public
                  default: private
                  description: chat type
                chat_mode:
                  type: string
                  enum:
                  - group
                  - topic
                  default: group
                  description: group mode ("topic" creates a topic chat; differs from a normal group in topic-message mode)
                set_bot_manager:
                  type: boolean
                  description: set the bot that creates this chat as manager (bot identity only)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/im/v1/flags:
    get:
      operationId: im_flag_list
      summary: List bookmarks; user-only; auto-enriches feed-type thread entries with message content; supports `--page-all`
        auto-pagination
      description: List bookmarks; user-only; auto-enriches feed-type thread entries with message content; supports `--page-all`
        auto-pagination
      tags:
      - im
      x-lark-cli-command: lark-cli im +flag-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 50
          description: page size (1-50)
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: pagination token for next page
      - name: page_all
        in: query
        required: false
        schema:
          type: boolean
          description: automatically paginate through all pages
      - name: enrich_feed_thread
        in: query
        required: false
        schema:
          type: boolean
          default: true
          description: fetch message content for feed-type thread entries (default true; may call messages/mget and require
            im:message.group_msg:get_as_user/im:message.p2p_msg:get_as_user; use --enrich-feed-thread=false to avoid extra
            scopes)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: im_flag_create
      summary: Create a bookmark on a message; user-only; defaults to message-layer flag; use --flag-type feed for feed-layer
        flag (item_type auto-detected from chat mode)
      description: Create a bookmark on a message; user-only; defaults to message-layer flag; use --flag-type feed for feed-layer
        flag (item_type auto-detected from chat mode)
      tags:
      - im
      x-lark-cli-command: lark-cli im +flag-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-access-tokens:
      - user_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                message_id:
                  type: string
                  description: message ID (om_xxx)
                item_type:
                  type: string
                  description: 'item type override: default|thread|msg_thread (rarely needed)'
                flag_type:
                  type: string
                  description: 'flag type: message (default) or feed'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/im/v1/flags/cancel:
    post:
      operationId: im_flag_cancel
      summary: 'Cancel (remove) a bookmark. When no --flag-type is given, best-effort double-cancel: removes message layer
        and (when chat_type is determinable) feed layer'
      description: 'Cancel (remove) a bookmark. When no --flag-type is given, best-effort double-cancel: removes message layer
        and (when chat_type is determinable) feed layer'
      tags:
      - im
      x-lark-cli-command: lark-cli im +flag-cancel
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-access-tokens:
      - user_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                message_id:
                  type: string
                  description: message ID (om_xxx)
                item_type:
                  type: string
                  description: 'item type override: default|thread|msg_thread'
                flag_type:
                  type: string
                  description: 'flag type override: message|feed; omit to double-cancel both layers'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/im/v1/groups:
    get:
      operationId: im_feed_group_list
      summary: List the caller's feed groups (tags); user-only; supports `--page-all` auto-pagination
      description: List the caller's feed groups (tags); user-only; supports `--page-all` auto-pagination
      tags:
      - im
      x-lark-cli-command: lark-cli im +feed-group-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 50
          description: page size (1-50)
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: pagination token for next page
      - name: page_all
        in: query
        required: false
        schema:
          type: boolean
          description: automatically paginate through all pages
      - name: start_time
        in: query
        required: false
        schema:
          type: string
          description: update-time window start (Unix milliseconds as a decimal string)
      - name: end_time
        in: query
        required: false
        schema:
          type: string
          description: update-time window end (Unix milliseconds as a decimal string)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/im/v1/messages:
    get:
      operationId: im_threads_messages_list
      summary: List messages in a thread; user/bot; accepts om_/omt_ input, resolves message IDs to thread_id, supports sort/pagination
      description: List messages in a thread; user/bot; accepts om_/omt_ input, resolves message IDs to thread_id, supports
        sort/pagination
      tags:
      - im
      x-lark-cli-command: lark-cli im +threads-messages-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - im:message:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: thread
        in: query
        required: true
        schema:
          type: string
          description: thread ID (om_xxx or omt_xxx)
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
          description: 'sort order: asc | desc'
      - name: page_size
        in: query
        required: false
        schema:
          type: string
          default: '50'
          description: page size (1-500)
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: page token
      - name: no_reactions
        in: query
        required: false
        schema:
          type: boolean
          description: 'skip auto-fetching reactions for each message (default: enrichment enabled)'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: im_messages_send
      summary: Send a message to a chat or direct message; user/bot; sends to chat-id or user-id with text/markdown/post/media,
        supports idempotency key
      description: Send a message to a chat or direct message; user/bot; sends to chat-id or user-id with text/markdown/post/media,
        supports idempotency key
      tags:
      - im
      x-lark-cli-command: lark-cli im +messages-send
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - im:message:send_as_bot
      x-lark-access-tokens:
      - tenant_access_token
      - user_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: string
                  description: (required, mutually exclusive with --user-id) chat ID (oc_xxx)
                user_id:
                  type: string
                  description: (required, mutually exclusive with --chat-id) user open_id (ou_xxx)
                msg_type:
                  type: string
                  enum:
                  - text
                  - post
                  - image
                  - file
                  - audio
                  - media
                  - interactive
                  - share_chat
                  - share_user
                  default: text
                  description: message type for --content JSON; when using --text/--markdown/--image/--file/--video/--audio,
                    the effective type is inferred automatically
                content:
                  type: string
                  description: (one of --content/--text/--markdown/--image/--file/--video/--audio required) message content
                    JSON
                text:
                  type: string
                  description: plain text message (auto-wrapped as JSON)
                markdown:
                  type: string
                  description: markdown text (auto-wrapped as post format with style optimization; image URLs auto-resolved)
                idempotency_key:
                  type: string
                  description: idempotency key, max 50 characters (prevents duplicate sends)
                image:
                  type: string
                  description: image key (img_xxx), URL, or cwd-relative local path (absolute paths and .. are rejected)
                file:
                  type: string
                  description: file key (file_xxx), URL, or cwd-relative local path (absolute paths and .. are rejected)
                video:
                  type: string
                  description: video file key (file_xxx), URL, or cwd-relative local path (absolute paths and .. are rejected);
                    must be used together with --video-cover
                video_cover:
                  type: string
                  description: video cover image key (img_xxx), URL, or cwd-relative local path (absolute paths and .. are
                    rejected); required when using --video
                audio:
                  type: string
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/im/v1/messages/reactions/batch_query:
    post:
      operationId: im_messages_mget
      summary: Batch get messages by IDs; user/bot; fetches up to 50 om_ message IDs, formats sender names, expands thread
        replies
      description: Batch get messages by IDs; user/bot; fetches up to 50 om_ message IDs, formats sender names, expands thread
        replies
      tags:
      - im
      x-lark-cli-command: lark-cli im +messages-mget
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - im:message:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message_ids:
                  type: string
                  description: message IDs, comma-separated (om_xxx,om_yyy)
                no_reactions:
                  type: boolean
                  description: 'skip auto-fetching reactions for each message (default: enrichment enabled)'
              required:
              - message_ids
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/im/v1/messages/search:
    post:
      operationId: im_messages_search
      summary: Search messages across chats (supports keyword, sender, time range filters) with user identity; user-only;
        filters by chat/sender/attachment/time, enriches results via mget and chats batch_query
      description: Search messages across chats (supports keyword, sender, time range filters) with user identity; user-only;
        filters by chat/sender/attachment/time, enriches results via mget and chats batch_query
      tags:
      - im
      x-lark-cli-command: lark-cli im +messages-search
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - search:message
      - im:message.reactions:read
      x-lark-access-tokens:
      - user_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: search keyword
                chat_id:
                  type: string
                  description: limit to chat IDs, comma-separated
                sender:
                  type: string
                  description: sender open_ids, comma-separated
                include_attachment_type:
                  type: string
                  enum:
                  - file
                  - image
                  - video
                  - link
                  description: include attachment type filter
                chat_type:
                  type: string
                  enum:
                  - group
                  - p2p
                  description: chat type
                sender_type:
                  type: string
                  enum:
                  - user
                  - bot
                  description: sender type
                exclude_sender_type:
                  type: string
                  enum:
                  - user
                  - bot
                  description: exclude sender type
                is_at_me:
                  type: boolean
                  description: only messages that @me
                at_chatter_ids:
                  type: string
                  description: filter by @mentioned user open_ids, comma-separated (also matches messages that @all)
                start:
                  type: string
                  description: start time(ISO 8601) with local timezone offset (e.g. 2026-03-24T00:00:00+08:00)
                end:
                  type: string
                  description: end time(ISO 8601) with local timezone offset (e.g. 2026-03-25T23:59:59+08:00)
                page_size:
                  type: integer
                  default: 20
                  description: page size (1-50)
                page_token:
                  type: string
                  description: page token
                page_all:
                  type: boolean
                  description: automatically paginate search results
                no_reactions:
                  type: boolean
                  description: 'skip auto-fetching reactions for each message (default: enrichment enabled)'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/im/v1/messages/{message_id}/reply:
    post:
      operationId: im_messages_reply
      summary: Reply to a message (supports thread replies); user/bot; supports text/markdown/post/media replies, reply-in-thread,
        idempotency key
      description: Reply to a message (supports thread replies); user/bot; supports text/markdown/post/media replies, reply-in-thread,
        idempotency key
      tags:
      - im
      x-lark-cli-command: lark-cli im +messages-reply
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - im:message:send_as_bot
      x-lark-access-tokens:
      - tenant_access_token
      - user_access_token
      parameters:
      - name: message_id
        in: path
        required: true
        schema:
          type: string
          description: message ID (om_xxx)
        description: message ID (om_xxx)
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                msg_type:
                  type: string
                  enum:
                  - text
                  - post
                  - image
                  - file
                  - audio
                  - media
                  - interactive
                  - share_chat
                  - share_user
                  default: text
                  description: message type for --content JSON; when using --text/--markdown/--image/--file/--video/--audio,
                    the effective type is inferred automatically
                content:
                  type: string
                  description: (one of --content/--text/--markdown/--image/--file/--video/--audio required) message content
                    JSON
                text:
                  type: string
                  description: plain text message (auto-wrapped as JSON)
                markdown:
                  type: string
                  description: markdown text (auto-wrapped as post format with style optimization; image URLs auto-resolved)
                image:
                  type: string
                  description: image key (img_xxx), URL, or cwd-relative local path (absolute paths and .. are rejected)
                file:
                  type: string
                  description: file key (file_xxx), URL, or cwd-relative local path (absolute paths and .. are rejected)
                video:
                  type: string
                  description: video file key (file_xxx), URL, or cwd-relative local path (absolute paths and .. are rejected);
                    must be used together with --video-cover
                video_cover:
                  type: string
                  description: video cover image key (img_xxx), URL, or cwd-relative local path (absolute paths and .. are
                    rejected); required when using --video
                audio:
                  type: string
                reply_in_thread:
                  type: boolean
                  description: reply in thread (message appears in thread stream instead of main chat)
                idempotency_key:
                  type: string
                  description: idempotency key, max 50 characters (prevents duplicate sends)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/im/v1/messages/{message_id}/resources/{file_key}:
    get:
      operationId: im_messages_resources_download
      summary: Download images/files from a message; user/bot; downloads image/file resources by message-id and file-key to
        a safe relative output path
      description: Download images/files from a message; user/bot; downloads image/file resources by message-id and file-key
        to a safe relative output path
      tags:
      - im
      x-lark-cli-command: lark-cli im +messages-resources-download
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - im:message:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: message_id
        in: path
        required: true
        schema:
          type: string
          description: message ID (om_xxx)
        description: message ID (om_xxx)
      - name: file_key
        in: path
        required: true
        schema:
          type: string
          description: resource key (img_xxx or file_xxx)
        description: resource key (img_xxx or file_xxx)
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - image
          - file
          description: resource type (image or file)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/im/v1chats/{chat_id}:
    put:
      operationId: im_chat_update
      summary: Update group chat name or description; user/bot; updates a chat's name or description
      description: Update group chat name or description; user/bot; updates a chat's name or description
      tags:
      - im
      x-lark-cli-command: lark-cli im +chat-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - im:chat:update
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          description: chat ID (oc_xxx)
        description: chat ID (oc_xxx)
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: group name (max 60 chars)
                description:
                  type: string
                  description: group description (max 100 chars)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/im/v2/chats/search:
    post:
      operationId: im_chat_search
      summary: Search visible group chats by --query keyword and/or --member-ids; user/bot; e.g. look up chat_id by group
        name; supports type filters, sorting, pagination, and --exclude-muted (user identity only)
      description: Search visible group chats by --query keyword and/or --member-ids; user/bot; e.g. look up chat_id by group
        name; supports type filters, sorting, pagination, and --exclude-muted (user identity only)
      tags:
      - im
      x-lark-cli-command: lark-cli im +chat-search
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - im:chat:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: search keyword (server may return data.notice for overly long input)
                search_types:
                  type: string
                  description: chat types, comma-separated (private, external, public_joined, public_not_joined)
                chat_modes:
                  type: string
                  description: filter by chat mode, comma-separated (group, topic)
                member_ids:
                  type: string
                  description: filter by member open_ids, comma-separated
                is_manager:
                  type: boolean
                  description: only show chats you created or manage
                disable_search_by_user:
                  type: boolean
                  description: 'disable search-by-member-name (default: search by member name first, then group name)'
                sort:
                  type: string
                  enum:
                  - create_time
                  - update_time
                  - member_count
                  description: 'sort field (always descending): create_time | update_time | member_count'
                page_size:
                  type: integer
                  default: 20
                  description: page size (1-100)
                page_token:
                  type: string
                  description: pagination token for next page
                exclude_muted:
                  type: boolean
                  description: (user identity only) drop chats the current user has muted (do-not-disturb); bot identity returns
                    all chats unfiltered
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/im/v2/feed_shortcuts:
    get:
      operationId: im_feed_shortcut_list
      summary: List one page of the user's feed shortcuts; user-only; first call omits --page-token, subsequent calls pass
        the previous response's page_token; each entry is auto-enriched with the full per-type info object attached as `detail`
        (pass --no-detail to skip)
      description: List one page of the user's feed shortcuts; user-only; first call omits --page-token, subsequent calls
        pass the previous response's page_token; each entry is auto-enriched with the full per-type info object attached as
        `detail` (pass --no-detail to skip)
      tags:
      - im
      x-lark-cli-command: lark-cli im +feed-shortcut-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: opaque pagination token from the previous response; omit for the first page. If a token is rejected
            because the list changed, restart by omitting it.
      - name: no_detail
        in: query
        required: false
        schema:
          type: boolean
          description: 'skip fetching the full info object for each shortcut (default: enrichment enabled — CHAT-type entries
            call im.chats.batch_query, require im:chat:read, and attach the object under the detail field)'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: im_feed_shortcut_create
      summary: Add chats to the user's feed shortcuts; user-only; batch up to 10 chat IDs per call; --head/--tail controls
        insertion order
      description: Add chats to the user's feed shortcuts; user-only; batch up to 10 chat IDs per call; --head/--tail controls
        insertion order
      tags:
      - im
      x-lark-cli-command: lark-cli im +feed-shortcut-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-access-tokens:
      - user_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                head:
                  type: boolean
                  description: insert at the top of the shortcut list (default); mutually exclusive with --tail
                tail:
                  type: boolean
                  description: append at the bottom of the shortcut list; mutually exclusive with --head
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/im/v2/feed_shortcuts/remove:
    post:
      operationId: im_feed_shortcut_remove
      summary: Remove chats from the user's feed shortcuts; user-only; batch up to 10 chat IDs per call; per-item failures
        return ok:false with failed_shortcuts
      description: Remove chats from the user's feed shortcuts; user-only; batch up to 10 chat IDs per call; per-item failures
        return ok:false with failed_shortcuts
      tags:
      - im
      x-lark-cli-command: lark-cli im +feed-shortcut-remove
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-access-tokens:
      - user_access_token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
