# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.76
openapi: 3.0.3
info:
  title: 飞书开放平台 · mail API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/mail/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.76
  x-lark-service: mail
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: mail
paths:
  /open-apis/drive/v1/medias/upload_all:
    post:
      operationId: mail_template_create
      summary: 'Create a personal mail template. Scans HTML <img src> local paths (reusing draft inline-image detection),
        uploads inline images and non-inline attachments to Drive, rewrites HTML to cid: references, and POSTs a Template
        payload to mail.user_mailbox.templates.create.'
      description: 'Create a personal mail template. Scans HTML <img src> local paths (reusing draft inline-image detection),
        uploads inline images and non-inline attachments to Drive, rewrites HTML to cid: references, and POSTs a Template
        payload to mail.user_mailbox.templates.create.'
      tags:
      - mail
      x-lark-cli-command: lark-cli mail +template-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - mail:user_mailbox.message:modify
      - mail:user_mailbox:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mailbox:
                  type: string
                  description: 'Mailbox email address that owns the template (default: me).'
                name:
                  type: string
                  description: Required. Template name (≤100 chars).
                subject:
                  type: string
                  description: Optional. Default subject saved with the template.
                template_content:
                  type: string
                  description: 'Template body content. Prefer HTML. Referenced local images (<img src="./file.png">) are auto-uploaded
                    to Drive and rewritten to cid: refs.'
                template_content_file:
                  type: string
                  description: Optional. Path to a file whose contents become --template-content. Relative path only. Mutually
                    exclusive with --template-content.
                plain_text:
                  type: boolean
                  description: Mark the template as plain-text mode (is_plain_text_mode=true). Inline images still require
                    HTML content; use only for pure plain-text templates.
                to:
                  type: string
                  description: Optional. Default To recipient list. Separate multiple addresses with commas. Display-name
                    format is supported.
                cc:
                  type: string
                  description: Optional. Default Cc recipient list. Separate multiple addresses with commas.
                bcc:
                  type: string
                  description: Optional. Default Bcc recipient list. Separate multiple addresses with commas.
                attach:
                  type: string
                  description: Optional. Non-inline attachment file path(s), comma-separated (relative path only). Each file
                    is uploaded to Drive; the order follows the flag order exactly (order-sensitive for LARGE/SMALL classification).
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
