# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.74
openapi: 3.0.3
info:
  title: 飞书开放平台 · markdown API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/markdown/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.74
  x-lark-service: markdown
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: markdown
paths:
  /open-apis/drive/v1/files/{file_token}/download:
    get:
      operationId: markdown_patch
      summary: Patch a Markdown file in Drive via fetch-local-replace-overwrite
      description: Patch a Markdown file in Drive via fetch-local-replace-overwrite
      tags:
      - markdown
      x-lark-cli-command: lark-cli markdown +patch
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - drive:file:download
      - drive:file:upload
      - drive:drive.metadata:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          description: target Markdown file token
        description: target Markdown file token
      - name: pattern
        in: query
        required: false
        schema:
          type: string
          description: literal text or RE2 regex to match
      - name: content
        in: query
        required: false
        schema:
          type: string
          description: replacement Markdown content
      - name: regex
        in: query
        required: false
        schema:
          type: boolean
          description: interpret --pattern as RE2 regular expression
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/metas/batch_query:
    post:
      operationId: markdown_create
      summary: Create a Markdown file in Drive
      description: |-
        Create a Markdown file in Drive


        **Tips（来自 lark-cli 源码）**

        - Omit both --folder-token and --wiki-token to create the Markdown file in the caller's Drive root folder.
        - Use --wiki-token <wiki_node_token> to create the Markdown file under a wiki node; the shortcut maps this to parent_type=wiki automatically.
        - --folder-token and --wiki-token also accept full Lark URLs and normalize them to the required token.
      tags:
      - markdown
      x-lark-cli-command: lark-cli markdown +create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - drive:file:upload
      - drive:drive.metadata:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                folder_token:
                  type: string
                  description: 'target Drive folder token (default: root folder; mutually exclusive with --wiki-token)'
                wiki_token:
                  type: string
                  description: target wiki node token (uploads under that wiki node; mutually exclusive with --folder-token)
                name:
                  type: string
                  description: file name with .md suffix; required with --content, optional with --file
                content:
                  type: string
                  description: Markdown content
                file:
                  type: string
                  description: local .md file path
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
