# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.74
openapi: 3.0.3
info:
  title: 飞书开放平台 · minutes API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/minutes/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.74
  x-lark-service: minutes
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: minutes
paths:
  /open-apis/minutes/v1/minutes/search:
    post:
      operationId: minutes_search
      summary: Search minutes by keyword, owners, participants, and time range
      description: Search minutes by keyword, owners, participants, and time range
      tags:
      - minutes
      x-lark-cli-command: lark-cli minutes +search
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - minutes:minutes.search:read
      x-lark-access-tokens:
      - user_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: search keyword
                owner_ids:
                  type: string
                  description: owner open_id list, comma-separated (use "me" for current user)
                participant_ids:
                  type: string
                  description: participant open_id list, comma-separated (use "me" for current user)
                start:
                  type: string
                  description: time lower bound (ISO 8601 or YYYY-MM-DD)
                end:
                  type: string
                  description: time upper bound (ISO 8601 or YYYY-MM-DD)
                page_token:
                  type: string
                  description: page token for next page
                page_size:
                  type: string
                  default: '15'
                  description: page size, 1-30 (default 15)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/minutes/v1/minutes/upload:
    post:
      operationId: minutes_upload
      summary: Upload a media file token to generate a minute
      description: |-
        Upload a media file token to generate a minute


        **Tips（来自 lark-cli 源码）**

        - This shortcut only accepts --file-token. Upload the local media file to Drive first with `lark-cli drive +upload`.
        - minutesUploadSupportedFormatsTip
        - minutesUploadLimitsTip
      tags:
      - minutes
      x-lark-cli-command: lark-cli minutes +upload
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - minutes:minutes.upload:write
      x-lark-access-tokens:
      - user_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_token:
                  type: string
                  description: file_token of a supported audio/video file already uploaded to Drive
              required:
              - file_token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/minutes/v1/minutes/{minute_token}:
    get:
      operationId: minutes_detail
      summary: Query minute details with selective artifact flags (summary, todo, chapter, transcript, keyword)
      description: Query minute details with selective artifact flags (summary, todo, chapter, transcript, keyword)
      tags:
      - minutes
      x-lark-cli-command: lark-cli minutes +detail
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - minutes:minutes.basic:read
      - minutes:minutes.artifacts:read
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: minute_token
        in: path
        required: true
        schema:
          type: string
      - name: minute_tokens
        in: query
        required: true
        schema:
          type: string
          description: minute tokens, comma-separated for batch
      - name: summary
        in: query
        required: false
        schema:
          type: boolean
          description: include summary
      - name: todo
        in: query
        required: false
        schema:
          type: boolean
          description: include todos
      - name: chapter
        in: query
        required: false
        schema:
          type: boolean
          description: include chapters
      - name: transcript
        in: query
        required: false
        schema:
          type: boolean
          description: include transcript (saved to file)
      - name: keyword
        in: query
        required: false
        schema:
          type: boolean
          description: include keywords
      - name: output_dir
        in: query
        required: false
        schema:
          type: string
          description: 'output directory for transcript files (default: ./minutes/{minute_token}/)'
      - name: overwrite
        in: query
        required: false
        schema:
          type: boolean
          description: overwrite existing transcript files
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/minutes/v1/minutes/{minute_token}/media:
    get:
      operationId: minutes_download
      summary: Download audio/video media file of a minute
      description: Download audio/video media file of a minute
      tags:
      - minutes
      x-lark-cli-command: lark-cli minutes +download
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - minutes:minutes.media:export
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: minute_token
        in: path
        required: true
        schema:
          type: string
      - name: minute_tokens
        in: query
        required: true
        schema:
          type: string
          description: minute tokens, comma-separated for batch download (max 50)
      - name: output_dir
        in: query
        required: false
        schema:
          type: string
          description: 'output directory (default: ./minutes/{minute_token}/)'
      - name: overwrite
        in: query
        required: false
        schema:
          type: boolean
          description: overwrite existing output file
      - name: url_only
        in: query
        required: false
        schema:
          type: boolean
          description: only print the download URL(s) without downloading
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/minutes/v1minutes/{minute_id}:
    patch:
      operationId: minutes_update
      summary: Update a minute's title
      description: Update a minute's title
      tags:
      - minutes
      x-lark-cli-command: lark-cli minutes +update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - minutes:minutes:update
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: minute_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                minute_token:
                  type: string
                  description: minute token
                topic:
                  type: string
                  description: new minute title
              required:
              - minute_token
              - topic
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/minutes/v1minutes/{minute_id}/summary:
    put:
      operationId: minutes_summary
      summary: Replace the AI summary of a minute
      description: |-
        Replace the AI summary of a minute


        **Tips（来自 lark-cli 源码）**

        - minutesSummaryMarkdownTip
        - Use `lark-cli minutes +detail --minute-tokens <token> --summary` to read the current summary before replacing it.
      tags:
      - minutes
      x-lark-cli-command: lark-cli minutes +summary
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - minutes:minutes:update
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: minute_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                minute_token:
                  type: string
                  description: minute token
                summary:
                  type: string
                  description: replacement summary text (Markdown subset renders best in Minutes)
              required:
              - minute_token
              - summary
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/minutes/v1minutes/{minute_id}/todo:
    post:
      operationId: minutes_todo
      summary: Add, update, or delete todo item(s) on a minute
      description: |-
        Add, update, or delete todo item(s) on a minute


        **Tips（来自 lark-cli 源码）**

        - Single todo: `--operation add --todo "..." --is-done=false`.
        - Batch: `--todos '[{"operation":"add","content":"...","is_done":false}, ...]'` or `--todos @todos.json`.
        - Batch can mix add, update, and delete in one request; array order is preserved in the API body.
        - Update: `--operation update --todo-id <id> --todo "..." --is-done`.
        - Delete: `--operation delete --todo-id <id>`.
        - `content` is plain text only; markdown formatting is not supported.
        - Use `lark-cli minutes +detail --minute-tokens <token> --todo` to read current todos before writing.
      tags:
      - minutes
      x-lark-cli-command: lark-cli minutes +todo
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - minutes:minutes:update
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: minute_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                minute_token:
                  type: string
                  description: minute token (required)
                operation:
                  type: string
                  enum:
                  - add
                  - update
                  - delete
                  description: operation for a single todo (required unless --todos)
                todo:
                  type: string
                  description: todo plain-text content; required by single add/update
                is_done:
                  type: boolean
                  description: completion flag; required by single add/update
                todo_id:
                  type: string
                  description: id of an existing todo; required by single update/delete
                todos:
                  type: string
                  description: batch todo_items JSON array; each item has operation add|update|delete (supports @file / @-)
              required:
              - minute_token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/minutes/v1minutes/{minute_id}/transcript/speaker:
    put:
      operationId: minutes_speaker_replace
      summary: Replace a speaker in a minute's transcript (rebind from one user to another)
      description: Replace a speaker in a minute's transcript (rebind from one user to another)
      tags:
      - minutes
      x-lark-cli-command: lark-cli minutes +speaker-replace
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - minutes:minutes:readonly
      - minutes:minutes:update
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: minute_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                minute_token:
                  type: string
                  description: minute token
                from_speaker_id:
                  type: string
                  description: 'speaker to replace: opaque speaker_id from transcript speakerlist API (do not pass display
                    names)'
                to_user_id:
                  type: string
                  description: new speaker, must be an open_id starting with 'ou_'
              required:
              - minute_token
              - to_user_id
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/minutes/v1minutes/{minute_id}/transcript/word:
    put:
      operationId: minutes_word_replace
      summary: Batch replace words in a minute's transcript
      description: Batch replace words in a minute's transcript
      tags:
      - minutes
      x-lark-cli-command: lark-cli minutes +word-replace
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - minutes:minutes:update
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: minute_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                minute_token:
                  type: string
                  description: minute token
                replace_words:
                  type: string
                  description: JSON array of replacements, e.g. [{"source_word":"old","target_word":"new"}]
              required:
              - minute_token
              - replace_words
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
