# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.72
openapi: 3.0.3
info:
  title: 飞书开放平台 · note API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/note/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.72
  x-lark-service: note
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: note
paths:
  /open-apis/vc/v1notes/{note_id}:
    get:
      operationId: note_transcript
      summary: Fetch the unified note transcript and save it to a file
      description: Fetch the unified note transcript and save it to a file
      tags:
      - note
      x-lark-cli-command: lark-cli note +transcript
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - vc:note:read
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: note_id
        in: path
        required: true
        schema:
          type: string
          description: note ID
        description: note ID
      - name: transcript_format
        in: query
        required: false
        schema:
          type: string
          enum:
          - transcriptFormatMarkdown
          - transcriptFormatPlainText
          description: transcript content format
      - name: locale
        in: query
        required: false
        schema:
          type: string
          description: transcript locale, e.g. zh_cn, en_us, ja_jp (default follows profile language or brand)
      - name: overwrite
        in: query
        required: false
        schema:
          type: boolean
          description: overwrite an existing output file
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
