# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.74
openapi: 3.0.3
info:
  title: 飞书开放平台 · okr API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/okr/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.74
  x-lark-service: okr
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: okr
paths:
  /open-apis/okr/v1/images/upload:
    post:
      operationId: okr_upload_image
      summary: Upload an image for use in OKR progress rich text
      description: Upload an image for use in OKR progress rich text
      tags:
      - okr
      x-lark-cli-command: lark-cli okr +upload-image
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - okr:okr.progress.file:upload
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: local image path (supports JPG, JPEG, PNG, GIF, BMP)
                target_id:
                  type: string
                  description: target ID (objective or key result ID) for the progress
                target_type:
                  type: string
                  enum:
                  - objective
                  - key_result
                  description: 'target type: objective | key_result'
              required:
              - file
              - target_id
              - target_type
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/okr/v1/progress_records:
    post:
      operationId: okr_progress_create
      summary: Create an OKR progress
      description: Create an OKR progress
      tags:
      - okr
      x-lark-cli-command: lark-cli okr +progress-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - okr:okr.progress:writeonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  description: 'progress content: semi-plain JSON {"text":"...","mention":["..."]} (simple style) or ContentBlock
                    JSON (richtext style)'
                target_id:
                  type: string
                  description: target ID (objective or key result ID)
                target_type:
                  type: string
                  enum:
                  - objective
                  - key_result
                  description: 'target type: objective | key_result'
                progress_percent:
                  type: string
                  description: progress percentage
                progress_status:
                  type: string
                  enum:
                  - normal
                  - overdue
                  - done
                  description: 'progress status: normal | overdue | done. must provided with --progress-percent'
                source_title:
                  type: string
                  default: created by lark-cli
                  description: source title for display
                source_url:
                  type: string
                  description: source URL for display (defaults to open platform URL based on brand)
                user_id_type:
                  type: string
                  default: open_id
                  description: 'user ID type: open_id | union_id | user_id'
                style:
                  type: string
                  enum:
                  - simple
                  - richtext
                  default: simple
                  description: 'input style: simple (semi-plain text JSON) | richtext (ContentBlock JSON)'
              required:
              - content
              - target_id
              - target_type
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/okr/v1/progress_records/{progress_id}:
    delete:
      operationId: okr_progress_delete
      summary: Delete an OKR progress by ID
      description: Delete an OKR progress by ID
      tags:
      - okr
      x-lark-cli-command: lark-cli okr +progress-delete
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - okr:okr.progress:delete
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: progress_id
        in: path
        required: true
        schema:
          type: string
          description: progress ID (int64)
        description: progress ID (int64)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: okr_progress_get
      summary: Get an OKR progress by ID
      description: Get an OKR progress by ID
      tags:
      - okr
      x-lark-cli-command: lark-cli okr +progress-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - okr:okr.progress:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: progress_id
        in: path
        required: true
        schema:
          type: string
          description: progress ID (int64)
        description: progress ID (int64)
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_id
          description: 'user ID type: open_id | union_id | user_id'
      - name: style
        in: query
        required: false
        schema:
          type: string
          enum:
          - simple
          - richtext
          default: simple
          description: 'output style: simple (semi-plain text JSON) | richtext (ContentBlock JSON)'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    put:
      operationId: okr_progress_update
      summary: Update an OKR progress
      description: Update an OKR progress
      tags:
      - okr
      x-lark-cli-command: lark-cli okr +progress-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - okr:okr.progress:writeonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: progress_id
        in: path
        required: true
        schema:
          type: string
          description: progress ID (int64)
        description: progress ID (int64)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  description: 'progress content: semi-plain JSON {"text":"...","mention":["..."]} (simple style) or ContentBlock
                    JSON (richtext style)'
                progress_percent:
                  type: string
                  description: progress percentage
                progress_status:
                  type: string
                  enum:
                  - normal
                  - overdue
                  - done
                  description: 'progress status: normal | overdue | done'
                user_id_type:
                  type: string
                  default: open_id
                  description: 'user ID type: open_id | union_id | user_id'
                style:
                  type: string
                  enum:
                  - simple
                  - richtext
                  default: simple
                  description: 'input style: simple (semi-plain text JSON) | richtext (ContentBlock JSON)'
              required:
              - content
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/okr/v2/cycles:
    get:
      operationId: okr_cycle_list
      summary: List okr cycles of a certain user
      description: List okr cycles of a certain user
      tags:
      - okr
      x-lark-cli-command: lark-cli okr +cycle-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - okr:okr.period:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          description: user ID
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_id
          description: 'user ID type: open_id | union_id | user_id'
      - name: time_range
        in: query
        required: false
        schema:
          type: string
          description: specify time range. Use Format as YYYY-MM--YYYY-MM. leave empty to fetch all user cycles.
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/okr/v2/cycles/{cycle_id}/objectives:
    get:
      operationId: okr_cycle_detail
      summary: List objectives and key results under an OKR cycle
      description: List objectives and key results under an OKR cycle
      tags:
      - okr
      x-lark-cli-command: lark-cli okr +cycle-detail
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - okr:okr.content:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: cycle_id
        in: path
        required: true
        schema:
          type: string
          description: OKR cycle id (int64)
        description: OKR cycle id (int64)
      - name: style
        in: query
        required: false
        schema:
          type: string
          enum:
          - simple
          - richtext
          default: simple
          description: 'output style: simple (semi-plain text JSON) | richtext (ContentBlock JSON)'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/okr/v2/indicators/{indicator_id}:
    patch:
      operationId: okr_indicator_update
      summary: Update the indicator current value for an objective or key result
      description: Update the indicator current value for an objective or key result
      tags:
      - okr
      x-lark-cli-command: lark-cli okr +indicator-update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - okr:okr.content:writeonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: indicator_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                level:
                  type: string
                  enum:
                  - objective
                  - key-result
                  description: 'level to update: objective | key-result, Required.'
                id:
                  type: string
                  description: objective or key result ID (int64), Required.
                value:
                  type: string
                  description: new current value for the indicator (number), Required.
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/okr/v2/objectives/{objective_id}:
    patch:
      operationId: okr_patch
      summary: Patch an OKR objective or key result (content, notes, score, deadline)
      description: Patch an OKR objective or key result (content, notes, score, deadline)
      tags:
      - okr
      x-lark-cli-command: lark-cli okr +patch
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - okr:okr.content:writeonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: objective_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                level:
                  type: string
                  enum:
                  - objective
                  - key-result
                  description: 'patch level: objective | key-result'
                target_id:
                  type: string
                  description: target ID (objective or key result ID)
                style:
                  type: string
                  enum:
                  - simple
                  - richtext
                  default: simple
                  description: 'input style for content/notes: simple (semi-plain text JSON) | richtext (ContentBlock JSON)'
                content:
                  type: string
                  description: 'content: semi-plain JSON {"text":"...","mention":["..."]} (simple) or ContentBlock JSON (richtext)'
                notes:
                  type: string
                  description: 'notes (objective only): semi-plain JSON {"text":"...","mention":["..."]} (simple) or ContentBlock
                    JSON (richtext)'
                score:
                  type: string
                  description: score value between 0 and 1, with at most one decimal place (e.g., 0.5)
                deadline:
                  type: string
                  description: deadline as millisecond timestamp
                user_id_type:
                  type: string
                  default: open_id
                  description: 'user ID type: open_id | union_id | user_id'
              required:
              - level
              - target_id
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/okr/v2/objectives/{objective_id}/key_results:
    post:
      operationId: okr_batch_create
      summary: Batch create OKR objectives and key results with rollback on failure
      description: Batch create OKR objectives and key results with rollback on failure
      tags:
      - okr
      x-lark-cli-command: lark-cli okr +batch-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - okr:okr.content:writeonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: objective_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cycle_id:
                  type: string
                  description: OKR cycle ID (int64)
                input:
                  type: string
                  description: 'JSON array of objectives: [{"text":"...","mention":["..."],"krs":[{"text":"...","mention":["..."]}]}]'
                user_id_type:
                  type: string
                  default: open_id
                  description: 'user ID type: open_id | union_id | user_id'
              required:
              - cycle_id
              - input
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/okr/v2/objectives/{objective_id}/progresses:
    get:
      operationId: okr_progress_list
      summary: List progress for an objective or key result
      description: List progress for an objective or key result
      tags:
      - okr
      x-lark-cli-command: lark-cli okr +progress-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - okr:okr.progress:readonly
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: objective_id
        in: path
        required: true
        schema:
          type: string
      - name: target_id
        in: query
        required: true
        schema:
          type: string
          description: target ID (objective or key result ID)
      - name: target_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - objective
          - key_result
          description: 'target type: objective | key_result'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_id
          description: 'user ID type: open_id | union_id | user_id'
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_department_id
          description: 'department ID type: department_id | open_department_id'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
