# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.93
openapi: 3.0.3
info:
  title: 飞书开放平台 · sheets API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/sheets/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.93
  x-lark-service: sheets
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: sheets
paths:
  /open-apis/sheets/v3/spreadsheets:
    post:
      operationId: sheets_workbook_import
      summary: Import a local xlsx/xls/csv file as a new spreadsheet (async + poll). Reuses the drive import core with type
        fixed to sheet.
      description: Import a local xlsx/xls/csv file as a new spreadsheet (async + poll). Reuses the drive import core with
        type fixed to sheet.
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +workbook-import
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - docs:document.media:upload
      - docs:document:import
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
