# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.73
openapi: 3.0.3
info:
  title: 飞书开放平台 · sheets API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/sheets/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.73
  x-lark-service: sheets
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: sheets
paths:
  /open-apis/drive/v1/export_tasks:
    post:
      operationId: sheets_export
      summary: Export a spreadsheet (async task polling + optional download)
      description: Export a spreadsheet (async task polling + optional download)
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +export
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - docs:document:export
      - drive:file:download
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                file_extension:
                  type: string
                  enum:
                  - xlsx
                  - csv
                  description: 'export format: xlsx | csv'
                output_path:
                  type: string
                  description: local save path
                sheet_id:
                  type: string
                  description: sheet ID (required for CSV)
              required:
              - file_extension
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/medias/upload_all:
    post:
      operationId: sheets_cells_set_image
      summary: Embed a local image into a single cell (uploads via drive, then set_cell_range with rich_text embed-image).
      description: |-
        Embed a local image into a single cell (uploads via drive, then set_cell_range with rich_text embed-image).


        **Tips（来自 lark-cli 源码）**

        - --range must be a single cell. The uploaded image becomes a cell-internal embed; use +float-image-create for floating images.
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +cells-set-image
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - drive:file:upload
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/drive/v1/medias/upload_prepare:
    post:
      operationId: sheets_media_upload
      summary: Upload a local image for use as a floating image and return the file_token
      description: Upload a local image for use as a floating image and return the file_token
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +media-upload
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - docs:document.media:upload
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                file:
                  type: string
                  description: local image path (files > 20MB use multipart upload automatically)
              required:
              - file
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/dataValidation:
    delete:
      operationId: sheets_delete_dropdown
      summary: Delete dropdown list from cell ranges
      description: Delete dropdown list from cell ranges
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +delete-dropdown
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token
      - name: ranges
        in: query
        required: true
        schema:
          type: string
          description: ranges as JSON array (e.g. '["sheetId!A2:A100"]'), max 100 ranges
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: sheets_get_dropdown
      summary: Get dropdown list settings for a range
      description: Get dropdown list settings for a range
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +get-dropdown
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: range
        in: query
        required: true
        schema:
          type: string
          enum:
          - :range
          default: :range
        description: 固定值（lark-cli 源码中硬编码）
      - name: dataValidationType
        in: query
        required: true
        schema:
          type: string
          enum:
          - list
          default: list
        description: 固定值（lark-cli 源码中硬编码）
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: sheets_set_dropdown
      summary: Set dropdown list on a cell range
      description: Set dropdown list on a cell range
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +set-dropdown
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                range:
                  type: string
                  description: cell range (<sheetId>!A2:A100)
                condition_values:
                  type: string
                  description: dropdown options as JSON array (e.g. '["opt1","opt2"]'), max 500, each <=100 chars, no commas
                multiple:
                  type: boolean
                  description: enable multi-select (default false)
                highlight:
                  type: boolean
                  description: color-code options (default false)
                colors:
                  type: string
                  description: RGB hex color array (e.g. '["#1FB6C1","#F006C2"]'), must match condition-values length
              required:
              - range
              - condition_values
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/dataValidation/{sheet_id}:
    put:
      operationId: sheets_update_dropdown
      summary: Update dropdown list settings
      description: Update dropdown list settings
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +update-dropdown
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                ranges:
                  type: string
                  description: ranges as JSON array (e.g. '["sheetId!A1:A100"]')
                condition_values:
                  type: string
                  description: dropdown options as JSON array (e.g. '["opt1","opt2"]')
                multiple:
                  type: boolean
                  description: enable multi-select (default false)
                highlight:
                  type: boolean
                  description: color-code options (default false)
                colors:
                  type: string
                  description: RGB hex color array, must match condition-values length
              required:
              - ranges
              - condition_values
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/dimension_range:
    delete:
      operationId: sheets_delete_dimension
      summary: Delete rows or columns
      description: Delete rows or columns
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +delete-dimension
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token
      - name: sheet_id
        in: query
        required: true
        schema:
          type: string
          description: worksheet ID
      - name: dimension
        in: query
        required: true
        schema:
          type: string
          enum:
          - ROWS
          - COLUMNS
          description: ROWS or COLUMNS
      - name: start_index
        in: query
        required: true
        schema:
          type: integer
          description: start position (1-indexed, inclusive)
      - name: end_index
        in: query
        required: true
        schema:
          type: integer
          description: end position (1-indexed, inclusive)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: sheets_add_dimension
      summary: Add rows or columns at the end of a sheet
      description: Add rows or columns at the end of a sheet
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +add-dimension
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                sheet_id:
                  type: string
                  description: worksheet ID
                dimension:
                  type: string
                  enum:
                  - ROWS
                  - COLUMNS
                  description: ROWS or COLUMNS
                length:
                  type: integer
                  description: number of rows/columns to add (1-5000)
              required:
              - sheet_id
              - dimension
              - length
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    put:
      operationId: sheets_update_dimension
      summary: Update row or column properties (visibility, size)
      description: Update row or column properties (visibility, size)
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +update-dimension
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                sheet_id:
                  type: string
                  description: worksheet ID
                dimension:
                  type: string
                  enum:
                  - ROWS
                  - COLUMNS
                  description: ROWS or COLUMNS
                start_index:
                  type: integer
                  description: start position (1-indexed, inclusive)
                end_index:
                  type: integer
                  description: end position (1-indexed, inclusive)
                visible:
                  type: boolean
                  description: true to show, false to hide
                fixed_size:
                  type: integer
                  description: row height or column width in pixels
              required:
              - sheet_id
              - dimension
              - start_index
              - end_index
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/insert_dimension_range:
    post:
      operationId: sheets_insert_dimension
      summary: Insert rows or columns at a specified position
      description: Insert rows or columns at a specified position
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +insert-dimension
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                sheet_id:
                  type: string
                  description: worksheet ID
                dimension:
                  type: string
                  enum:
                  - ROWS
                  - COLUMNS
                  description: ROWS or COLUMNS
                start_index:
                  type: integer
                  description: start position (0-indexed)
                end_index:
                  type: integer
                  description: end position (0-indexed, exclusive)
                inherit_style:
                  type: string
                  enum:
                  - BEFORE
                  - AFTER
                  description: 'style inheritance: BEFORE or AFTER'
              required:
              - sheet_id
              - dimension
              - start_index
              - end_index
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/merge_cells:
    post:
      operationId: sheets_merge_cells
      summary: Merge cells in a spreadsheet
      description: Merge cells in a spreadsheet
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +merge-cells
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                range:
                  type: string
                  description: cell range (<sheetId>!A1:B2, or A1:B2 with --sheet-id)
                sheet_id:
                  type: string
                  description: sheet ID (for relative range)
                merge_type:
                  type: string
                  enum:
                  - MERGE_ALL
                  - MERGE_ROWS
                  - MERGE_COLUMNS
                  description: merge method
              required:
              - range
              - merge_type
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/sheets_batch_update:
    post:
      operationId: sheets_update_sheet
      summary: Update sheet properties
      description: Update sheet properties
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +update-sheet
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                sheet_id:
                  type: string
                  description: sheet ID
                title:
                  type: string
                  description: sheet title
                index:
                  type: integer
                  description: sheet index (0-based)
                hidden:
                  type: boolean
                  description: set true to hide or false to unhide
                frozen_row_count:
                  type: integer
                  description: freeze rows through this count (0 unfreezes)
                frozen_col_count:
                  type: integer
                  description: freeze columns through this count (0 unfreezes)
                lock:
                  type: string
                  description: sheet protection mode
                lock_info:
                  type: string
                  description: protection remark
                user_ids:
                  type: string
                  description: extra editor IDs for protected sheet as JSON array (e.g. '["ou_xxx"]')
                user_id_type:
                  type: string
                  enum:
                  - open_id
                  - union_id
                  - lark_id
                  - user_id
                  description: user ID type for --user-ids
              required:
              - sheet_id
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/style:
    put:
      operationId: sheets_set_style
      summary: Set cell style for a range
      description: Set cell style for a range
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +set-style
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                range:
                  type: string
                  description: cell range (<sheetId>!A1:B2, or A1:B2 with --sheet-id)
                sheet_id:
                  type: string
                  description: sheet ID (for relative range)
                style:
                  type: string
                  description: style JSON object (e.g. {"font":{"bold":true},"backColor":"#ff0000"})
              required:
              - range
              - style
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/styles_batch_update:
    put:
      operationId: sheets_batch_set_style
      summary: Batch set cell styles for multiple ranges
      description: Batch set cell styles for multiple ranges
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +batch-set-style
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                data:
                  type: string
                  description: JSON array of {ranges, style} objects; each range must carry a sheetId! prefix (e.g. sheet1!A1)
              required:
              - data
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/unmerge_cells:
    post:
      operationId: sheets_unmerge_cells
      summary: Unmerge (split) cells in a spreadsheet
      description: Unmerge (split) cells in a spreadsheet
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +unmerge-cells
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                range:
                  type: string
                  description: cell range (<sheetId>!A1:B2, or A1:B2 with --sheet-id)
                sheet_id:
                  type: string
                  description: sheet ID (for relative range)
              required:
              - range
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/values:
    put:
      operationId: sheets_write
      summary: Write to spreadsheet cells (overwrite mode)
      description: Write to spreadsheet cells (overwrite mode)
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +write
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                range:
                  type: string
                  description: write range (<sheetId>!A1:D10, A1:D10 with --sheet-id, or a single cell like C2)
                sheet_id:
                  type: string
                  description: sheet ID
                values:
                  type: string
                  description: 2D array JSON
              required:
              - values
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/values/{range}:
    get:
      operationId: sheets_read
      summary: Read spreadsheet cell values
      description: Read spreadsheet cell values
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +read
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: range
        in: path
        required: true
        schema:
          type: string
          description: read range (<sheetId>!A1:D10, A1:D10 with --sheet-id, or a single cell like C2)
        description: read range (<sheetId>!A1:D10, A1:D10 with --sheet-id, or a single cell like C2)
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token
      - name: sheet_id
        in: query
        required: false
        schema:
          type: string
          description: sheet ID
      - name: value_render_option
        in: query
        required: false
        schema:
          type: string
          description: 'render option: ToString|FormattedValue|Formula|UnformattedValue'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/values_append:
    post:
      operationId: sheets_append
      summary: Append rows to a spreadsheet
      description: Append rows to a spreadsheet
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +append
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                range:
                  type: string
                  description: append range (<sheetId>!A1:D10, A1:D10 with --sheet-id, or a single cell like C2)
                sheet_id:
                  type: string
                  description: sheet ID
                values:
                  type: string
                  description: 2D array JSON
              required:
              - values
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v2/spreadsheets/{token}/values_image:
    post:
      operationId: sheets_write_image
      summary: Write an image into a spreadsheet cell
      description: Write an image into a spreadsheet cell
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +write-image
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                sheet_id:
                  type: string
                  description: sheet ID
                range:
                  type: string
                  description: target cell (e.g. A1 or <sheetId>!A1). Start and end cell must be the same
                image:
                  type: string
                  description: 'local image file path (supported formats: PNG, JPEG, JPG, GIF, BMP, JFIF, EXIF, TIFF, BPG,
                    HEIC)'
                name:
                  type: string
                  description: image file name with extension (defaults to the basename of --image)
              required:
              - range
              - image
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets:
    post:
      operationId: sheets_create
      summary: Create a spreadsheet (optional header row and initial data)
      description: Create a spreadsheet (optional header row and initial data)
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:create
      - sheets:spreadsheet:write_only
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: spreadsheet title
                folder_token:
                  type: string
                  description: target folder token
                headers:
                  type: string
                  description: header row JSON array
                data:
                  type: string
                  description: initial data JSON 2D array
              required:
              - title
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}:
    get:
      operationId: sheets_info
      summary: View spreadsheet metadata and sheet information
      description: View spreadsheet metadata and sheet information
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +info
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - sheets:spreadsheet.meta:read
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}/sheets/{sheet_id}/filter_views:
    post:
      operationId: sheets_create_filter_view
      summary: Create a filter view
      description: Create a filter view
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +create-filter-view
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL (required if --spreadsheet-token is not set)
                spreadsheet_token:
                  type: string
                  description: spreadsheet token (required if --url is not set)
                range:
                  type: string
                  description: filter range (e.g. sheetId!A1:H14)
                filter_view_name:
                  type: string
                  description: display name (max 100 chars)
                filter_view_id:
                  type: string
                  description: custom 10-char alphanumeric ID (auto-generated if omitted)
              required:
              - range
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}/sheets/{sheet_id}/filter_views/query:
    get:
      operationId: sheets_list_filter_views
      summary: List all filter views in a sheet
      description: List all filter views in a sheet
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +list-filter-views
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL (required if --spreadsheet-token is not set)
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token (required if --url is not set)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}/sheets/{sheet_id}/filter_views/{filter_view_id}:
    delete:
      operationId: sheets_delete_filter_view
      summary: Delete a filter view
      description: Delete a filter view
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +delete-filter-view
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
          description: filter view ID
        description: filter view ID
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL (required if --spreadsheet-token is not set)
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token (required if --url is not set)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: sheets_get_filter_view
      summary: Get a filter view by ID
      description: Get a filter view by ID
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +get-filter-view
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
          description: filter view ID
        description: filter view ID
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL (required if --spreadsheet-token is not set)
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token (required if --url is not set)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: sheets_update_filter_view
      summary: Update a filter view
      description: Update a filter view
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +update-filter-view
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
          description: filter view ID
        description: filter view ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL (required if --spreadsheet-token is not set)
                spreadsheet_token:
                  type: string
                  description: spreadsheet token (required if --url is not set)
                range:
                  type: string
                  description: new filter range
                filter_view_name:
                  type: string
                  description: new display name (max 100 chars)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}/sheets/{sheet_id}/filter_views/{filter_view_id}/conditions:
    post:
      operationId: sheets_create_filter_view_condition
      summary: Create a filter condition on a filter view
      description: Create a filter condition on a filter view
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +create-filter-view-condition
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
          description: filter view ID
        description: filter view ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL (required if --spreadsheet-token is not set)
                spreadsheet_token:
                  type: string
                  description: spreadsheet token (required if --url is not set)
                condition_id:
                  type: string
                  description: column letter (e.g. E)
                filter_type:
                  type: string
                  description: 'filter type: hiddenValue, number, text, color'
                compare_type:
                  type: string
                  description: comparison operator (e.g. less, beginsWith, between)
                expected:
                  type: string
                  description: filter values JSON array (e.g. ["6"])
              required:
              - condition_id
              - filter_type
              - expected
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}/sheets/{sheet_id}/filter_views/{filter_view_id}/conditions/query:
    get:
      operationId: sheets_list_filter_view_conditions
      summary: List all filter conditions of a filter view
      description: List all filter conditions of a filter view
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +list-filter-view-conditions
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
          description: filter view ID
        description: filter view ID
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL (required if --spreadsheet-token is not set)
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token (required if --url is not set)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}/sheets/{sheet_id}/filter_views/{filter_view_id}/conditions/{condition_id}:
    delete:
      operationId: sheets_delete_filter_view_condition
      summary: Delete a filter condition from a filter view
      description: Delete a filter condition from a filter view
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +delete-filter-view-condition
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
          description: filter view ID
        description: filter view ID
      - name: condition_id
        in: path
        required: true
        schema:
          type: string
          description: column letter (e.g. E)
        description: column letter (e.g. E)
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL (required if --spreadsheet-token is not set)
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token (required if --url is not set)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: sheets_get_filter_view_condition
      summary: Get a filter condition by column
      description: Get a filter condition by column
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +get-filter-view-condition
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
          description: filter view ID
        description: filter view ID
      - name: condition_id
        in: path
        required: true
        schema:
          type: string
          description: column letter (e.g. E)
        description: column letter (e.g. E)
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL (required if --spreadsheet-token is not set)
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token (required if --url is not set)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    put:
      operationId: sheets_update_filter_view_condition
      summary: Update a filter condition on a filter view
      description: Update a filter condition on a filter view
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +update-filter-view-condition
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
          description: filter view ID
        description: filter view ID
      - name: condition_id
        in: path
        required: true
        schema:
          type: string
          description: column letter (e.g. E)
        description: column letter (e.g. E)
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL (required if --spreadsheet-token is not set)
                spreadsheet_token:
                  type: string
                  description: spreadsheet token (required if --url is not set)
                filter_type:
                  type: string
                  description: 'filter type: hiddenValue, number, text, color'
                compare_type:
                  type: string
                  description: comparison operator
                expected:
                  type: string
                  description: filter values JSON array
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}/sheets/{sheet_id}/find:
    post:
      operationId: sheets_find
      summary: Find cells in a spreadsheet
      description: Find cells in a spreadsheet
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +find
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                find:
                  type: string
                  description: search text
                range:
                  type: string
                  description: search range (<sheetId>!A1:D10, or A1:D10 / C2 with --sheet-id)
                ignore_case:
                  type: boolean
                  description: case-insensitive search
                match_entire_cell:
                  type: boolean
                  description: match entire cell
                search_by_regex:
                  type: boolean
                  description: regex search
                include_formulas:
                  type: boolean
                  description: search formulas
              required:
              - find
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}/sheets/{sheet_id}/float_images:
    post:
      operationId: sheets_create_float_image
      summary: Create a floating image on a sheet
      description: Create a floating image on a sheet
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +create-float-image
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                float_image_token:
                  type: string
                  description: image file token (from upload API)
                range:
                  type: string
                  description: anchor cell, must be a single cell (e.g. sheetId!A1:A1)
                width:
                  type: integer
                  description: width in pixels (>=20)
                height:
                  type: integer
                  description: height in pixels (>=20)
                offset_x:
                  type: integer
                  description: horizontal offset from anchor cell's top-left (pixels, >=0)
                offset_y:
                  type: integer
                  description: vertical offset from anchor cell's top-left (pixels, >=0)
                float_image_id:
                  type: string
                  description: custom 10-char alphanumeric ID (auto-generated if omitted)
              required:
              - float_image_token
              - range
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}/sheets/{sheet_id}/float_images/query:
    get:
      operationId: sheets_list_float_images
      summary: List all floating images in a sheet
      description: List all floating images in a sheet
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +list-float-images
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}/sheets/{sheet_id}/float_images/{float_image_id}:
    delete:
      operationId: sheets_delete_float_image
      summary: Delete a floating image
      description: Delete a floating image
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +delete-float-image
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: float_image_id
        in: path
        required: true
        schema:
          type: string
          description: float image ID
        description: float image ID
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    get:
      operationId: sheets_get_float_image
      summary: Get a floating image by ID
      description: Get a floating image by ID
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +get-float-image
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: float_image_id
        in: path
        required: true
        schema:
          type: string
          description: float image ID
        description: float image ID
      - name: url
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet URL
      - name: spreadsheet_token
        in: query
        required: false
        schema:
          type: string
          description: spreadsheet token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: sheets_update_float_image
      summary: Update a floating image
      description: Update a floating image
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +update-float-image
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      - name: float_image_id
        in: path
        required: true
        schema:
          type: string
          description: float image ID
        description: float image ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                range:
                  type: string
                  description: new anchor cell, must be a single cell (e.g. sheetId!B2:B2)
                width:
                  type: integer
                  description: width in pixels (>=20)
                height:
                  type: integer
                  description: height in pixels (>=20)
                offset_x:
                  type: integer
                  description: horizontal offset from anchor cell's top-left (pixels, >=0)
                offset_y:
                  type: integer
                  description: vertical offset from anchor cell's top-left (pixels, >=0)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}/sheets/{sheet_id}/move_dimension:
    post:
      operationId: sheets_move_dimension
      summary: Move rows or columns to a new position
      description: Move rows or columns to a new position
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +move-dimension
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: worksheet ID
        description: worksheet ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                dimension:
                  type: string
                  enum:
                  - ROWS
                  - COLUMNS
                  description: ROWS or COLUMNS
                start_index:
                  type: integer
                  description: source start position (0-indexed)
                end_index:
                  type: integer
                  description: source end position (0-indexed, inclusive)
                destination_index:
                  type: integer
                  description: target position to move to (0-indexed)
              required:
              - dimension
              - start_index
              - end_index
              - destination_index
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/sheets/v3/spreadsheets/{token}/sheets/{sheet_id}/replace:
    post:
      operationId: sheets_replace
      summary: Find and replace cell values in a spreadsheet
      description: Find and replace cell values in a spreadsheet
      tags:
      - sheets
      x-lark-cli-command: lark-cli sheets +replace
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - sheets:spreadsheet:write_only
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
          description: sheet ID
        description: sheet ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: spreadsheet URL
                spreadsheet_token:
                  type: string
                  description: spreadsheet token
                find:
                  type: string
                  description: search text or regex pattern
                replacement:
                  type: string
                  description: replacement text
                range:
                  type: string
                  description: search range (<sheetId>!A1:D10, or A1:D10 with --sheet-id)
                match_case:
                  type: boolean
                  description: case-sensitive search
                match_entire_cell:
                  type: boolean
                  description: match entire cell content
                search_by_regex:
                  type: boolean
                  description: use regex search
                include_formulas:
                  type: boolean
                  description: search in formulas
              required:
              - find
              - replacement
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
