# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.72
openapi: 3.0.3
info:
  title: 飞书开放平台 · slides API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/slides/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.72
  x-lark-service: slides
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: slides
paths:
  /open-apis/slides_ai/v1/xml_presentations:
    post:
      operationId: slides_create
      summary: Create a Lark Slides presentation
      description: Create a Lark Slides presentation
      tags:
      - slides
      x-lark-cli-command: lark-cli slides +create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - slides:presentation:create
      - slides:presentation:write_only
      - docs:document.media:upload
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: presentation title
                slides:
                  type: string
                  description: slide content JSON array (each element is a <slide> XML string, max 10; for more pages, create
                    first then add via xml_presentation.slide.create). <img src="@./local.png"> placeholders are auto-uploaded
                    and replaced with file_token.
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/slides_ai/v1xml_presentations/{xml_presentation_id}/slide:
    post:
      operationId: slides_replace_pages
      summary: Batch rebuild pages inside an existing Slides presentation (create before old page, then delete old page; not
        atomic)
      description: Batch rebuild pages inside an existing Slides presentation (create before old page, then delete old page;
        not atomic)
      tags:
      - slides
      x-lark-cli-command: lark-cli slides +replace-pages
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - slides:presentation:update
      - slides:presentation:write_only
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: xml_presentation_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                presentation:
                  type: string
                  description: xml_presentation_id, slides URL, or wiki URL that resolves to slides
                pages:
                  type: string
                  description: 'JSON array of page replacements (each: {slide_id, content}); supports @file or -'
                continue_on_error:
                  type: boolean
                  description: continue with later pages after a create/delete failure; default false
                validate_only:
                  type: boolean
                  description: validate input and build the create/delete plan without write calls
              required:
              - presentation
              - pages
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/wiki/v2/spaces/get_node:
    get:
      operationId: slides_xml_get
      summary: Fetch presentation XML or one slide XML
      description: Fetch presentation XML or one slide XML
      tags:
      - slides
      x-lark-cli-command: lark-cli slides +xml-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - slides:presentation:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: presentation
        in: query
        required: true
        schema:
          type: string
          description: xml_presentation_id, slides URL, or wiki URL that resolves to slides
      - name: raw
        in: query
        required: false
        schema:
          type: boolean
          description: print raw XML to stdout instead of the JSON envelope; incompatible with --output and --jq
      - name: slide_id
        in: query
        required: false
        schema:
          type: string
          description: slide page identifier; omit both slide selectors to fetch full presentation XML
      - name: slide_number
        in: query
        required: false
        schema:
          type: integer
          description: 1-based slide page number; omit both slide selectors to fetch full presentation XML
      - name: revision_id
        in: query
        required: false
        schema:
          type: integer
          default: -1
          description: presentation revision_id; -1 means latest
      - name: remove_attr_id
        in: query
        required: false
        schema:
          type: boolean
          description: remove XML id attributes in the returned content; useful for read-only inspection, not precise block
            editing
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
