# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.72
openapi: 3.0.3
info:
  title: 飞书开放平台 · task API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/task/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.72
  x-lark-service: task
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: task
paths:
  /open-apis/task/v2/attachments/upload:
    post:
      operationId: task_upload_attachment
      summary: upload a local file as an attachment to a task
      description: upload a local file as an attachment to a task
      tags:
      - task
      x-lark-cli-command: lark-cli task +upload-attachment
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - task:attachment:write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resource_id:
                  type: string
                  description: task guid (or task applink URL)
                file:
                  type: string
                  description: local file path (single file, <= 50MB)
                resource_type:
                  type: string
                  default: task
                  description: 'owning resource type (default: task); use task_delivery when uploading to task agents'
                user_id_type:
                  type: string
                  default: open_id
                  description: 'user id type (default: open_id)'
              required:
              - resource_id
              - file
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/task/v2/comments:
    post:
      operationId: task_comment
      summary: add a comment to a task
      description: add a comment to a task
      tags:
      - task
      x-lark-cli-command: lark-cli task +comment
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - task:comment:write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: string
                  description: task id
                content:
                  type: string
                  description: comment content
              required:
              - task_id
              - content
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/task/v2/task_v2/list_related_task:
    get:
      operationId: task_get_related_tasks
      summary: list tasks related to me
      description: list tasks related to me
      tags:
      - task
      x-lark-cli-command: lark-cli task +get-related-tasks
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - task:task:read
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: include_complete
        in: query
        required: false
        schema:
          type: boolean
          description: default true; set false to return only incomplete tasks
      - name: page_all
        in: query
        required: false
        schema:
          type: boolean
          description: automatically paginate through all pages (max 40)
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: page token / updated_at cursor in microseconds
      - name: created_by_me
        in: query
        required: false
        schema:
          type: boolean
          description: client-side filter to tasks created by me; pagination still follows upstream related-task pages
      - name: followed_by_me
        in: query
        required: false
        schema:
          type: boolean
          description: client-side filter to tasks followed by me; pagination still follows upstream related-task pages
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/task/v2/tasklists:
    get:
      operationId: task_tasklist_members
      summary: manage tasklist members
      description: manage tasklist members
      tags:
      - task
      x-lark-cli-command: lark-cli task +tasklist-members
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - task:tasklist:write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: tasklist_id
        in: query
        required: true
        schema:
          type: string
          description: tasklist id
      - name: set
        in: query
        required: false
        schema:
          type: string
          description: comma-separated open_ids to set as exact members (replaces existing)
      - name: add
        in: query
        required: false
        schema:
          type: string
          description: comma-separated open_ids to add as members
      - name: remove
        in: query
        required: false
        schema:
          type: string
          description: comma-separated open_ids to remove from members
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: task_tasklist_create
      summary: create a tasklist and optionally add tasks
      description: create a tasklist and optionally add tasks
      tags:
      - task
      x-lark-cli-command: lark-cli task +tasklist-create
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - task:tasklist:write
      - task:task:write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: tasklist name
                member:
                  type: string
                  description: comma-separated open_ids to add as editors
                data:
                  type: string
                  description: JSON array of tasks to create within this tasklist
              required:
              - name
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/task/v2/tasklists/search:
    post:
      operationId: task_tasklist_search
      summary: search tasklists
      description: search tasklists
      tags:
      - task
      x-lark-cli-command: lark-cli task +tasklist-search
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - task:tasklist:read
      x-lark-access-tokens:
      - user_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: search keyword
                page_all:
                  type: boolean
                  description: automatically paginate through all pages (max 40)
                page_token:
                  type: string
                  description: page token
                creator:
                  type: string
                  description: creator open_ids, comma-separated
                create_time:
                  type: string
                  description: 'create time range: start,end (supports ISO/date/relative/ms)'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/task/v2/tasks:
    get:
      operationId: task_reminder
      summary: manage task reminders
      description: manage task reminders
      tags:
      - task
      x-lark-cli-command: lark-cli task +reminder
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - task:task:write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: task_id
        in: query
        required: true
        schema:
          type: string
          description: task id
      - name: set
        in: query
        required: false
        schema:
          type: string
          description: relative fire minutes to set (e.g. 15m, 1h, 1d)
      - name: remove
        in: query
        required: false
        schema:
          type: boolean
          description: removes all existing reminders
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    patch:
      operationId: task_update
      summary: update task attributes
      description: update task attributes
      tags:
      - task
      x-lark-cli-command: lark-cli task +update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - task:task:write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: string
                  description: task id (comma-separated for multiple)
                summary:
                  type: string
                  description: task title
                description:
                  type: string
                  description: task description
                due:
                  type: string
                  description: due date (ISO 8601 / date:YYYY-MM-DD / relative:+2d / ms timestamp)
                data:
                  type: string
                  description: JSON payload for task object
              required:
              - task_id
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
    post:
      operationId: task_tasklist_task_add
      summary: add tasks to a tasklist
      description: add tasks to a tasklist
      tags:
      - task
      x-lark-cli-command: lark-cli task +tasklist-task-add
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - task:task:write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tasklist_id:
                  type: string
                  description: tasklist id
                task_id:
                  type: string
                  description: task id (comma-separated for multiple)
                section_guid:
                  type: string
                  description: section guid
              required:
              - tasklist_id
              - task_id
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/task/v2/tasks/search:
    post:
      operationId: task_search
      summary: search tasks
      description: search tasks
      tags:
      - task
      x-lark-cli-command: lark-cli task +search
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - task:task:read
      x-lark-access-tokens:
      - user_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: search keyword
                page_all:
                  type: boolean
                  description: automatically paginate through all pages (max 40)
                page_token:
                  type: string
                  description: page token
                creator:
                  type: string
                  description: creator open_ids, comma-separated
                assignee:
                  type: string
                  description: assignee open_ids, comma-separated
                completed:
                  type: boolean
                  description: set true for completed or false for incomplete tasks
                due:
                  type: string
                  description: 'due time range: start,end (supports ISO/date/relative/ms)'
                follower:
                  type: string
                  description: follower open_ids, comma-separated
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
