# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.72
openapi: 3.0.3
info:
  title: 飞书开放平台 · vc API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/vc/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.72
  x-lark-service: vc
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: vc
paths:
  /open-apis/vc/v1/bots/events:
    get:
      operationId: vc_meeting_events
      summary: List meeting events by meeting ID
      description: List meeting events by meeting ID
      tags:
      - vc
      x-lark-cli-command: lark-cli vc +meeting-events
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: meeting_id
        in: query
        required: true
        schema:
          type: string
          description: meeting ID to query
      - name: start
        in: query
        required: false
        schema:
          type: string
          description: time lower bound (ISO 8601, YYYY-MM-DD, or Unix seconds)
      - name: end
        in: query
        required: false
        schema:
          type: string
          description: time upper bound (ISO 8601, YYYY-MM-DD, or Unix seconds)
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: page token for the next page
      - name: page_size
        in: query
        required: false
        schema:
          type: string
          default: '20'
          description: page size, 20-100 (default 20)
      - name: page_all
        in: query
        required: false
        schema:
          type: boolean
          description: automatically paginate through all available pages
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/vc/v1/bots/join:
    post:
      operationId: vc_meeting_join
      summary: Join a meeting by meeting number (bot join)
      description: Join a meeting by meeting number (bot join)
      tags:
      - vc
      x-lark-cli-command: lark-cli vc +meeting-join
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - vc:meeting.bot.join:write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                meeting_number:
                  type: string
                  description: meeting number to join
                password:
                  type: string
                  description: meeting password (if required)
                call_id:
                  type: string
                  description: correlation id forwarded from invite event
              required:
              - meeting_number
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/vc/v1/bots/leave:
    post:
      operationId: vc_meeting_leave
      summary: Leave a meeting by meeting ID
      description: Leave a meeting by meeting ID
      tags:
      - vc
      x-lark-cli-command: lark-cli vc +meeting-leave
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - vc:meeting.bot.join:write
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                meeting_id:
                  type: string
                  description: meeting ID to leave
              required:
              - meeting_id
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/vc/v1/bots/user_active_meeting:
    get:
      operationId: vc_meeting_list_active
      summary: List active meetings for the current identity or target user
      description: List active meetings for the current identity or target user
      tags:
      - vc
      x-lark-cli-command: lark-cli vc +meeting-list-active
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: user_id
        in: query
        required: false
        schema:
          type: string
          description: target user ID when using bot identity
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/vc/v1/meetings/search:
    post:
      operationId: vc_search
      summary: Search meeting records by keyword, time range, participant, organizer, or meeting room (requires at least one
        filter)
      description: Search meeting records by keyword, time range, participant, organizer, or meeting room (requires at least
        one filter)
      tags:
      - vc
      x-lark-cli-command: lark-cli vc +search
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - vc:meeting.search:read
      x-lark-access-tokens:
      - user_access_token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: search keyword
                start:
                  type: string
                  description: start time (ISO 8601 or YYYY-MM-DD, e.g. 2026-03-24T00:00+08:00)
                end:
                  type: string
                  description: end time (ISO 8601 or YYYY-MM-DD, e.g. 2026-03-25)
                organizer_ids:
                  type: string
                  description: organizer open_id list, comma-separated
                participant_ids:
                  type: string
                  description: participant open_id list, comma-separated
                room_ids:
                  type: string
                  description: room_id list, comma-separated
                page_token:
                  type: string
                  description: page token for next page
                page_size:
                  type: string
                  default: '15'
                  description: page size, 1-30 (default 15)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/vc/v1/meetings/{meeting_id}:
    get:
      operationId: vc_notes
      summary: Query meeting notes (via meeting-ids, minute-tokens, or calendar-event-ids)
      description: Query meeting notes (via meeting-ids, minute-tokens, or calendar-event-ids)
      tags:
      - vc
      x-lark-cli-command: lark-cli vc +notes
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - vc:note:read
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: string
      - name: meeting_ids
        in: query
        required: false
        schema:
          type: string
          description: meeting IDs, comma-separated for batch
      - name: minute_tokens
        in: query
        required: false
        schema:
          type: string
          description: minute tokens, comma-separated for batch
      - name: calendar_event_ids
        in: query
        required: false
        schema:
          type: string
          description: calendar event instance IDs, comma-separated for batch
      - name: output_dir
        in: query
        required: false
        schema:
          type: string
          description: 'output directory for artifact files (default: ./minutes/{minute_token}/)'
      - name: overwrite
        in: query
        required: false
        schema:
          type: boolean
          description: overwrite existing artifact files
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/vc/v1/meetings/{meeting_id}/recording:
    get:
      operationId: vc_recording
      summary: Query minute_token from meeting-ids or calendar-event-ids
      description: Query minute_token from meeting-ids or calendar-event-ids
      tags:
      - vc
      x-lark-cli-command: lark-cli vc +recording
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - vc:record:readonly
      x-lark-access-tokens:
      - user_access_token
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: string
      - name: meeting_ids
        in: query
        required: false
        schema:
          type: string
          description: meeting IDs, comma-separated for batch
      - name: calendar_event_ids
        in: query
        required: false
        schema:
          type: string
          description: calendar event instance IDs, comma-separated for batch
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
