# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.76
openapi: 3.0.3
info:
  title: 飞书开放平台 · whiteboard API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/whiteboard/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.76
  x-lark-service: whiteboard
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: whiteboard
paths:
  /open-apis/board/v1whiteboards/{whiteboard_id}/download_as_image:
    get:
      operationId: whiteboard_query
      summary: ''
      description: ''
      tags:
      - whiteboard
      x-lark-cli-command: lark-cli whiteboard +query
      x-lark-source: lark-cli-go
      x-lark-risk: read
      parameters:
      - name: whiteboard_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/board/v1whiteboards/{whiteboard_id}/nodes:
    post:
      operationId: whiteboard_update
      summary: ''
      description: ''
      tags:
      - whiteboard
      x-lark-cli-command: lark-cli whiteboard +update
      x-lark-source: lark-cli-go
      x-lark-risk: write
      parameters:
      - name: whiteboard_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
