# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli Go source (shortcuts/), version 1.0.72
openapi: 3.0.3
info:
  title: 飞书开放平台 · wiki API（lark-cli Go 源码）
  description: |-
    从 lark-cli Go 源码 `shortcuts/wiki/` 提取的 HTTP 接口定义，含官方 API Explorer 未收录的接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目自动提取（启发式，非官方发布物），字段为近似推断，权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.72
  x-lark-service: wiki
  x-lark-track: go (lark-cli source)
  x-generator: lark-openapi-spec tools/extract_go_apis.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: wiki
paths:
  /open-apis/wiki/v2/spaces:
    get:
      operationId: wiki_space_list
      summary: List wiki spaces accessible to the caller
      description: |-
        List wiki spaces accessible to the caller


        **Tips（来自 lark-cli 源码）**

        - Default fetches a single page (matches other list shortcuts in this CLI); pass --page-all to pull every page.
        - The underlying API never returns the my_library personal library; resolve it via `wiki spaces get --params '{"space_id":"my_library"}'`.
      tags:
      - wiki
      x-lark-cli-command: lark-cli wiki +space-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - wiki:space:retrieve
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: page token; implies single-page fetch (no auto-pagination)
      - name: page_all
        in: query
        required: false
        schema:
          type: boolean
          description: automatically paginate through all pages (capped by --page-limit)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/wiki/v2/spaces/get_node:
    get:
      operationId: wiki_node_get
      summary: Get wiki node details by node_token, obj_token, or Lark URL
      description: |-
        Get wiki node details by node_token, obj_token, or Lark URL


        **Tips（来自 lark-cli 源码）**

        - --node-token accepts a raw wiki node_token, obj_token, or a Lark URL like https://feishu.cn/wiki/<token> or https://feishu.cn/docx/<token>.
        - For raw obj_tokens, pass --obj-type so the API knows how to resolve them; URL inputs infer it from the path.
        - Pair with +move / +node-copy / +delete-space to confirm space_id, obj_type, and parent before mutating.
        - --token is the deprecated original name and still works for backward compatibility; new scripts should use --node-token.
      tags:
      - wiki
      x-lark-cli-command: lark-cli wiki +node-get
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - wiki:node:retrieve
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: obj_type
        in: query
        required: false
        schema:
          type: string
          description: obj_type when --node-token is an obj_token; auto-inferred from URL path when omitted
      - name: space_id
        in: query
        required: false
        schema:
          type: string
          description: 'optional: assert the resolved node lives in this space'
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/wiki/v2/spaces/my_library:
    get:
      operationId: wiki_node_list
      summary: List wiki nodes in a space or under a parent node
      description: |-
        List wiki nodes in a space or under a parent node


        **Tips（来自 lark-cli 源码）**

        - Default fetches a single page; pass --page-all to walk every page (large knowledge bases can be huge — keep an eye on --page-limit).
        - Use --parent-node-token to drill into a sub-directory.
        - Run +space-list first to discover your space IDs, including the personal document library.
        - --space-id my_library is a per-user alias and is only valid with --as user.
      tags:
      - wiki
      x-lark-cli-command: lark-cli wiki +node-list
      x-lark-source: lark-cli-go
      x-lark-risk: read
      x-lark-scopes:
      - wiki:node:retrieve
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: space_id
        in: query
        required: true
        schema:
          type: string
          description: wiki space ID; use my_library for the personal document library, or +space-list to discover other space
            IDs
      - name: parent_node_token
        in: query
        required: false
        schema:
          type: string
          description: parent node token; if omitted, lists the root-level nodes of the space
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          type: string
          description: page token; implies single-page fetch (no auto-pagination)
      - name: page_all
        in: query
        required: false
        schema:
          type: boolean
          description: automatically paginate through all pages (capped by --page-limit)
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/wiki/v2nodes/{node_id}/move_wiki_to_docs:
    post:
      operationId: wiki_move_to_drive
      summary: Move a wiki node to a Drive folder, polling the async task until it finishes
      description: |-
        Move a wiki node to a Drive folder, polling the async task until it finishes


        **Tips（来自 lark-cli 源码）**

        - The source must be a wiki node_token, not the backing document's obj_token; use wiki +node-get when unsure.
        - Omit --folder-token to move the document to the calling identity's personal-space root.
        - Moving out of Wiki removes the node from the Wiki tree and replaces inherited Wiki permissions with the target Drive folder's permission model.
        - The move is asynchronous; if the bounded poll times out, continue with the next_command returned in the output.
      tags:
      - wiki
      x-lark-cli-command: lark-cli wiki +move-to-drive
      x-lark-source: lark-cli-go
      x-lark-risk: write
      x-lark-scopes:
      - space:document:move
      - wiki:space:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: node_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                node_token:
                  type: string
                  description: wiki node_token to move out of the knowledge space
                folder_token:
                  type: string
                  description: target Drive folder token; omit to move to the calling identity's personal-space root
              required:
              - node_token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/wiki/v2spaces/{space_id}:
    delete:
      operationId: wiki_delete_space
      summary: Delete a wiki space, polling the async delete task when needed
      description: |-
        Delete a wiki space, polling the async delete task when needed


        **Tips（来自 lark-cli 源码）**

        - Deletion is irreversible; double-check --space-id before running.
        - This is a high-risk-write command; pass --yes to confirm the deletion.
        - If the API returns a long-running task, this command polls for a bounded window and then prints a follow-up drive +task_result command.
      tags:
      - wiki
      x-lark-cli-command: lark-cli wiki +delete-space
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - wiki:space:write_only
      - wiki:space:read
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
          description: wiki space ID to delete
        description: wiki space ID to delete
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
  /open-apis/wiki/v2spaces/{space_id}nodes/{node_id}/copy:
    post:
      operationId: wiki_node_copy
      summary: Copy a wiki node to a target space or parent node
      description: |-
        Copy a wiki node to a target space or parent node


        **Tips（来自 lark-cli 源码）**

        - At least one of --target-space-id or --target-parent-node-token must be provided.
        - Omit --title to keep the original node title in the copy.
      tags:
      - wiki
      x-lark-cli-command: lark-cli wiki +node-copy
      x-lark-source: lark-cli-go
      x-lark-risk: high-risk-write
      x-lark-scopes:
      - wiki:node:copy
      x-lark-access-tokens:
      - user_access_token
      - tenant_access_token
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
          description: source wiki space ID
        description: source wiki space ID
      - name: node_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                node_token:
                  type: string
                  description: source node token to copy
                target_space_id:
                  type: string
                  description: target wiki space ID; required if --target-parent-node-token is not set
                target_parent_node_token:
                  type: string
                  description: target parent node token; required if --target-space-id is not set
                title:
                  type: string
                  description: new title for the copied node; leave empty to keep the original title
              required:
              - node_token
      responses:
        '200':
          description: 飞书标准响应信封（data 结构未在 lark-cli 源码中声明）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
