# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 考勤打卡 API
  description: |-
    attendance record query

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: attendance
  x-lark-service-api-version: v1
  x-lark-registry-version: 1.0.0
  x-lark-generated-at: '2026-07-19T00:03:55Z'
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: user_tasks
paths:
  /open-apis/attendance/v1/user_tasks/query:
    post:
      operationId: attendance_user_tasks_query
      summary: 查询打卡结果
      tags:
      - user_tasks
      description: 查询打卡结果
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/user_task/query
      parameters:
      - name: employee_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - employee_id
          - employee_no
          x-enum-descriptions:
            employee_id: 员工 employee ID，即[飞书管理后台](https://example.feishu.cn/admin/contacts/departmentanduser) > 组织架构 > 成员与部门
              > 成员详情中的用户 ID
            employee_no: 员工工号，即[飞书管理后台](https://example.feishu.cn/admin/contacts/departmentanduser) > 组织架构 > 成员与部门 > 成员详情中的工号
        description: 员工ID类型。如果没有后台管理权限，可使用[通过手机号或邮箱获取用户 ID](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/user/batch_get_id)
        example: employee_id
      - name: ignore_invalid_users
        in: query
        required: false
        schema:
          type: boolean
        description: 是否忽略无效和没有权限的用户，对应employee_type。如果 true，则返回有效用户的信息，并告知无效和没有权限的用户信息；如果 false，且 user_ids 中存在无效或没有权限的用户，则返回错误
          （暂不支持该字段）
        example: true
      - name: include_terminated_user
        in: query
        required: false
        schema:
          type: boolean
        description: 由于新入职员工可以复用已离职员工的 employee_no/employee_id，对应employee_type。如果 true，则返回 employee_no/employee_id 对应的所有在职
          + 离职员工的数据；如果 false，则只返回 employee_no/employee_id 对应的在职或最近一个离职员工的数据
        example: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                check_date_from:
                  type: integer
                  description: 查询的起始工作日，格式为yyyyMMdd
                  example: 20190817
                check_date_to:
                  type: integer
                  description: 查询的结束工作日，格式为yyyyMMdd
                  example: 20190820
                need_overtime_result:
                  type: boolean
                  description: 是否需要加班班段打卡结果；当need_overtime_result=true时，会返回加班班段，加班班段通过task_shift_type=1标识，加班班段上下班与正常班段相连时会出现共用record_id情况。例如：9-18为正常班次，18-19为加班班次，打卡结果中records
                    会出现两段，分别为9-18，18-19 且两段上下班record_id相同（check_in_record_id和check_out_record_id相同）。非相连加班班次正常分段返回。当need_overtime_result=false时，仅返回正常班段且task_shift_type=0。
                  example: true
                user_ids:
                  type: array
                  items: {}
                  description: employee_no 或 employee_id 列表，对应employee_type，长度不超过 50
              required:
              - check_date_from
              - check_date_to
              - user_ids
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      invalid_user_ids:
                        type: array
                        items: {}
                        description: 无效用户 ID 列表，对应employee_type
                      unauthorized_user_ids:
                        type: array
                        items: {}
                        description: 没有权限用户 ID 列表，对应employee_type
                      user_task_results:
                        type: array
                        items:
                          type: object
                          properties:
                            day:
                              type: integer
                              description: 日期，格式为yyyyMMdd
                              example: 20190819
                            employee_name:
                              type: string
                              description: 用户姓名
                              example: 张三
                            group_id:
                              type: string
                              description: 考勤组 ID（特别说明：1代表未加入考勤组），可用于[按 ID 查询考勤组](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/group/get)
                              example: '6737202939523236110'
                            records:
                              type: array
                              items:
                                type: object
                                properties:
                                  check_in_record:
                                    type: object
                                    properties: {}
                                    description: 上班打卡记录
                                  check_in_record_id:
                                    type: string
                                    description: 上班打卡记录ID
                                    example: '6709359313699356941'
                                  check_in_result:
                                    type: string
                                    description: 上班打卡结果
                                    enum:
                                    - NoNeedCheck
                                    - SystemCheck
                                    - Normal
                                    - Early
                                    - Late
                                    - Lack
                                    - Todo
                                    x-enum-descriptions:
                                      NoNeedCheck: 无需打卡
                                      SystemCheck: 系统打卡（已弃用）
                                      Normal: 正常
                                      Early: 早退
                                      Late: 迟到
                                      Lack: 缺卡
                                      Todo: 未打卡
                                    example: SystemCheck
                                  check_in_result_supplement:
                                    type: string
                                    description: 上班打卡结果补充
                                    enum:
                                    - None
                                    - ManagerModification
                                    - CardReplacement
                                    - ShiftChange
                                    - Travel
                                    - Leave
                                    - GoOut
                                    - CardReplacementApplication
                                    - FieldPunch
                                    x-enum-descriptions:
                                      None: 无
                                      ManagerModification: 管理员修改
                                      CardReplacement: 补卡通过
                                      ShiftChange: 换班
                                      Travel: 出差
                                      Leave: 请假
                                      GoOut: 外出
                                      CardReplacementApplication: 补卡申请中
                                      FieldPunch: 外勤打卡
                                    example: None
                                  check_in_shift_time:
                                    type: string
                                    description: 上班打卡时间
                                    example: '1609722000'
                                  check_out_record:
                                    type: object
                                    properties: {}
                                    description: 下班打卡记录
                                  check_out_record_id:
                                    type: string
                                    description: 下班打卡记录ID
                                    example: '6709359313699356942'
                                  check_out_result:
                                    type: string
                                    description: 下班打卡结果
                                    enum:
                                    - NoNeedCheck
                                    - SystemCheck
                                    - Normal
                                    - Early
                                    - Late
                                    - Lack
                                    - Todo
                                    x-enum-descriptions:
                                      NoNeedCheck: 无需打卡
                                      SystemCheck: 系统打卡（已弃用）
                                      Normal: 正常
                                      Early: 早退
                                      Late: 迟到
                                      Lack: 缺卡
                                      Todo: 未打卡
                                    example: SystemCheck
                                  check_out_result_supplement:
                                    type: string
                                    description: 下班打卡结果补充
                                    enum:
                                    - None
                                    - ManagerModification
                                    - CardReplacement
                                    - ShiftChange
                                    - Travel
                                    - Leave
                                    - GoOut
                                    - CardReplacementApplication
                                    - FieldPunch
                                    x-enum-descriptions:
                                      None: 无
                                      ManagerModification: 管理员修改
                                      CardReplacement: 补卡通过
                                      ShiftChange: 换班
                                      Travel: 出差
                                      Leave: 请假
                                      GoOut: 外出
                                      CardReplacementApplication: 补卡申请中
                                      FieldPunch: 外勤打卡
                                    example: None
                                  check_out_shift_time:
                                    type: string
                                    description: 下班打卡时间
                                    example: '1609754400'
                                  task_shift_type:
                                    type: integer
                                    description: 班次类型，0正常，1加班班次
                                    example: 0
                                required:
                                - check_in_record_id
                                - check_in_result
                                - check_in_result_supplement
                                - check_out_record_id
                                - check_out_result
                                - check_out_result_supplement
                              description: 用户考勤记录
                            result_id:
                              type: string
                              description: 打卡记录 ID
                              example: '6709359313699356941'
                            shift_id:
                              type: string
                              description: 班次 ID（特别说明：9代表默认班次），可用于[按 ID 查询班次](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/shift/get)
                              example: '6753520403404030215'
                            user_id:
                              type: string
                              description: 用户 ID，对应employee_type
                              example: abd754f7
                          required:
                          - day
                          - employee_name
                          - group_id
                          - records
                          - result_id
                          - shift_id
                          - user_id
                        description: 打卡任务列表
      x-lark-method-id: user_task.query
      x-lark-scopes:
      - attendance:task:readonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
