# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · calendar API（全量）
  description: |-
    飞书开放平台 `calendar` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.0+54edd753
  x-lark-project: calendar
  x-lark-track: full (official API Explorer)
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: calendar.acl
- name: calendar.event.attendee.chat_member
- name: calendar.event.attendee
- name: calendar.event.meeting_chat
- name: calendar.event.meeting_minute
- name: calendar.event
- name: calendar
- name: exchange_binding
- name: freebusy
- name: setting
- name: timeoff_event
paths:
  /open-apis/calendar/v4/calendars/{calendar_id}/acls:
    post:
      operationId: calendar_calendar_acl_create
      summary: 创建访问控制
      tags:
      - calendar.acl
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-acl/create
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  description: 对日历的访问权限
                  enum:
                  - unknown
                  - free_busy_reader
                  - reader
                  - writer
                  - owner
                  x-enum-descriptions:
                    unknown: 未知权限
                    free_busy_reader: 游客，只能看到忙碌/空闲信息
                    reader: 订阅者，查看所有日程详情
                    writer: 编辑者，创建及修改日程
                    owner: 管理员，管理日历及共享设置
                scope:
                  type: object
                  properties:
                    type:
                      type: string
                      description: 权限类型，当type为User时，值为open_id/user_id/union_id
                      enum:
                      - user
                      x-enum-descriptions:
                        user: 用户
                    user_id:
                      type: string
                      description: 用户ID
                  required:
                  - type
                  description: 权限范围
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    $ref: '#/components/schemas/Data4'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar.acl:create
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 192000
        httpCode: 404
        msg: acl not found
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.scope.user_id
        section: 0
    get:
      operationId: calendar_calendar_acl_list
      summary: 获取访问控制列表
      tags:
      - calendar.acl
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-acl/list
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户id
            union_id: 以union_id来识别用户id
            open_id: 以open_id来识别用户id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      acls:
                        type: array
                        items:
                          $ref: '#/components/schemas/Data4'
                        description: 入参日历对应的acl列表
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下次请求需要带上的分页标记，90 天有效期
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar:readonly
      - calendar:calendar
      - calendar:calendar.acl:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190008
        httpCode: 400
        msg: page_token or sync_token expired
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 192000
        httpCode: 404
        msg: acl not found
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/calendar/v4/calendars/{calendar_id}/acls/{acl_id}:
    delete:
      operationId: calendar_calendar_acl_delete
      summary: 删除访问控制
      tags:
      - calendar.acl
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-acl/delete
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      - name: acl_id
        in: path
        required: true
        schema:
          type: string
        description: acl资源ID。参见[ACL ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-acl/introduction)
        example: user_xxxxxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar.acl:delete
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 192000
        httpCode: 404
        msg: acl not found
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      x-lark-rate-limit:
        tier: 4
  /open-apis/calendar/v4/calendars/{calendar_id}/acls/subscription:
    post:
      operationId: calendar_calendar_acl_subscription
      summary: 订阅日历访问控制变更事件
      tags:
      - calendar.acl
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-acl/subscription
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - calendar:calendar:readonly
      - calendar:calendar
      - calendar:calendar.acl:read
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 192000
        httpCode: 404
        msg: acl not found
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      x-lark-rate-limit:
        tier: 4
  /open-apis/calendar/v4/calendars/{calendar_id}/acls/unsubscription:
    post:
      operationId: calendar_calendar_acl_unsubscription
      summary: 取消订阅日历访问控制变更事件
      tags:
      - calendar.acl
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-acl/unsubscription
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - calendar:calendar:readonly
      - calendar:calendar
      - calendar:calendar.acl:read
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 192000
        httpCode: 404
        msg: acl not found
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      x-lark-rate-limit:
        tier: 4
  /open-apis/calendar/v4/calendars/{calendar_id}/events/{event_id}/attendees/{attendee_id}/chat_members:
    get:
      operationId: calendar_calendar_event_attendee_chat_member_list
      summary: 获取日程参与群成员列表
      tags:
      - calendar.event.attendee.chat_member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-attendee-chat_member/list
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: 日程ID。参见[日程ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/introduction)
        example: 00592a0e-7edf-4678-bc9d-1b77383ef08e_0
      - name: attendee_id
        in: path
        required: true
        schema:
          type: string
        description: 群参与人 ID。参见[参与人ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-attendee/introduction#4998889c)
        example: chat_xxxxxx
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            rsvp_status:
                              type: string
                              description: 参与人RSVP状态
                              enum:
                              - needs_action
                              - accept
                              - tentative
                              - decline
                              - removed
                              x-enum-descriptions:
                                needs_action: 参与人尚未回复状态，或表示会议室预约中
                                accept: 参与人回复接受，或表示会议室预约成功
                                tentative: 参与人回复待定
                                decline: 参与人回复拒绝，或表示会议室预约失败
                                removed: 参与人或会议室已经从日程中被移除
                            is_optional:
                              type: boolean
                              description: 参与人是否为「可选参加」
                              default: false
                              example: 'true'
                            display_name:
                              type: string
                              description: 参与人名称
                              example: Li Jian
                            open_id:
                              type: string
                              description: 用户open_id
                              example: ou_xxxx
                            is_organizer:
                              type: boolean
                              description: 参与人是否为日程组织者
                              example: 'true'
                            is_external:
                              type: boolean
                              description: 参与人是否为外部参与人
                              example: 'true'
                        description: chat类型的参与人的群成员列表
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下次请求需要带上的分页标记
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar:readonly
      - calendar:calendar
      - calendar:calendar.event:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190008
        httpCode: 400
        msg: page_token or sync_token expired
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190011
        httpCode: 403
        msg: tenant encrypt key has been deleted
      - code: 190012
        httpCode: 403
        msg: tenant decrypt key has been deleted
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 193000
        httpCode: 400
        msg: invalid event_id
      - code: 193001
        httpCode: 404
        msg: event not found
      - code: 193002
        httpCode: 403
        msg: no permission to operate event
      - code: 193003
        httpCode: 403
        msg: event is deleted
      - code: 194000
        httpCode: 404
        msg: attendee not found
      - code: 194001
        httpCode: 403
        msg: no permission to list event attendees
      - code: 194002
        httpCode: 403
        msg: no permission to create event attendees
      - code: 194003
        httpCode: 403
        msg: no permission to delete event attendees
      - code: 194004
        httpCode: 400
        msg: invalid attendee type
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: op_user_id
        section: 2
  /open-apis/calendar/v4/calendars/{calendar_id}/events/{event_id}/attendees/batch_delete:
    post:
      operationId: calendar_calendar_event_attendee_batch_delete
      summary: 删除日程参与人
      tags:
      - calendar.event.attendee
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-attendee/batch_delete
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: 日程ID。参见[日程ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/introduction)
        example: xxxxxxxxx_0
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户id
            union_id: 以union_id来识别用户id
            open_id: 以open_id来识别用户id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                attendee_ids:
                  type: array
                  items:
                    type: string
                  description: 要移除的参与人 ID 列表。参见[参与人ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-attendee/introduction#4998889c)
                delete_ids:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: |-
                          参与人类型，仅当新建参与人时可设置类型<br>
                          type为User时，值为open_id/user_id/union_id<br>
                          type为Chat时，值为open_chat_id<br>
                          type为Resource时，值为open_room_id<br>
                          type为ThirdParty时，值为third_party_email；不支持通过API新建该类型参与人
                        enum:
                        - user
                        - chat
                        - resource
                        - third_party
                        x-enum-descriptions:
                          user: 用户
                          chat: 群组
                          resource: 会议室
                          third_party: 邮箱
                      user_id:
                        type: string
                        description: 参与人的用户id，依赖于user_id_type返回对应的取值，当is_external为true时，此字段只会返回open_id或者union_id
                        example: ou_xxxxxxxx
                      chat_id:
                        type: string
                        description: chat类型参与人的群组chat_id
                        example: oc_xxxxxxxxx
                        x-lark-id-types:
                          chat_id: chat
                      room_id:
                        type: string
                        description: resource类型参与人的会议室room_id
                        example: omm_xxxxxxxx
                      third_party_email:
                        type: string
                        description: third_party类型参与人的邮箱
                        example: wangwu@email.com
                  description: 需要删除的参与人类型实体ID，作为attendee_ids字段的补充。
                need_notification:
                  type: boolean
                  description: 删除日程参与人时是否要给参与人发送bot通知，默认为true
                instance_start_time_admin:
                  type: string
                  description: 使用管理员身份访问时要修改的实例
                  example: '1647320400'
                is_enable_admin:
                  type: boolean
                  description: 是否启用管理员身份(需先在管理后台设置某人为会议室管理员)
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar.event:writeonly
      - calendar:calendar.event:update
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190011
        httpCode: 403
        msg: tenant encrypt key has been deleted
      - code: 190012
        httpCode: 403
        msg: tenant decrypt key has been deleted
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 193000
        httpCode: 400
        msg: invalid event_id
      - code: 193001
        httpCode: 404
        msg: event not found
      - code: 193002
        httpCode: 403
        msg: no permission to operate event
      - code: 193003
        httpCode: 403
        msg: event is deleted
      - code: 194000
        httpCode: 404
        msg: attendee not found
      - code: 194001
        httpCode: 403
        msg: no permission to list event attendees
      - code: 194002
        httpCode: 403
        msg: no permission to create event attendees
      - code: 194003
        httpCode: 403
        msg: no permission to delete event attendees
      - code: 194004
        httpCode: 400
        msg: invalid attendee type
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.delete_ids[*].user_id
        section: 0
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.delete_ids[*].chat_id
        section: 0
      - fromTo:
          from: open_room_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.delete_ids[*].room_id
        section: 0
  /open-apis/calendar/v4/calendars/{calendar_id}/events/{event_id}/attendees:
    post:
      operationId: calendar_calendar_event_attendee_create
      summary: 添加日程参与人
      tags:
      - calendar.event.attendee
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-attendee/create
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_HF9U2MbibE8PPpjro6xjqa@group.calendar.feishu.cn
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: 日程ID。参见[日程ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/introduction)
        example: 75d28f9b-e35c-4230-8a83-4a661497db54_0
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户id
            union_id: 以union_id来识别用户id
            open_id: 以open_id来识别用户id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                attendees:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: |-
                          参与人类型，仅当新建参与人时可设置类型<br>
                          type为User时，值为open_id/user_id/union_id<br>
                          type为Chat时，值为open_chat_id<br>
                          type为Resource时，值为open_room_id<br>
                          type为ThirdParty时，值为third_party_email；不支持通过API新建该类型参与人
                        enum:
                        - user
                        - chat
                        - resource
                        - third_party
                        x-enum-descriptions:
                          user: 用户
                          chat: 群组
                          resource: 会议室
                          third_party: 邮箱
                      is_optional:
                        type: boolean
                        description: 参与人是否为「可选参加」，无法编辑群参与人的此字段
                        default: false
                        example: 'false'
                      user_id:
                        type: string
                        description: 参与人的用户id，依赖于user_id_type返回对应的取值，当is_external为true时，此字段只会返回open_id或者union_id
                      chat_id:
                        type: string
                        description: chat类型参与人的群组chat_id
                        example: oc_a0553eda9014c201e6969b478895c230
                        x-lark-id-types:
                          chat_id: chat
                      room_id:
                        type: string
                        description: resource类型参与人的会议室room_id
                        example: omm_83d09ad4f6896e02029a6a075f71c9d1
                      third_party_email:
                        type: string
                        description: third_party类型参与人的邮箱
                        example: test@example.com
                      operate_id:
                        type: string
                        description: bot身份操作时，为预定的会议室指定实际预定人
                        example: 4d7a3c6g
                      resource_customization:
                        type: array
                        items:
                          type: object
                          properties:
                            index_key:
                              type: string
                              description: the unique key of customization option
                              example: '16281481596100'
                            input_content:
                              type: string
                              description: should be filled when the type of customization is input
                              example: xxx
                            options:
                              type: array
                              items:
                                type: object
                                properties:
                                  option_key:
                                    type: string
                                    description: the option unique key
                                    example: '16281481596185'
                                  others_content:
                                    type: string
                                    description: should be filled if the option is others option
                                    example: xxx
                              description: 选项
                              example: 无
                          required:
                          - index_key
                        description: 会议室的个性化配置
                      approval_reason:
                        type: string
                        description: 会议室审批原因
                        example: 申请审批原因
                  description: |-
                    新增参与人列表；<br>
                    - 单次请求会议室的数量限制为100。
                need_notification:
                  type: boolean
                  description: 是否给参与人发送bot通知 默认为true
                  example: 'false'
                instance_start_time_admin:
                  type: string
                  description: 使用管理员身份访问时要修改的实例(仅用于重复日程修改其中的一个实例，非重复日程无需填此字段)
                  example: '1647320400'
                is_enable_admin:
                  type: boolean
                  description: 是否启用管理员身份(需先在管理后台设置某人为会议室管理员)
                  example: 'false'
                add_operator_to_attendee:
                  type: boolean
                  description: 是否添加会议室operate_id标识的用户到参与人
                  example: 'false'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      attendees:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item'
                        description: 被添加的参与人列表
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar.event:update
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190011
        httpCode: 403
        msg: tenant encrypt key has been deleted
      - code: 190012
        httpCode: 403
        msg: tenant decrypt key has been deleted
      - code: 190013
        httpCode: 400
        msg: content being saved is at risk
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 193000
        httpCode: 400
        msg: invalid event_id
      - code: 193001
        httpCode: 404
        msg: event not found
      - code: 193002
        httpCode: 403
        msg: no permission to operate event
      - code: 193003
        httpCode: 403
        msg: event is deleted
      - code: 194000
        httpCode: 404
        msg: attendee not found
      - code: 194001
        httpCode: 403
        msg: no permission to list event attendees
      - code: 194002
        httpCode: 403
        msg: no permission to create event attendees
      - code: 194003
        httpCode: 403
        msg: no permission to delete event attendees
      - code: 194004
        httpCode: 400
        msg: invalid attendee type
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.attendees[*].user_id
        section: 0
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.attendees[*].chat_id
        section: 0
      - fromTo:
          from: open_room_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.attendees[*].room_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.attendees[*].operate_id
        section: 0
    get:
      operationId: calendar_calendar_event_attendee_list
      summary: 获取日程参与人列表
      tags:
      - calendar.event.attendee
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-attendee/list
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_HF9U2MbibE8PPpjro6xjqa@group.calendar.feishu.cn
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: 日程ID。参见[日程ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/introduction)
        example: 75d28f9b-e35c-4230-8a83-4a661497db54_0
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户id
            union_id: 以union_id来识别用户id
            open_id: 以open_id来识别用户id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: need_resource_customization
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要会议室表单信息
        example: 'true'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: |-
                                参与人类型，仅当新建参与人时可设置类型<br>
                                type为User时，值为open_id/user_id/union_id<br>
                                type为Chat时，值为open_chat_id<br>
                                type为Resource时，值为open_room_id<br>
                                type为ThirdParty时，值为third_party_email；不支持通过API新建该类型参与人
                              enum:
                              - user
                              - chat
                              - resource
                              - third_party
                              x-enum-descriptions:
                                user: 用户
                                chat: 群组
                                resource: 会议室
                                third_party: 邮箱
                            attendee_id:
                              type: string
                              description: 参与人ID
                              example: user_xxxxxx
                            rsvp_status:
                              type: string
                              description: 参与人RSVP状态
                              enum:
                              - needs_action
                              - accept
                              - tentative
                              - decline
                              - removed
                              x-enum-descriptions:
                                needs_action: 参与人尚未回复状态，或表示会议室预约中
                                accept: 参与人回复接受，或表示会议室预约成功
                                tentative: 参与人回复待定
                                decline: 参与人回复拒绝，或表示会议室预约失败
                                removed: 参与人或会议室已经从日程中被移除
                            is_optional:
                              type: boolean
                              description: 参与人是否为「可选参加」，无法编辑群参与人的此字段
                              default: false
                              example: 'false'
                            is_organizer:
                              type: boolean
                              description: 参与人是否为日程组织者
                              example: 'true'
                            is_external:
                              type: boolean
                              description: 参与人是否为外部参与人；外部参与人不支持编辑
                              example: 'false'
                            display_name:
                              type: string
                              description: 参与人名称
                              example: 张三
                            chat_members:
                              type: array
                              items:
                                $ref: '#/components/schemas/Item3'
                              description: 群中的群成员，当type为Chat时有效；群成员不支持编辑
                            user_id:
                              type: string
                              description: 参与人的用户id，依赖于user_id_type返回对应的取值，当is_external为true时，此字段只会返回open_id或者union_id
                            chat_id:
                              type: string
                              description: chat类型参与人的群组chat_id
                              example: oc_a0553eda9014c201e6969b478895c230
                              x-lark-id-types:
                                chat_id: chat
                            room_id:
                              type: string
                              description: resource类型参与人的会议室room_id
                              example: omm_83d09ad4f6896e02029a6a075f71c9d1
                            third_party_email:
                              type: string
                              description: third_party类型参与人的邮箱
                              example: test@example.com
                            operate_id:
                              type: string
                              description: bot身份操作时，为预定的会议室指定实际预定人
                              example: 4d7a3c6g
                            resource_customization:
                              type: array
                              items:
                                type: object
                                properties:
                                  index_key:
                                    type: string
                                    description: the unique key of customization option
                                    example: '16281481596100'
                                  input_content:
                                    type: string
                                    description: should be filled when the type of customization is input
                                    example: xxx
                                  options:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        option_key:
                                          type: string
                                          description: the option unique key
                                          example: '16281481596185'
                                        others_content:
                                          type: string
                                          description: should be filled if the option is others option
                                          example: xxx
                                    description: 选项
                                    example: 无
                                required:
                                - index_key
                              description: 会议室的个性化配置
                        description: 日程的参与者列表
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下次请求需要带上的分页标记，90 天有效期
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar:readonly
      - calendar:calendar
      - calendar:calendar.event:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190008
        httpCode: 400
        msg: page_token or sync_token expired
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190011
        httpCode: 403
        msg: tenant encrypt key has been deleted
      - code: 190012
        httpCode: 403
        msg: tenant decrypt key has been deleted
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 193000
        httpCode: 400
        msg: invalid event_id
      - code: 193001
        httpCode: 404
        msg: event not found
      - code: 193002
        httpCode: 403
        msg: no permission to operate event
      - code: 193003
        httpCode: 403
        msg: event is deleted
      - code: 194000
        httpCode: 404
        msg: attendee not found
      - code: 194001
        httpCode: 403
        msg: no permission to list event attendees
      - code: 194002
        httpCode: 403
        msg: no permission to create event attendees
      - code: 194003
        httpCode: 403
        msg: no permission to delete event attendees
      - code: 194004
        httpCode: 400
        msg: invalid attendee type
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: op_user_id
        section: 2
  /open-apis/calendar/v4/calendars/{calendar_id}/events/{event_id}/meeting_chat:
    post:
      operationId: calendar_calendar_event_meeting_chat_create
      summary: 创建会议群
      tags:
      - calendar.event.meeting_chat
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-meeting_chat/create
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID
        example: feishu.cn_HF9U2MbibE8PPpjro6xjqa@group.calendar.feishu.cn
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: 日程ID
        example: 75d28f9b-e35c-4230-8a83-4a661497db54_0
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      meeting_chat_id:
                        type: string
                        description: 会议群ID
                        example: oc_a0553eda9014c201e6969b478895c230
                      applink:
                        type: string
                        description: 群分享链接
                        example: https://applink.feishu.cn/client/chat/open?openChatId=oc_a0553eda9014c201e6969b478895c230
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar.event:update
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190011
        httpCode: 403
        msg: tenant encrypt key has been deleted
      - code: 190012
        httpCode: 403
        msg: tenant decrypt key has been deleted
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 193001
        httpCode: 404
        msg: event not found
      - code: 193002
        httpCode: 403
        msg: no permission to operate event
      - code: 193003
        httpCode: 403
        msg: event is deleted
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      - code: 195109
        httpCode: 400
        msg: event not support chat creation
      x-lark-rate-limit:
        tier: 4
    delete:
      operationId: calendar_calendar_event_meeting_chat_delete
      summary: 解绑会议群
      tags:
      - calendar.event.meeting_chat
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-meeting_chat/delete
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID
        example: feishu.cn_HF9U2MbibE8PPpjro6xjqa@group.calendar.feishu.cn
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: 日程ID
        example: 75d28f9b-e35c-4230-8a83-4a661497db54_0
      - name: meeting_chat_id
        in: query
        required: true
        schema:
          type: string
        description: 会议群ID
        example: oc_a0553eda9014c201e6969b478895c230
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar.event:update
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190011
        httpCode: 403
        msg: tenant encrypt key has been deleted
      - code: 190012
        httpCode: 403
        msg: tenant decrypt key has been deleted
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 193000
        httpCode: 400
        msg: invalid event_id
      - code: 193001
        httpCode: 404
        msg: event not found
      - code: 193002
        httpCode: 403
        msg: no permission to operate event
      - code: 193003
        httpCode: 403
        msg: event is deleted
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      - code: 195107
        httpCode: 403
        msg: no permission unbind meeting chat
      - code: 195108
        httpCode: 400
        msg: chat not match with event
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: meeting_chat_id
        section: 2
  /open-apis/calendar/v4/calendars/{calendar_id}/events/{event_id}/meeting_minute:
    post:
      operationId: calendar_calendar_event_meeting_minute_create
      summary: 创建会议纪要
      tags:
      - calendar.event.meeting_minute
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event-meeting_minute/create
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID
        example: feishu.cn_HF9U2MbibE8PPpjro6xjqa@group.calendar.feishu.cn
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: 日程ID
        example: 75d28f9b-e35c-4230-8a83-4a661497db54_0
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      doc_url:
                        type: string
                        description: 文档URL
                        example: https://bytedance.feishu.cn/docx/WCEZdjUSSoH5rvx6hEhcyMjxn6c
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar.event:update
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190011
        httpCode: 403
        msg: tenant encrypt key has been deleted
      - code: 190012
        httpCode: 403
        msg: tenant decrypt key has been deleted
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 193000
        httpCode: 400
        msg: invalid event_id
      - code: 193001
        httpCode: 404
        msg: event not found
      - code: 193002
        httpCode: 403
        msg: no permission to operate event
      - code: 193003
        httpCode: 403
        msg: event is deleted
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      - code: 195110
        httpCode: 400
        msg: event not support minute creation
      x-lark-rate-limit:
        tier: 4
  /open-apis/calendar/v4/calendars/{calendar_id}/events:
    post:
      operationId: calendar_calendar_event_create
      summary: 创建日程
      tags:
      - calendar.event
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/create
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_HF9U2MbibE8PPpjro6xjqa@group.calendar.feishu.cn
      - name: idempotency_key
        in: query
        required: false
        schema:
          type: string
        description: 幂等唯一key
        example: 25fdf41b-8c80-2ce1-e94c-de8b5e7aa7e6
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                summary:
                  type: string
                  description: 日程标题
                  example: 日程标题
                description:
                  type: string
                  description: 日程描述
                  example: 日程描述
                need_notification:
                  type: boolean
                  description: 是否发送通知消息
                  example: 'false'
                start_time:
                  type: object
                  properties:
                    date:
                      type: string
                      description: 仅全天日程使用该字段，如2018-09-01。需满足 RFC3339 格式。不能与 time_stamp 同时指定
                      example: '2018-09-01'
                    timestamp:
                      type: string
                      description: 秒级时间戳，如1602504000(表示2020/10/12 20:0:00 +8时区)
                      example: '1602504000'
                    timezone:
                      type: string
                      description: 时区名称，使用IANA Time Zone Database标准，如Asia/Shanghai；全天日程时区固定为UTC，非全天日程时区默认为Asia/Shanghai
                      example: Asia/Shanghai
                  description: 日程开始时间
                end_time:
                  type: object
                  properties:
                    date:
                      type: string
                      description: 仅全天日程使用该字段，如2018-09-01。需满足 RFC3339 格式。不能与 time_stamp 同时指定
                      example: '2018-09-01'
                    timestamp:
                      type: string
                      description: 秒级时间戳，如1602504000(表示2020/10/12 20:0:00 +8时区)
                      example: '1602504000'
                    timezone:
                      type: string
                      description: 时区名称，使用IANA Time Zone Database标准，如Asia/Shanghai；全天日程时区固定为UTC，非全天日程时区默认为Asia/Shanghai
                      example: Asia/Shanghai
                  description: 日程结束时间
                vchat:
                  allOf:
                  - $ref: '#/components/schemas/Vchat2'
                  description: 视频会议信息，仅当日程至少有一位attendee时生效
                visibility:
                  type: string
                  description: 日程公开范围，新建日程默认为Default；仅新建日程时对所有参与人生效，之后修改该属性仅对当前身份生效
                  enum:
                  - default
                  - public
                  - private
                  x-enum-descriptions:
                    default: 默认权限，仅向他人显示是否“忙碌”
                    public: 公开，显示日程详情
                    private: 私密，仅自己可见
                attendee_ability:
                  type: string
                  description: 参与人权限
                  enum:
                  - none
                  - can_see_others
                  - can_invite_others
                  - can_modify_event
                  x-enum-descriptions:
                    none: 无法编辑日程、无法邀请其它参与人、无法查看参与人列表
                    can_see_others: 无法编辑日程、无法邀请其它参与人、可以查看参与人列表
                    can_invite_others: 无法编辑日程、可以邀请其它参与人、可以查看参与人列表
                    can_modify_event: 可以编辑日程、可以邀请其它参与人、可以查看参与人列表
                free_busy_status:
                  type: string
                  description: 日程占用的忙闲状态，新建日程默认为Busy；仅新建日程时对所有参与人生效，之后修改该属性仅对当前身份生效
                  enum:
                  - busy
                  - free
                  x-enum-descriptions:
                    busy: 忙碌
                    free: 空闲
                location:
                  type: object
                  properties:
                    name:
                      type: string
                      description: 地点名称
                      example: 东方明珠
                    address:
                      type: string
                      description: 地点地址
                      example: 普通市和平区世纪大道1号
                    latitude:
                      type: number
                      description: 地点坐标纬度信息，对于国内的地点，采用GCJ-02标准，海外地点采用WGS84标准
                      example: '31.239702224731445'
                    longitude:
                      type: number
                      description: 地点坐标经度信息，对于国内的地点，采用GCJ-02标准，海外地点采用WGS84标准
                      example: '121.49971771240234'
                  description: 日程地点
                color:
                  type: integer
                  description: 日程颜色，颜色RGB值的int32表示。仅对当前身份生效；客户端展示时会映射到色板上最接近的一种颜色；值为0或-1时默认跟随日历颜色。
                  example: '0'
                reminders:
                  type: array
                  items:
                    type: object
                    properties:
                      minutes:
                        type: integer
                        description: |-
                          日程提醒时间的偏移量，正数时表示在日程开始前X分钟提醒，负数时表示在日程开始后X分钟提醒
                          新建或更新日程时传入该字段，仅对当前身份生效
                        example: '5'
                  description: 日程提醒列表
                recurrence:
                  type: string
                  description: 重复日程的重复性规则
                  example: FREQ=DAILY;INTERVAL=1
                schemas:
                  type: array
                  items:
                    type: object
                    properties:
                      ui_name:
                        type: string
                        description: UI项名称 TODO文档
                        example: xxx
                      ui_status:
                        type: string
                        description: UI项自定义状态
                        enum:
                        - hide
                        - readonly
                        - editable
                        - unknown
                        x-enum-descriptions:
                          hide: 隐藏显示
                          readonly: 只读
                          editable: 可编辑
                          unknown: 未知UI项自定义状态，仅用于读取时兼容
                      app_link:
                        type: string
                        description: 按钮点击后跳转的链接
                        example: xxxx
                  description: 日程自定义信息
                attachments:
                  type: array
                  items:
                    type: object
                    properties:
                      file_token:
                        type: string
                        description: 附件token
                        example: xAAAAA
                        x-lark-id-types:
                          file_token: ccm_file
                  description: 日程附件
                event_check_in:
                  allOf:
                  - $ref: '#/components/schemas/EventCheckIn'
                  description: 日程签到设置，为空则不进行日程签到设置
                description_rich:
                  type: string
                  description: 日程富文本描述
                  example: desc
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar.event:create
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190011
        httpCode: 403
        msg: tenant encrypt key has been deleted
      - code: 190012
        httpCode: 403
        msg: tenant decrypt key has been deleted
      - code: 190013
        httpCode: 400
        msg: content being saved is at risk
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 193000
        httpCode: 400
        msg: invalid event_id
      - code: 193001
        httpCode: 404
        msg: event not found
      - code: 193002
        httpCode: 403
        msg: no permission to operate event
      - code: 193003
        httpCode: 403
        msg: event is deleted
      - code: 193101
        httpCode: 400
        msg: organizer is bot, can not set assign_hosts, and allow_attendees_start must be true
      - code: 193102
        httpCode: 400
        msg: only organizer(not bot) can set assign_hosts
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      - code: 195112
        httpCode: 400
        msg: invalid password
      - code: 195113
        httpCode: 400
        msg: only organizer can set password
      - code: 193105
        httpCode: 400
        msg: invalid attachment file token
      - code: 193106
        httpCode: 400
        msg: the total size of attachment exceed limit
      - code: 193107
        httpCode: 400
        msg: no permission to access attachment file token
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.vchat.meeting_settings.owner_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.vchat.meeting_settings.assign_hosts[*]
        section: 0
    get:
      operationId: calendar_calendar_event_list
      summary: 获取日程列表
      tags:
      - calendar.event
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/list
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_HF9U2MbibE8PPpjro6xjqa@group.calendar.feishu.cn
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 500
        description: 一次请求要求返回最大数量，默认500，取值范围为[50, 1000]
      - name: anchor_time
        in: query
        required: false
        schema:
          type: string
        description: 拉取anchor_time之后的日程，为timestamp
        example: '1609430400'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 上次请求Response返回的分页标记，首次请求时为空
      - name: sync_token
        in: query
        required: false
        schema:
          type: string
        description: 上次请求Response返回的增量同步标记，分页请求未结束时为空
        example: ListCalendarsSyncToken_1632452910
      - name: start_time
        in: query
        required: false
        schema:
          type: string
        description: 日程开始Unix时间戳，单位为秒
        example: '1631777271'
      - name: end_time
        in: query
        required: false
        schema:
          type: string
        description: 日程结束Unix时间戳，单位为秒
        example: '1631777271'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下次请求需要带上的分页标记，90 天有效期
                      sync_token:
                        type: string
                        description: 下次请求需要带上的增量同步标记，90 天有效期
                        example: ListCalendarsSyncToken_1632452910
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            event_id:
                              type: string
                              description: 日程ID
                              example: 75d28f9b-e35c-4230-8a83-4a661497db54_0
                            organizer_calendar_id:
                              type: string
                              description: 日程组织者日历ID
                              example: feishu.cn_HF9U2MbibE8PPpjro6xjqa@group.calendar.feishu.cn
                            summary:
                              type: string
                              description: 日程标题
                              example: 日程标题
                            description:
                              type: string
                              description: 日程描述
                              example: 日程描述
                            start_time:
                              type: object
                              properties:
                                date:
                                  type: string
                                  description: 仅全天日程使用该字段，如2018-09-01。需满足 RFC3339 格式。不能与 time_stamp 同时指定
                                  example: '2018-09-01'
                                timestamp:
                                  type: string
                                  description: 秒级时间戳，如1602504000(表示2020/10/12 20:0:00 +8时区)
                                  example: '1602504000'
                                timezone:
                                  type: string
                                  description: 时区名称，使用IANA Time Zone Database标准，如Asia/Shanghai；全天日程时区固定为UTC，非全天日程时区默认为Asia/Shanghai
                                  example: Asia/Shanghai
                              description: 日程开始时间
                            end_time:
                              type: object
                              properties:
                                date:
                                  type: string
                                  description: 仅全天日程使用该字段，如2018-09-01。需满足 RFC3339 格式。不能与 time_stamp 同时指定
                                  example: '2018-09-01'
                                timestamp:
                                  type: string
                                  description: 秒级时间戳，如1602504000(表示2020/10/12 20:0:00 +8时区)
                                  example: '1602504000'
                                timezone:
                                  type: string
                                  description: 时区名称，使用IANA Time Zone Database标准，如Asia/Shanghai；全天日程时区固定为UTC，非全天日程时区默认为Asia/Shanghai
                                  example: Asia/Shanghai
                              description: 日程结束时间
                            vchat:
                              allOf:
                              - $ref: '#/components/schemas/Vchat3'
                              description: 视频会议信息，仅当日程至少有一位attendee时生效
                            visibility:
                              type: string
                              description: 日程公开范围，新建日程默认为Default；仅新建日程时对所有参与人生效，之后修改该属性仅对当前身份生效
                              enum:
                              - default
                              - public
                              - private
                              x-enum-descriptions:
                                default: 默认权限，仅向他人显示是否“忙碌”
                                public: 公开，显示日程详情
                                private: 私密，仅自己可见
                            attendee_ability:
                              type: string
                              description: 参与人权限
                              enum:
                              - none
                              - can_see_others
                              - can_invite_others
                              - can_modify_event
                              x-enum-descriptions:
                                none: 无法编辑日程、无法邀请其它参与人、无法查看参与人列表
                                can_see_others: 无法编辑日程、无法邀请其它参与人、可以查看参与人列表
                                can_invite_others: 无法编辑日程、可以邀请其它参与人、可以查看参与人列表
                                can_modify_event: 可以编辑日程、可以邀请其它参与人、可以查看参与人列表
                            free_busy_status:
                              type: string
                              description: 日程占用的忙闲状态，新建日程默认为Busy；仅新建日程时对所有参与人生效，之后修改该属性仅对当前身份生效
                              enum:
                              - busy
                              - free
                              x-enum-descriptions:
                                busy: 忙碌
                                free: 空闲
                            location:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: 地点名称
                                  example: 东方明珠
                                address:
                                  type: string
                                  description: 地点地址
                                  example: 普通市和平区世纪大道1号
                                latitude:
                                  type: number
                                  description: 地点坐标纬度信息，对于国内的地点，采用GCJ-02标准，海外地点采用WGS84标准
                                  example: '31.239702224731445'
                                longitude:
                                  type: number
                                  description: 地点坐标经度信息，对于国内的地点，采用GCJ-02标准，海外地点采用WGS84标准
                                  example: '121.49971771240234'
                              description: 日程地点
                            color:
                              type: integer
                              description: 日程颜色，颜色RGB值的int32表示。仅对当前身份生效；客户端展示时会映射到色板上最接近的一种颜色；值为0或-1时默认跟随日历颜色。
                              example: '0'
                            reminders:
                              type: array
                              items:
                                type: object
                                properties:
                                  minutes:
                                    type: integer
                                    description: |-
                                      日程提醒时间的偏移量，正数时表示在日程开始前X分钟提醒，负数时表示在日程开始后X分钟提醒
                                      新建或更新日程时传入该字段，仅对当前身份生效
                                    example: '5'
                              description: 日程提醒列表
                            recurrence:
                              type: string
                              description: 重复日程的重复性规则
                              example: FREQ=DAILY;INTERVAL=1
                            status:
                              type: string
                              description: 日程状态
                              enum:
                              - tentative
                              - confirmed
                              - cancelled
                              x-enum-descriptions:
                                tentative: 未回应
                                confirmed: 已确认
                                cancelled: 日程已取消
                            is_exception:
                              type: boolean
                              description: 日程是否是一个重复日程的例外日程
                              example: 'false'
                            recurring_event_id:
                              type: string
                              description: 例外日程的原重复日程的event_id
                              example: 75d28f9b-e35c-4230-8a83-4a661497db54_0
                            create_time:
                              type: string
                              description: 日程的创建时间戳
                              example: '1675612800'
                            schemas:
                              type: array
                              items:
                                type: object
                                properties:
                                  ui_name:
                                    type: string
                                    description: UI项名称 TODO文档
                                    example: xxx
                                  ui_status:
                                    type: string
                                    description: UI项自定义状态
                                    enum:
                                    - hide
                                    - readonly
                                    - editable
                                    - unknown
                                    x-enum-descriptions:
                                      hide: 隐藏显示
                                      readonly: 只读
                                      editable: 可编辑
                                      unknown: 未知UI项自定义状态，仅用于读取时兼容
                                  app_link:
                                    type: string
                                    description: 按钮点击后跳转的链接
                                    example: xxxx
                              description: 日程自定义信息
                            event_organizer:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                  description: 日程组织者user ID
                                  example: ou_xxxxxx
                                display_name:
                                  type: string
                                  description: 日程组织者姓名
                                  example: 孙二二
                              description: 日程组织者信息
                            app_link:
                              type: string
                              description: 日程的app_link,跳转到具体的某个日程
                              example: https://applink.larkoffice.com/client/calendar/event/detail?calendarId=7039673579105026066&key=aeac9c56-aeb1-4179-a21b-02f278f59048&originalTime=0&startTime=1700496000
                            attachments:
                              type: array
                              items:
                                type: object
                                properties:
                                  file_token:
                                    type: string
                                    description: 附件token
                                    example: xAAAAA
                                    x-lark-id-types:
                                      file_token: ccm_file
                                  file_size:
                                    type: string
                                    description: 附件大小
                                    example: '2345'
                                  name:
                                    type: string
                                    description: 附件名称
                                    example: 附件.jpeg
                              description: 日程附件
                            self_rsvp_status:
                              type: string
                              description: 当前日历的RSVP状态
                              enum:
                              - needs_action
                              - accept
                              - tentative
                              - decline
                              - removed
                              x-enum-descriptions:
                                needs_action: 参与人尚未回复状态，或表示会议室预约中
                                accept: 参与人回复接受，或表示会议室预约成功
                                tentative: 参与人回复待定
                                decline: 参与人回复拒绝，或表示会议室预约失败
                                removed: 参与人或会议室已经从日程中被移除
                            description_rich:
                              type: string
                              description: 日程富文本描述
                              example: desc
                          required:
                          - event_id
                          - start_time
                          - end_time
                        description: 日程列表
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar:readonly
      - calendar:calendar
      - calendar:calendar.event:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190008
        httpCode: 400
        msg: page_token or sync_token expired
      - code: 190009
        httpCode: 400
        msg: sync token cannot be used with other request restrictions
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 193000
        httpCode: 400
        msg: invalid event_id
      - code: 193001
        httpCode: 404
        msg: event not found
      - code: 193002
        httpCode: 403
        msg: no permission to operate event
      - code: 193003
        httpCode: 403
        msg: event is deleted
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: op_user_id
        section: 2
  /open-apis/calendar/v4/calendars/{calendar_id}/events/{event_id}:
    delete:
      operationId: calendar_calendar_event_delete
      summary: 删除日程
      tags:
      - calendar.event
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/delete
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: 日程ID。参见[日程ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/introduction)
        example: 75d28f9b-e35c-4230-8a83-4a661497db54_0
      - name: need_notification
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          x-enum-descriptions:
            'true': 发送通知
            'false': 不发送通知
        description: 删除日程是否给日程参与人发送bot通知，默认为true
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - calendar:calendar
      - calendar:calendar.event:writeonly
      - calendar:calendar.event:delete
      x-lark-error-mappings:
      - code: 190002
        httpCode: 400
        msg: invalid parameters in request
      - code: 190003
        httpCode: 500
        msg: internal service error
      - code: 190004
        httpCode: 429
        msg: method rate limited
      - code: 190005
        httpCode: 429
        msg: app rate limited
      - code: 190006
        httpCode: 403
        msg: wrong unit for app tenant
      - code: 190007
        httpCode: 404
        msg: app bot_id not found
      - code: 190010
        httpCode: 429
        msg: current operation rate limited
      - code: 190014
        httpCode: 400
        msg: invalid request parameters. check details for more info.
      - code: 191000
        httpCode: 404
        msg: calendar not found
      - code: 191001
        httpCode: 400
        msg: invalid calendar_id
      - code: 191002
        httpCode: 403
        msg: no calendar access_role
      - code: 191003
        httpCode: 403
        msg: calendar is deleted
      - code: 191004
        httpCode: 403
        msg: invalid calendar type
      - code: 193000
        httpCode: 400
        msg: invalid event_id
      - code: 193001
        httpCode: 404
        msg: event not found
      - code: 193002
        httpCode: 403
        msg: no permission to operate event
      - code: 193003
        httpCode: 403
        msg: event is deleted
      - code: 195100
        httpCode: 404
        msg: user is dismiss or not exist in the tenant
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: calendar_calendar_event_get
      summary: 获取日程
      tags:
      - calendar.event
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/get
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: 日历ID。参见[日历ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)
        example: feishu.cn_HF9U2MbibE8PPpjro6xjqa@group.calendar.feishu.cn
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: 日程ID。参见[日程ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar-event/introduction)
        example: 75d28f9b-e35c-4230-8a83-4a661497db54_0
      - name: need_meeting_settings
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要返回会前设置
        example: 'false'
      - name: need_attendee
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要返回参与人信息
        example: 'false'
      - name: max_attendee_num
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 返回的最大参与人数量
        example: 'false'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      event:
                        type: object
                        properties:
                          event_id:
                            type: string
                            description: 日程ID
                            example: 75d28f9b-e35c-4230-8a83-4a661497db54_0
                          organizer_calendar_id:
                            type: string
                            description: 日程组织者日历ID
                            example: feishu.cn_HF9U2MbibE8PPpjro6xjqa@group.calendar.feishu.cn
                          summary:
                            type: string
                            description: 日程标题
                            example: 日程标题
                          description:
                            type: string
[...]
