# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 通讯录 API
  description: |-
    人员搜索、查询

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: contact
  x-lark-service-api-version: v2
  x-lark-registry-version: 1.0.0
  x-lark-generated-at: '2026-07-19T00:03:55Z'
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: user_profiles
paths:
  /open-apis/profile/v2/user_profiles/batch_query:
    post:
      operationId: contact_user_profiles_batch_query
      summary: 批量获取用户个人资料（个人状态、个性签名）
      tags:
      - user_profiles
      description: '批量获取用户个人资料（个人状态、个性签名）。Identity: `user` only (`user_access_token`).'
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=batch_query&project=profile&resource=user_profile&version=v2
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 用户id类型 open_id/user_id/union_id
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query_option:
                  type: object
                  properties:
                    include_description:
                      type: boolean
                      description: 是否返回 description
                      example: false
                    include_personal_status:
                      type: boolean
                      description: 是否返回 personal_status
                      example: false
                  description: 控制返回字段
                user_ids:
                  type: array
                  items: {}
                  description: 用户列表
              required:
              - user_ids
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      user_profiles:
                        type: array
                        items:
                          type: object
                          properties:
                            description:
                              type: object
                              properties:
                                default_locale:
                                  type: string
                                  description: 默认语种，例如 zh_cn / ja_jp / en_us
                                  example: zh_cn
                                default_value:
                                  type: string
                                  description: 默认值；允许为空字符串，表示真实为空
                                  example: 张三
                                i18n_value:
                                  type: object
                                  properties: {}
                                  description: 国际化签名
                              description: 个性签名，当请求参数 include_description=true 时返回
                            personal_status:
                              type: object
                              properties:
                                effective_interval:
                                  type: object
                                  properties: {}
                                  description: 生效区间（当前时间命中该区间表示状态处于生效中）
                                i18n_title:
                                  type: object
                                  properties: {}
                                  description: 国际化名称，长度 1-40（按 rune 计）
                                icon_key:
                                  type: string
                                  description: 状态图标标识
                                  example: GeneralInMeetingBusy
                                is_not_disturb_mode:
                                  type: boolean
                                  description: 状态生效时是否联动开启勿扰模式
                                personal_status_id:
                                  type: string
                                  description: 个人状态 ID
                                  example: '123456789'
                                title:
                                  type: string
                                  description: 个人状态名称，长度 1-40（按 rune 计）
                                  example: 会议中
                              description: 个人状态，当请求参数 include_personal_status=true 时返回
                            user_id:
                              type: string
                              description: 用户id
                        description: 个人信息列表
                    required:
                    - user_profiles
      x-lark-method-id: user_profiles.batch_query
      x-lark-scopes:
      - profile:user_profile:read
      x-lark-access-tokens:
      - user
      x-lark-risk: read
      x-lark-danger: true
