# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · corehr API（全量）
  description: |-
    飞书开放平台 `corehr` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.0+47750849
  x-lark-project: corehr
  x-lark-track: full (official API Explorer)
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: assigned_user
- name: authorization
- name: common_data.id
- name: common_data.meta_data
- name: company
- name: compensation_standard
- name: contract
- name: country_region
- name: currency
- name: custom_field
- name: department
- name: employee_type
- name: employment
- name: file
- name: job
- name: job_change
- name: job_data
- name: job_family
- name: job_level
- name: leave
- name: leave_granting_record
- name: location
- name: national_id_type
- name: offboarding
- name: person
- name: pre_hire
- name: process.form_variable_data
- name: security_group
- name: subdivision
- name: subregion
- name: transfer_reason
- name: transfer_type
- name: working_hours_type
- name: approval_groups
- name: approver
- name: basic_info.bank
- name: basic_info.bank_branch
- name: basic_info.city
- name: basic_info.country_region
- name: basic_info.country_region_subdivision
- name: basic_info.currency
- name: basic_info.district
- name: basic_info.language
- name: basic_info.nationality
- name: basic_info.time_zone
- name: bp
- name: cost_allocation
- name: cost_center.version
- name: cost_center
- name: custom_org
- name: default_cost_center
- name: draft
- name: employee.custom_org
- name: employee
- name: employees.additional_job
- name: employees.bp
- name: employees.international_assignment
- name: employees.job_data
- name: enum
- name: job_grade
- name: location.address
- name: pathway
- name: position
- name: probation.assessment
- name: probation
- name: process.approver
- name: process.extra
- name: process.query_flow_data_template
- name: process.transfer
- name: process
- name: process_revoke
- name: process_start
- name: process_withdraw
- name: report_detail_row
- name: signature_file
- name: signature_node
- name: signature_template
- name: signature_template_info_with_thumbnail
- name: workforce_plan
- name: workforce_plan_detail
- name: workforce_plan_detail_row
paths:
  /open-apis/corehr/v1/assigned_users/search:
    post:
      operationId: corehr_assigned_user_search
      summary: 获取组织类角色授权列表
      tags:
      - assigned_user
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/assigned_user/search
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_corehr_id
          x-enum-descriptions:
            user_id: 以 user_id 来识别用户
            union_id: 以 union_id 来识别用户
            open_id: 以 open_id 来识别用户
            people_corehr_id: 以飞书人事的 ID 来识别用户
          default: people_corehr_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户 ID 类型
        example: people_corehr_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role_id:
                  type: string
                  description: 角色 ID，仅支持组织类角色， 角色 ID 可通过【批量获取角色列表】接口获取
                  example: '100'
                management_scope_list:
                  type: array
                  items:
                    type: object
                    properties:
                      management_dimension:
                        type: string
                        description: 管理维度
                        example: department
                      obj_id:
                        type: string
                        description: 被授权管理维度对象ID
                        example: '6967286856077673991'
                    required:
                    - management_dimension
                    - obj_id
                  description: 管理范围信息
                search_method:
                  type: string
                  description: |-
                    查找方式

                    可选值有：
                    - 1：只查找指定 部门/工作地点/公司/社保城市，如无授权信息则返回为空
                    - 2：当指定的 部门/工作地点/公司/社保城市 无授权信息，向上查找第一个授权记录并直接返回
                  example: '100'
                page_token:
                  type: string
                  description: 页码标识，获取第一页传空，每次查询会返回下一页的page_token
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
                page_size:
                  type: string
                  description: 每页获取记录数量，最大100
                  example: '100'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            employment_id:
                              type: string
                              description: 雇员 ID
                              example: '6967639606963471902'
                            management_scope_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  management_dimension:
                                    type: string
                                    description: 管理维度
                                    example: department
                                  obj_id:
                                    type: string
                                    description: 被授权管理维度对象ID
                                    example: '6967286856077673991'
                                required:
                                - management_dimension
                                - obj_id
                              description: 实际授权管理范围
                          required:
                          - employment_id
                        description: 用户授权信息
                      has_more:
                        type: boolean
                        description: 是否有下一页
                        example: 'true'
                      page_token:
                        type: string
                        description: 下一页页码
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      - corehr:corehr:readonly
      - corehr:authorization:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1161401
        httpCode: 400
        msg: ''
      - code: 1161402
        httpCode: 400
        msg: ''
      - code: 1161403
        httpCode: 400
        msg: ''
      - code: 1161404
        httpCode: 400
        msg: ''
      - code: 1161406
        httpCode: 400
        msg: ''
      - code: 1161501
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 7
  /open-apis/corehr/v1/authorizations/add_role_assign:
    post:
      operationId: corehr_authorization_add_role_assign
      summary: 为用户授权角色
      tags:
      - authorization
      description: 追加更新组织类授权
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/authorization/add_role_assign
      parameters:
      - name: employment_id
        in: query
        required: true
        schema:
          type: string
        description: 雇员 ID
        example: '67489937334909845'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_corehr_id
          x-enum-descriptions:
            user_id: 以 user_id 来识别用户
            union_id: 以 union_id 来识别用户
            open_id: 以 open_id 来识别用户
            people_corehr_id: 以飞书人事的 ID 来识别用户
          default: people_corehr_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户 ID 类型
        example: people_corehr_id
      - name: role_id
        in: query
        required: true
        schema:
          type: string
        description: 角色 ID
        example: '67489937334909845'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assigned_organization_items:
                  type: array
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        org_key:
                          type: string
                          description: 管理对象key
                          example: department
                        org_ids:
                          type: array
                          items:
                            type: string
                          description: 管理对象id列表
                        org_codes:
                          type: array
                          items:
                            type: string
                          description: 管理对象code列表
                      required:
                      - org_key
                  description: 授权
                  example: '67489937334909845'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      assign_id:
                        type: string
                        description: 授权id
                        example: '67489937334909845'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:authorization:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1161401
        httpCode: 400
        msg: ''
      - code: 1161404
        httpCode: 400
        msg: ''
      - code: 1161405
        httpCode: 400
        msg: ''
      - code: 1161501
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: employment_id
        section: 2
  /open-apis/corehr/v1/authorizations/get_by_param:
    get:
      operationId: corehr_authorization_get_by_param
      summary: 查询单个用户授权
      tags:
      - authorization
      description: 根据ID查询单个用户授权
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/authorization/get_by_param
      parameters:
      - name: employment_id
        in: query
        required: true
        schema:
          type: string
        description: 雇员 ID
        example: '67489937334909845'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_corehr_id
          x-enum-descriptions:
            user_id: 以 user_id 来识别用户
            union_id: 以 union_id 来识别用户
            open_id: 以 open_id 来识别用户
            people_corehr_id: 以飞书人事的 ID 来识别用户
          default: people_corehr_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户 ID 类型
        example: people_corehr_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      role_authorization:
                        type: object
                        properties:
                          employment_id:
                            type: string
                            description: 雇员 ID
                            example: '6967639606963471902'
                          permission_detail_list:
                            type: array
                            items:
                              type: object
                              properties:
                                role:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: 角色ID
                                      example: '7034393015968122400'
                                    code:
                                      type: string
                                      description: 角色code
                                      example: department_manager
                                    name:
                                      type: object
                                      properties:
                                        zh_cn:
                                          type: string
                                          description: 中文
                                          example: cn
                                        en_us:
                                          type: string
                                          description: 英文
                                          example: en
                                      description: 角色名称
                                    description:
                                      type: object
                                      properties:
                                        zh_cn:
                                          type: string
                                          description: 中文
                                          example: cn
                                        en_us:
                                          type: string
                                          description: 英文
                                          example: en
                                      description: 角色描述
                                    org_truncation:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          org_key:
                                            type: string
                                            description: 组织名称
                                            example: department
                                          type:
                                            type: integer
                                            description: 下钻类型
                                            example: '0'
                                          depth:
                                            type: integer
                                            description: 下钻深度
                                            example: '0'
                                      description: 组织管理维度
                                  required:
                                  - id
                                  - code
                                  description: 角色
                                assigned_organization_list:
                                  type: array
                                  items:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        org_key:
                                          type: string
                                          description: 管理对象key
                                          example: department
                                        org_name:
                                          type: object
                                          properties:
                                            zh_cn:
                                              type: string
                                              description: 中文
                                              example: cn
                                            en_us:
                                              type: string
                                              description: 英文
                                              example: en
                                          description: 管理对象名称
                                        org_id_list:
                                          type: array
                                          items:
                                            type: string
                                          description: 管理对象id列表
                                      required:
                                      - org_key
                                      - org_id_list
                                  description: 指定管理对象列表，如果该值为null，则使用设置数据权限
                                grantor_rule_list:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/Item47'
                                  description: 设置数据权限，如果该值为null，则使用指定管理对象列表
                                update_time:
                                  type: string
                                  description: 更新时间
                                  example: '1641883226867361'
                            description: 授权列表
                        required:
                        - employment_id
                        - permission_detail_list
                        description: 角色授权信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      - corehr:corehr:readonly
      - corehr:authorization:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1161404
        httpCode: 400
        msg: ''
      - code: 1161501
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 2
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: employment_id
        section: 2
  /open-apis/corehr/v1/authorizations/query:
    get:
      operationId: corehr_authorization_query
      summary: 批量查询用户授权
      tags:
      - authorization
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/authorization/query
      parameters:
      - name: employment_id_list
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 员工ID列表，最大100个（不传则默认查询全部员工）
      - name: role_id_list
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 角色 ID 列表，最大 100 个
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 页码标识，获取第一页传空，每次查询会返回下一页的page_token
        example: '6969864184272078374'
      - name: page_size
        in: query
        required: false
        schema:
          type: string
        description: 每页获取记录数量，最大20
        example: '20'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_corehr_id
          x-enum-descriptions:
            user_id: 以 user_id 来识别用户
            union_id: 以 union_id 来识别用户
            open_id: 以 open_id 来识别用户
            people_corehr_id: 以飞书人事的 ID 来识别用户
          default: people_corehr_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户 ID 类型
        example: people_corehr_id
      - name: updated_at_gte
        in: query
        required: false
        schema:
          type: string
        description: 授权时间大于
        example: '1729773628'
      - name: updated_at_lte
        in: query
        required: false
        schema:
          type: string
        description: 授权时间小于
        example: '1729773628'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            employment_id:
                              type: string
                              description: 雇员 ID
                              example: '6967639606963471902'
                            permission_detail_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  role:
                                    allOf:
                                    - $ref: '#/components/schemas/Role'
                                    description: 角色
                                  assigned_organization_list:
                                    type: array
                                    items:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          org_key:
                                            type: string
                                            description: 管理对象key
                                            example: department
                                          org_name:
                                            type: object
                                            properties:
                                              zh_cn:
                                                type: string
                                                description: 中文
                                                example: cn
                                              en_us:
                                                type: string
                                                description: 英文
                                                example: en
                                            description: 管理对象名称
                                          org_id_list:
                                            type: array
                                            items:
                                              type: string
                                            description: 管理对象id列表
                                        required:
                                        - org_key
                                        - org_id_list
                                    description: 指定管理对象列表，如果该值为null，则使用设置数据权限
                                  grantor_rule_list:
                                    type: array
                                    items:
                                      $ref: '#/components/schemas/Item47'
                                    description: 设置数据权限，如果该值为null，则使用指定管理对象列表
                                  update_time:
                                    type: string
                                    description: 更新时间
                                    example: '1641883226867361'
                              description: 授权列表
                          required:
                          - employment_id
                          - permission_detail_list
                        description: 查询的用户授权信息
                      has_more:
                        type: boolean
                        description: 是否有下一页
                        example: 'true'
                      page_token:
                        type: string
                        description: 下一页页码
                        example: '1234452132'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      - corehr:corehr:readonly
      - corehr:authorization:read
      - corehr:authorization:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1161401
        httpCode: 400
        msg: ''
      - code: 1161402
        httpCode: 400
        msg: ''
      - code: 1161403
        httpCode: 400
        msg: ''
      - code: 1161501
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: employment_id_list
        section: 2
  /open-apis/corehr/v1/authorizations/remove_role_assign:
    post:
      operationId: corehr_authorization_remove_role_assign
      summary: 移除用户被授权的角色
      tags:
      - authorization
      description: 删除组织类授权
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/authorization/remove_role_assign
      parameters:
      - name: employment_id
        in: query
        required: true
        schema:
          type: string
        description: 雇员 ID
        example: '67489937334909845'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_corehr_id
          x-enum-descriptions:
            user_id: 以 user_id 来识别用户
            union_id: 以 union_id 来识别用户
            open_id: 以 open_id 来识别用户
            people_corehr_id: 以飞书人事的 ID 来识别用户
          default: people_corehr_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户 ID 类型
        example: people_corehr_id
      - name: role_id
        in: query
        required: true
        schema:
          type: string
        description: 角色 ID
        example: '67489937334909845'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      assign_id:
                        type: string
                        description: 授权id
                        example: '67489937334909845'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:authorization:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1161401
        httpCode: 400
        msg: ''
      - code: 1161404
        httpCode: 400
        msg: ''
      - code: 1161501
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: employment_id
        section: 2
  /open-apis/corehr/v1/authorizations/update_role_assign:
    post:
      operationId: corehr_authorization_update_role_assign
      summary: 更新用户被授权的数据范围
      tags:
      - authorization
      description: 覆盖更新组织类授权
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/authorization/update_role_assign
      parameters:
      - name: employment_id
        in: query
        required: true
        schema:
          type: string
        description: 雇员 ID
        example: '67489937334909845'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_corehr_id
          x-enum-descriptions:
            user_id: 以 user_id 来识别用户
            union_id: 以 union_id 来识别用户
            open_id: 以 open_id 来识别用户
            people_corehr_id: 以飞书人事的 ID 来识别用户
          default: people_corehr_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户 ID 类型
        example: people_corehr_id
      - name: role_id
        in: query
        required: true
        schema:
          type: string
        description: 角色 ID
        example: '67489937334909845'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assigned_organization_items:
                  type: array
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        org_key:
                          type: string
                          description: 管理对象key
                          example: department
                        org_ids:
                          type: array
                          items:
                            type: string
                          description: 管理对象id列表
                        org_codes:
                          type: array
                          items:
                            type: string
                          description: 管理对象code列表
                      required:
                      - org_key
                  description: 授权
                  example: '67489937334909845'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      assign_id:
                        type: string
                        description: 授权id
                        example: '67489937334909845'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:authorization:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1161401
        httpCode: 400
        msg: ''
      - code: 1161404
        httpCode: 400
        msg: ''
      - code: 1161405
        httpCode: 400
        msg: ''
      - code: 1161501
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 2
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: employment_id
        section: 2
  /open-apis/corehr/v1/common_data/id/convert:
    post:
      operationId: corehr_common_data_id_convert
      summary: ID 转换
      tags:
      - common_data.id
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/common_data-id/convert
      parameters:
      - name: id_transform_type
        in: query
        required: true
        schema:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
          x-enum-descriptions:
            '1': 飞书人事 -> 飞书通讯录
            '2': 飞书通讯录 -> 飞书人事
            '3': people admin -> 飞书人事
            '4': people admin -> 飞书通讯录
        description: ID 转换类型
        example: '1'
      - name: id_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - user_id
          - department_id
          - job_level_id
          - job_family_id
          - employee_type_id
          x-enum-descriptions:
            user_id: 员工ID，当选择 user_id 且 id_transform_type 为 1、2、4 时，feishu_user_id_type 必填
            department_id: 部门ID，当选择 department_id 且 id_transform_type 为 1、2、4 时，feishu_department_id_type 必填
            job_level_id: 职级ID
            job_family_id: 序列ID
            employee_type_id: 人员类型ID
        description: 要转换的ID类型
        example: employment_id
      - name: feishu_user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以 user_id 来识别用户
            union_id: 以 union_id 来识别用户
            open_id: 以 open_id 来识别用户
          default: open_id
        description: 用户 ID 类型
        example: open_id
      - name: feishu_department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_department_id
          - department_id
          x-enum-descriptions:
            open_department_id: 以 open_department_id 来标识部门
            department_id: 以 department_id 来标识部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 类型
        example: open_department_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  description: ID 列表（最多传入 100 个 ID，ID 长度限制 50 个字符）
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 传入的 ID
                              example: '7224321696097404460'
                            target_id:
                              type: string
                              description: 目标 ID 值
                              example: '7224321696097404461'
                        description: ID 信息列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:common_data.id.convert:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1160001
        httpCode: 400
        msg: Param Invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/corehr/v1/common_data/meta_data/add_enum_option:
    post:
      operationId: corehr_common_data_meta_data_add_enum_option
      summary: 增加字段枚举值选项
      tags:
      - common_data.meta_data
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/common_data-meta_data/add_enum_option
      parameters:
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 根据 client_token 是否一致来判断是否为同一请求
        example: '6727817538283013641'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                object_api_name:
                  type: string
                  description: 所属对象 API name，可通过[获取飞书人事对象列表](https://open.feishu.cn/document/server-docs/corehr-v1/basic-infomation/custom_field/list_object_api_name)接口中返回的
                    `object_api_name` 字段获取
                  example: probation_management
                enum_field_api_name:
                  type: string
                  description: 枚举字段 API name，可通过[获取自定义字段列表](https://open.feishu.cn/document/server-docs/corehr-v1/basic-infomation/custom_field/query)接口中返回的
                    `custom_api_name` 字段获取
                  example: final_assessment_grade
                enum_field_options:
                  type: array
                  items:
                    type: object
                    properties:
                      option_api_name:
                        type: string
                        description: 枚举值选项 API Name，即选项的唯一标识
                        example: grade_e
                      name:
                        type: object
                        properties:
                          zh_cn:
                            type: string
                            description: 中文
                            example: cn
                          en_us:
                            type: string
                            description: 英文
                            example: en
                        description: 选项名称（需填写至少一个语种）
                    required:
                    - option_api_name
                    - name
                  description: 新增枚举选项列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema34'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:common_data.meta_data:write
      x-lark-error-mappings:
      - code: 1161999
        httpCode: 500
        msg: System error. Please try again later or contact technical support.
      - code: 1160004
        httpCode: 400
        msg: client_token repeat
      - code: 1162010
        httpCode: 400
        msg: object does not exist
      - code: 1162020
        httpCode: 400
        msg: field does not exist
      - code: 1162030
        httpCode: 500
        msg: enum set does not exist
      - code: 1162032
        httpCode: 400
        msg: the enum option api name already exists
      - code: 1162041
        httpCode: 400
        msg: invalid enum option api name
      - code: 1162034
        httpCode: 400
        msg: the associated enum set does not support changes yet
      x-lark-rate-limit:
        tier: 3
  /open-apis/corehr/v1/common_data/meta_data/edit_enum_option:
    post:
      operationId: corehr_common_data_meta_data_edit_enum_option
      summary: 修改字段枚举值选项
      tags:
      - common_data.meta_data
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/common_data-meta_data/edit_enum_option
      parameters:
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 根据 client_token 是否一致来判断是否为同一请求
        example: '6727817538283013641'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                object_api_name:
                  type: string
                  description: 所属对象 API name，可通过[获取飞书人事对象列表](https://open.feishu.cn/document/server-docs/corehr-v1/basic-infomation/custom_field/list_object_api_name)接口中返回的
                    `object_api_name` 字段获取
                  example: probation_management
                enum_field_api_name:
                  type: string
                  description: 枚举字段 API name，可通过[获取自定义字段列表](https://open.feishu.cn/document/server-docs/corehr-v1/basic-infomation/custom_field/query)接口中返回的
                    `custom_api_name` 字段获取
                  example: final_assessment_grade
                enum_field_option:
                  type: object
                  properties:
                    option_api_name:
                      type: string
                      description: 枚举值选项 API Name，即选项的唯一标识
                      example: grade_e
                    active:
                      type: boolean
                      description: 是否启用
                      example: 'true'
                    name:
                      type: object
                      properties:
                        zh_cn:
                          type: string
                          description: 中文
                          example: cn
                        en_us:
                          type: string
                          description: 英文
                          example: en
                      description: 选项名称（需填写至少一个语种）
                  required:
                  - option_api_name
                  - active
                  - name
                  description: 枚举选项
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema34'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:common_data.meta_data:write
      x-lark-error-mappings:
      - code: 1161999
        httpCode: 500
        msg: System error. Please try again later or contact technical support.
      - code: 1160004
        httpCode: 400
        msg: client_token repeat
      - code: 1162010
        httpCode: 400
        msg: object does not exist
      - code: 1162020
        httpCode: 400
        msg: field does not exist
      - code: 1162023
        httpCode: 400
        msg: the type of field does not match
      - code: 1162030
        httpCode: 500
        msg: enum set does not exist
      - code: 1162032
        httpCode: 400
        msg: the enum option api name already exists
      - code: 1162034
        httpCode: 400
        msg: the associated enum set does not support changes yet
      - code: 1162040
        httpCode: 400
        msg: enum option does not exist
      x-lark-rate-limit:
        tier: 3
  /open-apis/corehr/v1/companies:
    post:
      operationId: corehr_company_create
      summary: 创建公司
      tags:
      - company
      description: 创建公司数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/company/create
      parameters:
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 根据client_token是否一致来判断是否为同一请求
        example: '12454646'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                hiberarchy_common:
                  type: object
                  properties:
                    parent_id:
                      type: string
                      description: 上级组织
                      example: '4719168654814483759'
                    name:
                      type: array
                      items:
                        type: object
                        properties:
                          lang:
                            type: string
                            description: 语言
                            example: zh-CN
                          value:
                            type: string
                            description: 内容
                            example: 刘梓新
                        required:
                        - lang
                        - value
                      description: 名称
                    active:
                      type: boolean
                      description: 启用
                      example: 'true'
                    effective_time:
                      type: string
                      description: 生效时间
                      example: '2020-05-01 00:00:00'
                    code:
                      type: string
                      description: 编码
                      example: '12456'
                    description:
                      type: array
                      items:
                        type: object
                        properties:
                          lang:
                            type: string
                            description: 语言
                            example: zh-CN
                          value:
                            type: string
                            description: 内容
                            example: 刘梓新
                        required:
                        - lang
                        - value
                      description: 描述
                    custom_fields:
                      type: array
                      items:
                        type: object
                        properties:
                          field_name:
                            type: string
                            description: 字段名
                            example: name
                          value:
                            type: string
                            description: 字段值，是json转义后的字符串，根据元数据定义不同，字段格式不同(123, 123.23, true, [\"id1\",\"id2\], 2006-01-02
                              15:04:05])
                            example: Sandy
                        required:
                        - field_name
                        - value
                      description: 自定义字段
                  required:
                  - name
                  - active
                  description: 层级关系，内层字段见实体
                type:
                  type: object
                  properties:
                    enum_name:
                      type: string
                      description: 枚举值
                      example: phone_type
                  required:
                  - enum_name
                  description: 性质
                industry_list:
                  type: array
                  items:
                    type: object
                    properties:
                      enum_name:
                        type: string
                        description: 枚举值
                        example: phone_type
                    required:
                    - enum_name
                  description: 行业
                legal_representative:
                  type: array
                  items:
                    type: object
                    properties:
                      lang:
                        type: string
                        description: 语言
                        example: zh-CN
                      value:
                        type: string
                        description: 内容
                        example: 刘梓新
                    required:
                    - lang
                    - value
                  description: 法定代表人
                post_code:
                  type: string
                  description: 邮编
                  example: 邮编
                tax_payer_id:
                  type: string
                  description: 纳税人识别号
                  example: '123456840'
                confidential:
                  type: boolean
                  description: confidential
                  example: 'true'
                sub_type_list:
                  type: array
                  items:
                    type: object
                    properties:
                      enum_name:
                        type: string
                        description: 枚举值
                        example: phone_type
                    required:
                    - enum_name
                  description: 主体类型
                branch_company:
                  type: boolean
                  description: 是否为分公司
                  example: 'true'
                primary_manager:
                  type: array
                  items:
                    type: object
                    properties:
                      lang:
                        type: string
                        description: 语言
                        example: zh-CN
                      value:
                        type: string
                        description: 内容
                        example: 刘梓新
                    required:
                    - lang
                    - value
                  description: 主要负责人
                custom_fields:
                  type: array
                  items:
                    type: object
                    properties:
                      field_name:
                        type: string
                        description: 字段名
                        example: name
                      value:
                        type: string
                        description: 字段值，是json转义后的字符串，根据元数据定义不同，字段格式不同(123, 123.23, true, [\"id1\",\"id2\], 2006-01-02 15:04:05])
                        example: Sandy
                    required:
                    - field_name
                    - value
                  description: 自定义字段
                currency:
                  type: object
                  properties:
                    currency_name:
                      type: array
                      items:
                        type: object
                        properties:
                          lang:
                            type: string
                            description: 语言
                            example: zh-CN
                          value:
                            type: string
                            description: 内容
                            example: 刘梓新
                        required:
                        - lang
                        - value
                      description: 货币名称
                    numeric_code:
                      type: integer
                      description: 数字代码
                      example: '12'
                    currency_alpha_3_code:
                      type: string
                      description: 三位字母代码
                      example: '12'
                  description: 默认币种
                phone:
                  type: object
                  properties:
                    area_code:
                      type: object
                      properties:
                        enum_name:
                          type: string
                          description: 枚举值
                          example: phone_type
                      required:
                      - enum_name
                      description: 区号
                      example: '123123'
                    phone_number:
                      type: string
                      description: 号码
                      example: '213213'
                  required:
                  - area_code
                  - phone_number
                  description: 电话
                fax:
                  type: object
                  properties:
                    area_code:
                      type: object
                      properties:
                        enum_name:
                          type: string
                          description: 枚举值
                          example: phone_type
                      required:
                      - enum_name
                      description: 区号
                      example: '123123'
                    phone_number:
                      type: string
                      description: 号码
                      example: '213213'
                  required:
                  - area_code
                  - phone_number
                  description: 传真
                registered_office_address_info:
                  allOf:
                  - $ref: '#/components/schemas/OfficeAddressInfo'
                  description: 注册地址详细信息
                office_address_info:
                  allOf:
                  - $ref: '#/components/schemas/OfficeAddressInfo'
                  description: 办公地址详细信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: corehr_company_list
      summary: 批量查询公司
      tags:
      - company
      description: 分页查询公司数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/company/list
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 页码标识，获取第一页传空，每次查询会返回下一页的page_token
        example: '1231231987'
      - name: page_size
        in: query
        required: true
        schema:
          type: string
        description: 每页获取记录数量，最大100
        example: '100'
      - name: effective_date
        in: query
        required: false
        schema:
          type: string
        description: 生效日期
        example: '2022-01-01'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Company'
                        description: 查询的公司信息
                      has_more:
                        type: boolean
                        description: 是否有下一页
                        example: 'true'
                      page_token:
                        type: string
                        description: 下一页页码
                        example: '1234452132'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      - corehr:corehr:readonly
      - corehr:company:read
      x-lark-rate-limit:
        tier: 4
  /open-apis/corehr/v1/companies/{company_id}:
    delete:
      operationId: corehr_company_delete
      summary: 删除公司
      tags:
      - company
      description: 删除公司数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/company/delete
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
        description: 需要删除的公司ID
        example: '1616161616'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: corehr_company_get
      summary: 查询单个公司
      tags:
      - company
      description: 根据ID获取公司数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/company/get
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
        description: 公司 ID
        example: '151515'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      company:
                        allOf:
                        - $ref: '#/components/schemas/Company'
                        description: 公司信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      - corehr:corehr:readonly
      - corehr:company:read
      x-lark-rate-limit:
        tier: 4
    patch:
      operationId: corehr_company_patch
      summary: 更新公司
      tags:
      - company
      description: 更新公司数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/company/patch
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
        description: 需要更新的公司 ID
        example: '1616161616'
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 根据client_token是否一致来判断是否为同一请求
        example: '12454646'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                hiberarchy_common:
                  type: object
                  properties:
                    parent_id:
                      type: string
                      description: 上级组织
                      example: '4719168654814483759'
                    name:
                      type: array
                      items:
                        type: object
                        properties:
                          lang:
                            type: string
                            description: 语言
                            example: zh-CN
                          value:
                            type: string
                            description: 内容
                            example: 刘梓新
                        required:
                        - lang
                        - value
                      description: 名称
                    active:
                      type: boolean
                      description: 启用
                      example: 'true'
                    effective_time:
                      type: string
                      description: 生效时间
                      example: '2020-05-01 00:00:00'
                    code:
                      type: string
                      description: 编码
                      example: '12456'
                    description:
                      type: array
                      items:
                        type: object
                        properties:
                          lang:
                            type: string
                            description: 语言
                            example: zh-CN
                          value:
                            type: string
                            description: 内容
                            example: 刘梓新
                        required:
                        - lang
                        - value
                      description: 描述
                  required:
                  - effective_time
                  description: 层级关系，内层字段见实体
                type:
                  type: object
                  properties:
                    enum_name:
                      type: string
                      description: 枚举值
                      example: phone_type
                  required:
                  - enum_name
                  description: 性质
                industry_list:
                  type: array
                  items:
                    type: object
                    properties:
                      enum_name:
                        type: string
                        description: 枚举值
                        example: phone_type
                    required:
                    - enum_name
                  description: 行业
                legal_representative:
                  type: array
                  items:
                    type: object
                    properties:
                      lang:
                        type: string
                        description: 语言
                        example: zh-CN
                      value:
                        type: string
                        description: 内容
                        example: 刘梓新
                    required:
                    - lang
                    - value
                  description: 法定代表人
                post_code:
                  type: string
                  description: 邮编
                  example: 邮编
                tax_payer_id:
                  type: string
                  description: 纳税人识别号
                  example: '123456840'
                confidential:
                  type: boolean
                  description: confidential
                  example: 'true'
                sub_type_list:
                  type: array
                  items:
                    type: object
                    properties:
                      enum_name:
                        type: string
                        description: 枚举值
                        example: phone_type
                    required:
                    - enum_name
                  description: 主体类型
                branch_company:
                  type: boolean
                  description: 是否为分公司
                  example: 'true'
                primary_manager:
                  type: array
                  items:
                    type: object
                    properties:
                      lang:
                        type: string
                        description: 语言
                        example: zh-CN
                      value:
                        type: string
                        description: 内容
                        example: 刘梓新
                    required:
                    - lang
                    - value
                  description: 主要负责人
                currency:
                  type: object
                  properties:
                    currency_name:
                      type: array
                      items:
                        type: object
                        properties:
                          lang:
                            type: string
                            description: 语言
                            example: zh-CN
                          value:
                            type: string
                            description: 内容
                            example: 刘梓新
                        required:
                        - lang
                        - value
                      description: 货币名称
                    numeric_code:
                      type: integer
                      description: 数字代码
                      example: '12'
                    currency_alpha_3_code:
                      type: string
                      description: 三位字母代码
                      example: '12'
                  description: 默认币种
                phone:
                  type: object
                  properties:
                    area_code:
                      type: object
                      properties:
                        enum_name:
                          type: string
                          description: 枚举值
                          example: phone_type
                      required:
                      - enum_name
                      description: 区号
                      example: '123123'
                    phone_number:
                      type: string
                      description: 号码
                      example: '213213'
                  required:
                  - area_code
                  - phone_number
                  description: 电话
                fax:
                  type: object
                  properties:
                    area_code:
                      type: object
                      properties:
                        enum_name:
                          type: string
                          description: 枚举值
                          example: phone_type
                      required:
                      - enum_name
                      description: 区号
                      example: '123123'
                    phone_number:
                      type: string
                      description: 号码
                      example: '213213'
                  required:
                  - area_code
                  - phone_number
                  description: 传真
                registered_office_address_info:
                  allOf:
                  - $ref: '#/components/schemas/OfficeAddressInfo'
                  description: 注册地址详细信息
                office_address_info:
                  allOf:
                  - $ref: '#/components/schemas/OfficeAddressInfo'
                  description: 办公地址详细信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - corehr:corehr
      x-lark-error-mappings:
      - code: 1160004
        httpCode: 400
        msg: client_token repeat.
      - code: 1160101
        httpCode: 500
        msg: marshal error
      - code: 1160102
        httpCode: 500
        msg: unmarshal error
      - code: 1160103
        httpCode: 500
        msg: request ID repeat
      x-lark-rate-limit:
        tier: 3
  /open-apis/corehr/v1/compensation_standards/match:
    get:
      operationId: corehr_compensation_standard_match
      summary: 获取员工薪资标准
      tags:
      - compensation_standard
      description: 分页查询地点数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/compensation_standard/match
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_corehr_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_corehr_id: 以飞书人事的ID来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_department_id
          - department_id
          - people_corehr_department_id
          x-enum-descriptions:
            open_department_id: 以 open_department_id 来标识部门
            department_id: 以 department_id 来标识部门
            people_corehr_department_id: 以 people_corehr_department_id 来标识部门
          default: people_corehr_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门 ID 类型
      - name: employment_id
        in: query
        required: false
        schema:
          type: string
        description: 雇员ID
        example: '7124293751317038636'
      - name: reference_object_api
        in: query
        required: false
        schema:
          type: string
          enum:
          - cpst_item
          - cpst_indicator
          x-enum-descriptions:
            cpst_item: 薪资项目
            cpst_indicator: 薪资统计指标
        description: 薪资标准的关联对象，项目或者指标
      - name: reference_object_id
        in: query
        required: true
        schema:
          type: string
        description: 薪资标准关联对象ID
        example: '7156853394442044972'
      - name: department_id
        in: query
        required: false
        schema:
          type: string
        description: 部门ID
        example: od-53899868dd0da32292a2d809f0518c8f
      - name: work_location_id
        in: query
        required: false
        schema:
          type: string
        description: 工作地点ID
        example: '7094869485965870636'
      - name: company_id
        in: query
        required: false
        schema:
          type: string
        description: 公司ID
        example: '7091599096804394540'
      - name: job_family_id
        in: query
        required: false
        schema:
          type: string
        description: 职务序列ID
        example: '7039313681989502508'
      - name: job_id
        in: query
        required: false
        schema:
          type: string
        description: 职务ID
        example: '7342883436321097257'
      - name: job_level_id
        in: query
        required: false
        schema:
          type: string
        description: 职级ID
        example: '7086415175263258156'
      - name: employee_type_id
        in: query
        required: false
        schema:
          type: string
        description: 人员类型ID
        example: '7039310401359775276'
      - name: recruitment_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - experienced_professionals
          - recent_graduates
          - routine_intern
          x-enum-descriptions:
            experienced_professionals: 社招
            recent_graduates: 校招
            routine_intern: 日常实习
        description: 招聘类型
        example: experienced_professionals
      - name: cpst_change_reason_id
        in: query
        required: false
        schema:
          type: string
        description: 定调薪原因ID
        example: '6967639606963471117'
      - name: cpst_plan_id
        in: query
        required: false
        schema:
          type: string
        description: 薪资方案ID
        example: '6967639606963471118'
      - name: cpst_salary_level_id
        in: query
        required: false
        schema:
          type: string
        description: 薪级薪等ID
        example: '6967639606963471119'
      - name: effective_time
        in: query
        required: false
        schema:
          type: string
        description: 生效时间
        example: '1660924800000'
      - name: performance_indicator_id
        in: query
        required: false
        schema:
          type: string
        description: 绩效评估项ID
        example: '7382324314454492716'
      - name: performance_score_grade_id
        in: query
        required: false
        schema:
          type: string
        description: 绩效等级ID
        example: '7382324475995670060'
      - name: custom_org_1_ids
        in: query
        required: false
        schema:
          type: string
        description: 自定义组织1 IDs
        example: '7530538330711508524'
      - name: custom_org_2_ids
        in: query
        required: false
        schema:
          type: string
        description: 自定义组织2 IDs
        example: '7530538330711508524'
      - name: custom_org_3_ids
        in: query
        required: false
        schema:
          type: string
        description: 自定义组织3 IDs
        example: '7530538330711508524'
      - name: custom_org_4_ids
        in: query
        required: false
        schema:
          type: string
        description: 自定义组织4 IDs
        example: '7530538330711508524'
      - name: custom_org_5_ids
        in: query
        required: false
        schema:
          type: string
        description: 自定义组织5 IDs
        example: '7530538330711508524'
      - name: custom_org_6_ids
        in: query
        required: false
        schema:
          type: string
        description: 自定义组织6 IDs
        example: '7530538330711508524'
      - name: custom_org_7_ids
        in: query
        required: false
        schema:
          type: string
        description: 自定义组织7 IDs
        example: '7530538330711508524'
      - name: custom_org_8_ids
        in: query
        required: false
        schema:
          type: string
        description: 自定义组织8 IDs
        example: '7530538330711508524'
      - name: custom_org_9_ids
        in: query
        required: false
        schema:
          type: string
        description: 自定义组织9 IDs
        example: '7530538330711508524'
      - name: custom_org_10_ids
        in: query
        required: false
        schema:
          type: string
        description: 自定义组织10 IDs
        example: '7530538330711508524'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      standard_id:
                        type: string
                        description: 薪资标准表ID
                        example: '7174758593538295340'
                      grade:
                        type: object
                        properties:
                          grade_id:
                            type: string
                            description: 薪资等级ID
                            example: '7174758360888215084'
                          grade_tid:
                            type: string
                            description: 薪资等级时间轴ID
                            example: '7174758360888247852'
                          grade_standard_value:
                            type: object
                            properties:
                              reference_object:
                                type: object
                                properties:
                                  api_name:
                                    type: string
                                    description: cpst_item(项目)、 cpst_indicator(指标)
                                    enum:
                                    - cpst_item
                                    - cpst_indicator
                                    x-enum-descriptions:
                                      cpst_item: 项目
                                      cpst_indicator: 指标
                                    example: cpst_item
                                  id:
                                    type: string
                                    description: 值列表 例如部门ID
                                    example: '7156853394442044972'
                                description: 薪资标准的关联对象，项目或者指标
                              standard_type:
                                type: object
                                properties:
                                  api_name:
                                    type: string
                                    description: 薪资标准类型
                                    enum:
                                    - standard_value
                                    - bandwidth_and_standard_value
                                    - bandwidth_upper_and_lower_limit
                                    x-enum-descriptions:
                                      standard_value: standard_value
                                      bandwidth_and_standard_value: bandwidth_and_standard_value
                                      bandwidth_upper_and_lower_limit: bandwidth_upper_and_lower_limit
                                    example: standard_value
                                description: 薪资标准类型
                              band_width:
                                type: object
                                properties:
                                  upper_limit:
                                    type: string
                                    description: 上限
                                    example: '15000'
                                  lower_limit:
                                    type: string
                                    description: 下限
                                    example: '10000'
                                description: 上下限
                              standard_value:
                                type: string
                                description: 标准值
                                example: '12000'
                            description: 带宽上下限和标准值
                          currency:
                            type: object
                            properties:
                              currency_id:
                                type: string
                                description: 币种ID
                                example: '6863329932261459464'
                              code:
                                type: string
                                description: 币种code
                                example: CNY
                              name:
                                type: object
                                properties:
                                  zh_cn:
                                    type: string
                                    description: 中文
                                    example: 中文名称
                                  en_us:
                                    type: string
                                    description: 英文
                                    example: english name
                                description: 币种名称
                            description: 币种
                          description:
                            type: object
                            properties:
                              zh_cn:
                                type: string
                                description: 中文
                                example: 中文名称
                              en_us:
                                type: string
                                description: 英文
                                example: english name
                            description: 薪资标准描述
                        description: 薪资等级
                      effective_time:
                        type: string
                        description: 生效时间
                        example: '1660924800000'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - corehr:compensation_standards:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1161001
        httpCode: 500
        msg: rpc call error
      - code: 1161004
        httpCode: 400
        msg: parameter invalid
      - code: 1161999
        httpCode: 500
        msg: internal error
      - code: 1160001
        httpCode: 400
        msg: no matching compensation standards
      - code: 1160002
        httpCode: 400
        msg: matches to multiple compensation standards
      - code: 1160003
        httpCode: 400
        msg: matching compensation standards no permission
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: employment_id
        section: 2
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: department_id
        section: 2
  /open-apis/corehr/v1/contracts:
    post:
      operationId: corehr_contract_create
      summary: 新建合同
      tags:
      - contract
      description: 创建合同数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/contract/create
      parameters:
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 根据client_token是否一致来判断是否为同一请求
        example: '12454646'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schema27'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema6'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      x-lark-error-mappings:
      - code: 1160545
        httpCode: 400
        msg: effective time has been occupied
      - code: 1160546
        httpCode: 400
        msg: Conflicting contracts existed
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: corehr_contract_list
      summary: 批量查询合同
      tags:
      - contract
      description: 分页查询合同数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/contract/list
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 页码标识，获取第一页传空，每次查询会返回下一页的page_token
        example: '1231231987'
      - name: page_size
        in: query
        required: true
        schema:
          type: string
        description: 每页获取记录数量，最大100
        example: '100'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Contract'
                        description: 查询的合同信息
                      has_more:
                        type: boolean
                        description: 是否有下一页
                        example: 'true'
                      page_token:
                        type: string
                        description: 下一页页码
                        example: '1234452132'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      - corehr:corehr:readonly
      x-lark-rate-limit:
        tier: 0
  /open-apis/corehr/v1/contracts/{contract_id}:
    delete:
      operationId: corehr_contract_delete
      summary: 删除合同
      tags:
      - contract
      description: 删除合同数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/contract/delete
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: string
        description: 需要删除的合同 ID
        example: '1616161616'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      x-lark-rate-limit:
        tier: 0
    get:
      operationId: corehr_contract_get
      summary: 查询单个合同
      tags:
      - contract
      description: 根据ID批量获取合同数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/contract/get
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: string
        description: 合同ID
        example: '151515'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema6'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      - corehr:corehr:readonly
      x-lark-rate-limit:
        tier: 0
    patch:
      operationId: corehr_contract_patch
      summary: 更新合同
      tags:
      - contract
      description: 更新合同数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/contract/patch
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: string
        description: 合同ID
        example: '1616161616'
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 根据client_token是否一致来判断是否为同一请求
        example: '12454646'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schema27'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema6'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      x-lark-error-mappings:
      - code: 1160545
        httpCode: 400
        msg: effective time has been occupied
      - code: 1160546
        httpCode: 400
        msg: Conflicting contracts existed
      x-lark-rate-limit:
        tier: 4
  /open-apis/corehr/v1/country_regions/{country_region_id}:
    get:
      operationId: corehr_country_region_get
      summary: 查询单条国家/地区信息
      tags:
      - country_region
      description: 根据ID获取国家/地区信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/country_region/get
      parameters:
      - name: country_region_id
        in: path
        required: true
        schema:
          type: string
        description: 国家/地区 ID
        example: '67489937334909845'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      country_region:
                        allOf:
                        - $ref: '#/components/schemas/CountryRegion'
                        description: 国家/地址信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      - corehr:corehr:readonly
      - corehr:common_data.basic_data:read
      x-lark-error-mappings:
      - code: 1160101
        httpCode: 500
        msg: marshal error
      - code: 1160102
        httpCode: 500
        msg: unmarshal error
      - code: 1160103
        httpCode: 500
        msg: request ID repeat
      - code: 1160104
        httpCode: 500
        msg: custom field format error
      - code: 1160105
        httpCode: 500
        msg: field is required
      - code: 1160106
        httpCode: 500
        msg: date format should be 2006-01-02
      - code: 1160107
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/corehr/v1/country_regions:
    get:
      operationId: corehr_country_region_list
      summary: 批量查询国家/地区信息
      tags:
      - country_region
      description: 分页查询国家/地区信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/country_region/list
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 页码标识，获取第一页传空，每次查询会返回下一页的page_token
        example: '1231231987'
      - name: page_size
        in: query
        required: true
        schema:
          type: string
        description: 每页获取记录数量，最大100
        example: '100'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/CountryRegion'
                        description: 国家/地址信息
                      has_more:
                        type: boolean
                        description: 是否有下一页
                        example: 'true'
                      page_token:
                        type: string
                        description: 下一页页码
                        example: '1234452132'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      - corehr:corehr:readonly
      - corehr:common_data.basic_data:read
      x-lark-error-mappings:
      - code: 1160101
        httpCode: 500
        msg: marshal error
      - code: 1160102
        httpCode: 500
        msg: unmarshal error
      - code: 1160103
        httpCode: 500
        msg: request ID repeat
      - code: 1160104
        httpCode: 500
        msg: custom field format error
      - code: 1160105
        httpCode: 500
        msg: field is required
      - code: 1160106
        httpCode: 500
        msg: date format should be 2006-01-02
      - code: 1160107
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/corehr/v1/currencies/{currency_id}:
    get:
      operationId: corehr_currency_get
      summary: 查询单个货币信息
      tags:
      - currency
      description: 根据ID获取货币信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/currency/get
      parameters:
      - name: currency_id
        in: path
        required: true
        schema:
          type: string
        description: 货币 ID
        example: '67489937334909845'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      currency:
                        allOf:
                        - $ref: '#/components/schemas/Currency4'
                        description: 货币信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      - corehr:corehr:readonly
      - corehr:common_data.basic_data:read
      x-lark-error-mappings:
      - code: 1160101
        httpCode: 500
        msg: marshal error
      - code: 1160102
        httpCode: 500
        msg: unmarshal error
      - code: 1160103
        httpCode: 500
        msg: request ID repeat
      - code: 1160104
        httpCode: 500
        msg: custom field format error
      - code: 1160105
        httpCode: 500
        msg: field is required
      - code: 1160106
        httpCode: 500
        msg: date format should be 2006-01-02
      - code: 1160107
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/corehr/v1/currencies:
    get:
      operationId: corehr_currency_list
      summary: 批量查询货币信息
      tags:
      - currency
      description: 分页查询货币信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/currency/list
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 页码标识，获取第一页传空，每次查询会返回下一页的page_token
        example: '1231231987'
      - name: page_size
        in: query
        required: true
        schema:
          type: string
        description: 每页获取记录数量，最大100
        example: '100'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Currency4'
                        description: 货币信息
                      has_more:
                        type: boolean
                        description: 是否有下一页
                        example: 'true'
                      page_token:
                        type: string
                        description: 下一页页码
                        example: '1234452132'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      - corehr:corehr:readonly
      - corehr:common_data.basic_data:read
      x-lark-error-mappings:
      - code: 1160101
        httpCode: 500
        msg: marshal error
      - code: 1160102
        httpCode: 500
        msg: unmarshal error
      - code: 1160103
        httpCode: 500
        msg: request ID repeat
      - code: 1160104
        httpCode: 500
        msg: custom field format error
      - code: 1160105
        httpCode: 500
        msg: field is required
      - code: 1160106
        httpCode: 500
        msg: date format should be 2006-01-02
      - code: 1160107
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/corehr/v1/custom_fields/get_by_param:
    get:
      operationId: corehr_custom_field_get_by_param
      summary: 获取字段详情
      tags:
      - custom_field
      description: 获取自定义字段详情
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/custom_field/get_by_param
      parameters:
      - name: object_api_name
        in: query
        required: true
        schema:
          type: string
        description: 所属对象 apiname
        example: offboarding_info
      - name: custom_api_name
        in: query
        required: true
        schema:
          type: string
        description: 自定义字段 apiname
        example: custom_field_33__c
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      data:
                        allOf:
                        - $ref: '#/components/schemas/Data8'
                        description: 自定义字段详情
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:corehr
      - corehr:corehr:readonly
      - corehr:common_data.meta_data:read
      x-lark-error-mappings:
      - code: 1160005
        httpCode: 500
        msg: custom field format error
      - code: 1160006
        httpCode: 400
        msg: field is required
      - code: 1160997
        httpCode: 500
        msg: unknown meta rpc error
      - code: 1162010
        httpCode: 400
        msg: object does not exist
      - code: 1162020
        httpCode: 400
        msg: field does not exist
      x-lark-rate-limit:
        tier: 4
  /open-apis/corehr/v1/custom_fields/list_object_api_name:
    get:
      operationId: corehr_custom_field_list_object_api_name
      summary: 获取飞书人事对象列表
      tags:
      - custom_field
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/corehr-v1/custom_field/list_object_api_name
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 页码标识，获取第一页传空，每次查询会返回下一页的page_token
        example: '2'
      - name: page_size
        in: query
        required: true
        schema:
          type: string
        description: 每页获取记录数量，最大100
        example: '100'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
[...]
