# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 云空间 API
  description: |-
    文件管理、文档评论、素材上传下载、文档权限管理

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: drive
  x-lark-service-api-version: v1
  x-lark-registry-version: 1.0.0
  x-lark-generated-at: '2026-07-19T00:03:55Z'
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: file.comment.reply.reactions
- name: file.comment.replys
- name: file.comments
- name: file.statistics
- name: file.view_records
- name: files
- name: metas
- name: permission.members
- name: permission.public
- name: quota_details
- name: user
paths:
  /open-apis/drive/v2/files/{file_token}/comments/reaction:
    post:
      operationId: drive_file_comment_reply_reactions_update_reaction
      summary: 添加/取消表情回应
      tags:
      - file.comment.reply.reactions
      description: 添加/取消表情回应
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=update_reaction&project=drive&resource=comment_reaction&version=v2
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: 文件的唯一标识令牌，用于定位目标文件。可通过调用「获取文件元信息」或「文件上传」接口获取。
        example: ppHV2Xepq2BQk3K79FTB
      - name: file_type
        in: query
        required: true
        schema:
          type: string
        description: 文件类型，用于区分不同类型的云文档，可选值需参考[开放平台文件类型枚举](https://open.feishu.cn/document/ukTMukTMukTM/uczNzUjL3czM14yN3MTN)
        example: docx
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  description: 操作类型
                  enum:
                  - add
                  - delete
                  x-enum-descriptions:
                    add: 添加表情回复
                    delete: 删除添加的reaction
                  example: add
                reaction_type:
                  type: string
                  description: |-
                    reaction 类型

                    可选值：ANGRY, APPLAUSE, ATTENTION, AWESOME, BEAR, BEER, BETRAYED, BIGKISS, BLACKFACE, BLUBBER, BLUSH, BOMB, CAKE, CHUCKLE, CLAP, CLEAVER, COMFORT, CRAZY, CRY, CUCUMBER, DETERGENT, DIZZY, DONE, DONNOTGO, DROOL, DROWSY, DULL, DULLSTARE, EATING, EMBARRASSED, ENOUGH, ERROR, EYESCLOSED, FACEPALM, FINGERHEART, FISTBUMP, FOLLOWME, FROWN, GIFT, GLANCE, GOODJOB, HAMMER, HAUGHTY, HEADSET, HEART, HEARTBROKEN, HIGHFIVE, HUG, HUSKY, INNOCENTSMILE, JIAYI, JOYFUL, KISS, LAUGH, LIPS, LOL, LOOKDOWN, LOVE, MONEY, MUSCLE, NOSEPICK, OBSESSED, OK, PARTY, PETRIFIED, POOP, PRAISE, PROUD, PUKE, RAINBOWPUKE, ROSE, SALUTE, SCOWL, SHAKE, SHHH, SHOCKED, SHOWOFF, SHY, SICK, SILENT, SKULL, SLAP, SLEEP, SLIGHT, SMART, SMILE, SMIRK, SMOOCH, SMUG, SOB, SPEECHLESS, SPITBLOOD, STRIVE, SWEAT, TEARS, TEASE, TERROR, THANKS, THINKING, THUMBSUP, TOASTED, TONGUE, TRICK, UPPERLEFT, WAIL, WAVE, WELLDONE, WHAT, WHIMPER, WINK, WITTY, WOW, WRONGED, XBLUSH, YAWN, YEAH, FIREWORKS, BULL, CALF, AWESOMEN, 2021, CANDIEDHAWS, REDPACKET, FORTUNE, LUCK, FIRECRACKER, Yes, No, Get, LGTM, Lemon, EatingFood, Hundred, MinusOne, ThumbsDown, Fire, OKR, Drumstick, BubbleTea, Loudspeaker, Pin, Coffee, Alarm, Trophy, Music, Typing, Pepper, CheckMark, CrossMark.
                  example: ANGRY
                reply_id:
                  type: string
                  description: |-
                    回复 ID

                    可通过调用 添加回复、获取回复信息 接口获取
                  example: '1234567890'
              required:
              - action
              - reaction_type
              - reply_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: file.comment.reply.reactions.update_reaction
      x-lark-scopes:
      - docs:document.comment:create
      - docs:document.comment:write_only
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/drive/v1/files/{file_token}/comments/{comment_id}/replies:
    post:
      operationId: drive_file_comment_replys_create
      summary: 添加回复
      tags:
      - file.comment.replys
      description: 添加回复
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create&project=drive&resource=file.comment.reply&version=v1
      parameters:
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          评论ID

          在 添加评论、获取评论 等接口中有返回。
        example: 69161068xxxxx512356
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: |-
          文档token

          可以通过浏览器该文档的 URL 栏上直接获取文档 Token 。
        example: TLLKdcpDro9ijQxA33ycNMabcef
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - sheet
          - file
          - docx
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 文档
            sheet: 表格
            file: 文件
            docx: 新版文档
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 云文档类型
        example: doc
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  properties:
                    elements:
                      type: array
                      items:
                        type: object
                        properties:
                          docs_link:
                            type: object
                            properties: {}
                            description: 云文档链接
                          person:
                            type: object
                            properties: {}
                            description: 联系人
                          text_run:
                            type: object
                            properties: {}
                            description: 文本内容
                          type:
                            type: string
                            description: 回复内容的元素类型
                            enum:
                            - text_run
                            - docs_link
                            - person
                            x-enum-descriptions:
                              text_run: 普通文本
                              docs_link: at 云文档链接
                              person: at 联系人
                            example: docs_link
                        required:
                        - type
                      description: 回复内容的元素列表。最大元素个数为100
                  required:
                  - elements
                  description: 回复内容
                extra:
                  type: string
                  description: 额外信息
              required:
              - content
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      content:
                        type: object
                        properties:
                          elements:
                            type: array
                            items:
                              type: object
                              properties:
                                docs_link:
                                  type: object
                                  properties: {}
                                  description: 云文档链接
                                person:
                                  type: object
                                  properties: {}
                                  description: 联系人
                                text_run:
                                  type: object
                                  properties: {}
                                  description: 文本内容
                                type:
                                  type: string
                                  description: 回复内容的元素类型
                                  enum:
                                  - text_run
                                  - docs_link
                                  - person
                                  x-enum-descriptions:
                                    text_run: 普通文本
                                    docs_link: at 云文档链接
                                    person: at 联系人
                                  example: docs_link
                              required:
                              - type
                            description: 回复内容的元素列表
                        required:
                        - elements
                        description: 回复内容
                      create_time:
                        type: integer
                        description: 创建时间（单位：秒）
                        example: 1610281603
                      extra:
                        type: object
                        properties:
                          image_list:
                            type: array
                            items: {}
                            description: 回复中的图片 Token list
                      reactions:
                        type: array
                        items:
                          type: object
                          properties:
                            ahead_users:
                              type: array
                              items: {}
                              description: 用于在界面优先展示核心互动用户。用户ID可通过用户信息查询接口获取。
                            count:
                              type: integer
                              description: 该表情回复的累计使用次数，统计范围为当前评论下所有用户的有效回复记录。
                              example: 10
                              minimum: 0
                              maximum: 500000
                            reaction_key:
                              type: string
                              description: 表情回复的唯一标识，用于区分不同类型的评论表情（如点赞、鼓掌等）。
                              example: like
                          required:
                          - count
                          - reaction_key
                        description: 评论回复卡片上对应的表情回复信息
                      reply_id:
                        type: string
                        description: 回复 ID
                        example: 6916106xxxxx4512356
                      update_time:
                        type: integer
                        description: 更新时间（单位：秒）
                        example: 1610281603
                      user_id:
                        type: string
                        description: 用户 ID
                        example: ou_cc19b2bfb93f8a44db4b4d6eab2abcef
      x-lark-method-id: file.comment.replys.create
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - drive:drive:readonly
      - docs:doc:readonly
      - sheets:spreadsheet:readonly
      - docs:document.comment:create
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: drive_file_comment_replys_list
      summary: 获取回复信息
      tags:
      - file.comment.replys
      description: 获取回复信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment-reply/list
      parameters:
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          评论 ID

          可通过调用 添加评论、获取评论 接口获取
        example: '1654857036541812356'
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: |-
          文档 Token

          可以通过浏览器该文档的 URL 栏上直接获取文档 Token 。
        example: doxbcdl03Vsxhm7Qmnj110abcef
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - file
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 旧版文档，已不推荐使用
            docx: 新版文档类型
            sheet: 电子表格类型
            file: 文件夹类型
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 云文档类型
        example: docx
      - name: need_reaction
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要获取评论卡片上挂载的Reaction数据，默认值为false
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
        description: 分页大小，每页返回的数据量。默认值为50
        example: 10
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '1654857036541812356'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        example: true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: object
                              properties:
                                elements:
                                  type: array
                                  items: {}
                                  description: 回复的内容
                              required:
                              - elements
                              description: 回复内容
                            create_time:
                              type: integer
                              description: 创建时间
                              example: 1610281603
                            extra:
                              type: object
                              properties:
                                image_list:
                                  type: array
                                  items: {}
                                  description: 回复中的图片 Token list
                              description: 回复的其他内容，图片 Token 等
                            reactions:
                              type: array
                              items:
                                type: object
                                properties:
                                  ahead_users:
                                    type: array
                                    items: {}
                                    description: 用于在界面优先展示核心互动用户。用户ID可通过用户信息查询接口获取。
                                  count:
                                    type: integer
                                    description: 该表情回复的累计使用次数，统计范围为当前评论下所有用户的有效回复记录。
                                    example: 10
                                    minimum: 0
                                    maximum: 500000
                                  reaction_key:
                                    type: string
                                    description: 表情回复的唯一标识，用于区分不同类型的评论表情（如点赞、鼓掌等）。
                                    example: like
                                required:
                                - count
                                - reaction_key
                              description: 评论回复卡片上对应的表情回复信息
                            reply_id:
                              type: string
                              description: 回复 ID
                              example: 6916106xxxxx4512356
                            update_time:
                              type: integer
                              description: 更新时间
                              example: 1610281603
                            user_id:
                              type: string
                              description: 用户 ID
                              example: ou_cc19b2bfb93f8a44db4b4d6eab2abcef
                          required:
                          - content
                        description: 回复列表
                      page_token:
                        type: string
                        example: '6916106822734512356'
                    required:
                    - has_more
      x-lark-method-id: file.comment.replys.list
      x-lark-scopes:
      - drive:drive
      - drive:drive:readonly
      - docs:document.comment:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/drive/v1/files/{file_token}/comments/{comment_id}/replies/{reply_id}:
    delete:
      operationId: drive_file_comment_replys_delete
      summary: 删除回复
      tags:
      - file.comment.replys
      description: 删除回复
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment-reply/delete
      parameters:
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
        description: 评论 ID
        example: '6916106822734578184'
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: 文档 Token
        example: doxbcdl03Vsxhm7Qmnj110abcef
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - file
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 旧版文档，已不推荐使用
            docx: 新版文档
            sheet: 表格
            file: 文件
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 云文档类型
        example: doc
      - name: reply_id
        in: path
        required: true
        schema:
          type: string
        description: 回复 ID
        example: '6916106822734594568'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      data:
                        type: string
                    required:
                    - data
      x-lark-method-id: file.comment.replys.delete
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - drive:drive:readonly
      - docs:doc:readonly
      - sheets:spreadsheet:readonly
      - docs:document.comment:write_only
      - docs:document.comment:delete
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: high-risk-write
      x-lark-danger: true
    put:
      operationId: drive_file_comment_replys_update
      summary: 更新回复的内容
      tags:
      - file.comment.replys
      description: 更新回复的内容
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment-reply/update
      parameters:
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
        description: 评论 ID
        example: '6916106822734578184'
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: 文档 Token
        example: doxbcdl03Vsxhm7Qmnj110abcef
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - file
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 旧版文档，已不推荐使用
            docx: 新版文档
            sheet: 表格
            file: 文件
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 云文档类型
        example: doc
      - name: reply_id
        in: path
        required: true
        schema:
          type: string
        description: 回复 ID
        example: '6916106822734594568'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  properties:
                    elements:
                      type: array
                      items:
                        type: object
                        properties:
                          docs_link:
                            type: object
                            properties: {}
                            description: 云文档链接
                          person:
                            type: object
                            properties: {}
                            description: 添加用户的 user_id
                          text_run:
                            type: object
                            properties: {}
                            description: 文本内容
                          type:
                            type: string
                            description: 回复内容的元素类型
                            enum:
                            - text_run
                            - docs_link
                            - person
                            x-enum-descriptions:
                              text_run: 普通文本
                              docs_link: at 云文档链接
                              person: at 联系人
                            example: docs_link
                        required:
                        - type
                      description: 回复的内容
                  required:
                  - elements
                  description: 回复内容
              required:
              - content
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      data:
                        type: string
                    required:
                    - data
      x-lark-method-id: file.comment.replys.update
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - drive:drive:readonly
      - docs:doc:readonly
      - sheets:spreadsheet:readonly
      - docs:document.comment:write_only
      - docs:document.comment:update
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/drive/v1/files/{file_token}/comments/batch_query:
    post:
      operationId: drive_file_comments_batch_query
      summary: 批量获取评论
      tags:
      - file.comments
      description: 批量获取评论
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment/batch_query
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: |-
          文档 Token

          可以通过浏览器该文档的 URL 栏上直接获取文档 Token 。
        example: doxbcdl03Vsxhm7Qmnj110abcef
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - file
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 旧版文档类型，已不推荐使用
            docx: 新版文档类型
            sheet: 电子表格类型
            file: 文件类型
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 云文档类型
        example: docx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment_ids:
                  type: array
                  items: {}
                  description: 需要获取数据的评论 ID ，可通过调用获取云文档所有评论接口获取 comment_id，允许的最大元素个数为100
                  example: '1654857036541825633'
                need_reaction:
                  type: boolean
                  description: 是否需要获取评论卡片上挂载的Reaction数据，默认值为false
                need_relation:
                  type: boolean
                  description: 是否需要获取评论关系
              required:
              - comment_ids
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            comment_id:
                              type: string
                              description: 评论 ID
                              example: 69161068xxxxx512356
                            create_time:
                              type: integer
                              description: 创建时间
                              example: 1610281603
                            has_more:
                              type: boolean
                              description: 是否有更多回复
                            is_solved:
                              type: boolean
                              description: 是否已解决
                            is_whole:
                              type: boolean
                              description: 是否是全文评论
                            page_token:
                              type: string
                              description: 回复分页标记
                              example: '6916106822734512356'
                            quote:
                              type: string
                              description: 局部评论的引用字段
                              example: hello
                            reply_list:
                              type: object
                              properties:
                                replies:
                                  type: array
                                  items: {}
                                  description: 回复列表
                              required:
                              - replies
                              description: 评论里的回复列表
                            solved_time:
                              type: integer
                              description: 解决评论时间
                              example: 1610281603
                            solver_user_id:
                              type: string
                              description: 解决评论者的用户 ID
                              example: 'null'
                            update_time:
                              type: integer
                              description: 更新时间
                              example: 1610281603
                            user_id:
                              type: string
                              description: 用户 ID
                              example: ou_cc19b2bfb93f8a44db4b4d6eababcef
                        description: 评论的相关信息、回复的信息、回复分页的信息
      x-lark-method-id: file.comments.batch_query
      x-lark-scopes:
      - drive:drive
      - drive:drive:readonly
      - docs:document.comment:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
      x-lark-danger: true
  /open-apis/drive/v1/files/{file_token}/new_comments:
    post:
      operationId: drive_file_comments_create_v2
      summary: 开放平台：添加评论(V2)
      tags:
      - file.comments
      description: 开放平台：添加评论(V2)
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create_v2&project=drive&resource=file.comment&version=v1
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: 文档 Token
        example: TLLKdcpDro9ijQxA33ycNMabcef
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                anchor:
                  type: object
                  properties:
                    base_record_id:
                      type: string
                      description: base划线评论的行记录标识
                    base_view_id:
                      type: string
                      description: base划线评论的视图标识
                    block_id:
                      type: string
                      description: 文档块级元素的唯一标识,用于将评论锚定到指定的内容块。可通过「获取文档所有块」接口获取目标文档的块级元素ID。
                      example: block1234567890abcdef
                    content_anchor_id:
                      type: string
                      description: 划线锚点信息
                    file_extra:
                      type: string
                      description: file类型的extra内容
                    file_page_num:
                      type: string
                      description: file类型划线评论的页序号
                    parent_file_token:
                      type: string
                      description: 父文件token，可选
                      example: fldabc123xyz7sfjsfjh89
                    parent_file_type:
                      type: string
                      description: 父文件类型，可选
                      example: docx
                    sheet_col:
                      type: integer
                      description: sheet划线评论的列序号，可选
                      example: 10
                      minimum: 0
                      maximum: 100000
                    sheet_row:
                      type: integer
                      description: sheet划线评论的行序号，可选
                      example: 1
                    slide_block_type:
                      type: string
                      description: slide划线block元素类型
                  required:
                  - block_id
                  description: |-
                    评论锚点配置,用于指定评论在文档中的关联位置。当不传入该对象时,创建全局评论
                    当传入时,将锚定到block_id指定的块级元素。
                extra:
                  type: string
                  description: 额外信息
                  example: '{\"refer_reply_id\":17785864760900000,\"ai_reply_source_type\":1}'
                file_type:
                  type: string
                  description: 文档类型标识，用于区分不同类型的云文档。需与目标文档的实际类型严格匹配，可通过文档详情接口获取。
                  example: docx
                reply_elements:
                  type: array
                  items:
                    type: object
                    properties:
                      link:
                        type: string
                        description: 跳转链接地址。仅当 type 为 link 时生效，需符合 HTTP/HTTPS 协议规范，长度限制为 1-2000 字符。
                        example: https://example.com/docs/approval-guide
                      mention_user:
                        type: string
                        description: 被@用户的唯一标识。仅当 type 为 mention_user 时生效，可通过调用「获取用户信息」接口获取目标用户的 ID。
                        example: ou_1234567890abcdef1234567890abcdef
                      text:
                        type: string
                        description: 评论元素的文本内容。仅当 type 为 text 时生效，支持普通文本输入，长度限制为 1-1000 字符。
                        example: 请尽快处理这份文件的审批流程
                      type:
                        type: string
                        description: text | mention_user | link
                        example: text
                    required:
                    - type
                  description: 评论内容元素集合，支持文本、@用户、链接等多种元素类型的组合，用于构建结构化的评论内容。每个元素需指定对应的类型及匹配的内容参数。
              required:
              - file_type
              - reply_elements
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      comment_id:
                        type: string
                        description: 新增评论的唯一标识，可用于后续的评论回复、删除等操作。
                        example: comment-1234567890abcdef1234567890abcdef
                      created_at:
                        type: string
                        description: 评论创建时间，采用ISO 8601格式，精确到毫秒。
                        example: '2024-05-20T14:30:00.123Z'
                      idempotency_key:
                        type: string
                        description: 返回请求中传入的幂等键，用于关联请求与响应结果。
                        example: uuid-12345678-1234-5678-1234-567812345678
                      reply_id:
                        type: string
                        description: 回复 ID
                        example: '7620742045199518919'
                    required:
                    - comment_id
                    - created_at
      x-lark-method-id: file.comments.create_v2
      x-lark-scopes:
      - docs:document.comment:create
      - docs:document.comment:write_only
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/drive/v1/files/{file_token}/comments:
    get:
      operationId: drive_file_comments_list
      summary: 获取云文档所有评论
      tags:
      - file.comments
      description: 获取云文档所有评论
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment/list
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: 云文档的 token。获取方式参考 [如何获取云文档相关 token](https://open.feishu.cn/document/ukTMukTMukTM/uczNzUjL3czM14yN3MTN#08bb5df6)。
        example: XIHSdYSI7oMEU1xrsnxc8fabcef
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - file
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 旧版文档类型，已不推荐使用
            docx: 新版文档类型
            sheet: 电子表格类型
            file: 文件类型
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 云文档类型
        example: doc
      - name: is_solved
        in: query
        required: false
        schema:
          type: boolean
        description: 是否已解决（可选），默认值为false
        example: false
      - name: is_whole
        in: query
        required: false
        schema:
          type: boolean
        description: 是否全文评论，默认值为false
        example: false
      - name: need_reaction
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要获取评论卡片上挂载的Reaction数据，默认值为false
      - name: need_relation
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要评论关系
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
        description: 分页大小，默认每页返回 50 个评论
        example: 10
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '7153511712153412356'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            comment_id:
                              type: string
                              description: 评论 ID
                              example: 69161068xxxxx512356
                            create_time:
                              type: integer
                              description: 创建时间
                              example: 1610281603
                            has_more:
                              type: boolean
                              description: 是否有更多回复
                            is_solved:
                              type: boolean
                              description: 是否已解决
                            is_whole:
                              type: boolean
                              description: 是否是全文评论
                            page_token:
                              type: string
                              description: 回复分页标记
                              example: '6916106822734512356'
                            quote:
                              type: string
                              description: 局部评论的引用字段
                              example: hello
                            reply_list:
                              type: object
                              properties:
                                replies:
                                  type: array
                                  items: {}
                                  description: 回复列表
                              required:
                              - replies
                              description: 评论里的回复列表
                            solved_time:
                              type: integer
                              description: 解决评论时间
                              example: 1610281603
                            solver_user_id:
                              type: string
                              description: 解决评论者的用户 ID
                              example: ou_cc19b2bfb93f8a44db4b4d6eababcef
                            update_time:
                              type: integer
                              description: 更新时间
                              example: 1610281603
                            user_id:
                              type: string
                              description: 用户 ID
                              example: ou_cc19b2bfb93f8a44db4b4d6eababcef
                        description: 评论列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: '6916106822734512356'
      x-lark-method-id: file.comments.list
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - drive:drive:readonly
      - docs:doc:readonly
      - sheets:spreadsheet:readonly
      - docs:document.comment:read
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/drive/v1/files/{file_token}/comments/{comment_id}:
    patch:
      operationId: drive_file_comments_patch
      summary: 解决/恢复评论
      tags:
      - file.comments
      description: 解决/恢复评论
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment/patch
      parameters:
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
        description: 评论ID
        example: '6916106822734578184'
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: 文档token
        example: doccnGp4UK1UskrOEJwBXd3****
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - file
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 旧版文档，已不推荐使用
            docx: 新版文档
            sheet: 表格
            file: 文件
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 云文档类型
        example: doc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_solved:
                  type: boolean
                  description: 评论解决标志
                  example: true
              required:
              - is_solved
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      data:
                        type: string
                    required:
                    - data
      x-lark-method-id: file.comments.patch
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - drive:drive:readonly
      - docs:doc:readonly
      - sheets:spreadsheet:readonly
      - docs:document.comment:write_only
      - docs:document.comment:update
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/drive/v1/files/{file_token}/statistics:
    get:
      operationId: drive_file_statistics_get
      summary: 获取文件统计信息
      tags:
      - file.statistics
      description: 获取文件统计信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-statistics/get
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: 文件 token。了解如何获取文件 token，参考[文件概述](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/file-overview)。
        example: doccnfYZzTlvXqZIGTdAHKabcef
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - sheet
          - mindnote
          - bitable
          - wiki
          - file
          - docx
          x-enum-descriptions:
            doc: 旧版文档
            sheet: 电子表格
            mindnote: 思维笔记
            bitable: 多维表格
            wiki: 知识库文档
            file: 文件
            docx: 新版文档
        description: 文件类型
        example: doc
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      file_token:
                        type: string
                        description: 文档 token
                        example: doccnfYZzTlvXqZIGTdAHKabcef
                      file_type:
                        type: string
                        description: 文档类型
                        example: doc
                      statistics:
                        type: object
                        properties:
                          like_count:
                            type: integer
                            description: 文档历史点赞总数。`-1` 表示对应的文档类型不支持点赞
                            example: 2
                          like_count_today:
                            type: integer
                            description: 今日新增文档点赞数
                            example: 1
                          pv:
                            type: integer
                            description: 文档历史访问次数，同一用户（user_id）多次访问按多次计算，但同一用户在间隔在半小时内访问两次视为一次访问
                            example: 15
                          pv_today:
                            type: integer
                            description: 今日新增文档访问次数
                            example: 1
                          timestamp:
                            type: integer
                            description: 时间戳（单位：秒）
                            example: 1627367349
                          uv:
                            type: integer
                            description: 文档历史访问人数，同一用户（user_id）多次访问按一次计算。
                            example: 10
                          uv_today:
                            type: integer
                            description: 今日新增文档访问人数
                            example: 1
                        description: 文档统计信息
      x-lark-method-id: file.statistics.get
      x-lark-scopes:
      - drive:drive
      - drive:drive:readonly
      - drive:drive.metadata:readonly
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/drive/v1/files/{file_token}/view_records:
    get:
      operationId: drive_file_view_records_list
      summary: 获取文件访问记录
      tags:
      - file.view_records
      description: 获取文件访问记录
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=drive&resource=file.view_record&version=v1
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: 文件 token。获取方式参考[文件概述](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/file-overview)。
        example: XIHSdYSI7oMEU1xrsnxc8fabcef
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - bitable
          - mindnote
          - wiki
          - file
          x-enum-descriptions:
            doc: 旧版文档
            docx: 新版文档
            sheet: 电子表格
            bitable: 多维表格
            mindnote: 思维笔记
            wiki: 知识库文档
            file: 文件
        description: 文件类型
        example: docx
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 50
        description: 分页大小
        example: 10
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: 1674037112--7189934631754563585
      - name: viewer_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 标识一个用户在某个租户内的身份。同一个用户在租户 A 和租户 B 内的 User ID 是不同的。在同一个租户内，一个用户的 User ID 在所有应用（包括商店应用）中都保持一致。User ID 主要用于在不同的应用间打通用户数据。[了解更多：如何获取
              User ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-user-id)
            union_id: 标识一个用户在某个应用开发商下的身份。同一用户在同一开发商下的应用中的 Union ID 是相同的，在不同开发商下的应用中的 Union ID 是不同的。通过 Union ID，应用开发商可以把同个用户在多个应用中的身份关联起来。[了解更多：如何获取
              Union ID？](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-union-id)
            open_id: 标识一个用户在某个应用中的身份。同一个用户在不同应用中的 Open ID 不同。[了解更多：如何获取 Open ID](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-obtain-openid)
          default: open_id
        description: |-
          返回的访问者 ID 的类型。

          **当值为`user_id`时，字段权限要求**：
          <md-perm name="contact:user.employee_id:readonly" desc="获取用户 user ID" support_app_types="custom" tags="">获取用户 user ID</md-perm>
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            avatar_url:
                              type: string
                              description: 访问者头像的 URL
                              example: https://foo.icon.com/xxxx
                            last_view_time:
                              type: string
                              description: 最近访问时间。Unix 时间戳，单位为秒。
                              example: '1679284285'
                            name:
                              type: string
                              description: 访问者姓名
                              example: zhangsan
                            viewer_id:
                              type: string
                              description: 访问者 ID
                              example: ou_cc19b2bfb93f8a44db4b4d6eababcef
                        description: 访问记录列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: 1674037112--7189934631754563585
      x-lark-method-id: file.view_records.list
      x-lark-scopes:
      - contact:user.base:readonly
      - drive:file:view_record:readonly
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/drive/v1/files/{file_token}/copy:
    post:
      operationId: drive_files_copy
      summary: 复制文件
      tags:
      - files
      description: 复制文件
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/copy
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: 被复制的源文件的 token。了解如何获取文件 token，参考[文件概述](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/file-overview)。
        example: doccngpahSdXrFPIBD4XdIabcef
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                extra:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: 自定义属性键对象
                        example: target_type
                      value:
                        type: string
                        description: 自定义属性值对象
                        example: docx
                    required:
                    - key
                    - value
                  description: 自定义请求附加参数，用于实现特殊的复制语义
                folder_token:
                  type: string
                  description: 目标文件夹的 token。若传入根文件夹 token，表示复制的新文件将被创建在云空间根目录。了解如何获取文件夹 token，参考[文件夹概述](https://open.feishu.cn/document/ukTMukTMukTM/ugTNzUjL4UzM14CO1MTN/folder-overview)。
                  example: fldbcO1UuPz8VwnpPx5a92abcef
                name:
                  type: string
                  description: |-
                    复制的新文件的名称

                    **数据校验规则**：最大长度为 `256` 字节
                  example: Demo copy
                type:
                  type: string
                  description: |-
                    被复制的源文件的类型。必须与 `file_token` 对应的源文件实际类型一致。

                    **注意**：该参数为必填，请忽略左侧必填列的“否”。若该参数值为空或与实际文件类型不匹配，接口将返回失败。
                  enum:
                  - file
                  - doc
                  - sheet
                  - bitable
                  - docx
                  - mindnote
                  - slides
                  x-enum-descriptions:
                    file: 文件类型
                    doc: 旧版文档。了解更多，参考[新旧版本文档说明](/ssl:ttdoc/ukTMukTMukTM/uUDN04SN0QjL1QDN/docs/upgraded-docs-access-guide/upgraded-docs-openapi-access-guide)。
                    sheet: 电子表格类型
                    bitable: 多维表格类型
                    docx: 新版文档类型
                    mindnote: 思维笔记类型
                    slides: 幻灯片类型
                  example: docx
              required:
              - folder_token
              - name
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      file:
                        type: object
                        properties:
                          created_time:
                            type: string
                            description: 文件创建时间
                            example: '1686125119'
                          modified_time:
                            type: string
                            description: 文件最近修改时间
                            example: '1686125119'
                          name:
                            type: string
                            description: 文件名
                            example: 测试
                          owner_id:
                            type: string
                            description: 文件所有者
                            example: ou_b13d41c02edc52ce66aaae67bf1abcef
                          parent_token:
                            type: string
                            description: 父文件夹标识
                            example: fldcnP8B5Fpr3UwVi24JykpuOic
                          shortcut_info:
                            type: object
                            properties:
                              target_token:
                                type: string
                                description: 快捷方式指向的原文件 Token
                                example: docxaO1UuPz8VwnpPx5a9abcef
                              target_type:
                                type: string
                                description: 快捷方式指向的源文件类型
                                example: docx
                            required:
                            - target_token
                            - target_type
                            description: 快捷方式文件信息（该参数不会返回）
                          token:
                            type: string
                            description: 文件标识符
                            example: fldcnP8B5Fpr3UwVi24JykpuOic
                          type:
                            type: string
                            description: 文件类型
                            example: docx
                          url:
                            type: string
                            description: 在浏览器中查看的链接
                            example: https://bytedance.feishu.cn/drive/folder/fldcnP8B5Fpr3UwVi24JykpuOic
                        required:
                        - name
                        - token
                        - type
                        description: 复制的新文件信息
      x-lark-method-id: files.copy
      x-lark-scopes:
      - drive:drive
      - docs:document:copy
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/drive/v1/files/create_folder:
    post:
      operationId: drive_files_create_folder
      summary: 新建文件夹
      tags:
      - files
      description: 新建文件夹
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/create_folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                folder_token:
                  type: string
                  description: 父文件夹的 token。参数为空字符串时，表示在根目录下创建文件夹。你可参考[获取文件夹中的文件清单](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/list)获取某个文件夹的
                    token。了解更多，参考[文件夹概述](https://open.feishu.cn/document/ukTMukTMukTM/ugTNzUjL4UzM14CO1MTN/folder-overview)。
                  example: fldbcO1UuPz8VwnpPx5a92abcef
                name:
                  type: string
                  description: |-
                    文件夹名称

                    **长度限制**： 1~256 个字节
                  example: 产品优化项目
              required:
              - folder_token
              - name
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: 新建的文件夹的 token
                        example: fldbcddUuPz8VwnpPx5oc2abcef
                      url:
                        type: string
                        description: 新建的文件夹的 URL 链接
                        example: https://feishu.cn/drive/folder/fldbcddUuPz8VwnpPx5oc2abcef
      x-lark-method-id: files.create_folder
      x-lark-scopes:
      - drive:drive
      - space:folder:create
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/drive/v1/files:
    get:
      operationId: drive_files_list
      summary: 获取文件夹中的文件清单
      tags:
      - files
      description: 获取文件夹中的文件清单
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/list
      parameters:
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
          x-enum-descriptions:
            ASC: 按升序排序
            DESC: 按降序排序
          default: DESC
        description: 定义清单中文件的排序规则，与 order_by 配合使用
        example: DESC
      - name: folder_token
        in: query
        required: false
        schema:
          type: string
        description: 文件夹的 token。不填写或填空字符串，将获取用户云空间根目录下的清单，且不支持分页和返回快捷方式。了解如何获取文件夹 token，参考[文件夹概述](https://open.feishu.cn/document/ukTMukTMukTM/ugTNzUjL4UzM14CO1MTN/folder-overview)。
        example: fldbcO1UuPz8VwnpPx5a9abcef
      - name: option
        in: query
        required: false
        schema:
          type: string
        description: 指定获取文件清单的特殊方式
        example: get_all_children_unsort
      - name: order_by
        in: query
        required: false
        schema:
          type: string
          enum:
          - EditedTime
          - CreatedTime
          x-enum-descriptions:
            EditedTime: 按编辑时间排序
            CreatedTime: 按创建时间排序
          default: EditedTime
        description: 定义清单中文件的排序方式
        example: EditedTime
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
        description: 指定每页显示的数据项的数量，默认值为100。若获取根目录下的清单，将返回全部数据
        example: 50
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: MTY1NTA3MTA1OXw3MTA4NDc2MDc1NzkyOTI0Nabcef
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      files:
                        type: array
                        items:
                          type: object
                          properties:
                            created_time:
                              type: string
                              description: 文件创建时间
                              example: '1686125119'
                            modified_time:
                              type: string
                              description: 文件最近修改时间
                              example: '1686125119'
                            name:
                              type: string
                              description: 文件名
                              example: 测试
                            owner_id:
                              type: string
                              description: 文件所有者
                              example: ou_b13d41c02edc52ce66aaae67bf1abcef
                            parent_token:
                              type: string
                              description: 父文件夹标识
                              example: fldcnP8B5Fpr3UwVi24JykpuOic
                            shortcut_info:
                              type: object
                              properties:
                                target_token:
                                  type: string
                                  description: 快捷方式指向的原文件 Token
                                  example: docxaO1UuPz8VwnpPx5a9abcef
                                target_type:
                                  type: string
                                  description: 快捷方式指向的源文件类型
                                  example: docx
                              required:
                              - target_token
                              - target_type
                              description: 快捷方式文件信息（该参数不会返回）
                            token:
                              type: string
                              description: 文件标识符
                              example: fldcnP8B5Fpr3UwVi24JykpuOic
                            type:
                              type: string
                              description: 文件类型
                              example: docx
                            url:
                              type: string
                              description: 在浏览器中查看的链接
                              example: https://bytedance.feishu.cn/drive/folder/fldcnP8B5Fpr3UwVi24JykpuOic
                          required:
                          - name
                          - token
                          - type
                        description: 文件夹中的文件清单列表
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: true
                      next_page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回下一次遍历的 page_token，否则不返回。
                        example: MTY1NTA3MTA1OXw3MTA4NDc2MDc1NzkyOTI0Nabcef
      x-lark-method-id: files.list
      x-lark-scopes:
      - drive:drive
      - drive:drive:readonly
      - space:document:retrieve
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/drive/v1/files/{file_token}:
    patch:
      operationId: drive_files_patch
      summary: ''
      tags:
      - files
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=patch&project=drive&resource=file&version=v1
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
        description: 需要修改标题的文件token
        example: fldbcO1UuPz8VwnpPx5a9abcef
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - bitable
          - file
          - folder
          - wiki
          - slides
          - mindnote
          x-enum-descriptions:
            doc: 文档
            docx: docx文档
            sheet: 表格
            bitable: 多维表格
            file: 文件
            folder: 文件夹
            wiki: 知识库
            slides: 幻灯片
            mindnote: 思维笔记
        description: 文件类型
        example: docx
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                new_title:
                  type: string
                  description: 新标题
                  example: 新标题
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: files.patch
      x-lark-scopes:
      - docx:document:write_only
      - sheets:spreadsheet:write_only
      - base:app:update
      - drive:file:upload
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/drive/v1/metas/batch_query:
    post:
      operationId: drive_metas_batch_query
      summary: 获取文件元数据
      tags:
      - metas
      description: 获取文件元数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/meta/batch_query
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request_docs:
                  type: array
                  items:
                    type: object
                    properties:
                      doc_token:
                        type: string
                        description: 文件的 token，获取方式见[文件概述](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/file-overview)
                        example: doccnfYZzTlvXqZIGTdAHKabcef
                      doc_type:
                        type: string
                        description: 文件类型
                        enum:
                        - doc
                        - sheet
                        - bitable
                        - mindnote
                        - file
                        - wiki
                        - docx
                        - folder
                        - synced_block
                        - slides
                        x-enum-descriptions:
                          doc: 飞书文档
                          sheet: 飞书电子表格
                          bitable: 飞书多维表格
                          mindnote: 飞书思维笔记
                          file: 飞书文件
                          wiki: 飞书wiki
                          docx: 飞书新版文档
                          folder: 飞书文件夹
                          synced_block: 文档同步块
                          slides: 文档幻灯片
                        example: docx
                    required:
                    - doc_token
                    - doc_type
                  description: 请求的文件的 token 和类型。一次请求中不可超过 200 个
                with_url:
                  type: boolean
                  description: 是否获取文件的访问链接，默认值为false。
                  example: false
              required:
              - request_docs
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      failed_list:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                              description: 获取元数据失败的错误码
                              enum:
                              - 970002
                              - 970003
                              - 970005
                              x-enum-descriptions:
                                '970002': 文档类型不支持
                                '970003': 当前应用或用户没有获取该文件元数据的权限
                                '970005': 文件 token 和 doc_type 不匹配或该文件不存在
                              example: 970005
                            token:
                              type: string
                              description: 获取元数据失败的文档token
                              example: boxcnrHpsg1QDqXAAAyachabcef
                          required:
                          - code
                          - token
                        description: 获取元数据失败的文档 token 列表
                      metas:
                        type: array
                        items:
                          type: object
                          properties:
                            create_time:
                              type: string
                              description: 创建时间。UNIX 时间戳，单位为秒
                              example: '1652066345'
                            doc_token:
                              type: string
                              description: 文件的 token
                              example: doccnfYZzTlvXqZIGTdAHKabcef
                            doc_type:
                              type: string
                              description: 文件的类型
                              example: doc
                            latest_modify_time:
                              type: string
                              description: 最后编辑时间。UNIX 时间戳，单位为秒
                              example: '1652066345'
                            latest_modify_user:
                              type: string
                              description: 最后编辑者
                              example: ou_b13d41c02edc52ce66aaae67bf1abcef
                            owner_id:
                              type: string
                              description: 文件的所有者
                              example: ou_b13d41c02edc52ce66aaae67bf1abcef
                            request_doc_info:
                              type: object
                              properties:
                                doc_token:
                                  type: string
                                  description: 文件的 token，获取方式见[文件概述](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/file-overview)
                                  example: doccnfYZzTlvXqZIGTdAHKabcef
                                doc_type:
                                  type: string
                                  description: 文件类型
                                  enum:
                                  - doc
                                  - sheet
                                  - bitable
                                  - mindnote
                                  - file
                                  - wiki
                                  - docx
                                  - folder
                                  - synced_block
                                  - slides
                                  x-enum-descriptions:
                                    doc: 飞书文档
                                    sheet: 飞书电子表格
                                    bitable: 飞书多维表格
                                    mindnote: 飞书思维笔记
                                    file: 飞书文件
                                    wiki: 飞书wiki
                                    docx: 飞书新版文档
                                    folder: 飞书文件夹
                                    synced_block: 文档同步块
                                    slides: 文档幻灯片
                                  example: docx
                              required:
                              - doc_token
                              - doc_type
                              description: 用于回显入参(requst_doc_info中的字段信息即为为请求体中的request_docs字段信息)，如果入参中有相同token时无效
                            sec_label_name:
                              type: string
                              description: 文档密级标签名称
                              example: L2-内部
                            title:
                              type: string
                              description: 标题
                              example: sampletitle
                            url:
                              type: string
                              description: 文档访问链接
                              example: https://sample.feishu.cn/docs/doccnfYZzTlvXqZIGTdAHKabcef
                          required:
                          - create_time
                          - doc_token
                          - doc_type
                          - latest_modify_time
                          - latest_modify_user
                          - owner_id
                          - title
                          - url
                        description: 文件的元数据列表
                    required:
                    - metas
      x-lark-method-id: metas.batch_query
      x-lark-scopes:
      - drive:drive
      - drive:drive.metadata:readonly
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
      x-lark-danger: true
  /open-apis/drive/v1/permissions/{token}/members/auth:
    get:
      operationId: drive_permission_members_auth
      summary: 判断用户权限
      tags:
      - permission.members
      description: 判断用户权限
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=auth&project=drive&resource=permission.member&version=v1
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
          enum:
          - view
          - edit
          - share
          - comment
          - export
          - copy
          - print
          - manage_public
          x-enum-descriptions:
            view: 阅读
            edit: 编辑
            share: 分享
            comment: 评论
            export: 导出
            copy: 拷贝
            print: 打印
            manage_public: 管理权限设置
        description: 需要判断的权限
        example: view
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: 云文档的 token，需要与 type 参数指定的云文档类型相匹配。可参考[如何获取云文档资源相关 token](https://open.feishu.cn/document/ukTMukTMukTM/uczNzUjL3czM14yN3MTN#08bb5df6)。
        example: doccnBKgoMyY5OMbUG6Fioabcef
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - sheet
          - file
          - wiki
          - bitable
          - docx
          - mindnote
          - minutes
          - slides
          x-enum-descriptions:
            doc: 旧版文档。了解更多，参考[新旧版本文档说明](/ssl:ttdoc/ukTMukTMukTM/uUDN04SN0QjL1QDN/docs/upgraded-docs-access-guide/upgraded-docs-openapi-access-guide)。
            sheet: 电子表格
            file: 云空间文件
            wiki: 知识库节点
            bitable: 多维表格
            docx: 新版文档
            mindnote: 思维笔记
            minutes: 妙记
            slides: 幻灯片
        description: 云文档类型，需要与云文档的 token 相匹配。
        example: docx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      auth_result:
                        type: boolean
                        description: |-
                          当前应用或用户是否有指定的权限。可选值：
                          - true：当前应用或用户具有该权限
                          - false：当前应用或用户没有该权限
                        example: true
                    required:
                    - auth_result
      x-lark-method-id: permission.members.auth
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - bitable:bitable
      - wiki:wiki
      - bitable:app
      - docs:permission.member:auth
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
  /open-apis/drive/v1/permissions/{token}/members:
    post:
      operationId: drive_permission_members_create
      summary: 增加协作者权限
      tags:
      - permission.members
      description: 增加协作者权限
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/permission-member/create
      parameters:
      - name: need_notification
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: |-
          添加权限后是否通知对方。
          可选值：
          - true：通知对方
          - false：不通知

          注意：
          仅当使用 <md-tag mode="inline" type="token-user">user_access_token</md-tag> 调用时，该参数有效。
        example: false
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: 云文档的 token，需要与 type 参数指定的云文档类型相匹配。可参考[如何获取云文档资源相关 token](https://open.feishu.cn/document/ukTMukTMukTM/uczNzUjL3czM14yN3MTN#08bb5df6)。
        example: doccnBKgoMyY5OMbUG6FioTXuBe
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - sheet
          - file
          - wiki
          - bitable
          - docx
          - folder
          - mindnote
          - minutes
          - slides
          x-enum-descriptions:
            doc: 旧版文档。了解更多，参考[新旧版本文档说明](/ssl:ttdoc/ukTMukTMukTM/uUDN04SN0QjL1QDN/docs/upgraded-docs-access-guide/upgraded-docs-openapi-access-guide)。
            sheet: 电子表格
            file: 云空间文件
            wiki: 知识库节点
            bitable: 多维表格
            docx: 新版文档
            folder: 文件夹。使用 <md-tag mode="inline" type="token-tenant">tenant_access_token</md-tag> 调用时，需确保文件夹所有者为应用或应用拥有文件夹的可管理权限，你需要将应用作为群机器人添加至群内，然后授予该群组可管理权限。详细步骤参考[如何为应用开通云文档相关资源的权限](/ssl:ttdoc/uAjLw4CM/ugTN1YjL4UTN24CO1UjN/trouble-shooting/how-to-add-permissions-to-app)
            mindnote: 思维笔记
            minutes: 妙记。目前妙记还不支持 full_access 权限角色
            slides: 幻灯片
        description: 云文档类型，需要与云文档的 token 相匹配。
        example: docx
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                member_id:
                  type: string
                  description: 协作者 ID，该 ID 的类型与 member_type 指定的值需要保持一致。
                  example: ou_1234567890abcdef1234567890abcdef
                member_type:
                  type: string
                  description: 协作者 ID 类型，与协作者 ID 需要对应
                  enum:
                  - email
                  - openid
                  - unionid
                  - openchat
                  - opendepartmentid
                  - userid
                  - groupid
                  - wikispaceid
                  - appid
                  x-enum-descriptions:
                    email: 飞书邮箱
                    openid: 开放平台 ID
                    unionid: 开放平台 UnionID
                    openchat: 开放平台群组 ID
                    opendepartmentid: 开放平台部门 ID
                    userid: 用户自定义 ID
                    groupid: 自定义用户组 ID
                    wikispaceid: 知识空间 ID
                    appid: 应用 ID
                  example: openid
                perm:
                  type: string
                  description: 协作者对应的权限角色。
                  enum:
                  - view
                  - edit
                  - full_access
                  x-enum-descriptions:
                    view: 可阅读角色
                    edit: 可编辑角色
                    full_access: 可管理角色
                  example: view
                perm_type:
                  type: string
                  description: 协作者的权限角色类型。当云文档类型为 wiki 即知识库节点时，该参数有效。
                  enum:
                  - container
                  - single_page
                  x-enum-descriptions:
                    container: 当前页面及子页面
                    single_page: 仅当前页面，当且仅当在知识库文档中该参数有效
                  example: container
                type:
                  type: string
                  description: |-
                    协作者类型。

                    **注意**：当 `member_type` 参数为 `wikispaceid` 时，该参数必填，且必须在 `wiki_space_member`、`wiki_space_viewer`、`wiki_space_editor` 中选择。

                    **默认值**：""
                  enum:
                  - user
                  - chat
                  - department
                  - group
                  - wiki_space_member
                  - wiki_space_viewer
                  - wiki_space_editor
                  x-enum-descriptions:
                    user: 用户
                    chat: 群组
                    department: 组织架构
                    group: 用户组
                    wiki_space_member: 知识库成员。在知识库启用了成员分组功能后不支持该参数
                    wiki_space_viewer: 知识库可阅读成员。仅在知识库启用了成员分组功能后才支持该参数
                    wiki_space_editor: 知识库可编辑成员。仅在知识库启用了成员分组功能后才支持该参数
                  example: user
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      member:
                        type: object
                        properties:
                          member_id:
                            type: string
                            description: 协作者ID，与协作者ID类型需要对应
                            example: string
                          member_type:
                            type: string
                            description: 协作者ID类型
                            enum:
                            - email
                            - openid
                            - unionid
                            - openchat
                            - opendepartmentid
                            - userid
                            - groupid
                            - wikispaceid
                            - appid
                            x-enum-descriptions:
                              email: 飞书邮箱
                              openid: 开放平台 ID
                              unionid: 开放平台 UnionID
                              openchat: 开放平台群组 ID
                              opendepartmentid: 开放平台部门 ID
                              userid: 用户自定义 ID
                              groupid: 自定义用户组 ID
                              wikispaceid: 知识空间 ID
                              appid: 应用 ID
                            example: openid
                          perm:
                            type: string
                            description: 协作者的权限角色
                            enum:
                            - view
                            - edit
                            - full_access
                            x-enum-descriptions:
                              view: 可阅读角色
                              edit: 可编辑角色
                              full_access: 可管理角色
                            example: view
                          perm_type:
                            type: string
                            description: 协作者的权限角色类型
                            enum:
                            - container
                            - single_page
                            x-enum-descriptions:
                              container: 当前页面及子页面
                              single_page: 仅当前页面，当且仅当在知识库文档中该参数有效
                            example: container
                          type:
                            type: string
                            description: 协作者类型
                            enum:
                            - user
                            - chat
                            - department
                            - group
                            - wiki_space_member
                            - wiki_space_viewer
                            - wiki_space_editor
                            x-enum-descriptions:
                              user: 用户
                              chat: 群组
                              department: 组织架构
                              group: 用户组
                              wiki_space_member: 知识库成员。在知识库启用了成员分组功能后不支持该参数
                              wiki_space_viewer: 知识库可阅读成员。仅在知识库启用了成员分组功能后才支持该参数
                              wiki_space_editor: 知识库可编辑成员。仅在知识库启用了成员分组功能后才支持该参数
                            example: user
                        required:
                        - member_id
                        - member_type
                        - perm
                        description: 本次添加权限的用户信息
      x-lark-method-id: permission.members.create
      x-lark-scopes:
      - drive:drive
      - drive:file
      - docs:doc
      - sheets:spreadsheet
      - wiki:wiki
      - bitable:bitable
      - bitable:app
      - docs:permission.member:create
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/drive/v1/permissions/{token}/members/transfer_owner:
    post:
      operationId: drive_permission_members_transfer_owner
      summary: 转移云文档所有者
      tags:
      - permission.members
      description: 转移云文档所有者
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=transfer_owner&project=drive&resource=permission.member&version=v1
      parameters:
      - name: need_notification
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: |-
          是否需要通知新的文件所有者。仅当使用 <md-tag mode="inline" type="token-user">user_access_token</md-tag> 调用时有效。可选值：
          - `true`：通知对方
          - `false`：不通知
        example: true
      - name: old_owner_perm
        in: query
        required: false
        schema:
          type: string
          default: full_access
        description: |-
          为原云文档所有者保留的具体权限。可选值：
          - `view`：可阅读角色
          - `edit`：可编辑角色
          - `full_access`：可管理角色

          **注意**：仅当 `remove_old_owner` 为 `false` 时，此参数才会生效。
        example: view
      - name: remove_old_owner
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: |-
          转移后是否需要移除原云文档所有者的权限。可选值：
          - `true`：移除原所有者权限
          - `false`：不移除原所有者权限
        example: false
      - name: stay_put
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: |-
          在个人文件夹下的云文档是否仍留在原所有者个人文件夹下。可选值：
          - `true`：云文档留在原位置不变
          - `false`：系统会将该内容移至新所有者的空间下

          **注意**：仅当云文档在个人文件夹下时参数生效。
        example: false
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: 云文档的 token，需要与 type 参数指定的云文档类型相匹配。可参考[如何获取云文档资源相关 token](https://open.feishu.cn/document/ukTMukTMukTM/uczNzUjL3czM14yN3MTN#08bb5df6)。
        example: doccnBKgoMyY5OMbUG6FioTXuBe
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - sheet
          - file
          - wiki
          - bitable
          - docx
          - mindnote
          - minutes
          - slides
          - folder
          x-enum-descriptions:
            doc: 旧版文档。了解更多，参考[新旧版本文档说明](/ssl:ttdoc/ukTMukTMukTM/uUDN04SN0QjL1QDN/docs/upgraded-docs-access-guide/upgraded-docs-openapi-access-guide)。
            sheet: 电子表格
            file: 云空间文件
            wiki: 知识库节点
            bitable: 多维表格
            docx: 新版文档
            mindnote: 思维笔记
            minutes: 妙记
            slides: 幻灯片
            folder: 文件夹
        description: 云文档类型，需要与云文档的 token 相匹配。
        example: docx
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                member_id:
                  type: string
                  description: 文件所有者的 ID，与文件所有者的 ID 类型需要对应。
                  example: ou_67e5ecb64ce1c0bd94612c17999abcef
                member_type:
                  type: string
                  description: 文件所有者的 ID 类型
                  enum:
                  - email
                  - openid
                  - userid
                  - appid
                  x-enum-descriptions:
                    email: 飞书邮箱
                    openid: 开放平台ID
                    userid: 用户自定义ID
                    appid: 应用ID
                  example: openid
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: permission.members.transfer_owner
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - bitable:bitable
      - wiki:wiki
      - bitable:app
      - docs:permission.member:transfer
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
  /open-apis/drive/v1/permissions/{token}/public:
    get:
      operationId: drive_permission_public_get
      summary: 获取云文档权限设置
      tags:
      - permission.public
      description: 获取云文档权限设置
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/permission-public/get
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: 云文档的 token，需要与 type 参数指定的云文档类型相匹配。可参考[如何获取云文档资源相关 token](https://open.feishu.cn/document/ukTMukTMukTM/uczNzUjL3czM14yN3MTN#08bb5df6)。
        example: doccnBKgoMyY5OMbUG6Fioabcef
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - sheet
          - file
          - wiki
          - bitable
          - docx
          - mindnote
          - minutes
          - slides
          x-enum-descriptions:
            doc: 旧版文档。了解更多，参考[新旧版本文档说明](/ssl:ttdoc/ukTMukTMukTM/uUDN04SN0QjL1QDN/docs/upgraded-docs-access-guide/upgraded-docs-openapi-access-guide)。
            sheet: 电子表格
            file: 云空间文件
            wiki: 知识库节点
            bitable: 多维表格
            docx: 新版文档
            mindnote: 思维笔记
            minutes: 妙记
            slides: 幻灯片
        description: 云文档类型，需要与云文档的 token 相匹配。
        example: docx
[...]
