# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 妙记 API
  description: |-
    minutes info and content query

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: minutes
  x-lark-service-api-version: v1
  x-lark-registry-version: 1.0.0
  x-lark-generated-at: '2026-07-19T00:03:55Z'
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: minutes
paths:
  /open-apis/minutes/v1/minutes/{minute_token}:
    get:
      operationId: minutes_minutes_get
      summary: 获取妙记信息
      tags:
      - minutes
      description: 获取妙记信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=get&project=minutes&resource=minute&version=v1
      parameters:
      - name: minute_token
        in: path
        required: true
        schema:
          type: string
        description: 妙记唯一标识。可从妙记的 URL 链接中获取，一般为最后一串字符：https://sample.feishu.cn/minutes/`obcnq3b9jl72l83w4f14xxxx`
        example: obcnq3b9jl72l83w4f14xxxx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      minute:
                        type: object
                        properties:
                          cover:
                            type: string
                            description: 妙记封面链接
                            example: https://internal-api-drive-stream.feishu-pre.cn/space/api/box/stream/download/all/boxcncsI4EIhCSA1RLDsXDpxxxx
                          create_time:
                            type: string
                            description: 妙记创建时间timestamp（ms级别）
                            example: '1669098360477'
                          duration:
                            type: string
                            description: 妙记时长（ms级别）
                            example: '314000'
                          owner_id:
                            type: string
                            description: 所有者ID
                            example: ou_612b787ccd3259fb3c816b3f678dxxxx
                          title:
                            type: string
                            description: 妙记标题
                            example: xxx的视频会议
                          token:
                            type: string
                            description: 妙记token
                            example: obcnq3b9jl72l83w4f14xxxx
                          url:
                            type: string
                            description: 妙记链接
                            example: https://bytedance.feishu-pre.cn/minutes/obcnq3b9jl72l83w4f14xxxx
                        description: 妙记基本信息
      x-lark-method-id: minute.get
      x-lark-scopes:
      - minutes:minutes
      - minutes:minutes:readonly
      - minutes:minutes.basic:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
