# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · OKR API
  description: |-
    OKR 目标、关键结果、对齐、量化指标管理

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: okr
  x-lark-service-api-version: v2
  x-lark-registry-version: 1.0.0
  x-lark-generated-at: '2026-07-19T00:03:55Z'
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: alignments
- name: categories
- name: cycle.objectives
- name: cycles
- name: indicators
- name: key_result.indicators
- name: key_results
- name: objective.alignments
- name: objective.indicators
- name: objective.key_results
- name: objectives
paths:
  /open-apis/okr/v2/alignments/{alignment_id}:
    delete:
      operationId: okr_alignments_delete
      summary: 删除对齐关系
      tags:
      - alignments
      description: 删除对齐关系
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=delete&project=okr&resource=okr.alignment&version=v2
      parameters:
      - name: alignment_id
        in: path
        required: true
        schema:
          type: string
        description: 对齐 ID
        example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      alignment_id:
                        type: string
                        description: 对齐 ID
                        example: '1'
      x-lark-method-id: alignments.delete
      x-lark-scopes:
      - okr:okr.content:writeonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: okr_alignments_get
      summary: 获取对齐关系
      tags:
      - alignments
      description: 获取对齐关系
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=get&project=okr&resource=okr.alignment&version=v2
      parameters:
      - name: alignment_id
        in: path
        required: true
        schema:
          type: string
        description: 对齐 ID
        example: '1'
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      alignment:
                        type: object
                        properties:
                          create_time:
                            type: string
                            description: 对齐的创建时间，时间戳
                            example: '1760604634563'
                          from_entity_id:
                            type: string
                            description: 发起对齐的实体 ID
                            example: '1'
                          from_entity_type:
                            type: integer
                            description: 发起对齐的实体类型
                            enum:
                            - 2
                            x-enum-descriptions:
                              '2': 目标
                            example: 2
                          from_owner:
                            type: object
                            properties:
                              owner_type:
                                type: string
                                description: 所有者类型
                                enum:
                                - user
                                x-enum-descriptions:
                                  user: 员工
                                example: user
                              user_id:
                                type: string
                                description: 员工 ID
                                example: ou_3bbe8a09c20e89cce9bff989ed840674
                            required:
                            - owner_type
                            description: 发起对齐的所有者
                          id:
                            type: string
                            description: 对齐的 ID
                            example: '1'
                          to_entity_id:
                            type: string
                            description: 被对齐的实体 ID
                            example: '1'
                          to_entity_type:
                            type: integer
                            description: 被对齐的实体类型
                            enum:
                            - 2
                            x-enum-descriptions:
                              '2': 目标
                            example: 2
                          to_owner:
                            type: object
                            properties:
                              owner_type:
                                type: string
                                description: 所有者类型
                                enum:
                                - user
                                x-enum-descriptions:
                                  user: 员工
                                example: user
                              user_id:
                                type: string
                                description: 员工 ID
                                example: ou_3bbe8a09c20e89cce9bff989ed840674
                            required:
                            - owner_type
                            description: 被对齐的所有者
                          update_time:
                            type: string
                            description: 对齐的更新时间，时间戳
                            example: '1760604634563'
                        required:
                        - create_time
                        - from_entity_id
                        - from_entity_type
                        - from_owner
                        - id
                        - to_entity_id
                        - to_entity_type
                        - to_owner
                        - update_time
                        description: 对齐
      x-lark-method-id: alignments.get
      x-lark-scopes:
      - okr:okr.content:readonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/okr/v2/categories:
    get:
      operationId: okr_categories_list
      summary: 批量获取分类
      tags:
      - categories
      description: 批量获取分类
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=okr&resource=okr.category&version=v2
      parameters:
      - name: owner_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user
          - department
          x-enum-descriptions:
            user: 员工
            department: 部门
          default: user
        description: 分类的所属类型
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        description: 分页大小，最大 100
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页键，首个分页键传入空串
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            category_type:
                              type: string
                              description: 分类类型
                              enum:
                              - person
                              - team
                              x-enum-descriptions:
                                person: 个人
                                team: 团队
                              example: user
                            color:
                              type: string
                              description: 颜色
                              enum:
                              - blue
                              - purple
                              - wathet
                              - turquoise
                              - indigo
                              - orange
                              x-enum-descriptions:
                                blue: 蓝色
                                purple: 紫色
                                wathet: 浅蓝色
                                turquoise: 绿松石
                                indigo: 靛青
                                orange: 橙色
                              example: blue
                            create_time:
                              type: string
                              description: 分类的创建时间，时间戳
                              example: '1760604634563'
                            enabled:
                              type: boolean
                              description: 是否启用
                              example: true
                            id:
                              type: string
                              description: 分类 ID
                              example: '1'
                            name:
                              type: object
                              properties:
                                en:
                                  type: string
                                  description: 英文名
                                  example: 英文
                                ja:
                                  type: string
                                  description: 日文名
                                  example: 日文
                                zh:
                                  type: string
                                  description: 中文名
                                  example: 中文
                              description: 名称
                            update_time:
                              type: string
                              description: 分类的更新时间，时间戳
                              example: '1760604634563'
                          required:
                          - category_type
                          - color
                          - create_time
                          - enabled
                          - id
                          - name
                          - update_time
                        description: 分类列表
                      page_token:
                        type: string
                        description: 分页键，下一个分页需传入该键
      x-lark-method-id: categories.list
      x-lark-scopes:
      - okr:okr.setting:read
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/okr/v2/cycles/{cycle_id}/objectives:
    post:
      operationId: okr_cycle_objectives_create
      summary: 创建目标
      tags:
      - cycle.objectives
      description: 创建目标
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create&project=okr&resource=okr.cycle.objective&version=v2
      parameters:
      - name: cycle_id
        in: path
        required: true
        schema:
          type: string
        description: 用户周期 ID
        example: '1'
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: string
                  description: 目标的分类 ID
                  example: '1'
                content:
                  type: object
                  properties:
                    blocks:
                      type: array
                      items:
                        type: object
                        properties:
                          block_element_type:
                            type: string
                            description: 文档元素类型
                            enum:
                            - paragraph
                            - gallery
                            x-enum-descriptions:
                              paragraph: 文本段落
                              gallery: 图片
                            example: paragraph
                          gallery:
                            type: object
                            properties: {}
                            description: 图片
                          paragraph:
                            type: object
                            properties: {}
                            description: 文本段落
                      description: 文档结构是按行排列的，每行内容是一个 Block
                  description: 目标的内容
                deadline:
                  type: string
                  description: 目标的截止时间，时间戳
                  example: '1760604634563'
                notes:
                  type: object
                  properties:
                    blocks:
                      type: array
                      items:
                        type: object
                        properties:
                          block_element_type:
                            type: string
                            description: 文档元素类型
                            enum:
                            - paragraph
                            - gallery
                            x-enum-descriptions:
                              paragraph: 文本段落
                              gallery: 图片
                            example: paragraph
                          gallery:
                            type: object
                            properties: {}
                            description: 图片
                          paragraph:
                            type: object
                            properties: {}
                            description: 文本段落
                      description: 文档结构是按行排列的，每行内容是一个 Block
                  description: 目标的备注
                score:
                  type: number
                  description: 目标的分数：[0,1]，支持一位小数
                  example: 0.5
                  minimum: 0
                  maximum: 1
                weight:
                  type: number
                  description: 目标的权重：[0,1]，支持三位小数
                  example: 0.5
                  minimum: 0
                  maximum: 1
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      objective_id:
                        type: string
                        description: 目标 ID
                        example: '1'
      x-lark-method-id: cycle.objectives.create
      x-lark-scopes:
      - okr:okr.content:writeonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: okr_cycle_objectives_list
      summary: 批量获取用户周期下的目标
      tags:
      - cycle.objectives
      description: 批量获取用户周期下的目标
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=okr&resource=okr.cycle.objective&version=v2
      parameters:
      - name: cycle_id
        in: path
        required: true
        schema:
          type: string
        description: 用户周期 ID
        example: '1'
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        description: 分页大小，最大 100
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页键，首个分页键传入空串
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            category_id:
                              type: string
                              description: 目标的分类 ID
                              example: '1'
                            content:
                              type: object
                              properties:
                                blocks:
                                  type: array
                                  items: {}
                                  description: 文档结构是按行排列的，每行内容是一个 Block
                              description: 目标的内容
                            create_time:
                              type: string
                              description: 目标的创建时间，时间戳
                              example: '1760604634563'
                            cycle_id:
                              type: string
                              description: 目标的用户周期 ID
                              example: '1'
                            deadline:
                              type: string
                              description: 目标的截止时间，时间戳
                              example: '1760604634563'
                            id:
                              type: string
                              description: 目标的 ID
                              example: '1'
                            notes:
                              type: object
                              properties:
                                blocks:
                                  type: array
                                  items: {}
                                  description: 文档结构是按行排列的，每行内容是一个 Block
                              description: 目标的备注
                            owner:
                              type: object
                              properties:
                                owner_type:
                                  type: string
                                  description: 所有者类型
                                  enum:
                                  - user
                                  x-enum-descriptions:
                                    user: 员工
                                  example: user
                                user_id:
                                  type: string
                                  description: 员工 ID
                                  example: ou_3bbe8a09c20e89cce9bff989ed840674
                              required:
                              - owner_type
                              description: 所有者
                            position:
                              type: integer
                              description: 目标的序号：从 1 开始计数
                              example: 1
                              minimum: 1
                              maximum: 100
                            score:
                              type: number
                              description: 目标的分数：[0,1]，支持一位小数
                              example: 0.5
                              minimum: 0
                              maximum: 1
                            update_time:
                              type: string
                              description: 目标的更新时间，时间戳
                              example: '1760604634563'
                            weight:
                              type: number
                              description: 目标的权重：[0,1]，支持三位小数
                              example: 0.5
                              minimum: 0
                              maximum: 1
                          required:
                          - create_time
                          - cycle_id
                          - id
                          - owner
                          - position
                          - update_time
                        description: 目标列表
                      page_token:
                        type: string
                        description: 分页键，下一个分页需传入该键
      x-lark-method-id: cycle.objectives.list
      x-lark-scopes:
      - okr:okr.content:readonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/okr/v2/cycles:
    get:
      operationId: okr_cycles_list
      summary: 批量获取用户周期
      tags:
      - cycles
      description: 批量获取用户周期
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=okr&resource=okr.cycle&version=v2
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        description: 分页大小，最大 100
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页键，首个分页键传入空串
      - name: user_id
        in: query
        required: true
        schema:
          type: string
        description: 用户 ID
        example: ou_3bbe8a09c20e89cce9bff989ed840674
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            create_time:
                              type: string
                              description: 用户周期的创建时间，时间戳
                              example: '1760604634563'
                            cycle_status:
                              type: integer
                              description: 用户周期状态
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              x-enum-descriptions:
                                '0': 默认
                                '1': 正常
                                '2': 失效
                                '3': 隐藏
                              example: 1
                            end_time:
                              type: string
                              description: 周期的结束时间，时间戳
                              example: '1760604634563'
                            id:
                              type: string
                              description: 用户周期 ID
                              example: '1'
                            owner:
                              type: object
                              properties:
                                owner_type:
                                  type: string
                                  description: 所有者类型
                                  enum:
                                  - user
                                  x-enum-descriptions:
                                    user: 员工
                                  example: user
                                user_id:
                                  type: string
                                  description: 员工 ID
                                  example: ou_3bbe8a09c20e89cce9bff989ed840674
                              required:
                              - owner_type
                              description: 所有者
                            score:
                              type: number
                              description: 用户周期的分数：[0,1]，支持一位小数
                              example: 0.5
                              minimum: 0
                              maximum: 1
                            start_time:
                              type: string
                              description: 周期的开始时间，时间戳
                              example: '1760604634563'
                            tenant_cycle_id:
                              type: string
                              description: 租户周期 ID
                              example: '1'
                            update_time:
                              type: string
                              description: 用户周期的更新时间，时间戳
                              example: '1760604634563'
                          required:
                          - create_time
                          - end_time
                          - id
                          - owner
                          - start_time
                          - tenant_cycle_id
                          - update_time
                        description: 用户周期列表
                      page_token:
                        type: string
                        description: 分页键，下一个分页需传入该键
                        example: '1'
      x-lark-method-id: cycles.list
      x-lark-scopes:
      - okr:okr.period:readonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/okr/v2/cycles/{cycle_id}/objectives_position:
    put:
      operationId: okr_cycles_objectives_position
      summary: 更新用户周期下全部目标的位置
      tags:
      - cycles
      description: 更新用户周期下全部目标的位置
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=objectives_position&project=okr&resource=okr.cycle&version=v2
      parameters:
      - name: cycle_id
        in: path
        required: true
        schema:
          type: string
        description: 用户周期 ID
        example: '1'
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objective_ids:
                  type: array
                  items: {}
                  description: 目标 ID 列表，按照序号顺序
              required:
              - objective_ids
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            category_id:
                              type: string
                              description: 目标的分类 ID
                              example: '1'
                            content:
                              type: object
                              properties:
                                blocks:
                                  type: array
                                  items: {}
                                  description: 文档结构是按行排列的，每行内容是一个 Block
                              description: 目标的内容
                            create_time:
                              type: string
                              description: 目标的创建时间，时间戳
                              example: '1760604634563'
                            cycle_id:
                              type: string
                              description: 目标的用户周期 ID
                              example: '1'
                            deadline:
                              type: string
                              description: 目标的截止时间，时间戳
                              example: '1760604634563'
                            id:
                              type: string
                              description: 目标的 ID
                              example: '1'
                            notes:
                              type: object
                              properties:
                                blocks:
                                  type: array
                                  items: {}
                                  description: 文档结构是按行排列的，每行内容是一个 Block
                              description: 目标的备注
                            owner:
                              type: object
                              properties:
                                owner_type:
                                  type: string
                                  description: 所有者类型
                                  enum:
                                  - user
                                  x-enum-descriptions:
                                    user: 员工
                                  example: user
                                user_id:
                                  type: string
                                  description: 员工 ID
                                  example: ou_3bbe8a09c20e89cce9bff989ed840674
                              required:
                              - owner_type
                              description: 所有者
                            position:
                              type: integer
                              description: 目标的序号：从 1 开始计数
                              example: 1
                              minimum: 1
                              maximum: 100
                            score:
                              type: number
                              description: 目标的分数：[0,1]，支持一位小数
                              example: 0.5
                              minimum: 0
                              maximum: 1
                            update_time:
                              type: string
                              description: 目标的更新时间，时间戳
                              example: '1760604634563'
                            weight:
                              type: number
                              description: 目标的权重：[0,1]，支持三位小数
                              example: 0.5
                              minimum: 0
                              maximum: 1
                          required:
                          - create_time
                          - cycle_id
                          - id
                          - owner
                          - position
                          - update_time
                        description: 目标列表
      x-lark-method-id: cycles.objectives_position
      x-lark-scopes:
      - okr:okr.content:writeonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/okr/v2/cycles/{cycle_id}/objectives_weight:
    put:
      operationId: okr_cycles_objectives_weight
      summary: 更新用户周期下全部目标的权重
      tags:
      - cycles
      description: 更新用户周期下全部目标的权重
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=objectives_weight&project=okr&resource=okr.cycle&version=v2
      parameters:
      - name: cycle_id
        in: path
        required: true
        schema:
          type: string
        description: 用户周期 ID
        example: '1'
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objective_weights:
                  type: array
                  items:
                    type: object
                    properties:
                      objective_id:
                        type: string
                        description: 目标 ID
                        example: '1'
                      weight:
                        type: number
                        description: 目标的权重：[0,1]，支持三位小数
                        example: 0.5
                        minimum: 0
                        maximum: 1
                    required:
                    - objective_id
                    - weight
                  description: 目标权重列表
              required:
              - objective_weights
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            category_id:
                              type: string
                              description: 目标的分类 ID
                              example: '1'
                            content:
                              type: object
                              properties:
                                blocks:
                                  type: array
                                  items: {}
                                  description: 文档结构是按行排列的，每行内容是一个 Block
                              description: 目标的内容
                            create_time:
                              type: string
                              description: 目标的创建时间，时间戳
                              example: '1760604634563'
                            cycle_id:
                              type: string
                              description: 目标的用户周期 ID
                              example: '1'
                            deadline:
                              type: string
                              description: 目标的截止时间，时间戳
                              example: '1760604634563'
                            id:
                              type: string
                              description: 目标的 ID
                              example: '1'
                            notes:
                              type: object
                              properties:
                                blocks:
                                  type: array
                                  items: {}
                                  description: 文档结构是按行排列的，每行内容是一个 Block
                              description: 目标的备注
                            owner:
                              type: object
                              properties:
                                owner_type:
                                  type: string
                                  description: 所有者类型
                                  enum:
                                  - user
                                  x-enum-descriptions:
                                    user: 员工
                                  example: user
                                user_id:
                                  type: string
                                  description: 员工 ID
                                  example: ou_3bbe8a09c20e89cce9bff989ed840674
                              required:
                              - owner_type
                              description: 所有者
                            position:
                              type: integer
                              description: 目标的序号：从 1 开始计数
                              example: 1
                              minimum: 1
                              maximum: 100
                            score:
                              type: number
                              description: 目标的分数：[0,1]，支持一位小数
                              example: 0.5
                              minimum: 0
                              maximum: 1
                            update_time:
                              type: string
                              description: 目标的更新时间，时间戳
                              example: '1760604634563'
                            weight:
                              type: number
                              description: 目标的权重：[0,1]，支持三位小数
                              example: 0.5
                              minimum: 0
                              maximum: 1
                          required:
                          - create_time
                          - cycle_id
                          - id
                          - owner
                          - position
                          - update_time
                        description: 目标列表
      x-lark-method-id: cycles.objectives_weight
      x-lark-scopes:
      - okr:okr.content:writeonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/okr/v2/indicators/{indicator_id}:
    patch:
      operationId: okr_indicators_patch
      summary: 更新指标
      tags:
      - indicators
      description: 更新指标
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=patch&project=okr&resource=okr.indicator&version=v2
      parameters:
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: indicator_id
        in: path
        required: true
        schema:
          type: string
        description: 指标 ID
        example: '1'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                current_value:
                  type: number
                  description: 指标的当前值，不支持基于关键结果进度自动更新的目标修改；不支持基于拆解记录自动更新的关键结果修改
                  example: 0.0
                  minimum: -99999999999
                  maximum: 99999999999
                current_value_calculate_type:
                  type: integer
                  description: 指标的当前值的计算方式，目标仅支持 0、1；关键结果仅支持 0、2
                  enum:
                  - 0
                  - 1
                  - 2
                  x-enum-descriptions:
                    '0': 手动更新
                    '1': 基于关键结果进度自动更新
                    '2': 基于拆解的关键结果进度更新
                  example: 0
                indicator_status:
                  type: integer
                  description: 指标的状态，只支持指标的状态的计算方式为手动更新时修改
                  enum:
                  - -1
                  - 0
                  - 1
                  - 2
                  x-enum-descriptions:
                    '-1': 未定义
                    '0': 正常
                    '1': 有风险
                    '2': 已延期
                  example: 0
                start_value:
                  type: number
                  description: 指标的起始值，不支持目标修改
                  example: 0.0
                  minimum: -99999999999
                  maximum: 99999999999
                status_calculate_type:
                  type: integer
                  description: 指标的状态的计算方式，目标仅支持 0、1、2；关键结果仅支持 0、1
                  enum:
                  - 0
                  - 1
                  - 2
                  x-enum-descriptions:
                    '0': 手动更新
                    '1': 基于进度和当前时间自动更新
                    '2': 基于风险最高的关键结果状态更新
                  example: 0
                target_value:
                  type: number
                  description: 指标的目标值，不支持目标修改；不支持有承接记录的关键结果修改
                  example: 0.0
                  minimum: -99999999999
                  maximum: 99999999999
                unit:
                  type: object
                  properties:
                    unit_type:
                      type: integer
                      description: 指标的单位类型
                      enum:
                      - 0
                      - 1
                      x-enum-descriptions:
                        '0': 公共
                        '1': 自定义
                      example: 0
                    unit_value:
                      type: string
                      description: 指标单位的值。如果是自定义，字符长度不超过 5；如果单元类型是「公共」，单位值为以下枚举值 百分比：PERCENT；无单位：NONE；元：YUAN；美元：DOLLAR
                      example: PERCENT
                  required:
                  - unit_type
                  - unit_value
                  description: 指标的单位，不支持目标修改；不支持有承接记录的关键结果修改
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      indicator:
                        type: object
                        properties:
                          create_time:
                            type: string
                            description: 指标的创建时间，时间戳
                            example: '1760604634563'
                          current_value:
                            type: number
                            description: 指标的当前值
                            example: 0.0
                            minimum: -99999999999
                            maximum: 99999999999
                          current_value_calculate_type:
                            type: integer
                            description: 指标的当前值的计算方
                            enum:
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '0': 手动更新
                              '1': 基于关键结果进度自动更新
                              '2': 基于拆解的关键结果进度更新
                            example: 0
                          entity_id:
                            type: string
                            description: 指标所属的实体 ID
                            example: '1'
                          entity_type:
                            type: integer
                            description: 指标所属的实体类型
                            enum:
                            - 2
                            - 3
                            x-enum-descriptions:
                              '2': 目标
                              '3': 关键结果
                            example: 2
                          id:
                            type: string
                            description: 指标的 ID
                            example: '1'
                          indicator_status:
                            type: integer
                            description: 指标的状态
                            enum:
                            - -1
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '-1': 未定义
                              '0': 正常
                              '1': 有风险
                              '2': 已延期
                            example: 0
                          owner:
                            type: object
                            properties:
                              owner_type:
                                type: string
                                description: 所有者类型
                                enum:
                                - user
                                x-enum-descriptions:
                                  user: 员工
                                example: user
                              user_id:
                                type: string
                                description: 员工 ID
                                example: ou_3bbe8a09c20e89cce9bff989ed840674
                            required:
                            - owner_type
                            description: 所有者
                          start_value:
                            type: number
                            description: 指标的起始值
                            example: 0.0
                            minimum: -99999999999
                            maximum: 99999999999
                          status_calculate_type:
                            type: integer
                            description: 指标的状态的计算方式
                            enum:
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '0': 手动更新
                              '1': 基于进度和当前时间自动更新
                              '2': 基于风险最高的关键结果状态更新
                            example: 0
                          target_value:
                            type: number
                            description: 指标的目标值
                            example: 0.0
                            minimum: -99999999999
                            maximum: 99999999999
                          unit:
                            type: object
                            properties:
                              unit_type:
                                type: integer
                                description: 指标的单位类型
                                enum:
                                - 0
                                - 1
                                x-enum-descriptions:
                                  '0': 公共
                                  '1': 自定义
                                example: 0
                              unit_value:
                                type: string
                                description: 指标单位的值。如果是自定义，字符长度不超过 5；如果单元类型是「公共」，单位值为以下枚举值 百分比：PERCENT；无单位：NONE；元：YUAN；美元：DOLLAR
                                example: PERCENT
                            required:
                            - unit_type
                            - unit_value
                            description: 指标的单位
                          update_time:
                            type: string
                            description: 指标的更新时间，时间戳
                            example: '1760604634563'
                        required:
                        - create_time
                        - entity_id
                        - entity_type
                        - id
                        - indicator_status
                        - owner
                        - status_calculate_type
                        - update_time
                        description: 指标
      x-lark-method-id: indicators.patch
      x-lark-scopes:
      - okr:okr.content:writeonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/okr/v2/key_results/{key_result_id}/indicators:
    get:
      operationId: okr_key_result_indicators_list
      summary: 获取关键结果的指标
      tags:
      - key_result.indicators
      description: 获取关键结果的指标
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=okr&resource=okr.key_result.indicator&version=v2
      parameters:
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: key_result_id
        in: path
        required: true
        schema:
          type: string
        description: 关键结果 ID
        example: '1'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      indicator:
                        type: object
                        properties:
                          create_time:
                            type: string
                            description: 指标的创建时间，时间戳
                            example: '1760604634563'
                          current_value:
                            type: number
                            description: 指标的当前值
                            example: 0.0
                            minimum: -99999999999
                            maximum: 99999999999
                          current_value_calculate_type:
                            type: integer
                            description: 指标的当前值的计算方
                            enum:
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '0': 手动更新
                              '1': 基于关键结果进度自动更新
                              '2': 基于拆解的关键结果进度更新
                            example: 0
                          entity_id:
                            type: string
                            description: 指标所属的实体 ID
                            example: '1'
                          entity_type:
                            type: integer
                            description: 指标所属的实体类型
                            enum:
                            - 2
                            - 3
                            x-enum-descriptions:
                              '2': 目标
                              '3': 关键结果
                            example: 2
                          id:
                            type: string
                            description: 指标的 ID
                            example: '1'
                          indicator_status:
                            type: integer
                            description: 指标的状态
                            enum:
                            - -1
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '-1': 未定义
                              '0': 正常
                              '1': 有风险
                              '2': 已延期
                            example: 0
                          owner:
                            type: object
                            properties:
                              owner_type:
                                type: string
                                description: 所有者类型
                                enum:
                                - user
                                x-enum-descriptions:
                                  user: 员工
                                example: user
                              user_id:
                                type: string
                                description: 员工 ID
                                example: ou_3bbe8a09c20e89cce9bff989ed840674
                            required:
                            - owner_type
                            description: 所有者
                          start_value:
                            type: number
                            description: 指标的起始值
                            example: 0.0
                            minimum: -99999999999
                            maximum: 99999999999
                          status_calculate_type:
                            type: integer
                            description: 指标的状态的计算方式
                            enum:
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '0': 手动更新
                              '1': 基于进度和当前时间自动更新
                              '2': 基于风险最高的关键结果状态更新
                            example: 0
                          target_value:
                            type: number
                            description: 指标的目标值
                            example: 0.0
                            minimum: -99999999999
                            maximum: 99999999999
                          unit:
                            type: object
                            properties:
                              unit_type:
                                type: integer
                                description: 指标的单位类型
                                enum:
                                - 0
                                - 1
                                x-enum-descriptions:
                                  '0': 公共
                                  '1': 自定义
                                example: 0
                              unit_value:
                                type: string
                                description: 指标单位的值。如果是自定义，字符长度不超过 5；如果单元类型是「公共」，单位值为以下枚举值 百分比：PERCENT；无单位：NONE；元：YUAN；美元：DOLLAR
                                example: PERCENT
                            required:
                            - unit_type
                            - unit_value
                            description: 指标的单位
                          update_time:
                            type: string
                            description: 指标的更新时间，时间戳
                            example: '1760604634563'
                        required:
                        - create_time
                        - entity_id
                        - entity_type
                        - id
                        - indicator_status
                        - owner
                        - status_calculate_type
                        - update_time
                        description: 指标
      x-lark-method-id: key_result.indicators.list
      x-lark-scopes:
      - okr:okr.content:readonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/okr/v2/key_results/{key_result_id}:
    delete:
      operationId: okr_key_results_delete
      summary: 删除关键结果
      tags:
      - key_results
      description: 删除关键结果
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=delete&project=okr&resource=okr.key_result&version=v2
      parameters:
      - name: key_result_id
        in: path
        required: true
        schema:
          type: string
        description: 关键结果 ID
        example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      key_result_id:
                        type: string
                        description: 关键结果 ID
                        example: '1'
      x-lark-method-id: key_results.delete
      x-lark-scopes:
      - okr:okr.content:writeonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: high-risk-write
      x-lark-danger: true
    get:
      operationId: okr_key_results_get
      summary: 获取关键结果
      tags:
      - key_results
      description: 获取关键结果
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=get&project=okr&resource=okr.key_result&version=v2
      parameters:
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: key_result_id
        in: path
        required: true
        schema:
          type: string
        description: 关键结果 ID
        example: '1'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      key_result:
                        type: object
                        properties:
                          content:
                            type: object
                            properties:
                              blocks:
                                type: array
                                items: {}
                                description: 文档结构是按行排列的，每行内容是一个 Block
                            description: 关键结果的内容
                          create_time:
                            type: string
                            description: 关键结果的创建时间，时间戳
                            example: '1760604634563'
                          deadline:
                            type: string
                            description: 目标的截止时间，时间戳
                            example: '1760604634563'
                          id:
                            type: string
                            description: 关键结果的 ID
                            example: '1'
                          objective_id:
                            type: string
                            description: 关键结果的目标 ID
                            example: '1'
                          owner:
                            type: object
                            properties:
                              owner_type:
                                type: string
                                description: 所有者类型
                                enum:
                                - user
                                x-enum-descriptions:
                                  user: 员工
                                example: user
                              user_id:
                                type: string
                                description: 员工 ID
                                example: ou_3bbe8a09c20e89cce9bff989ed840674
                            required:
                            - owner_type
                            description: 所有者
                          position:
                            type: integer
                            description: 关键结果的序号：从 1 开始计数
                            example: 1
                            minimum: 1
                            maximum: 100
                          score:
                            type: number
                            description: 关键结果的分数：[0,1]，支持一位小数
                            example: 0.5
                            minimum: 0
                            maximum: 1
                          update_time:
                            type: string
                            description: 关键结果的修改时间，时间戳
                            example: '1760604634563'
                          weight:
                            type: number
                            description: 目标的权重：[0,1]，支持三位小数
                            example: 0.5
                            minimum: 0
                            maximum: 1
                        required:
                        - create_time
                        - id
                        - objective_id
                        - owner
                        - position
                        - update_time
                        description: 关键结果
      x-lark-method-id: key_results.get
      x-lark-scopes:
      - okr:okr.content:readonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
    patch:
      operationId: okr_key_results_patch
      summary: 更新关键结果
      tags:
      - key_results
      description: 更新关键结果
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=patch&project=okr&resource=okr.key_result&version=v2
      parameters:
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: key_result_id
        in: path
        required: true
        schema:
          type: string
        description: 关键结果 ID
        example: '1'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  properties:
                    blocks:
                      type: array
                      items:
                        type: object
                        properties:
                          block_element_type:
                            type: string
                            description: 文档元素类型
                            enum:
                            - paragraph
                            - gallery
                            x-enum-descriptions:
                              paragraph: 文本段落
                              gallery: 图片
                            example: paragraph
                          gallery:
                            type: object
                            properties: {}
                            description: 图片
                          paragraph:
                            type: object
                            properties: {}
                            description: 文本段落
                      description: 文档结构是按行排列的，每行内容是一个 Block
                  description: 关键结果的内容
                deadline:
                  type: string
                  description: 目标的截止时间，时间戳
                  example: '1760604634563'
                score:
                  type: number
                  description: 关键结果的分数：[0,1]，支持一位小数
                  example: 0.5
                  minimum: 0
                  maximum: 1
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      key_result:
                        type: object
                        properties:
                          content:
                            type: object
                            properties:
                              blocks:
                                type: array
                                items: {}
                                description: 文档结构是按行排列的，每行内容是一个 Block
                            description: 关键结果的内容
                          create_time:
                            type: string
                            description: 关键结果的创建时间，时间戳
                            example: '1760604634563'
                          deadline:
                            type: string
                            description: 目标的截止时间，时间戳
                            example: '1760604634563'
                          id:
                            type: string
                            description: 关键结果的 ID
                            example: '1'
                          objective_id:
                            type: string
                            description: 关键结果的目标 ID
                            example: '1'
                          owner:
                            type: object
                            properties:
                              owner_type:
                                type: string
                                description: 所有者类型
                                enum:
                                - user
                                x-enum-descriptions:
                                  user: 员工
                                example: user
                              user_id:
                                type: string
                                description: 员工 ID
                                example: ou_3bbe8a09c20e89cce9bff989ed840674
                            required:
                            - owner_type
                            description: 所有者
                          position:
                            type: integer
                            description: 关键结果的序号：从 1 开始计数
                            example: 1
                            minimum: 1
                            maximum: 100
                          score:
                            type: number
                            description: 关键结果的分数：[0,1]，支持一位小数
                            example: 0.5
                            minimum: 0
                            maximum: 1
                          update_time:
                            type: string
                            description: 关键结果的修改时间，时间戳
                            example: '1760604634563'
                          weight:
                            type: number
                            description: 目标的权重：[0,1]，支持三位小数
                            example: 0.5
                            minimum: 0
                            maximum: 1
                        required:
                        - create_time
                        - id
                        - objective_id
                        - owner
                        - position
                        - update_time
                        description: 关键结果
      x-lark-method-id: key_results.patch
      x-lark-scopes:
      - okr:okr.content:writeonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/okr/v2/objectives/{objective_id}/alignments:
    post:
      operationId: okr_objective_alignments_create
      summary: 创建对齐关系
      tags:
      - objective.alignments
      description: 创建对齐关系
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create&project=okr&resource=okr.objective.alignment&version=v2
      parameters:
      - name: objective_id
        in: path
        required: true
        schema:
          type: string
        description: 目标 ID
        example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                to_entity_id:
                  type: string
                  description: 被对齐实体 ID
                  example: '1'
                to_entity_type:
                  type: integer
                  description: 被对齐实体类型
                  enum:
                  - 2
                  x-enum-descriptions:
                    '2': 目标
                  example: 2
              required:
              - to_entity_id
              - to_entity_type
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      alignment_id:
                        type: string
                        description: 对齐 ID
                        example: '1'
      x-lark-method-id: objective.alignments.create
      x-lark-scopes:
      - okr:okr.content:writeonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: okr_objective_alignments_list
      summary: 批量获取目标下的对齐关系
      tags:
      - objective.alignments
      description: 批量获取目标下的对齐关系
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=okr&resource=okr.objective.alignment&version=v2
      parameters:
      - name: align_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - aligned
          - aligning
          x-enum-descriptions:
            aligned: 被对齐
            aligning: 对齐
        description: 对齐类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: objective_id
        in: path
        required: true
        schema:
          type: string
        description: 目标 ID
        example: '1'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        description: 分页大小，最大 100
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页键，首个分页键传入空串
        example: '1'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            create_time:
                              type: string
                              description: 对齐的创建时间，时间戳
                              example: '1760604634563'
                            from_entity_id:
                              type: string
                              description: 发起对齐的实体 ID
                              example: '1'
                            from_entity_type:
                              type: integer
                              description: 发起对齐的实体类型
                              enum:
                              - 2
                              x-enum-descriptions:
                                '2': 目标
                              example: 2
                            from_owner:
                              type: object
                              properties:
                                owner_type:
                                  type: string
                                  description: 所有者类型
                                  enum:
                                  - user
                                  x-enum-descriptions:
                                    user: 员工
                                  example: user
                                user_id:
                                  type: string
                                  description: 员工 ID
                                  example: ou_3bbe8a09c20e89cce9bff989ed840674
                              required:
                              - owner_type
                              description: 发起对齐的所有者
                            id:
                              type: string
                              description: 对齐的 ID
                              example: '1'
                            to_entity_id:
                              type: string
                              description: 被对齐的实体 ID
                              example: '1'
                            to_entity_type:
                              type: integer
                              description: 被对齐的实体类型
                              enum:
                              - 2
                              x-enum-descriptions:
                                '2': 目标
                              example: 2
                            to_owner:
                              type: object
                              properties:
                                owner_type:
                                  type: string
                                  description: 所有者类型
                                  enum:
                                  - user
                                  x-enum-descriptions:
                                    user: 员工
                                  example: user
                                user_id:
                                  type: string
                                  description: 员工 ID
                                  example: ou_3bbe8a09c20e89cce9bff989ed840674
                              required:
                              - owner_type
                              description: 被对齐的所有者
                            update_time:
                              type: string
                              description: 对齐的更新时间，时间戳
                              example: '1760604634563'
                          required:
                          - create_time
                          - from_entity_id
                          - from_entity_type
                          - from_owner
                          - id
                          - to_entity_id
                          - to_entity_type
                          - to_owner
                          - update_time
                        description: 对齐列表
                      page_token:
                        type: string
                        description: 分页键，下一个分页需传入该键
                        example: '1'
      x-lark-method-id: objective.alignments.list
      x-lark-scopes:
      - okr:okr.content:readonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/okr/v2/objectives/{objective_id}/indicators:
    get:
      operationId: okr_objective_indicators_list
      summary: 获取目标的指标
      tags:
      - objective.indicators
      description: 获取目标的指标
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=okr&resource=okr.objective.indicator&version=v2
      parameters:
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: objective_id
        in: path
        required: true
        schema:
          type: string
        description: 目标 ID
        example: '1'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      indicator:
                        type: object
                        properties:
                          create_time:
                            type: string
                            description: 指标的创建时间，时间戳
                            example: '1760604634563'
                          current_value:
                            type: number
                            description: 指标的当前值
                            example: 0.0
                            minimum: -99999999999
                            maximum: 99999999999
                          current_value_calculate_type:
                            type: integer
                            description: 指标的当前值的计算方
                            enum:
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '0': 手动更新
                              '1': 基于关键结果进度自动更新
                              '2': 基于拆解的关键结果进度更新
                            example: 0
                          entity_id:
                            type: string
                            description: 指标所属的实体 ID
                            example: '1'
                          entity_type:
                            type: integer
                            description: 指标所属的实体类型
                            enum:
                            - 2
                            - 3
                            x-enum-descriptions:
                              '2': 目标
                              '3': 关键结果
                            example: 2
                          id:
                            type: string
                            description: 指标的 ID
                            example: '1'
                          indicator_status:
                            type: integer
                            description: 指标的状态
                            enum:
                            - -1
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '-1': 未定义
                              '0': 正常
                              '1': 有风险
                              '2': 已延期
                            example: 0
                          owner:
                            type: object
                            properties:
                              owner_type:
                                type: string
                                description: 所有者类型
                                enum:
                                - user
                                x-enum-descriptions:
                                  user: 员工
                                example: user
                              user_id:
                                type: string
                                description: 员工 ID
                                example: ou_3bbe8a09c20e89cce9bff989ed840674
                            required:
                            - owner_type
                            description: 所有者
                          start_value:
                            type: number
                            description: 指标的起始值
                            example: 0.0
                            minimum: -99999999999
                            maximum: 99999999999
                          status_calculate_type:
                            type: integer
                            description: 指标的状态的计算方式
                            enum:
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '0': 手动更新
                              '1': 基于进度和当前时间自动更新
                              '2': 基于风险最高的关键结果状态更新
                            example: 0
                          target_value:
                            type: number
                            description: 指标的目标值
                            example: 0.0
                            minimum: -99999999999
                            maximum: 99999999999
                          unit:
                            type: object
                            properties:
                              unit_type:
                                type: integer
                                description: 指标的单位类型
                                enum:
                                - 0
                                - 1
                                x-enum-descriptions:
                                  '0': 公共
                                  '1': 自定义
                                example: 0
                              unit_value:
                                type: string
                                description: 指标单位的值。如果是自定义，字符长度不超过 5；如果单元类型是「公共」，单位值为以下枚举值 百分比：PERCENT；无单位：NONE；元：YUAN；美元：DOLLAR
                                example: PERCENT
                            required:
                            - unit_type
                            - unit_value
                            description: 指标的单位
                          update_time:
                            type: string
                            description: 指标的更新时间，时间戳
                            example: '1760604634563'
                        required:
                        - create_time
                        - entity_id
                        - entity_type
                        - id
                        - indicator_status
                        - owner
                        - status_calculate_type
                        - update_time
                        description: 指标
      x-lark-method-id: objective.indicators.list
      x-lark-scopes:
      - okr:okr.content:readonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
  /open-apis/okr/v2/objectives/{objective_id}/key_results:
    post:
      operationId: okr_objective_key_results_create
      summary: 创建关键结果
      tags:
      - objective.key_results
      description: 创建关键结果
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=create&project=okr&resource=okr.objective.key_result&version=v2
      parameters:
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: objective_id
        in: path
        required: true
        schema:
          type: string
        description: 目标 ID
        example: '1'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  properties:
                    blocks:
                      type: array
                      items:
                        type: object
                        properties:
                          block_element_type:
                            type: string
                            description: 文档元素类型
                            enum:
                            - paragraph
                            - gallery
                            x-enum-descriptions:
                              paragraph: 文本段落
                              gallery: 图片
                            example: paragraph
                          gallery:
                            type: object
                            properties: {}
                            description: 图片
                          paragraph:
                            type: object
                            properties: {}
                            description: 文本段落
                      description: 文档结构是按行排列的，每行内容是一个 Block
                  description: 关键结果的内容
                deadline:
                  type: string
                  description: 关键结果的截止时间
                  example: '1760604634563'
                score:
                  type: number
                  description: 目标的分数：[0,1]，支持一位小数
                  example: 0.5
                  minimum: 0
                  maximum: 1
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      key_result_id:
                        type: string
                        description: 关键结果 ID
                        example: '1'
      x-lark-method-id: objective.key_results.create
      x-lark-scopes:
      - okr:okr.content:writeonly
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: write
      x-lark-danger: true
    get:
      operationId: okr_objective_key_results_list
      summary: 批量获取目标下的关键结果
      tags:
      - objective.key_results
      description: 批量获取目标下的关键结果
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/api-explorer?from=op_doc_tab&apiName=list&project=okr&resource=okr.objective.key_result&version=v2
      parameters:
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以department_id来识别部门
            open_department_id: 以open_department_id来识别部门
          default: open_department_id
        description: 此次调用中使用的部门 ID 的类型
      - name: objective_id
        in: path
        required: true
        schema:
          type: string
        description: 目标
        example: '1'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        description: 分页大小，最大 100
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页键，首个分页键传入空串
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的用户 ID 的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: object
                              properties:
                                blocks:
                                  type: array
                                  items: {}
                                  description: 文档结构是按行排列的，每行内容是一个 Block
                              description: 关键结果的内容
                            create_time:
                              type: string
                              description: 关键结果的创建时间，时间戳
                              example: '1760604634563'
                            deadline:
                              type: string
                              description: 目标的截止时间，时间戳
[...]
