# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · personal_settings API（全量）
  description: |-
    飞书开放平台 `personal_settings` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.0+d5b4ad0a
  x-lark-project: personal_settings
  x-lark-track: full (official API Explorer)
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: system_status
paths:
  /open-apis/personal_settings/v1/system_statuses/{system_status_id}/batch_close:
    post:
      operationId: personal_settings_system_status_batch_close
      summary: 批量关闭系统状态
      tags:
      - system_status
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/personal_settings-v1/system_status/batch_close
      parameters:
      - name: system_status_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 系统状态ID
        example: '7101214603622940671'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户id类型 open_id/user_id/union_id
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_list:
                  type: array
                  items:
                    type: string
                  description: 成员列表
                  example: ou_53edd3282dbc2fdbe5c593cfa5ce82ab
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      result_list:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: string
                              description: 用户ID
                              example: ou_53edd3282dbc2fdbe5c593cfa5ce82ab
                            result:
                              type: string
                              description: 关闭结果
                              enum:
                              - success
                              - fail
                              - invisible_user_id
                              - invalid_user_id
                              - resign_user_id
                              x-enum-descriptions:
                                success: 成功
                                fail: 失败可重试
                                invisible_user_id: 用户ID不可见
                                invalid_user_id: 用户ID无效
                                resign_user_id: 用户离职
                              example: success
                        description: 关闭结果
                    required:
                    - result_list
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - personal_settings:status:system_status_operate
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 2005001
        httpCode: 400
        msg: ''
      - code: 2005006
        httpCode: 400
        msg: ''
      - code: 2005007
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_list[*]
        section: 0
  /open-apis/personal_settings/v1/system_statuses/{system_status_id}/batch_open:
    post:
      operationId: personal_settings_system_status_batch_open
      summary: 批量开启系统状态
      tags:
      - system_status
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/personal_settings-v1/system_status/batch_open
      parameters:
      - name: system_status_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 系统状态ID
        example: '7101214603622940672'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户id类型 open_id/user_id/union_id
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_list:
                  type: array
                  items:
                    type: object
                    properties:
                      user_id:
                        type: string
                        description: 用户ID
                        example: ou_53edd3282dbc2fdbe5c593cfa5ce82ab
                      end_time:
                        type: integer
                        description: 结束时间，传入的应为秒单位的时间戳，距当前的时间跨度不能超过365天。
                        example: '1665990378'
                    required:
                    - user_id
                    - end_time
                  description: 开启列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      result_list:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: string
                              description: 用户ID
                              example: ou_53edd3282dbc2fdbe5c593cfa5ce82ab
                            end_time:
                              type: integer
                              description: 结束时间，传入的应为秒单位的时间戳，距当前的时间跨度不能超过365天。
                              example: '1665990378'
                            result:
                              type: string
                              description: 开启结果
                              enum:
                              - success_show
                              - success_user_close_syn
                              - success_user_in_higher_priority_system_status
                              - fail
                              - invisible_user_id
                              - invalid_user_id
                              - resign_user_id
                              x-enum-descriptions:
                                success_show: 成功且在客户端展示
                                success_user_close_syn: 成功但是用户设置了默认不开启
                                success_user_in_higher_priority_system_status: 成功但是用户存在更高优先级的系统状态
                                fail: 失败可重试
                                invisible_user_id: 用户ID不可见
                                invalid_user_id: 用户ID无效
                                resign_user_id: 用户离职
                              example: success_show
                          required:
                          - user_id
                          - end_time
                        description: 开启结果
                    required:
                    - result_list
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - personal_settings:status:system_status_operate
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 2005001
        httpCode: 400
        msg: ''
      - code: 2005006
        httpCode: 400
        msg: ''
      - code: 2005007
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_list[*].user_id
        section: 0
  /open-apis/personal_settings/v1/system_statuses:
    post:
      operationId: personal_settings_system_status_create
      summary: 创建系统状态
      tags:
      - system_status
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/personal_settings-v1/system_status/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 系统状态名称，名称字符数要在1到20范围内。
                  example: 出差
                i18n_title:
                  type: object
                  properties:
                    zh_cn:
                      type: string
                      description: 中文名
                      example: 出差
                    en_us:
                      type: string
                      description: 英文名
                      example: On business trip
                    ja_jp:
                      type: string
                      description: 日文名
                      example: 出張中
                  description: 系统状态国际化名称，名称字符数要在1到20范围内。
                icon_key:
                  type: string
                  description: 图标
                  enum:
                  - GeneralDoNotDisturb
                  - GeneralInMeetingBusy
                  - Coffee
                  - GeneralBusinessTrip
                  - GeneralWorkFromHome
                  - StatusEnjoyLife
                  - GeneralTravellingCar
                  - StatusBus
                  - StatusInFlight
                  - Typing
                  - EatingFood
                  - SICK
                  - GeneralSun
                  - GeneralMoonRest
                  - StatusReading
                  - Status_PrivateMessage
                  - StatusFlashOfInspiration
                  - GeneralVacation
                  x-enum-descriptions:
                    GeneralDoNotDisturb: GeneralDoNotDisturb
                    GeneralInMeetingBusy: GeneralInMeetingBusy
                    Coffee: Coffee
                    GeneralBusinessTrip: GeneralBusinessTrip
                    GeneralWorkFromHome: GeneralWorkFromHome
                    StatusEnjoyLife: StatusEnjoyLife
                    GeneralTravellingCar: GeneralTravellingCar
                    StatusBus: StatusBus
                    StatusInFlight: StatusInFlight
                    Typing: Typing
                    EatingFood: EatingFood
                    SICK: SICK
                    GeneralSun: GeneralSun
                    GeneralMoonRest: GeneralMoonRest
                    StatusReading: StatusReading
                    Status_PrivateMessage: Status_PrivateMessage
                    StatusFlashOfInspiration: StatusFlashOfInspiration
                    GeneralVacation: GeneralVacation
                  example: GeneralBusinessTrip
                color:
                  type: string
                  description: 颜色
                  enum:
                  - BLUE
                  - GRAY
                  - INDIGO
                  - WATHET
                  - GREEN
                  - TURQUOISE
                  - YELLOW
                  - LIME
                  - RED
                  - ORANGE
                  - PURPLE
                  - VIOLET
                  - CARMINE
                  x-enum-descriptions:
                    BLUE: 蓝色
                    GRAY: 灰色
                    INDIGO: 靛青色
                    WATHET: 浅蓝色
                    GREEN: 绿色
                    TURQUOISE: 绿松石色
                    YELLOW: 黄色
                    LIME: 酸橙色
                    RED: 红色
                    ORANGE: 橙色
                    PURPLE: 紫色
                    VIOLET: 紫罗兰色
                    CARMINE: 胭脂红色
                  default: BLUE
                  example: BLUE
                priority:
                  type: integer
                  description: 优先级，数值越小，客户端展示的优先级越高。不同系统状态的优先级不能一样。
                  default: 0
                  example: '1'
                sync_setting:
                  allOf:
                  - $ref: '#/components/schemas/SyncSetting'
                  description: 同步设置
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - personal_settings:status:system_status_update
      x-lark-error-mappings:
      - code: 2005001
        httpCode: 400
        msg: ''
      - code: 2005002
        httpCode: 400
        msg: ''
      - code: 2005003
        httpCode: 400
        msg: ''
      - code: 2005004
        httpCode: 400
        msg: ''
      - code: 2005005
        httpCode: 400
        msg: ''
      - code: 2005007
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
    get:
      operationId: personal_settings_system_status_list
      summary: 获取系统状态
      tags:
      - system_status
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/personal_settings-v1/system_status/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: 分页大小
        example: '50'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: GxmvlNRvP0NdQZpa7yIqf_Lv_QuBwTQ8tXkX7w-irAghVD_TvuYd1aoJ1LQph86O-XImC4X9j9FhUPhXQDvtrQ==
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/SystemStatu'
                        description: 租户系统状态
                      page_token:
                        type: string
                        description: 分页token
                        example: GxmvlNRvP0NdQZpa7yIqf_Lv_QuBwTQ8tXkX7w-irAghVD_TvuYd1aoJ1LQph86O-XImC4X9j9FhUPhXQDvtrQ==
                      has_more:
                        type: boolean
                        description: 是否存在更多
                        example: 'true'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - personal_settings:status:system_status_update
      x-lark-error-mappings:
      - code: 2005001
        httpCode: 400
        msg: ''
      - code: 2005007
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
  /open-apis/personal_settings/v1/system_statuses/{system_status_id}:
    delete:
      operationId: personal_settings_system_status_delete
      summary: 删除系统状态
      tags:
      - system_status
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/personal_settings-v1/system_status/delete
      parameters:
      - name: system_status_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 系统状态ID
        example: '7101214603622940633'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - personal_settings:status:system_status_update
      x-lark-error-mappings:
      - code: 2005001
        httpCode: 400
        msg: ''
      - code: 2005007
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
    patch:
      operationId: personal_settings_system_status_patch
      summary: 修改系统状态
      tags:
      - system_status
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/personal_settings-v1/system_status/patch
      parameters:
      - name: system_status_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 系统状态ID
        example: '7101214603622940633'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                system_status:
                  type: object
                  properties:
                    title:
                      type: string
                      description: 系统状态名称，名称字符数要在1到20范围内。
                      example: 出差
                    i18n_title:
                      type: object
                      properties:
                        zh_cn:
                          type: string
                          description: 中文名
                          example: 出差
                        en_us:
                          type: string
                          description: 英文名
                          example: On business trip
                        ja_jp:
                          type: string
                          description: 日文名
                          example: 出張中
                      description: 系统状态国际化名称，名称字符数要在1到20范围内。
                    icon_key:
                      type: string
                      description: 图标
                      enum:
                      - GeneralDoNotDisturb
                      - GeneralInMeetingBusy
                      - Coffee
                      - GeneralBusinessTrip
                      - GeneralWorkFromHome
                      - StatusEnjoyLife
                      - GeneralTravellingCar
                      - StatusBus
                      - StatusInFlight
                      - Typing
                      - EatingFood
                      - SICK
                      - GeneralSun
                      - GeneralMoonRest
                      - StatusReading
                      - Status_PrivateMessage
                      - StatusFlashOfInspiration
                      - GeneralVacation
                      x-enum-descriptions:
                        GeneralDoNotDisturb: GeneralDoNotDisturb
                        GeneralInMeetingBusy: GeneralInMeetingBusy
                        Coffee: Coffee
                        GeneralBusinessTrip: GeneralBusinessTrip
                        GeneralWorkFromHome: GeneralWorkFromHome
                        StatusEnjoyLife: StatusEnjoyLife
                        GeneralTravellingCar: GeneralTravellingCar
                        StatusBus: StatusBus
                        StatusInFlight: StatusInFlight
                        Typing: Typing
                        EatingFood: EatingFood
                        SICK: SICK
                        GeneralSun: GeneralSun
                        GeneralMoonRest: GeneralMoonRest
                        StatusReading: StatusReading
                        Status_PrivateMessage: Status_PrivateMessage
                        StatusFlashOfInspiration: StatusFlashOfInspiration
                        GeneralVacation: GeneralVacation
                      example: GeneralBusinessTrip
                    color:
                      type: string
                      description: 颜色
                      enum:
                      - BLUE
                      - GRAY
                      - INDIGO
                      - WATHET
                      - GREEN
                      - TURQUOISE
                      - YELLOW
                      - LIME
                      - RED
                      - ORANGE
                      - PURPLE
                      - VIOLET
                      - CARMINE
                      x-enum-descriptions:
                        BLUE: 蓝色
                        GRAY: 灰色
                        INDIGO: 靛青色
                        WATHET: 浅蓝色
                        GREEN: 绿色
                        TURQUOISE: 绿松石色
                        YELLOW: 黄色
                        LIME: 酸橙色
                        RED: 红色
                        ORANGE: 橙色
                        PURPLE: 紫色
                        VIOLET: 紫罗兰色
                        CARMINE: 胭脂红色
                      default: BLUE
                      example: BLUE
                    priority:
                      type: integer
                      description: 优先级，数值越小，客户端展示的优先级越高。不同系统状态的优先级不能一样。
                      default: 0
                      example: '1'
                    sync_setting:
                      allOf:
                      - $ref: '#/components/schemas/SyncSetting'
                      description: 同步设置
                  required:
                  - title
                  - icon_key
                  description: 系统状态
                update_fields:
                  type: array
                  items:
                    type: string
                    enum:
                    - TITLE
                    - I18N_TITLE
                    - ICON
                    - COLOR
                    - PRIORITY
                    - SYNC_SETTING
                    x-enum-descriptions:
                      TITLE: 系统状态名称
                      I18N_TITLE: 系统状态国际化名称
                      ICON: 图标
                      COLOR: 颜色
                      PRIORITY: 优先级
                      SYNC_SETTING: 同步设置
                  description: 需要更新的字段
                  example: '[''TITLE'']'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - personal_settings:status:system_status_update
      x-lark-error-mappings:
      - code: 2005001
        httpCode: 400
        msg: ''
      - code: 2005002
        httpCode: 400
        msg: ''
      - code: 2005003
        httpCode: 400
        msg: ''
      - code: 2005005
        httpCode: 400
        msg: ''
      - code: 2005007
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
components:
  schemas:
    SystemStatu:
      type: object
      properties:
        system_status_id:
          type: string
          description: 系统状态ID
          example: '7101214603622940633'
          format: int64
        title:
          type: string
          description: 系统状态名称，名称字符数要在1到20范围内。
          example: 出差
        i18n_title:
          type: object
          properties:
            zh_cn:
              type: string
              description: 中文名
              example: 出差
            en_us:
              type: string
              description: 英文名
              example: On business trip
            ja_jp:
              type: string
              description: 日文名
              example: 出張中
          description: 系统状态国际化名称，名称字符数要在1到20范围内。
        icon_key:
          type: string
          description: 图标
          enum:
          - GeneralDoNotDisturb
          - GeneralInMeetingBusy
          - Coffee
          - GeneralBusinessTrip
          - GeneralWorkFromHome
          - StatusEnjoyLife
          - GeneralTravellingCar
          - StatusBus
          - StatusInFlight
          - Typing
          - EatingFood
          - SICK
          - GeneralSun
          - GeneralMoonRest
          - StatusReading
          - Status_PrivateMessage
          - StatusFlashOfInspiration
          - GeneralVacation
          x-enum-descriptions:
            GeneralDoNotDisturb: GeneralDoNotDisturb
            GeneralInMeetingBusy: GeneralInMeetingBusy
            Coffee: Coffee
            GeneralBusinessTrip: GeneralBusinessTrip
            GeneralWorkFromHome: GeneralWorkFromHome
            StatusEnjoyLife: StatusEnjoyLife
            GeneralTravellingCar: GeneralTravellingCar
            StatusBus: StatusBus
            StatusInFlight: StatusInFlight
            Typing: Typing
            EatingFood: EatingFood
            SICK: SICK
            GeneralSun: GeneralSun
            GeneralMoonRest: GeneralMoonRest
            StatusReading: StatusReading
            Status_PrivateMessage: Status_PrivateMessage
            StatusFlashOfInspiration: StatusFlashOfInspiration
            GeneralVacation: GeneralVacation
          example: GeneralBusinessTrip
        color:
          type: string
          description: 颜色
          enum:
          - BLUE
          - GRAY
          - INDIGO
          - WATHET
          - GREEN
          - TURQUOISE
          - YELLOW
          - LIME
          - RED
          - ORANGE
          - PURPLE
          - VIOLET
          - CARMINE
          x-enum-descriptions:
            BLUE: 蓝色
            GRAY: 灰色
            INDIGO: 靛青色
            WATHET: 浅蓝色
            GREEN: 绿色
            TURQUOISE: 绿松石色
            YELLOW: 黄色
            LIME: 酸橙色
            RED: 红色
            ORANGE: 橙色
            PURPLE: 紫色
            VIOLET: 紫罗兰色
            CARMINE: 胭脂红色
          default: BLUE
          example: BLUE
        priority:
          type: integer
          description: 优先级，数值越小，客户端展示的优先级越高。不同系统状态的优先级不能一样。
          default: 0
          example: '1'
        sync_setting:
          allOf:
          - $ref: '#/components/schemas/SyncSetting'
          description: 同步设置
      required:
      - title
      - icon_key
      description: 系统状态
    Schema:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data'
    Data:
      type: object
      properties:
        system_status:
          allOf:
          - $ref: '#/components/schemas/SystemStatu'
          description: 系统状态
    SyncSetting:
      type: object
      properties:
        is_open_by_default:
          type: boolean
          description: 是否默认开启
          default: true
          example: 'true'
        title:
          type: string
          description: 同步设置名称，名称字符数要在1到30范围内。
          default: 自动开启
          example: 出差期间自动开启
        i18n_title:
          type: object
          properties:
            zh_cn:
              type: string
              description: 中文名
              example: 出差期间自动开启
            en_us:
              type: string
              description: 英文名
              example: Auto display Business Trip
            ja_jp:
              type: string
              description: 日文名
              example: 出張中に自動的にオンにする
          description: 同步设置国际化名称，名称字符数要在1到30范围内。
        explain:
          type: string
          description: 同步设置解释文案，解释字符数要在1到60范围内。
          default: 从相关系统进行信息同步，同步后将自动开启并优先展示该状态。
          example: 出差审批通过后，将自动开启并优先展示该状态。
        i18n_explain:
          type: object
          properties:
            zh_cn:
              type: string
              description: 中文名
              example: 出差审批通过后，该状态将自动开启并优先展示
            en_us:
              type: string
              description: 英文名
              example: Auto-display after travel request is approved.
            ja_jp:
              type: string
              description: 日文名
              example: 申請が承認されると、このステータスが優先的に表示されます
          description: 同步设置国际化解释文案，解释字符数要在1到60范围内。
      description: 同步设置
