# Generated by lark-openapi-spec — DO NOT EDIT BY HAND.
# Source: lark-cli API registry (https://github.com/larksuite/cli, endpoint /api/tools/open/api_definition)
openapi: 3.0.3
info:
  title: 飞书开放平台 · 电子表格 API
  description: |-
    电子表格操作

    ---

    本文档由 [lark-openapi-spec](https://github.com/larksuite/cli) 项目从 lark-cli 的 API 注册表自动生成，非飞书官方文档。权威说明以 [飞书开放平台](https://open.feishu.cn/document) 为准。
  version: 1.0.0
  x-lark-service: sheets
  x-lark-service-api-version: v3
  x-lark-registry-version: 1.0.0
  x-lark-generated-at: '2026-07-19T00:03:55Z'
  x-generator: lark-openapi-spec tools/build_openapi.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: spreadsheet.sheet.filters
- name: spreadsheet.sheets
- name: spreadsheets
paths:
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/filter:
    post:
      operationId: sheets_spreadsheet_sheet_filters_create
      summary: 创建筛选
      tags:
      - spreadsheet.sheet.filters
      description: 创建筛选
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/create
      parameters:
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 工作表 ID，通过[获取工作表](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet/query)
          获取。
        example: 8fe9d6
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: |-
          电子表格的 token。可通过以下两种方式获取。了解更多，参考[电子表格概述](https://open.feishu.cn/document/ukTMukTMukTM/uATMzUjLwEzM14CMxMTN/overview)。
          - 电子表格的 URL：https://sample.feishu.cn/sheets/`Iow7sNNEphp3WbtnbCscPqabcef`
          - 调用[获取文件夹中的文件清单](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/list)
        example: Iow7sNNEphp3WbtnbCscPqabcef
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                col:
                  type: string
                  description: 设置应用筛选条件的列。
                  example: E
                condition:
                  type: object
                  properties:
                    compare_type:
                      type: string
                      description: 比较类型
                      example: less
                    expected:
                      type: array
                      items: {}
                      description: 筛选参数
                    filter_type:
                      type: string
                      description: |-
                        筛选类型，枚举值如下所示。了解更多，参考[筛选指南](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/filter-user-guide)。
                        - multiValue ：多值筛选
                        - number ：数字筛选
                        - text ：文本筛选
                        - color ：颜色筛选
                      example: number
                  required:
                  - expected
                  - filter_type
                  description: 设置筛选条件。
                range:
                  type: string
                  description: |-
                    设置筛选的应用范围。支持以下五种写法，了解更多，参考[筛选指南](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/filter-user-guide)。

                    - `sheetId`：填写实际的工作表 ID，表示将筛选应用于整表
                    - `sheetId!{开始行索引}:{结束行索引}` ：填写工作表 ID 和行数区间，表示将筛选应用于整行
                    - `sheetId!{开始列索引}:{结束列索引}`：填写工作表 ID 和列的区间，表示将筛选应用于整列
                    - `sheetId!{开始单元格}:{结束单元格}`：填写工作表 ID 和单元格区间，表示将筛选应用于单元格选定的区域中
                    - `sheetId!{开始单元格}:{结束列索引}`：填写工作表 ID、起始单元格和结束列，表示省略结束行，使用表格的最后行作为结束行
                  example: 8fe9d6!A1:H14
              required:
              - col
              - condition
              - range
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: spreadsheet.sheet.filter.create
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
    delete:
      operationId: sheets_spreadsheet_sheet_filters_delete
      summary: 删除筛选
      tags:
      - spreadsheet.sheet.filters
      description: 删除筛选
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/delete
      parameters:
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 工作表 ID，通过[获取工作表](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet/query)
          获取。
        example: 8fe9d6
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: |-
          电子表格的 token。可通过以下两种方式获取。了解更多，参考[电子表格概述](https://open.feishu.cn/document/ukTMukTMukTM/uATMzUjLwEzM14CMxMTN/overview)。
          - 电子表格的 URL：https://sample.feishu.cn/sheets/`Iow7sNNEphp3WbtnbCscPqabcef`
          - 调用[获取文件夹中的文件清单](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/list)
        example: Iow7sNNEphp3WbtnbCscPqabcef
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: spreadsheet.sheet.filter.delete
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: high-risk-write
      x-lark-danger: true
    get:
      operationId: sheets_spreadsheet_sheet_filters_get
      summary: 获取筛选
      tags:
      - spreadsheet.sheet.filters
      description: 获取筛选
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/get
      parameters:
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 工作表 ID，通过[获取工作表](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet/query)
          获取。
        example: 8fe9d6
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: |-
          电子表格的 token。可通过以下两种方式获取。了解更多，参考[电子表格概述](https://open.feishu.cn/document/ukTMukTMukTM/uATMzUjLwEzM14CMxMTN/overview)。
          - 电子表格的 URL：https://sample.feishu.cn/sheets/`Iow7sNNEphp3WbtnbCscPqabcef`
          - 调用[获取文件夹中的文件清单](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/list)
        example: Iow7sNNEphp3WbtnbCscPqabcef
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      sheet_filter_info:
                        type: object
                        properties:
                          filter_infos:
                            type: array
                            items:
                              type: object
                              properties:
                                col:
                                  type: string
                                  description: 设置了筛选条件的列
                                  example: E
                                conditions:
                                  type: array
                                  items: {}
                                  description: 筛选条件
                              required:
                              - col
                              - conditions
                            description: 工作表的筛选条件
                          filtered_out_rows:
                            type: array
                            items: {}
                            description: 被筛选条件过滤掉的行。从 1 开始索引。
                          range:
                            type: string
                            description: 筛选的应用范围
                            example: 8fe9d6!A1:H14
                        required:
                        - filter_infos
                        - filtered_out_rows
                        - range
                        description: 筛选信息
      x-lark-method-id: spreadsheet.sheet.filter.get
      x-lark-scopes:
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
    put:
      operationId: sheets_spreadsheet_sheet_filters_update
      summary: 更新筛选
      tags:
      - spreadsheet.sheet.filters
      description: 更新筛选
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/update
      parameters:
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 工作表 ID，通过[获取工作表](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet/query)
          获取。
        example: 8fe9d6
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: |-
          电子表格的 token。可通过以下两种方式获取。了解更多，参考[电子表格概述](https://open.feishu.cn/document/ukTMukTMukTM/uATMzUjLwEzM14CMxMTN/overview)。
          - 电子表格的 URL：https://sample.feishu.cn/sheets/`Iow7sNNEphp3WbtnbCscPqabcef`
          - 调用[获取文件夹中的文件清单](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/list)
        example: Iow7sNNEphp3WbtnbCscPqabcef
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                col:
                  type: string
                  description: 指定要更新筛选条件的列。
                  example: G
                condition:
                  type: object
                  properties:
                    compare_type:
                      type: string
                      description: 比较类型。不同筛选类型的比较类型的枚举值不同，详情参考[筛选指南](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/filter-user-guide)。
                      example: beginsWith
                    expected:
                      type: array
                      items: {}
                      description: 筛选参数。不同筛选类型的筛选参数限制不同，详情参考[筛选指南](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/filter-user-guide)。
                    filter_type:
                      type: string
                      description: |-
                        筛选类型，枚举值如下所示。了解更多，参考[筛选指南](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/filter-user-guide)。
                        - multiValue ：多值筛选
                        - number ：数字筛选
                        - text ：文本筛选
                        - color ：颜色筛选
                        - clear ：清除某列的筛选条件
                      example: text
                  required:
                  - expected
                  - filter_type
                  description: 设置筛选条件。
              required:
              - col
              - condition
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: spreadsheet.sheet.filter.update
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/find:
    post:
      operationId: sheets_spreadsheet_sheets_find
      summary: 查找单元格
      tags:
      - spreadsheet.sheets
      description: 查找单元格
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet/find
      parameters:
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 工作表的 ID，获取方式见[获取工作表](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet/query)。
        example: PNIfrm
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: |-
          电子表格的 token。可通过以下两种方式获取。了解更多，参考[电子表格概述](https://open.feishu.cn/document/ukTMukTMukTM/uATMzUjLwEzM14CMxMTN/overview)。
          - 电子表格的 URL：https://sample.feishu.cn/sheets/`Iow7sNNEphp3WbtnbCscPqabcef`
          - 调用[获取文件夹中的文件清单](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/list)
        example: Iow7sNNEphp3WbtnbCscPqabcef
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                find:
                  type: string
                  description: 查找的字符串。当`search_by_regex` 字段为 true 时，你需填入正则表达式
                  example: 如下所示：;- 字符串查找示例： "hello";- 正则表达式查找示例："[A-Z]\w+
                find_condition:
                  type: object
                  properties:
                    include_formulas:
                      type: boolean
                      description: |-
                        是否仅搜索单元格公式，默认值为 false。
                        - `true`：仅搜索单元格公式
                        - `false`：仅搜索单元格内容
                      example: false
                    match_case:
                      type: boolean
                      description: |-
                        是否忽略查找字符串的大小写，默认为 false。
                        - `true`：忽略字符串中字母大小写差异
                        - `false`：区分字符串中字母大小写
                      example: true
                    match_entire_cell:
                      type: boolean
                      description: |-
                        字符串是否需要完全匹配整个单元格，默认值为 false。
                        - `true`：完全匹配单元格，比如 `find` 参数 取值为 "hello"，则单元格中的内容必须为 "hello" 才会匹配替换
                        - `false`：允许部分匹配单元格，比如 `find` 取值为 "hello"，则单元格中的内容包含 "hello" 即可匹配替换
                      example: false
                    range:
                      type: string
                      description: |-
                        查找范围。格式为 `<sheetId>!<开始位置>:<结束位置>`。其中：
                        - `sheetId` 为工作表 ID，通过[获取工作表](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet/query) 获取
                        - `<开始位置>:<结束位置>` 为工作表中单元格的范围，数字表示行索引，字母表示列索引。如 `A2:B2` 表示该工作表第 2 行的 A 列到 B 列。`range`支持四种写法，详情参考[电子表格概述](https://open.feishu.cn/document/ukTMukTMukTM/uATMzUjLwEzM14CMxMTN/overview)
                      example: PNIfrm!A1:C5
                    search_by_regex:
                      type: boolean
                      description: |-
                        是否使用正则表达式查找，默认值为 false。
                        - `true`：使用正则表达式
                        - `false`：不使用正则表达式
                      example: false
                  required:
                  - range
                  description: 指定查找单元格的条件。
              required:
              - find
              - find_condition
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      find_result:
                        type: object
                        properties:
                          matched_cells:
                            type: array
                            items: {}
                            description: 符合查找条件的单元格数组，不包含公式
                          matched_formula_cells:
                            type: array
                            items: {}
                            description: 符合查找条件的含有公式的单元格数组
                          rows_count:
                            type: integer
                            description: 符合查找条件的总行数
                            example: 2
                        description: 符合条件的信息
      x-lark-method-id: spreadsheet.sheet.find
      x-lark-scopes:
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet:read
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-risk: read
      x-lark-danger: true
  /open-apis/sheets/v3/spreadsheets:
    post:
      operationId: sheets_spreadsheets_create
      summary: 创建电子表格
      tags:
      - spreadsheets
      description: 创建电子表格
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet/create
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                folder_token:
                  type: string
                  description: |-
                    文件夹 token。你可通过以下两种方式获取文件夹的 token：
                    - 文件夹的 URL：https://sample.feishu.cn/drive/folder/`fldbcO1UuPz8VwnpPx5a92abcef`
                    - 调用开放平台接口获取：
                        - 调用[获取我的空间（root folder）元数据](https://open.feishu.cn/document/ukTMukTMukTM/ugTNzUjL4UzM14CO1MTN/get-root-folder-meta)接口获取根目录（即根文件夹）的 token。
                        - 继续调用[获取文件夹中的文件清单](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/list)接口，获取根目录下文件夹的 token。

                    **提示**：要在知识库中创建电子表格，你需调用[创建知识空间节点](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-node/create)接口，并选择表格（sheet）类型。
                  example: fldbcO1UuPz8VwnpPx5a92abcef
                title:
                  type: string
                  description: 表格标题
                  example: Sales sheet
                without_mount:
                  type: boolean
                  description: 是否挂载到云空间
                  example: false
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      spreadsheet:
                        type: object
                        properties:
                          folder_token:
                            type: string
                            description: 文件夹 token
                            example: fldbcO1UuPz8VwnpPx5a92abcef
                          spreadsheet_token:
                            type: string
                            description: 电子表格 token
                            example: Iow7sNNEphp3WbtnbCscPqabcef
                          title:
                            type: string
                            description: 电子表格标题
                            example: Sales sheet
                          url:
                            type: string
                            description: 电子表格的 URL 链接
                            example: https://example.feishu.cn/sheets/Iow7sNNEphp3WbtnbCscPqabcef
                          without_mount:
                            type: boolean
                            description: 是否挂载到云空间
                            example: false
                        description: 电子表格的基础信息
      x-lark-method-id: spreadsheet.create
      x-lark-scopes:
      - drive:drive
      - sheets:spreadsheet
      - sheets:spreadsheet:create
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}:
    get:
      operationId: sheets_spreadsheets_get
      summary: 获取电子表格信息
      tags:
      - spreadsheets
      description: 获取电子表格信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet/get
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: |-
          电子表格的 token。可通过以下两种方式获取。了解更多，参考[电子表格概述](https://open.feishu.cn/document/ukTMukTMukTM/uATMzUjLwEzM14CMxMTN/overview)。
          -  电子表格的 URL：https://sample.feishu.cn/sheets/`Iow7sNNEphp3WbtnbCscPqabcef`
          - 调用[获取文件夹中的文件清单](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/list)
        example: Iow7sNNEphp3WbtnbCscPqabcef
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties:
                      spreadsheet:
                        type: object
                        properties:
                          owner_id:
                            type: string
                            description: 电子表格的所有者 ID。ID 类型由查询参数 user_id_type 决定。
                            example: ou_48d0958ee4b2ab3eaf0b5f6c968abcef
                          title:
                            type: string
                            description: 电子表格标题
                            example: title
                          token:
                            type: string
                            description: 电子表格 token
                            example: Iow7sNNEphp3WbtnbCscPqabcef
                          url:
                            type: string
                            description: 电子表格的 URL 链接
                            example: https://example.feishu.cn/sheets/Iow7sNNEphp3WbtnbCscPqabcef
                        description: 电子表格的基础信息
      x-lark-method-id: spreadsheet.get
      x-lark-scopes:
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet.meta:read
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: read
    patch:
      operationId: sheets_spreadsheets_patch
      summary: 修改电子表格属性
      tags:
      - spreadsheets
      description: 修改电子表格属性
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet/patch
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: |-
          电子表格的 token。可通过以下两种方式获取。了解更多，参考[电子表格概述](https://open.feishu.cn/document/ukTMukTMukTM/uATMzUjLwEzM14CMxMTN/overview)。
          -  电子表格的 URL：https://sample.feishu.cn/sheets/`Iow7sNNEphp3WbtnbCscPqabcef`
          - 调用[获取文件夹中的文件清单](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/list)
        example: Iow7sNNEphp3WbtnbCscPqabcef
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 新的电子表格标题。参数为空时，表格标题将显示为“未命名表格”或本地语言环境对应内容。
                  example: Sales sheet
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达，见官方错误码文档）
          content:
            application/json:
              schema:
                type: object
                description: 飞书开放平台统一响应信封；业务数据位于 data 字段。
                properties:
                  code:
                    type: integer
                    description: 错误码，0 表示成功
                  msg:
                    type: string
                    description: 错误描述
                  data:
                    type: object
                    properties: {}
      x-lark-method-id: spreadsheet.patch
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet.meta:write_only
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-risk: write
      x-lark-danger: true
