# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · spark API（全量）
  description: |-
    飞书开放平台 `spark` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.0+a682c59d
  x-lark-project: spark
  x-lark-track: full (official API Explorer)
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: app.available_scope
- name: app.enum
- name: app.storage
- name: app.table
- name: app.view
- name: app
- name: directory.user
paths:
  /open-apis/spark/v1/available_scope:
    get:
      operationId: spark_app_available_scope_open_api_get_miaoda_available_scope
      summary: 获取妙搭产品使用权限
      tags:
      - app.available_scope
      description: 获取妙搭产品的使用权限范围，支持判断当前企业或用户对妙搭产品的访问权限类型，常用于妙搭产品的功能权限校验场景。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-available_scope/open_api_get_miaoda_available_scope
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      available_scope:
                        type: string
                        description: 使用权限范围类型
                        enum:
                        - ALLOW_ALL
                        - DENY_ALL
                        - ALLOW_PART
                        - DENY_PART
                        x-enum-descriptions:
                          ALLOW_ALL: 全部允许
                          DENY_ALL: 全部拒绝
                          ALLOW_PART: 部分允许（仅 department_ids / user_ids 中指定的范围）
                          DENY_PART: 部分拒绝（仅 department_ids / user_ids 中指定的范围）
                        example: ALLOW_PART
                      department_ids:
                        type: array
                        items:
                          type: string
                        description: 部门 ID 列表（仅 ALLOW_PART / DENY_PART 时有效）
                      user_ids:
                        type: array
                        items:
                          type: string
                        description: 用户 ID 列表（仅 ALLOW_PART / DENY_PART 时有效）
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:admin:read
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: Invalid request parameter
      - code: 3340002
        httpCode: 403
        msg: No permission to access tenant-level configuration
      - code: 3340500
        httpCode: 500
        msg: Internal server error
      x-lark-rate-limit:
        tier: 8
    put:
      operationId: spark_app_available_scope_open_api_update_miaoda_available_scope
      summary: 修改妙搭产品使用权限
      tags:
      - app.available_scope
      description: 修改妙搭产品的使用权限范围，支持设置全部允许、全部拒绝，或基于指定部门、用户的部分允许/部分拒绝规则，用于管控妙搭产品的使用权限。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-available_scope/open_api_update_miaoda_available_scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                available_scope:
                  type: string
                  description: 使用权限范围类型
                  enum:
                  - ALLOW_ALL
                  - DENY_ALL
                  - ALLOW_PART
                  - DENY_PART
                  x-enum-descriptions:
                    ALLOW_ALL: 全部允许
                    DENY_ALL: 全部拒绝
                    ALLOW_PART: 部分允许（仅 department_ids / user_ids 中指定的范围）
                    DENY_PART: 部分拒绝（仅 department_ids / user_ids 中指定的范围）
                  example: ALLOW_PART
                department_ids:
                  type: array
                  items:
                    type: string
                  description: 部门 ID 列表（仅 ALLOW_PART / DENY_PART 时生效）
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 用户 ID 列表（仅 ALLOW_PART / DENY_PART 时生效）
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:admin:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: Invalid request parameter
      - code: 3340003
        httpCode: 403
        msg: No permission to modify Miaoda available scope
      - code: 3340500
        httpCode: 500
        msg: Internal server error
      x-lark-rate-limit:
        tier: 8
  /open-apis/spark/v1/apps/{app_id}/enums/{enum_name}:
    get:
      operationId: spark_app_enum_get_enum_detail
      summary: 获取自定义枚举详细信息
      tags:
      - app.enum
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-enum/get_enum_detail
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      - name: enum_name
        in: path
        required: true
        schema:
          type: string
        description: 枚举名称
        example: enum_demo_1
      - name: env
        in: query
        required: false
        schema:
          type: string
          default: online
        description: 访问的 database 环境，默认为 online（线上环境）
        example: online
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        description: 枚举名称
                        example: enum_name
                      description:
                        type: string
                        description: 枚举描述
                        example: enum描述
                      options:
                        type: array
                        items:
                          type: string
                        description: 枚举值列表
                      created_at:
                        type: string
                        description: 创建时间，毫秒时间戳
                        example: '1765441837625'
                    required:
                    - name
                    - description
                    - options
                    - created_at
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.table:read
      - spark:app.table:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/spark/v1/apps/{app_id}/enums:
    get:
      operationId: spark_app_enum_get_enum_list
      summary: 获取自定义枚举列表
      tags:
      - app.enum
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-enum/get_enum_list
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 分页大小，用于限制一次请求所返回的数据条目数
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: AQD9/Rn9eij9Pm39ED40/RD/cIFmu77WxpxPB/2oHfQLZ+G8JG6tK7+ZnHiT7COhD2hMSICh/eBl7cpzU6JEC3J7COKNe4jrQ8ExwBCR
      - name: env
        in: query
        required: false
        schema:
          type: string
          default: online
        description: 访问的 database 环境，默认为 online（线上环境）
        example: online
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'true'
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: AQD9/Rn9eij9Pm39ED40/RD/cIFmu77WxpxPB/2oHfQLZ+G8JG6tK7+ZnHiT7COhD2hMSICh/eBl7cpzU6JEC3J7COKNe4jrQ8ExwBCR
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 枚举名称
                              example: enum_demo
                            description:
                              type: string
                              description: 枚举描述
                              example: enum_demo的描述
                            options:
                              type: array
                              items:
                                type: string
                              description: 枚举值列表
                            created_at:
                              type: integer
                              description: 创建时间，毫秒时间戳
                              example: '1765524810744'
                          required:
                          - name
                          - description
                          - options
                          - created_at
                        description: 枚举列表
                    required:
                    - has_more
                    - page_token
                    - items
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.table:read
      - spark:app.table:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/spark/v1/apps/{app_id}/storage:
    get:
      operationId: spark_app_storage_download
      summary: 下载文件
      tags:
      - app.storage
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-storage/download
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      - name: file_key
        in: query
        required: false
        schema:
          type: string
        description: 文件 ID，ID 和 URL 不能同时为空，都提供的情况下，使用 file_key
        example: '1859988692091946'
      - name: file_url
        in: query
        required: false
        schema:
          type: string
        description: 文件 URL，ID 和 URL 不能同时为空
        example: /app/app_4jmwuym484u90/runtime/api/v1/storage/object/bucket_aadju74v6daba/1859988692091946
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      content_type:
                        type: string
                        description: 文件的MIME
                        example: image/jpeg
                    required:
                    - content_type
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.storage:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
      x-lark-file-download: true
  /open-apis/spark/v1/apps/{app_id}/storage/upload:
    post:
      operationId: spark_app_storage_upload
      summary: 上传文件
      tags:
      - app.storage
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-storage/upload
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                  description: 文件名称
                  example: file_name
                check_sum:
                  type: string
                  description: 文件的十六进制 SHA-256 值，用于文件一致性校验。如果传入此值，服务端会在上传完成后对比接收到文件的 SHA-256 值，如果不一致，会返回上传失败。
                  example: f8d80a7f68b820d99f5612b952140319991d6599d95f29699d076684b0977f99
                file:
                  type: string
                  format: binary
                  description: 文件二进制
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.storage:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/spark/v1/apps/{app_id}/storage/upload/complete:
    post:
      operationId: spark_app_storage_upload_complete
      summary: 分片上传文件 - 完成上传
      tags:
      - app.storage
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-storage/upload_complete
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                upload_id:
                  type: string
                  description: 上传请求 ID
                  example: upload_abc123xyz456
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.storage:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/spark/v1/apps/{app_id}/storage/upload/initialize:
    post:
      operationId: spark_app_storage_upload_initialize
      summary: 分片上传文件 - 创建上传请求
      tags:
      - app.storage
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-storage/upload_initialize
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                  description: 文件名称
                  example: 上传文件名称示例
                file_size:
                  type: integer
                  description: 文件大小（字节）
                  example: '104857600'
                mime_type:
                  type: string
                  description: 文件 MIME 类型
                  example: text/plain; charset=utf-8
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      upload_id:
                        type: string
                        description: 上传请求 ID，有效期 24h
                        example: upload_abc123xyz456
                      chunk_size:
                        type: integer
                        description: 建议的分片大小（字节）
                        example: '4194304'
                      chunk_numbers:
                        type: integer
                        description: 预估的总分片数
                        example: '25'
                    required:
                    - upload_id
                    - chunk_size
                    - chunk_numbers
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.storage:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/spark/v1/apps/{app_id}/storage/upload/part:
    post:
      operationId: spark_app_storage_upload_part
      summary: 分片上传文件 - 上传分片
      tags:
      - app.storage
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-storage/upload_part
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                upload_id:
                  type: string
                  description: 上传请求 ID
                  example: upload_abc123xyz456
                chunk_index:
                  type: integer
                  description: 分片编号从 1 开始
                  example: '1'
                file:
                  type: string
                  format: binary
                  description: 对应分片文件的二进制内容
                chunk_check_sum:
                  type: string
                  description: 文件分片的 md5
                  example: ef176a6c424f954fa42d4cde03949897
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.storage:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/spark/v1/apps/{app_id}/tables/{table_name}/records_batch_update:
    patch:
      operationId: spark_app_table_batch_update_table_records
      summary: 批量更新数据表中的记录
      tags:
      - app.table
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-table/batch_update_table_records
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      - name: table_name
        in: path
        required: true
        schema:
          type: string
        description: 数据表表名
        example: table_name_1
      - name: env
        in: query
        required: false
        schema:
          type: string
          default: online
        description: 访问的 database 环境，默认为 online（线上环境）
        example: online
      - name: user_identifier_type
        in: query
        required: false
        schema:
          type: string
          default: miaoda_user_id
        description: |-
          此次调用使用的用户 ID 类型，将使用指定的 ID 来标示某个用户在接口入参和出参中的值。
          示例值：`miaoda_user_id`
          可选值：
          - `miaoda_user_id`：标识一个用户在飞书开发套件应用中的身份。示例值：1838493619298330
          - `open_id`：标识一个用户在某个应用中的身份。同一个用户在不同应用中的 Open ID 不同。示例值：ou_bdbbd8f3f919829064b3ffc1b9476105 了解更多：如何获取 Open ID
          - `union_id`：标识一个用户在某个应用开发商下的身份。同一用户在同一开发商下的应用中的 Union ID 是相同的，在不同开发商下的应用中的 Union ID 是不同的。通过 Union ID，应用开发商可以把同个用户在多个应用中的身份关联起来。示例值：on_b1b44199e8f3def4ebda5355409e2033 了解更多：如何获取 Union ID？

          默认值：`miaoda_user_id`
        example: miaoda_user_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                records:
                  type: string
                  description: 要更新的数据记录列表，单次支持最多 500条，每行 record 都必须包含主键 _id，且不同行要更新的字段需保持一致
                  example: '[{\"_id\":\"657fade8-394d-4d86-aa35-0129e3bd7614\",\"age\":10}]'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      record_ids:
                        type: array
                        items:
                          type: string
                        description: 更新的记录唯一ID列表
                    required:
                    - record_ids
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.table.record:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/spark/v1/apps/{app_id}/tables/{table_name}/records:
    delete:
      operationId: spark_app_table_delete_table_records
      summary: 删除数据表中的记录
      tags:
      - app.table
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-table/delete_table_records
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      - name: table_name
        in: path
        required: true
        schema:
          type: string
        description: 数据表表名
        example: table_name_1
      - name: filter
        in: query
        required: true
        schema:
          type: string
        description: |-
          筛选条件，尊许 PostgREST 语法，详情可查看 https://docs.postgrest.org/en/v13/references/api/tables_views.html#horizontal-filtering
          此处用法和查询数据记录一致
        example: age=gt.10
      - name: env
        in: query
        required: false
        schema:
          type: string
          default: online
        description: 访问的 database 环境，默认为 online（线上环境）
        example: online
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.table.record:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
    get:
      operationId: spark_app_table_get_table_record_list
      summary: 查询数据表数据记录
      tags:
      - app.table
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-table/get_table_record_list
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      - name: table_name
        in: path
        required: true
        schema:
          type: string
        description: 数据表表名
        example: table_name_1
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 分页大小，用于限制一次请求所返回的数据条目数。默认10，最大500
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: select
        in: query
        required: false
        schema:
          type: string
        description: |-
          返回的列，默认为 *，即返回所有列。
          遵循 PostgREST 语法，详情可查看 https://docs.postgrest.org/en/v13/references/api/tables_views.html#vertical-filtering
        example: _id,_created_at,name
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: 筛选条件，尊许 PostgREST 语法，详情可查看 https://docs.postgrest.org/en/v13/references/api/tables_views.html#horizontal-filtering
        example: age=gt.10
      - name: order
        in: query
        required: false
        schema:
          type: string
        description: |-
          排序条件，如果没指定 asc/desc，默认为 asc，null 值可排在最前或最后。
          尊许 PostgREST 语法，详情可查看
          https://docs.postgrest.org/en/v13/references/api/tables_views.html#ordering
        example: age.desc,score.asc
      - name: env
        in: query
        required: false
        schema:
          type: string
          default: online
        description: 访问的 database 环境，默认为 online（线上环境）
        example: online
      - name: user_identifier_type
        in: query
        required: false
        schema:
          type: string
          default: miaoda_user_id
        description: |-
          此次调用使用的用户 ID 类型，将使用指定的 ID 来标示某个用户在接口入参和出参中的值。
          示例值：`miaoda_user_id`
          可选值：
          - `miaoda_user_id`：标识一个用户在飞书开发套件应用中的身份。示例值：1838493619298330
          - `open_id`：标识一个用户在某个应用中的身份。同一个用户在不同应用中的 Open ID 不同。示例值：ou_bdbbd8f3f919829064b3ffc1b9476105 了解更多：如何获取 Open ID
          - `union_id`：标识一个用户在某个应用开发商下的身份。同一用户在同一开发商下的应用中的 Union ID 是相同的，在不同开发商下的应用中的 Union ID 是不同的。通过 Union ID，应用开发商可以把同个用户在多个应用中的身份关联起来。示例值：on_b1b44199e8f3def4ebda5355409e2033 了解更多：如何获取 Union ID？

          默认值：`miaoda_user_id`
        example: miaoda_user_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                      total:
                        type: integer
                        description: 符合条件的记录总数
                        example: '2'
                      items:
                        type: string
                        description: 数据记录列表，格式为数组序列化后的 JSONString
                        example: '[{\"name\":\"王一一\",\"gender\":\"male\",\"age\":10},{\"name\":\"王二二\",\"gender\":\"female\",\"age\":10}]'
                    required:
                    - has_more
                    - page_token
                    - total
                    - items
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.table.record:read
      - spark:app.table.record:write
      - spark:app:read
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
    patch:
      operationId: spark_app_table_patch_table_records
      summary: 按条件更新数据表中的记录
      tags:
      - app.table
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-table/patch_table_records
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      - name: table_name
        in: path
        required: true
        schema:
          type: string
        description: 数据表表名
        example: table_name_1
      - name: filter
        in: query
        required: true
        schema:
          type: string
        description: 筛选条件，尊许 PostgREST 语法，详情可查看 https://docs.postgrest.org/en/v13/references/api/tables_views.html#horizontal-filtering
        example: age=gt.10
      - name: env
        in: query
        required: false
        schema:
          type: string
          default: online
        description: 访问的 database 环境，默认为 online（线上环境）
        example: online
      - name: user_identifier_type
        in: query
        required: false
        schema:
          type: string
          default: miaoda_user_id
        description: |-
          此次调用使用的用户 ID 类型，将使用指定的 ID 来标示某个用户在接口入参和出参中的值。
          示例值：`miaoda_user_id`
          可选值：
          - `miaoda_user_id`：标识一个用户在飞书开发套件应用中的身份。示例值：1838493619298330
          - `open_id`：标识一个用户在某个应用中的身份。同一个用户在不同应用中的 Open ID 不同。示例值：ou_bdbbd8f3f919829064b3ffc1b9476105 了解更多：如何获取 Open ID
          - `union_id`：标识一个用户在某个应用开发商下的身份。同一用户在同一开发商下的应用中的 Union ID 是相同的，在不同开发商下的应用中的 Union ID 是不同的。通过 Union ID，应用开发商可以把同个用户在多个应用中的身份关联起来。示例值：on_b1b44199e8f3def4ebda5355409e2033 了解更多：如何获取 Union ID？

          默认值：`miaoda_user_id`
        example: miaoda_user_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                record:
                  type: string
                  description: 要更新的数据记录信息
                  example: '{\"age\":10}'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      record_ids:
                        type: array
                        items:
                          type: string
                        description: 更新的记录唯一ID列表
                    required:
                    - record_ids
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.table.record:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
    post:
      operationId: spark_app_table_post_table_records
      summary: 向数据表中添加或更新记录
      tags:
      - app.table
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-table/post_table_records
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      - name: table_name
        in: path
        required: true
        schema:
          type: string
        description: 数据表表名
        example: table_name_1
      - name: columns
        in: query
        required: false
        schema:
          type: string
        description: UPSERT 时使用，指定列，多列英文逗号拼接
        example: name,age
      - name: on_conflict
        in: query
        required: false
        schema:
          type: string
        description: |-
          UPSERT 时使用，指定使用哪一个或多个具有唯一约束的字段作为冲突判断依据，默认为表主键。
          假设 user_products 表有一个由 user_id 和 product_id 组成的复合唯一约束
        example: user_id,product_id
      - name: env
        in: query
        required: false
        schema:
          type: string
          default: online
        description: 访问的 database 环境，默认为 online（线上环境）
        example: online
      - name: user_identifier_type
        in: query
        required: false
        schema:
          type: string
          default: miaoda_user_id
        description: |-
          此次调用使用的用户 ID 类型，将使用指定的 ID 来标示某个用户在接口入参和出参中的值。
          示例值：`miaoda_user_id`
          可选值：
          - `miaoda_user_id`：标识一个用户在飞书开发套件应用中的身份。示例值：1838493619298330
          - `open_id`：标识一个用户在某个应用中的身份。同一个用户在不同应用中的 Open ID 不同。示例值：ou_bdbbd8f3f919829064b3ffc1b9476105 了解更多：如何获取 Open ID
          - `union_id`：标识一个用户在某个应用开发商下的身份。同一用户在同一开发商下的应用中的 Union ID 是相同的，在不同开发商下的应用中的 Union ID 是不同的。通过 Union ID，应用开发商可以把同个用户在多个应用中的身份关联起来。示例值：on_b1b44199e8f3def4ebda5355409e2033 了解更多：如何获取 Union ID？

          默认值：`miaoda_user_id`
        example: miaoda_user_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                records:
                  type: string
                  description: 要插入的数据记录列表，单次支持最多 500 条
                  example: '[{\"name\":\"王一一\",\"gender\":\"male\",\"age\":10},{\"name\":\"王二二\",\"gender\":\"female\",\"age\":10}]'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      record_ids:
                        type: array
                        items:
                          type: string
                        description: 按照记录顺序创建或更新的记录 ID 列表
                    required:
                    - record_ids
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.table.record:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/spark/v1/apps/{app_id}/tables/{table_name}:
    get:
      operationId: spark_app_table_get_table_detail
      summary: 获取数据表详细信息
      tags:
      - app.table
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-table/get_table_detail
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      - name: table_name
        in: path
        required: true
        schema:
          type: string
        description: 数据表表名
        example: table_name_1
      - name: env
        in: query
        required: false
        schema:
          type: string
          default: online
        description: 访问的 database 环境，默认为 online（线上环境）
        example: online
      - name: format
        in: query
        required: false
        schema:
          type: string
        description: 返回格式，是否包含建表ddl
        example: ddl
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        description: 数据表名，如 student
                        example: student
                      description:
                        type: string
                        description: 数据表描述
                        example: 这是student表的描述
                      columns:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item'
                        description: 数据表列
                      indexes:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 索引名
                              example: orders_pkey
                            columns:
                              type: array
                              items:
                                type: string
                              description: 索引涉及的列名（按索引定义顺序）
                            type:
                              type: string
                              description: 索引类型
                              example: '"btree" / "hash" / "gin" / "gist"'
                            definition:
                              type: string
                              description: PG 索引定义语句
                              example: CREATE INDEX idx_orders_user_id ON orders USING btree (user_id)
                          required:
                          - name
                          - type
                          - definition
                        description: 数据表索引
                      constraints:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: 约束类型
                              example: '"primary_key" / "unique" / "foreign_key"'
                            name:
                              type: string
                              description: 约束名
                              example: orders_pkey
                            columns:
                              type: array
                              items:
                                type: string
                              description: 约束涉及的列名
                            referenced_table:
                              type: string
                              description: 引用的目标表名
                              example: users
                            referenced_columns:
                              type: array
                              items:
                                type: string
                              description: 引用的目标列名
                          required:
                          - type
                          - name
                          - columns
                        description: 数据表约束
                      estimated_row_count:
                        type: integer
                        description: 表预估行数
                        example: '10'
                      size_bytes:
                        type: integer
                        description: 表占用字节数
                        example: '10'
                      ddl:
                        type: string
                        description: 建表ddl语句
                        example: 'CREATE TABLE IF NOT EXISTS users ( id uuid) '
                    required:
                    - name
                    - description
                    - columns
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.table:read
      - spark:app.table:write
      - spark:app:read
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/spark/v1/apps/{app_id}/tables:
    get:
      operationId: spark_app_table_get_table_list
      summary: 获取数据表列表
      tags:
      - app.table
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-table/get_table_list
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 分页大小，用于限制一次请求所返回的数据条目数。默认10，最大500
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: env
        in: query
        required: false
        schema:
          type: string
          default: online
        description: 访问的 database 环境，默认为 online（线上环境）
        example: online
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 数据表名，如 student
                              example: student
                            description:
                              type: string
                              description: 数据表描述
                              example: studect数据表
                            columns:
                              type: array
                              items:
                                $ref: '#/components/schemas/Item'
                              description: 数据表列
                            indexes:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: 索引名
                                    example: orders_pkey
                                  columns:
                                    type: array
                                    items:
                                      type: string
                                    description: 索引涉及的列名（按索引定义顺序）
                                  type:
                                    type: string
                                    description: 索引类型
                                    example: '"btree" / "hash" / "gin" / "gist"'
                                  definition:
                                    type: string
                                    description: PG 索引定义语句
                                    example: CREATE INDEX idx_orders_user_id ON orders USING btree (user_id)
                                required:
                                - name
                                - type
                                - definition
                              description: 数据表索引
                            constraints:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: 约束类型
                                    example: '"primary_key" / "unique" / "foreign_key"'
                                  name:
                                    type: string
                                    description: 约束名
                                    example: orders_pkey
                                  columns:
                                    type: array
                                    items:
                                      type: string
                                    description: 约束涉及的列名
                                  referenced_table:
                                    type: string
                                    description: 引用的目标表名
                                    example: users
                                  referenced_columns:
                                    type: array
                                    items:
                                      type: string
                                    description: 引用的目标列名
                                required:
                                - type
                                - name
                                - columns
                              description: 数据表约束
                            estimated_row_count:
                              type: integer
                              description: 表预估行数
                              example: '1234'
                            size_bytes:
                              type: integer
                              description: 表占用磁盘字节数
                              example: '8388'
                          required:
                          - name
                          - description
                          - columns
                        description: 数据表列表
                    required:
                    - has_more
                    - page_token
                    - items
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.table:read
      - spark:app.table:write
      - spark:app:read
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/spark/v1/apps/{app_id}/views/{view_name}/records:
    get:
      operationId: spark_app_view_get_view_record_list
      summary: 查询视图数据记录
      tags:
      - app.view
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app-view/get_view_record_list
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      - name: view_name
        in: path
        required: true
        schema:
          type: string
        description: 视图名称
        example: view_name_1
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 分页大小，用于限制一次请求所返回的数据条目数。默认10，最大500
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: select
        in: query
        required: false
        schema:
          type: string
        description: |-
          返回的列，默认为 *，即返回所有列。
          遵循 PostgREST 语法，详情可查看 https://docs.postgrest.org/en/v13/references/api/tables_views.html#vertical-filtering
        example: _id,_created_at,name
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: 筛选条件，尊许 PostgREST 语法，详情可查看 https://docs.postgrest.org/en/v13/references/api/tables_views.html#horizontal-filtering
        example: age=gt.10
      - name: order
        in: query
        required: false
        schema:
          type: string
        description: |-
          排序条件，如果没指定 asc/desc，默认为 asc，null 值可排在最前或最后。
          尊许 PostgREST 语法，详情可查看
          https://docs.postgrest.org/en/v13/references/api/tables_views.html#ordering
        example: age.desc,score.asc
      - name: env
        in: query
        required: false
        schema:
          type: string
          default: online
        description: 访问的 database 环境，默认为 online（线上环境）
        example: online
      - name: user_identifier_type
        in: query
        required: false
        schema:
          type: string
          default: miaoda_user_id
        description: |-
          此次调用使用的用户 ID 类型，将使用指定的 ID 来标示某个用户在接口入参和出参中的值。
          示例值：`miaoda_user_id`
          可选值：
          - `miaoda_user_id`：标识一个用户在飞书开发套件应用中的身份。示例值：1838493619298330
          - `open_id`：标识一个用户在某个应用中的身份。同一个用户在不同应用中的 Open ID 不同。示例值：ou_bdbbd8f3f919829064b3ffc1b9476105 了解更多：如何获取 Open ID
          - `union_id`：标识一个用户在某个应用开发商下的身份。同一用户在同一开发商下的应用中的 Union ID 是相同的，在不同开发商下的应用中的 Union ID 是不同的。通过 Union ID，应用开发商可以把同个用户在多个应用中的身份关联起来。示例值：on_b1b44199e8f3def4ebda5355409e2033 了解更多：如何获取 Union ID？

          默认值：`miaoda_user_id`
        example: miaoda_user_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                      total:
                        type: integer
                        description: 符合条件的记录总数
                        example: '2'
                      items:
                        type: string
                        description: 数据记录列表，格式为数组序列化后的 JSONString
                        example: '[{\"name\":\"王一一\",\"gender\":\"male\",\"age\":10},{\"name\":\"王二二\",\"gender\":\"female\",\"age\":10}]'
                    required:
                    - has_more
                    - page_token
                    - total
                    - items
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.table.record:read
      - spark:app.table.record:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/spark/v1/apps:
    post:
      operationId: spark_app_create
      summary: 创建妙搭应用
      tags:
      - app
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 应用名称
                  example: 智能客服助手
                app_type:
                  type: string
                  description: 应用类型
                  example: HTML
                description:
                  type: string
                  description: 应用描述
                  example: 提供7×24小时智能对话服务，支持常见问题自动解答与工单流转
                icon_url:
                  type: string
                  description: 应用图标地址
                  example: https://example.com/app-icons/customer-service.png
                source_agent:
                  type: string
                  description: 应用创建来源
                  example: HTML
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 8
    get:
      operationId: spark_app_list
      summary: 批量获取妙搭应用
      tags:
      - app
      description: 使用租户身份则获取当前租户下所有应用信息，使用用户身份则获取当前用户有权限查看的妙搭应用列表，支持按应用类型、归属范围筛选，以及通过关键词模糊匹配应用名称或描述，常用于应用管理页的列表渲染或批量应用数据同步场景。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 每页返回的应用数量，取值范围为1-100，默认值为20
        example: '20'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，用于获取下一页数据。首次调用不传，后续调用需传入上一页返回的page_token值，为空表示已无更多数据
        example: eyJwYWdlX251bWJlciI6MiwiY29udGVudF9pZHMiOlsiMTIzNCIsIjU2NzgiXX0=
      - name: app_type
        in: query
        required: false
        schema:
          type: string
        description: |-
          筛选应用类型，仅返回指定类型的应用。

          可选值：
          - `html`：轻量网页应用，基于前端技术栈开发，适用于展示类场景
          - `full_stack`：全栈应用，包含前后端逻辑，支持复杂业务功能
        example: html
      - name: keyword
        in: query
        required: false
        schema:
          type: string
        description: 用于模糊匹配应用名称或描述，支持中英文关键词。输入后将返回名称或描述中包含该关键词的应用，为空时返回全部有权限查看的应用
        example: 我的应用
      - name: scope
        in: query
        required: false
        schema:
          type: string
        description: |-
          应用归属范围过滤，用于筛选不同权限范围内的应用。

          可选值：
          - `all`：返回所有有权限查看的应用，包含自己创建的和共享给自己的
          - `created_by_me`：仅返回当前用户创建的应用
          - `shared_with_me`：仅返回其他用户共享给当前用户的应用

          默认值为 `all`，不传此参数等同于传入 `all`
        example: created_by_me
      - name: ownership
        in: query
        required: false
        schema:
          type: string
        description: Ownership 应用归属过滤，允许值：all / mine（我创建的） / shared（共享给我的）；默认 all（不传等同 all）。
        example: all
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      page_token:
                        type: string
                        description: 分页标记，用于获取下一页数据。当前页数据返回完毕且存在更多数据时返回，为空表示已无更多数据
                        example: eyJwYWdlX251bWJlciI6MiwiY29udGVudF9pZHMiOlsiMTIzNCIsIjU2NzgiXX0=
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/App'
                        description: 应用列表数据，包含当前页返回的所有妙搭应用的详细信息
                      has_more:
                        type: boolean
                        description: 是否存在更多数据。true表示还有未返回的数据，false表示已返回全部数据
                        example: 'true'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - spark:app:read
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 8
  /open-apis/spark/v1/apps/{app_id}/access-scope:
    get:
      operationId: spark_app_get_app_visibility
      summary: 获取妙搭应用可用范围
      tags:
      - app
      description: 查询妙搭应用可见范围
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app/get_app_visibility
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用唯一标识，通过应用创建接口或妙搭管理后台获取
        example: app_4k6af8utt2s0n
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    $ref: '#/components/schemas/Data2'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      - code: 3340002
        httpCode: 409
        msg: Application has not been published yet. Access scope operations require the app to be published first.
      x-lark-rate-limit:
        tier: 8
    put:
      operationId: spark_app_update_app_visibility
      summary: 更新妙搭应用可用范围
      tags:
      - app
      description: 更新妙搭应用可见范围（access-scope）
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app/update_app_visibility
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用的唯一标识，用于指定需要更新可见范围的目标应用。可通过调用「获取妙搭应用列表」接口或在妙搭控制台应用详情页获取。
        example: app-20240520103000-xyz
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Data2'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      - code: 3340002
        httpCode: 409
        msg: Application has not been published yet. Access scope operations require the app to be published first.
      x-lark-rate-limit:
        tier: 0
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.users[*]
        section: 0
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.departments[*]
        section: 0
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.chats[*]
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.apply_config.approvers[*]
        section: 0
  /open-apis/spark/v1/icon:
    post:
      operationId: spark_app_icon
      summary: 上传妙搭应用图标
      tags:
      - app
      description: 上传妙搭应用图标（multipart/form-data，返回图标 URL；不绑定具体 App）
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app/icon
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: File 待上传的图标文件，multipart/form-data 的 file 部分。
                  example: app-icon-20240520.png
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      icon_url:
                        type: string
                        description: IconURL 上传成功后的图标访问 URL。
                        example: https://spark-cdn.example.com/tenant/10001/app-icons/20240520/abcdef123456.png
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 8
      x-lark-file-upload: true
  /open-apis/spark/v1/apps/{app_id}/analytics/overview:
    get:
      operationId: spark_app_open_api_analytics_overview
      summary: 获取妙搭应用运营数据总览
      tags:
      - app
      description: 获取指定妙搭应用的运营数据总览，包含活跃用户数、新增用户数、页面访问数三类核心指标的当期值、上一等长区间值、环比绝对差值及环比率，用于快速掌握应用在指定时间区间内的运营表现。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app/open_api_analytics_overview
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 应用 ID
        example: cli_60d2f8a4b2c3d
      - name: start_time
        in: query
        required: true
        schema:
          type: string
        description: 运营分析区间起始时间戳，单位：秒（Unix 时间戳）
        example: '1690000000'
      - name: end_time
        in: query
        required: true
        schema:
          type: string
        description: 运营分析区间结束时间戳，单位：秒（Unix 时间戳）。须满足 end_time >= start_time
        example: '1690086400'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      active_users:
                        type: object
                        properties:
                          value:
                            type: string
                            description: 本区间指标值
                            example: '12500'
                          prev_value:
                            type: string
                            description: 上一等长区间的指标值（环比基准）
                            example: '15000'
                          diff:
                            type: string
                            description: 环比绝对变化 = value - prev_value
                            example: '-2500'
                          ratio:
                            type: number
                            description: 环比变化率（小数，如 -0.714 表示下降 71.4%）；prev_value 为 0 时为 0
                            example: '-0.1667'
                        required:
                        - value
                        - prev_value
                        - diff
                        - ratio
                        description: 单个运营指标对象（含本区间值、上一等长区间值与环比）。
                        example: '{"current":1200,"previous":1000,"delta":200,"rate":0.2}'
                      signups:
                        type: object
                        properties:
                          value:
                            type: string
                            description: 本区间指标值
                            example: '12500'
                          prev_value:
                            type: string
                            description: 上一等长区间的指标值（环比基准）
                            example: '15000'
                          diff:
                            type: string
                            description: 环比绝对变化 = value - prev_value
                            example: '-2500'
                          ratio:
                            type: number
                            description: 环比变化率（小数，如 -0.714 表示下降 71.4%）；prev_value 为 0 时为 0
                            example: '-0.1667'
                        required:
                        - value
                        - prev_value
                        - diff
                        - ratio
                        description: 单个运营指标对象（含本区间值、上一等长区间值与环比）。
                        example: '{"current":350,"previous":300,"delta":50,"rate":0.1667}'
                      page_views:
                        type: object
                        properties:
                          value:
                            type: string
                            description: 本区间指标值
                            example: '12500'
                          prev_value:
                            type: string
                            description: 上一等长区间的指标值（环比基准）
                            example: '15000'
                          diff:
                            type: string
                            description: 环比绝对变化 = value - prev_value
                            example: '-2500'
                          ratio:
                            type: number
                            description: 环比变化率（小数，如 -0.714 表示下降 71.4%）；prev_value 为 0 时为 0
                            example: '-0.1667'
                        required:
                        - value
                        - prev_value
                        - diff
                        - ratio
                        description: 单个运营指标对象（含本区间值、上一等长区间值与环比）。
                        example: '{"current":8500,"previous":7800,"delta":700,"rate":0.0897}'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - spark:app:read
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: Invalid request parameter
      - code: 3340004
        httpCode: 404
        msg: App not found
      - code: 3340500
        httpCode: 500
        msg: Internal server error
      x-lark-rate-limit:
        tier: 8
  /open-apis/spark/v1/apps/{app_id}/credit_usage:
    get:
      operationId: spark_app_open_api_credit_usage
      summary: 获取妙搭应用消耗 AI 额度
      tags:
      - app
      description: 功能介绍获取妙搭应用在指定时间范围内的 AI 额度消耗数据，包含区间累计总额度、企业额度、个人额度消耗，以及按天拆分的明细数据，支持用于应用额度使用情况的统计与分析。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app/open_api_credit_usage
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 应用 ID
        example: 67890abcdef1234567890
      - name: start_time
        in: query
        required: true
        schema:
          type: string
        description: 时间范围起始时间戳，单位：秒（Unix 时间戳）
        example: '1717286400'
      - name: end_time
        in: query
        required: true
        schema:
          type: string
        description: 时间范围结束时间戳，单位：秒（Unix 时间戳）。须满足 end_time >= start_time
        example: '1717372800'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                        description: 区间内 by day 数据点的总额度消耗总和
                        example: '1250.5'
                      points:
                        type: array
                        items:
                          type: object
                          properties:
                            timestamp:
                              type: string
                              description: 数据点所在自然日的起始时间戳（该自然日 0 点），单位：秒
                              example: '1690848000'
                            credit_usage:
                              type: number
                              description: 当日 AI 消耗量（总额度，含企业 + 个人）
                              example: '1250.5'
                            credit_usage_enterprise:
                              type: number
                              description: 当日企业额度消耗
                              example: '820.3'
                            credit_usage_personal:
                              type: number
                              description: 当日个人额度消耗
                              example: '430.2'
                          required:
                          - timestamp
                          - credit_usage
                          - credit_usage_enterprise
                          - credit_usage_personal
                        description: 按天的 AI 消耗量数据点列表，按 timestamp 升序
                      total_enterprise:
                        type: number
                        description: 区间内 by day 数据点的企业额度消耗总和
                        example: '980.2'
                      total_personal:
                        type: number
                        description: 区间内 by day 数据点的个人额度消耗总和
                        example: '270.3'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - spark:app:read
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: Invalid request parameter
      - code: 3340004
        httpCode: 404
        msg: App not found
      - code: 3340500
        httpCode: 500
        msg: Internal server error
      x-lark-rate-limit:
        tier: 8
  /open-apis/spark/v1/apps/{app_id}:
    patch:
      operationId: spark_app_patch
      summary: 更新妙搭应用信息
      tags:
      - app
      description: 更新妙搭应用
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app/patch
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用唯一标识，可通过「创建妙搭应用」或「查询妙搭应用列表」接口获取
        example: app_4k6af8utt2s0n
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 应用名称，用于在管理后台和前端展示，支持中英文，长度不超过64字符
                  example: 智能客服助手
                description:
                  type: string
                  description: 应用功能说明，用于向用户介绍应用核心能力，长度不超过200字符
                  example: 提供7×24小时智能对话服务，支持常见问题自动解答与工单流转
                icon_url:
                  type: string
                  description: 应用图标访问地址，支持PNG/JPG格式，建议尺寸为128×128像素
                  example: https://example.com/app-icons/customer-service.png
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 8
  /open-apis/spark/v1/apps/{app_id}/query_analytics_data:
    post:
      operationId: spark_app_query_analytics_data
      summary: 获取妙搭应用运营数据趋势
      tags:
      - app
      description: 批量查询运营数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app/query_analytics_data
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 应用ID
        example: app_4jbp6bx8fwjgm
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metric_types:
                  type: array
                  items:
                    type: string
                    enum:
                    - TOTAL_USER
                    - ACTIVE_USER
                    - NEW_USER
                    - PAGE_VIEW
                    - API_REQUEST
                    x-enum-descriptions:
                      TOTAL_USER: 累计用户数
                      ACTIVE_USER: 活跃用户数
                      NEW_USER: 新增用户数
                      PAGE_VIEW: 页面访问数
                      API_REQUEST: API 请求数
                  description: '指标名列表\n@example: TOTAL_USER、ACTIVE_USER、NEW_USER、PAGE_VIEW、API_REQUEST'
                start_timestamp_ns:
                  type: string
                  description: 时间范围\n起始时间戳，单位：纳秒
                  example: '1782132931498000000'
                end_timestamp_ns:
                  type: string
                  description: 结束时间戳，单位：纳秒
                  example: '1782132931498000000'
                time_aggregation_unit:
                  type: string
                  description: '时间聚合单元\n@example: HOUR、DAY、WEEK、MONTH'
                  enum:
                  - DAY
                  - WEEK
                  - MONTH
                  x-enum-descriptions:
                    DAY: 天
                    WEEK: 周
                    MONTH: 月
                filter:
                  type: object
                  properties:
                    page:
                      type: string
                      description: 页面路径
                      example: /home
                    device_types:
                      type: array
                      items:
                        type: string
                      description: 终端类型
                  description: '其他过滤条件，key: 匹配字段名称（所有指标共享）'
                need_pack_lack_point:
                  type: boolean
                  description: 是否需要补点：true 时对缺失的时间点补 0；false 时只返回原始数据点
                group_by:
                  type: string
                  description: 按字段聚合，当前只支持 device_ytpe
                  example: device_type
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      series:
                        type: array
                        items:
                          type: object
                          properties:
                            metric_type:
                              type: string
                              description: 指标类型
                              enum:
                              - TOTAL_USER
                              - ACTIVE_USER
                              - NEW_USER
                              - PAGE_VIEW
                              - API_REQUEST
                              x-enum-descriptions:
                                TOTAL_USER: 累计用户数
                                ACTIVE_USER: 活跃用户数
                                NEW_USER: 新增用户数
                                PAGE_VIEW: 页面访问数
                                API_REQUEST: API 请求数
                            points:
                              type: array
                              items:
                                type: object
                                properties:
                                  timestamp_ns:
                                    type: string
                                    description: 数据点的时间戳，单位：纳秒
                                    example: '1782132931498000000'
                                  value:
                                    type: number
                                    description: 数据点的值
                                    example: '1'
                                  dimensions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key:
                                          type: string
                                          description: key
                                          example: foo
                                        value:
                                          type: string
                                          description: value
                                          example: bar
                                      required:
                                      - key
                                      - value
                                    description: 数据点的维度
                                required:
                                - timestamp_ns
                                - value
                                - dimensions
                              description: 数据点
                          required:
                          - metric_type
                        description: 序列
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - spark:app:read
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      - code: 3340004
        httpCode: 404
        msg: App not found
      - code: 3340500
        httpCode: 500
        msg: Internal server error
      x-lark-rate-limit:
        tier: 8
  /open-apis/spark/v1/apps/{app_id}/sql_commands:
    post:
      operationId: spark_app_sql_commands
      summary: 执行 SQL
      tags:
      - app
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app/sql_commands
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id，可从妙搭应用 URL 中获取，如 https://miaoda.feishu.cn/app/app_4jcn5n11bpf5v 中的 app_4jcn5n11bpf5v 即为 app_id
        example: app_4jcn5n11bpf5v
      - name: env
        in: query
        required: false
        schema:
          type: string
          default: online
        description: 访问的 database 环境，默认为 online（线上环境）
        example: online
      - name: transactional
        in: query
        required: false
        schema:
          type: boolean
        description: 是否在事务中执行，默认为true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sql:
                  type: string
                  description: 要执行的 SQL 语句
                  example: SELECT name FROM student
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      result:
                        type: string
                        description: 如果是 SELECT 命令，返回的是查询结果的 JSON 序列化字符串。如果是其他无返回的命令，如 DELETE 等，result 为空
                        example: '[{\"name\":\"王一一\"}]'
                    required:
                    - result
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app.sql_commands:write
      - spark:app:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/spark/v1/apps/{app_id}/upload_and_release_html_code:
    post:
      operationId: spark_app_upload_html_code_and_release
      summary: 上传 HTML 代码并发布
      tags:
      - app
      description: 上传 HTML 代码并发布应用
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/app/upload_html_code_and_release
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 妙搭应用 id
        example: app_4k6af8utt2s0n
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: tar 格式的 HTML 文件。
                  example: app_html_code.tar
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        description: 发布成功后的在线访问地址。
                        example: https://spark.example.com/apps/MDA20240516001
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - spark:app:write
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 8
      x-lark-file-upload: true
  /open-apis/spark/v1/directory/user/id_convert:
    post:
      operationId: spark_directory_user_id_convert
      summary: 妙搭和飞书用户 ID 转换
      tags:
      - directory.user
      description: 'open api\nIDConvert: 飞书和force id转换\noapi.post = "/v1/directory/user/id_convert",'
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/spark-v1/directory-user/id_convert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id_convert_type:
                  type: integer
                  description: ID 转换类型，枚举
                  enum:
                  - 10
                  - 11
                  - 20
                  - 21
                  - 40
                  x-enum-descriptions:
                    '10': 妙搭用户 ID 转飞书开放平台 Open ID
                    '11': 妙搭用户 ID 转飞书开放平台 Union ID
                    '20': 飞书开放平台 Open ID 转妙搭用户 ID
                    '21': 飞书开放平台 Union ID 转妙搭用户 ID
                    '40': 妙搭用户 ID 转飞书用户 ID
                ids:
                  type: array
                  items:
                    type: string
                  description: 长度最大100
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            source_id:
                              type: string
                              description: 源 ID
                              example: '123445678933432'
                            target_id:
                              type: string
                              description: 目标 ID
                              example: ou_1234cdjhjfedgfhgdhy3884
                          required:
                          - source_id
                          - target_id
                        description: ID 映射，查询不到或者查询出错的不返回
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - spark:directory.user.id_convert:read
      x-lark-error-mappings:
      - code: 3340001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 9
components:
  schemas:
    App:
      type: object
      properties:
        app_id:
          type: string
          description: 应用唯一标识，系统自动生成，用于在接口中定位具体应用。可通过应用创建接口或开发者后台获取
          example: app_7d2f8a4b1c9e6035
        app_type:
          type: string
          description: 应用类型,full_stack或者html
          example: HTML
        name:
          type: string
          description: 应用名称，用于在管理后台和前端展示，支持中英文，长度不超过64字符
          example: 智能客服助手
        description:
          type: string
          description: 应用功能说明，用于向用户介绍应用核心能力，长度不超过200字符
          example: 提供7×24小时智能对话服务，支持常见问题自动解答与工单流转
        icon_url:
          type: string
          description: 应用图标访问地址，支持PNG/JPG格式，建议尺寸为128×128像素
          example: https://example.com/app-icons/customer-service.png
        created_at:
          type: string
          description: 应用创建时间，遵循ISO 8601 UTC格式，由系统自动生成
          example: '2026-05-18T10:00:00Z'
        updated_at:
          type: string
          description: 应用最后更新时间，遵循ISO 8601 UTC格式，应用信息变更时自动更新
          example: '2026-06-20T14:30:00Z'
        is_published:
          type: boolean
          description: 应用是否已发布
          example: 'true'
        online_url:
          type: string
          description: 应用发布后的访问地址
          example: http://www.tos.dlxka.com
        meta_token:
          type: string
          description: 应用对应的文档 token
          example: wfjgyiyN2Fk17H8cgfFanWe
        status:
          type: string
          description: 应用启用状态：启用(enabled) / 停用(disabled)
          example: enabled
        owner_id:
          type: string
          description: 应用所有者 UserID
          example: '7615135553960283664'
        creator_id:
          type: string
          description: 应用创建者 UserID
          example: '7615135553960283664'
        admin_ids:
          type: array
          items:
            type: string
          description: 应用管理员 UserID 列表
          example: '["7615135553960283664"]'
        developer_ids:
          type: array
          items:
            type: string
          description: 应用开发者 UserID 列表
          example: '["7615135553960283664"]'
      description: 妙搭应用
      example: app_7d2f8a4b1c9e6035
    Schema:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data'
    Data:
      type: object
      properties:
        app:
          allOf:
          - $ref: '#/components/schemas/App'
          description: 妙搭应用
          example: app_7d2f8a4b1c9e6035
    Item:
      type: object
      properties:
        name:
          type: string
          description: 列名
          example: column_name
        description:
          type: string
          description: 列描述
          example: column_name的描述
        data_type:
          type: string
          description: 数据库数据类型
          example: varchar
        is_primary_key:
          type: boolean
          description: 是否是主键
        is_unique:
          type: boolean
          description: 是否唯一
        is_auto_increment:
          type: boolean
          description: 是否是自增
        is_array:
          type: boolean
          description: 是否是数组类型
        is_allow_null:
          type: boolean
          description: 是否允许为空
        default_value:
          type: string
          description: 默认值
          example: 默认值
      required:
      - name
      - description
      - data_type
      - is_primary_key
      - is_unique
      - is_auto_increment
      - is_array
      - is_allow_null
      - default_value
    Data2:
      type: object
      properties:
        scope:
          type: string
          description: Scope 可见范围类型：All/ Tenant / Range
          example: Range
        users:
          type: array
          items:
            type: string
          description: Users 仅 Scope=Range 时返回，授权用户 open_id 列表
        departments:
          type: array
          items:
            type: string
          description: Departments 仅 Scope=Range 时返回，授权部门 department_id 列表
        chats:
          type: array
          items:
            type: string
          description: Chats 仅 Scope=Range 时返回，授权群聊 chat_id 列表
        apply_config:
          type: object
          properties:
            enabled:
              type: boolean
              description: 控制审批流程是否启用。设为true时，提交申请后将触发配置的审批流程；设为false时，申请将直接通过无需审批。
              example: 'true'
            approvers:
              type: array
              items:
                type: string
              description: 仅支持配置一个用户 open_id
          description: ApplyConfig 当前申请访问配置（含审批人）；未启用申请时为 nil
          example: '{"enabled":true,"approvers":["ou_1234567890abcdef1234567890abcdef"]}'
        require_login:
          type: boolean
          description: 控制访问应用是否需要用户登录
          example: 'true'
    Schema2:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            file_key:
              type: string
              description: 文件 ID
              example: '1859988692091946'
            file_url:
              type: string
              description: 文件 URL，相对路径
              example: /app/app_4jmwuym484u90/runtime/api/v1/storage/object/bucket_aadju74v6daba/1859988692091946
            file_name:
              type: string
              description: 文件名称
              example: 文件名称
            file_size:
              type: integer
              description: 文件大小，单位字节
              example: '33'
            mime_type:
              type: string
              description: 文件 MIME 类型
              example: binary/octet-stream
          required:
          - file_key
          - file_url
          - file_name
          - file_size
          - mime_type
