# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · acs API（全量）
  description: |-
    飞书开放平台 `acs` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:22:04Z'
  x-lark-project: acs
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:22:04Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: access_record.access_photo
- name: access_record
- name: device
- name: rule_external
- name: user.face
- name: user
- name: visitor
paths:
  /open-apis/acs/v1/access_records/{access_record_id}/access_photo:
    get:
      operationId: acs_access_record_access_photo_get
      summary: 下载开门时的人脸识别图片
      tags:
      - access_record.access_photo
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/access_record-access_photo/get
      parameters:
      - name: access_record_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 门禁访问记录 ID
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - acs:users
      x-lark-error-mappings:
      - code: 1490050
        httpCode: 400
        msg: access record not exist error
      - code: 1490052
        httpCode: 400
        msg: access record photo not exist error
      x-lark-rate-limit:
        tier: 0
      x-lark-file-download: true
  /open-apis/acs/v1/access_records:
    get:
      operationId: acs_access_record_list
      summary: 获取门禁记录列表
      tags:
      - access_record
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/access_record/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 100
        description: 分页大小
        example: '100'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: from
        in: query
        required: true
        schema:
          type: integer
        description: 记录开始时间，单位秒
        example: '1624520521'
      - name: to
        in: query
        required: true
        schema:
          type: integer
        description: |-
          记录结束时间，单位秒，
          时间跨度不能超过30天
        example: '1624520521'
      - name: device_id
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 门禁设备 ID
        example: '7091146989218002577'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            access_record_id:
                              type: string
                              description: 门禁记录 ID
                              example: '6939433228970082591'
                              format: int64
                            user_id:
                              type: string
                              description: 门禁记录所属用户 ID
                              example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                            device_id:
                              type: string
                              description: 门禁设备 ID
                              example: '6939433228970082593'
                              format: int64
                            is_clock_in:
                              type: boolean
                              description: 是否是打卡
                              example: 'true'
                            access_time:
                              type: string
                              description: 访问时间，单位秒
                              example: '1624520221'
                              format: int64
                            access_type:
                              type: string
                              description: 识别方式
                              enum:
                              - FA
                              - QRCode
                              - Card
                              - Fp
                              x-enum-descriptions:
                                FA: 人脸识别方式
                                QRCode: 二维码识别方式
                                Card: 卡片识别方式
                                Fp: 指纹识别方式
                              example: FA
                            access_data:
                              type: string
                              description: 识别相关数据，根据 access_type 不同，取值不同
                              example: '{\"has_access_photo\":true}'
                            is_door_open:
                              type: boolean
                              description: 是否开门
                              example: 'true'
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                      has_more:
                        type: boolean
                        description: 是否还有更多项
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - acs:access_record:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1490018
        httpCode: 400
        msg: page token is invalid error
      - code: 1490017
        httpCode: 400
        msg: time range oversize error
      x-lark-rate-limit:
        tier: 0
      x-lark-pagination: true
  /open-apis/acs/v1/devices:
    get:
      operationId: acs_device_list
      summary: 获取门禁设备列表
      tags:
      - device
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/device/list
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            device_id:
                              type: string
                              description: 门禁设备 ID
                              example: '6939433228970082593'
                              format: int64
                            device_name:
                              type: string
                              description: 设备名称
                              example: 北门
                            device_sn:
                              type: string
                              description: 设备 SN 码
                              example: 3X811621174000240
                            property:
                              type: object
                              properties:
                                version:
                                  type: string
                                  description: 设备版本号
                                  example: 2.3.10
                                current_device_face_count:
                                  type: integer
                                  description: 当前设备人脸数量
                                  example: '300'
                                max_face_capacity:
                                  type: integer
                                  description: 设备最大人脸容量
                                  example: '5000'
                                online_status:
                                  type: integer
                                  description: 在线状态
                                  enum:
                                  - 1
                                  - 0
                                  x-enum-descriptions:
                                    '1': 在线
                                    '0': 离线
                                  example: '1'
                                device_name:
                                  type: string
                                  description: 设备名称
                                  example: 南门
                                is_clock_in:
                                  type: boolean
                                  description: 是否是打卡
                                  example: 'true'
                              description: 设备属性
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - acs:devices:readonly
      x-lark-rate-limit:
        tier: 0
  /open-apis/acs/v1/rule_external:
    post:
      operationId: acs_rule_external_create
      summary: 创建或更新权限组
      tags:
      - rule_external
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/rule_external/create
      parameters:
      - name: rule_id
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 权限组id-为空创建,不为空则更新
        example: '7298933941867135276'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rule:
                  type: object
                  properties:
                    id:
                      type: string
                      description: 权限组id
                      example: '34252345234523'
                      format: int64
                    name:
                      type: string
                      description: 权限组名称
                      example: 南门
                    devices:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 设备id
                            example: '534545234523452345'
                            format: int64
                          name:
                            type: string
                            description: 设备名称
                            example: 北门
                      description: 权限组包含的设备
                    user_count:
                      type: string
                      description: 权限组包含的员工个数
                      example: '3'
                      format: int64
                    users:
                      type: array
                      items:
                        type: object
                        properties:
                          user_type:
                            type: integer
                            description: 用户类型
                            enum:
                            - 1
                            - 2
                            - 10
                            - 11
                            x-enum-descriptions:
                              '1': 员工
                              '2': 部门
                              '10': 全体员工
                              '11': 访客
                            example: '1'
                          user_id:
                            type: string
                            description: 用户id
                            example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                            format: int64
                          user_name:
                            type: string
                            description: 用户名称
                            example: 张三
                          phone_num:
                            type: string
                            description: 电话号码
                            example: '1357890001'
                          department_id:
                            type: string
                            description: 部门id
                            example: od-f7d44ab733f7602f5cc5194735fd9aaf
                            format: int64
                        required:
                        - user_type
                      description: 权限组包含的员工列表
                    visitor_count:
                      type: string
                      description: 权限组包含的访客个数
                      example: '3'
                      format: int64
                    visitors:
                      type: array
                      items:
                        type: object
                        properties:
                          user_type:
                            type: integer
                            description: 用户类型
                            enum:
                            - 1
                            - 2
                            - 10
                            - 11
                            x-enum-descriptions:
                              '1': 员工
                              '2': 部门
                              '10': 全体员工
                              '11': 访客
                            example: '1'
                          user_id:
                            type: string
                            description: 用户id
                            example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                            format: int64
                          user_name:
                            type: string
                            description: 用户名称
                            example: 张三
                          phone_num:
                            type: string
                            description: 电话号码
                            example: '1357890001'
                          department_id:
                            type: string
                            description: 部门id
                            example: od-f7d44ab733f7602f5cc5194735fd9aaf
                            format: int64
                        required:
                        - user_type
                      description: 权限组包含的访客列表
                    remind_face:
                      type: boolean
                      description: 是否通知人员录入
                      example: 'false'
                    opening_time:
                      type: object
                      properties:
                        valid_day:
                          type: object
                          properties:
                            start_day:
                              type: integer
                              description: 权限开始时间
                              example: '1699031483'
                            end_day:
                              type: integer
                              description: 权限结束时间
                              example: '1699931483'
                          required:
                          - start_day
                          - end_day
                          description: 有效日期
                        weekdays:
                          type: array
                          items:
                            type: integer
                          description: 有效星期
                        day_times:
                          type: array
                          items:
                            type: object
                            properties:
                              start_hhmm:
                                type: integer
                                description: 起始时间
                                example: '1200'
                              end_hhmm:
                                type: integer
                                description: 结束时间
                                example: '1400'
                            required:
                            - start_hhmm
                            - end_hhmm
                          description: 有效时间
                      description: 开门时间段
                    is_temp:
                      type: boolean
                      description: 是否为临时权限组
                      example: 'false'
                  description: 权限组信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      rule_id:
                        type: string
                        description: 权限组id
                        example: '7298933941867135276'
                        format: int64
                    required:
                    - rule_id
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - acs:device:write
      - acs:users
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1490030
        httpCode: 400
        msg: Device does not exist
      - code: 1490001
        httpCode: 400
        msg: params is invalid
      - code: 1490090
        httpCode: 400
        msg: rule id is invalid
      - code: 1490112
        httpCode: 400
        msg: rule name already exist
      - code: 1490111
        httpCode: 400
        msg: rule count reach limit
      x-lark-rate-limit:
        tier: 6
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.rule.users[*].user_id
        section: 0
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.rule.users[*].department_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.rule.visitors[*].user_id
        section: 0
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.rule.visitors[*].department_id
        section: 0
    delete:
      operationId: acs_rule_external_delete
      summary: 删除权限组
      tags:
      - rule_external
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/rule_external/delete
      parameters:
      - name: rule_id
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 权限组id
        example: '7298933941867135276'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - acs:device:write
      - acs:users
      x-lark-error-mappings:
      - code: 1490090
        httpCode: 400
        msg: rule id is invalid
      - code: 1490012
        httpCode: 400
        msg: rule id has deleted
      x-lark-rate-limit:
        tier: 6
    get:
      operationId: acs_rule_external_get
      summary: 获取权限组信息
      tags:
      - rule_external
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/rule_external/get
      parameters:
      - name: device_id
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 设备id
        example: '7296700518380863767'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      rules:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 权限组id
                              example: '34252345234523'
                              format: int64
                            name:
                              type: string
                              description: 权限组名称
                              example: 南门
                            devices:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: 设备id
                                    example: '534545234523452345'
                                    format: int64
                                  name:
                                    type: string
                                    description: 设备名称
                                    example: 北门
                              description: 权限组包含的设备
                            user_count:
                              type: string
                              description: 权限组包含的员工个数
                              example: '3'
                              format: int64
                            users:
                              type: array
                              items:
                                type: object
                                properties:
                                  user_type:
                                    type: integer
                                    description: 用户类型
                                    enum:
                                    - 1
                                    - 2
                                    - 10
                                    - 11
                                    x-enum-descriptions:
                                      '1': 员工
                                      '2': 部门
                                      '10': 全体员工
                                      '11': 访客
                                    example: '1'
                                  user_id:
                                    type: string
                                    description: 用户id
                                    example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                                    format: int64
                                  user_name:
                                    type: string
                                    description: 用户名称
                                    example: 张三
                                  phone_num:
                                    type: string
                                    description: 电话号码
                                    example: '1357890001'
                                  department_id:
                                    type: string
                                    description: 部门id
                                    example: od-f7d44ab733f7602f5cc5194735fd9aaf
                                    format: int64
                                required:
                                - user_type
                              description: 权限组包含的员工列表
                            visitor_count:
                              type: string
                              description: 权限组包含的访客个数
                              example: '3'
                              format: int64
                            visitors:
                              type: array
                              items:
                                type: object
                                properties:
                                  user_type:
                                    type: integer
                                    description: 用户类型
                                    enum:
                                    - 1
                                    - 2
                                    - 10
                                    - 11
                                    x-enum-descriptions:
                                      '1': 员工
                                      '2': 部门
                                      '10': 全体员工
                                      '11': 访客
                                    example: '1'
                                  user_id:
                                    type: string
                                    description: 用户id
                                    example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                                    format: int64
                                  user_name:
                                    type: string
                                    description: 用户名称
                                    example: 张三
                                  phone_num:
                                    type: string
                                    description: 电话号码
                                    example: '1357890001'
                                  department_id:
                                    type: string
                                    description: 部门id
                                    example: od-f7d44ab733f7602f5cc5194735fd9aaf
                                    format: int64
                                required:
                                - user_type
                              description: 权限组包含的访客列表
                            remind_face:
                              type: boolean
                              description: 是否通知人员录入
                              example: 'false'
                            opening_time:
                              type: object
                              properties:
                                valid_day:
                                  type: object
                                  properties:
                                    start_day:
                                      type: integer
                                      description: 权限开始时间
                                      example: '1699031483'
                                    end_day:
                                      type: integer
                                      description: 权限结束时间
                                      example: '1699931483'
                                  required:
                                  - start_day
                                  - end_day
                                  description: 有效日期
                                weekdays:
                                  type: array
                                  items:
                                    type: integer
                                  description: 有效星期
                                day_times:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      start_hhmm:
                                        type: integer
                                        description: 起始时间
                                        example: '1200'
                                      end_hhmm:
                                        type: integer
                                        description: 结束时间
                                        example: '1400'
                                    required:
                                    - start_hhmm
                                    - end_hhmm
                                  description: 有效时间
                              description: 开门时间段
                            is_temp:
                              type: boolean
                              description: 是否为临时权限组
                              example: 'false'
                        description: 设备权限组信息
                    required:
                    - rules
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - acs:users
      - acs:devices:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-rate-limit:
        tier: 6
  /open-apis/acs/v1/rule_external/device_bind:
    post:
      operationId: acs_rule_external_device_bind
      summary: 设备绑定权限组
      tags:
      - rule_external
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/rule_external/device_bind
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: string
                  description: 设备id
                  example: '6939433228970082593'
                  format: int64
                rule_ids:
                  type: array
                  items:
                    type: string
                  description: 权限组id列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - acs:device:write
      - acs:users
      x-lark-error-mappings:
      - code: 1490030
        httpCode: 400
        msg: Device does not exist
      - code: 1490090
        httpCode: 400
        msg: rule id is invalid
      x-lark-rate-limit:
        tier: 6
  /open-apis/acs/v1/users/{user_id}/face:
    get:
      operationId: acs_user_face_get
      summary: 下载人脸图片
      tags:
      - user.face
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/user-face/get
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: 用户 ID
      - name: is_cropped
        in: query
        required: false
        schema:
          type: boolean
        description: 裁剪图
        example: 'true'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - acs:users
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1490101
        httpCode: 400
        msg: user not found
      - code: 1490107
        httpCode: 400
        msg: user face not found
      x-lark-rate-limit:
        tier: 0
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_id
        section: 3
      x-lark-file-download: true
    put:
      operationId: acs_user_face_update
      summary: 上传人脸图片
      tags:
      - user.face
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/user-face/update
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: 用户 ID
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: string
                  format: binary
                  description: 人脸图片内容
                  example: jpg图片
                file_type:
                  type: string
                  description: 文件类型,可选的类型有jpg,png
                  example: jpg
                file_name:
                  type: string
                  description: 带后缀的文件名
                  example: efeqz12f.jpg
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - acs:users
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1490101
        httpCode: 400
        msg: user not found
      - code: 1490108
        httpCode: 400
        msg: user face crop fail
      x-lark-rate-limit:
        tier: 0
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_id
        section: 3
      x-lark-file-upload: true
  /open-apis/acs/v1/users/{user_id}:
    get:
      operationId: acs_user_get
      summary: 获取单个用户信息
      tags:
      - user
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/user/get
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: 用户 ID
        example: ou_7dab8a3d3cdcc9da365777c7ad535d62
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          feature:
                            type: object
                            properties:
                              card:
                                type: integer
                                description: 卡号
                                example: '123456'
                              face_uploaded:
                                type: boolean
                                description: 是否已上传人脸图片
                            description: 用户特征
                          user_id:
                            type: string
                            description: 用户 ID
                            example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                        description: 门禁用户信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - acs:users
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1490101
        httpCode: 400
        msg: user not found
      x-lark-rate-limit:
        tier: 0
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_id
        section: 3
    patch:
      operationId: acs_user_patch
      summary: 修改用户部分信息
      tags:
      - user
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/user/patch
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: 用户 ID
        example: ou_7dab8a3d3cdcc9da365777c7ad535d62
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                feature:
                  type: object
                  properties:
                    card:
                      type: integer
                      description: 卡号
                      example: '123456'
                  description: 用户特征
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - acs:users
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1490101
        httpCode: 400
        msg: user not found
      x-lark-rate-limit:
        tier: 0
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_id
        section: 3
  /open-apis/acs/v1/users:
    get:
      operationId: acs_user_list
      summary: 获取用户列表
      tags:
      - user
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/user/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: AQD9/Rn9eij9Pm39ED40/dk53s4Ebp882DYfFaPFbz00L4CMZJrqGdzNyc8BcZtDbwVUvRmQTvyMYicnGWrde9X56TgdBuS+JKiSIkdexPw=
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            feature:
                              type: object
                              properties:
                                card:
                                  type: integer
                                  description: 卡号
                                  example: '123456'
                                face_uploaded:
                                  type: boolean
                                  description: 是否已上传人脸图片
                              description: 用户特征
                            user_id:
                              type: string
                              description: 用户 ID
                              example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: AQD9/Rn9eij9Pm39ED40/dk53s4Ebp882DYfFaPFbz00L4CMZJrqGdzNyc8BcZtDbwVUvRmQTvyMYicnGWrde9X56TgdBuS+JKiSIkdexPw=
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'true'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - acs:users
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1490018
        httpCode: 400
        msg: page token is invalid error
      x-lark-rate-limit:
        tier: 0
      x-lark-pagination: true
  /open-apis/acs/v1/visitors:
    post:
      operationId: acs_visitor_create
      summary: 添加访客
      tags:
      - visitor
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/visitor/create
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    user_type:
                      type: integer
                      description: 用户类型
                      enum:
                      - 1
                      - 2
                      - 10
                      - 11
                      x-enum-descriptions:
                        '1': 员工
                        '2': 部门
                        '10': 全体员工
                        '11': 访客
                      example: '1'
                    user_id:
                      type: string
                      description: 用户id
                      example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                      format: int64
                    user_name:
                      type: string
                      description: 用户名称
                      example: 张三
                    phone_num:
                      type: string
                      description: 电话号码
                      example: '1357890001'
                    department_id:
                      type: string
                      description: 部门id
                      example: od-f7d44ab733f7602f5cc5194735fd9aaf
                      format: int64
                  required:
                  - user_type
                  description: 访客信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      visitor_id:
                        type: string
                        description: 访客的id
                        example: '6939433228970082568'
                        format: int64
                    required:
                    - visitor_id
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - acs:users
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1490001
        httpCode: 400
        msg: param is invalid
      - code: 1490203
        httpCode: 400
        msg: phone num already exist
      x-lark-rate-limit:
        tier: 6
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user.user_id
        section: 0
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user.department_id
        section: 0
  /open-apis/acs/v1/visitors/{visitor_id}:
    delete:
      operationId: acs_visitor_delete
      summary: 删除访客
      tags:
      - visitor
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/acs-v1/visitor/delete
      parameters:
      - name: visitor_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 访客id
        example: '6939433228970082566'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - acs:users
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-rate-limit:
        tier: 6
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: visitor_id
        section: 3
