# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · admin API（全量）
  description: |-
    飞书开放平台 `admin` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:22:04Z'
  x-lark-project: admin
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:22:04Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: admin_dept_stat
- name: admin_user_stat
- name: audit_info
- name: badge.grant
- name: badge
- name: badge_image
- name: password
paths:
  /open-apis/admin/v1/admin_dept_stats:
    get:
      operationId: admin_admin_dept_stat_list
      summary: 获取部门维度的用户活跃和功能使用数据
      tags:
      - admin_dept_stat
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/admin-v1/admin_dept_stat/list
      parameters:
      - name: department_id_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 部门ID类型
      - name: start_date
        in: query
        required: true
        schema:
          type: string
        description: 起始日期（包含），格式是YYYY-mm-dd
        example: '2022-01-01'
      - name: end_date
        in: query
        required: true
        schema:
          type: string
        description: 终止日期（包含），格式是YYYY-mm-dd，起止日期之间相差不能超过91天（包含91天）
        example: '2022-01-01'
      - name: department_id
        in: query
        required: true
        schema:
          type: string
        description: 部门的 ID，取决于department_id_type，仅支持根部门及其下前4级子部门
        example: '1234567'
      - name: contains_child_dept
        in: query
        required: true
        schema:
          type: boolean
        description: 是否包含子部门，如果该值为false，则只查出本部门直属用户活跃和功能使用数据；如果该值为true，则查出该部门以及其子部门（子部门层级最多不超过根部门下的前4级）的用户活跃和功能使用数据
        example: 'true'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小，默认是10
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；当返回的has_more为true时，会返回新的page_token，再次调用接口，传入这个page_token，将获得下一页数据
      - name: target_geo
        in: query
        required: false
        schema:
          type: string
        description: 跨域访问的geo
        example: cn
      - name: with_product_version
        in: query
        required: false
        schema:
          type: boolean
        description: 是否返回分产品版本数据
        example: 'true'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的token
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              description: 日期
                              example: '2020-02-15'
                            department_id:
                              type: string
                              description: 部门ID
                              example: od-382e2793cfc9471f892e8a672987654c
                            department_name:
                              type: string
                              description: 部门名
                              example: subtestkkk
                            department_path:
                              type: string
                              description: 部门路径
                              example: testkkk/subtestkkk
                            total_user_num:
                              type: integer
                              description: 部门总人数
                              example: '211'
                            active_user_num:
                              type: integer
                              description: 激活人数
                              example: '23'
                            active_user_rate:
                              type: string
                              description: 激活率
                              example: '1.00'
                            suite_dau:
                              type: integer
                              description: 活跃人数
                              example: '23'
                            suite_active_rate:
                              type: string
                              description: 活跃率
                              example: '1.00'
                            new_user_num:
                              type: integer
                              description: 新用户数
                              example: '54'
                            new_active_num:
                              type: integer
                              description: 新激活数
                              example: '64'
                            resign_user_num:
                              type: integer
                              description: 离职人数
                              example: '61'
                            im_dau:
                              type: integer
                              description: 消息活跃人数
                              example: '45'
                            send_messenger_user_num:
                              type: integer
                              description: 发送消息人数
                              example: '43'
                            send_messenger_num:
                              type: integer
                              description: 发送消息数
                              example: '4456'
                            avg_send_messenger_num:
                              type: string
                              description: 人均发送消息数
                              example: '343.00'
                            docs_dau:
                              type: integer
                              description: 云文档活跃人数
                              example: '45'
                            create_docs_user_num:
                              type: integer
                              description: 创建文件人数
                              example: '51'
                            create_docs_num:
                              type: integer
                              description: 创建文件数
                              example: '57'
                            avg_create_docs_num:
                              type: string
                              description: 人均创建文件数
                              example: '85.00'
                            cal_dau:
                              type: integer
                              description: 日历活跃人数
                              example: '47'
                            create_cal_user_num:
                              type: integer
                              description: 创建日程人数
                              example: '87'
                            create_cal_num:
                              type: integer
                              description: 创建日程数
                              example: '42'
                            avg_create_cal_num:
                              type: string
                              description: 人均创建日程数
                              example: '75.00'
                            vc_dau:
                              type: integer
                              description: 音视频会议活跃人数
                              example: '32'
                            vc_duration:
                              type: integer
                              description: 会议时长（分钟）
                              example: '535'
                            avg_vc_duration:
                              type: string
                              description: 人均会议时长（分钟）
                              example: '313.00'
                            avg_duration:
                              type: string
                              description: 人均飞书使用时长（分钟）
                              example: '323.00'
                            task_dau:
                              type: integer
                              description: 任务活跃人数
                              example: '23'
                            create_task_user_num:
                              type: integer
                              description: 创建任务人数
                              example: '43'
                            create_task_num:
                              type: integer
                              description: 创建任务数
                              example: '33'
                            avg_create_task_num:
                              type: string
                              description: 人均创建任务数
                              example: '12.00'
                            email_send_count:
                              type: string
                              description: 邮件总发件量
                              example: '2'
                              format: int64
                            email_receive_count:
                              type: string
                              description: 邮件总收件量
                              example: '3'
                              format: int64
                            email_send_ext_count:
                              type: string
                              description: 对外发件数
                              example: '4'
                              format: int64
                            email_receive_ext_count:
                              type: string
                              description: 来自外部收件数
                              example: '5'
                              format: int64
                            email_send_in_count:
                              type: string
                              description: 对内发件数
                              example: '6'
                              format: int64
                            email_receive_in_count:
                              type: string
                              description: 来自内部收件数
                              example: '7'
                              format: int64
                            search_active_dau:
                              type: string
                              description: 大搜搜索活跃人数
                              example: '7'
                              format: int64
                            total_search_count:
                              type: string
                              description: 总搜索次数
                              example: '7'
                              format: int64
                            quick_search_count:
                              type: string
                              description: 综搜次数
                              example: '7'
                              format: int64
                            tab_search_count:
                              type: string
                              description: 垂搜次数
                              example: '7'
                              format: int64
                            product_version:
                              type: string
                              description: 产品版本名称
                              example: 全部产品版本
                        description: 部门统计值
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - admin:admin_dept_stat:readonly
      x-lark-error-mappings:
      - code: 1051001
        httpCode: 500
        msg: internal error
      - code: 1051002
        httpCode: 400
        msg: param validate error
      - code: 1051003
        httpCode: 400
        msg: There is no query permission for this department's data,please apply for permission for the application first
      x-lark-rate-limit:
        tier: 8
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: department_id
        section: 2
  /open-apis/admin/v1/admin_user_stats:
    get:
      operationId: admin_admin_user_stat_list
      summary: 获取用户维度的用户活跃和功能使用数据
      tags:
      - admin_user_stat
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/admin-v1/admin_user_stat/list
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 部门ID类型
      - name: start_date
        in: query
        required: true
        schema:
          type: string
        description: 起始日期（包含），格式是YYYY-mm-dd
        example: '2020-02-15'
      - name: end_date
        in: query
        required: true
        schema:
          type: string
        description: 终止日期（包含），格式是YYYY-mm-dd。起止日期之间相差不能超过31天（包含31天）
        example: '2020-02-15'
      - name: department_id
        in: query
        required: false
        schema:
          type: string
        description: 部门的 ID，取决于department_id_type
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        description: 用户的open_id，user_id或者union_id，取决于user_id_type
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小，默认是10
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；当返回的has_more为true时，会返回新的page_token，再次调用接口，传入这个page_token，将获得下一页数据
      - name: target_geo
        in: query
        required: false
        schema:
          type: string
        description: 跨域访问的geo
        example: cn
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的token
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              description: 日期
                              example: '2023-02-15'
                            user_id:
                              type: string
                              description: 用户ID
                              example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                            user_name:
                              type: string
                              description: 用户名
                              example: Zhang San
                            department_name:
                              type: string
                              description: 部门名
                              example: testcqlbfaaasdasdasd
                            department_path:
                              type: string
                              description: 部门路径
                              example: testkkk/testcqlbfaaasdasdasd
                            create_time:
                              type: string
                              description: 添加时间
                              example: '2022-09-04 11:17:55'
                            user_active_flag:
                              type: integer
                              description: 用户激活状态
                              enum:
                              - 0
                              - 1
                              x-enum-descriptions:
                                '0': 未激活
                                '1': 已激活
                              example: '1'
                            register_time:
                              type: string
                              description: 激活时间
                              example: '2021-12-21 22:21:28'
                            suite_active_flag:
                              type: integer
                              description: 用户活跃状态
                              enum:
                              - 0
                              - 1
                              x-enum-descriptions:
                                '0': 无活跃
                                '1': 活跃
                              example: '1'
                            last_active_time:
                              type: string
                              description: 最近活跃时间
                              example: '2023-09-04 11:18:32'
                            im_active_flag:
                              type: integer
                              description: 用户消息活跃状态
                              enum:
                              - 0
                              - 1
                              x-enum-descriptions:
                                '0': 无活跃
                                '1': 活跃
                              example: '1'
                            send_messenger_num:
                              type: integer
                              description: 发送消息数
                              example: '10'
                            docs_active_flag:
                              type: integer
                              description: 用户云文档活跃状态
                              enum:
                              - 0
                              - 1
                              x-enum-descriptions:
                                '0': 无活跃
                                '1': 活跃
                              example: '1'
                            create_docs_num:
                              type: integer
                              description: 创建文件数
                              example: '12'
                            cal_active_flag:
                              type: integer
                              description: 用户日历活跃状态
                              enum:
                              - 0
                              - 1
                              x-enum-descriptions:
                                '0': 无活跃
                                '1': 活跃
                            create_cal_num:
                              type: integer
                              description: 创建日程数
                              example: '1'
                            vc_active_flag:
                              type: integer
                              description: 用户音视频会议活跃状态
                              enum:
                              - 0
                              - 1
                              x-enum-descriptions:
                                '0': 无活跃
                                '1': 活跃
                              example: '1'
                            vc_duration:
                              type: integer
                              description: 会议时长
                              example: '24'
                            active_os:
                              type: string
                              description: 活跃设备
                              example: '''ios 14.2,-'',''ios 14.2,feishu 3.40.0-alpha'''
                            create_task_num:
                              type: integer
                              description: 创建任务数
                              example: '23'
                            vc_num:
                              type: integer
                              description: 会议数
                              example: '2'
                            app_package_type:
                              type: string
                              description: 飞书的应用类型名称
                              example: Feishu,Lark
                            os_name:
                              type: string
                              description: 操作系统名称
                              example: iOS,Andorid,Windows
                            email_send_count:
                              type: string
                              description: 邮件总发件量
                              example: '2'
                              format: int64
                            email_receive_count:
                              type: string
                              description: 邮件总收件量
                              example: '3'
                              format: int64
                            email_send_ext_count:
                              type: string
                              description: 对外发件数
                              example: '4'
                              format: int64
                            email_receive_ext_count:
                              type: string
                              description: 来自外部收件数
                              example: '5'
                              format: int64
                            email_send_in_count:
                              type: string
                              description: 对内发件数
                              example: '6'
                              format: int64
                            email_receive_in_count:
                              type: string
                              description: 来自内部收件数
                              example: '7'
                              format: int64
                            search_active_flag:
                              type: integer
                              description: 是否使用了大搜
                              example: '1'
                            total_search_count:
                              type: string
                              description: 总搜索次数
                              example: '7'
                              format: int64
                            quick_search_count:
                              type: string
                              description: 综搜次数
                              example: '7'
                              format: int64
                            tab_search_count:
                              type: string
                              description: 垂搜次数
                              example: '7'
                              format: int64
                        description: 数据报表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - admin:admin_user_stat:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1051001
        httpCode: 500
        msg: internal error
      - code: 1051002
        httpCode: 400
        msg: param validate error
      - code: 1051003
        httpCode: 400
        msg: There is no query permission for this department's data,please apply for permission for the application first
      x-lark-rate-limit:
        tier: 8
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: department_id
        section: 2
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_id
        section: 2
  /open-apis/admin/v1/audit_infos:
    get:
      operationId: admin_audit_info_list
      summary: 获取行为审计日志数据
      tags:
      - audit_info
      description: 用户行为日志搜索
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uQjM5YjL0ITO24CNykjN/audit_log/audit_data_get
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: user_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: user_id
      - name: latest
        in: query
        required: false
        schema:
          type: integer
        description: '日志时间范围: 结束时间. 格式: 秒级时间戳. 默认值: 此刻'
        example: '1668700799'
      - name: oldest
        in: query
        required: false
        schema:
          type: integer
        description: '日志时间范围: 起始时间. 格式: 秒级时间戳. 默认值:  30日前此刻'
        example: '1668528000'
      - name: event_name
        in: query
        required: false
        schema:
          type: string
        description: 事件名称
        example: space_create_doc
      - name: operator_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user
          - bot
          x-enum-descriptions:
            user: 以user_id来识别用户
            bot: '[已废弃] 以bot_id来识别用户'
        description: '过滤操作者: 操作者类型. 与 operator_value 配合使用'
      - name: operator_value
        in: query
        required: false
        schema:
          type: string
        description: '过滤操作者: 操作者ID. 与 operator_type 配合使用'
        example: 55ed16fe
      - name: event_module
        in: query
        required: false
        schema:
          type: integer
        description: 过滤模块
        example: '1'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 下一页分页的token
        example: LC39/f1%2B/Sz9Uv39Gf39/ew/cd5WY0gfGYFdixOW9cVk4bC79ituO/gx0qpPn1bYf92nz/kI0nNJOG3wCwDJKoNU%2BtyaXbpI8pV/9UNDMZT0BNeyanFH17Wv711Qh9anR3l2GjQfc2fUqXtxg1YPp63XyhYY4iRMv54ySRG7r%2BI89iS3zAoPzFuuU1MUJKsf
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页参数
        example: '20'
      - name: user_type
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          x-enum-descriptions:
            '0': 互联网上的任何人
            '1': 组织内成员
            '2': 组织外成员
        description: 过滤用户类型. 仅当 operator_type=user 时生效
      - name: object_type
        in: query
        required: false
        schema:
          type: integer
        description: '过滤操作对象: 操作对象类型. 与object_value配合使用'
        example: '1'
      - name: object_value
        in: query
        required: false
        schema:
          type: string
        description: '过滤操作对象: 操作对象ID. 与object_type配合使用'
        example: 55ed16fe
      - name: ext_filter_object_by_ccm_token
        in: query
        required: false
        schema:
          type: string
        description: '增强过滤操作对象: 操作对象ID，支持云文档侧泛token过滤。会覆盖object_type和object_value查询条件'
        example: 55ed16fe
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的token
                        example: LC39/f1%2B/Sz9Uv39Gf39/ew/cd5WY0gfGYFdixOW9cVk4bC79ituO/gx0qpPn1bYf92nz/kI0nNJOG3wCwDJKoNU%2BtyaXbpI8pV/9UNDMZT0BNeyanFH17Wv711Qh9anR3l2GjQfc2fUqXtxg1YPp63XyhYY4iRMv54ySRG7r%2BI89iS3zAoPzFuuU1MUJKsf
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            event_id:
                              type: string
                              description: 事件id
                              example: '7126195947859656705'
                            unique_id:
                              type: string
                              description: 唯一id
                              example: '7126195947859656705'
                            event_name:
                              type: string
                              description: 事件名称
                              example: space_read_doc
                            department_ids:
                              type: array
                              items:
                                type: string
                              description: 用户所属部门的ID列表
                            event_module:
                              type: integer
                              description: 模块
                              example: '1'
                            operator_type:
                              type: integer
                              description: 操作人类型
                              enum:
                              - 0
                              - 1
                              x-enum-descriptions:
                                '0': 用户
                                '1': 机器人
                            operator_value:
                              type: string
                              description: 操作人id
                              example: 4a3b8541
                            objects:
                              type: array
                              items:
                                type: object
                                properties:
                                  object_type:
                                    type: string
                                    description: 操作对象类型
                                    example: '1'
                                  object_value:
                                    type: string
                                    description: 操作对象值，可能存在department_id、user_id等，需要进行lark_id的转换
                                    example: 4a3b8541
                                  object_name:
                                    type: string
                                    description: 操作对象名称，如会话名、文档名等
                                  object_owner:
                                    type: string
                                    description: 操作对象的所有者
                                  object_detail:
                                    type: object
                                    properties:
                                      clone_source:
                                        type: string
                                        description: 克隆来源
                                        example: example_value
                                      text_detail:
                                        type: string
                                        description: 其他文本
                                        example: example_value
                                      file_name:
                                        type: string
                                        description: 文件名称
                                        example: example_value
                                      third_party_appID:
                                        type: string
                                        description: 第三方APPID
                                        example: example_value
                                      contain_file_num:
                                        type: integer
                                        description: 文件或文件夹数量
                                        example: '10'
                                      permission_setting_type:
                                        type: string
                                        description: 链接分享设置
                                        example: example_value
                                      permission_external_access_Type:
                                        type: boolean
                                        description: 是否开启外部访问设置
                                        example: 'false'
                                      permission_share_type:
                                        type: string
                                        description: 分享设置
                                        example: example_value
                                      file_service_source:
                                        type: string
                                        description: file上传业务来源
                                        example: example_value
                                      okr_download_content:
                                        type: string
                                        description: 下载OKR时的内容范围
                                      container_type:
                                        type: string
                                        description: 容器类型，标识是否wiki
                                      container_id:
                                        type: string
                                        description: 容器id，wiki标识字段
                                      current_page:
                                        type: string
                                        description: 截屏、录制的开始页面
                                    description: object 详情
                              description: 操作对象列表
                            recipients:
                              type: array
                              items:
                                type: object
                                properties:
                                  recipient_type:
                                    type: string
                                    description: 接收者对象类型
                                    example: example_value
                                  recipient_value:
                                    type: string
                                    description: 接收者对象值，可能存在department_id、user_id等，需要进行lark_id的转换
                                    example: example_value
                                  recipient_detail:
                                    type: object
                                    properties:
                                      permission_action_type:
                                        type: string
                                        description: 修改权限协作者
                                        example: example_value
                                      chat_id:
                                        type: string
                                        description: 会话 id
                                        example: oc_xxxx
                                        x-lark-id-types:
                                          chat_id: chat
                                      chat_name:
                                        type: string
                                        description: 会话名称
                                        example: test
                                      chat_type:
                                        type: integer
                                        description: 聊天类型，1 单聊，2 群聊，3 话题群
                                        example: '1'
                                      external_flag:
                                        type: boolean
                                        description: 外部用户标识，false 内部、true 外部
                                        example: 'false'
                                    description: recipient 详情
                              description: 接收者对象列表
                            event_time:
                              type: integer
                              description: 事件时间
                              example: '1669046400'
                            ip:
                              type: string
                              description: ip信息
                              example: 192.168.168.1
                            operator_app:
                              type: string
                              description: 第三方isvID
                              example: example_value
                            audit_context:
                              type: object
                              properties:
                                terminal_type:
                                  type: integer
                                  description: 终端类型
                                  enum:
                                  - 0
                                  - 1
                                  - 2
                                  - 3
                                  x-enum-descriptions:
                                    '0': ios
                                    '1': 安卓
                                    '2': pc端
                                    '3': web端
                                ios_context:
                                  type: object
                                  properties:
                                    udid:
                                      type: string
                                      description: UDID
                                    did:
                                      type: string
                                      description: 设备ID
                                    app_ver:
                                      type: string
                                      description: app的版本
                                    ver:
                                      type: string
                                      description: SecSDK版本
                                    os:
                                      type: string
                                      description: 系统类型及版本
                                    STZone:
                                      type: string
                                      description: 系统时区
                                    ML:
                                      type: string
                                      description: 当前语言
                                    sjd:
                                      type: string
                                      description: 是否越狱
                                    proxyip:
                                      type: string
                                      description: 代理ip
                                    wifip:
                                      type: string
                                      description: wifi ip
                                    location:
                                      type: string
                                      description: GPS经纬度
                                    active_ip:
                                      type: string
                                      description: 当前设备活跃ip
                                    active_ip_detail:
                                      type: string
                                      description: 当前设备活跃ip对应网卡类型
                                    cell_base_station:
                                      type: string
                                      description: 基站信息
                                    IP:
                                      type: string
                                      description: 公网ip
                                  description: ios的环境信息
                                pc_context:
                                  type: object
                                  properties:
                                    udid:
                                      type: string
                                      description: UDID
                                    did:
                                      type: string
                                      description: 设备ID
                                    app_ver:
                                      type: string
                                      description: app的版本
                                    ver:
                                      type: string
                                      description: SecSDK版本
                                    os:
                                      type: string
                                      description: 客户端类型
                                    wifip:
                                      type: string
                                      description: wifi ip
                                    region:
                                      type: string
                                      description: 设备区域
                                    IP:
                                      type: string
                                      description: 公网ip
                                  description: pc的环境信息
                                web_context:
                                  type: object
                                  properties:
                                    user_agent:
                                      type: string
                                      description: UA信息
                                    IP:
                                      type: string
                                      description: 本机IP
                                  description: web的环境信息
                                android_context:
                                  type: object
                                  properties:
                                    udid:
                                      type: string
                                      description: UDID
                                    did:
                                      type: string
                                      description: 设备ID
                                    app_ver:
                                      type: string
                                      description: app的版本
                                    ver:
                                      type: string
                                      description: SecSDK版本
                                    region:
                                      type: string
                                      description: 设备语言
                                    id_i:
                                      type: string
                                      description: 安卓版本号
                                    id_r:
                                      type: string
                                      description: 安卓版本
                                    hw_brand:
                                      type: string
                                      description: Brand
                                    hw_manuf:
                                      type: string
                                      description: 制造商
                                    wifip:
                                      type: string
                                      description: wifi ip
                                    route_iip:
                                      type: string
                                      description: 路由IP
                                    route_gip:
                                      type: string
                                      description: 路由网关IP
                                    env_su:
                                      type: string
                                      description: 表示当前是否root
                                    env_tz:
                                      type: string
                                      description: 手机系统时区
                                    env_ml:
                                      type: string
                                      description: 手机系统语言
                                    location:
                                      type: string
                                      description: GPS经纬度
                                    active_ip:
                                      type: string
                                      description: 当前设备活跃ip
                                    active_ip_detail:
                                      type: string
                                      description: 当前设备活跃ip对应网卡类型
                                    cell_base_station:
                                      type: string
                                      description: 基站信息
                                    IP:
                                      type: string
                                      description: 公网ip
                                  description: android的环境信息
                              description: 环境信息
                            extend:
                              type: object
                              properties:
                                comment_type:
                                  type: string
                                  description: 评论类型
                                app_detail:
                                  type: string
                                  description: app信息
                                two_step_validation:
                                  type: boolean
                                  description: 是否两步验证
                                login_method:
                                  type: string
                                  description: 登录方式
                                new_people_num_in_video:
                                  type: integer
                                  description: 创建新的{x}人会议/通话
                                external_people_num_in_video:
                                  type: integer
                                  description: 将{x}名外部用户加入/退出通话
                                external_people_num_in_chat:
                                  type: integer
                                  description: 将{x}名外部用户加入/退出群组
                                join_group:
                                  type: integer
                                  description: 创建{x}人数的群组
                                quit_group:
                                  type: integer
                                  description: 解散{x}人数的群组
                                external_people_num_in_doc_share:
                                  type: integer
                                  description: 分享文档给{x}名外部用户
                              description: 事件级别的扩展
                            operator_app_name:
                              type: string
                              description: 第三方isv名称
                              example: example_value
                            common_drawers:
                              type: object
                              properties:
                                common_draw_info_list:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      info_key:
                                        type: string
                                        description: key信息
                                      info_val:
                                        type: string
                                        description: val值
                                      key_i18n_key:
                                        type: string
                                        description: key对应的i18nkey
                                      val_type:
                                        type: string
                                        description: val类型
                                      val_i18n_key:
                                        type: string
                                        description: val对应的i18nkey
                                  description: 扩展字段信息
                              description: 扩展字段信息
                            audit_detail:
                              type: object
                              properties:
                                mc:
                                  type: string
                                  description: mac地址
                                  example: 08:00:20:0A:8C:6D
                                device_model:
                                  type: string
                                  description: 设备模型
                                  example: iphone14
                                os:
                                  type: string
                                  description: 操作系统
                                  example: mac os
                                city:
                                  type: string
                                  description: ip属地
                                  example: 北京
                              description: 日志扩展信息
                            operator_tenant:
                              type: string
                              description: 操作人企业编号
                              example: F2823442
                            operator_detail:
                              type: object
                              properties:
                                operator_name:
                                  type: object
                                  properties:
                                    default_name:
                                      type: string
                                      description: 操作人默认名
                                      example: '11'
                                    i18n_value:
                                      type: object
                                      properties:
                                        zh_cn:
                                          type: string
                                          description: 中文文案
                                          example: 中文
                                        en_us:
                                          type: string
                                          description: 英文文案
                                          example: English
                                        ja_jp:
                                          type: string
                                          description: 日文文案
                                          example: 日本語のコピーライティング
                                      description: 操作人 i18n 名字 map
                                  required:
                                  - default_name
                                  description: 操作人名字信息
                                tenant_name:
                                  type: string
                                  description: 操作人租户名
                                  example: 明日头条
                              required:
                              - operator_name
                              description: 操作人详情
                          required:
                          - event_name
                          - event_module
                        description: 返回的具体数据内容
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - admin:audit_info:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1050001
        httpCode: 400
        msg: TIME_CHECK_NOT_VALID
      - code: 1050002
        httpCode: 500
        msg: ErrCode_DATABASE_ERR
      - code: 1050004
        httpCode: 400
        msg: Error_Param_Error
      - code: 1050005
        httpCode: 400
        msg: Error_Page_Size_Invalid
      - code: 1050006
        httpCode: 400
        msg: Error_Page_Token_Invalid
      - code: 1050007
        httpCode: 400
        msg: Error_Event_Name_Not_Found
      - code: 1050008
        httpCode: 500
        msg: Error_Open_Platform_RPC
      - code: 1050009
        httpCode: 400
        msg: Error_Lark_ID_Not_Found
      - code: 1050010
        httpCode: 400
        msg: Error_Event_Module_Not_Found
      x-lark-rate-limit:
        tier: 11
      x-lark-pagination: true
  /open-apis/admin/v1/badges/{badge_id}/grants:
    post:
      operationId: admin_badge_grant_create
      summary: 创建授予名单
      tags:
      - badge.grant
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/admin-v1/badge-grant/create
      parameters:
      - name: badge_id
        in: path
        required: true
        schema:
          type: string
        description: 勋章ID
        example: m_DjMzaK
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: 用户的open_id
            union_id: 用户的union_id
            user_id: 用户的user_id
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户 ID 类型
        example: open_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型。
        example: open_department_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 授予名单名称，最多100个字符。
                  example: 激励勋章的授予名单
                grant_type:
                  type: integer
                  description: 勋章下唯一的授予事项
                  enum:
                  - 0
                  - 1
                  x-enum-descriptions:
                    '0': 手动选择有效期
                    '1': 匹配系统入职时间
                  default: 0
                  example: '0'
                time_zone:
                  type: string
                  description: 授予名单的生效时间对应的时区，用于检查RuleDetail的时间戳的取值是否规范，取值范围为TZ database name
                  example: Asia/Shanghai
                rule_detail:
                  type: object
                  properties:
                    effective_time:
                      type: string
                      description: 开始生效的时间戳。1.手动设置有效期类型勋章，配置有效期限需要配置该字段；2.时间戳必须是所在时区当天的零点时间戳，如时区为Asia/Shanghai时区时的1649606400
                      example: '1649606400'
                      format: int64
                    expiration_time:
                      type: string
                      description: 结束生效的时间戳。1.手动设置有效期类型勋章，配置有效期限需要配置该字段；2.最大值：不得超过effective_time+100 年；3.非永久有效：时间戳必须是所在时区当天的23:59:59时间戳，如时区为Asia/Shanghai时区时的1649692799；4.永久有效：传值为0即可
                      example: '1649692799'
                      format: int64
                    anniversary:
                      type: integer
                      description: 入职周年日。根据入职时间发放类型勋章，需要配置该字段。
                      default: 1
                      example: '1'
                    effective_period:
                      type: integer
                      description: 有效期限。根据入职时间发放类型勋章，需要配置该字段。
                      enum:
                      - 1
                      - 2
                      x-enum-descriptions:
                        '1': 有效期为一年
                        '2': 永久有效
                      default: 1
                      example: '1'
                  description: 规则详情
                is_grant_all:
                  type: boolean
                  description: 是否授予给全员。1.为false时，需要关联1~500个用户群体。2.为true时，不可关联用户、用户组、部门。
                  default: false
                  example: 'true'
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 授予的用户ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                  example: '[u273y71]'
                department_ids:
                  type: array
                  items:
                    type: string
                  description: 授予的部门ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                group_ids:
                  type: array
                  items:
                    type: string
                  description: 授予的用户组ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                  example: '[g122817]'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      grant:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 租户内授予名单的唯一标识，该值由系统随机生成。
                            example: g_49Z7CQ
                          badge_id:
                            type: string
                            description: 企业勋章的唯一ID
                            example: m_qTR2HM
                          name:
                            type: string
                            description: 授予名单名称，最多100个字符。
                            example: 激励勋章的授予名单
                          grant_type:
                            type: integer
                            description: 勋章下唯一的授予事项
                            enum:
                            - 0
                            - 1
                            x-enum-descriptions:
                              '0': 手动选择有效期
                              '1': 匹配系统入职时间
                            default: 0
                            example: '0'
                          time_zone:
                            type: string
                            description: 授予名单的生效时间对应的时区，用于检查RuleDetail的时间戳的取值是否规范，取值范围为TZ database name
                            example: Asia/Shanghai
                          rule_detail:
                            type: object
                            properties:
                              effective_time:
                                type: string
                                description: 开始生效的时间戳。1.手动设置有效期类型勋章，配置有效期限需要配置该字段；2.时间戳必须是所在时区当天的零点时间戳，如时区为Asia/Shanghai时区时的1649606400
                                example: '1649606400'
                                format: int64
                              expiration_time:
                                type: string
                                description: 结束生效的时间戳。1.手动设置有效期类型勋章，配置有效期限需要配置该字段；2.最大值：不得超过effective_time+100 年；3.非永久有效：时间戳必须是所在时区当天的23:59:59时间戳，如时区为Asia/Shanghai时区时的1649692799；4.永久有效：传值为0即可
                                example: '1649692799'
                                format: int64
                              anniversary:
                                type: integer
                                description: 入职周年日。根据入职时间发放类型勋章，需要配置该字段。
                                default: 1
                                example: '1'
                              effective_period:
                                type: integer
                                description: 有效期限。根据入职时间发放类型勋章，需要配置该字段。
                                enum:
                                - 1
                                - 2
                                x-enum-descriptions:
                                  '1': 有效期为一年
                                  '2': 永久有效
                                default: 1
                                example: '1'
                            description: 规则详情
                          is_grant_all:
                            type: boolean
                            description: 是否授予给全员。1.为false时，需要关联1~500个用户群体。2.为true时，不可关联用户、用户组、部门。
                            default: false
                            example: 'true'
                          user_ids:
                            type: array
                            items:
                              type: string
                            description: 授予的用户ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                            example: '[u273y71]'
                          department_ids:
                            type: array
                            items:
                              type: string
                            description: 授予的部门ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                          group_ids:
                            type: array
                            items:
                              type: string
                            description: 授予的用户组ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                            example: '[g122817]'
                        required:
                        - name
                        - grant_type
                        - time_zone
                        - rule_detail
                        - is_grant_all
                        description: 授予名单的信息
                        example: '{     "grant_id": "g_uS4yux",     "badge_id": "m_DjMzaK",     "name": "授权给全员用户的周年授予名单",     "grant_type":
                          1,     "timezone": "Asia/Shanghai",     "is_grant_all": true,     "rule_detail": {         "anniversary":
                          6,         "effective_period": 0     } }'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - admin:badge.grant
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1051000
        httpCode: 500
        msg: unknown server error
      - code: 1051001
        httpCode: 400
        msg: ''
      - code: 1051002
        httpCode: 403
        msg: request to exceed authority
      - code: 1051200
        httpCode: 400
        msg: grant name are duplicated
      - code: 1051201
        httpCode: 400
        msg: cannot exceed the max length limit of grant name
      - code: 1051202
        httpCode: 400
        msg: already choose all staff, cannot related other user entity
      - code: 1051204
        httpCode: 400
        msg: reach the count limit of grant
      - code: 1051113
        httpCode: 400
        msg: cannot find this badge
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_ids[*]
        section: 0
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department_ids[*]
        section: 0
    get:
      operationId: admin_badge_grant_list
      summary: 获取授予名单列表
      tags:
      - badge.grant
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/admin-v1/badge-grant/list
      parameters:
      - name: badge_id
        in: path
        required: true
        schema:
          type: string
        description: 企业勋章的唯一ID
        example: m_DjMzaK
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
          default: 10
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: om5fn1
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: 用户的open_id
            union_id: 用户的union_id
            user_id: 用户的user_id
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户 ID 类型
        example: open_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型。
        example: open_department_id
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: 授予名单名称，精确匹配。
        example: 激励勋章的授予名单
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      grants:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 租户内授予名单的唯一标识，该值由系统随机生成。
                              example: g_49Z7CQ
                            badge_id:
                              type: string
                              description: 企业勋章的唯一ID
                              example: m_qTR2HM
                            name:
                              type: string
                              description: 授予名单名称，最多100个字符。
                              example: 激励勋章的授予名单
                            grant_type:
                              type: integer
                              description: 勋章下唯一的授予事项
                              enum:
                              - 0
                              - 1
                              x-enum-descriptions:
                                '0': 手动选择有效期
                                '1': 匹配系统入职时间
                              default: 0
                              example: '0'
                            time_zone:
                              type: string
                              description: 授予名单的生效时间对应的时区，用于检查RuleDetail的时间戳的取值是否规范，取值范围为TZ database name
                              example: Asia/Shanghai
                            rule_detail:
                              type: object
                              properties:
                                effective_time:
                                  type: string
                                  description: 开始生效的时间戳。1.手动设置有效期类型勋章，配置有效期限需要配置该字段；2.时间戳必须是所在时区当天的零点时间戳，如时区为Asia/Shanghai时区时的1649606400
                                  example: '1649606400'
                                  format: int64
                                expiration_time:
                                  type: string
                                  description: 结束生效的时间戳。1.手动设置有效期类型勋章，配置有效期限需要配置该字段；2.最大值：不得超过effective_time+100 年；3.非永久有效：时间戳必须是所在时区当天的23:59:59时间戳，如时区为Asia/Shanghai时区时的1649692799；4.永久有效：传值为0即可
                                  example: '1649692799'
                                  format: int64
                                anniversary:
                                  type: integer
                                  description: 入职周年日。根据入职时间发放类型勋章，需要配置该字段。
                                  default: 1
                                  example: '1'
                                effective_period:
                                  type: integer
                                  description: 有效期限。根据入职时间发放类型勋章，需要配置该字段。
                                  enum:
                                  - 1
                                  - 2
                                  x-enum-descriptions:
                                    '1': 有效期为一年
                                    '2': 永久有效
                                  default: 1
                                  example: '1'
                              description: 规则详情
                            is_grant_all:
                              type: boolean
                              description: 是否授予给全员。1.为false时，需要关联1~500个用户群体。2.为true时，不可关联用户、用户组、部门。
                              default: false
                              example: 'true'
                            user_ids:
                              type: array
                              items:
                                type: string
                              description: 授予的用户ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                              example: '[u273y71]'
                            department_ids:
                              type: array
                              items:
                                type: string
                              description: 授予的部门ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                            group_ids:
                              type: array
                              items:
                                type: string
                              description: 授予的用户组ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                              example: '[g122817]'
                          required:
                          - name
                          - grant_type
                          - time_zone
                          - rule_detail
                          - is_grant_all
                        description: 授予名单列表
                        example: '[{     "grant_id": "g_uS4yux",     "badge_id": "m_DjMzaK",     "name": "授权给全员用户的周年授予名单",     "grant_type":
                          1,     "timezone": "Asia/Shanghai",     "is_grant_all": true,     "rule_detail": {         "anniversary":
                          6,         "effective_period": 0     } }]'
                      page_token:
                        type: string
                        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
                        example: om5fn1
                      has_more:
                        type: boolean
                        description: 是否已经遍历完，表示本次页面请求已经拿到所有列表数据
                        default: false
                        example: 'false'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - admin:badge.grant
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1051000
        httpCode: 500
        msg: unknown server error
      - code: 1051001
        httpCode: 400
        msg: ''
      - code: 1051002
        httpCode: 403
        msg: request to exceed authority
      - code: 1051113
        httpCode: 400
        msg: cannot find this badge
      - code: 1051003
        httpCode: 403
        msg: the tenant's current payment plan does not support the use of this function
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
  /open-apis/admin/v1/badges/{badge_id}/grants/{grant_id}:
    delete:
      operationId: admin_badge_grant_delete
      summary: 删除授予名单
      tags:
      - badge.grant
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/admin-v1/badge-grant/delete
      parameters:
      - name: badge_id
        in: path
        required: true
        schema:
          type: string
        description: 企业勋章的唯一ID
        example: m_DjMzaK
      - name: grant_id
        in: path
        required: true
        schema:
          type: string
        description: 租户内授予名单的唯一标识，该值由系统随机生成。
        example: g_uS4yux
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - admin:badge.grant
      x-lark-error-mappings:
      - code: 1051000
        httpCode: 500
        msg: unknown server error
      - code: 1051001
        httpCode: 400
        msg: ''
      - code: 1051002
        httpCode: 403
        msg: request to exceed authority
      - code: 1051113
        httpCode: 400
        msg: cannot find this badge
      - code: 1051205
        httpCode: 400
        msg: cannot find this grant
      x-lark-rate-limit:
        tier: 3
    get:
      operationId: admin_badge_grant_get
      summary: 获取授予名单详情
      tags:
      - badge.grant
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/admin-v1/badge-grant/get
      parameters:
      - name: badge_id
        in: path
        required: true
        schema:
          type: string
        description: 租户内勋章的唯一标识，该值由系统随机生成。
        example: m_DjMzaK
      - name: grant_id
        in: path
        required: true
        schema:
          type: string
        description: 租户内授予名单的唯一标识，该值由系统随机生成。
        example: g_uS4yux
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: 用户的open_id
            union_id: 用户的union_id
            user_id: 用户的user_id
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户 ID 类型
        example: open_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型。
        example: open_department_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      grant:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 租户内授予名单的唯一标识，该值由系统随机生成。
                            example: g_49Z7CQ
                          badge_id:
                            type: string
                            description: 企业勋章的唯一ID
                            example: m_qTR2HM
                          name:
                            type: string
                            description: 授予名单名称，最多100个字符。
                            example: 激励勋章的授予名单
                          grant_type:
                            type: integer
                            description: 勋章下唯一的授予事项
                            enum:
                            - 0
                            - 1
                            x-enum-descriptions:
                              '0': 手动选择有效期
                              '1': 匹配系统入职时间
                            default: 0
                            example: '0'
                          time_zone:
                            type: string
                            description: 授予名单的生效时间对应的时区，用于检查RuleDetail的时间戳的取值是否规范，取值范围为TZ database name
                            example: Asia/Shanghai
                          rule_detail:
                            type: object
                            properties:
                              effective_time:
                                type: string
                                description: 开始生效的时间戳。1.手动设置有效期类型勋章，配置有效期限需要配置该字段；2.时间戳必须是所在时区当天的零点时间戳，如时区为Asia/Shanghai时区时的1649606400
                                example: '1649606400'
                                format: int64
                              expiration_time:
                                type: string
                                description: 结束生效的时间戳。1.手动设置有效期类型勋章，配置有效期限需要配置该字段；2.最大值：不得超过effective_time+100 年；3.非永久有效：时间戳必须是所在时区当天的23:59:59时间戳，如时区为Asia/Shanghai时区时的1649692799；4.永久有效：传值为0即可
                                example: '1649692799'
                                format: int64
                              anniversary:
                                type: integer
                                description: 入职周年日。根据入职时间发放类型勋章，需要配置该字段。
                                default: 1
                                example: '1'
                              effective_period:
                                type: integer
                                description: 有效期限。根据入职时间发放类型勋章，需要配置该字段。
                                enum:
                                - 1
                                - 2
                                x-enum-descriptions:
                                  '1': 有效期为一年
                                  '2': 永久有效
                                default: 1
                                example: '1'
                            description: 规则详情
                          is_grant_all:
                            type: boolean
                            description: 是否授予给全员。1.为false时，需要关联1~500个用户群体。2.为true时，不可关联用户、用户组、部门。
                            default: false
                            example: 'true'
                          user_ids:
                            type: array
                            items:
                              type: string
                            description: 授予的用户ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                            example: '[u273y71]'
                          department_ids:
                            type: array
                            items:
                              type: string
                            description: 授予的部门ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                          group_ids:
                            type: array
                            items:
                              type: string
                            description: 授予的用户组ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                            example: '[g122817]'
                        required:
                        - name
                        - grant_type
                        - time_zone
                        - rule_detail
                        - is_grant_all
                        description: 授予名单信息
                        example: '{     "grant_id": "g_uS4yux",     "badge_id": "m_DjMzaK",     "name": "授权给全员用户的周年授予名单",     "grant_type":
                          1,     "timezone": "Asia/Shanghai",     "is_grant_all": true,     "rule_detail": {         "anniversary":
                          6,         "effective_period": 0     } }'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - admin:badge.grant
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1051000
        httpCode: 500
        msg: unknown server error
      - code: 1051001
        httpCode: 400
        msg: ''
      - code: 1051002
        httpCode: 403
        msg: request to exceed authority
      - code: 1051113
        httpCode: 400
        msg: cannot find this badge
      - code: 1051205
        httpCode: 400
        msg: cannot find this grant
      - code: 1051003
        httpCode: 403
        msg: the tenant's current payment plan does not support the use of this function
      x-lark-rate-limit:
        tier: 3
    put:
      operationId: admin_badge_grant_update
      summary: 修改授予名单
      tags:
      - badge.grant
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/admin-v1/badge-grant/update
      parameters:
      - name: badge_id
        in: path
        required: true
        schema:
          type: string
        description: 勋章ID
        example: m_DjMzaK
      - name: grant_id
        in: path
        required: true
        schema:
          type: string
        description: 授予名单ID
        example: g_uS4yux
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: 用户的open_id
            union_id: 用户的union_id
            user_id: 用户的user_id
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户 ID 类型
        example: open_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型。
        example: open_department_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 授予名单名称，最多100个字符。
                  example: 激励勋章的授予名单
                grant_type:
                  type: integer
                  description: 勋章下唯一的授予事项
                  enum:
                  - 0
                  - 1
                  x-enum-descriptions:
                    '0': 手动选择有效期
                    '1': 匹配系统入职时间
                  default: 0
                  example: '0'
                time_zone:
                  type: string
                  description: 授予名单的生效时间对应的时区，用于检查RuleDetail的时间戳的取值是否规范，取值范围为TZ database name
                  example: Asia/Shanghai
                rule_detail:
                  type: object
                  properties:
                    effective_time:
                      type: string
                      description: 开始生效的时间戳。1.手动设置有效期类型勋章，配置有效期限需要配置该字段；2.时间戳必须是所在时区当天的零点时间戳，如时区为Asia/Shanghai时区时的1649606400
                      example: '1649606400'
                      format: int64
                    expiration_time:
                      type: string
                      description: 结束生效的时间戳。1.手动设置有效期类型勋章，配置有效期限需要配置该字段；2.最大值：不得超过effective_time+100 年；3.非永久有效：时间戳必须是所在时区当天的23:59:59时间戳，如时区为Asia/Shanghai时区时的1649692799；4.永久有效：传值为0即可
                      example: '1649692799'
                      format: int64
                    anniversary:
                      type: integer
                      description: 入职周年日。根据入职时间发放类型勋章，需要配置该字段。
                      default: 1
                      example: '1'
                    effective_period:
                      type: integer
                      description: 有效期限。根据入职时间发放类型勋章，需要配置该字段。
                      enum:
                      - 1
                      - 2
                      x-enum-descriptions:
                        '1': 有效期为一年
                        '2': 永久有效
                      default: 1
                      example: '1'
                  description: 规则详情
                is_grant_all:
                  type: boolean
                  description: 是否授予给全员。1.为false时，需要关联1~500个用户群体。2.为true时，不可关联用户、用户组、部门。
                  default: false
                  example: 'true'
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 授予的用户ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                  example: '[u273y71]'
                department_ids:
                  type: array
                  items:
                    type: string
                  description: 授予的部门ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                group_ids:
                  type: array
                  items:
                    type: string
                  description: 授予的用户组ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                  example: '[g122817]'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      grant:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 租户内授予名单的唯一标识，该值由系统随机生成。
                            example: g_49Z7CQ
                          badge_id:
                            type: string
                            description: 企业勋章的唯一ID
                            example: m_qTR2HM
                          name:
                            type: string
                            description: 授予名单名称，最多100个字符。
                            example: 激励勋章的授予名单
                          grant_type:
                            type: integer
                            description: 勋章下唯一的授予事项
                            enum:
                            - 0
                            - 1
                            x-enum-descriptions:
                              '0': 手动选择有效期
                              '1': 匹配系统入职时间
                            default: 0
                            example: '0'
                          time_zone:
                            type: string
                            description: 授予名单的生效时间对应的时区，用于检查RuleDetail的时间戳的取值是否规范，取值范围为TZ database name
                            example: Asia/Shanghai
                          rule_detail:
                            type: object
                            properties:
                              effective_time:
                                type: string
                                description: 开始生效的时间戳。1.手动设置有效期类型勋章，配置有效期限需要配置该字段；2.时间戳必须是所在时区当天的零点时间戳，如时区为Asia/Shanghai时区时的1649606400
                                example: '1649606400'
                                format: int64
                              expiration_time:
                                type: string
                                description: 结束生效的时间戳。1.手动设置有效期类型勋章，配置有效期限需要配置该字段；2.最大值：不得超过effective_time+100 年；3.非永久有效：时间戳必须是所在时区当天的23:59:59时间戳，如时区为Asia/Shanghai时区时的1649692799；4.永久有效：传值为0即可
                                example: '1649692799'
                                format: int64
                              anniversary:
                                type: integer
                                description: 入职周年日。根据入职时间发放类型勋章，需要配置该字段。
                                default: 1
                                example: '1'
                              effective_period:
                                type: integer
                                description: 有效期限。根据入职时间发放类型勋章，需要配置该字段。
                                enum:
                                - 1
                                - 2
                                x-enum-descriptions:
                                  '1': 有效期为一年
                                  '2': 永久有效
                                default: 1
                                example: '1'
                            description: 规则详情
                          is_grant_all:
                            type: boolean
                            description: 是否授予给全员。1.为false时，需要关联1~500个用户群体。2.为true时，不可关联用户、用户组、部门。
                            default: false
                            example: 'true'
                          user_ids:
                            type: array
                            items:
                              type: string
                            description: 授予的用户ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                            example: '[u273y71]'
                          department_ids:
                            type: array
                            items:
                              type: string
                            description: 授予的部门ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                          group_ids:
                            type: array
                            items:
                              type: string
                            description: 授予的用户组ID列表，授予名单列表接口返回结果中不返回该字段，只在详情接口返回
                            example: '[g122817]'
                        required:
                        - name
                        - grant_type
                        - time_zone
                        - rule_detail
                        - is_grant_all
                        description: 授予名单
                        example: '{     "grant_id": "g_uS4yux",     "badge_id": "m_DjMzaK",     "name": "授权给全员用户的周年授予名单",     "grant_type":
                          1,     "timezone": "Asia/Shanghai",     "is_grant_all": true,     "rule_detail": {         "anniversary":
                          6,         "effective_period": 0     } }'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - admin:badge.grant
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1051000
        httpCode: 500
        msg: unknown server error
      - code: 1051001
        httpCode: 400
        msg: ''
      - code: 1051002
        httpCode: 403
        msg: request to exceed authority
      - code: 1051113
        httpCode: 400
        msg: cannot find this badge
      - code: 1051205
        httpCode: 400
        msg: cannot find this grant
      - code: 1051200
        httpCode: 400
        msg: grant name are duplicated
      - code: 1051201
        httpCode: 400
        msg: cannot exceed the max length limit of grant name
      - code: 1051202
        httpCode: 400
        msg: already choose all staff, cannot related other user entity
      - code: 1051203
        httpCode: 400
        msg: modification of grant type is prohibited
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_ids[*]
        section: 0
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department_ids[*]
        section: 0
  /open-apis/admin/v1/badges:
    post:
      operationId: admin_badge_create
      summary: 创建勋章
      tags:
      - badge
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/admin-v1/badge/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 租户内唯一的勋章名称，最多30个字符。
                  example: 激励勋章
                explanation:
                  type: string
                  description: 勋章的描述文案，最多100个字符。
                  example: 这枚勋章为了激励员工颁发。
                detail_image:
                  type: string
                  description: 企业勋章的详情图Key。1.权限校验：非本租户上传的图片key，不能直接使用；2.时效校验：创建勋章，或者修改勋章图片key时，需使用1h内上传的图片key。
                  example: 75a1949f-d9df-4b46-bc88-dacc51e88f3j
                show_image:
                  type: string
                  description: 企业勋章的头像挂饰图Key。1.权限校验：非本租户上传的图片key，不能直接使用；2.时效校验：创建勋章，或者修改勋章图片key时，需使用1h内上传的图片key。
                  example: 03daa74a-159f-49e9-963e-b6c4d76103fj
                i18n_name:
                  type: object
                  properties:
                    zh_cn:
                      type: string
                      description: 中文文案
                      example: 中文
                    en_us:
                      type: string
                      description: 英文文案
                      example: English
                    ja_jp:
                      type: string
                      description: 日文文案
                      example: 日本語のコピーライティング
                  description: 勋章的多语言名称，同name字段限制，最多30个字符。
                  example: '{         "zh_cn": "激励勋章",         "en_us": "Incentive Medal",         "ja_jp": "奨励メダル"     }'
                i18n_explanation:
                  type: object
                  properties:
                    zh_cn:
                      type: string
                      description: 中文文案
                      example: 中文
                    en_us:
                      type: string
                      description: 英文文案
                      example: English
                    ja_jp:
                      type: string
                      description: 日文文案
                      example: 日本語のコピーライティング
                  description: 勋章的多语言描述文案，同explanation字段限制，最多100个字符。
                  example: '{         "zh_cn": "这枚勋章为了激励员工颁发。",         "en_us": "This medal is awarded to motivate employees.",         "ja_jp":
                    "このメダルは、従業員のモチベーションを高めるために授与されます。"     }'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      badge:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 租户内勋章的唯一标识，该值由系统随机生成。
                            example: m_MzfKDM
                          name:
                            type: string
                            description: 租户内唯一的勋章名称，最多30个字符。
                            example: 激励勋章
                          explanation:
                            type: string
                            description: 勋章的描述文案，最多100个字符。
                            example: 这枚勋章为了激励员工颁发。
                          detail_image:
                            type: string
                            description: 企业勋章的详情图Key。1.权限校验：非本租户上传的图片key，不能直接使用；2.时效校验：创建勋章，或者修改勋章图片key时，需使用1h内上传的图片key。
                            example: 75a1949f-d9df-4b46-bc88-dacc51e88f3j
                          show_image:
                            type: string
                            description: 企业勋章的头像挂饰图Key。1.权限校验：非本租户上传的图片key，不能直接使用；2.时效校验：创建勋章，或者修改勋章图片key时，需使用1h内上传的图片key。
                            example: 03daa74a-159f-49e9-963e-b6c4d76103fj
                          i18n_name:
                            type: object
                            properties:
                              zh_cn:
                                type: string
                                description: 中文文案
                                example: 中文
                              en_us:
                                type: string
                                description: 英文文案
                                example: English
                              ja_jp:
                                type: string
                                description: 日文文案
                                example: 日本語のコピーライティング
                            description: 勋章的多语言名称，同name字段限制，最多30个字符。
                            example: '{         "zh_cn": "激励勋章",         "en_us": "Incentive Medal",         "ja_jp": "奨励メダル"     }'
                          i18n_explanation:
                            type: object
                            properties:
                              zh_cn:
                                type: string
                                description: 中文文案
                                example: 中文
                              en_us:
                                type: string
                                description: 英文文案
                                example: English
                              ja_jp:
                                type: string
                                description: 日文文案
                                example: 日本語のコピーライティング
                            description: 勋章的多语言描述文案，同explanation字段限制，最多100个字符。
                            example: '{         "zh_cn": "这枚勋章为了激励员工颁发。",         "en_us": "This medal is awarded to motivate
[...]
