# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · aily API（全量）
  description: |-
    飞书开放平台 `aily` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.0+d063acf7
  x-lark-project: aily
  x-lark-track: full (official API Explorer)
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: agent.agent_artifact
- name: agent.agent_attachment
- name: agent.agent_chat
- name: agent.agent_chat_session
- name: agent.agent_visibility
- name: aily_session.aily_message
- name: aily_session.run
- name: aily_session
- name: app.data_asset
- name: app.data_asset_tag
- name: app.knowledge
- name: app.skill
- name: tenant.app_stat
paths:
  /open-apis/aily/v1/agents/{agent_id}/artifacts/{agent_artifact_id}:
    get:
      operationId: aily_agent_agent_artifact_get
      summary: 下载智能体产物
      tags:
      - agent.agent_artifact
      description: 获取Agent产物
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/agent-agent_artifact/get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: 智能体ID
        example: agent_4k6jukr5skfax
      - name: agent_artifact_id
        in: path
        required: true
        schema:
          type: string
        description: 智能体产物ID
        example: artifact_4k6m2dbmrjeqf
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      agent_artifact:
                        type: object
                        properties:
                          artifact_id:
                            type: string
                            description: 产物id
                            example: artifact_4k6m2dbmrjeqf
                          name:
                            type: string
                            description: 名称
                            example: cute_kitten.png
                          url:
                            type: string
                            description: 下载URL，24小时内有效
                            example: https://<bucket>.tos-cn-...volces.com/agent_runtime/artifact/.../dog2.png?X-Tos
                        required:
                        - artifact_id
                        - name
                        - url
                        description: 产物
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:agent_artifact:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 9
  /open-apis/aily/v1/agents/{agent_id}/attachments:
    post:
      operationId: aily_agent_agent_attachment_create
      summary: 上传附件
      tags:
      - agent.agent_attachment
      description: 上传文件
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/agent-agent_attachment/create
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: 智能体id
        example: agent_4k4ue29hpwrx2
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 文件
                type:
                  type: string
                  description: 文件类型
                  example: image
                doc_url:
                  type: string
                  description: 云文档/多维表格url
                  example: https://bytedance.larkoffice.com/wiki/xxxxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      agent_attachment_id:
                        type: string
                        description: 附件id
                        example: 3d058789-6952-4697-bf9c-1add1ebc206e
                    required:
                    - agent_attachment_id
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:agent_attachment:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 0
      x-lark-file-upload: true
  /open-apis/aily/v1/agents/{agent_id}/chats:
    post:
      operationId: aily_agent_agent_chat_create
      summary: 发起智能体对话
      tags:
      - agent.agent_chat
      description: 发起对话
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/agent-agent_chat/create
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: 智能体ID
        example: agent_4k4ue29hpwrx2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_message:
                  type: object
                  properties:
                    content:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: 类型
                            example: text
                          text:
                            type: string
                            description: 内容
                            example: 你好！有什么可以帮您
                        required:
                        - type
                        - text
                      description: Agent回复内容
                    agent_attachment_ids:
                      type: array
                      items:
                        type: string
                      description: 附件id
                  required:
                  - content
                  description: 用户请求对话内容
                stream:
                  type: boolean
                  description: 是否流式输出
                session_id:
                  type: string
                  description: 会话ID
                  example: conversation_6521651561561
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      agent_chat_id:
                        type: string
                        description: 对话ID
                        example: '7640186506971926032'
                      session_id:
                        type: string
                        description: 会话ID
                        example: conversation_dsfsdas
                    required:
                    - agent_chat_id
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:agent_chat:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/aily/v1/agents/{agent_id}/chats/{agent_chat_id}:
    get:
      operationId: aily_agent_agent_chat_get
      summary: 获取对话结果
      tags:
      - agent.agent_chat
      description: 获取对话内容
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/agent-agent_chat/get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: 智能体ID
        example: agent_4k4ue29hpwrx2
      - name: agent_chat_id
        in: path
        required: true
        schema:
          type: string
        description: 智能体对话ID
        example: '7640186506971926032'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      content:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: 类型
                              example: text
                            text:
                              type: string
                              description: 文本内容
                              example: 你好，我是你的专属智能体，请问有什么可以帮你？
                            agent_artifact_id:
                              type: string
                              description: 产物id
                              example: 3d058789-6952-4697-bf9c-1add1ebc206e
                            artifact_type:
                              type: string
                              description: 产物类型
                              example: sandbox_file
                        description: Agent回复内容
                      finish_reason:
                        type: string
                        description: 对话结束原因
                        example: stop
                      status:
                        type: string
                        description: 状态
                        example: Cancelled
                    required:
                    - content
                    - status
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:agent_chat:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 0
  /open-apis/aily/v1/agents/{agent_id}/sessions:
    post:
      operationId: aily_agent_agent_chat_session_create
      summary: 创建会话
      tags:
      - agent.agent_chat_session
      description: 创建智能体会话
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/agent-agent_chat_session/create
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: 智能体ID
        example: agent_4k4ue29hpwrx2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 会话名
                  example: 计算问题
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      session_id:
                        type: string
                        description: 会话ID
                        example: conversation_4kj6xxrp2jqk2
                      name:
                        type: string
                        description: 会话名
                        example: 新会话
                      created_at:
                        type: string
                        description: 会话创建时间
                        example: '1783424638072'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:agent_chat:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 0
    get:
      operationId: aily_agent_agent_chat_session_list
      summary: 查询会话列表
      tags:
      - agent.agent_chat_session
      description: 会话列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/agent-agent_chat_session/list
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: 智能体ID
        example: agent_4k4ue29hpwrx2
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      sessions:
                        type: array
                        items:
                          type: object
                          properties:
                            session_id:
                              type: string
                              description: 会话ID
                              example: conversation_sadcadcds2
                            name:
                              type: string
                              description: 会话名
                              example: question
                            status:
                              type: string
                              description: 会话状态
                              example: done
                            created_at:
                              type: number
                              description: 创建时间
                              example: '1783428305028'
                            last_chat_at:
                              type: number
                              description: 最后一次对话时间
                              example: '1783428305028'
                          required:
                          - session_id
                        description: 会话列表
                      has_more:
                        type: boolean
                        description: 是否有下一页
                      next_page_token:
                        type: string
                        description: 下一页的token
                        example: '1783425184259422'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:agent_chat:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 0
  /open-apis/aily/v1/agents/{agent_id}/sessions/{agent_chat_session_id}:
    delete:
      operationId: aily_agent_agent_chat_session_delete
      summary: 删除会话
      tags:
      - agent.agent_chat_session
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/agent-agent_chat_session/delete
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: 智能体ID
        example: agent_asdsad
      - name: agent_chat_session_id
        in: path
        required: true
        schema:
          type: string
        description: 会话ID
        example: conversation_assadasd
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:agent_chat:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
    get:
      operationId: aily_agent_agent_chat_session_get
      summary: 获取指定会话信息
      tags:
      - agent.agent_chat_session
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/agent-agent_chat_session/get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: 智能体ID
        example: agent_ashcascsa
      - name: agent_chat_session_id
        in: path
        required: true
        schema:
          type: string
        description: 会话ID
        example: conversation_asdasda
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      session_id:
                        type: string
                        description: 会话ID
                        example: conversation_4kj6xxrp2jqk2
                      name:
                        type: string
                        description: 会话名
                        example: 新会话
                      status:
                        type: string
                        description: 会话状态
                        example: opening
                      created_at:
                        type: string
                        description: 会话创建时间
                        example: '1783424638072'
                      last_chat_at:
                        type: string
                        description: 会话上次对话时间
                        example: '1783424638072'
                      turns:
                        type: object
                        properties:
                          agent_chat_id:
                            type: string
                            description: 智能体对话ID
                            example: '7659751102812343833'
                          created_at:
                            type: number
                            description: 对话创建时间
                            example: '1783425174260'
                          status:
                            type: string
                            description: 对话状态
                            example: Completed
                        description: 会话的对话轮次
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:agent_chat:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/aily/v1/agents/{agent_id}/agent_visibility/check:
    post:
      operationId: aily_agent_agent_visibility_check
      summary: 获取当前用户的可见性
      tags:
      - agent.agent_visibility
      description: 校验当前用户是否可访问Agent
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/agent-agent_visibility/check
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: 智能体id
        example: agent_4k4ue29hpwrx2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_type:
                  type: string
                  description: 渠道类型
                  example: web_sdk
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      visibility:
                        type: boolean
                        description: 可见性
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - aily:agent_visibility:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 0
  /open-apis/aily/v1/sessions/{aily_session_id}/messages:
    post:
      operationId: aily_aily_session_aily_message_create
      summary: 发送 Aily 消息
      tags:
      - aily_session.aily_message
      description: 该 API 用于向某个飞书智能伙伴应用发送一条消息（Message）。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/aily_session-aily_message/create
      parameters:
      - name: aily_session_id
        in: path
        required: true
        schema:
          type: string
        description: 会话 ID
        example: session_4dfunz7sp1g8m
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                idempotent_id:
                  type: string
                  description: 幂等id，同一 session 下相同的幂等 id 算一条消息，有效期72h
                  example: idempotent_id_1
                content_type:
                  type: string
                  description: 消息内容类型
                  enum:
                  - MDX
                  - TEXT
                  - CLIP
                  - SmartCard
                  - JSON
                  x-enum-descriptions:
                    MDX: MDX
                    TEXT: TEXT
                    CLIP: GUI 卡片
                    SmartCard: SmartCard
                    JSON: JSON
                  example: MDX
                content:
                  type: string
                  description: 消息内容
                  example: 你好
                file_ids:
                  type: array
                  items:
                    type: string
                  description: 消息中包含的文件 ID 列表
                quote_message_id:
                  type: string
                  description: 引用的消息 ID
                  example: message_4de9bpg70qskh
                mentions:
                  type: array
                  items:
                    type: object
                    properties:
                      entity_id:
                        type: string
                        description: 实体 ID
                        example: ou_5ad573a6411d72b8305fda3a9c15c70e
                      identity_provider:
                        type: string
                        description: 身份提供者
                        enum:
                        - AILY
                        - FEISHU
                        x-enum-descriptions:
                          AILY: Aily 账号体系
                          FEISHU: 飞书账号体系
                        example: FEISHU
                      key:
                        type: string
                        description: 被@实体在消息体中的占位符
                        example: '@_user_1'
                      name:
                        type: string
                        description: 被@实体的名称
                        example: 张三
                      aily_id:
                        type: string
                        description: Aily 账号体系下的 ID
                        example: '1794840334557292'
                  description: 被@的实体
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:message:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: aily_aily_session_aily_message_list
      summary: 列出 Aily 消息
      tags:
      - aily_session.aily_message
      description: 该 API 用于批量获取飞书智能伙伴应用的消息（Message）的详细信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/aily_session-aily_message/list
      parameters:
      - name: aily_session_id
        in: path
        required: true
        schema:
          type: string
        description: 会话 ID
        example: session_4dfunz7sp1g8m
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 页面大小
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页偏移量
      - name: run_id
        in: query
        required: false
        schema:
          type: string
        description: 运行 ID
        example: run_4dfrxvctjqzzj
      - name: with_partial_message
        in: query
        required: false
        schema:
          type: boolean
        description: 返回生成中的消息
        example: 'false'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      messages:
                        type: array
                        items:
                          $ref: '#/components/schemas/Message'
                        description: 消息列表
                      page_token:
                        type: string
                        description: 下一页的起始偏移量
                      has_more:
                        type: boolean
                        description: 是否还有更多数据
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:message:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/aily/v1/sessions/{aily_session_id}/messages/{aily_message_id}:
    get:
      operationId: aily_aily_session_aily_message_get
      summary: 获取 Aily 消息
      tags:
      - aily_session.aily_message
      description: 该 API 用于获取某个飞书智能伙伴应用的消息（Message）的详细信息；包括消息的内容、发送人等。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/aily_session-aily_message/get
      parameters:
      - name: aily_session_id
        in: path
        required: true
        schema:
          type: string
        description: 会话 ID
        example: session_4dfunz7sp1g8m
      - name: aily_message_id
        in: path
        required: true
        schema:
          type: string
        description: 消息 ID
        example: message_4df45f2xknvcc
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:message:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/aily/v1/sessions/{aily_session_id}/runs/{run_id}/cancel:
    post:
      operationId: aily_aily_session_run_cancel
      summary: 取消运行
      tags:
      - aily_session.run
      description: 该 API 用于取消指定的运行（Run）。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/aily_session-run/cancel
      parameters:
      - name: aily_session_id
        in: path
        required: true
        schema:
          type: string
        description: 会话 ID
        example: session_4dfunz7sp1g8m
      - name: run_id
        in: path
        required: true
        schema:
          type: string
        description: 运行 ID
        example: run_4dfrxvctjqzzj
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:run:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/aily/v1/sessions/{aily_session_id}/runs:
    post:
      operationId: aily_aily_session_run_create
      summary: 创建运行
      tags:
      - aily_session.run
      description: 该 API 用于启动一次运行（Run）。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/aily_session-run/create
      parameters:
      - name: aily_session_id
        in: path
        required: true
        schema:
          type: string
        description: 会话 ID
        example: session_4dfunz7sp1g8m
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app_id:
                  type: string
                  description: 应用 ID
                  example: spring_xxx__c
                skill_id:
                  type: string
                  description: 技能 ID
                  example: skill_6cc6166178ca
                skill_input:
                  type: string
                  description: 指定技能 ID 时可以同时指定技能输入
                  example: '{"key": "value"}'
                metadata:
                  type: string
                  description: 其他透传信息
                  example: '{}'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:run:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
    get:
      operationId: aily_aily_session_run_list
      summary: 列出运行
      tags:
      - aily_session.run
      description: 该 API 用于批量获取运行（Run）的详细信息。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/aily_session-run/list
      parameters:
      - name: aily_session_id
        in: path
        required: true
        schema:
          type: string
        description: 会话 ID
        example: session_4dfunz7sp1g8m
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 页面大小
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页偏移量
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          $ref: '#/components/schemas/Run'
                        description: 运行列表
                      page_token:
                        type: string
                        description: 下一页的起始偏移量
                      has_more:
                        type: boolean
                        description: 是否还有更多数据
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:run:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/aily/v1/sessions/{aily_session_id}/runs/{run_id}:
    get:
      operationId: aily_aily_session_run_get
      summary: 获取运行
      tags:
      - aily_session.run
      description: 该 API 用于获取运行（Run）的详细信息。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/aily_session-run/get
      parameters:
      - name: aily_session_id
        in: path
        required: true
        schema:
          type: string
        description: 会话 ID
        example: session_4dfunz7sp1g8m
      - name: run_id
        in: path
        required: true
        schema:
          type: string
        description: 运行 ID
        example: run_4dfrxvctjqzzj
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:run:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/aily/v1/sessions:
    post:
      operationId: aily_aily_session_create
      summary: 创建会话
      tags:
      - aily_session
      description: 该 API 用于创建与某个飞书智能伙伴应用的一次会话（Session）。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/aily_session/create
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_context:
                  type: string
                  description: 渠道上下文
                  example: '{}'
                metadata:
                  type: string
                  description: 其他透传信息
                  example: '{}'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema4'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:session:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/aily/v1/sessions/{aily_session_id}:
    delete:
      operationId: aily_aily_session_delete
      summary: 删除会话
      tags:
      - aily_session
      description: 该 API 用于销毁与某个飞书智能伙伴应用的一次会话（Session），当会话销毁后、无法继续在会话中创建 / 拉取消息。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/aily_session/delete
      parameters:
      - name: aily_session_id
        in: path
        required: true
        schema:
          type: string
        description: 会话 ID
        example: session_4dfunz7sp1g8m
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:session:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: aily_aily_session_get
      summary: 获取会话
      tags:
      - aily_session
      description: 该 API 用于获取与某个飞书智能伙伴应用的一次会话（Session）的详细信息，包括会话的状态、渠道信息、创建时间等。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/aily_session/get
      parameters:
      - name: aily_session_id
        in: path
        required: true
        schema:
          type: string
        description: 会话 ID
        example: session_4dfunz7sp1g8m
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema4'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:session:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
    put:
      operationId: aily_aily_session_update
      summary: 更新会话
      tags:
      - aily_session
      description: 该 API 用于更新与某个飞书智能伙伴应用的一次会话（Session）。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/aily_session/update
      parameters:
      - name: aily_session_id
        in: path
        required: true
        schema:
          type: string
        description: 会话 ID
        example: session_4dfunz7sp1g8m
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_context:
                  type: string
                  description: 渠道上下文
                  example: '{}'
                metadata:
                  type: string
                  description: 其他透传信息
                  example: '{}'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema4'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:session:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/aily/v1/apps/{app_id}/data_assets:
    post:
      operationId: aily_app_data_asset_create
      summary: 创建数据知识
      tags:
      - app.data_asset
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/app-data_asset/create
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: APPID
        example: spring_dfasdf__c
      - name: tenant_type
        in: query
        required: false
        schema:
          type: string
        description: 应用环境，默认为线上环境，dev代表开发环境，只支持dev
        example: dev
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connect_type:
                  type: string
                  description: 连接类型
                  enum:
                  - import
                  - direct
                  x-enum-descriptions:
                    import: 导入模式
                    direct: 直连模式
                  example: direct
                source_type:
                  type: string
                  description: 数据源类型
                  enum:
                  - file
                  - lark_wiki_space
                  - lark_doc
                  - lark_helpdesk
                  x-enum-descriptions:
                    file: 文件，只支持导入模式
                    lark_wiki_space: 飞书知识空间，只支持直连模式
                    lark_doc: 飞书云文档，导入模式只支持docx
                    lark_helpdesk: 飞书服务台，只支持直连模式
                import_knowledge_setting:
                  type: object
                  properties:
                    chunk_setting:
                      type: object
                      properties:
                        rule_type:
                          type: string
                          description: 切片规则
                          enum:
                          - separator
                          - intelligent
                          x-enum-descriptions:
                            separator: 按标识符
                            intelligent: 智能切片
                          example: intelligent
                        separate_type:
                          type: string
                          description: 切片分割符类型
                          enum:
                          - paragraph
                          - title
                          x-enum-descriptions:
                            paragraph: 段落分隔符："\n\n"、"\n"、空格
                            title: 标题分割符：######
                          example: paragraph
                        size:
                          type: integer
                          description: 分段最大长度（字符），按标识符切片时必须填写
                          example: '600'
                        overlap:
                          type: integer
                          description: 分段重叠字符数，按标识符切片时必须填写，不能超过size的数值
                          example: '10'
                      required:
                      - rule_type
                      description: 知识切片配置
                    file:
                      type: object
                      properties:
                        title:
                          type: string
                          description: 文件标题
                          example: 文件标题
                        token:
                          type: string
                          description: 上传文件获取到的token。和content二选一，优先使用token。
                          example: bb690637b49440b08f39459a2fdcd2ca
                        content:
                          type: string
                          description: 文件内容。和token二选一，优先使用token。有长度限制，大文件优先使用token方式。
                          example: 这是文件内容
                        mime_type:
                          type: string
                          description: 文件内容对应的 MIME 类型，使用token方式必须填写
                          example: .docx
                        url:
                          type: string
                          description: 文件源的URL
                          example: https://document.com/1
                      description: 知识导入-文件
                    lark_doc:
                      type: object
                      properties:
                        type:
                          type: string
                          description: 云文档类型
                          enum:
                          - doc
                          - file
                          - wiki
                          - docx
                          - folder
                          x-enum-descriptions:
                            doc: 飞书文档
                            file: 飞书文件
                            wiki: 飞书知识库
                            docx: 飞书新版文档
                            folder: 飞书文件夹
                          example: docx
                        token:
                          type: string
                          description: 云文档标识
                          example: T8FAcuilgC1fdaxkt58vcp91xngh
                        with_sub_docs:
                          type: boolean
                          description: 是否包含子文档，只有wiki类型的云文档支持
                      required:
                      - type
                      - token
                      description: 知识导入-飞书云文档
                    lark_wiki_space:
                      type: object
                      properties:
                        space_id:
                          type: string
                          description: 飞书知识空间ID
                          example: '798546548961351'
                        sub_docs:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: 云文档类型，只支持wiki中的云文档
                                enum:
                                - wiki
                                x-enum-descriptions:
                                  wiki: 飞书知识库
                                example: wiki
                              token:
                                type: string
                                description: 云文档标识
                                example: T8FAcuilgC1fdaxkt58vcp91xngh
                              url:
                                type: string
                                description: 云文档链接
                                example: https://cdas.feishu.cn/wiki/fdisu1
                            required:
                            - type
                            - token
                          description: 指定知识空间子节点时使用
                        url:
                          type: string
                          description: 知识空间URL
                          example: https://ai-tenant.feishu-boe.cn/wiki/space/7283525110814736404
                      required:
                      - space_id
                      description: 知识导入-飞书知识空间
                    lark_helpdesk:
                      type: object
                      properties:
                        helpdesk_id:
                          type: string
                          description: 飞书服务台ID
                          example: '123'
                      required:
                      - helpdesk_id
                      description: 知识导入-飞书服务台
                  description: 知识导入配置
                description:
                  type: string
                  x-lark-original-type: map
                  description: 数据知识描述信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:data_asset:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      - code: 2701004
        httpCode: 403
        msg: permission denied
      - code: 2700026
        httpCode: 400
        msg: only support development environment
      - code: 2700027
        httpCode: 400
        msg: only supports uploading a single file
      - code: 2700028
        httpCode: 400
        msg: invalid chunk setting parameter
      - code: 2700029
        httpCode: 400
        msg: the data source information is invalid
      - code: 2700030
        httpCode: 400
        msg: data source not found
      - code: 2700031
        httpCode: 403
        msg: import cloud document permission check failed
      - code: 2700032
        httpCode: 400
        msg: unsupported data connection type
      - code: 2700033
        httpCode: 400
        msg: unsupported data source type
      - code: 2700034
        httpCode: 400
        msg: unsupported file types
      - code: 2700460
        httpCode: 400
        msg: failed to get doc meta
      - code: 2700036
        httpCode: 400
        msg: cloud document-related resources only support user identity calls
      - code: 2700472
        httpCode: 400
        msg: some param miss or invalid
      x-lark-rate-limit:
        tier: 8
    get:
      operationId: aily_app_data_asset_list
      summary: 查询数据知识列表
      tags:
      - app.data_asset
      description: 获取数据与知识列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/app-data_asset/list
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: AppID
        example: spring_5862e4fea8__c
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页参数：分页大小，默认：20，最大：100
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页参数：分页起始位置，为空表示首页
      - name: keyword
        in: query
        required: false
        schema:
          type: string
        description: 模糊匹配关键词
        example: 电影
      - name: data_asset_ids
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 根据数据知识 ID 进行过滤
      - name: data_asset_tag_ids
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 根据数据知识分类 ID 进行过滤
      - name: with_data_asset_item
        in: query
        required: false
        schema:
          type: boolean
        description: 结果是否包含数据与知识项目
      - name: with_connect_status
        in: query
        required: false
        schema:
          type: boolean
        description: 结果是否包含数据连接状态
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/DataAsset'
                        description: 数据知识列表
                      page_token:
                        type: string
                        description: has_more=true，可使用page_token继续查询
                      has_more:
                        type: boolean
                        description: 是否有更多
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:data_asset:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      - code: 2701004
        httpCode: 403
        msg: permission denied
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
  /open-apis/aily/v1/apps/{app_id}/data_assets/{data_asset_id}:
    delete:
      operationId: aily_app_data_asset_delete
      summary: 删除数据知识
      tags:
      - app.data_asset
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/app-data_asset/delete
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: APPID
        example: spring_dfadsaf__c
      - name: data_asset_id
        in: path
        required: true
        schema:
          type: string
        description: 数据知识ID
        example: data_asset_dfadsafe
      - name: tenant_type
        in: query
        required: false
        schema:
          type: string
        description: 应用环境，默认为线上环境，dev代表开发环境，只支持dev
        example: dev
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:data_asset:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      - code: 2700404
        httpCode: 404
        msg: not found resources
      - code: 2701004
        httpCode: 403
        msg: permission denied
      - code: 2700026
        httpCode: 400
        msg: only support development environment
      x-lark-rate-limit:
        tier: 8
    get:
      operationId: aily_app_data_asset_get
      summary: 获取数据知识
      tags:
      - app.data_asset
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/app-data_asset/get
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: APIID
        example: spring_feafdsaf__c
      - name: data_asset_id
        in: path
        required: true
        schema:
          type: string
        description: 数据知识ID
        example: data_asset_dafefadsaf1
      - name: with_data_asset_item
        in: query
        required: false
        schema:
          type: boolean
        description: 结果是否包含数据与知识项
        example: 'true'
      - name: with_connect_status
        in: query
        required: false
        schema:
          type: boolean
        description: 结果是否包含数据知识连接状态
        example: 'true'
      - name: tenant_type
        in: query
        required: false
        schema:
          type: string
        description: 应用环境，默认为线上环境，dev代表开发环境
        example: dev
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:data_asset:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      - code: 2700404
        httpCode: 404
        msg: not found resource
      - code: 2701004
        httpCode: 403
        msg: permission denied
      x-lark-rate-limit:
        tier: 8
  /open-apis/aily/v1/apps/{app_id}/data_assets/upload_file:
    post:
      operationId: aily_app_data_asset_upload_file
      summary: 上传文件用于数据知识管理
      tags:
      - app.data_asset
      description: 上传数据知识文件
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/app-data_asset/upload_file
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: APPID
        example: spring_dsafdsaf__c
      - name: tenant_type
        in: query
        required: false
        schema:
          type: string
        description: 应用环境，默认为线上环境，dev代表开发环境，只支持dev
        example: dev
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 需要上传的文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      file_info:
                        type: object
                        properties:
                          token:
                            type: string
                            description: 文件token
                            example: file_token_abcd123
                          mime_type:
                            type: string
                            description: 文件内容类型
                            example: excel
                        required:
                        - token
                        - mime_type
                        description: 数据知识文件
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:data_asset:upload_file
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      - code: 2701004
        httpCode: 403
        msg: permission denied
      - code: 2700026
        httpCode: 400
        msg: only support development environment
      - code: 2700035
        httpCode: 400
        msg: the file size exceeds 100M
      - code: 2700034
        httpCode: 400
        msg: unsupported file type
      - code: 2700027
        httpCode: 400
        msg: only upload one file is supported
      - code: 2700472
        httpCode: 400
        msg: some param miss or invalid
      x-lark-rate-limit:
        tier: 6
      x-lark-file-upload: true
  /open-apis/aily/v1/apps/{app_id}/data_asset_tags:
    get:
      operationId: aily_app_data_asset_tag_list
      summary: 获取数据知识分类列表
      tags:
      - app.data_asset_tag
      description: 获取数据与知识分类列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/app-data_asset_tag/list
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: AppID
        example: spring_5862e4fea8__c
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页参数：分页大小，默认：20，最大：100
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页参数：分页起始位置，为空表示首页
      - name: keyword
        in: query
        required: false
        schema:
          type: string
        description: 模糊匹配分类名称
        example: 电影
      - name: data_asset_tag_ids
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 模糊匹配分类名称
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            data_asset_tag_id:
                              type: string
                              description: 数据知识分类名称
                              example: spring_5862e4fea8__c__asset_tag_aadg2b5ql4gbs
                            name:
                              type: string
                              description: 数据知识分类ID
                              example: 电影
                        description: 数据知识分类列表
                      page_token:
                        type: string
                        description: has_more=true，可使用 page_token继续查询
                      has_more:
                        type: boolean
                        description: 是否有更多
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:data_asset:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 8
      x-lark-pagination: true
  /open-apis/aily/v1/apps/{app_id}/knowledges/ask:
    post:
      operationId: aily_app_knowledge_ask
      summary: 执行数据知识问答
      tags:
      - app.knowledge
      description: 执行一次数据知识问答
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/app-knowledge/ask
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 飞书智能伙伴搭建平台的AppID
        example: spring_5862e4fea8__c
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: object
                  properties:
                    content:
                      type: string
                      description: 消息内容
                      example: 推荐一部电影
                  description: 输入消息（当前仅支持纯文本输入）
                data_asset_ids:
                  type: array
                  items:
                    type: string
                  description: 控制知识问答所依据的数据知识范围
                data_asset_tag_ids:
                  type: array
                  items:
                    type: string
                  description: 控制知识问答所依据的数据知识分类范围
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        description: 响应状态，枚举值
                        enum:
                        - processing
                        - finished
                        x-enum-descriptions:
                          processing: 当前知识问答正在处理中
                          finished: 当前知识问答处理完成
                        example: processing
                      finish_type:
                        type: string
                        description: 结束类型，枚举值
                        enum:
                        - qa
                        - faq
                        x-enum-descriptions:
                          qa: 执行数据知识问答
                          faq: 执行标准问答对
                        example: qa
                      message:
                        type: object
                        properties:
                          content:
                            type: string
                            description: 消息内容
                            example: 推荐一部电影
                        description: 响应消息
                      process_data:
                        type: object
                        properties:
                          chart_dsls:
                            type: array
                            items:
                              type: string
                            description: 有数据分析时，根据数据生成的图表描述，按markdown语义描述
                          chunks:
                            type: array
                            items:
                              type: string
                            description: 召回的知识视图切片的文本数据
                          sql_data:
                            type: array
                            items:
                              type: string
                            description: 有数据分析时，查询到数据结果，每个元素为 json 序列化后的数据结果
                        description: 知识问答运行过程结构化数据，status=finished 且 finish_type=qa 时返回
                      faq_result:
                        type: object
                        properties:
                          question:
                            type: string
                            description: 匹配问题
                            example: 问题
                          answer:
                            type: string
                            description: 匹配描述
                            example: 答案
                        description: 匹配标准问答对结果，status=finished 且 finish_type=faq时返回
                      has_answer:
                        type: boolean
                        description: 是否有结果，true 则 代表 message 中的内容是通过配置知识而生成的
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:knowledge:ask
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      - code: 2700033
        httpCode: 200
        msg: failed to ask knowledges
      - code: 2700034
        httpCode: 200
        msg: ask is forbidden, please contact developer
      - code: 2700035
        httpCode: 200
        msg: run time too long
      x-lark-rate-limit:
        tier: 3
  /open-apis/aily/v1/apps/{app_id}/skills/{skill_id}:
    get:
      operationId: aily_app_skill_get
      summary: 获取技能信息
      tags:
      - app.skill
      description: 该 API 用于获取某个飞书智能伙伴应用的技能（Skill）的详细信息。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/app-skill/get
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 应用 ID
        example: spring_xxx__c
      - name: skill_id
        in: path
        required: true
        schema:
          type: string
        description: 技能 ID
        example: skill_6cc6166178ca
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      skill:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 技能 ID
                            example: skill_6cc6166178ca
                          label:
                            type: string
                            description: 技能名称
                            example: 数据分析和问答
                          description:
                            type: string
                            description: 技能描述
                            example: 理解用户提出的问题，对当前助手已经配置的数据资产进行知识搜索、数据分析、文档阅读，总结并返回答案。
                          samples:
                            type: array
                            items:
                              type: string
                            description: 用户提问示例
                          input_schema:
                            type: string
                            description: 技能入参定义
                            example: '[{"name":"custom_s","type":"String","required":true,"defaultValue":"qwert","description":"自定义字符串"},{"name":"custom_i","type":"Integer","required":true,"defaultValue":null,"description":""},{"name":"custom_b","type":"Boolean","required":true,"defaultValue":true,"description":""},{"name":"custom_f","type":"Float","required":true,"defaultValue":2.1,"description":""}]'
                          output_schema:
                            type: string
                            description: 技能出参定义
                            example: '[{"name":"input","type":"String","required":false,"defaultValue":null},{"name":"custom","type":"Boolean","required":false,"defaultValue":null}]'
                        description: 技能信息
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:skill:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/aily/v1/apps/{app_id}/skills:
    get:
      operationId: aily_app_skill_list
      summary: 查询技能列表
      tags:
      - app.skill
      description: 该 API 用于批量获取飞书智能伙伴应用的技能（Skill）的详细信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/app-skill/list
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 应用 ID
        example: spring_xxx__c
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 页面大小
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页偏移量
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      skills:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 技能 ID
                              example: skill_6cc6166178ca
                            label:
                              type: string
                              description: 技能名称
                              example: 数据分析和问答
                            description:
                              type: string
                              description: 技能描述
                              example: 理解用户提出的问题，对当前助手已经配置的数据资产进行知识搜索、数据分析、文档阅读，总结并返回答案。
                            samples:
                              type: array
                              items:
                                type: string
                              description: 用户提问示例
                            input_schema:
                              type: string
                              description: 技能入参定义
                              example: '[{"name":"custom_s","type":"String","required":true,"defaultValue":"qwert","description":"自定义字符串"},{"name":"custom_i","type":"Integer","required":true,"defaultValue":null,"description":""},{"name":"custom_b","type":"Boolean","required":true,"defaultValue":true,"description":""},{"name":"custom_f","type":"Float","required":true,"defaultValue":2.1,"description":""}]'
                            output_schema:
                              type: string
                              description: 技能出参定义
                              example: '[{"name":"input","type":"String","required":false,"defaultValue":null},{"name":"custom","type":"Boolean","required":false,"defaultValue":null}]'
                        description: 技能列表
                      page_token:
                        type: string
                        description: 下一页的起始偏移量
                      has_more:
                        type: boolean
                        description: 是否还有更多数据
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:skill:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/aily/v1/apps/{app_id}/skills/{skill_id}/start:
    post:
      operationId: aily_app_skill_start
      summary: 调用技能
      tags:
      - app.skill
      description: 该 API 用于执行飞书智能伙伴应用的技能（Skill）获取输出
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/app-skill/start
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: 应用 ID
        example: spring_xxx__c
      - name: skill_id
        in: path
        required: true
        schema:
          type: string
        description: 技能 ID
        example: skill_6cc6166178ca
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                global_variable:
                  type: object
                  properties:
                    query:
                      type: string
                      description: 触发技能的消息文本
                      example: 你好
                    files:
                      type: array
                      items:
                        type: string
                      description: 触发技能的消息文件
                    channel:
                      type: object
                      properties:
                        variables:
                          type: string
                          description: 自定义传入的变量
                          example: '{"custom_key": "custom_value"}'
                      description: 渠道信息
                  description: 技能的全局变量
                input:
                  type: string
                  description: 技能的自定义变量
                  example: '{"custom_s":"text","custom_i":12,"custom_b":true,"custom_f":1.2}'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      output:
                        type: string
                        description: 技能的输出
                        example: '{"input":"你好","custom":true}'
                      status:
                        type: string
                        description: 技能的执行状态
                        example: success
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - aily:skill:write
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/aily/v1/app_stats:
    get:
      operationId: aily_tenant_app_stat_list
      summary: 查询应用统计数据
      tags:
      - tenant.app_stat
      description: '## 功能介绍获取租户下应用的统计数据列表，支持按时间范围筛选，包含日活用户数、运行次数、额度使用等核心指标，用于租户级应用运营分析与成本监控场景。'
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/aily-v1/tenant-app_stat/list
      parameters:
      - name: start_at
        in: query
        required: true
        schema:
          type: string
        description: 统计起始时间，格式为秒级时间戳。若未指定，默认取当前时间往前推1天的时间戳
        example: '1698729600'
      - name: end_at
        in: query
        required: true
        schema:
          type: string
        description: 统计结束时间，格式为秒级时间戳。若未指定，默认取当前时间戳
        example: '1701321599'
      - name: filter_type
        in: query
        required: true
        schema:
          type: string
        description: |-
          数据筛选类型，用于指定统计维度。可选值包括：
          - `app`：返回工作流应用数据
          - `agent`：返回智能体数据
        example: all
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，用于获取下一页数据。首次调用无需传入，后续调用使用上一次返回结果中的`page_token`值
        example: eyJwYWdlX251bWJlciI6MiwiY29udGVudF9pZCI6IjE2OTg3Mjk2MDAifQ==
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 每页返回的数据条数，默认值为20，最大值为100
        example: '20'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 应用唯一标识
                              example: app_7d2f9c4a1b3e8
                            name:
                              type: string
                              description: 应用名称
                              example: 智能客服助手
                            avg_daily_active_user_num:
                              type: number
                              description: 活跃用户数
                              example: '1256.89'
                            avg_daily_run_num:
                              type: number
                              description: 日均对话次数
                              example: '8923.45'
                            avg_daily_credit_usage:
                              type: number
                              description: 日均消耗额度
                              example: '5678.23'
                            total_credit_usage:
                              type: number
                              description: 总消耗总额
                              example: '170346.9'
                            owner:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: 唯一标识
                                  example: '10001'
                                name:
                                  type: string
                                  description: 数据条目名称
                                  example: 张三
                                tenant_id:
                                  type: string
                                  description: 租户ID
                                  example: '200001'
                                lark_user_id:
                                  type: string
                                  description: 飞书 User ID
                                  example: '7622507401534524604'
                                open_user_id:
                                  type: string
                                  description: 开放平台 user_id
                                  example: 5f7g42d9
                                open_id:
                                  type: string
                                  description: 开放平台 open_id
                                  example: ou_80cbb9df643ab3872f6a0b1dc8f46078
                              required:
                              - id
                              description: 应用所有者信息
                            app_created_at:
                              type: string
                              description: 应用创建时间，格式为YYYY-MM-DD HH:mm:ss
                              example: '2024-01-15 14:30:00'
                          required:
                          - id
                        description: 统计数据列表
                      page_token:
                        type: string
                        description: 下一页分页标记，若`has_more`为true，使用该值调用接口获取下一页数据；若`has_more`为false，该字段为空
                        example: eyJwYWdlX251bWJlciI6MywiY29udGVudF9pZCI6IjE2OTg3Mjk2MDAifQ==
                      has_more:
                        type: boolean
                        description: 是否还有更多数据，true表示存在下一页，false表示已获取全部数据
                        example: 'true'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - aily:stats:read
      x-lark-error-mappings:
      - code: 2700001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 5
      x-lark-pagination: true
components:
  schemas:
    DataAsset:
      type: object
      properties:
        data_asset_id:
          type: string
          description: 数据知识ID
          example: asset_aadg3mcgvpybu
        label:
          type: string
          x-lark-original-type: map
          description: 数据知识标题
        description:
          type: string
          x-lark-original-type: map
          description: 数据知识描述
        data_source_type:
          type: string
          description: 数据资源类型
          enum:
          - excel
          - pdf
          - pptx
          - txt
          - docx
          - mysql
          - postgresql
          - larkbase
          - salesforce
          - fenxiangxiaoke
          - qianchuan
          - clickhouse
          - databricks
          - servicedesk
          - larkbiz_wiki
          - larkbiz_doc
          - larkbiz_docs
          - larkbiz_docx
          - larkbiz_pdf
          - larkbiz_word
          - larkbiz_pptx
          - larkbiz_sheets
          - larkbiz_base
          - larkbiz_personalfolder
          - larkbiz_sharedfolder
          - object
          x-enum-descriptions:
            excel: excel
            pdf: pdf
            pptx: pptx
            txt: txt
            docx: docx
            mysql: mysql
            postgresql: postgresql
            larkbase: 飞书多维表格
            salesforce: salesforce
            fenxiangxiaoke: 分享逍客
            qianchuan: 巨量千川
            clickhouse: clickhouse
            databricks: databricks
            servicedesk: 飞书服务台
            larkbiz_wiki: 飞书Wiki
            larkbiz_doc: 飞书doc
            larkbiz_docs: 飞书docs
            larkbiz_docx: 飞书docx
            larkbiz_pdf: 飞书pdf
            larkbiz_word: 飞书word
            larkbiz_pptx: 飞书pptx
            larkbiz_sheets: 飞书文档
            larkbiz_base: 飞书多维表格
            larkbiz_personalfolder: 飞书个人文件夹
            larkbiz_sharedfolder: 飞书共享文件夹
            object: 数据表
          example: excel
        connect_status:
          type: string
          description: 数据连接状态
          enum:
          - awaiting
          - syncing
          - successful
          - continuously_syncing
          - partially_successful
          - failed
          x-enum-descriptions:
            awaiting: 等待连接
            syncing: 连接中
            successful: 连接成功
            continuously_syncing: 增量同步中
            partially_successful: 部分成功
            failed: 连接失败
          example: successful
        tags:
          type: array
          items:
            type: object
            properties:
              data_asset_tag_id:
                type: string
                description: 数据知识分类名称
                example: spring_5862e4fea8__c__asset_tag_aadg2b5ql4gbs
              name:
                type: string
                description: 数据知识分类ID
                example: 电影
          description: 数据知识分类列表
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          description: 数据知识项列表
        connect_failed_reason:
          type: string
          description: 连接状态失败信息
          example: 连接超时
        connect_type:
          type: string
          description: 数据连接类型
          enum:
          - import
          - direct
          x-enum-descriptions:
            import: 导入
            direct: 直连
          example: direct
        created_time:
          type: string
          description: 创建时间，毫秒时间戳
          example: '1711975665710'
          format: int64
        updated_time:
          type: string
          description: 更新时间，毫秒时间戳
          example: '1711975665710'
          format: int64
      description: 数据知识
    Schema:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data'
    Data:
      type: object
      properties:
        data_asset:
          allOf:
          - $ref: '#/components/schemas/DataAsset'
          description: 数据知识
    Message:
      type: object
      properties:
        id:
          type: string
          description: 消息 ID
          example: message_4df45f2xknvcc
        session_id:
          type: string
          description: 会话 ID
          example: session_4dfunz7sp1g8m
        run_id:
          type: string
          description: 运行 ID
          example: run_4dfrxvctjqzzj
        content_type:
          type: string
          description: 消息内容类型
          enum:
          - MDX
          - TEXT
          - CLIP
          - SmartCard
          - JSON
          x-enum-descriptions:
            MDX: MDX
            TEXT: TEXT
            CLIP: GUI 卡片
            SmartCard: SmartCard
            JSON: JSON
          example: MDX
        content:
          type: string
          description: 消息内容
          example: 你好
        files:
          type: array
          items:
            $ref: '#/components/schemas/Item2'
          description: 消息中包含的文件
        quote_message_id:
          type: string
          description: 引用的消息 ID
          example: message_4de9bpg70qskh
        sender:
          allOf:
          - $ref: '#/components/schemas/Sender'
          description: 发送者
        mentions:
          type: array
          items:
            type: object
            properties:
              entity_id:
                type: string
                description: 实体 ID
                example: ou_5ad573a6411d72b8305fda3a9c15c70e
              identity_provider:
                type: string
                description: 身份提供者
                enum:
                - AILY
                - FEISHU
                x-enum-descriptions:
                  AILY: Aily 账号体系
                  FEISHU: 飞书账号体系
                example: FEISHU
              key:
                type: string
                description: 被@实体在消息体中的占位符
                example: '@_user_1'
              name:
                type: string
                description: 被@实体的名称
                example: 张三
              aily_id:
                type: string
                description: Aily 账号体系下的 ID
                example: '1794840334557292'
          description: 被@的实体
        plain_text:
          type: string
          description: 消息体的纯文本表达
          example: 你好
        created_at:
          type: string
          description: 消息的创建时间，毫秒时间戳
          example: '1711975665710'
          format: int64
        status:
          type: string
          description: 状态
          enum:
          - IN_PROGRESS
          - COMPLETED
          x-enum-descriptions:
            IN_PROGRESS: 生成中
            COMPLETED: 已完成
          example: IN_PROGRESS
        reasoning_content:
          type: string
          description: 推理内容
          example: 推理内容
      description: 消息信息
    Schema2:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data2'
    Data2:
      type: object
      properties:
        message:
          allOf:
          - $ref: '#/components/schemas/Message'
          description: 消息信息
    Run:
      type: object
      properties:
        id:
          type: string
          description: 运行 ID
          example: run_4dfrxvctjqzzj
        created_at:
          type: string
          description: 运行的创建时间，毫秒时间戳
          example: '1711975665710'
          format: int64
        app_id:
          type: string
          description: 应用 ID
          example: spring_xxx__c
        session_id:
          type: string
          description: 会话 ID
          example: session_4dfunz7sp1g8m
        status:
          type: string
          description: 状态
          enum:
          - QUEUED
          - IN_PROGRESS
          - REQUIRES_MESSAGE
          - CANCELLED
          - COMPLETED
          - FAILED
          - EXPIRED
          x-enum-descriptions:
            QUEUED: 排队中
            IN_PROGRESS: 执行中
            REQUIRES_MESSAGE: 等待补充消息输入
            CANCELLED: 已取消
            COMPLETED: 已完成
            FAILED: 已失败
            EXPIRED: 已过期
          example: IN_PROGRESS
        started_at:
          type: string
          description: 开始时间，毫秒时间戳
          example: '1711975665710'
          format: int64
        ended_at:
          type: string
          description: 结束时间，毫秒时间戳
          example: '1711975665710'
          format: int64
        error:
          type: object
          properties:
            code:
              type: string
              description: 错误码
              example: sp_ec_sm_900101
            message:
              type: string
              description: 错误信息
              example: 技能不存在或已删除
          required:
          - code
          - message
          description: 失败时的错误信息
        metadata:
          type: string
          description: 其他透传信息
          example: '{}'
      required:
      - id
      - created_at
      - app_id
      - session_id
      - status
      description: 运行信息
    Schema3:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data3'
    Data3:
      type: object
      properties:
        run:
          allOf:
          - $ref: '#/components/schemas/Run'
          description: 运行信息
    Item:
      type: object
      properties:
        data_asset_item_id:
          type: string
          description: 数据知识项ID
          example: asset_item_aadg3mcgvpydu
        api_name:
          type: string
          description: 数据知识项标识
          example: movie
        label:
          type: string
          x-lark-original-type: map
          description: 数据知识项标题
        description:
          type: string
          x-lark-original-type: map
          description: 数据知识项描述
        resources:
          type: array
          items:
            type: object
            properties:
              resource_id:
                type: string
                description: 数据知识资源ID
                example: spring_5862e4fea8__c__dataset_aadg3lxm4j6mg
              resource_type:
                type: string
                description: 数据知识资源类型
                enum:
                - dataset
                - vector
                x-enum-descriptions:
                  dataset: 数据视图
                  vector: 知识视图
                example: dataset
          description: 数据知识资源
    Schema4:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data4'
    Item2:
      type: object
      properties:
        id:
          type: string
          description: 文件 ID
          example: file_4d9nu1ev3a2rq
        mime_type:
          type: string
          description: 文件类型，参见 https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Basics_of_HTTP/MIME_types
          example: image/png
        file_name:
          type: string
          description: 文件名
          example: 发票.png
        metadata:
          type: string
          description: 其他透传信息
          example: '{}'
        created_at:
          type: string
          description: 文件的创建时间，毫秒时间戳
          example: '1711975665710'
          format: int64
        preview_url:
          type: object
          properties:
            url:
              type: string
              description: 文件的 URL
              example: http://path_to_file
            expired_at:
              type: string
              description: url 过期时间，秒时间戳
              example: '1719413169'
              format: int64
          required:
          - url
          description: 文件预览链接
    Data4:
      type: object
      properties:
        session:
          allOf:
          - $ref: '#/components/schemas/Session'
          description: 创建的会话信息
    Session:
      type: object
      properties:
        id:
          type: string
          description: 会话 ID
          example: session_4dfunz7sp1g8m
        created_at:
          type: string
          description: 会话的创建时间，毫秒时间戳
          example: '1711975665710'
          format: int64
        modified_at:
          type: string
          description: 会话的上次更新时间，毫秒时间戳
          example: '1711975665710'
          format: int64
        created_by:
          type: string
          description: 会话的创建人
          example: '1794840334557292'
        channel_context:
          type: string
          description: 渠道上下文
          example: '{}'
        metadata:
          type: string
          description: 其他透传信息
          example: '{}'
      required:
      - id
      - created_at
      - modified_at
      - created_by
      description: 创建的会话信息
    Sender:
      type: object
      properties:
        entity_id:
          type: string
          description: 实体 ID
          example: ou_5ad573a6411d72b8305fda3a9c15c70e
        identity_provider:
          type: string
          description: 身份提供者
          enum:
          - AILY
          - FEISHU
          x-enum-descriptions:
            AILY: Aily 账号体系
            FEISHU: 飞书账号体系
          example: FEISHU
        sender_type:
          type: string
          description: 发送人类型
          enum:
          - USER
          - ASSISTANT
          x-enum-descriptions:
            USER: 用户
            ASSISTANT: 应用
          example: USER
        aily_id:
          type: string
          description: Aily 账号体系下的 ID
          example: '1794840334557292'
      description: 发送者
