# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · apaas API（全量）
  description: |-
    飞书开放平台 `apaas` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.0+119a8e03
  x-lark-project: apaas
  x-lark-track: full (official API Explorer)
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: app
- name: application.audit_log
- name: application.environment_variable
- name: application.flow
- name: application.function
- name: application.object.record
- name: application.object
- name: application.record_permission.member
- name: application.role.member
- name: approval_instance
- name: approval_task
- name: seat_activity
- name: seat_assignment
- name: tenant_app_metrics
- name: user_task
- name: workspace.enum
- name: workspace.table
- name: workspace.view
- name: workspace
paths:
  /open-apis/apaas/v1/apps:
    get:
      operationId: apaas_app_list
      summary: 查看应用基本信息
      tags:
      - app
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/app/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: string
        description: 分页大小，必填，范围：【0，500】
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: eVQrYzJBNDNONlk4VFZBZVlSdzlKdFJ4bVVHVExENDNKVHoxaVdiVnViQT0
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: array
                              items:
                                type: object
                                properties:
                                  language_code:
                                    type: string
                                    description: '-'
                                    example: '-'
                                  text:
                                    type: string
                                    description: '-'
                                    example: '-'
                              description: aPaaS 产品应用的名称
                            namespace:
                              type: string
                              description: aPaaS 产品应用的命名空间
                              example: package_35f605__c
                            created_at:
                              type: integer
                              description: aPaaS 产品应用的创建时间
                              example: '1736480945563'
                            creator:
                              type: integer
                              description: aPaaS 产品应用的创建者
                              example: '1818624575806604'
                            owner:
                              type: integer
                              description: aPaaS 产品应用的所有者
                              example: '1818624575806604'
                            status:
                              type: string
                              description: aPaaS 产品应用的状态
                              enum:
                              - pending_launch
                              - enabled
                              - disabled
                              - stopped
                              - unspecified
                              x-enum-descriptions:
                                pending_launch: 应用待发布
                                enabled: 应用已发布
                                disabled: 应用已停用
                                stopped: 应用已停服
                                unspecified: 应用状态未确定
                              example: enabled
                            app_roles_info:
                              type: object
                              properties:
                                admins:
                                  type: array
                                  items:
                                    type: integer
                                  description: aPaaS 产品应用管理员的 ID
                                developers:
                                  type: array
                                  items:
                                    type: integer
                                  description: aPaaS 产品应用开发者的 ID
                                test_users:
                                  type: array
                                  items:
                                    type: integer
                                  description: aPaaS 产品应用测试人员的 ID
                                data_admins:
                                  type: array
                                  items:
                                    type: integer
                                  description: aPaaS 产品应用数据管理员的 ID
                              description: aPaaS 产品应用的成员管理信息
                            icon:
                              type: string
                              description: aPaaS 产品应用的图标
                              example: https://ae.feishu.cn/img/namespaces/_global/download/namespace_8aed421832fa4586968596f70e6eaebd_p.jpg
                            description:
                              type: array
                              items:
                                type: object
                                properties:
                                  language_code:
                                    type: string
                                    description: '-'
                                    example: '-'
                                  text:
                                    type: string
                                    description: '-'
                                    example: '-'
                              description: aPaaS 产品应用的描述
                            type:
                              type: string
                              description: aPaaS 产品应用的类型
                              enum:
                              - custom
                              - client_isv_saas
                              - client_isv_project
                              x-enum-descriptions:
                                custom: 自建应用
                                client_isv_saas: 来自服务商的 SaaS 应用
                                client_isv_project: 来自服务商的项目制应用
                              example: custom
                            enable_status:
                              type: string
                              description: aPaaS 产品应用的启用状态
                              enum:
                              - enabled
                              - disabled
                              x-enum-descriptions:
                                enabled: 启用
                                disabled: 停用
                              example: enabled
                            release_status:
                              type: string
                              description: aPaaS 产品应用的发布状态
                              enum:
                              - released
                              - unreleased
                              x-enum-descriptions:
                                released: 已发布
                                unreleased: 未发布
                              example: released
                            service_status:
                              type: string
                              description: aPaaS 产品应用的服务状态
                              enum:
                              - available
                              - unavailable
                              x-enum-descriptions:
                                available: 可用
                                unavailable: 不可用
                              example: available
                            service_unavailable_reason:
                              type: string
                              description: aPaaS 产品应用的停服原因
                              enum:
                              - from_isv
                              - entitlement_expire
                              x-enum-descriptions:
                                from_isv: ISV服务商停服
                                entitlement_expire: 租户权益到期停服
                              example: entitlement_expire
                            feature_set:
                              type: string
                              description: aPaaS 产品应用的版本
                              enum:
                              - paid
                              - free
                              x-enum-descriptions:
                                paid: 付费版
                                free: 免费版
                              example: paid
                            charge_mode:
                              type: string
                              description: aPaaS 产品应用的计费方式
                              enum:
                              - per_user_per_app
                              - per_user
                              - independent
                              - free
                              x-enum-descriptions:
                                per_user_per_app: 应用席位计费
                                per_user: 不限应用席位计费
                                independent: 独立计费
                                free: 免费
                              example: per_user_per_app
                            isv_tenant:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: 服务商ID
                                  example: '798456'
                                name:
                                  type: string
                                  description: 服务商名称
                                  example: 北京飞书科技有限公司
                              description: aPaaS 产品应用的服务商信息
                        description: 应用基本信息列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: eVQrYzJBNDNONlk4VFZBZVlSdzlKdFJ4bVVHVExENDNKVHoxaVdiVnViQT0
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'true'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - app_engine:apps:read
      x-lark-error-mappings:
      - code: 2320002
        httpCode: 500
        msg: internal error
      - code: 2320003
        httpCode: 404
        msg: tenant does not exist
      - code: 2320004
        httpCode: 404
        msg: user does not exist
      - code: 2320005
        httpCode: 403
        msg: insufficient permissions
      - code: 2320006
        httpCode: 400
        msg: bad request or invalid parameter
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
  /open-apis/apaas/v1/applications/{namespace}/audit_log/audit_log_list:
    get:
      operationId: apaas_application_audit_log_audit_log_list
      summary: 查询审计日志列表
      tags:
      - application.audit_log
      description: 获取审计日志列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-audit_log/audit_log_list
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_aa_bb
      - name: page_size
        in: query
        required: true
        schema:
          type: string
        description: 分页大小
        example: '10'
      - name: offset
        in: query
        required: true
        schema:
          type: string
        description: 翻页数量
        example: '0'
      - name: quick_query
        in: query
        required: false
        schema:
          type: string
        description: 模糊查询
        example: Intel Mac OS
      - name: from
        in: query
        required: true
        schema:
          type: string
        description: 查询时间范围：开始时间
        example: '1723691857002'
      - name: to
        in: query
        required: true
        schema:
          type: string
        description: 查询时间范围：结束时间
        example: '1724296657002'
      - name: log_type
        in: query
        required: true
        schema:
          type: string
        description: 日志类型：10001-企业管理日志，10003-应用管理日志，10002-登录日志
        example: '10000'
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: 日志查询：筛选能力
        example: '{"items":[{"left":"eventName","operator":"=","right":[19001]}]}'
      - name: columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 日志列表：选择展示行信息，例如["opTime","appName","eventName","clientIP","operator","status"]
      - name: sort_by
        in: query
        required: false
        schema:
          type: string
        description: 查询排序字段：可选项为操作时间（opTime）
        example: opTime
      - name: sort_order
        in: query
        required: false
        schema:
          type: string
        description: 查询排序：按时间从小到大使用 asc
        example: asc
      - name: app_type
        in: query
        required: false
        schema:
          type: string
        description: 应用类型，0为apaas类型，1为aily类型
        example: '0'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - app_engine:security.audit_log:read
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/apaas/v1/applications/{namespace}/audit_log/data_change_log_detail:
    get:
      operationId: apaas_application_audit_log_data_change_log_detail
      summary: 查询数据变更日志详情
      tags:
      - application.audit_log
      description: 获取数据变更日志详情
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-audit_log/data_change_log_detail
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用
        example: package_aaa
      - name: log_id
        in: query
        required: true
        schema:
          type: string
        description: 数据变更日志ID信息
        example: '7405456257290600492'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - app_engine:security.audit_log:read
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/apaas/v1/applications/{namespace}/audit_log/data_change_logs_list:
    get:
      operationId: apaas_application_audit_log_data_change_logs_list
      summary: 查询数据变更日志列表
      tags:
      - application.audit_log
      description: 获取数据变更日志列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-audit_log/data_change_logs_list
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_aa_bb
      - name: quick_query
        in: query
        required: false
        schema:
          type: string
        description: 模糊查询
        example: Intel Mac OS
      - name: page_size
        in: query
        required: true
        schema:
          type: string
        description: 分页大小
        example: '0'
      - name: offset
        in: query
        required: true
        schema:
          type: string
        description: 翻页数量
        example: '0'
      - name: from
        in: query
        required: false
        schema:
          type: string
        description: 查询时间范围：开始时间
        example: '1723691857002'
      - name: to
        in: query
        required: false
        schema:
          type: string
        description: 查询时间范围：结束时间
        example: '1724296657002'
      - name: log_type
        in: query
        required: true
        schema:
          type: string
        description: 日志类型：10007-数据变更日志
        example: '10007'
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: 日志查询：筛选能力
        example: '{"items":[{"left":"eventName","operator":"=","right":[19001]}]}'
      - name: columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 日志列表：选择展示行信息，例如["opTime","appName","eventName","clientIP","operator","status"]
      - name: sort_by
        in: query
        required: false
        schema:
          type: string
        description: 查询排序字段：可选项为操作时间（opTime）
        example: opTime
      - name: sort_order
        in: query
        required: false
        schema:
          type: string
        description: 查询排序：按时间从小到大使用 asc
        example: asc
      - name: app_type
        in: query
        required: false
        schema:
          type: string
        description: 应用类型，0为apaas类型，1为aily类型
        example: '0'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - app_engine:security.audit_log:read
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/apaas/v1/applications/{namespace}/audit_log:
    get:
      operationId: apaas_application_audit_log_get
      summary: 查询审计日志详情
      tags:
      - application.audit_log
      description: 获取审计日志详情
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-audit_log/get
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用
        example: package_aaa
      - name: log_id
        in: query
        required: true
        schema:
          type: string
        description: 审计日志ID信息
        example: '7405456257290600492'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - app_engine:security.audit_log:read
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/apaas/v1/applications/{namespace}/environment_variables/{environment_variable_api_name}:
    get:
      operationId: apaas_application_environment_variable_get
      summary: 查询环境变量详情
      tags:
      - application.environment_variable
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-environment_variable/get
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: environment_variable_api_name
        in: path
        required: true
        schema:
          type: string
        description: 环境变量 API 名称
        example: globalParam_0b410b17704
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      item:
                        allOf:
                        - $ref: '#/components/schemas/Item2'
                        description: 环境变量详情
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:application.environment_variable:read
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/apaas/v1/applications/{namespace}/environment_variables/query:
    post:
      operationId: apaas_application_environment_variable_query
      summary: 查询环境变量列表
      tags:
      - application.environment_variable
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-environment_variable/query
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: '1'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    quick_query:
                      type: string
                      description: 模糊查询关键词
                      example: Sample Text
                  description: 过滤条件
                limit:
                  type: integer
                  description: 限制的条数，默认为 500，不可超过 500
                  example: '10'
                offset:
                  type: integer
                  description: 返回记录的偏移量，默认为 0，即从查询到的第一个记录开始返回
                  example: '0'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item2'
                        description: 环境变量列表
                      total:
                        type: integer
                        description: 符合查询条件的环境变量的总数
                        example: '1'
                    required:
                    - total
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:application.environment_variable:read
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/apaas/v1/applications/{namespace}/flows/{flow_id}/execute:
    post:
      operationId: apaas_application_flow_execute
      summary: 发起流程
      tags:
      - application.flow
      description: 流程执行接口
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-flow/execute
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用id
        example: '123'
      - name: flow_id
        in: path
        required: true
        schema:
          type: string
        description: 流程api name
        example: deleteObject_99c0b74799f
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_async:
                  type: boolean
                  description: 是否异步执行
                  example: 'true'
                idempotent_key:
                  type: string
                  description: 幂等信息
                  example: '123'
                loop_masks:
                  type: array
                  items:
                    type: string
                  description: 循环信息
                params:
                  type: string
                  description: 流程入参
                  example: '123'
                operator:
                  type: string
                  description: 操作人
                  example: '123'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        description: 状态
                        example: '123'
                      out_params:
                        type: string
                        description: 输出参数
                        example: '123'
                      execution_id:
                        type: string
                        description: 执行id
                        example: '123'
                      error_msg:
                        type: string
                        description: 错误信息
                        example: '123'
                      code:
                        type: string
                        description: code
                        example: '123'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:flow:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/applications/{namespace}/functions/{function_api_name}/invoke:
    post:
      operationId: apaas_application_function_invoke
      summary: 执行函数
      tags:
      - application.function
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-function/invoke
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: function_api_name
        in: path
        required: true
        schema:
          type: string
        description: 函数 API 名称
        example: printParam
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                params:
                  type: string
                  description: 函数输入参数（JSON 序列化后的字符串）
                  example: '{\"key1\":\"value1\",\"key2\":\"value2\",\"key3\":1718313981794}'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      result:
                        type: string
                        description: 函数执行的返回结果（JSON 序列化后的字符串）
                        example: '{\"key1\":\"value1\",\"key2\":\"value2\",\"key3\":1718313981794}'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:application.function:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/apaas/v1/applications/{namespace}/objects/{object_api_name}/records/batch_create:
    post:
      operationId: apaas_application_object_record_batch_create
      summary: 批量新建记录
      tags:
      - application.object.record
      description: 记录批量创建
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-object-record/batch_create
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: object_api_name
        in: path
        required: true
        schema:
          type: string
        description: 对象唯一标识
        example: user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                records:
                  type: string
                  description: 记录详情列表，格式为 List<Map<string, ANY>>，操作记录数上限为 500 条
                  example: '[{\"book_name\":\"name21\",\"book_count\":2}]'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:object.record:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/apaas/v1/applications/{namespace}/objects/{object_api_name}/records/batch_delete:
    delete:
      operationId: apaas_application_object_record_batch_delete
      summary: 批量删除记录
      tags:
      - application.object.record
      description: 记录批量删除
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-object-record/batch_delete
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: object_api_name
        in: path
        required: true
        schema:
          type: string
        description: 对象唯一标识
        example: user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  description: 记录 ID 列表，操作记录数上限为 500
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:object.record:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/apaas/v1/applications/{namespace}/objects/{object_api_name}/records/batch_query:
    post:
      operationId: apaas_application_object_record_batch_query
      summary: 查询记录列表
      tags:
      - application.object.record
      description: 批量查询对象记录
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-object-record/batch_query
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 命名空间
        example: package_test__c
      - name: object_api_name
        in: path
        required: true
        schema:
          type: string
        description: 目标对象的唯一标识符
        example: _user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                select:
                  type: array
                  items:
                    type: string
                  description: 需要获取的字段，使用字段唯一标识符进行查询，关联字段可使用「.」进行下钻
                filter:
                  allOf:
                  - $ref: '#/components/schemas/Filter'
                  description: 筛选条件，通过 JSON 格式指定条件
                order_by:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        description: 字段唯一标识
                        example: _id
                      direction:
                        type: string
                        description: 排序方向，值为 "ASC" 或者 "DESC"，代表升序和降序
                        enum:
                        - ASC
                        - DESC
                        x-enum-descriptions:
                          ASC: 升序
                          DESC: 降序
                        example: ASC
                    required:
                    - field
                    - direction
                  description: 排序参数，通过 JSON 格式指定条件。其中， field 为参与排序字段，direction 为排序方向，多个条件按其在数组中的顺序生效。
                group_by:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        description: 字段唯一标识
                        example: _id
                    required:
                    - field
                  description: 聚合参数，通过 JSON 格式指定条件。其中， field 为参与聚合的字段。
                page_token:
                  type: string
                  description: 分页的 Token 值，由服务端生成，可从 Response 中的 next_page_token 参数中获取。注意：第一页需填写空字符串 ""，且不能与 OFFSET 一起使用。
                use_page_token:
                  type: boolean
                  description: 是否使用 page_token 功能。为 True 时将使用 page_token 的值作为起始位置查询记录，并且会在 Response 中返回 next_page_token 。默认为
                    False 。
                  example: 'false'
                page_size:
                  type: integer
                  description: 期望服务端返回的记录条数，上限 500 条。不填则取默认值，默认值为 500。
                  example: '100'
                offset:
                  type: integer
                  description: 返回记录的偏移量，默认为 0 ，即从查询到的第一条记录开始返回。offset 较大时查询性能较差，可能引起接口响应超时，拉取全部记录时建议使用 ID 游标分页，具体见 ID 游标分页说明
                  example: '0'
                need_total_count:
                  type: boolean
                  description: 是否返回符合条件的记录总数（Total）。默认为 False，不返回记录总数。
                  example: 'true'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: string
                        description: 符合条件的记录列表
                        example: '[{}]'
                      total:
                        type: integer
                        description: 符合条件的记录数
                        example: '0'
                      next_page_token:
                        type: string
                        description: 下一页的起始位置 Token ，访问至末尾时不返回
                        example: 'null'
                      has_more:
                        type: boolean
                        description: 是否还有数据
                    required:
                    - items
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:object.record:read
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/apaas/v1/applications/{namespace}/objects/{object_api_name}/records/batch_update:
    patch:
      operationId: apaas_application_object_record_batch_update
      summary: 批量编辑记录
      tags:
      - application.object.record
      description: 记录批量更新
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-object-record/batch_update
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: object_api_name
        in: path
        required: true
        schema:
          type: string
        description: 对象唯一标识
        example: user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                records:
                  type: string
                  description: 记录详情列表，格式为 List<Map<string, ANY>>，操作记录数上限为 500 条
                  example: '[{\"_id\":\"1798681438085228\",\"book_count\":\"5\",\"book_name\":\"name4\"}]'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:object.record:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/apaas/v1/applications/{namespace}/objects/{object_api_name}/records:
    post:
      operationId: apaas_application_object_record_create
      summary: 新建记录
      tags:
      - application.object.record
      description: 创建记录
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-object-record/create
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: object_api_name
        in: path
        required: true
        schema:
          type: string
        description: 对象唯一标识
        example: user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                record:
                  type: string
                  description: 创建对象使用的数据，键为字段 API 名称，值为字段值，格式可参考字段值格式
                  example: '{\"book_name\":\"test\"}'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 记录 ID
                        example: '1764024447556775'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:object.record:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/apaas/v1/applications/{namespace}/objects/{object_api_name}/records/{id}:
    delete:
      operationId: apaas_application_object_record_delete
      summary: 删除记录
      tags:
      - application.object.record
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-object-record/delete
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: object_api_name
        in: path
        required: true
        schema:
          type: string
        description: 对象唯一标识
        example: user
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 记录ID
        example: '1764024447556775'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:object.record:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
    patch:
      operationId: apaas_application_object_record_patch
      summary: 编辑记录
      tags:
      - application.object.record
      description: 更新记录
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-object-record/patch
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: object_api_name
        in: path
        required: true
        schema:
          type: string
        description: 对象唯一标识
        example: user
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 记录ID
        example: '1764024447556775'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                record:
                  type: string
                  description: 创建对象使用的数据，键为字段 API 名称，值为字段值，格式可参考字段值格式
                  example: '{\"_id\":\"1798681438085228\",\"book_count\":\"3\",\"book_name\":\"showcase2\"}'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:object.record:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/apaas/v1/applications/{namespace}/objects/{object_api_name}/records/{id}/query:
    post:
      operationId: apaas_application_object_record_query
      summary: 获取记录详情
      tags:
      - application.object.record
      description: 获取记录
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-object-record/query
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: object_api_name
        in: path
        required: true
        schema:
          type: string
        description: 对象唯一标识
        example: user
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 记录ID
        example: '1764024447556775'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                select:
                  type: array
                  items:
                    type: string
                  description: 需要获取的字段，使用字段唯一标识符进行查询，关联字段可使用 . 进行下钻
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      item:
                        type: string
                        description: 记录详情,格式为 Map<string, ANY>
                        example: '{}'
                    required:
                    - item
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:object.record:read
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/apaas/v1/applications/{namespace}/objects/oql_query:
    post:
      operationId: apaas_application_object_oql_query
      summary: 执行 OQL
      tags:
      - application.object
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-object/oql_query
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: 待执行的 OQL 语句（关于支持的关键词及操作符，详见查看）
                  example: SELECT _id, _name FROM _user WHERE _type = $1 AND _accountStatus = $user_status LIMIT 10
                args:
                  type: string
                  description: 用于指定 OQL 语句中匿名参数的具体值
                  example: '[\"_employee\"]'
                named_args:
                  type: string
                  description: 用于指定 OQL 语句中具名参数的具体值
                  example: '{\"user_status\" : \"_used\"}'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      columns:
                        type: array
                        items:
                          type: string
                        description: 每一列的标题
                      rows:
                        type: string
                        description: 每一行的值，以「key-value」的形式返回
                        example: '[       {         "_name": "Sample Text",         "_id": 1234567890       }     ]'
                    required:
                    - columns
                    - rows
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:object.record:read
      - app_engine:object.record:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  /open-apis/apaas/v1/applications/{namespace}/objects/search:
    post:
      operationId: apaas_application_object_search
      summary: 搜索记录
      tags:
      - application.object
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-object/search
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: 搜索词
                  example: 搜索关键字
                search_objects:
                  type: array
                  items:
                    type: object
                    properties:
                      api_name:
                        type: string
                        description: 对象 APIName
                        example: _user
                      search_fields:
                        type: array
                        items:
                          type: string
                        description: 搜索字段 SearchFields 列表
                      select:
                        type: array
                        items:
                          type: string
                        description: 召回字段 APIID/APIName 列表
                      filter:
                        allOf:
                        - $ref: '#/components/schemas/Filter'
                        description: '过滤条件，序列化的结果{"filter": "「标准Criterion」"}'
                      order_by:
                        type: object
                        properties:
                          field:
                            type: string
                            description: 字段名
                            example: _id
                          order_type:
                            type: string
                            description: 排序方式
                            enum:
                            - asc
                            - desc
                            x-enum-descriptions:
                              asc: 升序
                              desc: 降序
                            example: asc
                        description: 排序条件
                  description: 搜索对象范围
                page_token:
                  type: string
                  description: 分页参数，第一次搜索时为空，需要分页查询时使用 SearchRecordsResponse 中的结果
                  example: eyJvYmplY3RzX3BhZ2VfdG9rZW4iOlt7Im9ial9pZCI6MTc2OTI4NzM5M
                page_size:
                  type: string
                  description: 返回数量，默认为50，最大不超过2000
                  example: '100'
                metadata:
                  type: string
                  description: 返回元数据枚举值
                  enum:
                  - Label
                  - SearchLayout
                  x-enum-descriptions:
                    Label: 只返回 Label
                    SearchLayout: 返回搜索布局信息
                  example: Label
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      records:
                        type: string
                        description: 搜索结果列表
                        example: '[]'
                      has_more:
                        type: boolean
                        description: 是否还有更多数据
                      next_page_token:
                        type: string
                        description: 分页标记，当 HasMore 为 true 时，会同时返回新的 NextPageToken
                        example: eyJvYmplY3RzX3BhZ2VfdG9rZW4iOlt7Im9ial9pZCI6MTc2OTI4NzM5M
                      objects:
                        type: array
                        items:
                          type: object
                          properties:
                            object:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  description: 对象 ID
                                  example: '1764024447556775'
                                api_name:
                                  type: string
                                  description: 对象 API 名称
                                  example: user
                                label:
                                  type: string
                                  x-lark-original-type: map
                                  description: 对象名称
                                settings:
                                  type: object
                                  properties:
                                    display_name:
                                      type: string
                                      description: 展示名称
                                      example: _id
                                    allow_search_fields:
                                      type: array
                                      items:
                                        type: string
                                      description: 允许搜索字段
                                    search_layout:
                                      type: object
                                      properties:
                                        display_fields:
                                          type: array
                                          items:
                                            type: string
                                          description: 展示字段
                                      description: 展示字段
                                  description: 对象配置
                              description: 对象信息
                            fields:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                    description: 字段 id
                                    example: '1764024447525960'
                                  api_name:
                                    type: string
                                    description: API 名称
                                    example: user
                                  type:
                                    type: string
                                    description: 字段类型
                                    example: string
                                  label:
                                    type: string
                                    x-lark-original-type: map
                                    description: 字段名称
                              description: 字段信息
                        description: 对象信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:object.record:read
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
  ? /open-apis/apaas/v1/applications/{namespace}/record_permissions/{record_permission_api_name}/member/batch_create_authorization
  : post:
      operationId: apaas_application_record_permission_member_batch_create_authorization
      summary: 批量创建记录权限用户授权
      tags:
      - application.record_permission.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-record_permission-member/batch_create_authorization
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: record_permission_api_name
        in: path
        required: true
        schema:
          type: string
        description: 记录权限 API 名称
        example: adminRecordPermission
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 需要新增的用户 ID 列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:record_permission.member:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  ? /open-apis/apaas/v1/applications/{namespace}/record_permissions/{record_permission_api_name}/member/batch_remove_authorization
  : post:
      operationId: apaas_application_record_permission_member_batch_remove_authorization
      summary: 批量删除记录权限用户授权
      tags:
      - application.record_permission.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-record_permission-member/batch_remove_authorization
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: record_permission_api_name
        in: path
        required: true
        schema:
          type: string
        description: 记录权限 API 名称
        example: adminRecordPermission
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 需要删除的用户 ID 列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:record_permission.member:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/applications/{namespace}/roles/{role_api_name}/member/batch_create_authorization:
    post:
      operationId: apaas_application_role_member_batch_create_authorization
      summary: 批量创建角色成员授权
      tags:
      - application.role.member
      description: 批量添加角色成员用户和部门
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-role-member/batch_create_authorization
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: role_api_name
        in: path
        required: true
        schema:
          type: string
        description: 角色 API 名称
        example: adminRole
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 需要新增的用户 ID 列表
                department_ids:
                  type: array
                  items:
                    type: string
                  description: 需要新增的部门 ID 列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:role.member:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/applications/{namespace}/roles/{role_api_name}/member/batch_remove_authorization:
    post:
      operationId: apaas_application_role_member_batch_remove_authorization
      summary: 批量删除角色成员授权
      tags:
      - application.role.member
      description: 批量删除角色成员用户和部门
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-role-member/batch_remove_authorization
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: role_api_name
        in: path
        required: true
        schema:
          type: string
        description: 角色 API 名称
        example: adminRole
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 需要删除的用户 ID 列表
                department_ids:
                  type: array
                  items:
                    type: string
                  description: 需要删除的部门 ID 列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:role.member:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/applications/{namespace}/roles/{role_api_name}/member:
    get:
      operationId: apaas_application_role_member_get
      summary: 查询角色成员信息
      tags:
      - application.role.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/application-role-member/get
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: 应用命名空间
        example: package_test__c
      - name: role_api_name
        in: path
        required: true
        schema:
          type: string
        description: 角色 API 名称
        example: adminRole
      - name: need_display_name
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要公式的展示名称，便于前端展示
      - name: use_api_id
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: 是否使用 APIID字段作为出入参，默认值为 false
        example: 'false'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      role_member:
                        type: object
                        properties:
                          role_api_id:
                            type: string
                            description: 角色唯一 ID，系统自动生成
                            example: role_api_id
                          role_api_name:
                            type: string
                            description: 角色 API 名称
                            example: adminRole
                          users:
                            type: array
                            items:
                              type: string
                            description: 授权用户 ID 列表
                          departments:
                            type: array
                            items:
                              type: string
                            description: 授权部门 ID 列表
                          user_filter:
                            allOf:
                            - $ref: '#/components/schemas/Filter'
                            description: 自定义授权用户规则
                          user_display_infos:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: id
                                  example: '1802412778084426'
                                  format: int64
                                name:
                                  type: string
                                  description: 名称
                                  example: 张三
                            description: 授权用户姓名列表，入参 need_display_name = true时返回
                          department_display_infos:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: id
                                  example: '1802412778084426'
                                  format: int64
                                name:
                                  type: string
                                  description: 名称
                                  example: 张三
                            description: 授权部门名称列表，入参 need_display_name = true时返回
                          type:
                            type: string
                            description: 角色成员模式
                            enum:
                            - all
                            - custom
                            x-enum-descriptions:
                              all: 全部用户
                              custom: 自定义
                            example: custom
                          updated_by:
                            type: string
                            description: 更新人 ID
                            example: '1802412778084426'
                          updated_at:
                            type: integer
                            description: 更新时间
                            example: '1702546522477'
                        description: 角色成员
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:role:read
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/approval_instances/{approval_instance_id}/cancel:
    post:
      operationId: apaas_approval_instance_cancel
      summary: 撤销人工任务
      tags:
      - approval_instance
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/approval_instance/cancel
      parameters:
      - name: approval_instance_id
        in: path
        required: true
        schema:
          type: string
        description: 审批实例id
        example: '1788173550023689'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 操作用户id
                opinion:
                  type: string
                  description: 撤销原因
                  example: 撤销了
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:approval:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/approval_tasks/{approval_task_id}/add_assignee:
    post:
      operationId: apaas_approval_task_add_assignee
      summary: 人工任务加签
      tags:
      - approval_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/approval_task/add_assignee
      parameters:
      - name: approval_task_id
        in: path
        required: true
        schema:
          type: string
        description: 审批任务id
        example: '1785771068261436'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 操作人id
                approvers:
                  type: array
                  items:
                    type: string
                  description: 审批人列表
                add_assignee_type:
                  type: string
                  description: 加签类型
                  example: currentAndAddAssign
                opinion:
                  type: string
                  description: 加签原因
                  example: 加签
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:approval:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/approval_tasks/{approval_task_id}/agree:
    post:
      operationId: apaas_approval_task_agree
      summary: 同意人工任务
      tags:
      - approval_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/approval_task/agree
      parameters:
      - name: approval_task_id
        in: path
        required: true
        schema:
          type: string
        description: 审批任务id
        example: '1785996265147395'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 操作人id
                opinion:
                  type: string
                  description: 审批意见
                  example: 同意
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:approval:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/approval_tasks/{approval_task_id}/reject:
    post:
      operationId: apaas_approval_task_reject
      summary: 拒绝人工任务
      tags:
      - approval_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/approval_task/reject
      parameters:
      - name: approval_task_id
        in: path
        required: true
        schema:
          type: string
        description: 审批任务id
        example: '1785996265147395'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 操作用户id
                opinion:
                  type: string
                  description: 审批意见
                  example: 拒绝
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:approval:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/approval_tasks/{approval_task_id}/transfer:
    post:
      operationId: apaas_approval_task_transfer
      summary: 转交人工任务
      tags:
      - approval_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/approval_task/transfer
      parameters:
      - name: approval_task_id
        in: path
        required: true
        schema:
          type: string
        description: 审批任务id
        example: '1785996265147395'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 操作人id
                from_user_ids:
                  type: array
                  items:
                    type: string
                  description: 原审批人id
                to_user_ids:
                  type: array
                  items:
                    type: string
                  description: 新审批人id
                opinion:
                  type: string
                  description: 审批意见
                  example: 转交
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:approval:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/seat_activities:
    get:
      operationId: apaas_seat_activity_list
      summary: 查询席位活跃详情
      tags:
      - seat_activity
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/seat_activity/list
      parameters:
      - name: seat_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - per_user
          - per_user_per_app
          x-enum-descriptions:
            per_user: 平台席位
            per_user_per_app: 应用席位
        description: 席位类型，枚举值：1. 平台席位2. 应用席位
        example: per_user
      - name: page_size
        in: query
        required: true
        schema:
          type: string
        description: 分页大小，必填，范围：【0，500】
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: eVQrYzJBNDNONlk4VFZBZVlSdzlKdFJ4bVVHVExENDNKVHoxaVdiVnViQT0
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: integer
                              description: aPaaS 产品用户的 ID
                              example: '1803710089388154'
                            namespace:
                              type: string
                              description: aPaaS 产品应用的 namespace
                              example: package_35f605__c
                            status:
                              type: string
                              description: 席位状态，枚举值：1. in_use 2. released
                              enum:
                              - in_use
                              - released
                              x-enum-descriptions:
                                in_use: 该席位生效中
                                released: 该席位已被释放
                              example: in_use
                            active_time:
                              type: integer
                              description: 用户使用席位访问应用且席位验证通过时，记录或更新的时间
                              example: '1727199298656'
                        description: 席位活跃情况列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: eVQrYzJBNDNONlk4VFZBZVlSdzlKdFJ4bVVHVExENDNKVHoxaVdiVnViQT0
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'true'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - app_engine:seat_activities:read
      x-lark-error-mappings:
      - code: 2320003
        httpCode: 404
        msg: tenant does not exist
      - code: 2320004
        httpCode: 404
        msg: user does not exist
      - code: 2320005
        httpCode: 403
        msg: insufficient permissions
      - code: 2320006
        httpCode: 400
        msg: bad request or invalid parameter
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
  /open-apis/apaas/v1/seat_assignments:
    get:
      operationId: apaas_seat_assignment_list
      summary: 查询席位分配详情
      tags:
      - seat_assignment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/seat_assignment/list
      parameters:
      - name: seat_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - per_user
          - per_user_per_app
          x-enum-descriptions:
            per_user: 平台席位
            per_user_per_app: 应用访问席位
        description: 席位类型，枚举值：1.平台席位 2. 应用访问席位
        example: per_user
      - name: page_size
        in: query
        required: true
        schema:
          type: string
        description: 分页大小，范围：【0，500】
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: eVQrYzJBNDNONlk4VFZBZVlSdzlKdFJ4bVVHVExENDNKVHoxaVdiVnViQT0
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: integer
                              description: aPaaS 产品用户的 ID
                              example: '1803710089388154'
                            namespace:
                              type: string
                              description: aPaaS 产品应用的 namespace
                              example: package_35f605__c
                            status:
                              type: string
                              description: 席位状态，枚举值：1. in_use 2. released
                              enum:
                              - in_use
                              - released
                              x-enum-descriptions:
                                in_use: 席位生效中
                                released: 席位已释放
                              example: in_use
                        description: 席位分配情况列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: eVQrYzJBNDNONlk4VFZBZVlSdzlKdFJ4bVVHVExENDNKVHoxaVdiVnViQT0
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'true'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - app_engine:seat_assignments:read
      x-lark-error-mappings:
      - code: 2320003
        httpCode: 404
        msg: tenant does not exist
      - code: 2320004
        httpCode: 404
        msg: user does not exist
      - code: 2320005
        httpCode: 403
        msg: |
          insufficient permissions
      - code: 2320006
        httpCode: 400
        msg: bad request or invalid parameter
      x-lark-rate-limit:
        tier: 5
      x-lark-pagination: true
  /open-apis/apaas/v1/tenant_app_metrics/query:
    post:
      operationId: apaas_tenant_app_metrics_query
      summary: 获取应用运营数据
      tags:
      - tenant_app_metrics
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/tenant_app_metrics/query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                namespaces:
                  type: array
                  items:
                    type: string
                  description: aPaaS 应用 namespace 列表，单次请求最多查询 20 个 namespace
                date:
                  type: string
                  description: 查询日期，支持查询最近一年至前一日数据
                  example: '2006-01-02'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      metrics:
                        type: array
                        items:
                          type: object
                          properties:
                            namespace:
                              type: string
                              description: aPaaS 应用 namespace
                              example: package_a__c
                            data:
                              type: string
                              description: |-
                                指定应用的指标详情，对 []map[string]int64 数组进行序列化后得到的 json 字符串。数组每个元素包含名称（Name）、数值类型（ValueType）、数值（Value）三个字段。

                                Name枚举值：
                                active_user_1dcnt（近1日应用用户活跃数）、
                                active_user_7dcnt（近7日应用用户活跃数）、
                                active_user_30dcnt（近30日应用用户活跃数）、
                                function_run_1dcnt（近1日函数运行次数，含线上环境与开发环境）。

                                ValueType枚举值：amount（数量）。

                                json格式：[{"Name":"key1","ValueType":"amount","Value":100},
                                {"Name":"key2","ValueType":"amount","Value":200}
                                ]
                              example: '[{\"Name\":\"active_user_30dcnt\",\"ValueType\":\"amount\",\"Value\":6000},{\"Name\":\"active_user_7dcnt\",\"ValueType\":\"amount\",\"Value\":1400},{\"Name\":\"active_user_1dcnt\",\"ValueType\":\"amount\",\"Value\":200},{\"Name\":\"function_run_1dcnt\",\"ValueType\":\"amount\",\"Value\":400}]'
                        description: 查询应用的指标详情列表
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - app_engine:tenant_app_metrics:read
      x-lark-error-mappings:
      - code: 2320003
        httpCode: 404
        msg: tenant does not exist
      - code: 2320004
        httpCode: 404
        msg: user does not exist
      - code: 2320005
        httpCode: 403
        msg: insufficient permissions
      - code: 2320006
        httpCode: 400
        msg: bad request or invalid parameter
      x-lark-rate-limit:
        tier: 7
  /open-apis/apaas/v1/user_tasks/{task_id}/cc:
    post:
      operationId: apaas_user_task_cc
      summary: 抄送人工任务
      tags:
      - user_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/user_task/cc
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务ID
        example: '1234'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cc_user_ids:
                  type: array
                  items:
                    type: string
                  description: 抄送人的kunlunID列表
                operator_user_id:
                  type: string
                  description: 操作人kunlunUserID
                  example: '1234'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:approval:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/user_tasks/{task_id}/chat_group:
    post:
      operationId: apaas_user_task_chat_group
      summary: 基于人工任务发起群聊
      tags:
      - user_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/user_task/chat_group
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务ID
        example: '1234'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                operator_user_id:
                  type: string
                  description: 操作人kunlunUserID
                  example: '1234'
                invite_user_ids:
                  type: array
                  items:
                    type: string
                  description: 要邀请进群用户ID列表
                chat_id:
                  type: string
                  description: 要拉入的群ID，为空则新建群
                  example: oc_1234
                  x-lark-id-types:
                    chat_id: chat
                chat_name:
                  type: string
                  description: 要加入的群名称，当chat_id为空时用该名称创建群聊
                  example: 群名称
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      chat_id:
                        type: string
                        description: 创建的群聊ID
                        example: ou_7d8a6e6df7621556ce0d21922b676706ccs
                        x-lark-id-types:
                          chat_id: chat
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:approval:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/user_tasks/{task_id}/expediting:
    post:
      operationId: apaas_user_task_expediting
      summary: 催办人工任务
      tags:
      - user_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/user_task/expediting
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务ID
        example: '1234'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                operator_user_id:
                  type: string
                  description: 操作人kunlunUserID
                  example: '123'
                expediting_user_ids:
                  type: array
                  items:
                    type: string
                  description: 催办人的kunlunID列表
                opinion:
                  type: string
                  description: 催办理由
                  example: 催办理由
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - app_engine:approval:write
      x-lark-error-mappings:
      - code: 2320001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/apaas/v1/user_task/query:
    post:
      operationId: apaas_user_task_query
      summary: 查询人工任务
      tags:
      - user_task
      description: 获取任务列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/apaas-v1/user_task/query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: 类型
                  example: pending
                source:
                  type: string
                  description: 来源
                  example: assignMe
                limit:
                  type: string
                  description: 获取条数
                  example: '10'
                offset:
                  type: string
                  description: 起始位置
                  example: '0'
                start_time:
                  type: string
                  description: 开始时间
                  example: '1730208758000'
                end_time:
                  type: string
                  description: 结束时间
                  example: '1730208758000'
                api_ids:
                  type: array
                  items:
                    type: string
                  description: 流程apiid列表
                kunlun_user_id:
                  type: string
                  description: kunlunUserID
                  example: '1234'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      count:
                        type: string
                        description: 总任务条数
                        example: '10'
                      tasks:
                        type: array
                        items:
                          type: object
                          properties:
                            task_id:
                              type: string
                              description: 任务ID
                              example: '1234'
                            task_start_time:
                              type: string
                              description: 任务开始时间
                              example: '1234'
                            workflow_instance:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: 流程实例ID
                                  example: '1234'
                                label:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      language_code:
                                        type: string
                                        description: '-'
                                        example: '-'
                                      text:
                                        type: string
                                        description: '-'
                                        example: '-'
                                  description: 流程对应的任务名称
                                status:
                                  type: string
                                  description: 流程状态
                                  example: in_process
                              description: 流程实例
                            initiator:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                  description: 用户ID
                                name:
                                  type: string
                                  description: 用户名称
                                  example: 'yijie '
                              description: 发起人
                            summarys:
                              type: array
                              items:
                                type: object
                                properties:
                                  file_key:
                                    type: object
                                    properties:
                                      language_code:
                                        type: string
                                        description: '-'
                                        example: '-'
                                      text:
                                        type: string
                                        description: '-'
                                        example: '-'
                                    description: 摘要名称（多语）
                                  file_value:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        language_code:
                                          type: string
                                          description: '-'
                                          example: '-'
                                        text:
                                          type: string
                                          description: '-'
                                          example: '-'
                                    description: 摘要值（多语）
[...]
