# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · approval API（全量）
  description: |-
    飞书开放平台 `approval` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T04:09:08Z'
  x-lark-project: approval
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T04:09:08Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: approval
- name: district
- name: external_approval
- name: external_instance
- name: external_task
- name: instance.comment
- name: instance
- name: task
paths:
  /open-apis/approval/v4/approvals:
    post:
      operationId: approval_approval_create
      summary: 创建审批定义
      tags:
      - approval
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/approval/create
      parameters:
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
        example: open_department_id
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approval_name:
                  type: string
                  description: 审批名称的国际化文案 Key，以 @i18n@ 开头，长度不得少于 9 个字符
                  example: '@i18n@approval_name'
                approval_code:
                  type: string
                  description: 传空表示新建
                  example: 7C468A54-8745-2245-9675-08B7C63E7A85
                description:
                  type: string
                  description: 审批描述的国际化文案 Key，以 @i18n@ 开头，长度不得少于 9 个字符
                  example: '@i18n@description'
                viewers:
                  type: array
                  items:
                    type: object
                    properties:
                      viewer_type:
                        type: string
                        description: 可见人类型，如果 viewer_type 是 TENANT 和 NONE,  viewer_user_id， viewer_department_id可不填
                        enum:
                        - TENANT
                        - DEPARTMENT
                        - USER
                        - NONE
                        x-enum-descriptions:
                          TENANT: 租户内可见
                          DEPARTMENT: 指定部门
                          USER: 指定用户
                          NONE: 任何人都不可见
                        example: USER
                      viewer_user_id:
                        type: string
                        description: 当 viewer_type 是 USER，根据user_id_type填写用户id
                        example: 19a294c2
                      viewer_department_id:
                        type: string
                        description: 当 view_type 为DEPARTMENT，根据department_id_type填写部门id
                        example: od-ac9d697abfa990b715dcc33d58a62a9d
                  description: viewers 字段指定了哪些人能从审批应用的前台发起该审批。  当 view_type 为 USER，需要填写viewer_user_id；  当       view_type
                    为DEPARTMENT，需要填写viewer_department_id；  当 view_type 为TENANT或NONE时，viewer_user_id和viewer_department_id无需填写
                form:
                  type: object
                  properties:
                    form_content:
                      type: string
                      description: 审批定义表单内容，json 数组
                      example: '[{\"id\":\"9293493\", \"type\": \"input\", \"required\":true, \"name\":\"@i18n@widget1\"}]'
                    widget_relation:
                      type: string
                      description: 控件之间数据条件约束表达式
                      example: '{\"groups\":[{\"id\":\"1\",\"parent_widgets_ids\":[\"widget1\",\"widget4\"],\"children_widget_ids\":[\"widget2.widget3\"],\"conditions\":[{\"parents_expr\":{\"type\":\"Multi\",\"expr\":{\"type\":\"and\",\"exprs\":[{\"type\":\"SingleWidget\",\"expr\":{\"type\":\"in\",\"widget_id\":\"widget1\",\"expect\":{\"type\":\"local\",\"value\":[{\"value\":\"value_0\"},{\"value\":\"value_1\"}]}}},{\"type\":\"Const\",\"expr\":{\"value\":true,\"widget_ids\":[\"widget4\"]}}]}},\"children_rule\":{\"expr\":{\"type\":\"SingleWidget\",\"expr\":{\"type\":\"in\",\"widget_id\":\"widget2.widget3\",\"expect\":{\"type\":\"local\",\"value\":[{\"value\":\"value_3\"},{\"value\":\"value_5\"}]}}},\"actions\":[{\"type\":\"SetOptions\",\"widget_id\":\"widget2.widget3\",\"value\":{\"type\":\"local\",\"value\":[{\"value\":\"value_3\"},{\"value\":\"value_4\"}]}}]}}]}]}'
                  required:
                  - form_content
                  description: 审批定义表单内容，json 数组
                node_list:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 节点 ID，开始节点的 ID 为 START，结束节点的 ID 为 END，开始和结束节点不需要指定 name、node_type 以及 approver
                        example: START
                      name:
                        type: string
                        description: 节点名称的国际化文案 Key，以 @i18n@ 开头，长度不得少于 9 个字符
                        example: '@i18n@node_name'
                      node_type:
                        type: string
                        description: 审批类型枚举,当 node_type 为依次审批时，审批人必须为『发起人自选』
                        enum:
                        - AND
                        - OR
                        - SEQUENTIAL
                        x-enum-descriptions:
                          AND: 会签
                          OR: 或签
                          SEQUENTIAL: 依次审批
                        example: AND
                      approver:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item5'
                        description: 审批人列表
                      ccer:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item5'
                        description: 抄送人列表
                      privilege_field:
                        type: object
                        properties:
                          writable:
                            type: array
                            items:
                              type: string
                            description: 可写权限的表单项的 id列表
                            example: '9293493'
                          readable:
                            type: array
                            items:
                              type: string
                            description: 可读权限的表单项的 id列表
                            example: '9293493'
                        required:
                        - writable
                        - readable
                        description: 表单项的控件权限
                      approver_chosen_multi:
                        type: boolean
                        description: 自选审批人是否允许多选
                        example: 'false'
                      approver_chosen_range:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: 审批人类型
                              enum:
                              - ALL
                              - PERSONAL
                              - ROLE
                              x-enum-descriptions:
                                ALL: 全租户
                                PERSONAL: 指定审批人
                                ROLE: 指定角色
                              example: ALL
                            id_list:
                              type: array
                              items:
                                type: string
                              description: 审批人id
                              example: f7cb567e
                        description: 自选审批人选择范围
                      starter_assignee:
                        type: string
                        description: 审批人为提交人时的操作
                        enum:
                        - STARTER
                        - AUTO_PASS
                        - SUPERVISOR
                        - DEPARTMENT_MANAGER
                        x-enum-descriptions:
                          STARTER: 发起人本人审批
                          AUTO_PASS: 自动通过
                          SUPERVISOR: 直属上级审批
                          DEPARTMENT_MANAGER: 直属部门负责人审批
                        example: STARTER
                    required:
                    - id
                  description: 审批定义节点，需要将开始节点作为 list 第一个元素，结束节点作为最后一个元素
                settings:
                  type: object
                  properties:
                    revert_interval:
                      type: integer
                      description: 审批实例通过后允许撤回的时间，以秒为单位，默认 31 天，0 为不可撤回
                      example: '0'
                    revert_option:
                      type: integer
                      description: 是否支持审批通过第一个节点后撤回，默认为1，0为不支持
                      example: '0'
                    reject_option:
                      type: integer
                      description: 拒绝设置
                      enum:
                      - 0
                      - 1
                      x-enum-descriptions:
                        '0': 默认设置，流程被终止
                        '1': 退回至发起人，发起人可编辑流程后重新提交
                      example: '0'
                    quick_approval_option:
                      type: integer
                      description: 快捷审批配置项，开启后可在卡片上直接审批。默认值1为启用， 0为禁用
                      enum:
                      - 0
                      - 1
                      x-enum-descriptions:
                        '0': 禁用
                        '1': 启用
                      default: 1
                      example: '1'
                    overtime_disable:
                      type: boolean
                      description: 流程关闭超时配置，传true就是关闭超时配置
                      default: true
                      example: 'true'
                    overtime_notice_time:
                      type: integer
                      description: 单据未处理超时时间，单位天
                      default: 0
                      example: '0'
                    overtime_close_time:
                      type: integer
                      description: 单据已超时后，自动关闭时间，单位天
                      default: 0
                      example: '0'
                    overtime_recover_time:
                      type: integer
                      description: 单据自动关闭后，可恢复时间，单位天
                      default: 0
                      example: '0'
                  description: 审批定义其他设置
                config:
                  type: object
                  properties:
                    can_update_viewer:
                      type: boolean
                      description: 允许用户修改可见范围
                      example: 'false'
                    can_update_form:
                      type: boolean
                      description: 允许用户更新表单
                      example: 'false'
                    can_update_process:
                      type: boolean
                      description: 允许用户更新流程定义
                      example: 'false'
                    can_update_revert:
                      type: boolean
                      description: 允许用户更新撤回设置
                      example: 'false'
                    help_url:
                      type: string
                      description: 帮助文档链接
                      example: https://www.baidu.com
                  required:
                  - can_update_viewer
                  - can_update_form
                  - can_update_process
                  - can_update_revert
                  description: 审批定义配置项，用于配置对应审批定义是否可以由用户在审批后台进行修改
                icon:
                  type: integer
                  description: 审批图标枚举，详见下方说明，默认为 0
                  default: 0
                  example: '0'
                i18n_resources:
                  type: array
                  items:
                    $ref: '#/components/schemas/Item'
                  description: 国际化文案
                process_manager_ids:
                  type: array
                  items:
                    type: string
                  description: 流程负责人
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      approval_code:
                        type: string
                        description: 审批定义 Code
                        example: FEF43628-150D-4465-80DD-9720C489B525
                      approval_id:
                        type: string
                        description: 审批定义 id
                        example: '7090754740375519252'
                        format: int64
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - approval:approval
      - approval:definition
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1390001
        httpCode: 400
        msg: ''
      - code: 1390002
        httpCode: 400
        msg: approval code not found
      - code: 1390003
        httpCode: 400
        msg: instance code not found
      - code: 1390004
        httpCode: 400
        msg: user_id or open_id not found
      - code: 1390009
        httpCode: 403
        msg: no operation permission
      - code: 1390013
        httpCode: 400
        msg: unsupported approval for free process
      - code: 1390015
        httpCode: 400
        msg: approval is not active
      - code: 1395001
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.viewers[*].viewer_user_id
        section: 0
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.viewers[*].viewer_department_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.node_list[*].approver[*].user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.node_list[*].ccer[*].user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.node_list[*].approver_chosen_range[*].id_list[*]
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.process_manager_ids[*]
        section: 0
  /open-apis/approval/v4/approvals/{approval_code}:
    get:
      operationId: approval_approval_get
      summary: 查看指定审批定义
      tags:
      - approval
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/approval/get
      parameters:
      - name: approval_code
        in: path
        required: true
        schema:
          type: string
        description: 审批定义 Code
        example: 7C468A54-8745-2245-9675-08B7C63E7A85
      - name: locale
        in: query
        required: false
        schema:
          type: string
          enum:
          - zh-CN
          - en-US
          - ja-JP
          - zh-HK
          - zh-TW
          - de-DE
          - es-ES
          - fr-FR
          - id-ID
          - it-IT
          - ko-KR
          - pt-BR
          - th-TH
          - vi-VN
          - ms-MY
          - ru-RU
          x-enum-descriptions:
            zh-CN: 中文
            en-US: 英文
            ja-JP: 日文
            zh-HK: 繁体中文（中国香港）
            zh-TW: 繁体中文（中国台湾）
            de-DE: 德语
            es-ES: 西班牙语
            fr-FR: 法语
            id-ID: 印度尼西亚语
            it-IT: 意大利语
            ko-KR: 韩语
            pt-BR: 葡萄牙语
            th-TH: 泰语
            vi-VN: 越南语
            ms-MY: 马来语
            ru-RU: 俄语
        description: 语言可选值
        example: zh-CN
      - name: with_admin_id
        in: query
        required: false
        schema:
          type: boolean
        description: 可选是否返回有数据权限审批流程管理员ID列表
        example: 'false'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: with_option
        in: query
        required: false
        schema:
          type: boolean
        description: 可选是否返回外部数据源和假勤控件选项
        example: 'false'
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        description: 用户id
        example: ou_7a4aaac5650dc0b77e85e96e7476ff1d
      - name: nested_mutable_group
        in: query
        required: false
        schema:
          type: boolean
        description: 是否返回完整的多维表格控件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      approval_name:
                        type: string
                        description: 审批名称
                        example: Payment
                      status:
                        type: string
                        description: 审批定义状态
                        enum:
                        - ACTIVE
                        - INACTIVE
                        - DELETED
                        - UNKNOWN
                        x-enum-descriptions:
                          ACTIVE: 已启用
                          INACTIVE: 已停用
                          DELETED: 已删除
                          UNKNOWN: 未知
                        example: ACTIVE
                      form:
                        type: string
                        description: 控件信息
                        example: '[{\"id\": \"widget1\", \"custom_id\": \"user_name\",\"name\": \"Item application\",\"type\":
                          \"textarea\",\"printable\": true,\"required\": true}\"]'
                      node_list:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 节点名称
                              example: Approval
                            need_approver:
                              type: boolean
                              description: 是否发起人自选节点 true - 发起审批时需要提交审批人
                              example: 'true'
                            node_id:
                              type: string
                              description: 节点 ID
                              example: 46e6d96cfa756980907209209ec03b64
                            custom_node_id:
                              type: string
                              description: 节点自定义 ID，如果没有设置则不返回
                              example: 46e6d96cfa756980907209209ec03b64
                            node_type:
                              type: string
                              description: 审批方式
                              enum:
                              - AND
                              - OR
                              - SEQUENTIAL
                              - CC_NODE
                              x-enum-descriptions:
                                AND: 会签
                                OR: 或签
                                SEQUENTIAL: 依次审批
                                CC_NODE: 抄送节点
                              example: AND
                            approver_chosen_multi:
                              type: boolean
                              description: 是否支持多选：true-支持，发起、结束节点默认为false
                              example: 'false'
                            approver_chosen_range:
                              type: array
                              items:
                                type: object
                                properties:
                                  approver_range_type:
                                    type: integer
                                    description: 指定范围：0-all，1-指定角色，2-指定人员
                                    enum:
                                    - 0
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '0': 全公司范围
                                      '1': 指定角色范围
                                      '2': 指定用户范围
                                    example: '0'
                                  approver_range_ids:
                                    type: array
                                    items:
                                      type: string
                                    description: 根据上面的type，分别存放角色id与userid，type为0时本字段为空列表
                              description: 自选范围
                            require_signature:
                              type: boolean
                              description: 是否签名
                              example: 'false'
                          required:
                          - name
                          - need_approver
                          - node_id
                          - node_type
                          - approver_chosen_multi
                        description: 节点信息
                      viewers:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: 可见人类型
                              enum:
                              - TENANT
                              - DEPARTMENT
                              - USER
                              - ROLE
                              - USER_GROUP
                              - NONE
                              x-enum-descriptions:
                                TENANT: 租户内可见
                                DEPARTMENT: 指定部门
                                USER: 指定用户
                                ROLE: 指定角色
                                USER_GROUP: 指定用户组
                                NONE: 任何人都不可见
                              example: TENANT
                            id:
                              type: string
                              description: 在可见人类型为DEPARTMENT时，id为部门的id ；在可见人类型为USER时，id为用户的id ；在可见人类型为ROLE时，id为角色的id ；在可见人类型为USER_GROUP时，id为用户组的id
                              example: ou_e03053f0541cecc3269d7a9dc34a0b21
                            user_id:
                              type: string
                              description: 在可见人类型为USER时，表示可见人用户id
                              example: f7cb567e
                          required:
                          - type
                        description: 可见人列表
                      approval_admin_ids:
                        type: array
                        items:
                          type: string
                        description: 有数据管理权限的审批流程管理员ID
                      form_widget_relation:
                        type: string
                        description: 组件之间值关联关系
                        example: '{\"groups\":[{\"id\":\"1\",\"parent_widgets_ids\":[\"widget1\",\"widget4\"],\"children_widget_ids\":[\"widget2.widget3\"],\"conditions\":[{\"parents_expr\":{\"type\":\"Multi\",\"expr\":{\"type\":\"and\",\"exprs\":[{\"type\":\"SingleWidget\",\"expr\":{\"type\":\"in\",\"widget_id\":\"widget1\",\"expect\":{\"type\":\"local\",\"value\":[{\"value\":\"value_0\"},{\"value\":\"value_1\"}]}}},{\"type\":\"Const\",\"expr\":{\"value\":true,\"widget_ids\":[\"widget4\"]}}]}},\"children_rule\":{\"expr\":{\"type\":\"SingleWidget\",\"expr\":{\"type\":\"in\",\"widget_id\":\"widget2.widget3\",\"expect\":{\"type\":\"local\",\"value\":[{\"value\":\"value_3\"},{\"value\":\"value_5\"}]}}},\"actions\":[{\"type\":\"SetOptions\",\"widget_id\":\"widget2.widget3\",\"value\":{\"type\":\"local\",\"value\":[{\"value\":\"value_3\"},{\"value\":\"value_4\"}]}}]}}]}]}'
                    required:
                    - approval_name
                    - status
                    - form
                    - node_list
                    - viewers
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - approval:approval:readonly
      - approval:approval
      - approval:definition
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1390001
        httpCode: 400
        msg: ''
      - code: 1390002
        httpCode: 400
        msg: approval code not found
      - code: 1395001
        httpCode: 400
        msg: ''
      - code: 1390016
        httpCode: 400
        msg: approval is deleted
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_id
        section: 2
  /open-apis/approval/v4/approvals/{approval_code}/subscribe:
    post:
      operationId: approval_approval_subscribe
      summary: 订阅审批事件
      tags:
      - approval
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/approval/subscribe
      parameters:
      - name: approval_code
        in: path
        required: true
        schema:
          type: string
        description: 审批定义唯一标识
        example: 7C468A54-8745-2245-9675-08B7C63E7A85
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - approval:approval
      - approval:definition
      x-lark-error-mappings:
      - code: 1390001
        httpCode: 400
        msg: ''
      - code: 1390002
        httpCode: 400
        msg: approval code not found
      - code: 1395001
        httpCode: 400
        msg: ''
      - code: 1390007
        httpCode: 400
        msg: subscription existed
      x-lark-rate-limit:
        tier: 8
  /open-apis/approval/v4/approvals/{approval_code}/unsubscribe:
    post:
      operationId: approval_approval_unsubscribe
      summary: 取消订阅审批事件
      tags:
      - approval
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/approval/unsubscribe
      parameters:
      - name: approval_code
        in: path
        required: true
        schema:
          type: string
        description: 审批定义唯一标识
        example: 7C468A54-8745-2245-9675-08B7C63E7A85
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - approval:approval
      - approval:definition
      x-lark-error-mappings:
      - code: 1390001
        httpCode: 400
        msg: ''
      - code: 1390002
        httpCode: 400
        msg: approval code not found
      - code: 1390007
        httpCode: 400
        msg: subscription existed
      - code: 1395001
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/approval/v4/districts:
    get:
      operationId: approval_district_list
      summary: 查询地理库信息
      tags:
      - district
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/district/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小，用于指定一次请求所返回的数据量上限，默认20
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: root_district_id
        in: query
        required: false
        schema:
          type: string
        description: 指定根节点，仅遍历该节点下的数据，默认遍历根节点，返回值内容与list_type 参数有关
        example: '1816670'
      - name: list_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - sub_level
          - leaf_level
          x-enum-descriptions:
            sub_level: 遍历指定节点的下一层区域，默认方式
            leaf_level: 遍历指定节点的所有叶子节点，指定该参数时会返回parent_district
        description: 遍历类型，不同的类型内容会有差异
      - name: locale
        in: query
        required: false
        schema:
          type: string
          enum:
          - zh-CN
          - en-US
          x-enum-descriptions:
            zh-CN: 中文
            en-US: 英文
        description: 返回指定语言的内容，默认返回英文数据
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      version:
                        type: string
                        description: 地理库的版本，地理库更新时版本会同步更新，如果应用将地理数据存在本地，需要定时判断版本，在变化以及时更新本地数据
                        example: '7569941109133377539'
                      has_more:
                        type: boolean
                      page_token:
                        type: string
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item4'
                        description: 区域列表
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - approval:approval:readonly
      - approval:approval
      x-lark-error-mappings:
      - code: 1395001
        httpCode: 500
        msg: system error
      - code: 1390001
        httpCode: 400
        msg: ''
      - code: 1395061
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
  /open-apis/approval/v4/districts/search:
    post:
      operationId: approval_district_search
      summary: 搜索地理库信息
      tags:
      - district
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/district/search
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
          enum:
          - zh-CN
          - en-US
          x-enum-descriptions:
            zh-CN: 中文
            en-US: 英文
        description: 语言
        example: zh-CN
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                district_ids:
                  type: array
                  items:
                    type: string
                  description: 根据ID查询指定区域的信息
                keyword:
                  type: string
                  description: 关键字，用于模糊查询符合条件的地址信息
                  example: 北京
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item4'
                        description: 区域列表
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - approval:approval
      - approval:approval:readonly
      x-lark-error-mappings:
      - code: 1395001
        httpCode: 500
        msg: system error
      - code: 1390001
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
  /open-apis/approval/v4/external_approvals:
    post:
      operationId: approval_external_approval_create
      summary: 创建三方审批定义
      tags:
      - external_approval
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/external_approval/create
      parameters:
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
        example: open_department_id
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approval_name:
                  type: string
                  description: 审批定义名称，创建审批定义返回的值，表示该实例属于哪个流程；该字段会影响到列表中该实例的标题，标题取自对应定义的 name 字段。
                  example: E78F1022-A166-447C-8320-E151DA90D70F
                approval_code:
                  type: string
                  description: 审批定义 code，用户自定义，定义的唯一标识，如果不存在该 code，则创建，否则更新
                  example: permission_test
                group_code:
                  type: string
                  description: 审批定义所属审批分组，用户自定义； 如果group_code当前不存在，则会新建审批分组； 如果group_code已经存在，则会使用group_name更新审批分组名称
                  example: work_group
                group_name:
                  type: string
                  description: 分组名称，值的格式是 i18n key，文案放在 i18n_resource； 如果是 group_code 当前不存在，则该 group_name 必填，否则，如果填写了则会更新分组名称，不填则不更新分组名称；
                    审批发起页 审批定义的分组名称来自该字段
                  example: '@i18n@2'
                description:
                  type: string
                  description: 审批定义的说明，值的格式是 i18n key，文案放在 i18n_resource； 审批发起页 审批定义的说明内容来自该字段
                  example: '@i18n@2'
                external:
                  allOf:
                  - $ref: '#/components/schemas/External'
                  description: 三方审批相关
                viewers:
                  type: array
                  items:
                    type: object
                    properties:
                      viewer_type:
                        type: string
                        description: 可见人类型，如果 viewer_type 是 TENANT 和 NONE,  viewer_user_id， viewer_department_id可不填
                        enum:
                        - TENANT
                        - DEPARTMENT
                        - USER
                        - NONE
                        x-enum-descriptions:
                          TENANT: 租户内可见
                          DEPARTMENT: 指定部门
                          USER: 指定用户
                          NONE: 任何人都不可见
                        example: USER
                      viewer_user_id:
                        type: string
                        description: 当 viewer_type 是 USER，根据user_id_type填写用户id
                        example: 19a294c2
                      viewer_department_id:
                        type: string
                        description: 当 view_type 为DEPARTMENT，根据department_id_type填写部门id
                        example: od-ac9d697abfa990b715dcc33d58a62a9d
                  description: 可见人列表，可通知配置多个可见人，只有在配置的范围内用户可以在审批发起也看到该审批，默认不传，则是任何人不可见
                i18n_resources:
                  type: array
                  items:
                    $ref: '#/components/schemas/Item'
                  description: 国际化文案
                managers:
                  type: array
                  items:
                    type: string
                  description: 根据user_id_type填写流程管理员id
                  example: 19a294c2
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      approval_code:
                        type: string
                        description: 审批定义 code，用户自定义，定义的唯一标识
                        example: C30381C8-7A5F-4717-A9CF-C233BF0202D4
                    required:
                    - approval_code
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - approval:approval
      - approval:external_approval
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1390001
        httpCode: 400
        msg: ''
      - code: 1395001
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.viewers[*].viewer_user_id
        section: 0
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.viewers[*].viewer_department_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.managers[*]
        section: 0
  /open-apis/approval/v4/external_approvals/{approval_code}:
    get:
      operationId: approval_external_approval_get
      summary: 查看指定三方审批定义
      tags:
      - external_approval
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/external_approval/get
      parameters:
      - name: approval_code
        in: path
        required: true
        schema:
          type: string
        description: 审批定义code
        example: 7C468A54-8745-2245-9675-08B7C63E7A85
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      approval_name:
                        type: string
                        description: 审批定义名称
                        example: '@i18n@1'
                      approval_code:
                        type: string
                        description: 审批定义code
                        example: permission_test
                      group_code:
                        type: string
                        description: 审批定义所属分组
                        example: work_group
                      group_name:
                        type: string
                        description: 分组名称
                        example: '@i18n@2'
                      description:
                        type: string
                        description: 审批定义的说明
                        example: '@i18n@2'
                      external:
                        allOf:
                        - $ref: '#/components/schemas/External'
                        description: 三方审批定义相关
                      viewers:
                        type: array
                        items:
                          type: object
                          properties:
                            viewer_type:
                              type: string
                              description: 可见人类型，如果 viewer_type 是 TENANT 和 NONE,  viewer_user_id， viewer_department_id可不填
                              enum:
                              - TENANT
                              - DEPARTMENT
                              - USER
                              - NONE
                              x-enum-descriptions:
                                TENANT: 租户内可见
                                DEPARTMENT: 指定部门
                                USER: 指定用户
                                NONE: 任何人都不可见
                              example: USER
                            viewer_user_id:
                              type: string
                              description: 当 viewer_type 是 USER，根据user_id_type填写用户id
                              example: 19a294c2
                            viewer_department_id:
                              type: string
                              description: 当 view_type 为DEPARTMENT，根据department_id_type填写部门id
                              example: od-ac9d697abfa990b715dcc33d58a62a9d
                        description: 可见人列表
                      i18n_resources:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item'
                        description: 国际化文案
                      managers:
                        type: array
                        items:
                          type: string
                        description: 流程管理员
                    required:
                    - approval_name
                    - approval_code
                    - group_code
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - approval:approval
      - approval:external_approval
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1390001
        httpCode: 400
        msg: ''
      - code: 1390002
        httpCode: 400
        msg: approval code not found
      - code: 1390016
        httpCode: 400
        msg: approval is deleted
      x-lark-rate-limit:
        tier: 4
  /open-apis/approval/v4/external_instances/check:
    post:
      operationId: approval_external_instance_check
      summary: 校验三方审批实例
      tags:
      - external_instance
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/external_instance/check
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instances:
                  type: array
                  items:
                    type: object
                    properties:
                      instance_id:
                        type: string
                        description: 审批实例 id
                        example: '1234234234242423'
                      update_time:
                        type: string
                        description: 审批实例最近更新时间
                        example: '1591603040000'
                        format: int64
                      tasks:
                        type: array
                        items:
                          type: object
                          properties:
                            task_id:
                              type: string
                              description: 任务 id
                              example: '112253'
                            update_time:
                              type: string
                              description: 任务最近更新时间
                              example: '1591603040000'
                              format: int64
                          required:
                          - task_id
                          - update_time
                        description: 任务信息
                    required:
                    - instance_id
                    - update_time
                    - tasks
                  description: 校验的实例信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      diff_instances:
                        type: array
                        items:
                          type: object
                          properties:
                            instance_id:
                              type: string
                              description: 审批实例 id
                              example: '1234234234242423'
                            update_time:
                              type: string
                              description: 任务最近更新时间
                              example: '1591603040000'
                              format: int64
                            tasks:
                              type: array
                              items:
                                type: object
                                properties:
                                  task_id:
                                    type: string
                                    description: 任务 id
                                    example: '112253'
                                  update_time:
                                    type: string
                                    description: 任务最近更新时间
                                    example: '1591603040000'
                                    format: int64
                                required:
                                - task_id
                                - update_time
                              description: 任务信息
                          required:
                          - instance_id
                        description: 更新时间不一致的实例信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - approval:approval:readonly
      - approval:approval
      - approval:external_instance
      x-lark-error-mappings:
      - code: 1390001
        httpCode: 400
        msg: ''
      - code: 1395001
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
  /open-apis/approval/v4/external_instances:
    post:
      operationId: approval_external_instance_create
      summary: 同步三方审批实例
      tags:
      - external_instance
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/external_instance/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approval_code:
                  type: string
                  description: 审批定义 code， 创建审批定义返回的值，表示该实例属于哪个流程；该字段会影响到列表中该实例的标题，标题取自对应定义的 name 字段
                  example: 81D31358-93AF-92D6-7425-01A5D67C4E71
                status:
                  type: string
                  description: 审批实例状态
                  enum:
                  - PENDING
                  - APPROVED
                  - REJECTED
                  - CANCELED
                  - DELETED
                  - HIDDEN
                  - TERMINATED
                  x-enum-descriptions:
                    PENDING: 审批中
                    APPROVED: 审批流程结束，结果为同意
                    REJECTED: 审批流程结束，结果为拒绝
                    CANCELED: 审批发起人撤回
                    DELETED: 审批被删除
                    HIDDEN: 状态隐藏(不显示状态)
                    TERMINATED: 审批终止
                  example: PENDING
                extra:
                  type: string
                  description: 审批实例扩展 JSON
                  example: '{"xxx":"xxx"}'
                instance_id:
                  type: string
                  description: 审批实例唯一标识，用户自定义，需确保证租户、应用下唯一
                  example: '24492654'
                links:
                  type: object
                  properties:
                    pc_link:
                      type: string
                      description: pc 端的跳转链接，当用户使用飞书 pc 端时，使用该字段进行跳转
                      example: https://applink.feishu.cn/client/mini_program/open?mode=appCenter&appId=cli_9c90fc38e07a9101&path=pc/pages/detail?id=1234
                    mobile_link:
                      type: string
                      description: 移动端 跳转链接，当用户使用飞书 移动端时，使用该字段进行跳转
                      example: https://applink.feishu.cn/client/mini_program/open?appId=cli_9c90fc38e07a9101&path=pages/detail?id=1234
                  required:
                  - pc_link
                  description: 审批实例链接集合 ，用于【已发起】列表的跳转，跳转回三方系统； pc_link 和 mobile_link 必须填一个，填写的是哪一端的链接，即会跳转到该链接，不受平台影响
                title:
                  type: string
                  description: 审批展示名称，如果填写了该字段，则审批列表中的审批名称使用该字段，如果不填该字段，则审批名称使用审批定义的名称
                  example: '@i18n@1'
                form:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: 表单字段名称
                        example: '@i18n@2'
                      value:
                        type: string
                        description: 表单值
                        example: '@i18n@3'
                  description: 用户提交审批时填写的表单数据，用于所有审批列表中展示。可传多个值，但审批中心pc展示前2个,移动端展示前3个,长度不超过2048字符
                  example: '[{ "name": "@i18n@2", "value": "@i18n@3" }]'
                user_id:
                  type: string
                  description: 审批发起人 user_id，发起人可在【已发起】列表中看到所有已发起的审批; 在【待审批】，【已审批】【抄送我】列表中，该字段展示审批是谁发起的。审批发起人 open id，和 user
                    id 二选一。
                  example: a987sf9s
                user_name:
                  type: string
                  description: 审批发起人 用户名，如果发起人不是真实的用户（例如是某个部门），没有 user_id，则可以使用该字段传名称
                  example: '@i18n@9'
                open_id:
                  type: string
                  description: 审批发起人 open id，和 user id 二选一
                  example: ou_be73cbc0ee35eb6ca54e9e7cc14998c1
                department_id:
                  type: string
                  description: 发起人部门，用于列表中展示发起人所属部门。不传则不展示。如果用户没加入任何部门，传 ""，将展示租户名称传 department_name 展示部门名称
                  example: od-8ec33278bc2
                department_name:
                  type: string
                  description: 审批发起人 部门，如果发起人不是真实的用户（例如是某个部门），没有 department_id，则可以使用该字段传名称
                  example: '@i18n@10'
                start_time:
                  type: string
                  description: 审批发起时间，Unix毫秒时间戳
                  example: '1556468012678'
                  format: int64
                end_time:
                  type: string
                  description: 审批实例结束时间：未结束的审批为 0，Unix毫秒时间戳
                  example: '1556468012678'
                  format: int64
                update_time:
                  type: string
                  description: 审批实例最近更新时间；用于推送数据版本控制如果 update_mode 值为 UPDATE，则只有传过来的 update_time 有变化时（变大），才会更新审批中心中的审批实例信息。使用该字段主要用来避免并发时老的数据更新了新的数据
                  example: '1556468012678'
                  format: int64
                display_method:
                  type: string
                  description: 列表页打开审批实例的方式
                  enum:
                  - BROWSER
                  - SIDEBAR
                  - NORMAL
                  - TRUSTEESHIP
                  x-enum-descriptions:
                    BROWSER: 跳转系统默认浏览器打开
                    SIDEBAR: 飞书中侧边抽屉打开
                    NORMAL: 飞书内嵌页面打开
                    TRUSTEESHIP: 以托管打开
                  example: BROWSER
                update_mode:
                  type: string
                  description: 更新方式， 当 update_mode=REPLACE时，每次都以当前推送的数据为最终数据，会删掉审批中心中多余的任务、抄送数据（不在这次推送的数据中）; 当 update_mode=UPDATE时，则不会删除审批中心的数据，而只是进行新增和更新实例、任务数据
                  enum:
                  - REPLACE
                  - UPDATE
                  x-enum-descriptions:
                    REPLACE: 全量替换，默认值
                    UPDATE: 增量更新
                  example: UPDATE
                task_list:
                  type: array
                  items:
                    $ref: '#/components/schemas/Item2'
                  description: 任务列表
                cc_list:
                  type: array
                  items:
                    $ref: '#/components/schemas/Item3'
                  description: 抄送列表
                i18n_resources:
                  type: array
                  items:
                    $ref: '#/components/schemas/Item'
                  description: 国际化文案
                trusteeship_url_token:
                  type: string
                  description: 单据托管认证token，托管回调会附带此token，帮助业务方认证
                  example: 788981c886b1c28ac29d1e68efd60683d6d90dfce80938ee9453e2a5f3e9e306
                trusteeship_user_id_type:
                  type: string
                  description: 用户的类型，会影响请求参数用户标识域的选择，包括加签操作回传的目标用户， 目前仅支持 "user_id"
                  example: user_id
                trusteeship_urls:
                  type: object
                  properties:
                    form_detail_url:
                      type: string
                      description: 获取表单schema相关数据的url地址
                      example: https://#{your_domain}/api/form_detail
                    action_definition_url:
                      type: string
                      description: 表示获取审批操作区数据的url地址
                      example: https://#{your_domain}/api/action_definition
                    approval_node_url:
                      type: string
                      description: 获取审批记录相关数据的url地址
                      example: https://#{your_domain}/api/approval_node
                    action_callback_url:
                      type: string
                      description: 进行审批操作时回调的url地址
                      example: https://#{your_domain}/api/action_callback
                    pull_business_data_url:
                      type: string
                      description: 获取托管动态数据URL,使用该接口时必须要保证历史托管单据的数据中都同步了该接口地址,如果历史单据中没有该接口需要重新同步历史托管单据的数据来更新该URL
                      example: https://#{your_domain}/api/pull_business_data
                  description: 单据托管回调接入方的接口的URL地址
                trusteeship_cache_config:
                  type: object
                  properties:
                    form_policy:
                      type: string
                      description: 托管预缓存策略
                      enum:
                      - DISABLE
                      - IMMUTABLE
                      - BY_NODE
                      - BY_USER
                      x-enum-descriptions:
                        DISABLE: 不启用，默认
                        IMMUTABLE: 表单不会随流程进行改变
                        BY_NODE: 跟随流程节点变更更新缓存
                        BY_USER: 对于每个待办任务存储一份
                      example: DISABLE
                    form_vary_with_locale:
                      type: boolean
                      description: 表单是否随国际化改变
                      example: 'false'
                    form_version:
                      type: string
                      description: 当前使用的表单版本号，保证表单改变后，版本号增加，实际值为int64整数
                      example: '"1"'
                      format: int64
                  description: 托管预缓存策略
                resource_region:
                  type: string
                  description: 资源所在地区， 内部统计用字段， 不需要填
                  example: '""'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          approval_code:
                            type: string
                            description: 审批定义 code， 创建审批定义返回的值，表示该实例属于哪个流程；该字段会影响到列表中该实例的标题，标题取自对应定义的 name 字段
                            example: 81D31358-93AF-92D6-7425-01A5D67C4E71
                          status:
                            type: string
                            description: 审批实例状态
                            enum:
                            - PENDING
                            - APPROVED
                            - REJECTED
                            - CANCELED
                            - DELETED
                            - HIDDEN
                            - TERMINATED
                            x-enum-descriptions:
                              PENDING: 审批中
                              APPROVED: 审批流程结束，结果为同意
                              REJECTED: 审批流程结束，结果为拒绝
                              CANCELED: 审批发起人撤回
                              DELETED: 审批被删除
                              HIDDEN: 状态隐藏(不显示状态)
                              TERMINATED: 审批终止
                            example: PENDING
                          extra:
                            type: string
                            description: 审批实例扩展 JSON
                            example: '{"xxx":"xxx"}'
                          instance_id:
                            type: string
                            description: 审批实例唯一标识，用户自定义，需确保证租户、应用下唯一
                            example: '24492654'
                          links:
                            type: object
                            properties:
                              pc_link:
                                type: string
                                description: pc 端的跳转链接，当用户使用飞书 pc 端时，使用该字段进行跳转
                                example: https://applink.feishu.cn/client/mini_program/open?mode=appCenter&appId=cli_9c90fc38e07a9101&path=pc/pages/detail?id=1234
                              mobile_link:
                                type: string
                                description: 移动端 跳转链接，当用户使用飞书 移动端时，使用该字段进行跳转
                                example: https://applink.feishu.cn/client/mini_program/open?appId=cli_9c90fc38e07a9101&path=pages/detail?id=1234
                            required:
                            - pc_link
                            description: 审批实例链接集合 ，用于【已发起】列表的跳转，跳转回三方系统； pc_link 和 mobile_link 必须填一个，填写的是哪一端的链接，即会跳转到该链接，不受平台影响
                          title:
                            type: string
                            description: 审批展示名称，如果填写了该字段，则审批列表中的审批名称使用该字段，如果不填该字段，则审批名称使用审批定义的名称
                            example: '@i18n@1'
                          form:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: 表单字段名称
                                  example: '@i18n@2'
                                value:
                                  type: string
                                  description: 表单值
                                  example: '@i18n@3'
                            description: 用户提交审批时填写的表单数据，用于所有审批列表中展示。可传多个值，但审批中心pc展示前2个,移动端展示前3个,长度不超过2048字符
                            example: '[{ "name": "@i18n@2", "value": "@i18n@3" }]'
                          user_id:
                            type: string
                            description: 审批发起人 user_id，发起人可在【已发起】列表中看到所有已发起的审批; 在【待审批】，【已审批】【抄送我】列表中，该字段展示审批是谁发起的。审批发起人 open
                              id，和 user id 二选一。
                            example: a987sf9s
                          user_name:
                            type: string
                            description: 审批发起人 用户名，如果发起人不是真实的用户（例如是某个部门），没有 user_id，则可以使用该字段传名称
                            example: '@i18n@9'
                          open_id:
                            type: string
                            description: 审批发起人 open id，和 user id 二选一
                            example: ou_be73cbc0ee35eb6ca54e9e7cc14998c1
                          department_id:
                            type: string
                            description: 发起人部门，用于列表中展示发起人所属部门。不传则不展示。如果用户没加入任何部门，传 ""，将展示租户名称传 department_name 展示部门名称
                            example: od-8ec33278bc2
                          department_name:
                            type: string
                            description: 审批发起人 部门，如果发起人不是真实的用户（例如是某个部门），没有 department_id，则可以使用该字段传名称
                            example: '@i18n@10'
                          start_time:
                            type: string
                            description: 审批发起时间，Unix毫秒时间戳
                            example: '1556468012678'
                            format: int64
                          end_time:
                            type: string
                            description: 审批实例结束时间：未结束的审批为 0，Unix毫秒时间戳
                            example: '1556468012678'
                            format: int64
                          update_time:
                            type: string
                            description: 审批实例最近更新时间；用于推送数据版本控制如果 update_mode 值为 UPDATE，则只有传过来的 update_time 有变化时（变大），才会更新审批中心中的审批实例信息。使用该字段主要用来避免并发时老的数据更新了新的数据
                            example: '1556468012678'
                            format: int64
                          display_method:
                            type: string
                            description: 列表页打开审批实例的方式
                            enum:
                            - BROWSER
                            - SIDEBAR
                            - NORMAL
                            - TRUSTEESHIP
                            x-enum-descriptions:
                              BROWSER: 跳转系统默认浏览器打开
                              SIDEBAR: 飞书中侧边抽屉打开
                              NORMAL: 飞书内嵌页面打开
                              TRUSTEESHIP: 以托管打开
                            example: BROWSER
                          update_mode:
                            type: string
                            description: 更新方式， 当 update_mode=REPLACE时，每次都以当前推送的数据为最终数据，会删掉审批中心中多余的任务、抄送数据（不在这次推送的数据中）; 当 update_mode=UPDATE时，则不会删除审批中心的数据，而只是进行新增和更新实例、任务数据
                            enum:
                            - REPLACE
                            - UPDATE
                            x-enum-descriptions:
                              REPLACE: 全量替换，默认值
                              UPDATE: 增量更新
                            example: UPDATE
                          task_list:
                            type: array
                            items:
                              $ref: '#/components/schemas/Item2'
                            description: 任务列表
                          cc_list:
                            type: array
                            items:
                              $ref: '#/components/schemas/Item3'
                            description: 抄送列表
                          i18n_resources:
                            type: array
                            items:
                              $ref: '#/components/schemas/Item'
                            description: 国际化文案
                          trusteeship_url_token:
                            type: string
                            description: 单据托管认证token，托管回调会附带此token，帮助业务方认证
                            example: 788981c886b1c28ac29d1e68efd60683d6d90dfce80938ee9453e2a5f3e9e306
                          trusteeship_user_id_type:
                            type: string
                            description: 用户的类型，会影响请求参数用户标识域的选择，包括加签操作回传的目标用户， 目前仅支持 "user_id"
                            example: user_id
                          trusteeship_urls:
                            type: object
                            properties:
                              form_detail_url:
                                type: string
                                description: 获取表单schema相关数据的url地址
                                example: https://#{your_domain}/api/form_detail
                              action_definition_url:
                                type: string
                                description: 表示获取审批操作区数据的url地址
                                example: https://#{your_domain}/api/action_definition
                              approval_node_url:
                                type: string
                                description: 获取审批记录相关数据的url地址
                                example: https://#{your_domain}/api/approval_node
                              action_callback_url:
                                type: string
                                description: 进行审批操作时回调的url地址
                                example: https://#{your_domain}/api/action_callback
                              pull_business_data_url:
                                type: string
                                description: 获取托管动态数据URL,使用该接口时必须要保证历史托管单据的数据中都同步了该接口地址,如果历史单据中没有该接口需要重新同步历史托管单据的数据来更新该URL
                                example: https://#{your_domain}/api/pull_business_data
                            description: 单据托管回调接入方的接口的URL地址
                          trusteeship_cache_config:
                            type: object
                            properties:
                              form_policy:
                                type: string
                                description: 托管预缓存策略
                                enum:
                                - DISABLE
                                - IMMUTABLE
                                - BY_NODE
                                - BY_USER
                                x-enum-descriptions:
                                  DISABLE: 不启用，默认
                                  IMMUTABLE: 表单不会随流程进行改变
                                  BY_NODE: 跟随流程节点变更更新缓存
                                  BY_USER: 对于每个待办任务存储一份
                                example: DISABLE
                              form_vary_with_locale:
                                type: boolean
                                description: 表单是否随国际化改变
                                example: 'false'
                              form_version:
                                type: string
                                description: 当前使用的表单版本号，保证表单改变后，版本号增加，实际值为int64整数
                                example: '"1"'
                                format: int64
                            description: 托管预缓存策略
                          resource_region:
                            type: string
                            description: 资源所在地区， 内部统计用字段， 不需要填
                            example: '""'
                        required:
                        - approval_code
                        - status
                        - instance_id
                        - links
                        - start_time
                        - end_time
                        - update_time
                        - i18n_resources
                        description: 同步的实例数据
                      process_record:
                        type: object
                        properties:
                          instance:
                            type: object
                            properties:
                              insert_num:
                                type: integer
                                description: 新增的条数
                                example: '10'
                              update_num:
                                type: integer
                                description: 更新的条数
                                example: '10'
                              delete_num:
                                type: integer
                                description: 删除的条数
                                example: '10'
                            description: 发生变更的实例
                          task:
                            type: object
                            properties:
                              insert_num:
                                type: integer
                                description: 新增的条数
                                example: '10'
                              update_num:
                                type: integer
                                description: 更新的条数
                                example: '10'
                              delete_num:
                                type: integer
                                description: 删除的条数
                                example: '10'
                            description: 发生变更的待办
                          cc:
                            type: object
                            properties:
                              insert_num:
                                type: integer
                                description: 新增的条数
                                example: '10'
                              update_num:
                                type: integer
                                description: 更新的条数
                                example: '10'
                              delete_num:
                                type: integer
                                description: 删除的条数
                                example: '10'
                            description: 发生变更的抄送
                        description: 本次变更信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - approval:approval
      - approval:external_instance
      x-lark-error-mappings:
      - code: 1390001
        httpCode: 400
        msg: ''
      - code: 1395001
        httpCode: 400
        msg: ''
      - code: 1390014
        httpCode: 400
        msg: tenant_id not found
      x-lark-rate-limit:
        tier: 4
  /open-apis/approval/v4/external_tasks:
    get:
      operationId: approval_external_task_list
      summary: 获取三方审批任务状态
      tags:
      - external_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/external_task/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: 分页大小
        example: '50'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: nF1ZXJ5VGhlbkZldGNoCgAAAAAA6PZwFmUzSldvTC1yU
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                approval_codes:
                  type: array
                  items:
                    type: string
                  description: 审批定义 Code，用于指定只获取这些定义下的数据
                  example: B7B65FFE-C2GC-452F-9F0F-9AA8352363D6
                instance_ids:
                  type: array
                  items:
                    type: string
                  description: 审批实例 ID, 用于指定只获取这些实例下的数据，最多支持 20 个
                  example: oa_159160304
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 审批人 user_id，用于指定只获取这些用户的数据
                  example: '112321'
                status:
                  type: string
                  description: 审批任务状态，用于指定获取该状态下的数据
                  enum:
                  - PENDING
                  - APPROVED
                  - REJECTED
                  - TRANSFERRED
                  - DONE
                  x-enum-descriptions:
                    PENDING: 审批中
                    APPROVED: 审批流程结束，结果为同意
                    REJECTED: 审批流程结束，结果为拒绝
                    TRANSFERRED: 任务转交
                    DONE: 任务通过但审批人未操作；审批人看不到这个任务, 若想要看到, 可以通过抄送该人.
                  example: PENDING
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            instance_id:
                              type: string
                              description: 审批实例 ID
                              example: '29075'
                            approval_id:
                              type: string
                              description: 审批的id
                              example: fwwweffff33111133xxx
                            approval_code:
                              type: string
                              description: 审批对应的 approval_code
                              example: B7B65FFE-C2GC-452F-9F0F-9AA8352363D6
                            status:
                              type: string
                              description: 审批实例当前的状态
                              enum:
                              - PENDING
                              - APPROVED
                              - REJECTED
                              - CANCELED
                              - DELETED
                              - HIDDEN
                              x-enum-descriptions:
                                PENDING: 审批中
                                APPROVED: 审批流程结束，结果为同意
                                REJECTED: 审批流程结束，结果为拒绝
                                CANCELED: 审批发起人撤回
                                DELETED: 审批被删除
                                HIDDEN: 状态隐藏(不显示状态)
                              example: PENDING
                            update_time:
                              type: string
                              description: 审批实例最后更新时间，单位 毫秒
                              example: '1621863215000'
                              format: int64
                            tasks:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: 审批任务 ID
                                    example: '310'
                                  status:
                                    type: string
                                    description: 审批任务状态
                                    enum:
                                    - PENDING
                                    - APPROVED
                                    - REJECTED
                                    - TRANSFERRED
                                    - DONE
                                    x-enum-descriptions:
                                      PENDING: 审批中
                                      APPROVED: 审批流程结束，结果为同意
                                      REJECTED: 审批流程结束，结果为拒绝
                                      TRANSFERRED: 任务转交
                                      DONE: 任务通过但审批人未操作；审批人看不到这个任务, 若想要看到, 可以通过抄送该人.
                                    example: PENDING
                                  update_time:
                                    type: string
                                    description: 审批任务最后更新时间，单位 毫秒
                                    example: '1621863215000'
                                    format: int64
                                required:
                                - id
                                - status
                                - update_time
                              description: 审批实例下的审批任务
                          required:
                          - instance_id
                          - approval_id
                          - approval_code
                          - status
                          - update_time
                        description: 任务列表
                      page_token:
                        type: string
                        description: 翻页 Token
                        example: nF1ZXJ5VGhlbkZldGNoCgAAAAAA6PZwFmUzSldvTC1yU
                      has_more:
                        type: boolean
                        description: 是否有更多任务可供拉取
                        example: 'false'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - approval:approval:readonly
      - approval:external_task
      - approval:approval
      x-lark-error-mappings:
      - code: 1390001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/approval/v4/instances/{instance_id}/comments:
    post:
      operationId: approval_instance_comment_create
      summary: 创建评论
      tags:
      - instance.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/instance-comment/create
      parameters:
      - name: instance_id
        in: path
        required: true
        schema:
          type: string
        description: 审批实例code（或租户自定义审批实例ID）
        example: 6A123516-FB88-470D-A428-9AF58B71B3C0
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - user_id
          - union_id
          x-enum-descriptions:
            open_id: open_id(ou_开头)
            user_id: user_id(字符串)
            union_id: union_id(on_开头)
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户ID类型，不填默认为open_id
        example: user_id
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 用户ID
        example: e5286g26
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  description: 评论内容，包含艾特人、附件等
                  example: '{\"text\":\"来自小程序的评论111我带附件中有extra \",\"files\":[{\"url\":\"xxx\",\"fileSize\":155149,\"title\":\"9a9fedc5cfb01a4a20c715098.png\",\"type\":\"image\",\"extra\":\"\"}]}'
                at_info_list:
                  type: array
                  items:
                    type: object
                    properties:
                      user_id:
                        type: string
                        description: 被艾特人的ID
                        example: 579fd9c4
                        format: int64
                      name:
                        type: string
                        description: 被艾特人的姓名
                        example: 张某
                      offset:
                        type: string
                        description: 被艾特人在评论中的位置，从0开始
                        example: '1'
                        format: int64
                    required:
                    - user_id
                    - name
                    - offset
                  description: 评论中艾特人信息
                parent_comment_id:
                  type: string
                  description: 父评论ID，如果是回复评论，需要传
                  example: '7081516627711524883'
                  format: int64
                comment_id:
                  type: string
                  description: 评论ID，如果是编辑、删除一条评论，需要传
                  example: '7081516627711524883'
                  format: int64
                disable_bot:
                  type: boolean
                  description: disable_bot=true只同步数据，不触发bot
                  example: 'false'
                extra:
                  type: string
                  description: 附加字段
                  example: '{\"a\":\"a\"}'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      comment_id:
                        type: string
                        description: 保存成功的comment_id
                        example: '7081516627711606803'
                        format: int64
                    required:
                    - comment_id
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - approval:approval
      - approval:instance.comment
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1390001
        httpCode: 400
        msg: param is invalis
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_id
        section: 2
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.at_info_list[*].user_id
        section: 0
    get:
      operationId: approval_instance_comment_list
      summary: 获取评论
      tags:
      - instance.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/instance-comment/list
      parameters:
      - name: instance_id
        in: path
        required: true
        schema:
          type: string
        description: 审批实例code（或者租户自定义审批实例ID）
        example: 6A123516-FB88-470D-A428-9AF58B71B3C0
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - user_id
          - union_id
          x-enum-descriptions:
            open_id: open_id(ou_开头)
            user_id: user_id(字符串)
            union_id: union_id(on_开头)
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户ID类型，不填默认为open_id
        example: user_id
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 用户ID
        example: e5286g26
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: nF1ZXJ5VGhlbkZldGNoCgAAAAAA6PZwFmUzSldvTC1yU
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '10'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      comments:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 评论ID
                              example: '7081516627711524883'
                              format: int64
                            content:
                              type: string
                              description: 评论内容
                              example: '{\"text\":\"x@王某自小程序的评论111我带了附件，而且我艾特了人 \",\"files\":[{\"url\":\"https://xx-xxx-xxx.bytedance.net/lark-approval-attachment/image/20220401/1/d43216ca-93b5-43a8-8a34-23c66820463a.png~tplv-k7bg0smxju-image.image?x-orig-authkey=boeorigin\&x-orig-expires=1650963890\&x-orig-sign=668QhQbRSt6638x2Ws8wFI%2FxqVg%3D#.png\",\"fileSize\":155149,\"title\":\"9a9fedc5cfb01a4a20c715098.png\",\"type\":\"image\"}]}'
                            create_time:
                              type: string
                              description: 评论创建时间
                              example: '1648801211000'
                              format: int64
                            update_time:
                              type: string
                              description: 评论更新时间
                              example: '1648801211000'
                              format: int64
                            is_delete:
                              type: integer
                              description: 是否删除，0:未删除，1:已删除
                              example: '1'
                            replies:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: 评论ID
                                    example: '7081516611634741268'
                                    format: int64
                                  content:
                                    type: string
                                    description: 评论内容
                                    example: '{\"text\":\"x@张某来自小程序的评论111,这是一条回复\",\"files\":[{\"url\":\"https://xx-xxx-xxx.bytedance.net/lark-approval-attachment/image/20220401/1/d43216ca-93b5-43a8-8a34-23c66820463a.png~tplv-k7bg0smxju-image.image?x-orig-authkey=boeorigin\&x-orig-expires=1650963890\&x-orig-sign=668QhQbRSt6638x2Ws8wFI%2FxqVg%3D#.png\",\"fileSize\":155149,\"title\":\"9a9fedc5cfb01a4a20c715098.png\",\"type\":\"image\"}]}'
                                  create_time:
                                    type: string
                                    description: 评论创建时间
                                    example: '1648803677000'
                                    format: int64
                                  update_time:
                                    type: string
                                    description: 评论更新时间
                                    example: '1648803677000'
                                    format: int64
                                  is_delete:
                                    type: integer
                                    description: 是否删除，0:未删除，1:已删除
                                    example: '0'
                                  at_info_list:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        user_id:
                                          type: string
                                          description: 被艾特人的ID
                                          example: 579fd9c4
                                          format: int64
                                        name:
                                          type: string
                                          description: 被艾特人的姓名
                                          example: 张某
                                        offset:
                                          type: string
                                          description: 被艾特人在评论中的位置，从0开始
                                          example: '1'
                                          format: int64
                                      required:
                                      - user_id
                                      - name
                                      - offset
                                    description: 评论中艾特人信息
                                  commentator:
                                    type: string
                                    description: 评论创建人
                                    example: 893g4c45
                                  extra:
                                    type: string
                                    description: 附加字段
                                    example: '{\"a\":\"a\"}'
                                required:
                                - id
                                - content
                                - is_delete
                                - commentator
                              description: 评论的回复
                            at_info_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  user_id:
                                    type: string
                                    description: 被艾特人的ID
                                    example: 579fd9c4
                                    format: int64
                                  name:
                                    type: string
                                    description: 被艾特人的姓名
                                    example: 张某
                                  offset:
                                    type: string
                                    description: 被艾特人在评论中的位置，从0开始
                                    example: '1'
                                    format: int64
                                required:
                                - user_id
                                - name
                                - offset
                              description: 评论中艾特人信息
                            commentator:
                              type: string
                              description: 评论创建人
                              example: 893g4c45
                            extra:
                              type: string
                              description: 附加字段
                              example: '{\"a\":\"a\"}'
                          required:
                          - id
                          - content
                          - create_time
                          - update_time
                          - is_delete
                          - commentator
                        description: 评论数据列表
                    required:
                    - comments
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - approval:approval:readonly
      - approval:approval
      - approval:instance.comment
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1390001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_id
        section: 2
  /open-apis/approval/v4/instances/{instance_id}/comments/{comment_id}:
    delete:
      operationId: approval_instance_comment_delete
      summary: 删除评论
      tags:
      - instance.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/instance-comment/delete
      parameters:
      - name: instance_id
        in: path
        required: true
        schema:
          type: string
        description: 审批实例code（或者租户自定义审批实例ID）
        example: 6A123516-FB88-470D-A428-9AF58B71B3C0
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 评论ID
        example: '7081516627711606803'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - user_id
          - union_id
          x-enum-descriptions:
            open_id: open_id(ou_开头)
            user_id: user_id（字符串）
            union_id: union_id（on_开头）
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户ID类型，不填默认为open_id
        example: user_id
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 根据user_id_type填写用户ID
        example: e5286g26
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      comment_id:
                        type: string
                        description: 删除的评论ID
                        example: '7081516627711606803'
                        format: int64
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - approval:approval
      - approval:instance.comment
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1390001
        httpCode: 400
        msg: param is invalis
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_id
        section: 2
  /open-apis/approval/v4/instances/{instance_id}/comments/remove:
    post:
      operationId: approval_instance_comment_remove
      summary: 清空评论
      tags:
      - instance.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/approval-v4/instance-comment/remove
      parameters:
      - name: instance_id
        in: path
        required: true
        schema:
          type: string
        description: 审批实例code（或者租户自定义审批实例ID）
        example: 6A123516-FB88-470D-A428-9AF58B71B3C0
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - user_id
          - union_id
          x-enum-descriptions:
            open_id: open_id(ou_开头)
            user_id: user_id(字符串）
            union_id: union_id(on_开头)
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户ID类型，不填默认为open_id
        example: user_id
      - name: user_id
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 根据user_id_type填写用户ID
        example: e5286g26
      responses:
        '200':
[...]
