# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · attendance API（全量）
  description: |-
    飞书开放平台 `attendance` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:06:47Z'
  x-lark-project: attendance
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:06:47Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: approval_info
- name: archive_rule
- name: file
- name: group
- name: leave_accrual_record
- name: leave_employ_expire_record
- name: shift
- name: user_approval
- name: user_daily_shift
- name: user_flow
- name: user_setting
- name: user_stats_data
- name: user_stats_field
- name: user_stats_view
- name: user_task
- name: user_task_remedy
paths:
  /open-apis/attendance/v1/approval_infos/process:
    post:
      operationId: attendance_approval_info_process
      summary: 通知审批状态更新
      tags:
      - approval_info
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/approval_info/process
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approval_id:
                  type: string
                  description: 审批实例 ID，获取方式：1）[获取审批通过数据](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/user_approval/query)
                    2）[写入审批结果](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/user_approval/create)
                    3）[通知补卡审批发起（补卡情况下）](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/user_task_remedy/create)
                  example: 审批实例 ID
                approval_type:
                  type: string
                  description: 审批类型，leave：请假，out：外出，overtime：加班，trip：出差，remedy：补卡
                  example: remedy
                status:
                  type: integer
                  description: 审批状态，1：不通过，2：通过，4：撤销
                  example: '0'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      approval_info:
                        type: object
                        properties:
                          approval_id:
                            type: string
                            description: 审批实例id
                          approval_type:
                            type: string
                            description: 审批类型，remedy为补卡
                            enum:
                            - leave
                            - overtime
                            - trip
                            - out
                            - remedy
                            x-enum-descriptions:
                              leave: 请假
                              overtime: 加班
                              trip: 出差
                              out: 外出
                              remedy: 补卡
                          status:
                            type: integer
                            description: 审批状态，1为不通过，2为通过，4为撤销
                            enum:
                            - 0
                            - 1
                            - 2
                            - 3
                            - 4
                            x-enum-descriptions:
                              '0': 待审批
                              '1': 审批未通过
                              '2': 审批通过
                              '3': 审批已取消
                              '4': 已撤回
                        required:
                        - approval_id
                        - approval_type
                        - status
                        description: 审批信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - attendance:task
      x-lark-error-mappings:
      - code: 1220001
        httpCode: 400
        msg: ''
      - code: 1220002
        httpCode: 400
        msg: ''
      - code: 1220004
        httpCode: 400
        msg: ''
      - code: 1220005
        httpCode: 400
        msg: ''
      - code: 1220600
        httpCode: 400
        msg: ''
      - code: 1225000
        httpCode: 500
        msg: ''
      - code: 1226500
        httpCode: 500
        msg: ''
      - code: 1227500
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 9
  /open-apis/attendance/v1/archive_rule/del_report:
    post:
      operationId: attendance_archive_rule_del_report
      summary: 删除归档报表行数据
      tags:
      - archive_rule
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/archive_rule/del_report
      parameters:
      - name: employee_type
        in: query
        required: true
        schema:
          type: string
        description: 员工工号类型
        example: employee_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                month:
                  type: string
                  description: 月份
                  example: '202409'
                operator_id:
                  type: string
                  description: 操作者ID
                  example: a111xd
                archive_rule_id:
                  type: string
                  description: 归档规则id
                  example: '1'
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 用户id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - attendance:task
      x-lark-error-mappings:
      - code: 1220001
        httpCode: 400
        msg: param is invalid
      - code: 1220600
        httpCode: 400
        msg: param is invalid
      - code: 1225000
        httpCode: 500
        msg: internal error
      x-lark-rate-limit:
        tier: 10
  /open-apis/attendance/v1/archive_rule:
    get:
      operationId: attendance_archive_rule_list
      summary: 查询所有归档规则
      tags:
      - archive_rule
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/archive_rule/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: xxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            report_id:
                              type: string
                              description: 引用报表 ID
                              example: '7341290237441605652'
                            report_name:
                              type: object
                              properties:
                                zh:
                                  type: string
                                  description: 中文名称
                                  example: '1'
                                en:
                                  type: string
                                  description: 英文名称
                                  example: alice
                                ja:
                                  type: string
                                  description: 日文名称
                                  example: '1'
                              description: 引用报表name
                              example: 月报汇总
                            archive_rule_id:
                              type: string
                              description: 归档报表规则id
                              example: '7341290237441605652'
                            archive_rule_name:
                              type: object
                              properties:
                                zh:
                                  type: string
                                  description: 中文名称
                                  example: '1'
                                en:
                                  type: string
                                  description: 英文名称
                                  example: alice
                                ja:
                                  type: string
                                  description: 日文名称
                                  example: '1'
                              description: 归档报表name
                              example: 归档全员
                        description: 分页查询结果项
                      page_token:
                        type: string
                        description: 分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
                        example: xxx
                      has_more:
                        type: boolean
                        description: 是否有更多项
                        example: 'true'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - attendance:task:readonly
      x-lark-error-mappings:
      - code: 1220600
        httpCode: 400
        msg: param is invalid
      - code: 1220001
        httpCode: 400
        msg: param is invalid
      - code: 1225000
        httpCode: 500
        msg: internal error
      x-lark-rate-limit:
        tier: 9
      x-lark-pagination: true
  /open-apis/attendance/v1/archive_rule/upload_report:
    post:
      operationId: attendance_archive_rule_upload_report
      summary: 写入归档报表结果
      tags:
      - archive_rule
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/archive_rule/upload_report
      parameters:
      - name: employee_type
        in: query
        required: true
        schema:
          type: string
        description: 用户 ID 的类型
        example: employee_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                month:
                  type: string
                  description: 月份
                  example: '202409'
                operator_id:
                  type: string
                  description: 操作者ID
                  example: ax11d
                archive_report_datas:
                  type: array
                  items:
                    type: object
                    properties:
                      member_id:
                        type: string
                        description: 用户ID
                        example: 1aaxxd
                      start_time:
                        type: string
                        description: 考勤开始时间
                        example: '20210109'
                      end_time:
                        type: string
                        description: 考勤结束时间
                        example: '20210109'
                      field_datas:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: 字段编码(查询归档报表表头返回)
                              example: abd754f7
                            value:
                              type: string
                              description: 字段结果值
                              example: '1'
                          required:
                          - code
                        description: 字段结果(不超过200个)
                    required:
                    - member_id
                    - start_time
                    - end_time
                  description: 归档报表内容(不超过50个)
                archive_rule_id:
                  type: string
                  description: 归档规则id
                  example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      invalid_code:
                        type: array
                        items:
                          type: string
                        description: 无效的code
                      invalid_member_id:
                        type: array
                        items:
                          type: string
                        description: 无效的member_id
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - attendance:task
      x-lark-error-mappings:
      - code: 1220001
        httpCode: 400
        msg: param is invalid
      - code: 1220600
        httpCode: 400
        msg: param is invalid
      - code: 1225000
        httpCode: 400
        msg: internal error
      x-lark-rate-limit:
        tier: 9
  /open-apis/attendance/v1/archive_rule/user_stats_fields_query:
    post:
      operationId: attendance_archive_rule_user_stats_fields_query
      summary: 查询归档报表表头
      tags:
      - archive_rule
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/archive_rule/user_stats_fields_query
      parameters:
      - name: employee_type
        in: query
        required: true
        schema:
          type: string
        description: 用户 ID 的类型
        example: employee_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                locale:
                  type: string
                  description: 语言类型
                  example: zh
                month:
                  type: string
                  description: 月份
                  example: '202409'
                archive_rule_id:
                  type: string
                  description: 归档规则id
                  example: '1'
                operator_id:
                  type: string
                  description: 操作者id
                  example: ax8ud
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      archive_report_fields:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: 字段编号
                              example: '1'
                            title:
                              type: string
                              description: 字段名称
                              example: 工号
                            upper_titles:
                              type: array
                              items:
                                type: string
                              description: 一级表头名字
                        description: 统计数据表头
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - attendance:task
      x-lark-error-mappings:
      - code: 1220001
        httpCode: 400
        msg: param is invalid
      - code: 1220600
        httpCode: 400
        msg: param is invalid
      - code: 1225000
        httpCode: 500
        msg: internal error
      x-lark-rate-limit:
        tier: 10
  /open-apis/attendance/v1/files/{file_id}/download:
    get:
      operationId: attendance_file_download
      summary: 下载用户人脸识别照片
      tags:
      - file
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/file/download
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
        description: 文件 ID
        example: xxxxxb306842b1c189bc5212eefxxxxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - attendance:rule:readonly
      x-lark-error-mappings:
      - code: 1220001
        httpCode: 400
        msg: ''
      - code: 1220002
        httpCode: 400
        msg: ''
      - code: 1225000
        httpCode: 500
        msg: ''
      - code: 1227000
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 9
      x-lark-file-download: true
  /open-apis/attendance/v1/files/upload:
    post:
      operationId: attendance_file_upload
      summary: 上传用户人脸识别照片
      tags:
      - file
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/file/upload
      parameters:
      - name: file_name
        in: query
        required: true
        schema:
          type: string
        description: 带后缀的文件名
        example: 测试视频.mp4
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 文件内容
                  example: 二进制文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      file:
                        type: object
                        properties:
                          file_id:
                            type: string
                            description: 文件id
                        required:
                        - file_id
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - attendance:rule
      x-lark-error-mappings:
      - code: 1220001
        httpCode: 400
        msg: ''
      - code: 1220002
        httpCode: 400
        msg: ''
      - code: 1225000
        httpCode: 500
        msg: ''
      - code: 1227000
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 9
      x-lark-file-upload: true
  /open-apis/attendance/v1/groups:
    post:
      operationId: attendance_group_create
      summary: 创建或修改考勤组
      tags:
      - group
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/group/create
      parameters:
      - name: employee_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - employee_id
          - employee_no
          x-enum-descriptions:
            employee_id: 员工employeeId
            employee_no: 员工工号
        description: 用户 ID 的类型
      - name: dept_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - open_id
          x-enum-descriptions:
            open_id: 开放openID
        description: 部门 ID 的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                group:
                  type: object
                  properties:
                    group_id:
                      type: string
                      description: 考勤组的Id， 需要从获取用户打卡结果信息的接口中获取groupId，修改考勤组时必填
                      example: '6919358128597097404'
                    group_name:
                      type: string
                      description: 考勤组名称
                      example: 开心考勤
                    time_zone:
                      type: string
                      description: 考勤组时区
                      example: Asia/Shanghai
                    bind_dept_ids:
                      type: array
                      items:
                        type: string
                      description: 参加考勤的部门id列表
                    except_dept_ids:
                      type: array
                      items:
                        type: string
                      description: 无需考勤的部门id列表
                    bind_user_ids:
                      type: array
                      items:
                        type: string
                      description: 参加考勤的人员id列表
                    except_user_ids:
                      type: array
                      items:
                        type: string
                      description: 参加考勤的人员id列表
                    group_leader_ids:
                      type: array
                      items:
                        type: string
                      description: 考勤组主负责人id列表
                    sub_group_leader_ids:
                      type: array
                      items:
                        type: string
                      description: 考勤组子负责人id列表
                    allow_out_punch:
                      type: boolean
                      description: 是否允许外勤打卡
                      example: 'true'
                    out_punch_need_approval:
                      type: boolean
                      description: 外勤打卡需审批，先审批后打卡（需要允许外勤打卡才能设置生效）
                      example: 'true'
                    out_punch_need_post_approval:
                      type: boolean
                      description: 外勤打卡需审批，先打卡后审批（需要允许外勤打卡才能设置生效）
                      example: 'true'
                    out_punch_need_remark:
                      type: boolean
                      description: 外勤打卡需填写备注（需要允许外勤打卡才能设置生效）
                      example: 'true'
                    out_punch_need_photo:
                      type: boolean
                      description: 外勤打卡需拍照（需要允许外勤打卡才能设置生效）
                      example: 'true'
                    out_punch_allowed_hide_addr:
                      type: boolean
                      description: 外勤打卡允许员工隐藏详细地址（需要允许外勤打卡才能设置生效）
                      example: 'true'
                    out_punch_allowed_adjust_addr:
                      type: boolean
                      description: 外勤打卡允许微调地址（需要允许外勤打卡才能设置生效）
                      example: 'true'
                    adjust_range:
                      type: integer
                      description: 微调范围，默认为 50 米
                      example: '50'
                    allow_pc_punch:
                      type: boolean
                      description: 是否允许pc打卡
                      example: 'true'
                    allow_remedy:
                      type: boolean
                      description: 是否允许补卡
                      example: 'true'
                    remedy_limit:
                      type: boolean
                      description: 补卡次数是否限制（需要允许补卡才能设置生效）
                      example: 'true'
                    remedy_limit_count:
                      type: integer
                      description: 补卡次数（需要允许补卡才能设置生效）
                      example: '3'
                    remedy_date_limit:
                      type: boolean
                      description: 补卡时间是否限制（需要允许补卡才能设置生效）
                      example: 'true'
                    remedy_date_num:
                      type: integer
                      description: 补卡时间,几天内可以发起补卡（需要允许补卡才能设置生效）
                      example: '3'
                    allow_remedy_type_lack:
                      type: boolean
                      description: 允许缺卡补卡（需要允许补卡才能设置生效）
                      example: 'true'
                    allow_remedy_type_late:
                      type: boolean
                      description: 允许迟到补卡（需要允许补卡才能设置生效）
                      example: 'true'
                    allow_remedy_type_early:
                      type: boolean
                      description: 允许早退补卡（需要允许补卡才能设置生效）
                      example: 'true'
                    allow_remedy_type_normal:
                      type: boolean
                      description: 允许正常补卡（需要允许补卡才能设置生效）
                      example: 'true'
                    show_cumulative_time:
                      type: boolean
                      description: 是否展示累计时长
                      example: 'true'
                    show_over_time:
                      type: boolean
                      description: 是否展示加班时长
                      example: 'true'
                    hide_staff_punch_time:
                      type: boolean
                      description: 是否隐藏员工打卡详情
                      example: 'true'
                    hide_clock_in_rule:
                      type: boolean
                      description: 是否隐藏打卡规则
                      example: 'false'
                    face_punch:
                      type: boolean
                      description: 是否开启人脸打卡
                      example: 'true'
                    face_punch_cfg:
                      type: integer
                      description: 人脸打卡规则， 1：每次打卡均需人脸识别 2：疑似需要
                      example: '1'
                    face_live_need_action:
                      type: boolean
                      description: 人脸打卡规则， false：开启活体验证 true：0动作验证，仅在 face_punch_cfg = 1 时有效
                      example: 'false'
                    face_downgrade:
                      type: boolean
                      description: 脸识别失败时允许普通拍照打卡
                      example: 'true'
                    replace_basic_pic:
                      type: boolean
                      description: 是否允许替换基准图片
                      example: 'true'
                    anti_cheat_punch_config:
                      type: object
                      properties:
                        intercept_suspected_cheat_punch:
                          type: boolean
                          description: 拦截疑似作弊打卡；关闭时，其余防作弊开关都会关闭
                          example: 'true'
                        check_cheat_software_punch:
                          type: boolean
                          description: 是否校验疑似作弊软件打卡
                          example: 'true'
                        check_buddy_punch:
                          type: boolean
                          description: 是否校验疑似他人代打卡
                          example: 'true'
                        check_simulate_wifi_punch:
                          type: boolean
                          description: 是否校验疑似模拟 WI-FI 打卡
                          example: 'true'
                        check_change_device_punch:
                          type: boolean
                          description: 是否校验更换设备打卡
                          example: 'true'
                        allow_change_device_num:
                          type: integer
                          description: 同一考勤人员最多可绑定打卡设备数量上限，开启校验更换设备打卡时必填
                          example: '1'
                        suspected_cheat_handle_method:
                          type: integer
                          description: 疑似作弊打卡时的处理方式，开启拦截疑似作弊打卡时必填
                          enum:
                          - 1
                          - 2
                          x-enum-descriptions:
                            '1': 使用人脸识别打卡
                            '2': 仅记录疑似作弊信息
                          example: '1'
                      required:
                      - intercept_suspected_cheat_punch
                      description: 防作弊打卡配置
                    machines:
                      type: array
                      items:
                        type: object
                        properties:
                          machine_sn:
                            type: string
                            description: 考勤机序列号
                            example: FS0701
                          machine_name:
                            type: string
                            description: 考勤机名称
                            example: 创实 9 楼
                        required:
                        - machine_sn
                        - machine_name
                      description: 考勤机信息
                    gps_range:
                      type: integer
                      description: GPS打卡的地址范围
                      example: '300'
                    locations:
                      type: array
                      items:
                        type: object
                        properties:
                          location_name:
                            type: string
                            description: 地址名称
                            example: 北京市海淀区中航广场
                          location_type:
                            type: integer
                            description: 地址类型，GPS地址，1；WiFi的Mac地址，2；IP地址。8
                            example: '1'
                          latitude:
                            type: number
                            description: 地址维度
                            example: '39.971827'
                          longitude:
                            type: number
                            description: 地址经度
                            example: '116.32989'
                          ssid:
                            type: string
                            description: WiFi名称
                            example: TP-Link-af12ca
                          bssid:
                            type: string
                            description: WiFi的Mac地址
                            example: 08:00:20:0A:8C:6D
                          map_type:
                            type: integer
                            description: 地图类型，1：高德， 2：谷歌
                            example: '1'
                          address:
                            type: string
                            description: 地址名称
                            example: 北京市海淀区中航广场
                          ip:
                            type: string
                            description: IP地址
                            example: 122.224.123.146
                          feature:
                            type: string
                            description: 额外信息，例如运营商信息
                            example: 中国电信
                          gps_range:
                            type: integer
                            description: 距离范围
                            example: '300'
                        required:
                        - location_name
                        - location_type
                      description: GPS打卡的地址信息
                    group_type:
                      type: integer
                      description: 考勤类型 0：固定考勤  2：排班考勤， 3：自由班次
                      example: '0'
                    punch_day_shift_ids:
                      type: array
                      items:
                        type: string
                      description: 固定班次必需填
                    free_punch_cfg:
                      type: object
                      properties:
                        free_start_time:
                          type: string
                          description: 自由打卡开始时间
                          example: '7:00'
                        free_end_time:
                          type: string
                          description: 自由打卡结束时间
                          example: '18:00'
                        punch_day:
                          type: integer
                          description: 打卡的时间，一共7位，每一位代表一天，周一到周日，0是不上班，1是上班
                          example: '1111100'
                        work_day_no_punch_as_lack:
                          type: boolean
                          description: 工作日不打卡即为缺卡
                          example: 'false'
                        work_hours_demand:
                          type: boolean
                          description: 工作日出勤是否需满足时长要求
                          example: 'false'
                        work_hours:
                          type: integer
                          description: 每日工作时长（分钟),范围[0,1440]
                          example: '480'
                        free_clock_setting:
                          type: object
                          properties:
                            clock_mode:
                              type: integer
                              description: 打卡模式
                              example: '0'
                            clock_internal_hhmm:
                              type: integer
                              description: 最小打卡间隔
                              example: '100'
                          description: 自由班制的打卡配置
                      required:
                      - free_start_time
                      - free_end_time
                      - punch_day
                    calendar_id:
                      type: integer
                      description: 国家日历 id，（0：不根据国家日历休息, 1：中国，2：美国，3：日本，4：印度，5：新加坡），默认 1
                      example: '1'
                    need_punch_special_days:
                      type: array
                      items:
                        type: object
                        properties:
                          punch_day:
                            type: integer
                            description: 打卡日期
                            example: '20190101'
                          shift_id:
                            type: string
                            description: 班次 ID
                            example: '6919668827865513935'
                        required:
                        - punch_day
                        - shift_id
                      description: 强制需要打卡的日期
                    no_need_punch_special_days:
                      type: array
                      items:
                        type: object
                        properties:
                          punch_day:
                            type: integer
                            description: 打卡日期
                            example: '20190101'
                          shift_id:
                            type: string
                            description: 班次 ID
                            example: '6919668827865513935'
                        required:
                        - punch_day
                        - shift_id
                      description: 强制不需要打卡的日期
                    work_day_no_punch_as_lack:
                      type: boolean
                      description: 自由班次下工作日不打卡是否记为缺卡
                      example: 'false'
                    effect_now:
                      type: boolean
                      description: 是否立即生效，默认 false
                      example: 'true'
                    remedy_period_type:
                      type: integer
                      description: 补卡周期类型
                      example: '0'
                    remedy_period_custom_date:
                      type: integer
                      description: 补卡自定义周期起始日期
                      example: '1'
                    punch_type:
                      type: integer
                      description: 打卡类型，位运算。1:GPS打卡；2:wifi打卡；4:考勤机打卡；8:IP打卡
                      example: '1'
                    rest_clockIn_need_approval:
                      type: boolean
                      description: 休息日打卡需审批
                      example: 'true'
                    clockIn_need_photo:
                      type: boolean
                      description: 每次打卡均需拍照
                      example: 'true'
                    member_status_change:
                      type: object
                      properties:
                        onboarding_on_no_need_punch:
                          type: boolean
                          description: 是否入职日上班无需打卡
                          example: 'false'
                        onboarding_off_no_need_punch:
                          type: boolean
                          description: 是否入职日下班无需打卡
                          example: 'false'
                        offboarding_on_no_need_punch:
                          type: boolean
                          description: 是否离职日上班无需打卡
                          example: 'false'
                        offboarding_off_no_need_punch:
                          type: boolean
                          description: 是否离职日下班无需打卡
                          example: 'false'
                      description: 人员异动打卡设置
                    leave_need_punch:
                      type: boolean
                      description: 请假离岗或返岗是否需打卡
                      example: 'false'
                    leave_need_punch_cfg:
                      type: object
                      properties:
                        late_minutes_as_late:
                          type: integer
                          description: 晚到超过多久记为迟到
                          example: '0'
                        late_minutes_as_lack:
                          type: integer
                          description: 晚到超过多久记为缺卡
                          example: '0'
                        early_minutes_as_early:
                          type: integer
                          description: 早走超过多久记为早退
                          example: '0'
                        early_minutes_as_lack:
                          type: integer
                          description: 早走超过多久记为缺卡
                          example: '0'
                        not_during_shift:
                          type: boolean
                          description: 非班中离返岗。为true时，不产生班中离返岗
                          example: 'false'
                      description: 请假离岗或返岗打卡规则
                    go_out_need_punch:
                      type: integer
                      description: 外出期间是否需打卡
                      example: '0'
                    go_out_need_punch_cfg:
                      type: object
                      properties:
                        late_minutes_as_late:
                          type: integer
                          description: 晚到超过多久记为迟到
                          example: '0'
                        late_minutes_as_lack:
                          type: integer
                          description: 晚到超过多久记为缺卡
                          example: '0'
                        early_minutes_as_early:
                          type: integer
                          description: 早走超过多久记为早退
                          example: '0'
                        early_minutes_as_lack:
                          type: integer
                          description: 早走超过多久记为缺卡
                          example: '0'
                        not_during_shift:
                          type: boolean
                          description: 非班中离返岗。为true时，不产生班中离返岗
                          example: 'false'
                      description: 外出期间打卡规则
                    travel_need_punch:
                      type: integer
                      description: 出差期间是否需打卡
                      example: '0'
                    travel_need_punch_cfg:
                      type: object
                      properties:
                        late_minutes_as_late:
                          type: integer
                          description: 晚到超过多久记为迟到
                          example: '0'
                        late_minutes_as_lack:
                          type: integer
                          description: 晚到超过多久记为缺卡
                          example: '0'
                        early_minutes_as_early:
                          type: integer
                          description: 早走超过多久记为早退
                          example: '0'
                        early_minutes_as_lack:
                          type: integer
                          description: 早走超过多久记为缺卡
                          example: '0'
                        not_during_shift:
                          type: boolean
                          description: 非班中离返岗。为true时，不产生班中离返岗
                          example: 'false'
                      description: 出差期间打卡规则
                    need_punch_members:
                      type: array
                      items:
                        type: object
                        properties:
                          rule_scope_type:
                            type: integer
                            description: 圈人方式：0 无 1全部 2自定义
                            default: 0
                            example: '0'
                          scope_group_list:
                            type: object
                            properties:
                              scope_value_type:
                                type: integer
                                description: '类型： 1: 部门 2：人员 3:国家地区 4:员工类型 5:工作城市 6:职级 7:序列 8:职务（企业版）9:工时制度（企业版） 100:自定义字段（企业版）'
                                example: '1'
                              operation_type:
                                type: integer
                                description: 范围类型（是否包含）
                                example: '1'
                              right:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    key:
                                      type: string
                                      description: 标识Key
                                      example: CH
                                    name:
                                      type: string
                                      description: 名称
                                      example: 中国大陆
                                description: 如果是人员/部门类型 不需要使用该字段
                              member_ids:
                                type: array
                                items:
                                  type: string
                                description: 部门/人员id列表（具体类型根据scope_value_type判断）
                              custom_field_ID:
                                type: string
                                description: 企业版自定义字段唯一键 ID, 需要从飞书人事那边获取
                                example: '123213123'
                              custom_field_obj_type:
                                type: string
                                description: 企业版自定义字段对象类型  "employment":主数据对象，员工雇佣信息 , "person":主数据对象，个人
                                example: employment
                            description: 圈人规则列表
                      description: 需要打卡的人员配置（新）
                    no_need_punch_members:
                      type: array
                      items:
                        type: object
                        properties:
                          rule_scope_type:
                            type: integer
                            description: 圈人方式：0 无 1全部 2自定义
                            default: 0
                            example: '0'
                          scope_group_list:
                            type: object
                            properties:
                              scope_value_type:
                                type: integer
                                description: '类型： 1: 部门 2：人员 3:国家地区 4:员工类型 5:工作城市 6:职级 7:序列 8:职务（企业版）9:工时制度（企业版） 100:自定义字段（企业版）'
                                example: '1'
                              operation_type:
                                type: integer
                                description: 范围类型（是否包含）
                                example: '1'
                              right:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    key:
                                      type: string
                                      description: 标识Key
                                      example: CH
                                    name:
                                      type: string
                                      description: 名称
                                      example: 中国大陆
                                description: 如果是人员/部门类型 不需要使用该字段
                              member_ids:
                                type: array
                                items:
                                  type: string
                                description: 部门/人员id列表（具体类型根据scope_value_type判断）
                              custom_field_ID:
                                type: string
                                description: 企业版自定义字段唯一键 ID, 需要从飞书人事那边获取
                                example: '123213123'
                              custom_field_obj_type:
                                type: string
                                description: 企业版自定义字段对象类型  "employment":主数据对象，员工雇佣信息 , "person":主数据对象，个人
                                example: employment
                            description: 圈人规则列表
                      description: 无需打卡的人员配置（新）
                    save_auto_changes:
                      type: boolean
                      description: 是否直接保存可以自动变更的冲突规则
                      example: 'false'
                    org_change_auto_adjust:
                      type: boolean
                      description: 人员异动开关（人员组织架构变更后是否允许自动调整到该考勤组）
                      example: 'false'
                    bind_default_dept_ids:
                      type: array
                      items:
                        type: string
                      description: 默认出勤的部门id列表
                    bind_default_user_ids:
                      type: array
                      items:
                        type: string
                      description: 默认出勤的用户ID列表
                    overtime_clock_cfg:
                      type: object
                      properties:
                        allow_punch_approval:
                          type: boolean
                          description: 是否允许在非打卡时段申请打卡（仅灰度租户可用）
                          example: 'false'
                        need_clock_over_time_start_and_end:
                          type: boolean
                          description: 加班开始和结束需打卡(需灰度)
                          example: 'false'
                      description: 加班打卡规则
                    new_calendar_id:
                      type: string
                      description: 节假日id，（如果考勤组使用了自定义节假日，请用此参数传入节假日id）
                      example: 通过查询考勤组接口获取的new_calendar_id，例如7302191700771358252
                    allow_apply_punch:
                      type: boolean
                      description: 定位不准时是否允许申请打卡
                      example: 'true'
                    clock_in_abnormal_settings:
                      type: object
                      properties:
                        ignore_until_latest_clockout:
                          type: boolean
                          description: 在最晚下班打卡之前忽略异常卡（仅灰度租户有效）
                      description: 异常卡豁免配置
                  required:
                  - group_name
                  - time_zone
                  - group_leader_ids
                  - group_type
                  - punch_day_shift_ids
                  - calendar_id
                  description: '6921319402260496386'
                operator_id:
                  type: string
                  description: 操作人uid，如果您未操作[考勤管理后台“API 接入”流程](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/attendance-development-guidelines)，则此字段为必填字段
                  example: dd31248a
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      group:
                        type: object
                        properties:
                          group_id:
                            type: string
                            description: 考勤组的Id， 需要从获取用户打卡结果信息的接口中获取groupId，修改考勤组时必填
                            example: '6919358128597097404'
                          group_name:
                            type: string
                            description: 考勤组名称
                            example: 开心考勤
                          time_zone:
                            type: string
                            description: 考勤组时区
                            example: Asia/Shanghai
                          bind_dept_ids:
                            type: array
                            items:
                              type: string
                            description: 参加考勤的部门id列表
                          except_dept_ids:
                            type: array
                            items:
                              type: string
                            description: 无需考勤的部门id列表
                          bind_user_ids:
                            type: array
                            items:
                              type: string
                            description: 参加考勤的人员id列表
                          except_user_ids:
                            type: array
                            items:
                              type: string
                            description: 参加考勤的人员id列表
                          group_leader_ids:
                            type: array
                            items:
                              type: string
                            description: 考勤组主负责人id列表
                          sub_group_leader_ids:
                            type: array
                            items:
                              type: string
                            description: 考勤组子负责人id列表
                          allow_out_punch:
                            type: boolean
                            description: 是否允许外勤打卡
                            example: 'true'
                          out_punch_need_approval:
                            type: boolean
                            description: 外勤打卡需审批，先审批后打卡（需要允许外勤打卡才能设置生效）
                            example: 'true'
                          out_punch_need_post_approval:
                            type: boolean
                            description: 外勤打卡需审批，先打卡后审批（需要允许外勤打卡才能设置生效）
                            example: 'true'
                          out_punch_need_remark:
                            type: boolean
                            description: 外勤打卡需填写备注（需要允许外勤打卡才能设置生效）
                            example: 'true'
                          out_punch_need_photo:
                            type: boolean
                            description: 外勤打卡需拍照（需要允许外勤打卡才能设置生效）
                            example: 'true'
                          out_punch_allowed_hide_addr:
                            type: boolean
                            description: 外勤打卡允许员工隐藏详细地址（需要允许外勤打卡才能设置生效）
                            example: 'true'
                          out_punch_allowed_adjust_addr:
                            type: boolean
                            description: 外勤打卡允许微调地址（需要允许外勤打卡才能设置生效）
                            example: 'true'
                          adjust_range:
                            type: integer
                            description: 微调范围，默认为 50 米
                            example: '50'
                          allow_pc_punch:
                            type: boolean
                            description: 是否允许pc打卡
                            example: 'true'
                          allow_remedy:
                            type: boolean
                            description: 是否允许补卡
                            example: 'true'
                          remedy_limit:
                            type: boolean
                            description: 补卡次数是否限制（需要允许补卡才能设置生效）
                            example: 'true'
                          remedy_limit_count:
                            type: integer
                            description: 补卡次数（需要允许补卡才能设置生效）
                            example: '3'
                          remedy_date_limit:
                            type: boolean
                            description: 补卡时间是否限制（需要允许补卡才能设置生效）
                            example: 'true'
                          remedy_date_num:
                            type: integer
                            description: 补卡时间,几天内可以发起补卡（需要允许补卡才能设置生效）
                            example: '3'
                          allow_remedy_type_lack:
                            type: boolean
                            description: 允许缺卡补卡（需要允许补卡才能设置生效）
                            example: 'true'
                          allow_remedy_type_late:
                            type: boolean
                            description: 允许迟到补卡（需要允许补卡才能设置生效）
                            example: 'true'
                          allow_remedy_type_early:
                            type: boolean
                            description: 允许早退补卡（需要允许补卡才能设置生效）
                            example: 'true'
                          allow_remedy_type_normal:
                            type: boolean
                            description: 允许正常补卡（需要允许补卡才能设置生效）
                            example: 'true'
                          show_cumulative_time:
                            type: boolean
                            description: 是否展示累计时长
                            example: 'true'
                          show_over_time:
                            type: boolean
                            description: 是否展示加班时长
                            example: 'true'
                          hide_staff_punch_time:
                            type: boolean
                            description: 是否隐藏员工打卡详情
                            example: 'true'
                          hide_clock_in_rule:
                            type: boolean
                            description: 是否隐藏打卡规则
                            example: 'false'
                          face_punch:
                            type: boolean
                            description: 是否开启人脸打卡
                            example: 'true'
                          face_punch_cfg:
                            type: integer
                            description: 人脸打卡规则， 1：每次打卡均需人脸识别 2：疑似需要
                            example: '1'
                          face_live_need_action:
                            type: boolean
                            description: 人脸打卡规则， false：开启活体验证 true：0动作验证，仅在 face_punch_cfg = 1 时有效
                            example: 'false'
                          face_downgrade:
                            type: boolean
                            description: 脸识别失败时允许普通拍照打卡
                            example: 'true'
                          replace_basic_pic:
                            type: boolean
                            description: 是否允许替换基准图片
                            example: 'true'
                          anti_cheat_punch_config:
                            type: object
                            properties:
                              intercept_suspected_cheat_punch:
                                type: boolean
                                description: 拦截疑似作弊打卡；关闭时，其余防作弊开关都会关闭
                                example: 'true'
                              check_cheat_software_punch:
                                type: boolean
                                description: 是否校验疑似作弊软件打卡
                                example: 'true'
                              check_buddy_punch:
                                type: boolean
                                description: 是否校验疑似他人代打卡
                                example: 'true'
                              check_simulate_wifi_punch:
                                type: boolean
                                description: 是否校验疑似模拟 WI-FI 打卡
                                example: 'true'
                              check_change_device_punch:
                                type: boolean
                                description: 是否校验更换设备打卡
                                example: 'true'
                              allow_change_device_num:
                                type: integer
                                description: 同一考勤人员最多可绑定打卡设备数量上限，开启校验更换设备打卡时必填
                                example: '1'
                              suspected_cheat_handle_method:
                                type: integer
                                description: 疑似作弊打卡时的处理方式，开启拦截疑似作弊打卡时必填
                                enum:
                                - 1
                                - 2
                                x-enum-descriptions:
                                  '1': 使用人脸识别打卡
                                  '2': 仅记录疑似作弊信息
                                example: '1'
                            required:
                            - intercept_suspected_cheat_punch
                            description: 防作弊打卡配置
                          machines:
                            type: array
                            items:
                              type: object
                              properties:
                                machine_sn:
                                  type: string
                                  description: 考勤机序列号
                                  example: FS0701
                                machine_name:
                                  type: string
                                  description: 考勤机名称
                                  example: 创实 9 楼
                              required:
                              - machine_sn
                              - machine_name
                            description: 考勤机信息
                          gps_range:
                            type: integer
                            description: GPS打卡的地址范围
                            example: '300'
                          locations:
                            type: array
                            items:
                              type: object
                              properties:
                                location_id:
                                  type: string
                                  description: 地址id
                                location_name:
                                  type: string
                                  description: 地址名称
                                  example: 北京市海淀区中航广场
                                location_type:
                                  type: integer
                                  description: 地址类型，GPS地址，1；WiFi的Mac地址，2；IP地址。8
                                  example: '1'
                                latitude:
                                  type: number
                                  description: 地址维度
                                  example: '39.971827'
                                longitude:
                                  type: number
                                  description: 地址经度
                                  example: '116.32989'
                                ssid:
                                  type: string
                                  description: WiFi名称
                                  example: TP-Link-af12ca
                                bssid:
                                  type: string
                                  description: WiFi的Mac地址
                                  example: 08:00:20:0A:8C:6D
                                map_type:
                                  type: integer
                                  description: 地图类型，1：高德， 2：谷歌
                                  example: '1'
                                address:
                                  type: string
                                  description: 地址名称
                                  example: 北京市海淀区中航广场
                                ip:
                                  type: string
                                  description: IP地址
                                  example: 122.224.123.146
                                feature:
                                  type: string
                                  description: 额外信息，例如运营商信息
                                  example: 中国电信
                                gps_range:
                                  type: integer
                                  description: 距离范围
                                  example: '300'
                              required:
                              - location_name
                              - location_type
                            description: GPS打卡的地址信息
                          group_type:
                            type: integer
                            description: 考勤类型 0：固定考勤  2：排班考勤， 3：自由班次
                            example: '0'
                          punch_day_shift_ids:
                            type: array
                            items:
                              type: string
                            description: 固定班次必需填
                          free_punch_cfg:
                            type: object
                            properties:
                              free_start_time:
                                type: string
                                description: 自由打卡开始时间
                                example: '7:00'
                              free_end_time:
                                type: string
                                description: 自由打卡结束时间
                                example: '18:00'
                              punch_day:
                                type: integer
                                description: 打卡的时间，一共7位，每一位代表一天，周一到周日，0是不上班，1是上班
                                example: '1111100'
                              work_day_no_punch_as_lack:
                                type: boolean
                                description: 工作日不打卡即为缺卡
                                example: 'false'
                              work_hours_demand:
                                type: boolean
                                description: 工作日出勤是否需满足时长要求
                                example: 'false'
                              work_hours:
                                type: integer
                                description: 每日工作时长（分钟),范围[0,1440]
                                example: '480'
                              free_clock_setting:
                                type: object
                                properties:
                                  clock_mode:
                                    type: integer
                                    description: 打卡模式
                                    example: '0'
                                  clock_internal_hhmm:
                                    type: integer
                                    description: 最小打卡间隔
                                    example: '100'
                                description: 自由班制的打卡配置
                            required:
                            - free_start_time
                            - free_end_time
                            - punch_day
                          calendar_id:
                            type: integer
                            description: 国家日历 id，（0：不根据国家日历休息, 1：中国，2：美国，3：日本，4：印度，5：新加坡），默认 1
                            example: '1'
                          need_punch_special_days:
                            type: array
                            items:
                              type: object
                              properties:
                                punch_day:
                                  type: integer
                                  description: 打卡日期
                                  example: '20190101'
                                shift_id:
                                  type: string
                                  description: 班次 ID
                                  example: '6919668827865513935'
                              required:
                              - punch_day
                              - shift_id
                            description: 强制需要打卡的日期
                          no_need_punch_special_days:
                            type: array
                            items:
                              type: object
                              properties:
                                punch_day:
                                  type: integer
                                  description: 打卡日期
                                  example: '20190101'
                                shift_id:
                                  type: string
                                  description: 班次 ID
                                  example: '6919668827865513935'
                              required:
                              - punch_day
                              - shift_id
                            description: 强制不需要打卡的日期
                          work_day_no_punch_as_lack:
                            type: boolean
                            description: 自由班次下工作日不打卡是否记为缺卡
                            example: 'false'
                          effect_now:
                            type: boolean
                            description: 是否立即生效，默认 false
                            example: 'true'
                          remedy_period_type:
                            type: integer
                            description: 补卡周期类型
                            example: '0'
                          remedy_period_custom_date:
                            type: integer
                            description: 补卡自定义周期起始日期
                            example: '1'
                          punch_type:
                            type: integer
                            description: 打卡类型，位运算。1:GPS打卡；2:wifi打卡；4:考勤机打卡；8:IP打卡
                            example: '1'
                          effect_time:
                            type: string
                            description: 生效时间，精确到秒的时间戳
                            example: '1611476284'
                          fixshift_effect_time:
                            type: string
                            description: 固定班次生效时间，精确到秒的时间戳
                            example: '1611476284'
                          member_effect_time:
                            type: string
                            description: 参加考勤的人员、部门变动生效时间，精确到秒的时间戳
                            example: '1611476284'
                          rest_clockIn_need_approval:
                            type: boolean
                            description: 休息日打卡需审批
                            example: 'true'
                          clockIn_need_photo:
                            type: boolean
                            description: 每次打卡均需拍照
                            example: 'true'
                          member_status_change:
                            type: object
                            properties:
                              onboarding_on_no_need_punch:
                                type: boolean
                                description: 是否入职日上班无需打卡
                                example: 'false'
                              onboarding_off_no_need_punch:
                                type: boolean
                                description: 是否入职日下班无需打卡
                                example: 'false'
                              offboarding_on_no_need_punch:
                                type: boolean
                                description: 是否离职日上班无需打卡
                                example: 'false'
                              offboarding_off_no_need_punch:
                                type: boolean
                                description: 是否离职日下班无需打卡
                                example: 'false'
                            description: 人员异动打卡设置
                          leave_need_punch:
                            type: boolean
                            description: 请假离岗或返岗是否需打卡
                            example: 'false'
                          leave_need_punch_cfg:
                            type: object
                            properties:
                              late_minutes_as_late:
                                type: integer
                                description: 晚到超过多久记为迟到
                                example: '0'
                              late_minutes_as_lack:
                                type: integer
                                description: 晚到超过多久记为缺卡
                                example: '0'
                              early_minutes_as_early:
                                type: integer
                                description: 早走超过多久记为早退
                                example: '0'
                              early_minutes_as_lack:
                                type: integer
                                description: 早走超过多久记为缺卡
                                example: '0'
                              not_during_shift:
                                type: boolean
                                description: 非班中离返岗。为true时，不产生班中离返岗
                                example: 'false'
                            description: 请假离岗或返岗打卡规则
                          go_out_need_punch:
                            type: integer
                            description: 外出期间是否需打卡
                            example: '0'
                          go_out_need_punch_cfg:
                            type: object
                            properties:
                              late_minutes_as_late:
                                type: integer
                                description: 晚到超过多久记为迟到
                                example: '0'
                              late_minutes_as_lack:
                                type: integer
                                description: 晚到超过多久记为缺卡
                                example: '0'
                              early_minutes_as_early:
                                type: integer
                                description: 早走超过多久记为早退
                                example: '0'
                              early_minutes_as_lack:
                                type: integer
                                description: 早走超过多久记为缺卡
                                example: '0'
                              not_during_shift:
                                type: boolean
                                description: 非班中离返岗。为true时，不产生班中离返岗
                                example: 'false'
                            description: 外出期间打卡规则
                          travel_need_punch:
                            type: integer
                            description: 出差期间是否需打卡
                            example: '0'
                          travel_need_punch_cfg:
                            type: object
                            properties:
                              late_minutes_as_late:
                                type: integer
                                description: 晚到超过多久记为迟到
                                example: '0'
                              late_minutes_as_lack:
                                type: integer
                                description: 晚到超过多久记为缺卡
                                example: '0'
                              early_minutes_as_early:
                                type: integer
                                description: 早走超过多久记为早退
                                example: '0'
                              early_minutes_as_lack:
                                type: integer
                                description: 早走超过多久记为缺卡
                                example: '0'
                              not_during_shift:
                                type: boolean
                                description: 非班中离返岗。为true时，不产生班中离返岗
                                example: 'false'
                            description: 出差期间打卡规则
                          need_punch_members:
                            type: array
                            items:
                              type: object
                              properties:
                                rule_scope_type:
                                  type: integer
                                  description: 圈人方式：0 无 1全部 2自定义
                                  default: 0
                                  example: '0'
                                scope_group_list:
                                  type: object
                                  properties:
                                    scope_value_type:
                                      type: integer
                                      description: '类型： 1: 部门 2：人员 3:国家地区 4:员工类型 5:工作城市 6:职级 7:序列 8:职务（企业版）9:工时制度（企业版） 100:自定义字段（企业版）'
                                      example: '1'
                                    operation_type:
                                      type: integer
                                      description: 范围类型（是否包含）
                                      example: '1'
                                    right:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          key:
                                            type: string
                                            description: 标识Key
                                            example: CH
                                          name:
                                            type: string
                                            description: 名称
                                            example: 中国大陆
                                      description: 如果是人员/部门类型 不需要使用该字段
                                    member_ids:
                                      type: array
                                      items:
                                        type: string
                                      description: 部门/人员id列表（具体类型根据scope_value_type判断）
                                    custom_field_ID:
                                      type: string
                                      description: 企业版自定义字段唯一键 ID, 需要从飞书人事那边获取
                                      example: '123213123'
                                    custom_field_obj_type:
                                      type: string
                                      description: 企业版自定义字段对象类型  "employment":主数据对象，员工雇佣信息 , "person":主数据对象，个人
                                      example: employment
                                  description: 圈人规则列表
                            description: 需要打卡的人员配置（新）
                          no_need_punch_members:
                            type: array
                            items:
                              type: object
                              properties:
                                rule_scope_type:
                                  type: integer
                                  description: 圈人方式：0 无 1全部 2自定义
                                  default: 0
                                  example: '0'
                                scope_group_list:
                                  type: object
                                  properties:
                                    scope_value_type:
                                      type: integer
                                      description: '类型： 1: 部门 2：人员 3:国家地区 4:员工类型 5:工作城市 6:职级 7:序列 8:职务（企业版）9:工时制度（企业版） 100:自定义字段（企业版）'
                                      example: '1'
                                    operation_type:
                                      type: integer
                                      description: 范围类型（是否包含）
                                      example: '1'
                                    right:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          key:
                                            type: string
                                            description: 标识Key
                                            example: CH
                                          name:
                                            type: string
                                            description: 名称
                                            example: 中国大陆
                                      description: 如果是人员/部门类型 不需要使用该字段
                                    member_ids:
                                      type: array
                                      items:
                                        type: string
                                      description: 部门/人员id列表（具体类型根据scope_value_type判断）
                                    custom_field_ID:
                                      type: string
                                      description: 企业版自定义字段唯一键 ID, 需要从飞书人事那边获取
                                      example: '123213123'
                                    custom_field_obj_type:
                                      type: string
                                      description: 企业版自定义字段对象类型  "employment":主数据对象，员工雇佣信息 , "person":主数据对象，个人
                                      example: employment
                                  description: 圈人规则列表
                            description: 无需打卡的人员配置（新）
                          save_auto_changes:
                            type: boolean
                            description: 是否直接保存可以自动变更的冲突规则
                            example: 'false'
                          org_change_auto_adjust:
                            type: boolean
                            description: 人员异动开关（人员组织架构变更后是否允许自动调整到该考勤组）
                            example: 'false'
                          bind_default_dept_ids:
                            type: array
                            items:
                              type: string
                            description: 默认出勤的部门id列表
                          bind_default_user_ids:
                            type: array
                            items:
                              type: string
                            description: 默认出勤的用户ID列表
                          overtime_clock_cfg:
                            type: object
                            properties:
                              allow_punch_approval:
                                type: boolean
                                description: 是否允许在非打卡时段申请打卡（仅灰度租户可用）
                                example: 'false'
                              need_clock_over_time_start_and_end:
                                type: boolean
                                description: 加班开始和结束需打卡(需灰度)
                                example: 'false'
                            description: 加班打卡规则
                          new_calendar_id:
                            type: string
                            description: 节假日id，（如果考勤组使用了自定义节假日，请用此参数传入节假日id）
                            example: 通过查询考勤组接口获取的new_calendar_id，例如7302191700771358252
                          allow_apply_punch:
                            type: boolean
                            description: 定位不准时是否允许申请打卡
                            example: 'true'
                          clock_in_abnormal_settings:
                            type: object
                            properties:
                              ignore_until_latest_clockout:
                                type: boolean
                                description: 在最晚下班打卡之前忽略异常卡（仅灰度租户有效）
                            description: 异常卡豁免配置
                        required:
                        - group_name
                        - time_zone
                        - group_leader_ids
                        - group_type
                        - punch_day_shift_ids
                        - calendar_id
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - attendance:rule
      x-lark-error-mappings:
      - code: 1220001
        httpCode: 400
        msg: ''
      - code: 1220002
        httpCode: 400
        msg: ''
      - code: 1220003
        httpCode: 400
        msg: ''
      - code: 1220004
        httpCode: 400
        msg: ''
      - code: 1220005
        httpCode: 400
        msg: ''
      - code: 1220600
        httpCode: 400
        msg: ''
      - code: 1225000
        httpCode: 500
        msg: ''
      - code: 1227500
        httpCode: 400
        msg: ''
      - code: 1227000
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 9
    get:
      operationId: attendance_group_list
      summary: 查询所有考勤组
      tags:
      - group
      description: 考勤组列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/group/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 分页大小
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      group_list:
                        type: array
                        items:
                          type: object
                          properties:
                            group_id:
                              type: string
                              description: 考勤组id
                              example: '6919358128597097404'
                            group_name:
                              type: string
                              description: 考勤组名称
                              example: 考勤组1
                          required:
                          - group_id
                          - group_name
                        description: 考勤组列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                      has_more:
                        type: boolean
                        description: 是否还有更多项
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - attendance:rule:readonly
      - attendance:rule
      x-lark-error-mappings:
      - code: 1220001
        httpCode: 400
        msg: ''
      - code: 1220002
        httpCode: 400
        msg: ''
      - code: 1220600
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 9
      x-lark-pagination: true
  /open-apis/attendance/v1/groups/{group_id}:
    delete:
      operationId: attendance_group_delete
      summary: 删除考勤组
      tags:
      - group
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/group/delete
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
        description: 考勤组 ID，获取方式：1）[创建或修改考勤组](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/group/create)
          2）[按名称查询考勤组](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/group/search) 3）[获取打卡结果](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/user_task/query)
        example: '6919358128597097404'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - attendance:rule
      x-lark-error-mappings:
      - code: 1220001
        httpCode: 400
        msg: ''
      - code: 1220002
        httpCode: 400
        msg: ''
      - code: 1220005
        httpCode: 400
        msg: ''
      - code: 1225000
        httpCode: 500
        msg: ''
      - code: 1227000
        httpCode: 400
        msg: ''
      - code: 1220600
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 9
    get:
      operationId: attendance_group_get
      summary: 按 ID 查询考勤组
      tags:
      - group
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/group/get
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
        description: 考勤组 ID，获取方式：1）[创建或修改考勤组](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/group/create)
          2）[按名称查询考勤组](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/group/search) 3）[获取打卡结果](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/attendance-v1/user_task/query)
        example: '6919358128597097404'
      - name: employee_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - employee_id
          - employee_no
          x-enum-descriptions:
            employee_id: 员工employeeId
            employee_no: 员工工号
        description: 用户 ID 的类型
      - name: dept_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - open_id
          x-enum-descriptions:
            open_id: 开放openID
        description: 部门 ID 的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      group_id:
                        type: string
                        description: 考勤组的Id， 需要从获取用户打卡结果信息的接口中获取groupId，修改考勤组时必填
                        example: '6919358128597097404'
                      group_name:
                        type: string
                        description: 考勤组名称
                        example: 开心考勤
                      time_zone:
                        type: string
                        description: 考勤组时区
                        example: Asia/Shanghai
                      bind_dept_ids:
                        type: array
                        items:
                          type: string
                        description: 参加考勤的部门id列表
                      except_dept_ids:
                        type: array
                        items:
                          type: string
                        description: 无需考勤的部门id列表
                      bind_user_ids:
                        type: array
                        items:
                          type: string
                        description: 参加考勤的人员id列表
                      except_user_ids:
                        type: array
                        items:
                          type: string
                        description: 参加考勤的人员id列表
                      group_leader_ids:
                        type: array
                        items:
                          type: string
                        description: 考勤组主负责人id列表
                      sub_group_leader_ids:
                        type: array
                        items:
                          type: string
                        description: 考勤组子负责人id列表
                      allow_out_punch:
                        type: boolean
                        description: 是否允许外勤打卡
                        example: 'true'
                      out_punch_need_approval:
                        type: boolean
                        description: 外勤打卡需审批，先审批后打卡（需要允许外勤打卡才能设置生效）
                        example: 'true'
                      out_punch_need_post_approval:
                        type: boolean
                        description: 外勤打卡需审批，先打卡后审批（需要允许外勤打卡才能设置生效）
                        example: 'true'
                      out_punch_need_remark:
                        type: boolean
                        description: 外勤打卡需填写备注（需要允许外勤打卡才能设置生效）
                        example: 'true'
                      out_punch_need_photo:
                        type: boolean
                        description: 外勤打卡需拍照（需要允许外勤打卡才能设置生效）
                        example: 'true'
                      out_punch_allowed_hide_addr:
                        type: boolean
                        description: 外勤打卡允许员工隐藏详细地址（需要允许外勤打卡才能设置生效）
                        example: 'true'
                      out_punch_allowed_adjust_addr:
                        type: boolean
                        description: 外勤打卡允许微调地址（需要允许外勤打卡才能设置生效）
                        example: 'true'
                      adjust_range:
                        type: integer
                        description: 微调范围，默认为 50 米
                        example: '50'
                      allow_pc_punch:
                        type: boolean
                        description: 是否允许pc打卡
                        example: 'true'
                      allow_remedy:
                        type: boolean
                        description: 是否允许补卡
                        example: 'true'
                      remedy_limit:
                        type: boolean
                        description: 补卡次数是否限制（需要允许补卡才能设置生效）
                        example: 'true'
                      remedy_limit_count:
                        type: integer
                        description: 补卡次数（需要允许补卡才能设置生效）
                        example: '3'
                      remedy_date_limit:
                        type: boolean
                        description: 补卡时间是否限制（需要允许补卡才能设置生效）
                        example: 'true'
                      remedy_date_num:
                        type: integer
                        description: 补卡时间,几天内可以发起补卡（需要允许补卡才能设置生效）
                        example: '3'
                      allow_remedy_type_lack:
                        type: boolean
                        description: 允许缺卡补卡（需要允许补卡才能设置生效）
                        example: 'true'
                      allow_remedy_type_late:
                        type: boolean
                        description: 允许迟到补卡（需要允许补卡才能设置生效）
                        example: 'true'
                      allow_remedy_type_early:
                        type: boolean
                        description: 允许早退补卡（需要允许补卡才能设置生效）
                        example: 'true'
                      allow_remedy_type_normal:
                        type: boolean
                        description: 允许正常补卡（需要允许补卡才能设置生效）
                        example: 'true'
                      show_cumulative_time:
                        type: boolean
                        description: 是否展示累计时长
                        example: 'true'
                      show_over_time:
                        type: boolean
                        description: 是否展示加班时长
                        example: 'true'
                      hide_staff_punch_time:
                        type: boolean
                        description: 是否隐藏员工打卡详情
                        example: 'true'
                      hide_clock_in_rule:
                        type: boolean
                        description: 是否隐藏打卡规则
                        example: 'false'
                      face_punch:
                        type: boolean
                        description: 是否开启人脸打卡
                        example: 'true'
                      face_punch_cfg:
                        type: integer
                        description: 人脸打卡规则， 1：每次打卡均需人脸识别 2：疑似需要
                        example: '1'
                      face_live_need_action:
                        type: boolean
                        description: 人脸打卡规则， false：开启活体验证 true：0动作验证，仅在 face_punch_cfg = 1 时有效
                        example: 'false'
                      face_downgrade:
                        type: boolean
                        description: 脸识别失败时允许普通拍照打卡
                        example: 'true'
                      replace_basic_pic:
                        type: boolean
                        description: 是否允许替换基准图片
                        example: 'true'
                      anti_cheat_punch_config:
                        type: object
                        properties:
                          intercept_suspected_cheat_punch:
                            type: boolean
                            description: 拦截疑似作弊打卡；关闭时，其余防作弊开关都会关闭
                            example: 'true'
                          check_cheat_software_punch:
                            type: boolean
                            description: 是否校验疑似作弊软件打卡
                            example: 'true'
                          check_buddy_punch:
                            type: boolean
                            description: 是否校验疑似他人代打卡
                            example: 'true'
                          check_simulate_wifi_punch:
                            type: boolean
                            description: 是否校验疑似模拟 WI-FI 打卡
                            example: 'true'
                          check_change_device_punch:
                            type: boolean
                            description: 是否校验更换设备打卡
                            example: 'true'
                          allow_change_device_num:
                            type: integer
                            description: 同一考勤人员最多可绑定打卡设备数量上限，开启校验更换设备打卡时必填
                            example: '1'
                          suspected_cheat_handle_method:
                            type: integer
                            description: 疑似作弊打卡时的处理方式，开启拦截疑似作弊打卡时必填
                            enum:
                            - 1
                            - 2
                            x-enum-descriptions:
                              '1': 使用人脸识别打卡
                              '2': 仅记录疑似作弊信息
                            example: '1'
                        required:
                        - intercept_suspected_cheat_punch
                        description: 防作弊打卡配置
                      machines:
                        type: array
                        items:
                          type: object
                          properties:
                            machine_sn:
                              type: string
                              description: 考勤机序列号
                              example: FS0701
                            machine_name:
                              type: string
                              description: 考勤机名称
                              example: 创实 9 楼
                          required:
                          - machine_sn
                          - machine_name
                        description: 考勤机信息
                      gps_range:
                        type: integer
                        description: GPS打卡的地址范围
                        example: '300'
                      locations:
                        type: array
                        items:
                          type: object
                          properties:
                            location_id:
                              type: string
                              description: 地址id
                            location_name:
                              type: string
                              description: 地址名称
                              example: 北京市海淀区中航广场
                            location_type:
                              type: integer
                              description: 地址类型，GPS地址，1；WiFi的Mac地址，2；IP地址。8
                              example: '1'
                            latitude:
                              type: number
                              description: 地址维度
                              example: '39.971827'
                            longitude:
                              type: number
                              description: 地址经度
                              example: '116.32989'
                            ssid:
                              type: string
                              description: WiFi名称
[...]
