# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · auth API（全量）
  description: |-
    飞书开放平台 `auth` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: auth
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: auth
paths:
  /open-apis/auth/v3/app_access_token:
    post:
      operationId: auth_auth_app_access_token
      summary: 商店应用获取 app_access_token
      tags:
      - auth
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/ukDNz4SO0MjL5QzM/auth-v3/auth/app_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app_id:
                  type: string
                  description: 应用唯一标识，创建应用后获得
                  example: cli_slkdjalasdkjasd
                app_secret:
                  type: string
                  description: 应用秘钥，创建应用后获得
                  example: dskLLdkasdjlasdKK
                app_ticket:
                  type: string
                  description: 平台定时推送给应用的临时凭证，通过事件监听机制获得
                  example: dskLLdkasd
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  app_access_token:
                    type: string
                    description: 访问 token
                    example: a-6U1SbDiM6XIH2DcTCPyeub
                  expire:
                    type: integer
                    description: app_access_token 过期时间
                    example: '7140'
      x-lark-rate-limit:
        tier: 0
  /open-apis/auth/v3/app_access_token/internal:
    post:
      operationId: auth_auth_app_access_token_internal
      summary: 自建应用获取 app_access_token
      tags:
      - auth
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/ukDNz4SO0MjL5QzM/auth-v3/auth/app_access_token_internal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app_id:
                  type: string
                  description: 应用唯一标识，创建应用后获得
                  example: cli_slkdjalasdkjasd
                app_secret:
                  type: string
                  description: 应用秘钥，创建应用后获得
                  example: dskLLdkasdjlasdKK
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  app_access_token:
                    type: string
                    description: 访问 token
                    example: a-6U1SbDiM6XIH2DcTCPyeub
                  expire:
                    type: integer
                    description: app_access_token 过期时间
                    example: '7140'
      x-lark-rate-limit:
        tier: 0
  /open-apis/auth/v3/app_ticket/resend:
    post:
      operationId: auth_auth_app_ticket_resend
      summary: 重新获取 app_ticket
      tags:
      - auth
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/ukDNz4SO0MjL5QzM/auth-v3/auth/app_ticket_resend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app_id:
                  type: string
                  description: 应用唯一标识，创建应用后获得
                  example: cli_slkdjalasdkjasd
                app_secret:
                  type: string
                  description: 应用秘钥，创建应用后获得
                  example: dskLLdkasdjlasdKK
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
      x-lark-rate-limit:
        tier: 0
  /open-apis/auth/v3/tenant_access_token:
    post:
      operationId: auth_auth_tenant_access_token
      summary: 商店应用获取 tenant_access_token
      tags:
      - auth
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/ukDNz4SO0MjL5QzM/auth-v3/auth/tenant_access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app_access_token:
                  type: string
                  description: 应用唯一标识，创建应用
                  example: a-32bd8551db2f081cbfd26293f27516390b9feb04
                tenant_key:
                  type: string
                  description: 应用秘钥，创建应用后获得
                  example: 73658811060f175d
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  tenant_access_token:
                    type: string
                    description: 访问 token
                    example: t-caecc734c2e3328a62489fe0648c4b98779515d3
                  expire:
                    type: integer
                    description: app_access_token 过期时间
                    example: '7140'
      x-lark-rate-limit:
        tier: 0
  /open-apis/auth/v3/tenant_access_token/internal:
    post:
      operationId: auth_auth_tenant_access_token_internal
      summary: 自建应用获取 tenant_access_token
      tags:
      - auth
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/ukDNz4SO0MjL5QzM/auth-v3/auth/tenant_access_token_internal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app_id:
                  type: string
                  description: 应用唯一标识，创建应用后获得
                  example: cli_slkdjalasdkjasd
                app_secret:
                  type: string
                  description: 应用秘钥，创建应用后获得
                  example: dskLLdkasdjlasdKK
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  tenant_access_token:
                    type: string
                    description: 访问 token
                    example: t-caecc734c2e3328a62489fe0648c4b98779515d3
                  expire:
                    type: integer
                    description: app_access_token 过期时间
                    example: '7140'
      x-lark-rate-limit:
        tier: 0
components:
  schemas: {}
