# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · authen API（全量）
  description: |-
    飞书开放平台 `authen` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: authen
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: access_token
- name: oidc.access_token
- name: oidc.refresh_access_token
- name: refresh_access_token
- name: user_info
paths:
  /open-apis/authen/v1/access_token:
    post:
      operationId: authen_access_token_create
      summary: 获取 user_access_token（v1 版本）
      tags:
      - access_token
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/authen-v1/access_token/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  description: 授权类型，**固定值**
                  example: authorization_code
                code:
                  type: string
                  description: 登录预授权码，调用[获取登录预授权码](https://open.feishu.cn/document/ukTMukTMukTM/ukzN4UjL5cDO14SO3gTN)接口获取
                  example: xMSldislSkdK
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - app
      x-lark-field-scopes:
      - contact:user.phone:readonly
      - contact:user.email:readonly
      - directory:employee.base.email:read
      - contact:user.employee:readonly
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 20001
        httpCode: 200
        msg: Invalid request. Please check request param
      - code: 20007
        httpCode: 200
        msg: Failed to generate a user access token. Please try again
      - code: 20008
        httpCode: 200
        msg: User not exist
      - code: 20009
        httpCode: 200
        msg: Tenant does not install app
      - code: 20021
        httpCode: 200
        msg: User resigned
      - code: 20022
        httpCode: 200
        msg: User frozen
      - code: 20023
        httpCode: 200
        msg: User not registered
      - code: 20024
        httpCode: 200
        msg: App id in user_access_token or refresh_token diff with app id in app_access_token or tenant_access_token. Please
          keep the app id consistent
      - code: 20025
        httpCode: 200
        msg: Lack of app_id or app_secret in request
      - code: 20028
        httpCode: 200
        msg: Invalid app id
      - code: 20050
        httpCode: 500
        msg: System error
      x-lark-rate-limit:
        tier: 0
  /open-apis/authen/v1/oidc/access_token:
    post:
      operationId: authen_oidc_access_token_create
      summary: 获取 user_access_token
      tags:
      - oidc.access_token
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/authen-v1/oidc-access_token/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  description: 授权类型，**固定值**
                  example: authorization_code
                code:
                  type: string
                  description: 登录预授权码
                  example: xMSldislSkdK
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - app
      x-lark-error-mappings:
      - code: 20001
        httpCode: 200
        msg: Invalid request. Please check request param
      - code: 20002
        httpCode: 200
        msg: The app_id or app_secret passed is incorrect. Please check the value
      - code: 20003
        httpCode: 200
        msg: The code passed is invalid. Please note that the code could only be used once
      - code: 20004
        httpCode: 200
        msg: The code passed has expired. Please generate a new one
      - code: 20007
        httpCode: 200
        msg: Failed to generate a user access token. Please try again
      - code: 20008
        httpCode: 200
        msg: User not exist
      - code: 20013
        httpCode: 200
        msg: The tenant access token passed is invalid. Please check the value
      - code: 20014
        httpCode: 200
        msg: The app access token passed is invalid. Please check the value
      - code: 20021
        httpCode: 200
        msg: User resigned
      - code: 20022
        httpCode: 200
        msg: User frozen
      - code: 20023
        httpCode: 200
        msg: User not registered
      - code: 20024
        httpCode: 200
        msg: App id in user_access_token or refresh_token diff with app id in app_access_token or tenant_access_token. Please
          keep the app id consistent
      - code: 20025
        httpCode: 200
        msg: Lack of app_id or app_secret in request
      - code: 20028
        httpCode: 200
        msg: Invalid app id
      - code: 20029
        httpCode: 200
        msg: Invalid redirect uri
      - code: 20035
        httpCode: 200
        msg: The app_id or app_secret passed is incorrect. Please check the value
      - code: 20036
        httpCode: 200
        msg: The grant_type passed is not supported
      - code: 20039
        httpCode: 200
        msg: The user access token is invalid. Please check the value
      - code: 20042
        httpCode: 200
        msg: App disabled
      - code: 20046
        httpCode: 200
        msg: Brand inconsistency
      x-lark-rate-limit:
        tier: 4
  /open-apis/authen/v1/oidc/refresh_access_token:
    post:
      operationId: authen_oidc_refresh_access_token_create
      summary: 刷新 user_access_token
      tags:
      - oidc.refresh_access_token
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/authen-v1/oidc-refresh_access_token/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  description: 授权类型，**固定值**：
                  example: refresh_token
                refresh_token:
                  type: string
                  description: 刷新 `user_access_token` 需要的凭证<br>获取user_access_token`接口和本接口均返回 `refresh_token`，**每次请求，请注意使用最新获取到的`refresh_token`**
                  example: ur-oQ0mMq6MCcueAv0pwx2fQQhxqv__CbLu6G8ySFwafeKww2Def2BJdOkW3.9gCFM.LBQgFri901QaqeuL
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - app
      x-lark-error-mappings:
      - code: 20001
        httpCode: 200
        msg: Invalid request. Please check request param
      - code: 20002
        httpCode: 200
        msg: The app_id or app_secret passed is incorrect. Please check the value
      - code: 20007
        httpCode: 200
        msg: Failed to generate a user access token. Please try again
      - code: 20008
        httpCode: 200
        msg: User not exist
      - code: 20013
        httpCode: 200
        msg: The tenant access token passed is invalid. Please check the value
      - code: 20014
        httpCode: 200
        msg: The app access token passed is invalid. Please check the value
      - code: 20021
        httpCode: 200
        msg: User resigned
      - code: 20022
        httpCode: 200
        msg: User frozen
      - code: 20023
        httpCode: 200
        msg: User not registered
      - code: 20024
        httpCode: 200
        msg: App id in user_access_token or refresh_token diff with app id in app_access_token or tenant_access_token. Please
          keep the app id consistent
      - code: 20026
        httpCode: 200
        msg: The refresh token passed is invalid. Please check the value
      - code: 20028
        httpCode: 200
        msg: Invalid app id
      - code: 20029
        httpCode: 200
        msg: Invalid redirect uri
      - code: 20036
        httpCode: 200
        msg: The grant_type passed is not supported
      - code: 20037
        httpCode: 200
        msg: The refresh token passed has expired. Please generate a new one
      - code: 20038
        httpCode: 200
        msg: The refresh token passed is invalid. Please check the value
      - code: 20042
        httpCode: 200
        msg: App disabled
      - code: 20046
        httpCode: 200
        msg: Brand inconsistency
      x-lark-rate-limit:
        tier: 4
  /open-apis/authen/v1/refresh_access_token:
    post:
      operationId: authen_refresh_access_token_create
      summary: 刷新 user_access_token（v1 版本）
      tags:
      - refresh_access_token
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/authen-v1/refresh_access_token/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  description: 授权类型，**固定值**：
                  example: refresh_token
                refresh_token:
                  type: string
                  description: 刷新 `user_access_token` 需要的凭证<br>获取user_access_token`接口和本接口均返回 `refresh_token`，**每次请求，请注意使用最新获取到的`refresh_token`**
                  example: ur-oQ0mMq6MCcueAv0pwx2fQQhxqv__CbLu6G8ySFwafeKww2Def2BJdOkW3.9gCFM.LBQgFri901QaqeuL
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - app
      x-lark-field-scopes:
      - contact:user.email:readonly
      - directory:employee.base.email:read
      - contact:user.employee:readonly
      - contact:user.employee_id:readonly
      - contact:user.phone:readonly
      x-lark-error-mappings:
      - code: 20001
        httpCode: 200
        msg: Invalid request. Please check request param
      - code: 20007
        httpCode: 200
        msg: Failed to generate a user access token. Please try again
      - code: 20008
        httpCode: 200
        msg: User not exist
      - code: 20009
        httpCode: 200
        msg: Tenant does not install app
      - code: 20021
        httpCode: 200
        msg: User resigned
      - code: 20022
        httpCode: 200
        msg: User frozen
      - code: 20023
        httpCode: 200
        msg: User not registered
      - code: 20024
        httpCode: 200
        msg: App id in user_access_token or refresh_token diff with app id in app_access_token or tenant_access_token. Please
          keep the app id consistent
      - code: 20025
        httpCode: 200
        msg: Lack of app_id or app_secret in request
      - code: 20028
        httpCode: 200
        msg: Invalid app id
      - code: 20050
        httpCode: 500
        msg: System error
      x-lark-rate-limit:
        tier: 0
  /open-apis/authen/v1/user_info:
    get:
      operationId: authen_user_info_get
      summary: 获取用户信息
      tags:
      - user_info
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/authen-v1/user_info/get
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        description: 用户姓名
                        example: zhangsan
                      en_name:
                        type: string
                        description: 用户英文名称
                        example: zhangsan
                      avatar_url:
                        type: string
                        description: 用户头像
                        example: www.feishu.cn/avatar/icon
                      avatar_thumb:
                        type: string
                        description: 用户头像 72x72
                        example: www.feishu.cn/avatar/icon
                      avatar_middle:
                        type: string
                        description: 用户头像 240x240
                        example: www.feishu.cn/avatar/icon
                      avatar_big:
                        type: string
                        description: 用户头像 640x640
                        example: www.feishu.cn/avatar/icon
                      open_id:
                        type: string
                        description: 用户在应用内的唯一标识
                        example: ou-caecc734c2e3328a62489fe0648c4b98779515d3
                      union_id:
                        type: string
                        description: 用户统一ID
                        example: on-d89jhsdhjsajkda7828enjdj328ydhhw3u43yjhdj
                      email:
                        type: string
                        description: 用户邮箱
                        example: zhangsan@feishu.cn
                      enterprise_email:
                        type: string
                        description: 企业邮箱，请先确保已在管理后台启用飞书邮箱服务
                        example: zhangsan@feishu.cn
                      user_id:
                        type: string
                        description: 用户 user_id
                        example: 5d9bdxxx
                      mobile:
                        type: string
                        description: 用户手机号
                        example: +86130002883xx
                      tenant_key:
                        type: string
                        description: 当前企业标识
                        example: 736588c92lxf175d
                      employee_no:
                        type: string
                        description: 用户工号
                        example: '111222333'
      x-lark-access-tokens:
      - user
      x-lark-field-scopes:
      - contact:contact:access_as_app
      - contact:contact:readonly_as_app
      - contact:user.email:readonly
      - directory:employee.base.email:read
      - contact:user.employee_id:readonly
      - contact:user.phone:readonly
      - contact:user.employee:readonly
      - contact:contact:readonly
      x-lark-error-mappings:
      - code: 20001
        httpCode: 200
        msg: Invalid request. Please check request param
      - code: 20005
        httpCode: 200
        msg: The user access token passed is invalid. Please check the value
      - code: 20008
        httpCode: 200
        msg: User not exist
      - code: 20021
        httpCode: 200
        msg: User resigned
      - code: 20022
        httpCode: 200
        msg: User frozen
      - code: 20023
        httpCode: 200
        msg: User not registered
      - code: 20050
        httpCode: 500
        msg: System error
      x-lark-rate-limit:
        tier: 0
components:
  schemas:
    Schema:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data'
    Data:
      type: object
      properties:
        access_token:
          type: string
          description: user_access_token，用于获取用户资源
        token_type:
          type: string
          description: token 类型
        expires_in:
          type: integer
          description: '`access_token`的有效期，单位: 秒'
        name:
          type: string
          description: 用户姓名
        en_name:
          type: string
          description: 用户英文名称
        avatar_url:
          type: string
          description: 用户头像
        avatar_thumb:
          type: string
          description: 用户头像 72x72
        avatar_middle:
          type: string
          description: 用户头像 240x240
        avatar_big:
          type: string
          description: 用户头像 640x640
        open_id:
          type: string
          description: 用户在应用内的唯一标识
        union_id:
          type: string
          description: 用户统一ID
        email:
          type: string
          description: 用户邮箱
        enterprise_email:
          type: string
          description: 企业邮箱，请先确保已在管理后台启用飞书邮箱服务
        user_id:
          type: string
          description: 用户 user_id
        mobile:
          type: string
          description: 用户手机号
        tenant_key:
          type: string
          description: 当前企业标识
        refresh_expires_in:
          type: integer
          description: '`refresh_token` 的有效期，单位: 秒'
        refresh_token:
          type: string
          description: 刷新用户 `access_token` 时使用的 token
        sid:
          type: string
          description: 用户当前登录态session的唯一标识，为空则不返回
    Schema2:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data2'
    Data2:
      type: object
      properties:
        access_token:
          type: string
          description: user_access_token，用于获取用户资源和访问某些open api
          example: u-5Dak9ZAxJ9tFUn8MaTD_BFM51FNdg5xzO0y010000HWb
        refresh_token:
          type: string
          description: 刷新用户 `access_token` 时使用的 token
          example: ur-6EyFQZyplb9URrOx5NtT_HM53zrJg59HXwy040400G.e
        token_type:
          type: string
          description: token 类型，固定值
          example: Bearer
        expires_in:
          type: integer
          description: '`access_token`的有效期，单位: 秒，一般是两个小时左右，需要以返回结果为准'
          example: '7199'
        refresh_expires_in:
          type: integer
          description: '`refresh_token` 的有效期，单位: 秒，一般是30天左右，需要以返回结果为准'
          example: '2591999'
        scope:
          type: string
          description: 用户授予app的权限全集
          example: auth:user.id:read bitable:app
      required:
      - access_token
      - token_type
