# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · baike API（全量）
  description: |-
    飞书开放平台 `baike` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T04:09:08Z'
  x-lark-project: baike
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T04:09:08Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: classification
- name: draft
- name: entity
- name: file
paths:
  /open-apis/baike/v1/classifications:
    get:
      operationId: baike_classification_list
      summary: 获取词典分类
      tags:
      - classification
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/classification/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
        example: '20'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: 408ecac018b2e3518db37275e812aad7bb8ad3e755fc886f322ac6c430ba
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 唯一分类 ID
                              example: '7049606926702837761'
                            name:
                              type: string
                              description: 分类名称
                              example: 行业术语
                            father_id:
                              type: string
                              description: 父级分类的 ID
                              example: '7049606926702837777'
                          required:
                          - id
                      page_token:
                        type: string
                        description: 分页标记，当还有下一页时会返回新的 page_token，否则 page_token 为空
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - baike:entity:exempt_review
      - baike:entity
      - baike:entity:readonly
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: ''
      - code: 1540002
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/baike/v1/drafts:
    post:
      operationId: baike_draft_create
      summary: 创建草稿
      tags:
      - draft
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/draft/create
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: 实体词 Id
                  example: enterprise_40217521
                main_keys:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: 名称
                        example: 企业百科
                      display_status:
                        type: object
                        properties:
                          allow_highlight:
                            type: boolean
                            description: 是否允许在 IM 和 Doc 等场景进行高亮提示
                            example: 'true'
                          allow_search:
                            type: boolean
                            description: 是否允许在飞书中被搜索到
                            example: 'true'
                        required:
                        - allow_highlight
                        - allow_search
                        description: 展示状态
                    required:
                    - key
                    - display_status
                  description: 词条名
                aliases:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: 名称
                        example: 企业百科
                      display_status:
                        type: object
                        properties:
                          allow_highlight:
                            type: boolean
                            description: 是否允许在 IM 和 Doc 等场景进行高亮提示
                            example: 'true'
                          allow_search:
                            type: boolean
                            description: 是否允许在飞书中被搜索到
                            example: 'true'
                        required:
                        - allow_highlight
                        - allow_search
                        description: 展示状态
                    required:
                    - key
                    - display_status
                  description: 别名
                description:
                  type: string
                  description: 详情描述
                  example: 企业百科是飞书提供的一款知识管理工具，通过企业百科可以帮助企业将分散的知识信息进行聚合，并通过UGC的方式，促进企业知识的保鲜和流通
                related_meta:
                  allOf:
                  - $ref: '#/components/schemas/RelatedMeta2'
                  description: 相关数据
                outer_info:
                  type: object
                  properties:
                    provider:
                      type: string
                      description: 数据提供方（不能包含中横线 "-"）
                      example: 星云
                    outer_id:
                      type: string
                      description: 唯一标识，可用来和其他平台的内容进行绑定。需保证和百科词条唯一对应（不能包含中横线 "-"）
                      example: 12345abc
                  required:
                  - provider
                  - outer_id
                  description: 外部 id 关联数据
                rich_text:
                  type: string
                  description: 富文本格式（当填写富文本内容时，description字段将会失效可不填写），支持的格式参考[企业百科指南](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/overview)中的释义部分
                  example: '&lt;b&gt;加粗&lt;/b&gt;&lt;i&gt;斜体&lt;/i&gt;&lt;p&gt;&lt;a href="https://feishu.cn"&gt;l链接&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span&gt;企业百科是飞书提供的一款知识管理工具，通过企业百科可以帮助企业将分散的知识信息进行聚合，并通过UGC的方式，促进企业知识的保鲜和流通&lt;/span&gt;&lt;/p&gt;'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - baike:entity:exempt_review
      - baike:entity
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: invalid param
      - code: 1540002
        httpCode: 500
        msg: network anomaly, please try again
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.related_meta.users[*].id
        section: 0
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.related_meta.chats[*].id
        section: 0
  /open-apis/baike/v1/drafts/{draft_id}:
    put:
      operationId: baike_draft_update
      summary: 更新草稿
      tags:
      - draft
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/draft/update
      parameters:
      - name: draft_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 草稿 ID
        example: '42322'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: 实体词 Id
                  example: enterprise_40217521
                main_keys:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: 名称
                        example: 企业百科
                      display_status:
                        type: object
                        properties:
                          allow_highlight:
                            type: boolean
                            description: 是否允许在 IM 和 Doc 等场景进行高亮提示
                            example: 'true'
                          allow_search:
                            type: boolean
                            description: 是否允许在飞书中被搜索到
                            example: 'true'
                        required:
                        - allow_highlight
                        - allow_search
                        description: 展示状态
                    required:
                    - key
                    - display_status
                  description: 词条名
                aliases:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: 名称
                        example: 企业百科
                      display_status:
                        type: object
                        properties:
                          allow_highlight:
                            type: boolean
                            description: 是否允许在 IM 和 Doc 等场景进行高亮提示
                            example: 'true'
                          allow_search:
                            type: boolean
                            description: 是否允许在飞书中被搜索到
                            example: 'true'
                        required:
                        - allow_highlight
                        - allow_search
                        description: 展示状态
                    required:
                    - key
                    - display_status
                  description: 别名
                description:
                  type: string
                  description: 详情描述
                  example: 企业百科是飞书提供的一款知识管理工具，通过企业百科可以帮助企业将分散的知识信息进行聚合，并通过UGC的方式，促进企业知识的保鲜和流通
                related_meta:
                  allOf:
                  - $ref: '#/components/schemas/RelatedMeta2'
                  description: 相关数据
                rich_text:
                  type: string
                  description: 富文本格式（当填写富文本内容时，description字段将会失效可不填写），支持的格式参考[企业百科指南](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/overview)中的释义部分
                  example: '&lt;b&gt;加粗&lt;/b&gt;&lt;i&gt;斜体&lt;/i&gt;&lt;p&gt;&lt;a href="https://feishu.cn"&gt;l链接&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span&gt;企业百科是飞书提供的一款知识管理工具，通过企业百科可以帮助企业将分散的知识信息进行聚合，并通过UGC的方式，促进企业知识的保鲜和流通&lt;/span&gt;&lt;/p&gt;'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - baike:entity:exempt_review
      - baike:entity
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: invalid param
      - code: 1540002
        httpCode: 500
        msg: network anomaly, please try again
      - code: 1540100
        httpCode: 403
        msg: draft has been reviewed and cannot be edited
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.related_meta.users[*].id
        section: 0
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.related_meta.chats[*].id
        section: 0
  /open-apis/baike/v1/entities:
    post:
      operationId: baike_entity_create
      summary: 创建免审词条
      tags:
      - entity
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/entity/create
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schema4'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - baike:entity:exempt_review
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: ''
      - code: 1540002
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.related_meta.users[*].id
        section: 0
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.related_meta.chats[*].id
        section: 0
    get:
      operationId: baike_entity_list
      summary: 获取词条列表
      tags:
      - entity
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/entity/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
        example: '20'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: 408ecac018b2e3518db37275e812aad7bb8ad3e755fc886f322ac6c430ba
      - name: provider
        in: query
        required: false
        schema:
          type: string
        description: 相关外部系统【可用来过滤词条数据】
        example: 星云
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - baike:entity:exempt_review
      - baike:entity
      - baike:entity:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: invalid param
      - code: 1540002
        httpCode: 500
        msg: network anomaly, please try again
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/baike/v1/entities/extract:
    post:
      operationId: baike_entity_extract
      summary: 提取潜在的词条
      tags:
      - entity
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/entity/extract
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: 需要被提取百科实体词的文本（不会过滤租户已成为百科词条的内容）
                  example: 企业百科是一部高效汇聚企业内各类信息，并可由企业成员参与编辑的在线百科全书
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      entity_word:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 抽取出的词条名
                            aliases:
                              type: array
                              items:
                                type: string
                              description: 词条可能的推荐别名
                          required:
                          - name
                        description: 文本中可能的成为百科词条的实体词
                    required:
                    - entity_word
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - baike:entity
      - baike:entity:readonly
      - baike:entity:exempt_review
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: invalid param
      - code: 1540002
        httpCode: 500
        msg: network anomaly, please try again
      x-lark-rate-limit:
        tier: 3
  /open-apis/baike/v1/entities/{entity_id}:
    get:
      operationId: baike_entity_get
      summary: 获取词条详情
      tags:
      - entity
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/entity/get
      parameters:
      - name: entity_id
        in: path
        required: true
        schema:
          type: string
        description: 词条 ID
        example: enterprise_0
      - name: provider
        in: query
        required: false
        schema:
          type: string
        description: 外部系统
        example: 星云
      - name: outer_id
        in: query
        required: false
        schema:
          type: string
        description: 词条在外部系统中对应的唯一 ID
        example: 123aaa
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - baike:entity:exempt_review
      - baike:entity
      - baike:entity:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: invalid param
      - code: 1540002
        httpCode: 500
        msg: network anomaly, please try again
      x-lark-rate-limit:
        tier: 4
    put:
      operationId: baike_entity_update
      summary: 更新免审词条
      tags:
      - entity
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/entity/update
      parameters:
      - name: entity_id
        in: path
        required: true
        schema:
          type: string
        description: 实体词 ID
        example: enterprise_40217521
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schema4'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - baike:entity:exempt_review
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: ''
      - code: 1540002
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.related_meta.users[*].id
        section: 0
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.related_meta.chats[*].id
        section: 0
  /open-apis/baike/v1/entities/highlight:
    post:
      operationId: baike_entity_highlight
      summary: 词条高亮
      tags:
      - entity
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/entity/highlight
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: 需要识别百科词条的内容（不超过1000字）
                  example: 企业百科是飞书提供的一款知识管理工具
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      phrases:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 文本中切分出的百科词条名称
                              example: 企业百科
                            entity_ids:
                              type: array
                              items:
                                type: string
                              description: 实体词 id 列表
                            span:
                              type: object
                              properties:
                                start:
                                  type: integer
                                  description: 偏移量开始位置，从 0 开始计数（编码格式采用 utf-8）
                                  example: '0'
                                end:
                                  type: integer
                                  description: 偏移量结束位置，从 0 开始计数（编码格式采用 utf-8）
                                  example: '4'
                              required:
                              - start
                              - end
                              description: 实体词所在位置
                          required:
                          - name
                          - entity_ids
                          - span
                        description: 返回识别到的实体词信息
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - baike:entity:exempt_review
      - baike:entity
      - baike:entity:readonly
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: invalid param
      - code: 1540002
        httpCode: 500
        msg: network anomaly, please try again
      x-lark-rate-limit:
        tier: 4
  /open-apis/baike/v1/entities/match:
    post:
      operationId: baike_entity_match
      summary: 精准搜索词条
      tags:
      - entity
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/entity/match
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                word:
                  type: string
                  description: 搜索关键词，将与词条名、别名进行精准匹配
                  example: 企业百科
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            entity_id:
                              type: string
                              description: 实体词 id
                              example: enterprise_34809584
                            type:
                              type: integer
                              description: 匹配中的字段
                              enum:
                              - 0
                              - 1
                              - 2
                              x-enum-descriptions:
                                '0': 词条名
                                '1': 全称
                                '2': 别名
                              example: '0'
                        description: 匹配结果
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - baike:entity:exempt_review
      - baike:entity
      - baike:entity:readonly
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: invalid param
      - code: 1540002
        httpCode: 500
        msg: network anomaly, please try again
      x-lark-rate-limit:
        tier: 4
  /open-apis/baike/v1/entities/search:
    post:
      operationId: baike_entity_search
      summary: 模糊搜索词条
      tags:
      - entity
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/entity/search
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 每页返回的词条量
        example: '20'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: b152fa6e6f62a291019a04c3a93f365f8ac641910506ff15ff4cad6534e087cb4ed8fa2c
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: 搜索关键词
                  example: 飞书词典
                classification_filter:
                  type: object
                  properties:
                    include:
                      type: array
                      items:
                        type: string
                      description: 需要获取的分类
                    exclude:
                      type: array
                      items:
                        type: string
                      description: 需要排除的分类
                  description: 分类筛选
                sources:
                  type: array
                  items:
                    type: integer
                  description: 词条的创建来源，1：用户主动创建，2：批量导入，3：官方词，4：OpenAPI 创建
                creators:
                  type: array
                  items:
                    type: string
                  description: 创建者
                  example: ou_30b07b63089ea46518789914dac63d36
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - baike:entity:exempt_review
      - baike:entity
      - baike:entity:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: ''
      - code: 1540002
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.creators[*]
        section: 0
  /open-apis/baike/v1/files/{file_token}/download:
    get:
      operationId: baike_file_download
      summary: 下载图片
      tags:
      - file
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/file/download
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 需要下载的文件 token
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - baike:entity
      - baike:entity:readonly
      - baike:entity:exempt_review
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: ''
      - code: 1540002
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-file-download: true
  /open-apis/baike/v1/files/upload:
    post:
      operationId: baike_file_upload
      summary: 上传图片
      tags:
      - file
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/file/upload
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 文件名称，当前仅支持上传图片且图片格式为以下六种：icon、bmp、gif、png、jpeg、webp
                  example: 示例图片.png
                file:
                  type: string
                  format: binary
                  description: 二进制文件内容，高宽像素在 320-4096 像素之间，大小在 3KB-10MB 的图片
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      file_token:
                        type: string
                        description: 文件 token
                        x-lark-id-types:
                          file_token: ccm_file
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - baike:entity
      - baike:entity:exempt_review
      x-lark-error-mappings:
      - code: 1540001
        httpCode: 400
        msg: ''
      - code: 1540002
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-file-upload: true
components:
  schemas:
    Entity:
      type: object
      properties:
        id:
          type: string
          description: 实体词 Id
          example: enterprise_40217521
        main_keys:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                description: 名称
                example: 企业百科
              display_status:
                type: object
                properties:
                  allow_highlight:
                    type: boolean
                    description: 是否允许在 IM 和 Doc 等场景进行高亮提示
                    example: 'true'
                  allow_search:
                    type: boolean
                    description: 是否允许在飞书中被搜索到
                    example: 'true'
                required:
                - allow_highlight
                - allow_search
                description: 展示状态
            required:
            - key
            - display_status
          description: 词条名
        aliases:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                description: 名称
                example: 企业百科
              display_status:
                type: object
                properties:
                  allow_highlight:
                    type: boolean
                    description: 是否允许在 IM 和 Doc 等场景进行高亮提示
                    example: 'true'
                  allow_search:
                    type: boolean
                    description: 是否允许在飞书中被搜索到
                    example: 'true'
                required:
                - allow_highlight
                - allow_search
                description: 展示状态
            required:
            - key
            - display_status
          description: 别名
        description:
          type: string
          description: 详情描述
          example: 企业百科是飞书提供的一款知识管理工具，通过企业百科可以帮助企业将分散的知识信息进行聚合，并通过UGC的方式，促进企业知识的保鲜和流通
        creator:
          type: string
          description: 创建者
          example: ou_30b07b63089ea46518789914dac63d36
          format: int64
        create_time:
          type: string
          description: 词条创建时间（秒级时间戳）
          example: '1649318125'
          format: int64
        updater:
          type: string
          description: 最近一次更新者
          example: ou_30b07b63089ea46518789914dac63d36
          format: int64
        update_time:
          type: string
          description: 最近一次更新实体词时间（秒级时间戳）
          example: '1649318125'
          format: int64
        related_meta:
          allOf:
          - $ref: '#/components/schemas/RelatedMeta'
          description: 相关数据
        statistics:
          type: object
          properties:
            like_count:
              type: integer
              description: 点赞数量
              example: '55'
            dislike_count:
              type: integer
              description: 点踩数量
              example: '3'
          required:
          - like_count
          - dislike_count
          description: 统计数据
        outer_info:
          type: object
          properties:
            provider:
              type: string
              description: 数据提供方（不能包含中横线 "-"）
              example: 星云
            outer_id:
              type: string
              description: 唯一标识，可用来和其他平台的内容进行绑定。需保证和百科词条唯一对应（不能包含中横线 "-"）
              example: 12345abc
          required:
          - provider
          - outer_id
          description: 外部 id 关联数据
        rich_text:
          type: string
          description: 富文本格式（当填写富文本内容时，description字段将会失效可不填写），支持的格式参考[企业百科指南](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/overview)中的释义部分
          example: '&lt;b&gt;加粗&lt;/b&gt;&lt;i&gt;斜体&lt;/i&gt;&lt;p&gt;&lt;a href="https://feishu.cn"&gt;l链接&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span&gt;企业百科是飞书提供的一款知识管理工具，通过企业百科可以帮助企业将分散的知识信息进行聚合，并通过UGC的方式，促进企业知识的保鲜和流通&lt;/span&gt;&lt;/p&gt;'
        source:
          type: integer
          description: 词条的创建来源，1：用户主动创建，2：批量导入，3：官方词，4：OpenAPI 创建
          example: '1'
      required:
      - main_keys
      description: 实体词
    RelatedMeta:
      type: object
      properties:
        users:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: 数据 id
                example: 7dab8a3d3cdcc9da365777c7ad535d62
              title:
                type: string
                description: 标题
                example: 飞书官网
              url:
                type: string
                description: 链接地址
                example: https://www.feishu.cn/hc/zh-CN
            required:
            - id
          description: 关联用户信息
        chats:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: 数据 id
                example: 7dab8a3d3cdcc9da365777c7ad535d62
              title:
                type: string
                description: 标题
                example: 飞书官网
              url:
                type: string
                description: 链接地址
                example: https://www.feishu.cn/hc/zh-CN
            required:
            - id
          description: 关联群组信息
        docs:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                description: 标题
                example: 飞书官网
              url:
                type: string
                description: 链接地址
                example: https://www.feishu.cn/hc/zh-CN
          description: 关联文档信息
        oncalls:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: 数据 id
                example: 7dab8a3d3cdcc9da365777c7ad535d62
              title:
                type: string
                description: 标题
                example: 飞书官网
              url:
                type: string
                description: 链接地址
                example: https://www.feishu.cn/hc/zh-CN
            required:
            - id
          description: 关联值班者信息
        links:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                description: 标题
                example: 飞书官网
              url:
                type: string
                description: 链接地址
                example: https://www.feishu.cn/hc/zh-CN
          description: 关联链接信息
        abbreviations:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: 相关其他词条 id
                example: enterprise_51587960
          description: 相关词条信息
        classifications:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: 唯一分类 ID
                example: '7049606926702837761'
              name:
                type: string
                description: 分类名称
                example: 行业术语
              father_id:
                type: string
                description: 父级分类的 ID
                example: '7049606926702837777'
            required:
            - id
          description: 所属分类信息（不支持传入一级分类。词条不可同时属于同一个一级分类下的多个二级分类，一级分类下的二级分类互斥）
        images:
          type: array
          items:
            type: object
            properties:
              token:
                type: string
                description: 通过文件接口上传后的图片 token
            required:
            - token
          description: 上传的相关图片
      description: 相关数据
    Schema:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data'
    Data:
      type: object
      properties:
        entity:
          $ref: '#/components/schemas/Entity'
    Schema2:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data2'
    Schema3:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data3'
    Data2:
      type: object
      properties:
        draft:
          $ref: '#/components/schemas/Draft'
    Draft:
      type: object
      properties:
        draft_id:
          type: string
          description: 草稿 Id
          example: '42322'
          format: int64
        entity:
          allOf:
          - $ref: '#/components/schemas/Entity'
          description: 实体词
    Data3:
      type: object
      properties:
        entities:
          type: array
          items:
            $ref: '#/components/schemas/Entity'
        page_token:
          type: string
          description: 分页标记，当还有下一页时会返回新的 page_token，否则 page_token 为空
          example: 408ecac018b2e3518db37275e812aad7bb8ad3e755fc886f322ac6c430ba
    RelatedMeta2:
      type: object
      properties:
        users:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: 数据 id
                example: 7dab8a3d3cdcc9da365777c7ad535d62
              title:
                type: string
                description: 标题
                example: 飞书官网
            required:
            - id
          description: 关联用户信息
        chats:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: 数据 id
                example: 7dab8a3d3cdcc9da365777c7ad535d62
            required:
            - id
          description: 关联群组信息
        docs:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                description: 标题
                example: 飞书官网
              url:
                type: string
                description: 链接地址
                example: https://www.feishu.cn/hc/zh-CN
          description: 关联文档信息
        oncalls:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: 数据 id
                example: 7dab8a3d3cdcc9da365777c7ad535d62
            required:
            - id
          description: 关联值班者信息
        links:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                description: 标题
                example: 飞书官网
              url:
                type: string
                description: 链接地址
                example: https://www.feishu.cn/hc/zh-CN
          description: 关联链接信息
        abbreviations:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: 相关其他词条 id
                example: enterprise_51587960
          description: 相关词条信息
        classifications:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: 唯一分类 ID
                example: '7049606926702837761'
              father_id:
                type: string
                description: 父级分类的 ID
                example: '7049606926702837777'
            required:
            - id
          description: 所属分类信息（不支持传入一级分类。词条不可同时属于同一个一级分类下的多个二级分类，一级分类下的二级分类互斥）
        images:
          type: array
          items:
            type: object
            properties:
              token:
                type: string
                description: 通过文件接口上传后的图片 token
            required:
            - token
          description: 上传的相关图片
      description: 相关数据
    Schema4:
      type: object
      properties:
        main_keys:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                description: 名称
                example: 企业百科
              display_status:
                type: object
                properties:
                  allow_highlight:
                    type: boolean
                    description: 是否允许在 IM 和 Doc 等场景进行高亮提示
                    example: 'true'
                  allow_search:
                    type: boolean
                    description: 是否允许在飞书中被搜索到
                    example: 'true'
                required:
                - allow_highlight
                - allow_search
                description: 展示状态
            required:
            - key
            - display_status
          description: 词条名
        aliases:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                description: 名称
                example: 企业百科
              display_status:
                type: object
                properties:
                  allow_highlight:
                    type: boolean
                    description: 是否允许在 IM 和 Doc 等场景进行高亮提示
                    example: 'true'
                  allow_search:
                    type: boolean
                    description: 是否允许在飞书中被搜索到
                    example: 'true'
                required:
                - allow_highlight
                - allow_search
                description: 展示状态
            required:
            - key
            - display_status
          description: 别名
        description:
          type: string
          description: 详情描述
          example: 企业百科是飞书提供的一款知识管理工具，通过企业百科可以帮助企业将分散的知识信息进行聚合，并通过UGC的方式，促进企业知识的保鲜和流通
        related_meta:
          allOf:
          - $ref: '#/components/schemas/RelatedMeta2'
          description: 相关数据
        outer_info:
          type: object
          properties:
            provider:
              type: string
              description: 数据提供方（不能包含中横线 "-"）
              example: 星云
            outer_id:
              type: string
              description: 唯一标识，可用来和其他平台的内容进行绑定。需保证和百科词条唯一对应（不能包含中横线 "-"）
              example: 12345abc
          required:
          - provider
          - outer_id
          description: 外部 id 关联数据
        rich_text:
          type: string
          description: 富文本格式（当填写富文本内容时，description字段将会失效可不填写），支持的格式参考[企业百科指南](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/baike-v1/overview)中的释义部分
          example: '&lt;b&gt;加粗&lt;/b&gt;&lt;i&gt;斜体&lt;/i&gt;&lt;p&gt;&lt;a href="https://feishu.cn"&gt;l链接&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span&gt;企业百科是飞书提供的一款知识管理工具，通过企业百科可以帮助企业将分散的知识信息进行聚合，并通过UGC的方式，促进企业知识的保鲜和流通&lt;/span&gt;&lt;/p&gt;'
