# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · bitable API（全量）
  description: |-
    飞书开放平台 `bitable` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: bitable
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: app.block_workflow
- name: app.dashboard
- name: app.role.member
- name: app.role
- name: app.table.field
- name: app.table.field_group
- name: app.table.form.field
- name: app.table.form
- name: app.table.record
- name: app.table.view
- name: app.table
- name: app.workflow
- name: app
paths:
  /open-apis/bitable/v1/apps/{app_token}/block_workflows:
    get:
      operationId: bitable_app_block_workflow_list
      summary: 列出工作流
      tags:
      - app.block_workflow
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-block_workflow/list
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: 多维表格Token
        example: U9sGw5wyoiOIqdk1C4mcbYmMnbt
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      workflows:
                        type: array
                        items:
                          type: object
                          properties:
                            workflow_id:
                              type: string
                              description: 工作流唯一键
                              example: '12412312421312'
                            title:
                              type: string
                              description: 工作流标题
                              example: 工作流
                            status:
                              type: string
                              description: 工作流状态
                              enum:
                              - Enable
                              - Disable
                              x-enum-descriptions:
                                Enable: 启用
                                Disable: 禁用
                              example: Enable
                        description: 工作流列表
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - bitable:app
      - base:workflow:read
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 400
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 400
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 400
        msg: Fail
      - code: 1254003
        httpCode: 400
        msg: WrongBaseToken
      - code: 1254004
        httpCode: 400
        msg: WrongTableId
      - code: 1254005
        httpCode: 400
        msg: WrongViewId
      - code: 1254006
        httpCode: 400
        msg: WrongRecordId
      - code: 1254007
        httpCode: 400
        msg: EmptyValue
      - code: 1254008
        httpCode: 400
        msg: EmptyView
      - code: 1254009
        httpCode: 400
        msg: WrongFieldId
      - code: 1254010
        httpCode: 400
        msg: ReqConvError
      - code: 1254015
        httpCode: 400
        msg: Field types do not match.
      - code: 1254027
        httpCode: 403
        msg: UploadAttachNotAllowed
      - code: 1254030
        httpCode: 400
        msg: InvalidPageToken
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254037
        httpCode: 400
        msg: Invalid client token, make sure that it complies with the specification.
      - code: 1254040
        httpCode: 400
        msg: BaseTokenNotFound
      - code: 1254041
        httpCode: 400
        msg: TableIdNotFound
      - code: 1254042
        httpCode: 400
        msg: ViewIdNotFound
      - code: 1254043
        httpCode: 400
        msg: RecordIdNotFound
      - code: 1254044
        httpCode: 400
        msg: FieldIdNotFound
      - code: 1254045
        httpCode: 400
        msg: FieldNameNotFound
      - code: 1254060
        httpCode: 400
        msg: TextFieldConvFail
      x-lark-rate-limit:
        tier: 2
  /open-apis/bitable/v1/apps/{app_token}/dashboards/{block_id}/copy:
    post:
      operationId: bitable_app_dashboard_copy
      summary: 复制仪表盘
      tags:
      - app.dashboard
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-dashboard/copy
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: 多维表格 token
        example: basbcldP5xZeskcHDFZQfeToydb
      - name: block_id
        in: path
        required: true
        schema:
          type: string
        description: 多维表格 block_id
        example: blkEsvEEaNllY2UV
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 仪表盘名称
                  example: Dashboard
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      block_id:
                        type: string
                        description: 多维表格 block_id
                        example: blkEsvEEaNllY2UV
                      name:
                        type: string
                        description: block 名称
                        example: Dashboard
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - bitable:app
      - base:dashboard:copy
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 400
        msg: Wrong request JSON, make sure that it complies with the specification.
      - code: 1254001
        httpCode: 400
        msg: Wrong request body, make sure that it complies with the specification.
      - code: 1254002
        httpCode: 400
        msg: Processing failed, please try again.
      - code: 1254003
        httpCode: 400
        msg: Wrong bitable app token, make sure that it complies with the specification.
      - code: 1254004
        httpCode: 400
        msg: Wrong table id, make sure that it complies with the specification.
      - code: 1254005
        httpCode: 400
        msg: Wrong view id, make sure that it complies with the specification.
      - code: 1254006
        httpCode: 400
        msg: Wrong record id, make sure that it complies with the specification.
      - code: 1254007
        httpCode: 400
        msg: Got empty value.
      - code: 1254008
        httpCode: 400
        msg: Got empty view.
      - code: 1254009
        httpCode: 400
        msg: The field id is wrong, please modify.
      - code: 1254010
        httpCode: 400
        msg: Failed to convert request, please make sure the request is correct.
      - code: 1254016
        httpCode: 400
        msg: The sort info is invalid, please modify.
      - code: 1254018
        httpCode: 400
        msg: The filter info is invalid, please modify.
      - code: 1254019
        httpCode: 400
        msg: The view type is invalid, please modify.
      - code: 1254020
        httpCode: 400
        msg: The view name is duplicated, please modify.
      - code: 1254021
        httpCode: 400
        msg: Got empty view name.
      - code: 1254022
        httpCode: 400
        msg: The view name is invalid, please modify.
      - code: 1254030
        httpCode: 400
        msg: The page token is invalid, please modify.
      - code: 1254032
        httpCode: 400
        msg: Invalid role name, make sure that it complies with the specification.
      - code: 1254033
        httpCode: 400
        msg: Duplicated role name, use another name instead.
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254038
        httpCode: 400
        msg: Invalid name, make sure that it complies with the specification.
      - code: 1254039
        httpCode: 400
        msg: Duplicated name, use another name instead.
      - code: 1254040
        httpCode: 404
        msg: Bitable app token is not found.
      - code: 1254041
        httpCode: 404
        msg: Table id is not found.
      - code: 1254042
        httpCode: 404
        msg: View id is not found.
      - code: 1254043
        httpCode: 404
        msg: Record id is not found.
      - code: 1254044
        httpCode: 404
        msg: Field id is not found.
      - code: 1254045
        httpCode: 404
        msg: Field name is not found.
      - code: 1254047
        httpCode: 404
        msg: Role id is not found.
      - code: 1254048
        httpCode: 400
        msg: Member is not found.
      - code: 1254049
        httpCode: 404
        msg: Form field is not found.
      - code: 1254050
        httpCode: 404
        msg: Source block is not found.
      - code: 1254060
        httpCode: 400
        msg: Failed to convert text field, please make sure it is correct.
      - code: 1254061
        httpCode: 400
        msg: Failed to convert number field, please make sure it is correct.
      - code: 1254062
        httpCode: 400
        msg: Failed to convert single select field, please make sure it is correct.
      - code: 1254063
        httpCode: 400
        msg: Failed to convert multi select field, please make sure it is correct.
      - code: 1254064
        httpCode: 400
        msg: Failed to convert datetime field, please make sure it is correct.
      - code: 1254065
        httpCode: 400
        msg: Failed to convert checkbox field, please make sure it is correct.
      - code: 1254066
        httpCode: 400
        msg: Failed to convert user field, please make sure it is correct.
      - code: 1254067
        httpCode: 400
        msg: Failed to convert link field, please make sure it is correct.
      - code: 1254100
        httpCode: 400
        msg: Table exceeds limit.
      - code: 1254101
        httpCode: 400
        msg: View exceeds limit.
      - code: 1254103
        httpCode: 400
        msg: File exceeds limit.
      - code: 1254104
        httpCode: 400
        msg: Record add once exceeds limit.
      - code: 1254110
        httpCode: 400
        msg: Role exceeds limit
      - code: 1254130
        httpCode: 400
        msg: Cell is too large.
      - code: 1254290
        httpCode: 429
        msg: Too many request in a short period of time, please try again later.
      - code: 1254291
        httpCode: 400
        msg: Lock not acquired, please try again later.
      - code: 1254301
        httpCode: 400
        msg: The operation type is error, please modify.
      - code: 1254302
        httpCode: 403
        msg: The role has no permissions.
      - code: 1254607
        httpCode: 400
        msg: Data not ready, please try again later.
      - code: 1255001
        httpCode: 400
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1255002
        httpCode: 400
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1255003
        httpCode: 400
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1255004
        httpCode: 400
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1255005
        httpCode: 400
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later.
      x-lark-rate-limit:
        tier: 7
  /open-apis/bitable/v1/apps/{app_token}/dashboards:
    get:
      operationId: bitable_app_dashboard_list
      summary: 列出仪表盘
      tags:
      - app.dashboard
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-dashboard/list
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: 多维表格文档 Token
        example: bascng7vrxcxpig7geggXiCtadY
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: blknkqrP3RqUkcAW
      - name: with_share_config
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      dashboards:
                        type: array
                        items:
                          type: object
                          properties:
                            block_id:
                              type: string
                              description: 仪表盘 ID
                              example: blknkqrP3RqUkcAW
                            name:
                              type: string
                              description: 仪表盘名字
                              example: 仪表盘1
                          required:
                          - block_id
                          - name
                        description: 仪表盘信息
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: blknkqrP3RqUkcAW
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'false'
                      total:
                        type: integer
                    required:
                    - dashboards
                    - page_token
                    - has_more
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - bitable:app
      - bitable:app:readonly
      - base:dashboard:read
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 400
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 400
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 400
        msg: Fail
      - code: 1254003
        httpCode: 400
        msg: WrongBaseToken
      - code: 1254004
        httpCode: 400
        msg: WrongTableId
      - code: 1254005
        httpCode: 400
        msg: WrongViewId
      - code: 1254006
        httpCode: 400
        msg: WrongRecordId
      - code: 1254007
        httpCode: 400
        msg: EmptyValue
      - code: 1254008
        httpCode: 400
        msg: EmptyView
      - code: 1254009
        httpCode: 400
        msg: WrongFieldId
      - code: 1254010
        httpCode: 400
        msg: ReqConvError
      - code: 1254016
        httpCode: 400
        msg: InvalidSort
      - code: 1254018
        httpCode: 400
        msg: InvalidFilter
      - code: 1254019
        httpCode: 400
        msg: InvalidViewType
      - code: 1254020
        httpCode: 400
        msg: ViewNameDuplicated
      - code: 1254021
        httpCode: 400
        msg: EmptyViewName
      - code: 1254022
        httpCode: 400
        msg: InvalidViewName
      - code: 1254030
        httpCode: 400
        msg: InvalidPageToken
      - code: 1254032
        httpCode: 400
        msg: InvalidRoleName
      - code: 1254033
        httpCode: 400
        msg: RoleNameDuplicated
      - code: 1254040
        httpCode: 404
        msg: BaseTokenNotFound
      - code: 1254041
        httpCode: 404
        msg: TableIdNotFound
      - code: 1254042
        httpCode: 404
        msg: ViewIdNotFound
      - code: 1254043
        httpCode: 404
        msg: RecordIdNotFound
      - code: 1254044
        httpCode: 404
        msg: FieldIdNotFound
      - code: 1254045
        httpCode: 404
        msg: FieldNameNotFound
      - code: 1254047
        httpCode: 404
        msg: RoleIdNotFound
      - code: 1254048
        httpCode: 400
        msg: MemberNotFound
      - code: 1254049
        httpCode: 404
        msg: FormFieldNotFound
      - code: 1254060
        httpCode: 400
        msg: TextFieldConvFail
      - code: 1254061
        httpCode: 400
        msg: NumberFieldConvFail
      - code: 1254062
        httpCode: 400
        msg: SingleSelectFieldConvFail
      - code: 1254063
        httpCode: 400
        msg: MultiSelectFieldConvFail
      - code: 1254064
        httpCode: 400
        msg: DatetimeFieldConvFail
      - code: 1254065
        httpCode: 400
        msg: CheckboxFieldConvFail
      - code: 1254066
        httpCode: 400
        msg: UserFieldConvFail
      - code: 1254067
        httpCode: 400
        msg: LinkFieldConvFail
      - code: 1254100
        httpCode: 400
        msg: TableExceedLimit
      - code: 1254101
        httpCode: 400
        msg: ViewExceedLimit
      - code: 1254103
        httpCode: 400
        msg: FileExceedLimit
      - code: 1254104
        httpCode: 400
        msg: RecordAddOnceExceedLimit
      - code: 1254110
        httpCode: 400
        msg: RoleExceedLimit
      - code: 1254130
        httpCode: 400
        msg: TooLargeCell
      - code: 1254290
        httpCode: 429
        msg: TooManyRequest
      - code: 1254291
        httpCode: 400
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 400
        msg: OperationTypeError
      - code: 1254302
        httpCode: 403
        msg: RolePermNotAllow
      - code: 1255001
        httpCode: 400
        msg: InternalError
      - code: 1255002
        httpCode: 400
        msg: RpcError
      - code: 1255003
        httpCode: 400
        msg: MarshalError
      - code: 1255004
        httpCode: 400
        msg: UmMarshalError
      - code: 1255005
        httpCode: 400
        msg: ConvError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254200
        httpCode: 500
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1254011
        httpCode: 400
        msg: The page_size must be between 0 and 100.
      x-lark-rate-limit:
        tier: 8
      x-lark-pagination: true
  /open-apis/bitable/v1/apps/{app_token}/roles/{role_id}/members/batch_create:
    post:
      operationId: bitable_app_role_member_batch_create
      summary: 批量新增协作者
      tags:
      - app.role.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-role-member/batch_create
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: Bitable 文档 Token
        example: KIz5bcSM8aEytAsTDe1clvDGnxq
      - name: role_id
        in: path
        required: true
        schema:
          type: string
        description: 自定义角色 ID
        example: rola66uIZT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schema9'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - bitable:app
      - base:collaborator:create
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 400
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 400
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 400
        msg: Fail
      - code: 1254003
        httpCode: 400
        msg: WrongBaseToken
      - code: 1254032
        httpCode: 400
        msg: InvalidRoleName
      - code: 1254033
        httpCode: 400
        msg: RoleNameDuplicated
      - code: 1254040
        httpCode: 404
        msg: BaseTokenNotFound
      - code: 1254047
        httpCode: 404
        msg: RoleIdNotFound
      - code: 1254048
        httpCode: 400
        msg: ''
      - code: 1254110
        httpCode: 400
        msg: RoleExceedLimit
      - code: 1254290
        httpCode: 429
        msg: TooManyRequest
      - code: 1254291
        httpCode: 400
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 400
        msg: OperationTypeError
      - code: 1254302
        httpCode: 403
        msg: RolePermNotAllow
      - code: 1255001
        httpCode: 400
        msg: InternalError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      x-lark-rate-limit:
        tier: 7
  /open-apis/bitable/v1/apps/{app_token}/roles/{role_id}/members/batch_delete:
    post:
      operationId: bitable_app_role_member_batch_delete
      summary: 批量删除协作者
      tags:
      - app.role.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-role-member/batch_delete
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: 多维表格文档 Token
        example: KIz5bcSM8aEytAsTDe1clvDGnxq
      - name: role_id
        in: path
        required: true
        schema:
          type: string
        description: 自定义角色 ID
        example: rola66uIZT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schema9'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - bitable:app
      - base:collaborator:delete
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 400
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 400
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 400
        msg: Fail
      - code: 1254003
        httpCode: 400
        msg: WrongBaseToken
      - code: 1254032
        httpCode: 400
        msg: InvalidRoleName
      - code: 1254033
        httpCode: 400
        msg: RoleNameDuplicated
      - code: 1254040
        httpCode: 404
        msg: BaseTokenNotFound
      - code: 1254047
        httpCode: 404
        msg: RoleIdNotFound
      - code: 1254048
        httpCode: 400
        msg: ''
      - code: 1254110
        httpCode: 400
        msg: RoleExceedLimit
      - code: 1254290
        httpCode: 429
        msg: TooManyRequest
      - code: 1254291
        httpCode: 400
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 400
        msg: OperationTypeError
      - code: 1254302
        httpCode: 403
        msg: RolePermNotAllow
      - code: 1255001
        httpCode: 400
        msg: InternalError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      x-lark-rate-limit:
        tier: 7
  /open-apis/bitable/v1/apps/{app_token}/roles/{role_id}/members:
    post:
      operationId: bitable_app_role_member_create
      summary: 新增协作者
      tags:
      - app.role.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-role-member/create
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: bitable app token
        example: appbcbWCzen6D8dezhoCH2RpMAh
      - name: role_id
        in: path
        required: true
        schema:
          type: string
        description: 自定义角色的id
        example: roljRpwIUt
      - name: member_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          - chat_id
          - department_id
          - open_department_id
          x-enum-descriptions:
            open_id: 以open_id来识别协作者
            union_id: 以union_id来识别协作者
            user_id: 以user_id来识别协作者
            chat_id: 以chat_id来识别协作者
            department_id: 以department_id来识别协作者
            open_department_id: 以open_department_id来识别协作者
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 协作者id类型，与请求体中的member_id要对应
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                member_id:
                  type: string
                  description: 协作者id
                  example: ou_7dab8a3d3cdcc9da365777c7ad535d62
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - bitable:app
      - base:collaborator:create
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 200
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 200
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 200
        msg: Fail
      - code: 1254003
        httpCode: 200
        msg: WrongBaseToken
      - code: 1254010
        httpCode: 200
        msg: ReqConvError
      - code: 1254032
        httpCode: 400
        msg: InvalidRoleName
      - code: 1254033
        httpCode: 400
        msg: RoleNameDuplicated
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254040
        httpCode: 200
        msg: BaseTokenNotFound
      - code: 1254047
        httpCode: 404
        msg: RoleIdNotFound
      - code: 1254048
        httpCode: 404
        msg: MemberNotFound
      - code: 1254110
        httpCode: 400
        msg: RoleExceedLimit
      - code: 1254111
        httpCode: 400
        msg: MemberExceedLimit
      - code: 1254290
        httpCode: 200
        msg: TooManyRequest
      - code: 1254291
        httpCode: 200
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 400
        msg: OperationTypeError
      - code: 1254302
        httpCode: 403
        msg: RolePermNotAllow
      - code: 1255001
        httpCode: 200
        msg: InternalError
      - code: 1255002
        httpCode: 200
        msg: RpcError
      - code: 1255003
        httpCode: 200
        msg: MarshalError
      - code: 1255004
        httpCode: 200
        msg: UmMarshalError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      x-lark-rate-limit:
        tier: 7
    get:
      operationId: bitable_app_role_member_list
      summary: 列出协作者
      tags:
      - app.role.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-role-member/list
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: bitable app token
        example: appbcbWCzen6D8dezhoCH2RpMAh
      - name: role_id
        in: path
        required: true
        schema:
          type: string
        description: 自定义角色的id
        example: roljRpwIUt
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '100'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: xxxxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            open_id:
                              type: string
                              description: 用户的open_id
                              example: ou_xxxxxxxx
                            union_id:
                              type: string
                              description: 用户的union_id
                              example: on_xxxxxxxx
                            user_id:
                              type: string
                              description: 用户的user_id
                              example: xxxxxxxx
                            chat_id:
                              type: string
                              description: 群聊的chat_id
                              example: oc_xxxxxxxx
                              x-lark-id-types:
                                chat_id: chat
                            department_id:
                              type: string
                              description: 部门的department_id
                              example: xxxxxxxx
                            open_department_id:
                              type: string
                              description: 部门的open_department_id
                              example: od-xxxxxxxx
                            member_name:
                              type: string
                              description: 协作者名字
                              example: 张三
                            member_en_name:
                              type: string
                              description: 协作者英文名
                              example: San Zhang
                            member_type:
                              type: string
                              description: 协作者类型
                              enum:
                              - user
                              - chat
                              - department
                              x-enum-descriptions:
                                user: 用户
                                chat: 群组
                                department: 部门
                              example: user
                        description: 协作者列表
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的token
                      total:
                        type: integer
                        description: 总数
                        example: '10'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - bitable:app
      - bitable:app:readonly
      - base:collaborator:read
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 200
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 200
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 200
        msg: Fail
      - code: 1254003
        httpCode: 200
        msg: WrongBaseToken
      - code: 1254010
        httpCode: 200
        msg: ReqConvError
      - code: 1254032
        httpCode: 400
        msg: InvalidRoleName
      - code: 1254033
        httpCode: 400
        msg: RoleNameDuplicated
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254040
        httpCode: 200
        msg: BaseTokenNotFound
      - code: 1254047
        httpCode: 404
        msg: RoleIdNotFound
      - code: 1254048
        httpCode: 404
        msg: MemberNotFound
      - code: 1254110
        httpCode: 400
        msg: RoleExceedLimit
      - code: 1254111
        httpCode: 400
        msg: MemberExceedLimit
      - code: 1254200
        httpCode: 400
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1254290
        httpCode: 200
        msg: TooManyRequest
      - code: 1254291
        httpCode: 200
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 400
        msg: OperationTypeError
      - code: 1254302
        httpCode: 403
        msg: RolePermNotAllow
      - code: 1255001
        httpCode: 200
        msg: InternalError
      - code: 1255002
        httpCode: 200
        msg: RpcError
      - code: 1255003
        httpCode: 200
        msg: MarshalError
      - code: 1255004
        httpCode: 200
        msg: UmMarshalError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      x-lark-rate-limit:
        tier: 8
      x-lark-pagination: true
  /open-apis/bitable/v1/apps/{app_token}/roles/{role_id}/members/{member_id}:
    delete:
      operationId: bitable_app_role_member_delete
      summary: 删除协作者
      tags:
      - app.role.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-role-member/delete
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: bitable app token
        example: appbcbWCzen6D8dezhoCH2RpMAh
      - name: role_id
        in: path
        required: true
        schema:
          type: string
        description: 自定义角色的id
        example: roljRpwIUt
      - name: member_id
        in: path
        required: true
        schema:
          type: string
        description: 协作者id
        example: ou_7dab8a3d3cdcc9da365777c7ad53uew2
      - name: member_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          - chat_id
          - department_id
          - open_department_id
          x-enum-descriptions:
            open_id: 以open_id来识别协作者
            union_id: 以union_id来识别协作者
            user_id: 以user_id来识别协作者
            chat_id: 以chat_id来识别协作者
            department_id: 以department_id来识别协作者
            open_department_id: 以open_department_id来识别协作者
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 协作者id类型，与请求体中的member_id要对应
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - bitable:app
      - base:collaborator:delete
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 200
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 200
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 200
        msg: Fail
      - code: 1254003
        httpCode: 200
        msg: WrongBaseToken
      - code: 1254010
        httpCode: 200
        msg: ReqConvError
      - code: 1254032
        httpCode: 400
        msg: InvalidRoleName
      - code: 1254033
        httpCode: 400
        msg: RoleNameDuplicated
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254040
        httpCode: 200
        msg: BaseTokenNotFound
      - code: 1254047
        httpCode: 404
        msg: RoleIdNotFound
      - code: 1254048
        httpCode: 404
        msg: MemberNotFound
      - code: 1254110
        httpCode: 400
        msg: RoleExceedLimit
      - code: 1254111
        httpCode: 400
        msg: MemberExceedLimit
      - code: 1254290
        httpCode: 200
        msg: TooManyRequest
      - code: 1254291
        httpCode: 200
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 400
        msg: OperationTypeError
      - code: 1254302
        httpCode: 403
        msg: RolePermNotAllow
      - code: 1255001
        httpCode: 200
        msg: InternalError
      - code: 1255002
        httpCode: 200
        msg: RpcError
      - code: 1255003
        httpCode: 200
        msg: MarshalError
      - code: 1255004
        httpCode: 200
        msg: UmMarshalError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      x-lark-rate-limit:
        tier: 7
  /open-apis/bitable/v1/apps/{app_token}/roles:
    post:
      operationId: bitable_app_role_create
      summary: 新增自定义角色
      tags:
      - app.role
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-role/create
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: bitable app token
        example: appbcbWCzen6D8dezhoCH2RpMAh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schema3'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - bitable:app
      - base:role:create
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 200
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 200
        msg: ''
      - code: 1254002
        httpCode: 200
        msg: Fail
      - code: 1254003
        httpCode: 200
        msg: WrongBaseToken
      - code: 1254010
        httpCode: 200
        msg: ReqConvError
      - code: 1254032
        httpCode: 400
        msg: InvalidRoleName
      - code: 1254033
        httpCode: 400
        msg: RoleNameDuplicated
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254040
        httpCode: 200
        msg: BaseTokenNotFound
      - code: 1254047
        httpCode: 404
        msg: RoleIdNotFound
      - code: 1254110
        httpCode: 400
        msg: RoleExceedLimit
      - code: 1255002
        httpCode: 200
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1254290
        httpCode: 200
        msg: TooManyRequest
      - code: 1254291
        httpCode: 200
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 400
        msg: OperationTypeError
      - code: 1254302
        httpCode: 403
        msg: RolePermNotAllow
      - code: 1254304
        httpCode: 403
        msg: Only Available For Business and Enterprise Editions
      - code: 1255001
        httpCode: 200
        msg: InternalError
      - code: 1255003
        httpCode: 200
        msg: MarshalError
      - code: 1255004
        httpCode: 200
        msg: UmMarshalError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      x-lark-rate-limit:
        tier: 7
    get:
      operationId: bitable_app_role_list
      summary: 列出自定义角色
      tags:
      - app.role
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-role/list
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: bitable app token
        example: appbcbWCzen6D8dezhoCH2RpMAh
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: roljRpwIUt
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Role'
                        description: 角色列表
                      page_token:
                        type: string
                        description: 下一页分页的token
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      total:
                        type: integer
                        description: 总数
                        example: '10'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - bitable:app
      - bitable:app:readonly
      - base:role:read
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 200
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 200
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 200
        msg: Fail
      - code: 1254003
        httpCode: 200
        msg: WrongBaseToken
      - code: 1254010
        httpCode: 200
        msg: ReqConvError
      - code: 1254032
        httpCode: 400
        msg: InvalidRoleName
      - code: 1254033
        httpCode: 400
        msg: RoleNameDuplicated
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254040
        httpCode: 200
        msg: BaseTokenNotFound
      - code: 1254047
        httpCode: 404
        msg: RoleIdNotFound
      - code: 1254110
        httpCode: 400
        msg: RoleExceedLimit
      - code: 1254290
        httpCode: 200
        msg: TooManyRequest
      - code: 1254291
        httpCode: 200
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 400
        msg: OperationTypeError
      - code: 1254302
        httpCode: 403
        msg: RolePermNotAllow
      - code: 1255001
        httpCode: 200
        msg: InternalError
      - code: 1255002
        httpCode: 200
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1255003
        httpCode: 200
        msg: MarshalError
      - code: 1255004
        httpCode: 200
        msg: UmMarshalError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      x-lark-rate-limit:
        tier: 8
      x-lark-pagination: true
  /open-apis/bitable/v1/apps/{app_token}/roles/{role_id}:
    delete:
      operationId: bitable_app_role_delete
      summary: 删除自定义角色
      tags:
      - app.role
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-role/delete
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: bitable app token
        example: appbcbWCzen6D8dezhoCH2RpMAh
      - name: role_id
        in: path
        required: true
        schema:
          type: string
        description: 自定义角色的id
        example: roljRpwIUt
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - bitable:app
      - base:role:delete
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 200
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 200
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 200
        msg: Fail
      - code: 1254003
        httpCode: 200
        msg: WrongBaseToken
      - code: 1254010
        httpCode: 200
        msg: ReqConvError
      - code: 1254032
        httpCode: 400
        msg: InvalidRoleName
      - code: 1254033
        httpCode: 400
        msg: RoleNameDuplicated
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254040
        httpCode: 200
        msg: BaseTokenNotFound
      - code: 1254047
        httpCode: 404
        msg: RoleIdNotFound
      - code: 1254110
        httpCode: 400
        msg: RoleExceedLimit
      - code: 1254290
        httpCode: 200
        msg: TooManyRequest
      - code: 1254291
        httpCode: 200
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 400
        msg: OperationTypeError
      - code: 1254302
        httpCode: 403
        msg: RolePermNotAllow
      - code: 1255001
        httpCode: 200
        msg: InternalError
      - code: 1255002
        httpCode: 200
        msg: RpcError
      - code: 1255003
        httpCode: 200
        msg: MarshalError
      - code: 1255004
        httpCode: 200
        msg: UmMarshalError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      x-lark-rate-limit:
        tier: 7
    put:
      operationId: bitable_app_role_update
      summary: 更新自定义角色
      tags:
      - app.role
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-role/update
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: bitable app token
        example: appbcbWCzen6D8dezhoCH2RpMAh
      - name: role_id
        in: path
        required: true
        schema:
          type: string
        description: 自定义角色的id
        example: roljRpwIUt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schema3'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - bitable:app
      - base:role:update
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 200
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 200
        msg: ''
      - code: 1254002
        httpCode: 200
        msg: Fail
      - code: 1254003
        httpCode: 200
        msg: WrongBaseToken
      - code: 1254010
        httpCode: 200
        msg: ReqConvError
      - code: 1254032
        httpCode: 400
        msg: InvalidRoleName
      - code: 1254033
        httpCode: 400
        msg: RoleNameDuplicated
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254040
        httpCode: 200
        msg: BaseTokenNotFound
      - code: 1254047
        httpCode: 404
        msg: RoleIdNotFound
      - code: 1254110
        httpCode: 400
        msg: RoleExceedLimit
      - code: 1254290
        httpCode: 200
        msg: TooManyRequest
      - code: 1254291
        httpCode: 200
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 400
        msg: OperationTypeError
      - code: 1254302
        httpCode: 403
        msg: RolePermNotAllow
      - code: 1254304
        httpCode: 403
        msg: Only Available For Business and Enterprise Editions
      - code: 1255001
        httpCode: 200
        msg: InternalError
      - code: 1255002
        httpCode: 200
        msg: RpcError
      - code: 1255003
        httpCode: 200
        msg: MarshalError
      - code: 1255004
        httpCode: 200
        msg: UmMarshalError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      x-lark-rate-limit:
        tier: 7
  /open-apis/bitable/v1/apps/{app_token}/tables/{table_id}/fields:
    post:
      operationId: bitable_app_table_field_create
      summary: 新增字段
      tags:
      - app.table.field
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-table-field/create
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: bitable app token
        example: bascng7vrxcxpig7geggXiCtadY
      - name: table_id
        in: path
        required: true
        schema:
          type: string
        description: table id
        example: tblsRc9GRRXKqhvW
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 格式为标准的 uuid，操作的唯一标识，用于幂等的进行更新操作。此值为空表示将发起一次新的请求，此值非空表示幂等的进行更新操作。
        example: fe599b60-450f-46ff-b2ef-9f6675625b97
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                field_name:
                  type: string
                  description: 字段名
                  example: 字段名称
                type:
                  type: integer
                  description: 字段类型
                  enum:
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
                  - 7
                  - 11
                  - 13
                  - 15
                  - 17
                  - 18
                  - 20
                  - 21
                  - 22
                  - 23
                  - 1001
                  - 1002
                  - 1003
                  - 1004
                  - 1005
                  x-enum-descriptions:
                    '1': 多行文本（默认值）、条码
                    '2': 数字（默认值）、进度、货币、评分
                    '3': 单选
                    '4': 多选
                    '5': 日期
                    '7': 复选框
                    '11': 人员
                    '13': 电话号码
                    '15': 超链接
                    '17': 附件
                    '18': 单向关联
                    '20': 公式
                    '21': 双向关联
                    '22': 地理位置
                    '23': 群组
                    '1001': 创建时间
                    '1002': 最后更新时间
                    '1003': 创建人
                    '1004': 修改人
                    '1005': 自动编号
                  example: 1（type值相同的时候，加上ui_type区分）
                property:
                  allOf:
                  - $ref: '#/components/schemas/Property2'
                  description: 字段属性
                description:
                  type: object
                  properties:
                    disable_sync:
                      type: boolean
                      description: 是否禁止同步，如果为true，表示禁止同步该描述内容到表单的问题描述
                      default: true
                      example: 'true'
                    text:
                      type: string
                      description: 字段描述内容，支持换行\n
                      example: 请按 name_id 格式填写\n例如：“Alice_20202020”
                  description: 字段的描述
                is_primary:
                  type: boolean
                  description: 是否是索引列
                  example: 'true'
                field_id:
                  type: string
                  description: 字段Id
                  example: fldWJyCkFQ
                ui_type:
                  type: string
                  description: 字段在界面上的展示类型，例如进度字段是数字的一种展示形态
                  enum:
                  - Text
                  - Email
                  - Barcode
                  - Number
                  - Progress
                  - Currency
                  - Rating
                  - SingleSelect
                  - MultiSelect
                  - DateTime
                  - Checkbox
                  - User
                  - GroupChat
                  - Phone
                  - Url
                  - Attachment
                  - SingleLink
                  - Formula
                  - DuplexLink
                  - Location
                  - CreatedTime
                  - ModifiedTime
                  - CreatedUser
                  - ModifiedUser
                  - AutoNumber
                  x-enum-descriptions:
                    Text: 多行文本
                    Email: 邮箱地址
                    Barcode: 条码
                    Number: 数字
                    Progress: 进度
                    Currency: 货币
                    Rating: 评分
                    SingleSelect: 单选
                    MultiSelect: 多选
                    DateTime: 日期
                    Checkbox: 复选框
                    User: 人员
                    GroupChat: 群组
                    Phone: 电话号码
                    Url: 超链接
                    Attachment: 附件
                    SingleLink: 单向关联
                    Formula: 公式
                    DuplexLink: 双向关联
                    Location: 地理位置
                    CreatedTime: 创建时间
                    ModifiedTime: 最后更新时间
                    CreatedUser: 创建人
                    ModifiedUser: 修改人
                    AutoNumber: 自动编号
                  example: Progress
                is_hidden:
                  type: boolean
                  description: 是否是隐藏字段
                  default: false
                  example: 'false'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - bitable:app
      - base:field:create
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 200
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 200
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 200
        msg: Fail
      - code: 1254003
        httpCode: 200
        msg: WrongBaseToken
      - code: 1254004
        httpCode: 200
        msg: WrongTableId
      - code: 1254005
        httpCode: 200
        msg: WrongViewId
      - code: 1254006
        httpCode: 200
        msg: WrongRecordId
      - code: 1254007
        httpCode: 200
        msg: EmptyValue
      - code: 1254008
        httpCode: 200
        msg: EmptyView
      - code: 1254009
        httpCode: 200
        msg: WrongFieldId
      - code: 1254010
        httpCode: 200
        msg: ReqConvError
      - code: 1254012
        httpCode: 200
        msg: NotSupportFieldOrView
      - code: 1254013
        httpCode: 200
        msg: TableNameDuplicated
      - code: 1254014
        httpCode: 200
        msg: FieldNameDuplicated
      - code: 1254015
        httpCode: 200
        msg: FieldTypeValueNotMatch
      - code: 1254026
        httpCode: 200
        msg: EmptyOptionName
      - code: 1254028
        httpCode: 400
        msg: EmptyFieldName
      - code: 1254029
        httpCode: 400
        msg: InvalidFieldName
      - code: 1254030
        httpCode: 200
        msg: InvalidPageToken
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254037
        httpCode: 400
        msg: Invalid client token, make sure that it complies with the specification.
      - code: 1254040
        httpCode: 200
        msg: BaseTokenNotFound
      - code: 1254041
        httpCode: 200
        msg: TableIdNotFound
      - code: 1254042
        httpCode: 200
        msg: ViewIdNotFound
      - code: 1254043
        httpCode: 200
        msg: RecordIdNotFound
      - code: 1254044
        httpCode: 200
        msg: FieldIdNotFound
      - code: 1254060
        httpCode: 200
        msg: TextFieldConvFail
      - code: 1254061
        httpCode: 200
        msg: NumberFieldConvFail
      - code: 1254062
        httpCode: 200
        msg: SingleSelectFieldConvFail
      - code: 1254063
        httpCode: 200
        msg: MultiSelectFieldConvFail
      - code: 1254064
        httpCode: 200
        msg: DatetimeFieldConvFail
      - code: 1254065
        httpCode: 200
        msg: CheckboxFieldConvFail
      - code: 1254066
        httpCode: 200
        msg: UserFieldConvFail
      - code: 1254067
        httpCode: 200
        msg: LinkFieldConvFail
      - code: 1254070
        httpCode: 200
        msg: ActionValidateFailed
      - code: 1254080
        httpCode: 400
        msg: TextFieldPropertyError
      - code: 1254081
        httpCode: 400
        msg: NumberFieldPropertyError
      - code: 1254082
        httpCode: 400
        msg: SingleSelectFieldPropertyError
      - code: 1254083
        httpCode: 400
        msg: MultiSelectFieldPropertyError
      - code: 1254084
        httpCode: 400
        msg: DateFieldPropertyError
      - code: 1254085
        httpCode: 400
        msg: CheckboxFieldPropertyError
      - code: 1254086
        httpCode: 400
        msg: UserFieldPropertyError
      - code: 1254087
        httpCode: 400
        msg: URLFieldPropertyError
      - code: 1254088
        httpCode: 400
        msg: AttachFieldPropertyError
      - code: 1254089
        httpCode: 400
        msg: LinkFieldPropertyError
      - code: 1254090
        httpCode: 400
        msg: LookUpFieldPropertyError
      - code: 1254091
        httpCode: 400
        msg: FormulaFieldPropertyError
      - code: 1254092
        httpCode: 400
        msg: DuplexLinkFieldPropertyError
      - code: 1254093
        httpCode: 400
        msg: CreatedTimeFieldPropertyError
      - code: 1254094
        httpCode: 400
        msg: ModifiedTimeFieldPropertyError
      - code: 1254095
        httpCode: 400
        msg: CreatedUserFieldPropertyError
      - code: 1254096
        httpCode: 400
        msg: ModifiedUserFieldPropertyError
      - code: 1254100
        httpCode: 200
        msg: TableExceedLimit
      - code: 1254101
        httpCode: 200
        msg: ViewExceedLimit
      - code: 1254102
        httpCode: 200
        msg: FileExceedLimit
      - code: 1254103
        httpCode: 200
        msg: RecordExceedLimit
      - code: 1254104
        httpCode: 200
        msg: RecordAddOnceExceedLimit
      - code: 1254105
        httpCode: 200
        msg: ColumnExceedLimit
      - code: 1254130
        httpCode: 200
        msg: TooLargeCell
      - code: 1254290
        httpCode: 200
        msg: TooManyRequest
      - code: 1254291
        httpCode: 200
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 200
        msg: OperationTypeError
      - code: 1255001
        httpCode: 200
        msg: InternalError
      - code: 1255002
        httpCode: 200
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1255003
        httpCode: 200
        msg: MarshalError
      - code: 1255004
        httpCode: 200
        msg: UmMarshalError
      - code: 1255005
        httpCode: 200
        msg: ConvError
      - code: 1255006
        httpCode: 400
        msg: Client token conflict, please generate a new client token and try again.
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later.
      - code: 1254607
        httpCode: 400
        msg: Data not ready, please try again later
      - code: 1254302
        httpCode: 403
        msg: Permission denied.
      - code: 1254304
        httpCode: 403
        msg: Permission denied.
      - code: 1254608
        httpCode: 403
        msg: Same API requests are submitted repeatedly.
      x-lark-rate-limit:
        tier: 7
    get:
      operationId: bitable_app_table_field_list
      summary: 列出字段
      tags:
      - app.table.field
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-table-field/list
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: bitable app token
        example: Ebt1bJqjvauNyzsz6uacPSPPnff
      - name: table_id
        in: path
        required: true
        schema:
          type: string
        description: table id
        example: tblY4iih2TG7BKgW
      - name: view_id
        in: query
        required: false
        schema:
          type: string
        description: 视图 ID
        example: vewPVxg3rf
      - name: text_field_as_array
        in: query
        required: false
        schema:
          type: boolean
        description: 控制字段描述（多行文本格式）数据的返回格式, true 表示以数组富文本形式返回
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的token
                      total:
                        type: integer
                        description: 总数
                        example: '10'
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            field_name:
                              type: string
                              description: 字段名
                              example: 字段名称
                            type:
                              type: integer
                              description: 字段类型
                              enum:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 7
                              - 11
                              - 13
                              - 15
                              - 17
                              - 18
                              - 20
                              - 21
                              - 22
                              - 23
                              - 1001
                              - 1002
                              - 1003
                              - 1004
                              - 1005
                              x-enum-descriptions:
                                '1': 多行文本（默认值）、条码
                                '2': 数字（默认值）、进度、货币、评分
                                '3': 单选
                                '4': 多选
                                '5': 日期
                                '7': 复选框
                                '11': 人员
                                '13': 电话号码
                                '15': 超链接
                                '17': 附件
                                '18': 单向关联
                                '20': 公式
                                '21': 双向关联
                                '22': 地理位置
                                '23': 群组
                                '1001': 创建时间
                                '1002': 最后更新时间
                                '1003': 创建人
                                '1004': 修改人
                                '1005': 自动编号
                              example: '1'
                            property:
                              allOf:
                              - $ref: '#/components/schemas/Property'
                              description: 字段属性
                            description:
                              type: string
                              x-lark-original-type: union
                              description: 字段的描述, text_field_as_array为false时值为字符串，为true则是对象数组
                            is_primary:
                              type: boolean
                              description: 是否是索引列
                              example: 'true'
                            field_id:
                              type: string
                              description: 字段Id
                              example: fldWJyCkFQ
                            ui_type:
                              type: string
                              description: 字段在界面上的展示类型，例如进度字段是数字的一种展示形态
                              enum:
                              - Text
                              - Barcode
                              - Number
                              - Progress
                              - Currency
                              - Rating
                              - SingleSelect
                              - MultiSelect
                              - DateTime
                              - Checkbox
                              - User
                              - GroupChat
                              - Phone
                              - Url
                              - Attachment
                              - SingleLink
                              - Formula
                              - DuplexLink
                              - Location
                              - CreatedTime
                              - ModifiedTime
                              - CreatedUser
                              - ModifiedUser
                              - AutoNumber
                              x-enum-descriptions:
                                Text: 多行文本
                                Barcode: 条码
                                Number: 数字
                                Progress: 进度
                                Currency: 货币
                                Rating: 评分
                                SingleSelect: 单选
                                MultiSelect: 多选
                                DateTime: 日期
                                Checkbox: 复选框
                                User: 人员
                                GroupChat: 群组
                                Phone: 电话号码
                                Url: 超链接
                                Attachment: 附件
                                SingleLink: 单向关联
                                Formula: 公式
                                DuplexLink: 双向关联
                                Location: 地理位置
                                CreatedTime: 创建时间
                                ModifiedTime: 最后更新时间
                                CreatedUser: 创建人
                                ModifiedUser: 修改人
                                AutoNumber: 自动编号
                              example: Progress
                            is_hidden:
                              type: boolean
                              description: 是否是隐藏字段
                              default: false
                              example: 'false'
                          required:
                          - field_name
                          - type
                        description: 字段列表
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - bitable:app:readonly
      - bitable:app
      - base:field:read
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 200
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 200
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 200
        msg: Fail
      - code: 1254003
        httpCode: 200
        msg: WrongBaseToken
      - code: 1254004
        httpCode: 200
        msg: WrongTableId
      - code: 1254005
        httpCode: 200
        msg: WrongViewId
      - code: 1254006
        httpCode: 200
        msg: WrongRecordId
      - code: 1254007
        httpCode: 200
        msg: EmptyValue
      - code: 1254008
        httpCode: 200
        msg: EmptyView
      - code: 1254009
        httpCode: 200
        msg: WrongFieldId
      - code: 1254010
        httpCode: 200
        msg: ReqConvError
      - code: 1254012
        httpCode: 200
        msg: NotSupportFieldOrView
      - code: 1254013
        httpCode: 200
        msg: TableNameDuplicated
      - code: 1254014
        httpCode: 200
        msg: FieldNameDuplicated
      - code: 1254015
        httpCode: 200
        msg: FieldTypeValueNotMatch
      - code: 1254030
        httpCode: 200
        msg: InvalidPageToken
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254040
        httpCode: 200
        msg: BaseTokenNotFound
      - code: 1254041
        httpCode: 200
        msg: TableIdNotFound
      - code: 1254042
        httpCode: 200
        msg: ViewIdNotFound
      - code: 1254043
        httpCode: 200
        msg: RecordIdNotFound
      - code: 1254044
        httpCode: 200
        msg: FieldIdNotFound
      - code: 1254060
        httpCode: 200
        msg: TextFieldConvFail
      - code: 1254061
        httpCode: 200
        msg: NumberFieldConvFail
      - code: 1254062
        httpCode: 200
        msg: SingleSelectFieldConvFail
      - code: 1254063
        httpCode: 200
        msg: MultiSelectFieldConvFail
      - code: 1254064
        httpCode: 200
        msg: DatetimeFieldConvFail
      - code: 1254065
        httpCode: 200
        msg: CheckboxFieldConvFail
      - code: 1254066
        httpCode: 200
        msg: UserFieldConvFail
      - code: 1254067
        httpCode: 200
        msg: LinkFieldConvFail
      - code: 1254070
        httpCode: 200
        msg: ActionValidateFailed
      - code: 1254100
        httpCode: 200
        msg: TableExceedLimit
      - code: 1254101
        httpCode: 200
        msg: ViewExceedLimit
      - code: 1254102
        httpCode: 200
        msg: FileExceedLimit
      - code: 1254103
        httpCode: 200
        msg: RecordExceedLimit
      - code: 1254104
        httpCode: 200
        msg: RecordAddOnceExceedLimit
      - code: 1254105
        httpCode: 200
        msg: ColumnExceedLimit
      - code: 1254130
        httpCode: 200
        msg: TooLargeCell
      - code: 1254290
        httpCode: 200
        msg: TooManyRequest
      - code: 1254291
        httpCode: 200
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 200
        msg: OperationTypeError
      - code: 1254302
        httpCode: 403
        msg: The role has no permissions.
      - code: 1255001
        httpCode: 200
        msg: InternalError
      - code: 1255002
        httpCode: 200
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1255003
        httpCode: 200
        msg: MarshalError
      - code: 1255004
        httpCode: 200
        msg: UmMarshalError
      - code: 1255005
        httpCode: 200
        msg: ConvError
      - code: 1255040
        httpCode: 500
        msg: Request timed out, please try again later
      - code: 1254607
        httpCode: 400
        msg: Data not ready, please try again later
      x-lark-rate-limit:
        tier: 8
      x-lark-pagination: true
  /open-apis/bitable/v1/apps/{app_token}/tables/{table_id}/fields/{field_id}:
    delete:
      operationId: bitable_app_table_field_delete
      summary: 删除字段
      tags:
      - app.table.field
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-table-field/delete
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: bitable app token
        example: bascng7vrxcxpig7geggXiCtadY
      - name: table_id
        in: path
        required: true
        schema:
          type: string
        description: table id
        example: tblsRc9GRRXKqhvW
      - name: field_id
        in: path
        required: true
        schema:
          type: string
        description: field id
        example: fldVp9NjCV
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      field_id:
                        type: string
                        description: 字段唯一标识id
                        example: fldVp9NjCV
                      deleted:
                        type: boolean
                        description: 是否已删除
                        example: 'true'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - bitable:app
      - base:field:delete
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 200
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 200
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 200
        msg: Fail
      - code: 1254003
        httpCode: 200
        msg: WrongBaseToken
      - code: 1254004
        httpCode: 200
        msg: WrongTableId
      - code: 1254005
        httpCode: 200
        msg: WrongViewId
      - code: 1254006
        httpCode: 200
        msg: WrongRecordId
      - code: 1254007
        httpCode: 200
        msg: EmptyValue
      - code: 1254008
        httpCode: 200
        msg: EmptyView
      - code: 1254009
        httpCode: 200
        msg: WrongFieldId
      - code: 1254010
        httpCode: 200
        msg: ReqConvError
      - code: 1254012
        httpCode: 200
        msg: NotSupportFieldOrView
      - code: 1254013
        httpCode: 200
        msg: TableNameDuplicated
      - code: 1254014
        httpCode: 200
        msg: FieldNameDuplicated
      - code: 1254015
        httpCode: 200
        msg: FieldTypeValueNotMatch
      - code: 1254030
        httpCode: 200
        msg: InvalidPageToken
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254040
        httpCode: 200
        msg: BaseTokenNotFound
      - code: 1254041
        httpCode: 200
        msg: TableIdNotFound
      - code: 1254042
        httpCode: 200
        msg: ViewIdNotFound
      - code: 1254043
        httpCode: 200
        msg: RecordIdNotFound
      - code: 1254044
        httpCode: 200
        msg: FieldIdNotFound
      - code: 1254046
        httpCode: 200
        msg: The Primary Field cannot be deleted.
      - code: 1254060
        httpCode: 200
        msg: TextFieldConvFail
      - code: 1254061
        httpCode: 200
        msg: NumberFieldConvFail
      - code: 1254062
        httpCode: 200
        msg: SingleSelectFieldConvFail
      - code: 1254063
        httpCode: 200
        msg: MultiSelectFieldConvFail
      - code: 1254064
        httpCode: 200
        msg: DatetimeFieldConvFail
      - code: 1254065
        httpCode: 200
        msg: CheckboxFieldConvFail
      - code: 1254066
        httpCode: 200
        msg: UserFieldConvFail
      - code: 1254067
        httpCode: 200
        msg: LinkFieldConvFail
      - code: 1254070
        httpCode: 200
        msg: ActionValidateFailed
      - code: 1254100
        httpCode: 200
        msg: TableExceedLimit
      - code: 1254101
        httpCode: 200
        msg: ViewExceedLimit
      - code: 1254102
        httpCode: 200
        msg: FileExceedLimit
      - code: 1254103
        httpCode: 200
        msg: RecordExceedLimit
      - code: 1254104
        httpCode: 200
        msg: RecordAddOnceExceedLimit
      - code: 1254105
        httpCode: 200
        msg: ColumnExceedLimit
      - code: 1254130
        httpCode: 200
        msg: TooLargeCell
      - code: 1254290
        httpCode: 200
        msg: TooManyRequest
      - code: 1254291
        httpCode: 200
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 200
        msg: OperationTypeError
      - code: 1255001
        httpCode: 200
        msg: InternalError
      - code: 1255002
        httpCode: 200
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1255003
        httpCode: 200
        msg: MarshalError
      - code: 1255004
        httpCode: 200
        msg: UmMarshalError
      - code: 1255005
        httpCode: 200
        msg: ConvError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      - code: 1254607
        httpCode: 400
        msg: Data not ready, please try again later
      - code: 1254302
        httpCode: 403
        msg: Permission denied.
      - code: 1254304
        httpCode: 403
        msg: Permission denied.
      - code: 1254608
        httpCode: 403
        msg: Same API requests are submitted repeatedly.
      x-lark-rate-limit:
        tier: 7
    put:
      operationId: bitable_app_table_field_update
      summary: 更新字段
      tags:
      - app.table.field
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-table-field/update
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: bitable app token
        example: bascng7vrxcxpig7geggXiCtadY
      - name: table_id
        in: path
        required: true
        schema:
          type: string
        description: table id
        example: tblsRc9GRRXKqhvW
      - name: field_id
        in: path
        required: true
        schema:
          type: string
        description: field id
        example: fldVp9NjCV
      - name: client_token
        in: query
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                field_name:
                  type: string
                  description: 字段名
                  example: 字段名称
                type:
                  type: integer
                  description: 字段类型
                  enum:
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
                  - 7
                  - 11
                  - 13
                  - 15
                  - 17
                  - 18
                  - 20
                  - 21
                  - 22
                  - 23
                  - 1001
                  - 1002
                  - 1003
                  - 1004
                  - 1005
                  x-enum-descriptions:
                    '1': 多行文本（默认值）、条码
                    '2': 数字（默认值）、进度、货币、评分
                    '3': 单选
                    '4': 多选
                    '5': 日期
                    '7': 复选框
                    '11': 人员
                    '13': 电话号码
                    '15': 超链接
                    '17': 附件
                    '18': 单向关联
                    '20': 公式
                    '21': 双向关联
                    '22': 地理位置
                    '23': 群组
                    '1001': 创建时间
                    '1002': 最后更新时间
                    '1003': 创建人
                    '1004': 修改人
                    '1005': 自动编号
                  example: 1（type值相同的时候，加上ui_type区分）
                property:
                  allOf:
                  - $ref: '#/components/schemas/Property2'
                  description: 字段属性
                description:
                  type: object
                  properties:
                    disable_sync:
                      type: boolean
                      description: 是否禁止同步，如果为true，表示禁止同步该描述内容到表单的问题描述
                      default: true
                      example: 'true'
                    text:
                      type: string
                      description: 字段描述内容，支持换行\n
                      example: 请按 name_id 格式填写\n例如：“Alice_20202020”
                  description: 字段的描述
                is_primary:
                  type: boolean
                  description: 是否是索引列
                  example: 'true'
                ui_type:
                  type: string
                  description: 字段在界面上的展示类型，例如进度字段是数字的一种展示形态
                  enum:
                  - Text
                  - Email
                  - Barcode
                  - Number
                  - Progress
                  - Currency
                  - Rating
                  - SingleSelect
                  - MultiSelect
                  - DateTime
                  - Checkbox
                  - User
                  - GroupChat
                  - Phone
                  - Url
                  - Attachment
                  - SingleLink
                  - Formula
                  - DuplexLink
                  - Location
                  - CreatedTime
                  - ModifiedTime
                  - CreatedUser
                  - ModifiedUser
                  - AutoNumber
                  x-enum-descriptions:
                    Text: 多行文本
                    Email: 邮箱地址
                    Barcode: 条码
                    Number: 数字
                    Progress: 进度
                    Currency: 货币
                    Rating: 评分
                    SingleSelect: 单选
                    MultiSelect: 多选
                    DateTime: 日期
                    Checkbox: 复选框
                    User: 人员
                    GroupChat: 群组
                    Phone: 电话号码
                    Url: 超链接
                    Attachment: 附件
                    SingleLink: 单向关联
                    Formula: 公式
                    DuplexLink: 双向关联
                    Location: 地理位置
                    CreatedTime: 创建时间
                    ModifiedTime: 最后更新时间
                    CreatedUser: 创建人
                    ModifiedUser: 修改人
                    AutoNumber: 自动编号
                  example: Progress
                is_hidden:
                  type: boolean
                  description: 是否是隐藏字段
                  default: false
                  example: 'false'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - bitable:app
      - base:field:update
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 200
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 200
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 200
        msg: Fail
      - code: 1254003
        httpCode: 200
        msg: WrongBaseToken
      - code: 1254004
        httpCode: 200
        msg: WrongTableId
      - code: 1254005
        httpCode: 200
        msg: WrongViewId
      - code: 1254006
        httpCode: 200
        msg: WrongRecordId
      - code: 1254007
        httpCode: 200
        msg: EmptyValue
      - code: 1254008
        httpCode: 200
        msg: EmptyView
      - code: 1254009
        httpCode: 200
        msg: WrongFieldId
      - code: 1254010
        httpCode: 200
        msg: ReqConvError
      - code: 1254012
        httpCode: 200
        msg: NotSupportFieldOrView
      - code: 1254013
        httpCode: 200
        msg: TableNameDuplicated
      - code: 1254014
        httpCode: 200
        msg: FieldNameDuplicated
      - code: 1254015
        httpCode: 200
        msg: FieldTypeValueNotMatch
      - code: 1254026
        httpCode: 200
        msg: EmptyOptionName
      - code: 1254028
        httpCode: 400
        msg: EmptyFieldName
      - code: 1254029
        httpCode: 400
        msg: InvalidFieldName
      - code: 1254030
        httpCode: 200
        msg: InvalidPageToken
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254040
        httpCode: 200
        msg: BaseTokenNotFound
      - code: 1254041
        httpCode: 200
        msg: TableIdNotFound
      - code: 1254042
        httpCode: 200
        msg: ViewIdNotFound
      - code: 1254043
        httpCode: 200
        msg: RecordIdNotFound
      - code: 1254044
        httpCode: 200
        msg: FieldIdNotFound
      - code: 1254060
        httpCode: 200
        msg: TextFieldConvFail
      - code: 1254061
        httpCode: 200
        msg: NumberFieldConvFail
      - code: 1254062
        httpCode: 200
        msg: SingleSelectFieldConvFail
      - code: 1254063
        httpCode: 200
        msg: MultiSelectFieldConvFail
      - code: 1254064
        httpCode: 200
        msg: DatetimeFieldConvFail
      - code: 1254065
        httpCode: 200
        msg: CheckboxFieldConvFail
      - code: 1254066
        httpCode: 200
        msg: UserFieldConvFail
      - code: 1254067
        httpCode: 200
        msg: LinkFieldConvFail
      - code: 1254070
        httpCode: 200
        msg: ActionValidateFailed
      - code: 1254080
        httpCode: 400
        msg: TextFieldPropertyError
      - code: 1254081
        httpCode: 400
        msg: NumberFieldPropertyError
      - code: 1254082
        httpCode: 400
        msg: SingleSelectFieldPropertyError
      - code: 1254083
        httpCode: 400
        msg: MultiSelectFieldPropertyError
      - code: 1254084
        httpCode: 400
        msg: DateFieldPropertyError
      - code: 1254085
        httpCode: 400
        msg: CheckboxFieldPropertyError
      - code: 1254086
        httpCode: 400
        msg: UserFieldPropertyError
      - code: 1254087
        httpCode: 400
        msg: URLFieldPropertyError
      - code: 1254088
        httpCode: 400
        msg: AttachFieldPropertyError
      - code: 1254089
        httpCode: 400
        msg: LinkFieldPropertyError
      - code: 1254090
        httpCode: 400
        msg: LookUpFieldPropertyError
      - code: 1254091
        httpCode: 400
        msg: FormulaFieldPropertyError
      - code: 1254092
        httpCode: 400
        msg: DuplexLinkFieldPropertyError
      - code: 1254093
        httpCode: 400
        msg: CreatedTimeFieldPropertyError
      - code: 1254094
        httpCode: 400
        msg: ModifiedTimeFieldPropertyError
      - code: 1254095
        httpCode: 400
        msg: CreatedUserFieldPropertyError
      - code: 1254096
        httpCode: 400
        msg: ModifiedUserFieldPropertyError
      - code: 1254100
        httpCode: 200
        msg: TableExceedLimit
      - code: 1254101
        httpCode: 200
        msg: ViewExceedLimit
      - code: 1254102
        httpCode: 200
        msg: FileExceedLimit
      - code: 1254103
        httpCode: 200
        msg: RecordExceedLimit
      - code: 1254104
        httpCode: 200
        msg: RecordAddOnceExceedLimit
      - code: 1254105
        httpCode: 200
        msg: ColumnExceedLimit
      - code: 1254130
        httpCode: 200
        msg: TooLargeCell
      - code: 1254290
        httpCode: 200
        msg: TooManyRequest
      - code: 1254291
        httpCode: 200
        msg: LockNotObtainedError
      - code: 1254301
        httpCode: 200
        msg: OperationTypeError
      - code: 1254606
        httpCode: 200
        msg: DataNotChange
      - code: 1255001
        httpCode: 200
        msg: InternalError
      - code: 1255002
        httpCode: 200
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1255003
        httpCode: 200
        msg: MarshalError
      - code: 1255004
        httpCode: 200
        msg: UmMarshalError
      - code: 1255005
        httpCode: 200
        msg: ConvError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      - code: 1254607
        httpCode: 400
        msg: Data not ready, please try again later
      - code: 1254302
        httpCode: 403
        msg: Permission denied.
      - code: 1254304
        httpCode: 403
        msg: Permission denied.
      - code: 1254608
        httpCode: 403
        msg: Same API requests are submitted repeatedly.
      x-lark-rate-limit:
        tier: 7
  /open-apis/bitable/v1/apps/{app_token}/tables/{table_id}/field_groups:
    post:
      operationId: bitable_app_table_field_group_create
      summary: 创建字段编组
      tags:
      - app.table.field_group
      description: 新增字段编组
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-table-field_group/create
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: 多维表格 App 的唯一标识
        example: bascnv1jIEppJdTCn3jOosabcef
      - name: table_id
        in: path
        required: true
        schema:
          type: string
        description: 多维表格数据表的唯一标识
        example: tblz8nadEUdxNMt5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                field_groups:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 字段编组的ID
                        example: fldPTb0U2y
                      name:
                        type: string
                        description: 字段编组的名称
                        example: 字段编组名称
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: 编组成员类型
                              enum:
                              - field
                              x-enum-descriptions:
                                field: 字段
                            id:
                              type: string
                              description: 编组成员ID
                              example: fldPTb0U2y
                          required:
                          - type
                          - id
                        description: 字段编组的成员
                      description:
                        type: string
                        description: 字段编组的描述
                        example: 字段编组用于分组
                    required:
                    - name
                    - children
                  description: 要新增字段编组列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      field_groups:
                        type: string
                        description: 字段编组的内容
                        example: '[   {     "id": "fldjX7dUj5",     "name": "编组1"   },   {     "id": "fldjX7dUj6",     "name":
                          "编组2"   } ]'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - base:field_group:create
      x-lark-error-mappings:
      - code: 1254000
        httpCode: 400
        msg: WrongRequestJson
      - code: 1254001
        httpCode: 400
        msg: WrongRequestBody
      - code: 1254002
        httpCode: 500
        msg: Fail
      - code: 1254003
        httpCode: 400
        msg: WrongBaseToken
      - code: 1254004
        httpCode: 400
        msg: WrongTableId
      - code: 1254009
        httpCode: 400
        msg: WrongFieldId
      - code: 1254036
        httpCode: 400
        msg: Bitable is copying, please try again later.
      - code: 1254040
        httpCode: 404
        msg: BaseTokenNotFound
      - code: 1254041
        httpCode: 404
        msg: TableIdNotFound
      - code: 1254044
        httpCode: 404
        msg: FieldIdNotFound
      - code: 1254114
        httpCode: 400
        msg: The name of field group is empty
      - code: 1254115
        httpCode: 400
        msg: The name of field group is invalid
      - code: 1254116
        httpCode: 400
        msg: The description of field group is too long
      - code: 1254117
        httpCode: 400
        msg: The name of field group is duplicated
      - code: 1254118
        httpCode: 400
        msg: The children of field group is empty
      - code: 1254119
        httpCode: 400
        msg: The children of field group is too large
      - code: 1254120
        httpCode: 400
        msg: The field groups to be created is empty
      - code: 1254121
        httpCode: 400
        msg: The field groups to be created is too large
      - code: 1254122
        httpCode: 400
        msg: Child belongs to multiple field groups
      - code: 1254123
        httpCode: 400
        msg: The child type of field group is invalid
      - code: 1254290
        httpCode: 400
        msg: TooManyRequest
      - code: 1254291
        httpCode: 400
        msg: LockNotObtainedError
      - code: 1254302
        httpCode: 403
        msg: RolePermNotAllow
      - code: 1254304
        httpCode: 403
        msg: You are not authorized to perform this operation.
      - code: 1254607
        httpCode: 500
        msg: Data not ready, please try again later
      - code: 1255001
        httpCode: 500
        msg: InternalError
      - code: 1254200
        httpCode: 500
        msg: Something went wrong. Please contact technical support at https://applink.feishu.cn/client/helpdesk/open?id=6626260912531570952
      - code: 1255003
        httpCode: 500
        msg: MarshalError
      - code: 1255004
        httpCode: 500
        msg: UmMarshalError
      - code: 1255040
        httpCode: 504
        msg: Request timed out, please try again later
      x-lark-rate-limit:
        tier: 7
  /open-apis/bitable/v1/apps/{app_token}/tables/{table_id}/forms/{form_id}/fields:
    get:
      operationId: bitable_app_table_form_field_list
      summary: 列出表单问题
      tags:
      - app.table.form.field
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/bitable-v1/app-table-form-field/list
      parameters:
      - name: app_token
        in: path
        required: true
        schema:
          type: string
        description: 多维表格文档 Token
        example: XrgTb4y1haKYnasu0xXb1g7lcSg
      - name: table_id
        in: path
        required: true
[...]
