# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · board API（全量）
  description: |-
    飞书开放平台 `board` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:22:04Z'
  x-lark-project: board
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:22:04Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: whiteboard.node
- name: whiteboard
paths:
  /open-apis/board/v1/whiteboards/{whiteboard_id}/nodes/batch_delete:
    delete:
      operationId: board_whiteboard_node_batch_delete
      summary: 批量删除节点
      tags:
      - whiteboard.node
      description: 批量删除画板内的节点，存在子节点时子节点也被删除
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/board-v1/whiteboard-node/batch_delete
      parameters:
      - name: whiteboard_id
        in: path
        required: true
        schema:
          type: string
        description: 画板唯一标识
        example: Ru8nwrWFOhEmaFbEU2VbPRsHcxb
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 操作的唯一标识，与接口返回值的 client_token 相对应，用于幂等的进行更新操作。此值为空表示将发起一次新的请求，此值非空表示幂等的进行更新
        example: fe599b60-450f-46ff-b2ef-9f6675625b97
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  description: 需要删除的节点 id 列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      client_token:
                        type: string
                        description: 操作的唯一标识，更新请求中使用此值表示幂等的进行此次更新
                        example: 0e2633a3-aa1a-4171-af9e-0768ff863566
                    required:
                    - client_token
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - board:whiteboard:node:delete
      x-lark-error-mappings:
      - code: 2890001
        httpCode: 400
        msg: invalid format
      - code: 2890002
        httpCode: 400
        msg: invalid arg
      - code: 2890003
        httpCode: 400
        msg: record missing
      - code: 2890004
        httpCode: 401
        msg: auth failed
      - code: 2890005
        httpCode: 403
        msg: forbidden
      - code: 2890006
        httpCode: 429
        msg: too many request
      - code: 2891001
        httpCode: 500
        msg: server internal error
      - code: 2891001
        httpCode: 500
        msg: server internal error
      - code: 2891001
        httpCode: 500
        msg: server internal error
      - code: 2891001
        httpCode: 500
        msg: server internal error
      - code: 2891001
        httpCode: 500
        msg: server internal error
      x-lark-rate-limit:
        tier: 8
  /open-apis/board/v1/whiteboards/{whiteboard_id}/nodes:
    post:
      operationId: board_whiteboard_node_create
      summary: 创建节点
      tags:
      - whiteboard.node
      description: 在画板中创建节点
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/board-v1/whiteboard-node/create
      parameters:
      - name: whiteboard_id
        in: path
        required: true
        schema:
          type: string
        description: 画板唯一标识
        example: Ru8nwrWFOhEmaFbEU2VbPRsHcxb
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 操作的唯一标识，与接口返回值的 client_token 相对应，用于幂等的进行更新操作。此值为空表示将发起一次新的请求，此值非空表示幂等的进行更新操作
        example: fe599b60-450f-46ff-b2ef-9f6675625b9
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                nodes:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 节点 id
                        example: o1:1
                      type:
                        type: string
                        description: 节点图形类型，目前创建节点仅支持创建图片、文本、基础图形等类型
                        enum:
                        - image
                        - text_shape
                        - group
                        - composite_shape
                        - svg
                        - connector
                        - table
                        - life_line
                        - activation
                        - section
                        - table_uml
                        - table_er
                        - sticky_note
                        - mind_map
                        - paint
                        - combined_fragment
                        x-enum-descriptions:
                          image: 图片
                          text_shape: 文本
                          group: 组合
                          composite_shape: 基础图形
                          svg: svg 图形
                          connector: 连线
                          table: 表格
                          life_line: 对象生命线
                          activation: 控制焦点
                          section: 分区
                          table_uml: 类图
                          table_er: 实体关系图
                          sticky_note: 便签
                          mind_map: 思维导图
                          paint: 画笔
                          combined_fragment: 组合片段
                      parent_id:
                        type: string
                        description: 父节点 id
                        example: o1:1
                      x:
                        type: number
                        description: 图形相对画布的 x 轴位置信息（存在父容器时为相对父容器的坐标，父容器为组合图形 group 时，坐标是穿透的），单位为 px
                        default: 0.0
                        example: '100'
                      y:
                        type: number
                        description: 图形相对画布的 y 轴位置信息（存在父容器时为相对父容器的坐标，父容器为组合图形 group 时，坐标是穿透的），单位为 px
                        default: 0.0
                        example: '100'
                      angle:
                        type: number
                        description: 图形旋转角度
                        default: 0.0
                        example: '100'
                      height:
                        type: number
                        description: 图形高度，单位为 px
                        example: '100'
                      text:
                        type: object
                        properties:
                          text:
                            type: string
                            description: 文字内容
                            example: 文字内容
                          font_weight:
                            type: string
                            description: 文字字重
                            enum:
                            - regular
                            - bold
                            x-enum-descriptions:
                              regular: 常规
                              bold: 加粗
                            example: regular
                          font_size:
                            type: integer
                            description: 文字大小
                            example: '14'
                          horizontal_align:
                            type: string
                            description: 水平对齐
                            enum:
                            - left
                            - center
                            - right
                            x-enum-descriptions:
                              left: 向左对齐
                              center: 居中对齐
                              right: 向右对齐
                          vertical_align:
                            type: string
                            description: 垂直对齐
                            enum:
                            - top
                            - mid
                            - bottom
                            x-enum-descriptions:
                              top: 顶部对齐
                              mid: 垂直居中
                              bottom: 底部对齐
                          text_color:
                            type: string
                            description: 文字颜色，16 进制 rgb 值
                            example: '#6db5a3'
                          text_background_color:
                            type: string
                            description: 文字背景色，16 进制 rgb 值
                            example: '#6db5a3'
                          line_through:
                            type: boolean
                            description: 是否存在删除线
                            example: 'true'
                          underline:
                            type: boolean
                            description: 是否存在下划线
                            example: 'true'
                          italic:
                            type: boolean
                            description: 是否斜体
                            example: 'true'
                          angle:
                            type: integer
                            description: 文字旋转角度
                            enum:
                            - 0
                            - 90
                            - 180
                            - 270
                            x-enum-descriptions:
                              '0': 文字旋转角度0度
                              '90': 文字旋转角度90度
                              '180': 文字旋转角度180度
                              '270': 文字旋转角度270度
                            example: '90'
                          theme_text_color_code:
                            type: integer
                            description: 文字颜色主题配色编码值
                            example: '0'
                          theme_text_background_color_code:
                            type: integer
                            description: 文字背景颜色主题配色编码值
                            example: '-1'
                          rich_text:
                            type: object
                            properties:
                              paragraphs:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    paragraph_type:
                                      type: integer
                                      description: 段落类别
                                      enum:
                                      - 0
                                      - 1
                                      - 2
                                      x-enum-descriptions:
                                        '0': 普通段落
                                        '1': 无序列表
                                        '2': 有序列表
                                    elements:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          element_type:
                                            type: integer
                                            description: 元素类别
                                            enum:
                                            - 0
                                            - 1
                                            - 2
                                            - 3
                                            x-enum-descriptions:
                                              '0': 文本
                                              '1': 链接
                                              '2': '@用户'
                                              '3': 文档
                                          text_element:
                                            type: object
                                            properties:
                                              text:
                                                type: string
                                                description: 文字
                                                example: 示例文案
                                              text_style:
                                                type: object
                                                properties:
                                                  font_weight:
                                                    type: string
                                                    description: 文字字重
                                                    example: bold
                                                  font_size:
                                                    type: integer
                                                    description: 文字大小
                                                    example: '14'
                                                  text_color:
                                                    type: string
                                                    description: 文字颜色，16 进制 rgb 值
                                                    example: '#000000'
                                                  text_background_color:
                                                    type: string
                                                    description: 文字背景色，16 进制 rgb 值
                                                    example: '#000000'
                                                  line_through:
                                                    type: boolean
                                                    description: 是否存在删除线
                                                  underline:
                                                    type: boolean
                                                    description: 是否存在下划线
                                                  italic:
                                                    type: boolean
                                                    description: 是否斜体
                                                description: 文字样式
                                            required:
                                            - text
                                            description: 文本类别信息
                                          link_element:
                                            type: object
                                            properties:
                                              herf:
                                                type: string
                                                description: 链接
                                                example: https://bytedance.larkoffice.com
                                              text:
                                                type: string
                                                description: 文字
                                                example: 示例文案
                                              text_style:
                                                type: object
                                                properties:
                                                  font_weight:
                                                    type: string
                                                    description: 文字字重
                                                    example: bold
                                                  font_size:
                                                    type: integer
                                                    description: 文字大小
                                                    example: '14'
                                                  text_color:
                                                    type: string
                                                    description: 文字颜色，16 进制 rgb 值
                                                    example: '#000000'
                                                  text_background_color:
                                                    type: string
                                                    description: 文字背景色，16 进制 rgb 值
                                                    example: '#000000'
                                                  line_through:
                                                    type: boolean
                                                    description: 是否存在删除线
                                                  underline:
                                                    type: boolean
                                                    description: 是否存在下划线
                                                  italic:
                                                    type: boolean
                                                    description: 是否斜体
                                                description: 文字样式
                                            required:
                                            - herf
                                            description: 超链接类别信息
                                          mention_user_element:
                                            type: object
                                            properties:
                                              user_id:
                                                type: string
                                                description: 用户id
                                              text_style:
                                                type: object
                                                properties:
                                                  font_weight:
                                                    type: string
                                                    description: 文字字重
                                                    example: bold
                                                  font_size:
                                                    type: integer
                                                    description: 文字大小
                                                    example: '14'
                                                  text_color:
                                                    type: string
                                                    description: 文字颜色，16 进制 rgb 值
                                                    example: '#000000'
                                                  text_background_color:
                                                    type: string
                                                    description: 文字背景色，16 进制 rgb 值
                                                    example: '#000000'
                                                  line_through:
                                                    type: boolean
                                                    description: 是否存在删除线
                                                  underline:
                                                    type: boolean
                                                    description: 是否存在下划线
                                                  italic:
                                                    type: boolean
                                                    description: 是否斜体
                                                description: 文字属性
                                            required:
                                            - user_id
                                            description: '@用户类别信息'
                                          mention_doc_element:
                                            type: object
                                            properties:
                                              doc_url:
                                                type: string
                                                description: 文档超链接
                                                example: https://bytedance.larkoffice.com/wiki/xxxxx
                                              text_style:
                                                type: object
                                                properties:
                                                  font_weight:
                                                    type: string
                                                    description: 文字字重
                                                    example: bold
                                                  font_size:
                                                    type: integer
                                                    description: 文字大小
                                                    example: '14'
                                                  text_color:
                                                    type: string
                                                    description: 文字颜色，16 进制 rgb 值
                                                    example: '#000000'
                                                  text_background_color:
                                                    type: string
                                                    description: 文字背景色，16 进制 rgb 值
                                                    example: '#000000'
                                                  line_through:
                                                    type: boolean
                                                    description: 是否存在删除线
                                                  underline:
                                                    type: boolean
                                                    description: 是否存在下划线
                                                  italic:
                                                    type: boolean
                                                    description: 是否斜体
                                                description: 文字样式
                                            required:
                                            - doc_url
                                            description: 文档类别信息
                                        required:
                                        - element_type
                                      description: 元素列表
                                    indent:
                                      type: integer
                                      description: 缩进
                                      example: '0'
                                    list_begin_index:
                                      type: integer
                                      description: 有序列表开始序号
                                      example: '0'
                                    quote:
                                      type: boolean
                                      description: 引用
                                  required:
                                  - paragraph_type
                                description: 段落列表
                            description: 富文本
                          text_color_type:
                            type: integer
                            description: 文字颜色类型，0=系统颜色，1=自定义颜色
                            enum:
                            - 0
                            - 1
                            x-enum-descriptions:
                              '0': 系统颜色
                              '1': 自定义颜色
                          text_background_color_type:
                            type: integer
                            description: 文字背景颜色类型，0=系统颜色，1=自定义颜色
                            enum:
                            - 0
                            - 1
                            x-enum-descriptions:
                              '0': 系统颜色
                              '1': 自定义颜色
                        description: 图形内文字
                      style:
                        type: object
                        properties:
                          fill_color:
                            type: string
                            description: 填充颜色，16 进制 rbg 值
                            example: '#6db5a3'
                          fill_opacity:
                            type: number
                            description: 填充透明度
                            example: '50'
                          border_style:
                            type: string
                            description: 边框样式
                            enum:
                            - solid
                            - none
                            - dash
                            - dot
                            x-enum-descriptions:
                              solid: 实线
                              none: 无边框
                              dash: 虚线
                              dot: 点状虚线
                          border_width:
                            type: string
                            description: 边框宽度
                            enum:
                            - extra_narrow
                            - narrow
                            - medium
                            - bold
                            x-enum-descriptions:
                              extra_narrow: 极细
                              narrow: 细
                              medium: 中
                              bold: 粗
                          border_opacity:
                            type: number
                            description: 边框透明度
                            example: '50'
                          h_flip:
                            type: boolean
                            description: 水平翻折
                            example: 'false'
                          v_flip:
                            type: boolean
                            description: 垂直翻折
                            example: 'false'
                          border_color:
                            type: string
                            description: 边框颜色，16 进制 rgb 值
                            example: '#6db5a3'
                          theme_fill_color_code:
                            type: integer
                            description: 填充颜色主题配色编码值
                            example: '3'
                          theme_border_color_code:
                            type: integer
                            description: 边框颜色主题配色编码值
                            example: '4'
                          fill_color_type:
                            type: integer
                            description: 填充颜色类型：0=系统颜色，取theme_fill_color_code，1=自定义颜色，取fill_color
                            enum:
                            - 0
                            - 1
                            x-enum-descriptions:
                              '0': 系统颜色
                              '1': 自定义颜色
                          border_color_type:
                            type: integer
                            description: 边框颜色类型：0=系统颜色，取theme_border_color_code，1=自定义颜色，取border_color
                            enum:
                            - 0
                            - 1
                            x-enum-descriptions:
                              '0': 系统颜色
                              '1': 自定义颜色
                          border_dasharrays:
                            type: array
                            items:
                              type: integer
                            description: 定义虚线边框样式，参数为数字数组，依次表示实线段长度与空白间隔，循环构成虚线。
                          border_radius:
                            type: object
                            properties:
                              top_left:
                                type: integer
                                description: 左上角弧度半径
                                example: '1'
                              top_right:
                                type: integer
                                description: 右上角弧度半径
                                example: '1'
                              bottom_right:
                                type: integer
                                description: 右下角弧度半径
                                example: '0'
                              bottom_left:
                                type: integer
                                description: 左下角弧度半径
                                example: '1'
                            description: 边框圆角半径，控制边角弧度。
                          shadow:
                            type: object
                            properties:
                              color:
                                type: string
                                description: 阴影颜色
                                example: '#000000'
                              blur:
                                type: integer
                                description: 模糊效果，参数为数字，数值越大模糊程度越强，0 表示无模糊。
                                example: '1'
                              offset_x:
                                type: integer
                                description: x轴偏移量
                                example: '0'
                              offset_y:
                                type: integer
                                description: y轴偏移量
                                example: '0'
                              opacity:
                                type: number
                                description: 透明效果，参数为 0-1 数字，数值越小越透明，0 表示完全透明，1 表示完全不透明。
                                example: '0.5'
                            description: 阴影参数
                          inner_shadow:
                            type: object
                            properties:
                              color:
                                type: string
                                description: 阴影颜色
                                example: '#000000'
                              blur:
                                type: integer
                                description: 模糊效果，参数为数字，数值越大模糊程度越强，0 表示无模糊。
                                example: '1'
                              offset_x:
                                type: integer
                                description: x轴偏移量
                                example: '0'
                              offset_y:
                                type: integer
                                description: y轴偏移量
                                example: '0'
                              opacity:
                                type: number
                                description: 透明效果，参数为 0-1 数字，数值越小越透明，0 表示完全透明，1 表示完全不透明。
                                example: '0.5'
                            description: 阴影参数
                          fill_gradient:
                            type: object
                            properties:
                              type:
                                type: string
                                description: 渐变类别
                                enum:
                                - linear-gradient
                                - radial-gradient
                                x-enum-descriptions:
                                  linear-gradient: 线性渐变
                                  radial-gradient: 径向渐变
                              handle_positions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    x:
                                      type: number
                                      description: 点位置x坐标
                                      example: '10'
                                    y:
                                      type: number
                                      description: 点位置y坐标
                                      example: '10'
                                description: 图层内渐变的定位
                              stops:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    position:
                                      type: number
                                      description: 色标位置（百分比）
                                      example: '1.0'
                                    color:
                                      type: string
                                      description: 颜色
                                      example: '#FFFFFF'
                                description: 渐变中的色标数组
                            description: 渐变
                        description: 图形样式
                      image:
                        type: object
                        properties:
                          token:
                            type: string
                            description: 图片 token
                            example: EeSHb3qs9oSBXoxvw33bqtOsczb
                        required:
                        - token
                        description: 图片
                      composite_shape:
                        type: object
                        properties:
                          type:
                            type: string
                            description: 基础图形的具体类型
                            enum:
                            - round_rect2
                            - ellipse
                            - hexagon
                            - cylinder
                            - parallelogram
                            - trapezoid
                            - triangle
                            - round_rect
                            - step
                            - diamond
                            - rect
                            - star
                            - bubble
                            - pentagon
                            - forward_arrow
                            - document_shape
                            - condition_shape
                            - cloud
                            - cross
                            - step2
                            - predefined_process
                            - delay_shape
                            - off_page_connector
                            - note_shape
                            - data_process
                            - data_store
                            - data_store2
                            - data_store3
                            - star2
                            - star3
                            - star4
                            - actor
                            - brace
                            - condition_shape2
                            - double_arrow
                            - data_flow_round_rect3
                            - rect_bubble
                            - manual_input
                            - flow_chart_round_rect
                            - flow_chart_round_rect2
                            - flow_chart_diamond
                            - flow_chart_parallelogram
                            - flow_chart_cylinder
                            - flow_chart_trapezoid
                            - flow_chart_hexagon
                            - data_flow_round_rect
                            - data_flow_ellipse
                            - backward_arrow
                            - brace_reverse
                            - flow_chart_mq
                            - horiz_cylinder
                            - class_interface
                            - classifier
                            - circular_ring
                            - pie
                            - right_triangle
                            - octagon
                            - state_start
                            - state_end
                            - state_concurrence
                            - component_shape
                            - component_shape2
                            - component_interface
                            - component_required_interface
                            - component_assembly
                            - cube
                            - boundary
                            - control
                            - entity
                            - data_base
                            - queue
                            - collection
                            - actor_lifeline
                            - object_lifeline
                            - mind_node_full_round_rect
                            - mind_node_round_rect
                            - mind_node_text
                            x-enum-descriptions:
                              round_rect2: 全圆角矩形
                              ellipse: 圆形
                              hexagon: 六边形
                              cylinder: 圆柱体
                              parallelogram: 平行四边形
                              trapezoid: 梯形
                              triangle: 三角形
                              round_rect: 圆角矩形
                              step: 步骤
                              diamond: 菱形
                              rect: 基础矩形
                              star: 五角星
                              bubble: 气泡
                              pentagon: 五边形
                              forward_arrow: 单向箭头
                              document_shape: 文档图形
                              condition_shape: 组合片段
                              cloud: 云朵
                              cross: 十字形
                              step2: 步骤图形2
                              predefined_process: 预定义流程
                              delay_shape: 延迟图形
                              off_page_connector: 跨页引用
                              note_shape: 注释图形
                              data_process: 数据处理
                              data_store: 数据存储
                              data_store2: 数据存储2
                              data_store3: 数据存储3
                              star2: 爆炸星型
                              star3: 四角形
                              star4: 六角形
                              actor: 角色小人
                              brace: 花括号
                              condition_shape2: 组合片段2
                              double_arrow: 双向箭头
                              data_flow_round_rect3: 数据处理（正方圆角矩形）
                              rect_bubble: 矩形气泡
                              manual_input: 手动输入图形
                              flow_chart_round_rect: 流程图圆角矩形
                              flow_chart_round_rect2: 流程图全圆角矩形
                              flow_chart_diamond: 流程图判定
                              flow_chart_parallelogram: 流程图数据
                              flow_chart_cylinder: 流程图数据库
                              flow_chart_trapezoid: 流程图手动操作
                              flow_chart_hexagon: 流程图准备
                              data_flow_round_rect: 数据流外部实体
                              data_flow_ellipse: 数据流数据处理
                              backward_arrow: 反向箭头（左箭头）
                              brace_reverse: 反向花括号（左括号）
                              flow_chart_mq: 消息队列
                              horiz_cylinder: 水平方向圆柱体
                              class_interface: 类图，接口
                              classifier: 类图，类目
                              circular_ring: 圆环
                              pie: 扇形
                              right_triangle: 直角三角形
                              octagon: 八边形
                              state_start: 状态图，开始
                              state_end: 状态图，结束
                              state_concurrence: 状态图，并发
                              component_shape: 组件
                              component_shape2: 组件2
                              component_interface: 组件，接口
                              component_required_interface: 组件，需求接口
                              component_assembly: 组件，组装
                              cube: 立方体
                              boundary: 边界
                              control: 控制
                              entity: 实体
                              data_base: 数据库
                              queue: 队列
                              collection: 集合
                              actor_lifeline: 角色生命线
                              object_lifeline: 对象生命线
                              mind_node_full_round_rect: 思维导图全圆角矩形
                              mind_node_round_rect: 思维导图圆角矩形
                              mind_node_text: 思维导图文本图形
                          pie:
                            type: object
                            properties:
                              start_radial_line_angle:
                                type: number
                                description: 开始径向边角度，水平向右x轴正方向为0度，顺时针方向角度值递增
                                example: '30.0'
                              central_angle:
                                type: number
                                description: 圆心角角度，角度方向为始径向边逆时针方向
                                example: '40.0'
                              radius:
                                type: number
                                description: 半径长度
                                example: '10'
                              sector_ratio:
                                type: number
                                description: 扇区占比，0为一个圆周线，1为一个圆盘
                                default: 1.0
                                example: '1'
                            required:
                            - start_radial_line_angle
                            - central_angle
                            - radius
                            description: 饼图属性，type=pie时需要设置
                          circular_ring:
                            type: object
                            properties:
                              start_radial_line_angle:
                                type: number
                                description: 开始径向边角度，水平向右x轴正方向为0度，顺时针方向角度值递增
                                example: '30.0'
                              central_angle:
                                type: number
                                description: 圆心角角度，角度方向为始径向边逆时针方向
                                example: '40.0'
                              radius:
                                type: number
                                description: 半径长度
                                example: '10'
                              sector_ratio:
                                type: number
                                description: 扇区占比，0为一个圆周线，1为一个圆盘
                                default: 1.0
                                example: '1'
                            required:
                            - start_radial_line_angle
                            - central_angle
                            - radius
                            description: 圆环属性，type=circular_ring时需要设置
                          trapezoid:
                            type: object
                            properties:
                              top_length:
                                type: number
                                description: 梯形上底长（短边）。默认为下底边长度的2/3，不能超过下底边长度。
                                example: '10'
                            description: 梯形属性，type=trapezoid时可以设置
                          cube:
                            type: object
                            properties:
                              control_point:
                                type: object
                                properties:
                                  x:
                                    type: number
                                    description: 点位置x坐标
                                    example: '10'
                                  y:
                                    type: number
                                    description: 点位置y坐标
                                    example: '10'
                                description: 六面体控制点，相对六面体外接矩形的相对坐标。默认控制点为外接矩形长的0.8，宽的0.25
                            description: 六面体属性，type=cube时可以设置
                        required:
                        - type
                        description: 基础图形属性
                      connector:
                        type: object
                        properties:
                          start:
                            type: object
                            properties:
                              attached_object:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: 连接图形的 id
                                    example: o1:1
                                  snap_to:
                                    type: string
                                    description: 连接图形的方向
                                    enum:
                                    - auto
                                    - top
                                    - right
                                    - bottom
                                    - left
                                    x-enum-descriptions:
                                      auto: 连接方向自动匹配
                                      top: 连接图形顶部方向
                                      right: 连接图形右边方向
                                      bottom: 连接图形底部方向
                                      left: 连接图形左边方向
                                    example: auto
                                  position:
                                    type: object
                                    properties:
                                      x:
                                        type: number
                                        description: 点位置x坐标
                                        example: '10'
                                      y:
                                        type: number
                                        description: 点位置y坐标
                                        example: '10'
                                    description: 连接图形的相对坐标，0-1
                                description: 连接图形信息
                              position:
                                type: object
                                properties:
                                  x:
                                    type: number
                                    description: 点位置x坐标
                                    example: '10'
                                  y:
                                    type: number
                                    description: 点位置y坐标
                                    example: '10'
                                description: 连线端点在画布内的坐标，position与attached_object二选一
                              arrow_style:
                                type: string
                                description: 连线端点箭头样式
                                enum:
                                - none
                                - line_arrow
                                - triangle_arrow
                                - empty_triangle_arrow
                                - circle_arrow
                                - empty_circle_arrow
                                - diamond_arrow
                                - empty_diamond_arrow
                                - single_arrow
                                - multi_arrow
                                - exact_single_arrow
                                - zero_or_multi_arrow
                                - zero_or_single_arrow
                                - single_or_multi_arrow
                                - x_arrow
                                x-enum-descriptions:
                                  none: 无箭头样式
                                  line_arrow: 线型箭头
                                  triangle_arrow: 三角形箭头
                                  empty_triangle_arrow: 空心三角形箭头
                                  circle_arrow: 圆形箭头
                                  empty_circle_arrow: 空心圆形箭头
                                  diamond_arrow: 菱形箭头
                                  empty_diamond_arrow: 空心菱形箭头
                                  single_arrow: 单箭头
                                  multi_arrow: 多箭头
                                  exact_single_arrow: 精确单箭头
                                  zero_or_multi_arrow: 零个或多个箭头
                                  zero_or_single_arrow: 零个或单个箭头
                                  single_or_multi_arrow: 单个或多个箭头
                                  x_arrow: x型箭头
                                example: line_arrow
                            description: 连线端点信息
                          end:
                            type: object
                            properties:
                              attached_object:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: 连接图形的 id
                                    example: o1:1
                                  snap_to:
                                    type: string
                                    description: 连接图形的方向
                                    enum:
                                    - auto
                                    - top
                                    - right
                                    - bottom
                                    - left
                                    x-enum-descriptions:
                                      auto: 连接方向自动匹配
                                      top: 连接图形顶部方向
                                      right: 连接图形右边方向
                                      bottom: 连接图形底部方向
                                      left: 连接图形左边方向
                                    example: auto
                                  position:
                                    type: object
                                    properties:
                                      x:
                                        type: number
                                        description: 点位置x坐标
                                        example: '10'
                                      y:
                                        type: number
                                        description: 点位置y坐标
                                        example: '10'
                                    description: 连接图形的相对坐标，0-1
                                description: 连接图形信息
                              position:
                                type: object
                                properties:
                                  x:
                                    type: number
                                    description: 点位置x坐标
                                    example: '10'
                                  y:
                                    type: number
                                    description: 点位置y坐标
                                    example: '10'
                                description: 连线端点在画布内的坐标，position与attached_object二选一
                              arrow_style:
                                type: string
                                description: 连线端点箭头样式
                                enum:
                                - none
                                - line_arrow
                                - triangle_arrow
                                - empty_triangle_arrow
                                - circle_arrow
                                - empty_circle_arrow
                                - diamond_arrow
                                - empty_diamond_arrow
                                - single_arrow
                                - multi_arrow
                                - exact_single_arrow
                                - zero_or_multi_arrow
                                - zero_or_single_arrow
                                - single_or_multi_arrow
                                - x_arrow
                                x-enum-descriptions:
                                  none: 无箭头样式
                                  line_arrow: 线型箭头
                                  triangle_arrow: 三角形箭头
                                  empty_triangle_arrow: 空心三角形箭头
                                  circle_arrow: 圆形箭头
                                  empty_circle_arrow: 空心圆形箭头
                                  diamond_arrow: 菱形箭头
                                  empty_diamond_arrow: 空心菱形箭头
                                  single_arrow: 单箭头
                                  multi_arrow: 多箭头
                                  exact_single_arrow: 精确单箭头
                                  zero_or_multi_arrow: 零个或多个箭头
                                  zero_or_single_arrow: 零个或单个箭头
                                  single_or_multi_arrow: 单个或多个箭头
                                  x_arrow: x型箭头
                                example: line_arrow
                            description: 连线端点信息
                          captions:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    text:
                                      type: string
                                      description: 文字内容
                                      example: 文字内容
                                    font_weight:
                                      type: string
                                      description: 文字字重
                                      enum:
                                      - regular
                                      - bold
                                      x-enum-descriptions:
                                        regular: 常规
                                        bold: 加粗
                                      example: regular
                                    font_size:
                                      type: integer
                                      description: 文字大小
                                      example: '14'
                                    horizontal_align:
                                      type: string
                                      description: 水平对齐
                                      enum:
                                      - left
                                      - center
                                      - right
                                      x-enum-descriptions:
                                        left: 向左对齐
                                        center: 居中对齐
                                        right: 向右对齐
                                    vertical_align:
                                      type: string
                                      description: 垂直对齐
                                      enum:
                                      - top
                                      - mid
                                      - bottom
                                      x-enum-descriptions:
                                        top: 顶部对齐
                                        mid: 垂直居中
                                        bottom: 底部对齐
                                    text_color:
                                      type: string
                                      description: 文字颜色，16 进制 rgb 值
                                      example: '#6db5a3'
                                    text_background_color:
                                      type: string
                                      description: 文字背景色，16 进制 rgb 值
                                      example: '#6db5a3'
                                    line_through:
                                      type: boolean
                                      description: 是否存在删除线
                                      example: 'true'
                                    underline:
                                      type: boolean
                                      description: 是否存在下划线
                                      example: 'true'
                                    italic:
                                      type: boolean
                                      description: 是否斜体
                                      example: 'true'
                                    angle:
                                      type: integer
                                      description: 文字旋转角度
                                      enum:
                                      - 0
                                      - 90
                                      - 180
                                      - 270
                                      x-enum-descriptions:
                                        '0': 文字旋转角度0度
                                        '90': 文字旋转角度90度
                                        '180': 文字旋转角度180度
                                        '270': 文字旋转角度270度
                                      example: '90'
                                    theme_text_color_code:
                                      type: integer
                                      description: 文字颜色主题配色编码值
                                      example: '0'
                                    theme_text_background_color_code:
                                      type: integer
                                      description: 文字背景颜色主题配色编码值
                                      example: '-1'
                                    rich_text:
                                      type: object
                                      properties:
                                        paragraphs:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              paragraph_type:
                                                type: integer
                                                description: 段落类别
                                                enum:
                                                - 0
                                                - 1
                                                - 2
                                                x-enum-descriptions:
                                                  '0': 普通段落
                                                  '1': 无序列表
                                                  '2': 有序列表
                                              elements:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    element_type:
                                                      type: integer
                                                      description: 元素类别
                                                      enum:
                                                      - 0
                                                      - 1
                                                      - 2
                                                      - 3
                                                      x-enum-descriptions:
                                                        '0': 文本
                                                        '1': 链接
                                                        '2': '@用户'
                                                        '3': 文档
                                                    text_element:
                                                      type: object
                                                      properties:
                                                        text:
                                                          type: string
                                                          description: 文字
                                                          example: 示例文案
                                                        text_style:
                                                          type: object
                                                          properties:
                                                            font_weight:
                                                              type: string
                                                              description: 文字字重
                                                              example: bold
                                                            font_size:
                                                              type: integer
                                                              description: 文字大小
                                                              example: '14'
                                                            text_color:
                                                              type: string
                                                              description: 文字颜色，16 进制 rgb 值
                                                              example: '#000000'
                                                            text_background_color:
                                                              type: string
                                                              description: 文字背景色，16 进制 rgb 值
                                                              example: '#000000'
                                                            line_through:
                                                              type: boolean
                                                              description: 是否存在删除线
                                                            underline:
                                                              type: boolean
                                                              description: 是否存在下划线
                                                            italic:
                                                              type: boolean
                                                              description: 是否斜体
                                                          description: 文字样式
                                                      required:
                                                      - text
                                                      description: 文本类别信息
                                                    link_element:
                                                      type: object
                                                      properties:
                                                        herf:
                                                          type: string
                                                          description: 链接
                                                          example: https://bytedance.larkoffice.com
                                                        text:
                                                          type: string
                                                          description: 文字
                                                          example: 示例文案
                                                        text_style:
                                                          type: object
                                                          properties:
                                                            font_weight:
                                                              type: string
                                                              description: 文字字重
                                                              example: bold
                                                            font_size:
                                                              type: integer
                                                              description: 文字大小
                                                              example: '14'
                                                            text_color:
                                                              type: string
                                                              description: 文字颜色，16 进制 rgb 值
                                                              example: '#000000'
                                                            text_background_color:
                                                              type: string
                                                              description: 文字背景色，16 进制 rgb 值
                                                              example: '#000000'
                                                            line_through:
                                                              type: boolean
                                                              description: 是否存在删除线
                                                            underline:
                                                              type: boolean
                                                              description: 是否存在下划线
                                                            italic:
                                                              type: boolean
                                                              description: 是否斜体
                                                          description: 文字样式
                                                      required:
                                                      - herf
                                                      description: 超链接类别信息
                                                    mention_user_element:
                                                      type: object
                                                      properties:
                                                        user_id:
                                                          type: string
                                                          description: 用户id
                                                        text_style:
                                                          type: object
                                                          properties:
                                                            font_weight:
                                                              type: string
                                                              description: 文字字重
                                                              example: bold
                                                            font_size:
                                                              type: integer
                                                              description: 文字大小
                                                              example: '14'
                                                            text_color:
                                                              type: string
                                                              description: 文字颜色，16 进制 rgb 值
                                                              example: '#000000'
                                                            text_background_color:
                                                              type: string
                                                              description: 文字背景色，16 进制 rgb 值
                                                              example: '#000000'
                                                            line_through:
                                                              type: boolean
                                                              description: 是否存在删除线
                                                            underline:
                                                              type: boolean
                                                              description: 是否存在下划线
                                                            italic:
                                                              type: boolean
                                                              description: 是否斜体
                                                          description: 文字属性
                                                      required:
                                                      - user_id
                                                      description: '@用户类别信息'
                                                    mention_doc_element:
                                                      type: object
                                                      properties:
                                                        doc_url:
                                                          type: string
                                                          description: 文档超链接
                                                          example: https://bytedance.larkoffice.com/wiki/xxxxx
                                                        text_style:
                                                          type: object
                                                          properties:
                                                            font_weight:
                                                              type: string
                                                              description: 文字字重
                                                              example: bold
                                                            font_size:
                                                              type: integer
                                                              description: 文字大小
                                                              example: '14'
                                                            text_color:
                                                              type: string
                                                              description: 文字颜色，16 进制 rgb 值
                                                              example: '#000000'
                                                            text_background_color:
                                                              type: string
                                                              description: 文字背景色，16 进制 rgb 值
                                                              example: '#000000'
                                                            line_through:
                                                              type: boolean
                                                              description: 是否存在删除线
                                                            underline:
                                                              type: boolean
                                                              description: 是否存在下划线
                                                            italic:
                                                              type: boolean
                                                              description: 是否斜体
                                                          description: 文字样式
                                                      required:
                                                      - doc_url
                                                      description: 文档类别信息
                                                  required:
                                                  - element_type
                                                description: 元素列表
                                              indent:
                                                type: integer
                                                description: 缩进
                                                example: '0'
                                              list_begin_index:
                                                type: integer
                                                description: 有序列表开始序号
                                                example: '0'
                                              quote:
                                                type: boolean
                                                description: 引用
                                            required:
                                            - paragraph_type
                                          description: 段落列表
                                      description: 富文本
                                    text_color_type:
                                      type: integer
                                      description: 文字颜色类型，0=系统颜色，1=自定义颜色
                                      enum:
                                      - 0
                                      - 1
                                      x-enum-descriptions:
                                        '0': 系统颜色
                                        '1': 自定义颜色
                                    text_background_color_type:
                                      type: integer
                                      description: 文字背景颜色类型，0=系统颜色，1=自定义颜色
                                      enum:
                                      - 0
                                      - 1
                                      x-enum-descriptions:
                                        '0': 系统颜色
                                        '1': 自定义颜色
                                description: 文本
                            description: 连线文本
                          shape:
                            type: string
                            description: 连线类型
                            enum:
                            - straight
                            - polyline
                            - curve
                            - right_angled_polyline
                            x-enum-descriptions:
                              straight: 直线
                              polyline: 折线
                              curve: 曲线
                              right_angled_polyline: 直角折线
                            example: straight
                          turning_points:
                            type: array
                            items:
                              type: object
                              properties:
                                x:
                                  type: number
                                  description: 点位置x坐标
                                  example: '10'
                                y:
                                  type: number
                                  description: 点位置y坐标
                                  example: '10'
                            description: 连线转向点
                          caption_auto_direction:
                            type: boolean
                            description: 连线上的文本方向是否自动跟随连线方向
                            example: 'true'
                          caption_position:
                            type: number
                            description: 文本在连线上的相对位置，范围0-1，0表示在连线的起始点，1表示在连线的终点
                            example: '0.5'
                          specified_coordinate:
                            type: boolean
                            description: 指定连线坐标及长宽。为 true 时需要用户设置连线的坐标及长宽信息。为 false 时会根据连线的开始、结束端点自动计算连线的坐标及长宽信息
                          caption_position_type:
                            type: integer
                            description: 文字相对连线的位置类型，0=OnLine，表示文字在连线那不；1=AboveLine，文字在连线的上方，文字在线的上方，连线走向的上边或左边；2=BellowLine，文字在连线的下方，文字在线的上方，连线走向的下边或右边
                            enum:
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '0': 文字在线内
                              '1': 文字在线的上方，连线走向的上边或左边
                              '2': 文字在线的下方，连线走向的下边或右边
                        description: 连线属性
                      width:
                        type: number
                        description: 图形宽度，单位为 px
                        example: '100'
                      section:
                        type: object
                        properties:
                          title:
                            type: string
                            description: 分区标题
                            example: 分区
                        description: 分区属性
                      table:
                        type: object
                        properties:
                          meta:
                            type: object
                            properties:
                              row_sizes:
                                type: array
                                items:
                                  type: number
                                description: 行高
                              col_sizes:
                                type: array
                                items:
                                  type: number
                                description: 列宽
                              style:
                                type: object
                                properties:
                                  fill_color:
                                    type: string
                                    description: 填充颜色，16 进制 rbg 值
                                    example: '#6db5a3'
                                  fill_opacity:
                                    type: number
                                    description: 填充透明度
                                    example: '50'
                                  border_style:
                                    type: string
                                    description: 边框样式
                                    enum:
                                    - solid
                                    - none
                                    - dash
                                    - dot
                                    x-enum-descriptions:
                                      solid: 实线
                                      none: 无边框
                                      dash: 虚线
                                      dot: 点状虚线
                                  border_width:
                                    type: string
                                    description: 边框宽度
                                    enum:
                                    - extra_narrow
                                    - narrow
                                    - medium
                                    - bold
                                    x-enum-descriptions:
                                      extra_narrow: 极细
                                      narrow: 细
                                      medium: 中
                                      bold: 粗
                                  border_opacity:
                                    type: number
                                    description: 边框透明度
                                    example: '50'
                                  h_flip:
                                    type: boolean
                                    description: 水平翻折
                                    example: 'false'
                                  v_flip:
                                    type: boolean
                                    description: 垂直翻折
                                    example: 'false'
                                  border_color:
                                    type: string
                                    description: 边框颜色，16 进制 rgb 值
                                    example: '#6db5a3'
                                  theme_fill_color_code:
                                    type: integer
                                    description: 填充颜色主题配色编码值
                                    example: '3'
                                  theme_border_color_code:
                                    type: integer
                                    description: 边框颜色主题配色编码值
                                    example: '4'
                                  fill_color_type:
                                    type: integer
                                    description: 填充颜色类型：0=系统颜色，取theme_fill_color_code，1=自定义颜色，取fill_color
                                    enum:
                                    - 0
                                    - 1
                                    x-enum-descriptions:
                                      '0': 系统颜色
                                      '1': 自定义颜色
                                  border_color_type:
                                    type: integer
                                    description: 边框颜色类型：0=系统颜色，取theme_border_color_code，1=自定义颜色，取border_color
                                    enum:
                                    - 0
                                    - 1
                                    x-enum-descriptions:
                                      '0': 系统颜色
                                      '1': 自定义颜色
                                  border_dasharrays:
                                    type: array
                                    items:
                                      type: integer
                                    description: 定义虚线边框样式，参数为数字数组，依次表示实线段长度与空白间隔，循环构成虚线。
                                  border_radius:
                                    type: object
                                    properties:
                                      top_left:
                                        type: integer
                                        description: 左上角弧度半径
                                        example: '1'
                                      top_right:
                                        type: integer
                                        description: 右上角弧度半径
                                        example: '1'
                                      bottom_right:
                                        type: integer
                                        description: 右下角弧度半径
                                        example: '0'
                                      bottom_left:
                                        type: integer
                                        description: 左下角弧度半径
                                        example: '1'
                                    description: 边框圆角半径，控制边角弧度。
                                  shadow:
                                    type: object
                                    properties:
                                      color:
                                        type: string
                                        description: 阴影颜色
                                        example: '#000000'
                                      blur:
                                        type: integer
                                        description: 模糊效果，参数为数字，数值越大模糊程度越强，0 表示无模糊。
                                        example: '1'
                                      offset_x:
                                        type: integer
                                        description: x轴偏移量
                                        example: '0'
                                      offset_y:
                                        type: integer
                                        description: y轴偏移量
                                        example: '0'
                                      opacity:
                                        type: number
                                        description: 透明效果，参数为 0-1 数字，数值越小越透明，0 表示完全透明，1 表示完全不透明。
                                        example: '0.5'
                                    description: 阴影参数
                                  inner_shadow:
                                    type: object
                                    properties:
                                      color:
                                        type: string
                                        description: 阴影颜色
                                        example: '#000000'
                                      blur:
                                        type: integer
                                        description: 模糊效果，参数为数字，数值越大模糊程度越强，0 表示无模糊。
                                        example: '1'
                                      offset_x:
                                        type: integer
                                        description: x轴偏移量
                                        example: '0'
                                      offset_y:
                                        type: integer
                                        description: y轴偏移量
                                        example: '0'
                                      opacity:
                                        type: number
                                        description: 透明效果，参数为 0-1 数字，数值越小越透明，0 表示完全透明，1 表示完全不透明。
                                        example: '0.5'
                                    description: 阴影参数
                                  fill_gradient:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        description: 渐变类别
                                        enum:
                                        - linear-gradient
                                        - radial-gradient
                                        x-enum-descriptions:
                                          linear-gradient: 线性渐变
                                          radial-gradient: 径向渐变
                                      handle_positions:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            x:
                                              type: number
                                              description: 点位置x坐标
                                              example: '10'
                                            y:
                                              type: number
                                              description: 点位置y坐标
                                              example: '10'
                                        description: 图层内渐变的定位
                                      stops:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            position:
                                              type: number
                                              description: 色标位置（百分比）
                                              example: '1.0'
                                            color:
                                              type: string
                                              description: 颜色
                                              example: '#FFFFFF'
                                        description: 渐变中的色标数组
                                    description: 渐变
                                description: 整个表格的样式
                              text:
                                type: object
                                properties:
                                  text:
                                    type: string
                                    description: 文字内容
                                    example: 文字内容
                                  font_weight:
                                    type: string
                                    description: 文字字重
                                    enum:
                                    - regular
                                    - bold
                                    x-enum-descriptions:
                                      regular: 常规
                                      bold: 加粗
                                    example: regular
                                  font_size:
                                    type: integer
                                    description: 文字大小
                                    example: '14'
                                  horizontal_align:
                                    type: string
                                    description: 水平对齐
                                    enum:
                                    - left
                                    - center
                                    - right
                                    x-enum-descriptions:
                                      left: 向左对齐
                                      center: 居中对齐
                                      right: 向右对齐
                                  vertical_align:
                                    type: string
                                    description: 垂直对齐
                                    enum:
                                    - top
                                    - mid
                                    - bottom
                                    x-enum-descriptions:
                                      top: 顶部对齐
                                      mid: 垂直居中
                                      bottom: 底部对齐
                                  text_color:
                                    type: string
                                    description: 文字颜色，16 进制 rgb 值
                                    example: '#6db5a3'
                                  text_background_color:
                                    type: string
                                    description: 文字背景色，16 进制 rgb 值
                                    example: '#6db5a3'
                                  line_through:
                                    type: boolean
                                    description: 是否存在删除线
                                    example: 'true'
                                  underline:
                                    type: boolean
                                    description: 是否存在下划线
                                    example: 'true'
                                  italic:
                                    type: boolean
                                    description: 是否斜体
                                    example: 'true'
                                  angle:
                                    type: integer
                                    description: 文字旋转角度
                                    enum:
                                    - 0
                                    - 90
                                    - 180
                                    - 270
                                    x-enum-descriptions:
                                      '0': 文字旋转角度0度
                                      '90': 文字旋转角度90度
                                      '180': 文字旋转角度180度
                                      '270': 文字旋转角度270度
                                    example: '90'
                                  theme_text_color_code:
                                    type: integer
                                    description: 文字颜色主题配色编码值
                                    example: '0'
                                  theme_text_background_color_code:
                                    type: integer
                                    description: 文字背景颜色主题配色编码值
                                    example: '-1'
                                  rich_text:
                                    type: object
                                    properties:
                                      paragraphs:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            paragraph_type:
                                              type: integer
                                              description: 段落类别
                                              enum:
                                              - 0
                                              - 1
                                              - 2
                                              x-enum-descriptions:
                                                '0': 普通段落
                                                '1': 无序列表
                                                '2': 有序列表
                                            elements:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  element_type:
                                                    type: integer
                                                    description: 元素类别
                                                    enum:
                                                    - 0
                                                    - 1
                                                    - 2
                                                    - 3
                                                    x-enum-descriptions:
                                                      '0': 文本
                                                      '1': 链接
                                                      '2': '@用户'
                                                      '3': 文档
                                                  text_element:
                                                    type: object
                                                    properties:
                                                      text:
                                                        type: string
                                                        description: 文字
                                                        example: 示例文案
                                                      text_style:
                                                        type: object
                                                        properties:
                                                          font_weight:
                                                            type: string
                                                            description: 文字字重
                                                            example: bold
                                                          font_size:
                                                            type: integer
                                                            description: 文字大小
                                                            example: '14'
                                                          text_color:
                                                            type: string
                                                            description: 文字颜色，16 进制 rgb 值
                                                            example: '#000000'
                                                          text_background_color:
                                                            type: string
                                                            description: 文字背景色，16 进制 rgb 值
                                                            example: '#000000'
                                                          line_through:
                                                            type: boolean
                                                            description: 是否存在删除线
                                                          underline:
                                                            type: boolean
                                                            description: 是否存在下划线
                                                          italic:
                                                            type: boolean
                                                            description: 是否斜体
                                                        description: 文字样式
                                                    required:
                                                    - text
                                                    description: 文本类别信息
                                                  link_element:
                                                    type: object
                                                    properties:
                                                      herf:
                                                        type: string
                                                        description: 链接
                                                        example: https://bytedance.larkoffice.com
                                                      text:
                                                        type: string
                                                        description: 文字
                                                        example: 示例文案
                                                      text_style:
                                                        type: object
                                                        properties:
                                                          font_weight:
                                                            type: string
                                                            description: 文字字重
                                                            example: bold
                                                          font_size:
[...]
