# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · bot API（全量）
  description: |-
    飞书开放平台 `bot` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: bot
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: bot
paths:
  /open-apis/bot/v4/bot/search:
    post:
      operationId: bot_bot_search
      summary: 搜索机器人
      tags:
      - bot
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/bot-v4/bot/search
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          type: string
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: query (长度范围：0 ～ 50 字符)
                  example: 会议助手
                filter:
                  type: object
                  properties:
                    chat_ids:
                      type: array
                      items:
                        type: string
                      description: 群聊ID列表，查询指定群聊内的机器人
                    has_chatter:
                      type: boolean
                      description: 是否和机器人聊过天，如果设置true，只返回有聊天的机器人
                  description: filter
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 机器人ID
                              example: 7890123456abcdef
                            display_info:
                              type: string
                              description: 包含机器人基本信息的卡片，用户搜索关键词命中的文本片段，使用<h></h>标签包裹标注
                              example: 飞书<h>搜索</h>助手
                            meta_data:
                              type: object
                              properties:
                                tenant_id:
                                  type: string
                                  description: 租户ID
                                  example: fawefawea
                                enable_join_group:
                                  type: boolean
                                  description: 是否允许加入群聊
                                chat_id:
                                  type: string
                                  description: 机器人所属的群聊ID
                                  example: oc-7890123456abcdef
                                  x-lark-id-types:
                                    chat_id: chat
                                is_agent:
                                  type: boolean
                                  description: 是否是智能体
                              description: 机器人元信息
                          required:
                          - id
                        description: items
                      has_more:
                        type: boolean
                        description: has_more
                      page_token:
                        type: string
                        description: page_token
                      notice:
                        type: string
                        description: 搜索补充提示信息，返回本次搜索的额外说明，例如：query被截断；搜索结果不全等
                        example: The query is too long and has been truncated to the first 50 characters for search.
                    required:
                    - items
                    - has_more
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - search:bot
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 4001
        httpCode: 400
        msg: 'invalid param: missing required fields'
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.filter.chat_ids[*]
        section: 0
components:
  schemas: {}
