# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · cardkit API（全量）
  description: |-
    飞书开放平台 `cardkit` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T04:09:08Z'
  x-lark-project: cardkit
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T04:09:08Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: card.element
- name: card
paths:
  /open-apis/cardkit/v1/cards/{card_id}/elements/{element_id}/content:
    put:
      operationId: cardkit_card_element_content
      summary: 流式更新文本
      tags:
      - card.element
      description: 以传入的文本内容覆盖已有卡片组件内容，卡片将自动识别其中的增量变更内容，并以“打字机”效果输出。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/cardkit-v1/card-element/content
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
        description: 卡片ID
        example: '7355439197428236291'
      - name: element_id
        in: path
        required: true
        schema:
          type: string
        description: 组件ID
        example: elem_63529372
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: 幂等 id，可通过传入唯一的 uuid 以保证相同批次的操作只进行一次。
                  example: '191857678434'
                content:
                  type: string
                  description: 更新后的文本内容
                  example: '{\"content\":\"更新后的文本内容\"}'
                sequence:
                  type: integer
                  description: 顺序序号，用于保证更新文本内容的时序性。在卡片的单次 streaming 模式周期中（steaming 状态从开始到停止），该值需为递增的正整数，否则将报错。
                  example: '1712578784'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - cardkit:card:write
      x-lark-rate-limit:
        tier: 4
  /open-apis/cardkit/v1/cards/{card_id}/elements:
    post:
      operationId: cardkit_card_element_create
      summary: 新增组件
      tags:
      - card.element
      description: 在卡片内指定位置添加组件
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/cardkit-v1/card-element/create
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
        description: 卡片ID
        example: '7355439197428236291'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: 添加组件的方式
                  enum:
                  - insert_before
                  - insert_after
                  - append
                  x-enum-descriptions:
                    insert_before: 在目标组件前插入
                    insert_after: 在目标组件后插入
                    append: 在卡片或容器组件末尾添加
                  example: insert_before
                target_element_id:
                  type: string
                  description: 目标组件的 ID。 当 type 为 insert_before、insert_after 时，为用于定位的目标组件。 当 type 为 append 时，该字段仅支持容器类组件，为用于指定末尾添加的目标组件，未填写默认为在卡片
                    body 末尾添加。
                  example: elem_63529372
                uuid:
                  type: string
                  description: 幂等 id，可通过传入唯一的 uuid 以保证相同批次的操作只进行一次。
                  example: '191857678434'
                sequence:
                  type: integer
                  description: 卡片处于流式更新模式时，进行卡片操作的顺序序号，用于保证多次更新的时序性。值为正整数，一次流式状态的多次更新操作（streaming_mode 一次从 true 到 false 期间）需要保证
                    sequence 递增，否则将报错。推荐使用时间戳。
                  example: '1712578784'
                elements:
                  type: string
                  description: 组件列表
                  example: '[{\"tag\":\"markdown\",\"id\":\"md_1\",\"content\":\"示例文本\"}]'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - cardkit:card:write
      x-lark-rate-limit:
        tier: 4
  /open-apis/cardkit/v1/cards/{card_id}/elements/{element_id}:
    delete:
      operationId: cardkit_card_element_delete
      summary: 删除组件
      tags:
      - card.element
      description: 删除卡片内的指定组件
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/cardkit-v1/card-element/delete
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
        description: 卡片ID
        example: '7355439197428236291'
      - name: element_id
        in: path
        required: true
        schema:
          type: string
        description: 组件ID
        example: elem_63529372
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: 幂等 id，可通过传入唯一的 uuid 以保证相同批次的操作只进行一次。
                  example: '191857678434'
                sequence:
                  type: integer
                  description: 卡片处于流式更新模式时，进行卡片操作的顺序序号，用于保证多次更新的时序性。值为正整数，一次流式状态的多次更新操作（streaming_mode 一次从 true 到 false 期间）需要保证
                    sequence 递增，否则将报错。推荐使用时间戳。
                  example: '1712578784'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - cardkit:card:write
      x-lark-rate-limit:
        tier: 4
    patch:
      operationId: cardkit_card_element_patch
      summary: 更新组件属性
      tags:
      - card.element
      description: 以传入的配置覆盖指定组件的已有配置
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/cardkit-v1/card-element/patch
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
        description: 卡片ID
        example: '7355439197428236291'
      - name: element_id
        in: path
        required: true
        schema:
          type: string
        description: 组件ID
        example: elem_63529372
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                partial_element:
                  type: string
                  description: 要更改的组件部分配置内容，传入 id 参数后将对原有组件的 id 进行更新，不支持修改 tag 参数。
                  example: '{\"content\":\"更新后的组件文本\"}'
                uuid:
                  type: string
                  description: 幂等 id，可通过传入唯一的 uuid 以保证相同批次的操作只进行一次。
                  example: '191857678434'
                sequence:
                  type: integer
                  description: 卡片处于流式更新模式时，进行卡片操作的顺序序号，用于保证多次更新的时序性。值为正整数，一次流式状态的多次更新操作（streaming_mode 一次从 true 到 false 期间）需要保证
                    sequence 递增，否则将报错。推荐使用时间戳。
                  example: '1712578784'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - cardkit:card:write
      x-lark-rate-limit:
        tier: 4
    put:
      operationId: cardkit_card_element_update
      summary: 更新组件
      tags:
      - card.element
      description: 以新组件全量替换更新指定组件
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/cardkit-v1/card-element/update
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
        description: 卡片ID
        example: '7355439197428236291'
      - name: element_id
        in: path
        required: true
        schema:
          type: string
        description: 组件ID
        example: elem_63529372
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: 幂等 id，可通过传入唯一的 uuid 以保证相同批次的操作只进行一次。
                  example: '191857678434'
                element:
                  type: string
                  description: 新的组件
                  example: '{\"tag\":\"markdown\",\"id\":\"md_1\",\"content\":\"普通文本\"}'
                sequence:
                  type: integer
                  description: 卡片处于流式更新模式时，进行卡片操作的顺序序号，用于保证多次更新的时序性。值为正整数，一次流式状态的多次更新操作（streaming_mode 一次从 true 到 false 期间）需要保证
                    sequence 递增，否则将报错。推荐使用时间戳。
                  example: '1712578784'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - cardkit:card:write
      x-lark-rate-limit:
        tier: 4
  /open-apis/cardkit/v1/cards/{card_id}/batch_update:
    post:
      operationId: cardkit_card_batch_update
      summary: 局部更新卡片实体
      tags:
      - card
      description: 按指定的多个操作批量局部更新卡片，支持更新卡片设置、添加组件、删除组件、更新组件
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/cardkit-v1/card/batch_update
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
        description: 卡片ID
        example: '7355439197428236291'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: 幂等 id，最大长度为 64。可通过传入唯一的 uuid 以保证相同批次的操作只进行一次。
                  example: '191857678434'
                sequence:
                  type: integer
                  description: 卡片处于流式更新模式时，进行卡片操作的顺序序号，用于保证多次更新的时序性。值为正整数，一次流式状态的多次更新操作（streaming_mode 一次从 true 到 false 期间）需要保证
                    sequence 递增，否则将报错。推荐使用时间戳。
                  example: '1712578784'
                actions:
                  type: string
                  description: 操作列表，可选值有： partial_update_setting：更新卡片设置，此时 parmas 结构参考更新卡片设置接口请求体的 settings 字段 ；add_elements，此时
                    parmas 结构参考添加组件接口请求体的 type、target_element_id、elements 字段 ； delete_elements，此时 parmas 结构内仅支持 element_ids
                    参数，参数值为组件 ID 数组 ； partial_update_element，此时 parmas 结构包括参考局部更新组件接口的路径参数 element_id 和请求体 partial_element
                    字段 ; update_element，此时 parmas 结构参考全量更新组件接口的路径参数 element_id 和请求体 element 字段
                  example: '[{\"action\":\"partial_update_setting\",\"params\":{\"config\":{\"streaming_mode\":true},\"card_link\":{\"url\":\"https://open.feishu.cn\"}}},{\"action\":\"add_elements\",\"params\":{\"type\":\"insert_before\",\"target_element_id\":\"text_1\",\"elements\":[{\"tag\":\"markdown\",\"id\":\"md_1\",\"content\":\"示例文本\"}]}},{\"action\":\"delete_elements\",\"params\":{\"element_ids\":[\"text_1\",\"text_2\"]}},{\"action\":\"partial_update_element\",\"params\":{\"element_id\":\"target_element\",\"partial_element\":{\"content\":\"更新后的组件文本\"}}},{\"action\":\"update_element\",\"params\":{\"element_id\":\"target_element\",\"element\":{\"tag\":\"markdown\",\"id\":\"md_1\",\"content\":\"普通文本\"}}}]'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - cardkit:card:write
      x-lark-rate-limit:
        tier: 4
  /open-apis/cardkit/v1/cards:
    post:
      operationId: cardkit_card_create
      summary: 创建卡片实体
      tags:
      - card
      description: 创建卡片实例，成功后可通过发送消息等接口发送卡片实例
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/cardkit-v1/card/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: 卡片数据的类型
                  example: card_json
                data:
                  type: string
                  description: 卡片数据内容，与卡片数据的类型相对应
                  example: '{\"schema\":\"2.0\",\"header\":{\"title\":{\"content\":\"卡片标题\",\"tag\":\"plain_text\"}},\"body\":{\"elements\":[{\"tag\":\"markdown\",\"content\":\"卡片内容\"}]}}'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      card_id:
                        type: string
                        description: 卡片ID
                        example: '7355372766134157313'
                    required:
                    - card_id
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - cardkit:card:write
      x-lark-rate-limit:
        tier: 4
  /open-apis/cardkit/v1/cards/id_convert:
    post:
      operationId: cardkit_card_id_convert
      summary: 转换 ID
      tags:
      - card
      description: 获取消息 id 对应的卡片 id
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/cardkit-v1/card/id_convert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message_id:
                  type: string
                  description: 消息ID
                  example: om_fbdf6ed2e17f1d98e78fb26c1370186e
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      card_id:
                        type: string
                        description: 消息 ID 对应的卡片 ID
                        example: '7355403067414003715'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - cardkit:card:read
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_message_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.message_id
        section: 0
  /open-apis/cardkit/v1/cards/{card_id}/settings:
    patch:
      operationId: cardkit_card_settings
      summary: 更新卡片实体配置
      tags:
      - card
      description: 更新指定的卡片设置
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/cardkit-v1/card/settings
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
        description: 卡片ID
        example: '7355372766134157313'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: string
                  description: 卡片设置
                  example: '{\"config\":{\"streaming_mode\":true,\"enable_forward\":true,\"update_multi\":true,\"width_mode\":\"fill\",\"enable_forward_interaction\":false},\"card_link\":{\"url\":\"https://open.feishu.cn\",\"android_url\":\"https://open.feishu.cn\",\"ios_url\":\"https://open.feishu.cn\",\"pc_url\":\"https://open.feishu.cn\"}}'
                uuid:
                  type: string
                  description: UUID
                  example: '191857678434'
                sequence:
                  type: integer
                  description: 卡片处于流式更新模式时，进行卡片操作的顺序序号，用于保证多次更新的时序性。值为正整数，一次流式状态的多次更新操作（streaming_mode 一次从 true 到 false 期间）需要保证
                    sequence 递增，否则将报错。推荐使用时间戳。
                  example: '1712578784'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - cardkit:card:write
      x-lark-rate-limit:
        tier: 4
  /open-apis/cardkit/v1/cards/{card_id}:
    put:
      operationId: cardkit_card_update
      summary: 全量更新卡片实体
      tags:
      - card
      description: 对卡片进行全量更新，即：以全新的卡片内容更新已有卡片
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/cardkit-v1/card/update
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
        description: 卡片ID
        example: '7355372766134157313'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                card:
                  type: object
                  properties:
                    type:
                      type: string
                      description: 卡片数据的类型
                      enum:
                      - card_json
                      x-enum-descriptions:
                        card_json: 卡片JSON
                      example: card_json
                    data:
                      type: string
                      description: 卡片数据内容，与卡片数据的类型相对应
                      example: '{\"schema\":\"2.0\",\"header\":{\"title\":{\"content\":\"卡片标题\",\"tag\":\"plain_text\"}},\"body\":{\"elements\":[{\"tag\":\"markdown\",\"content\":\"卡片内容\"}]}}'
                  required:
                  - type
                  - data
                  description: 卡片内容
                uuid:
                  type: string
                  description: 幂等 id，可通过传入唯一的 uuid 以保证相同批次的操作只进行一次。
                  example: '191857678434'
                sequence:
                  type: integer
                  description: 卡片处于流式更新模式时，进行卡片操作的顺序序号，用于保证多次更新的时序性。值为正整数，一次流式状态的多次更新操作（streaming_mode 一次从 true 到 false 期间）需要保证
                    sequence 递增，否则将报错。推荐使用时间戳。
                  example: '1712578784'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - cardkit:card:write
      x-lark-rate-limit:
        tier: 4
components:
  schemas: {}
