# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · compensation API（全量）
  description: |-
    飞书开放平台 `compensation` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:22:04Z'
  x-lark-project: compensation
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:22:04Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: archive
- name: change_reason
- name: indicator
- name: item
- name: item_category
- name: lump_sum_payment
- name: plan
- name: recurring_payment
- name: social_archive
- name: social_archive_adjust_record
- name: social_insurance
- name: social_plan
paths:
  /open-apis/compensation/v1/archives:
    post:
      operationId: compensation_archive_create
      summary: 创建薪资档案
      tags:
      - archive
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/archive/create
      parameters:
      - name: user_id_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_corehr_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_corehr_id: 以people_corehr_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                unique_id:
                  type: string
                  description: 外部幂等id，表示操作的唯一标识，避免重复发起，格式为标准的UUIDV4,
                  example: 123e4567-e89b-42d3-a456-426614174000
                operator_id:
                  type: string
                  description: 操作人ID，具体类型由入参中的 user_id_type 指定，选择应用身份鉴权时，该参数不能为空
                  example: '7337149697626801708'
                user_id:
                  type: string
                  description: 员工id，具体类型由入参中的 user_id_type 指定
                  example: '7337149697626801708'
                effective_time:
                  type: string
                  description: 生效时间，日期格式
                  example: '2024-11-12'
                currency_id:
                  type: string
                  description: 币种ID，获取来源https://open.larkoffice.com/document/uAjLw4CM/ukTMukTMukTM/corehr-v2/basic_info-currency/search?appId=cli_a63f5fc01866100c
                  example: '6863329932261459464'
                plan_id:
                  type: string
                  description: 薪资方案ID，获取来源：https://open.larkoffice.com/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/plan/list
                  example: '7431430313074247212'
                plan_tid:
                  type: string
                  description: 薪资方案TID，获取来源：https://open.larkoffice.com/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/plan/list
                  example: '7431430313074279980'
                change_reason_id:
                  type: string
                  description: 调薪原因ID，获取来源：https://open.larkoffice.com/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/change_reason/list
                  example: '7125907336899888684'
                item_value_lists:
                  type: array
                  items:
                    type: object
                    properties:
                      item_id:
                        type: string
                        description: 薪资项ID
                        example: '7244131355509917228'
                      item_value:
                        type: string
                        description: 薪资项的值
                        example: '200.00'
                      item_value_regular:
                        type: string
                        description: 员工转正后薪资项的值，仅用于开启试用期的薪资方案，以及员工处于实习期
                        example: '600.00'
                    required:
                    - item_id
                    - item_value
                  description: 薪资项值集合
                description:
                  type: string
                  description: 调薪说明
                  example: 调薪说明
                edit_remark:
                  type: string
                  description: 更正说明，当员工在当天存在调薪记录时，该字段即为更正调薪的说明
                  example: 更正调薪说明
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      unique_id:
                        type: string
                        description: 定调薪任务创建的唯一ID
                        example: 123e4567-e89b-42d3-a456-426614174000
                      archive_tid:
                        type: string
                        description: 薪档案的TID
                        example: '7434007780111336970'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - corehr:compensation_archive:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 2290001
        httpCode: 400
        msg: param is empty
      - code: 2290002
        httpCode: 400
        msg: 'effective time is invalid, correct example: 2024-01-01'
      - code: 2290003
        httpCode: 400
        msg: Invalid user ID, cannot find employment
      - code: 2290004
        httpCode: 500
        msg: service error
      - code: 2290005
        httpCode: 400
        msg: No permission to adjust
      - code: 2290006
        httpCode: 400
        msg: The plan not exist, please check plan_tid
      - code: 2290007
        httpCode: 400
        msg: the description is too long, limit 1000
      - code: 2290008
        httpCode: 400
        msg: the edit remark is too long, limit 1000
      - code: 2290009
        httpCode: 400
        msg: the change reason does not exist
      - code: 2290010
        httpCode: 400
        msg: the currency not exist, please check currency_id
      - code: 2290011
        httpCode: 400
        msg: the currency not match with the plan currency
      - code: 2290012
        httpCode: 400
        msg: Invalid user ID, cannot find employment
      - code: 2290013
        httpCode: 400
        msg: employment id to people id failed,   please check user_id
      - code: 2290014
        httpCode: 400
        msg: 'effective time is invalid, correct example: 2024-01-01'
      - code: 2290015
        httpCode: 400
        msg: the effective time is range out of limit，limit（1970-01-01, 2038-01-19）
      - code: 2290016
        httpCode: 400
        msg: archive effective time is not allow before the plan effective time
      - code: 2290017
        httpCode: 400
        msg: the plan status is deactivate
      - code: 2290018
        httpCode: 400
        msg: the effective time is after employee's last day, please check effective_time
      - code: 2290019
        httpCode: 400
        msg: the effective time is before employee's hire day, please check effective_time
      - code: 2290020
        httpCode: 400
        msg: miss required archive items, please check item_value_lists
      - code: 2290021
        httpCode: 400
        msg: |+
          the item not allow to edit  or  the item not in plan, please check item_value_lists

      - code: 2290022
        httpCode: 400
        msg: the item value is invalid, value must be a positive number and cannot be greater than 9223372036854775807
      - code: 2290023
        httpCode: 400
        msg: the plan is not open probation, the item not allow to have regular value
      - code: 2290024
        httpCode: 400
        msg: the employee is not in probation, the item not allow to have  regular value
      - code: 2290025
        httpCode: 400
        msg: under this effective date, employees' adjust items are not allowed to have  regular value
      - code: 2290026
        httpCode: 400
        msg: regular item values ​​are either all empty or all null. Values ​​must be positive numbers and cannot be greater
          than 9223372036854775807
      - code: 2290027
        httpCode: 400
        msg: match standard fail
      - code: 2290028
        httpCode: 400
        msg: unique id is exist, please change
      - code: 2290029
        httpCode: 400
        msg: operator id invalid，If using application identity for authentication, the operator id must be valid
      - code: 2290030
        httpCode: 400
        msg: operator id invalid, If using application identity for authentication, the operator id must be valid
      - code: 2290031
        httpCode: 400
        msg: This user already has a duplicate salary adjustment task under the effective date
      - code: 2290032
        httpCode: 400
        msg: The user has unfinished salary adjustment tasks and cannot initiate another salary adjustment.
      - code: 2290033
        httpCode: 400
        msg: effective_time is empty
      - code: 2290034
        httpCode: 400
        msg: plan_id is empty
      - code: 2290035
        httpCode: 400
        msg: plan_tid is empty
      - code: 2290036
        httpCode: 400
        msg: currency_id is empty
      - code: 2290037
        httpCode: 400
        msg: user_id is empty
      - code: 2290038
        httpCode: 400
        msg: unique_id is empty
      - code: 2290039
        httpCode: 400
        msg: change_reason_id is empty
      - code: 2290040
        httpCode: 400
        msg: There are duplicate items in item_value_lists, please check item_value_lists
      - code: 2290041
        httpCode: 400
        msg: the item value is invalid, value must be a positive number and cannot be greater than 9223372036854775807
      - code: 2290042
        httpCode: 400
        msg: regular item values ​​are either all empty or all null. Values ​​must be positive numbers and cannot be greater
          than 9223372036854775807
      x-lark-rate-limit:
        tier: 7
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.operator_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_id
        section: 0
  /open-apis/compensation/v1/archives/query:
    post:
      operationId: compensation_archive_query
      summary: 批量查询员工薪资档案
      tags:
      - archive
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/archive/query
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
          default: 100
        description: 分页大小
        example: '100'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '231432433'
      - name: user_id_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_corehr_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_corehr_id: 以people_corehr_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户ID类型
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id_list:
                  type: array
                  items:
                    type: string
                  description: 用户ID列表
                tid_list:
                  type: array
                  items:
                    type: string
                  description: 档案Tid列表
                effective_start_date:
                  type: string
                  description: 生效开始时间
                  example: '2022-05-10'
                effective_end_date:
                  type: string
                  description: 生效结束时间
                  example: '2023-05-15'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: string
                              description: 员工ID
                              example: '344325234123'
                            id:
                              type: string
                              description: 档案ID
                              example: '32141234412'
                            tid:
                              type: string
                              description: 档案TID
                              example: '141541351'
                            plan_id:
                              type: string
                              description: 关联方案ID，详细信息可以通过[批量查询薪资方案](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/plan/list)接口查询获得
                              example: '123412433'
                            plan_tid:
                              type: string
                              description: 关联方案TID，详细信息可以通过[批量查询薪资方案](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/plan/list)接口查询获得
                              example: '213412343'
                            currency_id:
                              type: string
                              description: 档案币种ID，详细信息可以通过[查询货币信息v2](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/corehr-v2/basic_info-currency/search)接口查询获得
                              example: '324167823'
                            change_reason_id:
                              type: string
                              description: 调薪原因ID，详细信息可以通过[批量查询定调薪原因](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/change_reason/list)接口查询获得
                              example: '321414123'
                            change_description:
                              type: string
                              description: 调薪说明
                              example: 长期表现优异，产出高，本次给出涨幅
                            effective_date:
                              type: string
                              description: 生效时间
                              example: '2022-10-23'
                            expiration_date:
                              type: string
                              description: 失效时间
                              example: '2022-10-24'
                            salary_level_id:
                              type: string
                              description: 薪级薪等ID
                              example: '12342313'
                            created_time:
                              type: string
                              description: 创建时间
                              example: '2024-01-01 00:00:00'
                            updated_time:
                              type: string
                              description: 更新时间
                              example: '2024-01-01 00:00:00'
                            archive_items:
                              type: array
                              items:
                                type: object
                                properties:
                                  item_id:
                                    type: string
                                    description: 薪酬项ID，详细信息可以通过[批量查询薪资项](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/item/list)接口查询获得
                                    example: '213423144'
                                  item_result:
                                    type: string
                                    description: 档案关联薪酬项数值
                                    example: '15000'
                                  item_result_regular:
                                    type: string
                                    description: 档案关联薪酬项转正后数值
                                    example: '18000'
                                required:
                                - item_id
                                - item_result
                              description: 档案关联的薪资项
                            archive_indicators:
                              type: array
                              items:
                                type: object
                                properties:
                                  indicator_id:
                                    type: string
                                    description: 薪资统计指标ID，详细信息可以通过[批量查询薪资统计指标](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/indicator/list)接口查询获得
                                    example: '23141423'
                                  indicator_result:
                                    type: string
                                    description: 档案关联薪资统计指标数值
                                    example: '15000'
                                  indicator_result_regular:
                                    type: string
                                    description: 档案关联薪资统计指标转正后数值
                                    example: '18000'
                                required:
                                - indicator_id
                                - indicator_result
                              description: 档案关联的薪资指标
                          required:
                          - user_id
                          - id
                          - tid
                          - plan_id
                          - plan_tid
                          - change_reason_id
                          - change_description
                          - effective_date
                          - archive_items
                          - archive_indicators
                        description: 档案信息列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: '1234452132'
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'true'
                    required:
                    - items
                    - has_more
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - corehr:compensation_archive_detail:read
      x-lark-field-scopes:
      - corehr:compensation_archive_detail.items:read
      - corehr:compensation_archive_detail.indicators:read
      - contact:user.employee_id:readonly
      - corehr:compensation_archive_detail.plan:read
      - corehr:compensation_archive_detail.change_description:read
      - corehr:compensation_archive_detail.salary_level:read
      x-lark-error-mappings:
      - code: 2290001
        httpCode: 500
        msg: server error
      - code: 2290002
        httpCode: 400
        msg: TenantID param invalid
      - code: 2290003
        httpCode: 500
        msg: server error
      - code: 2290004
        httpCode: 400
        msg: 'the format of start_date not match, correct example: 2024-01-01'
      - code: 2290005
        httpCode: 400
        msg: 'the format of end_date not match, correct example: 2024-01-01'
      - code: 2290006
        httpCode: 400
        msg: user_id_type invalid
      x-lark-rate-limit:
        tier: 7
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_id_list[*]
        section: 0
  /open-apis/compensation/v1/change_reasons:
    get:
      operationId: compensation_change_reason_list
      summary: 批量查询定调薪原因
      tags:
      - change_reason
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/change_reason/list
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
          default: 100
        description: 分页大小
        example: '100'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '12314342'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 调薪原因ID
                              example: '7196951947268589113'
                            name:
                              type: string
                              description: 调薪原因名称
                              example: 入职调薪
                            note:
                              type: string
                              description: 调薪原因备注
                              example: 入职时使用的调薪原因
                            active_status:
                              type: integer
                              description: 启用状态
                              enum:
                              - 1
                              - 0
                              x-enum-descriptions:
                                '1': 启用
                                '0': 禁用
                              example: '1'
                            i18n_names:
                              type: array
                              items:
                                type: object
                                properties:
                                  locale:
                                    type: string
                                    description: 语言版本
                                    example: zh_cn
                                  value:
                                    type: string
                                    description: 语言名称
                                    example: 中文名称
                              description: 多语言名称
                            i18n_notes:
                              type: array
                              items:
                                type: object
                                properties:
                                  locale:
                                    type: string
                                    description: 语言版本
                                    example: zh_cn
                                  value:
                                    type: string
                                    description: 语言名称
                                    example: 中文名称
                              description: 多语言描述
                          required:
                          - id
                          - name
                          - note
                          - active_status
                          - i18n_names
                          - i18n_notes
                        description: 调薪原因信息列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: '1234452132'
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'true'
                    required:
                    - items
                    - has_more
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:compensation_change_reason:read
      x-lark-error-mappings:
      - code: 2290001
        httpCode: 500
        msg: server error
      - code: 2290002
        httpCode: 400
        msg: param invalid
      - code: 2290003
        httpCode: 500
        msg: rpc fail
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
  /open-apis/compensation/v1/indicators:
    get:
      operationId: compensation_indicator_list
      summary: 批量查询薪资统计指标
      tags:
      - indicator
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/indicator/list
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
          default: 100
        description: 分页大小
        example: '100'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '123423321'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 薪资统计指标ID
                              example: '7196951947228589113'
                            name:
                              type: string
                              description: 薪资统计指标名称
                              example: 年度现金总和
                            value_type:
                              type: string
                              description: 薪资统计指标数值类型
                              enum:
                              - money
                              - number
                              - percent
                              x-enum-descriptions:
                                money: 金额
                                number: 数值
                                percent: 百分比
                              example: money
                            active_status:
                              type: integer
                              description: 启用状态
                              enum:
                              - 1
                              - 0
                              x-enum-descriptions:
                                '1': 启用
                                '0': 禁用
                              example: '1'
                            i18n_names:
                              type: array
                              items:
                                type: object
                                properties:
                                  locale:
                                    type: string
                                    description: 语言版本
                                    example: zh_cn
                                  value:
                                    type: string
                                    description: 语言名称
                                    example: 中文名称
                              description: 多语言名称
                          required:
                          - id
                          - name
                          - value_type
                          - active_status
                          - i18n_names
                        description: 薪资统计指标信息列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: '1234452132'
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'true'
                    required:
                    - items
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:compensation_indicator:read
      x-lark-error-mappings:
      - code: 2290001
        httpCode: 500
        msg: server error
      - code: 2290002
        httpCode: 400
        msg: param invalid
      - code: 2290003
        httpCode: 500
        msg: rpc fail
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
  /open-apis/compensation/v1/items:
    get:
      operationId: compensation_item_list
      summary: 批量查询薪资项
      tags:
      - item
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/item/list
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
          default: 100
        description: 分页大小
        example: '100'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '5234233214'
      - name: item_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - salary
          - bonus
          - recurring_payment
          x-enum-descriptions:
            salary: 基本薪资
            bonus: 一次性支付
            recurring_payment: 经常性支付
        description: 薪酬项类型（不传则认为查询所有类型薪酬项）
        example: bonus
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 薪酬项ID
                              example: '7196951947268589113'
                            name:
                              type: string
                              description: 薪酬项名称
                              example: 基本月薪
                            description:
                              type: string
                              description: 薪酬项描述
                              example: 每月份的薪酬
                            category_id:
                              type: string
                              description: 薪酬项分类ID，详细信息可以通过[批量获取薪资项分类信息](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/item_category/list)接口查询获得
                              example: '7196951947268589223'
                            value_type:
                              type: string
                              description: 薪酬项数值类型
                              enum:
                              - money
                              - number
                              - percent
                              x-enum-descriptions:
                                money: 金额
                                number: 数值
                                percent: 百分比
                              example: money
                            pay_off_frequency_type:
                              type: string
                              description: 发放频率
                              enum:
                              - year
                              - half_year
                              - quarterly
                              - bimonthly
                              - month
                              - biweekly
                              - week
                              - day
                              - hour
                              x-enum-descriptions:
                                year: 年
                                half_year: 半年
                                quarterly: 季度
                                bimonthly: 双月
                                month: 月
                                biweekly: 双周
                                week: 周
                                day: 日
                                hour: 小时
                              example: month
                            decimal_places:
                              type: integer
                              description: 小数位数
                              example: '2'
                            active_status:
                              type: integer
                              description: 启用状态
                              enum:
                              - 1
                              - 0
                              x-enum-descriptions:
                                '1': 启用
                                '0': 禁用
                              example: '1'
                            i18n_names:
                              type: array
                              items:
                                type: object
                                properties:
                                  locale:
                                    type: string
                                    description: 语言版本
                                    example: zh_cn
                                  value:
                                    type: string
                                    description: 语言名称
                                    example: 中文名称
                              description: 多语言名称
                            i18n_descriptions:
                              type: array
                              items:
                                type: object
                                properties:
                                  locale:
                                    type: string
                                    description: 语言版本
                                    example: zh_cn
                                  value:
                                    type: string
                                    description: 语言名称
                                    example: 中文名称
                              description: 多语言描述
                            item_type:
                              type: string
                              description: 薪酬项类型
                              enum:
                              - salary
                              - bonus
                              - recurring_payment
                              x-enum-descriptions:
                                salary: 基本薪资
                                bonus: 一次性支付
                                recurring_payment: 经常性支付
                              example: bonus
                          required:
                          - id
                          - name
                          - description
                          - category_id
                          - value_type
                          - pay_off_frequency_type
                          - active_status
                          - i18n_names
                          - i18n_descriptions
                        description: 薪酬项信息列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: '1234452132'
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'true'
                    required:
                    - items
                    - has_more
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:compensation_item:read
      x-lark-error-mappings:
      - code: 2290001
        httpCode: 500
        msg: server error
      - code: 2290002
        httpCode: 400
        msg: param invalid
      - code: 2290003
        httpCode: 500
        msg: rpc fail
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
  /open-apis/compensation/v1/item_categories:
    get:
      operationId: compensation_item_category_list
      summary: 批量获取薪资项分类信息
      tags:
      - item_category
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/item_category/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 100
        description: 分页大小
        example: '100'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '231412341234'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 薪酬项分类ID
                              example: '4532312334'
                            name:
                              type: string
                              description: 薪酬项分类名称
                              example: 基本薪资类
                            i18n_names:
                              type: array
                              items:
                                type: object
                                properties:
                                  locale:
                                    type: string
                                    description: 语言版本
                                    example: zh_cn
                                  value:
                                    type: string
                                    description: 语言名称
                                    example: 中文名称
                              description: 薪酬项多语言分类
                          required:
                          - id
                          - name
                        description: 薪酬项分类信息列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: '2314123434'
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'true'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:compensation_item_category:read
      x-lark-error-mappings:
      - code: 2290001
        httpCode: 500
        msg: server error
      - code: 2290002
        httpCode: 400
        msg: param invalid
      - code: 2290003
        httpCode: 500
        msg: rpc fail
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
  /open-apis/compensation/v1/lump_sum_payment/batch_create:
    post:
      operationId: compensation_lump_sum_payment_batch_create
      summary: 批量创建一次性支付记录
      tags:
      - lump_sum_payment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/lump_sum_payment/batch_create
      parameters:
      - name: user_id_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_corehr_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_corehr_id: 以people_corehr_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户ID类型
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                records:
                  type: array
                  items:
                    type: object
                    properties:
                      unique_id:
                        type: string
                        description: 外部幂等id，由上游业务决定
                        example: '7402510801304718380_7309316347007764012_7402523725868058156_1726070400000_10000'
                      user_id:
                        type: string
                        description: 员工id，具体类型由入参中的 user_id_type 指定
                        example: '7337149697626801708'
                      total_amount:
                        type: string
                        description: 总金额，字符串表达的数字
                        example: '2000.00'
                      binding_period:
                        type: integer
                        description: 绑定期，单位为月
                        example: '2'
                      currency_id:
                        type: string
                        description: 币种id
                        example: '6863329932261459464'
                      issuance_frequency:
                        type: integer
                        description: 发放次数，必须与 details 的长度一致
                        example: '3'
                      item_id:
                        type: string
                        description: 薪酬项id（可通过 https://open.larkoffice.com/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/item/list?appId=cli_a3077e2bb03c100d
                          进行查询）
                        example: '7411039006180312620'
                      reference_period_start_date:
                        type: string
                        description: 一次性支付记录所属期开始日期
                        example: '2024-08-01'
                      reference_period_end_date:
                        type: string
                        description: 一次性支付记录所属期结束日期
                        example: '2024-08-01'
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            issuance_amount:
                              type: string
                              description: 一次性支付明细发放金额，可转数字的字符串
                              example: '2000.00'
                            issuance_status:
                              type: string
                              description: 发放状态
                              enum:
                              - to_be_issued
                              - not_issued
                              x-enum-descriptions:
                                to_be_issued: 应发放
                                not_issued: 不发放
                              example: to_be_issued
                            issuance_way:
                              type: string
                              description: 发放方式
                              enum:
                              - with_salary
                              - with_cash
                              - with_year_end_bonus
                              x-enum-descriptions:
                                with_salary: 随工资发放
                                with_cash: 现金发放
                                with_year_end_bonus: 随年终奖发放
                              example: with_salary
                            issuance_time:
                              type: string
                              description: 发放日期
                              example: '2024-08-01'
                            belong_time:
                              type: string
                              description: 申请发放日期
                              example: '2025-01-20'
                            issuance_country_region_id:
                              type: string
                              description: 发放国家ID（可通过 https://open.larkoffice.com/document/uAjLw4CM/ukTMukTMukTM/corehr-v2/basic_info-country_region/search进行查询）
                              example: '6862995757234914824'
                            issuance_pay_group_id:
                              type: string
                              description: 发放薪资组ID（可通过 https://open.larkoffice.com/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/paygroup/list进行查询）
                              example: '6862995757234914824'
                            detail_reference_period_start_date:
                              type: string
                              description: 一次性支付明细所属期开始日期
                              example: '2024-08-01'
                            detail_reference_period_end_date:
                              type: string
                              description: 一次性支付明细所属期结束日期
                              example: '2024-08-01'
                            is_not_issued_due_to_offboardings:
                              type: integer
                              description: 是否因离职不发放 0, // 空，未填写或不适用     Yes   = 1, // 是，因离职停发     No    = 2, // 否，非离职停发
                              default: 0
                              example: '0'
                          required:
                          - issuance_amount
                          - issuance_status
                          - issuance_way
                          - issuance_time
                          - belong_time
                        description: 发放明细列表
                      remark:
                        type: string
                        description: 备注
                        example: 备注
                      binding_period_decimal:
                        type: string
                        description: 绑定期带小数
                        example: '12.56'
                    required:
                    - unique_id
                    - user_id
                    - total_amount
                    - binding_period
                    - currency_id
                    - issuance_frequency
                    - item_id
                    - details
                  description: 要创建的一次性支付信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      operate_results:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 操作的记录的 id
                              example: '7390583861280556588'
                            unique_id:
                              type: string
                              description: 操作的记录的 unique_id
                              example: '7390583861280556588'
                            code:
                              type: integer
                              description: 操作结果状态码
                              enum:
                              - 0
                              - 21270201
                              - 21270202
                              - 21270203
                              - 21270205
                              - 21270206
                              - 21270207
                              - 21270208
                              - 21270209
                              - 21270210
                              - 21270211
                              - 21270213
                              - 21270214
                              - 21270215
                              - 21270217
                              - 21270218
                              - 21270219
                              - 21270220
                              - 21270221
                              - 21270222
                              - 21270223
                              - 21270224
                              - 21270225
                              - 21270226
                              - 21270227
                              - 21270228
                              - 21270229
                              - 21270230
                              - 21270070
                              - 21270239
                              - 21270240
                              - 21270241
                              x-enum-descriptions:
                                '0': '"success"       操作成功'
                                '21270201': '"The bonus to be changed does not exist"       要更改的奖金不存在'
                                '21270202': '"Idempotent ID conflict"       幂等id冲突'
                                '21270203': '"The total amount format is incorrect"       总金额格式不正确'
                                '21270205': '"The bonus item does not support decimal places for the amount"       奖金项不支持金额小数位数'
                                '21270206': '"The sum of the bonus details does not equal the total amount"       奖金明细金额之和不等于总金额'
                                '21270207': '"issuance frequency not equal to size of details"       奖金明细总数不等于发放次数'
                                '21270208': '"The number of issuances is less than or equal to 0"       发放次数小于等于0'
                                '21270209': '"The currency is empty or does not exist"       币种为空或不存在'
                                '21270210': '"Notes are too long"       备注超长'
                                '21270211': '"The bonus details amount format is incorrect"       奖金明细金额格式不正确'
                                '21270213': '"The bonus details payment time format is incorrect"       奖金明细的发放时间格式不正确'
                                '21270214': '"The bonus details are issued in an illegal manner"       奖金明细的发放方式不合法'
                                '21270215': '"The bonus details are not in a valid payment status"       奖金明细的发放状态不合法'
                                '21270217': '"Employees are not covered by the bonus rules"       员工不在奖金项规则适用范围之内'
                                '21270218': '"The method of awarding bonus details is not covered by the bonus item rules"       奖金明细的发放方式不在奖金项规则适用范围之内'
                                '21270219': '"Bonus item rules do not support configuration of binding period"       奖金项规则不支持配置绑定期'
                                '21270220': '"The bonus details payment status is "paid", and cannot be modified"       奖金明细发放状态为「已发放」，不支持修改'
                                '21270221': '"The bonus item rules already include the currency, and other currencies cannot
                                  be specified"       奖金项规则已包含币种，不支持指定其他币种'
                                '21270222': '"The salary item does not exist"       薪酬项不存在'
                                '21270223': '"Employee does not exist"       员工不存在'
                                '21270224': '"The bonus details payment status is "paid", and deletion is not supported"       奖金明细发放状态为「已发放」，不支持删除'
                                '21270225': '"Bonus rules do not allow multiple awards"       奖金项规则不允许多次发放'
                                '21270226': '"No data permission"       无数据权限'
                                '21270227': '"Only positive integers are allowed for the binding period"       绑定期只允许正整数'
                                '21270228': '"This bonus does not currently support custom binding periods. Please configure
                                  and write according to the rules for the binding period of the salary item"       该奖金暂不支持自定义绑定期，请按照薪酬项绑定期规则配置写入'
                                '21270229': '"The application issuance date must not be later than the issuance date"       申请发放日期不得晚于发放日期'
                                '21270230': '"The application payment date format of the bonus details is incorrect"       奖金明细的申请发放日期格式不正确'
                                '21270070': '"The binding period and the ownership period start and end dates do not match"       绑定期和所属期开始结束日期不匹配'
                                '21270239': '"One time payment detail reference period start date and One time payment detail
                                  reference period end date shall be filled in or left blank at the same time. Please confirm"       「一次性支付明细所属期开始日期」、「一次性支付明细所属期结束日期」需同时填写或同时为空，请确认'
                                '21270240': '"One time payment detail reference period start date must be earlier than or
                                  equal to One time payment detail reference period end date. Please confirm"       「一次性支付明细所属期开始日期」需早于等于「一次性支付明细结束日期」，请确认'
                                '21270241': '"One time payment detail reference period must fall within the scope of One time
                                  payment record reference period. Please adjust"       「一次性支付明细所属期」需包含在「一次性支付记录所属期」范围内，请调整'
                              example: '21270202'
                            message:
                              type: string
                              description: 操作结果描述
                              example: uqniue id conflict
                        description: 每条记录的操作结果。对于创建成功的记录，会返回创建后的一次性支付记录id
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:compensation.lump_sum_payment:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 2290001
        httpCode: 400
        msg: param is invalid
      - code: 2290002
        httpCode: 500
        msg: server error
      x-lark-rate-limit:
        tier: 7
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.records[*].user_id
        section: 0
  /open-apis/compensation/v1/lump_sum_payment/batch_remove:
    post:
      operationId: compensation_lump_sum_payment_batch_remove
      summary: 批量删除一次性支付记录
      tags:
      - lump_sum_payment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/lump_sum_payment/batch_remove
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                record_ids:
                  type: array
                  items:
                    type: string
                  description: 要删除的一次性支付记录id
                reason:
                  type: string
                  description: 删除原因
                  example: 这是个原因
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      operate_results:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 操作的记录的 id
                              example: '7390583861280556588'
                            unique_id:
                              type: string
                              description: 操作的记录的 unique_id
                              example: '7390583861280556588'
                            code:
                              type: integer
                              description: 操作结果状态码
                              enum:
                              - 0
                              - 21270201
                              - 21270202
                              - 21270203
                              - 21270205
                              - 21270206
                              - 21270207
                              - 21270208
                              - 21270209
                              - 21270210
                              - 21270211
                              - 21270213
                              - 21270214
                              - 21270215
                              - 21270217
                              - 21270218
                              - 21270219
                              - 21270220
                              - 21270221
                              - 21270222
                              - 21270223
                              - 21270224
                              - 21270225
                              - 21270226
                              - 21270227
                              - 21270228
                              - 21270229
                              - 21270230
                              - 21270070
                              - 21270239
                              - 21270240
                              - 21270241
                              x-enum-descriptions:
                                '0': '"success"       操作成功'
                                '21270201': '"The bonus to be changed does not exist"       要更改的奖金不存在'
                                '21270202': '"Idempotent ID conflict"       幂等id冲突'
                                '21270203': '"The total amount format is incorrect"       总金额格式不正确'
                                '21270205': '"The bonus item does not support decimal places for the amount"       奖金项不支持金额小数位数'
                                '21270206': '"The sum of the bonus details does not equal the total amount"       奖金明细金额之和不等于总金额'
                                '21270207': '"issuance frequency not equal to size of details"       奖金明细总数不等于发放次数'
                                '21270208': '"The number of issuances is less than or equal to 0"       发放次数小于等于0'
                                '21270209': '"The currency is empty or does not exist"       币种为空或不存在'
                                '21270210': '"Notes are too long"       备注超长'
                                '21270211': '"The bonus details amount format is incorrect"       奖金明细金额格式不正确'
                                '21270213': '"The bonus details payment time format is incorrect"       奖金明细的发放时间格式不正确'
                                '21270214': '"The bonus details are issued in an illegal manner"       奖金明细的发放方式不合法'
                                '21270215': '"The bonus details are not in a valid payment status"       奖金明细的发放状态不合法'
                                '21270217': '"Employees are not covered by the bonus rules"       员工不在奖金项规则适用范围之内'
                                '21270218': '"The method of awarding bonus details is not covered by the bonus item rules"       奖金明细的发放方式不在奖金项规则适用范围之内'
                                '21270219': '"Bonus item rules do not support configuration of binding period"       奖金项规则不支持配置绑定期'
                                '21270220': '"The bonus details payment status is "paid", and cannot be modified"       奖金明细发放状态为「已发放」，不支持修改'
                                '21270221': '"The bonus item rules already include the currency, and other currencies cannot
                                  be specified"       奖金项规则已包含币种，不支持指定其他币种'
                                '21270222': '"The salary item does not exist"       薪酬项不存在'
                                '21270223': '"Employee does not exist"       员工不存在'
                                '21270224': '"The bonus details payment status is "paid", and deletion is not supported"       奖金明细发放状态为「已发放」，不支持删除'
                                '21270225': '"Bonus rules do not allow multiple awards"       奖金项规则不允许多次发放'
                                '21270226': '"No data permission"       无数据权限'
                                '21270227': '"Only positive integers are allowed for the binding period"       绑定期只允许正整数'
                                '21270228': '"This bonus does not currently support custom binding periods. Please configure
                                  and write according to the rules for the binding period of the salary item"       该奖金暂不支持自定义绑定期，请按照薪酬项绑定期规则配置写入'
                                '21270229': '"The application issuance date must not be later than the issuance date"       申请发放日期不得晚于发放日期'
                                '21270230': '"The application payment date format of the bonus details is incorrect"       奖金明细的申请发放日期格式不正确'
                                '21270070': '"The binding period and the ownership period start and end dates do not match"       绑定期和所属期开始结束日期不匹配'
                                '21270239': '"One time payment detail reference period start date and One time payment detail
                                  reference period end date shall be filled in or left blank at the same time. Please confirm"       「一次性支付明细所属期开始日期」、「一次性支付明细所属期结束日期」需同时填写或同时为空，请确认'
                                '21270240': '"One time payment detail reference period start date must be earlier than or
                                  equal to One time payment detail reference period end date. Please confirm"       「一次性支付明细所属期开始日期」需早于等于「一次性支付明细结束日期」，请确认'
                                '21270241': '"One time payment detail reference period must fall within the scope of One time
                                  payment record reference period. Please adjust"       「一次性支付明细所属期」需包含在「一次性支付记录所属期」范围内，请调整'
                              example: '21270202'
                            message:
                              type: string
                              description: 操作结果描述
                              example: uqniue id conflict
                        description: 每条记录的操作结果
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:compensation.lump_sum_payment:write
      x-lark-error-mappings:
      - code: 2290001
        httpCode: 400
        msg: param is invalid
      - code: 2290002
        httpCode: 500
        msg: server error
      x-lark-rate-limit:
        tier: 7
  /open-apis/compensation/v1/lump_sum_payment/batch_update:
    post:
      operationId: compensation_lump_sum_payment_batch_update
      summary: 批量更正一次性支付记录
      tags:
      - lump_sum_payment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/lump_sum_payment/batch_update
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                records:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 一次性支付记录id
                        example: '7397033607132351532'
                      total_amount:
                        type: string
                        description: 总金额，字符串表达的数字
                        example: '2000.00'
                      binding_period:
                        type: integer
                        description: 绑定期，单位为月
                        example: '2'
                      currency_id:
                        type: string
                        description: 币种id
                        example: '6863329932261459464'
                      issuance_frequency:
                        type: integer
                        description: 发放次数，必须与details的长度一致
                        example: '3'
                      remark:
                        type: string
                        description: 备注
                        example: 备注
                      reference_period_start_date:
                        type: string
                        description: 一次性支付记录所属期开始日期
                        example: '2024-08-01'
                      reference_period_end_date:
                        type: string
                        description: 一次性支付记录所属期结束日期
                        example: '2024-08-01'
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 一次性支付记录明细id。传入已有的id代表直接在原明细上进行更新，不传则代表创建新的明细
                              example: '7395133551102200876'
                            issuance_amount:
                              type: string
                              description: 一次性支付明细发放金额，可转数字的字符串
                              example: '2000.00'
                            issuance_status:
                              type: string
                              description: 发放状态
                              enum:
                              - to_be_issued
                              - not_issued
                              x-enum-descriptions:
                                to_be_issued: 应发放
                                not_issued: 不发放
                              example: to_be_issued
                            issuance_way:
                              type: string
                              description: 发放方式
                              enum:
                              - with_salary
                              - with_cash
                              - with_year_end_bonus
                              x-enum-descriptions:
                                with_salary: 随工资发放
                                with_cash: 现金发放
                                with_year_end_bonus: 随年终奖发放
                              example: with_salary
                            issuance_time:
                              type: string
                              description: 发放日期
                              example: '2024-08-20'
                            belong_time:
                              type: string
                              description: 申请发放日期
                              example: '2025-01-20'
                            issuance_country_region_id:
                              type: string
                              description: 发放国家ID（可通过 https://open.larkoffice.com/document/uAjLw4CM/ukTMukTMukTM/corehr-v2/basic_info-country_region/search进行查询）
                              example: '6862995757234914824'
                            issuance_pay_group_id:
                              type: string
                              description: 发放薪资组ID（可通过 https://open.larkoffice.com/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/paygroup/list进行查询）
                              example: '6862995757234914824'
                            detail_reference_period_start_date:
                              type: string
                              description: 一次性支付明细所属期开始日期
                              example: '2024-08-01'
                            detail_reference_period_end_date:
                              type: string
                              description: 一次性支付明细所属期结束日期
                              example: '2024-08-01'
                            is_not_issued_due_to_offboardings:
                              type: integer
                              description: 是否因离职不发放 0, // 空，未填写或不适用     Yes   = 1, // 是，因离职停发     No    = 2, // 否，非离职停发
                              default: 0
                              example: '0'
                        description: 发放明细列表
                      binding_period_decimal:
                        type: string
                        description: 绑定期带小数
                        example: '12'
                      operation_source:
                        type: string
                        description: 操作来源
                        example: apaas_spot
                    required:
                    - total_amount
                    - currency_id
                    - issuance_frequency
                    - details
                  description: 要更正的一次性支付记录列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      operate_results:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 操作的记录的 id
                              example: '7390583861280556588'
                            unique_id:
                              type: string
                              description: 操作的记录的 unique_id
                              example: '7390583861280556588'
                            code:
                              type: integer
                              description: 操作结果状态码
                              enum:
                              - 0
                              - 21270201
                              - 21270202
                              - 21270203
                              - 21270205
                              - 21270206
                              - 21270207
                              - 21270208
                              - 21270209
                              - 21270210
                              - 21270211
                              - 21270213
                              - 21270214
                              - 21270215
                              - 21270217
                              - 21270218
                              - 21270219
                              - 21270220
                              - 21270221
                              - 21270222
                              - 21270223
                              - 21270224
                              - 21270225
                              - 21270226
                              - 21270227
                              - 21270228
                              - 21270229
                              - 21270230
                              - 21270070
                              - 21270239
                              - 21270240
                              - 21270241
                              x-enum-descriptions:
                                '0': '"success"       操作成功'
                                '21270201': '"The bonus to be changed does not exist"       要更改的奖金不存在'
                                '21270202': '"Idempotent ID conflict"       幂等id冲突'
                                '21270203': '"The total amount format is incorrect"       总金额格式不正确'
                                '21270205': '"The bonus item does not support decimal places for the amount"       奖金项不支持金额小数位数'
                                '21270206': '"The sum of the bonus details does not equal the total amount"       奖金明细金额之和不等于总金额'
                                '21270207': '"issuance frequency not equal to size of details"       奖金明细总数不等于发放次数'
                                '21270208': '"The number of issuances is less than or equal to 0"       发放次数小于等于0'
                                '21270209': '"The currency is empty or does not exist"       币种为空或不存在'
                                '21270210': '"Notes are too long"       备注超长'
                                '21270211': '"The bonus details amount format is incorrect"       奖金明细金额格式不正确'
                                '21270213': '"The bonus details payment time format is incorrect"       奖金明细的发放时间格式不正确'
                                '21270214': '"The bonus details are issued in an illegal manner"       奖金明细的发放方式不合法'
                                '21270215': '"The bonus details are not in a valid payment status"       奖金明细的发放状态不合法'
                                '21270217': '"Employees are not covered by the bonus rules"       员工不在奖金项规则适用范围之内'
                                '21270218': '"The method of awarding bonus details is not covered by the bonus item rules"       奖金明细的发放方式不在奖金项规则适用范围之内'
                                '21270219': '"Bonus item rules do not support configuration of binding period"       奖金项规则不支持配置绑定期'
                                '21270220': '"The bonus details payment status is "paid", and cannot be modified"       奖金明细发放状态为「已发放」，不支持修改'
                                '21270221': '"The bonus item rules already include the currency, and other currencies cannot
                                  be specified"       奖金项规则已包含币种，不支持指定其他币种'
                                '21270222': '"The salary item does not exist"       薪酬项不存在'
                                '21270223': '"Employee does not exist"       员工不存在'
                                '21270224': '"The bonus details payment status is "paid", and deletion is not supported"       奖金明细发放状态为「已发放」，不支持删除'
                                '21270225': '"Bonus rules do not allow multiple awards"       奖金项规则不允许多次发放'
                                '21270226': '"No data permission"       无数据权限'
                                '21270227': '"Only positive integers are allowed for the binding period"       绑定期只允许正整数'
                                '21270228': '"This bonus does not currently support custom binding periods. Please configure
                                  and write according to the rules for the binding period of the salary item"       该奖金暂不支持自定义绑定期，请按照薪酬项绑定期规则配置写入'
                                '21270229': '"The application issuance date must not be later than the issuance date"       申请发放日期不得晚于发放日期'
                                '21270230': '"The application payment date format of the bonus details is incorrect"       奖金明细的申请发放日期格式不正确'
                                '21270070': '"The binding period and the ownership period start and end dates do not match"       绑定期和所属期开始结束日期不匹配'
                                '21270239': '"One time payment detail reference period start date and One time payment detail
                                  reference period end date shall be filled in or left blank at the same time. Please confirm"       「一次性支付明细所属期开始日期」、「一次性支付明细所属期结束日期」需同时填写或同时为空，请确认'
                                '21270240': '"One time payment detail reference period start date must be earlier than or
                                  equal to One time payment detail reference period end date. Please confirm"       「一次性支付明细所属期开始日期」需早于等于「一次性支付明细结束日期」，请确认'
                                '21270241': '"One time payment detail reference period must fall within the scope of One time
                                  payment record reference period. Please adjust"       「一次性支付明细所属期」需包含在「一次性支付记录所属期」范围内，请调整'
                              example: '21270202'
                            message:
                              type: string
                              description: 操作结果描述
                              example: uqniue id conflict
                        description: 每条记录的操作结果
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:compensation.lump_sum_payment:write
      x-lark-error-mappings:
      - code: 2290001
        httpCode: 400
        msg: param is invalid
      - code: 2290002
        httpCode: 500
        msg: server error
      x-lark-rate-limit:
        tier: 7
  /open-apis/compensation/v1/lump_sum_payment/query:
    post:
      operationId: compensation_lump_sum_payment_query
      summary: 查询一次性支付授予记录
      tags:
      - lump_sum_payment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/lump_sum_payment/query
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          type: string
      - name: user_id_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_corehr_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_corehr_id: 以people_corehr_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户ID类型
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  description: id属于
                unique_ids:
                  type: array
                  items:
                    type: string
                  description: unique_id属于
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 员工id属于
                item_ids:
                  type: array
                  items:
                    type: string
                  description: 薪酬项id属于
                create_time_gte:
                  type: string
                  description: 创建时间大于等于（东八区）
                  example: '2023-04-01 12:34:56'
                create_time_lte:
                  type: string
                  description: 创建时间小于等于（东八区）
                  example: '2023-04-01 12:34:56'
                modify_time_gte:
                  type: string
                  description: 更新时间大于等于（东八区）
                  example: '2023-04-01 12:34:56'
                modify_time_lte:
                  type: string
                  description: 更新时间小于等于（东八区）
                  example: '2023-04-01 12:34:56'
                company_ids:
                  type: array
                  items:
                    type: string
                  description: 合同主体id属于（可通过 https://open.larkoffice.com/document/server-docs/corehr-v1/organization-management/company/list
                    接口进行查询）
                service_company_ids:
                  type: array
                  items:
                    type: string
                  description: 任职公司id属于（可通过 https://open.larkoffice.com/document/server-docs/corehr-v1/organization-management/company/list
                    接口进行查询）
                department_ids:
                  type: array
                  items:
                    type: string
                  description: 部门id属于（可通过 https://open.larkoffice.com/document/uAjLw4CM/ukTMukTMukTM/corehr-v2/department/batch_get
                    接口进行查询）
                job_family_ids:
                  type: array
                  items:
                    type: string
                  description: 序列id属于（可通过 https://open.larkoffice.com/document/server-docs/corehr-v1/job-management/job_family/list
                    接口进行查询）
                job_level_ids:
                  type: array
                  items:
                    type: string
                  description: 职级id属于（可通过 https://open.larkoffice.com/document/server-docs/corehr-v1/job-management/job_level/list
                    接口进行查询）
                work_location_ids:
                  type: array
                  items:
                    type: string
                  description: 工作地点id属于（可通过 https://open.larkoffice.com/document/server-docs/corehr-v1/organization-management/location/list
                    接口进行查询）
                employee_type_ids:
                  type: array
                  items:
                    type: string
                  description: 员工类型id属于（可通过 https://open.larkoffice.com/document/server-docs/corehr-v1/basic-infomation/employee_type/list
                    接口进行查询）
                onboard_date_gte:
                  type: string
                  description: 入职日期大于等于
                  example: '2023-04-01'
                onboard_date_lte:
                  type: string
                  description: 入职日期小于等于
                  example: '2023-04-01'
                offboard_date_gte:
                  type: string
                  description: 离职日期大于等于
                  example: '2023-04-01'
                offboard_date_lte:
                  type: string
                  description: 离职日期小于等于
                  example: '2023-04-01'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      page_token:
                        type: string
                        description: 搜索下一批时提供的page token
                      has_more:
                        type: boolean
                        description: 是否有更多的数据
                      records:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 一次性支付记录id
                              example: '7397033607132351532'
                            unique_id:
                              type: string
                              description: 外部幂等id，由上游业务决定
                              example: '7402510801304718380_7309316347007764012_7402523725868058156_1726070400000_10000'
                            user_id:
                              type: string
                              description: 员工id，具体类型由入参中的 user_id_type 指定
                              example: '7337149697626801708'
                            total_amount:
                              type: string
                              description: 总金额，字符串表达的数字
                              example: '2000.00'
                            binding_period:
                              type: integer
                              description: 绑定期，单位为月
                              example: '2'
                            currency_id:
                              type: string
                              description: 币种id
                              example: '6863329932261459464'
                            issuance_frequency:
                              type: integer
                              description: 发放次数
                              example: '3'
                            item_id:
                              type: string
                              description: 薪酬项id
                              example: '7411039006180312620'
                            remark:
                              type: string
                              description: 备注
                              example: 备注
                            issuance_detail_text:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 中文名称
                                  example: 中文名称
                                en_us:
                                  type: string
                                  description: 英文名称
                                  example: english_name
                              description: 发放规则描述文本
                            apply_source:
                              type: integer
                              description: 申请来源
                              enum:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              x-enum-descriptions:
                                '1': Offer薪酬创建
                                '2': 导入
                                '3': 调级调薪创建
                                '4': 填报创建
                                '5': 开放平台创建
                                '6': 招聘内推创建
                                '7': 自动化规则创建
                              example: '1'
                            return_amount_before_tax:
                              type: string
                              description: 应退回金额（税前）
                              example: '2000.00'
                            return_amount_after_tax:
                              type: string
                              description: 应退回金额（税后）
                              example: '2000.00'
                            binding_period_offboarding_type:
                              type: string
                              description: 绑定期内离职类型
                              enum:
                              - 'yes'
                              - 'no'
                              - default
                              x-enum-descriptions:
                                'yes': 绑定期内离职
                                'no': 绑定期外离职
                                default: 无绑定期离职标识
                            create_time:
                              type: string
                              description: 创建时间
                              example: '2024-08-01 12:34:56'
                            modify_time:
                              type: string
                              description: 更新时间
                              example: '2024-08-01 12:34:56'
                            reference_period_start_date:
                              type: string
                              description: 一次性支付记录记录所属期开始日期
                              example: '2024-08-01'
                            reference_period_end_date:
                              type: string
                              description: 一次性支付记录记录所属期结束日期
                              example: '2024-08-01'
                            details:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: 一次性支付记录明细id
                                    example: '7395133551102200876'
                                  record_id:
                                    type: string
                                    description: 一次性支付记录id
                                    example: '7395133551102168108'
                                  user_id:
                                    type: string
                                    description: 员工id，具体类型由入参中的 user_id_type 指定
                                    example: '7337149697626801708'
                                  issuance_amount:
                                    type: string
                                    description: 一次性支付明细发放金额，可转数字的字符串
                                    example: '2000.00'
                                  issuance_status:
                                    type: string
                                    description: 发放状态
                                    enum:
                                    - to_be_issued
                                    - not_issued
                                    x-enum-descriptions:
                                      to_be_issued: 应发放
                                      not_issued: 不发放
                                    example: to_be_issued
                                  issuance_way:
                                    type: string
                                    description: 发放方式
                                    enum:
                                    - with_salary
                                    - with_cash
                                    - with_year_end_bonus
                                    x-enum-descriptions:
                                      with_salary: 随工资发放
                                      with_cash: 现金发放
                                      with_year_end_bonus: 随年终奖发放
                                    example: with_salary
                                  issuance_time:
                                    type: string
                                    description: 发放日期
                                    example: '2024-08-01'
                                  currency_id:
                                    type: string
                                    description: 币种id
                                    example: '6863329932261459464'
                                  belong_time:
                                    type: string
                                    description: 申请发放日期
                                    example: '2025-01-20'
                                  create_time:
                                    type: string
                                    description: 创建时间
                                    example: '2024-08-01 12:34:56'
                                  modify_time:
                                    type: string
                                    description: 更新时间
                                    example: '2024-08-01 12:34:56'
                                  issuance_country_region_id:
                                    type: string
                                    description: 发放国家ID（可通过 https://open.larkoffice.com/document/uAjLw4CM/ukTMukTMukTM/corehr-v2/basic_info-country_region/search进行查询）
                                    example: '6862995757234914824'
                                  issuance_pay_group_id:
                                    type: string
                                    description: 发放薪资组ID（可通过 https://open.larkoffice.com/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/paygroup/list进行查询）
                                    example: '6862995757234914824'
                                  detail_reference_period_start_date:
                                    type: string
                                    description: 一次性支付明细所属期开始日期
                                    example: '2024-08-01'
                                  detail_reference_period_end_date:
                                    type: string
                                    description: 一次性支付明细所属期结束日期
                                    example: '2024-08-01'
                                  is_not_issued_due_to_offboardings:
                                    type: integer
                                    description: 是否因离职不发放 0, // 空，未填写或不适用     Yes   = 1, // 是，因离职停发     No    = 2, // 否，非离职停发
                                    default: 0
                                    example: '0'
                              description: 发放明细列表
                            binding_period_decimal:
                              type: string
                              description: 绑定期带小数
                              example: '12'
                        description: 一次性支付记录列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - corehr:compensation.lump_sum_payment:read
      x-lark-field-scopes:
      - corehr:compensation_lump_sum_payment_detail.belong_time:read
      - contact:user.employee_id:readonly
      - corehr:compensation_lump_sum_payment.return_amount_before_tax:read
      - corehr:compensation_lump_sum_payment.return_amount_after_tax:read
      - corehr:compensation_lump_sum_payment.binding_period_offboarding_type:read
      x-lark-error-mappings:
      - code: 2290001
        httpCode: 400
        msg: param is invalid
      - code: 2290002
        httpCode: 500
        msg: server error
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_ids[*]
        section: 0
  /open-apis/compensation/v1/lump_sum_payment/query_detail:
    post:
      operationId: compensation_lump_sum_payment_query_detail
      summary: 查询一次性支付授予明细
      tags:
      - lump_sum_payment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/compensation-v1/lump_sum_payment/query_detail
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          type: string
      - name: user_id_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_corehr_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_corehr_id: 以people_corehr_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户ID类型
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  description: id属于
                record_ids:
                  type: array
                  items:
                    type: string
                  description: 一次性支付记录id
                record_unique_ids:
                  type: array
                  items:
                    type: string
                  description: 一次性支付记录unique id
                issuance_ways:
                  type: array
                  items:
                    type: string
                    enum:
                    - with_salary
                    - with_cash
                    - with_physical_distribution
                    - with_year_end_bonus
                    x-enum-descriptions:
                      with_salary: 随工资发放
                      with_cash: 现金发放
                      with_physical_distribution: 实物发放
                      with_year_end_bonus: 随年终奖发放
                  description: 发放方式
                issuance_statuses:
                  type: array
                  items:
                    type: string
                    enum:
                    - to_be_issued
                    - not_issued
                    x-enum-descriptions:
                      to_be_issued: 应发放
                      not_issued: 不发放
                  description: 发放状态
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 员工id属于
                item_ids:
                  type: array
                  items:
                    type: string
                  description: 薪酬项id属于
                issuance_date_gte:
                  type: string
                  description: 发放时间大于等于
                  example: '2023-04-01'
                issuance_date_lte:
                  type: string
                  description: 发放时间小于等于
                  example: '2023-04-01'
                create_time_gte:
                  type: string
                  description: 创建时间大于等于（东八区）
                  example: '2023-04-01 12:34:56'
                create_time_lte:
                  type: string
                  description: 创建时间小于等于（东八区）
                  example: '2023-04-01 12:34:56'
                modify_time_gte:
                  type: string
                  description: 更新时间大于等于（东八区）
                  example: '2023-04-01 12:34:56'
                modify_time_lte:
                  type: string
                  description: 更新时间小于等于（东八区）
                  example: '2023-04-01 12:34:56'
                company_ids:
                  type: array
                  items:
                    type: string
                  description: 合同主体id属于（可通过 https://open.larkoffice.com/document/server-docs/corehr-v1/organization-management/company/list
                    接口进行查询）
                service_company_ids:
                  type: array
                  items:
                    type: string
                  description: 任职公司id属于（可通过 https://open.larkoffice.com/document/server-docs/corehr-v1/organization-management/company/list
                    接口进行查询）
                department_ids:
                  type: array
                  items:
                    type: string
[...]
