# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · contact API（全量）
  description: |-
    飞书开放平台 `contact` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:06:47Z'
  x-lark-project: contact
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:06:47Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: custom_attr
- name: department
- name: employee_type_enum
- name: functional_role.member
- name: functional_role
- name: group.member
- name: group
- name: job_family
- name: job_level
- name: job_title
- name: scope
- name: unit
- name: user
- name: work_city
paths:
  /open-apis/contact/v3/custom_attrs:
    get:
      operationId: contact_custom_attr_list
      summary: 获取企业自定义用户字段
      tags:
      - custom_attr
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/custom_attr/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: 88cf55cfc289
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 自定义字段id
                              example: demo-id
                            type:
                              type: string
                              description: 自定义字段类型
                              example: TEXT
                            options:
                              type: object
                              properties:
                                default_option_id:
                                  type: string
                                  description: 默认选项id
                                  example: default_id
                                option_type:
                                  type: string
                                  description: 选项类型
                                  enum:
                                  - TEXT
                                  - PICTURE
                                  x-enum-descriptions:
                                    TEXT: text选项
                                    PICTURE: 图片选项
                                  example: TEXT
                                options:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: 枚举类型选项id
                                        example: qasdefgr
                                      value:
                                        type: string
                                        description: 枚举选项值
                                        example: Option
                                      name:
                                        type: string
                                        description: 名称
                                        example: Name
                                    required:
                                    - id
                                    - value
                                  description: 选项列表
                                  example: '[]'
                              required:
                              - option_type
                              - options
                              description: 选项定义，当type为ENUMERATION或者PICTURE_ENUM时此项有值，列举所有可选项
                              example: '{}'
                            i18n_name:
                              type: array
                              items:
                                type: object
                                properties:
                                  locale:
                                    type: string
                                    description: 语言
                                  value:
                                    type: string
                                    description: i18n内容
                              description: 多语言名称
                              example: '{}'
                          required:
                          - id
                          - type
                        description: 自定义字段定义
                      page_token:
                        type: string
                        description: 分页标记
                        example: token-xxxxxxxxxxxxxxx
                      has_more:
                        type: boolean
                        description: 是否还有下一页
                        example: 'true'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - contact:contact:readonly_as_app
      - contact:contact.base:readonly
      x-lark-error-mappings:
      - code: 40012
        httpCode: 400
        msg: invalid page_token
      - code: 40011
        httpCode: 400
        msg: invalid page_size
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/contact/v3/departments/batch:
    get:
      operationId: contact_department_batch
      summary: 批量获取部门信息
      tags:
      - department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/batch
      parameters:
      - name: department_ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
            default: D096
        description: 查询的部门ID列表，类型需要与department_id_type对应
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_department_id
          - department_id
          x-enum-descriptions:
            open_department_id: 指定使用open_department_id作为部门ID类型
            department_id: 指定使用department_id作为部门ID类型
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 说明请求中department_id_list参数所使用的部门ID类型
        example: open_department_id
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: 指定使用open_id作为用户ID类型
            union_id: 指定使用union_id作为用户ID类型
            user_id: 指定使用user_id作为用户ID类型
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 指定调用结果中包含用户（如部门leader）关联的用户ID类型
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 部门名称
                              example: DemoName
                            i18n_name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 部门的中文名
                                ja_jp:
                                  type: string
                                  description: 部门的日文名
                                en_us:
                                  type: string
                                  description: 部门的英文名
                              description: 国际化的部门名称
                            parent_department_id:
                              type: string
                              description: 父部门的部门ID
                              example: D067
                            department_id:
                              type: string
                              description: 本部门的自定义部门ID
                            open_department_id:
                              type: string
                              description: 部门的open_id
                            leader_user_id:
                              type: string
                              description: 部门主管用户ID
                              example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                            chat_id:
                              type: string
                              description: 部门群ID
                              example: oc_5ad11d72b830411d72b836c20
                              x-lark-id-types:
                                chat_id: chat
                            order:
                              type: string
                              description: 部门的排序
                              example: '100'
                              format: int64
                            unit_ids:
                              type: array
                              items:
                                type: string
                              description: 部门单位自定义ID列表，当前只支持一个
                            member_count:
                              type: integer
                              description: 部门下用户的个数
                              example: '100'
                            status:
                              type: object
                              properties:
                                is_deleted:
                                  type: boolean
                                  description: 是否被删除
                              description: 部门状态
                            leaders:
                              type: array
                              items:
                                type: object
                                properties:
                                  leaderType:
                                    type: integer
                                    description: 负责人类型
                                    enum:
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '1': 主负责人
                                      '2': 副负责人
                                  leaderID:
                                    type: string
                                    description: 负责人ID
                                required:
                                - leaderType
                                - leaderID
                              description: 部门负责人
                            group_chat_employee_types:
                              type: array
                              items:
                                type: integer
                              description: 部门群雇员类型限制
                            department_hrbps:
                              type: array
                              items:
                                type: string
                              description: 部门HRBP
                            primary_member_count:
                              type: integer
                              description: 部门下主属用户的个数
                              example: '100'
                          required:
                          - name
                          - parent_department_id
                        description: 查询到的部门信息，其中异常的部门ID不返回结果。
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - contact:contact.base:readonly
      x-lark-field-scopes:
      - contact:contact:readonly
      - contact:department.base:readonly
      - contact:contact:access_as_app
      - contact:contact:readonly_as_app
      - contact:department.organize:readonly
      - contact:department.hrbp:readonly
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 40001
        httpCode: 400
        msg: param is invalid
      - code: 43010
        httpCode: 400
        msg: big dept forbid recursion error
      - code: 40003
        httpCode: 400
        msg: internal error
      - code: 40008
        httpCode: 400
        msg: dept Info is null error
      - code: 40014
        httpCode: 403
        msg: no parent dept authority error
      - code: 40011
        httpCode: 400
        msg: page size is more than 50 error
      - code: 40012
        httpCode: 400
        msg: page token is invalid error
      - code: 42008
        httpCode: 401
        msg: tenant id is invalid error
      - code: 43007
        httpCode: 400
        msg: duplicated department unit custom id error
      - code: 40004
        httpCode: 403
        msg: no dept authority error
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: department_ids
        section: 2
  /open-apis/contact/v3/departments/{department_id}/children:
    get:
      operationId: contact_department_children
      summary: 获取子部门列表
      tags:
      - department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/children
      parameters:
      - name: department_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: |-
          部门ID，根部门的部门ID 为0

          department_id的获取方式参见 [部门ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/field-overview#23857fe0)
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: |-
          此次调用中使用的部门ID的类型

          不同 ID 的说明与department_id的获取方式参见 [部门ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/field-overview#23857fe0)
      - name: fetch_child
        in: query
        required: false
        schema:
          type: boolean
        description: 是否递归获取子部门
        example: 'false'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的token
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 部门名称
                              example: DemoName
                            i18n_name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 部门的中文名
                                ja_jp:
                                  type: string
                                  description: 部门的日文名
                                en_us:
                                  type: string
                                  description: 部门的英文名
                              description: 国际化的部门名称
                            parent_department_id:
                              type: string
                              description: 父部门的部门ID
                              example: D067
                            department_id:
                              type: string
                              description: 本部门的自定义部门ID
                            open_department_id:
                              type: string
                              description: 部门的open_id
                            leader_user_id:
                              type: string
                              description: 部门主管用户ID
                              example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                            chat_id:
                              type: string
                              description: 部门群ID
                              example: oc_5ad11d72b830411d72b836c20
                              x-lark-id-types:
                                chat_id: chat
                            order:
                              type: string
                              description: 部门的排序
                              example: '100'
                              format: int64
                            unit_ids:
                              type: array
                              items:
                                type: string
                              description: 部门单位自定义ID列表，当前只支持一个
                            member_count:
                              type: integer
                              description: 部门下用户的个数
                              example: '100'
                            status:
                              type: object
                              properties:
                                is_deleted:
                                  type: boolean
                                  description: 是否被删除
                              description: 部门状态
                            leaders:
                              type: array
                              items:
                                type: object
                                properties:
                                  leaderType:
                                    type: integer
                                    description: 负责人类型
                                    enum:
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '1': 主负责人
                                      '2': 副负责人
                                  leaderID:
                                    type: string
                                    description: 负责人ID
                                required:
                                - leaderType
                                - leaderID
                              description: 部门负责人
                            group_chat_employee_types:
                              type: array
                              items:
                                type: integer
                              description: 部门群雇员类型限制
                            department_hrbps:
                              type: array
                              items:
                                type: string
                              description: 部门HRBP
                            primary_member_count:
                              type: integer
                              description: 部门下主属用户的个数
                              example: '100'
                          required:
                          - name
                          - parent_department_id
                        description: 部门列表
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - contact:contact.base:readonly
      - contact:department.organize:readonly
      - contact:contact:access_as_app
      - contact:contact:readonly
      - contact:contact:readonly_as_app
      x-lark-field-scopes:
      - contact:contact:readonly
      - contact:department.base:readonly
      - contact:contact:access_as_app
      - contact:contact:readonly_as_app
      - contact:department.organize:readonly
      - contact:department.hrbp:readonly
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 43010
        httpCode: 400
        msg: big dept forbid recursion error
      - code: 40003
        httpCode: 400
        msg: internal error
      - code: 40008
        httpCode: 400
        msg: dept Info is null error
      - code: 40014
        httpCode: 403
        msg: no parent dept authority error
      - code: 40011
        httpCode: 400
        msg: page size is more than 50 error
      - code: 40012
        httpCode: 400
        msg: page token is invalid error
      - code: 42008
        httpCode: 401
        msg: tenant id is invalid error
      - code: 43007
        httpCode: 400
        msg: duplicated department unit custom id error
      - code: 40004
        httpCode: 403
        msg: no dept authority error
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: department_id
        section: 3
  /open-apis/contact/v3/departments:
    post:
      operationId: contact_department_create
      summary: 创建部门
      tags:
      - department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/create
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: |-
          此次调用中使用的部门ID的类型

          不同 ID 的说明参见[部门ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/field-overview#23857fe0)
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 用于幂等判断是否为同一请求，避免重复创建。字符串类型，自行生成。
        example: 473469C7-AA6F-4DC5-B3DB-A3DC0DE3C83E
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 部门名称
                  example: DemoName
                i18n_name:
                  type: object
                  properties:
                    zh_cn:
                      type: string
                      description: 部门的中文名
                    ja_jp:
                      type: string
                      description: 部门的日文名
                    en_us:
                      type: string
                      description: 部门的英文名
                  description: 国际化的部门名称
                parent_department_id:
                  type: string
                  description: 父部门的ID
                  example: D067
                department_id:
                  type: string
                  description: 本部门的自定义部门ID
                leader_user_id:
                  type: string
                  description: 部门主管用户ID
                  example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                order:
                  type: string
                  description: 部门的排序
                  example: '100'
                  format: int64
                create_group_chat:
                  type: boolean
                  description: 是否创建部门群，默认不创建
                  example: 'false'
                leaders:
                  type: array
                  items:
                    type: object
                    properties:
                      leaderType:
                        type: integer
                        description: 负责人类型
                        enum:
                        - 1
                        - 2
                        x-enum-descriptions:
                          '1': 主负责人
                          '2': 副负责人
                      leaderID:
                        type: string
                        description: 负责人ID
                    required:
                    - leaderType
                    - leaderID
                  description: 部门负责人
                group_chat_employee_types:
                  type: array
                  items:
                    type: integer
                  description: 部门群雇员类型限制
                department_hrbps:
                  type: array
                  items:
                    type: string
                  description: 部门HRBP
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      department:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 部门名称
                            example: DemoName
                          i18n_name:
                            type: object
                            properties:
                              zh_cn:
                                type: string
                                description: 部门的中文名
                              ja_jp:
                                type: string
                                description: 部门的日文名
                              en_us:
                                type: string
                                description: 部门的英文名
                            description: 国际化的部门名称
                          parent_department_id:
                            type: string
                            description: 父部门的部门ID
                            example: D067
                          department_id:
                            type: string
                            description: 本部门的自定义部门ID
                          open_department_id:
                            type: string
                            description: 部门的open_id
                          leader_user_id:
                            type: string
                            description: 部门主管用户ID
                            example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                          chat_id:
                            type: string
                            description: 部门群ID
                            example: oc_5ad11d72b830411d72b836c20
                            x-lark-id-types:
                              chat_id: chat
                          order:
                            type: string
                            description: 部门的排序
                            example: '100'
                            format: int64
                          unit_ids:
                            type: array
                            items:
                              type: string
                            description: 部门单位自定义ID列表，当前只支持一个
                          member_count:
                            type: integer
                            description: 部门下用户的个数
                            example: '100'
                          status:
                            type: object
                            properties:
                              is_deleted:
                                type: boolean
                                description: 是否被删除
                            description: 部门状态
                          leaders:
                            type: array
                            items:
                              type: object
                              properties:
                                leaderType:
                                  type: integer
                                  description: 负责人类型
                                  enum:
                                  - 1
                                  - 2
                                  x-enum-descriptions:
                                    '1': 主负责人
                                    '2': 副负责人
                                leaderID:
                                  type: string
                                  description: 负责人ID
                              required:
                              - leaderType
                              - leaderID
                            description: 部门负责人
                          group_chat_employee_types:
                            type: array
                            items:
                              type: integer
                            description: 部门群雇员类型限制
                          department_hrbps:
                            type: array
                            items:
                              type: string
                            description: 部门HRBP
                          primary_member_count:
                            type: integer
                            description: 部门下主属用户的个数
                            example: '100'
                        required:
                        - name
                        - parent_department_id
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - contact:contact
      x-lark-field-scopes:
      - contact:contact:readonly
      - contact:department.base:readonly
      - contact:contact:access_as_app
      - contact:contact:readonly_as_app
      - contact:department.organize:readonly
      - contact:department.hrbp:readonly
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 43005
        httpCode: 400
        msg: duplicate order error
      - code: 40018
        httpCode: 400
        msg: param error
      - code: 43008
        httpCode: 400
        msg: custom dept id invalid error
      - code: 43013
        httpCode: 400
        msg: dept too many children error
      - code: 40003
        httpCode: 400
        msg: internal error
      - code: 40004
        httpCode: 403
        msg: no dept authority error
      - code: 40008
        httpCode: 400
        msg: dept Info is null error
      - code: 40010
        httpCode: 400
        msg: chat id is invalid error
      - code: 40014
        httpCode: 403
        msg: no parent dept authority error
      - code: 43000
        httpCode: 401
        msg: dept has already exist error
      - code: 40016
        httpCode: 401
        msg: dept name can not be nul error
      - code: 42006
        httpCode: 400
        msg: user has resigned error
      - code: 41012
        httpCode: 400
        msg: user id invalid error
      - code: 40021
        httpCode: 400
        msg: no a same request error
      - code: 43004
        httpCode: 400
        msg: illegal unit error
      - code: 43007
        httpCode: 400
        msg: duplicated department custom id error
      - code: 40004
        httpCode: 403
        msg: no dept authority error
      - code: 44101
        httpCode: 400
        msg: miss parent department error
      - code: 43017
        httpCode: 400
        msg: relate dept over limit
      - code: 43018
        httpCode: 400
        msg: duplicate i18n name
      - code: 43019
        httpCode: 400
        msg: exceed dept max level
      - code: 43021
        httpCode: 400
        msg: department chat not exist
      - code: 43022
        httpCode: 400
        msg: department name duplicate
      - code: 43023
        httpCode: 400
        msg: dept structure no permissione
      - code: 43024
        httpCode: 400
        msg: dept structure tenant lock fail
      - code: 43025
        httpCode: 400
        msg: top department leader unjoined
      - code: 43026
        httpCode: 400
        msg: employee type is not valid
      - code: 43028
        httpCode: 400
        msg: invalid department hrbps
      - code: 43029
        httpCode: 400
        msg: dept name not contain separator
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.parent_department_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.leader_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.leaders[*].leaderID
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department_hrbps[*]
        section: 0
    get:
      operationId: contact_department_list
      summary: 获取部门信息列表
      tags:
      - department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/list
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      - name: parent_department_id
        in: query
        required: false
        schema:
          type: string
        description: 父部门的ID，填上获取部门下所有子部门，此处填写的 ID 必须是 department_id_type 指定的 ID。
        example: od-80884c92e43e
      - name: fetch_child
        in: query
        required: false
        schema:
          type: boolean
        description: 是否递归获取子部门
        example: 'false'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
        example: 5bc498db4617
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的token
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 部门名称
                              example: DemoName
                            i18n_name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 部门的中文名
                                ja_jp:
                                  type: string
                                  description: 部门的日文名
                                en_us:
                                  type: string
                                  description: 部门的英文名
                              description: 国际化的部门名称
                            parent_department_id:
                              type: string
                              description: 父部门的部门ID
                              example: D067
                            department_id:
                              type: string
                              description: 本部门的自定义部门ID
                            open_department_id:
                              type: string
                              description: 部门的open_id
                            leader_user_id:
                              type: string
                              description: 部门主管用户ID
                              example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                            chat_id:
                              type: string
                              description: 部门群ID
                              example: oc_5ad11d72b830411d72b836c20
                              x-lark-id-types:
                                chat_id: chat
                            order:
                              type: string
                              description: 部门的排序
                              example: '100'
                              format: int64
                            unit_ids:
                              type: array
                              items:
                                type: string
                              description: 部门单位自定义ID列表，当前只支持一个
                            member_count:
                              type: integer
                              description: 部门下用户的个数
                              example: '100'
                            status:
                              type: object
                              properties:
                                is_deleted:
                                  type: boolean
                                  description: 是否被删除
                              description: 部门状态
                            leaders:
                              type: array
                              items:
                                type: object
                                properties:
                                  leaderType:
                                    type: integer
                                    description: 负责人类型
                                    enum:
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '1': 主负责人
                                      '2': 副负责人
                                  leaderID:
                                    type: string
                                    description: 负责人ID
                                required:
                                - leaderType
                                - leaderID
                              description: 部门负责人
                            group_chat_employee_types:
                              type: array
                              items:
                                type: integer
                              description: 部门群雇员类型限制
                            department_hrbps:
                              type: array
                              items:
                                type: string
                              description: 部门HRBP
                            primary_member_count:
                              type: integer
                              description: 部门下主属用户的个数
                              example: '100'
                          required:
                          - name
                          - parent_department_id
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - contact:contact.base:readonly
      - contact:department.organize:readonly
      - contact:contact:access_as_app
      - contact:contact:readonly
      - contact:contact:readonly_as_app
      x-lark-field-scopes:
      - contact:department.base:readonly
      - contact:contact:access_as_app
      - contact:contact:readonly_as_app
      - contact:department.organize:readonly
      - contact:department.hrbp:readonly
      - contact:user.employee_id:readonly
      - contact:contact:readonly
      x-lark-error-mappings:
      - code: 43010
        httpCode: 400
        msg: big dept forbid recursion error
      - code: 40003
        httpCode: 400
        msg: internal error
      - code: 40008
        httpCode: 400
        msg: dept Info is null error
      - code: 40014
        httpCode: 403
        msg: no parent dept authority error
      - code: 40011
        httpCode: 400
        msg: page size is more than 50 error
      - code: 40012
        httpCode: 400
        msg: page token is invalid error
      - code: 42008
        httpCode: 401
        msg: tenant id is invalid error
      - code: 43007
        httpCode: 400
        msg: duplicated department unit custom id error
      - code: 40004
        httpCode: 403
        msg: no dept authority error
      x-lark-rate-limit:
        tier: 0
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: parent_department_id
        section: 2
  /open-apis/contact/v3/departments/{department_id}:
    delete:
      operationId: contact_department_delete
      summary: 删除部门
      tags:
      - department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/delete
      parameters:
      - name: department_id
        in: path
        required: true
        schema:
          type: string
        description: 部门ID，需要与查询参数中传入的department_id_type类型保持一致。
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - contact:contact
      x-lark-error-mappings:
      - code: 43011
        httpCode: 400
        msg: delete has member dept error
      - code: 43012
        httpCode: 400
        msg: delete has sub dept department error
      - code: 40002
        httpCode: 400
        msg: process root dept error
      - code: 40003
        httpCode: 400
        msg: internal error
      - code: 40004
        httpCode: 403
        msg: no dept authority error
      - code: 40014
        httpCode: 403
        msg: no parent dept authority error
      - code: 42008
        httpCode: 401
        msg: tenant id is invalid error
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: department_id
        section: 3
    get:
      operationId: contact_department_get
      summary: 获取单个部门信息
      tags:
      - department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/get
      parameters:
      - name: department_id
        in: path
        required: true
        schema:
          type: string
        description: |-
          需要获取的部门ID

          不同 ID 的说明及获取方式 参见[部门ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/field-overview#23857fe0)
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: |-
          此次调用中使用的部门ID的类型

          不同 ID 的说明 [部门ID说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/field-overview#23857fe0)
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      department:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 部门名称
                            example: DemoName
                          i18n_name:
                            type: object
                            properties:
                              zh_cn:
                                type: string
                                description: 部门的中文名
                              ja_jp:
                                type: string
                                description: 部门的日文名
                              en_us:
                                type: string
                                description: 部门的英文名
                            description: 国际化的部门名称
                          parent_department_id:
                            type: string
                            description: 父部门的部门ID
                            example: D067
                          department_id:
                            type: string
                            description: 本部门的自定义部门ID
                          open_department_id:
                            type: string
                            description: 部门的open_id
                          leader_user_id:
                            type: string
                            description: 部门主管用户ID
                            example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                          chat_id:
                            type: string
                            description: 部门群ID
                            example: oc_5ad11d72b830411d72b836c20
                            x-lark-id-types:
                              chat_id: chat
                          order:
                            type: string
                            description: 部门的排序
                            example: '100'
                            format: int64
                          unit_ids:
                            type: array
                            items:
                              type: string
                            description: 部门单位自定义ID列表，当前只支持一个
                          member_count:
                            type: integer
                            description: 部门下用户的个数
                            example: '100'
                          status:
                            type: object
                            properties:
                              is_deleted:
                                type: boolean
                                description: 是否被删除
                            description: 部门状态
                          leaders:
                            type: array
                            items:
                              type: object
                              properties:
                                leaderType:
                                  type: integer
                                  description: 负责人类型
                                  enum:
                                  - 1
                                  - 2
                                  x-enum-descriptions:
                                    '1': 主负责人
                                    '2': 副负责人
                                leaderID:
                                  type: string
                                  description: 负责人ID
                              required:
                              - leaderType
                              - leaderID
                            description: 部门负责人
                          group_chat_employee_types:
                            type: array
                            items:
                              type: integer
                            description: 部门群雇员类型限制
                          department_hrbps:
                            type: array
                            items:
                              type: string
                            description: 部门HRBP
                          primary_member_count:
                            type: integer
                            description: 部门下主属用户的个数
                            example: '100'
                        required:
                        - name
                        - parent_department_id
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - contact:contact.base:readonly
      - contact:contact:access_as_app
      - contact:contact:readonly
      - contact:contact:readonly_as_app
      x-lark-field-scopes:
      - contact:contact:readonly
      - contact:department.base:readonly
      - contact:contact:access_as_app
      - contact:contact:readonly_as_app
      - contact:department.organize:readonly
      - contact:department.hrbp:readonly
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 40001
        httpCode: 400
        msg: param error
      - code: 43010
        httpCode: 400
        msg: big dept forbid recursion error
      - code: 40003
        httpCode: 400
        msg: internal error
      - code: 40004
        httpCode: 403
        msg: no dept authority error
      - code: 40008
        httpCode: 400
        msg: dept Info is null error
      - code: 42008
        httpCode: 401
        msg: tenant id is invalid error
      - code: 40015
        httpCode: 400
        msg: department not exist
      x-lark-rate-limit:
        tier: 9
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: department_id
        section: 3
    patch:
      operationId: contact_department_patch
      summary: 修改部门部分信息
      tags:
      - department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/patch
      parameters:
      - name: department_id
        in: path
        required: true
        schema:
          type: string
        description: 部门ID，需要与查询参数中传入的department_id_type类型保持一致。
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 部门名
                  example: DemoName
                i18n_name:
                  type: object
                  properties:
                    zh_cn:
                      type: string
                      description: 部门的中文名
                    ja_jp:
                      type: string
                      description: 部门的日文名
                    en_us:
                      type: string
                      description: 部门的英文名
                  description: 国际化的部门名称
                parent_department_id:
                  type: string
                  description: 父部门ID
                  example: D067
                leader_user_id:
                  type: string
                  description: leaderID
                  example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                order:
                  type: string
                  description: 部门的排序
                  example: '100'
                  format: int64
                create_group_chat:
                  type: boolean
                  description: 是否创建部门群，默认不创建
                  example: 'false'
                leaders:
                  type: array
                  items:
                    type: object
                    properties:
                      leaderType:
                        type: integer
                        description: 负责人类型
                        enum:
                        - 1
                        - 2
                        x-enum-descriptions:
                          '1': 主负责人
                          '2': 副负责人
                      leaderID:
                        type: string
                        description: 负责人ID
                    required:
                    - leaderType
                    - leaderID
                  description: 部门负责人
                group_chat_employee_types:
                  type: array
                  items:
                    type: integer
                  description: 部门群雇员类型限制
                department_hrbps:
                  type: array
                  items:
                    type: string
                  description: 部门HRBP
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      department:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 部门名称
                            example: DemoName
                          i18n_name:
                            type: object
                            properties:
                              zh_cn:
                                type: string
                                description: 部门的中文名
                              ja_jp:
                                type: string
                                description: 部门的日文名
                              en_us:
                                type: string
                                description: 部门的英文名
                            description: 国际化的部门名称
                          parent_department_id:
                            type: string
                            description: 父部门的部门ID
                            example: D067
                          department_id:
                            type: string
                            description: 本部门的自定义部门ID
                          open_department_id:
                            type: string
                            description: 部门的open_id
                          leader_user_id:
                            type: string
                            description: 部门主管用户ID
                            example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                          chat_id:
                            type: string
                            description: 部门群ID
                            example: oc_5ad11d72b830411d72b836c20
                            x-lark-id-types:
                              chat_id: chat
                          order:
                            type: string
                            description: 部门的排序
                            example: '100'
                            format: int64
                          unit_ids:
                            type: array
                            items:
                              type: string
                            description: 部门单位自定义ID列表，当前只支持一个
                          member_count:
                            type: integer
                            description: 部门下用户的个数
                            example: '100'
                          status:
                            type: object
                            properties:
                              is_deleted:
                                type: boolean
                                description: 是否被删除
                            description: 部门状态
                          leaders:
                            type: array
                            items:
                              type: object
                              properties:
                                leaderType:
                                  type: integer
                                  description: 负责人类型
                                  enum:
                                  - 1
                                  - 2
                                  x-enum-descriptions:
                                    '1': 主负责人
                                    '2': 副负责人
                                leaderID:
                                  type: string
                                  description: 负责人ID
                              required:
                              - leaderType
                              - leaderID
                            description: 部门负责人
                          group_chat_employee_types:
                            type: array
                            items:
                              type: integer
                            description: 部门群雇员类型限制
                          department_hrbps:
                            type: array
                            items:
                              type: string
                            description: 部门HRBP
                          primary_member_count:
                            type: integer
                            description: 部门下主属用户的个数
                            example: '100'
                        required:
                        - name
                        - parent_department_id
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - contact:contact
      x-lark-field-scopes:
      - contact:contact:access_as_app
      - contact:contact:readonly_as_app
      - contact:department.organize:readonly
      - contact:department.hrbp:readonly
      - contact:user.employee_id:readonly
      - contact:contact:readonly
      - contact:department.base:readonly
      x-lark-error-mappings:
      - code: 43005
        httpCode: 400
        msg: duplicate order error
      - code: 40002
        httpCode: 400
        msg: process root dept error
      - code: 40003
        httpCode: 400
        msg: internal error
      - code: 40004
        httpCode: 403
        msg: no dept authority error
      - code: 40008
        httpCode: 400
        msg: dept Info is null error
      - code: 40014
        httpCode: 403
        msg: no parent dept authority error
      - code: 42008
        httpCode: 401
        msg: tenant id is invalid error
      - code: 43016
        httpCode: 400
        msg: leaders is repeat
      - code: 43017
        httpCode: 400
        msg: relate dept over limit
      - code: 43018
        httpCode: 400
        msg: duplicate i18n name
      - code: 43019
        httpCode: 400
        msg: exceed dept max level
      - code: 43021
        httpCode: 400
        msg: department chat not exist
      - code: 43022
        httpCode: 400
        msg: department name duplicate
      - code: 43023
        httpCode: 400
        msg: dept structure no permissione
      - code: 43024
        httpCode: 400
        msg: dept structure tenant lock fail
      - code: 43025
        httpCode: 400
        msg: top department leader unjoined
      - code: 43026
        httpCode: 400
        msg: employee type is not valid
      - code: 43028
        httpCode: 400
        msg: invalid department hrbps
      - code: 43029
        httpCode: 400
        msg: dept name not contain separator
      - code: 43030
        httpCode: 400
        msg: update department lock error,wait some seconds and retry
      - code: 43013
        httpCode: 400
        msg: dept too many children error
      - code: 43031
        httpCode: 400
        msg: Unable to edit data from external data sources
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: department_id
        section: 3
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.parent_department_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.leader_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.leaders[*].leaderID
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department_hrbps[*]
        section: 0
    put:
      operationId: contact_department_update
      summary: 更新部门所有信息
      tags:
      - department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/update
      parameters:
      - name: department_id
        in: path
        required: true
        schema:
          type: string
        description: 部门ID，需要与查询参数中传入的department_id_type类型保持一致。
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 部门名称
                  example: DemoName
                i18n_name:
                  type: object
                  properties:
                    zh_cn:
                      type: string
                      description: 部门的中文名
                    ja_jp:
                      type: string
                      description: 部门的日文名
                    en_us:
                      type: string
                      description: 部门的英文名
                  description: 国际化的部门名称
                parent_department_id:
                  type: string
                  description: 父部门ID
                  example: D067
                leader_user_id:
                  type: string
                  description: LeaderID
                  example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                order:
                  type: string
                  description: 部门的排序
                  example: '100'
                  format: int64
                create_group_chat:
                  type: boolean
                  description: 是否创建部门群，默认不创建
                  example: 'false'
                leaders:
                  type: array
                  items:
                    type: object
                    properties:
                      leaderType:
                        type: integer
                        description: 负责人类型
                        enum:
                        - 1
                        - 2
                        x-enum-descriptions:
                          '1': 主负责人
                          '2': 副负责人
                      leaderID:
                        type: string
                        description: 负责人ID
                    required:
                    - leaderType
                    - leaderID
                  description: 部门负责人
                group_chat_employee_types:
                  type: array
                  items:
                    type: integer
                  description: 部门群雇员类型限制
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      department:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 部门名称
                            example: DemoName
                          i18n_name:
                            type: object
                            properties:
                              zh_cn:
                                type: string
                                description: 部门的中文名
                              ja_jp:
                                type: string
                                description: 部门的日文名
                              en_us:
                                type: string
                                description: 部门的英文名
                            description: 国际化的部门名称
                          parent_department_id:
                            type: string
                            description: 父部门的部门ID
                            example: D067
                          department_id:
                            type: string
                            description: 本部门的自定义部门ID
                          open_department_id:
                            type: string
                            description: 部门的open_id
                          leader_user_id:
                            type: string
                            description: 部门主管用户ID
                            example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                          chat_id:
                            type: string
                            description: 部门群ID
                            example: oc_5ad11d72b830411d72b836c20
                            x-lark-id-types:
                              chat_id: chat
                          order:
                            type: string
                            description: 部门的排序
                            example: '100'
                            format: int64
                          unit_ids:
                            type: array
                            items:
                              type: string
                            description: 部门单位自定义ID列表，当前只支持一个
                          member_count:
                            type: integer
                            description: 部门下用户的个数
                            example: '100'
                          status:
                            type: object
                            properties:
                              is_deleted:
                                type: boolean
                                description: 是否被删除
                            description: 部门状态
                          leaders:
                            type: array
                            items:
                              type: object
                              properties:
                                leaderType:
                                  type: integer
                                  description: 负责人类型
                                  enum:
                                  - 1
                                  - 2
                                  x-enum-descriptions:
                                    '1': 主负责人
                                    '2': 副负责人
                                leaderID:
                                  type: string
                                  description: 负责人ID
                              required:
                              - leaderType
                              - leaderID
                            description: 部门负责人
                          group_chat_employee_types:
                            type: array
                            items:
                              type: integer
                            description: 部门群雇员类型限制
                          primary_member_count:
                            type: integer
                            description: 部门下主属用户的个数
                            example: '100'
                        required:
                        - name
                        - parent_department_id
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - contact:contact
      x-lark-field-scopes:
      - contact:contact:readonly_as_app
      - contact:department.organize:readonly
      - contact:user.employee_id:readonly
      - contact:contact:readonly
      - contact:department.base:readonly
      - contact:contact:access_as_app
      x-lark-error-mappings:
      - code: 43005
        httpCode: 400
        msg: duplicate order error
      - code: 40002
        httpCode: 400
        msg: process root dept error
      - code: 40003
        httpCode: 400
        msg: internal error
      - code: 40004
        httpCode: 403
        msg: no dept authority error
      - code: 40008
        httpCode: 400
        msg: dept Info is null error
      - code: 40010
        httpCode: 400
        msg: chat id invalid error
      - code: 40014
        httpCode: 403
        msg: no parent dept authority error
      - code: 42008
        httpCode: 401
        msg: tenant id is invalid error
      - code: 40016
        httpCode: 400
        msg: name can not be null in updateRequest
      - code: 40017
        httpCode: 400
        msg: parent id can not be null in updateRequest
      - code: 40018
        httpCode: 400
        msg: order can not be null in updateRequest
      - code: 43004
        httpCode: 400
        msg: illegal unit error
      - code: 43017
        httpCode: 400
        msg: relate dept over limit
      - code: 43018
        httpCode: 400
        msg: duplicate i18n name
      - code: 43019
        httpCode: 400
        msg: exceed dept max level
      - code: 43021
        httpCode: 400
        msg: department chat not exist
      - code: 43022
        httpCode: 400
        msg: department name duplicate
      - code: 43023
        httpCode: 400
        msg: dept structure no permissione
      - code: 43024
        httpCode: 400
        msg: dept structure tenant lock fail
      - code: 43025
        httpCode: 400
        msg: top department leader unjoined
      - code: 43026
        httpCode: 400
        msg: employee type is not valid
      - code: 43028
        httpCode: 400
        msg: invalid department hrbps
      - code: 43029
        httpCode: 400
        msg: dept name not contain separator
      - code: 43030
        httpCode: 400
        msg: update department lock error,wait some seconds and retry
      - code: 43013
        httpCode: 400
        msg: dept too many children error
      - code: 43031
        httpCode: 400
        msg: Unable to edit data from external data sources
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: department_id
        section: 3
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.parent_department_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.leader_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.leaders[*].leaderID
        section: 0
  /open-apis/contact/v3/departments/parent:
    get:
      operationId: contact_department_parent
      summary: 获取父部门信息
      tags:
      - department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/parent
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      - name: department_id
        in: query
        required: true
        schema:
          type: string
        description: 部门ID
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的token
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 部门名称
                              example: DemoName
                            i18n_name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 部门的中文名
                                ja_jp:
                                  type: string
                                  description: 部门的日文名
                                en_us:
                                  type: string
                                  description: 部门的英文名
                              description: 国际化的部门名称
                            parent_department_id:
                              type: string
                              description: 父部门的部门ID
                              example: D067
                            department_id:
                              type: string
                              description: 本部门的自定义部门ID
                            open_department_id:
                              type: string
                              description: 部门的open_id
                            leader_user_id:
                              type: string
                              description: 部门主管用户ID
                              example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                            chat_id:
                              type: string
                              description: 部门群ID
                              example: oc_5ad11d72b830411d72b836c20
                              x-lark-id-types:
                                chat_id: chat
                            order:
                              type: string
                              description: 部门的排序
                              example: '100'
                              format: int64
                            unit_ids:
                              type: array
                              items:
                                type: string
                              description: 部门单位自定义ID列表，当前只支持一个
                            member_count:
                              type: integer
                              description: 部门下用户的个数
                              example: '100'
                            status:
                              type: object
                              properties:
                                is_deleted:
                                  type: boolean
                                  description: 是否被删除
                              description: 部门状态
                            leaders:
                              type: array
                              items:
                                type: object
                                properties:
                                  leaderType:
                                    type: integer
                                    description: 负责人类型
                                    enum:
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '1': 主负责人
                                      '2': 副负责人
                                  leaderID:
                                    type: string
                                    description: 负责人ID
                                required:
                                - leaderType
                                - leaderID
                              description: 部门负责人
                            group_chat_employee_types:
                              type: array
                              items:
                                type: integer
                              description: 部门群雇员类型限制
                            department_hrbps:
                              type: array
                              items:
                                type: string
                              description: 部门HRBP
                            primary_member_count:
                              type: integer
                              description: 部门下主属用户的个数
                              example: '100'
                          required:
                          - name
                          - parent_department_id
                        description: 部门列表
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - contact:contact.base:readonly
      - contact:department.organize:readonly
      - contact:contact:access_as_app
      - contact:contact:readonly
      - contact:contact:readonly_as_app
      x-lark-field-scopes:
      - contact:contact:readonly_as_app
      - contact:department.organize:readonly
      - contact:department.hrbp:readonly
      - contact:user.employee_id:readonly
      - contact:contact:readonly
      - contact:department.base:readonly
      - contact:contact:access_as_app
      x-lark-error-mappings:
      - code: 43001
        httpCode: 409
        msg: dept unit repeat error
      - code: 43002
        httpCode: 409
        msg: dept unit is still using error
      - code: 43003
        httpCode: 409
        msg: multi dept unit error
      - code: 43004
        httpCode: 400
        msg: illegal unit error
      - code: 43005
        httpCode: 400
        msg: duplicate order error
      - code: 40001
        httpCode: 400
        msg: param error
      - code: 43007
        httpCode: 400
        msg: dup dept unit custom id error
      - code: 43008
        httpCode: 400
        msg: custom dept id invalid error
      - code: 43009
        httpCode: 400
        msg: exceed update custom dept limit error
      - code: 43010
        httpCode: 400
        msg: big dept forbid recursion error
      - code: 43013
        httpCode: 400
        msg: dept too many children error
      - code: 43011
        httpCode: 400
        msg: delete has member dept error
      - code: 43012
        httpCode: 400
        msg: delete has sub dept department error
      - code: 40002
        httpCode: 400
        msg: process root dept error
      - code: 40003
        httpCode: 400
        msg: internal error
      - code: 40004
        httpCode: 403
        msg: no dept authority error
      - code: 40008
        httpCode: 400
        msg: dept Info is null error
      - code: 40010
        httpCode: 400
        msg: chat id is invalid error
      - code: 40014
        httpCode: 403
        msg: no parent dept authority error
      - code: 40011
        httpCode: 400
        msg: page size is invalid error
      - code: 40012
        httpCode: 400
        msg: page token is invalid error
      - code: 42008
        httpCode: 401
        msg: tenant id is invalid error
      - code: 44102
        httpCode: 400
        msg: miss department_id error
      x-lark-rate-limit:
        tier: 0
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: department_id
        section: 2
  /open-apis/contact/v3/departments/search:
    post:
      operationId: contact_department_search
      summary: 搜索部门
      tags:
      - department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/search
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以 user_id 来识别用户
            union_id: 以 union_id 来识别用户
            open_id: 以 open_id 来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义 department_id 来标识部门
            open_department_id: 以 open_department_id 来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: 搜索关键词，匹配字段为部门名称（不支持匹配部门国际化名称）
                  example: 销售部门
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 部门名称
                              example: DemoName
                            i18n_name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 部门的中文名
                                ja_jp:
                                  type: string
                                  description: 部门的日文名
                                en_us:
                                  type: string
                                  description: 部门的英文名
                              description: 国际化的部门名称
                            parent_department_id:
                              type: string
                              description: 父部门的部门ID
                              example: D067
                            department_id:
                              type: string
                              description: 本部门的自定义部门ID
                            open_department_id:
                              type: string
                              description: 部门的open_id
                            leader_user_id:
                              type: string
                              description: 部门主管用户ID
                              example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                            chat_id:
                              type: string
                              description: 部门群ID
                              example: oc_5ad11d72b830411d72b836c20
                              x-lark-id-types:
                                chat_id: chat
                            order:
                              type: string
                              description: 部门的排序
                              example: '100'
                              format: int64
                            unit_ids:
                              type: array
                              items:
                                type: string
                              description: 部门单位自定义ID列表，当前只支持一个
                            member_count:
                              type: integer
                              description: 部门下用户的个数
                              example: '100'
                            status:
                              type: object
                              properties:
                                is_deleted:
                                  type: boolean
                                  description: 是否被删除
                              description: 部门状态
                            leaders:
                              type: array
                              items:
                                type: object
                                properties:
                                  leaderType:
                                    type: integer
                                    description: 负责人类型
                                    enum:
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '1': 主负责人
                                      '2': 副负责人
                                  leaderID:
                                    type: string
                                    description: 负责人ID
                                required:
                                - leaderType
                                - leaderID
                              description: 部门负责人
                            group_chat_employee_types:
                              type: array
                              items:
                                type: integer
                              description: 部门群雇员类型限制
                            department_hrbps:
                              type: array
                              items:
                                type: string
                              description: 部门HRBP
                            primary_member_count:
                              type: integer
                              description: 部门下主属用户的个数
                              example: '100'
                          required:
                          - name
                          - parent_department_id
                        description: 部门列表
                      page_token:
                        type: string
                        description: 翻页 token，传入返回下一页，首页不需要传入
                      has_more:
                        type: boolean
                        description: 是否还有下一页
                    required:
                    - has_more
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - contact:contact.base:readonly
      - contact:contact:access_as_app
      - contact:contact:readonly_as_app
      - search:department:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      - contact:contact:readonly
      - contact:department.base:readonly
      - contact:contact:access_as_app
      - contact:contact:readonly_as_app
      - contact:department.organize:readonly
      - contact:department.hrbp:readonly
      x-lark-error-mappings:
      - code: 48001
        httpCode: 400
        msg: invalid param
      - code: 48002
        httpCode: 500
        msg: Internal Server Error
      x-lark-rate-limit:
        tier: 0
      x-lark-pagination: true
  /open-apis/contact/v3/departments/unbind_department_chat:
    post:
      operationId: contact_department_unbind_department_chat
      summary: 部门群转为普通群
      tags:
      - department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/unbind_department_chat
      parameters:
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型，默认为"open_department_id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                department_id:
                  type: string
                  description: 部门ID
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - contact:contact
      x-lark-error-mappings:
      - code: 40002
        httpCode: 400
        msg: process root dept error
      - code: 40003
        httpCode: 400
        msg: internal error
      - code: 40004
        httpCode: 403
        msg: no dept authority error
      - code: 40020
        httpCode: 403
        msg: department do not has a chat error
      x-lark-rate-limit:
        tier: 8
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department_id
        section: 0
  /open-apis/contact/v3/departments/{department_id}/update_department_id:
    patch:
      operationId: contact_department_update_department_id
      summary: 更新部门 ID
      tags:
      - department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/update_department_id
      parameters:
      - name: department_id
        in: path
        required: true
        schema:
[...]
