# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · directory API（全量）
  description: |-
    飞书开放平台 `directory` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:06:47Z'
  x-lark-project: directory
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:06:47Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: collaboration_rule
- name: collaboration_tenant
- name: collboration_share_entity
- name: department
- name: employee
paths:
  /open-apis/directory/v1/collaboration_rules:
    post:
      operationId: directory_collaboration_rule_create
      summary: 新增可搜可见规则
      tags:
      - collaboration_rule
      description: 创建关联组织规则
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/directory-v1/collaboration_rule/create
      parameters:
      - name: target_tenant_key
        in: query
        required: true
        schema:
          type: string
        description: 对方租户的tenant key
        example: test_key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subjects:
                  type: object
                  properties:
                    open_user_ids:
                      type: array
                      items:
                        type: string
                      description: user open id
                    open_department_ids:
                      type: array
                      items:
                        type: string
                      description: department open id，0代表全部成员
                    open_group_ids:
                      type: array
                      items:
                        type: string
                      description: group open id
                  description: 实体数量之和需要小于100
                objects:
                  type: object
                  properties:
                    open_user_ids:
                      type: array
                      items:
                        type: string
                      description: user open id
                    open_department_ids:
                      type: array
                      items:
                        type: string
                      description: department open id，0代表全部成员
                    open_group_ids:
                      type: array
                      items:
                        type: string
                      description: group open id
                  description: 实体数量之和需要小于100
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      add_rule_id:
                        type: string
                        description: 添加的规则ID
                        example: '1212121'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - trust_party:collaboration_rule:write
      x-lark-error-mappings:
      - code: 2223101
        httpCode: 400
        msg: This tenant has no  relationship with the other tenant
      - code: 2223102
        httpCode: 400
        msg: The number of rule is over limit
      - code: 2223103
        httpCode: 400
        msg: The rule subject is not within the sharing scope
      - code: 2223104
        httpCode: 400
        msg: The rule object is not within the sharing scope
      - code: 2223106
        httpCode: 400
        msg: can't set empty entity in subject or object
      - code: 2223108
        httpCode: 400
        msg: The update is too frequent. Please try again later
      - code: 2223110
        httpCode: 400
        msg: can't set other entity when department is 0
      - code: 2224001
        httpCode: 400
        msg: No permission to operate
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: tenant_key
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: tenant_id
        key: target_tenant_key
        section: 2
      - fromTo:
          from: open_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.subjects.open_user_ids[*]
        section: 0
      - fromTo:
          from: open_department_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.subjects.open_department_ids[*]
        section: 0
      - fromTo:
          from: open_group_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.subjects.open_group_ids[*]
        section: 0
      - fromTo:
          from: open_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.objects.open_user_ids[*]
        section: 0
      - fromTo:
          from: open_department_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.objects.open_department_ids[*]
        section: 0
      - fromTo:
          from: open_group_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.objects.open_group_ids[*]
        section: 0
    get:
      operationId: directory_collaboration_rule_list
      summary: 查询可搜可见规则
      tags:
      - collaboration_rule
      description: 获取关联组织规则列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/directory-v1/collaboration_rule/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 100
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: target_tenant_key
        in: query
        required: true
        schema:
          type: string
        description: 对方租户的tenant key
        example: test_key
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            rule_id:
                              type: string
                              description: 规则ID
                              example: '12121'
                            subjects:
                              type: object
                              properties:
                                open_user_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: user open id
                                open_department_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: department open id，0代表全部成员
                                open_group_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: group open id
                              description: 实体数量之和需要小于100
                            subject_is_valid:
                              type: boolean
                              description: 是否生效，如果规则主体超出了分享的范围，则is_valid为false，规则主体将不返回
                              default: false
                              example: 'true'
                            objects:
                              type: object
                              properties:
                                open_user_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: user open id
                                open_department_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: department open id，0代表全部成员
                                open_group_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: group open id
                              description: 实体数量之和需要小于100
                            object_is_valid:
                              type: boolean
                              description: 是否生效，如果规则客体超出了分享的范围，则is_valid为false，规则客体将不返回
                        description: 规则列表
                      page_token:
                        type: string
                        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
                      has_more:
                        type: boolean
                        description: 是否有更多数据
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - trust_party:collaboration_rule:read
      x-lark-error-mappings:
      - code: 2223109
        httpCode: 400
        msg: page_token is invalid
      - code: 2224001
        httpCode: 400
        msg: No permission to operate
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: tenant_key
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: tenant_id
        key: target_tenant_key
        section: 2
  /open-apis/directory/v1/collaboration_rules/{collaboration_rule_id}:
    delete:
      operationId: directory_collaboration_rule_delete
      summary: 删除可搜可见规则
      tags:
      - collaboration_rule
      description: 删除关联组织的规则
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/directory-v1/collaboration_rule/delete
      parameters:
      - name: collaboration_rule_id
        in: path
        required: true
        schema:
          type: string
        description: 规则ID
        example: '2121'
      - name: target_tenant_key
        in: query
        required: true
        schema:
          type: string
        description: 对方租户的tenant key
        example: test_key
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - trust_party:collaboration_rule:write
      x-lark-error-mappings:
      - code: 2223101
        httpCode: 400
        msg: This tenant has no  relationship with the other tenant
      - code: 2223107
        httpCode: 400
        msg: The rule id is not exist
      - code: 2223108
        httpCode: 400
        msg: The update is too frequent. Please try again later
      - code: 2224001
        httpCode: 400
        msg: No permission to operate
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: tenant_key
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: tenant_id
        key: target_tenant_key
        section: 2
    put:
      operationId: directory_collaboration_rule_update
      summary: 更新可搜可见规则
      tags:
      - collaboration_rule
      description: 更新关联组织规则
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/directory-v1/collaboration_rule/update
      parameters:
      - name: collaboration_rule_id
        in: path
        required: true
        schema:
          type: string
        description: 规则ID
        example: '12121'
      - name: target_tenant_key
        in: query
        required: true
        schema:
          type: string
        description: 对方租户的tenant key
        example: test_key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subjects:
                  type: object
                  properties:
                    open_user_ids:
                      type: array
                      items:
                        type: string
                      description: user open id
                    open_department_ids:
                      type: array
                      items:
                        type: string
                      description: department open id，0代表全部成员
                    open_group_ids:
                      type: array
                      items:
                        type: string
                      description: group open id
                  description: 实体数量之和需要小于100
                objects:
                  type: object
                  properties:
                    open_user_ids:
                      type: array
                      items:
                        type: string
                      description: user open id
                    open_department_ids:
                      type: array
                      items:
                        type: string
                      description: department open id，0代表全部成员
                    open_group_ids:
                      type: array
                      items:
                        type: string
                      description: group open id
                  description: 实体数量之和需要小于100
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - trust_party:collaboration_rule:write
      x-lark-error-mappings:
      - code: 2223101
        httpCode: 400
        msg: This tenant has no  relationship with the other tenant
      - code: 2223103
        httpCode: 400
        msg: The rule subject is not within the sharing scope
      - code: 2223104
        httpCode: 400
        msg: The rule object is not within the sharing scope
      - code: 2223106
        httpCode: 400
        msg: can't set empty entity in subject or object
      - code: 2223108
        httpCode: 400
        msg: The update is too frequent. Please try again later
      - code: 2223107
        httpCode: 400
        msg: The rule id is not exist
      - code: 2223110
        httpCode: 400
        msg: can't set other entity when department is 0
      - code: 2224001
        httpCode: 400
        msg: No permission to operate
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: tenant_key
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: tenant_id
        key: target_tenant_key
        section: 2
      - fromTo:
          from: open_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.subjects.open_user_ids[*]
        section: 0
      - fromTo:
          from: open_department_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.subjects.open_department_ids[*]
        section: 0
      - fromTo:
          from: open_group_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.subjects.open_group_ids[*]
        section: 0
      - fromTo:
          from: open_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.objects.open_user_ids[*]
        section: 0
      - fromTo:
          from: open_department_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.objects.open_department_ids[*]
        section: 0
      - fromTo:
          from: open_group_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.objects.open_group_ids[*]
        section: 0
  /open-apis/directory/v1/collaboration_tenants:
    get:
      operationId: directory_collaboration_tenant_list
      summary: 管理员获取所有关联组织列表
      tags:
      - collaboration_tenant
      description: 在创建规则时，需要知道对方租户的tenant key，为拿到有效的tenant key，这里提供一个专门给管理员获取关联组织租户的接口，该接口可以直接请求到所有关联组织列表。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/directory-v1/collaboration_tenant/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 100
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: g102aggaEYLRMSHU6DENYI4HMBAJB75XOQN2CUTV
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            tenant_key:
                              type: string
                              description: 关联组织列表
                              example: 121s121234df
                            connect_time:
                              type: integer
                              description: 建联时间
                              example: '1724296400'
                            avatar:
                              type: object
                              properties:
                                avatar_72:
                                  type: string
                                  description: 72*72像素头像链接
                                  example: http://qwed.com
                                avatar_240:
                                  type: string
                                  description: 240*240像素头像链接
                                  example: http://wssd.com
                                avatar_640:
                                  type: string
                                  description: 640*640像素头像链接
                                  example: http://wssd.com
                                avatar_origin:
                                  type: string
                                  description: 原始头像链接
                                  example: https:inernal-api/image
                              description: 租户头像
                            brand:
                              type: string
                              description: 租户品牌
                              example: feishu
                            name:
                              type: object
                              properties:
                                default_value:
                                  type: string
                                  description: 默认值
                                  example: 张三
                                i18n_value:
                                  type: string
                                  x-lark-original-type: map
                                  description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                              required:
                              - default_value
                              description: i18n文本
                            short_name:
                              type: object
                              properties:
                                default_value:
                                  type: string
                                  description: 默认值
                                  example: 张三
                                i18n_value:
                                  type: string
                                  x-lark-original-type: map
                                  description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                              required:
                              - default_value
                              description: i18n文本
                        description: 对方的关联组织信息
                      page_token:
                        type: string
                        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
                      has_more:
                        type: boolean
                        description: 是否有更多数据
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - trust_party:collaboration_rule:read
      x-lark-error-mappings:
      - code: 2223109
        httpCode: 400
        msg: page_token is invalid
      - code: 2224001
        httpCode: 400
        msg: No permission to operate
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
  /open-apis/directory/v1/share_entities:
    get:
      operationId: directory_collboration_share_entity_list
      summary: 获取关联组织双方共享成员范围
      tags:
      - collboration_share_entity
      description: 获取双方租户分享的实体ID,完成可见性规则的设置
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/directory-v1/collboration_share_entity/list
      parameters:
      - name: target_tenant_key
        in: query
        required: true
        schema:
          type: string
        description: 对方租户的tenant key
        example: test_key
      - name: target_department_id
        in: query
        required: false
        schema:
          type: string
        description: 不填写该参数为租户的分享范围，可填写该字段继续下钻查看指定部门下的子部门+成员。填写0分为两种情况，若租户分享的为全员则展示一级部门，否则展示分享的部门+成员。
        example: test_key
      - name: target_group_id
        in: query
        required: false
        schema:
          type: string
        description: 获取用户组下的成员，填写该值后忽略target_department_id
        example: test_key
      - name: is_select_subject
        in: query
        required: false
        schema:
          type: boolean
        description: 是否主体租户分享范围，默认是客体租户的分享范围
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 100
        description: 分页大小
        example: '10'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      page_token:
                        type: string
                        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                      share_departments:
                        type: array
                        items:
                          type: object
                          properties:
                            open_department_id:
                              type: string
                              description: 部门open ID
                            name:
                              type: object
                              properties:
                                default_value:
                                  type: string
                                  description: 默认值
                                  example: 张三
                                i18n_value:
                                  type: string
                                  x-lark-original-type: map
                                  description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                              required:
                              - default_value
                              description: i18n文本
                        description: 分享的部门信息
                      share_groups:
                        type: array
                        items:
                          type: object
                          properties:
                            open_group_id:
                              type: string
                              description: 用户组的open_id
                              example: ou-12121212
                            name:
                              type: object
                              properties:
                                default_value:
                                  type: string
                                  description: 默认值
                                  example: 张三
                                i18n_value:
                                  type: string
                                  x-lark-original-type: map
                                  description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                              required:
                              - default_value
                              description: i18n文本
                        description: 分享的用户组信息
                      share_users:
                        type: array
                        items:
                          type: object
                          properties:
                            open_user_id:
                              type: string
                              description: user open ID
                              example: ou-12121212
                            name:
                              type: object
                              properties:
                                default_value:
                                  type: string
                                  description: 默认值
                                  example: 张三
                                i18n_value:
                                  type: string
                                  x-lark-original-type: map
                                  description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                              required:
                              - default_value
                              description: i18n文本
                            avatar:
                              type: object
                              properties:
                                avatar_72:
                                  type: string
                                  description: 72*72像素头像链接
                                  example: http://qwed.com
                                avatar_240:
                                  type: string
                                  description: 240*240像素头像链接
                                  example: http://wssd.com
                                avatar_640:
                                  type: string
                                  description: 640*640像素头像链接
                                  example: http://wssd.com
                                avatar_origin:
                                  type: string
                                  description: 原始头像链接
                                  example: https:inernal-api/image
                              description: 用户的头像
                        description: 分享的用户信息
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - trust_party:collaboration_rule:read
      x-lark-error-mappings:
      - code: 2223109
        httpCode: 400
        msg: page_token is invalid
      - code: 2224001
        httpCode: 400
        msg: No permission to operate
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: tenant_key
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: tenant_id
        key: target_tenant_key
        section: 2
      - fromTo:
          from: open_department_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: target_department_id
        section: 2
      - fromTo:
          from: open_group_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: target_group_id
        section: 2
  /open-apis/directory/v1/departments:
    post:
      operationId: directory_department_create
      summary: 创建部门
      tags:
      - department
      description: 创建部门信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/directory-v1/department/create
      parameters:
      - name: employee_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - employee_id
          x-enum-descriptions:
            open_id: 标识一个用户在某个应用中的身份
            union_id: 标识一个用户在某个应用开发商下的身份
            employee_id: 标识一个用户在某个租户内的身份
          default: open_id
          x-lark-id-types:
            employee_id: user
            open_id: user
            union_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 用来标识租户内一个唯一的部门
            open_department_id: 用来在具体某个应用中标识一个部门，同一个部门 在不同应用中的 open_department_id 不相同。
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
        example: open_department_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                department:
                  type: object
                  properties:
                    custom_department_id:
                      type: string
                      description: 标识租户内一个唯一的部门，支持自定义，未自定义时系统自动生成。ID支持修改。详细说明参见 部门ID说明，获取department_id的方式：企业管理员在 管理后台 > 组织架构
                        > 成员与部门 页面，点击 部门详情，查询部门ID
                      example: eersdf
                    name:
                      type: object
                      properties:
                        default_value:
                          type: string
                          description: 默认值
                          example: 张三
                        i18n_value:
                          type: string
                          x-lark-original-type: map
                          description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                      required:
                      - default_value
                      description: i18n文本
                    parent_department_id:
                      type: string
                      description: 父部门ID
                      example: h121900
                    leaders:
                      type: array
                      items:
                        type: object
                        properties:
                          leader_type:
                            type: integer
                            description: 部门负责人类型
                            enum:
                            - 1
                            - 2
                            x-enum-descriptions:
                              '1': 主
                              '2': 副
                            example: '1'
                          leader_id:
                            type: string
                            description: 部门负责人ID
                            example: u273y71
                        required:
                        - leader_type
                        - leader_id
                      description: 部门负责人
                    order_weight:
                      type: string
                      description: 在上级部门下的排序权重
                      example: '100'
                    enabled_status:
                      type: boolean
                      description: 是否启用
                    custom_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          field_type:
                            type: string
                            description: 自定义字段类型
                            enum:
                            - '1'
                            - '2'
                            - '3'
                            - '4'
                            - '9'
                            - '10'
                            - '11'
                            x-enum-descriptions:
                              '1': 多行文本
                              '2': 网页链接
                              '3': 枚举选项
                              '4': 人员
                              '9': 电话
                              '10': 多选枚举类型(目前仅支持文本类型)
                              '11': 人员列表
                          text_value:
                            type: object
                            properties:
                              default_value:
                                type: string
                                description: 默认值
                                example: 张三
                              i18n_value:
                                type: string
                                x-lark-original-type: map
                                description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                            required:
                            - default_value
                            description: i18n文本
                          url_value:
                            type: object
                            properties:
                              link_text:
                                type: object
                                properties:
                                  default_value:
                                    type: string
                                    description: 默认值
                                    example: 张三
                                  i18n_value:
                                    type: string
                                    x-lark-original-type: map
                                    description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                                required:
                                - default_value
                                description: i18n文本
                              url:
                                type: string
                                description: 移动端网页链接
                                example: https://m.bytedance.com/afnasjfna
                              pcurl:
                                type: string
                                description: 桌面端网页链接
                                example: http://www.fs.cn
                            required:
                            - link_text
                            - url
                            - pcurl
                            description: 网页链接字段值
                          enum_value:
                            type: object
                            properties:
                              enum_ids:
                                type: array
                                items:
                                  type: string
                                description: 选项结果ID
                              enum_type:
                                type: string
                                description: 选项类型
                                enum:
                                - '1'
                                - '2'
                                x-enum-descriptions:
                                  '1': 文本
                                  '2': 图片
                            required:
                            - enum_ids
                            - enum_type
                            description: 枚举
                          user_values:
                            type: array
                            items:
                              type: object
                              properties:
                                ids:
                                  type: array
                                  items:
                                    type: string
                                  description: 人员ID
                              required:
                              - ids
                            description: 人员字段值
                          phone_value:
                            type: object
                            properties:
                              phone_number:
                                type: string
                                description: 电话号
                                example: '18812345678'
                              extension_number:
                                type: string
                                description: 分机号
                                example: '234234234'
                            required:
                            - phone_number
                            description: 电话字段值
                          field_key:
                            type: string
                            description: 自定义字段key
                            example: C-1000001
                      description: 自定义字段
                  description: 创建部门
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      department_id:
                        type: string
                        description: 部门ID
                        example: eesdasd
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - directory:department:write
      - directory:department.create:write
      x-lark-error-mappings:
      - code: 2221305
        httpCode: 400
        msg: Request parameter error
      - code: 2221306
        httpCode: 400
        msg: ExternalID repeat
      - code: 2221307
        httpCode: 400
        msg: Exceed department limit
      - code: 2221309
        httpCode: 400
        msg: Department does not exist
      - code: 2221311
        httpCode: 400
        msg: Internationalized name duplication
      - code: 2221312
        httpCode: 400
        msg: Exceed department level depth
      - code: 2221313
        httpCode: 400
        msg: ExternalID invalid
      - code: 2221317
        httpCode: 400
        msg: Department direct sub departments exceed limits
      - code: 2221319
        httpCode: 400
        msg: Department name duplicate when creating and updating
      - code: 2221300
        httpCode: 400
        msg: Department common error
      - code: 2221328
        httpCode: 400
        msg: Description invalid
      - code: 2221331
        httpCode: 400
        msg: Custom field value invalid
      - code: 2221333
        httpCode: 400
        msg: Department name can not contain '/'
      - code: 2221334
        httpCode: 400
        msg: Department ID duplicate
      - code: 2224001
        httpCode: 400
        msg: No permission to operate
      - code: 2224002
        httpCode: 400
        msg: No permission to operate record
      - code: 2224003
        httpCode: 400
        msg: No permission to operate dependent object
      - code: 2221349
        httpCode: 400
        msg: Department has member, can not disable department
      - code: 2221350
        httpCode: 400
        msg: Department has child, can not disable department
      - code: 2221351
        httpCode: 400
        msg: Department parent is disabled, can not enable
      - code: 2221352
        httpCode: 400
        msg: Department parent is disabled
      x-lark-rate-limit:
        tier: 6
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department.parent_department_id
        section: 0
      - fromTo:
          from: x_employee_id
          idType: ''
          idTypeKey: employee_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department.leaders[*].leader_id
        section: 0
      - fromTo:
          from: x_employee_id
          idType: ''
          idTypeKey: employee_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department.custom_field_values[*].user_values[*].ids[*]
        section: 0
      - fromTo:
          from: open_org_dimension_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: org_dimension_id
        key: $.department.org_dimension
        section: 0
  /open-apis/directory/v1/departments/{department_id}:
    delete:
      operationId: directory_department_delete
      summary: 删除部门
      tags:
      - department
      description: 删除部门信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/directory-v1/department/delete
      parameters:
      - name: department_id
        in: path
        required: true
        schema:
          type: string
        description: 部门ID
        example: weasdqwe
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 用来标识租户内一个唯一的部门
            open_department_id: 用来在具体某个应用中标识一个部门，同一个部门 在不同应用中的 open_department_id 不相同。
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
        example: open_department_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - directory:department:write
      - directory:department.delete:write
      x-lark-error-mappings:
      - code: 2221332
        httpCode: 400
        msg: Department has members, can not delete department
      - code: 2224001
        httpCode: 400
        msg: No permission to operate
      - code: 2224002
        httpCode: 400
        msg: No permission to operate record
      - code: 2224003
        httpCode: 400
        msg: No permission to operate dependent object
      - code: 2221348
        httpCode: 400
        msg: Department has child, can not delete department
      x-lark-rate-limit:
        tier: 7
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: department_id
        section: 3
    patch:
      operationId: directory_department_patch
      summary: 更新部门
      tags:
      - department
      description: 更新部门信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/directory-v1/department/patch
      parameters:
      - name: department_id
        in: path
        required: true
        schema:
          type: string
        description: 部门ID
        example: h12921
      - name: employee_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - employee_id
          x-enum-descriptions:
            open_id: 标识一个用户在某个应用中的身份
            union_id: 标识一个用户在某个应用开发商下的身份
            employee_id: 标识一个用户在某个租户内的身份
          default: open_id
          x-lark-id-types:
            employee_id: user
            open_id: user
            union_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_department_id
          - department_id
          x-enum-descriptions:
            open_department_id: 用来在具体某个应用中标识一个部门，同一个部门 在不同应用中的 open_department_id 不相同。
            department_id: 用来标识租户内一个唯一的部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
        example: open_department_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                department:
                  type: object
                  properties:
                    custom_department_id:
                      type: string
                      description: 自定义部门ID
                      example: eedasqwA
                    name:
                      type: object
                      properties:
                        default_value:
                          type: string
                          description: 默认值
                          example: 张三
                        i18n_value:
                          type: string
                          x-lark-original-type: map
                          description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                      required:
                      - default_value
                      description: i18n文本
                    parent_department_id:
                      type: string
                      description: 父部门ID
                      example: '100'
                    leaders:
                      type: array
                      items:
                        type: object
                        properties:
                          leader_type:
                            type: integer
                            description: 部门负责人类型
                            enum:
                            - 1
                            - 2
                            x-enum-descriptions:
                              '1': 主
                              '2': 副
                            example: '1'
                          leader_id:
                            type: string
                            description: 部门负责人ID
                            example: u273y71
                        required:
                        - leader_type
                        - leader_id
                      description: 部门负责人
                    order_weight:
                      type: string
                      description: 在上级部门下的排序权重
                      example: '100'
                    enabled_status:
                      type: boolean
                      description: 是否启用
                    custom_field_values:
                      type: array
                      items:
                        type: object
                        properties:
                          field_type:
                            type: string
                            description: 自定义字段类型
                            enum:
                            - '1'
                            - '2'
                            - '3'
                            - '4'
                            - '9'
                            - '10'
                            - '11'
                            x-enum-descriptions:
                              '1': 多行文本
                              '2': 网页链接
                              '3': 枚举选项
                              '4': 人员
                              '9': 电话
                              '10': 多选枚举类型(目前仅支持文本类型)
                              '11': 人员列表
                          text_value:
                            type: object
                            properties:
                              default_value:
                                type: string
                                description: 默认值
                                example: 张三
                              i18n_value:
                                type: string
                                x-lark-original-type: map
                                description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                            required:
                            - default_value
                            description: i18n文本
                          url_value:
                            type: object
                            properties:
                              link_text:
                                type: object
                                properties:
                                  default_value:
                                    type: string
                                    description: 默认值
                                    example: 张三
                                  i18n_value:
                                    type: string
                                    x-lark-original-type: map
                                    description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                                required:
                                - default_value
                                description: i18n文本
                              url:
                                type: string
                                description: 移动端网页链接
                                example: https://m.bytedance.com/afnasjfna
                              pcurl:
                                type: string
                                description: 桌面端网页链接
                                example: http://www.fs.cn
                            required:
                            - link_text
                            - url
                            - pcurl
                            description: 网页链接字段值
                          enum_value:
                            type: object
                            properties:
                              enum_ids:
                                type: array
                                items:
                                  type: string
                                description: 选项结果ID
                              enum_type:
                                type: string
                                description: 选项类型
                                enum:
                                - '1'
                                - '2'
                                x-enum-descriptions:
                                  '1': 文本
                                  '2': 图片
                            required:
                            - enum_ids
                            - enum_type
                            description: 枚举
                          user_values:
                            type: array
                            items:
                              type: object
                              properties:
                                ids:
                                  type: array
                                  items:
                                    type: string
                                  description: 人员ID
                              required:
                              - ids
                            description: 人员字段值
                          phone_value:
                            type: object
                            properties:
                              phone_number:
                                type: string
                                description: 电话号
                                example: '18812345678'
                              extension_number:
                                type: string
                                description: 分机号
                                example: '234234234'
                            required:
                            - phone_number
                            description: 电话字段值
                          field_key:
                            type: string
                            description: 自定义字段key
                            example: C-1000001
                      description: 自定义字段
                  description: 更新部门
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - directory:department:write
      - directory:department.update:write
      x-lark-error-mappings:
      - code: 2221305
        httpCode: 400
        msg: Request parameter error
      - code: 2221306
        httpCode: 400
        msg: ExternalID repeat
      - code: 2221307
        httpCode: 400
        msg: Exceed department limit
      - code: 2221309
        httpCode: 400
        msg: Department does not exist
      - code: 2221311
        httpCode: 400
        msg: Internationalized name duplication
      - code: 2221312
        httpCode: 400
        msg: Exceed department level depth
      - code: 2221313
        httpCode: 400
        msg: ExternalID invalid
      - code: 2221317
        httpCode: 400
        msg: Department direct sub departments exceed limits
      - code: 2221319
        httpCode: 400
        msg: Department name duplicate when creating and updating
      - code: 2221328
        httpCode: 400
        msg: Description invalid
      - code: 2221329
        httpCode: 400
        msg: Department type invalid
      - code: 2221330
        httpCode: 400
        msg: HRBP invalid
      - code: 2221331
        httpCode: 400
        msg: Custom field value invalid
      - code: 2221332
        httpCode: 400
        msg: Department has members, can not delete department
      - code: 2221333
        httpCode: 400
        msg: Department name can not contain '/'
      - code: 2221334
        httpCode: 400
        msg: Department ID duplicate
      - code: 2224001
        httpCode: 400
        msg: No permission to operate
      - code: 2224002
        httpCode: 400
        msg: No permission to operate record
      - code: 2224003
        httpCode: 400
        msg: No permission to operate dependent object
      - code: 2221349
        httpCode: 400
        msg: Department has member, can not disable department
      - code: 2221350
        httpCode: 400
        msg: Department has child, can not disable department
      - code: 2221351
        httpCode: 400
        msg: Department parent is disabled, can not enable
      - code: 2221352
        httpCode: 400
        msg: Department parent is disabled
      x-lark-rate-limit:
        tier: 7
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: department_id
        section: 3
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department.parent_department_id
        section: 0
      - fromTo:
          from: x_employee_id
          idType: ''
          idTypeKey: employee_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department.leaders[*].leader_id
        section: 0
      - fromTo:
          from: x_employee_id
          idType: ''
          idTypeKey: employee_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department.custom_field_values[*].user_values[*].ids[*]
        section: 0
  /open-apis/directory/v1/departments/filter:
    post:
      operationId: directory_department_filter
      summary: 获取部门列表
      tags:
      - department
      description: 查询部门ID列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/directory-v1/department/filter
      parameters:
      - name: employee_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - employee_id
          - union_id
          x-enum-descriptions:
            open_id: 标识一个用户在某个应用中的身份
            employee_id: 标识一个用户在某个租户内的身份
            union_id: 标识一个用户在某个应用开发商下的身份
          default: open_id
          x-lark-id-types:
            employee_id: user
            open_id: user
            union_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_department_id
          - department_id
          x-enum-descriptions:
            open_department_id: 用来在具体某个应用中标识一个部门，同一个部门 在不同应用中的 open_department_id 相同。
            department_id: 用来标识租户内一个唯一的部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
        example: open_department_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    conditions:
                      type: array
                      items:
                        type: object
                        properties:
                          field:
                            type: string
                            description: 筛选条件的左值，值为字段的参数名称。具体可填哪些字段请看 https://bytedance.larkoffice.com/wiki/Yyrgw6kLLiGxMIkrEZece1ZvnWg
                          operator:
                            type: string
                            description: 比较操作符。可选值有： - equal：等于，支持任何类型的左值 - in：属于任一
                          value:
                            type: string
                            description: 筛选条件的右值。内容为左值字段类型及操作符组合下，对应的值类型。注意： 1. field为int类型，operator为in时，value应当为list<int>的json字符串   1.
                              示例值："[11,22]" 2. field为string类型，operator为in时，value应当为json序列化后的json字符串   1. 示例值："[\"正式\",\"实习\"]"
                              3. field为string类型，operator为eq时，value应当为json序列化后的string   1. 示例值："\正式\""
                            example: '1'
                        required:
                        - field
                        - operator
                        - value
                      description: 比较表达式列表，内容如 base_info.mobile eq "\"+8613000000001\""的比较条件，多个表达式之间的关系为且
                  required:
                  - conditions
                  description: 查询条件
                required_fields:
                  type: array
                  items:
                    type: string
                  description: 需要查询的字段列表。将按照传递的字段列表返回有权限的行、列数据。不传则不会返回任何字段
                page_request:
                  type: object
                  properties:
                    page_size:
                      type: integer
                      description: 本次请求条数
                    page_token:
                      type: string
                      description: 顺序分页查询，不能跳页查询，支持深分页，在需要遍历全部数据的场景只能使用该方式。第一次传空字符串或者不传，后面传上一次的返回值中的page_token
                  description: 分页信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      departments:
                        type: array
                        items:
                          type: object
                          properties:
                            department_id:
                              type: string
                              description: 部门ID
                              example: h12921
                            department_count:
                              type: object
                              properties:
                                recursive_members_count:
                                  type: string
                                  description: 递归成员数量
                                  example: '100'
                                direct_members_count:
                                  type: string
                                  description: 直属成员数量
                                  example: '100'
                                recursive_members_count_exclude_leaders:
                                  type: string
                                  description: 递归成员数量(不含leader)
                                  example: '100'
                                recursive_departments_count:
                                  type: string
                                  description: 递归子部门数量
                                  example: '100'
                                direct_departments_count:
                                  type: string
                                  description: 直属子部门数量
                                  example: '100'
                              description: 部门计数
                            has_child:
                              type: boolean
                              description: 是否有子部门
                              example: 'true'
                            leaders:
                              type: array
                              items:
                                type: object
                                properties:
                                  leader_type:
                                    type: integer
                                    description: 部门负责人类型
                                    enum:
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '1': 主
                                      '2': 副
                                    example: '1'
                                  leader_id:
                                    type: string
                                    description: 部门负责人ID
                                    example: u273y71
                                required:
                                - leader_type
                                - leader_id
                              description: 部门负责人
                            parent_department_id:
                              type: string
                              description: 父部门ID
                              example: h12921
                            name:
                              type: object
                              properties:
                                default_value:
                                  type: string
                                  description: 默认值
                                  example: 张三
                                i18n_value:
                                  type: string
                                  x-lark-original-type: map
                                  description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                              required:
                              - default_value
                              description: i18n文本
                            enabled_status:
                              type: boolean
                              description: 是否启用
                              example: 'true'
                            order_weight:
                              type: string
                              description: 部门排序权重
                              example: 无
                            custom_field_values:
                              type: array
                              items:
                                type: object
                                properties:
                                  field_type:
                                    type: string
                                    description: 自定义字段类型
                                    enum:
                                    - '1'
                                    - '2'
                                    - '3'
                                    - '4'
                                    - '9'
                                    - '10'
                                    - '11'
                                    x-enum-descriptions:
                                      '1': 多行文本
                                      '2': 网页链接
                                      '3': 枚举选项
                                      '4': 人员
                                      '9': 电话
                                      '10': 多选枚举类型(目前仅支持文本类型)
                                      '11': 人员列表
                                  text_value:
                                    type: object
                                    properties:
                                      default_value:
                                        type: string
                                        description: 默认值
                                        example: 张三
                                      i18n_value:
                                        type: string
                                        x-lark-original-type: map
                                        description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                                    required:
                                    - default_value
                                    description: i18n文本
                                  url_value:
                                    type: object
                                    properties:
                                      link_text:
                                        type: object
                                        properties:
                                          default_value:
                                            type: string
                                            description: 默认值
                                            example: 张三
                                          i18n_value:
                                            type: string
                                            x-lark-original-type: map
                                            description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                                        required:
                                        - default_value
                                        description: i18n文本
                                      url:
                                        type: string
                                        description: 移动端网页链接
                                        example: https://m.bytedance.com/afnasjfna
                                      pcurl:
                                        type: string
                                        description: 桌面端网页链接
                                        example: http://www.fs.cn
                                    required:
                                    - link_text
                                    - url
                                    - pcurl
                                    description: 网页链接字段值
                                  enum_value:
                                    type: object
                                    properties:
                                      enum_ids:
                                        type: array
                                        items:
                                          type: string
                                        description: 选项结果ID
                                      enum_type:
                                        type: string
                                        description: 选项类型
                                        enum:
                                        - '1'
                                        - '2'
                                        x-enum-descriptions:
                                          '1': 文本
                                          '2': 图片
                                    required:
                                    - enum_ids
                                    - enum_type
                                    description: 枚举
                                  user_values:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        ids:
                                          type: array
                                          items:
                                            type: string
                                          description: 人员ID
                                      required:
                                      - ids
                                    description: 人员字段值
                                  phone_value:
                                    type: object
                                    properties:
                                      phone_number:
                                        type: string
                                        description: 电话号
                                        example: '18812345678'
                                      extension_number:
                                        type: string
                                        description: 分机号
                                        example: '234234234'
                                    required:
                                    - phone_number
                                    description: 电话字段值
                                  field_key:
                                    type: string
                                    description: 自定义字段key
                                    example: C-1000001
                              description: 自定义字段
                            department_path_infos:
                              type: array
                              items:
                                type: object
                                properties:
                                  department_id:
                                    type: string
                                    description: 部门ID
                                    example: '1'
                                  department_name:
                                    type: object
                                    properties:
                                      default_value:
                                        type: string
                                        description: 默认值
                                        example: 张三
                                      i18n_value:
                                        type: string
                                        x-lark-original-type: map
                                        description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                                    required:
                                    - default_value
                                    description: i18n文本
                              description: 部门路径的基本信息, 与部门路径ID department_path 相比，本字段不含根部门信息
                              example: '1'
                            data_source:
                              type: integer
                              description: 数据来源
                              enum:
                              - 1
                              - 2
                              - 3
                              x-enum-descriptions:
                                '1': 管理后台
                                '2': 人事企业版
                                '3': SCIM
                          required:
                          - department_id
                        description: 部门信息
                      page_response:
                        type: object
                        properties:
                          has_more:
                            type: boolean
                            description: 是否还有后续结果
                          page_token:
                            type: string
                            description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        description: 分页结果
                      abnormals:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 异常ID
                              example: eedasfwe
                            row_error:
                              type: integer
                              description: 行级异常
                              enum:
                              - 0
                              - 1000
                              x-enum-descriptions:
                                '0': 成功
                                '1000': 没权限
                            field_errors:
                              type: string
                              x-lark-original-type: map
                              description: 列级异常
                        description: 异常信息
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - directory:department:list
      x-lark-field-scopes:
      - directory:department.order_weight:read
      - directory:department.base:read
      - directory:department.data_source:read
      - directory:department.external_id:read
      - directory:department.organization:read
      - directory:department.has_child:read
      - directory:department.leader:read
      - directory:department.parent_id:read
      - directory:department.department_path:read
      - directory:department.name:read
      - directory:department.custom_field:read
      - directory:department.status:read
      - directory:department.count:read
      x-lark-error-mappings:
      - code: 2221004
        httpCode: 400
        msg: invalid page token
      - code: 2221005
        httpCode: 400
        msg: no page request
      - code: 2220009
        httpCode: 400
        msg: Filter field is invalid
      - code: 2220010
        httpCode: 400
        msg: Exceeded the limit size
      - code: 2220012
        httpCode: 400
        msg: The field is not support filter
      - code: 2220013
        httpCode: 400
        msg: The field does not support the operator
      - code: 2220014
        httpCode: 400
        msg: Invalid field value
      x-lark-rate-limit:
        tier: 4
  /open-apis/directory/v1/departments/mget:
    post:
      operationId: directory_department_mget
      summary: 批量获取部门信息
      tags:
      - department
      description: 查询部门
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/directory-v1/department/mget
      parameters:
      - name: employee_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - employee_id
          - union_id
          x-enum-descriptions:
            open_id: 标识一个用户在某个应用中的身份。同一个用户在不同应用中的 Open ID 不同
            employee_id: 标识一个用户在某个租户内的身份
            union_id: 标识一个用户在某个应用开发商下的身份
          default: open_id
          x-lark-id-types:
            employee_id: user
            open_id: user
            union_id: user
        description: 此次调用中使用的用户ID的类型
        example: user_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 用来标识租户内一个唯一的部门
            open_department_id: 用来在具体某个应用中标识一个部门，同一个部门 在不同应用中的 open_department_id 相同。
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
        example: department_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                department_ids:
                  type: array
                  items:
                    type: string
                  description: 部门id
                required_fields:
                  type: array
                  items:
                    type: string
                  description: 字段枚举
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      departments:
                        type: array
                        items:
                          type: object
                          properties:
                            department_id:
                              type: string
                              description: 部门ID
                              example: h12921
                            department_count:
                              type: object
                              properties:
                                recursive_members_count:
                                  type: string
                                  description: 递归成员数量
                                  example: '100'
                                direct_members_count:
                                  type: string
                                  description: 直属成员数量
                                  example: '100'
                                recursive_members_count_exclude_leaders:
                                  type: string
                                  description: 递归成员数量(不含leader)
                                  example: '100'
                                recursive_departments_count:
                                  type: string
                                  description: 递归子部门数量
                                  example: '100'
                                direct_departments_count:
                                  type: string
                                  description: 直属子部门数量
                                  example: '100'
                              description: 部门计数
                            has_child:
                              type: boolean
                              description: 是否有子部门
                              example: 'true'
                            leaders:
                              type: array
                              items:
                                type: object
                                properties:
                                  leader_type:
                                    type: integer
                                    description: 部门负责人类型
                                    enum:
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '1': 主
                                      '2': 副
                                    example: '1'
                                  leader_id:
                                    type: string
                                    description: 部门负责人ID
                                    example: u273y71
                                required:
                                - leader_type
                                - leader_id
                              description: 部门负责人
                            parent_department_id:
                              type: string
                              description: 父部门ID
                              example: h12921
                            name:
                              type: object
                              properties:
                                default_value:
                                  type: string
                                  description: 默认值
                                  example: 张三
                                i18n_value:
                                  type: string
                                  x-lark-original-type: map
                                  description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                              required:
                              - default_value
                              description: i18n文本
                            enabled_status:
                              type: boolean
                              description: 是否启用
                              example: 'true'
                            order_weight:
                              type: string
                              description: 部门排序权重
                              example: 无
                            custom_field_values:
                              type: array
                              items:
                                type: object
                                properties:
                                  field_type:
                                    type: string
                                    description: 自定义字段类型
                                    enum:
                                    - '1'
                                    - '2'
                                    - '3'
                                    - '4'
                                    - '9'
                                    - '10'
                                    - '11'
                                    x-enum-descriptions:
                                      '1': 多行文本
                                      '2': 网页链接
                                      '3': 枚举选项
                                      '4': 人员
                                      '9': 电话
                                      '10': 多选枚举类型(目前仅支持文本类型)
                                      '11': 人员列表
                                  text_value:
                                    type: object
                                    properties:
                                      default_value:
                                        type: string
                                        description: 默认值
                                        example: 张三
                                      i18n_value:
                                        type: string
                                        x-lark-original-type: map
                                        description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                                    required:
                                    - default_value
                                    description: i18n文本
                                  url_value:
                                    type: object
                                    properties:
                                      link_text:
                                        type: object
                                        properties:
                                          default_value:
                                            type: string
                                            description: 默认值
                                            example: 张三
                                          i18n_value:
                                            type: string
                                            x-lark-original-type: map
                                            description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                                        required:
                                        - default_value
                                        description: i18n文本
                                      url:
                                        type: string
                                        description: 移动端网页链接
                                        example: https://m.bytedance.com/afnasjfna
                                      pcurl:
                                        type: string
                                        description: 桌面端网页链接
                                        example: http://www.fs.cn
                                    required:
                                    - link_text
                                    - url
                                    - pcurl
                                    description: 网页链接字段值
                                  enum_value:
                                    type: object
                                    properties:
                                      enum_ids:
                                        type: array
                                        items:
                                          type: string
                                        description: 选项结果ID
                                      enum_type:
                                        type: string
                                        description: 选项类型
                                        enum:
                                        - '1'
                                        - '2'
                                        x-enum-descriptions:
                                          '1': 文本
                                          '2': 图片
                                    required:
                                    - enum_ids
                                    - enum_type
                                    description: 枚举
                                  user_values:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        ids:
                                          type: array
                                          items:
                                            type: string
                                          description: 人员ID
                                      required:
                                      - ids
                                    description: 人员字段值
                                  phone_value:
                                    type: object
                                    properties:
                                      phone_number:
                                        type: string
                                        description: 电话号
                                        example: '18812345678'
                                      extension_number:
                                        type: string
                                        description: 分机号
                                        example: '234234234'
                                    required:
                                    - phone_number
                                    description: 电话字段值
                                  field_key:
                                    type: string
                                    description: 自定义字段key
                                    example: C-1000001
                              description: 自定义字段
                            department_path_infos:
                              type: array
                              items:
                                type: object
                                properties:
                                  department_id:
                                    type: string
                                    description: 部门ID
                                    example: '1'
                                  department_name:
                                    type: object
                                    properties:
                                      default_value:
                                        type: string
                                        description: 默认值
                                        example: 张三
                                      i18n_value:
                                        type: string
                                        x-lark-original-type: map
                                        description: 国际化值，key为zh_cn, ja_jp, en_us, value为对应的值
                                    required:
                                    - default_value
                                    description: i18n文本
                              description: 部门路径的基本信息, 与部门路径ID department_path 相比，本字段不含根部门信息
                              example: '1'
                            data_source:
                              type: integer
                              description: 数据来源
                              enum:
                              - 1
                              - 2
                              - 3
                              x-enum-descriptions:
                                '1': 管理后台
                                '2': 人事企业版
                                '3': SCIM
                          required:
                          - department_id
                        description: 部门信息
                      abnormals:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 异常ID
                              example: eedasfwe
                            row_error:
                              type: integer
                              description: 行级异常
                              enum:
                              - 0
                              - 1000
                              x-enum-descriptions:
                                '0': 成功
                                '1000': 没权限
                            field_errors:
                              type: string
                              x-lark-original-type: map
                              description: 列级异常
                        description: 字段异常信息
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - directory:department:read
      x-lark-field-scopes:
      - directory:department.custom_field:read
      - directory:department.organization:read
      - directory:department.has_child:read
      - directory:department.parent_id:read
      - directory:department.name:read
      - directory:department.department_path:read
      - directory:department.data_source:read
      - directory:department.count:read
      - directory:department.base:read
      - directory:department.order_weight:read
      - directory:department.leader:read
      - directory:department.status:read
      - directory:department.external_id:read
      x-lark-error-mappings:
      - code: 2220001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department_ids[*]
        section: 0
  /open-apis/directory/v1/departments/search:
    post:
      operationId: directory_department_search
      summary: 搜索部门
      tags:
      - department
      description: 搜索租户内部门
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/directory-v1/department/search
      parameters:
      - name: employee_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - employee_id
          - union_id
          x-enum-descriptions:
            open_id: 标识一个用户在某个应用中的身份
            employee_id: 标识一个用户在某个租户内的身份
            union_id: 标识一个用户在某个应用开发商下的身份
          default: open_id
          x-lark-id-types:
            employee_id: user
            open_id: user
            union_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_department_id
          - department_id
          x-enum-descriptions:
            open_department_id: 用来在具体某个应用中标识一个部门，同一个部门 在不同应用中的 open_department_id 不相同。
            department_id: 用来标识租户内一个唯一的部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
        example: open_department_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: 搜索关键词。支持部门名称的搜索
                  example: zhang
                page_request:
                  type: object
                  properties:
                    page_size:
                      type: integer
                      description: 本次请求条数
                    page_token:
                      type: string
                      description: 顺序分页查询，不能跳页查询，支持深分页，在需要遍历全部数据的场景只能使用该方式。第一次传空字符串或者不传，后面传上一次的返回值中的page_token
                  description: 分页信息
                required_fields:
                  type: array
                  items:
                    type: string
                  description: 需要查询的字段列表。将按照传递的字段列表返回有权限的行、列数据。不传则不会返回任何字段
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      departments:
                        type: array
                        items:
                          type: object
                          properties:
                            department_id:
                              type: string
                              description: 部门ID
                              example: h12921
                            department_count:
                              type: object
                              properties:
                                recursive_members_count:
                                  type: string
                                  description: 递归成员数量
                                  example: '100'
                                direct_members_count:
                                  type: string
                                  description: 直属成员数量
                                  example: '100'
                                recursive_members_count_exclude_leaders:
                                  type: string
                                  description: 递归成员数量(不含leader)
                                  example: '100'
                                recursive_departments_count:
                                  type: string
                                  description: 递归子部门数量
                                  example: '100'
                                direct_departments_count:
                                  type: string
                                  description: 直属子部门数量
                                  example: '100'
                              description: 部门计数
                            has_child:
                              type: boolean
                              description: 是否有子部门
                              example: 'true'
                            leaders:
                              type: array
                              items:
                                type: object
                                properties:
                                  leader_type:
                                    type: integer
                                    description: 部门负责人类型
                                    enum:
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '1': 主
                                      '2': 副
                                    example: '1'
                                  leader_id:
                                    type: string
                                    description: 部门负责人ID
[...]
