# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · docs API（全量）
  description: |-
    飞书开放平台 `docs` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.0+3134c627
  x-lark-project: docs
  x-lark-track: full (official API Explorer)
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: content
paths:
  /open-apis/docs/v1/content:
    get:
      operationId: docs_content_get
      summary: 获取云文档内容
      tags:
      - content
      description: 获取云文档正文内容
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/docs-v1/content/get
      parameters:
      - name: doc_token
        in: query
        required: true
        schema:
          type: string
        description: 文档唯一标识
        example: B4EPdAYx8oi8HRxgPQQbM15UcBf
      - name: doc_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - docx
          x-enum-descriptions:
            docx: 新版文档
        description: 文档类型
        example: docx
      - name: content_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - markdown
          x-enum-descriptions:
            markdown: Markdown 格式
        description: 内容类型
        example: markdown
      - name: lang
        in: query
        required: false
        schema:
          type: string
          enum:
          - zh
          - en
          - ja
          x-enum-descriptions:
            zh: 中文
            en: 英文
            ja: 日文
        description: 语言
        example: zh
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      content:
                        type: string
                        description: 内容
                        example: '"文本\\*\\*导出\\*\\*测试，***~~文本导出测~~****试文***本导**[*出测*](https%3A%2F%2Fwww.baidu.com)试文本导出**测试***~~文本~~*导出测试        @李浩[Markdown       导出测试](https://bytedance.feishu-boe.net/docx/H3pSdjlAQoqIUux8toCbRkApcGb)$E = mc^2\n$        \\*文本\\*\\*       \\#
                          文本 ～～～文本～～～ \\[百度\\]\\(https://www\\.baidu\\.com\\)\\[Markdown        导出测试\\.docx\\]\n\n\\[Markdown       导出测试\\.docx\\]\n\n#
                          一级标题\n\n## 二级标题\n\n### 三级标题\n\n####        四级标题\n\n#####       五级标题\n\n###### 六级标题\n\n###### 七级标题\n\n######
                          八级标题\n\n###### 九级标题"'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - docs:document.content:read
      x-lark-error-mappings:
      - code: 2889901
        httpCode: 500
        msg: hybrid resource expired
      - code: 2889902
        httpCode: 403
        msg: no permission
      - code: 2889904
        httpCode: 400
        msg: invalid param
      - code: 2889905
        httpCode: 500
        msg: internal error
      - code: 2889906
        httpCode: 403
        msg: docs deleted
      - code: 2889914
        httpCode: 400
        msg: doc token not found
      - code: 2889925
        httpCode: 500
        msg: content size exceed limit
      - code: 2889980
        httpCode: 500
        msg: operation denied on copying page
      x-lark-rate-limit:
        tier: 6
components:
  schemas: {}
