# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · document_ai API（全量）
  description: |-
    飞书开放平台 `document_ai` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.0+9725e8d0
  x-lark-project: document_ai
  x-lark-track: full (official API Explorer)
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: bank_card
- name: business_card
- name: business_license
- name: chinese_passport
- name: contract
- name: driving_license
- name: food_manage_license
- name: food_produce_license
- name: health_certificate
- name: hkm_mainland_travel_permit
- name: id_card
- name: resume
- name: taxi_invoice
- name: train_invoice
- name: tw_mainland_travel_permit
- name: vat_invoice
- name: vehicle_invoice
- name: vehicle_license
paths:
  /open-apis/document_ai/v1/bank_card/recognize:
    post:
      operationId: document_ai_bank_card_recognize
      summary: 识别文件中的银行卡
      tags:
      - bank_card
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/bank_card/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的银行卡源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      bank_card:
                        type: object
                        properties:
                          entities:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 识别的字段种类
                                  enum:
                                  - card_number
                                  - date_of_expiry
                                  x-enum-descriptions:
                                    card_number: 银行卡卡号
                                    date_of_expiry: 有效日期
                                  example: card_number
                                value:
                                  type: string
                                  description: 识别出字段的文本信息
                                  example: 5184********8888
                            description: 识别出的实体类型
                        description: 银行卡信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:bank_card:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid.
      - code: 2110002
        httpCode: 400
        msg: No valid entity.
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/business_card/recognize:
    post:
      operationId: document_ai_business_card_recognize
      summary: 识别文件中的名片
      tags:
      - business_card
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/business_card/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别名片的源文件（支持 JPG / PNG / PDF）
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      business_cards:
                        type: array
                        items:
                          type: object
                          properties:
                            entities:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: 识别的字段种类
                                    enum:
                                    - contact_names
                                    - company_names
                                    - departments
                                    - job_titles
                                    - emails
                                    - websites
                                    - addresses
                                    - mobile_phones
                                    - work_phones
                                    - other_phones
                                    - faxes
                                    x-enum-descriptions:
                                      contact_names: 联系人名
                                      company_names: 公司名
                                      departments: 部门
                                      job_titles: 职位
                                      emails: 邮箱
                                      websites: 网站
                                      addresses: 地址
                                      mobile_phones: 移动电话
                                      work_phones: 工作电话
                                      other_phones: 其他电话
                                      faxes: 传真
                                    example: contact_names
                                  value:
                                    type: string
                                    description: 识别出字段的文本信息
                                    example: 张三
                              description: 识别的实体列表
                        description: 名片信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:business_card:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Invalid file
      - code: 2110002
        httpCode: 400
        msg: No business card detected.
      - code: 2110010
        httpCode: 500
        msg: Network anomaly, please try again.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/business_license/recognize:
    post:
      operationId: document_ai_business_license_recognize
      summary: 识别文件中的营业执照
      tags:
      - business_license
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/business_license/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的营业执照源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      business_license:
                        type: object
                        properties:
                          entities:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 识别的字段种类
                                  enum:
                                  - certificate_type
                                  - unified_social_credit_code
                                  - company_name
                                  - company_type
                                  - domicile
                                  - legal_representative
                                  - registered_capital
                                  - established_time
                                  - established_date
                                  - business_scope
                                  - website
                                  - approval_date
                                  x-enum-descriptions:
                                    certificate_type: 证书类型
                                    unified_social_credit_code: 统一社会信用代码
                                    company_name: 公司名称
                                    company_type: 公司类型
                                    domicile: 住所
                                    legal_representative: 法定代表人
                                    registered_capital: 注册资本
                                    established_time: 成立日期
                                    established_date: 营业期限
                                    business_scope: 经营范围
                                    website: 企业信用信息公示系统网址
                                    approval_date: 核准日期
                                  example: legal_representative
                                value:
                                  type: string
                                  description: 识别出字段的文本信息
                                  example: 张三
                            description: 识别出的实体类型
                        description: 营业执照信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:business_license:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid.
      - code: 2110002
        httpCode: 400
        msg: No valid entity.
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/chinese_passport/recognize:
    post:
      operationId: document_ai_chinese_passport_recognize
      summary: 识别文件中的中国护照
      tags:
      - chinese_passport
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/chinese_passport/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的中国护照源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      chinese_passport:
                        type: object
                        properties:
                          entities:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 识别的字段种类
                                  enum:
                                  - full_name_cn
                                  - full_name_en
                                  - date_of_birth
                                  - date_of_expiry
                                  - place_of_issue
                                  - passport_number
                                  x-enum-descriptions:
                                    full_name_cn: 中文姓名
                                    full_name_en: 英文格式姓名
                                    date_of_birth: 出生日期
                                    date_of_expiry: 有效期至
                                    place_of_issue: 签发地点
                                    passport_number: 护照号码
                                  example: full_name_cn
                                value:
                                  type: string
                                  description: 识别出字段的文本信息
                                  example: 张三
                            description: 识别出的实体类型
                        description: 中国护照信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:chinese_passport:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid
      - code: 2110002
        httpCode: 400
        msg: No valid entity
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/contract/field_extraction:
    post:
      operationId: document_ai_contract_field_extraction
      summary: 提取文件中的合同字段
      tags:
      - contract
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/contract/field_extraction
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 合同字段解析的源文件，当前只支持pdf, doc, docx三种类型的文件
                pdf_page_limit:
                  type: integer
                  description: pdf页数限制，太长会导致latency增加，最大允许100页
                  example: '15'
                ocr_mode:
                  type: string
                  description: ocr 参数，当前支持force, pdf, unused三种格式
                  enum:
                  - force
                  - auto
                  - unused
                  x-enum-descriptions:
                    force: pdf类型文件直接走OCR解析
                    auto: pdf类型文件先走本地解析，无法解析（扫描/图片版）再走OCR
                    unused: 不调用OCR，扫描/图片PDF返回不可解析信息
                  example: auto
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      file_id:
                        type: string
                        description: 文件的唯一id
                        example: '7216597635774283796'
                      price:
                        type: object
                        properties:
                          contract_price:
                            type: number
                            description: 交易金额
                            example: '200000'
                          contract_price_original:
                            type: string
                            description: 从原文中抽取的交易金额
                            example: '"200000"'
                          text:
                            type: string
                            description: 原文中描述交易金额的文字
                            example: 本合同项下总金额共计￥200000（贰拾万元整）
                        description: 总交易金额
                      time:
                        type: object
                        properties:
                          time_start:
                            type: string
                            description: 开始时间
                            example: '2020-07-01'
                          time_end:
                            type: string
                            description: 结束时间
                            example: '2022-06-30'
                          original_time_start:
                            type: string
                            description: 原文中抽取出的开始时间
                            example: 2020年07月1日
                          original_time_end:
                            type: string
                            description: 原文中抽取出的结束时间
                            example: 2022年6月30日
                          text_start:
                            type: string
                            description: 原文中关于开始时间的描述
                            example: 本协议自有效期自【2020】年【07】月【1】日至【2022】年【6】月【30】日，有效期2年。
                          text_end:
                            type: string
                            description: 原文中关于结束时间的描述
                            example: 本协议自有效期自【2020】年【07】月【1】日至【2022】年【6】月【30】日，有效期2年。
                          initial_term:
                            type: object
                            properties:
                              initial_time:
                                type: string
                                description: 合同持续时长
                                example: '2'
                              initial_unit:
                                type: string
                                description: 持续时长单位
                                example: 年
                            description: 合同持续时长
                          text_initial_term:
                            type: string
                            description: 原文中关于持续时间的描述
                            example: 2年
                        description: 期限相关信息，包括开始日期、结束日期、有效时长
                      copy:
                        type: object
                        properties:
                          copy_num:
                            type: integer
                            description: 盖章份数
                            example: '2'
                          original_copy:
                            type: string
                            description: 从原文中抽取的盖章份数
                            example: 一式贰份
                          key:
                            type: string
                            description: 盖章文件类型
                            example: 协议
                          text:
                            type: string
                            description: 原文有关盖章份数的描述
                            example: 此协议一式贰份，双方各执壹份，具有同等法律效力。
                        description: 盖章份数
                      currency:
                        type: object
                        properties:
                          currency_name:
                            type: string
                            description: 币种名称
                            example: CNY
                          currency_text:
                            type: string
                            description: 币种符号
                            example: ¥
                        description: 币种
                      header:
                        type: string
                        description: 合同标题
                        example: 项目活动框架协议
                      body_info:
                        type: array
                        items:
                          type: object
                          properties:
                            body_type:
                              type: string
                              description: 主体类型
                              enum:
                              - buy
                              - sell
                              - third
                              x-enum-descriptions:
                                buy: 甲方主体
                                sell: 乙方主体
                                third: 第三方、其他方主体
                              example: buy
                            value:
                              type: object
                              properties:
                                address:
                                  type: string
                                  description: 地址
                                  example: 北京市海淀区紫金数码园4号楼
                                contacts:
                                  type: string
                                  description: 联系人
                                  example: 张三
                                email:
                                  type: string
                                  description: 邮箱
                                  example: zhangsan.1111@bytedance.com
                                phone:
                                  type: string
                                  description: 电话
                                  example: '13600000000'
                                id_number:
                                  type: string
                                  description: ID
                                  example: 310XXXXXXXXXXXXXXX
                                legal_representative:
                                  type: string
                                  description: 法人代表
                                  example: 张三
                                party:
                                  type: string
                                  description: 当事人
                                  example: 北京字节跳动网络技术有限公司
                              description: 值
                              example: value
                        description: 主体信息
                      bank_info:
                        type: array
                        items:
                          type: object
                          properties:
                            bank_type:
                              type: string
                              description: 甲乙方信息类型
                              enum:
                              - buy_bank
                              - sell_bank
                              - third_bank
                              - unceratin_bank
                              x-enum-descriptions:
                                buy_bank: 甲方银行
                                sell_bank: 乙方银行
                                third_bank: 第三方银行
                                unceratin_bank: 其他方银行
                              example: buy
                            value:
                              type: object
                              properties:
                                account_name:
                                  type: string
                                  description: 账户名
                                  example: 北京字节跳动网络技术有限公司
                                bank_name:
                                  type: string
                                  description: 银行名称
                                  example: 中国农业银行北京和平里支行
                                account_number:
                                  type: string
                                  description: 账户ID
                                  example: '1123012345004701'
                                phone:
                                  type: string
                                  description: 电话
                                  example: 010-81234688
                                contacts:
                                  type: string
                                  description: 联系人
                                  example: 张三
                                tax_number:
                                  type: string
                                  description: 传真号码
                                  example: '91110112345684235'
                                address:
                                  type: string
                                  description: 联系地址
                                  example: A市B区C园D楼3-8
                                id_number:
                                  type: string
                                  description: id号
                                  example: '1123012345004701'
                                email:
                                  type: string
                                  description: 邮箱
                                  example: zhangsan.1111@bytedance.com
                              description: 值
                              example: value
                        description: 银行信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:contract:field_extract
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: invalid request
      - code: 2110002
        httpCode: 400
        msg: no contract detected
      - code: 2110010
        httpCode: 500
        msg: network anomaly or out of limit, please try it later
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/driving_license/recognize:
    post:
      operationId: document_ai_driving_license_recognize
      summary: 识别文件中的驾驶证
      tags:
      - driving_license
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/driving_license/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的驾驶证源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      driving_license:
                        type: object
                        properties:
                          entities:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 识别的字段种类
                                  enum:
                                  - id_number
                                  - name
                                  - sex
                                  - nationality
                                  - address
                                  - date_of_birth
                                  - date_of_first_issue
                                  - class
                                  - valid_begin
                                  - valid_end
                                  - license_issuing_authority
                                  - document_id
                                  - record
                                  - id_photo_location
                                  x-enum-descriptions:
                                    id_number: 证号
                                    name: 姓名
                                    sex: 性别
                                    nationality: 国籍
                                    address: 住址
                                    date_of_birth: 出生日期
                                    date_of_first_issue: 初次领证日期
                                    class: 准驾车型
                                    valid_begin: 有效期起
                                    valid_end: 有效期止
                                    license_issuing_authority: 发证机关
                                    document_id: 档案编号
                                    record: 记录
                                    id_photo_location: 相片位置
                                  example: name
                                value:
                                  type: string
                                  description: 识别出字段的文本信息
                                  example: 张三
                            description: 识别出的实体类型
                        description: 驾驶证信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:driving_license:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid
      - code: 2110002
        httpCode: 400
        msg: No valid entity
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/food_manage_license/recognize:
    post:
      operationId: document_ai_food_manage_license_recognize
      summary: 识别文件中的食品经营许可证
      tags:
      - food_manage_license
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/food_manage_license/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的食品经营许可证源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      food_manage_license:
                        type: object
                        properties:
                          entities:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 识别的字段种类
                                  enum:
                                  - validity_period
                                  - issuer
                                  - issuing_authority
                                  - complaints_hotline
                                  - license_number
                                  - domicile
                                  - legal_representative
                                  - credit_code
                                  - operator
                                  - premise
                                  - daily_supervisor
                                  - daily_supervisory_authorities
                                  - main_body
                                  - operating_item
                                  x-enum-descriptions:
                                    validity_period: 有效期
                                    issuer: 签发人
                                    issuing_authority: 发证机关
                                    complaints_hotline: 投诉举报电话
                                    license_number: 许可证编号
                                    domicile: 住所
                                    legal_representative: 法定代表人(负责人)
                                    credit_code: 社会信用代码(身份证号)
                                    operator: 经营者名称
                                    premise: 经营场所
                                    daily_supervisor: 日常监督管理人员
                                    daily_supervisory_authorities: 日常监督管理机构
                                    main_body: 主体业态
                                    operating_item: 经营项目
                                  example: issuer
                                value:
                                  type: string
                                  description: 识别出字段的文本信息
                                  example: 张三
                            description: 识别出的实体列表
                        description: 食品经营许可证信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:food_manage_license:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid.
      - code: 2110002
        httpCode: 400
        msg: No valid entity.
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/food_produce_license/recognize:
    post:
      operationId: document_ai_food_produce_license_recognize
      summary: 识别文件中的食品生产许可证
      tags:
      - food_produce_license
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/food_produce_license/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的食品生产许可证源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      food_produce_license:
                        type: object
                        properties:
                          entities:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 识别的字段种类
                                  enum:
                                  - validity_period
                                  - issuer
                                  - issuing_authority
                                  - complaints_hotline
                                  - food_category
                                  - production_address
                                  - license_number
                                  - domicile
                                  - legal_representative
                                  - credit_code
                                  - producer
                                  - daily_supervisory_authorities
                                  - daily_supervisor
                                  x-enum-descriptions:
                                    validity_period: 有效期
                                    issuer: 签发人
                                    issuing_authority: 发证机关
                                    complaints_hotline: 投诉举报电话
                                    food_category: 食品类别
                                    production_address: 生产地址
                                    license_number: 许可证编号
                                    domicile: 住所
                                    legal_representative: 法定代表人(负责人)
                                    credit_code: 社会信用代码(身份证号)
                                    producer: 生产者名称
                                    daily_supervisory_authorities: 日常监督管理机构
                                    daily_supervisor: 日常监督管理人员
                                  example: issuer
                                value:
                                  type: string
                                  description: 识别出字段的文本信息
                                  example: 张三
                            description: 识别出的实体列表
                        description: 食品生产许可证信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:food_produce_license:recoginze
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid.
      - code: 2110002
        httpCode: 400
        msg: No valid entity.
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/health_certificate/recognize:
    post:
      operationId: document_ai_health_certificate_recognize
      summary: 识别文件中的健康证
      tags:
      - health_certificate
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/health_certificate/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的健康证源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      health_certificate:
                        type: object
                        properties:
                          entities:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 识别的字段种类
                                  enum:
                                  - name
                                  - issued_by
                                  - date_of_handling
                                  - date_of_issue
                                  - date_of_medical_examination
                                  - valid_date
                                  - other_date
                                  x-enum-descriptions:
                                    name: 姓名
                                    issued_by: 发证机关
                                    date_of_handling: 办证日期
                                    date_of_issue: 发证日期
                                    date_of_medical_examination: 体检日期
                                    valid_date: 有效日期
                                    other_date: 其他日期
                                  example: id_number
                                value:
                                  type: string
                                  description: 识别出字段的文本信息
                                  example: 张三
                            description: 识别出的实体类型
                        description: 健康证信息
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - document_ai:health_certificate:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid
      - code: 2110002
        httpCode: 400
        msg: No valid entity
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/hkm_mainland_travel_permit/recognize:
    post:
      operationId: document_ai_hkm_mainland_travel_permit_recognize
      summary: 识别文件中的港澳居民来往内地通行证
      tags:
      - hkm_mainland_travel_permit
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/hkm_mainland_travel_permit/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的港澳居民来往内地通行证源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      hkm_mainland_travel_permit:
                        allOf:
                        - $ref: '#/components/schemas/TwMainlandTravelPermit'
                        description: 港澳居民来往内地通行证信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:hkm_mainland_travel_permit:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid.
      - code: 2110002
        httpCode: 400
        msg: No valid entity.
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/id_card/recognize:
    post:
      operationId: document_ai_id_card_recognize
      summary: 识别文件中的身份证
      tags:
      - id_card
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/id_card/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别身份证的源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      id_card:
                        type: object
                        properties:
                          entities:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 识别的字段种类
                                  enum:
                                  - identity_code
                                  - identity_name
                                  - address
                                  - valid_date_start
                                  - valid_date_end
                                  - gender
                                  - race
                                  - issued_by
                                  - birth
                                  x-enum-descriptions:
                                    identity_code: 公民身份号码
                                    identity_name: 姓名
                                    address: 住址
                                    valid_date_start: 有效期起始时间
                                    valid_date_end: 有效期终止时间（“长期”识别为“长期”）
                                    gender: 性别
                                    race: 民族
                                    issued_by: 签发机关
                                    birth: 出生日期
                                  example: identity_name
                                value:
                                  type: string
                                  description: 识别出字段的文本信息
                                  example: 张三
                            description: 识别的实体列表
                          side:
                            type: integer
                            description: 正反面，1为身份证-姓名页，0为身份证-国徽页
                            example: '0'
                          conners:
                            type: array
                            items:
                              type: integer
                            description: 四角坐标[x0,y0,x1,y1,x2,y2,x3,y3]
                          face_conners:
                            type: array
                            items:
                              type: integer
                            description: 人像四角坐标[x0,y0,x1,y1,x2,y2,x3,y3]
                        description: 身份证信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:id_card:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: param is invalid
      - code: 2110002
        httpCode: 400
        msg: no valid entity
      - code: 2110010
        httpCode: 500
        msg: internal error, please try later
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/resume/parse:
    post:
      operationId: document_ai_resume_parse
      summary: 识别文件中的简历信息
      tags:
      - resume
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/resume/parse
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 简历文件，支持 PDF / DOCX / PNG / JPG
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      resumes:
                        type: array
                        items:
                          type: object
                          properties:
                            file_md5:
                              type: string
                              description: 文件标识ID，依据文件内容自动生成
                              example: 825c59042dxxxxx3ff90b45xxxxx88
                            content:
                              type: string
                              description: 文本内容，当接口返回成功时，该字段才存在
                              example: XX负责行政人事管理和日常事务...
                            new_content:
                              type: string
                              description: 经过排序后的文本内容，当接口返回成功时，该字段才存在
                              example: XX负责行政人事管理和日常事务...
                            name:
                              type: string
                              description: 名称
                              example: 张三
                            email:
                              type: string
                              description: 邮箱
                              example: zhangsan.1111@bytedance.com
                            mobile:
                              type: string
                              description: 手机号码
                              example: '13600000000'
                            mobile_is_virtual:
                              type: boolean
                              description: 手机号码是否虚拟号码
                              example: 'false'
                            country_code:
                              type: string
                              description: 手机号码国家编码
                              example: '86'
                            educations:
                              type: array
                              items:
                                type: object
                                properties:
                                  school:
                                    type: string
                                    description: 学校名称
                                    example: A大学
                                  start_date:
                                    type: string
                                    description: 开始时间,格式：YYYY-MM-DD
                                    example: '2020-01-03'
                                  start_time:
                                    type: string
                                    description: 开始时间,格式：YYYY-MM-DD,跟start_date值一样
                                    example: '2020-01-03'
                                  end_date:
                                    type: string
                                    description: 结束时间,格式：YYYY-MM-DD
                                    example: '2021-01-03'
                                  end_time:
                                    type: string
                                    description: 结束时间,格式：YYYY-MM-DD 或 “至今”，当值为“至今”时，end_date`"",值为其他时，end_date`end_time
                                    example: 至今
                                  major:
                                    type: string
                                    description: 专业
                                    example: XX工程
                                  degree:
                                    type: string
                                    description: 学历——小学、初中、中职、高中、专科、本科、硕士、博士、其他
                                    example: 本科
                                  qualification:
                                    type: integer
                                    description: 学历对应ID
                                    enum:
                                    - 1
                                    - 2
                                    - 3
                                    - 4
                                    - 5
                                    - 6
                                    - 7
                                    - 8
                                    - 9
                                    x-enum-descriptions:
                                      '1': 小学
                                      '2': 初中
                                      '3': 中职
                                      '4': 高中
                                      '5': 专科
                                      '6': 本科
                                      '7': 硕士
                                      '8': 博士
                                      '9': 其他
                                    example: '6'
                              description: 教育经历
                            careers:
                              type: array
                              items:
                                type: object
                                properties:
                                  company:
                                    type: string
                                    description: 公司名称
                                    example: XX公司
                                  start_date:
                                    type: string
                                    description: 开始时间,格式：YYYY-MM-DD
                                    example: '2022-01-03'
                                  start_time:
                                    type: string
                                    description: 始时间,格式：YYYY-MM-DD,跟start_date值一样
                                    example: '2022-01-03'
                                  end_date:
                                    type: string
                                    description: 结束时间,格式：YYYY-MM-DD
                                    example: '2023-01-03'
                                  end_time:
                                    type: string
                                    description: 结束时间,格式：YYYY-MM-DD 或 “至今”，当值为“至今”时，end_date`"",值为其他时，end_date`end_time
                                    example: '2023-01-03'
                                  title:
                                    type: string
                                    description: 职位
                                    example: XXX工程师
                                  type:
                                    type: integer
                                    description: 工作类型
                                    enum:
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '1': 实习
                                      '2': 全职
                                    example: '2'
                                  type_str:
                                    type: string
                                    description: 工作类型——'实习'、'全职'
                                    example: 全职
                                  job_description:
                                    type: string
                                    description: 工作描述
                                    example: 负责XXX开发...
                              description: 职业经历
                            projects:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: 项目名称
                                    example: XX项目
                                  title:
                                    type: string
                                    description: 项目岗位
                                    example: 客户端研发
                                  start_date:
                                    type: string
                                    description: 开始时间,格式：YYYY-MM-DD
                                    example: '2023-01-03'
                                  start_time:
                                    type: string
                                    description: 开始时间,格式：YYYY-MM-DD,跟start_date值一样
                                    example: '2023-01-03'
                                  end_date:
                                    type: string
                                    description: 结束时间,格式：YYYY-MM-DD
                                    example: '2023-01-04'
                                  end_time:
                                    type: string
                                    description: 结束时间,格式：YYYY-MM-DD 或 “至今”，当值为“至今”时，end_date=="",值
                                    example: '2023-01-04'
                                  description:
                                    type: string
                                    description: 项目描述
                                    example: XXX项目是一个...
                              description: 项目经历
                            work_year:
                              type: integer
                              description: 工作年限，为空表示工作年限未知，数字单位为年，整数
                              example: '5'
                            date_of_birth:
                              type: string
                              description: 生日，格式YYYY-MM-DD
                              example: '1995-01-01'
                            gender:
                              type: integer
                              description: 性别
                              enum:
                              - 0
                              - 1
                              - 2
                              x-enum-descriptions:
                                '0': 未知
                                '1': 男性
                                '2': 女性
                              example: '1'
                            willing_positions:
                              type: array
                              items:
                                type: string
                              description: 希望获得的职位列表
                              example: xxx岗位
                            current_location:
                              type: string
                              description: 当前工作地点(城市)
                              example: 上海
                            willing_locations:
                              type: array
                              items:
                                type: string
                              description: 希望工作地点列表
                            home_location:
                              type: string
                              description: 家乡(城市)
                              example: 上海
                            languages:
                              type: array
                              items:
                                type: object
                                properties:
                                  level:
                                    type: integer
                                    description: 语言等级
                                    example: '6'
                                  description:
                                    type: string
                                    description: 语言描述
                                    example: 英语
                              description: 语言
                            awards:
                              type: array
                              items:
                                type: object
                                properties:
                                  award:
                                    type: string
                                    description: 奖项
                                    example: XXX大赛奖项
                                  date:
                                    type: string
                                    description: 获奖时间，格式：YYYY
                                    example: '2015'
                                  description:
                                    type: string
                                    description: 描述
                                    example: 曾获XXX大赛奖项...
                              description: 获奖
                            certificates:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: 证书名称
                                    example: XXX证书
                                  desc:
                                    type: string
                                    description: 描述
                                    example: 曾获得XXX证书...
                              description: 证书
                            competitions:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: 竞赛名称
                                    example: XXX竞赛
                                  desc:
                                    type: string
                                    description: 描述
                                    example: 曾参加XXX竞赛...
                              description: 竞赛
                            self_evaluation:
                              type: string
                              description: 自我评价
                              example: 我是一个...
                            urls:
                              type: array
                              items:
                                type: string
                              description: 链接列表
                            social_links:
                              type: array
                              items:
                                type: string
                              description: 社交链接
                        description: 简历信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:resume:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: param is invalid
      - code: 2110002
        httpCode: 400
        msg: No resume detected
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/taxi_invoice/recognize:
    post:
      operationId: document_ai_taxi_invoice_recognize
      summary: 识别文件中的出租车发票
      tags:
      - taxi_invoice
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/taxi_invoice/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的出租车票源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      taxi_invoices:
                        type: array
                        items:
                          type: object
                          properties:
                            entities:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: 识别的字段种类
                                    enum:
                                    - car_number
                                    - start_time
                                    - end_time
                                    - distance
                                    - start_date
                                    - total_amount
                                    - invoice_code
                                    - invoice_no
                                    - price
                                    - dispatch_fee
                                    - additional_fee
                                    - is_sealed
                                    - seller_name_in_seal
                                    - seller_taxpayer_no_in_seal
                                    - title_trial
                                    - invoice_special_seal
                                    x-enum-descriptions:
                                      car_number: 车号
                                      start_time: 上车时间
                                      end_time: 下车时间
                                      distance: 里程
                                      start_date: 日期
                                      total_amount: 出租车价格
                                      invoice_code: 发票代码
                                      invoice_no: 发票号码
                                      price: 单价
                                      dispatch_fee: 电召费
                                      additional_fee: 附加费
                                      is_sealed: 是否盖章
                                      seller_name_in_seal: 印章内销售方名称
                                      seller_taxpayer_no_in_seal: 印章内销售方税号
                                      title_trial: 发票名称
                                      invoice_special_seal: 印章名称
                                    example: car_number
                                  value:
                                    type: string
                                    description: 识别出字段的文本信息
                                    example: BDK6231
                              description: 识别出的实体类型
                        description: 出租车票信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:taxi_invoice:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid.
      - code: 2110002
        httpCode: 400
        msg: No valid entity.
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/train_invoice/recognize:
    post:
      operationId: document_ai_train_invoice_recognize
      summary: 识别文件中的火车票
      tags:
      - train_invoice
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/train_invoice/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的火车票源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      train_invoices:
                        type: array
                        items:
                          type: object
                          properties:
                            entities:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: 识别的字段种类
                                    enum:
                                    - start_station
                                    - end_station
                                    - train_num
                                    - name
                                    - seat_num
                                    - ticket_num
                                    - total_amount
                                    - time
                                    - price
                                    - seat_cls
                                    - id_num
                                    - sale_num
                                    - sale_station
                                    x-enum-descriptions:
                                      start_station: 出发站
                                      end_station: 到达站
                                      train_num: 车次编号
                                      name: 火车票姓名
                                      seat_num: 座位号
                                      ticket_num: 车票编号
                                      total_amount: 价格
                                      time: 出发时间
                                      price: 金额
                                      seat_cls: 座位类型
                                      id_num: 身份证号
                                      sale_num: 售卖号
                                      sale_station: 售卖车站
                                    example: end_station
                                  value:
                                    type: string
                                    description: 识别出字段的文本信息
                                    example: 长沙南
                              description: 识别出的实体列表
                        description: 火车票信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:train_invoice:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid.
      - code: 2110002
        httpCode: 400
        msg: No valid entity.
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/tw_mainland_travel_permit/recognize:
    post:
      operationId: document_ai_tw_mainland_travel_permit_recognize
      summary: 识别文件中的台湾居民来往大陆通行证
      tags:
      - tw_mainland_travel_permit
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/tw_mainland_travel_permit/recognize
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的台湾居民来往大陆通行证源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      tw_mainland_travel_permit:
                        allOf:
                        - $ref: '#/components/schemas/TwMainlandTravelPermit'
                        description: 台湾居民来往大陆通行证信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:tw_mainland_travel_permit:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid.
      - code: 2110002
        httpCode: 400
        msg: No valid entity.
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/vat_invoice/recognize:
    post:
      operationId: document_ai_vat_invoice_recognize
      summary: 识别文件中的增值税发票
      tags:
      - vat_invoice
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/vat_invoice/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的增值税发票文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      vat_invoices:
                        type: array
                        items:
                          type: object
                          properties:
                            entities:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: 识别的实体类型
                                    enum:
                                    - invoice_name
                                    - invoice_code
                                    - invoice_no
                                    - invoice_date
                                    - total_price
                                    - total_tax
                                    - big_total_price_and_tax
                                    - check_code
                                    - total_price_and_tax
                                    - buyer_name
                                    - buyer_taxpayer_no
                                    - buyer_address_phone
                                    - buyer_account
                                    - seller_name
                                    - seller_taxpayer_no
                                    - seller_address_phone
                                    - seller_account
                                    - payee
                                    - password_area
                                    - remarks
                                    - reviewer
                                    - drawer
                                    - is_sealed
                                    - seller_name_in_seal
                                    - seller_taxpayer_no_in_seal
                                    - invoice_special_seal
                                    - machine_num
                                    x-enum-descriptions:
                                      invoice_name: 发票抬头
                                      invoice_code: 发票代码
                                      invoice_no: 发票号码
                                      invoice_date: 开票日期
                                      total_price: 合计金额（不含税）
                                      total_tax: 合计税额
                                      big_total_price_and_tax: 合计总额（大写）
                                      check_code: 校验码
                                      total_price_and_tax: 合计总额
                                      buyer_name: 购买方名称
                                      buyer_taxpayer_no: 购买方纳税人识别号
                                      buyer_address_phone: 购买方地址&电话所有人
                                      buyer_account: 购买方开户行&账号
                                      seller_name: 销售方名称
                                      seller_taxpayer_no: 销售方纳税人识别号
                                      seller_address_phone: 销售方地址&电话
                                      seller_account: 销售方开户行&账号
                                      payee: 收款人
                                      password_area: 密码区
                                      remarks: 备注
                                      reviewer: 复核人
                                      drawer: 开票人
                                      is_sealed: 是否盖章
                                      seller_name_in_seal: 印章内销售方名称
                                      seller_taxpayer_no_in_seal: 印章内销售方纳税人识别号
                                      invoice_special_seal: 印章名称
                                      machine_num: 机器编号
                                    example: buyer_name
                                  value:
                                    type: string
                                    description: 识别出字段的文本信息
                                    example: 发呆公司
                                  items:
                                    type: array
                                    items:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            description: 识别的实体类型
                                            example: entry_name
                                          value:
                                            type: string
                                            description: 识别出字段的文本信息
                                            example: 餐饮服务
                                    description: 识别出的票据详细信息
                              description: 识别出的实体列表
                        description: 增值税发票信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:vat_invoice:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid.
      - code: 2110002
        httpCode: 400
        msg: No valid entity.
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/vehicle_invoice/recognize:
    post:
      operationId: document_ai_vehicle_invoice_recognize
      summary: 识别文件中的机动车发票
      tags:
      - vehicle_invoice
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/vehicle_invoice/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的机动车发票源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      vehicle_invoice:
                        type: object
                        properties:
                          entities:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 识别的字段种类
                                  enum:
                                  - invoice_code
                                  - invoice_num
                                  - date
                                  - print_code
                                  - print_num
                                  - machine_num
                                  - buyer_name
                                  - buyer_id
                                  - vehicle_type
                                  - product_model
                                  - certificate_num
                                  - engine_num
                                  - vin
                                  - total_price
                                  - total_price_little
                                  - saler_name
                                  - saler_id
                                  - saler_addr
                                  - tax_rate
                                  - tax
                                  - price
                                  x-enum-descriptions:
                                    invoice_code: 发票代码
                                    invoice_num: 发票号码
                                    date: 开票日期
                                    print_code: 机打代码
                                    print_num: 机打号码
                                    machine_num: 机器编码
                                    buyer_name: 购买方名称
                                    buyer_id: 购买方纳税人识别号
                                    vehicle_type: 车辆类型
                                    product_model: 厂牌型号
                                    certificate_num: 合格证号
                                    engine_num: 发动机号码
                                    vin: 车架号
                                    total_price: 价税合计
                                    total_price_little: 小写金额
                                    saler_name: 销货单位名称
                                    saler_id: 销售方纳税人识别号
                                    saler_addr: 地址
                                    tax_rate: 税率
                                    tax: 税额
                                    price: 不含税价格
                                  example: SalerName
                                value:
                                  type: string
                                  description: 识别出字段的文本信息
                                  example: xxxx公司
                            description: 识别出的实体类型
                        description: 机动车发票信息
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - document_ai:vehicle_invoice:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid
      - code: 2110002
        httpCode: 400
        msg: No valid entity
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/document_ai/v1/vehicle_license/recognize:
    post:
      operationId: document_ai_vehicle_license_recognize
      summary: 识别文件中的行驶证
      tags:
      - vehicle_license
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/document_ai-v1/vehicle_license/recognize
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 识别的行驶证源文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      vehicle_license:
                        type: object
                        properties:
                          entities:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 识别的字段种类
                                  enum:
                                  - plate_number
                                  - vehicle_type
                                  - owner
                                  - address
                                  - use_character
                                  - model
                                  - vin
                                  - engine_number
                                  - register_date
                                  - issue_date
                                  - license_issuing_authority
                                  - document_id
                                  - approved_passengers_capacity
                                  - total_mass
                                  - curb_weight
                                  - ratified_load_capacity
                                  - gabarite
                                  - traction_mass
                                  - remarks
                                  - inspection_record
                                  x-enum-descriptions:
                                    plate_number: 号牌号码
                                    vehicle_type: 车辆类型
                                    owner: 所有人
                                    address: 住址
                                    use_character: 使用性质
                                    model: 品牌型号
                                    vin: 车辆识别代号
                                    engine_number: 发动机号码
                                    register_date: 注册日期
                                    issue_date: 发证日期
                                    license_issuing_authority: 发证机关
                                    document_id: 档案编号
                                    approved_passengers_capacity: 核定载人数
                                    total_mass: 总质量
                                    curb_weight: 整备质量
                                    ratified_load_capacity: 核定载质量
                                    gabarite: 外廓尺寸
                                    traction_mass: 准牵引总质量
                                    remarks: 备注
                                    inspection_record: 检验记录
                                  example: vehicle_type
                                value:
                                  type: string
                                  description: 识别出字段的文本信息
                                  example: 小型普通客车
                            description: 识别出的实体类型
                        description: 行驶证信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - document_ai:vehicle_license:recognize
      x-lark-error-mappings:
      - code: 2110001
        httpCode: 400
        msg: Param is invalid.
      - code: 2110002
        httpCode: 400
        msg: No valid entity.
      - code: 2110010
        httpCode: 500
        msg: Internal error, please try later.
      - code: 2110003
        httpCode: 400
        msg: You have reached the Intelligent document parsing limit. To continue using this function, please contact sales
          to purchase more.
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
components:
  schemas:
    TwMainlandTravelPermit:
      type: object
      properties:
        entities:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: 识别的字段种类
                enum:
                - full_name_cn
                - full_name_en
                - date_of_birth
                - date_of_expiry
                - card_number
                x-enum-descriptions:
                  full_name_cn: 中文姓名
                  full_name_en: 英文格式姓名
                  date_of_birth: 出生日期
                  date_of_expiry: 有效期至
                  card_number: 证件号码
                example: full_name_cn
              value:
                type: string
                description: 识别出字段的文本信息
                example: 张三
          description: 识别出的实体类型
      description: 港澳居民来往内地通行证信息
