# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · docx API（全量）
  description: |-
    飞书开放平台 `docx` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T04:09:08Z'
  x-lark-project: docx
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T04:09:08Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: chat.announcement.block.children
- name: chat.announcement.block
- name: chat.announcement
- name: document.block.children
- name: document.block.descendant
- name: document.block
- name: document
paths:
  /open-apis/docx/v1/chats/{chat_id}/announcement/blocks/{block_id}/children/batch_delete:
    delete:
      operationId: docx_chat_announcement_block_children_batch_delete
      summary: 删除群公告中的块
      tags:
      - chat.announcement.block.children
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/document-docx/docx-v1/chat-announcement-block-children/batch_delete
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群公告对应的群 ID
        example: oc_5ad11d72b830411d72b836c20
      - name: block_id
        in: path
        required: true
        schema:
          type: string
        description: Block 的唯一标识
        example: doxcnO6UW6wAw2qIcYf4hZpFIth
      - name: revision_id
        in: query
        required: false
        schema:
          type: integer
          default: -1
        description: 要操作的群公告版本。-1 表示群公告最新版本。群公告创建后，版本为 1。你需确保你已拥有群公告的编辑权限
        example: '-1'
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 操作的唯一标识，与接口返回值的 client_token 相对应，用于幂等的进行更新操作。此值为空表示将发起一次新的请求，此值非空表示幂等的进行更新操作。
        example: fe599b60-450f-46ff-b2ef-9f6675625b97
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_index:
                  type: integer
                  description: 删除的起始索引（操作区间左闭右开）
                  example: '0'
                end_index:
                  type: integer
                  description: 删除的末尾索引（操作区间左闭右开）
                  example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      revision_id:
                        type: integer
                        description: 当前删除操作成功后群公告的版本号
                        example: '1'
                      client_token:
                        type: string
                        description: 操作的唯一标识，更新请求中使用此值表示幂等的进行此次更新
                        example: fe599b60-450f-46ff-b2ef-9f6675625b97
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - im:chat.announcement:write_only
      x-lark-error-mappings:
      - code: 1770001
        httpCode: 400
        msg: invalid param
      - code: 1770002
        httpCode: 404
        msg: not found
      - code: 1770003
        httpCode: 400
        msg: resource deleted
      - code: 1770004
        httpCode: 400
        msg: too many blocks in document
      - code: 1770005
        httpCode: 400
        msg: too deep level in document
      - code: 1770006
        httpCode: 400
        msg: schema mismatch
      - code: 1770007
        httpCode: 400
        msg: too many children in block
      - code: 1770008
        httpCode: 400
        msg: too big file size
      - code: 1770010
        httpCode: 400
        msg: too many table column
      - code: 1770011
        httpCode: 400
        msg: too many table cell
      - code: 1770012
        httpCode: 400
        msg: too many grid column
      - code: 1770013
        httpCode: 400
        msg: relation mismatch
      - code: 1770014
        httpCode: 400
        msg: parent children relation mismatch
      - code: 1770015
        httpCode: 400
        msg: single edit with multi document
      - code: 1770029
        httpCode: 400
        msg: block not support to create
      - code: 1770019
        httpCode: 400
        msg: repeated blockID in document
      - code: 1770020
        httpCode: 400
        msg: operation denied on copying document
      - code: 1770021
        httpCode: 400
        msg: too old document
      - code: 1770041
        httpCode: 400
        msg: open schema mismatch
      - code: 1770024
        httpCode: 400
        msg: invalid operation
      - code: 1770025
        httpCode: 400
        msg: operation and block not match
      - code: 1770026
        httpCode: 400
        msg: row operation over range
      - code: 1770027
        httpCode: 400
        msg: column operation over range
      - code: 1770028
        httpCode: 400
        msg: block not support create children
      - code: 1770029
        httpCode: 400
        msg: block not support to create
      - code: 1770030
        httpCode: 400
        msg: invalid parent children relation
      - code: 1770031
        httpCode: 400
        msg: block not support to delete children
      - code: 1770033
        httpCode: 400
        msg: raw content size exceed limited
      - code: 1770034
        httpCode: 400
        msg: operation count exceed limited
      - code: 1770035
        httpCode: 400
        msg: resource count exceed limit
      - code: 1770038
        httpCode: 400
        msg: resource not found
      - code: 1772001
        httpCode: 400
        msg: Chat announcement can NOT be found in chat information.
      - code: 1772002
        httpCode: 400
        msg: Operator and chat can NOT be in different tenants.
      - code: 1772003
        httpCode: 400
        msg: Operator can NOT be out of the chat.
      - code: 1772004
        httpCode: 400
        msg: The operator or invited bots does NOT have the authority to manage external chats without the scope.
      - code: 1772025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 1772006
        httpCode: 400
        msg: announcement type is not supported
      - code: 1772005
        httpCode: 400
        msg: 'No Permission: Only chat owner or admin can edit chat information in the current situation.'
      - code: 1772034
        httpCode: 400
        msg: The app is unavailable or inactivated by the tenant.
      - code: 1770032
        httpCode: 403
        msg: forbidden
      - code: 1771001
        httpCode: 500
        msg: server internal error
      - code: 1771002
        httpCode: 500
        msg: gateway server internal error
      - code: 1771003
        httpCode: 500
        msg: gateway marshal error
      - code: 1771004
        httpCode: 500
        msg: gateway unmarshal error
      - code: 1771005
        httpCode: 503
        msg: system under maintenance
      x-lark-rate-limit:
        tier: 6
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
  /open-apis/docx/v1/chats/{chat_id}/announcement/blocks/{block_id}/children:
    post:
      operationId: docx_chat_announcement_block_children_create
      summary: 在群公告中创建块
      tags:
      - chat.announcement.block.children
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/document-docx/docx-v1/chat-announcement-block-children/create
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群公告对应的群 ID
        example: oc_5ad11d72b830411d72b836c20
      - name: block_id
        in: path
        required: true
        schema:
          type: string
        description: Block 的唯一标识
        example: doxcnO6UW6wAw2qIcYf4hZpFIth
      - name: revision_id
        in: query
        required: false
        schema:
          type: integer
          default: -1
        description: 要操作的群公告版本。-1 表示群公告最新版本。群公告创建后，版本为 1。你需确保你已拥有群公告的编辑权限
        example: '-1'
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 操作的唯一标识，与接口返回值的 client_token 相对应，用于幂等的进行更新操作。此值为空表示将发起一次新的请求，此值非空表示幂等的进行更新操作。
        example: fe599b60-450f-46ff-b2ef-9f6675625b97
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schema3'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      children:
                        type: array
                        items:
                          $ref: '#/components/schemas/Block'
                        description: 所添加的孩子的 Block 信息
                      revision_id:
                        type: integer
                        description: 当前 Block Children 创建成功后群公告的版本号
                        example: '2'
                      client_token:
                        type: string
                        description: 操作的唯一标识，更新请求中使用此值表示幂等的进行此次更新
                        example: fe599b60-450f-46ff-b2ef-9f6675625b97
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - im:chat.announcement:write_only
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1770001
        httpCode: 400
        msg: invalid param
      - code: 1770002
        httpCode: 404
        msg: not found
      - code: 1770003
        httpCode: 400
        msg: resource deleted
      - code: 1770004
        httpCode: 400
        msg: too many blocks in document
      - code: 1770005
        httpCode: 400
        msg: too deep level in document
      - code: 1770006
        httpCode: 400
        msg: schema mismatch
      - code: 1770007
        httpCode: 400
        msg: too many children in block
      - code: 1770008
        httpCode: 400
        msg: too big file size
      - code: 1770010
        httpCode: 400
        msg: too many table column
      - code: 1770011
        httpCode: 400
        msg: too many table cell
      - code: 1770012
        httpCode: 400
        msg: too many grid column
      - code: 1770013
        httpCode: 400
        msg: relation mismatch
      - code: 1770014
        httpCode: 400
        msg: parent children relation mismatch
      - code: 1770015
        httpCode: 400
        msg: single edit with multi document
      - code: 1770029
        httpCode: 400
        msg: block not support to create
      - code: 1770019
        httpCode: 400
        msg: repeated blockID in document
      - code: 1770020
        httpCode: 400
        msg: operation denied on copying document
      - code: 1770021
        httpCode: 400
        msg: too old document
      - code: 1770041
        httpCode: 400
        msg: open schema mismatch
      - code: 1770024
        httpCode: 400
        msg: invalid operation
      - code: 1770025
        httpCode: 400
        msg: operation and block not match
      - code: 1770026
        httpCode: 400
        msg: row operation over range
      - code: 1770027
        httpCode: 400
        msg: column operation over range
      - code: 1770028
        httpCode: 400
        msg: block not support create children
      - code: 1770029
        httpCode: 400
        msg: block not support to create
      - code: 1770030
        httpCode: 400
        msg: invalid parent children relation
      - code: 1770031
        httpCode: 400
        msg: block not support to delete children
      - code: 1770033
        httpCode: 400
        msg: raw content size exceed limited
      - code: 1770034
        httpCode: 400
        msg: operation count exceed limited
      - code: 1770035
        httpCode: 400
        msg: resource count exceed limit
      - code: 1770038
        httpCode: 400
        msg: resource not found
      - code: 1772001
        httpCode: 400
        msg: Chat announcement can NOT be found in chat information.
      - code: 1772002
        httpCode: 400
        msg: Operator and chat can NOT be in different tenants.
      - code: 1772003
        httpCode: 400
        msg: Operator can NOT be out of the chat.
      - code: 1772004
        httpCode: 400
        msg: The operator or invited bots does NOT have the authority to manage external chats without the scope.
      - code: 1772025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 1772006
        httpCode: 400
        msg: announcement type is not supported
      - code: 1772005
        httpCode: 400
        msg: 'No Permission: Only chat owner or admin can edit chat information in the current situation.'
      - code: 1772034
        httpCode: 400
        msg: The app is unavailable or inactivated by the tenant.
      - code: 1770032
        httpCode: 403
        msg: forbidden
      - code: 1771001
        httpCode: 500
        msg: server internal error
      - code: 1771002
        httpCode: 500
        msg: gateway server internal error
      - code: 1771003
        httpCode: 500
        msg: gateway marshal error
      - code: 1771004
        httpCode: 500
        msg: gateway unmarshal error
      - code: 1771005
        httpCode: 503
        msg: system under maintenance
      x-lark-rate-limit:
        tier: 6
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].text.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].text.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading1.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading1.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading2.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading2.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading3.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading3.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading4.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading4.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading5.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading5.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading6.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading6.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading7.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading7.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading8.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading8.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading9.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading9.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].bullet.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].bullet.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].ordered.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].ordered.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].code.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].code.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].quote.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].quote.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].equation.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].equation.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].todo.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].todo.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.children[*].chat_card.chat_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].source_synced.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].source_synced.elements[*].reminder.create_user_id
        section: 0
    get:
      operationId: docx_chat_announcement_block_children_get
      summary: 获取所有子块
      tags:
      - chat.announcement.block.children
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/document-docx/docx-v1/chat-announcement-block-children/get
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群公告对应的群 ID
        example: oc_5ad11d72b830411d72b836c20
      - name: block_id
        in: path
        required: true
        schema:
          type: string
        description: Block 的唯一标识
        example: doxcnO6UW6wAw2qIcYf4hZpFIth
      - name: revision_id
        in: query
        required: false
        schema:
          type: integer
          default: -1
        description: 查询的群公告版本，-1 表示群公告最新版本。群公告创建后，版本为 1。若查询的版本为群公告最新版本，则需要持有群公告的阅读权限；若查询的版本为群公告的历史版本，则需要持有群公告的更新权限。
        example: '-1'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: aw7DoMKBFMOGwqHCrcO8w6jCmMOvw6ILeADCvsKNw57Di8O5XGV3LG4_w5HCqhFxSnDCrCzCn0BgZcOYUg85EMOYcEAcwqYOw4ojw5QFwofCu8KoIMO3K8Ktw4IuNMOBBHNYw4bCgCV3U1zDu8K-J8KSR8Kgw7Y0fsKZdsKvW3d9w53DnkHDrcO5bDkYwrvDisOEPcOtVFJ-I03CnsOILMOoAmLDknd6dsKqG1bClAjDuS3CvcOTwo7Dg8OrwovDsRdqIcKxw5HDohTDtXN9w5rCkWo
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 500
        description: 分页大小
        example: '500'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - im:chat.announcement:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1770001
        httpCode: 400
        msg: invalid param
      - code: 1770002
        httpCode: 404
        msg: not found
      - code: 1772001
        httpCode: 400
        msg: Chat announcement can NOT be found in chat information.
      - code: 1772002
        httpCode: 400
        msg: Operator and chat can NOT be in different tenants.
      - code: 1772003
        httpCode: 400
        msg: Operator can NOT be out of the chat.
      - code: 1772004
        httpCode: 400
        msg: The operator or invited bots does NOT have the authority to manage external chats without the scope.
      - code: 1772025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 1772006
        httpCode: 400
        msg: announcement type is not supported
      - code: 1772034
        httpCode: 400
        msg: The app is unavailable or inactivated by the tenant.
      - code: 1770032
        httpCode: 403
        msg: forbidden
      - code: 1771001
        httpCode: 500
        msg: server internal error
      - code: 1771002
        httpCode: 500
        msg: gateway server internal error
      - code: 1771003
        httpCode: 500
        msg: gateway marshal error
      - code: 1771004
        httpCode: 500
        msg: gateway unmarshal error
      - code: 1771005
        httpCode: 503
        msg: system under maintenance
      x-lark-rate-limit:
        tier: 7
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
  /open-apis/docx/v1/chats/{chat_id}/announcement/blocks/batch_update:
    patch:
      operationId: docx_chat_announcement_block_batch_update
      summary: 批量更新群公告块的内容
      tags:
      - chat.announcement.block
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/document-docx/docx-v1/chat-announcement-block/batch_update
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群公告对应的群 ID
        example: oc_5ad11d72b830411d72b836c20
      - name: revision_id
        in: query
        required: false
        schema:
          type: integer
          default: -1
        description: 要操作的群公告版本。-1 表示群公告最新版本。群公告创建后，版本为 1。你需确保你已拥有群公告的编辑权限。
        example: '-1'
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 操作的唯一标识，与接口返回值的 client_token 相对应，用于幂等的进行更新操作。此值为空表示将发起一次新的请求，此值非空表示幂等的进行更新操作。
        example: 0e2633a3-aa1a-4171-af9e-0768ff863566
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schema4'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      blocks:
                        type: array
                        items:
                          $ref: '#/components/schemas/Block'
                        description: 批量更新的 Block
                      revision_id:
                        type: integer
                        description: 当前更新成功后群公告的版本号
                        example: '2'
                      client_token:
                        type: string
                        description: 操作的唯一标识，更新请求中使用此值表示幂等的进行此次更新
                        example: 8aac2291-bc9e-4b12-a162-b3cf15bb06bd
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - im:chat.announcement:write_only
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1770001
        httpCode: 400
        msg: invalid param
      - code: 1770002
        httpCode: 404
        msg: not found
      - code: 1770003
        httpCode: 400
        msg: resource deleted
      - code: 1770004
        httpCode: 400
        msg: too many blocks in document
      - code: 1770005
        httpCode: 400
        msg: too deep level in document
      - code: 1770006
        httpCode: 400
        msg: schema mismatch
      - code: 1770007
        httpCode: 400
        msg: too many children in block
      - code: 1770008
        httpCode: 400
        msg: too big file size
      - code: 1770010
        httpCode: 400
        msg: too many table column
      - code: 1770011
        httpCode: 400
        msg: too many table cell
      - code: 1770012
        httpCode: 400
        msg: too many grid column
      - code: 1770013
        httpCode: 400
        msg: relation mismatch
      - code: 1770014
        httpCode: 400
        msg: parent children relation mismatch
      - code: 1770015
        httpCode: 400
        msg: single edit with multi document
      - code: 1770029
        httpCode: 400
        msg: block not support to create
      - code: 1770019
        httpCode: 400
        msg: repeated blockID in document
      - code: 1770020
        httpCode: 400
        msg: operation denied on copying document
      - code: 1770021
        httpCode: 400
        msg: too old document
      - code: 1770041
        httpCode: 400
        msg: open schema mismatch
      - code: 1770024
        httpCode: 400
        msg: invalid operation
      - code: 1770025
        httpCode: 400
        msg: operation and block not match
      - code: 1770026
        httpCode: 400
        msg: row operation over range
      - code: 1770027
        httpCode: 400
        msg: column operation over range
      - code: 1770028
        httpCode: 400
        msg: block not support create children
      - code: 1770029
        httpCode: 400
        msg: block not support to create
      - code: 1770030
        httpCode: 400
        msg: invalid parent children relation
      - code: 1770031
        httpCode: 400
        msg: block not support to delete children
      - code: 1770033
        httpCode: 400
        msg: raw content size exceed limited
      - code: 1770034
        httpCode: 400
        msg: operation count exceed limited
      - code: 1770035
        httpCode: 400
        msg: resource count exceed limit
      - code: 1770038
        httpCode: 400
        msg: resource not found
      - code: 1772001
        httpCode: 400
        msg: Chat announcement can NOT be found in chat information.
      - code: 1772002
        httpCode: 400
        msg: Operator and chat can NOT be in different tenants.
      - code: 1772003
        httpCode: 400
        msg: Operator can NOT be out of the chat.
      - code: 1772004
        httpCode: 400
        msg: The operator or invited bots does NOT have the authority to manage external chats without the scope.
      - code: 1772025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 1772006
        httpCode: 400
        msg: announcement type is not supported
      - code: 1772005
        httpCode: 400
        msg: 'No Permission: Only chat owner or admin can edit chat information in the current situation.'
      - code: 1772034
        httpCode: 400
        msg: The app is unavailable or inactivated by the tenant.
      - code: 1770032
        httpCode: 403
        msg: forbidden
      - code: 1771001
        httpCode: 500
        msg: server internal error
      - code: 1771002
        httpCode: 500
        msg: gateway server internal error
      - code: 1771003
        httpCode: 500
        msg: gateway marshal error
      - code: 1771004
        httpCode: 500
        msg: gateway unmarshal error
      - code: 1771005
        httpCode: 503
        msg: system under maintenance
      x-lark-rate-limit:
        tier: 6
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.requests[*].update_text_elements.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.requests[*].update_text_elements.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.requests[*].update_text.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.requests[*].update_text.elements[*].reminder.create_user_id
        section: 0
  /open-apis/docx/v1/chats/{chat_id}/announcement/blocks/{block_id}:
    get:
      operationId: docx_chat_announcement_block_get
      summary: 获取群公告块的内容
      tags:
      - chat.announcement.block
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/document-docx/docx-v1/chat-announcement-block/get
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群公告对应的群 ID
        example: oc_5ad11d72b830411d72b836c20
      - name: block_id
        in: path
        required: true
        schema:
          type: string
        description: Block 的唯一标识
        example: doxcnO6UW6wAw2qIcYf4hZabcef
      - name: revision_id
        in: query
        required: false
        schema:
          type: integer
          default: -1
        description: 查询的群公告版本，-1 表示群公告最新版本。群公告创建后，版本为 1。若查询的版本为群公告最新版本，则需要持有群公告的阅读权限；若查询的版本为群公告的历史版本，则需要持有群公告的更新权限
        example: '-1'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema2'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - im:chat.announcement:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1770001
        httpCode: 400
        msg: invalid param
      - code: 1770002
        httpCode: 404
        msg: not found
      - code: 1772001
        httpCode: 400
        msg: Chat announcement can NOT be found in chat information.
      - code: 1772002
        httpCode: 400
        msg: Operator and chat can NOT be in different tenants.
      - code: 1772003
        httpCode: 400
        msg: Operator can NOT be out of the chat.
      - code: 1772004
        httpCode: 400
        msg: The operator or invited bots does NOT have the authority to manage external chats without the scope.
      - code: 1772025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 1772006
        httpCode: 400
        msg: announcement type is not supported
      - code: 1772034
        httpCode: 400
        msg: The app is unavailable or inactivated by the tenant.
      - code: 1770032
        httpCode: 403
        msg: forbidden
      - code: 1771006
        httpCode: 500
        msg: mount folder failed
      - code: 1771002
        httpCode: 500
        msg: gateway server internal error
      - code: 1771003
        httpCode: 500
        msg: gateway marshal error
      - code: 1771004
        httpCode: 500
        msg: gateway unmarshal error
      - code: 1771005
        httpCode: 503
        msg: system under maintenance
      x-lark-rate-limit:
        tier: 7
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
  /open-apis/docx/v1/chats/{chat_id}/announcement/blocks:
    get:
      operationId: docx_chat_announcement_block_list
      summary: 获取群公告所有块
      tags:
      - chat.announcement.block
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/document-docx/docx-v1/chat-announcement-block/list
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群公告对应的群 ID
        example: oc_5ad11d72b830411d72b836c20
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 500
        description: 分页大小
        example: '500'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: aw7DoMKBFMOGwqHCrcO8w6jCmMOvw6ILeADCvsKNw57Di8O5XGV3LG4_w5HCqhFxSnDCrCzCn0BgZcOYUg85EMOYcEAcwqYOw4ojw5QFwofCu8KoIMO3K8Ktw4IuNMOBBHNYw4bCgCV3U1zDu8K-J8KSR8Kgw7Y0fsKZdsKvW3d9w53DnkHDrcO5bDkYwrvDisOEPcOtVFJ-I03CnsOILMOoAmLDknd6dsKqG1bClAjDuS3CvcOTwo7Dg8OrwovDsRdqIcKxw5HDohTDtXN9w5rCkWo
      - name: revision_id
        in: query
        required: false
        schema:
          type: integer
          default: -1
        description: 查询的群公告版本，-1 表示群公告最新版本。群公告创建后，版本为 1。若查询的版本为群公告最新版本，则需要持有群公告的阅读权限；若查询的版本为群公告的历史版本，则需要持有群公告的编辑权限。
        example: '-1'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - im:chat.announcement:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1770001
        httpCode: 400
        msg: invalid param
      - code: 1770002
        httpCode: 404
        msg: not found
      - code: 1772001
        httpCode: 400
        msg: Chat announcement can NOT be found in chat information.
      - code: 1772002
        httpCode: 400
        msg: Operator and chat can NOT be in different tenants.
      - code: 1772003
        httpCode: 400
        msg: Operator can NOT be out of the chat.
      - code: 1772004
        httpCode: 400
        msg: The operator or invited bots does NOT have the authority to manage external chats without the scope.
      - code: 1772025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 1772006
        httpCode: 400
        msg: announcement type is not supported
      - code: 1772034
        httpCode: 400
        msg: The app is unavailable or inactivated by the tenant.
      - code: 1770032
        httpCode: 403
        msg: forbidden
      - code: 1771001
        httpCode: 500
        msg: server internal error
      - code: 1771002
        httpCode: 500
        msg: gateway server internal error
      - code: 1771003
        httpCode: 500
        msg: gateway marshal error
      - code: 1771004
        httpCode: 500
        msg: gateway unmarshal error
      - code: 1771005
        httpCode: 503
        msg: system under maintenance
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
  /open-apis/docx/v1/chats/{chat_id}/announcement:
    get:
      operationId: docx_chat_announcement_get
      summary: 获取群公告基本信息
      tags:
      - chat.announcement
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/document-docx/docx-v1/chat-announcement/get
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群公告对应的群 ID
        example: oc_5ad11d72b830411d72b836c20
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      revision_id:
                        type: integer
                        description: 当前版本号
                        example: '1'
                      create_time:
                        type: integer
                        description: 群公告生成的时间戳（秒）（已废弃）
                        example: '1609296809'
                      update_time:
                        type: integer
                        description: 群公告更新的时间戳（秒）（已废弃）
                        example: '1609296809'
                      owner_id:
                        type: string
                        description: 群公告所有者 ID，ID 值与 owner_id_type 中的ID类型对应
                        example: ou_7d8a6e6df7621556ce0d21922b676706ccs
                      owner_id_type:
                        type: string
                        description: 群公告所有者的 ID 类型
                        enum:
                        - user_id
                        - union_id
                        - open_id
                        x-enum-descriptions:
                          user_id: 以 user_id 来识别用户
                          union_id: 以 union_id 来识别用户
                          open_id: 以 open_id 来识别用户
                        example: user_id
                      modifier_id:
                        type: string
                        description: 群公告最新修改者 ID，ID 值与 modifier_id_type 中的ID类型对应
                        example: ou_7d8a6e6df7621556ce0d21922b676706ccs
                      modifier_id_type:
                        type: string
                        description: 群公告最新修改者 id 类型
                        enum:
                        - user_id
                        - union_id
                        - open_id
                        x-enum-descriptions:
                          user_id: 以 user_id 来识别用户
                          union_id: 以 union_id 来识别用户
                          open_id: 以 open_id 来识别用户
                        example: user_id
                      announcement_type:
                        type: string
                        description: 群公告类型
                        enum:
                        - docx
                        - doc
                        x-enum-descriptions:
                          docx: 新版本群公告
                          doc: 旧版本群公告
                        example: docx
                      create_time_v2:
                        type: string
                        description: 群公告生成的时间戳（秒）
                        example: '1609296809'
                      update_time_v2:
                        type: string
                        description: 群公告更新的时间戳（秒）
                        example: '1609296809'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - im:chat.announcement:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1770001
        httpCode: 400
        msg: invalid param
      - code: 1770002
        httpCode: 404
        msg: not found
      - code: 1772001
        httpCode: 400
        msg: Chat announcement can NOT be found in chat information.
      - code: 1772002
        httpCode: 400
        msg: Operator and chat can NOT be in different tenants.
      - code: 1772003
        httpCode: 400
        msg: Operator can NOT be out of the chat.
      - code: 1772004
        httpCode: 400
        msg: The operator or invited bots does NOT have the authority to manage external chats without the scope.
      - code: 1772025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 1772006
        httpCode: 400
        msg: announcement type is not supported
      - code: 1772034
        httpCode: 400
        msg: The app is unavailable or inactivated by the tenant.
      - code: 1770032
        httpCode: 403
        msg: forbidden
      - code: 1771001
        httpCode: 500
        msg: server internal error
      - code: 1771002
        httpCode: 500
        msg: gateway server internal error
      - code: 1771003
        httpCode: 500
        msg: gateway marshal error
      - code: 1771004
        httpCode: 500
        msg: gateway unmarshal error
      - code: 1771005
        httpCode: 503
        msg: system under maintenance
      x-lark-rate-limit:
        tier: 8
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
  /open-apis/docx/v1/documents/{document_id}/blocks/{block_id}/children/batch_delete:
    delete:
      operationId: docx_document_block_children_batch_delete
      summary: 删除块
      tags:
      - document.block.children
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/document-docx/docx-v1/document-block-children/batch_delete
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
        description: 文档的唯一标识
        example: doxcnePuYufKa49ISjhD8Ih0ikh
      - name: block_id
        in: path
        required: true
        schema:
          type: string
        description: 父 Block 的唯一标识
        example: doxcnO6UW6wAw2qIcYf4hZpFIth
      - name: document_revision_id
        in: query
        required: false
        schema:
          type: integer
          default: -1
        description: 操作的文档版本，-1表示文档最新版本。若此时操作的版本为文档最新版本，则需要持有文档的阅读权限；若此时操作的版本为文档的历史版本，则需要持有文档的编辑权限。
        example: '-1'
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 操作的唯一标识，与接口返回值的 client_token 相对应，用于幂等的进行更新操作。此值为空表示将发起一次新的请求，此值非空表示幂等的进行更新操作。
        example: b5eaf666-2a41-4d0d-94fa-23136ecbeba4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_index:
                  type: integer
                  description: 删除的起始索引（操作区间左闭右开）
                  example: '0'
                end_index:
                  type: integer
                  description: 删除的末尾索引（操作区间左闭右开）
                  example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      document_revision_id:
                        type: integer
                        description: 当前删除操作成功后文档的版本号
                        example: '2'
                      client_token:
                        type: string
                        description: 操作的唯一标识，更新请求中使用此值表示幂等的进行此次更新
                        example: b5eaf666-2a41-4d0d-94fa-23136ecbeba4
                    required:
                    - client_token
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - docx:document
      - docx:document:write_only
      x-lark-error-mappings:
      - code: 1770001
        httpCode: 400
        msg: invalid param
      - code: 1770002
        httpCode: 404
        msg: not found
      - code: 1770003
        httpCode: 400
        msg: resource deleted
      - code: 1770004
        httpCode: 400
        msg: too many blocks in document
      - code: 1770005
        httpCode: 400
        msg: too deep level in document
      - code: 1770006
        httpCode: 400
        msg: schema mismatch
      - code: 1770007
        httpCode: 400
        msg: too many children in block
      - code: 1770008
        httpCode: 400
        msg: too big file size
      - code: 1770010
        httpCode: 400
        msg: too many table column
      - code: 1770011
        httpCode: 400
        msg: too many table cell
      - code: 1770012
        httpCode: 400
        msg: too many grid column
      - code: 1770013
        httpCode: 400
        msg: relation mismatch
      - code: 1770014
        httpCode: 400
        msg: parent children relation mismatch
      - code: 1770015
        httpCode: 400
        msg: single edit with multi document
      - code: 1770019
        httpCode: 400
        msg: repeated blockID in document
      - code: 1770020
        httpCode: 400
        msg: operation denied on copying document
      - code: 1770021
        httpCode: 400
        msg: too old document
      - code: 1770022
        httpCode: 400
        msg: invalid page token
      - code: 1770024
        httpCode: 400
        msg: invalid operation
      - code: 1770025
        httpCode: 400
        msg: operation and block not match
      - code: 1770026
        httpCode: 400
        msg: row operation over range
      - code: 1770027
        httpCode: 400
        msg: column operation over range
      - code: 1770028
        httpCode: 400
        msg: block not support create children
      - code: 1770029
        httpCode: 400
        msg: block not support to create
      - code: 1770030
        httpCode: 400
        msg: invalid parent children relation
      - code: 1770031
        httpCode: 400
        msg: block not support to delete children
      - code: 1770033
        httpCode: 400
        msg: raw content size exceed limited
      - code: 1770034
        httpCode: 400
        msg: operation count exceed limited
      - code: 1770032
        httpCode: 403
        msg: forBidden
      - code: 1771001
        httpCode: 500
        msg: server internal error
      - code: 1771006
        httpCode: 500
        msg: mount folder failed
      - code: 1771002
        httpCode: 500
        msg: gateway server internal error
      - code: 1771003
        httpCode: 500
        msg: gateway marshal error
      - code: 1771004
        httpCode: 500
        msg: gateway unmarshal error
      - code: 1771005
        httpCode: 503
        msg: system under maintenance
      x-lark-rate-limit:
        tier: 0
  /open-apis/docx/v1/documents/{document_id}/blocks/{block_id}/children:
    post:
      operationId: docx_document_block_children_create
      summary: 创建块
      tags:
      - document.block.children
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/document-docx/docx-v1/document-block-children/create
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
        description: 文档的唯一标识
        example: doxcnePuYufKa49ISjhD8Ih0ikh
      - name: block_id
        in: path
        required: true
        schema:
          type: string
        description: Block 的唯一标识
        example: doxcnO6UW6wAw2qIcYf4hZpFIth
      - name: document_revision_id
        in: query
        required: false
        schema:
          type: integer
          default: -1
        description: 操作的文档版本，-1表示文档最新版本。若此时操作的版本为文档最新版本，则需要持有文档的阅读权限；若此时操作的版本为文档的历史版本，则需要持有文档的编辑权限。
        example: '-1'
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 操作的唯一标识，与接口返回值的 client_token 相对应，用于幂等的进行更新操作。此值为空表示将发起一次新的请求，此值非空表示幂等的进行更新操作。
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schema3'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      children:
                        type: array
                        items:
                          $ref: '#/components/schemas/Block'
                        description: 所添加的孩子的 Block 信息
                      document_revision_id:
                        type: integer
                        description: 当前 block children 创建成功后文档的版本号
                      client_token:
                        type: string
                        description: 操作的唯一标识，更新请求中使用此值表示幂等的进行此次更新
                    required:
                    - client_token
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - docx:document
      - docx:document:write_only
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1770001
        httpCode: 400
        msg: invalid param
      - code: 1770002
        httpCode: 404
        msg: not found
      - code: 1770003
        httpCode: 400
        msg: resource deleted
      - code: 1770004
        httpCode: 400
        msg: too many blocks in document
      - code: 1770005
        httpCode: 400
        msg: too deep level in document
      - code: 1770006
        httpCode: 400
        msg: schema mismatch
      - code: 1770007
        httpCode: 400
        msg: too many children in block
      - code: 1770008
        httpCode: 400
        msg: too big file size
      - code: 1770010
        httpCode: 400
        msg: too many table column
      - code: 1770011
        httpCode: 400
        msg: too many table cell
      - code: 1770012
        httpCode: 400
        msg: too many grid column
      - code: 1770013
        httpCode: 400
        msg: relation mismatch
      - code: 1770014
        httpCode: 400
        msg: parent children relation mismatch
      - code: 1770015
        httpCode: 400
        msg: single edit with multi document
      - code: 1770019
        httpCode: 400
        msg: repeated blockID in document
      - code: 1770020
        httpCode: 400
        msg: operation denied on copying document
      - code: 1770021
        httpCode: 400
        msg: too old document
      - code: 1770022
        httpCode: 400
        msg: invalid page token
      - code: 1770024
        httpCode: 400
        msg: invalid operation
      - code: 1770025
        httpCode: 400
        msg: operation and block not match
      - code: 1770026
        httpCode: 400
        msg: row operation over range
      - code: 1770027
        httpCode: 400
        msg: column operation over range
      - code: 1770028
        httpCode: 400
        msg: block not support create children
      - code: 1770029
        httpCode: 400
        msg: block not support to create
      - code: 1770030
        httpCode: 400
        msg: invalid parent children relation
      - code: 1770031
        httpCode: 400
        msg: block not support to delete children
      - code: 1770033
        httpCode: 400
        msg: raw content size exceed limited
      - code: 1770034
        httpCode: 400
        msg: operation count exceed limited
      - code: 1770035
        httpCode: 400
        msg: resource count exceed limit
      - code: 1770032
        httpCode: 403
        msg: forBidden
      - code: 1771001
        httpCode: 500
        msg: server internal error
      - code: 1771006
        httpCode: 500
        msg: mount folder failed
      - code: 1771002
        httpCode: 500
        msg: gateway server internal error
      - code: 1771003
        httpCode: 500
        msg: gateway marshal error
      - code: 1771004
        httpCode: 500
        msg: gateway unmarshal error
      - code: 1771005
        httpCode: 503
        msg: system under maintenance
      - code: 1770038
        httpCode: 400
        msg: resource not found
      x-lark-rate-limit:
        tier: 0
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].text.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].text.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading1.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading1.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading2.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading2.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading3.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading3.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading4.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading4.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading5.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading5.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading6.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading6.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading7.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading7.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading8.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading8.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading9.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].heading9.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].bullet.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].bullet.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].ordered.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].ordered.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].code.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].code.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].quote.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].quote.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].equation.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].equation.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].todo.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].todo.elements[*].reminder.create_user_id
        section: 0
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.children[*].chat_card.chat_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].source_synced.elements[*].mention_user.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.children[*].source_synced.elements[*].reminder.create_user_id
        section: 0
    get:
      operationId: docx_document_block_children_get
      summary: 获取所有子块
      tags:
      - document.block.children
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/document-docx/docx-v1/document-block-children/get
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
        description: 文档的唯一标识
        example: doxcnePuYufKa49ISjhD8Ih0ikh
      - name: block_id
        in: path
        required: true
        schema:
          type: string
        description: Block 的唯一标识
        example: doxcnO6UW6wAw2qIcYf4hZpFIth
      - name: document_revision_id
        in: query
        required: false
        schema:
          type: integer
          default: -1
        description: 操作的文档版本，-1表示文档最新版本。若此时操作的版本为文档最新版本，则需要持有文档的阅读权限；若此时操作的版本为文档的历史版本，则需要持有文档的编辑权限。
        example: '-1'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: aw7DoMKBFMOGwqHCrcO8w6jCmMOvw6ILeADCvsKNw57Di8O5XGV3LG4_w5HCqhFxSnDCrCzCn0BgZcOYUg85EMOYcEAcwqYOw4ojw5QFwofCu8KoIMO3K8Ktw4IuNMOBBHNYw4bCgCV3U1zDu8K-J8KSR8Kgw7Y0fsKZdsKvW3d9w53DnkHDrcO5bDkYwrvDisOEPcOtVFJ-I03CnsOILMOoAmLDknd6dsKqG1bClAjDuS3CvcOTwo7Dg8OrwovDsRdqIcKxw5HDohTDtXN9w5rCkWo
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 500
        description: 分页大小
        example: '500'
      - name: with_descendants
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: 查询的结果中是否返回指定块的所有子孙块。 with_descendants 为 false 时，仅会返回指定块的所有子块列表。 with_descendants 为 true 时，会以先序遍历的方式返回指定块的所有子孙块列表，包括当前指定的块。
        example: 'false'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - docx:document
      - docx:document:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1770001
        httpCode: 400
        msg: invalid param
      - code: 1770002
        httpCode: 404
        msg: not found
      - code: 1770003
        httpCode: 400
        msg: resource deleted
      - code: 1770004
        httpCode: 400
        msg: too many blocks in document
      - code: 1770005
        httpCode: 400
        msg: too deep level in document
      - code: 1770006
        httpCode: 400
        msg: schema mismatch
      - code: 1770007
        httpCode: 400
        msg: too many children in block
      - code: 1770008
        httpCode: 400
        msg: too big file size
      - code: 1770010
        httpCode: 400
        msg: too many table column
      - code: 1770011
        httpCode: 400
        msg: too many table cell
      - code: 1770012
        httpCode: 400
        msg: too many grid column
      - code: 1770013
        httpCode: 400
        msg: relation mismatch
      - code: 1770014
        httpCode: 400
        msg: parent children relation mismatch
      - code: 1770015
        httpCode: 400
        msg: single edit with multi document
      - code: 1770019
        httpCode: 400
        msg: repeated blockID in document
      - code: 1770020
        httpCode: 400
        msg: operation denied on copying document
      - code: 1770021
        httpCode: 400
        msg: too old document
      - code: 1770022
        httpCode: 400
        msg: invalid page token
      - code: 1770024
        httpCode: 400
        msg: invalid operation
      - code: 1770025
        httpCode: 400
        msg: operation and block not match
      - code: 1770026
        httpCode: 400
        msg: row operation over range
      - code: 1770027
        httpCode: 400
        msg: column operation over range
      - code: 1770028
        httpCode: 400
        msg: block not support create children
      - code: 1770029
        httpCode: 400
        msg: block not support to create
      - code: 1770030
        httpCode: 400
        msg: invalid parent children relation
      - code: 1770031
        httpCode: 400
        msg: block not support to delete children
      - code: 1770033
        httpCode: 400
        msg: raw content size exceed limited
      - code: 1770034
        httpCode: 400
        msg: operation count exceed limited
      - code: 1770032
        httpCode: 403
        msg: forBidden
      - code: 1771001
        httpCode: 500
        msg: server internal error
      - code: 1771006
        httpCode: 500
        msg: mount folder failed
      - code: 1771002
        httpCode: 500
        msg: gateway server internal error
      - code: 1771003
        httpCode: 500
        msg: gateway marshal error
      - code: 1771004
        httpCode: 500
        msg: gateway unmarshal error
      - code: 1771005
        httpCode: 503
        msg: system under maintenance
      x-lark-rate-limit:
        tier: 0
      x-lark-pagination: true
  /open-apis/docx/v1/documents/{document_id}/blocks/{block_id}/descendant:
    post:
      operationId: docx_document_block_descendant_create
      summary: 创建嵌套块
      tags:
      - document.block.descendant
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/document-docx/docx-v1/document-block-descendant/create
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
        description: 文档的唯一标识
        example: Ew13dgs8BoZSetxd0CNbr0h3c8e
      - name: block_id
        in: path
        required: true
        schema:
          type: string
        description: Block 的唯一标识
        example: Ew13dgs8BoZSetxd0CNbr0h3c8e
      - name: document_revision_id
        in: query
        required: false
        schema:
          type: integer
          default: -1
        description: 操作的文档版本，-1 表示文档最新版本。若此时操作的版本为文档最新版本，则需要持有文档的阅读权限；若此时操作的版本为文档的历史版本，则需要持有文档的编辑权限
        example: '-1'
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: 操作的唯一标识，与接口返回值的 client_token 相对应，用于幂等的进行更新操作。此值为空表示将发起一次新的请求，此值非空表示幂等的进行更新操作
        example: 8aac2291-bc9e-4b12-a162-b3cf15bb06bd
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                children_id:
                  type: array
                  items:
                    type: string
                  description: 添加的孩子 BlockID 列表
                index:
                  type: integer
                  description: 当前 Block 在 Children 中的插入位置，起始值为 0，最大值为原 Children 长度
                  default: -1
                  example: '0'
                descendants:
                  type: array
                  items:
                    type: object
                    properties:
                      block_id:
                        type: string
                        description: Block 唯一标识
                        example: doxcnSS4ouQkQEouGSUkTg9NJPe
                      children:
                        type: array
                        items:
                          type: string
                        description: block 的孩子 id 列表
                        example: '[doxcnO6UW6wAw2qIcYf4hZpFIth]'
                      block_type:
                        type: integer
                        description: block 类型
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                        - 13
                        - 14
                        - 15
                        - 17
                        - 18
                        - 19
                        - 20
                        - 21
                        - 22
                        - 23
                        - 24
                        - 25
                        - 26
                        - 27
                        - 28
                        - 29
                        - 30
                        - 31
                        - 32
                        - 33
                        - 34
                        - 35
                        - 36
                        - 37
                        - 38
                        - 39
                        - 40
                        - 41
                        - 42
                        - 43
                        - 44
                        - 45
                        - 46
                        - 47
                        - 48
                        - 49
                        - 50
                        - 51
                        - 52
                        - 53
                        - 54
                        - 55
                        - 56
                        - 57
                        - 58
                        - 59
                        - 999
                        x-enum-descriptions:
                          '1': 页面 Block
                          '2': 文本 Block
                          '3': 标题 1 Block
                          '4': 标题 2 Block
                          '5': 标题 3 Block
                          '6': 标题 4 Block
                          '7': 标题 5 Block
                          '8': 标题 6 Block
                          '9': 标题 7 Block
                          '10': 标题 8 Block
                          '11': 标题 9 Block
                          '12': 无序列表 Block
                          '13': 有序列表 Block
                          '14': 代码块 Block
                          '15': 引用 Block
                          '17': 待办事项 Block
                          '18': 多维表格 Block
                          '19': 高亮块 Block
                          '20': 会话卡片 Block
                          '21': 流程图 & UML Block
                          '22': 分割线 Block
                          '23': 文件 Block
                          '24': 分栏 Block
                          '25': 分栏列 Block
                          '26': 内嵌 Block Block
                          '27': 图片 Block
                          '28': 开放平台小组件 Block
                          '29': 思维笔记 Block
                          '30': 电子表格 Block
                          '31': 表格 Block
                          '32': 表格单元格 Block
                          '33': 视图 Block
                          '34': 引用容器 Block
                          '35': 任务 Block
                          '36': OKR Block
                          '37': OKR Objective
                          '38': OKR Key Result
                          '39': OKR 进展
                          '40': 文档小组件
                          '41': Jira Issue
                          '42': Wiki 子目录 Block
                          '43': 画板 Block
                          '44': 议程 Block
                          '45': 议程项 Block
                          '46': 议程项标题 Block
                          '47': 议程项内容 Block
                          '48': 链接预览 Block
                          '49': 源同步块
                          '50': 引用同步块
                          '51': 新版 Wiki 子目录 Block
                          '52': AI 模板 Block
                          '53': 引用的多维表格
                          '54': 飞书项目
                          '55': 智能会议纪要 Block
                          '56': VC Tabs
                          '57': 纪要
                          '58': 原始记录
                          '59': 妙纪 Block
                          '999': 未支持 Block
                        example: '1'
                      text:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 文本 Block
                      heading1:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 一级标题 Block
                      heading2:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 二级标题 Block
                      heading3:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 三级标题 Block
                      heading4:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 四级标题 Block
                      heading5:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 五级标题 Block
                      heading6:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 六级标题 Block
                      heading7:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 七级标题 Block
                      heading8:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 八级标题 Block
                      heading9:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 九级标题 Block
                      bullet:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 无序列表 Block
                      ordered:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 有序列表 Block
                      code:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 代码块 Block
                      quote:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 引用 Block
                      equation:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 公式 Block
                      todo:
                        allOf:
                        - $ref: '#/components/schemas/Todo'
                        description: 任务 Block
                      bitable:
                        type: object
                        properties:
                          view_type:
                            type: integer
                            description: 类型
                            enum:
                            - 1
                            - 2
                            x-enum-descriptions:
                              '1': 数据表
                              '2': 看板
                            example: '1'
                        description: 多维表格 Block
                      callout:
                        allOf:
                        - $ref: '#/components/schemas/Callout2'
                        description: 高亮块 Block
                      chat_card:
                        type: object
                        properties:
                          chat_id:
                            type: string
                            description: 群聊天会话 ID
                            example: oc_2e2ef17a54207c68efdf998554ef27e3
                            format: int64
                            x-lark-id-types:
                              chat_id: chat
                          align:
                            type: integer
                            description: 对齐方式
                            enum:
                            - 1
                            - 2
                            - 3
                            default: 1
                            example: '1'
                        required:
                        - chat_id
                        description: 群聊卡片 Block
                      divider:
                        type: object
                        description: 分割线 Block
                      file:
                        type: object
                        properties:
                          view_type:
                            type: integer
                            description: 视图类型，卡片视图（默认）或预览视图
                            enum:
                            - 1
                            - 2
                            x-enum-descriptions:
                              '1': 卡片视图
                              '2': 预览视图
                            example: '1'
                        description: 文件 Block
                      grid:
                        type: object
                        properties:
                          column_size:
                            type: integer
                            description: 分栏列数量
                            example: '2'
                        required:
                        - column_size
                        description: 分栏 Block
                      grid_column:
                        type: object
                        properties:
                          width_ratio:
                            type: integer
                            description: 当前分栏列占整个分栏的比例
                            example: '50'
                        description: 分栏列 Block
                      iframe:
                        allOf:
                        - $ref: '#/components/schemas/Iframe'
                        description: 内嵌 Block
                      image:
                        allOf:
                        - $ref: '#/components/schemas/Image2'
                        description: 图片 Block
                      isv:
                        type: object
                        description: 三方 Block
                      add_ons:
                        type: object
                        properties:
                          component_id:
                            type: string
                            description: 团队互动应用唯一ID
                            example: '7056882725002051603'
                          component_type_id:
                            type: string
                            description: 团队互动应用类型，比如问答互动"blk_636a0a6657db8001c8df5488"
                            example: blk_636a0a6657db8001c8df5488
                          record:
                            type: string
                            description: 文档小组件内容数据，JSON 字符串
                            example: '"{}"'
                        required:
                        - component_type_id
                        description: Add-ons
                      sheet:
                        type: object
                        properties:
                          row_size:
                            type: integer
                            description: 电子表格行数量
                            example: '2'
                          column_size:
                            type: integer
                            description: 电子表格列数量
                            example: '2'
                        description: 电子表格 Block
                      table:
                        allOf:
                        - $ref: '#/components/schemas/Table2'
                        description: 表格 Block
                      table_cell:
                        type: object
                        description: 单元格 Block
                      view:
                        type: object
                        description: 视图 Block
                      quote_container:
                        type: object
                        description: 引用容器 Block
                      task:
                        type: object
                        properties:
                          folded:
                            type: boolean
                            description: 折叠状态
                            default: false
                            example: 'false'
                        description: 任务 Block
                      okr:
                        type: object
                        properties:
                          okr_id:
                            type: string
                            description: OKR ID
                            example: '"7076349900476448796"'
                            format: int64
                          objectives:
                            type: array
                            items:
                              type: object
                              properties:
                                objective_id:
                                  type: string
                                  description: okr 中 objective 的 ID
                                  example: '7109022409227026460'
                                  format: int64
                                kr_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: key result 的 ID 列表，此值为空时插入当前 objective 下的所有 key result
                                  example: '["7109022573011894300","7109022546444517404"]'
                            description: OKR Block 中的 objective ID 和 key result ID，此值为空时插入 okr 下所有的 objective 和 key result
                        description: OKR Block
                      comment_ids:
                        type: array
                        items:
                          type: string
                        description: 评论 id 列表
                        example: '[1660030311959965796]'
                      wiki_catalog:
                        type: object
                        properties:
                          wiki_token:
                            type: string
                            description: 知识库 token
                            example: Ub47wVl7AikG9wkgnpSbFy4EcAc
                        description: Wiki 子目录 Block
                      board:
                        type: object
                        properties:
                          align:
                            type: integer
                            description: 对齐方式
                            enum:
                            - 1
                            - 2
                            - 3
                            x-enum-descriptions:
                              '1': 居左排版
                              '2': 居中排版
                              '3': 居右排版
                            default: 1
                            example: '2'
                          width:
                            type: integer
                            description: 宽度，单位 px；不填时自动适应文档宽度；值超出文档最大宽度时，页面渲染为文档最大宽度
                            example: '300'
                          height:
                            type: integer
                            description: 高度，单位 px；不填时自动根据画板内容计算；值超出屏幕两倍高度时，页面渲染为屏幕两倍高度
                            example: '300'
                        description: 画板 Block
                      link_preview:
                        type: object
                        properties:
                          url:
                            type: string
                            description: 链接
                            example: https://applink.feishu.cn/client/message/link/open?token=Al7F******Q%3D
                          url_type:
                            type: string
                            description: 链接类型
                            enum:
                            - MessageLink
                            - Undefined
                            x-enum-descriptions:
                              MessageLink: 消息链接
                              Undefined: 未定义的链接类型
                            example: MessageLink
                        required:
                        - url
                        - url_type
                        description: 链接预览 Block
                      source_synced:
                        allOf:
                        - $ref: '#/components/schemas/SourceSynced3'
                        description: 源同步块
                      reference_synced:
                        type: object
                        properties:
                          source_document_id:
                            type: string
                            description: 源文档的文档 ID
                            example: doxcnSS4ouQkQEouGSUkTgabcef
                          source_block_id:
                            type: string
                            description: 源同步块的 Block ID
                            example: doxcnePuYufKa49ISjhD8Iabcef
                        description: 引用同步块
                      sub_page_list:
                        type: object
                        properties:
                          wiki_token:
                            type: string
                            description: 知识库节点 token，仅支持知识库文档创建子页面列表，且需传入当前页面的 wiki token
                            example: Ub47wVI7AikG9wkgnpSbFyabcef
                        required:
                        - wiki_token
                        description: 新版 Wiki 子目录 Block
                      ai_template:
                        type: object
                        description: AI 模板 Block
                      vc_tabs:
                        type: object
                        description: VC Tabs
                      vc_summary_tab:
                        type: object
                        description: 纪要
                      vc_transcript_tab:
                        type: object
                        description: 原始记录
                      minutes:
                        type: object
                        properties:
                          token:
                            type: string
                            description: 妙记 Block 标识（RefID）
                            example: acJPFAoJzLzdgkrXnn1yhln1flWSWM6HZ0e3t6abcdf
                          minutes_id:
                            type: string
                            description: 原始妙记标识（妙记 ID）
                            example: '7648861541060611613'
                        required:
                        - minutes_id
                        description: 妙纪 Block
                    required:
                    - block_type
                  description: 添加的子孙列表，包括孩子
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      children:
                        type: array
                        items:
                          $ref: '#/components/schemas/Block'
                        description: 所添加的孩子的 Block 信息
                        example: '111'
                      document_revision_id:
                        type: integer
                        description: 当前提交的 Block 创建成功后文档的版本号
                        example: '1'
                      client_token:
                        type: string
                        description: 操作的唯一标识，更新请求中使用此值表示幂等的进行此次更新
                        example: 80bf5b2a-4dea-4c02-8a84-a0e682de463d
                      block_id_relations:
                        type: array
                        items:
                          type: object
                          properties:
                            temporary_block_id:
                              type: string
                              description: 用户传入的临时 BlockID
                              example: 80bf5b2a-4dea-4c02-8a84-a0e682de463d
                            block_id:
                              type: string
                              description: 真实使用的 BlockID
                              example: doxbcQOmtfkzY6BFFVQ86LH2J2d
                        description: 传入的临时 BlockID 与真实 BlockID 映射关系
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - docx:document
      - docx:document:write_only
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1770001
        httpCode: 400
        msg: invalid param
      - code: 1770002
        httpCode: 404
        msg: not found
      - code: 1770003
        httpCode: 400
        msg: resource deleted
      - code: 1770004
        httpCode: 400
        msg: too many blocks in document
      - code: 1770005
        httpCode: 400
        msg: too deep level in document
      - code: 1770006
        httpCode: 400
        msg: schema mismatch
      - code: 1770007
        httpCode: 400
        msg: too many children in block
      - code: 1770008
        httpCode: 400
        msg: too big file size
      - code: 1770010
[...]
