# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · drive API（全量）
  description: |-
    飞书开放平台 `drive` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T04:09:08Z'
  x-lark-project: drive
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T04:09:08Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: export_task
- name: file.comment.reply
- name: file.comment
- name: file.statistics
- name: file.subscription
- name: file.version
- name: file.view_record
- name: file
- name: import_task
- name: media
- name: meta
- name: permission.member
- name: permission.public.password
- name: permission.public
- name: user
- name: comment_reaction
- name: file.like
paths:
  /open-apis/drive/v1/export_tasks:
    post:
      operationId: drive_export_task_create
      summary: 创建导出任务
      tags:
      - export_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/export_task/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_extension:
                  type: string
                  description: 导出文件扩展名
                  enum:
                  - docx
                  - pdf
                  - xlsx
                  - csv
                  - base
                  - pptx
                  x-enum-descriptions:
                    docx: word docx 格式
                    pdf: pdf 格式
                    xlsx: excel xlsx 格式
                    csv: csv 格式
                    base: base 文档自定义格式
                    pptx: pptx格式
                  example: pdf
                token:
                  type: string
                  description: 导出文档 Token
                  example: doccnxe5OxxxxxxxSNdsJviENsk
                type:
                  type: string
                  description: 导出文档类型
                  enum:
                  - doc
                  - sheet
                  - bitable
                  - docx
                  - slides
                  x-enum-descriptions:
                    doc: 旧版飞书云文档类型
                    sheet: 飞书电子表格类型
                    bitable: 飞书多维表格类型
                    docx: 新版飞书云文档类型
                    slides: 飞书幻灯片类型
                  example: doc
                sub_id:
                  type: string
                  description: 导出子表 ID，仅当将 sheet/bitable 导出为 csv 时使用
                  example: tblKz5D60T4JlfcT
                only_schema:
                  type: boolean
                  description: 是否仅导出多维表格结构(仅.base文件有效)
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      ticket:
                        type: string
                        description: 导出任务ID
                        example: '6933093124755423251'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:export:readonly
      - docs:document:export
      x-lark-error-mappings:
      - code: 1069901
        httpCode: 500
        msg: internal error
      - code: 1069902
        httpCode: 403
        msg: no permission
      - code: 1069904
        httpCode: 400
        msg: invalid param
      - code: 1069906
        httpCode: 404
        msg: docs deleted
      - code: 1069914
        httpCode: 404
        msg: file token invalid
      - code: 1069918
        httpCode: 400
        msg: file extension mismatch
      - code: 1069923
        httpCode: 429
        msg: too many requests
      x-lark-rate-limit:
        tier: 3
  /open-apis/drive/v1/export_tasks/file/{file_token}/download:
    get:
      operationId: drive_export_task_download
      summary: 下载导出文件
      tags:
      - export_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/export_task/download
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 导出文档token
        example: boxcnNAlfwHxxxxxxxxxxSaLSec
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:export:readonly
      - docs:document:export
      x-lark-error-mappings:
      - code: 1060001
        httpCode: 400
        msg: param is invalis
      x-lark-rate-limit:
        tier: 3
      x-lark-file-download: true
  /open-apis/drive/v1/export_tasks/{ticket}:
    get:
      operationId: drive_export_task_get
      summary: 查询导出任务结果
      tags:
      - export_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/export_task/get
      parameters:
      - name: ticket
        in: path
        required: true
        schema:
          type: string
        description: 导出任务ID
        example: '6933093124755423251'
      - name: token
        in: query
        required: true
        schema:
          type: string
        description: 导出文档的 token
        example: doccnZVxxxxxxxxxxxxGiyBgYqe
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      result:
                        type: object
                        properties:
                          file_extension:
                            type: string
                            description: 导出文件扩展名
                            enum:
                            - docx
                            - pdf
                            - xlsx
                            - csv
                            - base
                            - pptx
                            x-enum-descriptions:
                              docx: word docx 格式
                              pdf: pdf 格式
                              xlsx: excel xlsx 格式
                              csv: csv 格式
                              base: base 文档自定义格式
                              pptx: pptx格式
                            example: pdf
                          type:
                            type: string
                            description: 导出文档类型
                            enum:
                            - doc
                            - sheet
                            - bitable
                            - docx
                            - slides
                            x-enum-descriptions:
                              doc: 旧版飞书云文档类型
                              sheet: 飞书电子表格类型
                              bitable: 飞书多维表格类型
                              docx: 新版飞书云文档类型
                              slides: 飞书幻灯片类型
                            example: doc
                          file_name:
                            type: string
                            description: 导出文件名
                            example: docName
                          file_token:
                            type: string
                            description: 导出文件产物 Token
                            example: boxcnxe5OxxxxxxxSNdsJviENsk
                            x-lark-id-types:
                              file_token: ccm_file
                          file_size:
                            type: integer
                            description: 导出文件大小
                            example: '34356'
                          job_error_msg:
                            type: string
                            description: 任务失败原因
                            example: success
                          job_status:
                            type: integer
                            description: 任务状态
                            enum:
                            - 0
                            - 1
                            - 2
                            - 3
                            - 107
                            - 108
                            - 109
                            - 110
                            - 111
                            - 122
                            - 123
                            - 6000
                            x-enum-descriptions:
                              '0': 成功
                              '1': 初始化
                              '2': 处理中
                              '3': 内部错误
                              '107': 导出文档过大
                              '108': 处理超时
                              '109': 导出内容块无权限
                              '110': 导出文档无权限
                              '111': 导出文档已删除
                              '122': 创建副本中禁止导出
                              '123': 导出文档不存在
                              '6000': 导出文档图片太多
                            example: '0'
                          only_schema:
                            type: boolean
                            description: 是否仅导出多维表格结构(仅.base文件有效)
                        required:
                        - file_extension
                        - type
                        description: 导出结果
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:export:readonly
      - docs:document:export
      x-lark-error-mappings:
      - code: 1069901
        httpCode: 500
        msg: internal error
      - code: 1069902
        httpCode: 403
        msg: no permission
      - code: 1069904
        httpCode: 400
        msg: invalid param
      - code: 1069906
        httpCode: 410
        msg: docs deleted
      x-lark-rate-limit:
        tier: 3
  /open-apis/drive/v1/files/{file_token}/comments/{comment_id}/replies:
    post:
      operationId: drive_file_comment_reply_create
      summary: 添加回复
      tags:
      - file.comment.reply
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment-reply/create
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档token
        example: TLLKdcpDro9ijQxA33ycNMabcef
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 评论ID
        example: 69161068xxxxx512356
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - sheet
          - file
          - docx
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 文档
            sheet: 表格
            file: 文件
            docx: 新版文档
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 文档类型
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  allOf:
                  - $ref: '#/components/schemas/Content'
                  description: 回复内容
                extra:
                  type: string
                  description: 额外信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      content:
                        $ref: '#/components/schemas/Content'
                      reply_id:
                        type: string
                        description: 回复 ID
                        example: 6916106xxxxx4512356
                      user_id:
                        type: string
                        description: 用户 ID
                        example: ou_cc19b2bfb93f8a44db4b4d6eab2abcef
                      create_time:
                        type: integer
                        description: 创建时间
                        example: '1610281603'
                      update_time:
                        type: integer
                        description: 更新时间
                        example: '1610281603'
                      extra:
                        type: object
                        properties:
                          image_list:
                            type: array
                            items:
                              type: string
                        description: 回复的其他内容，图片 Token 等
                      reactions:
                        type: array
                        items:
                          type: object
                          properties:
                            reaction_key:
                              type: string
                              description: 表情回复的唯一标识，用于区分不同类型的评论表情（如点赞、鼓掌等）。
                              example: like
                            count:
                              type: integer
                              description: 该表情回复的累计使用次数，统计范围为当前评论下所有用户的有效回复记录。
                              example: '10'
                            ahead_users:
                              type: array
                              items:
                                type: string
                              description: 用于在界面优先展示核心互动用户。用户ID可通过用户信息查询接口获取。
                          required:
                          - reaction_key
                          - count
                        description: 评论回复卡片上对应的表情回复信息
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - drive:drive:readonly
      - docs:doc:readonly
      - sheets:spreadsheet:readonly
      - docs:document.comment:create
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1069301
        httpCode: 400
        msg: 'General operation failure. The request failed to complete due to an unspecified error. Solution: Check the request
          parameters and ensure all required fields are provided correctly. If the issue persists, contact technical support.'
      - code: 1069302
        httpCode: 400
        msg: 'Invalid or missing parameters in the request. Solution: Verify all request parameters are correctly formatted
          and required fields are provided. Refer to the API documentation for parameter requirements.'
      - code: 1069303
        httpCode: 403
        msg: 'Access denied due to insufficient permissions. Solution: Ensure you have the necessary permissions to access
          the requested resource. Contact your administrator to grant the required permissions.'
      - code: 1069304
        httpCode: 400
        msg: 'The requested document has been deleted. Solution: Verify the document ID is correct and check if the document
          was intentionally deleted. If not, contact technical support to recover the document.'
      - code: 1069305
        httpCode: 400
        msg: 'The requested document does not exist. Solution: Check the document ID for typos and ensure the document was
          properly created. If the issue persists, contact technical support.'
      - code: 1069306
        httpCode: 400
        msg: 'The content failed the review process. Solution: Review the content to ensure it complies with the platform''s
          content policies. Modify any problematic content and resubmit.'
      - code: 1069307
        httpCode: 404
        msg: 'The requested resource does not exist. Solution: Verify the resource ID is correct and ensure the resource was
          properly created. If the issue persists, contact technical support.'
      - code: 1069308
        httpCode: 400
        msg: 'Request exceeded the allowed limit. Solution: Reduce the size or frequency of your requests to stay within the
          allowed limits. If you need higher limits, contact technical support.'
      - code: 1069399
        httpCode: 400
        msg: 'Internal server error occurred. Solution: Try the request again later. If the issue persists, contact technical
          support with details of the request.'
      - code: 1069302
        httpCode: 400
        msg: 'The comment section does not allow replies. Solution: Check the comment settings to confirm reply permissions
          are disabled. Adjust the comment configuration if necessary and republish the content.'
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.content.elements[*].person.user_id
        section: 0
    get:
      operationId: drive_file_comment_reply_list
      summary: 获取回复信息
      tags:
      - file.comment.reply
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment-reply/list
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档Token
        example: doxbcdl03Vsxhm7Qmnj110Ygwwh
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
        description: 评论ID
        example: '1654857036541825633'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '1654857036541825633'
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - file
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 文档
            docx: 新版本文档
            sheet: 表格
            file: 文件
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 文档类型
      - name: need_reaction
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要获取评论卡片上挂载的Reaction数据
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item'
                      page_token:
                        type: string
                      has_more:
                        type: boolean
                    required:
                    - has_more
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive
      - drive:drive:readonly
      - docs:document.comment:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1069301
        httpCode: 400
        msg: fail
      - code: 1069302
        httpCode: 400
        msg: param error
      - code: 1069303
        httpCode: 403
        msg: forbidden
      - code: 1069304
        httpCode: 400
        msg: docs had been deleted
      - code: 1069305
        httpCode: 400
        msg: docs not exist
      - code: 1069306
        httpCode: 400
        msg: content review not pass
      - code: 1069307
        httpCode: 404
        msg: comment not exist
      - code: 1069308
        httpCode: 400
        msg: comment count exceeded limit
      - code: 1069399
        httpCode: 400
        msg: internal error
      - code: 1064230
        httpCode: 400
        msg: locked_for_data_migration
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
  /open-apis/drive/v1/files/{file_token}/comments/{comment_id}/replies/{reply_id}:
    delete:
      operationId: drive_file_comment_reply_delete
      summary: 删除回复
      tags:
      - file.comment.reply
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment-reply/delete
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档token
        example: TLLKdcpDro9ijQxA33ycNMabcef
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 评论ID
        example: 69161068xxxxx512356
      - name: reply_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 回复ID
        example: 6916106xxxxx4512356
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - file
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 文档
            docx: 新版文档
            sheet: 表格
            file: 文件
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 文档类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      data:
                        type: string
                    required:
                    - data
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - drive:drive:readonly
      - docs:doc:readonly
      - sheets:spreadsheet:readonly
      - docs:document.comment:write_only
      - docs:document.comment:delete
      x-lark-error-mappings:
      - code: 1069301
        httpCode: 400
        msg: fail
      - code: 1069302
        httpCode: 400
        msg: param error
      - code: 1069303
        httpCode: 403
        msg: forbidden
      - code: 1069304
        httpCode: 400
        msg: docs had been deleted
      - code: 1069305
        httpCode: 400
        msg: docs not exist
      - code: 1069306
        httpCode: 400
        msg: content review not pass
      - code: 1069307
        httpCode: 404
        msg: not exist
      - code: 1069308
        httpCode: 400
        msg: exceeded limit
      - code: 1069399
        httpCode: 400
        msg: internal error
      x-lark-rate-limit:
        tier: 4
    put:
      operationId: drive_file_comment_reply_update
      summary: 更新回复的内容
      tags:
      - file.comment.reply
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment-reply/update
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档token
        example: TLLKdcpDro9ijQxA33ycNMabcef
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 评论ID
        example: 69161068xxxxx512356
      - name: reply_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 回复ID
        example: 6916106xxxxx4512356
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - file
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 文档
            docx: 新版文档
            sheet: 表格
            file: 文件
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 文档类型
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  allOf:
                  - $ref: '#/components/schemas/Content'
                  description: 回复内容
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      data:
                        type: string
                    required:
                    - data
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - drive:drive:readonly
      - docs:doc:readonly
      - sheets:spreadsheet:readonly
      - docs:document.comment:write_only
      - docs:document.comment:update
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1069301
        httpCode: 400
        msg: fail
      - code: 1069302
        httpCode: 400
        msg: param error
      - code: 1069303
        httpCode: 403
        msg: forbidden
      - code: 1069304
        httpCode: 400
        msg: docs had been deleted
      - code: 1069305
        httpCode: 400
        msg: docs not exist
      - code: 1069306
        httpCode: 400
        msg: content review not pass
      - code: 1069307
        httpCode: 404
        msg: not exist
      - code: 1069308
        httpCode: 400
        msg: exceeded limit
      - code: 1069399
        httpCode: 400
        msg: internal error
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.content.elements[*].person.user_id
        section: 0
  /open-apis/drive/v1/files/{file_token}/comments/batch_query:
    post:
      operationId: drive_file_comment_batch_query
      summary: 批量获取评论
      tags:
      - file.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment/batch_query
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档Token
        example: doxbcdl03Vsxhm7Qmnj110Ygwwh
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - file
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 文档
            docx: 新版文档
            sheet: 表格
            file: 文件
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 文档类型
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment_ids:
                  type: array
                  items:
                    type: string
                  description: 需要获取数据的评论id
                  example: '1654857036541825633'
                need_reaction:
                  type: boolean
                  description: 是否需要获取评论卡片上挂载的Reaction数据
                need_relation:
                  type: boolean
                  description: 是否需要获取评论关系
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Data'
                        description: 评论的相关信息、回复的信息、回复分页的信息
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive
      - drive:drive:readonly
      - docs:document.comment:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1069301
        httpCode: 400
        msg: fail
      - code: 1069302
        httpCode: 400
        msg: param error
      - code: 1069303
        httpCode: 403
        msg: forbidden
      - code: 1069304
        httpCode: 400
        msg: docs had been deleted
      - code: 1069305
        httpCode: 400
        msg: docs not exist
      - code: 1069306
        httpCode: 400
        msg: content review not pass
      - code: 1069307
        httpCode: 404
        msg: comment not exist
      - code: 1069308
        httpCode: 400
        msg: comment count exceeded limit
      - code: 1069399
        httpCode: 400
        msg: internal error
      - code: 1064230
        httpCode: 400
        msg: locked_for_data_migration
      x-lark-rate-limit:
        tier: 3
  /open-apis/drive/v1/files/{file_token}/comments:
    post:
      operationId: drive_file_comment_create
      summary: 添加全文评论
      tags:
      - file.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment/create
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档token
        example: TLLKdcpDro9ijQxA33ycNMabcef
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          x-enum-descriptions:
            doc: 文档
            docx: 新版文档
        description: 文档类型
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以 user_id 来识别用户
            union_id: 以 union_id 来识别用户
            open_id: 以 open_id 来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户 ID 的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reply_list:
                  type: object
                  properties:
                    replies:
                      type: array
                      items:
                        type: object
                        properties:
                          content:
                            allOf:
                            - $ref: '#/components/schemas/Content'
                            description: 回复内容
                          reactions:
                            type: array
                            items:
                              type: object
                              properties:
                                reaction_key:
                                  type: string
                                  description: 表情回复的唯一标识，用于区分不同类型的评论表情（如点赞、鼓掌等）。
                                  example: like
                                count:
                                  type: integer
                                  description: 该表情回复的累计使用次数，统计范围为当前评论下所有用户的有效回复记录。
                                  example: '10'
                                ahead_users:
                                  type: array
                                  items:
                                    type: string
                                  description: 用于在界面优先展示核心互动用户。用户ID可通过用户信息查询接口获取。
                              required:
                              - reaction_key
                              - count
                            description: 评论回复卡片上对应的表情回复信息
                        required:
                        - content
                      description: 回复列表
                  required:
                  - replies
                  description: 评论里的回复列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - drive:drive:readonly
      - docs:doc:readonly
      - sheets:spreadsheet:readonly
      - docs:document.comment:write_only
      - docs:document.comment:create
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1069301
        httpCode: 400
        msg: fail
      - code: 1069302
        httpCode: 400
        msg: param error
      - code: 1069303
        httpCode: 403
        msg: forbidden
      - code: 1069304
        httpCode: 400
        msg: docs had been deleted
      - code: 1069305
        httpCode: 400
        msg: docs not exist
      - code: 1069306
        httpCode: 400
        msg: content review not pass
      - code: 1069307
        httpCode: 404
        msg: not exist
      - code: 1069308
        httpCode: 400
        msg: exceeded limit
      - code: 1069399
        httpCode: 400
        msg: internal error
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.reply_list.replies[*].content.elements[*].person.user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.reply_list.replies[*].reactions[*].ahead_users[*]
        section: 0
    get:
      operationId: drive_file_comment_list
      summary: 获取云文档所有评论
      tags:
      - file.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment/list
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档token
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - file
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 文档
            docx: 新版文档
            sheet: 表格
            file: 文件
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 文档类型
      - name: is_whole
        in: query
        required: false
        schema:
          type: boolean
        description: 是否全文评论
      - name: is_solved
        in: query
        required: false
        schema:
          type: boolean
        description: 是否已解决（可选）
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 评论分页参数
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 获取满足 commen_id > page_token 的评论数量
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: need_reaction
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要获取评论卡片上挂载的Reaction数据
      - name: need_relation
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要评论关系
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的 Token
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Data'
                        description: 数据
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - drive:drive:readonly
      - docs:doc:readonly
      - sheets:spreadsheet:readonly
      - docs:document.comment:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1069301
        httpCode: 400
        msg: fail
      - code: 1069302
        httpCode: 400
        msg: param error
      - code: 1069303
        httpCode: 403
        msg: forbidden
      - code: 1069308
        httpCode: 400
        msg: exceeded limit
      - code: 1069304
        httpCode: 400
        msg: docs had been deleted
      - code: 1069307
        httpCode: 404
        msg: not exist
      - code: 1069399
        httpCode: 400
        msg: internal error
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/drive/v1/files/{file_token}/comments/{comment_id}:
    get:
      operationId: drive_file_comment_get
      summary: 获取全文评论
      tags:
      - file.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment/get
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档token
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 评论ID
        example: 69161068xxxxx512356
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - sheet
          - file
          - docx
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 文档
            sheet: 表格
            file: 文件
            docx: 新版文档
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 文档类型
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以 user_id 来识别用户
            union_id: 以 union_id 来识别用户
            open_id: 以 open_id 来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户 ID 的类型
      - name: need_reaction
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要获取评论卡片上挂载的Reaction数据
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - drive:drive:readonly
      - docs:doc:readonly
      - sheets:spreadsheet:readonly
      - docs:document.comment:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1069301
        httpCode: 400
        msg: fail
      - code: 1069302
        httpCode: 400
        msg: param error
      - code: 1069303
        httpCode: 403
        msg: forbidden
      - code: 1069304
        httpCode: 400
        msg: docs had been deleted
      - code: 1069305
        httpCode: 400
        msg: docs not exist
      - code: 1069306
        httpCode: 400
        msg: content review not pass
      - code: 1069307
        httpCode: 404
        msg: not exist
      - code: 1069308
        httpCode: 400
        msg: exceeded limit
      - code: 1069399
        httpCode: 400
        msg: internal error
      x-lark-rate-limit:
        tier: 4
    patch:
      operationId: drive_file_comment_patch
      summary: 解决/恢复评论
      tags:
      - file.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-comment/patch
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档token
        example: TLLKdcpDro9ijQxA33ycNMabcef
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 评论ID
        example: 6916106xxxxx4512356
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - file
          - slides
          - bitable
          - apps
          x-enum-descriptions:
            doc: 文档
            docx: 新版文档
            sheet: 表格
            file: 文件
            slides: 幻灯片
            bitable: 多维表格
            apps: 妙搭应用
        description: 文档类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_solved:
                  type: boolean
                  description: 评论解决标志
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      data:
                        type: string
                    required:
                    - data
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - drive:drive:readonly
      - docs:doc:readonly
      - sheets:spreadsheet:readonly
      - docs:document.comment:write_only
      - docs:document.comment:update
      x-lark-error-mappings:
      - code: 1069301
        httpCode: 400
        msg: fail
      - code: 1069302
        httpCode: 400
        msg: param error
      - code: 1069303
        httpCode: 403
        msg: forbidden
      - code: 1069304
        httpCode: 400
        msg: docs had been deleted
      - code: 1069305
        httpCode: 400
        msg: docs not exist
      - code: 1069306
        httpCode: 400
        msg: content review not pass
      - code: 1069307
        httpCode: 404
        msg: not exist
      - code: 1069308
        httpCode: 400
        msg: exceeded limit
      - code: 1069399
        httpCode: 400
        msg: internal error
      x-lark-rate-limit:
        tier: 4
  /open-apis/drive/v1/files/{file_token}/statistics:
    get:
      operationId: drive_file_statistics_get
      summary: 获取文件统计信息
      tags:
      - file.statistics
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-statistics/get
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文件 token
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - sheet
          - mindnote
          - bitable
          - wiki
          - file
          - docx
          x-enum-descriptions:
            doc: doc文档
            sheet: 表格
            mindnote: 思维笔记
            bitable: 多维表格
            wiki: 知识库wiki
            file: 文件
            docx: docx文档
        description: 文档类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      file_token:
                        type: string
                        description: 文档token
                        x-lark-id-types:
                          file_token: ccm_file
                      file_type:
                        type: string
                        description: 文档类型
                      statistics:
                        type: object
                        properties:
                          uv:
                            type: integer
                            description: 文档历史访问人数，同一人多次访问按一次计算。
                            example: '1'
                          pv:
                            type: integer
                            description: 文档历史访问次数，同一人多次访问按多次计算。（注：同一人相邻两次访问间隔在半小时内视为一次访问）
                            example: '1'
                          like_count:
                            type: integer
                            description: 文档历史点赞总数
                            example: '1'
                          timestamp:
                            type: integer
                            description: 时间戳（秒）
                            example: '1701846435'
                          uv_today:
                            type: integer
                            description: 今日新增文档访问人数
                            example: '1'
                          pv_today:
                            type: integer
                            description: 今日新增文档访问次数
                            example: '1'
                          like_count_today:
                            type: integer
                            description: 今日新增文档点赞数
                            example: '1'
                        description: 文档统计信息
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive
      - drive:drive:readonly
      - drive:drive.metadata:readonly
      x-lark-error-mappings:
      - code: 1069601
        httpCode: 500
        msg: fail
      - code: 1069602
        httpCode: 400
        msg: param error
      - code: 1069603
        httpCode: 403
        msg: forbidden
      - code: 1069604
        httpCode: 400
        msg: document not found
      x-lark-rate-limit:
        tier: 0
  /open-apis/drive/v1/files/{file_token}/subscriptions:
    post:
      operationId: drive_file_subscription_create
      summary: 创建订阅
      tags:
      - file.subscription
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-subscription/create
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档token
        example: doxcnxxxxxxxxxxxxxxxxxxxxxx
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subscription_id:
                  type: string
                  description: 订阅关系ID
                  example: '1234567890987654321'
                subscription_type:
                  type: string
                  description: 订阅类型
                  enum:
                  - comment_update
                  x-enum-descriptions:
                    comment_update: 评论更新
                  example: comment_update
                is_subcribe:
                  type: boolean
                  description: 是否订阅
                  example: 'true'
                file_type:
                  type: string
                  description: 文档类型
                  enum:
                  - doc
                  - docx
                  - wiki
                  x-enum-descriptions:
                    doc: 文档
                    docx: 文档2.0
                    wiki: 知识库wiki
                  example: doc
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema6'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - drive:drive
      - drive:drive:readonly
      - docs:document.subscription
      x-lark-error-mappings:
      - code: 1064000
        httpCode: 400
        msg: Illegal parameter
      - code: 1064030
        httpCode: 403
        msg: Permission denied
      - code: 1064040
        httpCode: 404
        msg: Token not exist
      - code: 1065000
        httpCode: 500
        msg: Internal Server Error
      x-lark-rate-limit:
        tier: 3
  /open-apis/drive/v1/files/{file_token}/subscriptions/{subscription_id}:
    get:
      operationId: drive_file_subscription_get
      summary: 获取订阅状态
      tags:
      - file.subscription
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-subscription/get
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档token
        example: doxcnxxxxxxxxxxxxxxxxxxxxxx
      - name: subscription_id
        in: path
        required: true
        schema:
          type: string
        description: 订阅关系ID
        example: '1234567890987654321'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_type:
                  type: string
                  description: 文档类型
                  enum:
                  - doc
                  - docx
                  - wiki
                  x-enum-descriptions:
                    doc: 旧版文档
                    docx: 新版文档
                    wiki: 云空间
                  example: doc
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      subscription_id:
                        type: string
                        description: 订阅关系ID
                        example: '1234567890987654321'
                      subscription_type:
                        type: string
                        description: 订阅类型
                        enum:
                        - comment_update
                        x-enum-descriptions:
                          comment_update: 评论更新
                        example: comment_update
                      is_subcribe:
                        type: boolean
                        description: 是否订阅
                        example: 'true'
                      file_type:
                        type: string
                        description: 文档类型
                        enum:
                        - doc
                        - docx
                        - wiki
                        x-enum-descriptions:
                          doc: 旧版文档
                          docx: 新版文档
                          wiki: 知识库
                        example: docx
                    required:
                    - subscription_id
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - drive:drive
      - drive:drive:readonly
      - docs:document.subscription:read
      x-lark-error-mappings:
      - code: 1064000
        httpCode: 400
        msg: Illegal parameter
      - code: 1064030
        httpCode: 403
        msg: Permission denied
      - code: 1064040
        httpCode: 404
        msg: Token not exist
      - code: 1065000
        httpCode: 500
        msg: Internal Server Error
      x-lark-rate-limit:
        tier: 4
    patch:
      operationId: drive_file_subscription_patch
      summary: 更新订阅状态
      tags:
      - file.subscription
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-subscription/patch
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档token
        example: doxcnxxxxxxxxxxxxxxxxxxxxxx
      - name: subscription_id
        in: path
        required: true
        schema:
          type: string
        description: 订阅关系ID
        example: '1234567890987654321'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_subscribe:
                  type: boolean
                  description: 是否订阅
                  example: 'true'
                file_type:
                  type: string
                  description: 文档类型
                  enum:
                  - doc
                  - docx
                  - wiki
                  x-enum-descriptions:
                    doc: 文档1.0
                    docx: 文档2.0
                    wiki: 知识库wiki
                  example: doc
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema6'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - drive:drive
      - drive:drive:readonly
      - docs:document.subscription
      x-lark-error-mappings:
      - code: 1064000
        httpCode: 400
        msg: Illegal parameter
      - code: 1064030
        httpCode: 403
        msg: Permission denied
      - code: 1064040
        httpCode: 404
        msg: Token not exist
      - code: 1065000
        httpCode: 500
        msg: Internal Server Error
      x-lark-rate-limit:
        tier: 4
  /open-apis/drive/v1/files/{file_token}/versions:
    post:
      operationId: drive_file_version_create
      summary: 创建文档版本
      tags:
      - file.version
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-version/create
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 源文档token
        example: doxbcyvqZlSc9WlHvQMlSJwUrsb
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id:
                  type: string
                  description: 版本文档所有者id
                  example: '694699009591869450'
                obj_type:
                  type: string
                  description: 版本文档类型
                  enum:
                  - docx
                  - sheet
                  x-enum-descriptions:
                    docx: 新版文档
                    sheet: 电子表格
                  example: docx
                parent_type:
                  type: string
                  description: 源文档类型
                  enum:
                  - docx
                  - sheet
                  x-enum-descriptions:
                    docx: 新版文档
                    sheet: 电子表格
                  example: docx
                name:
                  type: string
                  description: 版本文档标题，最大长度 1024 个Unicode 码点。通常情况下，一个英文或中文字符对应一个码点，但是某些特殊符号可能会对应多个码点。例如，家庭组合「????‍????‍????」这个表情符号对应5个码点。
                  example: 文档标题
                parent_token:
                  type: string
                  description: 源文档token
                  example: doxcnMycg4ryxQofSeoKkJuXYOb
                creator_id:
                  type: string
                  description: 版本文档创建者id
                  example: '694699009591869451'
                create_time:
                  type: string
                  description: 版本文档创建时间
                  example: '1660708537'
                  format: int64
                update_time:
                  type: string
                  description: 版本文档更新时间
                  example: '1660708537'
                  format: int64
                status:
                  type: string
                  description: 版本文档状态
                  enum:
                  - '0'
                  - '1'
                  - '2'
                  x-enum-descriptions:
                    '0': 正常状态
                    '1': 删除状态
                    '2': 回收站状态
                  example: 0，1，2
                version:
                  type: string
                  description: 版本文档版本号
                  example: version1
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema5'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive:version
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1068400
        httpCode: 400
        msg: has no permission，please apply the file permission of reading or edition
      - code: 1068401
        httpCode: 400
        msg: review no pass, the title has illegal content
      - code: 1068404
        httpCode: 404
        msg: parent file  does not exist, Please check the file status
      - code: 1068410
        httpCode: 400
        msg: params error, param [file_token] is wrong
      - code: 1068411
        httpCode: 400
        msg: params error, param [obj_type] is wrong
      - code: 1068425
        httpCode: 400
        msg: request failed, please contact the engineer-https://applink.feishu.cn/TLJsX982
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: drive_file_version_list
      summary: 获取文档版本列表
      tags:
      - file.version
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-version/list
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 源文档token
        example: doxcnVLj4Ln40vYozS8IcrmiT4g
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
        description: 分页大小
        example: '20'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '""'
      - name: obj_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - docx
          - sheet
          x-enum-descriptions:
            docx: 新版文档
            sheet: 电子表格
        description: 原文档类型
        example: docx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: 用户open_id
            union_id: 用户union_id
            user_id: 用户user_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户id类型
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Data2'
                        description: 版本文档列表
                      page_token:
                        type: string
                        description: 下一页请求token
                        example: 1678783386--0
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                        example: 'false'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive:version
      - drive:drive:version:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1068400
        httpCode: 403
        msg: has no permission，please apply the file permission of reading or edition
      - code: 1068401
        httpCode: 400
        msg: review no pass, the title has illegal content
      - code: 1068404
        httpCode: 404
        msg: parent file  does not exist, Please check the file status
      - code: 1068410
        httpCode: 400
        msg: params error, param [file_token] is wrong
      - code: 1068411
        httpCode: 400
        msg: params error, param [obj_type] is wrong
      - code: 1068425
        httpCode: 400
        msg: request failed, please contact the engineer-https://applink.feishu.cn/TLJsX982
      - code: 1068412
        httpCode: 400
        msg: params error, param [obj_type] is wrong
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/drive/v1/files/{file_token}/versions/{version_id}:
    delete:
      operationId: drive_file_version_delete
      summary: 删除文档版本
      tags:
      - file.version
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-version/delete
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 版本文档token
        example: doxbcyvqZlSc9WlHvQMlSJwUrsb
      - name: version_id
        in: path
        required: true
        schema:
          type: string
        description: 版本文档版本号
        example: file_version
      - name: obj_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - docx
          - sheet
          x-enum-descriptions:
            docx: 新版文档
            sheet: 电子表格
        description: 文档类型
        example: docx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: 用户open_id
            union_id: 用户union_id
            user_id: 用户user_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户ID类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive:version
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1068400
        httpCode: 403
        msg: has no permission，please apply the file permission of reading or edition
      - code: 1068403
        httpCode: 404
        msg: file  does not exist, please check the file status
      - code: 1068404
        httpCode: 404
        msg: parent file  does not exist, Please check the file status
      - code: 1068410
        httpCode: 400
        msg: params error, param [file_token] is wrong
      - code: 1068411
        httpCode: 400
        msg: params error, param [version_id] is wrong
      - code: 1068425
        httpCode: 400
        msg: request failed, please contact the engineer-https://applink.feishu.cn/TLJsX982
      - code: 1068412
        httpCode: 400
        msg: params error, param [obj_type] is wrong
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: drive_file_version_get
      summary: 获取文档版本信息
      tags:
      - file.version
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-version/get
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 源文档token
        example: shtbcqqoXZJaKYrfN5IHQg4sVFZ
      - name: version_id
        in: path
        required: true
        schema:
          type: string
        description: 版本文档版本号
        example: file_version
      - name: obj_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - docx
          - sheet
          x-enum-descriptions:
            docx: 新版文档
            sheet: 电子表格
        description: 文档类型
        example: docx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: 用户open_id
            union_id: 用户union_id
            user_id: 用户user_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户ID类型
      - name: page_token
        in: query
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema5'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive:version:readonly
      - drive:drive:version
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1068400
        httpCode: 403
        msg: has no permission，please apply the file permission of reading or edition
      - code: 1068404
        httpCode: 404
        msg: parent file  does not exist, Please check the file status
      - code: 1068410
        httpCode: 400
        msg: params error, param [file_token] is wrong
      - code: 1068411
        httpCode: 400
        msg: params error, param [version_id] is wrong
      - code: 1068412
        httpCode: 400
        msg: params error, param [obj_type] is wrong
      - code: 1068425
        httpCode: 400
        msg: request failed, please contact the engineer-https://applink.feishu.cn/TLJsX982
      - code: 1068403
        httpCode: 404
        msg: file  does not exist, please check the file status
      x-lark-rate-limit:
        tier: 4
  /open-apis/drive/v1/files/{file_token}/view_records:
    get:
      operationId: drive_file_view_record_list
      summary: 获取文件访问记录
      tags:
      - file.view_record
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file-view_record/list
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档 token
        example: XIHSdYSI7oMEU1xrsnxc8fabcef
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: 1674037112--7189934631754563585
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - bitable
          - mindnote
          - wiki
          - file
          x-enum-descriptions:
            doc: 旧版文档
            docx: 新版文档
            sheet: 电子表格
            bitable: 多维表格
            mindnote: 思维笔记
            wiki: 知识库文档
            file: 文件
        description: 文档类型
        example: docx
      - name: viewer_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
        description: 此次调用中使用的访问者 ID 的类型
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            viewer_id:
                              type: string
                              description: 访问者 ID
                              example: ou_cc19b2bfb93f8a44db4b4d6eababcef
                            name:
                              type: string
                              description: 访问者名称
                              example: zhangsan
                            avatar_url:
                              type: string
                              description: 访问者头像 URL
                              example: https://foo.icon.com/xxxx
                            last_view_time:
                              type: string
                              description: 最近访问时间，秒级时间戳
                              example: '1679284285'
                        description: 访问记录列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: 1674037112--7189934631754563585
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'true'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - contact:user.base:readonly
      - drive:file:view_record:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1069601
        httpCode: 500
        msg: server internal error
      - code: 1069602
        httpCode: 400
        msg: invalid param
      - code: 1069603
        httpCode: 403
        msg: forbidden
      - code: 1069604
        httpCode: 404
        msg: not found
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/drive/v1/files/{file_token}/copy:
    post:
      operationId: drive_file_copy
      summary: 复制文件
      tags:
      - file
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/copy
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 被复制的文件token
        example: Re40dxvwlo5YBvxseonbswTjclf
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 被复制文件的新名称
                  example: name
                type:
                  type: string
                  description: 被复制文件的类型，如果该值为空或者与文件实际类型不匹配，接口会返回失败。
                  enum:
                  - file
                  - doc
                  - sheet
                  - bitable
                  - docx
                  - mindnote
                  - slides
                  x-enum-descriptions:
                    file: 文件类型
                    doc: 云文档类型
                    sheet: 电子表格类型
                    bitable: 多维表格类型
                    docx: 新版云文档类型
                    mindnote: 思维笔记类型
                    slides: 幻灯片类型
                  example: file
                folder_token:
                  type: string
                  description: 文件被复制到的目标文件夹token
                  example: EdFJfo1SRlm3SadvL3xbvztQcqO
                extra:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: 自定义属性键对象
                      value:
                        type: string
                        description: 自定义属性值对象
                    required:
                    - key
                    - value
                  description: 用户自定义请求附加参数，用于实现特殊的复制语义
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      file:
                        allOf:
                        - $ref: '#/components/schemas/File'
                        description: 复制后的文件资源
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive
      - docs:document:copy
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1061001
        httpCode: 500
        msg: unknown error.
      - code: 1061002
        httpCode: 400
        msg: params error.
      - code: 1061003
        httpCode: 404
        msg: not found.
      - code: 1061004
        httpCode: 403
        msg: forbidden.
      - code: 1061005
        httpCode: 401
        msg: auth failed.
      - code: 1061007
        httpCode: 404
        msg: file has been delete.
      - code: 1061045
        httpCode: 400
        msg: resource contention occurred, please retry.
      - code: 1062507
        httpCode: 400
        msg: parent node out of sibling num.
      - code: 1064510
        httpCode: 403
        msg: cross tenant and unit not support.
      - code: 1064511
        httpCode: 403
        msg: cross brand not support.
      - code: 1061001
        httpCode: 500
        msg: unknown error.
      - code: 1061002
        httpCode: 400
        msg: params error.
      - code: 1061003
        httpCode: 404
        msg: not found.
      - code: 1061004
        httpCode: 403
        msg: forbidden.
      - code: 1061005
        httpCode: 401
        msg: auth failed.
      - code: 1061007
        httpCode: 404
        msg: file has been delete.
      - code: 1061045
        httpCode: 400
        msg: resource contention occurred, please retry.
      - code: 1062501
        httpCode: 403
        msg: operate node no permission.
      - code: 1062502
        httpCode: 403
        msg: operate sub node no permission.
      - code: 1062507
        httpCode: 400
        msg: parent node out of sibling num.
      - code: 1062524
        httpCode: 403
        msg: source parent no permission.
      - code: 1062535
        httpCode: 403
        msg: destination parent no permission.
      - code: 1064001
        httpCode: 400
        msg: page size out of limit.
      - code: 1064510
        httpCode: 403
        msg: cross tenant and unit not support.
      - code: 1064511
        httpCode: 403
        msg: cross brand not support.
      - code: 1065200
        httpCode: 404
        msg: source node not found.
      x-lark-rate-limit:
        tier: 0
  /open-apis/drive/v1/files/create_folder:
    post:
      operationId: drive_file_create_folder
      summary: 新建文件夹
      tags:
      - file
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/create_folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 文件夹名称
                  example: Personal Folder
                folder_token:
                  type: string
                  description: 父文件夹token
                  example: NSFhfiQbhlCb0qdiX0FcDGb1nmh
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: 新创建的文件夹 Token
                        example: VsGvfNmCAl5t13dISpwcGohNnzc
                      url:
                        type: string
                        description: 创建文件夹的访问 URL
                        example: https://example.feishu.cn/drive/folder/fldbcddUuPz8VwnpPx5oc2abcef
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive
      - space:folder:create
      x-lark-error-mappings:
      - code: 1061001
        httpCode: 500
        msg: unknown error.
      - code: 1061002
        httpCode: 400
        msg: params error.
      - code: 1061003
        httpCode: 404
        msg: not found.
      - code: 1061004
        httpCode: 403
        msg: forbidden.
      - code: 1061005
        httpCode: 401
        msg: auth failed.
      - code: 1061007
        httpCode: 404
        msg: file has been delete.
      - code: 1062507
        httpCode: 400
        msg: parent node out of sibling num.
      - code: 1061004
        httpCode: 403
        msg: forbidden.
      - code: 1061045
        httpCode: 400
        msg: resource contention occurred, please retry.
      - code: 1061001
        httpCode: 500
        msg: unknown error.
      - code: 1061002
        httpCode: 400
        msg: params error.
      - code: 1061003
        httpCode: 404
        msg: not found.
      - code: 1061004
        httpCode: 403
        msg: forbidden.
      - code: 1061005
        httpCode: 401
        msg: auth failed.
      - code: 1061007
        httpCode: 404
        msg: file has been delete.
      - code: 1061045
        httpCode: 400
        msg: resource contention occurred, please retry.
      - code: 1062501
        httpCode: 403
        msg: operate node no permission.
      - code: 1062502
        httpCode: 403
        msg: operate sub node no permission.
      - code: 1062507
        httpCode: 400
        msg: parent node out of sibling num.
      - code: 1062524
        httpCode: 403
        msg: source parent no permission.
      - code: 1062535
        httpCode: 403
        msg: destination parent no permission.
      - code: 1064001
        httpCode: 400
        msg: page size out of limit.
      - code: 1064510
        httpCode: 403
        msg: cross tenant and unit not support.
      - code: 1064511
        httpCode: 403
        msg: cross brand not support.
      - code: 1065200
        httpCode: 404
        msg: source node not found.
      x-lark-rate-limit:
        tier: 6
  /open-apis/drive/v1/files/create_shortcut:
    post:
      operationId: drive_file_create_shortcut
      summary: 创建文件快捷方式
      tags:
      - file
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/create_shortcut
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_token:
                  type: string
                  description: 创建快捷方式的目标父文件夹 token
                  example: fldbc5qgwyQnO0uedNllWuF3fAd
                refer_entity:
                  type: object
                  properties:
                    refer_token:
                      type: string
                      description: 快捷方式指向的文档token
                      example: doxbcGvhSVN0R6octqPwAEYNfFb
                    refer_type:
                      type: string
                      description: 快捷方式指向的文档类型
                      enum:
                      - file
                      - docx
                      - bitable
                      - doc
                      - sheet
                      - mindnote
                      - slides
                      x-enum-descriptions:
                        file: 普通文件类型
                        docx: 新版文档类型
                        bitable: 多维表格类型
                        doc: doc文档类型
                        sheet: 电子表格类型
                        mindnote: 思维笔记类型
                        slides: 幻灯片类型
                      example: doc
                  required:
                  - refer_token
                  - refer_type
                  description: 快捷方式映射到的文档和文件列表信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      succ_shortcut_node:
                        allOf:
                        - $ref: '#/components/schemas/File'
                        description: 返回创建成功的shortcut节点
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - drive:drive
      - space:document:shortcut
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1061001
        httpCode: 500
        msg: unknown error.
      - code: 1061002
        httpCode: 400
        msg: params error.
      - code: 1061003
        httpCode: 404
        msg: not found.
      - code: 1061004
        httpCode: 403
        msg: forbidden.
      - code: 1061005
        httpCode: 401
        msg: auth failed.
      - code: 1061007
        httpCode: 404
        msg: file has been delete.
      - code: 1062507
        httpCode: 400
        msg: parent node out of sibling num.
      - code: 1061004
        httpCode: 403
        msg: forbidden.
      - code: 1061045
        httpCode: 400
        msg: resource contention occurred, please retry.
      - code: 1064510
        httpCode: 403
        msg: cross tenant and unit not support.
      - code: 1064511
        httpCode: 403
        msg: cross brand not support.
      - code: 1061001
        httpCode: 500
        msg: unknown error.
      - code: 1061002
        httpCode: 400
        msg: params error.
      - code: 1061003
        httpCode: 404
        msg: not found.
      - code: 1061004
        httpCode: 403
        msg: forbidden.
      - code: 1061005
        httpCode: 401
        msg: auth failed.
      - code: 1061007
        httpCode: 404
        msg: file has been delete.
      - code: 1061045
        httpCode: 400
        msg: resource contention occurred, please retry.
      - code: 1062501
        httpCode: 403
        msg: operate node no permission.
      - code: 1062502
        httpCode: 403
        msg: operate sub node no permission.
      - code: 1062507
        httpCode: 400
        msg: parent node out of sibling num.
      - code: 1062524
        httpCode: 403
        msg: source parent no permission.
      - code: 1062535
        httpCode: 403
        msg: destination parent no permission.
      - code: 1064001
        httpCode: 400
        msg: page size out of limit.
      - code: 1064510
        httpCode: 403
        msg: cross tenant and unit not support.
      - code: 1064511
        httpCode: 403
        msg: cross brand not support.
      - code: 1065200
        httpCode: 404
        msg: source node not found.
      x-lark-rate-limit:
        tier: 6
  /open-apis/drive/v1/files/{file_token}:
    delete:
      operationId: drive_file_delete
      summary: 删除文件或文件夹
      tags:
      - file
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/delete
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 需要删除的文件token
        example: boxxxxxxx
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - file
          - docx
          - bitable
          - folder
          - doc
          - sheet
          - mindnote
          - shortcut
          - slides
          x-enum-descriptions:
            file: 文件类型
            docx: docx文档类型
            bitable: 多维表格类型
            folder: 文件夹类型
            doc: doc文档类型
            sheet: 电子表格类型
            mindnote: 思维笔记类型
            shortcut: 快捷方式类型
            slides: 幻灯片
        description: 被删除文件的类型
        example: file
      - name: async
        in: query
        required: false
        schema:
          type: boolean
        description: 是否异步删除，如果传true，则直接异步处理
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: 异步任务id，删除文件夹时返回
                        example: '12345'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive
      - space:document:delete
      x-lark-error-mappings:
      - code: 1061001
        httpCode: 400
        msg: unknown error.
      - code: 1061002
        httpCode: 400
        msg: params error.
      - code: 1061003
        httpCode: 404
        msg: not found.
      - code: 1061004
        httpCode: 403
        msg: forbidden.
      - code: 1061005
        httpCode: 401
        msg: auth failed.
      - code: 1061007
        httpCode: 404
        msg: file has been delete.
      - code: 1062501
        httpCode: 403
        msg: operate node no permission.
      - code: 1062502
        httpCode: 403
        msg: operate sub node no permission.
      - code: 1065200
        httpCode: 404
        msg: source node not found.
      - code: 1061001
        httpCode: 400
        msg: unknown error.
      - code: 1061002
        httpCode: 400
        msg: params error.
      - code: 1061003
        httpCode: 404
        msg: not found.
      - code: 1061004
        httpCode: 403
        msg: forbidden.
      - code: 1061005
        httpCode: 401
        msg: auth failed.
      - code: 1061007
        httpCode: 404
        msg: file has been delete.
      - code: 1061045
        httpCode: 400
        msg: resource contention occurred, please retry.
      - code: 1062501
        httpCode: 403
        msg: operate node no permission.
      - code: 1062502
        httpCode: 403
        msg: operate sub node no permission.
      - code: 1062507
        httpCode: 400
        msg: parent node out of sibling num.
      - code: 1062524
        httpCode: 403
        msg: source parent no permission.
      - code: 1062535
        httpCode: 403
        msg: destination parent no permission.
      - code: 1064001
        httpCode: 400
        msg: page size out of limit.
      - code: 1064510
        httpCode: 403
        msg: cross tenant and unit not support.
      - code: 1064511
        httpCode: 403
        msg: cross brand not support.
      - code: 1065200
        httpCode: 404
        msg: source node not found.
      x-lark-rate-limit:
        tier: 0
  /open-apis/drive/v1/files/{file_token}/delete_subscribe:
    delete:
      operationId: drive_file_delete_subscribe
      summary: 取消云文档事件订阅
      tags:
      - file
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/drive-v1/file/delete_subscribe
      parameters:
      - name: file_token
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档token
        example: shtcn8rdvNxPCQsQCXZyCkpdUxh
      - name: file_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - bitable
          - file
          - folder
          - slides
          x-enum-descriptions:
            doc: 文档
            docx: docx文档
            sheet: 表格
            bitable: 多维表格
            file: 文件
            folder: 文件夹
            slides: 幻灯片
        description: 文档类型
      - name: event_type
        in: query
        required: false
        schema:
          type: string
        description: 事件类型
        example: file.created_in_folder_v1
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      data:
                        type: string
                    required:
                    - data
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - drive:drive
      - docs:doc
      - sheets:spreadsheet
      - docs:event:subscribe
      x-lark-error-mappings:
      - code: 1069601
        httpCode: 500
        msg: fail
      - code: 1069602
        httpCode: 400
        msg: param error
      - code: 1069603
        httpCode: 403
        msg: forbidden
      - code: 1069604
        httpCode: 400
        msg: document not found
      - code: 1069605
        httpCode: 400
        msg: Unsubscribe
      - code: 1064230
        httpCode: 400
        msg: locked_for_data_migration
      x-lark-rate-limit:
        tier: 1
[...]
