# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · ehr API（全量）
  description: |-
    飞书开放平台 `ehr` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.0+a34b00aa
  x-lark-project: ehr
  x-lark-track: full (official API Explorer)
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: attachment
- name: employee
paths:
  /open-apis/ehr/v1/attachments/{token}:
    get:
      operationId: ehr_attachment_get
      summary: 下载人员的附件
      tags:
      - attachment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/ehr/ehr-v1/attachment/get
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: 文件 token
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - ehr:attachment:readonly
      x-lark-error-mappings:
      - code: 1241001
        httpCode: 500
        msg: 服务器内部错误
      - code: 1241002
        httpCode: 400
        msg: 请求参数错误
      - code: 1241003
        httpCode: 404
        msg: token 不存在或者已过期
      - code: 1241004
        httpCode: 400
        msg: 你的企业尚未开通智能人事。如需开通，请前往「飞书管理后台」启用智能人事
      x-lark-rate-limit:
        tier: 0
      x-lark-file-download: true
  /open-apis/ehr/v1/employees:
    get:
      operationId: ehr_employee_list
      summary: 批量获取员工花名册信息
      tags:
      - employee
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/ehr/ehr-v1/employee/list
      parameters:
      - name: view
        in: query
        required: false
        schema:
          type: string
          enum:
          - basic
          - full
          x-enum-descriptions:
            basic: 概览, 只返回 id、name 等基本信息
            full: 返回详细信息
        description: 返回数据类型
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            x-enum-descriptions:
              '1': 待入职
              '2': 在职
              '3': 已取消入职
              '4': 待离职
              '5': 已离职
        description: |-
          员工状态，不传代表查询所有员工状态

          实际在职 = 2&4

          可同时查询多个状态的记录，如 status=2&status=4
      - name: type
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            x-enum-descriptions:
              '1': 全职
              '2': 实习
              '3': 顾问
              '4': 外包
              '5': 劳务
        description: 雇员类型，不传代表查询所有雇员类型
      - name: start_time
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 查询开始时间（创建时间 &gt;= 此时间）
        example: '1608690517811'
      - name: end_time
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 查询结束时间（创建时间 &lt;= 此时间）
        example: '1608690517811'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: user_ids
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: |-
          user_id、open_id 或 union_id，默认为 open_id。

          如果传入的值不是 open_id，需要一并传入 user_id_type 参数。

          可一次查询多个 id 的用户，例如：user_ids=ou_8ebd4f35d7101ffdeb4771d7c8ec517e&user_ids=ou_7abc4f35d7101ffdeb4771dabcde

          [用户相关的 ID 概念](https://open.feishu.cn/document/home/user-identity-introduction/introduction)
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求可以不填，表示从头开始遍历；分页查询返回结果has_more 为 true 时会同时返回新的 page_token, 下次遍历可使用该返回的 page_token 获取更多信息。
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小，取值范围 1~100，默认 10
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: string
                              description: user_id转换
                            system_fields:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: 中文姓名
                                  example: 张三
                                en_name:
                                  type: string
                                  description: 英文姓名
                                  example: Tony Zhang
                                email:
                                  type: string
                                  description: 邮箱
                                  example: a@b.com
                                mobile:
                                  type: string
                                  description: 手机号码
                                  example: (+86) 13812345678
                                department_id:
                                  type: string
                                  description: 部门id
                                  example: od-4d551617a5da3cec26666d33175dc8ca
                                manager:
                                  type: object
                                  properties:
                                    user_id:
                                      type: string
                                    name:
                                      type: string
                                      example: 李四
                                    en_name:
                                      type: string
                                      example: Tom Li
                                  description: 上级
                                job:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      x-lark-original-type: int64
                                    name:
                                      type: string
                                  description: 职位
                                job_level:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      x-lark-original-type: int64
                                    name:
                                      type: string
                                  description: 职级
                                work_location:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      x-lark-original-type: int64
                                    name:
                                      type: string
                                  description: 工作地点
                                gender:
                                  type: integer
                                  description: 性别
                                  enum:
                                  - 1
                                  - 2
                                  x-enum-descriptions:
                                    '1': 男
                                    '2': 女
                                birthday:
                                  type: string
                                  description: 生日
                                  example: '2020-01-01'
                                native_region:
                                  type: object
                                  properties:
                                    iso_code:
                                      type: string
                                    name:
                                      type: string
                                      example: 北京
                                  description: 籍贯
                                ethnicity:
                                  type: integer
                                  description: 民族
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  - 5
                                  - 6
                                  - 7
                                  - 8
                                  - 9
                                  - 10
                                  - 11
                                  - 12
                                  - 13
                                  - 14
                                  - 15
                                  - 16
                                  - 17
                                  - 18
                                  - 19
                                  - 20
                                  - 21
                                  - 22
                                  - 23
                                  - 24
                                  - 25
                                  - 26
                                  - 27
                                  - 28
                                  - 29
                                  - 30
                                  - 31
                                  - 32
                                  - 33
                                  - 34
                                  - 35
                                  - 36
                                  - 37
                                  - 38
                                  - 39
                                  - 40
                                  - 41
                                  - 42
                                  - 43
                                  - 44
                                  - 45
                                  - 46
                                  - 47
                                  - 48
                                  - 49
                                  - 50
                                  - 51
                                  - 52
                                  - 53
                                  - 54
                                  - 55
                                  - 56
                                  - 57
                                  x-enum-descriptions:
                                    '1': 汉族
                                    '2': 蒙古族
                                    '3': 回族
                                    '4': 藏族
                                    '5': 维吾尔族
                                    '6': 苗族
                                    '7': 彝族
                                    '8': 壮族
                                    '9': 布依族
                                    '10': 朝鲜族
                                    '11': 满族
                                    '12': 侗族
                                    '13': 瑶族
                                    '14': 白族
                                    '15': 土家族
                                    '16': 哈尼族
                                    '17': 哈萨克族
                                    '18': 傣族
                                    '19': 黎族
                                    '20': 傈僳族
                                    '21': 佤族
                                    '22': 畲族
                                    '23': 高山族
                                    '24': 拉祜族
                                    '25': 水族
                                    '26': 东乡族
                                    '27': 纳西族
                                    '28': 景颇族
                                    '29': 阿昌族
                                    '30': 柯尔克孜族
                                    '31': 土族
                                    '32': 达斡尔族
                                    '33': 仫佬族
                                    '34': 羌族
                                    '35': 布朗族
                                    '36': 撒拉族
                                    '37': 毛南族
                                    '38': 仡佬族
                                    '39': 锡伯族
                                    '40': 普米族
                                    '41': 塔吉克族
                                    '42': 怒族
                                    '43': 乌孜别克族
                                    '44': 俄罗斯族
                                    '45': 鄂温克族
                                    '46': 德昂族
                                    '47': 保安族
                                    '48': 裕固族
                                    '49': 京族
                                    '50': 塔塔尔族
                                    '51': 独龙族
                                    '52': 鄂伦春族
                                    '53': 赫哲族
                                    '54': 门巴族
                                    '55': 珞巴族
                                    '56': 基诺族
                                    '57': 其他
                                marital_status:
                                  type: integer
                                  description: 婚姻状况
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  x-enum-descriptions:
                                    '1': 未婚
                                    '2': 已婚
                                    '3': 离异
                                    '4': 其他
                                political_status:
                                  type: integer
                                  description: 政治面貌
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  - 5
                                  - 6
                                  - 7
                                  - 8
                                  - 9
                                  - 10
                                  - 11
                                  - 12
                                  - 13
                                  x-enum-descriptions:
                                    '1': 中共党员
                                    '2': 中国农工民主党
                                    '3': 中国国民党革命委员会
                                    '4': 中国民主促进会会员
                                    '5': 中国民主同盟成员
                                    '6': 中国民主建国会
                                    '7': 中国致公党党员
                                    '8': 九三学社社员
                                    '9': 共青团员
                                    '10': 其它党派成员
                                    '11': 民主人士
                                    '12': 群众
                                    '13': 台湾民主自治同盟盟员
                                entered_workforce_date:
                                  type: string
                                  description: 参加工作日期
                                  example: '2020-01-01'
                                id_type:
                                  type: integer
                                  description: 证件类型
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  - 5
                                  x-enum-descriptions:
                                    '1': 居民身份证
                                    '2': 港澳居民来往内地通行证
                                    '3': 台湾居民来往大陆通行证
                                    '4': 护照
                                    '5': 其他
                                id_number:
                                  type: string
                                  description: 证件号
                                  example: 110122XXXXXX
                                hukou_type:
                                  type: integer
                                  description: 户口类型
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  x-enum-descriptions:
                                    '1': 本市城镇
                                    '2': 外埠城镇
                                    '3': 本市农村
                                    '4': 外埠农村
                                hukou_location:
                                  type: string
                                  description: 户口所在地
                                  example: 北京市海淀区XXXX
                                bank_account_number:
                                  type: string
                                  description: 银行卡号
                                  example: '1243253453'
                                bank_name:
                                  type: string
                                  description: 开户行
                                  example: 招商银行
                                social_security_account:
                                  type: string
                                  description: 社保账号
                                  example: '123124124'
                                provident_fund_account:
                                  type: string
                                  description: 公积金账号
                                  example: '123124235'
                                employee_no:
                                  type: string
                                  description: 工号
                                  example: TM-00001
                                employee_type:
                                  type: integer
                                  description: 雇员类型
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  - 5
                                  x-enum-descriptions:
                                    '1': 全职
                                    '2': 实习
                                    '3': 顾问
                                    '4': 外包
                                    '5': 劳务
                                status:
                                  type: integer
                                  description: 员工状态
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  - 5
                                  x-enum-descriptions:
                                    '1': 待入职
                                    '2': 在职
                                    '3': 已取消入职
                                    '4': 待离职
                                    '5': 已离职
                                hire_date:
                                  type: string
                                  description: 入职日期
                                  example: '2020-01-01'
                                probation_months:
                                  type: number
                                  description: 试用期（月）
                                  example: '2'
                                conversion_date:
                                  type: string
                                  description: 转正日期
                                  example: '2020-01-01'
                                application:
                                  type: integer
                                  description: 转正申请
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  x-enum-descriptions:
                                    '1': 未申请
                                    '2': 审批中
                                    '3': 被驳回
                                    '4': 已通过
                                application_status:
                                  type: integer
                                  description: 转正状态
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  x-enum-descriptions:
                                    '1': 无需转正
                                    '2': 待转正
                                    '3': 已转正
                                last_day:
                                  type: string
                                  description: 离职日期
                                  example: '2020-01-01'
                                departure_type:
                                  type: integer
                                  description: 离职类型
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  x-enum-descriptions:
                                    '1': 主动
                                    '2': 被动
                                    '3': 其他
                                departure_reason:
                                  type: integer
                                  description: 离职原因
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  - 5
                                  - 6
                                  - 7
                                  - 8
                                  - 9
                                  - 10
                                  - 11
                                  - 12
                                  - 13
                                  - 14
                                  - 15
                                  - 16
                                  - 17
                                  - 18
                                  - 19
                                  - 20
                                  - 21
                                  - 22
                                  - 23
                                  - 24
                                  - 25
                                  - 26
                                  x-enum-descriptions:
                                    '1': 身体、家庭原因
                                    '2': 职业发展
                                    '3': 薪资福利不满意
                                    '4': 工作压力大
                                    '5': 合同到期不续签
                                    '6': 其他
                                    '7': 无法胜任工作
                                    '8': 组织业务调整和岗位优化
                                    '9': 违反公司条例
                                    '10': 试用期未通过
                                    '11': 其他
                                    '12': 不满意工作内容
                                    '13': 不认可上级或管理层
                                    '14': 对公司文化缺乏认同
                                    '15': 组织架构调整（主动离职）
                                    '16': 跳槽
                                    '17': 转行
                                    '18': 家庭原因
                                    '19': 健康状况不佳
                                    '20': 工作地点原因
                                    '21': 意外
                                    '22': 身故
                                    '23': 解雇
                                    '24': 工作产出低
                                    '25': 违法
                                    '26': 其他（其他）
                                departure_notes:
                                  type: string
                                  description: 离职备注
                                  example: 世界那么大
                                contract_company:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      x-lark-original-type: int64
                                    name:
                                      type: string
                                  description: 合同公司
                                contract_type:
                                  type: integer
                                  description: 合同类型
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  - 5
                                  - 6
                                  - 7
                                  x-enum-descriptions:
                                    '1': 固定期限劳动合同
                                    '2': 无固定期限劳动合同
                                    '3': 实习协议
                                    '4': 外包协议
                                    '5': 劳务派遣合同
                                    '6': 返聘协议
                                    '7': 其他
                                contract_start_date:
                                  type: string
                                  description: 合同开始日期
                                  example: '2020-01-01'
                                contract_expiration_date:
                                  type: string
                                  description: 合同到期日期
                                  example: '2020-01-01'
                                contract_sign_times:
                                  type: integer
                                  description: 劳动合同签订次数
                                  example: '2'
                                personal_email:
                                  type: string
                                  description: 个人邮箱
                                  example: personal@email.com
                                family_address:
                                  type: string
                                  description: 家庭地址
                                  example: 北京市海淀区XXXXX
                                primary_emergency_contact:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    relationship:
                                      type: integer
                                      enum:
                                      - 1
                                      - 2
                                      - 3
                                      - 4
                                      - 5
                                      - 6
                                      x-enum-descriptions:
                                        '1': 父母
                                        '2': 配偶
                                        '3': 子女
                                        '4': 兄弟姐妹
                                        '5': 朋友
                                        '6': 其他
                                    mobile:
                                      type: string
                                      example: (+86) 13812345678
                                  description: 主要紧急联系人
                                emergency_contact:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      relationship:
                                        type: integer
                                        enum:
                                        - 1
                                        - 2
                                        - 3
                                        - 4
                                        - 5
                                        - 6
                                        x-enum-descriptions:
                                          '1': 父母
                                          '2': 配偶
                                          '3': 子女
                                          '4': 兄弟姐妹
                                          '5': 朋友
                                          '6': 其他
                                      mobile:
                                        type: string
                                        example: (+86) 13812345678
                                  description: 紧急联系人
                                highest_level_of_edu:
                                  allOf:
                                  - $ref: '#/components/schemas/HighestLevelOfEdu'
                                  description: 最高学历
                                education:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/HighestLevelOfEdu'
                                  description: 教育经历
                                former_work_exp:
                                  type: object
                                  properties:
                                    company:
                                      type: string
                                      example: XXXX公司
                                    department:
                                      type: string
                                      example: 部门1
                                    job:
                                      type: string
                                      example: 职位
                                    start:
                                      type: string
                                      example: '2020-01-01'
                                    end:
                                      type: string
                                      example: '2020-01-01'
                                    description:
                                      type: string
                                      example: 工作描述
                                  description: 前工作经历
                                work_exp:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      company:
                                        type: string
                                        example: XXXX公司
                                      department:
                                        type: string
                                        example: 部门1
                                      job:
                                        type: string
                                        example: 职位
                                      start:
                                        type: string
                                        example: '2020-01-01'
                                      end:
                                        type: string
                                        example: '2020-01-01'
                                      description:
                                        type: string
                                        example: 工作描述
                                  description: 工作经历
                                id_photo_po_side:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: 下载文件所需要的token
                                      mime_type:
                                        type: string
                                        example: png
                                      name:
                                        type: string
                                        example: Custom Code.png
                                      size:
                                        type: string
                                        x-lark-original-type: int64
                                  description: 身份证照片（人像面）
                                id_photo_em_side:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: 下载文件所需要的token
                                      mime_type:
                                        type: string
                                        example: png
                                      name:
                                        type: string
                                        example: Custom Code.png
                                      size:
                                        type: string
                                        x-lark-original-type: int64
                                  description: 身份证照片（国徽面）
                                id_photo:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: 下载文件所需要的token
                                      mime_type:
                                        type: string
                                        example: png
                                      name:
                                        type: string
                                        example: Custom Code.png
                                      size:
                                        type: string
                                        x-lark-original-type: int64
                                  description: 证件照
                                diploma_photo:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: 下载文件所需要的token
                                      mime_type:
                                        type: string
                                        example: png
                                      name:
                                        type: string
                                        example: Custom Code.png
                                      size:
                                        type: string
                                        x-lark-original-type: int64
                                  description: 学位证书
                                graduation_cert:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: 下载文件所需要的token
                                      mime_type:
                                        type: string
                                        example: png
                                      name:
                                        type: string
                                        example: Custom Code.png
                                      size:
                                        type: string
                                        x-lark-original-type: int64
                                  description: 毕业证书
                                cert_of_merit:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: 下载文件所需要的token
                                      mime_type:
                                        type: string
                                        example: png
                                      name:
                                        type: string
                                        example: Custom Code.png
                                      size:
                                        type: string
                                        x-lark-original-type: int64
                                  description: 奖励证明
                                offboarding_file:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: 下载文件所需要的token
                                      mime_type:
                                        type: string
                                        example: png
                                      name:
                                        type: string
                                        example: Custom Code.png
                                      size:
                                        type: string
                                        x-lark-original-type: int64
                                  description: 离职证明
                                cancel_onboarding_reason:
                                  type: integer
                                  description: 取消入职原因
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  x-enum-descriptions:
                                    '1': 个人原因
                                    '2': 原单位留任
                                    '3': 接受其他 Offer
                                    '4': 其他
                                cancel_onboarding_notes:
                                  type: string
                                  description: 取消入职备注
                                  example: 个人原因
                                employee_form_status:
                                  type: integer
                                  description: 入职登记表状态
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  x-enum-descriptions:
                                    '1': 未发送
                                    '2': 待提交
                                    '3': 已提交
                                create_time:
                                  type: string
                                  x-lark-original-type: int64
                                  description: 创建时间
                                  example: '1608690517811'
                                update_time:
                                  type: string
                                  x-lark-original-type: int64
                                  description: 更新时间
                                  example: '1608690517811'
                              description: 系统字段
                            custom_fields:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    example: field_xxxxxxxx
                                  label:
                                    type: string
                                    example: 自定义字段 1
                                  type:
                                    type: string
                                    enum:
                                    - text
                                    - date
                                    - option
                                    - file
                                    x-enum-descriptions:
                                      text: 文本xxx
                                      date: '2020-01-01'
                                      option: '{"key": "option_xxxx", "value": "选项一"}'
                                      file: '[{"id": "token_value", "name": "file_name", "size": 10240, "mime_type": "png"}]'
                                  value:
                                    type: string
                                    description: 根据type不同，结构不同，不同type对应的数据结构在type的枚举值中有描述
                              description: 自定义字段
                      page_token:
                        type: string
                        description: 下次请求需要带上的分页标记
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - ehr:employee:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1241001
        httpCode: 500
        msg: 服务器内部错误
      - code: 1241002
        httpCode: 400
        msg: 请求参数错误
      - code: 1241004
        httpCode: 400
        msg: 你的企业尚未开通智能人事。如需开通，请前往「飞书管理后台」启用智能人事
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_ids
        section: 2
components:
  schemas:
    HighestLevelOfEdu:
      type: object
      properties:
        level:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          x-enum-descriptions:
            '1': 小学
            '2': 初中
            '3': 高中
            '4': 职业高级中学
            '5': 中等专业学校
            '6': 大专
            '7': 本科
            '8': 硕士
            '9': 博士
        school:
          type: string
          example: XXXX大学
        major:
          type: string
          example: XXX专业
        degree:
          type: integer
          enum:
          - 1
          - 2
          - 3
          x-enum-descriptions:
            '1': 学士
            '2': 硕士
            '3': 博士
        start:
          type: string
          example: '2020-01-01'
        end:
          type: string
          example: '2020-01-01'
      description: 最高学历
