# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · event API（全量）
  description: |-
    飞书开放平台 `event` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:22:04Z'
  x-lark-project: event
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:22:04Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: connection
- name: outbound_ip
paths:
  /open-apis/event/v1/connection:
    get:
      operationId: event_connection_get
      summary: 获取长连接在线数量
      tags:
      - connection
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uYDNxYjL2QTM24iN0EjN/event-v1/connection/get
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      online_instance_cnt:
                        type: integer
                        description: 应用长连接数量
                        example: '10'
      x-lark-access-tokens:
      - tenant
      x-lark-error-mappings:
      - code: 1810001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 7
  /open-apis/event/v1/outbound_ip:
    get:
      operationId: event_outbound_ip_list
      summary: 获取事件出口 IP
      tags:
      - outbound_ip
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uYDNxYjL2QTM24iN0EjN/event-v1/outbound_ip/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 分页大小，默认10，取值范围 10-50
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: AQD9/Rn9eij9Pm39ED40/dk53s4Ebp882DYfFaPFbz00L4CMZJrqGdzNyc8BcZtDbwVUvRmQTvyMYicnGWrde9X56TgdBuS+JKiSIkdexPw=
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      ip_list:
                        type: array
                        items:
                          type: string
                        description: outbound ip
                        example: 1.1.1.1
                      page_token:
                        type: string
                        description: 分页下次调用的page_token值
                      has_more:
                        type: boolean
                        description: 是否还有分页数据
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - event:ip_list
      x-lark-error-mappings:
      - code: 1810001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 1
      x-lark-pagination: true
