# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · helpdesk API（全量）
  description: |-
    飞书开放平台 `helpdesk` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:22:04Z'
  x-lark-project: helpdesk
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:22:04Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: agent.schedules
- name: agent
- name: agent_schedule
- name: agent_skill
- name: agent_skill_rule
- name: bot.message
- name: category
- name: event
- name: faq
- name: notification
- name: ticket.message
- name: ticket
- name: ticket_customized_field
paths:
  /open-apis/helpdesk/v1/agents/{agent_id}/schedules:
    delete:
      operationId: helpdesk_agent_schedules_delete
      summary: 删除客服工作日程
      tags:
      - agent.schedules
      description: delete schedule of agent for the helpdesk
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent-schedules/delete
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: agent user id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
    get:
      operationId: helpdesk_agent_schedules_get
      summary: 查询指定客服工作日程
      tags:
      - agent.schedules
      description: get schedule of an agent
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent-schedules/get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: 客服 id
        example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      agent_schedule:
                        type: object
                        properties:
                          status:
                            type: integer
                            description: status of agent
                          agent:
                            type: object
                            properties:
                              id:
                                type: string
                                description: user id
                              avatar_url:
                                type: string
                                description: user avartal url
                              name:
                                type: string
                                description: user name
                              email:
                                type: string
                                description: user email
                              department:
                                type: string
                                description: user department
                              company_name:
                                type: string
                                description: company
                            description: agent info
                          schedule:
                            type: array
                            items:
                              type: object
                              properties:
                                start_time:
                                  type: string
                                  description: 开始时间, format 00:00 - 23:59
                                end_time:
                                  type: string
                                  description: 结束时间, format 00:00 - 23:59
                                weekday:
                                  type: integer
                                  description: 星期几, 1 - Monday, 2 - Tuesday, 3 - Wednesday, 4 - Thursday, 5 - Friday, 6 -
                                    Saturday, 7 - Sunday, 9 - Everday, 10 - Weekday, 11 - Weekend
                            description: day schedule
                          agent_skills:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: skill id
                                name:
                                  type: string
                                  description: name of agent skill
                                is_default:
                                  type: boolean
                                  description: is default group type
                            description: agent skills
                        description: schedules of an agent
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
    patch:
      operationId: helpdesk_agent_schedules_patch
      summary: 更新客服工作日程
      tags:
      - agent.schedules
      description: update existing agent schedule
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent-schedules/patch
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: 客服 id
        example: '1'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_schedule:
                  type: object
                  properties:
                    schedule:
                      type: array
                      items:
                        type: object
                        properties:
                          start_time:
                            type: string
                            description: 开始时间, format 00:00 - 23:59
                          end_time:
                            type: string
                            description: 结束时间, format 00:00 - 23:59
                          weekday:
                            type: integer
                            description: 星期几, 1 - Monday, 2 - Tuesday, 3 - Wednesday, 4 - Thursday, 5 - Friday, 6 - Saturday,
                              7 - Sunday, 9 - Everday, 10 - Weekday, 11 - Weekend
                      description: schedule listing
                    agent_skill_ids:
                      type: array
                      items:
                        type: string
                      description: skill ids
                  description: 工作日程列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
  /open-apis/helpdesk/v1/agent_emails:
    get:
      operationId: helpdesk_agent_agent_email
      summary: 获取客服邮箱
      tags:
      - agent
      description: get agent emails
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent/agent_email
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      agents:
                        type: string
                        description: agent emails
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154001
        httpCode: 401
        msg: Unauthorized, please check you have the correct access
      - code: 154004
        httpCode: 404
        msg: Resource not found
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
  /open-apis/helpdesk/v1/agents/{agent_id}:
    patch:
      operationId: helpdesk_agent_patch
      summary: 更新客服信息
      tags:
      - agent
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent/patch
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: 客服id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: agent status
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 150001
        httpCode: 400
        msg: param is invalis
      x-lark-rate-limit:
        tier: 3
  /open-apis/helpdesk/v1/agent_schedules:
    post:
      operationId: helpdesk_agent_schedule_create
      summary: 创建客服工作日程
      tags:
      - agent_schedule
      description: create agent schedules
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent_schedule/create
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_schedules:
                  type: array
                  items:
                    type: object
                    properties:
                      agent_id:
                        type: string
                        description: agent id
                      schedule:
                        type: array
                        items:
                          type: object
                          properties:
                            start_time:
                              type: string
                              description: 开始时间, format 00:00 - 23:59
                            end_time:
                              type: string
                              description: 结束时间, format 00:00 - 23:59
                            weekday:
                              type: integer
                              description: 星期几, 1 - Monday, 2 - Tuesday, 3 - Wednesday, 4 - Thursday, 5 - Friday, 6 - Saturday,
                                7 - Sunday, 9 - Everday, 10 - Weekday, 11 - Weekend
                        description: schedule listing
                      agent_skill_ids:
                        type: array
                        items:
                          type: string
                        description: skill ids
                  description: 新客服日程
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
    get:
      operationId: helpdesk_agent_schedule_list
      summary: 查询全部客服工作日程
      tags:
      - agent_schedule
      description: list all agent schedule of helpdesk
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent_schedule/list
      parameters:
      - name: status
        in: query
        required: true
        schema:
          type: array
          items:
            type: integer
        description: 筛选条件, 1 - online客服, 2 - offline(手动)客服, 3 - off duty(下班)客服, 4 - 移除客服
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      agent_schedules:
                        type: array
                        items:
                          type: object
                          properties:
                            status:
                              type: integer
                              description: status of agent
                            agent:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: user id
                                avatar_url:
                                  type: string
                                  description: user avartal url
                                name:
                                  type: string
                                  description: user name
                                email:
                                  type: string
                                  description: user email
                                department:
                                  type: string
                                  description: user department
                                company_name:
                                  type: string
                                  description: company
                              description: agent info
                            schedule:
                              type: array
                              items:
                                type: object
                                properties:
                                  start_time:
                                    type: string
                                    description: 开始时间, format 00:00 - 23:59
                                  end_time:
                                    type: string
                                    description: 结束时间, format 00:00 - 23:59
                                  weekday:
                                    type: integer
                                    description: 星期几, 1 - Monday, 2 - Tuesday, 3 - Wednesday, 4 - Thursday, 5 - Friday, 6
                                      - Saturday, 7 - Sunday, 9 - Everday, 10 - Weekday, 11 - Weekend
                              description: day schedule
                            agent_skills:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: skill id
                                  name:
                                    type: string
                                    description: name of agent skill
                                  is_default:
                                    type: boolean
                                    description: is default group type
                              description: agent skills
                        description: schedule of all agent
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
  /open-apis/helpdesk/v1/agent_skills:
    post:
      operationId: helpdesk_agent_skill_create
      summary: 创建客服技能
      tags:
      - agent_skill
      description: create agent skill
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent_skill/create
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 技能名
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: attribute id
                      selected_operator:
                        type: integer
                        description: selected operator, 2 for GreaterEqual, 3 for LessEqual, 4 for RangeValue, 5 for In, 6
                          for NotIn, 7 for MultiSelectExcludeAll, 8 for MultiSelectContainAny, 9 for ContainAny, 10 for ExcludeAll,
                          11 for ContainAll, 12 for MultiSelectContainAll
                      operand:
                        type: string
                        description: operand value based on selected_operator
                      category:
                        type: integer
                        description: 1 for FAQ, 2 for Ticket, 3 for User, 4 for PreInquiryForm
                  description: 技能rules
                agent_ids:
                  type: array
                  items:
                    type: string
                  description: 客服 ids
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      agent_skill_id:
                        type: string
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
    get:
      operationId: helpdesk_agent_skill_list
      summary: 查询全部客服技能
      tags:
      - agent_skill
      description: list all agent groups of helpdesk
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent_skill/list
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      agent_skills:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: skill id
                            name:
                              type: string
                              description: name of agent skill
                            agent_ids:
                              type: array
                              items:
                                type: string
                              description: agent ids in this group
                            is_default:
                              type: boolean
                              description: is default group type
                            agent_skill_id:
                              type: string
                              description: agent skill id
                        description: list of agent groups
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      - code: 154001
        httpCode: 401
        msg: Failed to verify. Please log in again and retry
      x-lark-rate-limit:
        tier: 0
  /open-apis/helpdesk/v1/agent_skills/{agent_skill_id}:
    delete:
      operationId: helpdesk_agent_skill_delete
      summary: 删除客服技能
      tags:
      - agent_skill
      description: delete agent skill
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent_skill/delete
      parameters:
      - name: agent_skill_id
        in: path
        required: true
        schema:
          type: string
        description: agent group id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
    get:
      operationId: helpdesk_agent_skill_get
      summary: 查询指定客服技能
      tags:
      - agent_skill
      description: get agent skill
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent_skill/get
      parameters:
      - name: agent_skill_id
        in: path
        required: true
        schema:
          type: string
        description: agent skill id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      agent_skill:
                        type: object
                        properties:
                          id:
                            type: string
                            description: skill id
                          name:
                            type: string
                            description: name of agent skill
                          rules:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: attribute id
                                selected_operator:
                                  type: integer
                                  description: selected operator, 2 for GreaterEqual, 3 for LessEqual, 4 for RangeValue, 5
                                    for In, 6 for NotIn, 7 for MultiSelectExcludeAll, 8 for MultiSelectContainAny, 9 for ContainAny,
                                    10 for ExcludeAll, 11 for ContainAll, 12 for MultiSelectContainAll
                                operator_options:
                                  type: array
                                  items:
                                    type: integer
                                  description: options for operator
                                operand:
                                  type: string
                                  description: operand value based on selected_operator
                                category:
                                  type: integer
                                  description: 1 for FAQ, 2 for Ticket, 3 for User, 4 for PreInquiryForm
                                display_name:
                                  type: string
                                  description: rule 名
                            description: rules for group
                          agent_ids:
                            type: array
                            items:
                              type: string
                            description: agent ids in this group
                          is_default:
                            type: boolean
                            description: is default group type
                          agents:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: user id
                                avatar_url:
                                  type: string
                                  description: user avatar url
                                name:
                                  type: string
                                  description: user name
                            description: agents info in this group
                          agent_skill_id:
                            type: string
                            description: agent skill id
                        description: agent skill
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
    patch:
      operationId: helpdesk_agent_skill_patch
      summary: 更新客服技能
      tags:
      - agent_skill
      description: update existing agent skill
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent_skill/patch
      parameters:
      - name: agent_skill_id
        in: path
        required: true
        schema:
          type: string
        description: agent skill id
        example: '1'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_skill:
                  type: object
                  properties:
                    name:
                      type: string
                      description: name of agent skill
                    rules:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: attribute id
                          selected_operator:
                            type: integer
                            description: selected operator, 2 for GreaterEqual, 3 for LessEqual, 4 for RangeValue, 5 for In,
                              6 for NotIn, 7 for MultiSelectExcludeAll, 8 for MultiSelectContainAny, 9 for ContainAny, 10
                              for ExcludeAll, 11 for ContainAll, 12 for MultiSelectContainAll
                          operator_options:
                            type: array
                            items:
                              type: integer
                            description: options for operator
                          operand:
                            type: string
                            description: operand value based on selected_operator
                      description: rules for group
                    agent_ids:
                      type: array
                      items:
                        type: string
                      description: agent ids in this group
                    agent_skill_id:
                      type: string
                      description: agent skill id
                  description: 更新技能
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
  /open-apis/helpdesk/v1/agent_skill_rules:
    get:
      operationId: helpdesk_agent_skill_rule_list
      summary: 获取客服技能列表
      tags:
      - agent_skill_rule
      description: list agent skill rules
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/agent_skill_rule/list
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      rules:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: attribute id
                            operator_options:
                              type: array
                              items:
                                type: integer
                              description: options for operator
                            operand:
                              type: string
                              description: operand value based on selected_operator
                            category:
                              type: integer
                              description: 1 for FAQ, 2 for Ticket, 3 for User, 4 for PreInquiryForm
                            display_name:
                              type: string
                              description: rule 名
                        description: all rules for agent skill
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
  /open-apis/helpdesk/v1/message:
    post:
      operationId: helpdesk_bot_message_create
      summary: 服务台机器人向工单绑定的群内发送消息
      tags:
      - bot.message
      description: send message via helpdesk bot
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/bot-message/create
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                msg_type:
                  type: string
                  description: 消息类型
                  enum:
                  - text
                  - post
                  - image
                  - interactive
                  x-enum-descriptions:
                    text: 普通文本
                    post: 富文本
                    image: 图片
                    interactive: 卡片消息
                  example: post
                content:
                  type: string
                  description: 消息内容
                  example: '{"text":"Tom test content"}'
                receiver_id:
                  type: string
                  description: 接收消息用户id
                  example: ou_7346484524
                receive_type:
                  type: string
                  description: 接收消息方式，chat(服务台专属服务群)或user(服务台机器人私聊)。若选择专属服务群，用户有正在处理的工单将会发送失败。默认以chat方式发送。
                  enum:
                  - chat
                  - user
                  x-enum-descriptions:
                    chat: 通过服务台专属群发送
                    user: 通过服务台机器人私聊发送
                  example: chat
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      message_id:
                        type: string
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: ''
      - code: 154001
        httpCode: 401
        msg: ''
      - code: 154003
        httpCode: 403
        msg: ''
      - code: 154004
        httpCode: 404
        msg: ''
      - code: 154005
        httpCode: 405
        msg: ''
      - code: 155000
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.receiver_id
        section: 0
  /open-apis/helpdesk/v1/categories:
    post:
      operationId: helpdesk_category_create
      summary: 创建知识库分类
      tags:
      - category
      description: create category
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/category/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: category name
                parent_id:
                  type: string
                  description: parent category id, if any
                language:
                  type: string
                  description: category language
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      category:
                        type: object
                        properties:
                          category_id:
                            type: string
                            description: category id
                          id:
                            type: string
                            description: category id, for backward compatibility
                          name:
                            type: string
                            description: category name
                          parent_id:
                            type: string
                            description: parent category id, if any
                          helpdesk_id:
                            type: string
                            description: helpdesk id
                          language:
                            type: string
                            description: category language
                        required:
                        - category_id
                        - id
                        - name
                        - parent_id
                        - helpdesk_id
                        description: category
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154001
        httpCode: 401
        msg: Unauthorized, please check you have the correct access
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 154004
        httpCode: 404
        msg: Parent category not found
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 6
    get:
      operationId: helpdesk_category_list
      summary: 获取全部知识库分类
      tags:
      - category
      description: list all categories
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/category/list-categories
      parameters:
      - name: lang
        in: query
        required: false
        schema:
          type: string
        description: 知识库分类语言
      - name: order_by
        in: query
        required: false
        schema:
          type: integer
        description: '排序键。1: 根据知识库分类更新时间排序'
      - name: asc
        in: query
        required: false
        schema:
          type: boolean
        description: '顺序。true: 正序；false：反序'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      categories:
                        type: array
                        items:
                          type: object
                          properties:
                            category_id:
                              type: string
                              description: category id
                            id:
                              type: string
                              description: category id, for backward compatibility
                            name:
                              type: string
                              description: category name
                            parent_id:
                              type: string
                              description: parent category id, if any
                            helpdesk_id:
                              type: string
                              description: helpdesk id
                            language:
                              type: string
                              description: category language
                          required:
                          - category_id
                          - id
                          - name
                          - parent_id
                          - helpdesk_id
                        description: list of categories
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154001
        httpCode: 401
        msg: Unauthorized, please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
  /open-apis/helpdesk/v1/categories/{id}:
    delete:
      operationId: helpdesk_category_delete
      summary: 删除知识库分类详情
      tags:
      - category
      description: delete category
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/category/delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 知识库分类ID
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154001
        httpCode: 401
        msg: Unauthorized, please check you have the correct access
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
    get:
      operationId: helpdesk_category_get
      summary: 获取知识库分类
      tags:
      - category
      description: get category
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/category/get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 知识库分类ID
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      category_id:
                        type: string
                        description: category id
                      id:
                        type: string
                        description: category id, for backward compatibility
                      name:
                        type: string
                        description: category name
                      helpdesk_id:
                        type: string
                        description: helpdesk id
                      language:
                        type: string
                        description: category language
                    required:
                    - category_id
                    - id
                    - name
                    - helpdesk_id
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154001
        httpCode: 401
        msg: Unauthorized, please check you have the correct access
      - code: 154004
        httpCode: 404
        msg: Resource not found
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
    patch:
      operationId: helpdesk_category_patch
      summary: 更新知识库分类详情
      tags:
      - category
      description: update category
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/category/patch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: category id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: category name
                parent_id:
                  type: string
                  description: parent category id, if any
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154001
        httpCode: 401
        msg: Unauthorized, please check you have the correct access
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
  /open-apis/helpdesk/v1/events/subscribe:
    post:
      operationId: helpdesk_event_subscribe
      summary: 订阅服务台事件
      tags:
      - event
      description: Subscribe helpdesk events
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/event/subscribe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                events:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: event type
                      subtype:
                        type: string
                        description: event subtype
                    required:
                    - type
                    - subtype
                  description: 可订阅的事件列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
  /open-apis/helpdesk/v1/events/unsubscribe:
    post:
      operationId: helpdesk_event_unsubscribe
      summary: 取消订阅服务台事件
      tags:
      - event
      description: Unsubscribe helpdesk events
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/event/unsubscribe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                events:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: event type
                      subtype:
                        type: string
                        description: event subtype
                    required:
                    - type
                    - subtype
                  description: event list to unsubscribe
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
  /open-apis/helpdesk/v1/faqs:
    post:
      operationId: helpdesk_faq_create
      summary: 创建知识库
      tags:
      - faq
      description: create faq
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/faq/create
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                faq:
                  type: object
                  properties:
                    category_id:
                      type: string
                      description: faq category id
                      example: '6836004780707807251'
                    question:
                      type: string
                      description: faq question
                      example: 问题
                    answer:
                      type: string
                      description: faq answer
                      example: '"答案"'
                    answer_richtext:
                      type: string
                      description: faq answer in richtext
                      example: '"[{"content":"答案","type":"text"},{"content":"这只是一个测试，医保问题","type":"text"}]"'
                    tags:
                      type: array
                      items:
                        type: string
                      description: faq tags
                  required:
                  - question
                  description: 知识库详情
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      faq:
                        type: object
                        properties:
                          faq_id:
                            type: string
                            description: faq id
                          id:
                            type: string
                            description: faq id, for backward compatibility
                          helpdesk_id:
                            type: string
                            description: helpdesk id
                          question:
                            type: string
                            description: faq question
                          answer:
                            type: string
                            description: faq answer in plain text format
                          answer_richtext:
                            type: array
                            items:
                              type: object
                              properties:
                                content:
                                  type: string
                                  description: 内容
                                type:
                                  type: string
                                  description: 类型
                            description: faq answer in richtext format, if any
                          create_time:
                            type: integer
                            description: create time
                          update_time:
                            type: integer
                            description: update time
                          categories:
                            type: array
                            items:
                              type: object
                              properties:
                                category_id:
                                  type: string
                                  description: category id
                                id:
                                  type: string
                                  description: category id, for backward compatibility
                                name:
                                  type: string
                                  description: category name
                                parent_id:
                                  type: string
                                  description: parent category id, if any
                                helpdesk_id:
                                  type: string
                                  description: helpdesk id
                                language:
                                  type: string
                                  description: category language
                              required:
                              - category_id
                              - id
                              - name
                              - parent_id
                              - helpdesk_id
                            description: list of categories that faq belongs to
                          tags:
                            type: array
                            items:
                              type: string
                            description: faq tags
                          expire_time:
                            type: integer
                            description: expire time
                          update_user:
                            type: object
                            properties:
                              id:
                                type: string
                                description: user id
                              avatar_url:
                                type: string
                                description: user avartal url
                              name:
                                type: string
                                description: user name
                              department:
                                type: string
                                description: user department
                              city:
                                type: string
                                description: 城市
                              country:
                                type: string
                                description: 国家代号(CountryCode)，参考：http://www.mamicode.com/info-detail-2186501.html
                            description: update user
                          create_user:
                            type: object
                            properties:
                              id:
                                type: string
                                description: user id
                              avatar_url:
                                type: string
                                description: user avartal url
                              name:
                                type: string
                                description: user name
                              department:
                                type: string
                                description: user department
                              city:
                                type: string
                                description: 城市
                              country:
                                type: string
                                description: 国家代号(CountryCode)，参考：http://www.mamicode.com/info-detail-2186501.html
                            description: create user
                        description: faq detail
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check request body
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 6
    get:
      operationId: helpdesk_faq_list
      summary: 获取全部知识库详情
      tags:
      - faq
      description: list all faqs
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/faq/list
      parameters:
      - name: category_id
        in: query
        required: false
        schema:
          type: string
        description: 知识库分类ID
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: '搜索条件: 知识库状态 1:在线 0:删除，可恢复 2：删除，不可恢复'
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: '搜索条件: 关键词，匹配问题标题，问题关键字，用户姓名'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: if there's next page
                      page_token:
                        type: string
                        description: the next page token
                      page_size:
                        type: integer
                        description: the page size
                      total:
                        type: integer
                        description: the total count
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            faq_id:
                              type: string
                              description: faq id
                            id:
                              type: string
                              description: faq id, for backward compatibility
                            helpdesk_id:
                              type: string
                              description: helpdesk id
                            question:
                              type: string
                              description: faq question
                            answer:
                              type: string
                              description: faq answer in plain text format
                            answer_richtext:
                              type: array
                              items:
                                type: object
                                properties:
                                  content:
                                    type: string
                                    description: 内容
                                  type:
                                    type: string
                                    description: 类型
                              description: faq answer in richtext format, if any
                            create_time:
                              type: integer
                              description: create time
                            update_time:
                              type: integer
                              description: update time
                            categories:
                              type: array
                              items:
                                type: object
                                properties:
                                  category_id:
                                    type: string
                                    description: category id
                                  id:
                                    type: string
                                    description: category id, for backward compatibility
                                  name:
                                    type: string
                                    description: category name
                                  parent_id:
                                    type: string
                                    description: parent category id, if any
                                  helpdesk_id:
                                    type: string
                                    description: helpdesk id
                                  language:
                                    type: string
                                    description: category language
                                required:
                                - category_id
                                - id
                                - name
                                - parent_id
                                - helpdesk_id
                              description: list of categories that faq belongs to
                            tags:
                              type: array
                              items:
                                type: string
                              description: faq tags
                            expire_time:
                              type: integer
                              description: expire time
                            update_user:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: user id
                                avatar_url:
                                  type: string
                                  description: user avartal url
                                name:
                                  type: string
                                  description: user name
                                department:
                                  type: string
                                  description: user department
                                city:
                                  type: string
                                  description: 城市
                                country:
                                  type: string
                                  description: 国家代号(CountryCode)，参考：http://www.mamicode.com/info-detail-2186501.html
                              description: update user
                            create_user:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: user id
                                avatar_url:
                                  type: string
                                  description: user avartal url
                                name:
                                  type: string
                                  description: user name
                                department:
                                  type: string
                                  description: user department
                                city:
                                  type: string
                                  description: 城市
                                country:
                                  type: string
                                  description: 国家代号(CountryCode)，参考：http://www.mamicode.com/info-detail-2186501.html
                              description: create user
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154004
        httpCode: 404
        msg: Resource not found
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
      x-lark-pagination: true
  /open-apis/helpdesk/v1/faqs/{id}:
    delete:
      operationId: helpdesk_faq_delete
      summary: 删除知识库
      tags:
      - faq
      description: delete faq
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/faq/delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154004
        httpCode: 404
        msg: FAQ not found
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
    get:
      operationId: helpdesk_faq_get
      summary: 获取指定知识库详情
      tags:
      - faq
      description: get faq
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/faq/get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 知识库ID
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      faq:
                        type: object
                        properties:
                          faq_id:
                            type: string
                            description: faq id
                          id:
                            type: string
                            description: faq id, for backward compatibility
                          helpdesk_id:
                            type: string
                            description: helpdesk id
                          question:
                            type: string
                            description: faq question
                          answer:
                            type: string
                            description: faq answer in plain text format
                          answer_richtext:
                            type: array
                            items:
                              type: object
                              properties:
                                content:
                                  type: string
                                  description: 内容
                                type:
                                  type: string
                                  description: 类型
                            description: faq answer in richtext format, if any
                          create_time:
                            type: integer
                            description: create time
                          update_time:
                            type: integer
                            description: update time
                          categories:
                            type: array
                            items:
                              type: object
                              properties:
                                category_id:
                                  type: string
                                  description: category id
                                id:
                                  type: string
                                  description: category id, for backward compatibility
                                name:
                                  type: string
                                  description: category name
                                parent_id:
                                  type: string
                                  description: parent category id, if any
                                helpdesk_id:
                                  type: string
                                  description: helpdesk id
                                language:
                                  type: string
                                  description: category language
                              required:
                              - category_id
                              - id
                              - name
                              - parent_id
                              - helpdesk_id
                            description: list of categories that faq belongs to
                          tags:
                            type: array
                            items:
                              type: string
                            description: faq tags
                          expire_time:
                            type: integer
                            description: expire time
                          update_user:
                            type: object
                            properties:
                              id:
                                type: string
                                description: user id
                              avatar_url:
                                type: string
                                description: user avartal url
                              name:
                                type: string
                                description: user name
                              department:
                                type: string
                                description: user department
                              city:
                                type: string
                                description: 城市
                              country:
                                type: string
                                description: 国家代号(CountryCode)，参考：http://www.mamicode.com/info-detail-2186501.html
                            description: update user
                          create_user:
                            type: object
                            properties:
                              id:
                                type: string
                                description: user id
                              avatar_url:
                                type: string
                                description: user avartal url
                              name:
                                type: string
                                description: user name
                              department:
                                type: string
                                description: user department
                              city:
                                type: string
                                description: 城市
                              country:
                                type: string
                                description: 国家代号(CountryCode)，参考：http://www.mamicode.com/info-detail-2186501.html
                            description: create user
                        description: faq detail
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154004
        httpCode: 404
        msg: Resource not found
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
    patch:
      operationId: helpdesk_faq_patch
      summary: 修改知识库
      tags:
      - faq
      description: update faq
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/faq/patch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 知识库ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                faq:
                  type: object
                  properties:
                    category_id:
                      type: string
                      description: faq category id
                      example: '6836004780707807251'
                    question:
                      type: string
                      description: faq question
                      example: 问题
                    answer:
                      type: string
                      description: faq answer
                      example: '"答案"'
                    answer_richtext:
                      type: array
                      items:
                        type: object
                        properties:
                          content:
                            type: string
                            description: 内容
                          type:
                            type: string
                            description: 内容类型
                      description: faq answer in richtext
                      example: '[{"content":"答案","type":"text"},{"content":"\n","type":"text"}]'
                    tags:
                      type: array
                      items:
                        type: string
                      description: faq tags
                  required:
                  - question
                  description: 修改的知识库内容
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154003
        httpCode: 403
        msg: Forbidden, FAQ helpdesk_id not match
      - code: 154004
        httpCode: 404
        msg: FAQ not found
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
  /open-apis/helpdesk/v1/faqs/{id}/image/{image_key}:
    get:
      operationId: helpdesk_faq_faq_image
      summary: 获取知识库图像
      tags:
      - faq
      description: get faq image
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/faq/faq_image
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 知识库ID
      - name: image_key
        in: path
        required: true
        schema:
          type: string
        description: 图像key
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, image might be deleted
      - code: 154003
        httpCode: 403
        msg: Image key not from faq
      - code: 154004
        httpCode: 404
        msg: Resource not found
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
      x-lark-file-download: true
  /open-apis/helpdesk/v1/faqs/search:
    get:
      operationId: helpdesk_faq_search
      summary: 搜索知识库
      tags:
      - faq
      description: Search helpdesk faq by natural query, returns matched faqs ordered by relevance
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/faq/search
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: |-
          搜索query
          ，query内容如果不是英文，包含中文空格等有两种编码策略：1. url编码 2. base64编码，同时加上base64=true参数
      - name: base64
        in: query
        required: false
        schema:
          type: string
        description: 是否转换为base64,输入true表示是，不填写表示否，中文需要转换为base64
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: if there's next page
                      page_token:
                        type: string
                        description: the next page token
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            faq_id:
                              type: string
                              description: faq id
                            id:
                              type: string
                              description: faq id, for backward compatibility
                            helpdesk_id:
                              type: string
                              description: helpdesk id
                            question:
                              type: string
                              description: faq question
                            answer:
                              type: string
                              description: faq answer in plain text format
                            answer_richtext:
                              type: array
                              items:
                                type: object
                                properties:
                                  content:
                                    type: string
                                    description: 内容
                                  type:
                                    type: string
                                    description: 类型
                              description: faq answer in richtext format, if any
                            create_time:
                              type: integer
                              description: create time
                            update_time:
                              type: integer
                              description: update time
                            categories:
                              type: array
                              items:
                                type: object
                                properties:
                                  category_id:
                                    type: string
                                    description: category id
                                  id:
                                    type: string
                                    description: category id, for backward compatibility
                                  name:
                                    type: string
                                    description: category name
                                  parent_id:
                                    type: string
                                    description: parent category id, if any
                                  helpdesk_id:
                                    type: string
                                    description: helpdesk id
                                  language:
                                    type: string
                                    description: category language
                                required:
                                - category_id
                                - id
                                - name
                                - parent_id
                                - helpdesk_id
                              description: list of categories that faq belongs to
                            tags:
                              type: array
                              items:
                                type: string
                              description: faq tags
                            expire_time:
                              type: integer
                              description: expire time
                            update_user:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: user id
                                avatar_url:
                                  type: string
                                  description: user avartal url
                                name:
                                  type: string
                                  description: user name
                                department:
                                  type: string
                                  description: user department
                                city:
                                  type: string
                                  description: 城市
                                country:
                                  type: string
                                  description: 国家代号(CountryCode)，参考：http://www.mamicode.com/info-detail-2186501.html
                              description: update user
                            create_user:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: user id
                                avatar_url:
                                  type: string
                                  description: user avartal url
                                name:
                                  type: string
                                  description: user name
                                department:
                                  type: string
                                  description: user department
                                city:
                                  type: string
                                  description: 城市
                                country:
                                  type: string
                                  description: 国家代号(CountryCode)，参考：http://www.mamicode.com/info-detail-2186501.html
                              description: create user
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - helpdesk:all:readonly
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: Bad request, please check your request body
      - code: 154001
        httpCode: 401
        msg: Please check you have the correct access
      - code: 155000
        httpCode: 500
        msg: Internal error
      x-lark-rate-limit:
        tier: 0
      x-lark-pagination: true
  /open-apis/helpdesk/v1/notifications/{notification_id}/cancel_approve:
    post:
      operationId: helpdesk_notification_cancel_approve
      summary: 取消审核
      tags:
      - notification
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/notification/cancel_approve
      parameters:
      - name: notification_id
        in: path
        required: true
        schema:
          type: string
        description: 唯一ID
        example: '6981801914270744596'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: ''
      - code: 154001
        httpCode: 401
        msg: ''
      - code: 154003
        httpCode: 403
        msg: ''
      - code: 154004
        httpCode: 404
        msg: ''
      - code: 154005
        httpCode: 405
        msg: ''
      - code: 155000
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 1
  /open-apis/helpdesk/v1/notifications/{notification_id}/cancel_send:
    post:
      operationId: helpdesk_notification_cancel_send
      summary: 取消推送
      tags:
      - notification
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/notification/cancel_send
      parameters:
      - name: notification_id
        in: path
        required: true
        schema:
          type: string
        description: 唯一ID
        example: '6981801914270744596'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_recall:
                  type: boolean
                  description: 是否召回已发送的消息,新人入职消息同样适用
                  example: 'true'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - helpdesk:all
      x-lark-error-mappings:
      - code: 154000
        httpCode: 400
        msg: ''
      - code: 154001
        httpCode: 401
        msg: ''
      - code: 154003
        httpCode: 403
        msg: ''
      - code: 154004
        httpCode: 404
        msg: ''
      - code: 154005
        httpCode: 405
        msg: ''
      - code: 155000
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 0
  /open-apis/helpdesk/v1/notifications:
    post:
      operationId: helpdesk_notification_create
      summary: 创建推送
      tags:
      - notification
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/helpdesk-v1/notification/create
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: 唯一ID
                  example: '6981801914270744596'
                job_name:
                  type: string
                  description: 任务名称
                  example: 测试推送任务
                status:
                  type: integer
                  description: 0(草稿)、1(等待审批)、 2(审批未通过)、3(正在发送中)、4(发送完成)、5(等待设置发送时间)、6(取消发送)、7(新人入职执行发送)、8(等待倒计时发送)
                  example: '0'
                create_user:
                  type: object
                  properties:
                    user_id:
                      type: string
                      description: 用户id
                      example: ou_7277fd1262bfafc363d5b2a1f9c2ac90
                    avatar_url:
                      type: string
                      description: 头像地址
                      example: http://*.com/*.png
                    name:
                      type: string
                      description: 用户名称
                      example: test
                  description: 创建人
                  example: '{"avatar_url":"","name":"","user_id":"ou_7277fd1262bfafc363d5b2a1f9c2ac90"}'
                created_at:
                  type: string
                  description: 创建时间（毫秒时间戳）
                  example: '1626332244719'
                update_user:
                  type: object
                  properties:
                    user_id:
                      type: string
                      description: 用户id
                      example: ou_7277fd1262bfafc363d5b2a1f9c2ac90
                    avatar_url:
                      type: string
                      description: 头像地址
                      example: http://*.com/*.png
                    name:
                      type: string
                      description: 用户名称
                      example: test
                  description: 更新用户
                  example: '{"avatar_url":"","name":"","user_id":"ou_7277fd1262bfafc363d5b2a1f9c2ac90"}'
                updated_at:
                  type: string
                  description: 更新时间（毫秒时间戳）
                  example: '1626332244719'
                target_user_count:
                  type: integer
                  description: 目标推送用户
                  example: '1'
                sent_user_count:
                  type: integer
                  description: 已推送用户总数
                  example: '1'
                read_user_count:
                  type: integer
                  description: 已读用户总数
                  example: '1'
                send_at:
                  type: string
                  description: 推送任务触发时间（毫秒时间戳）
                  example: '1626332244719'
                push_content:
                  type: string
                  description: 推送内容，详见：https://open.feishu.cn/tool/cardbuilder?from=howtoguide
                  example: '{   "config": {     "wide_screen_mode": true   },   "elements": [     {       "tag": "div",       "text":
                    {         "tag": "lark_md",         "content": "[飞书](https://www.feishu.cn)整合即时沟通、日历、音视频会议、云文档、云盘、工作台等功能于一体，成就组织和个人，更高效、更愉悦。"       }     }   ]
                    }'
                push_type:
                  type: integer
                  description: 0（定时推送：push_scope不能等于3） 1（新人入职推送：push_scope必须等于1或者3；new_staff_scope_type不能为空）
                  example: '0'
                push_scope_type:
                  type: integer
                  description: 推送范围（服务台私信） 0：组织内全部成员（user_list和department_list必须为空） 1：不推送任何成员（user_list和department_list必须为空，chat_list不可为空）
                    2：推送到部分成员（user_list或department_list不能为空） 3：入职新人 以上四种状态，chat_list都相对独立，只有在推送范围为1时，必须需要设置chat_list
                  example: '0'
                new_staff_scope_type:
                  type: integer
                  description: 新人入职范围类型（push_type为1时生效） 0：组织内所有新人 1：组织内特定的部门（new_staff_scope_department_list 字段不能为空）
                  example: '0'
                new_staff_scope_department_list:
                  type: array
                  items:
                    type: object
                    properties:
                      department_id:
                        type: string
                        description: 部门ID
                        example: od_7277fd1262bfafc363d5b2a1f9c2ac90
                      name:
                        type: string
                        description: 部门名称
                        example: 测试部门
                  description: 新人入职生效部门列表
                  example: '[{"department_id":"od_7c1a2815c9846b5e518b950de0e62de8"}]'
                user_list:
                  type: array
                  items:
                    type: object
                    properties:
                      user_id:
                        type: string
                        description: 用户id
                        example: ou_7277fd1262bfafc363d5b2a1f9c2ac90
                      avatar_url:
                        type: string
                        description: 头像地址
                        example: http://*.com/*.png
                      name:
                        type: string
                        description: 用户名称
                        example: test
                  description: push推送到成员列表
                  example: '[{"user_id":"ou_7277fd1262bfafc363d5b2a1f9c2ac90"}]'
                department_list:
                  type: array
                  items:
                    type: object
                    properties:
                      department_id:
                        type: string
                        description: 部门ID
                        example: od_7277fd1262bfafc363d5b2a1f9c2ac90
                      name:
                        type: string
                        description: 部门名称
                        example: 测试部门
                  description: push推送到的部门信息列表
[...]
