# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · hire API（全量）
  description: |-
    飞书开放平台 `hire` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T04:09:08Z'
  x-lark-project: hire
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T04:09:08Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: advertisement
- name: agency
- name: application.interview
- name: application
- name: attachment
- name: background_check_order
- name: diversity_inclusion
- name: eco_account_custom_field
- name: eco_background_check
- name: eco_background_check_custom_field
- name: eco_background_check_package
- name: eco_exam
- name: eco_exam_paper
- name: ehr_import_task
- name: employee
- name: evaluation
- name: evaluation_task
- name: exam
- name: exam_marking_task
- name: external_application
- name: external_background_check
- name: external_interview
- name: external_interview_assessment
- name: external_offer
- name: external_referral_reward
- name: interview
- name: interview_feedback_form
- name: interview_record.attachment
- name: interview_record
- name: interview_registration_schema
- name: interview_round_type
- name: interview_task
- name: interviewer
- name: job.manager
- name: job
- name: job_function
- name: job_process
- name: job_publish_record
- name: job_requirement
- name: job_requirement_schema
- name: job_schema
- name: job_type
- name: location
- name: minutes
- name: note
- name: offer
- name: offer_application_form
- name: offer_approval_template
- name: offer_custom_field
- name: offer_schema
- name: portal_apply_schema
- name: questionnaire
- name: referral
- name: referral_account
- name: referral_website.job_post
- name: registration_schema
- name: resume_source
- name: role
- name: subject
- name: talent.external_info
- name: talent
- name: talent_blocklist
- name: talent_folder
- name: talent_object
- name: talent_operation_log
- name: talent_pool
- name: talent_tag
- name: termination_reason
- name: test
- name: todo
- name: tripartite_agreement
- name: user_role
- name: website.channel
- name: website.delivery
- name: website.delivery_task
- name: website.job_post
- name: website.site_user
- name: website
paths:
  /open-apis/hire/v1/advertisements/{advertisement_id}/publish:
    post:
      operationId: hire_advertisement_publish
      summary: 发布职位广告
      tags:
      - advertisement
      description: 支持把职位发布至招聘官网、内推平台
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/advertisement/publish
      parameters:
      - name: advertisement_id
        in: path
        required: true
        schema:
          type: string
        description: 职位广告 ID
        example: '6960663240925956660'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                job_channel_id:
                  type: string
                  description: 职位渠道 ID，选择要发布的招聘官网，单次仅可发布 1 个渠道，1. 内推平台提供对应的 id = 3，2. 官网渠道的 ID 通过接口「获取官网列表」获取
                  example: '6960663240925956631'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - hire:advertisement
      x-lark-error-mappings:
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      - code: 1002613
        httpCode: 400
        msg: 同步开关尚未打开，仅支持在招聘系统中新建、编辑或关闭职位
      - code: 1002609
        httpCode: 400
        msg: 职位已关闭
      - code: 1002624
        httpCode: 400
        msg: 职位广告不合规
      x-lark-rate-limit:
        tier: 7
  /open-apis/hire/v1/agencies/batch_query:
    post:
      operationId: hire_agency_batch_query
      summary: 搜索猎头供应商列表
      tags:
      - agency
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/agency/batch_query
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 页码标识，获取第一页传空，每次查询会返回下一页的page_token
        example: eyJvZmZzZXQiOjEsInRpbWVzdGFtcCI6MTY0MDc2NTYzMjA4OCwiaWQiOm51bGx9
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 每页获取记录数量
        example: '10'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                agency_supplier_id_list:
                  type: array
                  items:
                    type: string
                  description: 猎头供应商 ID 列表，当传递此值，以此值为准，其余查询字段失效
                keyword:
                  type: string
                  description: 搜索关键字，可传入名称或邮箱
                  example: 猎头
                filter_list:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: 筛选项 key
                        example: degree
                      value_type:
                        type: integer
                        description: 筛选项值类型
                        enum:
                        - 1
                        - 2
                        - 3
                        x-enum-descriptions:
                          '1': 值过滤，填充 value_list 字段
                          '2': 范围过滤，填充 range_filter 字段
                          '3': 根据用户 ID 过滤，填充 user_id_list 字段
                        example: '1'
                      value_list:
                        type: array
                        items:
                          type: string
                        description: 筛选项值列表
                      range_filter:
                        type: object
                        properties:
                          from:
                            type: string
                            description: 起始值
                            example: '20'
                          to:
                            type: string
                            description: 终止值
                            example: '30'
                        description: 范围筛选
                    required:
                    - key
                    - value_type
                  description: 筛选项，相同的 Key 仅可传一次
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页
                        example: 'true'
                      page_token:
                        type: string
                        description: 下一页页码
                        example: eyJvZmZzZXQiOjEsInRpbWVzdGFtcCI6MTY0MDc2NTYzMjA4OCwiaWQiOm51bGx9
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 猎头供应商 ID
                              example: '7398493486516799788'
                            name:
                              type: string
                              description: 猎头供应商名称
                              example: 北极无敌猎头
                            label_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: 标签 ID
                                    example: '6887469228283299336'
                                  name:
                                    type: object
                                    properties:
                                      zh_cn:
                                        type: string
                                        description: 中文
                                        example: 测试
                                      en_us:
                                        type: string
                                        description: 英文
                                        example: test
                                    description: 标签名称
                              description: 标签列表
                            admin_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  user_id:
                                    type: string
                                    description: 管理员 ID
                                    example: '7398493486516799788'
                                  name:
                                    type: object
                                    properties:
                                      zh_cn:
                                        type: string
                                        description: 中文
                                        example: 测试
                                      en_us:
                                        type: string
                                        description: 英文
                                        example: test
                                    description: 管理员名称
                                  email:
                                    type: string
                                    description: 管理员邮箱
                                    example: 283xxxx2171813@qq.com
                              description: 管理员列表
                            agency_protect_time:
                              type: object
                              properties:
                                day:
                                  type: integer
                                  description: 保护时长，单位（天）
                                  example: '180'
                                use_default:
                                  type: boolean
                                  description: 是否使用统一设置
                                  enum:
                                  - true
                                  - fasle
                                  x-enum-descriptions:
                                    'True': 是统一设置
                                    fasle: 非统一设置
                                  example: 'true'
                              description: 猎头简历保护期
                            cooperation_create_time:
                              type: string
                              description: 合作创建时间，毫秒时间戳
                              example: '1639992265035'
                            cooperation_start_time:
                              type: string
                              description: 合作开始时间，毫秒时间戳
                              example: '1639992265035'
                            cooperation_end_time:
                              type: string
                              description: 合作终止时间，毫秒时间戳
                              example: '1639992265035'
                            cooperation_status:
                              type: integer
                              description: 合作状态，毫秒时间戳
                              enum:
                              - 1
                              - 2
                              - 3
                              - 4
                              x-enum-descriptions:
                                '1': 正式合作
                                '2': 试单
                                '3': 合作终止
                                '4': 邀请中
                              example: '1'
                            invite_email:
                              type: string
                              description: 供应商邮箱
                              example: 28933718393.qq.com
                            supplier_area:
                              type: integer
                              description: 猎头区域
                              enum:
                              - 1
                              - 2
                              x-enum-descriptions:
                                '1': 中国大陆
                                '2': 非中国大陆
                              example: '1'
                            talent_protect_time:
                              type: object
                              properties:
                                day:
                                  type: integer
                                  description: 保护时长，单位（天）
                                  example: '180'
                                use_default:
                                  type: boolean
                                  description: 是否使用统一设置
                                  enum:
                                  - true
                                  - fasle
                                  x-enum-descriptions:
                                    'True': 是统一设置
                                    fasle: 非统一设置
                                  example: 'true'
                                forever:
                                  type: boolean
                                  description: 是否永久保护
                                  enum:
                                  - true
                                  - fasle
                                  x-enum-descriptions:
                                    'True': 是永久保护
                                    fasle: 非永久保护
                                  example: 'true'
                              description: 企业自有简历保护期
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - hire:agency
      - hire:agency:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      - hire:agency.email:readonly
      x-lark-error-mappings:
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 7
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.filter_list[*].user_id_list[*]
        section: 0
  /open-apis/hire/v1/agencies/{agency_id}:
    get:
      operationId: hire_agency_get
      summary: 获取猎头供应商信息
      tags:
      - agency
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/agency/get
      parameters:
      - name: agency_id
        in: path
        required: true
        schema:
          type: string
        description: 猎头供应商ID
        example: '6898173495386147078'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      agency:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 猎头供应商ID
                            example: '6898173495386147079'
                          name:
                            type: string
                            description: 猎头供应商名称
                            example: 超越猎头公司
                          contactor_id:
                            type: string
                            description: 供应商联系人ID
                            example: ou_f476cb099ac9227c9bae09ce46112579
                          contactor_name:
                            type: object
                            properties:
                              zh_cn:
                                type: string
                                description: 中文
                                example: 测试
                              en_us:
                                type: string
                                description: 英文
                                example: test
                            description: 供应商联系人名称
                        description: 数据
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - hire:agency
      - hire:agency:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      - code: 1002409
        httpCode: 400
        msg: agency cooperation not exist
      x-lark-rate-limit:
        tier: 7
  /open-apis/hire/v1/agencies/get_agency_account:
    post:
      operationId: hire_agency_get_agency_account
      summary: 查询猎头供应商下猎头列表
      tags:
      - agency
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/agency/get_agency_account
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - union_id
          - open_id
          x-enum-descriptions:
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 页码标识，获取第一页传空，每次查询会返回下一页的page_token
        example: eyJvZmZzZXQiOjEsInRpbWVzdGFtcCI6MTY0MDc2NTYzMjA4OCwiaWQiOm51bGx9
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 每页获取记录数量
        example: '10'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                supplier_id:
                  type: string
                  description: 猎头供应商 ID
                  example: '7398623155442682156'
                status:
                  type: integer
                  description: 猎头状态
                  enum:
                  - 0
                  - 1
                  - 2
                  x-enum-descriptions:
                    '0': 正常
                    '1': 已禁用
                    '2': 已被猎头停用
                  example: '1'
                role:
                  type: integer
                  description: 角色
                  enum:
                  - 0
                  - 1
                  x-enum-descriptions:
                    '0': 管理员
                    '1': 顾问
                  example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页
                        example: 'true'
                      page_token:
                        type: string
                        description: 下一页页码
                        example: eyJvZmZzZXQiOjEsInRpbWVzdGFtcCI6MTY0MDc2NTYzMjA4OCwiaWQiOm51bGx9
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 猎头 ID
                              example: '6995312261554538796'
                            reason:
                              type: string
                              description: 禁用原因
                              example: 这个猎头很不负责
                            create_time:
                              type: string
                              description: 添加时间，毫秒时间戳
                              example: '1639992265035'
                            status:
                              type: integer
                              description: 猎头状态
                              enum:
                              - 0
                              - 1
                              - 2
                              x-enum-descriptions:
                                '0': 正常
                                '1': 已禁用
                                '2': 已被猎头停用
                            user_info:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                  description: 用户ID
                                  example: '7398623155442682156'
                                name:
                                  type: object
                                  properties:
                                    zh_cn:
                                      type: string
                                      description: 中文
                                      example: 测试
                                    en_us:
                                      type: string
                                      description: 英文
                                      example: test
                                  description: 用户名称
                                email:
                                  type: string
                                  description: 用户邮箱
                                  example: 27188272xxxx1.com
                                mobile:
                                  type: string
                                  description: 用户手机
                                  example: 1879087xxx8
                              description: 用户信息
                            role:
                              type: integer
                              description: 角色
                              enum:
                              - 0
                              - 1
                              x-enum-descriptions:
                                '0': 管理员
                                '1': 顾问
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - hire:agency_account
      - hire:agency_account:readonly
      x-lark-field-scopes:
      - hire:agency.mobile:readonly
      - hire:agency.email:readonly
      x-lark-error-mappings:
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 7
  /open-apis/hire/v1/agencies/operate_agency_account:
    post:
      operationId: hire_agency_operate_agency_account
      summary: 禁用/取消禁用猎头
      tags:
      - agency
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/agency/operate_agency_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                option:
                  type: integer
                  description: 操作类型
                  enum:
                  - 1
                  - 2
                  x-enum-descriptions:
                    '1': 禁用
                    '2': 取消禁用
                id:
                  type: string
                  description: 猎头 ID
                  example: '7398623155442682156'
                reason:
                  type: string
                  description: 禁用原因，仅当禁用操作时，必填
                  example: 这个人特别不负责
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - hire:agency_account
      x-lark-error-mappings:
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 7
  /open-apis/hire/v1/agencies/protect:
    post:
      operationId: hire_agency_protect
      summary: 设置猎头保护期
      tags:
      - agency
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/agency/protect
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                talent_id:
                  type: string
                  description: 人才ID
                  example: '6962051712422398239'
                supplier_id:
                  type: string
                  description: 供应商ID
                  example: '6898173495386147079'
                consultant_id:
                  type: string
                  description: 猎头顾问ID
                  example: ou_f476cb099ac9227c9bae09ce46112579
                protect_create_time:
                  type: integer
                  description: 保护期创建时间
                  example: '1610695587000'
                protect_expire_time:
                  type: integer
                  description: 保护期过期时间
                  example: '1626333987000'
                comment:
                  type: string
                  description: 推荐语
                  example: 此候选人非常优秀，建议录用。
                current_salary:
                  type: string
                  description: 当前薪资
                  example: 15k * 13
                expected_salary:
                  type: string
                  description: 预期薪资
                  example: 18k * 16
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - hire:agency
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.consultant_id
        section: 0
  /open-apis/hire/v1/agencies/protection_period/search:
    post:
      operationId: hire_agency_protect_search
      summary: 查询猎头保护期信息
      tags:
      - agency
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/agency/protect_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                talent_id:
                  type: string
                  description: 人才id
                  example: '6930815272790114324'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      is_onboarded:
                        type: boolean
                        description: 是否已入职
                        example: 'false'
                      onboarded_in_protection:
                        type: boolean
                        description: 是否在猎头保护期内入职
                        example: 'false'
                      onboarded_protection:
                        allOf:
                        - $ref: '#/components/schemas/OnboardedProtection'
                        description: 入职所在保护期
                      protection_list:
                        type: array
                        items:
                          $ref: '#/components/schemas/OnboardedProtection'
                        description: 人才保护信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - hire:agency
      - hire:agency:readonly
      x-lark-error-mappings:
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 7
  /open-apis/hire/v1/agencies/query:
    get:
      operationId: hire_agency_query
      summary: 查询猎头供应商信息
      tags:
      - agency
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/agency/query
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
        description: 猎头供应商名称
        example: 超越猎头公司
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 猎头供应商ID
                              example: '6898173495386147079'
                            name:
                              type: string
                              description: 猎头供应商名称
                              example: 超越猎头公司
                            contactor_id:
                              type: string
                              description: 供应商联系人ID
                              example: ou_f476cb099ac9227c9bae09ce46112579
                            contactor_name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 中文
                                  example: 测试
                                en_us:
                                  type: string
                                  description: 英文
                                  example: test
                              description: 供应商联系人名称
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - hire:agency
      - hire:agency:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      - code: 1002409
        httpCode: 400
        msg: 合作关系不存在
      x-lark-rate-limit:
        tier: 7
  /open-apis/hire/v1/applications/{application_id}/interviews:
    get:
      operationId: hire_application_interview_list
      summary: 获取面试记录列表
      tags:
      - application.interview
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/application-interview/list
      parameters:
      - name: application_id
        in: path
        required: true
        schema:
          type: string
        description: 投递ID
        example: '6960663240925956555'
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
        description: 分页大小，不能超过 50
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: xx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      - name: job_level_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - people_admin_job_level_id
          - job_level_id
          x-enum-descriptions:
            people_admin_job_level_id: 「人力系统管理后台」适用的职级 ID。人力系统管理后台逐步下线中，建议不继续使用此 ID。
            job_level_id: 「飞书管理后台」适用的职级 ID，通过「获取租户职级列表」接口获取
          default: people_admin_job_level_id
        description: 此次调用中使用的「职级 ID」的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      page_token:
                        type: string
                        description: 分页标志
                        example: xx
                      has_more:
                        type: boolean
                        description: 是否有更多
                        example: 'false'
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 面试id
                              example: '6949805467799537964'
                            begin_time:
                              type: integer
                              description: 面试开始时间（ms）
                              example: '1618899376474'
                            end_time:
                              type: integer
                              description: 面试结束时间（ms）
                              example: '1618999376474'
                            round:
                              type: integer
                              description: 面试轮次（从0开始计数）
                              example: '0'
                            stage_id:
                              type: string
                              description: 面试关联的投递阶段
                              example: '634324253532232'
                            interview_record_list:
                              type: array
                              items:
                                $ref: '#/components/schemas/InterviewRecord'
                              description: 面试官记录列表
                        description: 面试列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - hire:interview
      - hire:interview:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1000001
        httpCode: 400
        msg: param is invalid
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 8
  /open-apis/hire/v1/applications/{application_id}/cancel_onboard:
    post:
      operationId: hire_application_cancel_onboard
      summary: 取消候选人入职
      tags:
      - application
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/application/cancel_onboard
      parameters:
      - name: application_id
        in: path
        required: true
        schema:
          type: string
        description: 投递 ID
        example: '1111111111'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                termination_type:
                  type: integer
                  description: 终止类型
                  enum:
                  - 1
                  - 22
                  - 27
                  x-enum-descriptions:
                    '1': 我们拒绝了候选人
                    '22': 候选人拒绝了我们
                    '27': 其他
                  example: '1'
                termination_reason_id_list:
                  type: array
                  items:
                    type: string
                  description: 终止原因 ID 列表
                termination_reason_notes:
                  type: string
                  description: 备注
                  example: 测试
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - hire:application
      x-lark-error-mappings:
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      - code: 1002221
        httpCode: 400
        msg: application already terminated
      - code: 1002910
        httpCode: 400
        msg: application already synchronized to CoreHR
      x-lark-rate-limit:
        tier: 7
  /open-apis/hire/v1/applications:
    post:
      operationId: hire_application_create
      summary: 创建投递
      tags:
      - application
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/application/create
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                talent_id:
                  type: string
                  description: 人才ID
                  example: '12312312312'
                job_id:
                  type: string
                  description: 职位ID
                  example: '12312312312'
                user_id:
                  type: string
                  description: 人员ID
                  example: '6930815272790114324'
                resume_source_id:
                  type: string
                  description: 简历来源 ID，可通过「获取简历来源」接口查询。若简历来源类型属于「员工转岗」或「实习生转正」，人才需处于已入职状态。
                  example: '7115289562569591070'
                application_preferred_city_code_list:
                  type: array
                  items:
                    type: string
                  description: 意向投递城市列表，可从「获取职位信息」返回的工作地点列表获取
                delivery_type:
                  type: integer
                  description: 投递方式
                  enum:
                  - 1
                  - 2
                  x-enum-descriptions:
                    '1': HR 寻访
                    '2': 候选人主动投递
                  example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 投递ID
                        example: '6920175883425581324'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - hire:application
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      - code: 1002102
        httpCode: 400
        msg: talent not exist
      - code: 1002206
        httpCode: 400
        msg: same application exist
      - code: 1002222
        httpCode: 400
        msg: ''
      - code: 1002223
        httpCode: 400
        msg: ''
      - code: 1002224
        httpCode: 400
        msg: user id is invalid
      - code: 1002511
        httpCode: 400
        msg: 候选人的投递次数已达到上限
      - code: 1002511
        httpCode: 400
        msg: 候选人的投递次数已达到上限
      - code: 1002512
        httpCode: 400
        msg: 简历来源不存在
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_id
        section: 0
    get:
      operationId: hire_application_list
      summary: 获取投递列表
      tags:
      - application
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/application/list
      parameters:
      - name: process_id
        in: query
        required: false
        schema:
          type: string
        description: 按流程过滤，招聘流程 ID，枚举值通过接口「获取招聘流程信息」接口获取
        example: '212121'
      - name: stage_id
        in: query
        required: false
        schema:
          type: string
        description: 按招聘阶段过滤，招聘阶段 ID，枚举值通过「获取招聘流程信息」接口获取
        example: '212121'
      - name: talent_id
        in: query
        required: false
        schema:
          type: string
        description: 按人才过滤
        example: '123321'
      - name: active_status
        in: query
        required: false
        schema:
          type: string
        description: 按活跃状态筛选 1=活跃投递, 2=非活跃投递, 3=全部
        example: '1'
      - name: job_id
        in: query
        required: false
        schema:
          type: string
        description: 职位 ID
        example: '7334134355464633'
      - name: lock_status
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            enum:
            - 1
            - 2
            - 3
            x-enum-descriptions:
              '1': 未锁定
              '2': 锁定在其他职位
              '3': 锁定在当前职位
        description: 锁定状态
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 查询游标, 由上一页结果返回, 第一页不传
        example: '1'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 每页限制, 每页最大不超过100
        example: '100'
      - name: update_start_time
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 最早更新时间，毫秒级时间戳
        example: '1618500278663'
      - name: update_end_time
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 最晚更新时间，毫秒级时间戳
        example: '1618500278663'
      - name: keyword
        in: query
        required: false
        schema:
          type: string
        description: 搜索关键词
        example: 张三1123
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: string
                        description: 投递数据列表
                      page_token:
                        type: string
                        description: 游标, 翻下一页数据时使用
                        example: '1'
                      has_more:
                        type: boolean
                        description: 是否还有下一页数据
                        example: 'true'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - hire:application:readonly
      - hire:application
      - hire:people_cli
      x-lark-error-mappings:
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
  /open-apis/hire/v1/applications/{application_id}:
    get:
      operationId: hire_application_get
      summary: 获取投递信息
      tags:
      - application
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/application/get
      parameters:
      - name: application_id
        in: path
        required: true
        schema:
          type: string
        description: 投递 ID
        example: '212121'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: options
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - get_latest_application_on_chain
            - with_job
            x-enum-descriptions:
              get_latest_application_on_chain: 仅对当前投递是虚拟职位投递时生效。
              with_job: 查询携带职位实体信息
        description: 请求控制参数，用于控制接口响应逻辑。如需一次查询多个用户ID，可通过将同一参数名多次传递，并且每次传递不同的参数值。
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      application:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 投递 ID
                            example: '6949805467799537964'
                          job_id:
                            type: string
                            description: 投递的职位 ID
                            example: '6843547872837273223'
                          talent_id:
                            type: string
                            description: 候选人 ID
                            example: '6843547872837273223'
                          resume_source_id:
                            type: string
                            description: 简历来源 ID
                            example: '6583482347283472832'
                          stage:
                            allOf:
                            - $ref: '#/components/schemas/Stage'
                            description: 投递处于的阶段
                          active_status:
                            type: integer
                            description: 活跃状态
                            enum:
                            - 1
                            - 2
                            x-enum-descriptions:
                              '1': 活跃
                              '2': 非活跃
                            example: '1'
                          delivery_type:
                            type: integer
                            description: 投递方式
                            enum:
                            - 1
                            - 2
                            x-enum-descriptions:
                              '1': HR 寻访
                              '2': 候选人主动投递
                            example: '1'
                          resume_source_info:
                            allOf:
                            - $ref: '#/components/schemas/ResumeSourceInfo'
                            description: 投递来源信息
                          website_resume_source:
                            allOf:
                            - $ref: '#/components/schemas/WebsiteResumeSource'
                            description: 官网投递来源
                          talent_attachment_resume_id:
                            type: string
                            description: 简历附件 ID
                            example: '6960663240925956415'
                          create_time:
                            type: string
                            description: 创建时间
                            example: '1632990774278'
                          modify_time:
                            type: string
                            description: 修改时间
                            example: '1634801678103'
                          stage_time_list:
                            type: array
                            items:
                              type: object
                              properties:
                                stage_id:
                                  type: string
                                  description: 阶段 ID
                                  example: '614218419274131'
                                enter_time:
                                  type: string
                                  description: 最近一次进入该阶段的时间
                                  example: '1632991542615'
                                exit_time:
                                  type: string
                                  description: 最后一次离开时间，如当前在该阶段，则为空
                                  example: '1631509574398'
                            description: 阶段变更时间列表
                          termination_type:
                            type: integer
                            description: 终止原因的类型
                            enum:
                            - 1
                            - 22
                            - 27
                            x-enum-descriptions:
                              '1': 我们拒绝了候选人
                              '22': 候选人拒绝了我们
                              '27': 其他
                            example: '1'
                          termination_reason_list:
                            type: array
                            items:
                              type: string
                            description: 终止的具体原因的id列表
                          termination_reason_note:
                            type: string
                            description: 终止备注
                            example: 其他投递已入职
                          application_preferred_city_list:
                            type: array
                            items:
                              type: object
                              properties:
                                code:
                                  type: string
                                  description: 编码
                                  example: '1111'
                                name:
                                  type: object
                                  properties:
                                    zh_cn:
                                      type: string
                                      description: 中文
                                      example: 测试
                                    en_us:
                                      type: string
                                      description: 英文
                                      example: test
                                  description: 名称
                            description: 意向投递城市列表
                          creator_id:
                            type: string
                            description: 投递创建人 ID，仅当投递创建人为企业内部员工时可获取（如员工手动上传简历 / 加入职位 / 内推），其余情况返回为空（如候选人主动投递）
                            example: ou_ce613028fe74745421f5dc320bb9c709
                          job_info:
                            allOf:
                            - $ref: '#/components/schemas/Job2'
                            description: 投递职位信息
                        description: 投递数据
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - hire:application:readonly
      - hire:application
      - hire:people_cli
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      - hire:job:readonly
      - hire:job
      - hire:people_cli
      x-lark-error-mappings:
      - code: 1002001
        httpCode: 500
        msg: ''
      - code: 1002002
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
  /open-apis/hire/v1/applications/{application_id}/get_detail:
    get:
      operationId: hire_application_get_detail
      summary: 获取投递详情
      tags:
      - application
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uMzM1YjLzMTN24yMzUjN/hire-v1/application/get_detail
      parameters:
      - name: application_id
        in: path
        required: true
        schema:
          type: string
        description: 投递 ID
        example: '6956499586395523359'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户,即将下线字段,不建议使用
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户 ID 类型
        example: open_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_department_id
          - department_id
          x-enum-descriptions:
            open_department_id: 以 open_department_id 来标识部门
            department_id: 以 department_id 来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门 ID 类型
        example: open_department_id
      - name: job_level_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - people_admin_job_level_id
          - job_level_id
          x-enum-descriptions:
            people_admin_job_level_id: 「人力系统管理后台」适用的职级 ID。人力系统管理后台逐步下线中，建议不继续使用此 ID。
            job_level_id: 「飞书管理后台」适用的职级 ID，通过「获取租户职级列表」接口获取
          default: job_level_id
        description: 此次调用中使用的「职级 ID」的类型
        example: job_level_id
      - name: job_family_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - people_admin_job_category_id
          - job_family_id
          x-enum-descriptions:
            people_admin_job_category_id: 「人力系统管理后台」适用的序列 ID。人力系统管理后台逐步下线中，建议不继续使用此 ID。
            job_family_id: 「飞书管理后台」适用的序列 ID，通过「获取租户序列列表」接口获取
          default: job_family_id
        description: 此次调用中使用的「序列 ID」的类型
        example: job_family_id
      - name: employee_type_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - people_admin_employee_type_id
          - employee_type_enum_id
          x-enum-descriptions:
            people_admin_employee_type_id: 「人力系统管理后台」适用的人员类型 ID。人力系统管理后台逐步下线中，建议不继续使用此 ID。
            employee_type_enum_id: 「飞书管理后台」适用的人员类型 ID，通过「查询人员类型」接口获取
          default: employee_type_enum_id
        description: 此次调用中使用的「人员类型 ID」的类型
        example: employee_type_enum_id
      - name: options
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - with_job
            - with_talent
            - with_interview
            - with_offer
            - with_evaluation
            - with_employee
            - with_agency
            - with_referral
            - with_portal
            x-enum-descriptions:
              with_job: 查询携带职位实体信息
              with_talent: 查询携带人才实体信息
              with_interview: 查询携带面试聚合实体信息
              with_offer: 查询携带 Offer 实体信息
              with_evaluation: 查询携带评估实体信息
              with_employee: 查询携带员工实体信息
              with_agency: 查询携带猎头实体信息
              with_referral: 查询携带内推实体信息
              with_portal: 查询携带官网实体信息
            default: with_job
        description: 请求控制参数，用于控制获取哪些关联实体信息。
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      application_detail:
                        type: object
                        properties:
                          basic_info:
                            type: object
                            properties:
                              id:
                                type: string
                                description: 投递 ID
                                example: '6949805467799537964'
                              job_id:
                                type: string
                                description: 投递的职位 ID
                                example: '6843547872837273223'
                              talent_id:
                                type: string
                                description: 投递的人才 ID
                                example: '6843547872837273223'
                              stage:
                                allOf:
                                - $ref: '#/components/schemas/Stage'
                                description: 投递处于的阶段
                              active_status:
                                type: integer
                                description: 投递活跃状态
                                enum:
                                - 1
                                - 2
                                x-enum-descriptions:
                                  '1': 活跃
                                  '2': 非活跃
                                example: '1'
                              delivery_type:
                                type: integer
                                description: 投递方式
                                enum:
                                - 1
                                - 2
                                x-enum-descriptions:
                                  '1': HR寻访
                                  '2': 候选人主动投递
                                example: '1'
                              resume_source_info:
                                allOf:
                                - $ref: '#/components/schemas/ResumeSourceInfo'
                                description: 投递来源信息
                              website_resume_source:
                                allOf:
                                - $ref: '#/components/schemas/WebsiteResumeSource'
                                description: 官网投递来源
                              talent_attachment_resume_id:
                                type: string
                                description: 简历附件 ID
                                example: '6960663240925956415'
                              stage_time_list:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    stage_id:
                                      type: string
                                      description: 阶段 ID
                                      example: '614218419274131'
                                    enter_time:
                                      type: string
                                      description: 最近一次进入该阶段的时间
                                      example: '1632991542615'
                                    exit_time:
                                      type: string
                                      description: 最后一次离开时间，如当前在该阶段，则为空
                                      example: '1631509574398'
                                description: 投递阶段变更时间列表
                              onboard_status:
                                type: integer
                                description: 投递入职状态
                                enum:
                                - 1
                                - 2
                                x-enum-descriptions:
                                  '1': 未入职
                                  '2': 已入职
                                example: '1'
                              application_preferred_city_list:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    code:
                                      type: string
                                      description: 编码
                                      example: '1111'
                                    name:
                                      type: object
                                      properties:
                                        zh_cn:
                                          type: string
                                          description: 中文
                                          example: 测试
                                        en_us:
                                          type: string
                                          description: 英文
                                          example: test
                                      description: 名称
                                description: 意向投递城市列表
                              termination_reason:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: 终止原因 id
                                    example: '6891258038901016846'
                                  name:
                                    type: object
                                    properties:
                                      zh_cn:
                                        type: string
                                        description: 中文
                                        example: 测试
                                      en_us:
                                        type: string
                                        description: 英文
                                        example: test
                                    description: 终止原因名称
                                  children:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: 终止原因 ID
                                          example: '6891258038901016846'
                                        name:
                                          type: object
                                          properties:
                                            zh_cn:
                                              type: string
                                              description: 中文
                                              example: 测试
                                            en_us:
                                              type: string
                                              description: 英文
                                              example: test
                                          description: 终止原因名称
                                    description: 子级终止原因
                                description: 投递终止原因
                              creator_id:
                                type: string
                                description: 投递创建者 ID，仅当投递创建人为企业内部员工时可获取（如员工手动上传简历 / 加入职位 / 内推），其余情况返回为空（如候选人主动投递）
                                example: ou_ce613028fe74745421f5dc320bb9c709
                              owner_id:
                                type: string
                                description: 投递所有者 ID
                                example: ou_ce913028fe74123221f5dc320bb9c709
                              terminator_id:
                                type: string
                                description: 投递终止者 ID
                                example: ou_ce913028fe74123221f5dc320bb9c709
                              create_time:
                                type: string
                                description: 创建时间戳（单位：毫秒）
                                example: '1632990774278'
                              modify_time:
                                type: string
                                description: 修改时间戳（单位：毫秒）
                                example: '1634801678103'
                              lock_status:
                                type: integer
                                description: 锁定状态
                                enum:
                                - 1
                                - 2
                                - 3
                                x-enum-descriptions:
                                  '1': 无锁
                                  '2': 被其他投递锁定
                                  '3': 被当前投递锁定
                                example: '1'
                              termination_reason_note:
                                type: string
                                description: 终止备注
                                example: 其他投递已入职
                            description: 投递基本信息
                          job:
                            allOf:
                            - $ref: '#/components/schemas/Job2'
                            description: 投递职位信息
                          talent:
                            type: object
                            properties:
                              id:
                                type: string
                                description: 人才 ID
                                example: '6956499586395523359'
                              name:
                                type: string
                                description: 人才名字
                                example: 小明
                              mobile_code:
                                type: string
                                description: 人才手机国家区号
                                example: '+86'
                              mobile_number:
                                type: string
                                description: 人才手机号
                                example: '13563350751'
                              email:
                                type: string
                                description: 人才邮箱
                                example: xxx@bytedance.com
                            description: 投递人才信息
                          evaluations:
                            type: array
                            items:
                              $ref: '#/components/schemas/Item32'
                            description: 投递评估信息
                          interview_aggregation:
                            type: object
                            properties:
                              interviews:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: 面试 ID
                                      example: '6949805467799537964'
                                    begin_time:
                                      type: string
                                      description: 面试开始时间（ms）
                                      example: '1618899376474'
                                    end_time:
                                      type: string
                                      description: 面试结束时间（ms）
                                      example: '1618999376474'
                                    round:
                                      type: integer
                                      description: 面试轮次（从0开始计数）
                                      example: '0'
                                    interview_record_list:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: 面试评价ID
                                            example: '7171693733661327361'
                                          feedback_form_id:
                                            type: string
                                            description: 面试评价表ID
                                            example: '71716937336613273612'
                                          commit_status:
                                            type: integer
                                            description: 提交状态
                                            enum:
                                            - 1
                                            - 2
                                            x-enum-descriptions:
                                              '1': 已提交
                                              '2': 未提交
                                            example: '1'
                                          submit_time:
                                            type: string
                                            description: 面试评价提交时间
                                            example: '1710405457390'
                                          record_score:
                                            type: object
                                            properties:
                                              score:
                                                type: number
                                                description: 分数，即面试评价得分，精确到小数点后两位
                                                example: '100'
                                              total_score:
                                                type: number
                                                description: 满分，即面试评价的总分
                                                example: '100'
                                            description: 面试评价分数
                                          interviewer:
                                            type: object
                                            properties:
                                              id:
                                                type: string
                                                description: 用户 ID
                                                example: '6956499586395523359'
                                              name:
                                                type: object
                                                properties:
                                                  zh_cn:
                                                    type: string
                                                    description: 中文
                                                    example: 测试
                                                  en_us:
                                                    type: string
                                                    description: 英文
                                                    example: test
                                                description: 用户名称
                                            description: 面试官信息
                                          attachments:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                file_id:
                                                  type: string
                                                  description: 附件 ID
                                                  example: '7140517838785481004'
                                                file_name:
                                                  type: string
                                                  description: 附件名称
                                                  example: 1.13测试1的面试记录.pdf
                                                content_type:
                                                  type: string
                                                  description: 附件类型
                                                  example: application/pdf
                                                create_time:
                                                  type: string
                                                  description: 附件创建时间(ms)
                                                  example: '1710399930151'
                                            description: 面试评价附件列表
                                          module_assessments:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                interview_feedback_form_module_id:
                                                  type: string
                                                  description: 对应面试评价表中模块 ID
                                                  example: '7171693733661327361'
                                                module_name:
                                                  type: object
                                                  properties:
                                                    zh_cn:
                                                      type: string
                                                      description: 模块中文名称
                                                      example: 测试
                                                    en_us:
                                                      type: string
                                                      description: 模块英文名称
                                                      example: test
                                                  description: 模块名称
                                                module_type:
                                                  type: integer
                                                  description: 模块类型
                                                  enum:
                                                  - 1
                                                  - 2
                                                  x-enum-descriptions:
                                                    '1': 系统预置「面试结论」模块
                                                    '2': 自定义模块（无模块名称）
                                                module_weight:
                                                  type: number
                                                  description: 模块权重
                                                  example: '10'
                                                module_score:
                                                  type: number
                                                  description: 模块打分
                                                  example: '10'
                                                dimension_assessments:
                                                  type: array
                                                  items:
                                                    type: object
                                                    properties:
                                                      interview_feedback_form_dimension_id:
                                                        type: string
                                                        description: 对应模版中维度ID
                                                        example: '7171693733661327361'
                                                      dimension_name:
                                                        type: object
                                                        properties:
                                                          zh_cn:
                                                            type: string
                                                            description: 维度中文名称
                                                            example: 测试
                                                          en_us:
                                                            type: string
                                                            description: 维度英文名称
                                                            example: test
                                                        description: 维度名称
                                                      dimension_type:
                                                        type: integer
                                                        description: 维度类型
                                                        enum:
                                                        - 1
                                                        - 2
                                                        - 3
                                                        - 5
                                                        - 6
                                                        - 7
                                                        - 10
                                                        - 11
                                                        - 12
                                                        x-enum-descriptions:
                                                          '1': 单选题
                                                          '2': 多选题
                                                          '3': 描述题
                                                          '5': 职级建议
                                                          '6': 打分题(单选)
                                                          '7': 打分题(填空)
                                                          '10': 系统预置-结论
                                                          '11': 系统预置-得分
                                                          '12': 系统预置-记录
                                                        example: '1'
                                                      weight:
                                                        type: number
                                                        description: 维度权重
                                                        example: '1'
                                                      dimension_content:
                                                        type: string
                                                        description: 当维度类型为描述题时，从此取值
                                                        example: 描述题作答
                                                      dimension_option:
                                                        allOf:
                                                        - $ref: '#/components/schemas/DimensionOption'
                                                        description: 当维度类型为单选题时，从此取值
                                                      dimension_options:
                                                        type: array
                                                        items:
                                                          $ref: '#/components/schemas/DimensionOption'
                                                        description: 当维度类型为多选题时，从此取值
                                                      dimension_score:
                                                        type: integer
                                                        description: 当维度评价方式为「打分题(填空)时」，从此取值
                                                        example: '10'
                                                      recommended_job_level:
                                                        type: object
                                                        properties:
                                                          lower_limit_job_level_name:
                                                            type: object
                                                            properties:
                                                              zh_cn:
                                                                type: string
                                                                description: 中文
                                                                example: 测试
                                                              en_us:
                                                                type: string
                                                                description: 英文
                                                                example: test
                                                            description: 最低职级建议
                                                          higher_limit_job_level_name:
                                                            type: object
                                                            properties:
                                                              zh_cn:
                                                                type: string
                                                                description: 中文
                                                                example: 测试
                                                              en_us:
                                                                type: string
                                                                description: 英文
                                                                example: test
                                                            description: 最低职级建议
                                                        description: 当维度为「职级建议」时，从此取值
                                                      question_assessments:
                                                        type: array
                                                        items:
                                                          type: object
                                                          properties:
                                                            question_type:
                                                              type: integer
                                                              description: 所关联面试题的类型
                                                              enum:
                                                              - 1
                                                              - 2
                                                              x-enum-descriptions:
                                                                '1': 普通面试题目
                                                                '2': 在线编程题目
                                                              example: '1'
                                                            title:
                                                              type: object
                                                              properties:
                                                                zh_cn:
                                                                  type: string
                                                                  description: 中文
                                                                  example: 测试
                                                                en_us:
                                                                  type: string
                                                                  description: 英文
                                                                  example: test
                                                              description: 关联面试题的名称
                                                            description:
                                                              type: object
                                                              properties:
                                                                zh_cn:
                                                                  type: string
                                                                  description: 中文
                                                                  example: 测试
                                                                en_us:
                                                                  type: string
                                                                  description: 英文
                                                                  example: test
                                                              description: 关联面试题的描述
                                                            content:
                                                              type: string
                                                              description: 面试者作答内容
                                                              example: test
                                                            abilities:
                                                              type: array
                                                              items:
                                                                $ref: '#/components/schemas/Interviewer'
                                                              description: 能力项列表
                                                        description: 维度关联面试题
                                                      ability_assessments:
                                                        type: array
                                                        items:
                                                          type: object
                                                          properties:
                                                            id:
                                                              type: string
                                                              description: 能力项评价id
                                                              example: '6949805467799537964'
                                                            ability_id:
                                                              type: string
                                                              description: 能力项id
                                                              example: '7270798542321666366'
                                                            content:
                                                              type: string
                                                              description: 能力项评价内容
                                                              example: 能力项评价
                                                        description: 能力项评价
                                                  description: 模块评价
                                            description: 模块评价列表
                                      description: 面试记录信息
                                    feedback_submit_time:
                                      type: string
                                      description: 面试评价提交时间
                                      example: '1659318415000'
                                    stage_id:
                                      type: string
                                      description: 面试关联的投递阶段
                                      example: '634324253532232'
                                    application_id:
                                      type: string
                                      description: 投递 ID
                                      example: '634324253532232'
                                    stage:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: ID
                                          example: '1213213123123'
                                        name:
                                          type: object
                                          properties:
                                            zh_cn:
                                              type: string
                                              description: 中文
                                              example: 测试
                                            en_us:
                                              type: string
                                              description: 英文
                                              example: test
                                          description: 名称
                                      description: 阶段信息
                                    creator:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: ID
                                          example: '1213213123123'
                                        name:
                                          type: object
                                          properties:
                                            zh_cn:
                                              type: string
                                              description: 中文
                                              example: 测试
                                            en_us:
                                              type: string
                                              description: 英文
                                              example: test
                                          description: 名称
                                      description: 创建人
                                    create_time:
                                      type: string
                                      description: 创建时间戳（单位：毫秒）
                                      example: '1618999376474'
                                    update_time:
                                      type: string
                                      description: 更新时间戳（单位：毫秒）
                                      example: '1618999376474'
                                    interview_round_summary:
                                      type: integer
                                      description: 面试状态
                                      enum:
                                      - 2
                                      - 3
                                      - 4
                                      - 5
                                      - 6
                                      - 7
                                      - 8
                                      - 9
                                      - 10
                                      - 11
                                      - 12
                                      - 13
                                      - 14
                                      - 15
                                      - 16
                                      - 17
                                      - 18
                                      x-enum-descriptions:
                                        '2': 未开始
                                        '3': 全部未评价
                                        '4': 全部通过
                                        '5': 全部淘汰
                                        '6': 爽约
                                        '7': 部分评价且均评价通过
                                        '8': 部分评价且评价中有通过有淘汰的
                                        '9': 部分评价且均评价淘汰
                                        '10': 所有面试官都提交评价且评价中有通过有淘汰的
                                        '11': 部分评价且评价中有通过和待定的
                                        '12': 部分评价且评价中有淘汰和待定的
                                        '13': 部分评级且评价均为待定
                                        '14': 部分评价且评价中有通过、待定和淘汰的
                                        '15': 所有面试官都提交评价且评价中有通过和待定的
                                        '16': 所有面试官都提交评价且评价中有待定和淘汰的
                                        '17': 所有面试官都提交评价且评价均为待定
                                        '18': 所有面试官都提交评价且评价中有通过、待定、淘汰的
                                      example: '2'
                                    interview_arrangement_id:
                                      type: string
                                      description: 面试安排 ID
                                      example: '1111111'
                                    interview_type:
                                      type: integer
[...]
