# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · human_authentication API（全量）
  description: |-
    飞书开放平台 `human_authentication` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.0+5c37c7dd
  x-lark-project: human_authentication
  x-lark-track: full (official API Explorer)
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: identity
paths:
  /open-apis/human_authentication/v1/identities:
    post:
      operationId: human_authentication_identity_create
      summary: 录入身份信息
      tags:
      - identity
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/human_authentication-v1/identity/create
      parameters:
      - name: user_id
        in: query
        required: true
        schema:
          type: string
        description: 用户的唯一标识（使用的ID类型见下一参数描述，不同ID类型的区别和获取，参考文档：[如何获得 User ID、Open ID 和 Union ID？](https://open.feishu.cn/document/home/user-identity-introduction/how-to-get)）
        example: ou_2eb5483cb377daa5054bc6f86e2089a5
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - user_id
          - union_id
          x-enum-descriptions:
            open_id: 以open_id来识别用户
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户ID类型 open_id/user_id/union_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identity_name:
                  type: string
                  description: 姓名
                identity_code:
                  type: string
                  description: 身份证号
                mobile:
                  type: string
                  description: 手机号
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      verify_uid:
                        type: string
                        description: uid of user bind authentication
                    required:
                    - verify_uid
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - human_authentication:identity
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1291001
        httpCode: 400
        msg: upload fail
      - code: 1291002
        httpCode: 400
        msg: name mismatch
      - code: 1291003
        httpCode: 400
        msg: code mismatch
      - code: 1291004
        httpCode: 400
        msg: mobile mismatch
      - code: 1291010
        httpCode: 400
        msg: invalid request
      x-lark-rate-limit:
        tier: 0
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_id
        section: 2
components:
  schemas: {}
