# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · im API（全量）
  description: |-
    飞书开放平台 `im` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:22:04Z'
  x-lark-project: im
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:22:04Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: batch_message
- name: chat.announcement
- name: chat.managers
- name: chat.members
- name: chat.menu_item
- name: chat.menu_tree
- name: chat.moderation
- name: chat.tab
- name: chat.top_notice
- name: chat
- name: file
- name: image
- name: message.reaction
- name: message.resource
- name: message
- name: pin
- name: thread
- name: app_feed_card.batch
- name: app_feed_card
- name: biz_entity_tag_relation
- name: chat_button
- name: feed_card
- name: tag
- name: url_preview
paths:
  /open-apis/im/v1/batch_messages/{batch_message_id}:
    delete:
      operationId: im_batch_message_delete
      summary: 批量撤回消息
      tags:
      - batch_message
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/batch_message/delete
      parameters:
      - name: batch_message_id
        in: path
        required: true
        schema:
          type: string
        description: 待撤回的批量消息的ID
        example: bm_dc13264520392913993dd051dba21dcf
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - im:message:send_multi_users
      - im:message:send_multi_depts
      x-lark-error-mappings:
      - code: 230001
        httpCode: 400
        msg: ''
      - code: 230006
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 230009
        httpCode: 400
        msg: ''
      - code: 230026
        httpCode: 400
        msg: ''
      - code: 230027
        httpCode: 400
        msg: ''
      - code: 230030
        httpCode: 400
        msg: ''
      - code: 232096
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
  /open-apis/im/v1/batch_messages/{batch_message_id}/get_progress:
    get:
      operationId: im_batch_message_get_progress
      summary: 查询批量消息整体进度
      tags:
      - batch_message
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/batch_message/get_progress
      parameters:
      - name: batch_message_id
        in: path
        required: true
        schema:
          type: string
        description: 待查询的批量消息的ID
        example: bm-0b3d5d1b2df7c6d5dbd1abe2c91e2217
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      batch_message_send_progress:
                        type: object
                        properties:
                          valid_user_ids_count:
                            type: integer
                            description: 批量请求中有效的userid数量(包含机器人不可见用户)
                            example: '204'
                          success_user_ids_count:
                            type: integer
                            description: 已经成功给用户发送成功的消息数量
                            example: '200'
                          read_user_ids_count:
                            type: integer
                            description: 已读信息用户数量
                            example: '150'
                        description: 消息发送进度
                      batch_message_recall_progress:
                        type: object
                        properties:
                          recall:
                            type: boolean
                            description: 该条批量消息是否被执行过撤回操作
                            example: 'true'
                          recall_count:
                            type: integer
                            description: 已经成功撤回的消息数量
                            example: '100'
                        description: 消息撤回进度
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - im:message:send_multi_users
      - im:message:send_multi_depts
      x-lark-error-mappings:
      - code: 230001
        httpCode: 400
        msg: ''
      - code: 230006
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 230012
        httpCode: 400
        msg: ''
      - code: 230027
        httpCode: 400
        msg: ''
      - code: 230030
        httpCode: 400
        msg: ''
      - code: 232096
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
  /open-apis/im/v1/batch_messages/{batch_message_id}/read_user:
    get:
      operationId: im_batch_message_read_user
      summary: 查询批量消息推送和阅读人数
      tags:
      - batch_message
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/batch_message/read_user
      parameters:
      - name: batch_message_id
        in: path
        required: true
        schema:
          type: string
        description: 待查询的批量消息的ID
        example: bm_dc13264520392913993dd051dba21dcf
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      read_user:
                        type: object
                        properties:
                          read_count:
                            type: string
                            description: 已读人数
                          total_count:
                            type: string
                            description: 总人数
                        required:
                        - read_count
                        - total_count
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - im:message:send_multi_users
      - im:message:send_multi_depts
      x-lark-error-mappings:
      - code: 230001
        httpCode: 400
        msg: ''
      - code: 230012
        httpCode: 400
        msg: ''
      - code: 230027
        httpCode: 400
        msg: ''
      - code: 230030
        httpCode: 400
        msg: ''
      - code: 232096
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
  /open-apis/im/v1/chats/{chat_id}/announcement:
    get:
      operationId: im_chat_announcement_get
      summary: 获取群公告信息
      tags:
      - chat.announcement
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-announcement/get
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 待获取公告的群 ID，详情参见[群ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)
        example: oc_5ad11d72b830411d72b836c20
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      content:
                        type: string
                        description: CCM 文档序列化信息
                        example: xxx
                      revision:
                        type: string
                        description: 文档当前版本号 纯数字
                        example: '12'
                      create_time:
                        type: string
                        description: 文档生成的时间戳（秒）
                        example: '1609296809'
                      update_time:
                        type: string
                        description: 消息更新的时间戳（秒）
                        example: '1609296809'
                      owner_id_type:
                        type: string
                        description: 文档所有者id类型， open_id/user_id/union_id/app_id
                        enum:
                        - user_id
                        - union_id
                        - open_id
                        - app_id
                        x-enum-descriptions:
                          user_id: 以user_id来识别用户
                          union_id: 以union_id来识别用户
                          open_id: 以open_id来识别用户
                          app_id: 以app_id来识别应用
                        example: open_id
                      owner_id:
                        type: string
                        description: 文档所有者id
                        example: ou_7d8a6e6df7621556ce0d21922b676706ccs
                      modifier_id_type:
                        type: string
                        description: 文档最新修改者id类型， open_id/user_id/union_id/app_id
                        enum:
                        - user_id
                        - union_id
                        - open_id
                        - app_id
                        x-enum-descriptions:
                          user_id: 以user_id来识别用户
                          union_id: 以union_id来识别用户
                          open_id: 以open_id来识别用户
                          app_id: 以app_id来识别应用
                        example: open_id
                      modifier_id:
                        type: string
                        description: 文档最新修改者id
                        example: ou_7d8a6e6df7621556ce0d21922b676706ccs
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - im:chat
      - im:chat:readonly
      - im:chat.announcement:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232003
        httpCode: 400
        msg: ''
      - code: 232010
        httpCode: 400
        msg: ''
      - code: 232011
        httpCode: 400
        msg: ''
      - code: 232019
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      - code: 232066
        httpCode: 400
        msg: ''
      - code: 232097
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
    patch:
      operationId: im_chat_announcement_patch
      summary: 更新群公告信息
      tags:
      - chat.announcement
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-announcement/patch
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 待修改公告的群 ID，详情参见[群ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)
        example: oc_5ad11d72b830411d72b836c20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                revision:
                  type: string
                  description: 文档当前版本号 int64 类型，get 接口会返回
                  example: '12'
                requests:
                  type: array
                  items:
                    type: string
                  description: |-
                    修改文档请求的序列化字段

                    更新公告信息的格式和更新[云文档](https://open.feishu.cn/document/ukTMukTMukTM/uYDM2YjL2AjN24iNwYjN)格式相同
                  example: xxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - im:chat
      - im:chat.announcement:write_only
      x-lark-error-mappings:
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232002
        httpCode: 400
        msg: ''
      - code: 232003
        httpCode: 400
        msg: ''
      - code: 232009
        httpCode: 400
        msg: Your request specifies a chat which has already been dissolved.
      - code: 232010
        httpCode: 400
        msg: ''
      - code: 232011
        httpCode: 400
        msg: ''
      - code: 232018
        httpCode: 400
        msg: ''
      - code: 232019
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      - code: 232066
        httpCode: 400
        msg: ''
      - code: 232097
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
  /open-apis/im/v1/chats/{chat_id}/managers/add_managers:
    post:
      operationId: im_chat_managers_add_managers
      summary: 指定群管理员
      tags:
      - chat.managers
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-managers/add_managers
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群 ID，详情参见[群ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)
        example: oc_a0553eda9014c201e6969b478895c230
      - name: member_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - app_id
          x-enum-descriptions:
            user_id: 以user_id来识别成员
            union_id: 以union_id来识别成员
            open_id: 以open_id来识别成员
            app_id: 以app_id来识别成员
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 群成员 id 类型 open_id/user_id/union_id/app_id
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                manager_ids:
                  type: array
                  items:
                    type: string
                  description: 要增加的 manager_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      chat_managers:
                        type: array
                        items:
                          type: string
                        description: 群目前的管理员id
                      chat_bot_managers:
                        type: array
                        items:
                          type: string
                        description: 群目前的管理员bot id
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - im:chat
      - im:chat.managers:write_only
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232009
        httpCode: 400
        msg: Your request specifies a chat which has already been dissolved.
      - code: 232011
        httpCode: 400
        msg: ''
      - code: 232019
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232027
        httpCode: 400
        msg: ''
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      - code: 232038
        httpCode: 400
        msg: ''
      - code: 232039
        httpCode: 400
        msg: ''
      - code: 232040
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: member_id_type
          idTypeSection: 2
          to: lark_id
        key: $.manager_ids[*]
        section: 0
  /open-apis/im/v1/chats/{chat_id}/managers/delete_managers:
    post:
      operationId: im_chat_managers_delete_managers
      summary: 删除群管理员
      tags:
      - chat.managers
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-managers/delete_managers
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群 ID，详情参见[群ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)
        example: oc_a0553eda9014c201e6969b478895c230
      - name: member_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - app_id
          x-enum-descriptions:
            user_id: 以user_id来识别成员
            union_id: 以union_id来识别成员
            open_id: 以open_id来识别成员
            app_id: 以app_id来识别成员
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 群成员 id 类型 open_id/user_id/union_id/app_id
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                manager_ids:
                  type: array
                  items:
                    type: string
                  description: 要删除的 manager_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      chat_managers:
                        type: array
                        items:
                          type: string
                        description: 群目前的管理员id
                      chat_bot_managers:
                        type: array
                        items:
                          type: string
                        description: 群目前的管理员bot id
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - im:chat
      - im:chat.managers:write_only
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232009
        httpCode: 400
        msg: Your request specifies a chat which has already been dissolved.
      - code: 232011
        httpCode: 400
        msg: ''
      - code: 232019
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232027
        httpCode: 400
        msg: ''
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      - code: 232038
        httpCode: 400
        msg: ''
      - code: 232039
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: member_id_type
          idTypeSection: 2
          to: lark_id
        key: $.manager_ids[*]
        section: 0
  /open-apis/im/v1/chats/{chat_id}/members:
    post:
      operationId: im_chat_members_create
      summary: 将用户或机器人拉入群聊
      tags:
      - chat.members
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-members/create
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群 ID，详情参见[群ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)
        example: oc_a0553eda9014c201e6969b478895c230
      - name: member_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - app_id
          x-enum-descriptions:
            user_id: 以user_id来识别成员
            union_id: 以union_id来识别成员
            open_id: 以open_id来识别成员
            app_id: 以app_id来识别成员
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: |-
          进群成员 id 类型 open_id/user_id/union_id/app_id

          <b>注意：</b>拉机器人入群请使用 `app_id`
      - name: succeed_type
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          x-enum-descriptions:
            '0': 保持以前的策略，存在不可用的 ID 会拉群失败，返回错误响应
            '1': 将可用 ID 全部拉入群，返回拉群成功的响应，并展示不可用的
            '2': 存在不可用的 ID 会拉群失败，返回错误响应，并展示出不可用的 ID
        description: 出现不可用ID后的处理方式 0/1/2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id_list:
                  type: array
                  items:
                    type: string
                  description: |-
                    成员列表

                    <b>注意：</b>每次请求，最多拉50个用户或者5个机器人，并且群组最多容纳15个机器人
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      invalid_id_list:
                        type: array
                        items:
                          type: string
                        description: ID无效的成员列表
                      not_existed_id_list:
                        type: array
                        items:
                          type: string
                        description: ID不存在的成员列表
                      pending_approval_id_list:
                        type: array
                        items:
                          type: string
                        description: 等待群主或管理员审批的成员ID列表
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - im:chat
      - im:chat.members:write_only
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232004
        httpCode: 400
        msg: ''
      - code: 232006
        httpCode: 400
        msg: ''
      - code: 232009
        httpCode: 400
        msg: Your request specifies a chat which has already been dissolved.
      - code: 232010
        httpCode: 400
        msg: ''
      - code: 232011
        httpCode: 400
        msg: ''
      - code: 232013
        httpCode: 400
        msg: ''
      - code: 232017
        httpCode: 400
        msg: ''
      - code: 232019
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232027
        httpCode: 400
        msg: ''
      - code: 232028
        httpCode: 400
        msg: ''
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      - code: 232043
        httpCode: 400
        msg: ''
      - code: 232044
        httpCode: 400
        msg: ''
      - code: 232090
        httpCode: 400
        msg: ''
      - code: 99992351
        httpCode: 400
        msg: ''
      - code: 99992360
        httpCode: 400
        msg: ''
      - code: 99992364
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: member_id_type
          idTypeSection: 2
          to: lark_id
        key: $.id_list[*]
        section: 0
    delete:
      operationId: im_chat_members_delete
      summary: 将用户或机器人移出群聊
      tags:
      - chat.members
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-members/delete
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群 ID，详情参见[群ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)
        example: oc_a0553eda9014c201e6969b478895c230
      - name: member_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - app_id
          x-enum-descriptions:
            user_id: 以user_id来识别成员
            union_id: 以union_id来识别成员
            open_id: 以open_id来识别成员
            app_id: 以app_id来识别成员
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 出群成员 id 类型 open_id/user_id/union_id/app_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id_list:
                  type: array
                  items:
                    type: string
                  description: 成员列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      invalid_id_list:
                        type: array
                        items:
                          type: string
                        description: 无效成员列表
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - im:chat
      - im:chat.members:write_only
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232004
        httpCode: 400
        msg: ''
      - code: 232006
        httpCode: 400
        msg: ''
      - code: 232007
        httpCode: 400
        msg: ''
      - code: 232009
        httpCode: 400
        msg: Your request specifies a chat which has already been dissolved.
      - code: 232010
        httpCode: 400
        msg: ''
      - code: 232011
        httpCode: 400
        msg: ''
      - code: 232014
        httpCode: 400
        msg: ''
      - code: 232019
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232027
        httpCode: 400
        msg: ''
      - code: 232029
        httpCode: 400
        msg: ''
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      - code: 232076
        httpCode: 400
        msg: Can't kick chat owner.
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: member_id_type
          idTypeSection: 2
          to: lark_id
        key: $.id_list[*]
        section: 0
    get:
      operationId: im_chat_members_get
      summary: 获取群成员列表
      tags:
      - chat.members
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-members/get
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群 ID，详情参见[群ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)
        example: oc_a0553eda9014c201e6969b478895c230
      - name: member_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别成员
            union_id: 以union_id来识别成员
            open_id: 以open_id来识别成员
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 群成员 用户 ID 类型，详情参见 [用户相关的 ID 概念](https://open.feishu.cn/document/home/user-identity-introduction/introduction)
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: WWxHTStrOEs5WHZpNktGbU94bUcvMWlxdDUzTWt1OXNrRmlLaGRNVG0yaz0=
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            member_id_type:
                              type: string
                              description: member id类型
                              example: user_id
                              x-lark-id-types:
                                open_id: user
                                union_id: user
                                user_id: user
                            member_id:
                              type: string
                              description: member id
                              example: 4d7a3c6g
                            name:
                              type: string
                              description: 名字
                              example: 张三
                            tenant_key:
                              type: string
                              description: tenant key
                        description: member列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: '0'
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                      member_total:
                        type: integer
                        description: 成员总数
                        example: '2'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - im:chat:readonly
      - im:chat
      - im:chat.group_info:readonly
      - im:chat.members:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232004
        httpCode: 400
        msg: ''
      - code: 232006
        httpCode: 400
        msg: ''
      - code: 232009
        httpCode: 400
        msg: Your request specifies a chat which has already been dissolved.
      - code: 232010
        httpCode: 400
        msg: ''
      - code: 232011
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
  /open-apis/im/v1/chats/{chat_id}/members/is_in_chat:
    get:
      operationId: im_chat_members_is_in_chat
      summary: 判断用户或机器人是否在群里
      tags:
      - chat.members
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-members/is_in_chat
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群 ID，详情参见[群ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)
        example: oc_a0553eda9014c201e6969b478895c230
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      is_in_chat:
                        type: boolean
                        description: 用户或者机器人是否在群中
                        example: 'false'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - im:chat:readonly
      - im:chat
      - im:chat.group_info:readonly
      - im:chat.members:read
      x-lark-error-mappings:
      - code: 232004
        httpCode: 400
        msg: ''
      - code: 232006
        httpCode: 400
        msg: ''
      - code: 232010
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
  /open-apis/im/v1/chats/{chat_id}/members/me_join:
    patch:
      operationId: im_chat_members_me_join
      summary: 用户或机器人主动加入群聊
      tags:
      - chat.members
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-members/me_join
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群 ID，详情参见[群ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)
        example: oc_a0553eda9014c201e6969b478895c230
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - im:chat
      - im:chat.members:write_only
      x-lark-error-mappings:
      - code: 232004
        httpCode: 400
        msg: ''
      - code: 232006
        httpCode: 400
        msg: ''
      - code: 232008
        httpCode: 400
        msg: ''
      - code: 232009
        httpCode: 400
        msg: Your request specifies a chat which has already been dissolved.
      - code: 232010
        httpCode: 400
        msg: ''
      - code: 232013
        httpCode: 400
        msg: ''
      - code: 232019
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232027
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      - code: 232075
        httpCode: 400
        msg: The public group needs to apply to join, and users or bots are not allowed to actively join the group.
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
  /open-apis/im/v1/chats/{chat_id}/menu_items/{menu_item_id}:
    patch:
      operationId: im_chat_menu_item_patch
      summary: 修改群菜单元信息
      tags:
      - chat.menu_item
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-menu_item/patch
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群ID
        example: oc_a0553eda9014c201e6969b478895c230
      - name: menu_item_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 一级或二级菜单ID
        example: '7156553273518882844'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                update_fields:
                  type: array
                  items:
                    type: string
                    enum:
                    - ICON
                    - NAME
                    - I18N_NAME
                    - REDIRECT_LINK
                    x-enum-descriptions:
                      ICON: 图标
                      NAME: 名称
                      I18N_NAME: 国际化名称
                      REDIRECT_LINK: 跳转链接
                  description: 修改的字段
                chat_menu_item:
                  type: object
                  properties:
                    action_type:
                      type: string
                      description: 菜单类型
                      enum:
                      - NONE
                      - REDIRECT_LINK
                      x-enum-descriptions:
                        NONE: 无类型，仅一级菜单存在二级菜单时，该一级菜单设置NONE类型。
                        REDIRECT_LINK: 跳转链接类型
                      example: NONE
                    redirect_link:
                      type: object
                      properties:
                        common_url:
                          type: string
                          example: https://open.feishu.cn/
                        ios_url:
                          type: string
                          example: https://open.feishu.cn/
                        android_url:
                          type: string
                          example: https://open.feishu.cn/
                        pc_url:
                          type: string
                          example: https://open.feishu.cn/
                        web_url:
                          type: string
                          example: https://open.feishu.cn/
                      description: 跳转链接
                    image_key:
                      type: string
                      description: image_key
                      example: img_v2_b0fbe905-7988-4282-b882-82edd010336j
                    name:
                      type: string
                      description: 名称
                      example: 评审报名
                    i18n_names:
                      type: object
                      properties:
                        zh_cn:
                          type: string
                          description: 中文名
                          example: 评审报名
                        en_us:
                          type: string
                          description: 英文名
                          example: Sign up
                        ja_jp:
                          type: string
                          description: 日文名
                          example: サインアップ
                      description: 国际化名称，一级菜单名称字符数要在1到8范围内，二级菜单名称字符数要在1到24范围内。<br><br>**注意：**<br>1中文=2英文=2其他语言字符=2字符
                  description: 元信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      chat_menu_item:
                        type: object
                        properties:
                          action_type:
                            type: string
                            description: 菜单类型
                            enum:
                            - NONE
                            - REDIRECT_LINK
                            x-enum-descriptions:
                              NONE: 无类型，仅一级菜单存在二级菜单时，该一级菜单设置NONE类型。
                              REDIRECT_LINK: 跳转链接类型
                            example: NONE
                          redirect_link:
                            type: object
                            properties:
                              common_url:
                                type: string
                                example: https://open.feishu.cn/
                              ios_url:
                                type: string
                                example: https://open.feishu.cn/
                              android_url:
                                type: string
                                example: https://open.feishu.cn/
                              pc_url:
                                type: string
                                example: https://open.feishu.cn/
                              web_url:
                                type: string
                                example: https://open.feishu.cn/
                            description: 跳转链接
                          image_key:
                            type: string
                            description: image_key
                            example: img_v2_b0fbe905-7988-4282-b882-82edd010336j
                          name:
                            type: string
                            description: 名称
                            example: 评审报名
                          i18n_names:
                            type: object
                            properties:
                              zh_cn:
                                type: string
                                description: 中文名
                                example: 评审报名
                              en_us:
                                type: string
                                description: 英文名
                                example: Sign up
                              ja_jp:
                                type: string
                                description: 日文名
                                example: サインアップ
                            description: 国际化名称，一级菜单名称字符数要在1到8范围内，二级菜单名称字符数要在1到24范围内。<br><br>**注意：**<br>1中文=2英文=2其他语言字符=2字符
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - im:chat
      - im:chat.menu_tree:write_only
      x-lark-error-mappings:
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232009
        httpCode: 400
        msg: Your request specifies a chat which has already been dissolved.
      - code: 232011
        httpCode: 400
        msg: ''
      - code: 232014
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      - code: 232055
        httpCode: 400
        msg: The operator does not have chat tab, chat menu, chat widget manage permission
      - code: 232073
        httpCode: 400
        msg: ''
      - code: 232078
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
  /open-apis/im/v1/chats/{chat_id}/menu_tree:
    post:
      operationId: im_chat_menu_tree_create
      summary: 添加群菜单
      tags:
      - chat.menu_tree
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-menu_tree/create
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群ID
        example: oc_a0553eda9014c201e6969b478895c230
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                menu_tree:
                  type: object
                  properties:
                    chat_menu_top_levels:
                      type: array
                      items:
                        type: object
                        properties:
                          chat_menu_item:
                            type: object
                            properties:
                              action_type:
                                type: string
                                description: 菜单类型
                                enum:
                                - NONE
                                - REDIRECT_LINK
                                x-enum-descriptions:
                                  NONE: 无类型，仅一级菜单存在二级菜单时，该一级菜单设置NONE类型。
                                  REDIRECT_LINK: 跳转链接类型
                                example: NONE
                              redirect_link:
                                type: object
                                properties:
                                  common_url:
                                    type: string
                                    example: https://open.feishu.cn/
                                  ios_url:
                                    type: string
                                    example: https://open.feishu.cn/
                                  android_url:
                                    type: string
                                    example: https://open.feishu.cn/
                                  pc_url:
                                    type: string
                                    example: https://open.feishu.cn/
                                  web_url:
                                    type: string
                                    example: https://open.feishu.cn/
                                description: 跳转链接
                              image_key:
                                type: string
                                description: image_key
                                example: img_v2_b0fbe905-7988-4282-b882-82edd010336j
                              name:
                                type: string
                                description: 名称
                                example: 评审报名
                              i18n_names:
                                type: object
                                properties:
                                  zh_cn:
                                    type: string
                                    description: 中文名
                                    example: 评审报名
                                  en_us:
                                    type: string
                                    description: 英文名
                                    example: Sign up
                                  ja_jp:
                                    type: string
                                    description: 日文名
                                    example: サインアップ
                                description: 国际化名称，一级菜单名称字符数要在1到8范围内，二级菜单名称字符数要在1到24范围内。<br><br>**注意：**<br>1中文=2英文=2其他语言字符=2字符
                            required:
                            - action_type
                            - name
                            description: 一级菜单信息
                          children:
                            type: array
                            items:
                              type: object
                              properties:
                                chat_menu_item:
                                  type: object
                                  properties:
                                    action_type:
                                      type: string
                                      description: 菜单类型
                                      enum:
                                      - NONE
                                      - REDIRECT_LINK
                                      x-enum-descriptions:
                                        NONE: 无类型，仅一级菜单存在二级菜单时，该一级菜单设置NONE类型。
                                        REDIRECT_LINK: 跳转链接类型
                                      example: NONE
                                    redirect_link:
                                      type: object
                                      properties:
                                        common_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        ios_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        android_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        pc_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        web_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                      description: 跳转链接
                                    image_key:
                                      type: string
                                      description: image_key
                                      example: img_v2_b0fbe905-7988-4282-b882-82edd010336j
                                    name:
                                      type: string
                                      description: 名称
                                      example: 评审报名
                                    i18n_names:
                                      type: object
                                      properties:
                                        zh_cn:
                                          type: string
                                          description: 中文名
                                          example: 评审报名
                                        en_us:
                                          type: string
                                          description: 英文名
                                          example: Sign up
                                        ja_jp:
                                          type: string
                                          description: 日文名
                                          example: サインアップ
                                      description: 国际化名称，一级菜单名称字符数要在1到8范围内，二级菜单名称字符数要在1到24范围内。<br><br>**注意：**<br>1中文=2英文=2其他语言字符=2字符
                                  description: 二级菜单信息
                            description: 二级菜单列表
                        required:
                        - chat_menu_item
                      description: 一级菜单列表
                  required:
                  - chat_menu_top_levels
                  description: 要向群内追加的菜单
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      menu_tree:
                        type: object
                        properties:
                          chat_menu_top_levels:
                            type: array
                            items:
                              type: object
                              properties:
                                chat_menu_top_level_id:
                                  type: string
                                  description: 一级菜单ID
                                  example: '7117116451961487361'
                                  format: int64
                                chat_menu_item:
                                  type: object
                                  properties:
                                    action_type:
                                      type: string
                                      description: 菜单类型
                                      enum:
                                      - NONE
                                      - REDIRECT_LINK
                                      x-enum-descriptions:
                                        NONE: 无类型，仅一级菜单存在二级菜单时，该一级菜单设置NONE类型。
                                        REDIRECT_LINK: 跳转链接类型
                                      example: NONE
                                    redirect_link:
                                      type: object
                                      properties:
                                        common_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        ios_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        android_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        pc_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        web_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                      description: 跳转链接
                                    image_key:
                                      type: string
                                      description: image_key
                                      example: img_v2_b0fbe905-7988-4282-b882-82edd010336j
                                    name:
                                      type: string
                                      description: 名称
                                      example: 评审报名
                                    i18n_names:
                                      type: object
                                      properties:
                                        zh_cn:
                                          type: string
                                          description: 中文名
                                          example: 评审报名
                                        en_us:
                                          type: string
                                          description: 英文名
                                          example: Sign up
                                        ja_jp:
                                          type: string
                                          description: 日文名
                                          example: サインアップ
                                      description: 国际化名称，一级菜单名称字符数要在1到8范围内，二级菜单名称字符数要在1到24范围内。<br><br>**注意：**<br>1中文=2英文=2其他语言字符=2字符
                                  description: 一级菜单信息
                                children:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      chat_menu_second_level_id:
                                        type: string
                                        description: 二级菜单ID
                                        example: '7039638308221468675'
                                        format: int64
                                      chat_menu_item:
                                        type: object
                                        properties:
                                          action_type:
                                            type: string
                                            description: 菜单类型
                                            enum:
                                            - NONE
                                            - REDIRECT_LINK
                                            x-enum-descriptions:
                                              NONE: 无类型，仅一级菜单存在二级菜单时，该一级菜单设置NONE类型。
                                              REDIRECT_LINK: 跳转链接类型
                                            example: NONE
                                          redirect_link:
                                            type: object
                                            properties:
                                              common_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              ios_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              android_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              pc_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              web_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                            description: 跳转链接
                                          image_key:
                                            type: string
                                            description: image_key
                                            example: img_v2_b0fbe905-7988-4282-b882-82edd010336j
                                          name:
                                            type: string
                                            description: 名称
                                            example: 评审报名
                                          i18n_names:
                                            type: object
                                            properties:
                                              zh_cn:
                                                type: string
                                                description: 中文名
                                                example: 评审报名
                                              en_us:
                                                type: string
                                                description: 英文名
                                                example: Sign up
                                              ja_jp:
                                                type: string
                                                description: 日文名
                                                example: サインアップ
                                            description: 国际化名称，一级菜单名称字符数要在1到8范围内，二级菜单名称字符数要在1到24范围内。<br><br>**注意：**<br>1中文=2英文=2其他语言字符=2字符
                                        description: 二级菜单信息
                                  description: 二级菜单列表
                            description: 一级菜单列表
                        description: 追加后群内现有菜单
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - im:chat
      - im:chat.menu_tree:write_only
      x-lark-error-mappings:
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232008
        httpCode: 400
        msg: ''
      - code: 232009
        httpCode: 400
        msg: Your request specifies a chat which has already been dissolved.
      - code: 232011
        httpCode: 400
        msg: ''
      - code: 232014
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232055
        httpCode: 400
        msg: The operator does not have chat tab, chat menu, chat widget manage permission
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      - code: 232056
        httpCode: 400
        msg: ''
      - code: 232070
        httpCode: 400
        msg: ''
      - code: 232071
        httpCode: 400
        msg: ''
      - code: 232073
        httpCode: 400
        msg: ''
      - code: 232078
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
    delete:
      operationId: im_chat_menu_tree_delete
      summary: 删除群菜单
      tags:
      - chat.menu_tree
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-menu_tree/delete
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群ID
        example: oc_a0553eda9014c201e6969b478895c230
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_menu_top_level_ids:
                  type: array
                  items:
                    type: string
                  description: 要删除的一级菜单ID列表
                  example: '7156553273518882844'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      menu_tree:
                        type: object
                        properties:
                          chat_menu_top_levels:
                            type: array
                            items:
                              type: object
                              properties:
                                chat_menu_top_level_id:
                                  type: string
                                  description: 一级菜单ID
                                  example: '7117116451961487361'
                                  format: int64
                                chat_menu_item:
                                  type: object
                                  properties:
                                    action_type:
                                      type: string
                                      description: 菜单类型
                                      enum:
                                      - NONE
                                      - REDIRECT_LINK
                                      x-enum-descriptions:
                                        NONE: 无类型，仅一级菜单存在二级菜单时，该一级菜单设置NONE类型。
                                        REDIRECT_LINK: 跳转链接类型
                                      example: NONE
                                    redirect_link:
                                      type: object
                                      properties:
                                        common_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        ios_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        android_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        pc_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        web_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                      description: 跳转链接
                                    image_key:
                                      type: string
                                      description: image_key
                                      example: img_v2_b0fbe905-7988-4282-b882-82edd010336j
                                    name:
                                      type: string
                                      description: 名称
                                      example: 评审报名
                                    i18n_names:
                                      type: object
                                      properties:
                                        zh_cn:
                                          type: string
                                          description: 中文名
                                          example: 评审报名
                                        en_us:
                                          type: string
                                          description: 英文名
                                          example: Sign up
                                        ja_jp:
                                          type: string
                                          description: 日文名
                                          example: サインアップ
                                      description: 国际化名称，一级菜单名称字符数要在1到8范围内，二级菜单名称字符数要在1到24范围内。<br><br>**注意：**<br>1中文=2英文=2其他语言字符=2字符
                                  description: 一级菜单信息
                                children:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      chat_menu_second_level_id:
                                        type: string
                                        description: 二级菜单ID
                                        example: '7039638308221468675'
                                        format: int64
                                      chat_menu_item:
                                        type: object
                                        properties:
                                          action_type:
                                            type: string
                                            description: 菜单类型
                                            enum:
                                            - NONE
                                            - REDIRECT_LINK
                                            x-enum-descriptions:
                                              NONE: 无类型，仅一级菜单存在二级菜单时，该一级菜单设置NONE类型。
                                              REDIRECT_LINK: 跳转链接类型
                                            example: NONE
                                          redirect_link:
                                            type: object
                                            properties:
                                              common_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              ios_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              android_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              pc_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              web_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                            description: 跳转链接
                                          image_key:
                                            type: string
                                            description: image_key
                                            example: img_v2_b0fbe905-7988-4282-b882-82edd010336j
                                          name:
                                            type: string
                                            description: 名称
                                            example: 评审报名
                                          i18n_names:
                                            type: object
                                            properties:
                                              zh_cn:
                                                type: string
                                                description: 中文名
                                                example: 评审报名
                                              en_us:
                                                type: string
                                                description: 英文名
                                                example: Sign up
                                              ja_jp:
                                                type: string
                                                description: 日文名
                                                example: サインアップ
                                            description: 国际化名称，一级菜单名称字符数要在1到8范围内，二级菜单名称字符数要在1到24范围内。<br><br>**注意：**<br>1中文=2英文=2其他语言字符=2字符
                                        description: 二级菜单信息
                                  description: 二级菜单列表
                            description: 一级菜单列表
                        description: 群内现有菜单
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - im:chat
      - im:chat.menu_tree:write_only
      x-lark-error-mappings:
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232009
        httpCode: 400
        msg: Your request specifies a chat which has already been dissolved.
      - code: 232011
        httpCode: 400
        msg: ''
      - code: 232008
        httpCode: 400
        msg: ''
      - code: 232014
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232055
        httpCode: 400
        msg: The operator does not have chat tab, chat menu, chat widget manage permission
      - code: 232073
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
    get:
      operationId: im_chat_menu_tree_get
      summary: 获取群菜单
      tags:
      - chat.menu_tree
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-menu_tree/get
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群ID
        example: oc_a0553eda9014c201e6969b478895c230
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      menu_tree:
                        type: object
                        properties:
                          chat_menu_top_levels:
                            type: array
                            items:
                              type: object
                              properties:
                                chat_menu_top_level_id:
                                  type: string
                                  description: 一级菜单ID
                                  example: '7117116451961487361'
                                  format: int64
                                chat_menu_item:
                                  type: object
                                  properties:
                                    action_type:
                                      type: string
                                      description: 菜单类型
                                      enum:
                                      - NONE
                                      - REDIRECT_LINK
                                      x-enum-descriptions:
                                        NONE: 无类型，仅一级菜单存在二级菜单时，该一级菜单设置NONE类型。
                                        REDIRECT_LINK: 跳转链接类型
                                      example: NONE
                                    redirect_link:
                                      type: object
                                      properties:
                                        common_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        ios_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        android_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        pc_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        web_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                      description: 跳转链接
                                    image_key:
                                      type: string
                                      description: image_key
                                      example: img_v2_b0fbe905-7988-4282-b882-82edd010336j
                                    name:
                                      type: string
                                      description: 名称
                                      example: 评审报名
                                    i18n_names:
                                      type: object
                                      properties:
                                        zh_cn:
                                          type: string
                                          description: 中文名
                                          example: 评审报名
                                        en_us:
                                          type: string
                                          description: 英文名
                                          example: Sign up
                                        ja_jp:
                                          type: string
                                          description: 日文名
                                          example: サインアップ
                                      description: 国际化名称，一级菜单名称字符数要在1到8范围内，二级菜单名称字符数要在1到24范围内。<br><br>**注意：**<br>1中文=2英文=2其他语言字符=2字符
                                  description: 一级菜单信息
                                children:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      chat_menu_second_level_id:
                                        type: string
                                        description: 二级菜单ID
                                        example: '7039638308221468675'
                                        format: int64
                                      chat_menu_item:
                                        type: object
                                        properties:
                                          action_type:
                                            type: string
                                            description: 菜单类型
                                            enum:
                                            - NONE
                                            - REDIRECT_LINK
                                            x-enum-descriptions:
                                              NONE: 无类型，仅一级菜单存在二级菜单时，该一级菜单设置NONE类型。
                                              REDIRECT_LINK: 跳转链接类型
                                            example: NONE
                                          redirect_link:
                                            type: object
                                            properties:
                                              common_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              ios_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              android_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              pc_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              web_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                            description: 跳转链接
                                          image_key:
                                            type: string
                                            description: image_key
                                            example: img_v2_b0fbe905-7988-4282-b882-82edd010336j
                                          name:
                                            type: string
                                            description: 名称
                                            example: 评审报名
                                          i18n_names:
                                            type: object
                                            properties:
                                              zh_cn:
                                                type: string
                                                description: 中文名
                                                example: 评审报名
                                              en_us:
                                                type: string
                                                description: 英文名
                                                example: Sign up
                                              ja_jp:
                                                type: string
                                                description: 日文名
                                                example: サインアップ
                                            description: 国际化名称，一级菜单名称字符数要在1到8范围内，二级菜单名称字符数要在1到24范围内。<br><br>**注意：**<br>1中文=2英文=2其他语言字符=2字符
                                        description: 二级菜单信息
                                  description: 二级菜单列表
                            description: 一级菜单列表
                        description: 群内所有菜单
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - im:chat
      - im:chat:readonly
      - im:chat.menu_tree:read
      x-lark-error-mappings:
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232011
        httpCode: 400
        msg: ''
      - code: 232014
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
  /open-apis/im/v1/chats/{chat_id}/menu_tree/sort:
    post:
      operationId: im_chat_menu_tree_sort
      summary: 排序群菜单
      tags:
      - chat.menu_tree
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-menu_tree/sort
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群ID
        example: oc_a0553eda9014c201e6969b478895c230
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_menu_top_level_ids:
                  type: array
                  items:
                    type: string
                  description: 一级菜单id列表
                  example: '7156553273518882844'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      menu_tree:
                        type: object
                        properties:
                          chat_menu_top_levels:
                            type: array
                            items:
                              type: object
                              properties:
                                chat_menu_top_level_id:
                                  type: string
                                  description: 一级菜单ID
                                  example: '7117116451961487361'
                                  format: int64
                                chat_menu_item:
                                  type: object
                                  properties:
                                    action_type:
                                      type: string
                                      description: 菜单类型
                                      enum:
                                      - NONE
                                      - REDIRECT_LINK
                                      x-enum-descriptions:
                                        NONE: 无类型，仅一级菜单存在二级菜单时，该一级菜单设置NONE类型。
                                        REDIRECT_LINK: 跳转链接类型
                                      example: NONE
                                    redirect_link:
                                      type: object
                                      properties:
                                        common_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        ios_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        android_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        pc_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                        web_url:
                                          type: string
                                          example: https://open.feishu.cn/
                                      description: 跳转链接
                                    image_key:
                                      type: string
                                      description: image_key
                                      example: img_v2_b0fbe905-7988-4282-b882-82edd010336j
                                    name:
                                      type: string
                                      description: 名称
                                      example: 评审报名
                                    i18n_names:
                                      type: object
                                      properties:
                                        zh_cn:
                                          type: string
                                          description: 中文名
                                          example: 评审报名
                                        en_us:
                                          type: string
                                          description: 英文名
                                          example: Sign up
                                        ja_jp:
                                          type: string
                                          description: 日文名
                                          example: サインアップ
                                      description: 国际化名称，一级菜单名称字符数要在1到8范围内，二级菜单名称字符数要在1到24范围内。<br><br>**注意：**<br>1中文=2英文=2其他语言字符=2字符
                                  description: 一级菜单信息
                                children:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      chat_menu_second_level_id:
                                        type: string
                                        description: 二级菜单ID
                                        example: '7039638308221468675'
                                        format: int64
                                      chat_menu_item:
                                        type: object
                                        properties:
                                          action_type:
                                            type: string
                                            description: 菜单类型
                                            enum:
                                            - NONE
                                            - REDIRECT_LINK
                                            x-enum-descriptions:
                                              NONE: 无类型，仅一级菜单存在二级菜单时，该一级菜单设置NONE类型。
                                              REDIRECT_LINK: 跳转链接类型
                                            example: NONE
                                          redirect_link:
                                            type: object
                                            properties:
                                              common_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              ios_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              android_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              pc_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                              web_url:
                                                type: string
                                                example: https://open.feishu.cn/
                                            description: 跳转链接
                                          image_key:
                                            type: string
                                            description: image_key
                                            example: img_v2_b0fbe905-7988-4282-b882-82edd010336j
                                          name:
                                            type: string
                                            description: 名称
                                            example: 评审报名
                                          i18n_names:
                                            type: object
                                            properties:
                                              zh_cn:
                                                type: string
                                                description: 中文名
                                                example: 评审报名
                                              en_us:
                                                type: string
                                                description: 英文名
                                                example: Sign up
                                              ja_jp:
                                                type: string
                                                description: 日文名
                                                example: サインアップ
                                            description: 国际化名称，一级菜单名称字符数要在1到8范围内，二级菜单名称字符数要在1到24范围内。<br><br>**注意：**<br>1中文=2英文=2其他语言字符=2字符
                                        description: 二级菜单信息
                                  description: 二级菜单列表
                            description: 一级菜单列表
                        description: 排序后群内菜单
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - im:chat
      - im:chat.menu_tree:write_only
      x-lark-error-mappings:
      - code: 232001
        httpCode: 400
        msg: ''
      - code: 232009
        httpCode: 400
        msg: Your request specifies a chat which has already been dissolved.
      - code: 232011
        httpCode: 400
        msg: ''
      - code: 232014
        httpCode: 400
        msg: ''
      - code: 232024
        httpCode: 400
        msg: ''
      - code: 232025
        httpCode: 400
        msg: Bot ability is not activated.
      - code: 232033
        httpCode: 400
        msg: ''
      - code: 232034
        httpCode: 400
        msg: ''
      - code: 232055
        httpCode: 400
        msg: The operator does not have chat tab, chat menu, chat widget manage permission
      - code: 232072
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: chat_id
        section: 3
  /open-apis/im/v1/chats/{chat_id}/moderation:
    get:
      operationId: im_chat_moderation_get
      summary: 获取群成员发言权限
      tags:
      - chat.moderation
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-moderation/get
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
          x-lark-id-types:
            chat_id: chat
        description: 群 ID，详情参见[群ID 说明](https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/im-v1/chat-id-description)
        example: oc_a0553eda9014c201e6969b478895c230
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
[...]
