# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · mail API（全量）
  description: |-
    飞书开放平台 `mail` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:22:04Z'
  x-lark-project: mail
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:22:04Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: mailgroup.alias
- name: mailgroup.manager
- name: mailgroup.member
- name: mailgroup.permission_member
- name: mailgroup
- name: multi_entity
- name: public_mailbox.alias
- name: public_mailbox.member
- name: public_mailbox
- name: user
- name: user_mailbox.alias
- name: user_mailbox.draft
- name: user_mailbox.event
- name: user_mailbox.folder
- name: user_mailbox.label
- name: user_mailbox.mail_contact
- name: user_mailbox.message.attachment
- name: user_mailbox.message
- name: user_mailbox.rule
- name: user_mailbox.sent_message
- name: user_mailbox.setting
- name: user_mailbox.template.attachment
- name: user_mailbox.template
- name: user_mailbox.thread
- name: user_mailbox
paths:
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/aliases:
    post:
      operationId: mail_mailgroup_alias_create
      summary: 创建邮件组别名
      tags:
      - mailgroup.alias
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-alias/create
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组id或邮件组邮箱地址
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email_alias:
                  type: string
                  description: 邮箱别名
                  example: email_alias@xxx.xx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      mailgroup_alias:
                        type: object
                        properties:
                          primary_email:
                            type: string
                            description: 主邮箱地址
                            example: primary_email@xxx.xx
                          email_alias:
                            type: string
                            description: 邮箱别名
                            example: email_alias@xxx.xx
                        description: 邮件组别名
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-error-mappings:
      - code: 1234006
        httpCode: 409
        msg: email address has been used
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234008
        httpCode: 400
        msg: ''
      - code: 1235002
        httpCode: 409
        msg: email alias address has been used
      - code: 1235003
        httpCode: 400
        msg: number of aliases exceeds limit
      - code: 1234019
        httpCode: 404
        msg: email alias domain not found
      - code: 1234033
        httpCode: 409
        msg: email address has been used by another member as login account
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: mail_mailgroup_alias_list
      summary: 获取邮件组所有别名
      tags:
      - mailgroup.alias
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-alias/list
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组id或邮件组邮箱地址
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            primary_email:
                              type: string
                              description: 主邮箱地址
                              example: primary_email@xxx.xx
                            email_alias:
                              type: string
                              description: 邮箱别名
                              example: email_alias@xxx.xx
                        description: 邮件组别名
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      - mail:mailgroup:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234008
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/aliases/{alias_id}:
    delete:
      operationId: mail_mailgroup_alias_delete
      summary: 删除邮件组别名
      tags:
      - mailgroup.alias
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-alias/delete
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组id或邮件组邮箱地址
      - name: alias_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组别名邮箱地址
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234012
        httpCode: 404
        msg: alias not found
      - code: 1234008
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 4
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/managers/batch_create:
    post:
      operationId: mail_mailgroup_manager_batch_create
      summary: 批量创建邮件组管理员
      tags:
      - mailgroup.manager
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-manager/batch_create
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组ID或邮箱地址
        example: xxxxxx 或 test_mail_group@xx.xx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                mailgroup_manager_list:
                  type: array
                  items:
                    type: object
                    properties:
                      user_id:
                        type: string
                        description: 管理员用户ID
                        example: xxxxxx
                  description: 邮件组管理员列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 200
        msg: mail group not found
      x-lark-rate-limit:
        tier: 9
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.mailgroup_manager_list[*].user_id
        section: 0
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/managers/batch_delete:
    post:
      operationId: mail_mailgroup_manager_batch_delete
      summary: 批量删除邮件组管理员
      tags:
      - mailgroup.manager
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-manager/batch_delete
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组ID或邮箱地址
        example: xxxxxx 或 test_mail_group@xx.xx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                mailgroup_manager_list:
                  type: array
                  items:
                    type: object
                    properties:
                      user_id:
                        type: string
                        description: 管理员用户ID
                        example: xxxxxx
                  description: 邮件组管理员列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 200
        msg: mail group not found
      x-lark-rate-limit:
        tier: 10
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.mailgroup_manager_list[*].user_id
        section: 0
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/managers:
    get:
      operationId: mail_mailgroup_manager_list
      summary: 批量获取邮件组管理员
      tags:
      - mailgroup.manager
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-manager/list
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组ID或邮箱地址
        example: xxxxxx 或 test_mail_group@xx.xx
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
        example: '20'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: xxxxxx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: string
                              description: 管理员用户ID
                              example: xxxxxx
                        description: 邮件组管理员列表
                      page_token:
                        type: string
                        description: 分页标识
                        example: xxxxxx
                      has_more:
                        type: boolean
                        description: 是否有更多数据
                        example: 'false'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      - mail:mailgroup:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 200
        msg: mail group not found
      x-lark-rate-limit:
        tier: 10
      x-lark-pagination: true
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/members/batch_create:
    post:
      operationId: mail_mailgroup_member_batch_create
      summary: 批量创建邮件组成员
      tags:
      - mailgroup.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-member/batch_create
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: The unique ID or email address of a mail group
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      member_id:
                        type: string
                        description: The unique ID of a member in this mail group
                        example: xxxxxxxxxxxxxxx
                      email:
                        type: string
                        description: The member's email address. Value is valid when type is one of USER/EXTERNAL_USER/MAIL_GROUP/PUBLIC_MAILBOX/OTHER_MEMBER
                        example: test_memeber@xxx.xx
                      user_id:
                        type: string
                        description: The member's user id. Value is valid when type is USER
                        example: xxxxxxxxxx
                      department_id:
                        type: string
                        description: The member's department id. Value is valid when type is DEPARTMENT
                        example: xxxxxxxxxx
                      type:
                        type: string
                        description: |-
                          The type of member. Possible values are:
                          - USER: internal user in the team
                          - DEPARTMENT: member is a department
                          - COMPANY: member is the company
                          - EXTERNAL_USER: internet user outside the organization
                          - MAIL_GROUP: member is another mail group
                          - PUBLIC_MAILBOX: member is a public mailbox
                          - OTHER_MEMBER: other internal member
                        enum:
                        - USER
                        - DEPARTMENT
                        - COMPANY
                        - EXTERNAL_USER
                        - MAIL_GROUP
                        - PUBLIC_MAILBOX
                        - OTHER_MEMBER
                        x-enum-descriptions:
                          USER: internal user in the team
                          DEPARTMENT: member is a department
                          COMPANY: member is the company
                          EXTERNAL_USER: internet user outside the organization
                          MAIL_GROUP: member is another mail group
                          PUBLIC_MAILBOX: member is a public mailbox
                          OTHER_MEMBER: other internal member
                        example: USER
                  description: 本次添加的邮件组成员列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            member_id:
                              type: string
                              description: The unique ID of a member in this mail group
                              example: xxxxxxxxxxxxxxx
                            email:
                              type: string
                              description: The member's email address. Value is valid when type is one of USER/EXTERNAL_USER/MAIL_GROUP/PUBLIC_MAILBOX/OTHER_MEMBER
                              example: test_memeber@xxx.xx
                            user_id:
                              type: string
                              description: The member's user id. Value is valid when type is USER
                              example: xxxxxxxxxx
                            department_id:
                              type: string
                              description: The member's department id. Value is valid when type is DEPARTMENT
                              example: xxxxxxxxxx
                            type:
                              type: string
                              description: |-
                                The type of member. Possible values are:
                                - USER: internal user in the team
                                - DEPARTMENT: member is a department
                                - COMPANY: member is the company
                                - EXTERNAL_USER: internet user outside the organization
                                - MAIL_GROUP: member is another mail group
                                - PUBLIC_MAILBOX: member is a public mailbox
                                - OTHER_MEMBER: other internal member
                              enum:
                              - USER
                              - DEPARTMENT
                              - COMPANY
                              - EXTERNAL_USER
                              - MAIL_GROUP
                              - PUBLIC_MAILBOX
                              - OTHER_MEMBER
                              x-enum-descriptions:
                                USER: internal user in the team
                                DEPARTMENT: member is a department
                                COMPANY: member is the company
                                EXTERNAL_USER: internet user outside the organization
                                MAIL_GROUP: member is another mail group
                                PUBLIC_MAILBOX: member is a public mailbox
                                OTHER_MEMBER: other internal member
                              example: USER
                        description: 添加成功后的邮件组成员信息列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234008
        httpCode: 400
        msg: ''
      - code: 1234030
        httpCode: 400
        msg: mailing group member count is over max limit
      x-lark-rate-limit:
        tier: 8
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.items[*].user_id
        section: 0
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.items[*].department_id
        section: 0
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/members/batch_delete:
    delete:
      operationId: mail_mailgroup_member_batch_delete
      summary: 批量删除邮件组成员
      tags:
      - mailgroup.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-member/batch_delete
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: The unique ID or email address of a mail group
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                member_id_list:
                  type: array
                  items:
                    type: string
                  description: 本次调用删除的成员ID列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234014
        httpCode: 404
        msg: ''
      x-lark-rate-limit:
        tier: 8
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/members:
    post:
      operationId: mail_mailgroup_member_create
      summary: 创建邮件组成员
      tags:
      - mailgroup.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-member/create
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组ID或者邮件组地址
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: The member's email address. Value is valid when type is one of USER/EXTERNAL_USER/MAIL_GROUP/PUBLIC_MAILBOX/OTHER_MEMBER
                  example: test_memeber@xxx.xx
                user_id:
                  type: string
                  description: The member's user id. Value is valid when type is USER
                  example: xxxxxxxxxx
                department_id:
                  type: string
                  description: The member's department id. Value is valid when type is DEPARTMENT
                  example: xxxxxxxxxx
                type:
                  type: string
                  description: |-
                    The type of member. Possible values are:
                    - USER: internal user in the team
                    - DEPARTMENT: member is a department
                    - COMPANY: member is the company
                    - EXTERNAL_USER: internet user outside the organization
                    - MAIL_GROUP: member is another mail group
                    - PUBLIC_MAILBOX: member is a public mailbox
                    - OTHER_MEMBER: other internal member
                  enum:
                  - USER
                  - DEPARTMENT
                  - COMPANY
                  - EXTERNAL_USER
                  - MAIL_GROUP
                  - PUBLIC_MAILBOX
                  - OTHER_MEMBER
                  x-enum-descriptions:
                    USER: internal user in the team
                    DEPARTMENT: member is a department
                    COMPANY: member is the company
                    EXTERNAL_USER: internet user outside the organization
                    MAIL_GROUP: member is another mail group
                    PUBLIC_MAILBOX: member is a public mailbox
                    OTHER_MEMBER: other internal member
                  example: USER
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      member_id:
                        type: string
                        description: The unique ID of a member in this mail group
                        example: xxxxxxxxxxxxxxx
                      email:
                        type: string
                        description: The member's email address. Value is valid when type is one of USER/EXTERNAL_USER/MAIL_GROUP/PUBLIC_MAILBOX/OTHER_MEMBER
                        example: test_memeber@xxx.xx
                      user_id:
                        type: string
                        description: The member's user id. Value is valid when type is USER
                        example: xxxxxxxxxx
                      department_id:
                        type: string
                        description: The member's department id. Value is valid when type is DEPARTMENT
                        example: xxxxxxxxxx
                      type:
                        type: string
                        description: |-
                          The type of member. Possible values are:
                          - USER: internal user in the team
                          - DEPARTMENT: member is a department
                          - COMPANY: member is the company
                          - EXTERNAL_USER: internet user outside the organization
                          - MAIL_GROUP: member is another mail group
                          - PUBLIC_MAILBOX: member is a public mailbox
                          - OTHER_MEMBER: other internal member
                        enum:
                        - USER
                        - DEPARTMENT
                        - COMPANY
                        - EXTERNAL_USER
                        - MAIL_GROUP
                        - PUBLIC_MAILBOX
                        - OTHER_MEMBER
                        x-enum-descriptions:
                          USER: internal user in the team
                          DEPARTMENT: member is a department
                          COMPANY: member is the company
                          EXTERNAL_USER: internet user outside the organization
                          MAIL_GROUP: member is another mail group
                          PUBLIC_MAILBOX: member is a public mailbox
                          OTHER_MEMBER: other internal member
                        example: USER
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234008
        httpCode: 400
        msg: ''
      - code: 1234030
        httpCode: 400
        msg: mailing group member count is over max limit
      x-lark-rate-limit:
        tier: 9
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_id
        section: 0
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department_id
        section: 0
    get:
      operationId: mail_mailgroup_member_list
      summary: 获取所有邮件组成员
      tags:
      - mailgroup.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-member/list
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: The unique ID or email address of a mail group
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的token
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            member_id:
                              type: string
                              description: The unique ID of a member in this mail group
                              example: xxxxxxxxxxxxxxx
                            email:
                              type: string
                              description: The member's email address. Value is valid when type is one of USER/EXTERNAL_USER/MAIL_GROUP/PUBLIC_MAILBOX/OTHER_MEMBER
                              example: test_memeber@xxx.xx
                            user_id:
                              type: string
                              description: The member's user id. Value is valid when type is USER
                              example: xxxxxxxxxx
                            department_id:
                              type: string
                              description: The member's department id. Value is valid when type is DEPARTMENT
                              example: xxxxxxxxxx
                            type:
                              type: string
                              description: |-
                                The type of member. Possible values are:
                                - USER: internal user in the team
                                - DEPARTMENT: member is a department
                                - COMPANY: member is the company
                                - EXTERNAL_USER: internet user outside the organization
                                - MAIL_GROUP: member is another mail group
                                - PUBLIC_MAILBOX: member is a public mailbox
                                - OTHER_MEMBER: other internal member
                              enum:
                              - USER
                              - DEPARTMENT
                              - COMPANY
                              - EXTERNAL_USER
                              - MAIL_GROUP
                              - PUBLIC_MAILBOX
                              - OTHER_MEMBER
                              x-enum-descriptions:
                                USER: internal user in the team
                                DEPARTMENT: member is a department
                                COMPANY: member is the company
                                EXTERNAL_USER: internet user outside the organization
                                MAIL_GROUP: member is another mail group
                                PUBLIC_MAILBOX: member is a public mailbox
                                OTHER_MEMBER: other internal member
                              example: USER
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      - mail:mailgroup:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      x-lark-rate-limit:
        tier: 0
      x-lark-pagination: true
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/members/{member_id}:
    delete:
      operationId: mail_mailgroup_member_delete
      summary: 删除邮件组成员
      tags:
      - mailgroup.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-member/delete
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: The unique ID or email address of a mail group
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      - name: member_id
        in: path
        required: true
        schema:
          type: string
        description: The unique ID of a member in this mail group
        example: xxxxxxxxxxxxxxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234014
        httpCode: 404
        msg: mail group member not found
      x-lark-rate-limit:
        tier: 9
    get:
      operationId: mail_mailgroup_member_get
      summary: 查询指定邮件组成员
      tags:
      - mailgroup.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-member/get
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组ID或者邮件组地址
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      - name: member_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组内成员唯一标识
        example: xxxxxxxxxxxxxxx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      member_id:
                        type: string
                        description: The unique ID of a member in this mail group
                        example: xxxxxxxxxxxxxxx
                      email:
                        type: string
                        description: The member's email address. Value is valid when type is one of USER/EXTERNAL_USER/MAIL_GROUP/PUBLIC_MAILBOX/OTHER_MEMBER
                        example: test_memeber@xxx.xx
                      user_id:
                        type: string
                        description: The member's user id. Value is valid when type is USER
                        example: xxxxxxxxxx
                      department_id:
                        type: string
                        description: The member's department id. Value is valid when type is DEPARTMENT
                        example: xxxxxxxxxx
                      type:
                        type: string
                        description: |-
                          The type of member. Possible values are:
                          - USER: internal user in the team
                          - DEPARTMENT: member is a department
                          - COMPANY: member is the company
                          - EXTERNAL_USER: internet user outside the organization
                          - MAIL_GROUP: member is another mail group
                          - PUBLIC_MAILBOX: member is a public mailbox
                          - OTHER_MEMBER: other internal member
                        enum:
                        - USER
                        - DEPARTMENT
                        - COMPANY
                        - EXTERNAL_USER
                        - MAIL_GROUP
                        - PUBLIC_MAILBOX
                        - OTHER_MEMBER
                        x-enum-descriptions:
                          USER: internal user in the team
                          DEPARTMENT: member is a department
                          COMPANY: member is the company
                          EXTERNAL_USER: internet user outside the organization
                          MAIL_GROUP: member is another mail group
                          PUBLIC_MAILBOX: member is a public mailbox
                          OTHER_MEMBER: other internal member
                        example: USER
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      - mail:mailgroup:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234014
        httpCode: 404
        msg: mail group member not found
      x-lark-rate-limit:
        tier: 0
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/permission_members/batch_create:
    post:
      operationId: mail_mailgroup_permission_member_batch_create
      summary: 批量创建邮件组权限成员
      tags:
      - mailgroup.permission_member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-permission_member/batch_create
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: The unique ID or email address of a mail group
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: open_department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
        example: open_department_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      permission_member_id:
                        type: string
                        description: The unique ID of a member in this permission group
                        example: xxxxxxxxxxxxxxx
                      user_id:
                        type: string
                        description: The member's user id. Value is valid when type is USER
                        example: xxxxxxxxxx
                      department_id:
                        type: string
                        description: The member's department id. Value is valid when type is DEPARTMENT
                        example: xxxxxxxxxx
                      email:
                        type: string
                        description: The member's email address. Value is valid when type is MAIL_GROUP/PUBLIC_MAILBOX
                        example: xxx@xx.x
                      type:
                        type: string
                        description: |-
                          The type of member. Possible values are:
                          - USER: internal user in the team
                          - DEPARTMENT: member is a department
                        enum:
                        - USER
                        - DEPARTMENT
                        - MAIL_GROUP
                        - PUBLIC_MAILBOX
                        x-enum-descriptions:
                          USER: internal user in the team
                          DEPARTMENT: member is a department
                          MAIL_GROUP: member is a mail group
                          PUBLIC_MAILBOX: member is a public mailbox
                        example: USER
                  description: 本次添加的邮件组权限成员列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            permission_member_id:
                              type: string
                              description: The unique ID of a member in this permission group
                              example: xxxxxxxxxxxxxxx
                            user_id:
                              type: string
                              description: The member's user id. Value is valid when type is USER
                              example: xxxxxxxxxx
                            department_id:
                              type: string
                              description: The member's department id. Value is valid when type is DEPARTMENT
                              example: xxxxxxxxxx
                            email:
                              type: string
                              description: The member's email address. Value is valid when type is MAIL_GROUP/PUBLIC_MAILBOX
                              example: xxx@xx.x
                            type:
                              type: string
                              description: |-
                                The type of member. Possible values are:
                                - USER: internal user in the team
                                - DEPARTMENT: member is a department
                              enum:
                              - USER
                              - DEPARTMENT
                              - MAIL_GROUP
                              - PUBLIC_MAILBOX
                              x-enum-descriptions:
                                USER: internal user in the team
                                DEPARTMENT: member is a department
                                MAIL_GROUP: member is a mail group
                                PUBLIC_MAILBOX: member is a public mailbox
                              example: USER
                        description: 添加成功后的邮件组权限成员信息列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234008
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 8
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.items[*].user_id
        section: 0
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.items[*].department_id
        section: 0
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/permission_members/batch_delete:
    delete:
      operationId: mail_mailgroup_permission_member_batch_delete
      summary: 批量删除邮件组权限成员
      tags:
      - mailgroup.permission_member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-permission_member/batch_delete
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: The unique ID or email address of a mail group
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                permission_member_id_list:
                  type: array
                  items:
                    type: string
                  description: 本次调用删除的权限成员ID列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234015
        httpCode: 404
        msg: ''
      x-lark-rate-limit:
        tier: 8
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/permission_members:
    post:
      operationId: mail_mailgroup_permission_member_create
      summary: 创建邮件组权限成员
      tags:
      - mailgroup.permission_member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-permission_member/create
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组ID或者邮件组地址
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: The member's user id. Value is valid when type is USER
                  example: xxxxxxxxxx
                department_id:
                  type: string
                  description: The member's department id. Value is valid when type is DEPARTMENT
                  example: xxxxxxxxxx
                email:
                  type: string
                  description: The member's email address. Value is valid when type is MAIL_GROUP/PUBLIC_MAILBOX
                  example: xxx@xx.x
                type:
                  type: string
                  description: |-
                    The type of member. Possible values are:
                    - USER: internal user in the team
                    - DEPARTMENT: member is a department
                  enum:
                  - USER
                  - DEPARTMENT
                  - MAIL_GROUP
                  - PUBLIC_MAILBOX
                  x-enum-descriptions:
                    USER: internal user in the team
                    DEPARTMENT: member is a department
                    MAIL_GROUP: member is a mail group
                    PUBLIC_MAILBOX: member is a public mailbox
                  example: USER
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      permission_member_id:
                        type: string
                        description: The unique ID of a member in this permission group
                        example: xxxxxxxxxxxxxxx
                      user_id:
                        type: string
                        description: The member's user id. Value is valid when type is USER
                        example: xxxxxxxxxx
                      department_id:
                        type: string
                        description: The member's department id. Value is valid when type is DEPARTMENT
                        example: xxxxxxxxxx
                      email:
                        type: string
                        description: The member's email address. Value is valid when type is MAIL_GROUP/PUBLIC_MAILBOX
                        example: xxx@xx.x
                      type:
                        type: string
                        description: |-
                          The type of member. Possible values are:
                          - USER: internal user in the team
                          - DEPARTMENT: member is a department
                        enum:
                        - USER
                        - DEPARTMENT
                        - MAIL_GROUP
                        - PUBLIC_MAILBOX
                        x-enum-descriptions:
                          USER: internal user in the team
                          DEPARTMENT: member is a department
                          MAIL_GROUP: member is a mail group
                          PUBLIC_MAILBOX: member is a public mailbox
                        example: USER
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      x-lark-rate-limit:
        tier: 9
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_id
        section: 0
      - fromTo:
          from: x_department_id
          idType: ''
          idTypeKey: department_id_type
          idTypeSection: 2
          to: lark_id
        key: $.department_id
        section: 0
    get:
      operationId: mail_mailgroup_permission_member_list
      summary: 批量获取邮件组权限成员
      tags:
      - mailgroup.permission_member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-permission_member/list
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组ID或者邮件组地址
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的token
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            permission_member_id:
                              type: string
                              description: The unique ID of a member in this permission group
                              example: xxxxxxxxxxxxxxx
                            user_id:
                              type: string
                              description: The member's user id. Value is valid when type is USER
                              example: xxxxxxxxxx
                            department_id:
                              type: string
                              description: The member's department id. Value is valid when type is DEPARTMENT
                              example: xxxxxxxxxx
                            email:
                              type: string
                              description: The member's email address. Value is valid when type is MAIL_GROUP/PUBLIC_MAILBOX
                              example: xxx@xx.x
                            type:
                              type: string
                              description: |-
                                The type of member. Possible values are:
                                - USER: internal user in the team
                                - DEPARTMENT: member is a department
                              enum:
                              - USER
                              - DEPARTMENT
                              - MAIL_GROUP
                              - PUBLIC_MAILBOX
                              x-enum-descriptions:
                                USER: internal user in the team
                                DEPARTMENT: member is a department
                                MAIL_GROUP: member is a mail group
                                PUBLIC_MAILBOX: member is a public mailbox
                              example: USER
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      - mail:mailgroup:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      x-lark-rate-limit:
        tier: 0
      x-lark-pagination: true
  /open-apis/mail/v1/mailgroups/{mailgroup_id}/permission_members/{permission_member_id}:
    delete:
      operationId: mail_mailgroup_permission_member_delete
      summary: 删除邮件组权限成员
      tags:
      - mailgroup.permission_member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-permission_member/delete
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: The unique ID or email address of a mail group
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      - name: permission_member_id
        in: path
        required: true
        schema:
          type: string
        description: The unique ID of a member in this permission group
        example: xxxxxxxxxxxxxxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234015
        httpCode: 404
        msg: mail group permission member not found
      x-lark-rate-limit:
        tier: 9
    get:
      operationId: mail_mailgroup_permission_member_get
      summary: 获取邮件组权限成员
      tags:
      - mailgroup.permission_member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup-permission_member/get
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组ID或者邮件组地址
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      - name: permission_member_id
        in: path
        required: true
        schema:
          type: string
        description: 权限组内成员唯一标识
        example: xxxxxxxxxxxxxxx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      permission_member_id:
                        type: string
                        description: The unique ID of a member in this permission group
                        example: xxxxxxxxxxxxxxx
                      user_id:
                        type: string
                        description: The member's user id. Value is valid when type is USER
                        example: xxxxxxxxxx
                      department_id:
                        type: string
                        description: The member's department id. Value is valid when type is DEPARTMENT
                        example: xxxxxxxxxx
                      email:
                        type: string
                        description: The member's email address. Value is valid when type is MAIL_GROUP/PUBLIC_MAILBOX
                        example: xxx@xx.x
                      type:
                        type: string
                        description: |-
                          The type of member. Possible values are:
                          - USER: internal user in the team
                          - DEPARTMENT: member is a department
                        enum:
                        - USER
                        - DEPARTMENT
                        - MAIL_GROUP
                        - PUBLIC_MAILBOX
                        x-enum-descriptions:
                          USER: internal user in the team
                          DEPARTMENT: member is a department
                          MAIL_GROUP: member is a mail group
                          PUBLIC_MAILBOX: member is a public mailbox
                        example: USER
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      - mail:mailgroup:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234015
        httpCode: 404
        msg: mail group permission member not found
      x-lark-rate-limit:
        tier: 0
  /open-apis/mail/v1/mailgroups:
    post:
      operationId: mail_mailgroup_create
      summary: 创建邮件组
      tags:
      - mailgroup
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup/create
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: The mail group's email address
                  example: test_mail_group@xxx.xx
                name:
                  type: string
                  description: The mail group's display name
                  example: test mail group
                description:
                  type: string
                  description: The mail group's description
                  example: mail group for testing
                who_can_send_mail:
                  type: string
                  description: |-
                    Who can send mail to this mail group. Possible values are:
                    - ANYONE: Any Internet user can send mail to this mail group
                    - ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                    - ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                    - CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members resoure
                  enum:
                  - ANYONE
                  - ALL_INTERNAL_USERS
                  - ALL_GROUP_MEMBERS
                  - CUSTOM_MEMBERS
                  x-enum-descriptions:
                    ANYONE: Any Internet user can send mail to this mail group
                    ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                    ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                    CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members
                      resoure
                  example: ALL_INTERNAL_USERS
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      mailgroup_id:
                        type: string
                        description: The unique ID of a mail group
                        example: xxxxxxxxxxxxxxx
                      email:
                        type: string
                        description: The mail group's email address
                        example: test_mail_group@xxx.xx
                      name:
                        type: string
                        description: The mail group's display name
                        example: test mail group
                      description:
                        type: string
                        description: The mail group's description
                        example: mail group for testing
                      direct_members_count:
                        type: string
                        description: The number of mail group's direct members
                        example: '10'
                      include_external_member:
                        type: boolean
                        description: Value is true if this mail group has external member
                        example: 'true'
                      include_all_company_member:
                        type: boolean
                        description: Value is true if all company members are in this mail group
                        example: 'false'
                      who_can_send_mail:
                        type: string
                        description: |-
                          Who can send mail to this mail group. Possible values are:
                          - ANYONE: Any Internet user can send mail to this mail group
                          - ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                          - ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                          - CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members resoure
                        enum:
                        - ANYONE
                        - ALL_INTERNAL_USERS
                        - ALL_GROUP_MEMBERS
                        - CUSTOM_MEMBERS
                        x-enum-descriptions:
                          ANYONE: Any Internet user can send mail to this mail group
                          ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                          ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                          CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members
                            resoure
                        example: ALL_INTERNAL_USERS
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-error-mappings:
      - code: 1234019
        httpCode: 400
        msg: mail address's domain not found
      - code: 1234006
        httpCode: 409
        msg: email address has been used
      - code: 1234008
        httpCode: 400
        msg: ''
      - code: 1234030
        httpCode: 400
        msg: mailing group count is over max limit
      - code: 1234033
        httpCode: 409
        msg: email address has been used by another member as login account
      x-lark-rate-limit:
        tier: 11
    get:
      operationId: mail_mailgroup_list
      summary: 批量获取邮件组
      tags:
      - mailgroup
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup/list
      parameters:
      - name: manager_user_id
        in: query
        required: false
        schema:
          type: string
        description: 邮件组管理员用户ID，用于获取该用户有管理权限的邮件组
        example: ou_xxxxxx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的token
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            mailgroup_id:
                              type: string
                              description: The unique ID of a mail group
                              example: xxxxxxxxxxxxxxx
                            email:
                              type: string
                              description: The mail group's email address
                              example: test_mail_group@xxx.xx
                            name:
                              type: string
                              description: The mail group's display name
                              example: test mail group
                            description:
                              type: string
                              description: The mail group's description
                              example: mail group for testing
                            direct_members_count:
                              type: string
                              description: The number of mail group's direct members
                              example: '10'
                            include_external_member:
                              type: boolean
                              description: Value is true if this mail group has external member
                              example: 'true'
                            include_all_company_member:
                              type: boolean
                              description: Value is true if all company members are in this mail group
                              example: 'false'
                            who_can_send_mail:
                              type: string
                              description: |-
                                Who can send mail to this mail group. Possible values are:
                                - ANYONE: Any Internet user can send mail to this mail group
                                - ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                                - ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                                - CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members resoure
                              enum:
                              - ANYONE
                              - ALL_INTERNAL_USERS
                              - ALL_GROUP_MEMBERS
                              - CUSTOM_MEMBERS
                              x-enum-descriptions:
                                ANYONE: Any Internet user can send mail to this mail group
                                ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                                ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                                CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members
                                  resoure
                              example: ALL_INTERNAL_USERS
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      - mail:mailgroup:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1235003
        httpCode: 503
        msg: Service unavailable
      x-lark-rate-limit:
        tier: 0
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: manager_user_id
        section: 2
  /open-apis/mail/v1/mailgroups/{mailgroup_id}:
    delete:
      operationId: mail_mailgroup_delete
      summary: 删除邮件组
      tags:
      - mailgroup
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup/delete
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组ID或者邮件组地址
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      x-lark-rate-limit:
        tier: 0
    get:
      operationId: mail_mailgroup_get
      summary: 查询指定邮件组
      tags:
      - mailgroup
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup/get
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组ID或者邮件组地址
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      mailgroup_id:
                        type: string
                        description: The unique ID of a mail group
                        example: xxxxxxxxxxxxxxx
                      email:
                        type: string
                        description: The mail group's email address
                        example: test_mail_group@xxx.xx
                      name:
                        type: string
                        description: The mail group's display name
                        example: test mail group
                      description:
                        type: string
                        description: The mail group's description
                        example: mail group for testing
                      direct_members_count:
                        type: string
                        description: The number of mail group's direct members
                        example: '10'
                      include_external_member:
                        type: boolean
                        description: Value is true if this mail group has external member
                        example: 'true'
                      include_all_company_member:
                        type: boolean
                        description: Value is true if all company members are in this mail group
                        example: 'false'
                      who_can_send_mail:
                        type: string
                        description: |-
                          Who can send mail to this mail group. Possible values are:
                          - ANYONE: Any Internet user can send mail to this mail group
                          - ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                          - ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                          - CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members resoure
                        enum:
                        - ANYONE
                        - ALL_INTERNAL_USERS
                        - ALL_GROUP_MEMBERS
                        - CUSTOM_MEMBERS
                        x-enum-descriptions:
                          ANYONE: Any Internet user can send mail to this mail group
                          ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                          ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                          CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members
                            resoure
                        example: ALL_INTERNAL_USERS
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      - mail:mailgroup:readonly
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      x-lark-rate-limit:
        tier: 0
    patch:
      operationId: mail_mailgroup_patch
      summary: 修改邮件组部分信息
      tags:
      - mailgroup
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup/patch
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组ID或者邮件组地址
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: The public mailbox's new primary email address
                  example: test_mail_group@xxx.xx
                name:
                  type: string
                  description: The mail group's display name
                  example: test mail group
                description:
                  type: string
                  description: The mail group's description
                  example: mail group for testing
                who_can_send_mail:
                  type: string
                  description: |-
                    Who can send mail to this mail group. Possible values are:
                    - ANYONE: Any Internet user can send mail to this mail group
                    - ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                    - ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                    - CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members resoure
                  enum:
                  - ANYONE
                  - ALL_INTERNAL_USERS
                  - ALL_GROUP_MEMBERS
                  - CUSTOM_MEMBERS
                  x-enum-descriptions:
                    ANYONE: Any Internet user can send mail to this mail group
                    ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                    ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                    CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members
                      resoure
                  example: ALL_INTERNAL_USERS
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      mailgroup_id:
                        type: string
                        description: The unique ID of a mail group
                        example: xxxxxxxxxxxxxxx
                      email:
                        type: string
                        description: The mail group's email address
                        example: test_mail_group@xxx.xx
                      name:
                        type: string
                        description: The mail group's display name
                        example: test mail group
                      description:
                        type: string
                        description: The mail group's description
                        example: mail group for testing
                      direct_members_count:
                        type: string
                        description: The number of mail group's direct members
                        example: '10'
                      include_external_member:
                        type: boolean
                        description: Value is true if this mail group has external member
                        example: 'true'
                      include_all_company_member:
                        type: boolean
                        description: Value is true if all company members are in this mail group
                        example: 'false'
                      who_can_send_mail:
                        type: string
                        description: |-
                          Who can send mail to this mail group. Possible values are:
                          - ANYONE: Any Internet user can send mail to this mail group
                          - ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                          - ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                          - CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members resoure
                        enum:
                        - ANYONE
                        - ALL_INTERNAL_USERS
                        - ALL_GROUP_MEMBERS
                        - CUSTOM_MEMBERS
                        x-enum-descriptions:
                          ANYONE: Any Internet user can send mail to this mail group
                          ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                          ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                          CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members
                            resoure
                        example: ALL_INTERNAL_USERS
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234008
        httpCode: 400
        msg: ''
      - code: 1234033
        httpCode: 409
        msg: email address has been used by another member as login account
      - code: 1234008
        httpCode: 400
        msg: input invalid
      - code: 1234006
        httpCode: 409
        msg: email address has been used by another member
      - code: 1234023
        httpCode: 409
        msg: email address alias exceed the number limit
      - code: 1234030
        httpCode: 400
        msg: mailing group count is over max limit
      x-lark-rate-limit:
        tier: 11
    put:
      operationId: mail_mailgroup_update
      summary: 修改邮件组全部信息
      tags:
      - mailgroup
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/mailgroup/update
      parameters:
      - name: mailgroup_id
        in: path
        required: true
        schema:
          type: string
        description: 邮件组ID或者邮件组地址
        example: xxxxxxxxxxxxxxx or test_mail_group@xxx.xx
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: The public mailbox's new primary email address
                  example: test_mail_group@xxx.xx
                name:
                  type: string
                  description: The mail group's display name
                  example: test mail group
                description:
                  type: string
                  description: The mail group's description
                  example: mail group for testing
                who_can_send_mail:
                  type: string
                  description: |-
                    Who can send mail to this mail group. Possible values are:
                    - ANYONE: Any Internet user can send mail to this mail group
                    - ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                    - ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                    - CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members resoure
                  enum:
                  - ANYONE
                  - ALL_INTERNAL_USERS
                  - ALL_GROUP_MEMBERS
                  - CUSTOM_MEMBERS
                  x-enum-descriptions:
                    ANYONE: Any Internet user can send mail to this mail group
                    ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                    ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                    CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members
                      resoure
                  example: ALL_INTERNAL_USERS
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      mailgroup_id:
                        type: string
                        description: The unique ID of a mail group
                        example: xxxxxxxxxxxxxxx
                      email:
                        type: string
                        description: The mail group's email address
                        example: test_mail_group@xxx.xx
                      name:
                        type: string
                        description: The mail group's display name
                        example: test mail group
                      description:
                        type: string
                        description: The mail group's description
                        example: mail group for testing
                      direct_members_count:
                        type: string
                        description: The number of mail group's direct members
                        example: '10'
                      include_external_member:
                        type: boolean
                        description: Value is true if this mail group has external member
                        example: 'true'
                      include_all_company_member:
                        type: boolean
                        description: Value is true if all company members are in this mail group
                        example: 'false'
                      who_can_send_mail:
                        type: string
                        description: |-
                          Who can send mail to this mail group. Possible values are:
                          - ANYONE: Any Internet user can send mail to this mail group
                          - ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                          - ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                          - CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members resoure
                        enum:
                        - ANYONE
                        - ALL_INTERNAL_USERS
                        - ALL_GROUP_MEMBERS
                        - CUSTOM_MEMBERS
                        x-enum-descriptions:
                          ANYONE: Any Internet user can send mail to this mail group
                          ALL_INTERNAL_USERS: Anyone in the team can send mail to this mail group
                          ALL_GROUP_MEMBERS: Any group member can send mail to this mail group
                          CUSTOM_MEMBERS: Only custom members can send mail to this mail group, define in mailgroup.permission_members
                            resoure
                        example: ALL_INTERNAL_USERS
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mail:mailgroup
      x-lark-error-mappings:
      - code: 1234013
        httpCode: 404
        msg: mail group not found
      - code: 1234008
        httpCode: 400
        msg: ''
      - code: 1234033
        httpCode: 409
        msg: email address has been used by another member as login account
      - code: 1234008
        httpCode: 400
        msg: input invalid
      - code: 1234006
        httpCode: 409
        msg: email address has been used by another member
      - code: 1234023
        httpCode: 409
        msg: email address alias exceed the number limit
      - code: 1234030
        httpCode: 400
        msg: mailing group count is over max limit
      x-lark-rate-limit:
        tier: 11
  /open-apis/mail/v1/multi_entity/search:
    post:
      operationId: mail_multi_entity_search
      summary: 多实体搜索
      tags:
      - multi_entity
      description: 适用于写信联系人搜索
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/mail-v1/multi_entity/search
      parameters:
      - name: user_id_type
[...]
