# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · mdm API（全量）
  description: |-
    飞书开放平台 `mdm` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: mdm
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: user_auth_data_relation
- name: batch_country_region
- name: country_region
paths:
  /open-apis/mdm/v1/user_auth_data_relations/bind:
    post:
      operationId: mdm_user_auth_data_relation_bind
      summary: 用户数据维度绑定
      tags:
      - user_auth_data_relation
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/mdm-v1/user_auth_data_relation/bind
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                root_dimension_type:
                  type: string
                  description: 数据类型编码
                  example: zijie
                sub_dimension_types:
                  type: array
                  items:
                    type: string
                  description: 数据编码列表
                  example: gscs
                authorized_user_ids:
                  type: array
                  items:
                    type: string
                  description: 授权人的lark id
                  example: on_21f2db9bdbafadeb16cd77b76060d41d
                uams_app_id:
                  type: string
                  description: uams系统中应用id
                  example: uams-tenant-test
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mdm:user_auth
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1640601
        httpCode: 400
        msg: 请确认数据类型是否存在
      - code: 1640602
        httpCode: 400
        msg: 请确认数据值是否存在
      - code: 1640603
        httpCode: 400
        msg: 请确认应用ID是否正确
      - code: 1640604
        httpCode: 400
        msg: 请查询当前租户是否开通此权限应用
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.authorized_user_ids[*]
        section: 0
  /open-apis/mdm/v1/user_auth_data_relations/unbind:
    post:
      operationId: mdm_user_auth_data_relation_unbind
      summary: 用户数据维度解绑
      tags:
      - user_auth_data_relation
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/mdm-v1/user_auth_data_relation/unbind
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                root_dimension_type:
                  type: string
                  description: 数据类型编码
                  example: zijie
                sub_dimension_types:
                  type: array
                  items:
                    type: string
                  description: 数据编码列表
                  example: gscs
                authorized_user_ids:
                  type: array
                  items:
                    type: string
                  description: 授权人的lark id
                  example: on_21f2db9bdbafadeb16cd77b76060d41d
                uams_app_id:
                  type: string
                  description: uams系统中应用id
                  example: uams-tenant-test
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mdm:user_auth
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1640601
        httpCode: 400
        msg: 请确认数据类型是否存在
      - code: 1640602
        httpCode: 400
        msg: 请确认数据值是否存在
      - code: 1640603
        httpCode: 400
        msg: 请确认应用ID是否正确
      - code: 1640604
        httpCode: 400
        msg: 请查询当前租户是否开通此应用
      - code: 1640605
        httpCode: 400
        msg: 授权记录不存在
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.authorized_user_ids[*]
        section: 0
  /open-apis/mdm/v3/batch_country_region:
    get:
      operationId: mdm_batch_country_region_get
      summary: 根据主数据编码批量查询国家/地区
      tags:
      - batch_country_region
      description: 查询国家 / 地区
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/mdm-v3/batch_country_region/get
      parameters:
      - name: fields
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: 需要的查询字段集
      - name: ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: 主数据编码集
      - name: languages
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
            default: en-US
        description: 语言集
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item'
                        description: 国家/地区目录列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mdm:country_region:read
      x-lark-error-mappings:
      - code: 1640201
        httpCode: 400
        msg: invalid params
      - code: 1640202
        httpCode: 400
        msg: param not found
      - code: 1640203
        httpCode: 400
        msg: object field not found
      - code: 1640204
        httpCode: 400
        msg: language is invalid
      - code: 1640205
        httpCode: 400
        msg: params is required
      - code: 1640206
        httpCode: 400
        msg: limit too large
      - code: 1640207
        httpCode: 400
        msg: limit plus offset too large
      - code: 1640208
        httpCode: 400
        msg: page token invalid
      - code: 1640209
        httpCode: 400
        msg: record id not found
      - code: 1640210
        httpCode: 400
        msg: sort by null is not allowed
      - code: 1640211
        httpCode: 400
        msg: biz codes is empty
      - code: 1640212
        httpCode: 400
        msg: mdm codes is empty
      - code: 1640213
        httpCode: 400
        msg: biz id is invalid
      - code: 1640101
        httpCode: 500
        msg: system error
      - code: 1640102
        httpCode: 500
        msg: invalid generic method
      - code: 1640103
        httpCode: 500
        msg: call meta service error
      - code: 1640104
        httpCode: 500
        msg: meta data not found
      - code: 1640105
        httpCode: 500
        msg: data source request invalid
      - code: 1640106
        httpCode: 500
        msg: db error
      - code: 1640107
        httpCode: 500
        msg: func not supported yet
      - code: 1640108
        httpCode: 500
        msg: field type not supported yet
      - code: 1640109
        httpCode: 500
        msg: validator not found
      - code: 1640110
        httpCode: 500
        msg: transformer not found
      - code: 1640111
        httpCode: 500
        msg: executor not found
      - code: 1640112
        httpCode: 500
        msg: invalid data source type
      - code: 1640113
        httpCode: 500
        msg: data source not found
      - code: 1640114
        httpCode: 500
        msg: data source invalid
      - code: 1640115
        httpCode: 500
        msg: meta setting not found
      - code: 1640116
        httpCode: 500
        msg: generate page token error
      - code: 1640117
        httpCode: 500
        msg: record duplicate error
      - code: 1640118
        httpCode: 500
        msg: generate idl error
      - code: 1640119
        httpCode: 500
        msg: producer not found error
      - code: 1640120
        httpCode: 500
        msg: custom func request error
      - code: 1640121
        httpCode: 500
        msg: custom func response error
      x-lark-rate-limit:
        tier: 7
  /open-apis/mdm/v3/country_regions:
    get:
      operationId: mdm_country_region_list
      summary: 分页批量查询国家/地区
      tags:
      - country_region
      description: 搜索国家 / 地区
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/mdm-v3/country_region/list
      parameters:
      - name: languages
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
            default: en-US
        description: 语言集
      - name: fields
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: 需要的查询字段集
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: 查询页大小
        example: '10'
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: 查询起始位置
        example: '0'
      - name: return_count
        in: query
        required: false
        schema:
          type: boolean
        description: 是否返回总数
      - name: page_token
        in: query
        required: false
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    logic:
                      type: string
                      description: 与、或条件
                    expressions:
                      type: array
                      items:
                        type: object
                        properties:
                          field:
                            type: string
                            description: 字段名
                          operator:
                            type: string
                            description: 运算符
                          value:
                            type: object
                            properties:
                              string_value:
                                type: string
                                description: 字符串值
                              bool_value:
                                type: boolean
                                description: 布尔值
                              int_value:
                                type: string
                                description: 整形值
                              string_list_value:
                                type: array
                                items:
                                  type: string
                                description: 字符串列表值
                              int_list_value:
                                type: array
                                items:
                                  type: string
                                description: 整形列表值
                            description: 字段值
                        required:
                        - field
                        - operator
                        - value
                      description: 过滤条件
                  required:
                  - logic
                  description: filter
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item'
                        description: 国家/地区目录列表
                      total:
                        type: string
                        description: 总数
                        example: '0'
                      next_page_token:
                        type: string
                        description: 下一次分页参数
                        example: token
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - mdm:country_region:read
      x-lark-error-mappings:
      - code: 1640201
        httpCode: 400
        msg: invalid params
      - code: 1640202
        httpCode: 400
        msg: param not found
      - code: 1640203
        httpCode: 400
        msg: object field not found
      - code: 1640204
        httpCode: 400
        msg: language is invalid
      - code: 1640205
        httpCode: 400
        msg: params is required
      - code: 1640206
        httpCode: 400
        msg: limit too large
      - code: 1640207
        httpCode: 400
        msg: limit plus offset too large
      - code: 1640208
        httpCode: 400
        msg: page token invalid
      - code: 1640209
        httpCode: 400
        msg: record id not found
      - code: 1640210
        httpCode: 400
        msg: sort by null is not allowed
      - code: 1640211
        httpCode: 400
        msg: biz codes is empty
      - code: 1640212
        httpCode: 400
        msg: mdm codes is empty
      - code: 1640213
        httpCode: 400
        msg: biz id is invalid
      - code: 1640101
        httpCode: 500
        msg: system error
      - code: 1640102
        httpCode: 500
        msg: invalid generic method
      - code: 1640103
        httpCode: 500
        msg: call meta service error
      - code: 1640104
        httpCode: 500
        msg: meta data not found
      - code: 1640105
        httpCode: 500
        msg: data source request invalid
      - code: 1640106
        httpCode: 500
        msg: db error
      - code: 1640107
        httpCode: 500
        msg: func not supported yet
      - code: 1640108
        httpCode: 500
        msg: field type not supported yet
      - code: 1640109
        httpCode: 500
        msg: validator not found
      - code: 1640110
        httpCode: 500
        msg: transformer not found
      - code: 1640111
        httpCode: 500
        msg: executor not found
      - code: 1640112
        httpCode: 500
        msg: invalid data source type
      - code: 1640113
        httpCode: 500
        msg: data source not found
      - code: 1640114
        httpCode: 500
        msg: data source invalid
      - code: 1640115
        httpCode: 500
        msg: meta setting not found
      - code: 1640116
        httpCode: 500
        msg: generate page token error
      - code: 1640117
        httpCode: 500
        msg: record duplicate error
      - code: 1640118
        httpCode: 500
        msg: generate idl error
      - code: 1640119
        httpCode: 500
        msg: producer not found error
      - code: 1640120
        httpCode: 500
        msg: custom func request error
      - code: 1640121
        httpCode: 500
        msg: custom func response error
      x-lark-rate-limit:
        tier: 7
components:
  schemas:
    Item:
      type: object
      properties:
        alpha_3_code:
          type: string
          description: 三位字母代码
          example: '-'
        alpha_2_code:
          type: string
          description: 两位字母代码
          example: '-'
        numeric_code:
          type: string
          description: 数字代码
          example: '-'
        name:
          type: object
          properties:
            value:
              type: string
              description: 字符串值
              example: zh-name
            multilingual_value:
              type: string
              x-lark-original-type: map
              description: 多语言字符串
            return_language:
              type: string
              description: 语言
              example: zh-CN
          description: 名称
        mdm_code:
          type: string
          description: 主数据编码（系统生成的唯一永久代码，格式为“MDCT+8位数字”）
          example: '-'
        full_name:
          type: object
          properties:
            value:
              type: string
              description: 字符串值
              example: zh-name
            multilingual_value:
              type: string
              x-lark-original-type: map
              description: 多语言字符串
            return_language:
              type: string
              description: 语言
              example: zh-CN
          description: 国家/地区全称（国家/地区行政全称，对应EA的full_name，多语行级数据映射到多语map，wukong模型新增字段）
        global_code:
          type: string
          description: 国际电话区号（国际电话区号，对应EA模型中的globalCode，wukong模型新增字段）
          example: '-'
        status:
          type: string
          description: 是否生效
          example: '-'
        continents:
          type: object
          properties:
            value:
              type: string
              description: 枚举值
              example: '-'
            multilingual_name:
              type: string
              x-lark-original-type: map
              description: '多语言枚举名，结构：{"zh-CN":"中文", "en-US": "english"}'
          required:
          - value
          description: 所属大洲（EA系统中用数字枚举，升级为常量集，常量的API Name对应以下数字：1-亚洲，2-欧洲，3-非洲，4-北美洲，5-南美洲，6-大洋洲，7-南极洲）
