# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · minutes API（全量）
  description: |-
    飞书开放平台 `minutes` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:06:47Z'
  x-lark-project: minutes
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:06:47Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: minute.media
- name: minute.statistics
- name: minute.transcript
- name: minute
paths:
  /open-apis/minutes/v1/minutes/{minute_token}/media:
    get:
      operationId: minutes_minute_media_get
      summary: 下载妙记音视频文件
      tags:
      - minute.media
      description: 获取妙记的音视频文件
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/minutes-v1/minute-media/get
      parameters:
      - name: minute_token
        in: path
        required: true
        schema:
          type: string
        description: 妙记唯一标识
        example: obcnq3b9jl72l83w4f149w9c
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      download_url:
                        type: string
                        description: 妙记音视频文件下载链接
                        example: https://internal-api-drive-stream.feishu-boe.cn/space/api/box/stream/download/authcode/?code=xxx
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - minutes:minute:download
      - minutes:minutes.media:export
      x-lark-error-mappings:
      - code: 2091001
        httpCode: 400
        msg: param is invalid
      - code: 2091002
        httpCode: 404
        msg: resource not found
      - code: 2091003
        httpCode: 400
        msg: minute not ready , try later
      - code: 2091004
        httpCode: 400
        msg: resource deleted
      - code: 2091005
        httpCode: 403
        msg: permission deny
      - code: 2091006
        httpCode: 500
        msg: service internal error
      x-lark-rate-limit:
        tier: 6
  /open-apis/minutes/v1/minutes/{minute_token}/statistics:
    get:
      operationId: minutes_minute_statistics_get
      summary: 获取妙记统计数据
      tags:
      - minute.statistics
      description: 获取妙记的访问统计数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/minutes-v1/minute-statistics/get
      parameters:
      - name: minute_token
        in: path
        required: true
        schema:
          type: string
        description: 妙记唯一标识
        example: obcnq3b9jl72l83w4f149w9c
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      statistics:
                        type: object
                        properties:
                          user_view_count:
                            type: string
                            description: 用户浏览数
                            example: '3'
                          page_view_count:
                            type: string
                            description: 页面浏览数量
                            example: '20'
                          user_view_list:
                            type: array
                            items:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                  description: 用户ID
                                  example: ou_612b787ccd3259fb3c816b3f678d0426
                                view_time:
                                  type: string
                                  description: 用户的最近查看时间timestamp（ms级别）
                                  example: '1669121332000'
                            description: 用户浏览列表
                        description: 妙记浏览信息统计
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - minutes:minutes
      - minutes:minutes:readonly
      - minutes:minutes.statistics:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 2091001
        httpCode: 400
        msg: param is invalid
      - code: 2091002
        httpCode: 404
        msg: resource not found
      - code: 2091003
        httpCode: 400
        msg: minute not ready , try later
      - code: 2091004
        httpCode: 400
        msg: resource deleted
      - code: 2091005
        httpCode: 403
        msg: permission deny
      x-lark-rate-limit:
        tier: 6
  /open-apis/minutes/v1/minutes/{minute_token}/transcript:
    get:
      operationId: minutes_minute_transcript_get
      summary: 导出妙记文字记录
      tags:
      - minute.transcript
      description: 获取妙记的对话文本，成功时返回文件二进制流
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/minutes-v1/minute-transcript/get
      parameters:
      - name: minute_token
        in: path
        required: true
        schema:
          type: string
        description: 妙记唯一标识
        example: obcnq3b9jl72l83w4f149w9c
      - name: need_speaker
        in: query
        required: false
        schema:
          type: boolean
        description: 是否包含说话人
        example: 'true'
      - name: need_timestamp
        in: query
        required: false
        schema:
          type: boolean
        description: 是否包含时间戳
        example: 'true'
      - name: file_format
        in: query
        required: false
        schema:
          type: string
        description: 导出文件格式
        example: txt；srt
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - minutes:minute:download
      - minutes:minutes.transcript:export
      x-lark-error-mappings:
      - code: 2091001
        httpCode: 400
        msg: param is invalid
      - code: 2091002
        httpCode: 404
        msg: resource not found
      - code: 2091003
        httpCode: 400
        msg: minute not ready , try later
      - code: 2091004
        httpCode: 400
        msg: resource deleted
      - code: 2091005
        httpCode: 403
        msg: permission deny
      - code: 2091006
        httpCode: 500
        msg: service internal error
      x-lark-rate-limit:
        tier: 6
      x-lark-file-download: true
  /open-apis/minutes/v1/minutes/{minute_token}/artifacts:
    get:
      operationId: minutes_minute_artifacts
      summary: 获取妙记AI产物
      tags:
      - minute
      description: 返回妙记AI产物
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/minutes-v1/minute/artifacts
      parameters:
      - name: minute_token
        in: path
        required: true
        schema:
          type: string
        description: 妙记的唯一标识
        example: obcnq3b9jl72l83w4f149w9c
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      summary:
                        type: string
                        description: 妙记总结
                        example: 妙记总结
                      minute_chapters:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                              description: 章节标题，用于区分纪要内不同的讨论模块，需简洁明确概括章节核心内容
                              example: 项目进度回顾与风险评估
                            start_ms:
                              type: string
                              description: 章节对应的讨论内容开始时间戳，单位为毫秒，用于定位会议录像或录音的对应片段。需与stop_ms配合使用，且数值需小于stop_ms。
                              example: '31000'
                              format: int64
                            stop_ms:
                              type: string
                              description: 章节对应的讨论内容结束时间戳，单位为毫秒，用于定位会议录像或录音的对应片段。需与start_ms配合使用，且数值需大于start_ms。
                              example: '33000'
                              format: int64
                            summary_content:
                              type: string
                              description: 章节的核心讨论内容摘要，需准确提炼该章节的决策结果、行动项、待跟进事项等关键信息。支持富文本格式，最大长度限制为10000字符。
                              example: |-
                                1. 确认Q3项目交付节点为9月30日，延迟交付将触发合同违约条款；
                                2. 指派张三负责协调供应商资源，需在7月15日前提交资源保障方案；
                                3. 风险预警：核心组件供应链可能存在断供风险，需启动备选供应商评估流程。
                        description: 妙记章节
                      minute_todos:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: string
                              description: 待办内容
                              example: 待办项1
                            assignees:
                              type: array
                              items:
                                type: string
                              description: 负责人
                            is_done:
                              type: boolean
                              description: 待办是否完成
                              example: 'true'
                            todo_id:
                              type: string
                              description: 待办id
                              example: <string>
                            operation:
                              type: string
                              description: 待办操作符
                              example: <string>
                        description: 妙记待办
                      keywords:
                        type: array
                        items:
                          type: string
                        description: 妙记推荐关键词
                      transcript:
                        type: string
                        description: 妙记逐字稿
                        example: <string>
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - minutes:minutes.artifacts:read
      x-lark-error-mappings:
      - code: 2091001
        httpCode: 400
        msg: param is invalid
      - code: 2091002
        httpCode: 404
        msg: resource not found
      - code: 2091003
        httpCode: 400
        msg: minute not ready, try later
      - code: 2091004
        httpCode: 400
        msg: resource deleted
      - code: 2091005
        httpCode: 403
        msg: permission deny
      x-lark-rate-limit:
        tier: 6
  /open-apis/minutes/v1/minutes/{minute_token}:
    get:
      operationId: minutes_minute_get
      summary: 获取妙记信息
      tags:
      - minute
      description: 获取妙记的基础概括信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/minutes-v1/minute/get
      parameters:
      - name: minute_token
        in: path
        required: true
        schema:
          type: string
        description: 妙记的唯一标识
        example: obcnq3b9jl72l83w4f149w9c
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      minute:
                        type: object
                        properties:
                          token:
                            type: string
                            description: 妙记token
                            example: obcnq3b9jl72l83w4f149w9c
                          owner_id:
                            type: string
                            description: 所有者ID
                            example: ou_612b787ccd3259fb3c816b3f678d0426
                          create_time:
                            type: string
                            description: 妙记创建时间timestamp（ms级别）
                            example: '1669098360477'
                          title:
                            type: string
                            description: 妙记标题
                            example: xxx的视频会议
                          cover:
                            type: string
                            description: 妙记封面链接
                            example: https://internal-api-drive-stream.feishu-pre.cn/space/api/box/stream/download/all/boxcncsI4EIhCSA1RLDsXDpCoQd
                          duration:
                            type: string
                            description: 妙记时长（ms级别）
                            example: '314000'
                          url:
                            type: string
                            description: 妙记链接
                            example: https://bytedance.feishu-pre.cn/minutes/obcnq3b9jl72l83w4f149w9c
                          note_id:
                            type: string
                            description: 纪要ID
                            example: '7616590025794260496'
                            format: int64
                        description: 妙记基本信息
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - minutes:minutes
      - minutes:minutes:readonly
      - minutes:minutes.basic:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 2091001
        httpCode: 400
        msg: param is invalid
      - code: 2091002
        httpCode: 404
        msg: resource not found
      - code: 2091003
        httpCode: 400
        msg: minute not ready , try later
      - code: 2091004
        httpCode: 400
        msg: resource deleted
      - code: 2091005
        httpCode: 403
        msg: permission deny
      x-lark-rate-limit:
        tier: 6
  /open-apis/minutes/v1/minutes/search:
    post:
      operationId: minutes_minute_search
      summary: 搜索妙记
      tags:
      - minute
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/minutes-v1/minute/search
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          type: string
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: 搜索关键词（长度范围： 0~50 字符）
                  example: 周会
                filter:
                  type: object
                  properties:
                    owner_ids:
                      type: array
                      items:
                        type: string
                      description: 创建者用户 ID 列表
                    participant_ids:
                      type: array
                      items:
                        type: string
                      description: 参与者用户 ID 列表
                    create_time:
                      type: object
                      properties:
                        start_time:
                          type: string
                          description: 起始时间（iso8601，精确到秒）
                          example: '2026-03-21T16:15:30+08:00'
                        end_time:
                          type: string
                          description: 截止时间（iso8601，精确到秒）
                          example: '2026-03-21T16:15:30+08:00'
                      description: 创建时间范围
                  description: 过滤条件
                sorter:
                  type: string
                  description: sorter
                  enum:
                  - create_time_desc
                  x-enum-descriptions:
                    create_time_desc: 按照妙记创建时间降序排序
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            token:
                              type: string
                              description: 妙记 Token
                              example: obbcwkkdw885tetaf82pu184
                            display_info:
                              type: string
                              description: 包含妙记基本信息的卡片，用户搜索关键词命中的文本片段，使用<h></h>标签包裹标注
                              example: 2026-03-28 产品<h>周会</h>纪要
                            meta_data:
                              type: object
                              properties:
                                app_link:
                                  type: string
                                  description: 妙记跳转链接
                                  example: https://example.feishu.cn/minutes/xxxxxx
                                avatar:
                                  type: string
                                  description: 妙记封面图片 URL
                                  example: https://p3-lark-file.byteimg.com/img/xxxx.jpg
                                description:
                                  type: string
                                  description: 妙记描述
                                  example: 产品周会纪要
                              description: 妙记元信息
                          required:
                          - token
                        description: 妙记列表
                      total:
                        type: integer
                        description: 总数
                        example: '10'
                      has_more:
                        type: boolean
                        description: 是否还有更多
                      page_token:
                        type: string
                        description: 翻页 token
                      notice:
                        type: string
                        description: 搜索补充提示信息，返回本次搜索的额外说明，例如：query被截断；搜索结果不全等
                        example: The query is too long and has been truncated to the first 50 characters for search.
                    required:
                    - items
                    - has_more
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - minutes:minutes.search:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 2094001
        httpCode: 400
        msg: invalid request parameter
      - code: 2094002
        httpCode: 400
        msg: query is too long
      - code: 2094003
        httpCode: 400
        msg: invalid filter
      - code: 2094004
        httpCode: 400
        msg: invalid sorter
      - code: 2094005
        httpCode: 400
        msg: page_token is invalid or expired, please start a new search
      - code: 2094006
        httpCode: 400
        msg: page_size exceeds maximum allowed value
      - code: 2094007
        httpCode: 400
        msg: pagination limit reached, please refine your query with more specific keywords or filters
      - code: 2094011
        httpCode: 401
        msg: user identity not found, please check your access token
      - code: 2094012
        httpCode: 401
        msg: failed to initialize request context, please check your access token
      - code: 2095001
        httpCode: 500
        msg: search service error
      - code: 2095002
        httpCode: 500
        msg: failed to process search result
      - code: 2094101
        httpCode: 400
        msg: failed to build minutes filter
      - code: 2094102
        httpCode: 400
        msg: minutes time format is invalid, expected ISO 8601
      - code: 2095101
        httpCode: 500
        msg: failed to convert minutes search result
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.filter.owner_ids[*]
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.filter.participant_ids[*]
        section: 0
  /open-apis/minutes/v1/minutes/subscription:
    post:
      operationId: minutes_minute_subscription
      summary: 订阅妙记变更事件
      tags:
      - minute
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/minutes-v1/minute/subscription
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                  description: 事件类型
                  example: minutes.minute.generated_v1
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - minutes:minutes.basic:read
      x-lark-error-mappings:
      - code: 2091001
        httpCode: 400
        msg: param is invalid
      - code: 2091006
        httpCode: 500
        msg: service internal error
      x-lark-rate-limit:
        tier: 4
  /open-apis/minutes/v1/minutes/unsubscription:
    post:
      operationId: minutes_minute_unsubscription
      summary: 取消订阅妙记变更事件
      tags:
      - minute
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/minutes-v1/minute/unsubscription
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                  description: 事件类型
                  example: minutes.minute.generated_v1
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - minutes:minutes.basic:read
      x-lark-error-mappings:
      - code: 2091001
        httpCode: 400
        msg: param is invalid
      - code: 2091006
        httpCode: 500
        msg: service internal error
      x-lark-rate-limit:
        tier: 4
