# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · moments API（全量）
  description: |-
    飞书开放平台 `moments` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: 1.0.0+51d3c03b
  x-lark-project: moments
  x-lark-track: full (official API Explorer)
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: post
paths:
  /open-apis/moments/v1/posts/{post_id}:
    get:
      operationId: moments_post_get
      summary: 查询帖子信息
      tags:
      - post
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/moments-v1/post/get
      parameters:
      - name: post_id
        in: path
        required: true
        schema:
          type: string
        description: post的id
        example: '6934510454161014804'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      post:
                        type: object
                        properties:
                          user_id:
                            type: string
                            description: 发帖用户ID
                            example: '"ou_xxxxx"'
                          content:
                            type: string
                            description: 帖子内容
                            example: '"[[{\"tag\":\"text\",\"text\":\"豪华中型车…………\"},{\"tag\":\"a\",\"text\":\"查看原文\",\"href\":\"https://www.autohome.com.cn/advice/202204/1244455.html\"}]]"'
                          image_key_list:
                            type: array
                            items:
                              type: string
                            description: 图片的key 列表
                          media_file_token:
                            type: string
                            description: 媒体文件的 token
                            example: '""'
                          comment_count:
                            type: integer
                            description: 评论数
                            example: '1'
                          reaction_set:
                            type: object
                            properties:
                              reactions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      description: 表情类型
                                      example: OK
                                    count:
                                      type: integer
                                      description: 回复该表情的人数
                                      example: '3'
                                description: 表情列表
                              total_count:
                                type: integer
                                description: 全部表情计数
                                example: '20'
                            description: 帖子的reaction及其数量
                          id:
                            type: string
                            description: 帖子ID
                            example: '"248381241"'
                          create_time:
                            type: string
                            description: 帖子创建时间
                            example: '"2022-05-23T00:00:00+08:00"'
                          media_cover_image_key:
                            type: string
                            description: 视频封面图片
                            example: '""'
                          category_ids:
                            type: array
                            items:
                              type: string
                            description: 帖子所属板块
                          link:
                            type: string
                            description: 帖子链接
                            example: '"https://applink.feishu.cn/client/moments/detail?postId=7254"'
                          user_type:
                            type: integer
                            description: 发帖人类型
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                            x-enum-descriptions:
                              '1': 实名
                              '2': 花名
                              '3': 匿名
                              '4': 官方号
                            example: '1'
                          dislike_count:
                            type: integer
                            description: 点踩数量
                            example: '0'
                        required:
                        - content
                        description: 帖子实体
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - moments:moments:readonly
      - moments:moments:access_all
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1420001
        httpCode: 400
        msg: ''
      - code: 1420002
        httpCode: 403
        msg: ''
      - code: 1420004
        httpCode: 404
        msg: ''
      - code: 1420003
        httpCode: 429
        msg: ''
      x-lark-rate-limit:
        tier: 8
components:
  schemas: {}
