# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · okr API（全量）
  description: |-
    飞书开放平台 `okr` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:22:04Z'
  x-lark-project: okr
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:22:04Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: image
- name: okr
- name: period
- name: period_rule
- name: progress_record
- name: review
- name: user.okr
- name: okr.alignment
- name: okr.category
- name: okr.cycle.objective
- name: okr.cycle
- name: okr.indicator
- name: okr.key_result.indicator
- name: okr.key_result.progress
- name: okr.key_result
- name: okr.objective.alignment
- name: okr.objective.indicator
- name: okr.objective.key_result
- name: okr.objective.progress
- name: okr.objective
paths:
  /open-apis/okr/v1/images/upload:
    post:
      operationId: okr_image_upload
      summary: 上传进展记录图片
      tags:
      - image
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/okr-v1/image/upload
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                  format: binary
                  description: 图片
                target_id:
                  type: string
                  description: 图片的目标ID
                  example: '6974586812998174252'
                  format: int64
                target_type:
                  type: integer
                  description: 图片使用的目标类型
                  enum:
                  - 2
                  - 3
                  x-enum-descriptions:
                    '2': okr的O
                    '3': okr的KR
                  example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      file_token:
                        type: string
                        description: 图片token
                        example: boxbcLxEnhUE3REJSAwAbVFZwPf
                        x-lark-id-types:
                          file_token: ccm_file
                      url:
                        type: string
                        description: 图片下载链接
                        example: https://bytedance.feishu.cn/drive/home/
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - okr:okr
      - okr:okr.progress.file:upload
      x-lark-error-mappings:
      - code: 1009999
        httpCode: 500
        msg: internal server error
      - code: 1009998
        httpCode: 500
        msg: system exception
      - code: 1001001
        httpCode: 400
        msg: invalid parameters
      - code: 1001002
        httpCode: 400
        msg: no permission
      - code: 1001003
        httpCode: 400
        msg: user not found
      - code: 1001004
        httpCode: 400
        msg: okr data not found
      x-lark-rate-limit:
        tier: 3
      x-lark-file-upload: true
  /open-apis/okr/v1/okrs/batch_get:
    get:
      operationId: okr_okr_batch_get
      summary: 批量获取 OKR
      tags:
      - okr
      description: 批量根据OKR的id获取用户的OKR。如果使用tenant_access_token，需要获取ability:okr.access_as_app
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/okr-v1/okr/batch_get
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: okr_ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: OKR ID 列表，最多10个
      - name: lang
        in: query
        required: false
        schema:
          type: string
          default: zh_cn
        description: 请求OKR的语言版本（比如@的人名），lang=en_us/zh_cn，请求 Query中
        example: zh_cn
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      okr_list:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: id
                              example: '11123123123123'
                              format: int64
                            permission:
                              type: integer
                              description: OKR的访问权限
                              enum:
                              - 0
                              - 1
                              x-enum-descriptions:
                                '0': 此时OKR只返回id
                                '1': 返回OKR的其他具体字段
                              example: '0'
                            period_id:
                              type: string
                              description: period_id
                              example: '11123123123123'
                              format: int64
                            name:
                              type: string
                              description: 名称
                              example: My OKR
                            objective_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Objective ID
                                    example: '1231231231231'
                                    format: int64
                                  permission:
                                    type: integer
                                    description: 权限
                                    enum:
                                    - 0
                                    - 1
                                    x-enum-descriptions:
                                      '0': 此时OKR只返回id
                                      '1': 返回OKR的其他具体字段
                                    example: '0'
                                  content:
                                    type: string
                                    description: Objective 内容
                                    example: Objective 内容
                                  progress_report:
                                    type: string
                                    description: Objective 进度记录内容
                                    example: Objective 进度记录内容
                                  score:
                                    type: integer
                                    description: Objective 分数（0 - 100）
                                    example: '100'
                                  weight:
                                    type: number
                                    description: Objective的权重（0 - 100）
                                    example: '33.33'
                                  progress_rate:
                                    type: object
                                    properties:
                                      percent:
                                        type: integer
                                        description: Objective 进度百分比 >= 0
                                        example: '50'
                                      status:
                                        type: string
                                        description: Objective 进度状态
                                        example: '1'
                                    description: Objective进度
                                  kr_list:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: Key Result ID
                                          example: '1231231223'
                                          format: int64
                                        content:
                                          type: string
                                          description: KeyResult 内容
                                          example: KeyResult 内容
                                        score:
                                          type: integer
                                          description: KeyResult打分（0 - 100）
                                          example: '100'
                                        weight:
                                          type: integer
                                          description: KeyResult的权重（0 - 100）（废弃）
                                          example: '100'
                                        kr_weight:
                                          type: number
                                          description: KeyResult的权重（0 - 100）
                                          example: '33.33'
                                        progress_rate:
                                          type: object
                                          properties:
                                            percent:
                                              type: integer
                                              description: Objective 进度百分比 >= 0
                                              example: '50'
                                            status:
                                              type: string
                                              description: Objective 进度状态
                                              example: '1'
                                          description: KR进度
                                        progress_record_list:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              id:
                                                type: string
                                                description: OKR 进展ID
                                                example: '7041469619902693396'
                                                format: int64
                                          description: 该KR的进度列表
                                        progress_rate_percent_last_updated_time:
                                          type: string
                                          description: 最后一次进度百分比更新时间 毫秒
                                          example: '1618500278663'
                                          format: int64
                                        progress_rate_status_last_updated_time:
                                          type: string
                                          description: 最后一次状态更新时间 毫秒
                                          example: '1618500278663'
                                          format: int64
                                        progress_record_last_updated_time:
                                          type: string
                                          description: 最后一次在侧边栏新增或者编辑进展的时间 毫秒
                                          example: '1618500278663'
                                          format: int64
                                        progress_report_last_updated_time:
                                          type: string
                                          description: 最后一次编辑进展记录/备注的时间 毫秒
                                          example: '1618500278663'
                                          format: int64
                                        score_last_updated_time:
                                          type: string
                                          description: 最后一次打分更新时间 毫秒
                                          example: '1618500278663'
                                          format: int64
                                        deadline:
                                          type: string
                                          description: 截止时间 毫秒
                                          example: '1618500278663'
                                          format: int64
                                        mentioned_user_list:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              open_id:
                                                type: string
                                                description: 用户的 open_id
                                                example: od-asd2dasdasd
                                              user_id:
                                                type: string
                                                description: 用户的 user_id
                                                example: ou-ux987dsf6x
                                          description: 该Objective提到的人员列表
                                    description: Objective KeyResult 列表
                                  aligned_objective_list:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: Objective的ID
                                          example: '1231231231213'
                                          format: int64
                                        okr_id:
                                          type: string
                                          description: OKR的ID
                                          example: '12323231231213'
                                          format: int64
                                        owner:
                                          type: object
                                          properties:
                                            open_id:
                                              type: string
                                              description: 用户的 open_id
                                              example: od-asd2dasdasd
                                            user_id:
                                              type: string
                                              description: 用户的 user_id
                                              example: ou-ux987dsf6x
                                          description: 该Objective的Owner
                                    description: 对齐到该Objective的Objective列表
                                  aligning_objective_list:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: Objective的ID
                                          example: '1231231231213'
                                          format: int64
                                        okr_id:
                                          type: string
                                          description: OKR的ID
                                          example: '12323231231213'
                                          format: int64
                                        owner:
                                          type: object
                                          properties:
                                            open_id:
                                              type: string
                                              description: 用户的 open_id
                                              example: od-asd2dasdasd
                                            user_id:
                                              type: string
                                              description: 用户的 user_id
                                              example: ou-ux987dsf6x
                                          description: 该Objective的Owner
                                    description: 该Objective对齐到的Objective列表
                                  progress_record_list:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: OKR 进展ID
                                          example: '7041469619902693396'
                                          format: int64
                                    description: 该Objective的进度列表
                                  progress_rate_percent_last_updated_time:
                                    type: string
                                    description: 最后一次进度百分比更新时间 毫秒
                                    example: '1618500278663'
                                    format: int64
                                  progress_rate_status_last_updated_time:
                                    type: string
                                    description: 最后一次状态更新时间 毫秒
                                    example: '1618500278663'
                                    format: int64
                                  progress_record_last_updated_time:
                                    type: string
                                    description: 最后一次在侧边栏新增或者编辑进展的时间 毫秒
                                    example: '1618500278663'
                                    format: int64
                                  progress_report_last_updated_time:
                                    type: string
                                    description: 最后一次编辑进展记录/备注的时间 毫秒
                                    example: '1618500278663'
                                    format: int64
                                  score_last_updated_time:
                                    type: string
                                    description: 最后一次打分更新时间 毫秒
                                    example: '1618500278663'
                                    format: int64
                                  deadline:
                                    type: string
                                    description: 截止时间 毫秒
                                    example: '1618500278663'
                                    format: int64
                                  mentioned_user_list:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        open_id:
                                          type: string
                                          description: 用户的 open_id
                                          example: od-asd2dasdasd
                                        user_id:
                                          type: string
                                          description: 用户的 user_id
                                          example: ou-ux987dsf6x
                                    description: 该Objective提到的人员列表
                              description: Objective列表
                            confirm_status:
                              type: integer
                              description: OKR确认状态
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              x-enum-descriptions:
                                '0': 未填写 OKR
                                '1': 已填写未发起确认
                                '2': 已发起待上级确认
                                '3': 上级未通过
                                '4': 上级已通过
                              example: '0'
                        description: OKR 列表
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - okr:okr:readonly
      - okr:okr.content:readonly
      - okr:okr
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1009999
        httpCode: 500
        msg: internal server error
      - code: 1009998
        httpCode: 500
        msg: system exception
      - code: 1001001
        httpCode: 400
        msg: invalid parameters
      - code: 1001002
        httpCode: 400
        msg: no permission
      - code: 1001003
        httpCode: 400
        msg: user not found
      - code: 1001004
        httpCode: 400
        msg: okr data not found
      x-lark-rate-limit:
        tier: 3
  /open-apis/okr/v1/periods:
    post:
      operationId: okr_period_create
      summary: 创建 OKR 周期
      tags:
      - period
      description: 获取租户的周期规则列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/okr-v1/period/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                period_rule_id:
                  type: string
                  description: 周期规则 id
                  example: '6969864184272078374'
                start_month:
                  type: string
                  description: 周期起始年月
                  example: 2022-01
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      period_id:
                        type: string
                        description: 周期id
                        example: '6969864184272078374'
                      start_month:
                        type: string
                        description: 周期起始年月
                        example: 2022-01
                      end_month:
                        type: string
                        description: 周期结束年月
                        example: 2022-01
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - okr:okr
      - okr:okr.period:writeonly
      x-lark-error-mappings:
      - code: 1009999
        httpCode: 500
        msg: Unknown error. Please contact Feishu Assistant or your customer success manager.
      - code: 1001001
        httpCode: 400
        msg: Invalid parameters. Please check document and modify accordingly.
      - code: 1001002
        httpCode: 403
        msg: No permission.
      - code: 1001003
        httpCode: 400
        msg: User not found.
      - code: 1001004
        httpCode: 400
        msg: OKR data not found.
      - code: 1000403
        httpCode: 403
        msg: Only available for OKR Enterprise edition.
      - code: 1001008
        httpCode: 400
        msg: Conflict period existed.
      - code: 1001009
        httpCode: 400
        msg: Start date does not fit for given period rule.
      x-lark-rate-limit:
        tier: 3
    get:
      operationId: okr_period_list
      summary: 获取 OKR 周期列表
      tags:
      - period
      description: 获取租户内的OKR周期列表。如果使用tenant_access_token，需要获取ability:okr.access_as_app
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/okr-v1/period/list
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标志page_token
        example: '0'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 分页大小，默认10
        example: '10'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      page_token:
                        type: string
                        description: 分页标志
                        example: asdasdasd
                      has_more:
                        type: boolean
                        description: 是否有更多
                        example: 'false'
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: id
                              example: '635782378412311'
                              format: int64
                            zh_name:
                              type: string
                              description: 中文名称
                              example: 中文周期
                            en_name:
                              type: string
                              description: 英文名称
                              example: english period
                            status:
                              type: integer
                              description: 状态
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              x-enum-descriptions:
                                '0': 正常状态
                                '1': 暂不处理
                                '2': 标记失效
                                '3': 隐藏周期
                              example: '0'
                            period_start_time:
                              type: string
                              description: 周期开始时间
                              example: '1686740948123'
                            period_end_time:
                              type: string
                              description: 周期结束时间
                              example: '1686740948123'
                        description: 数据项
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - okr:okr.period:readonly
      - okr:okr:readonly
      - okr:okr
      x-lark-error-mappings:
      - code: 1009999
        httpCode: 500
        msg: internal server error
      - code: 1009998
        httpCode: 500
        msg: system exception
      - code: 1001001
        httpCode: 400
        msg: invalid parameters
      - code: 1001002
        httpCode: 400
        msg: no permission
      - code: 1001003
        httpCode: 400
        msg: user not found
      - code: 1001004
        httpCode: 400
        msg: okr data not found
      x-lark-rate-limit:
        tier: 3
  /open-apis/okr/v1/periods/{period_id}:
    patch:
      operationId: okr_period_patch
      summary: 修改 OKR 周期状态
      tags:
      - period
      description: 获取租户的周期规则列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/okr-v1/period/patch
      parameters:
      - name: period_id
        in: path
        required: true
        schema:
          type: string
        description: 周期id
        example: '6969864184272078374'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: 周期显示状态
                  enum:
                  - 1
                  - 2
                  - 3
                  x-enum-descriptions:
                    '1': 正常状态
                    '2': 标记失效
                    '3': 隐藏周期
                  example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      period_id:
                        type: string
                        description: 周期规则id
                        example: '6969864184272078374'
                      status:
                        type: integer
                        description: 周期显示状态
                        enum:
                        - 1
                        - 2
                        - 3
                        x-enum-descriptions:
                          '1': 正常状态
                          '2': 标记失效
                          '3': 隐藏周期
                        example: '1'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - okr:okr
      - okr:okr.period:writeonly
      x-lark-error-mappings:
      - code: 1009999
        httpCode: 500
        msg: Unknown error. Please contact Feishu Assistant or your customer success manager.
      - code: 1001001
        httpCode: 400
        msg: Invalid parameters. Please check document and modify accordingly.
      - code: 1001002
        httpCode: 403
        msg: No permission.
      - code: 1001003
        httpCode: 400
        msg: User not found.
      - code: 1001004
        httpCode: 400
        msg: OKR data not found.
      - code: 1000403
        httpCode: 403
        msg: Only available for OKR Enterprise edition.
      - code: 1001008
        httpCode: 400
        msg: Conflict period existed.
      - code: 1001009
        httpCode: 400
        msg: Start date does not fit for given period rule.
      x-lark-rate-limit:
        tier: 3
  /open-apis/okr/v1/period_rules:
    get:
      operationId: okr_period_rule_list
      summary: 获取 OKR 周期规则
      tags:
      - period_rule
      description: 获取租户的周期规则列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/okr-v1/period_rule/list
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      period_rules:
                        type: array
                        items:
                          type: object
                          properties:
                            period_rule_id:
                              type: string
                              description: 周期规则
                              example: '134'
                            type:
                              type: string
                              description: '周期类型. year: 年度周期. month: 月份周期'
                              example: year
                            length:
                              type: integer
                              description: 周期长度（月)
                              example: '12'
                            first_month:
                              type: integer
                              description: 周期长度（月)
                              example: '12'
                        description: 指标库列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - okr:okr:readonly
      - okr:okr
      - okr:okr.period:readonly
      x-lark-error-mappings:
      - code: 1009999
        httpCode: 500
        msg: Unknown error. Please contact Feishu Assistant or your customer success manager.
      - code: 1001001
        httpCode: 400
        msg: Invalid parameters. Please check and modify accordingly.
      - code: 1001002
        httpCode: 403
        msg: No permission
      - code: 1001003
        httpCode: 400
        msg: User not found
      - code: 1001004
        httpCode: 400
        msg: OKR data not found
      - code: 1000403
        httpCode: 403
        msg: Only available for OKR Enterprise edition.
      x-lark-rate-limit:
        tier: 3
  /open-apis/okr/v1/progress_records:
    post:
      operationId: okr_progress_record_create
      summary: 创建 OKR 进展记录
      tags:
      - progress_record
      description: 创建OKR进展
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/okr-v1/progress_record/create
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source_title:
                  type: string
                  description: 进展来源
                  example: 2021.12.20~2021.12.26 周报
                source_url:
                  type: string
                  description: 进展来源链接
                  example: open.feishu.cn
                target_id:
                  type: string
                  description: 目标id，与target_type对应
                  example: '7041430377642082323'
                  format: int64
                target_type:
                  type: integer
                  description: 目标类型
                  enum:
                  - 2
                  - 3
                  x-enum-descriptions:
                    '2': okr的O
                    '3': okr的KR
                  example: '1'
                content:
                  type: object
                  properties:
                    blocks:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: 文档元素类型
                            enum:
                            - paragraph
                            - gallery
                            x-enum-descriptions:
                              paragraph: 文本段落
                              gallery: 图片
                            example: paragraph
                          paragraph:
                            type: object
                            properties:
                              style:
                                type: object
                                properties:
                                  list:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        description: 列表类型
                                        enum:
                                        - number
                                        - bullet
                                        - checkBox
                                        - checkedBox
                                        - indent
                                        x-enum-descriptions:
                                          number: 有序列表
                                          bullet: 无序列表
                                          checkBox: 任务列表
                                          checkedBox: 已完成的任务列表
                                          indent: tab缩进
                                        example: number
                                      indentLevel:
                                        type: integer
                                        description: 列表的缩进级别，支持指定一行的缩进 除代码块以外的列表都支持设置缩进，支持 1-16 级缩进，取值范围：[1,16]
                                        example: '1'
                                      number:
                                        type: integer
                                        description: 用于指定列表的行号，仅对有序列表和代码块生效 如果为有序列表设置了缩进，行号可能会显示为字母或者罗马数字
                                        example: '1'
                                    description: 有序列表/无序列表/任务列表
                                description: 段落样式
                              elements:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      description: 元素类型
                                      enum:
                                      - textRun
                                      - docsLink
                                      - person
                                      x-enum-descriptions:
                                        textRun: 文本型元素
                                        docsLink: 文档链接型元素
                                        person: 艾特用户型元素
                                      example: textRun
                                    textRun:
                                      type: object
                                      properties:
                                        text:
                                          type: string
                                          description: 具体的文本内容
                                          example: 周报内容
                                        style:
                                          type: object
                                          properties:
                                            bold:
                                              type: boolean
                                              description: 是否加粗
                                              example: 'true'
                                            strikeThrough:
                                              type: boolean
                                              description: 是否删除
                                              example: 'true'
                                            backColor:
                                              type: object
                                              properties:
                                                red:
                                                  type: integer
                                                  description: 红 取值范围[0,255]
                                                  example: '216'
                                                green:
                                                  type: integer
                                                  description: 绿 取值范围[0,255]
                                                  example: '191'
                                                blue:
                                                  type: integer
                                                  description: 蓝 取值范围[0,255]
                                                  example: '188'
                                                alpha:
                                                  type: number
                                                  description: 透明度 取值范围[0,1]
                                                  example: '0.1'
                                              description: 背景颜色
                                            textColor:
                                              type: object
                                              properties:
                                                red:
                                                  type: integer
                                                  description: 红 取值范围[0,255]
                                                  example: '216'
                                                green:
                                                  type: integer
                                                  description: 绿 取值范围[0,255]
                                                  example: '191'
                                                blue:
                                                  type: integer
                                                  description: 蓝 取值范围[0,255]
                                                  example: '188'
                                                alpha:
                                                  type: number
                                                  description: 透明度 取值范围[0,1]
                                                  example: '0.1'
                                              description: 字体颜色
                                            link:
                                              type: object
                                              properties:
                                                url:
                                                  type: string
                                                  description: 链接地址
                                                  example: open.feishu.cn
                                              description: 链接地址
                                          description: 文本内容的样式，支持 BIUS、颜色等
                                      description: 文本
                                    docsLink:
                                      type: object
                                      properties:
                                        url:
                                          type: string
                                          description: 链接地址
                                          example: open.feishu.cn
                                        title:
                                          type: string
                                          description: 链接文案
                                          example: 百度
                                      description: 文档链接，可以根据链接自动识别为标题
                                    person:
                                      type: object
                                      properties:
                                        openId:
                                          type: string
                                          description: 员工的OpenID
                                          example: ou_3bbe8a09c20e89cce9bff989ed840674
                                      description: 艾特用户
                                description: 段落元素组成一个段落
                            description: 文本段落
                          gallery:
                            type: object
                            properties:
                              imageList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    fileToken:
                                      type: string
                                      description: 图片 token，比如boxcnOj88GDkmWGm2zsTyCBqoLb，不支持编辑
                                      example: boxcnOj88GDkmWGm2zsTyCBqoLb
                                    src:
                                      type: string
                                      description: 图片链接
                                      example: https://bytedance.feishu.cn/drive/home/
                                    width:
                                      type: number
                                      description: 图片宽，单位px
                                      example: '458'
                                    height:
                                      type: number
                                      description: 图片高，单位px
                                      example: '372'
                                description: 图片元素
                            description: 图片
                      description: 文档结构是按行排列的，每行内容是一个 Block
                  description: 进展详情 富文本格式
                source_url_pc:
                  type: string
                  description: pc进展来源链接
                  example: open.feishu.cn
                source_url_mobile:
                  type: string
                  description: mobile进展来源链接
                  example: open.feishu.cn
                progress_rate:
                  type: object
                  properties:
                    percent:
                      type: number
                      description: 进展百分比，保留两位小数
                      default: 0.0
                      example: '50.21'
                    status:
                      type: integer
                      description: 进展状态
                      enum:
                      - -1
                      - 0
                      - 1
                      - 2
                      x-enum-descriptions:
                        '-1': 暂无
                        '0': 正常
                        '1': 风险
                        '2': 延期
                      example: '0'
                  description: 进展，包括百分比和状态
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      progress_id:
                        type: string
                        description: OKR 进展ID
                        example: '7041469619902693396'
                        format: int64
                      modify_time:
                        type: string
                        description: 进展更新时间 毫秒
                        example: '1618500278663'
                        format: int64
                      content:
                        type: object
                        properties:
                          blocks:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 文档元素类型
                                  enum:
                                  - paragraph
                                  - gallery
                                  x-enum-descriptions:
                                    paragraph: 文本段落
                                    gallery: 图片
                                  example: paragraph
                                paragraph:
                                  type: object
                                  properties:
                                    style:
                                      type: object
                                      properties:
                                        list:
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                              description: 列表类型
                                              enum:
                                              - number
                                              - bullet
                                              - checkBox
                                              - checkedBox
                                              - indent
                                              x-enum-descriptions:
                                                number: 有序列表
                                                bullet: 无序列表
                                                checkBox: 任务列表
                                                checkedBox: 已完成的任务列表
                                                indent: tab缩进
                                              example: number
                                            indentLevel:
                                              type: integer
                                              description: 列表的缩进级别，支持指定一行的缩进 除代码块以外的列表都支持设置缩进，支持 1-16 级缩进，取值范围：[1,16]
                                              example: '1'
                                            number:
                                              type: integer
                                              description: 用于指定列表的行号，仅对有序列表和代码块生效 如果为有序列表设置了缩进，行号可能会显示为字母或者罗马数字
                                              example: '1'
                                          description: 有序列表/无序列表/任务列表
                                      description: 段落样式
                                    elements:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            description: 元素类型
                                            enum:
                                            - textRun
                                            - docsLink
                                            - person
                                            x-enum-descriptions:
                                              textRun: 文本型元素
                                              docsLink: 文档链接型元素
                                              person: 艾特用户型元素
                                            example: textRun
                                          textRun:
                                            type: object
                                            properties:
                                              text:
                                                type: string
                                                description: 具体的文本内容
                                                example: 周报内容
                                              style:
                                                type: object
                                                properties:
                                                  bold:
                                                    type: boolean
                                                    description: 是否加粗
                                                    example: 'true'
                                                  strikeThrough:
                                                    type: boolean
                                                    description: 是否删除
                                                    example: 'true'
                                                  backColor:
                                                    type: object
                                                    properties:
                                                      red:
                                                        type: integer
                                                        description: 红 取值范围[0,255]
                                                        example: '216'
                                                      green:
                                                        type: integer
                                                        description: 绿 取值范围[0,255]
                                                        example: '191'
                                                      blue:
                                                        type: integer
                                                        description: 蓝 取值范围[0,255]
                                                        example: '188'
                                                      alpha:
                                                        type: number
                                                        description: 透明度 取值范围[0,1]
                                                        example: '0.1'
                                                    description: 背景颜色
                                                  textColor:
                                                    type: object
                                                    properties:
                                                      red:
                                                        type: integer
                                                        description: 红 取值范围[0,255]
                                                        example: '216'
                                                      green:
                                                        type: integer
                                                        description: 绿 取值范围[0,255]
                                                        example: '191'
                                                      blue:
                                                        type: integer
                                                        description: 蓝 取值范围[0,255]
                                                        example: '188'
                                                      alpha:
                                                        type: number
                                                        description: 透明度 取值范围[0,1]
                                                        example: '0.1'
                                                    description: 字体颜色
                                                  link:
                                                    type: object
                                                    properties:
                                                      url:
                                                        type: string
                                                        description: 链接地址
                                                        example: open.feishu.cn
                                                    description: 链接地址
                                                description: 文本内容的样式，支持 BIUS、颜色等
                                            description: 文本
                                          docsLink:
                                            type: object
                                            properties:
                                              url:
                                                type: string
                                                description: 链接地址
                                                example: open.feishu.cn
                                              title:
                                                type: string
                                                description: 链接文案
                                                example: 百度
                                            description: 文档链接，可以根据链接自动识别为标题
                                          person:
                                            type: object
                                            properties:
                                              openId:
                                                type: string
                                                description: 员工的OpenID
                                                example: ou_3bbe8a09c20e89cce9bff989ed840674
                                            description: 艾特用户
                                      description: 段落元素组成一个段落
                                  description: 文本段落
                                gallery:
                                  type: object
                                  properties:
                                    imageList:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          fileToken:
                                            type: string
                                            description: 图片 token，比如boxcnOj88GDkmWGm2zsTyCBqoLb，不支持编辑
                                            example: boxcnOj88GDkmWGm2zsTyCBqoLb
                                          src:
                                            type: string
                                            description: 图片链接
                                            example: https://bytedance.feishu.cn/drive/home/
                                          width:
                                            type: number
                                            description: 图片宽，单位px
                                            example: '458'
                                          height:
                                            type: number
                                            description: 图片高，单位px
                                            example: '372'
                                      description: 图片元素
                                  description: 图片
                            description: 文档结构是按行排列的，每行内容是一个 Block
                        description: 进展 对应的 Content 详细内容
                      progress_rate:
                        type: object
                        properties:
                          percent:
                            type: number
                            description: 进展百分比，保留两位小数
                            default: 0.0
                            example: '50.21'
                          status:
                            type: integer
                            description: 进展状态
                            enum:
                            - -1
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '-1': 暂无
                              '0': 正常
                              '1': 风险
                              '2': 延期
                            example: '0'
                        description: 进展，包括百分比和状态
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - okr:okr
      - okr:okr.progress:writeonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1009999
        httpCode: 500
        msg: internal server error
      - code: 1009998
        httpCode: 500
        msg: system exception
      - code: 1001001
        httpCode: 400
        msg: invalid parameters
      - code: 1001002
        httpCode: 400
        msg: no permission
      - code: 1001003
        httpCode: 400
        msg: user not found
      - code: 1001004
        httpCode: 400
        msg: okr data not found
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.content.blocks[*].paragraph.elements[*].person.openId
        section: 0
  /open-apis/okr/v1/progress_records/{progress_id}:
    delete:
      operationId: okr_progress_record_delete
      summary: 删除 OKR 进展记录
      tags:
      - progress_record
      description: 创建OKR进展
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/okr-v1/progress_record/delete
      parameters:
      - name: progress_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 待删除的 OKR进展记录 ID
        example: '7041857032248410131'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - okr:okr
      - okr:okr.progress:delete
      x-lark-error-mappings:
      - code: 1009999
        httpCode: 500
        msg: internal server error
      - code: 1009998
        httpCode: 500
        msg: system exception
      - code: 1001001
        httpCode: 400
        msg: invalid parameters
      - code: 1001002
        httpCode: 400
        msg: no permission
      - code: 1001003
        httpCode: 400
        msg: user not found
      - code: 1001004
        httpCode: 400
        msg: okr data not found
      x-lark-rate-limit:
        tier: 3
    get:
      operationId: okr_progress_record_get
      summary: 获取 OKR 进展记录
      tags:
      - progress_record
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/okr-v1/progress_record/get
      parameters:
      - name: progress_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 待查询的 OKR进展记录 ID
        example: '7041857032248410131'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      progress_id:
                        type: string
                        description: OKR 进展ID
                        example: '7041469619902693396'
                        format: int64
                      modify_time:
                        type: string
                        description: 进展更新时间 毫秒
                        example: '1618500278663'
                        format: int64
                      content:
                        type: object
                        properties:
                          blocks:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 文档元素类型
                                  enum:
                                  - paragraph
                                  - gallery
                                  x-enum-descriptions:
                                    paragraph: 文本段落
                                    gallery: 图片
                                  example: paragraph
                                paragraph:
                                  type: object
                                  properties:
                                    style:
                                      type: object
                                      properties:
                                        list:
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                              description: 列表类型
                                              enum:
                                              - number
                                              - bullet
                                              - checkBox
                                              - checkedBox
                                              - indent
                                              x-enum-descriptions:
                                                number: 有序列表
                                                bullet: 无序列表
                                                checkBox: 任务列表
                                                checkedBox: 已完成的任务列表
                                                indent: tab缩进
                                              example: number
                                            indentLevel:
                                              type: integer
                                              description: 列表的缩进级别，支持指定一行的缩进 除代码块以外的列表都支持设置缩进，支持 1-16 级缩进，取值范围：[1,16]
                                              example: '1'
                                            number:
                                              type: integer
                                              description: 用于指定列表的行号，仅对有序列表和代码块生效 如果为有序列表设置了缩进，行号可能会显示为字母或者罗马数字
                                              example: '1'
                                          description: 有序列表/无序列表/任务列表
                                      description: 段落样式
                                    elements:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            description: 元素类型
                                            enum:
                                            - textRun
                                            - docsLink
                                            - person
                                            x-enum-descriptions:
                                              textRun: 文本型元素
                                              docsLink: 文档链接型元素
                                              person: 艾特用户型元素
                                            example: textRun
                                          textRun:
                                            type: object
                                            properties:
                                              text:
                                                type: string
                                                description: 具体的文本内容
                                                example: 周报内容
                                              style:
                                                type: object
                                                properties:
                                                  bold:
                                                    type: boolean
                                                    description: 是否加粗
                                                    example: 'true'
                                                  strikeThrough:
                                                    type: boolean
                                                    description: 是否删除
                                                    example: 'true'
                                                  backColor:
                                                    type: object
                                                    properties:
                                                      red:
                                                        type: integer
                                                        description: 红 取值范围[0,255]
                                                        example: '216'
                                                      green:
                                                        type: integer
                                                        description: 绿 取值范围[0,255]
                                                        example: '191'
                                                      blue:
                                                        type: integer
                                                        description: 蓝 取值范围[0,255]
                                                        example: '188'
                                                      alpha:
                                                        type: number
                                                        description: 透明度 取值范围[0,1]
                                                        example: '0.1'
                                                    description: 背景颜色
                                                  textColor:
                                                    type: object
                                                    properties:
                                                      red:
                                                        type: integer
                                                        description: 红 取值范围[0,255]
                                                        example: '216'
                                                      green:
                                                        type: integer
                                                        description: 绿 取值范围[0,255]
                                                        example: '191'
                                                      blue:
                                                        type: integer
                                                        description: 蓝 取值范围[0,255]
                                                        example: '188'
                                                      alpha:
                                                        type: number
                                                        description: 透明度 取值范围[0,1]
                                                        example: '0.1'
                                                    description: 字体颜色
                                                  link:
                                                    type: object
                                                    properties:
                                                      url:
                                                        type: string
                                                        description: 链接地址
                                                        example: open.feishu.cn
                                                    description: 链接地址
                                                description: 文本内容的样式，支持 BIUS、颜色等
                                            description: 文本
                                          docsLink:
                                            type: object
                                            properties:
                                              url:
                                                type: string
                                                description: 链接地址
                                                example: open.feishu.cn
                                              title:
                                                type: string
                                                description: 链接文案
                                                example: 百度
                                            description: 文档链接，可以根据链接自动识别为标题
                                          person:
                                            type: object
                                            properties:
                                              openId:
                                                type: string
                                                description: 员工的OpenID
                                                example: ou_3bbe8a09c20e89cce9bff989ed840674
                                            description: 艾特用户
                                      description: 段落元素组成一个段落
                                  description: 文本段落
                                gallery:
                                  type: object
                                  properties:
                                    imageList:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          fileToken:
                                            type: string
                                            description: 图片 token，比如boxcnOj88GDkmWGm2zsTyCBqoLb，不支持编辑
                                            example: boxcnOj88GDkmWGm2zsTyCBqoLb
                                          src:
                                            type: string
                                            description: 图片链接
                                            example: https://bytedance.feishu.cn/drive/home/
                                          width:
                                            type: number
                                            description: 图片宽，单位px
                                            example: '458'
                                          height:
                                            type: number
                                            description: 图片高，单位px
                                            example: '372'
                                      description: 图片元素
                                  description: 图片
                            description: 文档结构是按行排列的，每行内容是一个 Block
                        description: 进展 对应的 Content 详细内容
                      progress_rate:
                        type: object
                        properties:
                          percent:
                            type: number
                            description: 进展百分比，保留两位小数
                            default: 0.0
                            example: '50.21'
                          status:
                            type: integer
                            description: 进展状态
                            enum:
                            - -1
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '-1': 暂无
                              '0': 正常
                              '1': 风险
                              '2': 延期
                            example: '0'
                        description: 进展，包括百分比和状态
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - okr:okr.progress:readonly
      - okr:okr:readonly
      - okr:okr
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1009999
        httpCode: 500
        msg: internal server error
      - code: 1009998
        httpCode: 500
        msg: system exception
      - code: 1001001
        httpCode: 400
        msg: invalid parameters
      - code: 1001002
        httpCode: 400
        msg: no permission
      - code: 1001003
        httpCode: 400
        msg: user not found
      - code: 1001004
        httpCode: 400
        msg: okr data not found
      x-lark-rate-limit:
        tier: 3
    put:
      operationId: okr_progress_record_update
      summary: 更新 OKR 进展记录
      tags:
      - progress_record
      description: 创建OKR进展
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/okr-v1/progress_record/update
      parameters:
      - name: progress_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 待更新的 OKR进展记录 ID
        example: '7041857032248410131'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  properties:
                    blocks:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: 文档元素类型
                            enum:
                            - paragraph
                            - gallery
                            x-enum-descriptions:
                              paragraph: 文本段落
                              gallery: 图片
                            example: paragraph
                          paragraph:
                            type: object
                            properties:
                              style:
                                type: object
                                properties:
                                  list:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        description: 列表类型
                                        enum:
                                        - number
                                        - bullet
                                        - checkBox
                                        - checkedBox
                                        - indent
                                        x-enum-descriptions:
                                          number: 有序列表
                                          bullet: 无序列表
                                          checkBox: 任务列表
                                          checkedBox: 已完成的任务列表
                                          indent: tab缩进
                                        example: number
                                      indentLevel:
                                        type: integer
                                        description: 列表的缩进级别，支持指定一行的缩进 除代码块以外的列表都支持设置缩进，支持 1-16 级缩进，取值范围：[1,16]
                                        example: '1'
                                      number:
                                        type: integer
                                        description: 用于指定列表的行号，仅对有序列表和代码块生效 如果为有序列表设置了缩进，行号可能会显示为字母或者罗马数字
                                        example: '1'
                                    description: 有序列表/无序列表/任务列表
                                description: 段落样式
                              elements:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      description: 元素类型
                                      enum:
                                      - textRun
                                      - docsLink
                                      - person
                                      x-enum-descriptions:
                                        textRun: 文本型元素
                                        docsLink: 文档链接型元素
                                        person: 艾特用户型元素
                                      example: textRun
                                    textRun:
                                      type: object
                                      properties:
                                        text:
                                          type: string
                                          description: 具体的文本内容
                                          example: 周报内容
                                        style:
                                          type: object
                                          properties:
                                            bold:
                                              type: boolean
                                              description: 是否加粗
                                              example: 'true'
                                            strikeThrough:
                                              type: boolean
                                              description: 是否删除
                                              example: 'true'
                                            backColor:
                                              type: object
                                              properties:
                                                red:
                                                  type: integer
                                                  description: 红 取值范围[0,255]
                                                  example: '216'
                                                green:
                                                  type: integer
                                                  description: 绿 取值范围[0,255]
                                                  example: '191'
                                                blue:
                                                  type: integer
                                                  description: 蓝 取值范围[0,255]
                                                  example: '188'
                                                alpha:
                                                  type: number
                                                  description: 透明度 取值范围[0,1]
                                                  example: '0.1'
                                              description: 背景颜色
                                            textColor:
                                              type: object
                                              properties:
                                                red:
                                                  type: integer
                                                  description: 红 取值范围[0,255]
                                                  example: '216'
                                                green:
                                                  type: integer
                                                  description: 绿 取值范围[0,255]
                                                  example: '191'
                                                blue:
                                                  type: integer
                                                  description: 蓝 取值范围[0,255]
                                                  example: '188'
                                                alpha:
                                                  type: number
                                                  description: 透明度 取值范围[0,1]
                                                  example: '0.1'
                                              description: 字体颜色
                                            link:
                                              type: object
                                              properties:
                                                url:
                                                  type: string
                                                  description: 链接地址
                                                  example: open.feishu.cn
                                              description: 链接地址
                                          description: 文本内容的样式，支持 BIUS、颜色等
                                      description: 文本
                                    docsLink:
                                      type: object
                                      properties:
                                        url:
                                          type: string
                                          description: 链接地址
                                          example: open.feishu.cn
                                        title:
                                          type: string
                                          description: 链接文案
                                          example: 百度
                                      description: 文档链接，可以根据链接自动识别为标题
                                    person:
                                      type: object
                                      properties:
                                        openId:
                                          type: string
                                          description: 员工的OpenID
                                          example: ou_3bbe8a09c20e89cce9bff989ed840674
                                      description: 艾特用户
                                description: 段落元素组成一个段落
                            description: 文本段落
                          gallery:
                            type: object
                            properties:
                              imageList:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    fileToken:
                                      type: string
                                      description: 图片 token，比如boxcnOj88GDkmWGm2zsTyCBqoLb，不支持编辑
                                      example: boxcnOj88GDkmWGm2zsTyCBqoLb
                                    src:
                                      type: string
                                      description: 图片链接
                                      example: https://bytedance.feishu.cn/drive/home/
                                    width:
                                      type: number
                                      description: 图片宽，单位px
                                      example: '458'
                                    height:
                                      type: number
                                      description: 图片高，单位px
                                      example: '372'
                                description: 图片元素
                            description: 图片
                      description: 文档结构是按行排列的，每行内容是一个 Block
                  description: 进展详情 富文本格式
                progress_rate:
                  type: object
                  properties:
                    percent:
                      type: number
                      description: 进展百分比，保留两位小数
                      default: 0.0
                      example: '50.21'
                    status:
                      type: integer
                      description: 进展状态
                      enum:
                      - -1
                      - 0
                      - 1
                      - 2
                      x-enum-descriptions:
                        '-1': 暂无
                        '0': 正常
                        '1': 风险
                        '2': 延期
                      example: '0'
                  description: 进展，包括百分比和状态
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      progress_id:
                        type: string
                        description: OKR 进展ID
                        example: '7041469619902693396'
                        format: int64
                      modify_time:
                        type: string
                        description: 进展更新时间 毫秒
                        example: '1618500278663'
                        format: int64
                      content:
                        type: object
                        properties:
                          blocks:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 文档元素类型
                                  enum:
                                  - paragraph
                                  - gallery
                                  x-enum-descriptions:
                                    paragraph: 文本段落
                                    gallery: 图片
                                  example: paragraph
                                paragraph:
                                  type: object
                                  properties:
                                    style:
                                      type: object
                                      properties:
                                        list:
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                              description: 列表类型
                                              enum:
                                              - number
                                              - bullet
                                              - checkBox
                                              - checkedBox
                                              - indent
                                              x-enum-descriptions:
                                                number: 有序列表
                                                bullet: 无序列表
                                                checkBox: 任务列表
                                                checkedBox: 已完成的任务列表
                                                indent: tab缩进
                                              example: number
                                            indentLevel:
                                              type: integer
                                              description: 列表的缩进级别，支持指定一行的缩进 除代码块以外的列表都支持设置缩进，支持 1-16 级缩进，取值范围：[1,16]
                                              example: '1'
                                            number:
                                              type: integer
                                              description: 用于指定列表的行号，仅对有序列表和代码块生效 如果为有序列表设置了缩进，行号可能会显示为字母或者罗马数字
                                              example: '1'
                                          description: 有序列表/无序列表/任务列表
                                      description: 段落样式
                                    elements:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            description: 元素类型
                                            enum:
                                            - textRun
                                            - docsLink
                                            - person
                                            x-enum-descriptions:
                                              textRun: 文本型元素
                                              docsLink: 文档链接型元素
                                              person: 艾特用户型元素
                                            example: textRun
                                          textRun:
                                            type: object
                                            properties:
                                              text:
                                                type: string
                                                description: 具体的文本内容
                                                example: 周报内容
                                              style:
                                                type: object
                                                properties:
                                                  bold:
                                                    type: boolean
                                                    description: 是否加粗
                                                    example: 'true'
                                                  strikeThrough:
                                                    type: boolean
                                                    description: 是否删除
                                                    example: 'true'
                                                  backColor:
                                                    type: object
                                                    properties:
                                                      red:
                                                        type: integer
                                                        description: 红 取值范围[0,255]
                                                        example: '216'
                                                      green:
                                                        type: integer
                                                        description: 绿 取值范围[0,255]
                                                        example: '191'
                                                      blue:
                                                        type: integer
                                                        description: 蓝 取值范围[0,255]
                                                        example: '188'
                                                      alpha:
                                                        type: number
                                                        description: 透明度 取值范围[0,1]
                                                        example: '0.1'
                                                    description: 背景颜色
                                                  textColor:
                                                    type: object
                                                    properties:
                                                      red:
                                                        type: integer
                                                        description: 红 取值范围[0,255]
                                                        example: '216'
                                                      green:
                                                        type: integer
                                                        description: 绿 取值范围[0,255]
                                                        example: '191'
                                                      blue:
                                                        type: integer
                                                        description: 蓝 取值范围[0,255]
                                                        example: '188'
                                                      alpha:
                                                        type: number
                                                        description: 透明度 取值范围[0,1]
                                                        example: '0.1'
                                                    description: 字体颜色
                                                  link:
                                                    type: object
                                                    properties:
                                                      url:
                                                        type: string
                                                        description: 链接地址
                                                        example: open.feishu.cn
                                                    description: 链接地址
                                                description: 文本内容的样式，支持 BIUS、颜色等
                                            description: 文本
                                          docsLink:
                                            type: object
[...]
