# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · optical_char_recognition API（全量）
  description: |-
    飞书开放平台 `optical_char_recognition` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: optical_char_recognition
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: image
paths:
  /open-apis/optical_char_recognition/v1/image/basic_recognize:
    post:
      operationId: optical_char_recognition_image_basic_recognize
      summary: 识别图片中的文字
      tags:
      - image
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/optical_char_recognition-v1/image/basic_recognize
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                image:
                  type: string
                  description: base64 后的图片数据
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      text_list:
                        type: array
                        items:
                          type: string
                        description: 按区域识别，返回文本列表
                    required:
                    - text_list
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - optical_char_recognition:image
      x-lark-error-mappings:
      - code: 1150101
        httpCode: 400
        msg: invalid param
      - code: 1150102
        httpCode: 500
        msg: network anomaly
      x-lark-rate-limit:
        tier: 0
components:
  schemas: {}
