# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · passport API（全量）
  description: |-
    飞书开放平台 `passport` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T04:09:08Z'
  x-lark-project: passport
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T04:09:08Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: session
paths:
  /open-apis/passport/v1/sessions/logout:
    post:
      operationId: passport_session_logout
      summary: 退出登录
      tags:
      - session
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/passport-v1/session/logout
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: open_id
            union_id: union_id
            user_id: user_id
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: user_id_type
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                idp_credential_id:
                  type: string
                  description: idp 侧的唯一标识
                  example: '1'
                logout_type:
                  type: integer
                  description: 登出的方式
                  enum:
                  - 1
                  - 2
                  - 3
                  x-enum-descriptions:
                    '1': UserID
                    '2': IdpCredentialID
                    '3': Session 标识符
                  example: '1'
                terminal_type:
                  type: array
                  items:
                    type: integer
                  description: 登出的客户端类型，默认全部登出，1-桌面端，2-网页端，3-安卓移动端，4-Apple移动端 5-服务端 6-旧版小程序端 8-其他移动端
                user_id:
                  type: string
                  description: user_id
                  example: '1'
                logout_reason:
                  type: integer
                  description: 登出原因
                  example: '34: 修改密码；35: 登陆态失效；36: 密码过期'
                sid:
                  type: string
                  description: 需要精确登出的 session 标识符
                  example: AAAAAAAAAANll6nQoIAAFA==
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - passport:session:logout
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1080001
        httpCode: 400
        msg: param is invalis
      - code: 1084001
        httpCode: 400
        msg: The parameter sid is invalid
      - code: 1084002
        httpCode: 400
        msg: The parameter logout_reason is invalid
      x-lark-rate-limit:
        tier: 0
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_id
        section: 0
  /open-apis/passport/v1/sessions/query:
    post:
      operationId: passport_session_query
      summary: 批量获取脱敏的用户登录信息
      tags:
      - session
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/passport-v1/session/query
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: 用户的 open id
            union_id: 用户的 union id
            user_id: 用户的 user id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户id类型
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 用户 ID
                  example: '["47f621ff"]'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      mask_sessions:
                        type: array
                        items:
                          type: object
                          properties:
                            create_time:
                              type: string
                              description: 创建时间
                              example: '1724233829'
                              format: int64
                            terminal_type:
                              type: integer
                              description: 客户端类型
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 8
                              x-enum-descriptions:
                                '0': 未知
                                '1': 桌面版
                                '2': 网页版
                                '3': 安卓移动端
                                '4': Apple移动端
                                '5': 服务端
                                '6': 旧版小程序端
                                '8': 其他移动端
                              example: '2'
                            user_id:
                              type: string
                              description: 用户ID
                              example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                            sid:
                              type: string
                              description: 需要登出的 session 标识符
                              example: AAAAAAAAAANll6nQoIAAFA==
                        description: session信息
                        example: '[{"create_time":"1644983127","terminal_type":2,"user_id":"47f621ff"},{"create_time":"1644980493","terminal_type":2,"user_id":"47f621ff"}]'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - passport:session_mask:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1080001
        httpCode: 400
        msg: param is invalis
      x-lark-rate-limit:
        tier: 1
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_ids[*]
        section: 0
components:
  schemas: {}
