# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · payroll API（全量）
  description: |-
    飞书开放平台 `payroll` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T04:09:08Z'
  x-lark-project: payroll
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T04:09:08Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: acct_item
- name: cost_allocation_detail
- name: cost_allocation_plan
- name: cost_allocation_report
- name: datasource
- name: datasource_record
- name: paygroup
- name: payment_activity
- name: payment_activity_detail
- name: payment_detail
paths:
  /open-apis/payroll/v1/acct_items:
    get:
      operationId: payroll_acct_item_list
      summary: 批量查询算薪项
      tags:
      - acct_item
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/acct_item/list
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
        description: 分页大小
        example: '50'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 算薪项ID
                              example: '7169773973790425132'
                            i18n_names:
                              type: array
                              items:
                                type: object
                                properties:
                                  locale:
                                    type: string
                                    description: 语种
                                    default: zh_cn
                                    example: zh_cn
                                  value:
                                    type: string
                                    description: 语种对应的值
                                    example: 名称
                              description: 算薪项名称
                            category_id:
                              type: string
                              description: 算薪项分类ID
                              example: '7169773973790425132'
                            data_type:
                              type: integer
                              description: 算薪项数据类型
                              example: '1'
                            decimal_places:
                              type: integer
                              description: 小数位数
                              example: '2'
                            active_status:
                              type: integer
                              description: 启用状态
                              example: '1'
                        description: 算薪项列表
                      page_token:
                        type: string
                        description: 下一页开始
                      has_more:
                        type: boolean
                        description: 是否还有更多数据
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - payroll:payroll_calculation_item:read
      x-lark-error-mappings:
      - code: 2500001
        httpCode: 500
        msg: unknown error
      - code: 2500002
        httpCode: 400
        msg: param invalid
      - code: 2500003
        httpCode: 500
        msg: "\t rpc fail"
      x-lark-rate-limit:
        tier: 6
      x-lark-pagination: true
  /open-apis/payroll/v1/cost_allocation_details:
    get:
      operationId: payroll_cost_allocation_detail_list
      summary: 查询成本分摊报表明细
      tags:
      - cost_allocation_detail
      description: 获取成本分摊报表明细数据
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/cost_allocation_detail/list
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
        description: 分页大小
        example: '50'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记,第一次请求不填,表示从头开始遍 历;分页查询结果还有更多项时会同时返回新 的page_token,下次遍历可采用该 page_token获取查询结果
      - name: cost_allocation_plan_id
        in: query
        required: true
        schema:
          type: string
        description: 成本分摊方案ID
        example: '72131231231231231'
      - name: pay_period
        in: query
        required: true
        schema:
          type: string
        description: 期间
        example: 2024-06
      - name: report_type
        in: query
        required: true
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          x-enum-descriptions:
            '0': 默认
            '1': 计提
            '2': 实发
        description: 报表类型
        example: '0'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      cost_allocation_report_datas:
                        type: array
                        items:
                          type: object
                          properties:
                            data_summary_dimensions:
                              type: array
                              items:
                                $ref: '#/components/schemas/Item2'
                              description: 数据维度汇总
                            compensation_cost_item:
                              type: object
                              properties:
                                compensation_costs:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      compensation_cost_value:
                                        type: string
                                        description: 成本项值
                                        example: '123456.78'
                                      i18n_names:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            locale:
                                              type: string
                                              description: 语种
                                              default: zh_cn
                                              example: zh_cn
                                            value:
                                              type: string
                                              description: 语种对应的值
                                              example: 名称
                                        description: 成本项名称
                                  description: 成本项数据
                              description: 成本项数据
                            employment_id:
                              type: string
                              description: 员工id
                              example: '72321836123692186'
                        description: 报表明细数据
                      cost_allocation_report_names:
                        type: array
                        items:
                          type: object
                          properties:
                            locale:
                              type: string
                              description: 语种
                              default: zh_cn
                              example: zh_cn
                            value:
                              type: string
                              description: 语种对应的值
                              example: 名称
                        description: 报表名称
                      pay_period:
                        type: string
                        description: 期间
                        example: 2024-06
                      page_token:
                        type: string
                      has_more:
                        type: boolean
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - payroll:cost_allocation_details:read
      x-lark-error-mappings:
      - code: 2500001
        httpCode: 500
        msg: unknown error
      - code: 2500002
        httpCode: 400
        msg: param is invalid
      - code: 2500003
        httpCode: 500
        msg: rpc fail
      - code: 2500004
        httpCode: 500
        msg: get plan version fail
      - code: 2500005
        httpCode: 200
        msg: report has changed, please fetch again
      - code: 2500006
        httpCode: 200
        msg: report not found or unpublished
      - code: 2500007
        httpCode: 500
        msg: report fetch fail
      - code: 2500006
        httpCode: 200
        msg: report not found or unpublished
      x-lark-rate-limit:
        tier: 6
      x-lark-pagination: true
  /open-apis/payroll/v1/cost_allocation_plans:
    get:
      operationId: payroll_cost_allocation_plan_list
      summary: 批量查询成本分摊方案
      tags:
      - cost_allocation_plan
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/cost_allocation_plan/list
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
        description: 分页大小
        example: '50'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '6823630319749580302'
      - name: pay_period
        in: query
        required: true
        schema:
          type: string
        description: 期间
        example: 2023-11
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 唯一标识
                              example: '6823630319749580301'
                              format: int64
                            names:
                              type: array
                              items:
                                type: object
                                properties:
                                  locale:
                                    type: string
                                    description: 语种
                                    default: zh_cn
                                    example: zh_cn
                                  value:
                                    type: string
                                    description: 语种对应的值
                                    example: 名称
                              description: 方案名称
                            applicable_country_region:
                              type: string
                              description: 适用国家
                              example: '6823630319749580302'
                            dimensions:
                              type: array
                              items:
                                type: object
                                properties:
                                  i18n_names:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        locale:
                                          type: string
                                          description: 语种
                                          default: zh_cn
                                          example: zh_cn
                                        value:
                                          type: string
                                          description: 语种对应的值
                                          example: 名称
                                        id:
                                          type: string
                                          description: 名称对应的实体id
                                          example: '723123123123123213'
                                    description: 汇总维度信息
                                  api_name:
                                    type: string
                                    description: 汇总维度字段名称
                                    example: company
                                  obj_api_name:
                                    type: string
                                    description: 汇总维度对象名称
                                    example: jobData
                              description: 成本分摊方案对应的汇总维度列表
                            cost_items:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: 成本项的唯一标识
                                    example: '7433424967234601004'
                                  name:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        locale:
                                          type: string
                                          description: 语种
                                          default: zh_cn
                                          example: zh_cn
                                        value:
                                          type: string
                                          description: 语种对应的值
                                          example: 名称
                                        id:
                                          type: string
                                          description: 名称对应的实体id
                                          example: '723123123123123213'
                                    description: 成本项名称
                                  enable_correct:
                                    type: boolean
                                    description: 成本项是否启用更正
                                    example: 'true'
                              description: 成本分摊方案对应的成本项列表
                        description: 方案
                      page_token:
                        type: string
                        description: 下一页开始
                        example: '6823630319749580302'
                      has_more:
                        type: boolean
                        description: 是否还有更多数据
                        example: 'true'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - payroll:cost_allocation_plan:read
      x-lark-error-mappings:
      - code: 2500001
        httpCode: 500
        msg: unknown error
      - code: 2500002
        httpCode: 400
        msg: param invalid
      - code: 2500003
        httpCode: 500
        msg: rpc fail
      x-lark-rate-limit:
        tier: 6
      x-lark-pagination: true
  /open-apis/payroll/v1/cost_allocation_reports:
    get:
      operationId: payroll_cost_allocation_report_list
      summary: 查询成本分摊报表汇总数据
      tags:
      - cost_allocation_report
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/cost_allocation_report/list
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
        description: 分页大小
        example: '50'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '6823630319749580304'
      - name: cost_allocation_plan_id
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 成本分摊方案ID
        example: '6823630319749580304'
      - name: pay_period
        in: query
        required: true
        schema:
          type: string
        description: 期间
        example: 2023-11
      - name: report_type
        in: query
        required: true
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          x-enum-descriptions:
            '0': 默认
            '1': 计提
            '2': 实发
        description: 报表类型
        example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      pay_period:
                        type: string
                        description: 期间
                        example: 2023-11
                      page_token:
                        type: string
                        description: 下一页开始
                        example: '6823630319749580302'
                      has_more:
                        type: boolean
                        description: 是否还有更多数据
                        example: 'true'
                      cost_allocation_report_names:
                        type: array
                        items:
                          type: object
                          properties:
                            locale:
                              type: string
                              description: 语种
                              default: zh_cn
                              example: zh_cn
                            value:
                              type: string
                              description: 语种对应的值
                              example: 名称
                        description: 报表名称
                      cost_allocation_report_datas:
                        type: array
                        items:
                          type: object
                          properties:
                            data_summary_dimensions:
                              type: array
                              items:
                                $ref: '#/components/schemas/Item2'
                              description: 数据维度汇总
                            compensation_cost_item:
                              type: object
                              properties:
                                number_of_individuals_for_payment:
                                  type: integer
                                  description: 发薪人数
                                  example: '100'
                                compensation_costs:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      compensation_cost_value:
                                        type: string
                                        description: 成本项值
                                        example: '123456.78'
                                      i18n_names:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            locale:
                                              type: string
                                              description: 语种
                                              default: zh_cn
                                              example: zh_cn
                                            value:
                                              type: string
                                              description: 语种对应的值
                                              example: 名称
                                        description: 成本项名称
                                  description: 成本项数据
                              description: 成本项数据
                        description: 汇总数据
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - payroll:cost_allocation_report:read
      x-lark-error-mappings:
      - code: 2500001
        httpCode: 500
        msg: unknown error
      - code: 2500002
        httpCode: 400
        msg: param is invalid
      - code: 2500003
        httpCode: 500
        msg: rpc fail
      - code: 2500004
        httpCode: 500
        msg: get plan version fail
      - code: 2500005
        httpCode: 200
        msg: report has changed, please fetch again
      - code: 2500006
        httpCode: 200
        msg: report not found or unpublished
      - code: 2500007
        httpCode: 500
        msg: report fetch fail
      x-lark-rate-limit:
        tier: 6
      x-lark-pagination: true
  /open-apis/payroll/v1/datasources:
    get:
      operationId: payroll_datasource_list
      summary: 获取外部数据源配置信息
      tags:
      - datasource
      description: 获取外部数据源设置列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/datasource/list
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      page_token:
                        type: string
                      has_more:
                        type: boolean
                      datasources:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: 数据源编码
                              example: test_datasource__c
                            i18n_names:
                              type: array
                              items:
                                type: object
                                properties:
                                  locale:
                                    type: string
                                    description: 语种
                                    default: zh_cn
                                    example: zh_cn
                                  value:
                                    type: string
                                    description: 语种对应的值
                                    example: 名称
                                  id:
                                    type: string
                                    description: 名称对应的实体id
                                    example: '723123123123123213'
                              description: 数据源名称
                            active_status:
                              type: integer
                              description: 启停用状态
                              enum:
                              - 1
                              - 2
                              x-enum-descriptions:
                                '1': 已启用
                                '2': 已停用
                              example: '1'
                            fields:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: 数据源字段编码
                                    example: test__c
                                  i18n_names:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        locale:
                                          type: string
                                          description: 语种
                                          default: zh_cn
                                          example: zh_cn
                                        value:
                                          type: string
                                          description: 语种对应的值
                                          example: 名称
                                        id:
                                          type: string
                                          description: 名称对应的实体id
                                          example: '723123123123123213'
                                    description: 数据源字段名称
                                  field_type:
                                    type: integer
                                    description: 字段类型
                                    enum:
                                    - 1
                                    - 2
                                    - 3
                                    - 4
                                    - 5
                                    x-enum-descriptions:
                                      '1': 金额
                                      '2': 数值
                                      '3': 文本
                                      '4': 日期
                                      '5': 百分比
                                    example: '1'
                                  active_status:
                                    type: integer
                                    description: 字段启停用状态
                                    enum:
                                    - 1
                                    - 2
                                    x-enum-descriptions:
                                      '1': 已启用
                                      '2': 已停用
                                    example: '1'
                                  i18n_description:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        locale:
                                          type: string
                                          description: 语种
                                          default: zh_cn
                                          example: zh_cn
                                        value:
                                          type: string
                                          description: 语种对应的值
                                          example: 名称
                                        id:
                                          type: string
                                          description: 名称对应的实体id
                                          example: '723123123123123213'
                                    description: 数据源字段描述
                                  decimal_places:
                                    type: integer
                                    description: 保留小数位数。目前只有number、money类型字段需要设置保留小数
                                    example: '1'
                                required:
                                - code
                                - i18n_names
                                - field_type
                                - active_status
                              description: 数据源字段列表
                            i18n_description:
                              type: array
                              items:
                                type: object
                                properties:
                                  locale:
                                    type: string
                                    description: 语种
                                    default: zh_cn
                                    example: zh_cn
                                  value:
                                    type: string
                                    description: 语种对应的值
                                    example: 名称
                                  id:
                                    type: string
                                    description: 名称对应的实体id
                                    example: '723123123123123213'
                              description: 数据源描述
                            data_period_type:
                              type: integer
                              description: 数据期间类型（数据写入维度）
                              enum:
                              - 1
                              - 2
                              - 3
                              x-enum-descriptions:
                                '1': 算薪期间（月）
                                '2': 数据发生日期
                                '3': 自定义数据周期
                          required:
                          - code
                          - i18n_names
                          - active_status
                          - fields
                        description: 数据源列表
                    required:
                    - has_more
                    - datasources
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - payroll:external_datasource_configuration:read
      x-lark-error-mappings:
      - code: 2500001
        httpCode: 500
        msg: unknown error
      - code: 2500002
        httpCode: 400
        msg: param invalid
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
  /open-apis/payroll/v1/datasource_records/query:
    post:
      operationId: payroll_datasource_record_query
      summary: 批量查询外部算薪数据记录
      tags:
      - datasource_record
      description: 获取外部数据源记录
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/datasource_record/query
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source_code:
                  type: string
                  description: 数据源编码
                  example: test__c
                selected_fields:
                  type: array
                  items:
                    type: string
                  description: 指定查询的数据源字段。如不传，默认返回所有数据源字段
                field_filters:
                  type: array
                  items:
                    type: object
                    properties:
                      field_code:
                        type: string
                        description: 查询条件的字段编码
                        example: test__c
                      field_values:
                        type: array
                        items:
                          type: string
                        description: 条件值列表
                      operator:
                        type: integer
                        description: 查询操作符
                        enum:
                        - 1
                        - 2
                        x-enum-descriptions:
                          '1': 包含任一
                          '2': 处于日期范围中，闭区间。
                        example: '1'
                    required:
                    - field_code
                  description: 查询过滤器列表，多个过滤器之间为And关系。本期员工月维度汇总类型数据源，只支持employment_id、payroll_period fieldKey的查询，其中payroll_period必传
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      page_token:
                        type: string
                      has_more:
                        type: boolean
                      records:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item3'
                        description: 数据记录列表
                    required:
                    - has_more
                    - records
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - payroll:external_datasource_record:read
      x-lark-error-mappings:
      - code: 2500001
        httpCode: 500
        msg: unknown error
      - code: 2500002
        httpCode: 400
        msg: param invalid
      - code: 2500004
        httpCode: 200
        msg: ''
      - code: 2500005
        httpCode: 200
        msg: ''
      - code: 2500006
        httpCode: 200
        msg: ''
      - code: 2500007
        httpCode: 200
        msg: ''
      - code: 2500019
        httpCode: 200
        msg: ''
      - code: 2500010
        httpCode: 200
        msg: ''
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
  /open-apis/payroll/v1/datasource_records/save:
    post:
      operationId: payroll_datasource_record_save
      summary: 创建 / 更新外部算薪数据
      tags:
      - datasource_record
      description: 外部数据记录批量保存接口
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/datasource_record/save
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source_code:
                  type: string
                  description: 数据源code
                  example: test__c
                records:
                  type: array
                  items:
                    $ref: '#/components/schemas/Item3'
                  description: 需保存的记录列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      affect_counts:
                        type: string
                        description: 更新的记录条数
                        example: '1'
                    required:
                    - affect_counts
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - payroll:external_datasource_record:write
      x-lark-error-mappings:
      - code: 2500001
        httpCode: 500
        msg: unknown error
      - code: 2500002
        httpCode: 400
        msg: param invalid
      - code: 2500004
        httpCode: 200
        msg: ''
      - code: 2500005
        httpCode: 200
        msg: ''
      - code: 2500008
        httpCode: 200
        msg: ''
      - code: 2500009
        httpCode: 200
        msg: ''
      - code: 2500010
        httpCode: 200
        msg: ''
      - code: 2500011
        httpCode: 200
        msg: ''
      - code: 2500012
        httpCode: 200
        msg: ''
      - code: 2500013
        httpCode: 200
        msg: ''
      - code: 2500014
        httpCode: 200
        msg: ''
      - code: 2500015
        httpCode: 200
        msg: ''
      - code: 2500016
        httpCode: 200
        msg: ''
      - code: 2500017
        httpCode: 200
        msg: ''
      - code: 2500018
        httpCode: 200
        msg: ''
      - code: 2500020
        httpCode: 200
        msg: ''
      - code: 2500021
        httpCode: 200
        msg: ''
      x-lark-rate-limit:
        tier: 7
  /open-apis/payroll/v1/paygroups:
    get:
      operationId: payroll_paygroup_list
      summary: 获取薪资组基本信息
      tags:
      - paygroup
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/paygroup/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '50'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '6862995757234914824'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            pay_group_id:
                              type: string
                              description: 薪资组ID
                              example: '6823630319749580301'
                            name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 中文名称
                                  example: CHN-审核
                                en_us:
                                  type: string
                                  description: 英文名称
                                  example: english name
                              description: 薪资组名称
                              example: CHN - 审核
                            code:
                              type: string
                              description: 薪资组编码
                              example: PAY_GROUP-3-8
                            status:
                              type: integer
                              description: 薪资组状态
                              enum:
                              - 1
                              - 0
                              x-enum-descriptions:
                                '1': 启用
                                '0': 禁用
                              example: '1'
                            country_region:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: 国家地区ID
                                  example: '7202076988667019308'
                                alpha3_code:
                                  type: string
                                  description: 国家地区三字码
                                  example: CHN
                              description: 薪资组所属国家/地区
                            is_global_region:
                              type: boolean
                              description: 是否适用全球
                          required:
                          - pay_group_id
                          - name
                          - code
                          - status
                        description: 薪资组列表
                      page_token:
                        type: string
                        description: 分页标识符
                        example: '6862995757234914824'
                      has_more:
                        type: boolean
                        description: 是否还有更多数据
                        example: 'true'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - payroll:pay_groups:read
      x-lark-error-mappings:
      - code: 2500001
        httpCode: 500
        msg: unknown error
      - code: 2500002
        httpCode: 404
        msg: param invalid
      - code: 2500003
        httpCode: 500
        msg: rpc fail
      x-lark-rate-limit:
        tier: 2
      x-lark-pagination: true
  /open-apis/payroll/v1/payment_activitys/archive:
    post:
      operationId: payroll_payment_activity_archive
      summary: 封存发薪活动
      tags:
      - payment_activity
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/payment_activity/archive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                activity_id:
                  type: string
                  description: 发薪活动ID
                  example: '111111'
                  format: int64
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - payroll:payment_activity:archive
      x-lark-error-mappings:
      - code: 2500001
        httpCode: 500
        msg: unknown error
      - code: 2500002
        httpCode: 400
        msg: param is invalid
      - code: 2500003
        httpCode: 500
        msg: rpc fail
      - code: 2500004
        httpCode: 500
        msg: payment activity status error
      - code: 2500005
        httpCode: 500
        msg: data perm denied
      - code: 2500006
        httpCode: 500
        msg: payment activity not existed
      x-lark-rate-limit:
        tier: 1
  /open-apis/payroll/v1/payment_activitys:
    get:
      operationId: payroll_payment_activity_list
      summary: 查询发薪活动列表
      tags:
      - payment_activity
      description: 根据发薪起止日和审批状态分页查询发薪活动列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/payment_activity/list
      parameters:
      - name: pay_period_start_date
        in: query
        required: true
        schema:
          type: string
        description: 发薪日开始时间，格式：YYYY-MM-dd，[pay_period_start_date, pay_period_end_date] 是一个左闭右闭区间。
        example: '2024-01-01'
      - name: pay_period_end_date
        in: query
        required: true
        schema:
          type: string
        description: 发薪日结束时间，格式：YYYY-MM-dd，[pay_period_start_date, pay_period_end_date] 是一个左闭右闭区间。
        example: '2024-01-31'
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
        description: 分页大小，传值范围为 [1, 100]
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记,第一次请求不填,表示从头开始遍 历;分页查询结果还有更多项时会同时返回新 的page_token,下次遍历可采用该 page_token获取查询结果
      - name: statuses
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: 发薪活动审批状态列表，其中：100-待确认发薪名单；150-待提交审批；200-审批中；300-审批被拒绝；350-审批被撤回；360-审批被撤销；375-审批通过；400-已封存。
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      payment_activitys:
                        type: array
                        items:
                          type: object
                          properties:
                            activity_id:
                              type: string
                              description: 发薪活动唯一标识
                              example: '7202076988667019308'
                              format: int64
                            activity_names:
                              type: array
                              items:
                                type: object
                                properties:
                                  locale:
                                    type: string
                                    description: 语种
                                    default: zh_cn
                                    example: zh_cn
                                  value:
                                    type: string
                                    description: 语种对应的值
                                    example: 名称
                              description: 发薪活动名称
                            pay_date:
                              type: string
                              description: 发薪活动发薪日期
                              example: '2020-10-31'
                            total_number_of_payroll:
                              type: integer
                              description: 发薪总笔数
                              example: '100'
                            number_of_calculation_activities:
                              type: integer
                              description: 关联的算薪活动个数
                              example: '1000'
                            calculation_activities:
                              type: array
                              items:
                                type: object
                                properties:
                                  calculation_activity_id:
                                    type: string
                                    description: 算薪活动唯一标识
                                    example: '7371828319837012009'
                                    format: int64
                                  calculation_activity_names:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        locale:
                                          type: string
                                          description: 语种
                                          default: zh_cn
                                          example: zh_cn
                                        value:
                                          type: string
                                          description: 语种对应的值
                                          example: 名称
                                    description: 算薪活动名称
                              description: 发薪活动关联的算薪活动详情
                            activity_status:
                              type: integer
                              description: 发薪活动审批状态，其中：100-待确认发薪名单；150-待提交审批；200-审批中；300-审批被拒绝；350-审批被撤回；360-审批被撤销；375-审批通过；400-已封存。
                              example: '400'
                        description: 发薪活动列表
                      page_token:
                        type: string
                      has_more:
                        type: boolean
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - payroll:payment_activity:read
      x-lark-error-mappings:
      - code: 2500001
        httpCode: 500
        msg: unknown error
      - code: 2500002
        httpCode: 400
        msg: param is invalid
      - code: 2500003
        httpCode: 500
        msg: rpc fail
      - code: 2500004
        httpCode: 400
        msg: employment id is not exist
      x-lark-rate-limit:
        tier: 6
      x-lark-pagination: true
  /open-apis/payroll/v1/payment_activity_details:
    get:
      operationId: payroll_payment_activity_detail_list
      summary: 查询发薪活动明细列表
      tags:
      - payment_activity_detail
      description: 根据发薪活动 ID 和分页参数获取发薪活动明细列表
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/payment_activity_detail/list
      parameters:
      - name: page_index
        in: query
        required: true
        schema:
          type: integer
        description: 页码，第一页从 1 开始
        example: '100'
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
        description: 每页大小，范围为：[1, 100]
      - name: activity_id
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 发薪活动唯一标识
        example: '7202076988667019308'
      - name: include_segment_data
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要查询算薪明细的分段信息，如果不传该参数或传 false ，那么只返回发薪活动明细数据；如果该参数传了 true，那么同时返回发薪明细对应的算薪明细分段数据。
      - name: acct_item_ids
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 算薪项 ID 列表。当前参数传空时，接口会返回发薪明细中所有的算薪项；当前参数不为空时，接口只返回发薪明细中与 acct_item_ids 存在交集的算薪项。
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      payment_activity_details:
                        type: array
                        items:
                          type: object
                          properties:
                            employee_id:
                              type: string
                              description: 员工的唯一标识
                              example: '7202076988667019308'
                            payment_details:
                              type: array
                              items:
                                $ref: '#/components/schemas/Item'
                              description: 发薪明细详情
                        description: 发薪明细列表
                      total:
                        type: integer
                        description: 发薪明细总数
                        example: '50000'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - payroll:payment_activity_details:read
      x-lark-error-mappings:
      - code: 2500001
        httpCode: 500
        msg: unknown error
      - code: 2500002
        httpCode: 400
        msg: param is invalid
      - code: 2500003
        httpCode: 500
        msg: rpc fail
      - code: 2500004
        httpCode: 200
        msg: current payment activity is not exist or deleted
      - code: 2500003
        httpCode: 500
        msg: rpc fail
      x-lark-rate-limit:
        tier: 6
  /open-apis/payroll/v1/payment_detail/query:
    post:
      operationId: payroll_payment_detail_query
      summary: 批量查询发薪明细
      tags:
      - payment_detail
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/payroll-v1/payment_detail/query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page_index:
                  type: integer
                  description: 页码，第一页从 1 开始
                  example: '100'
                page_size:
                  type: integer
                  description: 每页大小，范围为：[1, 100]
                acct_item_ids:
                  type: array
                  items:
                    type: string
                  description: 算薪项 ID 列表。当前参数传空时，接口会返回发薪明细中所有的算薪项；当前参数不为空时，接口只返回发薪明细中与 acct_item_ids 存在交集的算薪项。
                employee_ids:
                  type: array
                  items:
                    type: string
                  description: 员工的飞书人事雇佣 ID 列表。
                pay_period_start_date:
                  type: string
                  description: 发薪日开始时间，格式：YYYY-MM-dd，[pay_period_start_date, pay_period_end_date] 是一个左闭右闭区间。
                  example: '2024-01-01'
                pay_period_end_date:
                  type: string
                  description: 发薪日结束时间，格式：YYYY-MM-dd，[pay_period_start_date, pay_period_end_date] 是一个左闭右闭区间，pay_period_start_date
                    不得晚于 pay_period_end_date ，且 [pay_period_start_date, pay_period_end_date] 最大间隔为 12 个月。
                  example: '2024-01-31'
                activity_ids:
                  type: array
                  items:
                    type: string
                  description: 发薪活动 ID 列表
                include_segment_data:
                  type: boolean
                  description: 是否需要查询算薪明细的分段信息，如果不传该参数或传 false ，那么只返回发薪活动明细数据；如果该参数传了 true，那么同时返回发薪明细对应的算薪明细分段数据。
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      payment_details:
                        type: array
                        items:
                          type: object
                          properties:
                            employee_id:
                              type: string
                              description: 员工的唯一标识
                              example: '7202076988667019308'
                            activity_id:
                              type: string
                              description: 发薪明细所在的发薪活动 ID
                              example: '7202076988667019308'
                              format: int64
                            payment_accounting_items:
                              type: array
                              items:
                                $ref: '#/components/schemas/Item'
                              description: 发薪明细详情
                        description: 发薪明细列表
                      total:
                        type: integer
                        description: 发薪明细总数
                        example: '50000'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - payroll:payment_details:read
      x-lark-error-mappings:
      - code: 2500001
        httpCode: 500
        msg: unknown error
      - code: 2500002
        httpCode: 400
        msg: param is invalid
      - code: 2500003
        httpCode: 400
        msg: Too many payment activities. Please reduce the number of "payment activity ID list".
      - code: 2500004
        httpCode: 400
        msg: Pay date range can't exceed 12 months. Please shorten the pay date range.
      - code: 2500005
        httpCode: 400
        msg: Employee ID list is too long. Please reduce it to within 100 characters.
      - code: 2500006
        httpCode: 400
        msg: Pay start and end dates and payment activity ID can't both be empty.
      - code: 2500007
        httpCode: 500
        msg: rpc fail
      - code: 2500007
        httpCode: 500
        msg: rpc fail
      - code: 2500008
        httpCode: 400
        msg: Too many payment activities. Please shorten the pay date range.
      x-lark-rate-limit:
        tier: 5
components:
  schemas:
    Item:
      type: object
      properties:
        id:
          type: string
          description: 算薪项唯一标识
          example: '7202076988667019308'
        accounting_item_names:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: 语种
                default: zh_cn
                example: zh_cn
              value:
                type: string
                description: 语种对应的值
                example: 名称
          description: 算薪项名称
        accounting_item_value:
          type: object
          properties:
            original_value:
              type: string
              description: 算薪项数据原始值，当发薪明细的数据来源为「人工导入」时，如果当前算薪项类型为引用类型，那么算薪项原始值可能为空。
              example: '100'
            reference_values:
              type: array
              items:
                type: object
                properties:
                  locale:
                    type: string
                    description: 语种
                    default: zh_cn
                    example: zh_cn
                  value:
                    type: string
                    description: 语种对应的值
                    example: 名称
              description: 引用类型算薪项展示值
          description: 算薪项值
        segment_values:
          type: array
          items:
            $ref: '#/components/schemas/Item4'
          description: 算薪项分段数据
        accounting_item_type:
          type: integer
          description: 算薪项类型，1-文本；2-金额；3-数值；4-百分比；5-日期；6-引用
          example: '1'
    Item2:
      type: object
      properties:
        dimension_level:
          type: integer
          description: 层级
          example: '1'
        dimension_type:
          type: integer
          description: 类型
          example: '1'
        dimension_value_id:
          type: string
          description: 维度ID，需要再次转换
          example: '6823630319749580306'
        enum_dimension:
          type: object
          properties:
            enum_value_id:
              type: string
              description: 枚举对象ID
              example: '7188920315914207276'
            enum_key:
              type: string
              description: 枚举对象
              example: company
          description: 算薪项汇总维度时，当算薪项是特定枚举值，会使用该字段返回枚举值ID以及枚举值Key
        dimension_value_lookup_info:
          type: object
          properties:
            type:
              type: string
              description: 引用对象类型
              example: work_calendar
            id:
              type: string
              description: 引用对象的id，可根据相关API查询到对象的完整信息
              example: '6961286846093788621'
            code:
              type: string
              description: 引用对象的code，目前下面的对象会有code
              example: D1230011115
          description: 维度引用对象的基础信息，当维度为引用类型字段才会有值，目前支持的引用对象类型见type
        dimension_names:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: 语种
                default: zh_cn
                example: zh_cn
              value:
                type: string
                description: 语种对应的值
                example: 名称
          description: 维度名称，自定义维度使用
        dimension_titles:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: 语种
                default: zh_cn
                example: zh_cn
              value:
                type: string
                description: 语种对应的值
                example: 名称
              id:
                type: string
                description: 名称对应的实体id
                example: '723123123123123213'
          description: 数据维度表头，自定义维度使用
    Item3:
      type: object
      properties:
        active_status:
          type: integer
          description: 记录的启停用状态
          enum:
          - 1
          - 2
          x-enum-descriptions:
            '1': 已启用
            '2': 已停用
          example: '1'
        field_values:
          type: array
          items:
            type: object
            properties:
              field_code:
                type: string
                description: 数据源字段编码
                example: test__c
              value:
                type: string
                description: '字段值 通过string传输，确保字段的值符合协议。  - money：金额  eg: "12.23"  超过设定精度会被四舍五入，目前只支持人民币¥元 - number：数值 eg:
                  "12.87" 超过设定精度会被四舍五入 - text：文本 eg: "我是一段文本"。文本字符个数不允许超过500，一条记录的文本总的字符个数不允许超过3000. - date：日期 yyyy-MM-dd  eg:
                  "2024-05-09" - percentage：百分比 "10" 代表10%，最多保留两位小数，超过后四舍五入'
                example: '123'
              field_type:
                type: integer
                description: 字段类型
                example: '1'
            required:
            - field_code
            - value
          description: 记录的字段值列表
      required:
      - active_status
      - field_values
    Item4:
      type: object
      properties:
        start_time:
          type: string
          description: 分段开始时间-毫秒级时间戳，[start_time, end_time] 是一个左闭右闭区间。
          example: '7220356259681386540'
          format: int64
        end_time:
          type: string
          description: 分段结束时间-毫秒级时间戳，[start_time, end_time] 是一个左闭右闭区间。
          example: '7220356259681386540'
          format: int64
        reference_values:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: 语种
                default: zh_cn
                example: zh_cn
              value:
                type: string
                description: 语种对应的值
                example: 名称
          description: 引用类型算薪项分段展示值
        original_value:
          type: string
          description: 算薪项分段原始值
          example: '10000'
