# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · performance API（全量）
  description: |-
    飞书开放平台 `performance` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:22:04Z'
  x-lark-project: performance
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:22:04Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: review_data
- name: semester
- name: stage_task
- name: activity
- name: additional_information
- name: additional_informations.batch
- name: indicator
- name: metric_detail
- name: metric_field
- name: metric_lib
- name: metric_tag
- name: metric_template
- name: question
- name: review_template
- name: reviewee
- name: user_group_user_rel
- name: user_info
paths:
  /open-apis/performance/v1/review_datas/query:
    post:
      operationId: performance_review_data_query
      summary: 获取绩效结果
      tags:
      - review_data
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v1/review_data/query
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_time:
                  type: string
                  description: 查询范围的开始日期，毫秒级时间戳，开始日期不能晚于截止日期
                  example: '1430425599999'
                  format: int64
                end_time:
                  type: string
                  description: 查询范围的截止日期，毫秒级时间戳，截止日期不能早于开始日期
                  example: '1630425599999'
                  format: int64
                stage_types:
                  type: array
                  items:
                    type: string
                    enum:
                    - leader_review
                    - communication_and_open_result
                    - view_result
                    x-enum-descriptions:
                      leader_review: 上级评估环节
                      communication_and_open_result: 最终反馈环节
                      view_result: 查看绩效结果环节
                  description: |-
                    评估环节类型，目前仅支持上级评估环节和结果沟通环节（不传默认包含所有的环节）

                    **可选值有**：
                    - `leader_review`：上级评估环节
                    - `communication_and_open_result`：结果沟通环节
                stage_progress:
                  type: array
                  items:
                    type: integer
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                    x-enum-descriptions:
                      '0': 未开始
                      '1': 待完成
                      '2': 已完成
                      '3': 已截止
                      '4': 已复议
                  description: |-
                    评估环节状态（不传默认包含所有的状态）

                    **可选值有**：
                    - `0`：未开始，任务的开始时间未到达
                    - `1`：待完成，任务的开始时间到达而截止时间未到达，且任务未完成
                    - `2`：已截止，任务的截止时间已到达，且任务未完成
                    - `3`：已完成，任务已完成
                semester_id_list:
                  type: array
                  items:
                    type: string
                  description: 评估周期 ID 列表，semester_id 是一个评估周期的唯一标识，可以通过「我的评估」页面 url 获取，也可通过本接口的返回值获取
                reviewee_user_id_list:
                  type: array
                  items:
                    type: string
                  description: 被评估人 ID 列表
                updated_later_than:
                  type: string
                  description: 环节更新时间晚于，可筛选出在此时间之后，有内容提交的环节数据
                  example: '1630425599999'
                  format: int64
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      semesters:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 绩效评估周期 ID
                              example: '6992035450862224940'
                            year:
                              type: integer
                              description: 年份
                              example: '2024'
                            type_group:
                              type: string
                              description: 周期类型分组
                              example: Month
                            type:
                              type: string
                              description: 周期类型
                              example: June
                            name:
                              type: object
                              properties:
                                zh-CN:
                                  type: string
                                  description: 中文
                                  example: 体验
                                en-US:
                                  type: string
                                  description: 英文
                                  example: Interactive experience
                              description: 绩效评估周期 名称
                            progress:
                              type: string
                              description: 绩效评估周期 状态
                              enum:
                              - initiating
                              - enabled
                              x-enum-descriptions:
                                initiating: 初始化
                                enabled: 已启动
                              example: enabled
                            start_time:
                              type: string
                              description: 绩效评估周期 开始时间
                              example: '1625068800000'
                              format: int64
                            end_time:
                              type: string
                              description: 绩效评估周期 结束时间
                              example: '1640966399999'
                              format: int64
                            create_time:
                              type: string
                              description: 绩效评估周期 创建时间
                              example: '1625068800000'
                              format: int64
                            modify_time:
                              type: string
                              description: 绩效评估周期 更新时间
                              example: '1625068800000'
                              format: int64
                            create_user_id:
                              type: string
                              description: 绩效评估周期 创建人 ID
                              example: ou_ce613028fe74745421f5dc320bb9c709
                            modify_user_id:
                              type: string
                              description: 绩效评估周期 更新人 ID
                              example: ou_ce613028fe74745421f5dc320bb9c709
                        description: 绩效评估周期列表
                      activities:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 绩效评估项目 ID
                              example: '6992035450862323244'
                            name:
                              type: object
                              properties:
                                zh-CN:
                                  type: string
                                  description: 中文
                                  example: 体验
                                en-US:
                                  type: string
                                  description: 英文
                                  example: Interactive experience
                              description: 绩效评估项目 名称
                            semester_id:
                              type: string
                              description: 绩效评估周期 ID
                              example: '6992035450862224940'
                        description: 绩效评估项目列表
                      indicators:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 评估项 ID
                              example: '6982759010081818159'
                            name:
                              type: object
                              properties:
                                zh-CN:
                                  type: string
                                  description: 中文
                                  example: 体验
                                en-US:
                                  type: string
                                  description: 英文
                                  example: Interactive experience
                              description: 评估项 名称
                            options:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: 等级 ID
                                    example: '6966127279593588268'
                                  name:
                                    type: object
                                    properties:
                                      zh-CN:
                                        type: string
                                        description: 中文
                                        example: 体验
                                      en-US:
                                        type: string
                                        description: 英文
                                        example: Interactive experience
                                    description: 等级名称
                                  label:
                                    type: string
                                    description: 等级代号
                                    example: B
                              description: 评估项 等级列表
                        description: 评估项列表
                      templates:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 评估模板 ID
                              example: '6982759007063000610'
                            name:
                              type: object
                              properties:
                                zh-CN:
                                  type: string
                                  description: 中文
                                  example: 体验
                                en-US:
                                  type: string
                                  description: 英文
                                  example: Interactive experience
                              description: 评估模板名称
                            stage:
                              type: string
                              description: 评估模板环节
                              example: communication_and_open_result
                        description: 评估模板列表
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 评估内容 ID
                              example: '6982759008043877922'
                            name:
                              type: object
                              properties:
                                zh-CN:
                                  type: string
                                  description: 中文
                                  example: 体验
                                en-US:
                                  type: string
                                  description: 英文
                                  example: Interactive experience
                              description: 评估内容 名称
                        description: 评估内容列表
                      fields:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 填写项 ID
                              example: '6982759010081818159'
                            name:
                              type: object
                              properties:
                                zh-CN:
                                  type: string
                                  description: 中文
                                  example: 体验
                                en-US:
                                  type: string
                                  description: 英文
                                  example: Interactive experience
                              description: 填写项 名称
                            indicator_id:
                              type: string
                              description: 评估项 ID
                              example: '6982759010081818159'
                            parent_field_id:
                              type: string
                              description: 父级填写项 ID
                              example: '6982759010081818159'
                        description: 填写项列表
                      datas:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: object
                              properties:
                                open_id:
                                  type: string
                                  description: 用户的 open_id
                                  example: od-asd2dasdasd
                                user_id:
                                  type: string
                                  description: 用户的 user_id，取值与user_id_type一致
                                  example: ou-ux987dsf6x
                              description: 被评估人 ID
                            semester_id:
                              type: string
                              description: 绩效评估周期 ID
                              example: '6992035450862224940'
                            activity_id:
                              type: string
                              description: 绩效评估项目 ID
                              example: '6992035450862323244'
                            stages:
                              type: array
                              items:
                                type: object
                                properties:
                                  stage_type:
                                    type: string
                                    description: 环节类型
                                    example: leader_review
                                  progress:
                                    type: integer
                                    description: 环节状态
                                    enum:
                                    - 0
                                    - 1
                                    - 2
                                    - 3
                                    - 4
                                    x-enum-descriptions:
                                      '0': 未开始，任务的开始时间未到达或查看绩效结果环节被评估人绩效结果已经开通，且不需要确认，并且未发起复议
                                      '1': 待完成，任务的开始时间到达而截止时间未到达，且任务未完成或查看绩效结果环节结果已开通，被评估人使用的模板开启了结果确认的功能配置，但目前员工还没有点击确认，确认时间未截止
                                      '2': 已截止，任务的截止时间已到达，且任务未完成或查看绩效结果环节结果已开通，被评估人使用的模板开启了结果确认的功能配置，但目前员工还没有点击确认，确认时间已截止
                                      '3': 已完成，任务已完成或查看绩效结果环节结果已开通，被评估人使用的模板开启了结果确认的功能配置，且员工已经点击确认
                                      '4': 查看绩效结果环节结果已开通，且被评估人已发起复议
                                    example: '1'
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        template_id:
                                          type: string
                                          description: 评估模板 ID
                                          example: '6982759008972326447'
                                        unit_id:
                                          type: string
                                          description: 评估内容 ID
                                          example: '6982759008973882926'
                                        field_id:
                                          type: string
                                          description: 评估控件 ID
                                          example: '6982759009698137641'
                                        reviewer_user_id:
                                          type: object
                                          properties:
                                            open_id:
                                              type: string
                                              description: 用户的 open_id
                                              example: od-asd2dasdasd
                                            user_id:
                                              type: string
                                              description: 用户的 user_id，取值与user_id_type一致
                                              example: ou-ux987dsf6x
                                          description: 评估人 ID
                                        submit_time:
                                          type: string
                                          description: 最后提交时间
                                          example: '1627977114000'
                                          format: int64
                                        indicator_id:
                                          type: string
                                          description: 评估项 ID
                                          example: '6982759009698137641'
                                        option_id:
                                          type: string
                                          description: 评估项结果等级 ID
                                          example: '6966127279593686572'
                                        score:
                                          type: string
                                          description: 评分型评估项填写内容
                                          example: '0.4'
                                        text:
                                          type: string
                                          description: 填写项填写内容
                                          example: 与公司共同发展
                                        perf_coefficient_result:
                                          type: string
                                          description: 绩效系数值
                                          example: '3.0'
                                        richtext:
                                          type: string
                                          description: 富文本格式的填写内容，解析方式见 [editor](https://open.larkoffice.com/document/client-docs/gadget/component-component/basic-component/form/editor#51af2f4f)
                                          example: '{"ops":[{"name":"insert","text":"与公司共同发展","attributes":{"bold":true}}]}'
                                    description: 环节填写内容
                              description: 本周期内各环节内容
                        description: 评估数据列表
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - performance:performance
      - performance:performance:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1580101
        httpCode: 500
        msg: internal error
      - code: 1580102
        httpCode: 400
        msg: param is invalid
      - code: 1580901
        httpCode: 400
        msg: tenant no licnese
      x-lark-rate-limit:
        tier: 2
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.reviewee_user_id_list[*]
        section: 0
  /open-apis/performance/v1/semesters:
    get:
      operationId: performance_semester_list
      summary: 获取周期列表
      tags:
      - semester
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v1/semester/list
      parameters:
      - name: start_time
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 周期开始时间
        example: '1630425599999'
      - name: end_time
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 周期结束时间
        example: '1630425599999'
      - name: year
        in: query
        required: false
        schema:
          type: integer
        description: 年份
        example: '2024'
      - name: type_group
        in: query
        required: false
        schema:
          type: string
          enum:
          - Annual
          - Semi-annual
          - Quarter
          - Bimonth
          - Month
          - Non-standard
          x-enum-descriptions:
            Annual: 年
            Semi-annual: 半年
            Quarter: 季度
            Bimonth: 双月
            Month: 月
            Non-standard: 非标准周期
        description: 周期类型分组
        example: Month
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - Annual
          - H1
          - H2
          - Q1
          - Q2
          - Q3
          - Q4
          - January-February
          - March-April
          - May-June
          - July-August
          - September-October
          - November-December
          - January
          - February
          - March
          - April
          - May
          - June
          - July
          - August
          - September
          - October
          - November
          - December
          - Custom
          x-enum-descriptions:
            Annual: 全年
            H1: 上半年
            H2: 下半年
            Q1: 第一季度
            Q2: 第二季度
            Q3: 第三季度
            Q4: 第四季度
            January-February: 1-2 双月
            March-April: 3-4 双月
            May-June: 5-6 双月
            July-August: 7-8 双月
            September-October: 9-10 双月
            November-December: 11-12 双月
            January: 1月份
            February: 2月份
            March: 3月份
            April: 4月份
            May: 5月份
            June: 6月份
            July: 7月份
            August: 8月份
            September: 9月份
            October: 10月份
            November: 11月份
            December: 12月份
            Custom: 自定义
        description: 周期类型
        example: June
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 绩效评估周期 ID
                              example: '6992035450862224940'
                            year:
                              type: integer
                              description: 年份
                              example: '2024'
                            type_group:
                              type: string
                              description: 周期类型分组
                              example: Month
                            type:
                              type: string
                              description: 周期类型
                              example: June
                            name:
                              type: object
                              properties:
                                zh-CN:
                                  type: string
                                  description: 中文
                                  example: 体验
                                en-US:
                                  type: string
                                  description: 英文
                                  example: Interactive experience
                              description: 绩效评估周期 名称
                            progress:
                              type: string
                              description: 绩效评估周期 状态
                              enum:
                              - initiating
                              - enabled
                              x-enum-descriptions:
                                initiating: 初始化
                                enabled: 已启动
                              example: enabled
                            start_time:
                              type: string
                              description: 绩效评估周期 开始时间
                              example: '1625068800000'
                              format: int64
                            end_time:
                              type: string
                              description: 绩效评估周期 结束时间
                              example: '1640966399999'
                              format: int64
                            create_time:
                              type: string
                              description: 绩效评估周期 创建时间
                              example: '1625068800000'
                              format: int64
                            modify_time:
                              type: string
                              description: 绩效评估周期 更新时间
                              example: '1625068800000'
                              format: int64
                            create_user_id:
                              type: string
                              description: 绩效评估周期 创建人 ID
                              example: ou_ce613028fe74745421f5dc320bb9c709
                            modify_user_id:
                              type: string
                              description: 绩效评估周期 更新人 ID
                              example: ou_ce613028fe74745421f5dc320bb9c709
                        description: 周期meta信息列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - performance:performance
      - performance:performance:readonly
      - performance:semester:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1580901
        httpCode: 400
        msg: tenant no licnese
      x-lark-rate-limit:
        tier: 1
  /open-apis/performance/v1/stage_tasks/find_by_page:
    post:
      operationId: performance_stage_task_find_by_page
      summary: 获取周期任务（全部用户）
      tags:
      - stage_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v1/stage_task/find_by_page
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 调用结果中用户ID的类型
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                semester_id:
                  type: string
                  description: 周期ID，可以通过「查询周期」接口获得
                  example: '7033710017401751071'
                task_option_lists:
                  type: array
                  items:
                    type: integer
                  description: 任务分类(不传默认包含所有)
                after_time:
                  type: string
                  description: 查询晚于当前时间截止的环节
                  example: '1630425599999'
                  format: int64
                before_time:
                  type: string
                  description: 查询早于当前时间截止的环节
                  example: '1630425599999'
                  format: int64
                page_token:
                  type: string
                  description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
                  example: AQD9/Rn9eij9Pm39ED40/dk53s4Ebp882DYfFaPFbz00L4CMZJrqGdzNyc8BcZtDbwVUvRmQTvyMYicnGWrde9X56TgdBuS+JKiSIkdexPw=
                page_size:
                  type: integer
                  description: 分页大小
                  default: 20
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      base:
                        type: object
                        properties:
                          semester_id:
                            type: string
                            description: 周期ID
                            example: '7263150499637264385'
                          semester_name:
                            type: object
                            properties:
                              zh-CN:
                                type: string
                                description: 中文
                                example: 体验
                              en-US:
                                type: string
                                description: 英文
                                example: Interactive experience
                            description: 周期名称
                          start_time:
                            type: string
                            description: 开始时间
                            example: '1625068800000'
                            format: int64
                          end_time:
                            type: string
                            description: 结束时间
                            example: '1625068800000'
                            format: int64
                        description: 周期基础信息
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: string
                              description: 用户ID
                              example: '6765375796711327240'
                            stage_num_lists:
                              type: array
                              items:
                                type: object
                                properties:
                                  task_option_id:
                                    type: integer
                                    description: 支持的ID
                                    enum:
                                    - 1
                                    - 2
                                    - 3
                                    x-enum-descriptions:
                                      '1': 待完成
                                      '2': 已完成
                                      '3': 已逾期（此分类仅在租户系统设置为不允许逾期提交时存在）
                                    example: '1'
                                  stage_num:
                                    type: integer
                                    description: 对Stage分类聚合
                                    example: '4'
                              description: 状态数量列表
                            stage_task_info_lists:
                              type: array
                              items:
                                type: object
                                properties:
                                  stage_id:
                                    type: string
                                    description: 环节ID
                                    example: '7263150499637379073'
                                  name:
                                    type: object
                                    properties:
                                      zh-CN:
                                        type: string
                                        description: 中文
                                        example: 体验
                                      en-US:
                                        type: string
                                        description: 英文
                                        example: Interactive experience
                                    description: 环节名称
                                  deadline:
                                    type: string
                                    description: 环节截止时间
                                    example: '1625068800000'
                                    format: int64
                                  need_todo_count:
                                    type: integer
                                    description: 环节任务数量
                                    example: '99'
                                  jump_url:
                                    type: string
                                    description: 环节跳转链接
                                    example: /perf/review
                                  stage_task_status:
                                    type: string
                                    description: 环节任务状态
                                    enum:
                                    - need_todo
                                    - overdue
                                    - all_done
                                    - stage_pause
                                    x-enum-descriptions:
                                      need_todo: 有未完成且未逾期的任务
                                      overdue: 未完成的任务全部已逾期
                                      all_done: 全部任务均已完成
                                      stage_pause: 环节暂停
                                    example: all_done
                                  task_option_id:
                                    type: integer
                                    description: 归属分类ID
                                    enum:
                                    - 1
                                    - 2
                                    - 3
                                    x-enum-descriptions:
                                      '1': 待完成
                                      '2': 已完成
                                      '3': 已逾期（此分类仅在租户系统设置为不允许逾期提交时存在）
                                    example: '1'
                                  finished_count:
                                    type: integer
                                    description: 环节已完成任务数量
                                    example: '99'
                              description: 任务信息列表
                        description: 周期环节信息列表
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                      page_token:
                        type: string
                        description: 下一页分页的token
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - performance:performance
      - performance:performance:readonly
      - performance:semester:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1580101
        httpCode: 500
        msg: internal error
      - code: 1580102
        httpCode: 400
        msg: param is invalid
      - code: 1580901
        httpCode: 400
        msg: tenant no licnese
      - code: 1580201
        httpCode: 400
        msg: token overdue
      - code: 1580902
        httpCode: 400
        msg: no support semester version
      x-lark-rate-limit:
        tier: 2
  /open-apis/performance/v1/stage_tasks/find_by_user_list:
    post:
      operationId: performance_stage_task_find_by_user_list
      summary: 获取周期任务（指定用户）
      tags:
      - stage_task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v1/stage_task/find_by_user_list
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                semester_id:
                  type: string
                  description: 周期ID，可以通过「查询周期」接口获得
                  example: '7033710017401751071'
                user_id_lists:
                  type: array
                  items:
                    type: string
                  description: 用户ID列表
                task_option_lists:
                  type: array
                  items:
                    type: integer
                  description: 任务分类(不传默认包含所有)
                after_time:
                  type: string
                  description: 查询晚于当前时间截止的环节
                  example: '1630425599999'
                  format: int64
                before_time:
                  type: string
                  description: 查询早于当前时间截止的环节
                  example: '1630425599999'
                  format: int64
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      base:
                        type: object
                        properties:
                          semester_id:
                            type: string
                            description: 周期ID
                            example: '7263150499637264385'
                          semester_name:
                            type: object
                            properties:
                              zh-CN:
                                type: string
                                description: 中文
                                example: 体验
                              en-US:
                                type: string
                                description: 英文
                                example: Interactive experience
                            description: 周期名称
                          start_time:
                            type: string
                            description: 开始时间
                            example: '1625068800000'
                            format: int64
                          end_time:
                            type: string
                            description: 结束时间
                            example: '1625068800000'
                            format: int64
                        description: 周期基础信息
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: string
                              description: 用户ID
                              example: '6765375796711327240'
                            stage_num_lists:
                              type: array
                              items:
                                type: object
                                properties:
                                  task_option_id:
                                    type: integer
                                    description: 支持的ID
                                    enum:
                                    - 1
                                    - 2
                                    - 3
                                    x-enum-descriptions:
                                      '1': 待完成
                                      '2': 已完成
                                      '3': 已逾期（此分类仅在租户系统设置为不允许逾期提交时存在）
                                    example: '1'
                                  stage_num:
                                    type: integer
                                    description: 对Stage分类聚合
                                    example: '4'
                              description: 状态数量列表
                            stage_task_info_lists:
                              type: array
                              items:
                                type: object
                                properties:
                                  stage_id:
                                    type: string
                                    description: 环节ID
                                    example: '7263150499637379073'
                                  name:
                                    type: object
                                    properties:
                                      zh-CN:
                                        type: string
                                        description: 中文
                                        example: 体验
                                      en-US:
                                        type: string
                                        description: 英文
                                        example: Interactive experience
                                    description: 环节名称
                                  deadline:
                                    type: string
                                    description: 环节截止时间
                                    example: '1625068800000'
                                    format: int64
                                  need_todo_count:
                                    type: integer
                                    description: 环节任务数量
                                    example: '99'
                                  jump_url:
                                    type: string
                                    description: 环节跳转链接
                                    example: /perf/review
                                  stage_task_status:
                                    type: string
                                    description: 环节任务状态
                                    enum:
                                    - need_todo
                                    - overdue
                                    - all_done
                                    - stage_pause
                                    x-enum-descriptions:
                                      need_todo: 有未完成且未逾期的任务
                                      overdue: 未完成的任务全部已逾期
                                      all_done: 全部任务均已完成
                                      stage_pause: 环节暂停
                                    example: all_done
                                  task_option_id:
                                    type: integer
                                    description: 归属分类ID
                                    enum:
                                    - 1
                                    - 2
                                    - 3
                                    x-enum-descriptions:
                                      '1': 待完成
                                      '2': 已完成
                                      '3': 已逾期（此分类仅在租户系统设置为不允许逾期提交时存在）
                                    example: '1'
                                  finished_count:
                                    type: integer
                                    description: 环节已完成任务数量
                                    example: '99'
                              description: 任务信息列表
                        description: 周期环节信息列表
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - performance:performance
      - performance:performance:readonly
      - performance:semester:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1580101
        httpCode: 500
        msg: internal error
      - code: 1580102
        httpCode: 400
        msg: param is invalid
      - code: 1580901
        httpCode: 400
        msg: tenant no licnese
      - code: 1580201
        httpCode: 400
        msg: token overdue
      x-lark-rate-limit:
        tier: 2
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_id_lists[*]
        section: 0
  /open-apis/performance/v2/activity/query:
    post:
      operationId: performance_activity_query
      summary: 获取项目列表
      tags:
      - activity
      description: 获取项目的信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v2/activity/query
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        example: open_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                semester_ids:
                  type: array
                  items:
                    type: string
                  description: 评估周期 ID 列表，获取指定评估周期的项目 ID，semester_id 可通过【获取周期】接口获得
                activity_ids:
                  type: array
                  items:
                    type: string
                  description: 项目 ID 列表，如果同时传了「semester_ids」，则优先以「activity_ids」进行查询
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      activities:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 项目 ID
                              example: '7343513161666707459'
                            name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 中文
                                  example: 体验
                                en_us:
                                  type: string
                                  description: 英文
                                  example: Interactive experience
                              description: 项目名称
                            description:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 中文
                                  example: 体验
                                en_us:
                                  type: string
                                  description: 英文
                                  example: Interactive experience
                              description: 项目描述
                            semester_id:
                              type: string
                              description: 周期 ID
                              example: '7343513161666707459'
                            mode:
                              type: string
                              description: 项目模式
                              enum:
                              - metric_development
                              - performance_review
                              - metric_development_and_performance_review
                              x-enum-descriptions:
                                metric_development: 指标制定
                                performance_review: 绩效评估
                                metric_development_and_performance_review: 指标制定及绩效评估
                              example: performance_review
                            progress:
                              type: string
                              description: 项目状态
                              enum:
                              - configurable
                              - unable
                              - initiating
                              - enabled
                              - finished
                              x-enum-descriptions:
                                configurable: 待完成配置
                                unable: 未启动
                                initiating: 启动中
                                enabled: 已启动
                                finished: 已结束
                              example: configurable
                            create_time:
                              type: string
                              description: 项目创建时间，毫秒时间戳
                              example: '1691951256000'
                            modify_time:
                              type: string
                              description: 项目更新时间，毫秒时间戳
                              example: '1691951256000'
                            create_user_id:
                              type: string
                              description: 项目创建人 ID
                              example: '6924187793321444877'
                            modify_user_id:
                              type: string
                              description: 项目更新人 ID
                              example: '6924187793321444877'
                          required:
                          - id
                        description: 绩效评估项目列表。
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - performance:performance
      - performance:performance:readonly
      - performance:semester_activity:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1580102
        httpCode: 400
        msg: param is invalid
      - code: 1580101
        httpCode: 500
        msg: internal error
      - code: 1580901
        httpCode: 400
        msg: tenant no licnese
      x-lark-rate-limit:
        tier: 1
  /open-apis/performance/v2/additional_informations/import:
    post:
      operationId: performance_additional_information_import
      summary: 批量导入补充信息
      tags:
      - additional_information
      description: 可批量导入被评估人的补充信息作为评估参考（包括新增和更新场景）
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v2/additional_information/import
      parameters:
      - name: client_token
        in: query
        required: true
        schema:
          type: string
        description: 根据 client_token 是否一致来判断是否为同一请求
        example: '12454646'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                semester_id:
                  type: string
                  description: 评估周期 ID 列表，semester_id 可通过【获取周期】接口获得
                  example: '7348736302176534547'
                additional_informations:
                  type: array
                  items:
                    type: object
                    properties:
                      item_id:
                        type: string
                        description: 飞书绩效的事项 ID，只支持传入已存在的 item_id 用于更新事项。如需新增事项，无需传该值。
                        example: '7350194523185610771'
                        format: int64
                      external_id:
                        type: string
                        description: 外部系统的事项 ID，用于两个系统之间的数据映射。支持新建事项和更新关联的已有事项。如果同时传了 item_id，则优先按照 item_id 更新对应事项内容及其 external_id。
                        example: '6789523104723558912'
                      reviewee_user_id:
                        type: string
                        description: 被评估人 ID
                        example: ou_3245842393d09e9428ad4655da6e30b3
                      item:
                        type: string
                        description: 事项
                        example: 文本
                      time:
                        type: string
                        description: 事项时间，格式为文本内容
                        example: '2024-03-12'
                      detailed_description:
                        type: string
                        description: 事项详细描述
                        example: 多行文本
                    required:
                    - reviewee_user_id
                    - item
                    - time
                    - detailed_description
                  description: 补充信息列表，一次最多 1000 个
                import_record_name:
                  type: string
                  description: 导入记录名称，管理员可在补充信息管理的导入记录中查看。不传则默认为 API 导入。
                  example: API导入
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      import_record_id:
                        type: string
                        description: 导入记录 ID
                        example: '7350194523185610771'
                      additional_informations:
                        type: array
                        items:
                          type: object
                          properties:
                            item_id:
                              type: string
                              description: 飞书绩效的事项 ID
                              example: '7350195758357807123'
                              format: int64
                            external_id:
                              type: string
                              description: 外部系统的事项 ID，没有则返回为空
                              example: '6789523104723558912'
                            reviewee_user_id:
                              type: string
                              description: 被评估人 ID
                              example: ou_3245842393d09e9428ad4655da6e30b3
                            item:
                              type: string
                              description: 事项
                              example: 文本
                            time:
                              type: string
                              description: 事项时间，格式为文本内容
                              example: '2024-03-12'
                            detailed_description:
                              type: string
                              description: 事项详细描述
                              example: 多行文本
                          required:
                          - reviewee_user_id
                          - item
                          - time
                          - detailed_description
                        description: 成功导入后的补充信息列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - performance:performance
      - performance:semester_activity:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1580101
        httpCode: 500
        msg: internal error
      - code: 1580105
        httpCode: 400
        msg: semester_id is invalid
      - code: 1580111
        httpCode: 400
        msg: invalid user ID
      - code: 1580110
        httpCode: 400
        msg: request ID repeat
      - code: 1580112
        httpCode: 400
        msg: permission denied
      - code: 1580202
        httpCode: 400
        msg: external ID repeat
      - code: 1580203
        httpCode: 400
        msg: item ID repeat
      - code: 1580201
        httpCode: 400
        msg: item ID not found
      - code: 1580204
        httpCode: 400
        msg: external ID is not unique
      - code: 1580901
        httpCode: 400
        msg: tenant no licnese
      x-lark-rate-limit:
        tier: 1
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.additional_informations[*].reviewee_user_id
        section: 0
  /open-apis/performance/v2/additional_informations/query:
    post:
      operationId: performance_additional_information_query
      summary: 批量查询补充信息
      tags:
      - additional_information
      description: 可批量查询被评估人的补充信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v2/additional_information/query
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        example: open_id
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小 示例值：30 默认值：20 数据校验规则：最大值：50
        example: '30'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                semester_id:
                  type: string
                  description: 评估周期 ID 列表，semester_id 可通过【获取周期】接口获得
                  example: '7348736302176534547'
                item_ids:
                  type: array
                  items:
                    type: string
                  description: 事项 ID 列表，获取指定事项 ID 的信息。以下请求参数中「item_ids」、「external_ids」、「reviewee_user_ids」均为空时，返回该评估周期的所有补充信息。若单次请求中多个请求参数有值，按照【item_ids
                    > external_ids > reviewee_user_ids】的顺序只识别第一个有值的请求参数
                external_ids:
                  type: array
                  items:
                    type: string
                  description: 外部系统的事项 ID 列表，获取对应的飞书绩效事项 ID。「item_ids」参数有值时该参数不生效
                reviewee_user_ids:
                  type: array
                  items:
                    type: string
                  description: 被评估人 ID 列表，获取周期下被评估人的事项信息。「item_ids」、「external_ids」参数有值时该参数不生效
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      additional_informations:
                        type: array
                        items:
                          type: object
                          properties:
                            item_id:
                              type: string
                              description: 飞书绩效的事项 ID
                              example: '7350195758357807123'
                              format: int64
                            external_id:
                              type: string
                              description: 外部系统的事项 ID，没有则返回为空
                              example: '6789523104723558912'
                            reviewee_user_id:
                              type: string
                              description: 被评估人 ID
                              example: ou_3245842393d09e9428ad4655da6e30b3
                            item:
                              type: string
                              description: 事项
                              example: 文本
                            time:
                              type: string
                              description: 事项时间，格式为文本内容
                              example: '2024-03-12'
                            detailed_description:
                              type: string
                              description: 事项详细描述
                              example: 多行文本
                          required:
                          - reviewee_user_id
                          - item
                          - time
                          - detailed_description
                        description: 补充信息列表
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - performance:performance:readonly
      - performance:performance
      - performance:semester_activity:read
      - performance:semester_activity:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1580102
        httpCode: 400
        msg: param is invalid
      - code: 1580105
        httpCode: 400
        msg: semester_id is invalid
      - code: 1580101
        httpCode: 500
        msg: internal error
      - code: 1580901
        httpCode: 400
        msg: tenant no licnese
      x-lark-rate-limit:
        tier: 1
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.reviewee_user_ids[*]
        section: 0
  /open-apis/performance/v2/additional_informations/batch:
    delete:
      operationId: performance_additional_informations_batch_delete
      summary: 批量删除补充信息
      tags:
      - additional_informations.batch
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v2/additional_informations-batch/delete
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                semester_id:
                  type: string
                  description: 评估周期 ID 列表，semester_id 可通过【获取周期】接口获得
                  example: '7348736302176534547'
                additional_informations:
                  type: array
                  items:
                    type: string
                  description: 补充信息列表，一次最多 100 个
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      additional_informations:
                        type: array
                        items:
                          type: string
                        description: 被删除的补充信息列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - performance:performance
      - performance:semester_activity:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1580102
        httpCode: 400
        msg: param is invalid
      - code: 1580103
        httpCode: 400
        msg: semester_id is invalid
      - code: 1580112
        httpCode: 400
        msg: permission denied
      - code: 1580201
        httpCode: 400
        msg: item is invalid
      - code: 1580101
        httpCode: 500
        msg: internal error
      - code: 1580901
        httpCode: 400
        msg: tenant no licnese
      x-lark-rate-limit:
        tier: 1
  /open-apis/performance/v2/indicators/query:
    post:
      operationId: performance_indicator_query
      summary: 获取评估项列表
      tags:
      - indicator
      description: 获取评估题配置
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v2/indicator/query
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
        example: '30'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                indicator_ids:
                  type: array
                  items:
                    type: string
                  description: 评估项 ID 列表，获取指定评估项的配置数据
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      indicators:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 评估项 ID
                              example: '7343513161666707459'
                            name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 中文
                                  example: 体验
                                en_us:
                                  type: string
                                  description: 英文
                                  example: Interactive experience
                              description: 评估项名称
                            type:
                              type: string
                              description: 评估项类型
                              enum:
                              - general_review_item
                              - review_item_based_on_key_metric
                              - okr_review_item
                              - plus
                              - minus
                              x-enum-descriptions:
                                general_review_item: 常规评估项
                                review_item_based_on_key_metric: 关键指标评估项
                                okr_review_item: OKR 评估项
                                plus: 加分项
                                minus: 减分项
                              example: plus
                            options:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: 等级 ID
                                    example: '7343513161666707459'
                                  name:
                                    type: object
                                    properties:
                                      zh_cn:
                                        type: string
                                        description: 中文
                                        example: 体验
                                      en_us:
                                        type: string
                                        description: 英文
                                        example: Interactive experience
                                    description: 等级名称
                                  lable:
                                    type: string
                                    description: 等级代号
                                    example: qwerty
                                required:
                                - id
                              description: 评估项等级列表
                          required:
                          - id
                        description: 评估项列表
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - performance:performance
      - performance:performance:readonly
      - performance:review_template:read
      x-lark-error-mappings:
      - code: 1580102
        httpCode: 400
        msg: param is invalid
      - code: 1580101
        httpCode: 500
        msg: internal error
      - code: 1580901
        httpCode: 400
        msg: tenant no licnese
      x-lark-rate-limit:
        tier: 1
      x-lark-pagination: true
  /open-apis/performance/v2/metric_details/import:
    post:
      operationId: performance_metric_detail_import
      summary: 录入被评估人关键指标数据
      tags:
      - metric_detail
      description: 批量录入指定周期被评估人的关键指标详情
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v2/metric_detail/import
      parameters:
      - name: client_token
        in: query
        required: true
        schema:
          type: string
        description: 根据 client_token 是否一致来判断是否为同一请求
        example: '12454646'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户ID类型
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                semester_id:
                  type: string
                  description: 周期 ID，semester_id 可通过【获取周期】接口获得
                  example: '7293040702907514899'
                  format: int64
                import_record_name:
                  type: string
                  description: 录入记录名称，数据源录入人在录入记录页面可以查看该记录名称。如果不传则默认为「API 录入」
                  default: API录入
                  example: API录入
                imported_metrics:
                  type: array
                  items:
                    type: object
                    properties:
                      reviewee_user_id:
                        type: string
                        description: 被评估人 ID
                        example: ou_3245842393d09e9428ad4655da6e30b3
                      metric_id:
                        type: string
                        description: 指标 ID，指标的统一标识
                        example: '7272580325522276372'
                        format: int64
                      fields:
                        type: array
                        items:
                          type: object
                          properties:
                            field_id:
                              type: string
                              description: 指标字段 ID
                              example: '7283776005142675476'
                              format: int64
                            field_value:
                              type: string
                              description: 字段值
                              example: '100'
                            field_value_person:
                              type: string
                              description: 字段值，当字段为人员信息时必填
                              example: ou_3245842393d09e9428ad4655da6e30b3
                          required:
                          - field_id
                        description: 指标字段信息
                    required:
                    - reviewee_user_id
                    - metric_id
                    - fields
                  description: 指标明细列表，一次最多50个
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      import_record_id:
                        type: string
                        description: 成功时返回导入记录 ID，失败时则为 null
                        example: '7241404194141224979'
                        format: int64
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - performance:metric:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1580101
        httpCode: 500
        msg: internal error
      - code: 1580102
        httpCode: 400
        msg: param is invalid
      - code: 1580105
        httpCode: 400
        msg: invalid semester ID
      - code: 1580110
        httpCode: 400
        msg: request ID repeat
      - code: 1580112
        httpCode: 400
        msg: permission denied
      - code: 1580301
        httpCode: 400
        msg: field value type is invalid
      - code: 1580302
        httpCode: 400
        msg: field_value is null
      - code: 1580303
        httpCode: 400
        msg: field value length exceeds the limit
      - code: 1580304
        httpCode: 400
        msg: sum of weights for metrics exceeds 100%
      - code: 1580305
        httpCode: 400
        msg: filed id not found in the metric
      - code: 1580306
        httpCode: 400
        msg: reviewee not found
      - code: 1580307
        httpCode: 400
        msg: duplicate metric for the same reviewee in request
      - code: 1580308
        httpCode: 400
        msg: duplicate field for the same metric in request
      - code: 1580309
        httpCode: 400
        msg: input is not allowed after the deadline
      - code: 1580310
        httpCode: 400
        msg: old vision metrics can't be input
      - code: 1580311
        httpCode: 400
        msg: data input by admins can't be overwritten
      - code: 1580312
        httpCode: 400
        msg: reviewee's metrics not found
      - code: 1580901
        httpCode: 400
        msg: tenant no licnese
      x-lark-rate-limit:
        tier: 1
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.imported_metrics[*].reviewee_user_id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.imported_metrics[*].fields[*].field_value_person
        section: 0
  /open-apis/performance/v2/metric_details/query:
    post:
      operationId: performance_metric_detail_query
      summary: 获取被评估人关键指标结果
      tags:
      - metric_detail
      description: 批量获取指定周期中被评估人的关键指标详情
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v2/metric_detail/query
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                semester_id:
                  type: string
                  description: 周期 ID，1 次只允许查询 1 个周期，semester_id 可通过【获取周期】接口获得
                  example: '6992035450862224940'
                  format: int64
                reviewee_user_ids:
                  type: array
                  items:
                    type: string
                  description: 被评估人 ID 列表。如果不传则返回该周期所有参与的被评估人的关键指标详情
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      semester_id:
                        type: string
                        description: 周期ID
                        example: '7291278856547794964'
                      reviewee_metrics:
                        type: array
                        items:
                          type: object
                          properties:
                            reviewee_user_id:
                              type: object
                              properties:
                                open_id:
                                  type: string
                                  description: 用户的 open_id
                                  example: od-asd2dasdasd
                                user_id:
                                  type: string
                                  description: 用户的 user_id，取值与user_id_type一致
                                  example: ou-ux987dsf6x
                              description: 被评估人
                            metric_template_id:
                              type: string
                              description: 被评估人在该周期所属的指标模板 ID
                              example: '7294570803306168339'
                              format: int64
                            metric_details:
                              type: object
                              properties:
                                metric_id:
                                  type: string
                                  description: 指标 ID
                                  example: '7272581996315099155'
                                  format: int64
                                name:
                                  type: string
                                  description: 指标名称，指标在该明细数据中的名称
                                  example: 示例指标
                                fields:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      field_id:
                                        type: string
                                        description: 指标字段 ID。 系统预置的指标字段 ID 分别为：指标 1；权重 2；指标单位 3；目标值 4；完成值 5；完成说明 7。更多指标字段详情可通过【获取指标字段详情】接口获取
                                        example: '7296082067266207764'
                                        format: int64
                                      field_value:
                                        type: string
                                        description: 字段值
                                        example: '90'
                                      field_value_person:
                                        type: object
                                        properties:
                                          open_id:
                                            type: string
                                            description: 用户的 open_id
                                            example: od-asd2dasdasd
                                          user_id:
                                            type: string
                                            description: 用户的 user_id，取值与user_id_type一致
                                            example: ou-ux987dsf6x
                                        description: 字段值，当字段为人员信息时有值
                                  description: 指标字段信息
                                dimension_id:
                                  type: string
                                  description: 指标所属的指标维度 ID
                                  example: '7303895818346430484'
                                  format: int64
                                dimension_name:
                                  type: object
                                  properties:
                                    zh_cn:
                                      type: string
                                      description: 中文
                                      example: 体验
                                    en_us:
                                      type: string
                                      description: 英文
                                      example: Interactive experience
                                  description: 指标维度名称
                                dimension_weight:
                                  type: string
                                  description: 指标维度的维度权重，如果没有设置则返回为空
                                  example: 90%
                                add_from:
                                  type: string
                                  description: 指标添加来源
                                  enum:
                                  - reviewee
                                  - admin
                                  x-enum-descriptions:
                                    reviewee: 指标制定人添加
                                    admin: 管理员添加
                                is_from_library:
                                  type: boolean
                                  description: 指标是否引自指标库
                              description: 被评估人在周期下的指标明细数据
                            reviewee_stage_statuses:
                              type: array
                              items:
                                type: object
                                properties:
                                  stage_id:
                                    type: string
                                    description: 环节ID
                                    example: '1'
                                  stage_type:
                                    type: string
                                    description: 环节类型
                                    example: kpi_metric_setting
                                  stage_status:
                                    type: integer
                                    description: 环节状态
                                    example: '0'
                              description: 被评估人关键指标环节状态
                        description: 指标明细列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - performance:metric:write
      - performance:metric:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1580101
        httpCode: 500
        msg: internal error
      - code: 1580102
        httpCode: 400
        msg: param is invalid
      - code: 1580105
        httpCode: 400
        msg: invalid semester ID
      - code: 1580901
        httpCode: 400
        msg: tenant no licnese
      x-lark-rate-limit:
        tier: 2
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.reviewee_user_ids[*]
        section: 0
  /open-apis/performance/v2/metric_fields/query:
    post:
      operationId: performance_metric_field_query
      summary: 获取指标字段列表
      tags:
      - metric_field
      description: 获取指标的字段基础信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v2/metric_field/query
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                field_ids:
                  type: array
                  items:
                    type: string
                  description: 指标的字段 ID，不传则默认获取全部字段信息
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            field_id:
                              type: string
                              description: 指标字段信息
                              example: '7272581996315099155'
                              format: int64
                            name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 中文
                                  example: 体验
                                en_us:
                                  type: string
                                  description: 英文
                                  example: Interactive experience
                              description: 字段名称
                            type:
                              type: string
                              description: 字段类型
                              enum:
                              - text
                              - number
                              - pencentage
                              - person
                              x-enum-descriptions:
                                text: 文本
                                number: 数字
                                pencentage: 百分比
                                person: 人员单选
                              example: text
                        description: 指标字段信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - performance:metric_lib:read
      - performance:metric:read
      - performance:metric:write
      x-lark-error-mappings:
      - code: 1580101
        httpCode: 500
        msg: internal error
      - code: 1580102
        httpCode: 400
        msg: param is invalid
      - code: 1580901
        httpCode: 400
        msg: tenant no licnese
      x-lark-rate-limit:
        tier: 2
  /open-apis/performance/v2/metric_libs/query:
    post:
      operationId: performance_metric_lib_query
      summary: 获取指标列表
      tags:
      - metric_lib
      description: 获取指标库的信息
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/performance-v2/metric_lib/query
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          - people_admin_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
            people_admin_id: 以people_admin_id来识别用户
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        example: open_id
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
        example: '30'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                is_active:
                  type: boolean
                  description: 状态是否为启用
                tag_ids:
                  type: array
                  items:
                    type: string
                  description: 指标所属的标签 ID
                type_ids:
                  type: array
                  items:
                    type: string
                  description: 所属的指标类型 ID
                range_of_availability:
                  type: string
                  description: 可用范围
                  enum:
                  - admins_and_reviewees
                  - only_admins
                  x-enum-descriptions:
                    admins_and_reviewees: 允许管理员下发和被评估人选用
                    only_admins: 仅允许管理员下发
                  example: admins_and_reviewees
                scoring_setting_type:
                  type: string
                  description: 评分设置类型
                  enum:
                  - score_manually
                  - score_by_formula
                  x-enum-descriptions:
                    score_manually: 手动评分
                    score_by_formula: 公式评分
                  example: score_manually
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            metric_id:
                              type: string
                              description: 指标 ID
                              example: '7272581996315099155'
                              format: int64
                            name:
                              type: string
                              description: 指标名称
                              example: 销售额
                            type_id:
                              type: string
                              description: 指标类型 ID
                              example: '7272578300650717203'
                              format: int64
                            tags:
                              type: array
                              items:
                                type: object
                                properties:
                                  tag_id:
                                    type: string
                                    description: 标签 ID
                                    example: '7302271694582841364'
                                    format: int64
                                  tag_name:
                                    type: object
                                    properties:
                                      zh_cn:
                                        type: string
                                        description: 中文
                                        example: 体验
                                      en_us:
                                        type: string
                                        description: 英文
                                        example: Interactive experience
                                    description: 标签名称
                              description: 所属的标签
                            fields:
                              type: array
                              items:
                                type: object
                                properties:
                                  field_id:
                                    type: string
                                    description: 指标字段 ID。 系统预置的指标字段 ID 分别为：指标 1；权重 2；指标单位 3；目标值 4；完成值 5；完成说明 7。更多指标字段详情可通过【获取指标字段详情】接口获取
                                    example: '7296701873237786643'
                                    format: int64
                                  input_setting:
                                    type: string
                                    description: 字段填写方式设置
                                    enum:
                                    - admin
                                    - data_source_inputter
                                    - reviewee
                                    x-enum-descriptions:
[...]
