# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · report API（全量）
  description: |-
    飞书开放平台 `report` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:22:04Z'
  x-lark-project: report
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:22:04Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: rule.view
- name: rule
- name: task
paths:
  /open-apis/report/v1/rules/{rule_id}/views/remove:
    post:
      operationId: report_rule_view_remove
      summary: 移除规则看板
      tags:
      - rule.view
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/report/report-v1/rule-view/remove
      parameters:
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
        description: 汇报规则ID
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 列表为空删除规则下全用户视图，列表不为空删除指定用户视图，大小限制200。
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - report:report
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1430001
        httpCode: 400
        msg: tenant key not exist
      - code: 1430002
        httpCode: 400
        msg: user list size invalid
      - code: 1430003
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 0
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_ids[*]
        section: 0
  /open-apis/report/v1/rules/query:
    get:
      operationId: report_rule_query
      summary: 查询规则
      tags:
      - rule
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/report/report-v1/rule/query
      parameters:
      - name: rule_name
        in: query
        required: true
        schema:
          type: string
        description: 规则名称
        example: 工作月报
      - name: include_deleted
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          x-enum-descriptions:
            '0': 不包括已删除
            '1': 包括已删除
        description: 是否包括已删除，默认未删除
        example: '1'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      rules:
                        type: array
                        items:
                          type: object
                          properties:
                            rule_id:
                              type: string
                              description: 规则唯一标识
                              example: '6968789567724224328'
                              format: int64
                            name:
                              type: string
                              description: 规则名称
                              example: 工作月报
                            icon_name:
                              type: string
                              description: 规则图标
                              example: orange_icon
                            created_at:
                              type: integer
                              description: 创建时间
                              example: '1622547760'
                            creator_user_id:
                              type: string
                              description: 创建人ID
                              example: ou_c04cebc780341ab22bd311ba6902fffs
                            creator_user_name:
                              type: string
                              description: 创建人名称
                              example: 张三
                            owner_user_id:
                              type: string
                              description: 规则所有者ID
                              example: ou_c04cebc780341ab22bd311ba6902fffs
                            owner_user_name:
                              type: string
                              description: 规则所有者名称
                              example: 张三
                            form_schema:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: 字段名称
                                    example: 表单测试
                                  type:
                                    type: string
                                    description: 字段类型
                                    enum:
                                    - text
                                    - number
                                    - dropdown
                                    - image
                                    - attachement
                                    - multiSelect
                                    - address
                                    - datetime
                                    x-enum-descriptions:
                                      text: 文本
                                      number: 数字
                                      dropdown: 单选
                                      image: 图片
                                      attachement: 附件
                                      multiSelect: 多选
                                      address: 地址
                                      datetime: 时间
                                    example: text
                              description: 表单定义
                            is_deleted:
                              type: integer
                              description: 规则是否已删除
                              enum:
                              - 0
                              - 1
                              x-enum-descriptions:
                                '0': 未删除
                                '1': 已删除
                              example: '0'
                            need_report_user_ids:
                              type: array
                              items:
                                type: string
                              description: 需要汇报的用户ID列表
                              example: '[''ou_c04cebc780341ab22bd311ba6902ffsd'']'
                            need_report_department_ids:
                              type: array
                              items:
                                type: string
                              description: 需要汇报的部门ID列表
                            need_report_chat_ids:
                              type: array
                              items:
                                type: string
                              description: 需要汇报的群ID列表
                              example: '[''oc_a7bb9ca5efa68ab8b4fdd2e3b54ffref'']'
                            cc_user_ids:
                              type: array
                              items:
                                type: string
                              description: 抄送用户ID列表
                              example: '[''ou_45454c20ef2c92c173445abf6f4955rf'']'
                            cc_department_ids:
                              type: array
                              items:
                                type: string
                              description: 抄送部门ID列表
                              example: '[''od-251480c0bfb8c5c8784ea194ef8b734d'']'
                            to_user_ids:
                              type: array
                              items:
                                type: string
                              description: 汇报对象用户ID列表
                              example: '[''ou_c04cebc780341ab22bd311ba6902fdfe'']'
                            to_chat_ids:
                              type: array
                              items:
                                type: string
                              description: 汇报对象群ID列表
                              example: '[''oc_a7bb9ca5efa68ab8b4fdd2e3b54fcerf'']'
                            to_leaders:
                              type: array
                              items:
                                type: integer
                              description: 上级汇报对象，0表示第一级，依次类推，最大为5表示第六级
                              example: '[0]'
                            to_department_owners:
                              type: array
                              items:
                                type: integer
                              description: 部门负责人汇报对象，0表示第一级，依次类推，最大为5表示第六级
                              example: '[0]'
                            manager_user_ids:
                              type: array
                              items:
                                type: string
                              description: 规则管理员用户ID列表
                              example: '[''ou_c04cebc780341ab22bd311ba6902sseb'']'
                            cc_chat_ids:
                              type: array
                              items:
                                type: string
                              description: 抄送群ID列表
                              example: '[''oc_a7bb9ca5efa68ab8b4fdd2e3b54fffsf'']'
                        description: 规则列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - report:rule:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1430001
        httpCode: 400
        msg: tenant key not exist
      x-lark-rate-limit:
        tier: 0
  /open-apis/report/v1/tasks/query:
    post:
      operationId: report_task_query
      summary: 查询任务
      tags:
      - task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/report/report-v1/task/query
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                commit_start_time:
                  type: integer
                  description: 提交开始时间时间戳
                  example: '1622548703'
                commit_end_time:
                  type: integer
                  description: 提交结束时间时间戳
                  example: '1622548723'
                rule_id:
                  type: string
                  description: 汇报规则ID
                  example: '6953815857466178845'
                  format: int64
                user_id:
                  type: string
                  description: 用户ID
                  example: ou_83b6f9720c77188da4f64bbe57384s34
                page_token:
                  type: string
                  description: 分页标识符
                  example: '6953415217466344560'
                page_size:
                  type: integer
                  description: 单次分页返回的条数
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            task_id:
                              type: string
                              description: 汇报任务ID
                              example: '6968793659214921747'
                              format: int64
                            rule_name:
                              type: string
                              description: 规则名称
                              example: 工作月报
                            from_user_id:
                              type: string
                              description: 汇报用户ID
                              example: ou_c04cebc780341ab22bd311ba6902ffeb
                              format: int64
                            from_user_name:
                              type: string
                              description: 汇报用户名称
                              example: 张三
                            department_name:
                              type: string
                              description: 汇报用户部门名称
                              example: 部门A
                            commit_time:
                              type: integer
                              description: 提交时间时间戳
                              example: '1622548713'
                            form_contents:
                              type: array
                              items:
                                type: object
                                properties:
                                  field_id:
                                    type: string
                                    description: 表单字段ID
                                    example: '6968626905868156948'
                                  field_name:
                                    type: string
                                    description: 表单字段名称
                                    example: 表单测试
                                  field_value:
                                    type: string
                                    description: 表单字段值
                                    example: 测试数据
                              description: 汇报表单内容
                            rule_id:
                              type: string
                              description: 汇报规则ID
                              example: '6968793659214921747'
                              format: int64
                            department_ids:
                              type: array
                              items:
                                type: string
                              description: 部门id
                            to_user_ids:
                              type: array
                              items:
                                type: string
                              description: 汇报给谁
                            to_user_names:
                              type: array
                              items:
                                type: string
                              description: 汇报给谁的名字
                        description: 任务列表
                      has_more:
                        type: boolean
                        description: 是否有下一页数据
                        example: 'true'
                      page_token:
                        type: string
                        description: 下一页分页的token
                        example: '6943911827436174445'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - report:task:readonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1430001
        httpCode: 400
        msg: tenant key  not exist
      - code: 1430002
        httpCode: 400
        msg: page size   invalid
      - code: 1430003
        httpCode: 400
        msg: rule  not exist
      x-lark-rate-limit:
        tier: 7
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_id
        section: 0
