# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · search API（全量）
  description: |-
    飞书开放平台 `search` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: search
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: app
- name: data_source.item
- name: data_source
- name: doc_wiki
- name: message
- name: schema
paths:
  /open-apis/search/v2/app:
    post:
      operationId: search_app_create
      summary: 搜索应用
      tags:
      - app
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/app/create
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以 user_id 来识别用户
            union_id: 以 union_id 来识别用户
            open_id: 以 open_id 来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: 搜索关键词
                  example: 测试应用
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: string
                        description: app_id列表
                      page_token:
                        type: string
                        description: 翻页 token，传入返回下一页，首页不需要传入
                        example: GxmvlNRvP0NdQZpa7yIqf_Lv_QuBwTQ8tXkX7w-irAghVD_TvuYd1aoJ1LQph86O-XImC4X9j9FhUPhXQDvtrQ==
                      has_more:
                        type: boolean
                        description: 是否还有下一页
                        example: 'true'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - search:app
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1278001
        httpCode: 400
        msg: invalid param
      - code: 1278002
        httpCode: 500
        msg: Internal Server Error
      x-lark-rate-limit:
        tier: 4
  /open-apis/search/v2/data_sources/{data_source_id}/items:
    post:
      operationId: search_data_source_item_create
      summary: 为指定数据项创建索引
      tags:
      - data_source.item
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/data_source-item/create
      parameters:
      - name: data_source_id
        in: path
        required: true
        schema:
          type: string
        description: 数据源的ID
        example: '6959069195657019410'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: item 在 datasource 中的唯一标识，只接受英文字母、数字和下划线
                  example: my_item_01010111
                acl:
                  type: array
                  items:
                    $ref: '#/components/schemas/Item3'
                  description: item 的访问权限控制
                metadata:
                  type: object
                  properties:
                    title:
                      type: string
                      description: 数据项标题
                    source_url:
                      type: string
                      description: 搜索命中的跳转地址
                    create_time:
                      type: integer
                      description: 数据项的创建时间，采用 Unix 时间戳
                    update_time:
                      type: integer
                      description: 数据项的更新时间，采用 Unix 时间戳
                    source_url_mobile:
                      type: string
                      description: 移动端搜索命中的跳转地址。如果您PC端和移动端有不同的跳转地址，可以在这里写入移动端专用的url，我们会在搜索时为您选择合适的地址
                  required:
                  - title
                  - source_url
                  description: item 的元信息
                structured_data:
                  type: string
                  description: 结构化数据
                  example: '{"description":"问题出现的环境和复现方法描述……", "priority":"HIGH"}'
                content:
                  type: object
                  properties:
                    format:
                      type: string
                      description: 内容的格式
                      enum:
                      - html
                      - plaintext
                    content_data:
                      type: string
                      description: 全文数据
                  description: 非结构化数据，如文档文本
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - search:data_source
      - search:data_item:create
      x-lark-error-mappings:
      - code: 1270001
        httpCode: 500
        msg: internal error
      - code: 1270002
        httpCode: 400
        msg: ''
      - code: 1270004
        httpCode: 400
        msg: datasource not exists
      - code: 1270005
        httpCode: 400
        msg: This is a premium feature. Please contact sales to upgrade your plan
      - code: 1271004
        httpCode: 400
        msg: acl.allow is required
      - code: 1272001
        httpCode: 401
        msg: unauthorized
      - code: 1272002
        httpCode: 500
        msg: auth fail
      x-lark-rate-limit:
        tier: 4
  /open-apis/search/v2/data_sources/{data_source_id}/items/{item_id}:
    delete:
      operationId: search_data_source_item_delete
      summary: 删除数据项
      tags:
      - data_source.item
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/data_source-item/delete
      parameters:
      - name: data_source_id
        in: path
        required: true
        schema:
          type: string
        description: 数据源的ID
        example: '6959069195657019410'
      - name: item_id
        in: path
        required: true
        schema:
          type: string
        description: 数据记录的ID
        example: approval_item_id_1
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - search:data_source
      - search:data_item:delete
      x-lark-error-mappings:
      - code: 1270001
        httpCode: 500
        msg: internal error
      - code: 1270002
        httpCode: 400
        msg: ''
      - code: 1270004
        httpCode: 400
        msg: datasource not exists
      - code: 1270005
        httpCode: 400
        msg: This is a premium feature. Please contact sales to upgrade your plan
      - code: 1272001
        httpCode: 401
        msg: unauthorized
      - code: 1272002
        httpCode: 500
        msg: auth fail
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: search_data_source_item_get
      summary: 查询指定数据项
      tags:
      - data_source.item
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/data_source-item/get
      parameters:
      - name: data_source_id
        in: path
        required: true
        schema:
          type: string
        description: 数据源的id
        example: '6959069195657019410'
      - name: item_id
        in: path
        required: true
        schema:
          type: string
        description: 数据记录的唯一标识
        example: approval_item_id_1
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      item:
                        type: object
                        properties:
                          id:
                            type: string
                            description: item 在 datasource 中的唯一标识，只接受英文字母、数字和下划线
                            example: my_item_01010111
                          acl:
                            type: array
                            items:
                              $ref: '#/components/schemas/Item3'
                            description: item 的访问权限控制
                          metadata:
                            type: object
                            properties:
                              title:
                                type: string
                                description: 数据项标题
                              source_url:
                                type: string
                                description: 搜索命中的跳转地址
                              create_time:
                                type: integer
                                description: 数据项的创建时间，采用 Unix 时间戳
                              update_time:
                                type: integer
                                description: 数据项的更新时间，采用 Unix 时间戳
                              source_url_mobile:
                                type: string
                                description: 移动端搜索命中的跳转地址。如果您PC端和移动端有不同的跳转地址，可以在这里写入移动端专用的url，我们会在搜索时为您选择合适的地址
                            required:
                            - title
                            - source_url
                            description: item 的元信息
                          structured_data:
                            type: string
                            description: 结构化数据
                            example: '{"description":"问题出现的环境和复现方法描述……", "priority":"HIGH"}'
                          content:
                            type: object
                            properties:
                              format:
                                type: string
                                description: 内容的格式
                                enum:
                                - html
                                - plaintext
                              content_data:
                                type: string
                                description: 全文数据
                            description: 非结构化数据，如文档文本
                        required:
                        - id
                        - acl
                        - metadata
                        - structured_data
                        description: 数据项实例
                    required:
                    - item
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - search:data_source
      - search:data_source:readonly
      - search:data_item:readonly
      x-lark-error-mappings:
      - code: 1270001
        httpCode: 500
        msg: internal error
      - code: 1270002
        httpCode: 400
        msg: ''
      - code: 1270004
        httpCode: 400
        msg: datasource not exists
      - code: 1270005
        httpCode: 400
        msg: This is a premium feature. Please contact sales to upgrade your plan
      - code: 1272001
        httpCode: 401
        msg: unauthorized
      - code: 1272002
        httpCode: 500
        msg: auth fail
      x-lark-rate-limit:
        tier: 4
  /open-apis/search/v2/data_sources:
    post:
      operationId: search_data_source_create
      summary: 创建数据源
      tags:
      - data_source
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/data_source/create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: data_source的展示名称
                  example: 客服工单
                state:
                  type: integer
                  description: 数据源状态，0-已上线，1-未上线
                  enum:
                  - 0
                  - 1
                  x-enum-descriptions:
                    '0': 已上线
                    '1': 未上线
                  example: '0'
                description:
                  type: string
                  description: 对于数据源的描述
                  example: 搜索客服工单
                icon_url:
                  type: string
                  description: 数据源在 search tab 上的展示图标路径
                  example: https://s3-imfile.feishucdn.com/static-resource/v1/585fd740-f52e-4098-b864-57a32082ba1g
                template:
                  type: string
                  description: 数据源采用的展示模版名称
                  default: search_common_card
                  example: search_common_card
                searchable_fields:
                  type: array
                  items:
                    type: string
                  description: 描述哪些字段可以被搜索
                  example: '["field1", "field2"]'
                i18n_name:
                  type: object
                  properties:
                    zh_cn:
                      type: string
                      description: 国际化字段：中文
                    en_us:
                      type: string
                      description: 国际化字段：英文
                    ja_jp:
                      type: string
                      description: 国际化字段：日文
                  description: 数据源的国际化展示名称
                i18n_description:
                  type: object
                  properties:
                    zh_cn:
                      type: string
                      description: 国际化字段：中文
                    en_us:
                      type: string
                      description: 国际化字段：英文
                    ja_jp:
                      type: string
                      description: 国际化字段：日文
                  description: 数据源的国际化描述
                schema_id:
                  type: string
                  description: 数据源关联的 schema 标识
                  example: '7159054681489010384'
                app_id:
                  type: string
                  description: datasource对应的开放平台应用id
                  example: cli_a1306bed4738d01b
                connect_type:
                  type: integer
                  description: 搜索请求的接入方式
                  enum:
                  - 0
                  - 1
                  x-enum-descriptions:
                    '0': 调用搜索请求时，使用的是飞书搜索接口
                    '1': 调用搜索请求时，使用的是自定义回调函数的Uri
                  default: 0
                  example: '1'
                connector_param:
                  type: object
                  properties:
                    callback_user_id_type:
                      type: integer
                      description: 回调时Request里面的id类型
                      enum:
                      - 0
                      - 1
                      - 2
                      - 3
                      x-enum-descriptions:
                        '0': 不合法
                        '1': 用户在租户内的身份
                        '2': 用户在应用内的身份
                        '3': 用户在同一应用服务商所开发的多个应用下的统一身份
                      example: '1'
                    callback_endpoint:
                      type: string
                      description: 回调时的地址，必须为POST地址
                      example: https://open.approval.cn/api/search
                  description: 根据连接器类型不同所需要提供的相关参数
                enable_answer:
                  type: boolean
                  description: 是否使用问答服务
                  example: 'false'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - search:data_source
      - search:data_source:create
      x-lark-error-mappings:
      - code: 1270001
        httpCode: 500
        msg: internal error
      - code: 1270002
        httpCode: 400
        msg: ''
      - code: 1270003
        httpCode: 500
        msg: rpc fail
      - code: 1270005
        httpCode: 400
        msg: This is a premium feature. Please contact sales to upgrade your plan
      - code: 1271005
        httpCode: 400
        msg: quantity exceeds limitation
      - code: 1271006
        httpCode: 400
        msg: openAppID has related
      x-lark-rate-limit:
        tier: 1
    get:
      operationId: search_data_source_list
      summary: 批量获取数据源
      tags:
      - data_source
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/data_source/list
      parameters:
      - name: view
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          x-enum-descriptions:
            '0': 全量数据
            '1': 摘要数据
        description: |-
          回包数据格式，0-全量数据；1-摘要数据。

          **注**：摘要数据仅包含"id"，"name"，"state"。
        example: '0'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: rwQi0WfEAcwyHRHW+vUJkEYL85d7SfP8sTjUj7IEjvA=
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否有更多数据
                        example: 'true'
                      page_token:
                        type: string
                        description: 取数据的凭证
                        example: 763bd1e74d05e958
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/DataSource'
                        description: 返回的数据
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - search:data_source
      - search:data_source:readonly
      x-lark-error-mappings:
      - code: 1270001
        httpCode: 500
        msg: internal error
      - code: 1270002
        httpCode: 400
        msg: ''
      - code: 1270005
        httpCode: 400
        msg: This is a premium feature. Please contact sales to upgrade your plan
      - code: 1271001
        httpCode: 400
        msg: invalid page_token
      - code: 1271002
        httpCode: 500
        msg: generate page_token fail
      x-lark-rate-limit:
        tier: 2
      x-lark-pagination: true
  /open-apis/search/v2/data_sources/{data_source_id}:
    delete:
      operationId: search_data_source_delete
      summary: 删除数据源
      tags:
      - data_source
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/data_source/delete
      parameters:
      - name: data_source_id
        in: path
        required: true
        schema:
          type: string
        description: 数据源的唯一标识
        example: '6959069195657019410'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - search:data_source
      - search:data_source:delete
      x-lark-error-mappings:
      - code: 1270001
        httpCode: 500
        msg: internal error
      - code: 1270002
        httpCode: 400
        msg: ''
      - code: 1270003
        httpCode: 500
        msg: rpc fail
      - code: 1270004
        httpCode: 400
        msg: datasource not exists
      - code: 1270005
        httpCode: 400
        msg: This is a premium feature. Please contact sales to upgrade your plan
      - code: 1272001
        httpCode: 401
        msg: unauthorized
      - code: 1272002
        httpCode: 500
        msg: auth fail
      x-lark-rate-limit:
        tier: 1
    get:
      operationId: search_data_source_get
      summary: 获取数据源
      tags:
      - data_source
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/data_source/get
      parameters:
      - name: data_source_id
        in: path
        required: true
        schema:
          type: string
        description: 数据源的唯一标识
        example: '6959069195657019410'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - search:data_source:readonly
      - search:data_source
      x-lark-error-mappings:
      - code: 1270001
        httpCode: 500
        msg: internal error
      - code: 1270002
        httpCode: 400
        msg: ''
      - code: 1270004
        httpCode: 400
        msg: datasource not exists
      - code: 1270005
        httpCode: 400
        msg: This is a premium feature. Please contact sales to upgrade your plan
      - code: 1272001
        httpCode: 401
        msg: unauthorized
      - code: 1272002
        httpCode: 500
        msg: auth fail
      x-lark-rate-limit:
        tier: 1
    patch:
      operationId: search_data_source_patch
      summary: 修改数据源
      tags:
      - data_source
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/data_source/patch
      parameters:
      - name: data_source_id
        in: path
        required: true
        schema:
          type: string
        description: 数据源的唯一标识
        example: 数据源
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 数据源的展示名称
                  example: Approval
                state:
                  type: integer
                  description: 数据源状态，0-已上线，1-未上线
                  enum:
                  - 0
                  - 1
                  x-enum-descriptions:
                    '0': 已上线
                    '1': 未上线
                  example: '0'
                description:
                  type: string
                  description: 对于数据源的描述
                  example: Search "Approval"
                icon_url:
                  type: string
                  description: 数据源在 search tab 上的展示图标路径
                  example: https://www.xxx.com/example.jpg
                i18n_name:
                  type: object
                  properties:
                    zh_cn:
                      type: string
                      description: 国际化字段：中文
                    en_us:
                      type: string
                      description: 国际化字段：英文
                    ja_jp:
                      type: string
                      description: 国际化字段：日文
                  description: 数据源名称多语言配置，json格式，key为语言locale，value为对应文案，例如{"zh_cn":"测试数据源", "en_us":"Test DataSource"}
                i18n_description:
                  type: object
                  properties:
                    zh_cn:
                      type: string
                      description: 国际化字段：中文
                    en_us:
                      type: string
                      description: 国际化字段：英文
                    ja_jp:
                      type: string
                      description: 国际化字段：日文
                  description: 数据源描述多语言配置，json格式，key为语言locale，value为对应文案，例如{"zh_cn":"搜索测试数据源相关数据", "en_us":"Search data from
                    Test DataSource"}
                connector_param:
                  type: object
                  properties:
                    callback_user_id_type:
                      type: integer
                      description: 回调时Request里面的id类型
                      enum:
                      - 0
                      - 1
                      - 2
                      - 3
                      x-enum-descriptions:
                        '0': 不合法
                        '1': 用户在租户内的身份
                        '2': 用户在应用内的身份
                        '3': 用户在同一应用服务商所开发的多个应用下的统一身份
                      example: '1'
                    callback_endpoint:
                      type: string
                      description: 回调时的地址，必须为POST地址
                      example: https://open.approval.cn/api/search
                  description: 修改connector的相关配置
                enable_answer:
                  type: boolean
                  description: 是否使用问答服务
                  example: 'false'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema3'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - search:data_source
      - search:data_source:update
      x-lark-error-mappings:
      - code: 1270001
        httpCode: 500
        msg: internal error
      - code: 1270002
        httpCode: 400
        msg: ''
      - code: 1270004
        httpCode: 400
        msg: datasource not exists
      - code: 1270003
        httpCode: 500
        msg: rpc fail
      - code: 1270005
        httpCode: 400
        msg: This is a premium feature. Please contact sales to upgrade your plan
      - code: 1271003
        httpCode: 400
        msg: nothing patches
      - code: 1272001
        httpCode: 401
        msg: unauthorized
      - code: 1272002
        httpCode: 500
        msg: auth fail
      x-lark-rate-limit:
        tier: 1
  /open-apis/search/v2/doc_wiki/search:
    post:
      operationId: search_doc_wiki_search
      summary: 搜索文档
      tags:
      - doc_wiki
      description: 搜索文档和Wiki
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/doc_wiki/search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: 搜索关键词
                  example: 飞书文档使用指南
                doc_filter:
                  type: object
                  properties:
                    creator_ids:
                      type: array
                      items:
                        type: string
                      description: 文档所有者OpenID
                    doc_types:
                      type: array
                      items:
                        type: string
                        enum:
                        - DOC
                        - SHEET
                        - BITABLE
                        - MINDNOTE
                        - FILE
                        - WIKI
                        - DOCX
                        - FOLDER
                        - CATALOG
                        - SLIDES
                        - SHORTCUT
                        x-enum-descriptions:
                          DOC: 文档
                          SHEET: 表格
                          BITABLE: 多维表格
                          MINDNOTE: 思维导图
                          FILE: 文件
                          WIKI: 维基
                          DOCX: 新版文档
                          FOLDER: space文件夹
                          CATALOG: wiki2.0文件夹
                          SLIDES: 新版本幻灯片
                          SHORTCUT: 快捷方式
                      description: 文档类型
                    folder_tokens:
                      type: array
                      items:
                        type: string
                      description: 搜索文件夹内的文档（文件夹token列表）
                    only_title:
                      type: boolean
                      description: 仅搜文档标题
                      default: false
                      example: 'false'
                    open_time:
                      type: object
                      properties:
                        start:
                          type: integer
                          description: 时间范围的起始时间戳
                          example: '1742348544'
                        end:
                          type: integer
                          description: 时间范围的截止时间戳
                          example: '1742348544'
                      description: 浏览文档的时间范围（秒级时间戳，包含start和end字段）
                    sort_type:
                      type: string
                      description: 排序方式
                      enum:
                      - DEFAULT_TYPE
                      - OPEN_TIME
                      - EDIT_TIME
                      - EDIT_TIME_ASC
                      - ENTITY_CREATE_TIME_ASC
                      - ENTITY_CREATE_TIME_DESC
                      - CREATE_TIME
                      - CREATE_TIME_ASC
                      x-enum-descriptions:
                        DEFAULT_TYPE: 默认排序
                        OPEN_TIME: User打开时间排序
                        EDIT_TIME: User编辑时间降序
                        EDIT_TIME_ASC: User编辑时间升序
                        ENTITY_CREATE_TIME_ASC: 实体创建时间升序
                        ENTITY_CREATE_TIME_DESC: 实体创建时间降序
                        CREATE_TIME: 按文档创建时间排序
                        CREATE_TIME_ASC: 按文档创建时间正序
                      example: CREATE_TIME_ASC
                    create_time:
                      type: object
                      properties:
                        start:
                          type: integer
                          description: 时间范围的起始时间戳
                          example: '1742348544'
                        end:
                          type: integer
                          description: 时间范围的截止时间戳
                          example: '1742348544'
                      description: 文档创建的时间范围（秒级时间戳，包含start和end字段）
                    chat_ids:
                      type: array
                      items:
                        type: string
                      description: 搜索在会话内的文档
                    sharer_ids:
                      type: array
                      items:
                        type: string
                      description: 文档分享者OpenID
                    only_comment:
                      type: boolean
                      description: 仅搜文档评论
                      default: false
                      example: 'false'
                    my_edit_time:
                      type: object
                      properties:
                        start:
                          type: integer
                          description: 时间范围的起始时间戳
                          example: '1742348544'
                        end:
                          type: integer
                          description: 时间范围的截止时间戳
                          example: '1742348544'
                      description: 【我编辑的文档】的时间范围（秒级时间戳，包含start和end字段）
                    my_comment_time:
                      type: object
                      properties:
                        start:
                          type: integer
                          description: 时间范围的起始时间戳
                          example: '1742348544'
                        end:
                          type: integer
                          description: 时间范围的截止时间戳
                          example: '1742348544'
                      description: 【我评论的文档】的时间范围（秒级时间戳，包含start和end字段）
                    original_creator_ids:
                      type: array
                      items:
                        type: string
                      description: 文档创建者者OpenID，注意和creator_ids区分开
                  description: 文档过滤参数
                  example: '{"folder_tokens": ["fld_123456"]}'
                wiki_filter:
                  type: object
                  properties:
                    creator_ids:
                      type: array
                      items:
                        type: string
                      description: Wiki所有者OpenID
                    doc_types:
                      type: array
                      items:
                        type: string
                        enum:
                        - DOC
                        - SHEET
                        - BITABLE
                        - MINDNOTE
                        - FILE
                        - WIKI
                        - DOCX
                        - FOLDER
                        - CATALOG
                        - SLIDES
                        - SHORTCUT
                        x-enum-descriptions:
                          DOC: 文档
                          SHEET: 表格
                          BITABLE: 多维表格
                          MINDNOTE: 思维导图
                          FILE: 文件
                          WIKI: 维基
                          DOCX: 新版文档
                          FOLDER: space文件夹
                          CATALOG: wiki2.0文件夹
                          SLIDES: 新版本幻灯片
                          SHORTCUT: 快捷方式
                      description: Wiki类型
                    space_ids:
                      type: array
                      items:
                        type: string
                      description: 搜索某个Space下的Wiki（Space ID列表）
                    only_title:
                      type: boolean
                      description: 仅搜Wiki标题
                      default: false
                      example: 'false'
                    open_time:
                      type: object
                      properties:
                        start:
                          type: integer
                          description: 时间范围的起始时间戳
                          example: '1742348544'
                        end:
                          type: integer
                          description: 时间范围的截止时间戳
                          example: '1742348544'
                      description: 浏览文档的时间范围（秒级时间戳，包含start和end字段）
                    sort_type:
                      type: string
                      description: 排序方式
                      enum:
                      - DEFAULT_TYPE
                      - OPEN_TIME
                      - EDIT_TIME
                      - EDIT_TIME_ASC
                      - ENTITY_CREATE_TIME_ASC
                      - ENTITY_CREATE_TIME_DESC
                      - CREATE_TIME
                      - CREATE_TIME_ASC
                      x-enum-descriptions:
                        DEFAULT_TYPE: 默认排序
                        OPEN_TIME: User打开时间排序
                        EDIT_TIME: User编辑时间降序
                        EDIT_TIME_ASC: User编辑时间升序
                        ENTITY_CREATE_TIME_ASC: 实体创建时间升序
                        ENTITY_CREATE_TIME_DESC: 实体创建时间降序
                        CREATE_TIME: 按文档创建时间排序
                        CREATE_TIME_ASC: 按文档创建时间正序
                      example: CREATE_TIME_ASC
                    create_time:
                      type: object
                      properties:
                        start:
                          type: integer
                          description: 时间范围的起始时间戳
                          example: '1742348544'
                        end:
                          type: integer
                          description: 时间范围的截止时间戳
                          example: '1742348544'
                      description: Wiki创建的时间范围（秒级时间戳，包含start和end字段）
                    chat_ids:
                      type: array
                      items:
                        type: string
                      description: 搜索在会话内的文档
                    sharer_ids:
                      type: array
                      items:
                        type: string
                      description: 文档分享者OpenID
                    only_comment:
                      type: boolean
                      description: 仅搜文档评论
                      default: false
                      example: 'false'
                    my_edit_time:
                      type: object
                      properties:
                        start:
                          type: integer
                          description: 时间范围的起始时间戳
                          example: '1742348544'
                        end:
                          type: integer
                          description: 时间范围的截止时间戳
                          example: '1742348544'
                      description: 【我编辑的文档】的时间范围（秒级时间戳，包含start和end字段）
                    my_comment_time:
                      type: object
                      properties:
                        start:
                          type: integer
                          description: 时间范围的起始时间戳
                          example: '1742348544'
                        end:
                          type: integer
                          description: 时间范围的截止时间戳
                          example: '1742348544'
                      description: 【我评论的文档】的时间范围（秒级时间戳，包含start和end字段）
                    original_creator_ids:
                      type: array
                      items:
                        type: string
                      description: 文档创建者者OpenID，注意和creator_ids区分开
                  description: Wiki过滤参数
                  example: '{"creator_ids": ["ou_789012"], "space_ids": ["space_123456"]}'
                page_token:
                  type: string
                  description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token获取查询结果
                  example: token_1234567890fedcba
                page_size:
                  type: integer
                  description: 分页大小
                  default: 0
                  example: '15'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 响应码，0表示成功
                    example: '0'
                  msg:
                    type: string
                    description: 响应信息，成功时为success
                    example: success
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: 匹配结果总数（辅助分页参考）
                        example: '100'
                      has_more:
                        type: boolean
                        description: 是否有更多数据可供加载
                        example: 'true'
                      res_units:
                        type: array
                        items:
                          type: object
                          properties:
                            title_highlighted:
                              type: string
                              description: 标题高亮
                              example: <h>飞书文档</h>使用指南
                            summary_highlighted:
                              type: string
                              description: 摘要高亮
                              example: 本文介绍<h>飞书文档</h>的创建、编辑与分享功能
                            entity_type:
                              type: string
                              description: 结果类型
                              enum:
                              - DOC
                              - WIKI
                              x-enum-descriptions:
                                DOC: doc实体
                                WIKI: wiki类型
                              example: DOC
                            result_meta:
                              type: object
                              properties:
                                doc_types:
                                  type: string
                                  description: 文档类型
                                  enum:
                                  - DOC
                                  - SHEET
                                  - BITABLE
                                  - MINDNOTE
                                  - FILE
                                  - WIKI
                                  - DOCX
                                  - FOLDER
                                  - CATALOG
                                  - SLIDES
                                  - SHORTCUT
                                  x-enum-descriptions:
                                    DOC: 文档
                                    SHEET: 表格
                                    BITABLE: 多维表格
                                    MINDNOTE: 思维导图
                                    FILE: 文件
                                    WIKI: 维基
                                    DOCX: 新版文档
                                    FOLDER: space文件夹
                                    CATALOG: wiki2.0文件夹
                                    SLIDES: 新版本幻灯片
                                    SHORTCUT: 快捷方式
                                  example: SHORTCUT
                                update_time:
                                  type: integer
                                  description: 更新时间戳（秒）
                                  example: '1766567446'
                                url:
                                  type: string
                                  description: 文档链接
                                  example: https://www.feishu.cn/docs/dox-1234567890abcdef
                                owner_name:
                                  type: string
                                  description: 所有者名称
                                  example: 张三
                                owner_id:
                                  type: string
                                  description: 所有者OpenID
                                  example: ou-7890123456abcdef
                                is_cross_tenant:
                                  type: boolean
                                  description: 是否跨租户
                                  example: 'false'
                                create_time:
                                  type: integer
                                  description: 文档创建时间戳（秒）
                                  example: '1766567446'
                                last_open_time:
                                  type: integer
                                  description: 上次打开时间戳（秒）
                                  example: '1766567446'
                                edit_user_id:
                                  type: string
                                  description: 最后一次编辑用户OpenID
                                  example: ou-1122334455aabbcc
                                edit_user_name:
                                  type: string
                                  description: 最后一次编辑用户名称
                                  example: 李四
                                token:
                                  type: string
                                  description: 文档token
                                  example: dox_9876543210fedcba
                                file_type:
                                  type: string
                                  description: 文件类型
                                  example: pdf
                                icon_info:
                                  type: string
                                  description: 文档icon
                                  example: '{"type":0,"key":"","obj_type":22,"file_type":null,"token":"FM78ddvYPo11I1xN7gjcSo1Ynuh","version":10191}'
                              description: 文档搜索元信息
                              example: '{"title_highlighted":"<h>飞书文档</h>使用指南","summary_highlighted":"本文介绍<h>飞书文档</h>的创建、编辑与分享功能","entity_type":"DOC","result_meta":"{"type":SHORTCUT,"update_time":1766567613}"}'
                        description: 搜索结果列表
                      page_token:
                        type: string
                        description: 下一页分页标记，无更多结果时为空
                        example: token_1234567890fedcba
                      notice:
                        type: string
                        description: 搜索补充提示信息，返回本次搜索的额外说明，例如：query被截断；搜索结果不全
                        example: The query is too long and has been truncated to the first 50 characters for search.
                    required:
                    - has_more
                    description: 搜索结果数据
                    example: '{"total": 100, "has_more": true, "res_units": [{"title_highlighted":"<h>飞书文档</h>使用指南"}], "page_token":"token_123"}'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - search:docs:read
      x-lark-error-mappings:
      - code: 1274001
        httpCode: 400
        msg: 'invalid param: missing required fields'
      - code: 1274002
        httpCode: 400
        msg: 'invalid param: illegal enum value'
      - code: 1274011
        httpCode: 401
        msg: user_access_token is invalid or expired
      - code: 1277001
        httpCode: 429
        msg: rate limit exceeded
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: open_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.doc_filter.creator_ids[*]
        section: 0
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.doc_filter.chat_ids[*]
        section: 0
      - fromTo:
          from: open_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.doc_filter.sharer_ids[*]
        section: 0
      - fromTo:
          from: open_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.doc_filter.original_creator_ids[*]
        section: 0
      - fromTo:
          from: open_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.wiki_filter.creator_ids[*]
        section: 0
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.wiki_filter.chat_ids[*]
        section: 0
      - fromTo:
          from: open_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.wiki_filter.sharer_ids[*]
        section: 0
      - fromTo:
          from: open_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.wiki_filter.original_creator_ids[*]
        section: 0
  /open-apis/search/v2/message:
    post:
      operationId: search_message_create
      summary: 搜索消息
      tags:
      - message
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/message/create
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以 user_id 来识别用户
            union_id: 以 union_id 来识别用户
            open_id: 以 open_id 来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: 搜索关键词
                  example: 测试消息
                from_ids:
                  type: array
                  items:
                    type: string
                  description: 消息来自user_id列表
                chat_ids:
                  type: array
                  items:
                    type: string
                  description: 消息所在chat_id列表
                message_type:
                  type: string
                  description: 消息类型(file/image/media)
                  enum:
                  - file
                  - image
                  - media
                  x-enum-descriptions:
                    file: 文件
                    image: 图片
                    media: 视频
                at_chatter_ids:
                  type: array
                  items:
                    type: string
                  description: at用户user_id列表
                from_type:
                  type: string
                  description: 消息来自类型(bot/user)
                  enum:
                  - bot
                  - user
                  x-enum-descriptions:
                    bot: 机器人
                    user: 用户
                chat_type:
                  type: string
                  description: 会话类型(group_chat/p2p_chat)
                  enum:
                  - group_chat
                  - p2p_chat
                  x-enum-descriptions:
                    group_chat: 群聊
                    p2p_chat: 单聊
                start_time:
                  type: string
                  description: 消息发送起始时间
                  example: '1609296809'
                  format: int64
                end_time:
                  type: string
                  description: 消息发送结束时间
                  example: '1609296809'
                  format: int64
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: string
                        description: 消息id列表
                      page_token:
                        type: string
                        description: 翻页 token，传入返回下一页，首页不需要传入
                        example: GxmvlNRvP0NdQZpa7yIqf_Lv_QuBwTQ8tXkX7w-irAghVD_TvuYd1aoJ1LQph86O-XImC4X9j9FhUPhXQDvtrQ==
                      has_more:
                        type: boolean
                        description: 是否还有下一页
                        example: 'true'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - search:message
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1278001
        httpCode: 400
        msg: invalid param
      - code: 1278002
        httpCode: 500
        msg: Internal Server Error
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.from_ids[*]
        section: 0
      - fromTo:
          from: open_chat_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.chat_ids[*]
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.at_chatter_ids[*]
        section: 0
  /open-apis/search/v2/schemas:
    post:
      operationId: search_schema_create
      summary: 创建数据范式
      tags:
      - schema
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/schema/create
      parameters:
      - name: validate_only
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: 是否只用来校验合法性
        example: 'true'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: array
                  items:
                    $ref: '#/components/schemas/Item'
                  description: 数据范式的属性定义
                display:
                  allOf:
                  - $ref: '#/components/schemas/Display'
                  description: 数据展示相关配置
                schema_id:
                  type: string
                  description: 用户自定义数据范式的唯一标识
                  example: jira_schema
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - search:data_source
      - search:data_source:readonly
      - search:data_schemas:create
      x-lark-error-mappings:
      - code: 1270001
        httpCode: 500
        msg: internal error
      - code: 1270002
        httpCode: 400
        msg: ''
      - code: 1270003
        httpCode: 500
        msg: rpc fail
      - code: 1270005
        httpCode: 400
        msg: This is a premium feature. Please contact sales to upgrade your plan
      - code: 1274001
        httpCode: 400
        msg: ''
      - code: 1274002
        httpCode: 400
        msg: ''
      - code: 1274003
        httpCode: 400
        msg: ''
      - code: 1274004
        httpCode: 400
        msg: ''
      - code: 1274005
        httpCode: 400
        msg: ''
      - code: 1274006
        httpCode: 400
        msg: ''
      - code: 1274007
        httpCode: 400
        msg: ''
      - code: 1274009
        httpCode: 400
        msg: ''
      - code: 1274008
        httpCode: 400
        msg: ''
      - code: 1274010
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 2
  /open-apis/search/v2/schemas/{schema_id}:
    delete:
      operationId: search_schema_delete
      summary: 删除数据范式
      tags:
      - schema
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/schema/delete
      parameters:
      - name: schema_id
        in: path
        required: true
        schema:
          type: string
        description: 用户自定义数据范式的唯一标识
        example: custom_schema_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - search:data_source
      - search:data_source:readonly
      - search:data_schemas:delete
      x-lark-error-mappings:
      - code: 1270001
        httpCode: 500
        msg: internal error
      - code: 1270002
        httpCode: 400
        msg: ''
      - code: 1270003
        httpCode: 500
        msg: rpc fail
      - code: 1270005
        httpCode: 400
        msg: This is a premium feature. Please contact sales to upgrade your plan
      - code: 1273004
        httpCode: 400
        msg: record not exist
      x-lark-rate-limit:
        tier: 3
    get:
      operationId: search_schema_get
      summary: 获取数据范式
      tags:
      - schema
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/schema/get
      parameters:
      - name: schema_id
        in: path
        required: true
        schema:
          type: string
        description: 用户自定义数据范式的唯一标识
        example: custom_schema_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - search:data_source
      - search:data_source:readonly
      - search:data_schemas:readonly
      x-lark-error-mappings:
      - code: 1270001
        httpCode: 500
        msg: internal error
      - code: 1270002
        httpCode: 400
        msg: ''
      - code: 1270003
        httpCode: 500
        msg: rpc fail
      - code: 1270005
        httpCode: 400
        msg: This is a premium feature. Please contact sales to upgrade your plan
      - code: 1273004
        httpCode: 400
        msg: record not exist
      x-lark-rate-limit:
        tier: 3
    patch:
      operationId: search_schema_patch
      summary: 修改数据范式
      tags:
      - schema
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/search-v2/schema/patch
      parameters:
      - name: schema_id
        in: path
        required: true
        schema:
          type: string
        description: 用户自定义数据范式的唯一标识
        example: custom_schema_id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                display:
                  allOf:
                  - $ref: '#/components/schemas/Display'
                  description: 数据展示相关配置
                properties:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: 属性名
                        example: title
                      desc:
                        type: string
                        description: 属性描述
                        example: desc
                      answer_option:
                        type: object
                        properties:
                          is_searchable:
                            type: boolean
                            description: 是否用于搜索
                            example: 'false'
                          is_returnable:
                            type: boolean
                            description: 是否用于返回
                            example: 'false'
                        description: 问答产品设置，仅在datasource中use_answer为true时生效
                    required:
                    - name
                  description: 数据范式的属性定义
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - search:data_source
      - search:data_source:readonly
      - search:data_schemas:update
      x-lark-error-mappings:
      - code: 1270001
        httpCode: 500
        msg: internal error
      - code: 1270002
        httpCode: 400
        msg: ''
      - code: 1270005
        httpCode: 400
        msg: This is a premium feature. Please contact sales to upgrade your plan
      - code: 1273004
        httpCode: 400
        msg: record not exist
      - code: 1273005
        httpCode: 400
        msg: ''
      - code: 1274002
        httpCode: 400
        msg: ''
      - code: 1274008
        httpCode: 400
        msg: ''
      - code: 1274010
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 2
components:
  schemas:
    Item:
      type: object
      properties:
        name:
          type: string
          description: 属性名
          example: title
        type:
          type: string
          description: 属性类型
          enum:
          - text
          - int
          - tag
          - timestamp
          - double
          - tinytext
          - user_ids
          x-enum-descriptions:
            text: 长文本类型
            int: 64位整数类型
            tag: 标签类型
            timestamp: Unix 时间戳类型（单位为秒）
            double: 浮点数类型（小数）
            tinytext: 短文本类型，（utf8 编码）长度小于 140 的文本
            user_ids: 用户ID类型（数组类型）
          example: text
        is_searchable:
          type: boolean
          description: 该属性是否可用作搜索，默认为 false
          example: 'true'
        is_sortable:
          type: boolean
          description: 该属性是否可用作搜索结果排序，默认为 false。如果为 true，需要再配置 sortOptions
          example: 'false'
        is_returnable:
          type: boolean
          description: 该属性是否可用作返回字段，为 false 时，该字段不会被召回和展示。默认为 false
          example: 'true'
        sort_options:
          allOf:
          - $ref: '#/components/schemas/SortOption'
          description: 属性排序的可选配置，当 is_sortable 为 true 时，该字段为必填字段
        type_definitions:
          allOf:
          - $ref: '#/components/schemas/TypeDefinition'
          description: 相关类型数据的定义和约束
        search_options:
          type: object
          properties:
            enable_semantic_match:
              type: boolean
              description: 是否支持语义切词召回。默认不支持（推荐使用在长文本的场景）
              example: 'true'
            enable_exact_match:
              type: boolean
              description: 是否支持精确匹配。默认不支持（推荐使用在短文本、需要精确查找的场景）
              example: 'false'
            enable_prefix_match:
              type: boolean
              description: 是否支持前缀匹配（短文本的默认的分词/召回策略。前缀长度为 1-12）
              example: 'false'
            enable_number_suffix_match:
              type: boolean
              description: 是否支持数据后缀匹配。默认不支持（推荐使用在短文本、有数字后缀查找的场景。后缀长度为3-12）
              example: 'false'
            enable_camel_match:
              type: boolean
              description: 是否支持驼峰英文匹配。默认不支持（推荐使用在短文本，且包含驼峰形式英文的查找场景）
              example: 'false'
          description: 属性搜索的可选配置，当 is_searchable 为 true 时，该字段为必填参数
        is_filterable:
          type: boolean
          description: 该属性是否可用作返回字段，为 false 时，该字段不会被筛选。默认为 false
          example: 'false'
        filter_options:
          allOf:
          - $ref: '#/components/schemas/FilterOption'
          description: 属性筛选的可选配置，当 is_searchable 为 true 时，该字段为必填参数
        answer_option:
          type: object
          properties:
            is_searchable:
              type: boolean
              description: 是否用于搜索
              example: 'false'
            is_returnable:
              type: boolean
              description: 是否用于返回
              example: 'false'
          description: 问答产品设置，仅在datasource中enable_answer为true时生效
        desc:
          type: string
          description: 字段描述
          example: desc
      required:
      - name
      - type
    Schema:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data'
    Data:
      type: object
      properties:
        schema:
          allOf:
          - $ref: '#/components/schemas/Schema2'
          description: 数据范式实例
    Schema2:
      type: object
      properties:
        properties:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          description: 数据范式的属性定义
        display:
          allOf:
          - $ref: '#/components/schemas/Display'
          description: 数据展示相关配置
        schema_id:
          type: string
          description: 用户自定义数据范式的唯一标识
          example: jira_schema
      required:
      - properties
      - display
      - schema_id
      description: 数据范式实例
    DataSource:
      type: object
      properties:
        id:
          type: string
          description: 数据源的唯一标识
          example: '5577006791947779410'
          format: int64
        name:
          type: string
          description: data_source的展示名称
          example: 客服工单
        state:
          type: integer
          description: 数据源状态，0-已上线，1-未上线
          enum:
          - 0
          - 1
          x-enum-descriptions:
            '0': 已上线
            '1': 未上线
          example: '0'
        description:
          type: string
          description: 对于数据源的描述
          example: 搜索客服工单
        create_time:
          type: string
          description: 创建时间，采用 Unix 时间戳
          example: '1674309260'
        update_time:
          type: string
          description: 更新时间，采用 Unix 时间戳
          example: '1674309260'
        is_exceed_quota:
          type: boolean
          description: 是否超限
          example: 'false'
        icon_url:
          type: string
          description: 数据源在 search tab 上的展示图标路径
          example: https://s3-imfile.feishucdn.com/static-resource/v1/585fd740-f52e-4098-b864-57a32082ba1g
        template:
          type: string
          description: 数据源采用的展示模版名称
          default: search_common_card
          example: search_common_card
        searchable_fields:
          type: array
          items:
            type: string
          description: 描述哪些字段可以被搜索
          example: '["field1", "field2"]'
        i18n_name:
          type: object
          properties:
            zh_cn:
              type: string
              description: 国际化字段：中文
            en_us:
              type: string
              description: 国际化字段：英文
            ja_jp:
              type: string
              description: 国际化字段：日文
          description: 数据源的国际化展示名称
        i18n_description:
          type: object
          properties:
            zh_cn:
              type: string
              description: 国际化字段：中文
            en_us:
              type: string
              description: 国际化字段：英文
            ja_jp:
              type: string
              description: 国际化字段：日文
          description: 数据源的国际化描述
        schema_id:
          type: string
          description: 数据源关联的 schema 标识
          example: '7159054681489010384'
        app_id:
          type: string
          description: datasource对应的开放平台应用id
          example: cli_a1306bed4738d01b
        connect_type:
          type: integer
          description: 搜索请求的接入方式
          enum:
          - 0
          - 1
          x-enum-descriptions:
            '0': 调用搜索请求时，使用的是飞书搜索接口
            '1': 调用搜索请求时，使用的是自定义回调函数的Uri
          default: 0
          example: '1'
        connector_param:
          type: object
          properties:
            callback_user_id_type:
              type: integer
              description: 回调时Request里面的id类型
              enum:
              - 0
              - 1
              - 2
              - 3
              x-enum-descriptions:
                '0': 不合法
                '1': 用户在租户内的身份
                '2': 用户在应用内的身份
                '3': 用户在同一应用服务商所开发的多个应用下的统一身份
              example: '1'
            callback_endpoint:
              type: string
              description: 回调时的地址，必须为POST地址
              example: https://open.approval.cn/api/search
          description: 根据连接器类型不同所需要提供的相关参数
        enable_answer:
          type: boolean
          description: 是否使用问答服务
          example: 'false'
      required:
      - name
      description: 数据源实例
    Schema3:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          $ref: '#/components/schemas/Data2'
    Data2:
      type: object
      properties:
        data_source:
          allOf:
          - $ref: '#/components/schemas/DataSource'
          description: 数据源实例
    FilterOption:
      type: object
      properties:
        display_name:
          type: string
          description: 筛选器展示名称
          example: 创建人
        i18n_display_name:
          type: object
          properties:
            zh_cn:
              type: string
              description: 国际化字段：中文
            en_us:
              type: string
              description: 国际化字段：英文
            ja_jp:
              type: string
              description: 国际化字段：日文
          description: 筛选器展示名称国际化字段
        option_mode:
          type: string
          description: 指明该筛选器支持单选或多选，默认单选
          enum:
          - single
          - multiple
          x-enum-descriptions:
            single: 该筛选器支持单选
            multiple: 该筛选器支持多选
          default: single
          example: single
        associated_smart_filter:
          type: string
          description: 关联的综合筛选器。只有 filter_type 为"user"和"time"时可以关联。"user" -> "from"；"time" -> "date"。
          enum:
          - from
          - date
          x-enum-descriptions:
            from: 映射到综合“来自用户”筛选器
            date: 映射到综合“时间”筛选器
          example: From
        filter_type:
          type: string
          description: 筛选器类型
          enum:
          - user
          - time
          - searchable
          - predefine_enum
          x-enum-descriptions:
            user: 用户筛选器
            time: 时间筛选器
            searchable: 可搜筛选器
            predefine_enum: 预定义枚举筛选器
          example: user
        predefine_enum_values:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: 枚举值的标识。在多枚举值定义中保持唯一
                example: p0
              text:
                type: string
                description: 枚举值展示文案
                example: 最高优先级
            required:
            - name
            - text
          description: 预定义的展示枚举值。在 filter_type 为 "predefine_enum" 时必须填写
        enable_client_filter:
          type: boolean
          description: 是否开启客户端筛选器
          default: true
          example: 'true'
        reference_datasource_id:
          type: string
          description: 可搜筛选器关联的数据源标识
          example: '7264565154409461234'
      required:
      - display_name
      description: 属性筛选的可选配置，当 is_searchable 为 true 时，该字段为必填参数
    TypeDefinition:
      type: object
      properties:
        tag:
          type: array
          items:
            $ref: '#/components/schemas/Item2'
          description: 标签类型的定义
        user_ids:
          type: object
          properties:
            id_type:
              type: string
              description: 用户身份类型
              enum:
              - open_id
              - union_id
              - user_id
              x-enum-descriptions:
                open_id: 用户在应用内的身份
                union_id: 用户在同一应用服务商所开发的多个应用下的统一身份
                user_id: 用户在租户内的身份
              example: user_id
          required:
          - id_type
          description: 用户身份标识
      description: 相关类型数据的定义和约束
    Display:
      type: object
      properties:
        card_key:
          type: string
          description: 搜索数据的展示卡片
          enum:
          - search_common_card
          x-enum-descriptions:
            search_common_card: 普通 common 卡片
          example: search_common_card
        fields_mapping:
          type: array
          items:
            type: object
            properties:
              display_field:
                type: string
                description: 展示字段名称，与 card_key 有关，每个模版能展示的字段不同。该字段不能重复
                example: summary
              data_field:
                type: string
                description: 数据字段的名称。需要确保该字段对应在 schema 属性定义中的 is_returnable 为 true，否则无法展示。需要使用 ${xxx} 的规则来描述
                example: ${description}
            required:
            - display_field
            - data_field
          description: 数据字段名称和展示字段名称的映射关系。如果没有设置，则只会展示 与展示字段名称同名的 数据字段
      required:
      - card_key
      description: 数据展示相关配置
    SortOption:
      type: object
      properties:
        priority:
          type: integer
          description: 排序的优先级，可选范围为 0~4，0为最高优先级。如果优先级相同，则随机进行排序。默认为0
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          x-enum-descriptions:
            '0': 最高优先级
            '1': 次高优先级
            '2': 次次高优先级
            '3': 次低优先级
            '4': 最低优先级
          default: 0
          example: '0'
        order:
          type: string
          description: 排序的顺序。默认为 desc
          enum:
          - asc
          - desc
          x-enum-descriptions:
            asc: 升序
            desc: 降序
          default: desc
          example: asc
      description: 属性排序的可选配置，当 is_sortable 为 true 时，该字段为必填字段
    Item2:
      type: object
      properties:
        name:
          type: string
          description: tag 对应的枚举值名称
          example: status
        color:
          type: string
          description: 标签对应的颜色
          enum:
          - red
          - green
          - blue
          - grey
          - yellow
          x-enum-descriptions:
            red: 含警示性、敏感性的提示信息
            green: 表示成功、完成、完毕的提示信息
            blue: 组件架构、职能等中性信息
            grey: 中立系统提示信息（慎重使用）
            yellow: 焦点信息、推广性信息
          example: blue
        text:
          type: string
          description: 标签中展示的文本
          example: PASS
      required:
      - name
      - color
      - text
    Item3:
      type: object
      properties:
        access:
          type: string
          description: 权限类型，优先级：Deny > Allow
          enum:
          - allow
          - deny
          x-enum-descriptions:
            allow: 允许访问
            deny: 禁止访问
          example: deny
        value:
          type: string
          description: 设置的权限值，依赖 type 描述
          example: u273y71
        type:
          type: string
          description: 权限值类型
          enum:
          - user_id
          - open_id
          - union_id
          - department_id
          - open_department_id
          - group_id
          - app_group_id
          - user
          - group
          x-enum-descriptions:
            user_id: 用户在租户内的身份ID，详细说明请参考：https://open.feishu.cn/document/home/user-identity-introduction/introduction
            open_id: 用户在应用内的身份ID，详细说明请参考：https://open.feishu.cn/document/home/user-identity-introduction/introduction
            union_id: 用户在同一应用开发商提供的多个应用间的统一身份ID，详细说明请参考：https://open.feishu.cn/document/home/user-identity-introduction/introduction
            department_id: 部门在租户内的唯一ID，详细说明请参考：https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/field-overview#23857fe0
            open_department_id: 部门在应用内的唯一ID，详细说明请参考：https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/contact-v3/department/field-overview#23857fe0
            group_id: GroupID（灰度中，对部分租户开放）
            app_group_id: AppGroupID（灰度中，对部分租户开放）
            user: 同 UserID
            group: 同 GroupID
          example: user_id
