# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · security_and_compliance API（全量）
  description: |-
    飞书开放平台 `security_and_compliance` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:22:04Z'
  x-lark-project: security_and_compliance
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:22:04Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: multi_geo_entity.tenant
- name: openapi_log
- name: user_migration
- name: device_apply_record
- name: device_record
paths:
  /open-apis/security_and_compliance/v1/multi_geo_entity/tenant:
    get:
      operationId: security_and_compliance_multi_geo_entity_tenant_get
      summary: 获取地理位置列表
      tags:
      - multi_geo_entity.tenant
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v1/multi_geo_entity-tenant/get
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      tenant:
                        type: object
                        properties:
                          available_geo_locations:
                            type: array
                            items:
                              type: string
                            description: 可选多地理位置列表
                            example: '["cn", "sg", "us", "jp"]'
                        required:
                        - available_geo_locations
                        description: 多地理位置租户信息
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - security_and_compliance:multi_geo_entity.tenant:readonly
      - security_and_compliance:user_migration:multi-geo
      x-lark-error-mappings:
      - code: 1781001
        httpCode: 400
        msg: ''
      - code: 1781002
        httpCode: 403
        msg: permission denied
      - code: 1781003
        httpCode: 400
        msg: multi-geo is not enabled
      - code: 1782001
        httpCode: 500
        msg: internal service error
      x-lark-rate-limit:
        tier: 3
  /open-apis/security_and_compliance/v1/openapi_logs/list_data:
    post:
      operationId: security_and_compliance_openapi_log_list_data
      summary: 获取OpenAPI审计日志数据
      tags:
      - openapi_log
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v1/openapi_log/list_data
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                api_keys:
                  type: array
                  items:
                    type: string
                  description: 飞书开放平台定义的API
                start_time:
                  type: integer
                  description: 以秒为单位的起始时间戳
                  example: '1610613336'
                end_time:
                  type: integer
                  description: 以秒为单位的终止时间戳
                  example: '1610613336'
                app_id:
                  type: string
                  description: 在开发者后台——凭证与基础信息页面查看的app_id（cli_xxx），指调用openapi的应用
                  example: cli_xxx
                page_size:
                  type: integer
                  description: 分页大小
                  example: '20'
                page_token:
                  type: string
                  description: 分页标记，第一次请求不填，表示从头开始遍历；当返回的has_more为true时，会返回新的page_token，再次调用接口，传入这个page_token，将获得下一页数据
                  example: xxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: openapi日志唯一标识
                              example: '10000'
                              format: int64
                            api_key:
                              type: string
                              description: 飞书开放平台定义的API
                              example: POST/open-apis/demo/v1/example
                            event_time:
                              type: integer
                              description: 日志产生的时间，以秒为单位的时间戳
                              example: '1610613336'
                            app_id:
                              type: string
                              description: 在开发者后台——凭证与基础信息页面查看的app_id（cli_xxxxx）
                              example: cli_xxx
                            ip:
                              type: string
                              description: 发起调用api的ip地址
                              example: 192.123.12.1或fdbd:ff1:ce00:135:c7e:d128:5028:6546
                            log_detail:
                              type: object
                              properties:
                                path:
                                  type: string
                                  description: http请求路径
                                  example: /open-apis/demo/v1/example
                                method:
                                  type: string
                                  description: http请求方法
                                  example: POST
                                query_param:
                                  type: string
                                  description: http查询参数
                                  example: '{}'
                                payload:
                                  type: string
                                  description: http请求体
                                  example: '{\"param1\": \"val1\", \"param2\": \"val2\"}'
                                status_code:
                                  type: integer
                                  description: http状态码
                                  example: '0'
                                response:
                                  type: string
                                  description: http响应体，仅返回code，msg，error信息等
                                  example: '{\"code\": 0, \"msg\": \"ok\"}'
                              description: openapi调用日志详情
                          required:
                          - id
                          - api_key
                        description: openapi日志列表
                      page_token:
                        type: string
                        description: 分页标记
                        example: xxxx
                      has_more:
                        type: boolean
                        description: 是否有更多数据
                        example: 'false'
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - security_and_compliance:audit_log.openapi_log:readonly
      x-lark-error-mappings:
      - code: 1780001
        httpCode: 500
        msg: Internal Server Error
      - code: 1780103
        httpCode: 400
        msg: Request Param Error
      x-lark-rate-limit:
        tier: 3
  /open-apis/security_and_compliance/v1/user_migrations/cancel:
    post:
      operationId: security_and_compliance_user_migration_cancel
      summary: 取消用户迁移
      tags:
      - user_migration
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v1/user_migration/cancel
      parameters:
      - name: user_id_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来标识用户
            union_id: 以union_id来标识用户
            open_id: 以open_id来标识用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户 ID 的类型
        example: user_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 取消迁移用户 id 列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - security_and_compliance:user_migration
      - security_and_compliance:user_migration:multi-geo
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1781001
        httpCode: 400
        msg: ''
      - code: 1781002
        httpCode: 403
        msg: permission denied
      - code: 1781003
        httpCode: 400
        msg: multi-geo is not enabled for this tenant
      - code: 1782001
        httpCode: 500
        msg: internal service error
      - code: 1782002
        httpCode: 500
        msg: ''
      - code: 1783001
        httpCode: 500
        msg: ''
      - code: 1782004
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 1
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_ids[*]
        section: 0
  /open-apis/security_and_compliance/v1/user_migrations:
    post:
      operationId: security_and_compliance_user_migration_create
      summary: 迁移用户
      tags:
      - user_migration
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v1/user_migration/create
      parameters:
      - name: user_id_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来标识用户
            union_id: 以union_id来标识用户
            open_id: 以open_id来标识用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户 ID 的类型
        example: user_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 迁移用户 id 列表
                dest_geo:
                  type: string
                  description: 迁移目标地理位置区域
                  example: sg
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      user_migrations:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: string
                              description: 用户 id
                              format: int64
                            dest_geo:
                              type: string
                              description: 目标地理位置区域
                            task_id:
                              type: string
                              description: 最新迁移任务 id
                            status:
                              type: string
                              description: 用户迁移状态
                              enum:
                              - '0'
                              - '1'
                              - '2'
                              x-enum-descriptions:
                                '0': 进行中
                                '1': 已完成
                                '2': 已取消
                            progress:
                              type: integer
                              description: 用户迁移进度
                        description: 用户迁移列表
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - security_and_compliance:user_migration
      - security_and_compliance:user_migration:multi-geo
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1781001
        httpCode: 400
        msg: ''
      - code: 1781002
        httpCode: 403
        msg: permission denied
      - code: 1781003
        httpCode: 400
        msg: multi-geo is not enabled for this tenant
      - code: 1781004
        httpCode: 400
        msg: dest geo region is not available
      - code: 1781005
        httpCode: 400
        msg: ''
      - code: 1781006
        httpCode: 400
        msg: ''
      - code: 1782001
        httpCode: 500
        msg: internal service error
      - code: 1782004
        httpCode: 500
        msg: ''
      - code: 1782005
        httpCode: 400
        msg: 'Request failed. The number of users to be migrated exceeds the seat limit of the data residency service. '
      x-lark-rate-limit:
        tier: 1
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_ids[*]
        section: 0
  /open-apis/security_and_compliance/v1/user_migrations/{user_id}:
    get:
      operationId: security_and_compliance_user_migration_get
      summary: 获取单个用户迁移状态
      tags:
      - user_migration
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v1/user_migration/get
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 用户 id
        example: '7064408494200487938'
      - name: user_id_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来标识用户
            union_id: 以union_id来标识用户
            open_id: 以open_id来标识用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 用户 id 类型
        example: user_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      user_migration:
                        type: object
                        properties:
                          user_id:
                            type: string
                            description: 用户 id
                            format: int64
                          dest_geo:
                            type: string
                            description: 目标地理位置区域
                          task_id:
                            type: string
                            description: 最新迁移任务 id
                          status:
                            type: string
                            description: 用户迁移状态
                            enum:
                            - '0'
                            - '1'
                            - '2'
                            x-enum-descriptions:
                              '0': 进行中
                              '1': 已完成
                              '2': 已取消
                          progress:
                            type: integer
                            description: 用户迁移进度
                        description: 用户迁移
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - security_and_compliance:user_migration:readonly
      - security_and_compliance:user_migration
      - security_and_compliance:user_migration:multi-geo
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1781001
        httpCode: 400
        msg: ''
      - code: 1781002
        httpCode: 403
        msg: permission denied, see https://www.feishu.cn/hc/zh-CN/articles/360043495213
      - code: 1782001
        httpCode: 500
        msg: internal service error
      - code: 1782002
        httpCode: 500
        msg: user migration does not exist
      - code: 1781003
        httpCode: 400
        msg: multi-geo is not enabled
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_id
        section: 3
  /open-apis/security_and_compliance/v1/user_migrations/search:
    post:
      operationId: security_and_compliance_user_migration_search
      summary: 批量获取用户迁移状态
      tags:
      - user_migration
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v1/user_migration/search
      parameters:
      - name: user_id_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来标识用户
            union_id: 以union_id来标识用户
            open_id: 以open_id来标识用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户 ID 的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                  description: 用户 id 列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: string
                              description: 用户 id
                              format: int64
                            dest_geo:
                              type: string
                              description: 目标地理位置区域
                            task_id:
                              type: string
                              description: 最新迁移任务 id
                            status:
                              type: string
                              description: 用户迁移状态
                              enum:
                              - '0'
                              - '1'
                              - '2'
                              x-enum-descriptions:
                                '0': 进行中
                                '1': 已完成
                                '2': 已取消
                            progress:
                              type: integer
                              description: 用户迁移进度
                        description: 用户迁移列表
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - security_and_compliance:user_migration:readonly
      - security_and_compliance:user_migration
      - security_and_compliance:user_migration:multi-geo
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1781001
        httpCode: 400
        msg: ''
      - code: 1781002
        httpCode: 403
        msg: permission denied, see https://www.feishu.cn/hc/zh-CN/articles/360043495213
      - code: 1781003
        httpCode: 400
        msg: multi-geo is not enabled for this tenant
      - code: 1782001
        httpCode: 500
        msg: internal service error
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_ids[*]
        section: 0
  /open-apis/security_and_compliance/v2/device_apply_records/{device_apply_record_id}:
    put:
      operationId: security_and_compliance_device_apply_record_update
      summary: 审批设备申报
      tags:
      - device_apply_record
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v2/device_apply_record/update
      parameters:
      - name: device_apply_record_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 设备申报记录ID
        example: '7088763625288187923'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_approved:
                  type: boolean
                  description: 是否审批通过
                  example: 'true'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - security_and_compliance:device_apply_record:write
      x-lark-error-mappings:
      - code: 1780001
        httpCode: 500
        msg: Internal server error.
      - code: 1780101
        httpCode: 400
        msg: Request param error.
      - code: 1780102
        httpCode: 400
        msg: The API is in beta testing. Please contact customer support to request beta access.
      - code: 1785008
        httpCode: 400
        msg: The device is not found. Please check the parameter device_record_id.
      - code: 1785009
        httpCode: 400
        msg: The application record is not found. Please check the parameter device_apply_record_id.
      x-lark-rate-limit:
        tier: 7
  /open-apis/security_and_compliance/v2/device_records:
    post:
      operationId: security_and_compliance_device_record_create
      summary: 新增设备
      tags:
      - device_record
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v2/device_record/create
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                device_system:
                  type: integer
                  description: 操作系统
                  enum:
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
                  - 6
                  x-enum-descriptions:
                    '1': Windows
                    '2': macOS
                    '3': Linux
                    '4': Android
                    '5': iOS
                    '6': OpenHarmony
                  example: '0'
                device_ownership:
                  type: integer
                  description: 设备归属
                  enum:
                  - 0
                  - 1
                  - 2
                  x-enum-descriptions:
                    '0': 未知设备
                    '1': 个人设备
                    '2': 企业设备
                  example: '0'
                device_status:
                  type: integer
                  description: 可信状态
                  enum:
                  - 0
                  - 1
                  - 2
                  x-enum-descriptions:
                    '0': 未知状态
                    '1': 信任设备
                    '2': 非信任设备
                  example: '0'
                is_public:
                  type: boolean
                  description: 是否为公共设备
                serial_number:
                  type: string
                  description: 生产序列号
                  example: C02DTHRMML7H
                disk_serial_number:
                  type: string
                  description: 硬盘序列号
                  example: CC344362-5990-5A68-8DDD-64A23C99FA0C
                uuid:
                  type: string
                  description: 主板UUID
                  example: 621CDFF0-13D0-5AB1-9ADC-5F560095F6ED
                mac_address:
                  type: string
                  description: MAC地址
                  example: ac:de:48:00:11:21
                android_id:
                  type: string
                  description: Android标识符
                  example: 02a11ac4a83b918e
                idfv:
                  type: string
                  description: iOS供应商标识符
                  example: 968F0E5C-C297-4122-ACB6-102494DEFD9A
                aaid:
                  type: string
                  description: Harmony供应商标识符
                  example: ff3c2237-cd76-4331-9d72-0a4470854567
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      device_record_id:
                        type: string
                        description: 设备认证编码
                        example: '7089353870308032531'
                        format: int64
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - security_and_compliance:device_record:write
      x-lark-error-mappings:
      - code: 1780001
        httpCode: 500
        msg: Internal server error.
      - code: 1780101
        httpCode: 400
        msg: Request param error.
      - code: 1780102
        httpCode: 400
        msg: The API is in beta testing. Please contact customer support to request beta access.
      - code: 1785005
        httpCode: 400
        msg: The device information corresponding to the operating system is invalid. Please check the device information
          in the request.
      - code: 1785007
        httpCode: 400
        msg: The parameter device_system is invalid.
      - code: 1785010
        httpCode: 400
        msg: The device already exists.
      x-lark-rate-limit:
        tier: 7
    get:
      operationId: security_and_compliance_device_record_list
      summary: 查询设备信息
      tags:
      - device_record
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v2/device_record/list
      parameters:
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
          default: 100
        description: 分页大小
        example: '100'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页游标
        example: '7394463407091023892'
      - name: device_record_id
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 设备认证编码
        example: '7089353870308032531'
      - name: current_user_id
        in: query
        required: false
        schema:
          type: string
        description: 当前登录用户ID
        example: ou_b25e90585ef8c1adac4b379c2e257906
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: 以open_id来识别用户
            union_id: 以union_id来识别用户
            user_id: 以user_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
        example: open_id
      - name: device_name
        in: query
        required: false
        schema:
          type: string
        description: 设备名称
        example: Q9C6RYMFDK
      - name: serial_number
        in: query
        required: false
        schema:
          type: string
        description: 生产序列号
        example: C02DTHRMML7H
      - name: disk_serial_number
        in: query
        required: false
        schema:
          type: string
        description: 硬盘序列号
        example: CC344362-5990-5A68-8DDD-64A23C99FA0C
      - name: mac_address
        in: query
        required: false
        schema:
          type: string
        description: MAC地址
        example: ac:de:48:00:11:21
      - name: android_id
        in: query
        required: false
        schema:
          type: string
        description: Android标识符
        example: 02a11ac4a83b918e
      - name: uuid
        in: query
        required: false
        schema:
          type: string
        description: 主板UUID
        example: 4C4C4544-0052-5A10-804E-B6C04F324433
      - name: idfv
        in: query
        required: false
        schema:
          type: string
        description: iOS供应商标识符
        example: 968F0E5C-C297-4122-ACB6-102494DEFD9A
      - name: aaid
        in: query
        required: false
        schema:
          type: string
        description: Harmony供应商标识符
        example: ff3c2237-cd76-4331-9d72-0a4470854567
      - name: device_ownership
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          x-enum-descriptions:
            '0': 未知设备
            '1': 个人设备
            '2': 企业设备
        description: 设备归属
        example: '0'
      - name: device_status
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          x-enum-descriptions:
            '0': 未知状态
            '1': 信任设备
            '2': 非信任设备
        description: 可信状态
        example: '0'
      - name: device_terminal_type
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          x-enum-descriptions:
            '0': 未知
            '1': 移动端
            '2': 桌面端
        description: 设备类型
        example: '0'
      - name: os
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          x-enum-descriptions:
            '0': 未知
            '1': Windows
            '2': macOS
            '3': Linux
            '4': Android
            '5': iOS
            '6': 鸿蒙
        description: 设备操作系统
        example: '0'
      - name: latest_user_id
        in: query
        required: false
        schema:
          type: string
        description: 最近登录用户ID
        example: ou_b25e90585ef8c1adac4b379c2e257906
      - name: did
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 设备指纹
        example: '7089353870308032531'
      - name: is_managed
        in: query
        required: false
        schema:
          type: boolean
        description: 是否为受管控设备
      - name: mdm_device_id
        in: query
        required: false
        schema:
          type: string
        description: MDM设备ID
        example: 123abc
      - name: mdm_provider_name
        in: query
        required: false
        schema:
          type: string
        description: MDM厂商名称
        example: Workspace_ONE
      - name: lsa_client_status
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 1
          - 2
          x-enum-descriptions:
            '1': 已绑定
            '2': 未绑定
        description: 终端管控客户端状态
        example: '1'
      - name: device_env_detect_status
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          x-enum-descriptions:
            '0': 未知
            '1': 安全
            '2': 不安全
        description: 设备环境检测状态
        example: '0'
      - name: is_public
        in: query
        required: false
        schema:
          type: boolean
        description: 是否为公共设备
      - name: source
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          x-enum-descriptions:
            '0': 未知
            '1': 预注册
            '2': 系统注册
        description: 注册方式
      - name: cert_serial_number
        in: query
        required: false
        schema:
          type: string
        description: 证书序列号
        example: '140112030923876027756448774661898183576236633676'
      - name: cert_issuer
        in: query
        required: false
        schema:
          type: string
        description: 证书颁发人
        example: Root-CA
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            device_record_id:
                              type: string
                              description: 设备认证编码
                              example: '7089353870308032531'
                              format: int64
                            version:
                              type: string
                              description: 版本号
                              example: '0'
                              format: int64
                            current_user_id:
                              type: string
                              description: 当前登录用户ID
                              example: ou_b25e90585ef8c1adac4b379c2e257906
                            device_name:
                              type: string
                              description: 设备名称
                              example: Q9C6RYMFDK
                            model:
                              type: string
                              description: 设备型号
                              example: iPhone13,2
                            device_system:
                              type: integer
                              description: 操作系统
                              enum:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              x-enum-descriptions:
                                '1': Windows
                                '2': macOS
                                '3': Linux
                                '4': Android
                                '5': iOS
                                '6': OpenHarmony
                              example: '0'
                            serial_number:
                              type: string
                              description: 生产序列号
                              example: C02DTHRMML7H
                            disk_serial_number:
                              type: string
                              description: 硬盘序列号
                              example: CC344362-5990-5A68-8DDD-64A23C99FA0C
                            uuid:
                              type: string
                              description: 主板UUID
                              example: 621CDFF0-13D0-5AB1-9ADC-5F560095F6ED
                            mac_address:
                              type: string
                              description: MAC地址
                              example: ac:de:48:00:11:21
                            android_id:
                              type: string
                              description: Android标识符
                              example: 02a11ac4a83b918e
                            idfv:
                              type: string
                              description: iOS供应商标识符
                              example: 968F0E5C-C297-4122-ACB6-102494DEFD9A
                            aaid:
                              type: string
                              description: Harmony供应商标识符
                              example: ff3c2237-cd76-4331-9d72-0a4470854567
                            device_ownership:
                              type: integer
                              description: 设备归属
                              enum:
                              - 0
                              - 1
                              - 2
                              x-enum-descriptions:
                                '0': 未知设备
                                '1': 个人设备
                                '2': 企业设备
                              example: '0'
                            device_status:
                              type: integer
                              description: 可信状态
                              enum:
                              - 0
                              - 1
                              - 2
                              x-enum-descriptions:
                                '0': 未知状态
                                '1': 信任设备
                                '2': 非信任设备
                              example: '0'
                            certification_level:
                              type: integer
                              description: 认证方式
                              enum:
                              - 0
                              - 1
                              - 2
                              x-enum-descriptions:
                                '0': 未知
                                '1': 飞书认证
                                '2': 终端管理认证
                              example: '0'
                            device_terminal_type:
                              type: integer
                              description: 设备类型
                              enum:
                              - 0
                              - 1
                              - 2
                              x-enum-descriptions:
                                '0': 未知
                                '1': 移动端
                                '2': 桌面端
                              example: '0'
                            latest_user_id:
                              type: string
                              description: 最近登录用户ID
                              example: ou_b25e90585ef8c1adac4b379c2e257906
                            dids:
                              type: array
                              items:
                                type: string
                              description: 设备指纹列表
                            is_managed:
                              type: boolean
                              description: 是否为受管控设备
                            mdm_device_id:
                              type: string
                              description: MDM设备ID
                              example: 123abc
                            mdm_provider_name:
                              type: string
                              description: MDM厂商名称
                              example: Workspace_ONE
                            lsa_info:
                              type: string
                              description: 终端管控客户端（包含 lsaclientid、在线状态、绑定时间、最近在线时间、版本号）
                              example: 7522053803906960914,离线,2025/07/09 13:42:42 UTC,2025/07/18 05:09:21 UTC,v1.2.1
                            device_env_info:
                              type: string
                              description: 设备环境检测（状态，应用名称、应用状态、上报时间）
                              example: 安全;飞连,已安装,正在运行,2025/12/11 12:00:00;lsa,已安装,未运行,2025/12/11 12:00:00
                            created_at:
                              type: integer
                              description: 注册时间
                              example: '1767172154'
                            updated_at:
                              type: integer
                              description: 更新时间
                              example: '1767172154'
                            is_public:
                              type: boolean
                              description: 是否为公共设备
                              default: false
                              example: 'false'
                            source:
                              type: integer
                              description: 注册方式
                              enum:
                              - 0
                              - 1
                              - 2
                              x-enum-descriptions:
                                '0': 未知
                                '1': 预注册
                                '2': 系统注册
                              default: 0
                              example: '0'
                            cert_verified_at_unix:
                              type: string
                              description: 证书认证时间
                              example: '1772344920000'
                              format: int64
                            cert_serial_number:
                              type: string
                              description: 证书序列号
                              example: '140112030923876027756448774661898183576236633676'
                            cert_issuer:
                              type: string
                              description: 证书颁发者
                              example: Root-CA
                          required:
                          - device_record_id
                          - version
                          - device_system
                          - device_ownership
                          - device_status
                          - certification_level
                          - device_terminal_type
                        description: 设备列表
                      page_token:
                        type: string
                        description: 分页游标
                        example: '7394463407091023892'
                      has_more:
                        type: boolean
                        description: 是否存在更多结果
                        example: 'true'
                    required:
                    - page_token
                    - has_more
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - security_and_compliance:device_record:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1780001
        httpCode: 500
        msg: Internal server error.
      - code: 1780101
        httpCode: 400
        msg: Request param error.
      - code: 1780102
        httpCode: 400
        msg: The API is in beta testing. Please contact customer support to request beta access.
      x-lark-rate-limit:
        tier: 7
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: current_user_id
        section: 2
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: latest_user_id
        section: 2
  /open-apis/security_and_compliance/v2/device_records/{device_record_id}:
    delete:
      operationId: security_and_compliance_device_record_delete
      summary: 删除设备
      tags:
      - device_record
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v2/device_record/delete
      parameters:
      - name: device_record_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 设备认证编码
        example: '7089353870308032531'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - security_and_compliance:device_record:write
      x-lark-error-mappings:
      - code: 1780001
        httpCode: 500
        msg: Internal server error.
      - code: 1780101
        httpCode: 400
        msg: Request param error.
      - code: 1780102
        httpCode: 400
        msg: The API is in beta testing. Please contact customer support to request beta access.
      - code: 1785008
        httpCode: 400
        msg: The device is not found. Please check the parameter device_record_id.
      x-lark-rate-limit:
        tier: 7
    get:
      operationId: security_and_compliance_device_record_get
      summary: 获取设备信息
      tags:
      - device_record
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v2/device_record/get
      parameters:
      - name: device_record_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 设备认证编码
        example: '7089353870308032531'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      device_record:
                        type: object
                        properties:
                          device_record_id:
                            type: string
                            description: 设备认证编码
                            example: '7089353870308032531'
                            format: int64
                          version:
                            type: string
                            description: 版本号
                            example: '0'
                            format: int64
                          current_user_id:
                            type: string
                            description: 当前登录用户ID
                            example: ou_b25e90585ef8c1adac4b379c2e257906
                          device_name:
                            type: string
                            description: 设备名称
                            example: Q9C6RYMFDK
                          model:
                            type: string
                            description: 设备型号
                            example: iPhone13,2
                          device_system:
                            type: integer
                            description: 操作系统
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            x-enum-descriptions:
                              '1': Windows
                              '2': macOS
                              '3': Linux
                              '4': Android
                              '5': iOS
                              '6': OpenHarmony
                            example: '0'
                          serial_number:
                            type: string
                            description: 生产序列号
                            example: C02DTHRMML7H
                          disk_serial_number:
                            type: string
                            description: 硬盘序列号
                            example: CC344362-5990-5A68-8DDD-64A23C99FA0C
                          uuid:
                            type: string
                            description: 主板UUID
                            example: 621CDFF0-13D0-5AB1-9ADC-5F560095F6ED
                          mac_address:
                            type: string
                            description: MAC地址
                            example: ac:de:48:00:11:21
                          android_id:
                            type: string
                            description: Android标识符
                            example: 02a11ac4a83b918e
                          idfv:
                            type: string
                            description: iOS供应商标识符
                            example: 968F0E5C-C297-4122-ACB6-102494DEFD9A
                          aaid:
                            type: string
                            description: Harmony供应商标识符
                            example: ff3c2237-cd76-4331-9d72-0a4470854567
                          device_ownership:
                            type: integer
                            description: 设备归属
                            enum:
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '0': 未知设备
                              '1': 个人设备
                              '2': 企业设备
                            example: '0'
                          device_status:
                            type: integer
                            description: 可信状态
                            enum:
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '0': 未知状态
                              '1': 信任设备
                              '2': 非信任设备
                            example: '0'
                          certification_level:
                            type: integer
                            description: 认证方式
                            enum:
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '0': 未知
                              '1': 飞书认证
                              '2': 终端管理认证
                            example: '0'
                          device_terminal_type:
                            type: integer
                            description: 设备类型
                            enum:
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '0': 未知
                              '1': 移动端
                              '2': 桌面端
                            example: '0'
                          latest_user_id:
                            type: string
                            description: 最近登录用户ID
                            example: ou_b25e90585ef8c1adac4b379c2e257906
                          dids:
                            type: array
                            items:
                              type: string
                            description: 设备指纹列表
                          is_managed:
                            type: boolean
                            description: 是否为受管控设备
                          mdm_device_id:
                            type: string
                            description: MDM设备ID
                            example: 123abc
                          mdm_provider_name:
                            type: string
                            description: MDM厂商名称
                            example: Workspace_ONE
                          lsa_info:
                            type: string
                            description: 终端管控客户端（包含 lsaclientid、在线状态、绑定时间、最近在线时间、版本号）
                            example: 7522053803906960914,离线,2025/07/09 13:42:42 UTC,2025/07/18 05:09:21 UTC,v1.2.1
                          device_env_info:
                            type: string
                            description: 设备环境检测（状态，应用名称、应用状态、上报时间）
                            example: 安全;飞连,已安装,正在运行,2025/12/11 12:00:00;lsa,已安装,未运行,2025/12/11 12:00:00
                          created_at:
                            type: integer
                            description: 注册时间
                            example: '1767172154'
                          updated_at:
                            type: integer
                            description: 更新时间
                            example: '1767172154'
                          is_public:
                            type: boolean
                            description: 是否为公共设备
                            default: false
                            example: 'false'
                          source:
                            type: integer
                            description: 注册方式
                            enum:
                            - 0
                            - 1
                            - 2
                            x-enum-descriptions:
                              '0': 未知
                              '1': 预注册
                              '2': 系统注册
                            default: 0
                            example: '0'
                          cert_verified_at_unix:
                            type: string
                            description: 证书认证时间
                            example: '1772344920000'
                            format: int64
                          cert_serial_number:
                            type: string
                            description: 证书序列号
                            example: '140112030923876027756448774661898183576236633676'
                          cert_issuer:
                            type: string
                            description: 证书颁发者
                            example: Root-CA
                        required:
                        - device_record_id
                        - version
                        - device_system
                        - device_ownership
                        - device_status
                        - certification_level
                        - device_terminal_type
                        description: 设备记录
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - security_and_compliance:device_record:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1780001
        httpCode: 500
        msg: Internal server error.
      - code: 1780101
        httpCode: 400
        msg: Request param error.
      - code: 1780102
        httpCode: 400
        msg: The API is in beta testing. Please contact customer support to request beta access.
      - code: 1785008
        httpCode: 400
        msg: The device is not found. Please check the parameter device_record_id.
      x-lark-rate-limit:
        tier: 9
    put:
      operationId: security_and_compliance_device_record_update
      summary: 更新设备
      tags:
      - device_record
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v2/device_record/update
      parameters:
      - name: device_record_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 设备认证编码
        example: '7089353870308032531'
      - name: version
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 版本号
        example: '0'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                device_ownership:
                  type: integer
                  description: 设备归属
                  enum:
                  - 0
                  - 1
                  - 2
                  x-enum-descriptions:
                    '0': 未知设备
                    '1': 个人设备
                    '2': 企业设备
                  example: '0'
                device_status:
                  type: integer
                  description: 可信状态
                  enum:
                  - 0
                  - 1
                  - 2
                  x-enum-descriptions:
                    '0': 未知状态
                    '1': 信任设备
                    '2': 非信任设备
                  example: '0'
                is_public:
                  type: boolean
                  description: 是否为公共设备
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - security_and_compliance:device_record:write
      x-lark-error-mappings:
      - code: 1780001
        httpCode: 500
        msg: Internal server error.
      - code: 1780101
        httpCode: 400
        msg: Request param error.
      - code: 1780102
        httpCode: 400
        msg: The API is in beta testing. Please contact customer support to request beta access.
      - code: 1785008
        httpCode: 400
        msg: The device is not found. Please check the parameter device_record_id and version.
      x-lark-rate-limit:
        tier: 7
  /open-apis/security_and_compliance/v2/device_records/mine:
    get:
      operationId: security_and_compliance_device_record_mine
      summary: 获取客户端设备认证信息
      tags:
      - device_record
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/security_and_compliance-v2/device_record/mine
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      device_record_id:
                        type: string
                        description: 设备认证编码
                        example: '7089353870308032531'
                        format: int64
                      device_ownership:
                        type: integer
                        description: 设备归属
                        enum:
                        - 0
                        - 1
                        - 2
                        x-enum-descriptions:
                          '0': 未知设备
                          '1': 个人设备
                          '2': 企业设备
                        example: '0'
                      device_status:
                        type: integer
                        description: 可信状态
                        enum:
                        - 0
                        - 1
                        - 2
                        x-enum-descriptions:
                          '0': 未知状态
                          '1': 信任设备
                          '2': 非信任设备
                        example: '0'
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - security_and_compliance:device_record:read
      x-lark-error-mappings:
      - code: 1780001
        httpCode: 500
        msg: Internal server error.
      - code: 1780101
        httpCode: 400
        msg: Request param error.
      - code: 1780102
        httpCode: 400
        msg: The API is in beta testing. Please contact customer support to request beta access.
      - code: 1785011
        httpCode: 400
        msg: The current user identity has not completed device authentication.
      - code: 1785012
        httpCode: 400
        msg: The third-party device integration is not enabled.
      x-lark-rate-limit:
        tier: 9
