# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · sheets API（全量）
  description: |-
    飞书开放平台 `sheets` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: sheets
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: spreadsheet.sheet.filter
- name: spreadsheet.sheet.filter_view.condition
- name: spreadsheet.sheet.filter_view
- name: spreadsheet.sheet.float_image
- name: spreadsheet.sheet
- name: spreadsheet
paths:
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/filter:
    post:
      operationId: sheets_spreadsheet_sheet_filter_create
      summary: 创建筛选
      tags:
      - spreadsheet.sheet.filter
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/create
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                range:
                  type: string
                  description: 筛选应用范围
                col:
                  type: string
                  description: 设置筛选条件的列
                condition:
                  type: object
                  properties:
                    filter_type:
                      type: string
                      description: 筛选类型
                    compare_type:
                      type: string
                      description: 比较类型
                    expected:
                      type: array
                      items:
                        type: string
                      description: 筛选参数
                  required:
                  - filter_type
                  description: 筛选的条件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1310234
        httpCode: 200
        msg: Marshal Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1310236
        httpCode: 400
        msg: Wrong Filter Value
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310206
        httpCode: 400
        msg: Empty Sheet Id
      - code: 1310229
        httpCode: 400
        msg: ''
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310203
        httpCode: 400
        msg: Fail
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310236
        httpCode: 400
        msg: Wrong Filter Value
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 2
    delete:
      operationId: sheets_spreadsheet_sheet_filter_delete
      summary: 删除筛选
      tags:
      - spreadsheet.sheet.filter
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/delete
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310206
        httpCode: 400
        msg: Empty Sheet Id
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310249
        httpCode: 400
        msg: ''
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310236
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
    get:
      operationId: sheets_spreadsheet_sheet_filter_get
      summary: 获取筛选
      tags:
      - spreadsheet.sheet.filter
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/get
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      sheet_filter_info:
                        type: object
                        properties:
                          range:
                            type: string
                            description: 筛选应用范围
                          filtered_out_rows:
                            type: array
                            items:
                              type: integer
                            description: 筛选出来的行
                          filter_infos:
                            type: array
                            items:
                              type: object
                              properties:
                                col:
                                  type: string
                                  description: 设置了筛选条件的列
                                conditions:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      filter_type:
                                        type: string
                                        description: 筛选类型
                                      compare_type:
                                        type: string
                                        description: 比较类型
                                      expected:
                                        type: array
                                        items:
                                          type: string
                                        description: 筛选参数
                                    required:
                                    - filter_type
                                  description: 筛选条件
                              required:
                              - col
                              - conditions
                            description: sheet的筛选条件
                        required:
                        - range
                        - filtered_out_rows
                        - filter_infos
                        description: 筛选信息
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - sheets:spreadsheet:read
      x-lark-error-mappings:
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310226
        httpCode: 400
        msg: ''
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
    put:
      operationId: sheets_spreadsheet_sheet_filter_update
      summary: 更新筛选
      tags:
      - spreadsheet.sheet.filter
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter/update
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                col:
                  type: string
                  description: 更新筛选条件的列
                condition:
                  type: object
                  properties:
                    filter_type:
                      type: string
                      description: 筛选类型
                    compare_type:
                      type: string
                      description: 比较类型
                    expected:
                      type: array
                      items:
                        type: string
                      description: 筛选参数
                  required:
                  - filter_type
                  description: 筛选条件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1310234
        httpCode: 200
        msg: Marshal Error
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1310226
        httpCode: 400
        msg: Excess Limit
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310206
        httpCode: 400
        msg: Empty Sheet Id
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310236
        httpCode: 400
        msg: Wrong Filter Value
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 2
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/filter_views/{filter_view_id}/conditions:
    post:
      operationId: sheets_spreadsheet_sheet_filter_view_condition_create
      summary: 创建筛选条件
      tags:
      - spreadsheet.sheet.filter_view.condition
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter_view-condition/create
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
        description: 筛选视图 id
        example: pH9hbVcCXA
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                condition_id:
                  type: string
                  description: 设置筛选条件的列，使用字母号
                filter_type:
                  type: string
                  description: 筛选类型
                compare_type:
                  type: string
                  description: 比较类型
                expected:
                  type: array
                  items:
                    type: string
                  description: 筛选参数
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      condition:
                        type: object
                        properties:
                          condition_id:
                            type: string
                            description: 设置筛选条件的列，使用字母号
                          filter_type:
                            type: string
                            description: 筛选类型
                          compare_type:
                            type: string
                            description: 比较类型
                          expected:
                            type: array
                            items:
                              type: string
                            description: 筛选参数
                        description: 创建的筛选条件
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive
      - sheets:spreadsheet
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310237
        httpCode: 400
        msg: Wrong Filter View Id
      - code: 1310236
        httpCode: 400
        msg: Wrong Filter Value
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310204
        httpCode: 400
        msg: Wrong Request Body
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310223
        httpCode: 400
        msg: Col Id Not Found
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310232
        httpCode: 400
        msg: Wrong Style
      - code: 1310249
        httpCode: 400
        msg: ''
      - code: 1310251
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  ? /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/filter_views/{filter_view_id}/conditions/{condition_id}
  : delete:
      operationId: sheets_spreadsheet_sheet_filter_view_condition_delete
      summary: 删除筛选条件
      tags:
      - spreadsheet.sheet.filter_view.condition
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter_view-condition/delete
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: XUMasQlMYhOnMbt5htXc96h0nOg
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
        description: 筛选视图 id
        example: pH9hbVcCXA
      - name: condition_id
        in: path
        required: true
        schema:
          type: string
        description: 筛选范围内的某列字母号
        example: E
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310237
        httpCode: 400
        msg: Wrong Filter View Id
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310223
        httpCode: 400
        msg: Col Id Not Found
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
    get:
      operationId: sheets_spreadsheet_sheet_filter_view_condition_get
      summary: 获取筛选条件
      tags:
      - spreadsheet.sheet.filter_view.condition
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter_view-condition/get
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: XUMasQlMYhOnMbt5htXc96h0nOg
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
        description: 筛选视图 id
        example: pH9hbVcCXA
      - name: condition_id
        in: path
        required: true
        schema:
          type: string
        description: 需要查询筛选条件的列字母号
        example: E
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      condition:
                        type: object
                        properties:
                          condition_id:
                            type: string
                            description: 设置筛选条件的列，使用字母号
                          filter_type:
                            type: string
                            description: 筛选类型
                          compare_type:
                            type: string
                            description: 比较类型
                          expected:
                            type: array
                            items:
                              type: string
                            description: 筛选参数
                        description: 筛选的条件
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet:read
      x-lark-error-mappings:
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310237
        httpCode: 400
        msg: Wrong Filter View Id
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310223
        httpCode: 400
        msg: Col Id Not Found
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
    put:
      operationId: sheets_spreadsheet_sheet_filter_view_condition_update
      summary: 更新筛选条件
      tags:
      - spreadsheet.sheet.filter_view.condition
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter_view-condition/update
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: XUMasQlMYhOnMbt5htXc96h0nOg
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
        description: 筛选视图 id
        example: pH9hbVcCXA
      - name: condition_id
        in: path
        required: true
        schema:
          type: string
        description: 列字母号
        example: E
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filter_type:
                  type: string
                  description: 筛选类型
                compare_type:
                  type: string
                  description: 比较类型
                expected:
                  type: array
                  items:
                    type: string
                  description: 筛选参数
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      condition:
                        type: object
                        properties:
                          condition_id:
                            type: string
                            description: 设置筛选条件的列，使用字母号
                          filter_type:
                            type: string
                            description: 筛选类型
                          compare_type:
                            type: string
                            description: 比较类型
                          expected:
                            type: array
                            items:
                              type: string
                            description: 筛选参数
                        description: 更新后的筛选条件
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310232
        httpCode: 400
        msg: Wrong Style
      - code: 1310236
        httpCode: 400
        msg: Wrong Filter Value
      - code: 1310237
        httpCode: 400
        msg: Wrong Filter View Id
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310204
        httpCode: 400
        msg: Wrong Request Body
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310223
        httpCode: 400
        msg: Col Id Not Found
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      - code: 1310251
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/filter_views/{filter_view_id}/conditions/query:
    get:
      operationId: sheets_spreadsheet_sheet_filter_view_condition_query
      summary: 查询筛选条件
      tags:
      - spreadsheet.sheet.filter_view.condition
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter_view-condition/query
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: XUMasQlMYhOnMbt5htXc96h0nOg
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
        description: 筛选视图 id
        example: pH9hbVcCXA
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            condition_id:
                              type: string
                              description: 设置筛选条件的列，使用字母号
                            filter_type:
                              type: string
                              description: 筛选类型
                            compare_type:
                              type: string
                              description: 比较类型
                            expected:
                              type: array
                              items:
                                type: string
                              description: 筛选参数
                        description: 筛选视图设置的所有筛选条件
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet:read
      x-lark-error-mappings:
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310237
        httpCode: 400
        msg: Wrong Filter View Id
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/filter_views:
    post:
      operationId: sheets_spreadsheet_sheet_filter_view_create
      summary: 创建筛选视图
      tags:
      - spreadsheet.sheet.filter_view
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter_view/create
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filter_view_id:
                  type: string
                  description: 筛选视图 id
                filter_view_name:
                  type: string
                  description: 筛选视图名字
                range:
                  type: string
                  description: 筛选视图的筛选范围
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      filter_view:
                        type: object
                        properties:
                          filter_view_id:
                            type: string
                            description: 筛选视图 id
                          filter_view_name:
                            type: string
                            description: 筛选视图名字
                          range:
                            type: string
                            description: 筛选视图的筛选范围
                        description: 创建的筛选视图的 id 、name、range
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310223
        httpCode: 400
        msg: Col Id Not Found
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310204
        httpCode: 400
        msg: Wrong Request Body
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310226
        httpCode: 400
        msg: ''
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310232
        httpCode: 400
        msg: Wrong Style
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310237
        httpCode: 400
        msg: Wrong Filter View Id
      - code: 1310238
        httpCode: 400
        msg: Exist Filter View Id
      - code: 1310239
        httpCode: 400
        msg: Wrong Filter View Name
      - code: 1310240
        httpCode: 400
        msg: Exist Filter View Name
      - code: 1310241
        httpCode: 400
        msg: Filter View Excess
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/filter_views/{filter_view_id}:
    delete:
      operationId: sheets_spreadsheet_sheet_filter_view_delete
      summary: 删除筛选视图
      tags:
      - spreadsheet.sheet.filter_view
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter_view/delete
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
        description: 筛选视图 id
        example: pH9hbVcCXA
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1310237
        httpCode: 400
        msg: Wrong Filter View Id
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
    get:
      operationId: sheets_spreadsheet_sheet_filter_view_get
      summary: 获取筛选视图
      tags:
      - spreadsheet.sheet.filter_view
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter_view/get
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
        description: 筛选视图 id
        example: pH9hbVcCXA
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      filter_view:
                        type: object
                        properties:
                          filter_view_id:
                            type: string
                            description: 筛选视图 id
                          filter_view_name:
                            type: string
                            description: 筛选视图名字
                          range:
                            type: string
                            description: 筛选视图的筛选范围
                        description: 筛选视图信息，包括 id、name、range
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet:read
      x-lark-error-mappings:
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310237
        httpCode: 400
        msg: Wrong Filter View Id
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
    patch:
      operationId: sheets_spreadsheet_sheet_filter_view_patch
      summary: 更新筛选视图
      tags:
      - spreadsheet.sheet.filter_view
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter_view/patch
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      - name: filter_view_id
        in: path
        required: true
        schema:
          type: string
        description: 筛选视图 id
        example: pH9hbVcCXA
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filter_view_name:
                  type: string
                  description: 筛选视图名字
                range:
                  type: string
                  description: 筛选视图的筛选范围
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      filter_view:
                        type: object
                        properties:
                          filter_view_id:
                            type: string
                            description: 筛选视图 id
                          filter_view_name:
                            type: string
                            description: 筛选视图名字
                          range:
                            type: string
                            description: 筛选视图的筛选范围
                        description: 更新后的筛选视图的 id 、name、range
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310232
        httpCode: 400
        msg: Wrong Style
      - code: 1310237
        httpCode: 400
        msg: Wrong Filter View Id
      - code: 1310239
        httpCode: 400
        msg: Wrong Filter View Name
      - code: 1310240
        httpCode: 400
        msg: Exist Filter View Name
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310204
        httpCode: 400
        msg: Wrong Request Body
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/filter_views/query:
    get:
      operationId: sheets_spreadsheet_sheet_filter_view_query
      summary: 查询筛选视图
      tags:
      - spreadsheet.sheet.filter_view
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-filter_view/query
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            filter_view_id:
                              type: string
                              description: 筛选视图 id
                            filter_view_name:
                              type: string
                              description: 筛选视图名字
                            range:
                              type: string
                              description: 筛选视图的筛选范围
                        description: 子表的所有筛选视图信息，id、name、range
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet:read
      x-lark-error-mappings:
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310237
        httpCode: 400
        msg: Wrong Filter View Id
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/float_images:
    post:
      operationId: sheets_spreadsheet_sheet_float_image_create
      summary: 创建浮动图片
      tags:
      - spreadsheet.sheet.float_image
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-float_image/create
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: XUMasQlMYhOnMbt5htXc96h0nOg
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                float_image_id:
                  type: string
                  description: 浮动图片 id
                float_image_token:
                  type: string
                  description: 浮动图片 token，需要先上传图片到表格获得此 token 之后再进行浮动图片的操作
                range:
                  type: string
                  description: 浮动图片的左上角单元格定位，只支持一个单元格
                width:
                  type: number
                  description: 浮动图片的宽度，大于等于 20px
                height:
                  type: number
                  description: 浮动图片的高度，大于等于 20px
                offset_x:
                  type: number
                  description: 浮动图片左上角所在位置相对于所在单元格左上角的横向偏移，大于等于0且小于所在单元格的宽度
                offset_y:
                  type: number
                  description: 浮动图片左上角所在位置相对于所在单元格左上角的纵向偏移，大于等于0且小于所在单元格的高度
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310245
        httpCode: 400
        msg: Wrong Float Image Token
      - code: 1310244
        httpCode: 400
        msg: Exist Float Image Id
      - code: 1310243
        httpCode: 400
        msg: Wrong Float Image Id
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310247
        httpCode: 400
        msg: Image Excess
      - code: 1310246
        httpCode: 400
        msg: Wrong Float Image Value
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310226
        httpCode: 400
        msg: ''
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/float_images/{float_image_id}:
    delete:
      operationId: sheets_spreadsheet_sheet_float_image_delete
      summary: 删除浮动图片
      tags:
      - spreadsheet.sheet.float_image
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-float_image/delete
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: XUMasQlMYhOnMbt5htXc96h0nOg
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      - name: float_image_id
        in: path
        required: true
        schema:
          type: string
        description: 浮动图片 id
        example: ye06SS14ph
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1310243
        httpCode: 400
        msg: Wrong Float Image Id
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
    get:
      operationId: sheets_spreadsheet_sheet_float_image_get
      summary: 获取浮动图片
      tags:
      - spreadsheet.sheet.float_image
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-float_image/get
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: XUMasQlMYhOnMbt5htXc96h0nOg
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      - name: float_image_id
        in: path
        required: true
        schema:
          type: string
        description: 浮动图片 id
        example: ye06SS14ph
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet:read
      x-lark-error-mappings:
      - code: 1310243
        httpCode: 400
        msg: Wrong Float Image Id
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315202
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
    patch:
      operationId: sheets_spreadsheet_sheet_float_image_patch
      summary: 更新浮动图片
      tags:
      - spreadsheet.sheet.float_image
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-float_image/patch
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: XUMasQlMYhOnMbt5htXc96h0nOg
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      - name: float_image_id
        in: path
        required: true
        schema:
          type: string
        description: 浮动图片 id
        example: ye06SS14ph
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                float_image_token:
                  type: string
                  description: 浮动图片 token，需要先上传图片到表格获得此 token 之后再进行浮动图片的操作
                range:
                  type: string
                  description: 浮动图片的左上角单元格定位，只支持一个单元格
                width:
                  type: number
                  description: 浮动图片的宽度，大于等于 20px
                height:
                  type: number
                  description: 浮动图片的高度，大于等于 20px
                offset_x:
                  type: number
                  description: 浮动图片左上角所在位置相对于所在单元格左上角的横向偏移，大于等于0且小于所在单元格的宽度
                offset_y:
                  type: number
                  description: 浮动图片左上角所在位置相对于所在单元格左上角的纵向偏移，大于等于0且小于所在单元格的高度
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310226
        httpCode: 400
        msg: ''
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310246
        httpCode: 400
        msg: Wrong Float Image Value
      - code: 1310243
        httpCode: 400
        msg: Wrong Float Image Id
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/float_images/query:
    get:
      operationId: sheets_spreadsheet_sheet_float_image_query
      summary: 查询浮动图片
      tags:
      - spreadsheet.sheet.float_image
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet-float_image/query
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: XUMasQlMYhOnMbt5htXc96h0nOg
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2Nd45
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            float_image_id:
                              type: string
                              description: 浮动图片 id
                            float_image_token:
                              type: string
                              description: 浮动图片 token，需要先上传图片到表格获得此 token 之后再进行浮动图片的操作
                            range:
                              type: string
                              description: 浮动图片的左上角单元格定位，只支持一个单元格
                            width:
                              type: number
                              description: 浮动图片的宽度，大于等于 20px
                            height:
                              type: number
                              description: 浮动图片的高度，大于等于 20px
                            offset_x:
                              type: number
                              description: 浮动图片左上角所在位置相对于所在单元格左上角的横向偏移，大于等于0且小于所在单元格的宽度
                            offset_y:
                              type: number
                              description: 浮动图片左上角所在位置相对于所在单元格左上角的纵向偏移，大于等于0且小于所在单元格的高度
                        description: 子表的所有浮动图片信息
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet:read
      x-lark-error-mappings:
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/find:
    post:
      operationId: sheets_spreadsheet_sheet_find
      summary: 查找单元格
      tags:
      - spreadsheet.sheet
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet/find
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格的 token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表的 id
        example: J20nd3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                find_condition:
                  type: object
                  properties:
                    range:
                      type: string
                      description: 查找范围
                    match_case:
                      type: boolean
                      description: 大小写是否敏感
                    match_entire_cell:
                      type: boolean
                      description: 是否匹配整个单元格
                    search_by_regex:
                      type: boolean
                      description: 是否为正则匹配
                    include_formulas:
                      type: boolean
                      description: 是否搜索公式内容
                  required:
                  - range
                  description: 查找条件
                find:
                  type: string
                  description: 查找的字符串
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      find_result:
                        type: object
                        properties:
                          matched_cells:
                            type: array
                            items:
                              type: string
                            description: 符合查找条件的单元格数组，不包含公式，例如["A1", "A2"...]
                          matched_formula_cells:
                            type: array
                            items:
                              type: string
                            description: 符合查找条件的含有公式的单元格数组，例如["B3", "H7"...]
                          rows_count:
                            type: integer
                            description: 符合查找条件的总行数
                        description: 查找返回符合条件的信息
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet:read
      x-lark-error-mappings:
      - code: 1310242
        httpCode: 400
        msg: Spreadsheet in mix state
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310248
        httpCode: 400
        msg: Wrong Regular Expression
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310204
        httpCode: 400
        msg: ''
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310214
        httpCode: 400
        msg: Spreadsheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310226
        httpCode: 400
        msg: ''
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}:
    get:
      operationId: sheets_spreadsheet_sheet_get
      summary: 查询工作表
      tags:
      - spreadsheet.sheet
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet/get
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 电子表格的token
        example: shtxxxxxxxxxxxxxxx
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 工作表的id
        example: giDk9k
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      sheet:
                        allOf:
                        - $ref: '#/components/schemas/Sheet'
                        description: 工作表
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet:read
      x-lark-error-mappings:
      - code: 1310251
        httpCode: 400
        msg: ''
      - code: 1310213
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      - code: 1310214
        httpCode: 400
        msg: ''
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1315210
        httpCode: 500
        msg: Server Error
      x-lark-rate-limit:
        tier: 4
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/move_dimension:
    post:
      operationId: sheets_spreadsheet_sheet_move_dimension
      summary: 移动行列
      tags:
      - spreadsheet.sheet
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet/move_dimension
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格 token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: 子表 id
        example: J2nd40
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type: object
                  properties:
                    major_dimension:
                      type: string
                      description: 操作行还是列，取值：ROWS、COLUMNS
                    start_index:
                      type: integer
                      description: 起始行或者列号
                    end_index:
                      type: integer
                      description: 结束行或者列号
                  description: 移动源位置参数
                destination_index:
                  type: integer
                  description: 移动的目标位置行或者列号
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310204
        httpCode: 400
        msg: Wrong Request Body
      - code: 1310206
        httpCode: 400
        msg: Empty Sheet Id
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310216
        httpCode: 400
        msg: Empty Value
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310219
        httpCode: 400
        msg: Cell Excess
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310234
        httpCode: 200
        msg: Marshal Error
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/query:
    get:
      operationId: sheets_spreadsheet_sheet_query
      summary: 获取工作表
      tags:
      - spreadsheet.sheet
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet/query
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 电子表格的token
        example: shtxxxxxxxxxxxxxxxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      sheets:
                        type: array
                        items:
                          $ref: '#/components/schemas/Sheet'
                        description: 工作表信息
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:readonly
      - drive:drive:readonly
      - sheets:spreadsheet:read
      x-lark-error-mappings:
      - code: 1310251
        httpCode: 400
        msg: ''
      - code: 1310213
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      - code: 1310214
        httpCode: 400
        msg: ''
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1315210
        httpCode: 500
        msg: Server Error
      x-lark-rate-limit:
        tier: 4
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}/sheets/{sheet_id}/replace:
    post:
      operationId: sheets_spreadsheet_sheet_replace
      summary: 替换单元格
      tags:
      - spreadsheet.sheet
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet-sheet/replace
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: Spreadsheet token
        example: Iow7sNNEphp3WbtnbCscPqabced
      - name: sheet_id
        in: path
        required: true
        schema:
          type: string
        description: Sheet id
        example: J2Nd45
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                find_condition:
                  type: object
                  properties:
                    range:
                      type: string
                      description: 查找范围
                    match_case:
                      type: boolean
                      description: 大小写是否敏感
                    match_entire_cell:
                      type: boolean
                      description: 是否匹配整个单元格
                    search_by_regex:
                      type: boolean
                      description: 是否为正则匹配
                    include_formulas:
                      type: boolean
                      description: 是否搜索公式内容
                  required:
                  - range
                  description: 查找条件
                find:
                  type: string
                  description: 查找的字符串
                replacement:
                  type: string
                  description: 替换的字符串
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      replace_result:
                        type: object
                        properties:
                          matched_cells:
                            type: array
                            items:
                              type: string
                            description: 符合查找条件的单元格数组，不包含公式，例如["A1", "A2"...]
                          matched_formula_cells:
                            type: array
                            items:
                              type: string
                            description: 符合查找条件的含有公式的单元格数组，例如["B3", "H7"...]
                          rows_count:
                            type: integer
                            description: 符合查找条件的总行数
                        description: 符合查找条件并替换的单元格信息
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet:write_only
      x-lark-error-mappings:
      - code: 1310242
        httpCode: 400
        msg: ''
      - code: 1310211
        httpCode: 400
        msg: Wrong Sheet Id
      - code: 1310248
        httpCode: 400
        msg: Wrong Regular Expression
      - code: 1310202
        httpCode: 400
        msg: Wrong Range
      - code: 1310229
        httpCode: 400
        msg: Wrong URL Param
      - code: 1310204
        httpCode: 400
        msg: ''
      - code: 1310213
        httpCode: 400
        msg: Permission Fail
      - code: 1310218
        httpCode: 400
        msg: Locked Cell
      - code: 1310214
        httpCode: 400
        msg: SpreadSheet Not Found
      - code: 1310215
        httpCode: 400
        msg: Sheet Id Not Found
      - code: 1310226
        httpCode: 400
        msg: ''
      - code: 1310217
        httpCode: 400
        msg: Too Many Request
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1315210
        httpCode: 500
        msg: Server Error
      - code: 1310249
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 2
  /open-apis/sheets/v3/spreadsheets:
    post:
      operationId: sheets_spreadsheet_create
      summary: 创建电子表格
      tags:
      - spreadsheet
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet/create
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 表格标题
                  example: title
                folder_token:
                  type: string
                  description: 文件夹token
                  example: fldxxxxxxxxxxxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      spreadsheet:
                        type: object
                        properties:
                          title:
                            type: string
                            description: 表格标题
                            example: title
                          folder_token:
                            type: string
                            description: 文件夹token
                            example: fldxxxxxxxxxxxx
                          url:
                            type: string
                            description: 表格 URL
                            example: https://bytedance.feishu.cn/sheets/shtcnxxxxxxxxxxxx
                          spreadsheet_token:
                            type: string
                            description: 表格token
                            example: shtcnxxxxxxxxxxxx
                        description: 表格信息
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - drive:drive
      - sheets:spreadsheet
      - sheets:spreadsheet:create
      x-lark-error-mappings:
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1310204
        httpCode: 400
        msg: ''
      - code: 1310213
        httpCode: 400
        msg: ''
      - code: 1310235
        httpCode: 400
        msg: Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1310226
        httpCode: 400
        msg: Excess Limit
      x-lark-rate-limit:
        tier: 2
  /open-apis/sheets/v3/spreadsheets/{spreadsheet_token}:
    get:
      operationId: sheets_spreadsheet_get
      summary: 获取电子表格信息
      tags:
      - spreadsheet
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet/get
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格的token
        example: shtxxxxxxxxxxxxxxx
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      spreadsheet:
                        type: object
                        properties:
                          title:
                            type: string
                            description: 电子表格标题
                            example: title
                          owner_id:
                            type: string
                            description: 电子表格owner
                            example: ou_xxxxxxxxxxxx
                          token:
                            type: string
                            description: 电子表格token
                            example: shtxxxxxxxxxxxxxx
                          url:
                            type: string
                            description: 电子表格url
                            example: https://bytedance.feishu.cn/sheets/shtcnmBA*****yGehy8
                        description: 表格
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - sheets:spreadsheet:readonly
      - drive:drive
      - drive:drive:readonly
      - sheets:spreadsheet.meta:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1310251
        httpCode: 400
        msg: ''
      - code: 1310213
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      - code: 1315210
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1310214
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
    patch:
      operationId: sheets_spreadsheet_patch
      summary: 修改电子表格属性
      tags:
      - spreadsheet
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/sheets-v3/spreadsheet/patch
      parameters:
      - name: spreadsheet_token
        in: path
        required: true
        schema:
          type: string
        description: 表格的token
        example: shtxxxxxxxxxxxxxxx
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 表格标题
                  example: title
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - sheets:spreadsheet
      - drive:drive
      - sheets:spreadsheet.meta:write_only
      x-lark-error-mappings:
      - code: 1310251
        httpCode: 400
        msg: ''
      - code: 1310213
        httpCode: 400
        msg: ''
      - code: 1310249
        httpCode: 400
        msg: ''
      - code: 1310250
        httpCode: 400
        msg: ''
      - code: 1310214
        httpCode: 400
        msg: ''
      - code: 1315201
        httpCode: 500
        msg: Server Error
      - code: 1315203
        httpCode: 500
        msg: Server Error, Retry Later
      - code: 1315210
        httpCode: 500
        msg: Server Error
      x-lark-rate-limit:
        tier: 2
components:
  schemas:
    Sheet:
      type: object
      properties:
        sheet_id:
          type: string
          description: 工作表id
          example: sxj5ws
        title:
          type: string
          description: 工作表标题
          example: title
        index:
          type: integer
          description: 工作表索引位置
          example: '0'
        hidden:
          type: boolean
          description: 工作表是否被隐藏
          example: 'false'
        grid_properties:
          type: object
          properties:
            frozen_row_count:
              type: integer
              description: 冻结的行数量
              example: '0'
            frozen_column_count:
              type: integer
              description: 冻结的列数量
              example: '0'
            row_count:
              type: integer
              description: 工作表的行数
              example: '200'
            column_count:
              type: integer
              description: 工作表的列数量
              example: '20'
          description: 单元格属性
        resource_type:
          type: string
          description: 工作表类型
          example: sheet
        merges:
          type: array
          items:
            type: object
            properties:
              start_row_index:
                type: integer
                description: 起始行
                example: '0'
              end_row_index:
                type: integer
                description: 结束行
              start_column_index:
                type: integer
                description: 起始列
                example: '0'
              end_column_index:
                type: integer
                description: 结束列
                example: '0'
      description: 工作表
    Schema:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            float_image:
              type: object
              properties:
                float_image_id:
                  type: string
                  description: 浮动图片 id
                float_image_token:
                  type: string
                  description: 浮动图片 token，需要先上传图片到表格获得此 token 之后再进行浮动图片的操作
                range:
                  type: string
                  description: 浮动图片的左上角单元格定位，只支持一个单元格
                width:
                  type: number
                  description: 浮动图片的宽度，大于等于 20px
                height:
                  type: number
                  description: 浮动图片的高度，大于等于 20px
                offset_x:
                  type: number
                  description: 浮动图片左上角所在位置相对于所在单元格左上角的横向偏移，大于等于0且小于所在单元格的宽度
                offset_y:
                  type: number
                  description: 浮动图片左上角所在位置相对于所在单元格左上角的纵向偏移，大于等于0且小于所在单元格的高度
              description: 浮动图片
