# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · speech_to_text API（全量）
  description: |-
    飞书开放平台 `speech_to_text` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: speech_to_text
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: speech
paths:
  /open-apis/speech_to_text/v1/speech/file_recognize:
    post:
      operationId: speech_to_text_speech_file_recognize
      summary: 识别语音文件
      tags:
      - speech
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/speech_to_text-v1/speech/file_recognize
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                speech:
                  type: object
                  properties:
                    speech:
                      type: string
                      description: 语音资源
                  description: 语音资源
                config:
                  type: object
                  properties:
                    file_id:
                      type: string
                      description: 仅包含字母数字和下划线的 16 位字符串作为文件的标识，用户生成
                    format:
                      type: string
                      description: 语音格式，目前仅支持：pcm
                    engine_type:
                      type: string
                      description: 引擎类型，目前仅支持：16k_auto 中英混合
                  required:
                  - file_id
                  - format
                  - engine_type
                  description: 配置属性
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      recognition_text:
                        type: string
                        description: 语音识别后的文本信息
                    required:
                    - recognition_text
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - speech_to_text:speech
      x-lark-error-mappings:
      - code: 1040101
        httpCode: 400
        msg: invalid param
      - code: 1040102
        httpCode: 500
        msg: network anomaly
      x-lark-rate-limit:
        tier: 0
  /open-apis/speech_to_text/v1/speech/stream_recognize:
    post:
      operationId: speech_to_text_speech_stream_recognize
      summary: 识别流式语音
      tags:
      - speech
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/speech_to_text-v1/speech/stream_recognize
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                speech:
                  type: object
                  properties:
                    speech:
                      type: string
                      description: 语音资源
                  description: 语音资源
                config:
                  type: object
                  properties:
                    stream_id:
                      type: string
                      description: 仅包含字母数字和下划线的 16 位字符串作为同一数据流的标识，用户生成
                    sequence_id:
                      type: integer
                      description: 数据流分片的序号，序号从 0 开始，每次请求递增 1
                    action:
                      type: integer
                      description: 数据流标记：1 首包，2 正常结束，等待结果返回，3 中断数据流不返回最终结果
                    format:
                      type: string
                      description: 语音格式，目前仅支持：pcm
                    engine_type:
                      type: string
                      description: 引擎类型，目前仅支持：16k_auto 中英混合
                  required:
                  - stream_id
                  - sequence_id
                  - action
                  - format
                  - engine_type
                  description: 配置属性
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      stream_id:
                        type: string
                        description: 16 位 String 随机串作为同一数据流的标识
                      sequence_id:
                        type: integer
                        description: 数据流分片的序号，序号从 0 开始，每次请求递增 1
                      recognition_text:
                        type: string
                        description: 语音流识别后的文本信息
                    required:
                    - stream_id
                    - sequence_id
                    - recognition_text
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - speech_to_text:speech
      x-lark-error-mappings:
      - code: 1040101
        httpCode: 400
        msg: invalid param
      - code: 1040102
        httpCode: 500
        msg: network anomaly
      x-lark-rate-limit:
        tier: 0
components:
  schemas: {}
