# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · task API（全量）
  description: |-
    飞书开放平台 `task` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: task
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: task.collaborator
- name: task.comment
- name: task.follower
- name: task.reminder
- name: task
- name: attachment
- name: comment
- name: custom_field.option
- name: custom_field
- name: section
- name: task.subtask
- name: task_v2
- name: tasklist.activity_subscription
- name: tasklist
paths:
  /open-apis/task/v1/tasks/{task_id}/collaborators:
    post:
      operationId: task_task_collaborator_create
      summary: 新增执行者
      tags:
      - task.collaborator
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-collaborator/create
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: 任务协作者的 ID
                  example: ou_99e1a581b36ecc4862cbfbce473f1234
                id_list:
                  type: array
                  items:
                    type: string
                  description: 协作人的用户ID列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      collaborator:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 任务协作者的 ID
                            example: ou_99e1a581b36ecc4862cbfbce473f1234
                          id_list:
                            type: array
                            items:
                              type: string
                            description: 协作人的用户ID列表
                        description: 返回创建成功后的任务协作者
                    required:
                    - collaborator
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:personnel:writeonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 401
        msg: The identity token is incorrect. It should be either user_access_token or tenant_access_token.
      - code: 1470404
        httpCode: 400
        msg: Be refused to update task, possibly due to lack of permission.
      - code: 1470429
        httpCode: 400
        msg: The total number of collaborators exceeds the maximum number limit.
      - code: 1470431
        httpCode: 400
        msg: Users are all collaborators of tasks.
      - code: 1470450
        httpCode: 429
        msg: There are too many requests currently, please try again later.
      - code: 1470451
        httpCode: 400
        msg: Operation requests for the same task are too frequent.
      - code: 1470602
        httpCode: 400
        msg: Invalid task id.
      - code: 1470701
        httpCode: 500
        msg: Failed to add task collaborator.
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.id_list[*]
        section: 0
    get:
      operationId: task_task_collaborator_list
      summary: 获取执行者列表
      tags:
      - task.collaborator
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-collaborator/list
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 0d38e26e-190a-49e9-93a2-35067763ed1f
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: 分页大小
        example: '50'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema14'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:task:readonly
      - task:personnel:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470432
        httpCode: 400
        msg: have no permission to get task
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/task/v1/tasks/{task_id}/collaborators/{collaborator_id}:
    delete:
      operationId: task_task_collaborator_delete
      summary: 删除指定执行者
      tags:
      - task.collaborator
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-collaborator/delete
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: collaborator_id
        in: path
        required: true
        schema:
          type: string
        description: 任务执行者 ID（Open ID或User ID，由user_id_type指定）
        example: ou_99e1a581b36ecc4862cbfbce123f346a
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:personnel:writeonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470700
        httpCode: 404
        msg: task collaborator not found
      - code: 1470702
        httpCode: 500
        msg: failed to remove task collaborator
      - code: 1470450
        httpCode: 400
        msg: request too fast
      - code: 1470451
        httpCode: 400
        msg: request api concurrently
      - code: 1470404
        httpCode: 400
        msg: be refused to create or update task
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: collaborator_id
        section: 3
  /open-apis/task/v1/tasks/{task_id}/comments:
    post:
      operationId: task_task_comment_create
      summary: 创建评论
      tags:
      - task.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-comment/create
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  description: 评论内容
                  example: 举杯邀明月，对影成三人
                parent_id:
                  type: string
                  description: 评论的父ID，创建评论时若不为空则为某条评论的回复，若为空则不是回复
                  example: '6937231762296684564'
                  format: int64
                create_milli_time:
                  type: string
                  description: 评论创建的时间戳，单位为毫秒，用于展示，创建时不用填写
                  example: '1657075055135'
                  format: int64
                rich_content:
                  type: string
                  description: 富文本评论内容
                  example: 举杯邀明月，对影成三人<at id=7058204817822318612></at>
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema10'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:comment
      - task:comment:writeonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470730
        httpCode: 500
        msg: failed to create comment
      - code: 1470417
        httpCode: 400
        msg: failed to parse rich_content
      - code: 1470418
        httpCode: 400
        msg: comment is empty
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: task_task_comment_list
      summary: 获取评论列表
      tags:
      - task.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-comment/list
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务id
        example: '"83912691-2e43-47fc-94a4-d512e03984fa"'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token获取查询结果
        example: '"MTYzMTg3ODUxNQ=="'
      - name: list_direction
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          x-enum-descriptions:
            '0': 按照回复时间从小到大查询
            '1': 按照回复时间从大到小查询
          default: 0
        description: 评论排序标记，可按照评论时间从小到大查询，或者评论时间从大到小查询，不填默认按照从小到大
        example: '0'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Comment2'
                        description: 返回的评论列表
                      page_token:
                        type: string
                        description: 分页标记，分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
                      has_more:
                        type: boolean
                        description: 是否还有更多数据
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:task:readonly
      - task:comment:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470734
        httpCode: 500
        msg: failed to get comment
      - code: 1470432
        httpCode: 400
        msg: have no permission to get task
      - code: 1470421
        httpCode: 400
        msg: page_size exceed 100
      - code: 1470422
        httpCode: 400
        msg: failed to parse page_token
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470733
        httpCode: 404
        msg: comment not found
      - code: 1470432
        httpCode: 400
        msg: have no permission to get task
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/task/v1/tasks/{task_id}/comments/{comment_id}:
    delete:
      operationId: task_task_comment_delete
      summary: 删除评论
      tags:
      - task.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-comment/delete
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 评论ID
        example: '6937231762296684564'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:comment
      - task:comment:delete
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470731
        httpCode: 500
        msg: failed to delete comment
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: task_task_comment_get
      summary: 获取评论详情
      tags:
      - task.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-comment/get
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 评论ID
        example: '6937231762296684564'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema10'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:comment:readonly
      - task:comment
      - task:comment:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470734
        httpCode: 500
        msg: failed to get comment
      x-lark-rate-limit:
        tier: 4
    put:
      operationId: task_task_comment_update
      summary: 更新评论
      tags:
      - task.comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-comment/update
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 评论 ID
        example: '6937231762296684564'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  description: 新的评论内容
                  example: 飞流直下三千尺，疑是银河落九天
                rich_content:
                  type: string
                  description: 新的富文本评论内容（优先使用）
                  example: 飞流直下三千尺，疑是银河落九天<at id=7058204817822318612></at>
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema10'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:comment
      - task:comment:writeonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470732
        httpCode: 500
        msg: failed to patch comment
      - code: 1470733
        httpCode: 404
        msg: comment not found
      - code: 1470417
        httpCode: 400
        msg: failed to parse rich_content
      - code: 1470418
        httpCode: 400
        msg: comment is empty
      x-lark-rate-limit:
        tier: 4
  /open-apis/task/v1/tasks/{task_id}/followers:
    post:
      operationId: task_task_follower_create
      summary: 新增关注人
      tags:
      - task.follower
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-follower/create
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: 任务关注者 ID
                  example: ou_99e1a581b36ecc4862cbfbce473f3123
                id_list:
                  type: array
                  items:
                    type: string
                  description: 要添加为关注人的user_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      follower:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 任务关注者 ID
                            example: ou_99e1a581b36ecc4862cbfbce473f3123
                          id_list:
                            type: array
                            items:
                              type: string
                            description: 要添加为关注人的user_id
                        description: 创建后的任务关注者
                    required:
                    - follower
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:personnel:writeonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470711
        httpCode: 500
        msg: failed to add task follower
      - code: 1470451
        httpCode: 400
        msg: request api concurrently
      - code: 1470412
        httpCode: 400
        msg: invalid follower id
      - code: 1470428
        httpCode: 400
        msg: total follower exceeds limit
      - code: 1470430
        httpCode: 400
        msg: followers existed in task
      - code: 1470450
        httpCode: 400
        msg: request too fast
      - code: 1470404
        httpCode: 400
        msg: be refused to create or update task
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.id_list[*]
        section: 0
    get:
      operationId: task_task_follower_list
      summary: 获取关注人列表
      tags:
      - task.follower
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-follower/list
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 0d38e26e-190a-49e9-93a2-35067763ed1f
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema14'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:task:readonly
      - task:personnel:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470432
        httpCode: 400
        msg: have no permission to get task
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/task/v1/tasks/{task_id}/followers/{follower_id}:
    delete:
      operationId: task_task_follower_delete
      summary: 删除指定关注人
      tags:
      - task.follower
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-follower/delete
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: follower_id
        in: path
        required: true
        schema:
          type: string
        description: 任务关注人 ID（Open ID或User ID，由user_id_type指定）
        example: ou_87e1a581b36ecc4862cbfbce473f346a
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:personnel:writeonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470710
        httpCode: 404
        msg: task follower not found
      - code: 1470712
        httpCode: 500
        msg: failed to remove task follower
      - code: 1470450
        httpCode: 400
        msg: request too fast
      - code: 1470451
        httpCode: 400
        msg: request api concurrently
      - code: 1470404
        httpCode: 400
        msg: be refused to create or update task
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: follower_id
        section: 3
  /open-apis/task/v1/tasks/{task_id}/reminders:
    post:
      operationId: task_task_reminder_create
      summary: 新增提醒时间
      tags:
      - task.reminder
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-reminder/create
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                relative_fire_minute:
                  type: integer
                  description: 相对于截止时间的提醒时间（如提前 30 分钟，截止时间后 30 分钟，则为 -30）
                  example: '30'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      reminder:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 提醒时间设置的 ID（在删除时候需要使用这个）
                            example: '1'
                            format: int64
                          relative_fire_minute:
                            type: integer
                            description: 相对于截止时间的提醒时间（如提前 30 分钟，截止时间后 30 分钟，则为 -30）
                            example: '30'
                        required:
                        - relative_fire_minute
                        description: 返回创建成功的提醒时间
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:task:writeonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470721
        httpCode: 500
        msg: failed to add task reminder
      - code: 1470721
        httpCode: 500
        msg: failed to add task reminder
      - code: 1470450
        httpCode: 400
        msg: request too fast
      - code: 1470419
        httpCode: 400
        msg: task due time not set
      - code: 1470420
        httpCode: 400
        msg: already exists duplicate reminder time
      - code: 1470427
        httpCode: 400
        msg: total reminder exceeds limit
      - code: 1470451
        httpCode: 400
        msg: request api concurrently
      - code: 1470404
        httpCode: 400
        msg: be refused to create or update task
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: task_task_reminder_list
      summary: 查询提醒时间列表
      tags:
      - task.reminder
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-reminder/list
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 0d38e26e-190a-49e9-93a2-35067763ed1f
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: 分页大小
        example: '50'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '0'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 提醒时间设置的 ID（在删除时候需要使用这个）
                              example: '1'
                              format: int64
                            relative_fire_minute:
                              type: integer
                              description: 相对于截止时间的提醒时间（如提前 30 分钟，截止时间后 30 分钟，则为 -30）
                              example: '30'
                          required:
                          - relative_fire_minute
                        description: 返回提醒时间设置列表
                      page_token:
                        type: string
                        description: 分页标记，分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
                        example: '0'
                      has_more:
                        type: boolean
                        description: 是否还有更多数据
                        example: 'false'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:task:readonly
      - task:task:read
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470432
        httpCode: 400
        msg: have no permission to get task
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/task/v1/tasks/{task_id}/reminders/{reminder_id}:
    delete:
      operationId: task_task_reminder_delete
      summary: 删除提醒时间
      tags:
      - task.reminder
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task-reminder/delete
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: reminder_id
        in: path
        required: true
        schema:
          type: string
        description: 任务提醒时间设置的 ID（即 reminder.id）
        example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:task:writeonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470720
        httpCode: 404
        msg: task reminder not found
      - code: 1470722
        httpCode: 500
        msg: failed to remove task reminder
      - code: 1470450
        httpCode: 400
        msg: request too fast
      - code: 1470451
        httpCode: 400
        msg: request api concurrently
      - code: 1470404
        httpCode: 400
        msg: be refused to create or update task
      x-lark-rate-limit:
        tier: 4
  /open-apis/task/v1/tasks/{task_id}/batch_delete_collaborator:
    post:
      operationId: task_task_batch_delete_collaborator
      summary: 批量删除执行者
      tags:
      - task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task/batch_delete_collaborator
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id_list:
                  type: array
                  items:
                    type: string
                  description: 协作人的用户ID列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      collaborators:
                        type: array
                        items:
                          type: string
                        description: 实际删除的执行人用户ID列表
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:personnel:writeonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470450
        httpCode: 400
        msg: request too fast
      - code: 1470451
        httpCode: 400
        msg: request api concurrently
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470702
        httpCode: 500
        msg: failed to remove task collaborator
      - code: 1470404
        httpCode: 400
        msg: be refused to create or update task
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.id_list[*]
        section: 0
  /open-apis/task/v1/tasks/{task_id}/batch_delete_follower:
    post:
      operationId: task_task_batch_delete_follower
      summary: 批量删除关注人
      tags:
      - task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task/batch_delete_follower
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id_list:
                  type: array
                  items:
                    type: string
                  description: 要添加为关注人的user_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      followers:
                        type: array
                        items:
                          type: string
                        description: 实际删除的关注人用户ID列表
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:personnel:writeonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470450
        httpCode: 400
        msg: request too fast
      - code: 1470451
        httpCode: 400
        msg: request api concurrently
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470712
        httpCode: 500
        msg: failed to remove task follower
      - code: 1470404
        httpCode: 400
        msg: be refused to create or update task
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.id_list[*]
        section: 0
  /open-apis/task/v1/tasks/{task_id}/complete:
    post:
      operationId: task_task_complete
      summary: 完成任务
      tags:
      - task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task/complete
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: bb54ab99-d360-434f-bcaa-a4cc4c05840e
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:task:writeonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 401
        msg: The identity token is incorrect. It should be either user_access_token or tenant_access_token.
      - code: 1470404
        httpCode: 400
        msg: Be refused to update task, possibly due to lack of permission.
      - code: 1470432
        httpCode: 400
        msg: No permission to get the task.
      - code: 1470450
        httpCode: 429
        msg: There are too many requests currently, please try again later.
      - code: 1470451
        httpCode: 400
        msg: Operation requests for the same task are too frequent.
      - code: 1470602
        httpCode: 400
        msg: Invalid task id.
      - code: 1470604
        httpCode: 500
        msg: Failed to update task completion status.
      x-lark-rate-limit:
        tier: 4
  /open-apis/task/v1/tasks:
    post:
      operationId: task_task_create
      summary: 创建任务
      tags:
      - task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task/create
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                summary:
                  type: string
                  description: 任务标题。创建任务时，如果没有标题填充，将其视为无主题的任务。
                  example: 每天喝八杯水，保持身心愉悦
                description:
                  type: string
                  description: 任务备注
                  example: 多吃水果，多运动，健康生活，快乐工作。
                extra:
                  type: string
                  description: 接入方可以自定义的附属信息二进制格式，采用 base64 编码，解析方式由接入方自己决定
                  example: dGVzdA==
                due:
                  type: object
                  properties:
                    time:
                      type: string
                      description: 截止时间的时间戳（单位为秒）
                      example: '1623124318'
                      format: int64
                    timezone:
                      type: string
                      description: 截止时间对应的时区，完整的时区名称列表可参考：https://docs.aws.amazon.com/zh_cn/redshift/latest/dg/time-zone-names.html
                      default: Asia/Shanghai
                      example: Asia/Shanghai
                    is_all_day:
                      type: boolean
                      description: 标记任务是否为全天任务（全天任务的截止时间为当天 UTC 时间的 0 点）
                      default: false
                      example: 'false'
                  description: 任务的截止时间设置
                origin:
                  type: object
                  properties:
                    platform_i18n_name:
                      type: string
                      description: 任务导入来源的名称，用于在任务中心详情页展示。请提供一个字典，多种语言名称映射。支持的各地区语言名：it_it, th_th, ko_kr, es_es, ja_jp, zh_cn,
                        id_id, zh_hk, pt_br, de_de, fr_fr, zh_tw, ru_ru, en_us, hi_in, vi_vn
                      example: '{"zh_cn": "IT 工作台", "en_us": "IT Workspace"}'
                    href:
                      type: object
                      properties:
                        url:
                          type: string
                          description: 具体链接地址
                          example: https://support.feishu.com/internal/foo-bar
                        title:
                          type: string
                          description: 链接对应的标题
                          example: 反馈一个问题，需要协助排查
                      description: 任务关联的来源平台详情页链接
                  required:
                  - platform_i18n_name
                  description: 任务关联的第三方平台来源信息
                can_edit:
                  type: boolean
                  description: 此字段用于控制该任务在任务中心是否可编辑，默认为false，若为true则第三方需考虑是否需要接入事件来接收任务在任务中心的变更信息
                  default: false
                  example: 'true'
                custom:
                  type: string
                  description: 此字段用于存储第三方需透传到端上的自定义数据，Json格式。取值举例中custom_complete字段存储「完成」按钮的跳转链接（href）或提示信息（tip），pc、ios、android三端均可自定义，其中tip字段的key为语言类型，value为提示信息，可自行增加或减少语言类型，支持的各地区语言名：it_it,
                    th_th, ko_kr, es_es, ja_jp, zh_cn, id_id, zh_hk, pt_br, de_de, fr_fr, zh_tw, ru_ru, en_us, hi_in, vi_vn。href的优先级高于tip，href和tip同时不为空时只跳转不提示。链接和提示信息可自定义，其余的key需按举例中的结构传递
                  example: '{\"custom_complete\":{\"android\":{\"href\":\"https://www.feishu.cn/\",\"tip\":{\"zh_cn\":\"你好\",\"en_us\":\"hello\"}},\"ios\":{\"href\":\"https://www.feishu.cn/\",\"tip\":{\"zh_cn\":\"你好\",\"en_us\":\"hello\"}},\"pc\":{\"href\":\"https://www.feishu.cn/\",\"tip\":{\"zh_cn\":\"你好\",\"en_us\":\"hello\"}}}}'
                collaborator_ids:
                  type: array
                  items:
                    type: string
                  description: 创建任务时添加的执行者用户id列表
                  example: '["ou_1400208f15333e20e11339d39067844b", "ou_84ed6312949945c8ae6168f10829e9e6"]'
                follower_ids:
                  type: array
                  items:
                    type: string
                  description: 创建任务时添加的关注者用户id列表
                  example: '["ou_1400208f15333e20e11339d39067844b", "ou_84ed6312949945c8ae6168f10829e9e6"]'
                repeat_rule:
                  type: string
                  description: 重复任务重复规则
                  example: FREQ=WEEKLY;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                rich_summary:
                  type: string
                  description: 富文本任务标题。创建任务时，如果没有标题填充，将其视为无主题的任务。
                  example: 每天喝八杯水，保持身心愉悦。[谷歌](https://www.google.com/)
                rich_description:
                  type: string
                  description: 富文本任务备注
                  example: 多吃水果，多运动，健康生活，快乐工作。[谷歌](https://www.google.com/)
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema5'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:task:writeonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: The request failed due to incorrect request parameters.
      - code: 1470403
        httpCode: 401
        msg: The identity token is incorrect. It should be either user_access_token or tenant_access_token.
      - code: 1470410
        httpCode: 400
        msg: Failed to parse rich_summary.
      - code: 1470411
        httpCode: 400
        msg: Failed to parse rich_description.
      - code: 1470414
        httpCode: 400
        msg: Invalid timezone.
      - code: 1470415
        httpCode: 400
        msg: Invalid platform_i18n_name.
      - code: 1470416
        httpCode: 400
        msg: Both summary and rich_summary are empty.
      - code: 1470434
        httpCode: 400
        msg: Invalid repeat rule, please check the format.
      - code: 1470435
        httpCode: 400
        msg: Failed to decode extra by base64.
      - code: 1470436
        httpCode: 400
        msg: Failed to parse url of origin, should start with http, https or applink.
      - code: 1470437
        httpCode: 400
        msg: Summary or description length exceed limit, the maximum length of summary is 256, the maximum length of description
          is 65536.
      - code: 1470438
        httpCode: 400
        msg: Invalid custom, please check the format.
      - code: 1470439
        httpCode: 400
        msg: Failed to get time by timestamp.
      - code: 1470450
        httpCode: 429
        msg: There are too many requests currently, please try again later.
      - code: 1470600
        httpCode: 500
        msg: Failed to create task.
      - code: 1470740
        httpCode: 400
        msg: Text content fails to pass the audit.
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.collaborator_ids[*]
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.follower_ids[*]
        section: 0
    get:
      operationId: task_task_list
      summary: 查询所有任务
      tags:
      - task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: start_create_time
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 范围查询任务时，查询的起始时间。不填时默认起始时间为第一个任务的创建时间。
        example: '0'
      - name: end_create_time
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: 范围查询任务时，查询的结束时间。不填时默认结束时间为最后一个任务的创建时间。
        example: '0'
      - name: task_completed
        in: query
        required: false
        schema:
          type: boolean
        description: 可用于查询时过滤任务完成状态。true表示只返回已完成的任务，false表示只返回未完成的任务。不填时表示同时返回两种完成状态的任务。
        example: 'true'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Task2'
                        description: 任务列表
                      page_token:
                        type: string
                        description: 分页标记，分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
                      has_more:
                        type: boolean
                        description: 'true'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - task:task:readonly
      - task:task:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470605
        httpCode: 500
        msg: failed to get task list
      - code: 1470421
        httpCode: 400
        msg: page_size exceed 100
      - code: 1470422
        httpCode: 400
        msg: failed to parse page_token
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/task/v1/tasks/{task_id}:
    delete:
      operationId: task_task_delete
      summary: 删除任务
      tags:
      - task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task/delete
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:task:delete
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470601
        httpCode: 500
        msg: failed to delete task
      - code: 1470450
        httpCode: 400
        msg: request too fast
      - code: 1470451
        httpCode: 400
        msg: request api concurrently
      - code: 1470433
        httpCode: 400
        msg: todo has been deleted
      - code: 1470404
        httpCode: 400
        msg: be refused to create or update task
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: task_task_get
      summary: 查询指定任务
      tags:
      - task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task/get
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      task:
                        allOf:
                        - $ref: '#/components/schemas/Task2'
                        description: 返回任务资源详情
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task:readonly
      - task:task
      - task:task:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470432
        httpCode: 400
        msg: have no permission to get task
      x-lark-rate-limit:
        tier: 4
    patch:
      operationId: task_task_patch
      summary: 更新任务
      tags:
      - task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task/patch
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: 83912691-2e43-47fc-94a4-d512e03984fa
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                task:
                  type: object
                  properties:
                    summary:
                      type: string
                      description: 任务标题。创建任务时，如果没有标题填充，将其视为无主题的任务。
                      example: 每天喝八杯水，保持身心愉悦
                    description:
                      type: string
                      description: 任务备注
                      example: 多吃水果，多运动，健康生活，快乐工作。
                    extra:
                      type: string
                      description: 接入方可以自定义的附属信息二进制格式，采用 base64 编码，解析方式由接入方自己决定
                      example: dGVzdA==
                    due:
                      type: object
                      properties:
                        time:
                          type: string
                          description: 截止时间的时间戳（单位为秒）
                          example: '1623124318'
                          format: int64
                        timezone:
                          type: string
                          description: 截止时间对应的时区，完整的时区名称列表可参考：https://docs.aws.amazon.com/zh_cn/redshift/latest/dg/time-zone-names.html
                          default: Asia/Shanghai
                          example: Asia/Shanghai
                        is_all_day:
                          type: boolean
                          description: 标记任务是否为全天任务（全天任务的截止时间为当天 UTC 时间的 0 点）
                          default: false
                          example: 'false'
                      description: 任务的截止时间设置
                    origin:
                      type: object
                      properties:
                        platform_i18n_name:
                          type: string
                          description: 任务导入来源的名称，用于在任务中心详情页展示。请提供一个字典，多种语言名称映射。支持的各地区语言名：it_it, th_th, ko_kr, es_es, ja_jp,
                            zh_cn, id_id, zh_hk, pt_br, de_de, fr_fr, zh_tw, ru_ru, en_us, hi_in, vi_vn
                          example: '{"zh_cn": "IT 工作台", "en_us": "IT Workspace"}'
                        href:
                          type: object
                          properties:
                            url:
                              type: string
                              description: 具体链接地址
                              example: https://support.feishu.com/internal/foo-bar
                            title:
                              type: string
                              description: 链接对应的标题
                              example: 反馈一个问题，需要协助排查
                          description: 任务关联的来源平台详情页链接
                      required:
                      - platform_i18n_name
                      description: 任务关联的第三方平台来源信息
                    can_edit:
                      type: boolean
                      description: 此字段用于控制该任务在任务中心是否可编辑，默认为false，若为true则第三方需考虑是否需要接入事件来接收任务在任务中心的变更信息
                      default: false
                      example: 'true'
                    custom:
                      type: string
                      description: 此字段用于存储第三方需透传到端上的自定义数据，Json格式。取值举例中custom_complete字段存储「完成」按钮的跳转链接（href）或提示信息（tip），pc、ios、android三端均可自定义，其中tip字段的key为语言类型，value为提示信息，可自行增加或减少语言类型，支持的各地区语言名：it_it,
                        th_th, ko_kr, es_es, ja_jp, zh_cn, id_id, zh_hk, pt_br, de_de, fr_fr, zh_tw, ru_ru, en_us, hi_in,
                        vi_vn。href的优先级高于tip，href和tip同时不为空时只跳转不提示。链接和提示信息可自定义，其余的key需按举例中的结构传递
                      example: '{\"custom_complete\":{\"android\":{\"href\":\"https://www.feishu.cn/\",\"tip\":{\"zh_cn\":\"你好\",\"en_us\":\"hello\"}},\"ios\":{\"href\":\"https://www.feishu.cn/\",\"tip\":{\"zh_cn\":\"你好\",\"en_us\":\"hello\"}},\"pc\":{\"href\":\"https://www.feishu.cn/\",\"tip\":{\"zh_cn\":\"你好\",\"en_us\":\"hello\"}}}}'
                    followers:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 任务关注者 ID
                            example: ou_99e1a581b36ecc4862cbfbce473f3123
                          id_list:
                            type: array
                            items:
                              type: string
                            description: 要添加为关注人的user_id
                      description: 任务的关注者
                      example: ou_03c21c80caea2c816665f8056dc59027
                    collaborators:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 任务协作者的 ID
                            example: ou_99e1a581b36ecc4862cbfbce473f1234
                          id_list:
                            type: array
                            items:
                              type: string
                            description: 协作人的用户ID列表
                      description: 任务的执行者
                      example: ou_558d4999baae26e32aa2fd9bb228660b
                    collaborator_ids:
                      type: array
                      items:
                        type: string
                      description: 创建任务时添加的执行者用户id列表
                      example: '["ou_1400208f15333e20e11339d39067844b", "ou_84ed6312949945c8ae6168f10829e9e6"]'
                    follower_ids:
                      type: array
                      items:
                        type: string
                      description: 创建任务时添加的关注者用户id列表
                      example: '["ou_1400208f15333e20e11339d39067844b", "ou_84ed6312949945c8ae6168f10829e9e6"]'
                    repeat_rule:
                      type: string
                      description: 重复任务重复规则
                      example: FREQ=WEEKLY;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                    rich_summary:
                      type: string
                      description: 富文本任务标题。创建任务时，如果没有标题填充，将其视为无主题的任务。
                      example: 每天喝八杯水，保持身心愉悦。[谷歌](https://www.google.com/)
                    rich_description:
                      type: string
                      description: 富文本任务备注
                      example: 多吃水果，多运动，健康生活，快乐工作。[谷歌](https://www.google.com/)
                  description: 被更新的任务实体基础信息
                update_fields:
                  type: array
                  items:
                    type: string
                  description: 指定需要更新的字段（目前可选更新的字段为：summary, description, due, extra），否则服务端将不知道更新哪些字段
                  example: '["summary"]'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema5'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:task:writeonly
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: bad request
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470410
        httpCode: 400
        msg: failed to parse rich_summary
      - code: 1470411
        httpCode: 400
        msg: failed to parse rich_description
      - code: 1470412
        httpCode: 400
        msg: invalid follower id
      - code: 1470413
        httpCode: 400
        msg: invalid collaborator id
      - code: 1470414
        httpCode: 400
        msg: invalid time zone
      - code: 1470415
        httpCode: 400
        msg: invalid platform_i18n_name
      - code: 1470423
        httpCode: 400
        msg: task id is missing
      - code: 1470424
        httpCode: 400
        msg: update_fields include unknown field
      - code: 1470425
        httpCode: 400
        msg: update_fields include forbidden field
      - code: 1470426
        httpCode: 400
        msg: expected one or more update field
      - code: 1470450
        httpCode: 400
        msg: request too fast
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470603
        httpCode: 500
        msg: failed to patch task
      - code: 1470740
        httpCode: 400
        msg: task content has risk
      - code: 1470741
        httpCode: 500
        msg: failed to audit task
      - code: 1470404
        httpCode: 400
        msg: be refused to create or update task, perhaps you have no permission
      - code: 1470434
        httpCode: 400
        msg: invalid repeat rule, please check the format
      - code: 1470435
        httpCode: 400
        msg: decode extra by base64 failed
      - code: 1470436
        httpCode: 400
        msg: failed to parse url of origin, should start with http, https or applink
      - code: 1470437
        httpCode: 400
        msg: summary or description length exceed limit, the maximum length of summary is 256, the maximum length of description
          is 65536
      - code: 1470438
        httpCode: 400
        msg: invalid custom, please check the format
      - code: 1470439
        httpCode: 400
        msg: failed to get time by timestamp
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.task.followers[*].id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.task.followers[*].id_list[*]
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.task.collaborators[*].id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.task.collaborators[*].id_list[*]
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.task.collaborator_ids[*]
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.task.follower_ids[*]
        section: 0
  /open-apis/task/v1/tasks/{task_id}/uncomplete:
    post:
      operationId: task_task_uncomplete
      summary: 取消完成任务
      tags:
      - task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/task-v1/task/uncomplete
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务 ID
        example: bb54ab99-d360-434f-bcaa-a4cc4c05840e
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:task
      - task:task:writeonly
      x-lark-error-mappings:
      - code: 1470403
        httpCode: 403
        msg: request forbidden
      - code: 1470604
        httpCode: 400
        msg: failed to update task complete status
      - code: 1470450
        httpCode: 400
        msg: request too fast
      - code: 1470451
        httpCode: 400
        msg: request api concurrently
      - code: 1470602
        httpCode: 400
        msg: task not found
      - code: 1470432
        httpCode: 400
        msg: have no permission to get task
      - code: 1470404
        httpCode: 400
        msg: be refused to create or update task
      x-lark-rate-limit:
        tier: 4
  /open-apis/task/v2/attachments/{attachment_guid}:
    delete:
      operationId: task_attachment_delete
      summary: 删除附件
      tags:
      - attachment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/attachment/delete
      parameters:
      - name: attachment_guid
        in: path
        required: true
        schema:
          type: string
        description: 要删除附件的GUID
        example: b59aa7a3-e98c-4830-8273-cbb29f89b837
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:attachment:delete
      - task:attachment:write
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: ''
      - code: 1470404
        httpCode: 404
        msg: ''
      - code: 1470500
        httpCode: 500
        msg: ''
      - code: 1470403
        httpCode: 403
        msg: ''
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: task_attachment_get
      summary: 获取附件
      tags:
      - attachment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/attachment/get
      parameters:
      - name: attachment_guid
        in: path
        required: true
        schema:
          type: string
        description: 要获取附件详情的guid
        example: b59aa7a3-e98c-4830-8273-cbb29f89b837
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 表示user的ID的类型，支持open_id, user_id, union_id
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      attachment:
                        allOf:
                        - $ref: '#/components/schemas/Attachment'
                        description: 附件详情
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:attachment:file:download
      - task:attachment:read
      - task:attachment:write
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: ''
      - code: 1470404
        httpCode: 404
        msg: ''
      - code: 1470500
        httpCode: 500
        msg: ''
      - code: 1470403
        httpCode: 403
        msg: ''
      x-lark-rate-limit:
        tier: 4
  /open-apis/task/v2/attachments:
    get:
      operationId: task_attachment_list
      summary: 列取附件
      tags:
      - attachment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/attachment/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: 分页大小
        example: '50'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: aWQ9NzEwMjMzMjMxMDE=
      - name: resource_type
        in: query
        required: false
        schema:
          type: string
          default: task
        description: 附件归属的资源类型
        example: task
      - name: resource_id
        in: query
        required: true
        schema:
          type: string
        description: 附件归属资源的id，配合resource_type使用。例如希望获取任务的附件，需要设置 resource_type为task， resource_id为任务的全局唯一ID
        example: 9842501a-9f47-4ff5-a622-d319eeecb97f
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 表示user的ID的类型，支持open_id, user_id, union_id
        example: open_id
      - name: updated_mesc
        in: query
        required: false
        schema:
          type: string
        description: 附件的最早上传时间
        example: '123'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Attachment'
                        description: 附件列表
                      page_token:
                        type: string
                        description: 获取下一页的分页标记，无更多数据时返回空
                        example: aWQ9NzEwMjMzMjMxMDE=
                      has_more:
                        type: boolean
                        description: 是否有更多数据
                        example: 'true'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:attachment:read
      - task:attachment:write
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: ''
      - code: 1470404
        httpCode: 404
        msg: ''
      - code: 1470500
        httpCode: 500
        msg: ''
      - code: 1470403
        httpCode: 403
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/task/v2/attachments/upload:
    post:
      operationId: task_attachment_upload
      summary: 上传附件
      tags:
      - attachment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/attachment/upload
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - open_id
          - union_id
          - user_id
          x-enum-descriptions:
            open_id: open id
            union_id: union id
            user_id: user_id
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 表示user的ID的类型，支持open_id, user_id, union_id
        example: open_id
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                resource_type:
                  type: string
                  description: 附件归属资源的类型
                  default: task
                  example: task
                resource_id:
                  type: string
                  description: 附件要归属资源的id。例如，要给任务添加附件，这里要填入任务的全局唯一ID
                  example: fe96108d-b004-4a47-b2f8-6886e758b3a5
                file:
                  type: string
                  format: binary
                  description: 要上传的文件
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Item'
                        description: 上传的附件列表
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:attachment:upload
      - task:attachment:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: ''
      - code: 1470403
        httpCode: 403
        msg: ''
      - code: 1470404
        httpCode: 404
        msg: ''
      - code: 1470500
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 7
      x-lark-file-upload: true
  /open-apis/task/v2/comments:
    post:
      operationId: task_comment_create
      summary: 创建评论
      tags:
      - comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/comment/create
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 表示user的ID的类型，支持open_id, user_id, union_id
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  description: 评论内容
                  example: 这是一条评论。
                reply_to_comment_id:
                  type: string
                  description: 回复给评论的id
                  example: '6937231762296684564'
                resource_type:
                  type: string
                  description: 评论归属的资源类型
                  default: task
                  example: task
                resource_id:
                  type: string
                  description: 评论归属的资源ID
                  example: ccb55625-95d2-2e80-655f-0e40bf67953f
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema7'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:comment:writeonly
      - task:comment:write
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: ''
      - code: 1470404
        httpCode: 404
        msg: ''
      - code: 1470500
        httpCode: 500
        msg: ''
      - code: 1470403
        httpCode: 403
        msg: ''
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: task_comment_list
      summary: 获取评论列表
      tags:
      - comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/comment/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: 分页大小
        example: '50'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: aWQ9NzEwMjMzMjMxMDE=
      - name: resource_type
        in: query
        required: false
        schema:
          type: string
          default: task
        description: 要获取评论列表的资源类型
        example: task
      - name: resource_id
        in: query
        required: true
        schema:
          type: string
        description: 要获取评论的资源ID。例如要获取任务的评论列表，此处应该填写任务全局唯一ID
        example: d300a75f-c56a-4be9-80d1-e47653028ceb
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          x-enum-descriptions:
            asc: 评论发表时间升序
            desc: 评论发表时间降序
          default: asc
        description: 返回数据的排序方式
        example: asc
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 表示user的ID的类型，支持open_id, user_id, union_id
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Comment'
                        description: 评论列表数据
                      page_token:
                        type: string
                        description: 用于获取下一页的分页标记，当has_more为false时为空
                        example: aWQ9NzEwMjMzMjMxMDE=
                      has_more:
                        type: boolean
                        description: 是否还有更多数据
                        example: 'true'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:comment:read
      - task:comment:write
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: ''
      - code: 1470404
        httpCode: 404
        msg: ''
      - code: 1470500
        httpCode: 500
        msg: ''
      - code: 1470403
        httpCode: 403
        msg: ''
      x-lark-rate-limit:
        tier: 4
      x-lark-pagination: true
  /open-apis/task/v2/comments/{comment_id}:
    delete:
      operationId: task_comment_delete
      summary: 删除评论
      tags:
      - comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/comment/delete
      parameters:
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
        description: 要删除的评论id
        example: '7198104824246747156'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:comment:delete
      - task:comment:write
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: ''
      - code: 1470404
        httpCode: 404
        msg: ''
      - code: 1470500
        httpCode: 500
        msg: ''
      - code: 1470403
        httpCode: 403
        msg: ''
      x-lark-rate-limit:
        tier: 4
    get:
      operationId: task_comment_get
      summary: 获取评论详情
      tags:
      - comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/comment/get
      parameters:
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
        description: 评论ID
        example: '7198104824246747156'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 表示user的ID的类型，支持open_id, user_id, union_id
        example: open_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema7'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:comment:read
      - task:comment:write
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: ''
      - code: 1470404
        httpCode: 404
        msg: ''
      - code: 1470500
        httpCode: 500
        msg: ''
      - code: 1470403
        httpCode: 403
        msg: ''
      x-lark-rate-limit:
        tier: 4
    patch:
      operationId: task_comment_patch
      summary: 更新评论
      tags:
      - comment
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/comment/patch
      parameters:
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
        description: 要更新的评论ID
        example: '7198104824246747156'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          default: open_id
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 表示user的ID的类型，支持open_id, user_id, union_id
        example: open_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: object
                  properties:
                    content:
                      type: string
                      description: 评论内容
                      example: 举杯邀明月，对影成三人
                  description: 要更新的评论数据，支持更新content, md_content
                update_fields:
                  type: array
                  items:
                    type: string
                  description: 要更新的字段
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema7'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:comment:writeonly
      - task:comment:write
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: ''
      - code: 1470404
        httpCode: 404
        msg: ''
      - code: 1470500
        httpCode: 500
        msg: ''
      - code: 1470403
        httpCode: 403
        msg: ''
      x-lark-rate-limit:
        tier: 4
  /open-apis/task/v2/custom_fields/{custom_field_guid}/options:
    post:
      operationId: task_custom_field_option_create
      summary: 创建自定义任务选项
      tags:
      - custom_field.option
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/custom_field-option/create
      parameters:
      - name: custom_field_guid
        in: path
        required: true
        schema:
          type: string
        description: 要添加选项的自定义字段GUID，该字段必须是
        example: b13adf3c-cad6-4e02-8929-550c112b5633
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 选项名
                  example: 高优
                color_index:
                  type: integer
                  description: 颜色索引值，支持0～54中的一个数字。如果不填写，则会随机选一个。
                  example: '10'
                insert_before:
                  type: string
                  description: 要放到某个option之前的option_guid
                  example: 2bd905f8-ef38-408b-aa1f-2b2ad33b2913
                insert_after:
                  type: string
                  description: 要放到某个option之后的option_guid
                  example: b13adf3c-cad6-4e02-8929-550c112b5633
                is_hidden:
                  type: boolean
                  description: 是否隐藏
                  default: false
                  example: 'false'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema15'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:custom_field:writeonly
      - task:tasklist:write
      - task:tasklist:read
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: ''
      - code: 1470403
        httpCode: 403
        msg: ''
      - code: 1470404
        httpCode: 404
        msg: ''
      - code: 1470500
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/task/v2/custom_fields/{custom_field_guid}/options/{option_guid}:
    patch:
      operationId: task_custom_field_option_patch
      summary: 更新自定义字段选项
      tags:
      - custom_field.option
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/custom_field-option/patch
      parameters:
      - name: custom_field_guid
        in: path
        required: true
        schema:
          type: string
        description: 要更新的选项的自定义字段GUID
        example: b13adf3c-cad6-4e02-8929-550c112b5633
      - name: option_guid
        in: path
        required: true
        schema:
          type: string
        description: 要更新的选项的GUID
        example: b13adf3c-cad6-4e02-8929-550c112b5633
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                option:
                  type: object
                  properties:
                    name:
                      type: string
                      description: 选项名称
                      example: 高优
                    color_index:
                      type: integer
                      description: 颜色索引值，支持0～54中的一个数字。如果不填写，则会随机选一个。
                      example: '10'
                    insert_before:
                      type: string
                      description: 要放到某个option之前的option_guid
                      example: 2bd905f8-ef38-408b-aa1f-2b2ad33b2913
                    insert_after:
                      type: string
                      description: 要放到某个option之后的option_guid
                      example: b13adf3c-cad6-4e02-8929-550c112b5633
                    is_hidden:
                      type: boolean
                      description: 是否隐藏
                      default: false
                      example: 'false'
                  description: 要更新的option数据
                update_fields:
                  type: array
                  items:
                    type: string
                  description: 要更新的字段名，支持name,color,is_hidden,insert_before,insert_after
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema15'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:custom_field:writeonly
      - task:tasklist:write
      x-lark-error-mappings:
      - code: 1470400
        httpCode: 400
        msg: ''
      - code: 1470403
        httpCode: 403
        msg: ''
      - code: 1470404
        httpCode: 404
        msg: ''
      - code: 1470500
        httpCode: 500
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/task/v2/custom_fields/{custom_field_guid}/add:
    post:
      operationId: task_custom_field_add
      summary: 将自定义字段加入资源
      tags:
      - custom_field
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/task-v2/custom_field/add
      parameters:
      - name: custom_field_guid
        in: path
        required: true
        schema:
          type: string
        description: 自定义字段GUID
        example: 0110a4bd-f24b-4a93-8c1a-1732b94f9593
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resource_type:
                  type: string
                  description: 要将自定义字段添加到一个资源的资源类型。目前只支持tasklist
                  example: tasklist
                resource_id:
                  type: string
                  description: 要将自定义字段添加到的资源id，目前只支持tasklist_guid
                  example: 0110a4bd-f24b-4a93-8c1a-1732b94f9593
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - task:custom_field:writeonly
      - task:custom_field:write
      x-lark-error-mappings:
      - code: 1470400
[...]
