# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · tenant API（全量）
  description: |-
    飞书开放平台 `tenant` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T04:09:08Z'
  x-lark-project: tenant
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T04:09:08Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: tenant.product_assign_info
- name: tenant
paths:
  /open-apis/tenant/v2/tenant/assign_info_list/query:
    get:
      operationId: tenant_tenant_product_assign_info_query
      summary: 获取企业席位信息接口
      tags:
      - tenant.product_assign_info
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/tenant-v2/tenant-product_assign_info/query
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      assign_info_list:
                        type: array
                        items:
                          type: object
                          properties:
                            subscription_id:
                              type: string
                              description: 席位id
                              example: '7079609167680782300'
                              format: int64
                            license_plan_key:
                              type: string
                              description: license_plan_key
                              example: suite_enterprise_e5
                            product_name:
                              type: string
                              description: 商业化产品名称
                              example: 旗舰版 E5
                            i18n_name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 商业化产品的中文名
                                  example: zh_cn_name
                                ja_jp:
                                  type: string
                                  description: 商业化产品的日文名
                                  example: ja_jp_name
                                en_us:
                                  type: string
                                  description: 商业化产品的英文名
                                  example: en_name
                              description: 国际化名称
                            total_seats:
                              type: string
                              description: 席位总数
                              example: '500'
                              format: int64
                            assigned_seats:
                              type: string
                              description: 已分配席位数
                              example: '20'
                              format: int64
                            start_time:
                              type: string
                              description: 席位起始时间
                              example: '1674981000'
                              format: int64
                            end_time:
                              type: string
                              description: 席位结束时间
                              example: '1674991000'
                              format: int64
                        description: 租户待分配席位列表
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - tenant:tenant.product_assign_info:read
      x-lark-error-mappings:
      - code: 1180001
        httpCode: 400
        msg: param is invalid
      x-lark-rate-limit:
        tier: 3
  /open-apis/tenant/v2/tenant/query:
    get:
      operationId: tenant_tenant_query
      summary: 获取企业信息
      tags:
      - tenant
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/tenant-v2/tenant/query
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      tenant:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 企业名称
                            example: textName
                          display_id:
                            type: string
                            description: 企业编号
                            example: F123456
                          tenant_tag:
                            type: integer
                            description: 个人版/团队版标志
                            enum:
                            - 0
                            - 2
                            x-enum-descriptions:
                              '0': 团队版
                              '2': 个人版
                            example: '2'
                          tenant_key:
                            type: string
                            description: 企业标识
                            example: 736588c9260f175d
                          avatar:
                            type: object
                            properties:
                              avatar_origin:
                                type: string
                                description: 企业头像
                              avatar_72:
                                type: string
                                description: 企业头像 72x72
                              avatar_240:
                                type: string
                                description: 企业头像 240x240
                              avatar_640:
                                type: string
                                description: 企业头像 640x640
                            description: 企业头像
                          domain:
                            type: string
                            description: 企业完整域名。企业域名可用于企业成员访问管理后台、云文档等含URL地址的网页。
                            example: newpoint.feishu-boe.cn
                        required:
                        - name
                        - display_id
                        - tenant_tag
                        - tenant_key
                        - avatar
                        description: 企业信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - tenant:tenant:readonly
      x-lark-field-scopes:
      - tenant:tenant.domain:read
      x-lark-error-mappings:
      - code: 1184000
        httpCode: 404
        msg: ''
      - code: 1184001
        httpCode: 403
        msg: ''
      x-lark-rate-limit:
        tier: 4
components:
  schemas: {}
