# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · translation API（全量）
  description: |-
    飞书开放平台 `translation` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: translation
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: text
paths:
  /open-apis/translation/v1/text/detect:
    post:
      operationId: translation_text_detect
      summary: 识别文本语种
      tags:
      - text
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/translation-v1/text/detect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: 需要被识别语种的文本
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      language:
                        type: string
                        description: 识别的文本语种，返回符合  ISO 693-1 标准
                    required:
                    - language
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - translation:text
      x-lark-error-mappings:
      - code: 1140101
        httpCode: 400
        msg: invalid param
      - code: 1140102
        httpCode: 500
        msg: network anomaly
      x-lark-rate-limit:
        tier: 0
  /open-apis/translation/v1/text/translate:
    post:
      operationId: translation_text_translate
      summary: 翻译文本
      tags:
      - text
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/ai/translation-v1/text/translate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source_language:
                  type: string
                  description: 源语言
                text:
                  type: string
                  description: 源文本
                target_language:
                  type: string
                  description: 目标语言
                glossary:
                  type: array
                  items:
                    type: object
                    properties:
                      from:
                        type: string
                        description: 原文
                      to:
                        type: string
                        description: 译文
                    required:
                    - from
                    - to
                  description: 请求级术语表，携带术语，仅在本次翻译中生效（最多能携带 128个术语词）
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      text:
                        type: string
                        description: 翻译后的文本
                    required:
                    - text
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - translation:text
      x-lark-error-mappings:
      - code: 1140101
        httpCode: 400
        msg: invalid param
      - code: 1140102
        httpCode: 500
        msg: network anomaly
      x-lark-rate-limit:
        tier: 0
components:
  schemas: {}
