# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · trust_party API（全量）
  description: |-
    飞书开放平台 `trust_party` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: trust_party
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: collaboration_tenant.collaboration_department
- name: collaboration_tenant.collaboration_user
- name: collaboration_tenant
paths:
  /open-apis/trust_party/v1/collaboration_tenants/{target_tenant_key}/collaboration_departments/{target_department_id}:
    get:
      operationId: trust_party_collaboration_tenant_collaboration_department_get
      summary: 获取关联组织部门详情
      tags:
      - collaboration_tenant.collaboration_department
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/trust_party-v1/collaboration_tenant-collaboration_department/get
      parameters:
      - name: target_tenant_key
        in: path
        required: true
        schema:
          type: string
        description: 对方关联组织的租户key
        example: 4e6ac4d14bcd5071a37a39de902c7141
      - name: target_department_id
        in: path
        required: true
        schema:
          type: string
        description: 对方关联组织的部门
        example: od-4e6ac4d14bcd5071a37a39de902c7141
      - name: target_department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 部门ID
            open_department_id: 部门open ID
          default: department_id
        description: 对方关联组织的入参部门类型
        example: department_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      target_department:
                        type: object
                        properties:
                          open_department_id:
                            type: string
                            description: 关联组织的部门open id
                            example: od-4e6ac4d14bcd5071a37a39de902c7141
                          department_id:
                            type: string
                            description: 关联组织的部门id
                            example: 902c7141
                          name:
                            type: string
                            description: 关联组织的部门名称
                            example: 测试部门
                          i18n_name:
                            type: object
                            properties:
                              zh_cn:
                                type: string
                                description: 中文名
                                example: zh_cn_name
                              ja_jp:
                                type: string
                                description: 日文名
                                example: ja_jp_name
                              en_us:
                                type: string
                                description: 英文名
                                example: en_name
                            description: 关联组织的的国际化部门名称
                          order:
                            type: string
                            description: 关联组织的部门排序
                            example: '2000'
                          leaders:
                            type: array
                            items:
                              type: object
                              properties:
                                leader_type:
                                  type: integer
                                  description: 负责人类型
                                  enum:
                                  - 1
                                  - 2
                                  x-enum-descriptions:
                                    '1': 主负责人
                                    '2': 副负责人
                                id:
                                  type: object
                                  properties:
                                    user_id:
                                      type: string
                                      description: 用户ID
                                      example: 1dfsads
                                    open_id:
                                      type: string
                                      description: 用户open ID
                                      example: ou_8b8d8b4e310575fd7e4947cf6f1402ac
                                    union_id:
                                      type: string
                                      description: 用户union ID
                                      example: on_cad4860e7af114fb4ff6c5d496d1dd76
                                  description: 负责人ID
                              required:
                              - leader_type
                              - id
                            description: 部门负责人
                          parent_department_id:
                            type: object
                            properties:
                              department_id:
                                type: string
                                description: 部门ID
                                example: 902c7141
                              open_department_id:
                                type: string
                                description: 部门open ID
                                example: od-4e6ac4d14bcd5071a37a39de902c7141
                            description: 父部门ID
                        description: 对方关联组织的部门
                    required:
                    - target_department
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - trust_party:collaboration.tenant:readonly
      x-lark-error-mappings:
      - code: 1971001
        httpCode: 400
        msg: User not visible to target tenant.
      - code: 1971002
        httpCode: 400
        msg: User not visible to target department.
      - code: 1971007
        httpCode: 400
        msg: App not visible to target tenant.
      - code: 1971008
        httpCode: 400
        msg: App not visible to target department
      x-lark-rate-limit:
        tier: 6
      x-lark-id-transform:
      - fromTo:
          from: tenant_key
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: tenant_id
        key: target_tenant_key
        section: 3
  /open-apis/trust_party/v1/collaboration_tenants/{target_tenant_key}/collaboration_users/{target_user_id}:
    get:
      operationId: trust_party_collaboration_tenant_collaboration_user_get
      summary: 获取关联组织成员详情
      tags:
      - collaboration_tenant.collaboration_user
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/trust_party-v1/collaboration_tenant-collaboration_user/get
      parameters:
      - name: target_tenant_key
        in: path
        required: true
        schema:
          type: string
        description: 对方关联组织的租户key
        example: 4e6ac4d14bcd5071a37a39de902c7141
      - name: target_user_id
        in: path
        required: true
        schema:
          type: string
        description: 请求的关联组织用户ID
        example: od-4e6ac4d14bcd5071a37a39de902c7141
      - name: target_user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          default: user_id
        description: 用户ID类型
        example: user_id
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      target_user:
                        type: object
                        properties:
                          open_id:
                            type: string
                            description: 对方关联组织用户的open_id
                            example: ou_4e6ac4d14bcd5071a37a39de902c7141
                          user_id:
                            type: string
                            description: 对方关联组织用户的id
                            example: 902c7141
                          union_id:
                            type: string
                            description: 对方关联组织用户的union id
                            example: on_cad4860e7af114fb4ff6c5d496d1dd76
                          name:
                            type: string
                            description: 用户的名称
                            example: test_name
                          i18n_name:
                            type: object
                            properties:
                              zh_cn:
                                type: string
                                description: 中文名
                                example: zh_cn_name
                              ja_jp:
                                type: string
                                description: 日文名
                                example: ja_jp_name
                              en_us:
                                type: string
                                description: 英文名
                                example: en_name
                            description: 关联组织的的国际化用户名称
                          avatar:
                            type: object
                            properties:
                              avatar_72:
                                type: string
                                description: 72*72像素头像链接
                              avatar_240:
                                type: string
                                description: 240*240像素头像链接
                              avatar_640:
                                type: string
                                description: 640*640像素头像链接
                              avatar_origin:
                                type: string
                                description: 原始头像链接
                            description: 用户头像信息
                          mobile:
                            type: string
                            description: 手机号
                            example: '+41446681800'
                          status:
                            type: object
                            properties:
                              is_frozen:
                                type: boolean
                                description: 是否冻结
                              is_resigned:
                                type: boolean
                                description: 是否离职
                              is_activated:
                                type: boolean
                                description: 是否激活
                              is_exited:
                                type: boolean
                                description: 是否主动退出，主动退出一段时间后用户会自动转为已离职
                              is_unjoin:
                                type: boolean
                                description: 是否未加入，需要用户自主确认才能加入团队
                            description: 用户状态
                          department_ids:
                            type: array
                            items:
                              type: string
                            description: 用户所属部门的ID列表,deprecate
                          leader_user_id:
                            type: string
                            description: 用户的直接主管的用户ID,deprecate
                            example: ou_7dab8a3d3cdcc9da365777c7ad535d62
                          job_title:
                            type: string
                            description: 职务
                            example: 顾问
                          custom_attrs:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: 自定义属性类型
                                  example: ENUMERATION
                                id:
                                  type: string
                                  description: 自定义属性ID
                                  example: C-7245579267802529811
                                value:
                                  type: object
                                  properties:
                                    text:
                                      type: string
                                      description: 属性文本
                                      example: 文本1
                                    url:
                                      type: string
                                      description: URL
                                      example: https://www.feishu.cn
                                    pc_url:
                                      type: string
                                      description: PC上的URL
                                      example: https://www.feishu.cn
                                    option_value:
                                      type: string
                                      description: 选项值
                                      example: v2_d9033c89-a483-4efa-8d17-d02340fb16dj
                                    picture_url:
                                      type: string
                                      description: 图片链接
                                      example: https://www.xxxx.com/~?image_size=noop&cut_type=&quality=&format=png&sticker_format=.webp
                                    name:
                                      type: string
                                      description: 名称
                                      example: 名字
                                    generic_user:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: 用户id
                                          example: '123456789'
                                        type:
                                          type: integer
                                          description: 用户类型 1 User 2 Bot 11 Mail
                                          example: '1'
                                      required:
                                      - id
                                      - type
                                      description: 用户信息
                                  description: 自定义属性取值
                            description: 自定义属性
                          employee_no:
                            type: string
                            description: 工号
                            example: '121212'
                          parent_department_ids:
                            type: array
                            items:
                              type: object
                              properties:
                                department_id:
                                  type: string
                                  description: 部门ID
                                  example: 902c7141
                                open_department_id:
                                  type: string
                                  description: 部门open ID
                                  example: od-4e6ac4d14bcd5071a37a39de902c7141
                            description: 父部门ID
                          leader_id:
                            type: object
                            properties:
                              user_id:
                                type: string
                                description: 用户ID
                                example: 1dfsads
                              open_id:
                                type: string
                                description: 用户open ID
                                example: ou_8b8d8b4e310575fd7e4947cf6f1402ac
                              union_id:
                                type: string
                                description: 用户union ID
                                example: on_cad4860e7af114fb4ff6c5d496d1dd76
                            description: 用户的leader
                        required:
                        - name
                        description: 关联组织用户
                    required:
                    - target_user
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - trust_party:collaboration.tenant:readonly
      x-lark-error-mappings:
      - code: 1971001
        httpCode: 400
        msg: User not visible to target tenant.
      - code: 1971010
        httpCode: 400
        msg: User not visible to target user.
      - code: 1971007
        httpCode: 400
        msg: App not visible to target tenant.
      - code: 1971009
        httpCode: 400
        msg: App not visible to target user.
      x-lark-rate-limit:
        tier: 6
      x-lark-id-transform:
      - fromTo:
          from: tenant_key
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: tenant_id
        key: target_tenant_key
        section: 3
  /open-apis/trust_party/v1/collaboration_tenants/{target_tenant_key}:
    get:
      operationId: trust_party_collaboration_tenant_get
      summary: 获取关联组织详情
      tags:
      - collaboration_tenant
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/trust_party-v1/collaboration_tenant/get
      parameters:
      - name: target_tenant_key
        in: path
        required: true
        schema:
          type: string
        description: 对方关联组织的租户key
        example: 4e6ac4d14bcd5071a37a39de902c7141
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      target_tenant:
                        allOf:
                        - $ref: '#/components/schemas/TargetTenant'
                        description: 对方关联组织详情
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - trust_party:collaboration.tenant:readonly
      x-lark-error-mappings:
      - code: 1971001
        httpCode: 400
        msg: User not visible to target tenant.
      - code: 1971007
        httpCode: 400
        msg: App not visible to target tenant.
      x-lark-rate-limit:
        tier: 6
      x-lark-id-transform:
      - fromTo:
          from: tenant_key
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: tenant_id
        key: target_tenant_key
        section: 3
  /open-apis/trust_party/v1/collaboration_tenants:
    get:
      operationId: trust_party_collaboration_tenant_list
      summary: 获取可见关联组织的列表
      tags:
      - collaboration_tenant
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/trust_party-v1/collaboration_tenant/list
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 下一页分页的token
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: 单次请求的关联组织数量
        example: '10'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      target_tenant_list:
                        type: array
                        items:
                          $ref: '#/components/schemas/TargetTenant'
                        description: 关联组织列表
                      has_more:
                        type: boolean
                        description: 是否还有更多的关联组织
                      page_token:
                        type: string
                        description: 下一页分页的token
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - trust_party:collaboration.tenant:readonly
      x-lark-error-mappings:
      - code: 1970012
        httpCode: 400
        msg: Page token is invalid error.
      - code: 1970011
        httpCode: 400
        msg: Page size is invalid error.
      x-lark-rate-limit:
        tier: 4
  /open-apis/trust_party/v1/collaboration_tenants/{target_tenant_key}/visible_organization:
    get:
      operationId: trust_party_collaboration_tenant_visible_organization
      summary: 获取关联组织的部门和成员信息
      tags:
      - collaboration_tenant
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/trust_party-v1/collaboration_tenant/visible_organization
      parameters:
      - name: target_tenant_key
        in: path
        required: true
        schema:
          type: string
        description: 对方关联组织的租户key
        example: 4e6ac4d14bcd5071a37a39de902c7141
      - name: department_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - department_id
          - open_department_id
          x-enum-descriptions:
            department_id: 以自定义department_id来标识部门
            open_department_id: 以open_department_id来标识部门
          default: department_id
          x-lark-id-types:
            department_id: department
            open_department_id: department
        description: 此次调用中使用的部门ID的类型
      - name: target_department_id
        in: query
        required: false
        schema:
          type: string
        description: 请求关联组织的部门ID，0代表根部门，与target_group_id二选一
        example: od-4e6ac4d14bcd5071a37a39de902c7141
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 下一页分页的token
        example: AQD9/Rn9eij9Pm39ED40/TIx6jupqdAcfLY%2B51xMvNU=
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 100
        description: 请求的可见实体数量
        example: '10'
      - name: group_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - group_id
          - open_group_id
          x-enum-descriptions:
            group_id: group_id
            open_group_id: 以open_group_id来标识部门
          default: group_id
        description: 此次调用中使用的用户组ID的类型
      - name: target_group_id
        in: query
        required: false
        schema:
          type: string
        description: 请求关联组织的用户组ID，与target_department_id二选一
        example: od-4e6ac4d14bcd5071a37a39de902c7141
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      collaboration_entity_list:
                        type: array
                        items:
                          type: object
                          properties:
                            collaboration_entity_type:
                              type: string
                              description: 关联组织实体类型
                              enum:
                              - user
                              - department
                              - group
                              x-enum-descriptions:
                                user: 用户类型
                                department: 部门类型
                                group: 用户组类型
                              example: user
                            department_id:
                              type: string
                              description: 部门ID
                              example: D096
                            open_department_id:
                              type: string
                              description: 部门的open ID
                              example: od-4e6ac4d14bcd5071a37a39de902c7141
                            user_id:
                              type: string
                              description: 用户ID
                              example: a0121196
                            open_user_id:
                              type: string
                              description: 用户的open ID
                              example: ou_4e6ac4d14bcd5071a37a39de902c7141
                            union_user_id:
                              type: string
                              description: 用户的union_id
                              example: on_4e6ac4d14bcd5071a37a39de902c7141
                            department_name:
                              type: string
                              description: 部门名称
                              example: test
                            i18n_department_name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 中文名
                                  example: zh_cn_name
                                ja_jp:
                                  type: string
                                  description: 日文名
                                  example: ja_jp_name
                                en_us:
                                  type: string
                                  description: 英文名
                                  example: en_name
                              description: 部门的国际化名称
                            department_order:
                              type: string
                              description: 部门顺序
                              example: '2000'
                            user_name:
                              type: string
                              description: 对方成员名称
                              example: test_user_name
                            i18n_user_name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 中文名
                                  example: zh_cn_name
                                ja_jp:
                                  type: string
                                  description: 日文名
                                  example: ja_jp_name
                                en_us:
                                  type: string
                                  description: 英文名
                                  example: en_name
                              description: 对方成员i18n名称
                            user_avatar:
                              type: object
                              properties:
                                avatar_72:
                                  type: string
                                  description: 72*72像素头像链接
                                avatar_240:
                                  type: string
                                  description: 240*240像素头像链接
                                avatar_640:
                                  type: string
                                  description: 640*640像素头像链接
                                avatar_origin:
                                  type: string
                                  description: 原始头像链接
                              description: 对方租户的成员头像
                            group_id:
                              type: string
                              description: 用户组ID
                              example: a0121196
                            open_group_id:
                              type: string
                              description: 用户组的open ID
                              example: ou_4e6ac4d14bcd5071a37a39de902c7141
                            group_name:
                              type: string
                              description: 对方用户组名称
                              example: test_user_name
                            i18n_group_name:
                              type: object
                              properties:
                                zh_cn:
                                  type: string
                                  description: 中文名
                                  example: zh_cn_name
                                ja_jp:
                                  type: string
                                  description: 日文名
                                  example: ja_jp_name
                                en_us:
                                  type: string
                                  description: 英文名
                                  example: en_name
                              description: 对方用户组i18n名称
                          required:
                          - collaboration_entity_type
                        description: 该部门下可见的部门、用户、用户组列表
                      has_more:
                        type: boolean
                        description: 是否有更多可见的实体
                      page_token:
                        type: string
                        description: 下一页分页的token
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - trust_party:collaboration.tenant:readonly
      x-lark-error-mappings:
      - code: 1971001
        httpCode: 400
        msg: User not visible to target tenant.
      - code: 1971002
        httpCode: 400
        msg: User not visible to target department.
      - code: 1970012
        httpCode: 400
        msg: Page token is invalid error
      - code: 1970011
        httpCode: 400
        msg: Page size is invalid error.
      - code: 1971007
        httpCode: 400
        msg: App not visible to target tenant.
      - code: 1971008
        httpCode: 400
        msg: App not visible to target department.
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: tenant_key
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: tenant_id
        key: target_tenant_key
        section: 3
components:
  schemas:
    TargetTenant:
      type: object
      properties:
        tenant_key:
          type: string
          description: 关联租户ID
          example: abcd
        tenant_name:
          type: string
          description: 目标租户的租户名称
          example: name
        i18n_tenant_name:
          type: object
          properties:
            zh_cn:
              type: string
              description: 中文名
              example: zh_cn_name
            ja_jp:
              type: string
              description: 日文名
              example: ja_jp_name
            en_us:
              type: string
              description: 英文名
              example: en_name
          description: 目标租户的租户i18n名称
        tenant_short_name:
          type: string
          description: 目标租户的租户简称
          example: tenant_short_name
        i18n_tenant_short_name:
          type: object
          properties:
            zh_cn:
              type: string
              description: 中文名
              example: zh_cn_name
            ja_jp:
              type: string
              description: 日文名
              example: ja_jp_name
            en_us:
              type: string
              description: 英文名
              example: en_name
          description: 目标租户的租户i18n简称
        connect_time:
          type: integer
          description: 关联时间
          example: '1671107493'
        tenant_tag:
          type: string
          description: 标签
          example: 协作
        i18n_tenant_tag:
          type: object
          properties:
            zh_cn:
              type: string
              description: 中文名
              example: zh_cn_name
            ja_jp:
              type: string
              description: 日文名
              example: ja_jp_name
            en_us:
              type: string
              description: 英文名
              example: en_name
          description: i18n标签
        avatar:
          type: object
          properties:
            avatar_72:
              type: string
              description: 72*72像素头像链接
            avatar_240:
              type: string
              description: 240*240像素头像链接
            avatar_640:
              type: string
              description: 640*640像素头像链接
            avatar_origin:
              type: string
              description: 原始头像链接
          description: 租户icon信息
        brand:
          type: string
          description: 租户品牌
          example: feishu
      description: 对方关联组织详情
