# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · vc API（全量）
  description: |-
    飞书开放平台 `vc` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: vc
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: alert
- name: bot
- name: export
- name: meeting.recording
- name: meeting
- name: meeting_list
- name: note
- name: participant_list
- name: participant_quality_list
- name: report
- name: reserve
- name: reserve_config.admin
- name: reserve_config.disable_inform
- name: reserve_config.form
- name: reserve_config
- name: resource_reservation_list
- name: room
- name: room_config
- name: room_level
- name: scope_config
paths:
  /open-apis/vc/v1/alerts:
    get:
      operationId: vc_alert_list
      summary: 获取告警记录
      tags:
      - alert
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/alert/list
      parameters:
      - name: start_time
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 开始时间（unix时间，单位sec）
        example: '1608888867'
      - name: end_time
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 结束时间（unix时间，单位sec）
        example: '1608888867'
      - name: query_type
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 1
          - 2
          - 3
          x-enum-descriptions:
            '1': 会议室
            '2': erc
            '3': SIP会议室系统
        description: 查询对象类型
        example: '1'
      - name: query_value
        in: query
        required: false
        schema:
          type: string
        description: 查询对象ID
        example: '6911188411932033028'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 请求期望返回的告警记录数量，不足则返回全部，该值默认为 100，最大为 1000
        example: '500'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: '0'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有数据
                        example: 'true'
                      page_token:
                        type: string
                        description: 下一页分页的token，下次请求时传入
                        example: '50'
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            alert_id:
                              type: string
                              description: 告警ID
                              example: '7115030004018184212'
                              format: int64
                            resource_scope:
                              type: string
                              description: 触发告警规则的会议室/服务器具体的名称
                              example: XX层级
                            monitor_target:
                              type: integer
                              description: 触发告警规则的监控对象
                              enum:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              x-enum-descriptions:
                                '1': 飞书会议室
                                '2': 飞书会议室签到板
                                '3': 飞书投屏盒子
                                '4': 飞书投屏
                                '5': sip会议室系统
                                '6': erc节点
                                '7': 飞书传感器
                              example: '2'
                            alert_strategy:
                              type: string
                              description: 告警规则的规则描述
                              example: 连续1个周期（共1分钟），控制器电量 < 50%，则告警
                            alert_time:
                              type: string
                              description: 告警通知发生时间（unix时间，单位sec）
                              example: '1656914944'
                              format: int64
                            alert_level:
                              type: integer
                              description: 告警等级：严重/警告/提醒
                              enum:
                              - 0
                              - 1
                              - 2
                              x-enum-descriptions:
                                '0': 提醒
                                '1': 警告
                                '2': 严重
                              example: '2'
                            contacts:
                              type: array
                              items:
                                type: object
                                properties:
                                  contact_type:
                                    type: integer
                                    enum:
                                    - 1
                                    - 2
                                    - 3
                                    x-enum-descriptions:
                                      '1': 用户
                                      '2': 用户组
                                      '3': 部门
                                  contact_name:
                                    type: string
                                    description: 联系人名
                              description: 告警联系人
                            notifyMethods:
                              type: array
                              items:
                                type: integer
                                enum:
                                - 0
                                - 1
                                x-enum-descriptions:
                                  '0': 飞书机器人
                                  '1': 邮件
                              description: 通知方式
                              example: '[0,1]'
                            alertRule:
                              type: string
                              description: 规则名称
                              example: 签到板断开连接
                            process_time:
                              type: string
                              description: 处理时间
                              example: '1656914944'
                              format: int64
                            recover_time:
                              type: string
                              description: 恢复时间
                              example: '1656914944'
                              format: int64
                            process_status:
                              type: integer
                              description: 处理状态：待处理/处理中/已恢复
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              x-enum-descriptions:
                                '0': 待处理（deprecated）
                                '1': 待处理
                                '2': 处理中
                                '3': 已恢复（deprecated）
                                '4': 已恢复
                              example: '2'
                            alert_rule_id:
                              type: string
                              description: 告警规则ID
                              example: '100'
                              format: int64
                            monitor_target_room_id:
                              type: string
                              description: 触发告警规则的会议室ID，当触发告警规则的是会议室时返回该信息
                              example: omm_4de32cf10a4358788ff4e09e37ebbf9b
                            monitor_target_room_mac:
                              type: string
                              description: 触发告警规则的会议室主机Mac地址，当monitor_target=1时返回该信息
                              example: 52:60:19:9c:97:21
                        description: 告警记录
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - vc:alert:readonly
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121004
        httpCode: 404
        msg: data not exist
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
  /open-apis/vc/v1/bots/events:
    get:
      operationId: vc_bot_events
      summary: 获取会议事件列表
      tags:
      - bot
      description: 获取机器人会议事件接口
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/bot/events
      parameters:
      - name: meeting_id
        in: query
        required: true
        schema:
          type: string
        description: 会议唯一标识，可通过创建会议接口或会议列表查询接口获取。
        example: '7628568141510692381'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，用于获取下一页数据。首次查询无需传入，后续查询需传入上一页返回的 `page_token` 值。
      - name: start_time
        in: query
        required: false
        schema:
          type: string
        description: 待查询历史信息的起始时间
        example: '1609296809'
      - name: end_time
        in: query
        required: false
        schema:
          type: string
        description: 待查询历史信息的结束时间
        example: '160929690'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
        example: '20'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有更多未返回的事件记录，`true` 表示存在下一页数据，需使用 `page_token` 继续查询；`false` 表示已返回全部数据。
                      page_token:
                        type: string
                        description: 下一页查询标记，当 `has_more` 为 `true` 时返回，用于后续分页请求。
                      events:
                        type: array
                        items:
                          type: object
                          properties:
                            event_id:
                              type: string
                              description: 事件唯一标识，用于幂等校验和事件追踪。可通过事件创建接口获取
                              example: evt_20240520143000_123456
                            event_type:
                              type: string
                              description: 事件类型，用于区分不同业务场景的事件，如会议创建、参会人变更、会议结束等
                              example: meeting.created
                            event_time:
                              type: string
                              description: 事件发生的时间戳，格式为 RFC3339 标准（YYYY-MM-DDTHH:mm:ssZ）
                              example: '2024-05-20T14:30:00+08:00'
                            payload:
                              type: object
                              properties:
                                meeting:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: 会议ID
                                      example: '7628148899983674909'
                                      format: int64
                                    topic:
                                      type: string
                                      description: 会议主题
                                      example: 周会
                                    meeting_no:
                                      type: string
                                      description: 9位会议号
                                      example: '123456789'
                                    start_time:
                                      type: string
                                      description: 会议开始时间（unix时间，单位sec）
                                      example: '1712345678'
                                      format: int64
                                    end_time:
                                      type: string
                                      description: 会议结束时间（unix时间，单位sec）
                                      example: '1712349278'
                                      format: int64
                                    host_user:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: 用户 ID
                                          example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                                        user_type:
                                          type: integer
                                          description: 用户类型
                                          example: '1'
                                        user_role:
                                          type: integer
                                          description: 用户角色
                                          example: '1'
                                        user_name:
                                          type: string
                                          description: 用户名称
                                          example: 张三
                                      description: 会议主持人
                                  description: 会议数据
                                activity_event_type:
                                  type: string
                                  description: 会中活动子类型；取值 participant_joined / participant_left / transcript_received / chat_received
                                    / magic_share_started / magic_share_ended
                                  example: participant_joined
                                participant_joined_items:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      participant:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: 用户 ID
                                            example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                                          user_type:
                                            type: integer
                                            description: 用户类型
                                            example: '1'
                                          user_role:
                                            type: integer
                                            description: 用户角色
                                            example: '1'
                                          user_name:
                                            type: string
                                            description: 用户名称
                                            example: 张三
                                        description: 入会的参会人
                                      join_time:
                                        type: string
                                        description: 入会时间（毫秒级时间戳）
                                        example: '1712345678000'
                                  description: 参会人入会内容（activity_event_type = participant_joined 时填充）
                                participant_left_items:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      participant:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: 用户 ID
                                            example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                                          user_type:
                                            type: integer
                                            description: 用户类型
                                            example: '1'
                                          user_role:
                                            type: integer
                                            description: 用户角色
                                            example: '1'
                                          user_name:
                                            type: string
                                            description: 用户名称
                                            example: 张三
                                        description: 离会的参会人
                                      leave_reason:
                                        type: integer
                                        description: 离会原因
                                        example: '1'
                                      leave_time:
                                        type: string
                                        description: 离会时间（毫秒级时间戳）
                                        example: '1712349200000'
                                  description: 参会人离会内容（activity_event_type = participant_left 时填充）
                                transcript_received_items:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      speaker:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: 用户 ID
                                            example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                                          user_type:
                                            type: integer
                                            description: 用户类型
                                            example: '1'
                                          user_role:
                                            type: integer
                                            description: 用户角色
                                            example: '1'
                                          user_name:
                                            type: string
                                            description: 用户名称
                                            example: 张三
                                        description: 发言人
                                      text:
                                        type: string
                                        description: 字幕文本
                                        example: 大家好，今天的会议主题是……
                                      language:
                                        type: string
                                        description: 语言类型
                                        example: zh
                                      start_time_ms:
                                        type: string
                                        description: 句子开始时间（毫秒级时间戳）
                                        example: '1712345678000'
                                      end_time_ms:
                                        type: string
                                        description: 句子结束时间（毫秒级时间戳）
                                        example: '1712345682000'
                                      sentence_id:
                                        type: string
                                        description: 句子 ID（用于去重和排序）
                                        example: '1001'
                                  description: 字幕内容（activity_event_type = transcript_received 时填充）
                                chat_received_items:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      operator:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: 用户 ID
                                            example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                                          user_type:
                                            type: integer
                                            description: 用户类型
                                            example: '1'
                                          user_role:
                                            type: integer
                                            description: 用户角色
                                            example: '1'
                                          user_name:
                                            type: string
                                            description: 用户名称
                                            example: 张三
                                        description: 发送者
                                      message_id:
                                        type: string
                                        description: 消息 ID
                                        example: m_1001
                                      message_type:
                                        type: integer
                                        description: 消息类型
                                        example: '1'
                                      content:
                                        type: string
                                        description: 消息内容
                                        example: 你好
                                      send_time:
                                        type: string
                                        description: 发送时间（毫秒级时间戳）
                                        example: '1712345678000'
                                  description: 聊天消息内容（activity_event_type = chat_received 时填充）
                                magic_share_started_items:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      operator:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: 用户 ID
                                            example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                                          user_type:
                                            type: integer
                                            description: 用户类型
                                            example: '1'
                                          user_role:
                                            type: integer
                                            description: 用户角色
                                            example: '1'
                                          user_name:
                                            type: string
                                            description: 用户名称
                                            example: 张三
                                        description: 发起妙享的操作者
                                      share_id:
                                        type: string
                                        description: 共享会话 ID
                                        example: share_abc_123
                                      share_doc:
                                        type: object
                                        properties:
                                          url:
                                            type: string
                                            description: 文档 URL
                                            example: https://example.feishu.cn/docx/xxx
                                          title:
                                            type: string
                                            description: 文档标题
                                            example: 会议讨论稿
                                        description: 共享文档信息
                                      time:
                                        type: string
                                        description: 妙享开始时间（毫秒级时间戳）
                                        example: '1712345678000'
                                  description: 妙享开始内容（activity_event_type = magic_share_started 时填充）
                                magic_share_ended_items:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      operator:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: 用户 ID
                                            example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                                          user_type:
                                            type: integer
                                            description: 用户类型
                                            example: '1'
                                          user_role:
                                            type: integer
                                            description: 用户角色
                                            example: '1'
                                          user_name:
                                            type: string
                                            description: 用户名称
                                            example: 张三
                                        description: 结束妙享的操作者
                                      share_id:
                                        type: string
                                        description: 共享会话 ID
                                        example: share_abc_123
                                      time:
                                        type: string
                                        description: 妙享结束时间（毫秒级时间戳）
                                        example: '1712349200000'
                                  description: 妙享结束内容（activity_event_type = magic_share_ended 时填充）
                              description: 事件负载，包含与事件类型对应的业务数据，采用 JSON 格式序列化后的字符串
                        description: 会议事件列表，包含会议生命周期内的所有关键操作记录。
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - vc:meeting.meetingevent:read
      - vc:meeting.bot.join:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 120001
        httpCode: 400
        msg: param is invalid
      - code: 120002
        httpCode: 403
        msg: switch for allowing agents to join meetings is disabled
      - code: 120003
        httpCode: 403
        msg: user is not in the meeting
      - code: 120004
        httpCode: 403
        msg: bot is not in the meeting
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
  /open-apis/vc/v1/bots/user_active_meeting:
    get:
      operationId: vc_bot_user_active_meeting
      summary: 获取用户活跃会议列表
      tags:
      - bot
      description: |-
        ## 功能介绍
        查询指定用户当前正在参与的所有会议列表，包含会议号、会议ID及会议标题等核心信息，用于实时同步用户参会状态或会议管理场景。

        ### 注意事项
        - 返回结果仅包含用户当前处于活跃状态的会议，已结束或未开始的会议不会被返回。
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/bot/user_active_meeting
      parameters:
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        example: usr_8a2e7d6f-3b4c-5d6e-7f8a-9b0c1d2e3f4a
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      meetings:
                        type: array
                        items:
                          type: object
                          properties:
                            meeting_no:
                              type: string
                              description: 会议号
                              example: '987654321'
                            meeting_id:
                              type: string
                              description: 会议ID
                              example: mt_123e4567-e89b-12d3-a456-426614174000
                            meeting_title:
                              type: string
                              description: 会议标题
                              example: Q3季度产品迭代评审会
                        description: 用户当前参与的活跃会议集合，每个元素包含会议号、会议ID及会议标题信息。
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - vc:meeting.meetingevent:read
      - vc:meeting.bot.join:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121004
        httpCode: 404
        msg: data not exist
      - code: 121005
        httpCode: 403
        msg: no permission
      - code: 121009
        httpCode: 403
        msg: switch for allowing agents to join meetings is disabled
      - code: 121010
        httpCode: 403
        msg: user is not in the meeting
      - code: 121011
        httpCode: 403
        msg: bot is not in the meeting
      x-lark-rate-limit:
        tier: 6
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: user_id
        section: 2
  /open-apis/vc/v1/exports/download:
    get:
      operationId: vc_export_download
      summary: 下载导出文件
      tags:
      - export
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/export/download
      parameters:
      - name: file_token
        in: query
        required: true
        schema:
          type: string
          x-lark-id-types:
            file_token: ccm_file
        description: 文档token
        example: 6yHu7Igp7Igy62Ez6fLr6IJz7j9i5WMe6fHq5yZeY2Jz6yLqYAMAY46fZfEz64Lr5fYyYQ==
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - vc:export
      - vc:meeting:export
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: fileToken has wrong format
      - code: 121004
        httpCode: 404
        msg: fileToken or file not exist
      - code: 121005
        httpCode: 403
        msg: has no permission to download
      x-lark-rate-limit:
        tier: 3
      x-lark-file-download: true
  /open-apis/vc/v1/exports/{task_id}:
    get:
      operationId: vc_export_get
      summary: 查询导出任务结果
      tags:
      - export
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/export/get
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务id
        example: '7108646852144136212'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      status:
                        type: integer
                        description: 任务状态
                        enum:
                        - 1
                        - 2
                        - 3
                        x-enum-descriptions:
                          '1': 处理中
                          '2': 失败
                          '3': 完成
                        example: '3'
                      url:
                        type: string
                        description: 文件下载地址
                        example: https://lf1-ttcdn-tos.pstatp.com/obj/xxx
                      file_token:
                        type: string
                        description: 文件token
                        example: 6yHu7Igp7Igy62Ez6fLr6IJz7j9i5WMe6fHq5yZeY2Jz6yLqYAMAY46fZfEz64Lr5fYyYQ==
                        x-lark-id-types:
                          file_token: ccm_file
                      fail_msg:
                        type: string
                        description: 失败信息
                        example: no permission
                    required:
                    - status
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - vc:export
      - vc:meeting:export
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121004
        httpCode: 404
        msg: data not exist
      - code: 121005
        httpCode: 403
        msg: no permission
      x-lark-rate-limit:
        tier: 3
  /open-apis/vc/v1/exports/meeting_list:
    post:
      operationId: vc_export_meeting_list
      summary: 导出会议明细
      tags:
      - export
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/export/meeting_list
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户（推荐）
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型，默认使用open_id可不填
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_time:
                  type: string
                  description: 查询开始时间（unix时间，单位sec）
                  example: '1655276858'
                  format: int64
                end_time:
                  type: string
                  description: 查询结束时间（unix时间，单位sec）
                  example: '1655276858'
                  format: int64
                meeting_status:
                  type: integer
                  description: 会议状态（不传默认为已结束会议）
                  enum:
                  - 1
                  - 2
                  - 3
                  x-enum-descriptions:
                    '1': 进行中
                    '2': 已结束
                    '3': 待召开
                  example: '2'
                meeting_no:
                  type: string
                  description: 按9位会议号筛选（最多一个筛选条件）
                  example: '123456789'
                user_id:
                  type: string
                  description: 按参会Lark用户筛选（最多一个筛选条件）
                  example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                room_id:
                  type: string
                  description: 按参会Rooms筛选（最多一个筛选条件）
                  example: omm_eada1d61a550955240c28757e7dec3af
                meeting_type:
                  type: integer
                  description: 按会议类型筛选（最多一个筛选条件）
                  enum:
                  - 1
                  - 2
                  - 3
                  x-enum-descriptions:
                    '1': 全部类型（默认）
                    '2': 视频会议
                    '3': 本地投屏
                  example: '2'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: 任务id
                        example: '7111325589855797267'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - vc:export
      - vc:meeting:export
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121004
        httpCode: 404
        msg: data not exist
      - code: 121005
        httpCode: 403
        msg: the user does not have Admin Meeting Management module permission
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_id
        section: 0
  /open-apis/vc/v1/exports/participant_list:
    post:
      operationId: vc_export_participant_list
      summary: 导出参会人明细
      tags:
      - export
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/export/participant_list
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户（推荐）
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型，默认使用open_id可不填
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                meeting_start_time:
                  type: string
                  description: 会议开始时间（unix时间，单位sec）
                  example: '1655276858'
                  format: int64
                meeting_end_time:
                  type: string
                  description: 会议结束时间（unix时间，单位sec）
                  example: '1655276858'
                  format: int64
                meeting_status:
                  type: integer
                  description: 会议状态（不传默认为已结束会议）
                  enum:
                  - 1
                  - 2
                  - 3
                  x-enum-descriptions:
                    '1': 进行中
                    '2': 已结束
                    '3': 待召开
                  example: '2'
                meeting_no:
                  type: string
                  description: 9位会议号
                  example: '123456789'
                user_id:
                  type: string
                  description: 按参会Lark用户筛选（最多一个筛选条件）
                  example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                room_id:
                  type: string
                  description: 按参会Rooms筛选（最多一个筛选条件）
                  example: omm_eada1d61a550955240c28757e7dec3af
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: 任务id
                        example: '7111325589855797267'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - vc:export
      - vc:meeting:export
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121004
        httpCode: 404
        msg: data not exist
      - code: 121005
        httpCode: 403
        msg: the user does not have Admin Meeting Management module permission
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_id
        section: 0
  /open-apis/vc/v1/exports/participant_quality_list:
    post:
      operationId: vc_export_participant_quality_list
      summary: 导出参会人会议质量数据
      tags:
      - export
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/export/participant_quality_list
      parameters:
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户（推荐）
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型，默认使用open_id可不填
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                meeting_start_time:
                  type: string
                  description: 会议开始时间（unix时间，单位sec）
                  example: '1655276858'
                  format: int64
                meeting_end_time:
                  type: string
                  description: 会议结束时间（unix时间，单位sec）
                  example: '1655276858'
                  format: int64
                meeting_no:
                  type: string
                  description: 9位会议号
                  example: '123456789'
                join_time:
                  type: string
                  description: 参会人入会时间（unix时间，单位sec）
                  example: '1655276858'
                  format: int64
                user_id:
                  type: string
                  description: 参会人为Lark用户时填入
                  example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                room_id:
                  type: string
                  description: 参会人为Rooms时填入
                  example: omm_eada1d61a550955240c28757e7dec3af
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: 任务id
                        example: '7111325589855797267'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - vc:export
      - vc:meeting:export
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121004
        httpCode: 404
        msg: data not exist
      - code: 121005
        httpCode: 403
        msg: the user does not have Admin Meeting Management module permission
      x-lark-rate-limit:
        tier: 3
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.user_id
        section: 0
  /open-apis/vc/v1/exports/resource_reservation_list:
    post:
      operationId: vc_export_resource_reservation_list
      summary: 导出会议室预定数据
      tags:
      - export
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/export/resource_reservation_list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                room_level_id:
                  type: string
                  description: 层级id
                  example: omb_57c9cc7d9a81e27e54c8fabfd02759e7
                need_topic:
                  type: boolean
                  description: 是否展示会议主题
                  example: 'true'
                start_time:
                  type: string
                  description: 查询开始时间（unix时间，单位sec）
                  example: '1655276858'
                  format: int64
                end_time:
                  type: string
                  description: 查询结束时间（unix时间，单位sec）
                  example: '1655276858'
                  format: int64
                room_ids:
                  type: array
                  items:
                    type: string
                  description: 待筛选的会议室id列表
                is_exclude:
                  type: boolean
                  description: 若为true表示导出room_ids范围外的会议室，默认为false
                  example: 'false'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        description: 任务id
                        example: '7111325589855797267'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - vc:export
      - vc:meeting:export
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121004
        httpCode: 404
        msg: data not exist
      - code: 121005
        httpCode: 403
        msg: the user does not have Admin Meeting Management module permission
      x-lark-rate-limit:
        tier: 3
  /open-apis/vc/v1/meetings/{meeting_id}/recording:
    get:
      operationId: vc_meeting_recording_get
      summary: 获取录制文件
      tags:
      - meeting.recording
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting-recording/get
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      recording:
                        type: object
                        properties:
                          url:
                            type: string
                            description: 录制文件URL
                            example: https://meetings.feishu.cn/minutes/obcn37dxcftoc3656rgyejm7
                          duration:
                            type: string
                            description: 录制总时长（单位msec）
                            example: '30000'
                            format: int64
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - vc:record:readonly
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121004
        httpCode: 404
        msg: data not exist
      - code: 121005
        httpCode: 403
        msg: no permission
      - code: 122001
        httpCode: 400
        msg: meeting status unexpected
      - code: 122002
        httpCode: 404
        msg: meeting not exist
      - code: 124002
        httpCode: 400
        msg: record processing
      x-lark-rate-limit:
        tier: 4
  /open-apis/vc/v1/meetings/{meeting_id}/recording/set_permission:
    patch:
      operationId: vc_meeting_recording_set_permission
      summary: 授权录制文件
      tags:
      - meeting.recording
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting-recording/set_permission
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: string
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户（推荐）
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型，默认使用open_id可不填
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                permission_objects:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 授权对象ID
                        example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                      type:
                        type: integer
                        description: 授权对象类型
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        x-enum-descriptions:
                          '1': 用户授权
                          '2': 群组授权
                          '3': 租户内授权（id字段不填）
                          '4': 公网授权（id字段不填）
                        example: '1'
                      permission:
                        type: integer
                        description: 授予权限
                        enum:
                        - 1
                        x-enum-descriptions:
                          '1': 查看
                        example: '1'
                    required:
                    - type
                    - permission
                  description: 授权对象列表
                action_type:
                  type: integer
                  description: 授权或者取消授权，默认授权
                  enum:
                  - 0
                  - 1
                  x-enum-descriptions:
                    '0': 授权
                    '1': 取消授权
                  example: '1'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - vc:record
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121004
        httpCode: 404
        msg: data not exist
      - code: 121005
        httpCode: 403
        msg: no permission
      - code: 122002
        httpCode: 404
        msg: meeting not exist
      x-lark-rate-limit:
        tier: 4
  /open-apis/vc/v1/meetings/{meeting_id}/recording/start:
    patch:
      operationId: vc_meeting_recording_start
      summary: 开始录制
      tags:
      - meeting.recording
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting-recording/start
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                timezone:
                  type: integer
                  description: 录制文件时间显示使用的时区[-12,12]
                  example: '8'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - vc:record
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121005
        httpCode: 403
        msg: no permission
      - code: 122001
        httpCode: 400
        msg: meeting status unexpected
      - code: 122002
        httpCode: 404
        msg: meeting not exist
      - code: 122003
        httpCode: 400
        msg: operator user not in meeting
      x-lark-rate-limit:
        tier: 0
  /open-apis/vc/v1/meetings/{meeting_id}/recording/stop:
    patch:
      operationId: vc_meeting_recording_stop
      summary: 停止录制
      tags:
      - meeting.recording
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting-recording/stop
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - vc:record
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121005
        httpCode: 403
        msg: no permission
      - code: 122001
        httpCode: 400
        msg: meeting status unexpected
      - code: 122002
        httpCode: 404
        msg: meeting not exist
      - code: 122003
        httpCode: 400
        msg: operator user not in meeting
      x-lark-rate-limit:
        tier: 0
  /open-apis/vc/v1/meetings/{meeting_id}/end:
    patch:
      operationId: vc_meeting_end
      summary: 结束会议
      tags:
      - meeting
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting/end
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 会议ID（视频会议的唯一标识，视频会议开始后才会产生）
        example: '6911188411932033028'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - vc:meeting
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121005
        httpCode: 403
        msg: no permission
      - code: 122001
        httpCode: 400
        msg: meeting status unexpected
      - code: 122002
        httpCode: 404
        msg: meeting not exist
      - code: 122003
        httpCode: 400
        msg: operator user not in meeting
      x-lark-rate-limit:
        tier: 4
  /open-apis/vc/v1/meetings/{meeting_id}:
    get:
      operationId: vc_meeting_get
      summary: 获取会议详情
      tags:
      - meeting
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting/get
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 会议ID（视频会议的唯一标识，视频会议开始后才会产生）
        example: '6911188411932033028'
      - name: with_participants
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要参会人列表
        example: 'false'
      - name: with_meeting_ability
        in: query
        required: false
        schema:
          type: boolean
        description: 是否需要会中使用能力统计（仅限tenant_access_token）
        example: 'false'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户（推荐）
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型，默认使用open_id可不填
      - name: query_mode
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          x-enum-descriptions:
            '0': 只查询会议信息（默认）
            '1': 只查询会议产物（纪要、逐字稿）
        description: 此次查询的查询模式，不传，或传0，只查询会议信息；传1，只查询会议产物
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      meeting:
                        $ref: '#/components/schemas/Meeting'
                      related_artifacts:
                        type: object
                        properties:
                          note_doc_token:
                            type: string
                            description: 会议纪要Doc Token
                            example: J1X5wG7bFilbFDk42VNdhfS6n6g
                          verbatim_doc_token:
                            type: string
                            description: 会议逐字稿Doc Token
                            example: J1X5wG7bFilbFDk42VNdhfS6n6g
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - vc:meeting:readonly
      - vc:meeting.meetingevent:read
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      - vc:meeting.artifact.note:read
      - vc:meeting.artifact.verbatim:read
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121004
        httpCode: 404
        msg: data not exist
      - code: 121005
        httpCode: 403
        msg: no permission
      x-lark-rate-limit:
        tier: 4
  /open-apis/vc/v1/meetings/{meeting_id}/invite:
    patch:
      operationId: vc_meeting_invite
      summary: 邀请参会人
      tags:
      - meeting
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting/invite
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 会议ID（视频会议的唯一标识，视频会议开始后才会产生）
        example: '6911188411932033028'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户（推荐）
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型，默认使用open_id可不填
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invitees:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 用户ID
                        example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                      user_type:
                        type: integer
                        description: 用户类型
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        x-enum-descriptions:
                          '1': lark用户
                          '2': rooms用户
                          '3': 文档用户
                          '4': neo单品用户
                          '5': neo单品游客用户
                          '6': pstn用户
                          '7': sip用户
                        example: '1'
                  description: 被邀请的用户列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      invite_results:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 用户ID
                              example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                            user_type:
                              type: integer
                              description: 用户类型
                              enum:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              x-enum-descriptions:
                                '1': lark用户
                                '2': rooms用户
                                '3': 文档用户
                                '4': neo单品用户
                                '5': neo单品游客用户
                                '6': pstn用户
                                '7': sip用户
                              example: '1'
                            status:
                              type: integer
                              description: 邀请结果
                              enum:
                              - 1
                              - 2
                              x-enum-descriptions:
                                '1': 邀请成功
                                '2': 邀请失败
                              example: '1'
                        description: 邀请结果
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - vc:meeting
      - vc:meeting.participant:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121005
        httpCode: 403
        msg: no permission
      - code: 122001
        httpCode: 400
        msg: meeting status unexpected
      - code: 122002
        httpCode: 404
        msg: meeting not exist
      - code: 122003
        httpCode: 400
        msg: operator user not in meeting
      - code: 122005
        httpCode: 400
        msg: cannot operate self
      - code: 122006
        httpCode: 400
        msg: participant count reach limit
      - code: 122007
        httpCode: 400
        msg: callee is busy
      - code: 122008
        httpCode: 400
        msg: meeting is locked
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.invitees[*].id
        section: 0
  /open-apis/vc/v1/meetings/{meeting_id}/kickout:
    post:
      operationId: vc_meeting_kickout
      summary: 移除参会人
      tags:
      - meeting
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting/kickout
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 会议ID
        example: '6911188411932033028'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户（推荐）
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型，默认使用open_id可不填
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kickout_users:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 用户ID
                        example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                      user_type:
                        type: integer
                        description: 用户类型
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        x-enum-descriptions:
                          '1': lark用户
                          '2': rooms用户
                          '3': 文档用户
                          '4': neo单品用户
                          '5': neo单品游客用户
                          '6': pstn用户
                          '7': sip用户
                        example: '1'
                  description: 需踢出的用户列表
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      kickout_results:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 用户ID
                              example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                            user_type:
                              type: integer
                              description: 用户类型
                              enum:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              x-enum-descriptions:
                                '1': lark用户
                                '2': rooms用户
                                '3': 文档用户
                                '4': neo单品用户
                                '5': neo单品游客用户
                                '6': pstn用户
                                '7': sip用户
                              example: '1'
                            result:
                              type: integer
                              description: 结果
                              enum:
                              - 1
                              - 2
                              x-enum-descriptions:
                                '1': 成功
                                '2': 失败
                              example: '1'
                        description: 踢出结果
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - vc:meeting
      - vc:meeting.participant:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121005
        httpCode: 403
        msg: no permission
      - code: 122001
        httpCode: 400
        msg: meeting status unexpected
      - code: 122002
        httpCode: 404
        msg: meeting not exist
      - code: 122003
        httpCode: 400
        msg: operator user not in meeting
      - code: 122005
        httpCode: 400
        msg: cannot operate self
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.kickout_users[*].id
        section: 0
  /open-apis/vc/v1/meetings/list_by_no:
    get:
      operationId: vc_meeting_list_by_no
      summary: 获取与会议号关联的会议列表
      tags:
      - meeting
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting/list_by_no
      parameters:
      - name: meeting_no
        in: query
        required: true
        schema:
          type: string
        description: 9位会议号
        example: '123456789'
      - name: start_time
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 查询开始时间（unix时间，单位sec）
        example: '1608888867'
      - name: end_time
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 查询结束时间（unix时间，单位sec）
        example: '1608888867'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        description: 是否还有数据
                        example: 'true'
                      page_token:
                        type: string
                        description: 下一页分页的token，下次请求时传入
                        example: '50'
                      meeting_briefs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 会议ID
                              example: '6911188411934433028'
                              format: int64
                            topic:
                              type: string
                              description: 会议主题
                              example: my meeting
                            url:
                              type: string
                              description: 会议链接
                              example: https://vc.feishu.cn/j/337736498
                            meeting_no:
                              type: string
                              description: 会议号
                              example: '123456789'
                            password:
                              type: string
                              description: 会议密码
                              example: '971024'
                            meeting_connect:
                              type: boolean
                              description: 该会议是否支持互通
                              example: 'true'
                            note_id:
                              type: string
                              description: 纪要ID
                              example: '6943848821689040898'
                              format: int64
                        description: 会议简要信息列表
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - vc:meeting:readonly
      - vc:meeting.meetingid:read
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121003
        httpCode: 400
        msg: param error
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
  /open-apis/vc/v1/meetings/search:
    post:
      operationId: vc_meeting_search
      summary: 搜索会议记录
      tags:
      - meeting
      description: 搜索视频会议接口
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting/search
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: |-
          分页大小，**默认15**，最大单页**不超过30**

          **注意：** 总计最多返回**150条** 记录
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: |-
                    搜索关键词
                    长度范围：1 字符 ～ 50 字符
                  example: 周会
                meeting_filter:
                  type: object
                  properties:
                    organizer_ids:
                      type: array
                      items:
                        type: string
                      description: 组织者OpenID
                    participant_ids:
                      type: array
                      items:
                        type: string
                      description: 参与者OpenID
                    open_room_ids:
                      type: array
                      items:
                        type: string
                      description: 会议室ID
                    start_time:
                      type: object
                      properties:
                        start_time:
                          type: string
                          description: 起始时间（iso8601，精确到秒）
                          example: '2026-03-21T16:15:30+08:00'
                        end_time:
                          type: string
                          description: 截止时间（iso8601，精确到秒）
                          example: '2026-03-21T16:15:30+08:00'
                      description: 会议开始时间区间（iso8601格式）
                  description: 视频会议过滤参数
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: 匹配结果总数（辅助分页参考）
                        example: '10'
                      has_more:
                        type: boolean
                        description: 是否有更多数据可供加载
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 会议ID（视频会议的唯一标识，视频会议开始后才会产生）
                              example: '6911188411932033028'
                            display_info:
                              type: string
                              description: 包含基本信息的卡片，用户搜索关键词命中的文本片段，使用<h></h>标签包裹标注
                              example: '会议名 \n 片段1＜h>搜索词/h>片段2\n 会议时间 | 组织者：组织者姓名 | ID: 会议ID'
                            meta_data:
                              type: object
                              properties:
                                app_link:
                                  type: string
                                  description: 跳转链接
                                  example: https://applink.larkoffice.com/*
                                avatar:
                                  type: string
                                  description: 图标url
                                  example: https://lf-packag*
                                description:
                                  type: string
                                  description: 描述，包含会议时间、组织者和会议ID
                                  example: 会议时间 | 组织者：组织者姓名 | ID：123456789
                              description: 会议元信息
                        description: 返回结果列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                      notice:
                        type: string
                        description: 搜索补充提示信息，返回本次搜索的额外说明，例如：query被截断；搜索结果不全等
                        example: The query is too long and has been truncated to the first 50 characters for search.
                    required:
                    - has_more
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - vc:meeting.search:read
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: invalid param
      - code: 121002
        httpCode: 500
        msg: network error
      - code: 121011
        httpCode: 500
        msg: query is too long
      - code: 121012
        httpCode: 500
        msg: invalid filter
      - code: 121020
        httpCode: 500
        msg: page_token is invalid or expired
      - code: 121021
        httpCode: 500
        msg: page_size exceeds maximum allowed value
      - code: 121022
        httpCode: 500
        msg: pagination limit reached
      - code: 121030
        httpCode: 500
        msg: user identity not found
      - code: 121031
        httpCode: 500
        msg: failed to initialize request context
      - code: 121040
        httpCode: 500
        msg: search service error
      - code: 121041
        httpCode: 500
        msg: failed to process search result
      - code: 122601
        httpCode: 500
        msg: meeting time format is invalid
      - code: 122602
        httpCode: 500
        msg: failed to build meeting filter
      - code: 122603
        httpCode: 500
        msg: failed to convert meeting search result
      - code: 122604
        httpCode: 500
        msg: invalid meeting room ID format
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
      x-lark-id-transform:
      - fromTo:
          from: open_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.meeting_filter.organizer_ids[*]
        section: 0
      - fromTo:
          from: open_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.meeting_filter.participant_ids[*]
        section: 0
      - fromTo:
          from: open_room_id
          idType: ''
          idTypeKey: ''
          idTypeSection: 2
          to: lark_id
        key: $.meeting_filter.open_room_ids[*]
        section: 0
  /open-apis/vc/v1/meetings/{meeting_id}/set_host:
    patch:
      operationId: vc_meeting_set_host
      summary: 设置主持人
      tags:
      - meeting
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting/set_host
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: string
          format: int64
        description: 会议ID（视频会议的唯一标识，视频会议开始后才会产生）
        example: '6911188411932033028'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_id
          - union_id
          - open_id
          x-enum-descriptions:
            user_id: 以user_id来识别用户
            union_id: 以union_id来识别用户
            open_id: 以open_id来识别用户（推荐）
          x-lark-id-types:
            open_id: user
            union_id: user
            user_id: user
        description: 此次调用中使用的用户ID的类型，默认使用open_id可不填
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                host_user:
                  type: object
                  properties:
                    id:
                      type: string
                      description: 用户ID
                      example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                    user_type:
                      type: integer
                      description: 用户类型
                      enum:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      x-enum-descriptions:
                        '1': lark用户
                        '2': rooms用户
                        '3': 文档用户
                        '4': neo单品用户
                        '5': neo单品游客用户
                        '6': pstn用户
                        '7': sip用户
                      example: '1'
                  description: 将要设置的主持人
                old_host_user:
                  type: object
                  properties:
                    id:
                      type: string
                      description: 用户ID
                      example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                    user_type:
                      type: integer
                      description: 用户类型
                      enum:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      x-enum-descriptions:
                        '1': lark用户
                        '2': rooms用户
                        '3': 文档用户
                        '4': neo单品用户
                        '5': neo单品游客用户
                        '6': pstn用户
                        '7': sip用户
                      example: '1'
                  description: 当前主持人（CAS并发安全：如果和会中当前主持人不符则会设置失败，可使用返回的最新数据重新设置）
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      host_user:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 用户ID
                            example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
                          user_type:
                            type: integer
                            description: 用户类型
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            x-enum-descriptions:
                              '1': lark用户
                              '2': rooms用户
                              '3': 文档用户
                              '4': neo单品用户
                              '5': neo单品游客用户
                              '6': pstn用户
                              '7': sip用户
                            example: '1'
                        description: 会中当前主持人
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - vc:meeting
      - vc:meeting.participant:write
      x-lark-field-scopes:
      - contact:user.employee_id:readonly
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121005
        httpCode: 403
        msg: no permission
      - code: 121006
        httpCode: 409
        msg: data conflict
      - code: 122001
        httpCode: 400
        msg: meeting status unexpected
      - code: 122002
        httpCode: 404
        msg: meeting not exist
      - code: 122003
        httpCode: 400
        msg: operator user not in meeting
      - code: 122004
        httpCode: 400
        msg: target user not in meeting
      - code: 122005
        httpCode: 400
        msg: cannot operate self
      - code: 122009
        httpCode: 400
        msg: participant status not expected
      x-lark-rate-limit:
        tier: 4
      x-lark-id-transform:
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.host_user.id
        section: 0
      - fromTo:
          from: x_user_id
          idType: ''
          idTypeKey: user_id_type
          idTypeSection: 2
          to: lark_id
        key: $.old_host_user.id
        section: 0
  /open-apis/vc/v1/meetings/subscription:
    post:
      operationId: vc_meeting_subscription
      summary: 订阅会议变更事件
      tags:
      - meeting
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting/subscription
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                  description: 事件类型
                  example: vc.meeting.participant_meeting_ended_v1
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - vc:meeting.meetingevent:read
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121004
        httpCode: 404
        msg: data not exist
      - code: 121005
        httpCode: 403
        msg: no permission
      x-lark-rate-limit:
        tier: 4
  /open-apis/vc/v1/meetings/unsubscription:
    post:
      operationId: vc_meeting_unsubscription
      summary: 取消订阅会议变更事件
      tags:
      - meeting
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting/unsubscription
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                  description: 事件类型
                  example: vc.meeting.participant_meeting_ended_v1
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - vc:meeting.meetingevent:read
      x-lark-error-mappings:
      - code: 121001
        httpCode: 500
        msg: internal error
      - code: 121002
        httpCode: 400
        msg: not support
      - code: 121003
        httpCode: 400
        msg: param error
      - code: 121004
        httpCode: 404
        msg: data not exist
      - code: 121005
        httpCode: 403
        msg: no permission
      x-lark-rate-limit:
        tier: 4
  /open-apis/vc/v1/meeting_list:
    get:
      operationId: vc_meeting_list_get
      summary: 查询会议明细
      tags:
      - meeting_list
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/reference/vc-v1/meeting_list/get
      parameters:
      - name: start_time
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 查询开始时间（unix时间，单位sec）
        example: '1655276858'
      - name: end_time
        in: query
        required: true
        schema:
          type: string
          format: int64
        description: 查询结束时间（unix时间，单位sec）
        example: '1655276858'
      - name: meeting_status
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 1
          - 2
          - 3
          x-enum-descriptions:
            '1': 进行中
            '2': 已结束
            '3': 待召开
        description: 会议状态
        example: '2'
      - name: meeting_no
        in: query
        required: false
        schema:
          type: string
        description: 按9位会议号筛选（最多一个筛选条件）
        example: '123456789'
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        description: 按参会Lark用户筛选（最多一个筛选条件）
        example: ou_3ec3f6a28a0d08c45d895276e8e5e19b
      - name: room_id
        in: query
        required: false
        schema:
          type: string
        description: 按参会Rooms筛选（最多一个筛选条件）
        example: omm_eada1d61a550955240c28757e7dec3af
      - name: meeting_type
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 1
          - 2
          - 3
          x-enum-descriptions:
            '1': 全部类型（默认）
            '2': 视频会议
            '3': 本地投屏
        description: 按会议类型筛选（最多一个筛选条件）
        example: '2'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页尺寸大小
        example: '20'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记,第一次请求不填,表示从头开始遍历.下次遍历可采用该 page_token获取查询结果
      - name: include_external_meetings
        in: query
        required: false
        schema:
          type: boolean
        description: 是否查询外部会议（不传默认为不查询）
        example: 'false'
      - name: include_webinar
        in: query
        required: false
        schema:
          type: boolean
        description: 是否查询网络研讨会（不传默认为不查询）
        example: 'false'
      - name: user_id_type
        in: query
        required: false
        schema:
          type: string
          enum:
[...]
