# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · verification API（全量）
  description: |-
    飞书开放平台 `verification` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:40:11Z'
  x-lark-project: verification
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:40:11Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: verification
paths:
  /open-apis/verification/v1/verification:
    get:
      operationId: verification_verification_get
      summary: 获取认证信息
      tags:
      - verification
      description: 获取认证状态
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/verification-v1/verification/get
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      verification:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 企业主体名称
                            example: 无限未来科技公司
                          has_verification:
                            type: boolean
                            description: 企业是否完成认证； true 表示已经完成认证，false 表示未认证
                        required:
                        - name
                        - has_verification
                        description: 认证信息
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - verification:verification_information:readonly
      x-lark-error-mappings:
      - code: 2010001
        httpCode: 404
        msg: tenant not found
      - code: 2010002
        httpCode: 403
        msg: no permission
      x-lark-rate-limit:
        tier: 1
components:
  schemas: {}
