# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · wiki API（全量）
  description: |-
    飞书开放平台 `wiki` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T03:06:47Z'
  x-lark-project: wiki
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T03:06:47Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: node
- name: space.member
- name: space.node
- name: space.setting
- name: space
- name: task
paths:
  /open-apis/wiki/v1/nodes/search:
    post:
      operationId: wiki_node_search
      summary: 搜索 Wiki
      tags:
      - node
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uEzN0YjLxcDN24SM3QjN/search_wiki
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该page_token 获取查询结果
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: 搜索关键词
                  example: '123'
                space_id:
                  type: string
                  description: 文档所属的知识空间ID，为空搜索所有 wiki
                  example: '6967549310762221587'
                node_id:
                  type: string
                  description: wiki token，不为空搜索该节点及其所有子节点，为空搜索所有 wiki（根据 space_id 选择 space）
                  example: O5UIw9NA8iW308kQQeybWLZqcXc
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            node_id:
                              type: string
                              description: node的唯一标识
                            space_id:
                              type: string
                              description: 所属空间id
                            obj_type:
                              type: integer
                              description: 对应的obj类型
                            title:
                              type: string
                              description: 名称
                            url:
                              type: string
                              description: 路径
                            icon:
                              type: string
                              description: icon
                            obj_token:
                              type: string
                              description: objToken
                            create_time:
                              type: string
                              description: 创建时间
                            update_time:
                              type: string
                              description: 更新时间
                            delete_time:
                              type: string
                              description: 删除时间
                            child_num:
                              type: integer
                              description: 子节点数
                            version:
                              type: integer
                              description: 版本号
                          required:
                          - node_id
                          - space_id
                          - obj_type
                          - title
                          - obj_token
                          - child_num
                          - version
                        description: 搜索到 wiki
                      page_token:
                        type: string
                        description: 翻页 token，传入返回下一页，首页不需要传入
                      has_more:
                        type: boolean
                        description: 是否还有下一页
                    required:
                    - items
                    - has_more
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - search:docs:read
      x-lark-rate-limit:
        tier: 0
      x-lark-pagination: true
  /open-apis/wiki/v2/spaces/{space_id}/members:
    post:
      operationId: wiki_space_member_create
      summary: 添加知识空间成员
      tags:
      - space.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-member/create
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间id
        example: '7008061636015554580'
      - name: need_notification
        in: query
        required: false
        schema:
          type: boolean
        description: 添加权限后是否通知对方
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                member_type:
                  type: string
                  description: 知识库协作者 ID 类型
                  example: openid
                member_id:
                  type: string
                  description: 知识库协作者 ID
                  example: ou_67e5ecb64ce1c0bd94612c17999db411
                member_role:
                  type: string
                  description: 知识库协作者角色
                  example: admin
                member_perm:
                  type: string
                  description: 知识库协作组权限
                  example: admin
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      member:
                        type: object
                        properties:
                          member_type:
                            type: string
                            description: 知识库协作者 ID 类型
                            example: openid
                          member_id:
                            type: string
                            description: 知识库协作者 ID
                            example: ou_67e5ecb64ce1c0bd94612c17999db411
                          member_role:
                            type: string
                            description: 知识库协作者角色
                            example: admin
                          type:
                            type: string
                            description: 知识库协作者类型
                            enum:
                            - user
                            - chat
                            - department
                            x-enum-descriptions:
                              user: 用户
                              chat: 群组
                              department: 组织架构
                            example: user
                          member_perm:
                            type: string
                            description: 知识库协作组权限
                            example: admin
                        required:
                        - member_type
                        - member_id
                        - member_role
                        description: 知识库协作者
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - wiki:wiki
      - wiki:member:create
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131003
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal server error
      - code: 131008
        httpCode: 400
        msg: ''
      - code: 131101
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
    get:
      operationId: wiki_space_member_list
      summary: 获取知识空间成员列表
      tags:
      - space.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-member/list
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间id
        example: '7375263209671884820'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
        example: '1'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: ou_12345
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      members:
                        type: array
                        items:
                          type: object
                          properties:
                            member_type:
                              type: string
                              description: 知识库协作者 ID 类型
                              example: openid
                            member_id:
                              type: string
                              description: 知识库协作者 ID
                              example: ou_67e5ecb64ce1c0bd94612c17999db411
                            member_role:
                              type: string
                              description: 知识库协作者角色
                              example: admin
                            type:
                              type: string
                              description: 知识库协作者类型
                              enum:
                              - user
                              - chat
                              - department
                              x-enum-descriptions:
                                user: 用户
                                chat: 群组
                                department: 组织架构
                              example: user
                            member_perm:
                              type: string
                              description: 知识库协作组权限
                              example: admin
                          required:
                          - member_type
                          - member_id
                          - member_role
                        description: 空间成员列表
                      page_token:
                        type: string
                        description: 分页标记
                        example: ou_12345
                      has_more:
                        type: boolean
                        description: 是否有下一页
                        example: 'false'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - wiki:member:retrieve
      x-lark-error-mappings:
      - code: 131001
        httpCode: 500
        msg: rpc fail
      - code: 131002
        httpCode: 400
        msg: param err
      - code: 131004
        httpCode: 400
        msg: invalid user
      - code: 131005
        httpCode: 400
        msg: not found
      - code: 131006
        httpCode: 400
        msg: permission denied
      - code: 131007
        httpCode: 500
        msg: internal err
      - code: 131101
        httpCode: 400
        msg: invalid operation
      x-lark-rate-limit:
        tier: 3
  /open-apis/wiki/v2/spaces/{space_id}/members/{member_id}:
    delete:
      operationId: wiki_space_member_delete
      summary: 删除知识空间成员
      tags:
      - space.member
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-member/delete
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间id
        example: '7008061636015554580'
      - name: member_id
        in: path
        required: true
        schema:
          type: string
        description: 成员id
        example: g64fb7g7
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                member_type:
                  type: string
                  description: 知识库协作者 ID 类型
                  example: openid
                member_role:
                  type: string
                  description: 知识库协作者角色
                  example: admin
                type:
                  type: string
                  description: 知识库协作者类型
                  enum:
                  - user
                  - chat
                  - department
                  x-enum-descriptions:
                    user: 用户
                    chat: 群组
                    department: 组织架构
                  example: user
                member_perm:
                  type: string
                  description: 知识库协作组权限
                  example: admin
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      member:
                        type: object
                        properties:
                          member_type:
                            type: string
                            description: 知识库协作者 ID 类型
                            example: openid
                          member_id:
                            type: string
                            description: 知识库协作者 ID
                            example: ou_67e5ecb64ce1c0bd94612c17999db411
                          member_role:
                            type: string
                            description: 知识库协作者角色
                            example: admin
                          type:
                            type: string
                            description: 知识库协作者类型
                            enum:
                            - user
                            - chat
                            - department
                            x-enum-descriptions:
                              user: 用户
                              chat: 群组
                              department: 组织架构
                            example: user
                          member_perm:
                            type: string
                            description: 知识库协作组权限
                            example: admin
                        required:
                        - member_type
                        - member_id
                        - member_role
                        description: 成员信息
                    required:
                    - member
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - wiki:wiki
      - wiki:member:update
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal err
      - code: 131101
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/wiki/v2/spaces/{space_id}/nodes/{node_token}/copy:
    post:
      operationId: wiki_space_node_copy
      summary: 创建知识空间节点副本
      tags:
      - space.node
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-node/copy
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间id
        example: '123'
      - name: node_token
        in: path
        required: true
        schema:
          type: string
        description: 节点token
        example: xxx
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                target_parent_token:
                  type: string
                  description: 目标父节点token
                  example: xxx
                target_space_id:
                  type: string
                  description: 目标知识空间id
                  example: '123'
                title:
                  type: string
                  description: 复制后的新标题。如果填空，则新标题为空。如果不填，则使用原节点标题。
                  example: new title
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      node:
                        type: object
                        properties:
                          space_id:
                            type: string
                            description: 知识空间id，[获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                            example: '6946843325487906839'
                            format: int64
                          node_token:
                            type: string
                            description: 节点token，[获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                            example: wikcnKQ1k3p******8Vabcef
                          obj_token:
                            type: string
                            description: 对应文档类型的token，可根据 obj_type 判断属于哪种文档类型。
                            example: doccnzAaO******8g9Spprd
                          obj_type:
                            type: string
                            description: 文档类型，对于快捷方式，该字段是对应的实体的obj_type。
                            enum:
                            - doc
                            - sheet
                            - mindnote
                            - bitable
                            - file
                            - docx
                            - slides
                            x-enum-descriptions:
                              doc: 旧版文档
                              sheet: 表格
                              mindnote: 思维导图
                              bitable: 多维表格
                              file: 文件
                              docx: 新版文档
                              slides: 幻灯片
                            example: doc
                          parent_node_token:
                            type: string
                            description: 父节点 token。若当前节点为一级节点，父节点 token 为空。
                            example: wikcnKQ1k3p******8Vabcef
                          node_type:
                            type: string
                            description: 节点类型
                            enum:
                            - origin
                            - shortcut
                            x-enum-descriptions:
                              origin: 实体
                              shortcut: 快捷方式
                            example: origin
                          origin_node_token:
                            type: string
                            description: 快捷方式对应的实体node_token，当节点为快捷方式时，该值不为空。
                            example: wikcnKQ1k3p******8Vabcef
                          origin_space_id:
                            type: string
                            description: 快捷方式对应的实体所在的spaceid
                            example: '6946843325487912356'
                            format: int64
                          has_child:
                            type: boolean
                            description: 是否有子节点
                            example: 'true'
                          title:
                            type: string
                            description: 文档标题
                            example: xxxx
                          obj_create_time:
                            type: string
                            description: 文档创建时间
                            example: '1642402428'
                            format: int64
                          obj_edit_time:
                            type: string
                            description: 文档最近编辑时间
                            example: '1642402428'
                            format: int64
                          node_create_time:
                            type: string
                            description: 节点创建时间
                            example: '1642402428'
                            format: int64
                          creator:
                            type: string
                            description: 文档创建者
                            example: ou_xxxxx
                          owner:
                            type: string
                            description: 文档所有者
                            example: ou_xxxxx
                          node_creator:
                            type: string
                            description: 节点创建者
                            example: ou_xxxxx
                          url:
                            type: string
                            description: 文档url
                            example: https://xxx/wiki/wikcnKQ1k3p******8Vabcef
                        required:
                        - obj_type
                        - node_type
                        description: copy后的节点
                    required:
                    - node
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - wiki:wiki
      - wiki:node:copy
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131003
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal server error
      - code: 131009
        httpCode: 400
        msg: lock contention, please retry later.
      x-lark-rate-limit:
        tier: 3
  /open-apis/wiki/v2/spaces/{space_id}/nodes:
    post:
      operationId: wiki_space_node_create
      summary: 创建知识空间节点
      tags:
      - space.node
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-node/create
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间id
        example: '6946843325487912356'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                obj_type:
                  type: string
                  description: 文档类型，对于快捷方式，该字段是对应的实体的obj_type。
                  enum:
                  - doc
                  - sheet
                  - mindnote
                  - bitable
                  - file
                  - docx
                  - slides
                  x-enum-descriptions:
                    doc: 旧版文档
                    sheet: 表格
                    mindnote: 思维导图
                    bitable: 多维表格
                    file: 文件
                    docx: 新版文档
                    slides: 幻灯片
                  example: doc
                parent_node_token:
                  type: string
                  description: 父节点 token。若当前节点为一级节点，父节点 token 为空。
                  example: wikcnKQ1k3p******8Vabcef
                node_type:
                  type: string
                  description: 节点类型
                  enum:
                  - origin
                  - shortcut
                  x-enum-descriptions:
                    origin: 实体
                    shortcut: 快捷方式
                  example: origin
                origin_node_token:
                  type: string
                  description: 快捷方式对应的实体node_token，当节点为快捷方式时，该值不为空。
                  example: wikcnKQ1k3p******8Vabcef
                title:
                  type: string
                  description: 文档标题
                  example: xxxx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      node:
                        type: object
                        properties:
                          space_id:
                            type: string
                            description: 知识空间id，[获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                            example: '6946843325487906839'
                            format: int64
                          node_token:
                            type: string
                            description: 节点token，[获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                            example: wikcnKQ1k3p******8Vabcef
                          obj_token:
                            type: string
                            description: 对应文档类型的token，可根据 obj_type 判断属于哪种文档类型。
                            example: doccnzAaO******8g9Spprd
                          obj_type:
                            type: string
                            description: 文档类型，对于快捷方式，该字段是对应的实体的obj_type。
                            enum:
                            - doc
                            - sheet
                            - mindnote
                            - bitable
                            - file
                            - docx
                            - slides
                            x-enum-descriptions:
                              doc: 旧版文档
                              sheet: 表格
                              mindnote: 思维导图
                              bitable: 多维表格
                              file: 文件
                              docx: 新版文档
                              slides: 幻灯片
                            example: doc
                          parent_node_token:
                            type: string
                            description: 父节点 token。若当前节点为一级节点，父节点 token 为空。
                            example: wikcnKQ1k3p******8Vabcef
                          node_type:
                            type: string
                            description: 节点类型
                            enum:
                            - origin
                            - shortcut
                            x-enum-descriptions:
                              origin: 实体
                              shortcut: 快捷方式
                            example: origin
                          origin_node_token:
                            type: string
                            description: 快捷方式对应的实体node_token，当节点为快捷方式时，该值不为空。
                            example: wikcnKQ1k3p******8Vabcef
                          origin_space_id:
                            type: string
                            description: 快捷方式对应的实体所在的spaceid
                            example: '6946843325487912356'
                            format: int64
                          has_child:
                            type: boolean
                            description: 是否有子节点
                            example: 'true'
                          title:
                            type: string
                            description: 文档标题
                            example: xxxx
                          obj_create_time:
                            type: string
                            description: 文档创建时间
                            example: '1642402428'
                            format: int64
                          obj_edit_time:
                            type: string
                            description: 文档最近编辑时间
                            example: '1642402428'
                            format: int64
                          node_create_time:
                            type: string
                            description: 节点创建时间
                            example: '1642402428'
                            format: int64
                          creator:
                            type: string
                            description: 文档创建者
                            example: ou_xxxxx
                          owner:
                            type: string
                            description: 文档所有者
                            example: ou_xxxxx
                          node_creator:
                            type: string
                            description: 节点创建者
                            example: ou_xxxxx
                          url:
                            type: string
                            description: 文档url
                            example: https://xxx/wiki/wikcnKQ1k3p******8Vabcef
                        required:
                        - obj_type
                        - node_type
                        description: 节点
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - wiki:wiki
      - wiki:node:create
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131003
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal server error
      - code: 131009
        httpCode: 400
        msg: lock contention, please retry later.
      - code: 131010
        httpCode: 400
        msg: doc type is deprecaed, please use docx.
      x-lark-rate-limit:
        tier: 3
    get:
      operationId: wiki_space_node_list
      summary: 获取知识空间子节点列表
      tags:
      - space.node
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-node/list
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间id
        example: '7008061636015512345'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        description: 分页大小
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
      - name: parent_node_token
        in: query
        required: false
        schema:
          type: string
        description: 父节点token
        example: wikcnKQ1k3p******8Vabce
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            space_id:
                              type: string
                              description: 知识空间id，[获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                              example: '6946843325487906839'
                              format: int64
                            node_token:
                              type: string
                              description: 节点token，[获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                              example: wikcnKQ1k3p******8Vabcef
                            obj_token:
                              type: string
                              description: 对应文档类型的token，可根据 obj_type 判断属于哪种文档类型。
                              example: doccnzAaO******8g9Spprd
                            obj_type:
                              type: string
                              description: 文档类型，对于快捷方式，该字段是对应的实体的obj_type。
                              enum:
                              - doc
                              - sheet
                              - mindnote
                              - bitable
                              - file
                              - docx
                              - slides
                              x-enum-descriptions:
                                doc: 旧版文档
                                sheet: 表格
                                mindnote: 思维导图
                                bitable: 多维表格
                                file: 文件
                                docx: 新版文档
                                slides: 幻灯片
                              example: doc
                            parent_node_token:
                              type: string
                              description: 父节点 token。若当前节点为一级节点，父节点 token 为空。
                              example: wikcnKQ1k3p******8Vabcef
                            node_type:
                              type: string
                              description: 节点类型
                              enum:
                              - origin
                              - shortcut
                              x-enum-descriptions:
                                origin: 实体
                                shortcut: 快捷方式
                              example: origin
                            origin_node_token:
                              type: string
                              description: 快捷方式对应的实体node_token，当节点为快捷方式时，该值不为空。
                              example: wikcnKQ1k3p******8Vabcef
                            origin_space_id:
                              type: string
                              description: 快捷方式对应的实体所在的spaceid
                              example: '6946843325487912356'
                              format: int64
                            has_child:
                              type: boolean
                              description: 是否有子节点
                              example: 'true'
                            title:
                              type: string
                              description: 文档标题
                              example: xxxx
                            obj_create_time:
                              type: string
                              description: 文档创建时间
                              example: '1642402428'
                              format: int64
                            obj_edit_time:
                              type: string
                              description: 文档最近编辑时间
                              example: '1642402428'
                              format: int64
                            node_create_time:
                              type: string
                              description: 节点创建时间
                              example: '1642402428'
                              format: int64
                            creator:
                              type: string
                              description: 文档创建者
                              example: ou_xxxxx
                            owner:
                              type: string
                              description: 文档所有者
                              example: ou_xxxxx
                            node_creator:
                              type: string
                              description: 节点创建者
                              example: ou_xxxxx
                            url:
                              type: string
                              description: 文档url
                              example: https://xxx/wiki/wikcnKQ1k3p******8Vabcef
                          required:
                          - obj_type
                          - node_type
                        description: 知识空间节点信息
                      page_token:
                        type: string
                        description: 分页Token
                      has_more:
                        type: boolean
                        description: 是否还有数据
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - wiki:node:retrieve
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal server error
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
  /open-apis/wiki/v2/spaces/{space_id}/nodes/{node_token}/move:
    post:
      operationId: wiki_space_node_move
      summary: 移动知识空间节点
      tags:
      - space.node
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-node/move
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间id
        example: '7008061636015554580'
      - name: node_token
        in: path
        required: true
        schema:
          type: string
        description: 需要迁移的节点token
        example: wikbcd6ydSUyOEzbdlt1BfpA5Yc
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                target_parent_token:
                  type: string
                  description: 移动到的父节点token
                  example: wikbcd6ydSUyOEzbdlt1BfpA5Yc
                target_space_id:
                  type: string
                  description: 移动到的知识空间ID
                  example: '7008061636015512345'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      node:
                        type: object
                        properties:
                          space_id:
                            type: string
                            description: 知识空间id，[获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                            example: '6946843325487906839'
                            format: int64
                          node_token:
                            type: string
                            description: 节点token，[获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                            example: wikcnKQ1k3p******8Vabcef
                          obj_token:
                            type: string
                            description: 对应文档类型的token，可根据 obj_type 判断属于哪种文档类型。
                            example: doccnzAaO******8g9Spprd
                          obj_type:
                            type: string
                            description: 文档类型，对于快捷方式，该字段是对应的实体的obj_type。
                            enum:
                            - doc
                            - sheet
                            - mindnote
                            - bitable
                            - file
                            - docx
                            - slides
                            x-enum-descriptions:
                              doc: 旧版文档
                              sheet: 表格
                              mindnote: 思维导图
                              bitable: 多维表格
                              file: 文件
                              docx: 新版文档
                              slides: 幻灯片
                            example: doc
                          parent_node_token:
                            type: string
                            description: 父节点 token。若当前节点为一级节点，父节点 token 为空。
                            example: wikcnKQ1k3p******8Vabcef
                          node_type:
                            type: string
                            description: 节点类型
                            enum:
                            - origin
                            - shortcut
                            x-enum-descriptions:
                              origin: 实体
                              shortcut: 快捷方式
                            example: origin
                          origin_node_token:
                            type: string
                            description: 快捷方式对应的实体node_token，当节点为快捷方式时，该值不为空。
                            example: wikcnKQ1k3p******8Vabcef
                          origin_space_id:
                            type: string
                            description: 快捷方式对应的实体所在的spaceid
                            example: '6946843325487912356'
                            format: int64
                          has_child:
                            type: boolean
                            description: 是否有子节点
                            example: 'true'
                          title:
                            type: string
                            description: 文档标题
                            example: xxxx
                          obj_create_time:
                            type: string
                            description: 文档创建时间
                            example: '1642402428'
                            format: int64
                          obj_edit_time:
                            type: string
                            description: 文档最近编辑时间
                            example: '1642402428'
                            format: int64
                          node_create_time:
                            type: string
                            description: 节点创建时间
                            example: '1642402428'
                            format: int64
                          creator:
                            type: string
                            description: 文档创建者
                            example: ou_xxxxx
                          owner:
                            type: string
                            description: 文档所有者
                            example: ou_xxxxx
                          node_creator:
                            type: string
                            description: 节点创建者
                            example: ou_xxxxx
                          url:
                            type: string
                            description: 文档url
                            example: https://xxx/wiki/wikcnKQ1k3p******8Vabcef
                        required:
                        - obj_type
                        - node_type
                        description: 移动后的节点信息
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - wiki:node:move
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131003
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal server error
      x-lark-rate-limit:
        tier: 3
  /open-apis/wiki/v2/spaces/{space_id}/nodes/move_docs_to_wiki:
    post:
      operationId: wiki_space_node_move_docs_to_wiki
      summary: 移动云空间文档至知识空间
      tags:
      - space.node
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-node/move_docs_to_wiki
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识库id
        example: '6946843325487912356'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_wiki_token:
                  type: string
                  description: 节点的父亲token
                  example: wikbcd6y******zbdlt1BfpA5Yc
                obj_type:
                  type: string
                  description: 文档类型
                  enum:
                  - doc
                  - sheet
                  - bitable
                  - mindnote
                  - docx
                  - file
                  - slides
                  x-enum-descriptions:
                    doc: doc（文档）
                    sheet: sheet（表格）
                    bitable: bitable（多维表格）
                    mindnote: mindnote（思维导图）
                    docx: docx
                    file: file (文件)
                    slides: slides（幻灯片）
                  example: doc
                obj_token:
                  type: string
                  description: 文档token
                  example: doccnzAaOD******Wabcdef
                apply:
                  type: boolean
                  description: 没有权限时，是否申请迁入文档
                  example: 'true'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      wiki_token:
                        type: string
                        description: 移动后的知识库token
                        example: wikcnKQ1k3p******8Vabcef
                      task_id:
                        type: string
                        description: 任务id
                        example: 7037044037068177428-075c9481e6a0007c1df689dfbe5b55a08b6b06f7
                      applied:
                        type: boolean
                        description: 是否提交了文档迁入申请
                        example: 'true'
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - wiki:wiki
      - wiki:node:move
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131003
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal server error
      x-lark-rate-limit:
        tier: 3
  /open-apis/wiki/v2/spaces/{space_id}/nodes/{node_token}/update_title:
    post:
      operationId: wiki_space_node_update_title
      summary: 更新知识空间节点标题
      tags:
      - space.node
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-node/update_title
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间ID
        example: '123'
      - name: node_token
        in: path
        required: true
        schema:
          type: string
        description: 节点token
        example: xxx
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 节点新标题
                  example: new title
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - wiki:wiki
      - wiki:node:update
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal server error
      x-lark-rate-limit:
        tier: 3
  /open-apis/wiki/v2/spaces/{space_id}/setting:
    put:
      operationId: wiki_space_setting_update
      summary: 更新知识空间设置
      tags:
      - space.setting
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space-setting/update
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间id
        example: '123'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                create_setting:
                  type: string
                  description: 谁可以创建空间的一级页面： "admin_and_member" = 管理员和成员 "admin"  - 仅管理员
                  example: admin
                security_setting:
                  type: string
                  description: 可阅读用户可否创建副本/打印/导出/复制： "allow" - 允许 "not_allow" - 不允许
                  example: allow
                comment_setting:
                  type: string
                  description: 可阅读用户可否评论： "allow" - 允许 "not_allow" - 不允许
                  example: allow
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      setting:
                        type: object
                        properties:
                          create_setting:
                            type: string
                            description: 谁可以创建空间的一级页面： "admin_and_member" = 管理员和成员 "admin"  - 仅管理员
                            example: admin
                          security_setting:
                            type: string
                            description: 可阅读用户可否创建副本/打印/导出/复制： "allow" - 允许 "not_allow" - 不允许
                            example: allow
                          comment_setting:
                            type: string
                            description: 可阅读用户可否评论： "allow" - 允许 "not_allow" - 不允许
                            example: allow
                        description: 空间设置
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - wiki:wiki
      - wiki:setting:write_only
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal server error
      - code: 131101
        httpCode: 400
        msg: ''
      x-lark-rate-limit:
        tier: 3
  /open-apis/wiki/v2/spaces:
    post:
      operationId: wiki_space_create
      summary: 创建知识空间
      tags:
      - space
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space/create
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 知识空间名称
                  example: 测试知识库
                description:
                  type: string
                  description: 知识空间描述
                  example: 测试知识库
                open_sharing:
                  type: string
                  description: 表示知识空间的分享状态
                  enum:
                  - open
                  - closed
                  x-enum-descriptions:
                    open: 打开
                    closed: 关闭
                  example: open
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      space:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 知识空间名称
                            example: 测试知识库
                          description:
                            type: string
                            description: 知识空间描述
                            example: 测试知识库
                          space_id:
                            type: string
                            description: 知识空间id
                            example: '6946843325487456878'
                          space_type:
                            type: string
                            description: 表示知识空间类型（团队空间 或 个人空间 或 我的文档库）
                            enum:
                            - team
                            - person
                            - my_library
                            - my_library_resigned
                            x-enum-descriptions:
                              team: 团队空间
                              person: 个人空间
                              my_library: 我的文档库
                              my_library_resigned: 离职文档库
                            example: team
                          visibility:
                            type: string
                            description: 表示知识空间可见性（公开空间 或 私有空间）
                            enum:
                            - public
                            - private
                            x-enum-descriptions:
                              public: 公开空间
                              private: 私有空间
                            example: private
                          open_sharing:
                            type: string
                            description: 表示知识空间的分享状态
                            enum:
                            - open
                            - closed
                            x-enum-descriptions:
                              open: 打开
                              closed: 关闭
                            example: open
                        description: 知识空间信息
      x-lark-access-tokens:
      - user
      x-lark-scopes:
      - wiki:wiki
      - wiki:space:write_only
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131003
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal err
      x-lark-rate-limit:
        tier: 1
    get:
      operationId: wiki_space_list
      summary: 获取知识空间列表
      tags:
      - space
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space/list
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: 分页大小
        example: '10'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该 page_token 获取查询结果
        example: 1697621551||0
      - name: space_type
        in: query
        required: false
        schema:
          type: string
        description: 空间类型，不填时默认返回团队空间和个人空间列表；传入 my_library_resigned 返回离职文档库列表
        example: my_library_resigned
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 知识空间名称
                              example: 测试知识库
                            description:
                              type: string
                              description: 知识空间描述
                              example: 测试知识库
                            space_id:
                              type: string
                              description: 知识空间id
                              example: '6946843325487456878'
                            space_type:
                              type: string
                              description: 表示知识空间类型（团队空间 或 个人空间 或 我的文档库）
                              enum:
                              - team
                              - person
                              - my_library
                              - my_library_resigned
                              x-enum-descriptions:
                                team: 团队空间
                                person: 个人空间
                                my_library: 我的文档库
                                my_library_resigned: 离职文档库
                              example: team
                            visibility:
                              type: string
                              description: 表示知识空间可见性（公开空间 或 私有空间）
                              enum:
                              - public
                              - private
                              x-enum-descriptions:
                                public: 公开空间
                                private: 私有空间
                              example: private
                            open_sharing:
                              type: string
                              description: 表示知识空间的分享状态
                              enum:
                              - open
                              - closed
                              x-enum-descriptions:
                                open: 打开
                                closed: 关闭
                              example: open
                        description: 知识空间列表
                      page_token:
                        type: string
                        description: 分页标记，当 has_more 为 true 时，会同时返回新的 page_token，否则不返回 page_token
                        example: '1565676577122621'
                      has_more:
                        type: boolean
                        description: 是否还有更多项
                        example: 'true'
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - wiki:space:retrieve
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal server error
      x-lark-rate-limit:
        tier: 3
      x-lark-pagination: true
  /open-apis/wiki/v2/spaces/{space_id}:
    get:
      operationId: wiki_space_get
      summary: 获取知识空间信息
      tags:
      - space
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space/get
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: string
        description: 知识空间id
        example: '6870403571079249922'
      - name: lang
        in: query
        required: false
        schema:
          type: string
          enum:
          - zh
          - id
          - de
          - en
          - es
          - fr
          - it
          - pt
          - vi
          - ru
          - hi
          - th
          - ko
          - ja
          - zh-HK
          - zh-TW
          x-enum-descriptions:
            zh: 简体中文
            id: 印尼语
            de: 德语
            en: 英语
            es: 西班牙语
            fr: 法语
            it: 意大利语
            pt: 葡萄牙语
            vi: 越南语
            ru: 俄语
            hi: 印地语
            th: 泰语
            ko: 韩语
            ja: 日语
            zh-HK: 繁体中文（中国香港）
            zh-TW: 繁体中文（中国台湾）
          default: en
        description: 当查询个人文档库时，指定返回的文档库名称展示语言。可选值有：zh, id, de, en, es, fr, it, pt, vi, ru, hi, th, ko, ja, zh-HK, zh-TW。
        example: zh
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      space:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 知识空间名称
                            example: 测试知识库
                          description:
                            type: string
                            description: 知识空间描述
                            example: 测试知识库
                          space_id:
                            type: string
                            description: 知识空间id
                            example: '6946843325487456878'
                          space_type:
                            type: string
                            description: 表示知识空间类型（团队空间 或 个人空间 或 我的文档库）
                            enum:
                            - team
                            - person
                            - my_library
                            - my_library_resigned
                            x-enum-descriptions:
                              team: 团队空间
                              person: 个人空间
                              my_library: 我的文档库
                              my_library_resigned: 离职文档库
                            example: team
                          visibility:
                            type: string
                            description: 表示知识空间可见性（公开空间 或 私有空间）
                            enum:
                            - public
                            - private
                            x-enum-descriptions:
                              public: 公开空间
                              private: 私有空间
                            example: private
                          open_sharing:
                            type: string
                            description: 表示知识空间的分享状态
                            enum:
                            - open
                            - closed
                            x-enum-descriptions:
                              open: 打开
                              closed: 关闭
                            example: open
                        description: 知识空间
      x-lark-access-tokens:
      - user
      - tenant
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - wiki:space:read
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal err
      x-lark-rate-limit:
        tier: 3
  /open-apis/wiki/v2/spaces/get_node:
    get:
      operationId: wiki_space_get_node
      summary: 获取知识空间节点信息
      tags:
      - space
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/space/get_node
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
        description: 文档的wiki token
        example: wikcnKQ1k3p******8Vabcef
      - name: obj_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - doc
          - docx
          - sheet
          - mindnote
          - bitable
          - file
          - slides
          - wiki
          x-enum-descriptions:
            doc: 旧版文档
            docx: 新版文档
            sheet: 表格
            mindnote: 思维导图
            bitable: 多维表格
            file: 文件
            slides: 幻灯片
            wiki: 知识库节点
          default: wiki
        description: 文档类型
        example: docx
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      node:
                        type: object
                        properties:
                          space_id:
                            type: string
                            description: 知识空间id，[获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                            example: '6946843325487906839'
                            format: int64
                          node_token:
                            type: string
                            description: 节点token，[获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                            example: wikcnKQ1k3p******8Vabcef
                          obj_token:
                            type: string
                            description: 对应文档类型的token，可根据 obj_type 判断属于哪种文档类型。
                            example: doccnzAaO******8g9Spprd
                          obj_type:
                            type: string
                            description: 文档类型，对于快捷方式，该字段是对应的实体的obj_type。
                            enum:
                            - doc
                            - sheet
                            - mindnote
                            - bitable
                            - file
                            - docx
                            - slides
                            x-enum-descriptions:
                              doc: 旧版文档
                              sheet: 表格
                              mindnote: 思维导图
                              bitable: 多维表格
                              file: 文件
                              docx: 新版文档
                              slides: 幻灯片
                            example: doc
                          parent_node_token:
                            type: string
                            description: 父节点 token。若当前节点为一级节点，父节点 token 为空。
                            example: wikcnKQ1k3p******8Vabcef
                          node_type:
                            type: string
                            description: 节点类型
                            enum:
                            - origin
                            - shortcut
                            x-enum-descriptions:
                              origin: 实体
                              shortcut: 快捷方式
                            example: origin
                          origin_node_token:
                            type: string
                            description: 快捷方式对应的实体node_token，当节点为快捷方式时，该值不为空。
                            example: wikcnKQ1k3p******8Vabcef
                          origin_space_id:
                            type: string
                            description: 快捷方式对应的实体所在的spaceid
                            example: '6946843325487912356'
                            format: int64
                          has_child:
                            type: boolean
                            description: 是否有子节点
                            example: 'true'
                          title:
                            type: string
                            description: 文档标题
                            example: xxxx
                          obj_create_time:
                            type: string
                            description: 文档创建时间
                            example: '1642402428'
                            format: int64
                          obj_edit_time:
                            type: string
                            description: 文档最近编辑时间
                            example: '1642402428'
                            format: int64
                          node_create_time:
                            type: string
                            description: 节点创建时间
                            example: '1642402428'
                            format: int64
                          creator:
                            type: string
                            description: 文档创建者
                            example: ou_xxxxx
                          owner:
                            type: string
                            description: 文档所有者
                            example: ou_xxxxx
                          node_creator:
                            type: string
                            description: 节点创建者
                            example: ou_xxxxx
                          url:
                            type: string
                            description: 文档url
                            example: https://xxx/wiki/wikcnKQ1k3p******8Vabcef
                        required:
                        - obj_type
                        - node_type
                        description: 节点信息
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - wiki:node:read
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal server error
      x-lark-rate-limit:
        tier: 3
  /open-apis/wiki/v2/tasks/{task_id}:
    get:
      operationId: wiki_task_get
      summary: 获取任务结果
      tags:
      - task
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-v2/task/get
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 任务id
        example: 7037044037068177428-075c9481e6a0007c1df689dfbe5b55a08b6b06f7
      - name: task_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - move
          - delete_space
          - delete_node
          - move_wiki_to_docs
          x-enum-descriptions:
            move: MoveDocsToWiki任务
            delete_space: 删除知识空间任务
            delete_node: 删除知识库节点
            move_wiki_to_docs: 移动知识库节点至云空间任务
        description: 任务类型
        example: move
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      task:
                        type: object
                        properties:
                          task_id:
                            type: string
                            description: 任务id
                            example: 7037044037068177428-075c9481e6a0007c1df689dfbe5b55a08b6b06f7
                          move_result:
                            type: array
                            items:
                              type: object
                              properties:
                                node:
                                  type: object
                                  properties:
                                    space_id:
                                      type: string
                                      description: 知识空间id，[获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                                      example: '6946843325487906839'
                                      format: int64
                                    node_token:
                                      type: string
                                      description: 节点token，[获取方式](https://open.feishu.cn/document/ukTMukTMukTM/uUDN04SN0QjL1QDN/wiki-overview)
                                      example: wikcnKQ1k3p******8Vabcef
                                    obj_token:
                                      type: string
                                      description: 对应文档类型的token，可根据 obj_type 判断属于哪种文档类型。
                                      example: doccnzAaO******8g9Spprd
                                    obj_type:
                                      type: string
                                      description: 文档类型，对于快捷方式，该字段是对应的实体的obj_type。
                                      enum:
                                      - doc
                                      - sheet
                                      - mindnote
                                      - bitable
                                      - file
                                      - docx
                                      - slides
                                      x-enum-descriptions:
                                        doc: 旧版文档
                                        sheet: 表格
                                        mindnote: 思维导图
                                        bitable: 多维表格
                                        file: 文件
                                        docx: 新版文档
                                        slides: 幻灯片
                                      example: doc
                                    parent_node_token:
                                      type: string
                                      description: 父节点 token。若当前节点为一级节点，父节点 token 为空。
                                      example: wikcnKQ1k3p******8Vabcef
                                    node_type:
                                      type: string
                                      description: 节点类型
                                      enum:
                                      - origin
                                      - shortcut
                                      x-enum-descriptions:
                                        origin: 实体
                                        shortcut: 快捷方式
                                      example: origin
                                    origin_node_token:
                                      type: string
                                      description: 快捷方式对应的实体node_token，当节点为快捷方式时，该值不为空。
                                      example: wikcnKQ1k3p******8Vabcef
                                    origin_space_id:
                                      type: string
                                      description: 快捷方式对应的实体所在的spaceid
                                      example: '6946843325487912356'
                                      format: int64
                                    has_child:
                                      type: boolean
                                      description: 是否有子节点
                                      example: 'true'
                                    title:
                                      type: string
                                      description: 文档标题
                                      example: xxxx
                                    obj_create_time:
                                      type: string
                                      description: 文档创建时间
                                      example: '1642402428'
                                      format: int64
                                    obj_edit_time:
                                      type: string
                                      description: 文档最近编辑时间
                                      example: '1642402428'
                                      format: int64
                                    node_create_time:
                                      type: string
                                      description: 节点创建时间
                                      example: '1642402428'
                                      format: int64
                                    creator:
                                      type: string
                                      description: 文档创建者
                                      example: ou_xxxxx
                                    owner:
                                      type: string
                                      description: 文档所有者
                                      example: ou_xxxxx
                                    node_creator:
                                      type: string
                                      description: 节点创建者
                                      example: ou_xxxxx
                                    url:
                                      type: string
                                      description: 文档url
                                      example: https://xxx/wiki/wikcnKQ1k3p******8Vabcef
                                  required:
                                  - obj_type
                                  - node_type
                                  description: 移动完成的节点信息
                                status:
                                  type: integer
                                  description: 节点移动状态码
                                  example: 0：已完成，1：正在进行，-1：失败
                                status_msg:
                                  type: string
                                  description: 节点移动状态信息
                                  example: success
                              required:
                              - node
                              - status
                              - status_msg
                            description: MoveDocsToWiki任务结果
                          delete_space_result:
                            type: object
                            properties:
                              status:
                                type: string
                                description: 任务执行状态
                          simple_task_result:
                            type: object
                            properties:
                              status:
                                type: string
                                description: '任务执行状态，可选值："processing": 处理中；"success": 执行成功；"failed": 执行失败'
                          move_wiki_to_docs_result:
                            type: object
                            properties:
                              status:
                                type: integer
                                description: 任务执行状态
                                example: '0'
                              status_msg:
                                type: string
                                description: 任务执行状态说明
                                example: success
                              obj_token:
                                type: string
                                description: 移动完成后的云空间文档 token
                                example: doccnzAaO******8g9Spprd
                              obj_type:
                                type: string
                                description: 移动完成后的云空间文档类型
                                example: doc
                              url:
                                type: string
                                description: 移动完成后的云空间文档访问链接
                                example: https://xxx/wiki/wikcnKQ1k3p******8Vabcef
                            description: MoveWikiToDocs任务结果
                        required:
                        - task_id
                        description: 任务结果
                    required:
                    - task
      x-lark-access-tokens:
      - tenant
      - user
      x-lark-scopes:
      - wiki:wiki
      - wiki:wiki:readonly
      - wiki:space:read
      x-lark-error-mappings:
      - code: 131001
        httpCode: 400
        msg: ''
      - code: 131002
        httpCode: 400
        msg: ''
      - code: 131004
        httpCode: 400
        msg: ''
      - code: 131005
        httpCode: 400
        msg: ''
      - code: 131006
        httpCode: 400
        msg: ''
      - code: 131007
        httpCode: 400
        msg: internal server error
      x-lark-rate-limit:
        tier: 3
