# Generated by lark-openapi-spec (full track) — DO NOT EDIT BY HAND.
# Source: official API Explorer (open.feishu.cn/api-explorer, endpoint /api_explorer/v1)
openapi: 3.0.3
info:
  title: 飞书开放平台 · workplace API（全量）
  description: |-
    飞书开放平台 `workplace` 项目的全部服务端接口。

    ---

    本文档由 [lark-openapi-spec](https://github.com/dayongxie/lark-openapi-spec) 项目从飞书官方 API Explorer 数据自动生成，非官方发布物。权威说明以[飞书开放平台](https://open.feishu.cn/document)为准。
  version: '2026-07-19T04:09:08Z'
  x-lark-project: workplace
  x-lark-track: full (official API Explorer)
  x-lark-generated-at: '2026-07-19T04:09:08Z'
  x-generator: lark-openapi-spec tools/build_openapi_full.py
servers:
- url: https://open.feishu.cn
  description: 飞书（中国大陆）
- url: https://open.larksuite.com
  description: Lark（国际版）
tags:
- name: custom_workplace_access_data
- name: workplace_access_data
- name: workplace_block_access_data
paths:
  /open-apis/workplace/v1/custom_workplace_access_data/search:
    post:
      operationId: workplace_custom_workplace_access_data_search
      summary: 获取定制工作台访问数据
      tags:
      - custom_workplace_access_data
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/workplace-v1/custom_workplace_access_data/search
      parameters:
      - name: from_date
        in: query
        required: true
        schema:
          type: string
        description: 数据检索开始时间，精确到日。格式yyyy-MM-dd
        example: '2023-03-01'
      - name: to_date
        in: query
        required: true
        schema:
          type: string
        description: 数据检索结束时间，精确到日。格式yyyy-MM-dd。
        example: '2023-03-22'
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
          default: 20
        description: 分页大小，最小为 1，最大为 200，默认为 20。
        example: '20'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 用于标记当前请求的分页标记，将返回以当前分页标记开始，往后 page_size 个元素。第一次访问接口的时候不需要传。
        example: ddowkdkl9w2d
      - name: custom_workplace_id
        in: query
        required: false
        schema:
          type: string
        description: 定制化工作台id.非必填,不填的时候,返回所有定制化工作台数据。
        example: tpl_647184b585400013254c4ea6
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            custom_workplace_id:
                              type: string
                              description: 定制工作台ID
                              example: tpl_645b003aaa40001435b2ddw
                            access_data:
                              type: object
                              properties:
                                pv:
                                  type: integer
                                  description: 访问次数
                                  example: '100'
                                uv:
                                  type: integer
                                  description: 访问用户数(去重)
                                  example: '30'
                              description: 访问数据
                            date:
                              type: string
                              description: 时间,精确到天,格式yyyy-MM-dd
                              example: '2023-03-12'
                            custom_workplace_name:
                              type: array
                              items:
                                type: object
                                properties:
                                  language:
                                    type: string
                                    description: ISO 639-1的语言代码。比如zh表示中文。
                                    example: zh
                                  name:
                                    type: string
                                    description: 名字
                                    example: 名字
                              description: 定制工作台多语言名字。
                        description: 定制工作台访问数据
                      has_more:
                        type: boolean
                        description: 是否还有下一页数据
                        default: false
                        example: 'true'
                      page_token:
                        type: string
                        description: 分页标记，存在下一页时返回
                        example: ddowkdkl9w2d
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - workplace:workplace_using_data:read
      x-lark-error-mappings:
      - code: 1621001
        httpCode: 400
        msg: invalid  time format
      - code: 1621002
        httpCode: 400
        msg: from_date can't be greater than to_date
      - code: 1621003
        httpCode: 400
        msg: internal service error
      - code: 1621004
        httpCode: 400
        msg: invalid page_token
      x-lark-rate-limit:
        tier: 8
  /open-apis/workplace/v1/workplace_access_data/search:
    post:
      operationId: workplace_workplace_access_data_search
      summary: 获取工作台访问数据
      tags:
      - workplace_access_data
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/workplace-v1/workplace_access_data/search
      parameters:
      - name: from_date
        in: query
        required: true
        schema:
          type: string
        description: 数据检索开始时间，精确到日。格式yyyy-MM-dd
        example: '2023-03-01'
      - name: to_date
        in: query
        required: true
        schema:
          type: string
        description: 数据检索结束时间，精确到日。格式yyyy-MM-dd。
        example: '2023-03-22'
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
          default: 20
        description: 分页大小，最小为 1，最大为 200，默认为 20。
        example: '20'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 用于标记当前请求的分页标记，将返回以当前分页标记开始，往后 page_size 个元素。第一次访问接口的时候不需要传。
        example: ddowkdkl9w2d
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              description: 时间,精确到天,格式yyyy-MM-dd
                              example: '2023-03-12'
                            all_workplace:
                              type: object
                              properties:
                                pv:
                                  type: integer
                                  description: 访问次数
                                  example: '100'
                                uv:
                                  type: integer
                                  description: 访问用户数(去重)
                                  example: '30'
                              description: 全部工作台的访问数据
                              example: '20'
                            default_workplace:
                              type: object
                              properties:
                                pv:
                                  type: integer
                                  description: 访问次数
                                  example: '100'
                                uv:
                                  type: integer
                                  description: 访问用户数(去重)
                                  example: '30'
                              description: 默认工作台的访问数据
                              example: '10'
                        description: 工作台访问数据
                      has_more:
                        type: boolean
                        description: 是否还有下一页数据
                        default: false
                        example: 'true'
                      page_token:
                        type: string
                        description: 分页标记，存在下一页时返回。
                        example: ddowkdkl9w2d
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - workplace:workplace_using_data:read
      x-lark-error-mappings:
      - code: 1628001
        httpCode: 400
        msg: invalid  time format
      - code: 1628002
        httpCode: 400
        msg: from_date can't be greater than to_date
      - code: 1628003
        httpCode: 400
        msg: internal service error
      - code: 1628004
        httpCode: 400
        msg: invalid page_token
      x-lark-rate-limit:
        tier: 8
  /open-apis/workplace/v1/workplace_block_access_data/search:
    post:
      operationId: workplace_workplace_block_access_data_search
      summary: 获取定制工作台小组件访问数据
      tags:
      - workplace_block_access_data
      externalDocs:
        description: 飞书开放平台官方文档
        url: https://open.feishu.cn/document/uAjLw4CM/ukTMukTMukTM/workplace-v1/workplace_block_access_data/search
      parameters:
      - name: from_date
        in: query
        required: true
        schema:
          type: string
        description: 数据检索开始时间，精确到日。格式yyyy-MM-dd。
        example: '2023-02-01'
      - name: to_date
        in: query
        required: true
        schema:
          type: string
        description: 数据检索结束时间，精确到日。格式yyyy-MM-dd。
        example: '2023-03-02'
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
          default: 20
        description: 分页大小，最小为 1，最大为 200，默认为 20。
        example: '20'
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: 用于标记当前请求的分页标记，将返回以当前分页标记开始，往后 page_size 个元素。第一次访问接口的时候不需要传。
        example: ddowkdkl9w2d
      - name: block_id
        in: query
        required: false
        schema:
          type: string
        description: 小组件id
        example: '283438293839422334'
      responses:
        '200':
          description: 调用成功（业务错误通过 code 字段表达；常见错误码见 x-lark-error-mappings）
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              description: 时间,精确到天,格式yyyy-MM-dd
                              example: '2023-03-12'
                            block_id:
                              type: string
                              description: 小组件id
                              example: '283438293839422334'
                            access_data:
                              type: object
                              properties:
                                pv:
                                  type: integer
                                  description: 访问次数
                                  example: '100'
                                uv:
                                  type: integer
                                  description: 访问用户数(去重)
                                  example: '30'
                              description: block访问数据信息。
                        description: 工作台中block的访问数据
                      has_more:
                        type: boolean
                        description: 是否还有下一页数据
                        default: false
                        example: 'true'
                      page_token:
                        type: string
                        description: 分页标记，存在下一页时返回
                        example: ddowkdkl9w2d
      x-lark-access-tokens:
      - tenant
      x-lark-scopes:
      - workplace:workplace_using_data:read
      x-lark-error-mappings:
      - code: 1629001
        httpCode: 400
        msg: invalid  time format
      - code: 1629002
        httpCode: 400
        msg: from_date can't be greater than to_date
      - code: 1629005
        httpCode: 400
        msg: invalid page_token
      - code: 1629006
        httpCode: 400
        msg: invalid page_size
      - code: 1629004
        httpCode: 400
        msg: internal service error
      x-lark-rate-limit:
        tier: 8
components:
  schemas: {}
